Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[libc] Make File::FileLock public in File data structure (#221005)
  libc/src/__support/File/file.h
  libc/src/__support/File/linux/file.cpp
  libc/src/pwd/flat_file_db.h
  libc/src/stdio/generic/fgets.cpp
  libc/src/stdio/generic/perror.cpp
  libc/src/stdio/generic/puts.cpp
  libc/src/wchar/fgetws.cpp
  libc/test/src/__support/File/file_test.cpp
Labels: none

Increment using difference_type
  libcxx/include/__iterator/static_packed_bounded_iter.h
Labels: none

[X86] Prefer AVX512 VPCMP against zero over splat(1) for sle/slt (#216716)
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/avx512-broadcast-unfold.ll
  llvm/test/CodeGen/X86/avx512-icmp-sle-zero.ll
  llvm/test/CodeGen/X86/cmp-select-sign.ll
  llvm/test/CodeGen/X86/combine-icmp.ll
  llvm/test/CodeGen/X86/vector-pcmp.ll
Labels: none

remove duplication after rebase
  clang/lib/CodeGen/TargetBuiltins/NVPTX.cpp
Labels: none

__ptr -> __ptr_
  libcxx/include/__iterator/static_packed_bounded_iter.h
Labels: none

address comments, move to syscall_checked, reset errno in test
  libc/src/__support/OSUtil/linux/syscall_wrappers/chroot.h
  libc/test/src/unistd/chroot_test.cpp
Labels: none

[libc][BigInt] name the unroll word limit
  libc/src/__support/big_int.h
Labels: none

[lldb][test] Rerun API tests that hit a known flaky failure
  lldb/test/API/lit.cfg.py
  lldb/test/API/lldbtest.py
  lldb/test/Shell/helper/toolchain.py
  lldb/test/Shell/lit.cfg.py
  lldb/test/lldbflakes.py
Labels: python

[llvm-exegesis] Use %t.o instead of a literal %d in a RISC-V test (#220971)
  llvm/test/tools/llvm-exegesis/RISCV/set-reg-init-check.s
Labels: none

Revert "[OpenMP][Flang] Add integer-kind wrappers to omp_lib (#213505)" (#221003)
  flang-rt/lib/runtime/CMakeLists.txt
  flang/test/Lower/OpenMP/omp-lib-integer-wrappers.f90
  flang/test/Lower/OpenMP/omp-lib-num-threads.f90
  llvm/runtimes/CMakeLists.txt
  openmp/module/CMakeLists.txt
  openmp/module/omp_lib.F90.var
  openmp/module/omp_lib_impl.F90.var
  openmp/runtime/cmake/LibompExports.cmake
Labels: openmp

Add newlines inside header file
  clang/include/clang/CodeGenUtils/CodeGenUtils.h
Labels: none

[CIR] Fix test affected by update to how EnumAttr parameters are printed
  clang/test/CIR/CodeGenOpenMP/emit-device-functions.cpp
  clang/test/CIR/Transforms/omp-mark-declare-target.cir
Labels: none

update tests now that we have a pass we can run via opt
  llvm/test/CodeGen/DirectX/DebugInfo/dbg-assign.ll
  llvm/test/CodeGen/DirectX/DebugInfo/dbg-declare-undef.ll
  llvm/test/CodeGen/DirectX/DebugInfo/dbg-value-arglist.ll
  llvm/test/CodeGen/DirectX/DebugInfo/dbg-value.ll
  llvm/test/CodeGen/DirectX/DebugInfo/debug-info.ll
  llvm/test/CodeGen/DirectX/DebugInfo/di-commonblock.ll
  llvm/test/CodeGen/DirectX/DebugInfo/di-compile-unit-versioned-language.ll
  llvm/test/CodeGen/DirectX/DebugInfo/di-compile-unit.ll
  llvm/test/CodeGen/DirectX/DebugInfo/di-globalvariable.ll
  llvm/test/CodeGen/DirectX/DebugInfo/di-label.ll
  llvm/test/CodeGen/DirectX/DebugInfo/di-subprogram.ll
  llvm/test/CodeGen/DirectX/DebugInfo/di-subrangetype.ll
Labels: none

[libcxx] Optimize __split_buffer::__relocate by using size-based __set_valid_range
  libcxx/include/__split_buffer
Labels: none

[mlir][complex] Avoid cancellation in tanh denominator
  mlir/lib/Conversion/ComplexToStandard/ComplexToStandard.cpp
  mlir/test/Conversion/ComplexToStandard/convert-to-standard.mlir
  mlir/test/Integration/Dialect/Complex/CPU/correctness.mlir
Labels: none

[lldb] [unittests] Cover what the memory cache reads from the inferior
  lldb/unittests/Target/MemoryTest.cpp
Labels: none

add newlines at end of these new files
  llvm/lib/Target/DirectX/DXILWriter/DXILDebugInfoMap.cpp
  llvm/lib/Target/DirectX/DXILWriter/DXILDebugInfoMap.h
Labels: none

Address comments.
  libc/src/__support/OSUtil/linux/syscall_wrappers/CMakeLists.txt
  libc/src/__support/OSUtil/linux/syscall_wrappers/posix_fadvise.h
  libc/test/src/fcntl/CMakeLists.txt
  libc/test/src/fcntl/posix_fadvise_test.cpp
Labels: none

[𝘀𝗽𝗿] initial version
  llvm/lib/Target/X86/X86RegisterInfo.cpp
  llvm/test/CodeGen/X86/avx512f-large-stack.ll
  llvm/test/CodeGen/X86/huge-frame-index.ll
Labels: none

[InstCombine] Don't assume a trunc with nsw is never poison (#220930)
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
  llvm/test/Transforms/InstCombine/logical-select.ll
Labels: none

[RISCV] Add tests for nonadjacent post-RA V0 rewrites
  llvm/test/CodeGen/RISCV/rvv/post-ra-v0-rewrite.mir
Labels: none

[clang] Clean up switch stack when transforming an invalid body (#211162)
  clang/docs/ReleaseNotes.md
  clang/lib/Sema/TreeTransform.h
  clang/test/SemaCXX/cxx2c-expansion-stmts-control-flow.cpp
Labels: none

[MLIR][OpenACC] Track compute region canonicalization updates
  mlir/lib/Dialect/OpenACC/IR/OpenACCCG.cpp
  mlir/test/Dialect/OpenACC/compute-region-canonicalize.mlir
Labels: none

[InferAlignment] Do not use intrinsic align attributes as base pointer alignment
  llvm/lib/Transforms/Scalar/InferAlignment.cpp
  llvm/test/Transforms/InferAlignment/masked.ll
  llvm/test/Transforms/InferAlignment/memintrinsics.ll
Labels: none

[CIR] Give the cleanup kind a proper standalone attribute spelling
  clang/include/clang/CIR/Dialect/IR/CIREnumAttr.td
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/test/CIR/IR/cleanup-scope.cir
  clang/test/CIR/IR/invalid-loop-cleanup.cir
Labels: none

[CIR] Print cir.global's TLS model without naked angle brackets
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/test/CIR/CodeGen/global-temp-dtor.cpp
  clang/test/CIR/CodeGen/global-tls-dyn-init.cpp
  clang/test/CIR/CodeGen/global-tls-dynamic-vs-static.cpp
  clang/test/CIR/CodeGen/global-tls-simple-init.cpp
  clang/test/CIR/CodeGen/global-tls-templates.cpp
  clang/test/CIR/CodeGen/thread-local-in-func.cpp
  clang/test/CIR/CodeGen/tls-model-func-scope.cpp
  clang/test/CIR/CodeGen/tls-model.cpp
  clang/test/CIR/CodeGen/tls.c
  clang/test/CIR/IR/global.cir
  clang/test/CIR/IR/invalid-tls.cir
Labels: none

[CIR] Drop lang_address_space's custom parenthesized attribute format
  clang/include/clang/CIR/Dialect/IR/CIRAttrs.td
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/include/clang/CIR/Dialect/IR/CIRTypes.td
  clang/lib/CIR/Dialect/IR/CIRAttrs.cpp
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Dialect/IR/CIRTypes.cpp
  clang/test/CIR/CodeGenOpenCL/kernel-arg-info-single-as.cl
  clang/test/CIR/CodeGenOpenCL/kernel-arg-info.cl
  clang/test/CIR/IR/invalid-opencl-kernel-arg-metadata.cir
  clang/test/CIR/IR/opencl-kernel-arg-metadata.cir
  clang/test/CIR/Lowering/opencl-kernel-arg-metadata.cir
Labels: none

[CIR] Delete the unused cir::VisibilityAttr
  clang/include/clang/CIR/Dialect/IR/CIRAttrs.td
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
Labels: none

[RISCV] Retarget nonadjacent mask producers to V0
  llvm/lib/Target/RISCV/RISCVPostRAV0Rewrite.cpp
  llvm/test/CodeGen/RISCV/rvv/extractelt-i1.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-extract-i1.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp-buildvec.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-insert-subvector.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-int-buildvec.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-int.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-mask-buildvec.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-masked-gather.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-shuffle-changes-length.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-shuffle-deinterleave.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-shuffle-deinterleave2.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-shuffle-exact-vlen.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-shuffle-fp-interleave.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-shuffle-int-interleave.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-shuffle-int.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-shuffle-rotate.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-strided-vpload.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vpgather.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vpload.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vpscatter.ll
  llvm/test/CodeGen/RISCV/rvv/post-ra-v0-rewrite.mir
  llvm/test/CodeGen/RISCV/rvv/strided-vpload.ll
  llvm/test/CodeGen/RISCV/rvv/strided-vpstore.ll
  llvm/test/CodeGen/RISCV/rvv/vpscatter-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/vscale-vw-web-simplification.ll
  llvm/test/CodeGen/RISCV/rvv/vselect-fp.ll
Labels: none

[libc++][pstl] Implementation of parallel std::find_end() based on __parallel_find() (#218321)
  libcxx/include/CMakeLists.txt
  libcxx/include/__algorithm/pstl.h
  libcxx/include/__pstl/backend_fwd.h
  libcxx/include/__pstl/backends/default.h
  libcxx/include/__pstl/backends/libdispatch.h
  libcxx/include/__pstl/backends/serial.h
  libcxx/include/__pstl/backends/std_thread.h
  libcxx/include/__pstl/cpu_algos/find_end.h
  libcxx/include/module.modulemap.in
  libcxx/test/libcxx/algorithms/pstl.iterator-requirements.verify.cpp
  libcxx/test/libcxx/algorithms/pstl.nodiscard.verify.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.find.end/pstl.find_end.pass.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.find.end/pstl.find_end_pred.pass.cpp
  libcxx/test/std/algorithms/pstl.exception_handling.pass.cpp
Labels: none

[flang][OpenMP] Track reachable metadirective replacement paths
  flang/include/flang/Semantics/openmp-utils.h
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/check-omp-structure.h
  flang/lib/Semantics/check-omp-variant.cpp
  flang/lib/Semantics/openmp-utils.cpp
  flang/test/Semantics/OpenMP/metadirective-loop-applicability-apply.f90
  flang/test/Semantics/OpenMP/metadirective-loop-applicability-openmp-60.f90
  flang/test/Semantics/OpenMP/metadirective-loop-applicability.f90
Labels: none

Update libcxx/include/__pstl/cpu_algos/is_heap_until.h
  libcxx/include/__pstl/cpu_algos/is_heap_until.h
Labels: none

[VPlan] Allow non-live-in start values for widened inductions (NFC). (#220716)
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanUtils.cpp
  llvm/lib/Transforms/Vectorize/VPlanUtils.h
Labels: none

[flang][cuda] Reject DEVICE derived types with attributed allocatable components (#220411)
  flang/lib/Semantics/check-allocate.cpp
  flang/test/Semantics/CUDA/cuf32.cuf
Labels: none

Emit functions in codegen
  clang/lib/CodeGen/CGVTables.cpp
  clang/test/CodeGenCUDA/pure_deleted_virtual.cu
  clang/test/OpenMP/nvptx_target_pure_deleted_codegen.cpp
Labels: none

Add -disable-dwarf-locations
  llvm/lib/CodeGen/AsmPrinter/DwarfCompileUnit.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfDebug.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfUnit.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfUnit.h
  llvm/test/DebugInfo/Generic/disable-dwarf-locations.ll
Labels: none

remove headers
  clang/lib/Headers/CMakeLists.txt
  clang/lib/Headers/__clang_cuda_runtime_wrapper.h
  clang/lib/Headers/__clang_gpu_device_virtual_trap.h
  clang/lib/Headers/__clang_hip_runtime_wrapper.h
Labels: none

MachinePipeliner: Pass instruction to findLoopIncrementValue (#219966)
  llvm/lib/CodeGen/MachinePipeliner.cpp
Labels: none

[Clang] [NFC] Reduce code duplication when emitting trap calls
  clang/lib/CodeGen/CGClass.cpp
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CodeGenFunction.cpp
  clang/lib/CodeGen/CodeGenFunction.h
  clang/test/CodeGenCXX/microsoft-vector-deleting-dtors2.cpp
Labels: none

[ADT] Use isComparableWith in SmallPtrSet
  llvm/include/llvm/ADT/SmallPtrSet.h
  llvm/unittests/ADT/SmallPtrSetTest.cpp
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
