Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[NFC][DirectX] Fix build failure (#155441)
  llvm/lib/Target/DirectX/CMakeLists.txt
Labels: none

Bitcode: Stop combining function alignments into MaxAlignment.
  llvm/lib/Bitcode/Writer/BitcodeWriter.cpp
Labels: none

[RISCV][VLOPT] Update vl-opt-op-info.mir test with extra COPYs. NFC
  llvm/test/CodeGen/RISCV/rvv/vl-opt-op-info.mir
Labels: none

[CIR] Add VTTAddrPointOp (#155048)
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.h
  clang/test/CIR/IR/invalid-vtable.cir
  clang/test/CIR/IR/vtt-addrpoint.cir
  clang/test/CIR/Lowering/vtt-addrpoint.cir
Labels: none

[MLIR] Apply clang-tidy fixes for modernize-use-using in IRCore.cpp (NFC)
  mlir/lib/Bindings/Python/IRCore.cpp
Labels: none

[Transforms] Allow non-regex Source in SymbolRewriter in case of using ExplicitRewriteDescriptor (#154319)
  llvm/lib/Transforms/Utils/SymbolRewriter.cpp
  llvm/test/SymbolRewriter/rewrite.ll
  llvm/test/SymbolRewriter/rewrite.map
Labels: none

[MLIR] Apply clang-tidy fixes for readability-identifier-naming in IRCore.cpp (NFC)
  mlir/lib/Bindings/Python/IRCore.cpp
Labels: none

[MLIR] Apply clang-tidy fixes for performance-move-const-arg in IRCore.cpp (NFC)
  mlir/lib/Bindings/Python/IRCore.cpp
Labels: none

[NFC][WPD] code style fixes (#155454)
  llvm/lib/Transforms/IPO/WholeProgramDevirt.cpp
Labels: none

Revert "[CI] Save sccache logs (#155444)"
  .github/workflows/premerge.yaml
Labels: misc

[Flang] Fix BUILD_SHARED_LIBS build (#155422)
  flang/lib/Optimizer/Builder/CMakeLists.txt
  flang/lib/Optimizer/HLFIR/Transforms/CMakeLists.txt
Labels: none

[ARM] Update a number of MVE tests to use -cost-kind=all. NFC
  llvm/test/Analysis/CostModel/ARM/mve-abs.ll
  llvm/test/Analysis/CostModel/ARM/mve-active_lane_mask.ll
  llvm/test/Analysis/CostModel/ARM/mve-cmp.ll
  llvm/test/Analysis/CostModel/ARM/mve-gather-scatter-cost.ll
  llvm/test/Analysis/CostModel/ARM/mve-minmax.ll
  llvm/test/Analysis/CostModel/ARM/mve-shuffle-loadstore.ll
  llvm/test/Analysis/CostModel/ARM/mve-vecreduce-add.ll
Labels: none

Remove trailing whitespace in DiagnosticSemaKinds.td. NFC (#155482)
  clang/include/clang/Basic/DiagnosticSemaKinds.td
Labels: none

[gn build] Disable objc rewriter (#155479)
  llvm/utils/gn/secondary/clang/include/clang/Config/BUILD.gn
  llvm/utils/gn/secondary/clang/test/BUILD.gn
Labels: none

[clang][PAC] Fix builtins that claim address discriminated types are bitwise compatible (#154490)
  clang/include/clang/AST/ASTContext.h
  clang/lib/AST/ASTContext.cpp
  clang/lib/AST/DeclCXX.cpp
  clang/lib/AST/Type.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaTypeTraits.cpp
  clang/test/SemaCXX/ptrauth-triviality.cpp
  clang/test/SemaCXX/ptrauth-type-traits.cpp
  clang/test/SemaCXX/trivially-relocatable-ptrauth.cpp
Labels: none

[AMDGCN] Add missing gfx1250 clang tests. NFC. (#155478)
  clang/test/CodeGenOpenCL/builtins-amdgcn-fp8.cl
  clang/test/CodeGenOpenCL/builtins-amdgcn-gfx1250.cl
  clang/test/Driver/cuda-bad-arch.cu
  clang/test/SemaOpenCL/builtins-amdgcn-error-gfx1250-param.cl
  clang/test/SemaOpenCL/builtins-amdgcn-error-gfx1250.cl
Labels: none

[mlir][acc] Add destroy region to reduction recipes (#155480)
  mlir/include/mlir/Dialect/OpenACC/OpenACCOps.td
  mlir/test/Dialect/OpenACC/ops.mlir
Labels: none

[lldb] Do not use LC_FUNCTION_STARTS data to determine symbol size as symbols are created (#155282)
  lldb/source/Plugins/ObjectFile/Mach-O/ObjectFileMachO.cpp
Labels: none

[hwasan] Add hwasan-static-linking option (#154529)
  llvm/lib/Transforms/Instrumentation/HWAddressSanitizer.cpp
  llvm/test/Instrumentation/HWAddressSanitizer/globals.ll
Labels: none

[LV] Remove unneeded ILV::LoopScalarPreHeader (NFC).
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
Labels: none

NFC: remove some instances of deprecated capture (#154884)
  llvm/lib/BinaryFormat/AMDGPUMetadataVerifier.cpp
  llvm/lib/Support/Parallel.cpp
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  mlir/lib/Dialect/SparseTensor/IR/Detail/DimLvlMapParser.cpp
  mlir/lib/Transforms/InlinerPass.cpp
Labels: none

[IA][RISCV] Recognize interleaving stores that could lower to strided segmented stores (#154647)
  llvm/include/llvm/CodeGen/TargetLowering.h
  llvm/lib/CodeGen/InterleavedAccessPass.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.h
  llvm/lib/Target/ARM/ARMISelLowering.cpp
  llvm/lib/Target/ARM/ARMISelLowering.h
  llvm/lib/Target/RISCV/RISCVISelLowering.h
  llvm/lib/Target/RISCV/RISCVInterleavedAccess.cpp
  llvm/lib/Target/X86/X86ISelLowering.h
  llvm/lib/Target/X86/X86InterleavedAccess.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-interleaved-access.ll
Labels: none

[AMDGPU] Do not assert on non-zero COMPUTE_PGM_RSRC3 on gfx1250. NFCI (#155498)
  llvm/lib/Target/AMDGPU/AMDGPUAsmPrinter.cpp
Labels: none

[DAG] ComputeNumSignBits - ISD::EXTRACT_ELEMENT needs to return at least 1 (#155455)
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/AMDGPU/pr155452.ll
Labels: none

[AMDGPU] wmma_scale* IR verification (#155493)
  llvm/lib/IR/Verifier.cpp
  llvm/test/Verifier/AMDGPU/wmma-f8f6f4.ll
Labels: none

[AArch64] Add another switch clustering test with power-of-2 constants.
  llvm/test/CodeGen/AArch64/switch-cases-to-branch-and.ll
Labels: none

[flang][openacc] Only generate acc.terminator in compute construct (#155504)
  flang/lib/Lower/Runtime.cpp
  flang/test/Lower/OpenACC/acc-terminator.f90
Labels: none

[NFC][Asan] Remove volatile from test
  compiler-rt/lib/asan/tests/asan_test.cpp
Labels: none

[lldb] Corretly parse Wasm segments (#154727)
  lldb/source/Plugins/ObjectFile/wasm/ObjectFileWasm.cpp
  lldb/source/Plugins/ObjectFile/wasm/ObjectFileWasm.h
  lldb/test/Shell/Symtab/symtab-wasm.test
Labels: none

Reapply "[compiler-rt] Remove %T from shared object substitutions (#155302)"
  compiler-rt/test/asan/TestCases/Linux/coverage-missing.cpp
  compiler-rt/test/asan/TestCases/Linux/local_alias.cpp
  compiler-rt/test/asan/TestCases/Linux/odr-violation.cpp
  compiler-rt/test/asan/TestCases/Linux/odr-vtable.cpp
  compiler-rt/test/asan/TestCases/Linux/odr_c_test.c
  compiler-rt/test/asan/TestCases/Linux/preinit_test.cpp
  compiler-rt/test/asan/TestCases/Posix/coverage-module-unloaded.cpp
  compiler-rt/test/asan/TestCases/Posix/coverage-reset.cpp
  compiler-rt/test/asan/TestCases/Posix/coverage.cpp
  compiler-rt/test/asan/TestCases/Posix/interception-in-shared-lib-test.cpp
  compiler-rt/test/asan/TestCases/suppressions-library.cpp
  compiler-rt/test/cfi/cross-dso-diagnostic.cpp
  compiler-rt/test/cfi/cross-dso/icall/diag.cpp
  compiler-rt/test/cfi/cross-dso/icall/icall-from-dso.cpp
  compiler-rt/test/cfi/cross-dso/icall/icall.cpp
  compiler-rt/test/cfi/cross-dso/simple-fail.cpp
  compiler-rt/test/cfi/cross-dso/simple-pass.cpp
  compiler-rt/test/cfi/target_uninstrumented.cpp
  compiler-rt/test/fuzzer/coverage.test
  compiler-rt/test/fuzzer/dso.test
  compiler-rt/test/fuzzer/full-coverage.test
  compiler-rt/test/lit.common.cfg.py
  compiler-rt/test/tsan/on_initialize_finalize_hooks.cpp
  compiler-rt/test/ubsan/TestCases/TypeCheck/Function/function.cpp
  compiler-rt/test/ubsan/TestCases/TypeCheck/vptr-non-unique-typeinfo.cpp
Labels: python

Revert "[AArch64] AArch64TargetLowering::computeKnownBitsForTargetNode - add support for AArch64ISD::MOV/MVN constants" (#155503)
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/unittests/Target/AArch64/AArch64SelectionDAGTest.cpp
Labels: none

[lldb] Adding structured types for existing MCP calls. (#155460)
  lldb/include/lldb/Protocol/MCP/Protocol.h
  lldb/include/lldb/Protocol/MCP/Resource.h
  lldb/include/lldb/Protocol/MCP/Server.h
  lldb/include/lldb/Protocol/MCP/Tool.h
  lldb/source/Plugins/Protocol/MCP/Resource.cpp
  lldb/source/Plugins/Protocol/MCP/Resource.h
  lldb/source/Plugins/Protocol/MCP/Tool.cpp
  lldb/source/Plugins/Protocol/MCP/Tool.h
  lldb/source/Protocol/MCP/Protocol.cpp
  lldb/source/Protocol/MCP/Server.cpp
  lldb/unittests/Protocol/ProtocolMCPServerTest.cpp
  lldb/unittests/Protocol/ProtocolMCPTest.cpp
  lldb/unittests/Protocol/ProtocolMCPTestUtilities.h
Labels: none

[MLIR] Apply clang-tidy fixes for performance-unnecessary-value-param in IRTypes.cpp (NFC)
  mlir/lib/Bindings/Python/IRTypes.cpp
Labels: none

[ProfCheck] Exclude new LoopVectorize Test (#155502)
  llvm/utils/profcheck-xfail.txt
Labels: none

[flang] Consolidate copy-in/copy-out determination in evaluate framework (#151408)
  flang/include/flang/Evaluate/characteristics.h
  flang/include/flang/Evaluate/check-expression.h
  flang/include/flang/Evaluate/tools.h
  flang/lib/Evaluate/check-expression.cpp
  flang/lib/Evaluate/fold-integer.cpp
  flang/lib/Evaluate/intrinsics.cpp
  flang/lib/Evaluate/shape.cpp
  flang/lib/Evaluate/tools.cpp
  flang/lib/Lower/ConvertCall.cpp
  flang/lib/Lower/ConvertExpr.cpp
  flang/lib/Lower/ConvertVariable.cpp
  flang/lib/Lower/HostAssociations.cpp
  flang/lib/Semantics/check-allocate.cpp
  flang/lib/Semantics/check-call.cpp
  flang/lib/Semantics/check-declarations.cpp
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/check-select-rank.cpp
  flang/lib/Semantics/check-select-type.cpp
  flang/lib/Semantics/expression.cpp
  flang/lib/Semantics/pointer-assignment.cpp
  flang/lib/Semantics/resolve-directives.cpp
  flang/lib/Semantics/resolve-names.cpp
  flang/lib/Semantics/tools.cpp
  flang/test/Lower/force-temp.f90
Labels: none

[MLIR][LLVMIR][DLTI] Pass to update #llvm.target's features per relevant backend (#154938)
  mlir/include/mlir/Dialect/LLVMIR/LLVMAttrDefs.td
  mlir/include/mlir/Dialect/LLVMIR/LLVMInterfaces.td
  mlir/include/mlir/Target/LLVMIR/Transforms/Passes.h
  mlir/include/mlir/Target/LLVMIR/Transforms/Passes.td
  mlir/include/mlir/Target/LLVMIR/Transforms/TargetUtils.h
  mlir/lib/Dialect/LLVMIR/IR/LLVMAttrs.cpp
  mlir/lib/Target/LLVMIR/Transforms/CMakeLists.txt
  mlir/lib/Target/LLVMIR/Transforms/TargetToDataLayout.cpp
  mlir/lib/Target/LLVMIR/Transforms/TargetToTargetFeatures.cpp
  mlir/lib/Target/LLVMIR/Transforms/TargetUtils.cpp
  mlir/test/Dialect/LLVMIR/target-to-data-layout.mlir
  mlir/test/Target/LLVMIR/target-to-data-layout-and-target-features.mlir
  mlir/test/Target/LLVMIR/target-to-data-layout-invalid.mlir
  mlir/test/Target/LLVMIR/target-to-data-layout-no-init.mlir
  mlir/test/Target/LLVMIR/target-to-target-features-dlti-query.mlir
Labels: none

Support: Add proxies for raw_ostream and raw_pwrite_stream (#113362)
  llvm/include/llvm/Support/raw_ostream_proxy.h
  llvm/lib/Support/CMakeLists.txt
  llvm/lib/Support/raw_ostream_proxy.cpp
  llvm/unittests/Support/CMakeLists.txt
  llvm/unittests/Support/raw_ostream_proxy_test.cpp
Labels: none

[gn build] Port 90670b5ca890
  llvm/utils/gn/secondary/llvm/lib/Support/BUILD.gn
  llvm/utils/gn/secondary/llvm/unittests/Support/BUILD.gn
Labels: none

[fuzzer][Fuchsia] Forward fix for undefined StartRssThread (#155514)
  compiler-rt/lib/fuzzer/FuzzerDriver.cpp
Labels: none

[clang] Fix clang module build by declaring new textual header (#155510)
  clang/include/module.modulemap
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
