Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[CodeGen][NFC] Split __sized_by tests into their own file and rename test cases (#213793)
  clang/test/CodeGen/attr-counted-by-for-pointers.c
  clang/test/CodeGen/attr-sized-by-for-pointers.c
Labels: none

[clangd][HLSL] Add hover support for vector swizzle and matrix element access (#212741)
  clang-tools-extra/clangd/Hover.cpp
  clang-tools-extra/clangd/unittests/HoverTests.cpp
Labels: none

[flang][OpenMP] Fix wrong results for FORALL in a workshare construct (#211371)
  flang/lib/Optimizer/OpenMP/LowerWorkshare.cpp
  flang/test/Transforms/OpenMP/lower-workshare-nowait.mlir
  flang/test/Transforms/OpenMP/lower-workshare-thread-local.mlir
Labels: none

[AsmPrinter] Use DenseMap instead of MapVector (NFC) (#214256)
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
Labels: none

[AMDGPU] Autogen tests with new changes (#214286)
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.rcp.bf16.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.rsq.bf16.ll
Labels: none

- forget top most loop including contained loops." - update SCEV for any exit cond.
  llvm/lib/Transforms/Utils/SimplifyIndVar.cpp
  llvm/test/Transforms/LoopUnroll/scevunroll.ll
Labels: none

[clang][Lex] Fix ambiguous reference to Token error (#214300)
  clang/lib/Lex/Lexer.cpp
Labels: none

[compiler-rt][Bazel] Support profile runtime on macOS and iOS (#214154)
  utils/bazel/llvm-project-overlay/compiler-rt/BUILD.bazel
Labels: none

workflows: Remove unnecessary checkouts before uses of upload-release-artifact (#213830)
  .github/workflows/release-binaries.yml
  .github/workflows/release-documentation.yml
  .github/workflows/release-sources.yml
Labels: misc

[libc++] Add dry-run coverage for the LNT tooling to the test-tools builder (#214028)
  libcxx/utils/ci/run-buildbot
Labels: none

[InstCombine] Allow detection of nsz on phi in fcmp+select to min/max (#214156)
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
  llvm/test/Transforms/InstCombine/minmax-fp-loop-carried.ll
Labels: none

Add atomic shader flags for resources (#212869)
  llvm/lib/Target/DirectX/DXILShaderFlags.cpp
  llvm/test/CodeGen/DirectX/ShaderFlags/atomic64-groupshared.ll
  llvm/test/CodeGen/DirectX/ShaderFlags/atomic64-typed-resource.ll
Labels: none

[Fuchsia] Disable per-target runtime directories for Darwin (#214307)
  clang/cmake/caches/Fuchsia-stage2.cmake
Labels: none

[AMDGPU][Clang] Handle instantiation-dependent fence arguments (#214294)
  clang/lib/Sema/SemaAMDGPU.cpp
  clang/test/SemaHIP/amdgpu-builtin-fence.hip
Labels: none

[MLIR][XeGPU] Fix XeGPUToXeVM crash on non-integer memref memory spaces (#211053)
  mlir/lib/Conversion/XeGPUToXeVM/XeGPUToXeVM.cpp
  mlir/test/Conversion/XeGPUToXeVM/failed_conversion.mlir
Labels: none

[AMDGPU][GISel] Add RegBankLegalize rules for amdgcn_tanh (#214051)
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeRules.cpp
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.tanh.ll
Labels: none

[CIR] Update get_global type for rewritten callees (#214082)
  clang/lib/CIR/Dialect/Transforms/CallConvLoweringPass.cpp
  clang/lib/CIR/Dialect/Transforms/TargetLowering/CIRABIRewriteContext.cpp
  clang/lib/CIR/Dialect/Transforms/TargetLowering/CIRABIRewriteContext.h
  clang/test/CIR/CodeGen/call-conv-lowering-x86_64-fnptr.c
  clang/test/CIR/Transforms/abi-lowering/x86_64-get-global.cir
Labels: none

[NFC][NVPTX][AtomicExpand] add NVPTX's lit.local.cfg (#214315)
  llvm/test/Transforms/AtomicExpand/NVPTX/lit.local.cfg
Labels: none

[llvm][ABI][NFC] Name the required-argument boundary in FunctionInfo (#214100)
  clang/lib/CIR/Dialect/Transforms/CallConvLoweringPass.cpp
  clang/lib/CodeGen/CGCall.cpp
  llvm/include/llvm/ABI/FunctionInfo.h
  llvm/lib/ABI/FunctionInfo.cpp
Labels: none

[clang][ssaf] Add multi-arch create subcommand (#212847)
  clang/include/clang/ScalableStaticAnalysis/Core/EntityLinker/LUSummaryEncoding.h
  clang/include/clang/ScalableStaticAnalysis/Core/EntityLinker/MultiArchSharedLibrary.h
  clang/include/clang/ScalableStaticAnalysis/Core/EntityLinker/MultiArchStaticLibrary.h
  clang/include/clang/ScalableStaticAnalysis/Core/EntityLinker/StaticLibrary.h
  clang/include/clang/ScalableStaticAnalysis/Core/Model/BuildNamespace.h
  clang/include/clang/ScalableStaticAnalysis/Tool/Utils.h
  clang/lib/ScalableStaticAnalysis/Core/Model/BuildNamespace.cpp
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/bad-artifact.json
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/lib-aarch64.json
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/lib-arm64.json
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/lib-ios-versioned.json
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/lib-ios.json
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/lib-otherns.json
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/lib-x86_64.json
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/libfoo-2arch.json
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/libmulti-empty-wrapper.json
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/libmulti-multiarch-wrongns.json
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/libshared-empty-wrapper.json
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/libshared-multiarch-wrongns.json
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/lu-arm64.json
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/lu-ios-libfoo.json
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/lu-macosx-libfoo.json
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/lu-otherns.json
  clang/test/Analysis/Scalable/ssaf-linker/Inputs/lu-x86_64.json
  clang/test/Analysis/Scalable/ssaf-linker/Outputs/libfoo-3arch.json
  clang/test/Analysis/Scalable/ssaf-linker/Outputs/libmulti-1arch.json
  clang/test/Analysis/Scalable/ssaf-linker/Outputs/libmulti-2arch.json
  clang/test/Analysis/Scalable/ssaf-linker/Outputs/libmulti-3arch.json
  clang/test/Analysis/Scalable/ssaf-linker/Outputs/libshared-1arch.json
  clang/test/Analysis/Scalable/ssaf-linker/Outputs/libshared-2arch.json
  clang/test/Analysis/Scalable/ssaf-linker/multi-arch-create.test
  clang/test/Analysis/Scalable/ssaf-linker/multi-arch-help.test
  clang/test/Analysis/Scalable/ssaf-linker/multi-arch-time.test
  clang/test/Analysis/Scalable/ssaf-linker/multi-arch-verbose.test
  clang/tools/clang-ssaf-linker/CMakeLists.txt
  clang/tools/clang-ssaf-linker/MultiArchCreateCLI.cpp
  clang/tools/clang-ssaf-linker/MultiArchCreateCLI.h
  clang/tools/clang-ssaf-linker/SSAFLinker.cpp
  clang/unittests/ScalableStaticAnalysis/BuildNamespaceTest.cpp
Labels: none

[offload-arch] Fix Intel GPU detection on Windows (#214309)
  clang/tools/offload-arch/LevelZeroArch.cpp
Labels: none

[lldb][API test] TestRunLocker is flakey, fix (#203429)
  lldb/test/API/python_api/run_locker/TestRunLocker.py
Labels: python

[NFC] Pre-commit tests for missing fabs SDAG vector expansion (#214288)
  llvm/test/CodeGen/AMDGPU/fabs-vector-truncate.ll
Labels: none

[offload] Fix unittests on Windows (#214330)
  offload/test/unit/lit.cfg.py
  offload/test/unit/lit.site.cfg.in
Labels: python

[AMDGPU][GISel] RegBankLegalize rules for s_incperflevel/s_decperflevel (#214327)
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeRules.cpp
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.s.decperflevel.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.s.incperflevel.ll
Labels: none

[AMDGPU][GISel] RegBankLegalize rules for SAD intrinsics (#214329)
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeRules.cpp
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.msad.u8.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.sad.hi.u8.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.sad.u16.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.sad.u8.ll
Labels: none

RuntimeLibcalls: Add sqrtf to the Hexagon runtime libcall set (#210909)
  llvm/include/llvm/IR/RuntimeLibcalls.td
Labels: none

[AArch64][GlobalISel] Cleanup old selection code for G_OR and fp instructions. (#213869)
  llvm/lib/Target/AArch64/GISel/AArch64InstructionSelector.cpp
Labels: none

[CodeGen] ReplaceWithVeclib assertion failure with invalid intrinsic (#211352)
  llvm/lib/CodeGen/ReplaceWithVeclib.cpp
  llvm/test/Transforms/ReplaceWithVeclib/veclib-invalid-intrinsic.ll
Labels: none

[AArch64] Move tryFoldCselToFMaxMin to Select. NFC (#214346)
  llvm/lib/Target/AArch64/AArch64ISelDAGToDAG.cpp
Labels: none

RuntimeLibcalls: Add generic FCMP3_F* three-way compare for single-symbol ABIs (#211618)
  llvm/include/llvm/IR/RuntimeLibcalls.td
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/lib/Target/MSP430/MSP430Subtarget.cpp
Labels: none

[lldb][elf-core] Populate memory region names from NT_FILE (#212666)
  lldb/source/Plugins/Process/elf-core/ProcessElfCore.cpp
  lldb/source/Plugins/Process/elf-core/ProcessElfCore.h
  lldb/test/API/functionalities/postmortem/elf-core/TestLinuxCore.py
  lldb/test/API/functionalities/postmortem/elf-core/elf-NT_FILE-memory-region.yaml
Labels: python

[CIR] Accept unions in x86_64 calling-convention lowering (#214129)
  clang/include/clang/CIR/Dialect/IR/CIRDialect.h
  clang/lib/CIR/Dialect/IR/CIRAttrs.cpp
  clang/lib/CIR/Dialect/Transforms/CallConvLoweringPass.cpp
  clang/test/CIR/CodeGen/call-conv-lowering-x86_64.c
  clang/test/CIR/Transforms/abi-lowering/x86_64-aggregate-nyi.cir
  clang/test/CIR/Transforms/abi-lowering/x86_64-union-coerce-shapes.cir
  clang/test/CIR/Transforms/abi-lowering/x86_64-union.cir
Labels: none

[AMDGPU][GISel] RegBankLegalize rule for amdgcn_lerp (#214324)
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeRules.cpp
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.lerp.ll
Labels: none

[llvm] Add missing include (#214349)
  llvm/lib/Support/BalancedPartitioning.cpp
Labels: none

[cmake][docs] Fix incremental docs builds under deletion and renames (#211411)
  clang/docs/CMakeLists.txt
  flang/docs/CMakeLists.txt
  libc/docs/CMakeLists.txt
  llvm/cmake/modules/AddSphinxTarget.cmake
  llvm/cmake/modules/SphinxSourceScan.cmake
  llvm/cmake/modules/SphinxSourceSync.cmake
  llvm/cmake/modules/SphinxSourceUtils.cmake
Labels: none

[AMDGPU] Model WMMA co-execution windows in the scheduler for gfx1250 (#204077)
  llvm/include/llvm/CodeGen/MachineScheduler.h
  llvm/lib/CodeGen/MachineScheduler.cpp
  llvm/lib/Target/AMDGPU/AMDGPUCoExecInfo.h
  llvm/lib/Target/AMDGPU/AMDGPUCoExecSchedStrategy.cpp
  llvm/lib/Target/AMDGPU/AMDGPUCoExecSchedStrategy.h
  llvm/lib/Target/AMDGPU/GCNHazardRecognizer.cpp
  llvm/lib/Target/AMDGPU/GCNHazardRecognizer.h
  llvm/lib/Target/AMDGPU/GCNSchedStrategy.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
  llvm/test/CodeGen/AMDGPU/coexec-hazardrec-preRA.mir
  llvm/test/CodeGen/AMDGPU/coexec-scheduler.ll
  llvm/test/CodeGen/AMDGPU/fdiv.bf16.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.sched.group.barrier.gfx12.ll
  llvm/test/CodeGen/AMDGPU/misched-into-wmma-hazard-shadow.mir
  llvm/test/CodeGen/AMDGPU/wmma-trans-multi-shadow-hazard.mir
Labels: none

[HLSL] Consistently quote resource attribute args (#214106)
  clang/lib/AST/TypePrinter.cpp
  clang/lib/Sema/SemaHLSL.cpp
  clang/test/AST/HLSL/ByteAddressBuffers-AST.hlsl
  clang/test/AST/HLSL/ConstantBuffers-AST.hlsl
  clang/test/AST/HLSL/StructuredBuffers-AST.hlsl
  clang/test/AST/HLSL/Textures-AST.hlsl
  clang/test/AST/HLSL/Textures-scalar-AST.hlsl
  clang/test/AST/HLSL/Textures-vector-AST.hlsl
  clang/test/AST/HLSL/TypedBuffers-AST.hlsl
  clang/test/CodeGenHLSL/BasicFeatures/InitLists.hlsl
  clang/test/CodeGenHLSL/builtins/hlsl_resource_t.hlsl
  clang/test/ParserHLSL/hlsl_contained_type_attr.hlsl
  clang/test/ParserHLSL/hlsl_is_array_attr.hlsl
  clang/test/ParserHLSL/hlsl_is_ms_attr.hlsl
  clang/test/ParserHLSL/hlsl_is_rov_attr.hlsl
  clang/test/ParserHLSL/hlsl_raw_buffer_attr.hlsl
  clang/test/ParserHLSL/hlsl_resource_class_attr.hlsl
  clang/test/ParserHLSL/hlsl_resource_dimension_attr.hlsl
  clang/test/ParserHLSL/hlsl_resource_handle_attrs.hlsl
  clang/test/SemaHLSL/Attributes/hlsl_contained_type_attr_error.hlsl
  clang/test/SemaHLSL/Attributes/hlsl_is_array_attr_error.hlsl
  clang/test/SemaHLSL/Attributes/hlsl_is_ms_attr_error.hlsl
  clang/test/SemaHLSL/Attributes/hlsl_is_rov_attr_error.hlsl
  clang/test/SemaHLSL/Attributes/hlsl_raw_buffer_attr_error.hlsl
  clang/test/SemaHLSL/Attributes/hlsl_resource_class_attr_error.hlsl
  clang/test/SemaHLSL/BuiltIns/buffer_update_counter-errors.hlsl
  clang/test/SemaHLSL/BuiltIns/resource_getpointer-errors.hlsl
  clang/test/SemaHLSL/Resources/resource_binding_attr_error.hlsl
  clang/test/SemaHLSL/Resources/resource_binding_attr_error_resource.hlsl
  clang/test/SemaHLSL/Resources/resource_binding_attr_error_udt.hlsl
  clang/test/SemaHLSL/Resources/resource_binding_attr_error_uint32_max.hlsl
  clang/test/SemaHLSL/Resources/resource_binding_implicit.hlsl
Labels: none

[LoopInterchange] Reject interchange when a freeze would move or be cloned
  llvm/lib/Transforms/Scalar/LoopInterchange.cpp
  llvm/test/Transforms/LoopInterchange/freeze.ll
Labels: none

[LoongArch][MC] Pre-mark align fragments as linker-relaxable (#213582)
  llvm/lib/Target/LoongArch/MCTargetDesc/LoongArchAsmBackend.cpp
  llvm/lib/Target/LoongArch/MCTargetDesc/LoongArchAsmBackend.h
  llvm/lib/Target/LoongArch/MCTargetDesc/LoongArchELFStreamer.cpp
  llvm/lib/Target/LoongArch/MCTargetDesc/LoongArchELFStreamer.h
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
