Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

clang-format
  flang/lib/Semantics/resolve-directives.cpp
  flang/lib/Semantics/scope.cpp
Labels: none

remove fixme
  clang/lib/Sema/SemaExpr.cpp
Labels: none

[LVI][SCCP] Avoid copying ValueLatticeElement
  llvm/lib/Analysis/LazyValueInfo.cpp
  llvm/lib/Transforms/Utils/SCCPSolver.cpp
Labels: none

- Use constexpr instead of const
  llvm/lib/Target/AMDGPU/AMDGPUBarrierLatency.cpp
Labels: none

[RISCV] Allow large div peephole optimization for minsize
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/div_minsize.ll
Labels: none

Remove unused code
  clang/lib/AST/ExprConstant.cpp
Labels: none

[RISCV][LLVM] Enable atomics for 'Zalrsc'
  llvm/lib/Target/RISCV/RISCVExpandAtomicPseudoInsts.cpp
  llvm/lib/Target/RISCV/RISCVFeatures.td
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoA.td
  llvm/test/CodeGen/RISCV/atomic-fence.ll
  llvm/test/CodeGen/RISCV/atomic-load-store.ll
  llvm/test/CodeGen/RISCV/atomic-rmw-sub.ll
  llvm/test/CodeGen/RISCV/atomic-rmw.ll
  llvm/test/CodeGen/RISCV/atomic-signext.ll
Labels: none

[LegalizeTypes][RISCV] Control sign-extend for atomicrmw input argument
  llvm/include/llvm/CodeGen/TargetLowering.h
  llvm/lib/CodeGen/SelectionDAG/LegalizeIntegerTypes.cpp
  llvm/lib/Target/RISCV/RISCVExpandAtomicPseudoInsts.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.h
  llvm/lib/Target/RISCV/RISCVInstrInfoA.td
  llvm/test/CodeGen/RISCV/atomic-rmw.ll
  llvm/test/CodeGen/RISCV/atomic-signext.ll
Labels: none

[RISCV][clang] Enable atomics for 'Zalrsc', not just 'A'
  clang/lib/Basic/Targets/RISCV.cpp
  clang/lib/Basic/Targets/RISCV.h
Labels: none

fix comments
  clang/include/clang/Basic/AttrDocs.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaDeclAttr.cpp
Labels: none

fix another comment
  clang/include/clang/Basic/Attr.td
  clang/test/Misc/pragma-attribute-supported-attributes-list.test
Labels: none

[Clang][HIP][CUDA] Add `__cluster_dims__` and `__no_cluster__` attribute
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Sema/Sema.h
  clang/lib/CodeGen/Targets/AMDGPU.cpp
  clang/lib/Headers/__clang_hip_runtime_wrapper.h
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/test/CodeGenCUDA/Inputs/cuda.h
  clang/test/CodeGenCUDA/cluster_dims.cu
  clang/test/Misc/pragma-attribute-supported-attributes-list.test
  clang/test/SemaCUDA/Inputs/cuda.h
  clang/test/SemaCUDA/cluster_dims.cu
Labels: none

minor improvements
  clang/lib/Sema/SemaDeclAttr.cpp
Labels: none

add documentation
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/AttrDocs.td
Labels: none

fix an error
  clang/lib/Sema/SemaDeclAttr.cpp
Labels: none

use attribute for diag msg
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/test/SemaCUDA/cluster_dims.cu
Labels: none

fix more comments
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
Labels: none

more information on no_dims
  clang/include/clang/Basic/AttrDocs.td
Labels: none

remove unused code
  clang/lib/CodeGen/Targets/AMDGPU.cpp
Labels: none

fix comments
  clang/include/clang/Basic/Attr.td
  clang/lib/CodeGen/Targets/AMDGPU.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
Labels: none

comments
  clang/include/clang/Basic/AttrDocs.td
Labels: none

refine target feature lookup; fix comments
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/AttrDocs.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/CodeGen/Targets/AMDGPU.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/test/SemaCUDA/cluster_dims.cu
Labels: none

refine docs
  clang/include/clang/Basic/AttrDocs.td
Labels: none

drop `__` in `Declspec`
  clang/include/clang/Basic/Attr.td
Labels: none

[libc] remove stdfix-types.h
  libc/include/CMakeLists.txt
  libc/include/llvm-libc-types/CMakeLists.txt
  libc/include/llvm-libc-types/stdfix-types.h
  libc/include/stdfix.yaml
  libc/src/stdfix/CMakeLists.txt
  libc/src/stdfix/urbits.h
Labels: none

[HLSL] Update type for `out` arguments only for dependent params types (#163832)
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/test/SemaHLSL/Language/TemplateOutArg.hlsl
Labels: none

[MLIR][Python] expose translate_module_to_llvmir
  mlir/include/mlir-c/Target/LLVMIR.h
  mlir/lib/Bindings/Python/DialectLLVM.cpp
  mlir/lib/CAPI/Target/LLVMIR.cpp
  mlir/python/CMakeLists.txt
  mlir/test/python/dialects/llvm.py
Labels: python

[libc++] Properly implement array cookies in the ARM ABI (#160182)
  libcxx/include/__configuration/abi.h
  libcxx/include/__memory/array_cookie.h
  libcxx/test/std/utilities/smartptr/unique.ptr/unique.ptr.class/unique.ptr.observers/assert.subscript.pass.cpp
Labels: none

Update [Github] Update GHA Dependencies
  .github/workflows/build-ci-container-windows.yml
  .github/workflows/check-ci.yml
  .github/workflows/docs.yml
  .github/workflows/gha-codeql.yml
  .github/workflows/issue-write.yml
  .github/workflows/libclang-python-tests.yml
  .github/workflows/llvm-bugs.yml
  .github/workflows/new-prs.yml
  .github/workflows/pr-code-format.yml
  .github/workflows/pr-code-lint.yml
  .github/workflows/premerge.yaml
  .github/workflows/release-asset-audit.yml
  .github/workflows/release-binaries.yml
  .github/workflows/release-documentation.yml
  .github/workflows/release-doxygen.yml
  .github/workflows/release-sources.yml
  .github/workflows/scorecard.yml
  .github/workflows/unprivileged-download-artifact/action.yml
Labels: misc

added trailing type for ffs, missed in pr llvm#162346 for llvm#160288
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
Labels: none

Change back to manual parsing to avoid requiring an empty dict when no attr is present Fix remaining tests outside CIR/CodeGen
  clang/include/clang/CIR/Dialect/IR/CIRAttrs.td
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/test/CIR/CodeGen/inline-attributes.cpp
  clang/test/CIR/CodeGen/linkage-spec.cpp
  clang/test/CIR/CodeGenOpenACC/cache.c
  clang/test/CIR/CodeGenOpenACC/combined-copy.c
  clang/test/CIR/CodeGenOpenACC/combined-firstprivate-clause.cpp
  clang/test/CIR/CodeGenOpenACC/combined-private-clause.cpp
  clang/test/CIR/CodeGenOpenACC/compute-copy.c
  clang/test/CIR/CodeGenOpenACC/compute-firstprivate-clause.c
  clang/test/CIR/CodeGenOpenACC/compute-firstprivate-clause.cpp
  clang/test/CIR/CodeGenOpenACC/compute-private-clause.c
  clang/test/CIR/CodeGenOpenACC/compute-private-clause.cpp
  clang/test/CIR/CodeGenOpenACC/loop-private-clause.cpp
  clang/test/CIR/IR/inline-attrs.cir
  clang/test/CIR/Lowering/basic.cpp
  clang/test/CIR/Lowering/func-simple.cpp
  clang/test/CIR/func-simple.cpp
Labels: none

addded trailing type to other interp__builtin_elementwise_int_unaryop callbacks for uniformity
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
Labels: none

[Pass, SCCP] Support constant structure in PhiNode
  llvm/lib/Transforms/Utils/SCCPSolver.cpp
  llvm/test/Transforms/SCCP/constant-range-struct.ll
Labels: none

Make 32-bit ABS is legal DAG node
  llvm/lib/Target/AMDGPU/AMDGPUISelLowering.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/abs_i16.ll
  llvm/test/CodeGen/AMDGPU/amdgpu-codegenprepare-fold-binop-select.ll
  llvm/test/CodeGen/AMDGPU/amdgpu-codegenprepare-idiv.ll
  llvm/test/CodeGen/AMDGPU/bypass-div.ll
  llvm/test/CodeGen/AMDGPU/divergence-driven-abs.ll
  llvm/test/CodeGen/AMDGPU/sdiv.ll
  llvm/test/CodeGen/AMDGPU/sminmax.ll
  llvm/test/CodeGen/AMDGPU/srem.ll
Labels: none

[docs][OpenMP] Update support doc with the planned/in-progress pointer-attachment work.
  clang/docs/OpenMPSupport.rst
Labels: none

[RISCV] Move more stuff to RISCVInstrInfoZvfbf.td. Fix incorrect Predicates. (#163846)
  llvm/lib/Target/RISCV/RISCVFeatures.td
  llvm/lib/Target/RISCV/RISCVInstrInfoVPseudos.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZvfbf.td
Labels: none

Fix formatting.
  clang/docs/OpenMPSupport.rst
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: misc

[clang-format] Fix an assertion failure on comment-only config files (#163111)
  clang/lib/Format/Format.cpp
  clang/unittests/Format/ConfigParseTest.cpp
Labels: none

[X86] Remove `NoSignedZerosFPMath` uses
  llvm/lib/Target/X86/X86ISelLowering.cpp
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
