Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[SandboxVec] Add TransactionAlwaysRevert pass (#141688)
  llvm/include/llvm/Transforms/Vectorize/SandboxVectorizer/Passes/TransactionAlwaysRevert.h
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/Passes/PassRegistry.def
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/SandboxVectorizerPassBuilder.cpp
  llvm/test/Transforms/SandboxVectorizer/bottomup_basic.ll
Labels: none

[SandboxVec] Add TransactionAlwaysRevert pass (#141688)
  llvm/include/llvm/Transforms/Vectorize/SandboxVectorizer/Passes/TransactionAlwaysRevert.h
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/Passes/PassRegistry.def
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/SandboxVectorizerPassBuilder.cpp
  llvm/test/Transforms/SandboxVectorizer/bottomup_basic.ll
Labels: none

Update tests
  llvm/test/CodeGen/AMDGPU/ashr.v2i16.ll
  llvm/test/CodeGen/AMDGPU/load-constant-i8.ll
Labels: none

Use metadata for size and offset in DIType
  clang/lib/CodeGen/CGDebugInfo.cpp
  llvm/include/llvm/IR/DebugInfoMetadata.h
  llvm/lib/AsmParser/LLParser.cpp
  llvm/lib/Bitcode/Reader/MetadataLoader.cpp
  llvm/lib/Bitcode/Writer/BitcodeWriter.cpp
  llvm/lib/IR/DIBuilder.cpp
  llvm/lib/IR/DebugInfoMetadata.cpp
  llvm/lib/IR/LLVMContextImpl.h
  llvm/lib/IR/Verifier.cpp
  llvm/unittests/IR/DebugTypeODRUniquingTest.cpp
Labels: none

[RISCV] Update evaluateBranch for Xqci (#141718)
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVMCTargetDesc.cpp
  llvm/test/MC/Disassembler/RISCV/branch-targets-xcv.txt
  llvm/test/MC/Disassembler/RISCV/branch-targets-xqci.txt
Labels: none

[RISCV] Update evaluateBranch for Xqci (#141718)
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVMCTargetDesc.cpp
  llvm/test/MC/Disassembler/RISCV/branch-targets-xcv.txt
  llvm/test/MC/Disassembler/RISCV/branch-targets-xqci.txt
Labels: none

[SandboxVec] Add a simple pack reuse pass
  llvm/include/llvm/Transforms/Vectorize/SandboxVectorizer/Passes/PackReuse.h
  llvm/include/llvm/Transforms/Vectorize/SandboxVectorizer/VecUtils.h
  llvm/lib/Transforms/Vectorize/CMakeLists.txt
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/Passes/PackReuse.cpp
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/Passes/PassRegistry.def
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/SandboxVectorizerPassBuilder.cpp
  llvm/test/Transforms/SandboxVectorizer/pack_reuse_basic.ll
  llvm/test/Transforms/SandboxVectorizer/pack_reuse_end_to_end.ll
  llvm/unittests/Transforms/Vectorize/SandboxVectorizer/VecUtilsTest.cpp
Labels: none

Use explicit qualifier for mlir::cast
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
Labels: none

Use -O2
  clang/test/CodeGen/ubsan-function-debuginfo.c
  clang/test/CodeGen/unsigned-promotion-debuginfo.c
Labels: none

[lldb] Expose language plugin commands based based on language of current frame (#136766)
  lldb/include/lldb/Interpreter/CommandInterpreter.h
  lldb/source/Commands/CommandObjectLanguage.cpp
  lldb/source/Interpreter/CommandInterpreter.cpp
  lldb/test/API/commands/command/language/Makefile
  lldb/test/API/commands/command/language/TestFrameLanguageCommands.py
  lldb/test/API/commands/command/language/commands.py
  lldb/test/API/commands/command/language/lib.cpp
  lldb/test/API/commands/command/language/main.mm
Labels: python

[lldb] Expose language plugin commands based based on language of current frame (#136766)
  lldb/include/lldb/Interpreter/CommandInterpreter.h
  lldb/source/Commands/CommandObjectLanguage.cpp
  lldb/source/Interpreter/CommandInterpreter.cpp
  lldb/test/API/commands/command/language/Makefile
  lldb/test/API/commands/command/language/TestFrameLanguageCommands.py
  lldb/test/API/commands/command/language/commands.py
  lldb/test/API/commands/command/language/lib.cpp
  lldb/test/API/commands/command/language/main.mm
Labels: python

Cleanup stdin regex
  clang/test/CodeGen/ubsan-function-debuginfo.c
  clang/test/CodeGen/unsigned-promotion-debuginfo.c
Labels: none

Move constant to right
  llvm/lib/Target/AMDGPU/AMDGPUISelLowering.cpp
Labels: none

[MLIR][LLVM][DLTI] Handle data layout token 'n32:64' (#141299)
  mlir/include/mlir/Dialect/DLTI/DLTIAttrs.td
  mlir/include/mlir/Dialect/DLTI/DLTIBase.td
  mlir/include/mlir/Interfaces/DataLayoutInterfaces.h
  mlir/include/mlir/Interfaces/DataLayoutInterfaces.td
  mlir/lib/Dialect/DLTI/DLTI.cpp
  mlir/lib/Interfaces/DataLayoutInterfaces.cpp
  mlir/lib/Target/LLVMIR/DataLayoutImporter.cpp
  mlir/lib/Target/LLVMIR/DataLayoutImporter.h
  mlir/lib/Target/LLVMIR/ModuleTranslation.cpp
  mlir/test/Dialect/LLVMIR/layout.mlir
  mlir/test/Target/LLVMIR/Import/data-layout.ll
  mlir/test/Target/LLVMIR/data-layout.mlir
  mlir/test/lib/Dialect/DLTI/TestDataLayoutQuery.cpp
  mlir/unittests/Interfaces/DataLayoutInterfacesTest.cpp
Labels: none

[MLIR][LLVM][DLTI] Handle data layout token 'n32:64' (#141299)
  mlir/include/mlir/Dialect/DLTI/DLTIAttrs.td
  mlir/include/mlir/Dialect/DLTI/DLTIBase.td
  mlir/include/mlir/Interfaces/DataLayoutInterfaces.h
  mlir/include/mlir/Interfaces/DataLayoutInterfaces.td
  mlir/lib/Dialect/DLTI/DLTI.cpp
  mlir/lib/Interfaces/DataLayoutInterfaces.cpp
  mlir/lib/Target/LLVMIR/DataLayoutImporter.cpp
  mlir/lib/Target/LLVMIR/DataLayoutImporter.h
  mlir/lib/Target/LLVMIR/ModuleTranslation.cpp
  mlir/test/Dialect/LLVMIR/layout.mlir
  mlir/test/Target/LLVMIR/Import/data-layout.ll
  mlir/test/Target/LLVMIR/data-layout.mlir
  mlir/test/lib/Dialect/DLTI/TestDataLayoutQuery.cpp
  mlir/unittests/Interfaces/DataLayoutInterfacesTest.cpp
Labels: none

Change DWARF writer to handle dynamic offsets and sizes
  llvm/lib/CodeGen/AsmPrinter/DwarfUnit.cpp
  llvm/test/DebugInfo/dynamic-bitfield.ll
Labels: none

Expose dynamic sizes and offsets via DIBuilder
  llvm/include/llvm/IR/DIBuilder.h
  llvm/lib/IR/DIBuilder.cpp
  llvm/unittests/IR/DebugInfoTest.cpp
Labels: none

!fixup address latest comments, thanks!
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/CodeGen/SwitchLoweringUtils.cpp
Labels: none

[llvm] Define __has_warning in Compiler.h if it isn't defined
  llvm/include/llvm/Support/Compiler.h
Labels: none

[llvm] Define __has_warning in Compiler.h if it isn't defined
  llvm/include/llvm/Support/Compiler.h
Labels: none

Update output
  clang/test/CodeGen/ubsan-function-debuginfo.c
  clang/test/CodeGen/unsigned-promotion-debuginfo.c
Labels: none

[CIR] Allow use different Int types together in Vec Shift Op (#141111)
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/test/CIR/CodeGen/vector-ext.cpp
  clang/test/CIR/CodeGen/vector.cpp
  clang/test/CIR/IR/invalid-vector-shift-wrong-result-type.cir
Labels: none

[CIR] Allow use different Int types together in Vec Shift Op (#141111)
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/test/CIR/CodeGen/vector-ext.cpp
  clang/test/CIR/CodeGen/vector.cpp
  clang/test/CIR/IR/invalid-vector-shift-wrong-result-type.cir
Labels: none

!fixup add missing GISel implementation.
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/test/CodeGen/AArch64/switch-cases-to-branch-and.ll
Labels: none

[Matrix] Propagate shape information through all binops (#141705)
  llvm/lib/Transforms/Scalar/LowerMatrixIntrinsics.cpp
  llvm/test/Transforms/LowerMatrixIntrinsics/binop.ll
Labels: none

[Matrix] Propagate shape information through all binops (#141705)
  llvm/lib/Transforms/Scalar/LowerMatrixIntrinsics.cpp
  llvm/test/Transforms/LowerMatrixIntrinsics/binop.ll
Labels: none

Apply clang-format
  llvm/lib/Target/AMDGPU/AMDGPUISelLowering.cpp
Labels: none

Fix ProcessGDBRemote::HandleGPUActions() to return an error.
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.cpp
Labels: none

Remove comment
  libcxx/include/__config
Labels: none

[libc++][lldb-dap][test] Fix CI for bootstrapping-build (#141543)
  lldb/packages/Python/lldbsuite/test/tools/lldb-dap/dap_server.py
Labels: python

[libc++][lldb-dap][test] Fix CI for bootstrapping-build (#141543)
  lldb/packages/Python/lldbsuite/test/tools/lldb-dap/dap_server.py
Labels: python

MI-400: t16/fake16 VOP3 tests (#2370)
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_dpp16-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_dpp8-fake16.s
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3_dpp8.txt
Labels: none

[libc++] Run macOS jobs after the Stage 2 CI
  .github/workflows/libcxx-build-and-test.yaml
Labels: misc

Bump version to 20.1.7
  cmake/Modules/LLVMVersion.cmake
Labels: none

[DenseMap] Fix constness issues with lookup_or (#139247)
  llvm/include/llvm/ADT/DenseMap.h
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/unittests/ADT/DenseMapTest.cpp
Labels: none

[DenseMap] Fix constness issues with lookup_or (#139247)
  llvm/include/llvm/ADT/DenseMap.h
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/unittests/ADT/DenseMapTest.cpp
Labels: none

[lld] Use llvm::count_if (NFC) (#141519)
  lld/wasm/InputChunks.cpp
Labels: none

[lld] Use llvm::count_if (NFC) (#141519)
  lld/wasm/InputChunks.cpp
Labels: none

[mlir] SYCL runtime wrapper: add memcpy support. (#141647)
  mlir/lib/ExecutionEngine/SyclRuntimeWrappers.cpp
  mlir/test/Integration/GPU/SYCL/gpu-memcpy-addf32-to-spirv.mlir
Labels: none

Address Review Feedback
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVAsmBackend.cpp
  llvm/test/MC/RISCV/xqcibi-relocations.s
  llvm/test/MC/RISCV/xqcilb-relocations.s
  llvm/test/MC/RISCV/xqcili-relocations.s
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
