Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

FIx bfscale intrinsics
  clang/include/clang/Basic/arm_sve.td
  clang/test/CodeGen/AArch64/sme2-intrinsics/acle_sme2_bfscale.c
  llvm/include/llvm/IR/IntrinsicsAArch64.td
  llvm/test/CodeGen/AArch64/sme2-intrinsics-bfscale.ll
Labels: none

Simplify regex
  flang-rt/lib/runtime/CMakeLists.txt
Labels: none

[TableGen] Use size_t for SubRegIndicesSize (NFC)
  llvm/utils/TableGen/RegisterInfoEmitter.cpp
Labels: none

Update llvm/test/CodeGen/Hexagon/swp-epilog-phi9.ll
  llvm/test/CodeGen/Hexagon/swp-epilog-phi9.ll
Labels: none

[lldb][windows] make PseudoTerminal::GetPTY return a shared pointer
  lldb/include/lldb/Host/ProcessLaunchInfo.h
  lldb/source/Plugins/Platform/MacOSX/PlatformAppleSimulator.cpp
  lldb/source/Plugins/Platform/MacOSX/objcxx/PlatformiOSSimulatorCoreSimulatorSupport.mm
  lldb/source/Plugins/Platform/POSIX/PlatformPOSIX.cpp
  lldb/source/Plugins/Platform/QemuUser/PlatformQemuUser.cpp
  lldb/source/Plugins/Process/AIX/NativeProcessAIX.cpp
  lldb/source/Plugins/Process/FreeBSD/NativeProcessFreeBSD.cpp
  lldb/source/Plugins/Process/Linux/NativeProcessLinux.cpp
  lldb/source/Plugins/Process/NetBSD/NativeProcessNetBSD.cpp
  lldb/source/Plugins/Process/Windows/Common/NativeProcessWindows.cpp
  lldb/source/Target/Platform.cpp
Labels: none

[IPT] Remove ipt.NumInstScanned statistic (#168515)
  llvm/lib/Analysis/InstructionPrecedenceTracking.cpp
Labels: none

[flang] simplify pointer assignments
  flang/lib/Lower/Bridge.cpp
  flang/lib/Optimizer/Builder/HLFIRTools.cpp
  flang/test/Lower/HLFIR/allocatable-and-pointer-status-change.f90
  flang/test/Lower/HLFIR/issue80884.f90
  flang/test/Lower/HLFIR/proc-pointer-comp-nopass.f90
  flang/test/Lower/HLFIR/procedure-pointer.f90
  flang/test/Lower/OpenMP/parallel-private-clause.f90
  flang/test/Lower/volatile3.f90
  flang/test/Lower/volatile4.f90
Labels: none

[llvm][nfc] Ignore OpenAI Codex artifacts
  .gitignore
Labels: misc

[lldb][windows] refactor CreateProcessW setup
  lldb/include/lldb/Host/windows/ProcessLauncherWindows.h
  lldb/source/Host/windows/ProcessLauncherWindows.cpp
Labels: none

Use static_cast
  llvm/include/llvm/Support/BranchProbability.h
Labels: none

[X86] X86ISelDAGToDAG - don't let ADD/SUB(X,1) -> SUB/ADD(X,-1) constant fold (#168726)
  llvm/lib/Target/X86/X86ISelDAGToDAG.cpp
  llvm/test/CodeGen/X86/pr168594.ll
Labels: none

Rework changes
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
Labels: none

Removing the irrelevant test and comments
  llvm/lib/CodeGen/MachinePipeliner.cpp
  llvm/test/CodeGen/Hexagon/swp-invalid-dag.ll
Labels: none

[DebugMetadata][DwarfDebug] Support function-local types in lexical block scopes (4/7)
  clang/test/DebugInfo/CXX/access.cpp
  clang/test/DebugInfo/CXX/anon-union-vars.cpp
  clang/test/DebugInfo/CXX/codeview-unnamed.cpp
  clang/test/DebugInfo/CXX/gline-tables-only-codeview.cpp
  clang/test/DebugInfo/CXX/lambda-this.cpp
  clang/test/DebugInfo/Generic/codeview-unnamed.c
  clang/test/DebugInfo/Generic/unused-types.c
  clang/test/DebugInfo/Generic/unused-types.cpp
  llvm/include/llvm/IR/DIBuilder.h
  llvm/include/llvm/IR/DebugInfoMetadata.h
  llvm/lib/Bitcode/Reader/MetadataLoader.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfCompileUnit.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfCompileUnit.h
  llvm/lib/CodeGen/AsmPrinter/DwarfDebug.cpp
  llvm/lib/IR/DIBuilder.cpp
  llvm/lib/IR/DebugInfo.cpp
  llvm/lib/IR/DebugInfoMetadata.cpp
  llvm/lib/IR/Verifier.cpp
  llvm/lib/Transforms/Utils/CloneFunction.cpp
  llvm/test/Bitcode/clone-local-types.ll
  llvm/test/Bitcode/upgrade-cu-locals.ll
  llvm/test/Bitcode/upgrade-cu-locals.ll.bc
  llvm/test/DebugInfo/Generic/inlined-local-type.ll
  llvm/test/DebugInfo/Generic/lexical-block-retained-types.ll
  llvm/test/DebugInfo/Generic/lexical-block-types.ll
  llvm/test/DebugInfo/Generic/verifier-invalid-disubprogram.ll
  llvm/test/DebugInfo/X86/local-type-as-template-parameter.ll
  llvm/test/DebugInfo/X86/split-dwarf-local-import.ll
  llvm/test/DebugInfo/X86/split-dwarf-local-import2.ll
  llvm/test/DebugInfo/X86/split-dwarf-local-import3.ll
  llvm/unittests/Transforms/Utils/CloningTest.cpp
Labels: none

Reland "[DebugMetadata][DwarfDebug] Support function-local types in lexical block scopes (4/7)"
  clang/test/DebugInfo/CXX/lambda-capture-packs.cpp
  llvm/include/llvm/AsmParser/LLParser.h
  llvm/include/llvm/IR/DebugInfoMetadata.h
  llvm/lib/AsmParser/LLParser.cpp
  llvm/lib/Bitcode/Reader/MetadataLoader.cpp
  llvm/lib/IR/DIBuilder.cpp
  llvm/lib/IR/DebugInfoMetadata.cpp
  llvm/lib/IR/Verifier.cpp
  llvm/test/Bitcode/local-type-scope.ll
  llvm/test/DebugInfo/Generic/split-dwarf-local-import.ll
  llvm/test/DebugInfo/Generic/split-dwarf-local-import2.ll
  llvm/test/DebugInfo/Generic/split-dwarf-local-import3.ll
  llvm/test/DebugInfo/Inputs/cleanup-retained-nodes.ll
  llvm/test/DebugInfo/X86/cleanup-retained-nodes.ll
  llvm/test/DebugInfo/X86/llparser-cleanup-retained-nodes.ll
Labels: none

[lldb][windows] add color to the Python.dll not found error (#168718)
  lldb/tools/driver/Driver.cpp
Labels: none

[compiler-rt] [libFuzzer] Fix merge-posix test (again) (#168639)
  compiler-rt/test/fuzzer/merge-posix.test
Labels: none

Use DAG.getNeutralElement()
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve-bf16-arith.ll
Labels: none

[AArch64][SVE] Add custom lowering for bfloat FMUL (with +bf16)
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.h
  llvm/test/CodeGen/AArch64/sve-bf16-arith.ll
Labels: none

Fixups
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
Labels: none

[ObjectYAML][CodeView] Include inline annotation data (#168211)
  llvm/lib/ObjectYAML/CodeViewYAMLSymbols.cpp
  llvm/test/tools/llvm-pdbutil/inline-annotations.test
Labels: none

[clang-format] Add xxxMaxDigitsRemove to IntegerLiteralSeparator
  clang/docs/ClangFormatStyleOptions.rst
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Format/Format.h
  clang/lib/Format/Format.cpp
  clang/lib/Format/IntegerLiteralSeparatorFixer.cpp
  clang/unittests/Format/ConfigParseTest.cpp
  clang/unittests/Format/IntegerLiteralSeparatorTest.cpp
Labels: none

Update bf16-combines checks
  llvm/test/CodeGen/AArch64/sve-bf16-combines.ll
Labels: none

Add extra assert
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
Labels: none

Fix typo
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
Labels: none

Fixups
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve-bf16-arith.ll
Labels: none

[LLDB][NativePDB] Check function type before casting
  lldb/source/Plugins/SymbolFile/NativePDB/PdbAstBuilder.cpp
Labels: none

Reapply "[LV] Use ExtractLane(LastActiveLane, V) live outs when tail-folding. (#149042)"
  llvm/lib/Transforms/Vectorize/LoopVectorizationLegality.cpp
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanAnalysis.cpp
  llvm/lib/Transforms/Vectorize/VPlanPatternMatch.h
  llvm/lib/Transforms/Vectorize/VPlanPredicator.cpp
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanUnroll.cpp
  llvm/lib/Transforms/Vectorize/VPlanVerifier.cpp
  llvm/test/Transforms/LoopVectorize/RISCV/dead-ops-cost.ll
  llvm/test/Transforms/LoopVectorize/RISCV/divrem.ll
  llvm/test/Transforms/LoopVectorize/RISCV/first-order-recurrence-scalable-vf1.ll
  llvm/test/Transforms/LoopVectorize/RISCV/scalable-tailfold.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-fixed-order-recurrence.ll
  llvm/test/Transforms/LoopVectorize/RISCV/uniform-load-store.ll
  llvm/test/Transforms/LoopVectorize/X86/small-size.ll
  llvm/test/Transforms/LoopVectorize/first-order-recurrence-tail-folding.ll
  llvm/test/Transforms/LoopVectorize/optsize.ll
  llvm/test/Transforms/LoopVectorize/pr43166-fold-tail-by-masking.ll
  llvm/test/Transforms/LoopVectorize/use-scalar-epilogue-if-tp-fails.ll
Labels: none

Set isZeroPoison to false
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/simple_early_exit.ll
  llvm/test/Transforms/LoopVectorize/AArch64/single-early-exit-interleave.ll
  llvm/test/Transforms/LoopVectorize/RISCV/dead-ops-cost.ll
  llvm/test/Transforms/LoopVectorize/RISCV/divrem.ll
  llvm/test/Transforms/LoopVectorize/RISCV/first-order-recurrence-scalable-vf1.ll
  llvm/test/Transforms/LoopVectorize/RISCV/scalable-tailfold.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-fixed-order-recurrence.ll
  llvm/test/Transforms/LoopVectorize/RISCV/uniform-load-store.ll
  llvm/test/Transforms/LoopVectorize/X86/small-size.ll
  llvm/test/Transforms/LoopVectorize/first-order-recurrence-tail-folding.ll
  llvm/test/Transforms/LoopVectorize/optsize.ll
  llvm/test/Transforms/LoopVectorize/pr43166-fold-tail-by-masking.ll
  llvm/test/Transforms/LoopVectorize/single-early-exit-cond-poison.ll
  llvm/test/Transforms/LoopVectorize/single-early-exit-deref-assumptions.ll
  llvm/test/Transforms/LoopVectorize/single-early-exit-interleave.ll
  llvm/test/Transforms/LoopVectorize/single_early_exit.ll
  llvm/test/Transforms/LoopVectorize/single_early_exit_live_outs.ll
  llvm/test/Transforms/LoopVectorize/tail-folding-vectorization-factor-1.ll
  llvm/test/Transforms/LoopVectorize/use-scalar-epilogue-if-tp-fails.ll
  llvm/test/Transforms/LoopVectorize/vector-loop-backedge-elimination-early-exit.ll
Labels: none

[llvm-cov] Use a range-based for loop (NFC) (#168671)
  llvm/tools/llvm-cov/SourceCoverageViewHTML.cpp
Labels: none

[llvm-profdata] Use a range-based for loop (NFC) (#168672)
  llvm/tools/llvm-profdata/llvm-profdata.cpp
Labels: none

Address feedback
  mlir/lib/Dialect/SPIRV/IR/ControlFlowOps.cpp
  mlir/lib/Dialect/SPIRV/IR/SPIRVOpDefinition.cpp
  mlir/lib/Target/SPIRV/Serialization/SerializeOps.cpp
Labels: none

[Support] Use StringMap::contains (NFC) (#168673)
  llvm/lib/Support/SpecialCaseList.cpp
Labels: none

🍒[clang][DependencyScanning] Implementation of CompilerInstanceWithContext to Improve By-Name Queries (#11821)
  clang/include/clang/Frontend/CompilerInstance.h
  clang/include/clang/Frontend/FrontendActions.h
  clang/include/clang/Lex/Preprocessor.h
  clang/include/clang/Tooling/DependencyScanning/DependencyScanningTool.h
  clang/include/clang/Tooling/DependencyScanning/DependencyScanningWorker.h
  clang/include/clang/Tooling/DependencyScanning/ModuleDepCollector.h
  clang/lib/Frontend/FrontendActions.cpp
  clang/lib/Tooling/DependencyScanning/DependencyScannerImpl.cpp
  clang/lib/Tooling/DependencyScanning/DependencyScannerImpl.h
  clang/lib/Tooling/DependencyScanning/DependencyScanningTool.cpp
  clang/lib/Tooling/DependencyScanning/DependencyScanningWorker.cpp
  clang/lib/Tooling/DependencyScanning/ModuleDepCollector.cpp
  clang/test/ClangScanDeps/modules-cas-full-by-mod-name.c
  clang/test/ClangScanDeps/modules-full-by-mod-name.c
  clang/test/ClangScanDeps/modules-full-by-mult-mod-names.c
  clang/test/ClangScanDeps/modules-include-tree-by-mod-name.c
  clang/test/Index/Core/scan-deps-by-mod-name.m
  clang/test/Modules/transitive-system.test
  clang/tools/clang-scan-deps/ClangScanDeps.cpp
  clang/tools/clang-scan-deps/Opts.td
  clang/tools/libclang/CDependencies.cpp
Labels: none

[flang] Tokenize all -D macro bodies, and do it better (#168116)
  flang/include/flang/Parser/characters.h
  flang/include/flang/Parser/preprocessor.h
  flang/lib/Parser/preprocessor.cpp
  flang/test/Preprocessing/bug168077.F90
Labels: none

[flang] Fix crash in UseErrorDetails construction case (#168126)
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/bug168099.f90
Labels: none

[flang][runtime] Control stream truncation via runtime environment (#168415)
  flang-rt/include/flang-rt/runtime/environment.h
  flang-rt/lib/runtime/environment.cpp
  flang-rt/lib/runtime/unit.cpp
  flang/docs/Extensions.md
  flang/docs/RuntimeEnvironment.md
Labels: none

feedback
  compiler-rt/test/asan/TestCases/Darwin/lit.local.cfg.py
Labels: python

[𝘀𝗽𝗿] changes introduced through rebase
  compiler-rt/test/asan/TestCases/Darwin/lit.local.cfg.py
Labels: python

[mlir][LLVM] Resync memory effect attribute with LLVM IR (#168568)
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/test/CIR/CodeGen/call.c
  flang/lib/Optimizer/Transforms/SetRuntimeCallAttributes.cpp
  flang/test/Transforms/set-runtime-call-attributes.fir
  mlir/include/mlir/Dialect/LLVMIR/LLVMAttrDefs.td
  mlir/lib/Conversion/FuncToLLVM/FuncToLLVM.cpp
  mlir/lib/Conversion/GPUToLLVMSPV/GPUToLLVMSPV.cpp
  mlir/lib/Conversion/XeVMToLLVM/XeVMToLLVM.cpp
  mlir/lib/Dialect/LLVMIR/IR/LLVMAttrs.cpp
  mlir/lib/Target/LLVMIR/Dialect/LLVMIR/LLVMToLLVMIRTranslation.cpp
  mlir/lib/Target/LLVMIR/ModuleImport.cpp
  mlir/lib/Target/LLVMIR/ModuleTranslation.cpp
  mlir/test/Conversion/FuncToLLVM/convert-funcs.mlir
  mlir/test/Conversion/XeVMToLLVM/xevm-to-llvm.mlir
  mlir/test/Dialect/LLVMIR/func.mlir
  mlir/test/Dialect/LLVMIR/inlining.mlir
  mlir/test/Dialect/LLVMIR/roundtrip.mlir
  mlir/test/Target/LLVMIR/Import/function-attributes.ll
  mlir/test/Target/LLVMIR/Import/instructions.ll
  mlir/test/Target/LLVMIR/llvmir.mlir
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
