Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

review
  llvm/include/llvm/Transforms/Scalar/Reassociate.h
  llvm/lib/Transforms/Scalar/Reassociate.cpp
Labels: none

!fixup integrate with exist test file
  lld/test/ELF/riscv-feature-zicfilp-unlabeled.s
  lld/test/ELF/riscv-plt-cfi-lp-unlabeled.s
Labels: none

apply change for DAG first
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/atomics-system-scope.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointer-atomicrmw-fmax.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointer-atomicrmw-fmin.ll
  llvm/test/CodeGen/AMDGPU/clamp.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fmax.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fmin.ll
  llvm/test/CodeGen/AMDGPU/flat-saddr-atomics.ll
  llvm/test/CodeGen/AMDGPU/fmax3-maximumnum.ll
  llvm/test/CodeGen/AMDGPU/fmaxnum.ll
  llvm/test/CodeGen/AMDGPU/fmin3-minimumnum.ll
  llvm/test/CodeGen/AMDGPU/fmin3.ll
  llvm/test/CodeGen/AMDGPU/fminnum.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fmax.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fmin.ll
  llvm/test/CodeGen/AMDGPU/local-atomicrmw-fmax.ll
  llvm/test/CodeGen/AMDGPU/local-atomicrmw-fmin.ll
  llvm/test/CodeGen/AMDGPU/maximumnum.ll
  llvm/test/CodeGen/AMDGPU/minimumnum.ll
  llvm/test/CodeGen/AMDGPU/minmax.ll
  llvm/test/CodeGen/AMDGPU/minmax3-tree-reduction.ll
  llvm/test/CodeGen/AMDGPU/packed-fneg-fsub-fp16.ll
  llvm/test/CodeGen/AMDGPU/vector-reduce-fmax.ll
  llvm/test/CodeGen/AMDGPU/vector-reduce-fmin.ll
Labels: none

[mlir][tosa] Check same input/output types in pooling ops verifier (#203565)
  mlir/lib/Dialect/Tosa/IR/TosaOps.cpp
  mlir/test/Dialect/Tosa/verifier.mlir
Labels: none

[EmbeddedJIT] Add SRE taskpool compile scheduler
  build.sh
  jit_design_doc/EJIT_SRE_TASKPOOL.md
  llvm/CMakeLists.txt
  llvm/include/llvm/ExecutionEngine/EJIT/EJit.h
  llvm/include/llvm/ExecutionEngine/EJIT/EJitAtomic.h
  llvm/include/llvm/ExecutionEngine/EJIT/EJitCompileDriver.h
  llvm/include/llvm/ExecutionEngine/EJIT/EJitRuntime.h
  llvm/include/llvm/ExecutionEngine/EJIT/EJitSreQueue.h
  llvm/include/llvm/ExecutionEngine/EJIT/EJitTaskPool.h
  llvm/lib/ExecutionEngine/EJIT/CMakeLists.txt
  llvm/lib/ExecutionEngine/EJIT/EJit.cpp
  llvm/lib/ExecutionEngine/EJIT/EJitCompileDriver.cpp
  llvm/lib/ExecutionEngine/EJIT/EJitRuntime.cpp
  llvm/lib/ExecutionEngine/EJIT/EJitSreQueue.cpp
  llvm/lib/ExecutionEngine/EJIT/EJitTaskPool.cpp
  llvm/unittests/ExecutionEngine/EJIT/CMakeLists.txt
  llvm/unittests/ExecutionEngine/EJIT/EJitTaskPoolTest.cpp
Labels: none

[EJIT] docs: refine taskpool concurrency semantics and critical-section analysis
  jit_design_doc/EJIT_SRE_TASKPOOL.md
Labels: none

[EJIT] docs: rework taskpool worker model and component layering
  jit_design_doc/EJIT_SRE_TASKPOOL.md
Labels: none

[EmbeddedJIT] Harden taskpool inter-core semantics
  jit_design_doc/EJIT_SRE_TASKPOOL.md
  llvm/include/llvm/ExecutionEngine/EJIT/EJitIpcLock.h
  llvm/include/llvm/ExecutionEngine/EJIT/EJitRuntime.h
  llvm/include/llvm/ExecutionEngine/EJIT/EJitTaskPool.h
  llvm/lib/ExecutionEngine/EJIT/CMakeLists.txt
  llvm/lib/ExecutionEngine/EJIT/EJitIpcLock.cpp
  llvm/lib/ExecutionEngine/EJIT/EJitRuntime.cpp
  llvm/lib/ExecutionEngine/EJIT/EJitTaskPool.cpp
  llvm/unittests/ExecutionEngine/EJIT/CMakeLists.txt
  llvm/unittests/ExecutionEngine/EJIT/EJitTaskPoolTest.cpp
Labels: none

[EmbeddedJIT] Harden taskpool platform hooks and traces
  jit_design_doc/EJIT_SRE_TASKPOOL.md
  llvm/lib/ExecutionEngine/EJIT/EJitSreQueue.cpp
  llvm/lib/ExecutionEngine/EJIT/EJitTaskPool.cpp
Labels: none

[EJIT] docs: reorganize taskpool design document with logical structure
  jit_design_doc/EJIT_SRE_TASKPOOL.md
Labels: none

[DAGCombiner][NVPTX] Avoid forming illegal-typed shuffles after type legalization
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/Target/NVPTX/NVPTXISelLowering.h
  llvm/test/CodeGen/NVPTX/insert-vector-elt-shuffle-i8.ll
Labels: none

Add explicit flag for caching lex mode
  clang/include/clang/Lex/Preprocessor.h
  clang/lib/Lex/PPCaching.cpp
  clang/lib/Lex/PPLexerChange.cpp
  clang/lib/Lex/Preprocessor.cpp
  clang/lib/Parse/ParseStmt.cpp
Labels: none

[DebugInfo] Address DW_OP_const review comments
  llvm/lib/CodeGen/AsmPrinter/DwarfDebug.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfExpression.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfExpression.h
  llvm/test/DebugInfo/X86/constant-loclist.ll
Labels: none

[clang][bytecode] Update high-level documentation (#202596)
  clang/docs/ConstantInterpreter.rst
Labels: none

Address code review feedback #2
  mlir/include/mlir/Dialect/Bufferization/IR/BufferizableOpInterface.h
  mlir/test/lib/Dialect/Test/TestOpDefs.cpp
  mlir/test/lib/Dialect/Test/TestOps.td
Labels: none

[Clang][AIX] Handle -mloadtime-comment-vars in global var emission
  clang/docs/LanguageExtensions.rst
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/CodeGen/CodeGenModule.h
  clang/test/CodeGen/loadtime-comment-vars-cxx.cpp
  clang/test/CodeGen/loadtime-comment-vars.c
  clang/test/Driver/mloadtime-comment-vars.c
Labels: none

clang: Use the effective triple string for offload jobs
  clang/lib/Driver/ToolChains/Clang.cpp
Labels: none

[mlir][spirv] Re-enable bf16/fp8 for vector composite ops (#204848)
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVBase.td
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVCompositeOps.td
  mlir/test/Dialect/SPIRV/IR/composite-ops.mlir
Labels: none

Revert "Amend DXIL lowering to avoid Undef values"
  llvm/lib/Target/DirectX/DXILOpLowering.cpp
  llvm/test/CodeGen/DirectX/Sample.ll
  llvm/test/CodeGen/DirectX/SampleBias.ll
  llvm/test/CodeGen/DirectX/SampleGrad.ll
  llvm/test/CodeGen/DirectX/SampleLevel.ll
  llvm/test/CodeGen/DirectX/Texture2DArray-SampleBias.ll
  llvm/test/CodeGen/DirectX/Texture2DArray-SampleGrad.ll
Labels: none

[ARM] Fix Machine Outliner crash when tBLXr uses non-tcGPR register (#200684)
  llvm/lib/Target/ARM/ARMBaseInstrInfo.cpp
  llvm/lib/Target/ARM/ARMRegisterInfo.td
  llvm/test/CodeGen/ARM/machine-outliner-thunk-tcgpr.mir
Labels: none

AMDGPU/GlobalISel: Use AMDGPURegBankSelect + AMDGPURegBankLegalize by default
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/regbankselect-mui-salu-float.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/regbankselect-mui.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.bitreplicate.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.wqm.vote.ll
  llvm/test/CodeGen/AMDGPU/maximumnum.ll
  llvm/test/CodeGen/AMDGPU/minimumnum.ll
  llvm/test/CodeGen/AMDGPU/packed-u64.ll
Labels: none

asdf
  clang/lib/AST/ByteCode/Interp.cpp
  clang/test/AST/ByteCode/dynamic-cast.cpp
Labels: none

Notes added by 'git notes add'
  5dc32ee4937c38d63aac4c6df131d7147c37e537
Labels: none

[mlir][bufferization] Introduce reconcileBufferTypeMismatchFn hook (#202667)
  mlir/include/mlir/Dialect/Bufferization/IR/BufferizableOpInterface.h
  mlir/include/mlir/Dialect/Bufferization/IR/UnstructuredControlFlow.h
  mlir/lib/Dialect/Arith/Transforms/BufferizableOpInterfaceImpl.cpp
  mlir/lib/Dialect/Bufferization/IR/BufferizableOpInterface.cpp
  mlir/lib/Dialect/SCF/Transforms/BufferizableOpInterfaceImpl.cpp
  mlir/test/Dialect/Arith/one-shot-bufferize-memory-space-invalid.mlir
  mlir/test/Dialect/Bufferization/Transforms/test-one-shot-module-bufferize.mlir
  mlir/test/Dialect/ControlFlow/one-shot-bufferize-invalid.mlir
  mlir/test/Dialect/SCF/one-shot-bufferize-invalid.mlir
  mlir/test/lib/Dialect/Bufferization/TestOneShotModuleBufferize.cpp
  mlir/test/lib/Dialect/Test/TestOpDefs.cpp
  mlir/test/lib/Dialect/Test/TestOps.td
Labels: none

Clarify comment
  clang/lib/StaticAnalyzer/Core/ExprEngine.cpp
Labels: none

[llvm-objcopy] Fix typo
  llvm/docs/ReleaseNotes.md
Labels: none

run-lines-indent
  openmp/runtime/test/env/omp_default_device_all_rejected.c
  openmp/runtime/test/env/omp_num_threads_all_demo.c
Labels: openmp

verifier: checkUnsignedBaseTenFuncAttr
  llvm/lib/IR/Verifier.cpp
  llvm/test/Verifier/invalid-tail-pad-attr.ll
Labels: none

langref
  llvm/docs/LangRef.rst
Labels: none

use getFnAttributeAsParsedInteger
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
Labels: none

[dyndbg][AsmPrinter] Add tail padding attributes
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/test/CodeGen/X86/attr-tail-pad.ll
Labels: none

emit before .size
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/test/CodeGen/X86/attr-tail-pad.ll
Labels: none

improve test coverage
  llvm/test/CodeGen/X86/attr-tail-pad.ll
Labels: none

Convert test to mir
  llvm/test/CodeGen/AArch64/GlobalISel/freeze-push.ll
  llvm/test/CodeGen/AArch64/GlobalISel/freeze-push.mir
Labels: none

[lldb] Add an API test for ignoring notification packets
  lldb/packages/Python/lldbsuite/test/gdbclientutils.py
  lldb/test/API/functionalities/gdb_remote_client/TestIgnoringNotifications.py
Labels: python

Address review comments
  lld/ELF/Writer.cpp
Labels: none

[DAG] Fix illegal type in srl(bitcast(build_vector)) fold
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/test/CodeGen/RISCV/rvp-srl-bitcast-bv.ll
Labels: none

[NFC][AArch64][MCA] Rename A55/A57 mca tests (#204551)
  llvm/test/tools/llvm-mca/AArch64/Cortex/A55-in-order-bottleneck-analysis.s
  llvm/test/tools/llvm-mca/AArch64/Cortex/A57-direct-branch.s
  llvm/test/tools/llvm-mca/AArch64/Cortex/A57-forwarding.s
  llvm/test/tools/llvm-mca/AArch64/Cortex/A57-shifted-register.s
Labels: none

[NFC][llvm] simplify convertWideToUTF8 overloads (#204552)
  llvm/include/llvm/Support/ConvertUTF.h
  llvm/lib/Support/ConvertUTFWrapper.cpp
Labels: none

resolve_kmpc_add_helpers
  openmp/runtime/src/dllexports
  openmp/runtime/src/exports_so.txt
  openmp/runtime/src/kmp_device_env.cpp
  openmp/runtime/src/kmp_device_env.h
  openmp/runtime/test/env/omp_num_threads_all_demo.c
  openmp/runtime/test/env/omp_num_threads_all_set_defaults.c
  openmp/runtime/test/env/omp_num_threads_dev_all_fallback.c
  openmp/runtime/test/env/omp_num_threads_dev_overflow.c
  openmp/runtime/test/env/omp_num_threads_dev_resolve.c
  openmp/runtime/test/env/omp_num_threads_host_overrides_all.c
  openmp/runtime/test/env/omp_num_threads_host_vs_device.c
  openmp/runtime/test/env/omp_num_threads_warnings_off.c
Labels: openmp
