Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[AMDGPU] Baseline fabs.bf16.ll tests. NFC. (#142907)
  llvm/test/CodeGen/AMDGPU/fabs.bf16.ll
Labels: none

[AMDGPU] Baseline fabs.bf16.ll tests. NFC. (#142907)
  llvm/test/CodeGen/AMDGPU/fabs.bf16.ll
Labels: none

[AMDGPU] Make <2 x bfloat> fabs legal
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/lib/Target/AMDGPU/SIInstructions.td
  llvm/test/CodeGen/AMDGPU/fabs.bf16.ll
Labels: none

[AMDGPU] Baseline fneg-fabs.bf16.ll tests. NFC.
  llvm/test/CodeGen/AMDGPU/fneg-fabs.bf16.ll
Labels: none

Add item to release notes
  lld/docs/ReleaseNotes.rst
Labels: none

Add SVE zero RHS tests.
  llvm/test/Transforms/InstCombine/AArch64/aes-intrinsics.ll
Labels: none

Xtensa: Fix clang lifetime warning
  llvm/lib/Target/Xtensa/XtensaISelDAGToDAG.cpp
Labels: none

Xtensa: Fix clang lifetime warning
  llvm/lib/Target/Xtensa/XtensaISelDAGToDAG.cpp
Labels: none

[BOLT] Create marker for source changes in nfc-mode testing.
  bolt/utils/nfc-check-setup.py
Labels: python

[libclc] Add (fast) normalize to CLC; add half overloads (#139759)
  libclc/clc/include/clc/geometric/clc_fast_normalize.h
  libclc/clc/include/clc/geometric/clc_normalize.h
  libclc/clc/lib/generic/SOURCES
  libclc/clc/lib/generic/geometric/clc_fast_normalize.cl
  libclc/clc/lib/generic/geometric/clc_fast_normalize.inc
  libclc/clc/lib/generic/geometric/clc_normalize.cl
  libclc/clc/lib/generic/geometric/clc_normalize.inc
  libclc/opencl/lib/generic/geometric/fast_normalize.cl
  libclc/opencl/lib/generic/geometric/fast_normalize.inc
Labels: none

[libclc] Add (fast) normalize to CLC; add half overloads (#139759)
  libclc/clc/include/clc/geometric/clc_fast_normalize.h
  libclc/clc/include/clc/geometric/clc_normalize.h
  libclc/clc/lib/generic/SOURCES
  libclc/clc/lib/generic/geometric/clc_fast_normalize.cl
  libclc/clc/lib/generic/geometric/clc_fast_normalize.inc
  libclc/clc/lib/generic/geometric/clc_normalize.cl
  libclc/clc/lib/generic/geometric/clc_normalize.inc
  libclc/opencl/lib/generic/geometric/fast_normalize.cl
  libclc/opencl/lib/generic/geometric/fast_normalize.inc
Labels: none

You shall now pass!
  clang/test/CodeGen/embed-bitcode-marker-with-nonzero-as.c
Labels: none

Fix style
  lld/ELF/Relocations.cpp
Labels: none

[clang-repl] Mark disambiguate-decl-stmt.cpp as UNSUPPORTED on ppc64le and AIX
  clang/test/Interpreter/disambiguate-decl-stmt.cpp
Labels: none

[CodeGen] Fix a warning
  llvm/lib/CodeGen/MacroFusion.cpp
Labels: none

[CodeGen] Fix a warning
  llvm/lib/CodeGen/MacroFusion.cpp
Labels: none

[NFC][libclc] Simplify clc_dot and dot implementation
  libclc/clc/lib/generic/geometric/clc_dot.cl
  libclc/clc/lib/generic/geometric/clc_dot.inc
  libclc/opencl/lib/generic/geometric/dot.cl
Labels: none

[Support] Properly zero initialize CPU set when querying affinity
  llvm/lib/Support/Unix/Threading.inc
Labels: none

Add AllowFalseEvaluated to clang-tidy noexcept-move-constructor check
  clang-tools-extra/clang-tidy/performance/NoexceptFunctionBaseCheck.cpp
  clang-tools-extra/clang-tidy/performance/NoexceptFunctionBaseCheck.h
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/performance/noexcept-move-constructor.rst
  clang-tools-extra/test/clang-tidy/checkers/performance/noexcept-move-constructor-allow-false-evaluated.cpp
Labels: none

Add tests
  llvm/test/Transforms/InstCombine/pr125228.ll
Labels: none

Clone instruction to add nuw flag
  llvm/lib/Transforms/InstCombine/InstCombineAddSub.cpp
  llvm/test/Transforms/InstCombine/sub-gep.ll
Labels: none

[CIR] Upstream TernaryOp for VectorType (#142393)
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.h
  clang/test/CIR/CodeGen/vector.cpp
Labels: none

[CIR] Upstream TernaryOp for VectorType (#142393)
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.h
  clang/test/CIR/CodeGen/vector.cpp
Labels: none

feedback
  libcxx/test/libcxx/containers/views/mdspan/extents/assert.conversion.pass.cpp
  libcxx/test/libcxx/containers/views/mdspan/extents/assert.ctor_from_array.pass.cpp
  libcxx/test/libcxx/containers/views/mdspan/extents/assert.ctor_from_integral.pass.cpp
  libcxx/test/libcxx/containers/views/mdspan/extents/assert.ctor_from_span.pass.cpp
  libcxx/test/libcxx/containers/views/mdspan/extents/assert.obs.pass.cpp
  libcxx/test/libcxx/containers/views/mdspan/layout_left/assert.conversion.pass.cpp
  libcxx/test/libcxx/containers/views/mdspan/layout_left/assert.ctor.extents.pass.cpp
  libcxx/test/libcxx/containers/views/mdspan/layout_left/assert.ctor.layout_right.pass.cpp
  libcxx/test/libcxx/containers/views/mdspan/layout_left/assert.ctor.layout_stride.pass.cpp
  libcxx/test/libcxx/containers/views/mdspan/layout_right/assert.conversion.pass.cpp
  libcxx/test/libcxx/containers/views/mdspan/layout_right/assert.ctor.extents.pass.cpp
  libcxx/test/libcxx/containers/views/mdspan/layout_right/assert.ctor.layout_left.pass.cpp
  libcxx/test/libcxx/containers/views/mdspan/layout_right/assert.ctor.layout_stride.pass.cpp
  libcxx/test/libcxx/containers/views/mdspan/layout_stride/assert.ctor.extents_array.pass.cpp
  libcxx/test/libcxx/containers/views/mdspan/layout_stride/assert.ctor.extents_span.pass.cpp
Labels: none

[𝘀𝗽𝗿] changes to main this commit is based on
  libcxx/test/libcxx/containers/views/mdspan/extents/assert.ctor_from_span.pass.cpp
  libcxx/test/libcxx/containers/views/mdspan/layout_stride/assert.ctor.extents_array.pass.cpp
  libcxx/test/libcxx/containers/views/mdspan/layout_stride/assert.ctor.extents_span.pass.cpp
Labels: none

Implement generic llvm.canonicalize.f(32|64).
  llvm/lib/CodeGen/SelectionDAG/LegalizeDAG.cpp
  llvm/lib/CodeGen/TargetLoweringBase.cpp
Labels: none

[CIR] Implement folder for VecShuffleDynamicOp (#142315)
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Dialect/Transforms/CIRCanonicalize.cpp
  clang/test/CIR/Transforms/vector-shuffle-dynamic-fold.cir
Labels: none

[CIR] Implement folder for VecShuffleDynamicOp (#142315)
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Dialect/Transforms/CIRCanonicalize.cpp
  clang/test/CIR/Transforms/vector-shuffle-dynamic-fold.cir
Labels: none

formatting
  libcxx/include/mdspan
Labels: none

[𝘀𝗽𝗿] changes introduced through rebase
  libcxx/include/mdspan
Labels: none

[𝘀𝗽𝗿] changes introduced through rebase
  libcxx/include/mdspan
Labels: none

[𝘀𝗽𝗿] changes introduced through rebase
  libcxx/include/mdspan
Labels: none

feedback
  .ci/compute_projects.py
  .ci/compute_projects_test.py
  .ci/monolithic-linux.sh
  .github/workflows/premerge.yaml
Labels: python, misc

[MIRParser] Report register class errors in a deterministic order
  llvm/lib/CodeGen/MIRParser/MIRParser.cpp
  llvm/test/CodeGen/MIR/AMDGPU/virtreg-uses-unallocatable-class.mir
Labels: none

Switch to use internally rebinding
  libcxx/include/deque
Labels: none

[InstCombine] Pre-commit tests
  llvm/test/Transforms/InstCombine/fmul-tan-cos.ll
Labels: none

[InstCombine] Fold tan(x) * cos(x) => sin(x)
  llvm/lib/Transforms/InstCombine/InstCombineMulDivRem.cpp
  llvm/test/Transforms/InstCombine/fmul-tan-cos.ll
Labels: none

[CIR][NFCI] Update RValue class to reflect changes in classic CodeGen (#142779)
  clang/lib/CIR/CodeGen/CIRGenValue.h
Labels: none

[CIR][NFCI] Update RValue class to reflect changes in classic CodeGen (#142779)
  clang/lib/CIR/CodeGen/CIRGenValue.h
Labels: none

[VectorCombine] Add test cases for scalarizing extracts of extends.
  llvm/test/Transforms/VectorCombine/AArch64/ext-extract.ll
Labels: none
