Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

Handle no prototype indirect call targets.
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CGCall.h
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CodeGenModule.cpp
Labels: none

[𝘀𝗽𝗿] changes introduced through rebase
  clang/test/Driver/print-supported-extensions-riscv.c
  clang/test/Driver/riscv-arch.c
  clang/test/Driver/riscv-profiles.c
  llvm/lib/Target/RISCV/AsmParser/RISCVAsmParser.cpp
  llvm/lib/Target/RISCV/Disassembler/RISCVDisassembler.cpp
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVBaseInfo.h
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVMCTargetDesc.cpp
  llvm/lib/Target/RISCV/RISCVFeatures.td
  llvm/lib/Target/RISCV/RISCVInstrInfo.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfo.td
  llvm/lib/Target/RISCV/RISCVInstrInfoC.td
  llvm/lib/Target/RISCV/RISCVInstrInfoD.td
  llvm/lib/Target/RISCV/RISCVInstrInfoF.td
  llvm/lib/Target/RISCV/RISCVInstrInfoQ.td
  llvm/lib/Target/RISCV/RISCVInstrInfoXqci.td
  llvm/lib/Target/RISCV/RISCVInstrInfoY.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZc.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZfh.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZilsd.td
  llvm/lib/Target/RISCV/RISCVMakeCompressible.cpp
  llvm/lib/Target/RISCV/RISCVRegisterInfo.td
  llvm/lib/Target/RISCV/RISCVSchedule.td
  llvm/lib/TargetParser/RISCVISAInfo.cpp
  llvm/test/CodeGen/RISCV/features-info.ll
  llvm/test/MC/RISCV/invalid-attribute.s
  llvm/test/MC/RISCV/rvy-build-attributes.s
  llvm/test/MC/RISCV/rvy-invalid-attributes.s
  llvm/test/MC/RISCV/rvy/rvy-invalid-load-store.s
  llvm/test/MC/RISCV/rvy/rvy-valid-load-store-64.s
  llvm/test/MC/RISCV/rvy/rvy-valid-load-store.s
  llvm/test/MC/RISCV/rvy/rvyc-invalid-load-store.s
  llvm/test/MC/RISCV/rvy/rvyc-valid-load-store-64.s
  llvm/test/MC/RISCV/rvy/rvyc-valid-load-store.s
  llvm/unittests/TargetParser/RISCVISAInfoTest.cpp
Labels: none

[BOLT] Delay indirect call pointer setup (#204229)
  bolt/runtime/instr.cpp
  bolt/test/runtime/setup-race.cpp
Labels: none

[lldb][test] Skip even more unsupported tests on WebAssembly
  lldb/test/API/commands/platform/process/list/TestProcessList.py
  lldb/test/API/commands/process/attach/TestProcessAttach.py
  lldb/test/API/commands/register/register_command/TestRegisters.py
  lldb/test/API/functionalities/deleted-executable/TestDeletedExecutable.py
  lldb/test/API/functionalities/gdb_remote_client/TestPlatformKill.py
  lldb/test/API/functionalities/rerun_and_expr/TestRerunAndExpr.py
  lldb/test/API/functionalities/rerun_and_expr_dylib/TestRerunAndExprDylib.py
  lldb/test/API/lang/c/libc_calls/TestLibcCalls.py
  lldb/test/API/lang/cpp/abi_tag_structors/TestAbiTagStructors.py
  lldb/test/API/lang/cpp/const_static_integral_member/TestConstStaticIntegralMember.py
  lldb/test/API/lang/cpp/decl-from-submodule/TestDeclFromSubmodule.py
  lldb/test/API/lang/cpp/llvm-style/TestLLVMStyle.py
  lldb/test/API/lang/cpp/namespace/TestNamespace.py
  lldb/test/API/lang/cpp/namespace/TestNamespaceLookup.py
  lldb/test/API/lang/cpp/namespace_conflicts/TestNamespaceConflicts.py
  lldb/test/API/lang/cpp/operators/TestCppOperators.py
  lldb/test/API/lang/cpp/printf/TestPrintf.py
  lldb/test/API/lang/cpp/static_members/TestCPPStaticMembers.py
  lldb/test/API/lang/cpp/symbols/TestSymbols.py
  lldb/test/API/lang/cpp/template-diagnostic-hint/TestTemplateDiagnosticHint.py
  lldb/test/API/lang/cpp/template-function/TestTemplateFunctions.py
  lldb/test/API/lang/cpp/this/TestCPPThis.py
  lldb/test/API/lang/cpp/unique-types4/TestUniqueTypes4.py
  lldb/test/API/python_api/hello_world/TestHelloWorld.py
Labels: python

Formatting
  lldb/test/API/lang/cpp/operators/TestCppOperators.py
  lldb/test/API/lang/cpp/printf/TestPrintf.py
  lldb/test/API/lang/cpp/symbols/TestSymbols.py
Labels: python

refactor buildInstDataLayoutWithLane
  mlir/lib/Dialect/XeGPU/Transforms/XeGPULayoutImpl.cpp
Labels: none

Pre-commit tests
  llvm/test/CodeGen/AArch64/GlobalISel/combine-binop-neg.mir
Labels: none

[GISel] CombinerHelper::matchBinopWithNegInner should only look for not on the LHS of G_SUB.
  llvm/lib/CodeGen/GlobalISel/CombinerHelper.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/combine-binop-neg.mir
Labels: none

[lldb] Adjust ptr_refs utility for arm64e
  lldb/examples/darwin/heap_find/heap.py
Labels: python

[clang][driver] Fix flang frontend resolution for symlinked clang driver
  clang/lib/Driver/ToolChains/Flang.cpp
Labels: none

Remove the description of the solution from FIXME
  clang/test/Sema/LifetimeSafety/safety.cpp
Labels: none

AMDGPU: Add TargetParser to disassembler dependencies (#204250)
  llvm/lib/Target/AMDGPU/Disassembler/CMakeLists.txt
Labels: none

Make it a file-level dependency
  flang-rt/lib/runtime/CMakeLists.txt
  openmp/module/CMakeLists.txt
Labels: openmp

LLVM_DEBUG messages and disable flag
  llvm/lib/Target/AMDGPU/AMDGPUWMMASchedule.cpp
Labels: none

[𝘀𝗽𝗿] changes introduced through rebase
  llvm/lib/Target/AVR/AsmParser/AVRAsmParser.cpp
  llvm/lib/Target/BPF/AsmParser/BPFAsmParser.cpp
  llvm/lib/Target/Lanai/AsmParser/LanaiAsmParser.cpp
  llvm/lib/Target/M68k/AsmParser/M68kAsmParser.cpp
  llvm/lib/Target/MSP430/AsmParser/MSP430AsmParser.cpp
  llvm/lib/Target/Mips/AsmParser/MipsAsmParser.cpp
  llvm/lib/Target/PowerPC/AsmParser/PPCAsmParser.cpp
  llvm/lib/Target/SystemZ/AsmParser/SystemZAsmParser.cpp
  llvm/lib/Target/VE/AsmParser/VEAsmParser.cpp
  llvm/lib/Target/WebAssembly/AsmParser/WebAssemblyAsmParser.cpp
  llvm/test/TableGen/getRegClassFromMatchKind.td
  llvm/utils/TableGen/AsmMatcherEmitter.cpp
Labels: none

[BOLT][AArch64] Only reserve constant-island space when an island exists
  bolt/lib/Passes/LongJmp.cpp
Labels: none

[scudo] For a realloc that shrinks, retag the extra. (#204031)
  compiler-rt/lib/scudo/standalone/combined.h
  compiler-rt/lib/scudo/standalone/tests/combined_test.cpp
Labels: none

Add a useful command to the python examples & "lldb.utils" (#204251)
  lldb/bindings/python/CMakeLists.txt
  lldb/examples/python/delayed_enable.py
Labels: python

[BOLT][AArch64] Align tentative layout bases using per-section alignment
  bolt/include/bolt/Core/BinaryContext.h
  bolt/lib/Passes/Aligner.cpp
  bolt/lib/Passes/LongJmp.cpp
  bolt/lib/Rewrite/BinaryPassManager.cpp
Labels: none

Code cleanup for AttributedType dedupe.
  clang/lib/AST/AttrImpl.cpp
  clang/lib/AST/Type.cpp
  clang/utils/TableGen/ClangAttrEmitter.cpp
Labels: none

Address Clang release note feedback
  clang/docs/ReleaseNotes.rst
Labels: none

[HLSL] Codegen for passing cbuffer structs as function args (#203961)
  clang/lib/CodeGen/CGCall.cpp
  clang/test/CodeGenHLSL/resources/cbuffer_struct_passing.hlsl
Labels: none

Add AVR to intrinsics list
  utils/bazel/llvm-project-overlay/llvm/BUILD.bazel
Labels: none

[lldb][test] Skip even more unsupported tests on WebAssembly (#204255)
  lldb/test/API/commands/platform/process/list/TestProcessList.py
  lldb/test/API/commands/process/attach/TestProcessAttach.py
  lldb/test/API/commands/register/register_command/TestRegisters.py
  lldb/test/API/functionalities/deleted-executable/TestDeletedExecutable.py
  lldb/test/API/functionalities/gdb_remote_client/TestPlatformKill.py
  lldb/test/API/functionalities/rerun_and_expr/TestRerunAndExpr.py
  lldb/test/API/functionalities/rerun_and_expr_dylib/TestRerunAndExprDylib.py
  lldb/test/API/lang/c/libc_calls/TestLibcCalls.py
  lldb/test/API/lang/cpp/abi_tag_structors/TestAbiTagStructors.py
  lldb/test/API/lang/cpp/const_static_integral_member/TestConstStaticIntegralMember.py
  lldb/test/API/lang/cpp/decl-from-submodule/TestDeclFromSubmodule.py
  lldb/test/API/lang/cpp/llvm-style/TestLLVMStyle.py
  lldb/test/API/lang/cpp/namespace/TestNamespace.py
  lldb/test/API/lang/cpp/namespace/TestNamespaceLookup.py
  lldb/test/API/lang/cpp/namespace_conflicts/TestNamespaceConflicts.py
  lldb/test/API/lang/cpp/operators/TestCppOperators.py
  lldb/test/API/lang/cpp/printf/TestPrintf.py
  lldb/test/API/lang/cpp/static_members/TestCPPStaticMembers.py
  lldb/test/API/lang/cpp/symbols/TestSymbols.py
  lldb/test/API/lang/cpp/template-diagnostic-hint/TestTemplateDiagnosticHint.py
  lldb/test/API/lang/cpp/template-function/TestTemplateFunctions.py
  lldb/test/API/lang/cpp/this/TestCPPThis.py
  lldb/test/API/lang/cpp/unique-types4/TestUniqueTypes4.py
  lldb/test/API/python_api/hello_world/TestHelloWorld.py
Labels: python

Uncorrelate CFI and Callgraph related type metadata annotations
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/test/CodeGen/call-graph-section-callback.cpp
  clang/test/CodeGen/call-graph-section-templates.cpp
  clang/test/CodeGen/call-graph-section-virtual-methods.cpp
  clang/test/CodeGen/call-graph-section.c
  clang/test/CodeGen/call-graph-section.cpp
  llvm/include/llvm/IR/FixedMetadataKinds.def
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/lib/IR/Metadata.cpp
  llvm/lib/Transforms/IPO/ThinLTOBitcodeWriter.cpp
  llvm/test/CodeGen/ARM/call-graph-section-addrtaken.ll
  llvm/test/CodeGen/ARM/call-graph-section-tailcall.ll
  llvm/test/CodeGen/X86/call-graph-section-addrtaken.ll
  llvm/test/CodeGen/X86/call-graph-section-tailcall.ll
Labels: none

[bazel][AVR] Fix 930a46d2379914172f9e9e5e108510aa43fb7934 (#204264)
  utils/bazel/llvm-project-overlay/llvm/BUILD.bazel
Labels: none

Make object file location predictable
  flang-rt/lib/runtime/CMakeLists.txt
  openmp/module/CMakeLists.txt
Labels: openmp

[NFC][OpenMP] Add mapper-specific tests exercising pointee seciton mapping.
  clang/test/OpenMP/target_map_nested_ptr_member_mapper_codegen.cpp
  offload/test/mapping/declare_mapper_nested_mappers.cpp
  offload/test/mapping/declare_mapper_target.cpp
  offload/test/mapping/declare_mapper_target_data.cpp
  offload/test/mapping/declare_mapper_target_data_enter_exit.cpp
  offload/test/mapping/declare_mapper_target_update.cpp
  offload/test/mapping/mapper_map_ptee_only.c
  offload/test/mapping/mapper_map_ptee_only_2_ptr_indirections.c
  offload/test/mapping/mapper_map_ptee_only_2_ptr_indirections_array.c
  offload/test/mapping/mapper_map_ptee_only_2ndlevel.c
  offload/test/mapping/mapper_map_ptee_only_2ndlevel_array.c
  offload/test/mapping/mapper_map_ptee_only_always_array.c
  offload/test/mapping/mapper_map_ptee_only_array.c
  offload/test/mapping/mapper_map_ptr_ptee_nomapper_del_ptee.c
  offload/test/mapping/mapper_map_ptr_ptee_nomapper_del_ptr.c
  offload/test/mapping/mapper_target_update_present_ptee.c
  offload/test/mapping/multiple_deletes_within_one_struct.c
Labels: none

more principled icmp fold
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
Labels: none

add test
  llvm/test/Transforms/InstSimplify/saturating-add-sub.ll
Labels: none

[lldb][NFC] Remove const char * from ProcessInfo interface
  lldb/include/lldb/Utility/ProcessInfo.h
  lldb/source/Commands/CommandCompletions.cpp
  lldb/source/Commands/CommandObjectPlatform.cpp
  lldb/source/Plugins/Process/elf-core/ThreadElfCore.cpp
  lldb/source/Plugins/Process/gdb-remote/GDBRemoteCommunicationClient.cpp
  lldb/source/Utility/ProcessInfo.cpp
  lldb/unittests/Utility/ProcessInfoTest.cpp
Labels: none

add non-power-of-2 test case
  llvm/test/Transforms/SLPVectorizer/X86/revec-ordered-reductions.ll
Labels: none

[CodeGen] Treat legacy MachineFunctionProperties failures as usage errors
  llvm/lib/CodeGen/MachineFunctionPass.cpp
  llvm/test/CodeGen/AMDGPU/branch-folder-requires-no-phis.mir
  llvm/test/CodeGen/AMDGPU/machine-cse-ssa.mir
  llvm/test/CodeGen/AMDGPU/si-fold-operands-requires-ssa.mir
Labels: none

[Clang][Sema][NFCI] Simplify `resolveAllocationOverload()`
  clang/lib/Sema/SemaExprCXX.cpp
Labels: none

address review comments
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: none

[Clang] Implement CWG 2282
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaExprCXX.cpp
  clang/test/CXX/drs/cwg22xx.cpp
  clang/test/CXX/drs/cwg5xx.cpp
  clang/test/CXX/expr/expr.unary/expr.new/p14.cpp
  clang/test/SemaCXX/new-delete.cpp
  clang/test/SemaCXX/std-align-val-t-in-operator-new.cpp
  clang/www/cxx_dr_status.html
Labels: none

Removed comment about limitation.
  llvm/lib/Target/AMDGPU/GCNRegPressure.h
Labels: none

Address feedback
  clang/docs/ReleaseNotes.rst
Labels: none

[LoongArch][NFC] Add horizontal widening add/sub tests (#201487)
  llvm/test/CodeGen/LoongArch/lasx/vhaddw.ll
  llvm/test/CodeGen/LoongArch/lasx/vhsubw.ll
  llvm/test/CodeGen/LoongArch/lsx/vhaddw.ll
  llvm/test/CodeGen/LoongArch/lsx/vhsubw.ll
Labels: none

Remove global-isel-abort flag and GISEL test coverage
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.tanh.ll
Labels: none
