Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[AMDGPU] Fix performFMACombine FDOT2 fold for subnormal handling
  llvm/lib/Target/AMDGPU/GCNSubtarget.h
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/fdot2.ll
Labels: none

Fix list.md
  clang-tools-extra/docs/clang-tidy/checks/list.md
Labels: none

[AMDGPU] Utilize Promote action for FMINIMUM/MAX f16 (#215678)
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.h
  llvm/test/Analysis/CostModel/AMDGPU/maximum.ll
  llvm/test/Analysis/CostModel/AMDGPU/minimum.ll
Labels: none

[libomp] OpenMP 6.0: Add device trait parser (#176164)
  openmp/runtime/src/CMakeLists.txt
  openmp/runtime/src/i18n/en_US.txt
  openmp/runtime/src/kmp_traits.cpp
  openmp/runtime/src/kmp_traits.h
  openmp/runtime/unittests/CMakeLists.txt
  openmp/runtime/unittests/Traits/CMakeLists.txt
  openmp/runtime/unittests/Traits/MockOMP.cpp
  openmp/runtime/unittests/Traits/TestOMPTraitLexer.cpp
  openmp/runtime/unittests/Traits/TestOMPTraitParser.cpp
  openmp/runtime/unittests/Traits/TestOMPTraits.cpp
Labels: openmp

[lldb] Avoid data race when clearing an OptionValue (#208471) (#13770)
  lldb/include/lldb/Interpreter/OptionValue.h
  lldb/include/lldb/Interpreter/OptionValueArch.h
  lldb/include/lldb/Interpreter/OptionValueArray.h
  lldb/include/lldb/Interpreter/OptionValueBoolean.h
  lldb/include/lldb/Interpreter/OptionValueChar.h
  lldb/include/lldb/Interpreter/OptionValueDictionary.h
  lldb/include/lldb/Interpreter/OptionValueEnumeration.h
  lldb/include/lldb/Interpreter/OptionValueFileColonLine.h
  lldb/include/lldb/Interpreter/OptionValueFileSpec.h
  lldb/include/lldb/Interpreter/OptionValueFileSpecList.h
  lldb/include/lldb/Interpreter/OptionValueFormat.h
  lldb/include/lldb/Interpreter/OptionValueFormatEntity.h
  lldb/include/lldb/Interpreter/OptionValueLanguage.h
  lldb/include/lldb/Interpreter/OptionValuePathMappings.h
  lldb/include/lldb/Interpreter/OptionValueProperties.h
  lldb/include/lldb/Interpreter/OptionValueRegex.h
  lldb/include/lldb/Interpreter/OptionValueSInt64.h
  lldb/include/lldb/Interpreter/OptionValueString.h
  lldb/include/lldb/Interpreter/OptionValueUInt64.h
  lldb/include/lldb/Interpreter/OptionValueUUID.h
  lldb/source/Interpreter/OptionValue.cpp
  lldb/source/Interpreter/OptionValueBoolean.cpp
  lldb/source/Interpreter/OptionValueFileSpecList.cpp
  lldb/source/Interpreter/OptionValueFormatEntity.cpp
  lldb/source/Interpreter/OptionValueProperties.cpp
Labels: none

[MLIR][Python] Fix GIL handling in verification and printing
  mlir/include/mlir/Bindings/Python/IRCore.h
  mlir/include/mlir/Bindings/Python/NanobindUtils.h
  mlir/lib/Bindings/Python/IRCore.cpp
  mlir/lib/Bindings/Python/IRInterfaces.cpp
  mlir/test/python/dialects/ext.py
  mlir/test/python/ir/exception.py
Labels: python

[Offload] Add logger in Plugin API functions for OpenMP
  offload/include/Shared/APITrace.h
  offload/include/Shared/Debug.h
  offload/include/omptarget.h
  offload/plugins-nextgen/common/src/PluginInterface.cpp
  offload/test/offloading/api_trace.c
  openmp/docs/design/Runtimes.rst
Labels: openmp

[Modules] Exclude InstrumentorRuntimeHelper.h from LLVM_Transforms
  llvm/include/module.modulemap
Labels: none

[CIR] Support load/store for Vector of bools (#212146)
  clang/lib/CIR/CodeGen/CIRGenBuiltinX86.cpp
  clang/lib/CIR/CodeGen/CIRGenExpr.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/test/CIR/CodeGen/vector-bool.cpp
  clang/test/CIR/CodeGenBuiltins/X86/avx512vlvp2intersect-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx512vp2intersect-builtins.c
Labels: none

[LLDB] Track tool dependencies in Makefile.rules
  lldb/packages/Python/lldbsuite/test/make/Makefile.rules
Labels: none

[LLDB] Track tool dependencies in Makefile.rules (#215701)
  lldb/packages/Python/lldbsuite/test/make/Makefile.rules
Labels: none

[HLSL] Generate semantic signature metadata (#212892)
  clang/lib/CodeGen/CGHLSLRuntime.cpp
  clang/lib/CodeGen/CGHLSLRuntime.h
  clang/test/CodeGenHLSL/semantics/semantic.array.output.hlsl
  clang/test/CodeGenHLSL/semantics/semantic.input.hlsl
  clang/test/CodeGenHLSL/semantics/semantic.output.hlsl
  llvm/include/llvm/Analysis/DXILResource.h
  llvm/include/llvm/Frontend/HLSL/SemanticSignatures.h
  llvm/lib/Analysis/DXILResource.cpp
  llvm/unittests/Frontend/HLSLSemanticSignatureMetadataTest.cpp
Labels: none

[OMP] Remove omp_get_ancestor_thread_num and omp_get_team_size in ompx.h
  openmp/runtime/src/include/ompx.h.var
Labels: openmp

[LLDB] Track tool dependencies in Makefile.rules (#215701)
  lldb/packages/Python/lldbsuite/test/make/Makefile.rules
Labels: none

[Support] Fix format_object streaming ambiguity in Objective-C++ mode (#215826)
  llvm/include/llvm/Support/Format.h
Labels: none

Fix recursive mapper composition.
  flang/lib/Optimizer/OpenMP/MapInfoFinalization.cpp
  flang/test/Lower/OpenMP/nested-default-mapper.f90
Labels: none

Revert "Fix list.md"
  clang-tools-extra/docs/clang-tidy/checks/list.md
Labels: none

[𝘀𝗽𝗿] initial version
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/AArch64/many-uses-fma-candidate.ll
  llvm/test/Transforms/SLPVectorizer/X86/horizontal-fadd-with-sub.ll
  llvm/test/Transforms/SLPVectorizer/X86/ordered-reduction-replaced.ll
  llvm/test/Transforms/SLPVectorizer/X86/reduction-fadd-reassoc.ll
Labels: none

[flang][debug] Emit imported entities in source order
  flang/lib/Optimizer/Transforms/AddDebugInfo.cpp
  flang/test/Integration/debug-use-stmt-order.f90
Labels: none

Update with set / reset
  offload/include/Shared/APITrace.h
  offload/libomptarget/PluginManager.cpp
  offload/libomptarget/interface.cpp
  offload/plugins-nextgen/common/include/PluginInterface.h
  offload/plugins-nextgen/common/src/PluginInterface.cpp
  offload/test/offloading/api_trace.c
Labels: none

[TailCallElim] Only suppress tail call elim for cold calls in cold funcs
  llvm/lib/Transforms/Scalar/TailRecursionElimination.cpp
  llvm/test/Transforms/TailCallElim/disable-tail-call-elim-for-cold-calls.ll
Labels: none

Revert "[HLSL] Generate semantic signature metadata (#212892)"
  clang/lib/CodeGen/CGHLSLRuntime.cpp
  clang/lib/CodeGen/CGHLSLRuntime.h
  clang/test/CodeGenHLSL/semantics/semantic.array.output.hlsl
  clang/test/CodeGenHLSL/semantics/semantic.input.hlsl
  clang/test/CodeGenHLSL/semantics/semantic.output.hlsl
  llvm/include/llvm/Analysis/DXILResource.h
  llvm/include/llvm/Frontend/HLSL/SemanticSignatures.h
  llvm/lib/Analysis/DXILResource.cpp
  llvm/unittests/Frontend/HLSLSemanticSignatureMetadataTest.cpp
Labels: none

[lldb] Parse the timer dump with a regex instead of sscanf
  lldb/unittests/Utility/TimerTest.cpp
Labels: none

[clang] Fix crash parsing delayed lambda default arguments
  clang/lib/Sema/SemaExpr.cpp
  clang/test/SemaCXX/GH213420.cpp
Labels: none

[libc++] Guard container benchmarks on library availability (#215408)
  libcxx/test/benchmarks/containers/associative/associative_container_benchmarks.h
  libcxx/test/benchmarks/containers/sequence/sequence_container_benchmarks.h
  libcxx/test/benchmarks/containers/string.bench.cpp
Labels: none

[lldb][NativePDB] Check record types before deserializing
  lldb/source/Plugins/SymbolFile/NativePDB/SymbolFileNativePDB.cpp
  lldb/test/Shell/SymbolFile/NativePDB/invalid-field-list-reference.yaml
Labels: none

Revert "[HLSL] Generate semantic signature metadata" (#215844)
  clang/lib/CodeGen/CGHLSLRuntime.cpp
  clang/lib/CodeGen/CGHLSLRuntime.h
  clang/test/CodeGenHLSL/semantics/semantic.array.output.hlsl
  clang/test/CodeGenHLSL/semantics/semantic.input.hlsl
  clang/test/CodeGenHLSL/semantics/semantic.output.hlsl
  llvm/include/llvm/Analysis/DXILResource.h
  llvm/include/llvm/Frontend/HLSL/SemanticSignatures.h
  llvm/lib/Analysis/DXILResource.cpp
  llvm/unittests/Frontend/HLSLSemanticSignatureMetadataTest.cpp
Labels: none

[SPIR-V] Recognize volatile inside combined OpenCL kernel type qualifiers
  llvm/lib/Target/SPIRV/SPIRVCallLowering.cpp
  llvm/test/CodeGen/SPIRV/spirv_param_decorations_quals.ll
Labels: none

[NVPTX] Cleanup Subtarget predicates (NFC)
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/lib/Target/NVPTX/NVPTXInstrInfo.td
  llvm/lib/Target/NVPTX/NVPTXIntrinsics.td
  llvm/lib/Target/NVPTX/NVPTXSubtarget.cpp
  llvm/lib/Target/NVPTX/NVPTXSubtarget.h
Labels: none

Use __attribute__ so the attributes work in C++20 and earlier
  libcxx/test/benchmarks/containers/sequence/sequence_container_benchmarks.h
Labels: none

Move to <test_macros.h>
  libcxx/test/benchmarks/containers/sequence/sequence_container_benchmarks.h
  libcxx/test/support/test_macros.h
Labels: none

Move `isUnnamed` to the inside of `clang::tidy::cppcoreguidelines`
  clang-tools-extra/clang-tidy/cppcoreguidelines/UseEnumClassCheck.cpp
Labels: none

Add comment.
  flang/lib/Optimizer/OpenMP/MapInfoFinalization.cpp
Labels: none

Update use-enum-class.rst
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/use-enum-class.rst
Labels: none

[MLIR][ROCm] Export runtime wrappers on Windows (#213046)
  mlir/lib/ExecutionEngine/RocmRuntimeWrappers.cpp
Labels: none

[lldb][test] Don't let the Darwin builder clobber ARCH_CFLAGS
  lldb/packages/Python/lldbsuite/test/builders/darwin.py
Labels: python

Update ReleaseNotes.md
  flang/docs/ReleaseNotes.md
Labels: none

fix build and warning & address review comments for static cast
  llvm/lib/Object/GOFFObjectFile.cpp
  llvm/lib/Object/ObjectFile.cpp
Labels: none

[CodeGen] Fix stale LiveIntervals regmask tables after MachineBasicBlock::splitAt
  llvm/include/llvm/CodeGen/LiveIntervals.h
  llvm/lib/CodeGen/LiveIntervals.cpp
  llvm/lib/CodeGen/MachineBasicBlock.cpp
  llvm/unittests/MI/LiveIntervalTest.cpp
Labels: none

[lldb] Fall back to comparing modules by their canonical paths
  lldb/source/Core/Module.cpp
  lldb/source/Target/Target.cpp
  lldb/test/API/functionalities/breakpoint/breakpoint_via_symlink/Makefile
  lldb/test/API/functionalities/breakpoint/breakpoint_via_symlink/TestBreakpointViaSymlink.py
  lldb/test/API/functionalities/breakpoint/breakpoint_via_symlink/main.c
  lldb/test/API/functionalities/module_aliased_path/Makefile
  lldb/test/API/functionalities/module_aliased_path/TestModuleAliasedPath.py
  lldb/test/API/functionalities/module_aliased_path/foo.c
  lldb/test/API/functionalities/module_aliased_path/main.c
Labels: python
