Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[RISCV][LLVM][Clang] Add experimental Zvvm config intrinsics
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Basic/riscv_vector.td
  clang/lib/CodeGen/TargetBuiltins/RISCV.cpp
  clang/lib/Sema/SemaRISCV.cpp
  clang/test/CodeGen/RISCV/rvv-intrinsics-handcrafted/ime-config.c
  clang/test/Sema/riscv-ime-vsetlambda.c
  llvm/include/llvm/IR/IntrinsicsRISCV.td
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoZvvm.td
  llvm/lib/Target/RISCV/RISCVSystemOperands.td
  llvm/test/CodeGen/RISCV/ime-config-intrinsics-invalid-rv32.ll
  llvm/test/CodeGen/RISCV/ime-config-intrinsics-invalid-rv64.ll
  llvm/test/CodeGen/RISCV/ime-config-intrinsics-rv32.ll
  llvm/test/CodeGen/RISCV/ime-config-intrinsics-rv64.ll
Labels: none

[llubi] Implement ptrtoaddr instruction
  llvm/test/tools/llubi/ptrtoaddr.ll
  llvm/test/tools/llubi/ptrtoaddr_after_ptrtoint.ll
  llvm/test/tools/llubi/ptrtoaddr_no_expose.ll
  llvm/tools/llubi/lib/Interpreter.cpp
Labels: none

[LifetimeSafety] Do not propogate origins to InitListExpr when first Init is a type with no origins
  clang/lib/Analysis/LifetimeSafety/FactsGenerator.cpp
  clang/test/Sema/LifetimeSafety/safety.cpp
Labels: none

Addressed review comments
  clang/lib/Sema/SemaOpenMP.cpp
  clang/test/OpenMP/collapse_extern_ref_crash.cpp
Labels: none

[llubi] Implement ptrtoaddr (#203771)
  llvm/test/tools/llubi/ptrtoaddr.ll
  llvm/test/tools/llubi/ptrtoaddr_after_ptrtoint.ll
  llvm/test/tools/llubi/ptrtoaddr_no_expose.ll
  llvm/tools/llubi/lib/Interpreter.cpp
Labels: none

[llubi] Add support for captures
  llvm/test/tools/llubi/captures.ll
  llvm/test/tools/llubi/dereferenceable_capture_read_provenance.ll
  llvm/test/tools/llubi/load_capture_read_provenance.ll
  llvm/test/tools/llubi/store_capture_provenance.ll
  llvm/test/tools/llubi/volatile_capture_address.ll
  llvm/test/tools/llubi/wildcard_provenance.ll
  llvm/test/tools/llubi/wildcard_provenance_angelic_nondeterminism.ll
  llvm/test/tools/llubi/wildcard_provenance_gep_inbounds.ll
  llvm/tools/llubi/lib/ExecutorBase.cpp
  llvm/tools/llubi/lib/ExecutorBase.h
  llvm/tools/llubi/lib/Interpreter.cpp
  llvm/tools/llubi/lib/Library.cpp
  llvm/tools/llubi/lib/Value.cpp
  llvm/tools/llubi/lib/Value.h
Labels: none

[X86] Fold XOR of two VGF2P8AFFINEQB instructions with same matrix (#199146)
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/gfni-xor-fold-avx512.ll
  llvm/test/CodeGen/X86/gfni-xor-fold.ll
Labels: none

[RISCV][LLVM][Clang] Support runtime value for __riscv_vsetlambda
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/CodeGen/TargetBuiltins/RISCV.cpp
  clang/lib/Sema/SemaRISCV.cpp
  clang/test/CodeGen/RISCV/rvv-intrinsics-handcrafted/ime-config.c
  clang/test/Sema/riscv-ime-vsetlambda.c
  llvm/include/llvm/IR/IntrinsicsRISCV.td
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/ime-config-intrinsics-invalid-rv32.ll
  llvm/test/CodeGen/RISCV/ime-config-intrinsics-invalid-rv64.ll
  llvm/test/CodeGen/RISCV/ime-config-intrinsics-rv32.ll
  llvm/test/CodeGen/RISCV/ime-config-intrinsics-rv64.ll
Labels: none

[llubi] Update the implementation of assume align operand bundle
  llvm/test/tools/llubi/assume_align_offset.ll
  llvm/test/tools/llubi/assume_operand_bundles.ll
  llvm/tools/llubi/lib/Interpreter.cpp
Labels: none

format
  clang/lib/CodeGen/TargetBuiltins/RISCV.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
Labels: none

update test
  llvm/test/CodeGen/RISCV/ime-config-intrinsics-rv32.ll
  llvm/test/CodeGen/RISCV/ime-config-intrinsics-rv64.ll
Labels: none

[RISCV] Lower the paadd/pasub intrinsics to existing ISD nodes. NFC (#203646)
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoP.td
Labels: none

[RISCV] Remove manual compression of SSPUSH in RISCVFrameLowering.cpp. NFC (#203635)
  llvm/lib/Target/RISCV/RISCVFrameLowering.cpp
  llvm/test/CodeGen/RISCV/shadowcallstack.ll
Labels: none

[bazel] Add an LLVM ABI-breaking checks build setting (#203739)
  utils/bazel/llvm-project-overlay/llvm/BUILD.bazel
Labels: none

[LoongArch][NFC] Add double to signed/unsigned i32 tests for LSX and LASX
  llvm/test/CodeGen/LoongArch/lasx/ir-instruction/fptosi.ll
  llvm/test/CodeGen/LoongArch/lasx/ir-instruction/fptoui.ll
  llvm/test/CodeGen/LoongArch/lsx/ir-instruction/fptosi.ll
  llvm/test/CodeGen/LoongArch/lsx/ir-instruction/fptoui.ll
Labels: none

[LoongArch] Combine FP_TO_UINT/FP_TO_SINT with [X]VFTINTRZ instruction
  llvm/lib/Target/LoongArch/LoongArchISelLowering.cpp
  llvm/lib/Target/LoongArch/LoongArchLASXInstrInfo.td
  llvm/lib/Target/LoongArch/LoongArchLSXInstrInfo.td
  llvm/test/CodeGen/LoongArch/lasx/ir-instruction/fptosi.ll
  llvm/test/CodeGen/LoongArch/lsx/ir-instruction/fptosi.ll
  llvm/test/CodeGen/LoongArch/lsx/ir-instruction/fptoui.ll
Labels: none

[flang] Add support for the IARGC and GETARG legacy intrinsics (#196425)
  flang/docs/Intrinsics.md
  flang/include/flang/Optimizer/Builder/IntrinsicCall.h
  flang/lib/Evaluate/intrinsics.cpp
  flang/lib/Optimizer/Builder/IntrinsicCall.cpp
  flang/test/Lower/Intrinsics/getarg.f90
  flang/test/Lower/Intrinsics/iargc.f90
  flang/test/Semantics/test-iargc-getarg.f90
Labels: none

[llvm-cov] Replace binary test blobs with text formats
  llvm/test/tools/llvm-cov/Inputs/gap-region-quirk/gap-quirk.covmapping
  llvm/test/tools/llvm-cov/Inputs/gap-region-quirk/gap-quirk.profdata
  llvm/test/tools/llvm-cov/Inputs/gap-region-quirk/gap-quirk.proftext
  llvm/test/tools/llvm-cov/Inputs/gap-region-quirk/gap-quirk.yaml
  llvm/test/tools/llvm-cov/gap-region-line-coverage.test
Labels: none

[VPlan] Check operand types of more VPInstruction on construction (NFC).
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/unittests/Transforms/Vectorize/VPlanVerifierTest.cpp
Labels: none

[VPlan] Narrow interleave groups with distinct live-in operands.
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/transform-narrow-interleave-to-widen-memory-constant-ops.ll
  llvm/test/Transforms/LoopVectorize/AArch64/transform-narrow-interleave-to-widen-memory-with-wide-ops-chained.ll
  llvm/test/Transforms/LoopVectorize/RISCV/interleaved-accesses.ll
  llvm/test/Transforms/LoopVectorize/narrow-interleave-groups-scalable-vf.ll
Labels: none

passing tests, adjust uArch for subByte
  mlir/include/mlir/Dialect/XeGPU/uArch/IntelGpuXe2.h
  mlir/lib/Dialect/XeGPU/Transforms/XeGPULayoutImpl.cpp
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUPropagateLayout.cpp
  mlir/test/Dialect/XeGPU/propagate-layout-inst-data.mlir
  mlir/test/Dialect/XeGPU/propagate-layout.mlir
Labels: none

Update lldb/source/Core/Statusline.cpp
  lldb/source/Core/Statusline.cpp
Labels: none

[Github] Remove unnecessary packages from github-automation container (#203358)
  .github/workflows/containers/github-action-ci-tooling/Dockerfile
Labels: misc

~
  clang/include/clang/ASTMatchers/ASTMatchers.h
Labels: none

[DebugInfo][CodeView] Resolve forward references to types without unique name
  llvm/lib/DebugInfo/PDB/Native/TpiStream.cpp
  llvm/test/tools/llvm-pdbutil/forward-cxx-to-c-odr.test
  llvm/test/tools/llvm-pdbutil/forward-cxx-to-c.test
Labels: none

passing all, refactor getNumSg
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUPropagateLayout.cpp
  mlir/test/Dialect/XeGPU/propagate-layout.mlir
Labels: none

[clang][ASTMatchers] format AST matchers internal
  clang/include/clang/ASTMatchers/ASTMatchFinder.h
  clang/include/clang/ASTMatchers/ASTMatchersInternal.h
Labels: none

[clang][ASTMatchers] format ASTMatchers dynamic
  clang/include/clang/ASTMatchers/Dynamic/Diagnostics.h
  clang/include/clang/ASTMatchers/Dynamic/Parser.h
  clang/include/clang/ASTMatchers/Dynamic/VariantValue.h
Labels: none

[Fuzzer] Bump max RSS in fork tests (#203688)
  compiler-rt/test/fuzzer/fork.test
  compiler-rt/test/fuzzer/fork_corpus_groups.test
Labels: none

Remove `optional::iterator` from experimental mode
  libcxx/docs/ReleaseNotes/23.rst
  libcxx/include/__configuration/experimental.h
  libcxx/include/optional
  libcxx/include/version
  libcxx/modules/std/optional.inc
  libcxx/test/libcxx/experimental/fexperimental-library.compile.pass.cpp
  libcxx/test/libcxx/utilities/optional/nodiscard.verify.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/optional.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/version.version.compile.pass.cpp
  libcxx/utils/generate_feature_test_macro_components.py
Labels: python

[VectorCombine] foldShuffleChainsToReduce - reduce a single cut
  llvm/lib/Transforms/Vectorize/VectorCombine.cpp
  llvm/test/Transforms/VectorCombine/X86/extract-binop-inseltpoison.ll
  llvm/test/Transforms/VectorCombine/X86/extract-binop.ll
  llvm/test/Transforms/VectorCombine/X86/shuffle-chain-reduction-subvector.ll
  llvm/test/Transforms/VectorCombine/X86/shuffle-chain-reduction-umin.ll
  llvm/test/Transforms/VectorCombine/fold-shuffle-chains-to-reduce.ll
Labels: none

Tests
  libcxx/test/libcxx/utilities/optional/nodiscard.iterator.verify.cpp
  libcxx/test/libcxx/utilities/optional/optional.iterator/iterator.compile.pass.cpp
  libcxx/test/std/utilities/optional/optional.iterator/begin.pass.cpp
  libcxx/test/std/utilities/optional/optional.iterator/borrowed_range.compile.pass.cpp
  libcxx/test/std/utilities/optional/optional.iterator/compare.pass.cpp
  libcxx/test/std/utilities/optional/optional.iterator/end.pass.cpp
  libcxx/test/std/utilities/optional/optional.iterator/iterator.pass.cpp
  libcxx/utils/libcxx/test/params.py
Labels: python

[ASTMatchers][Docs] print ignoring message only when class was not documented before
  clang/docs/tools/dump_ast_matchers.py
Labels: python

[BOLT] Zero alignment padding when reusing old text section (#202375)
  bolt/include/bolt/Rewrite/RewriteInstance.h
  bolt/lib/Rewrite/RewriteInstance.cpp
  bolt/test/AArch64/use-old-text-zero-padding.c
Labels: none

[ASTMatchers][Docs] make dump_ast_matchers.py read classes from sources
  clang/docs/LibASTMatchersReference.html
  clang/docs/tools/dump_ast_matchers.py
Labels: python

fix
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
Labels: none

[clang-doc] Address Copilot review: includes, all_of qualification, fuzzer recursion, doc wording
  clang-tools-extra/clang-doc/fuzzer/DummyMarkdownFuzzer.cpp
  clang-tools-extra/clang-doc/fuzzer/FuzzMarkdown.cpp
  clang-tools-extra/clang-doc/support/Markdown.cpp
  clang-tools-extra/clang-doc/support/Markdown.h
Labels: none

[LV] Drop the mask of a predicated store masked by the header mask. (#201676)
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/test/Transforms/LoopVectorize/SystemZ/pr47665.ll
  llvm/test/Transforms/LoopVectorize/X86/vectorize-interleaved-accesses-gap.ll
  llvm/test/Transforms/LoopVectorize/predicatedinst-loop-invariant.ll
Labels: none

[LLD][ELF] Simplify lmaOffset computation (NFC)
  lld/ELF/LinkerScript.cpp
Labels: none

[LLD][ELF] Simplify assignOffsets() change tracking (NFC)
  lld/ELF/LinkerScript.cpp
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
