Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[SLP][NFC]Add another test with the user with multiple copyable operands, NFC
  llvm/test/Transforms/SLPVectorizer/X86/multi-node-user-with-copyable-ops.ll
Labels: none

fix code style
  clang/lib/StaticAnalyzer/Checkers/CheckSecuritySyntaxOnly.cpp
Labels: none

[CIR][NFC] Move builtin tests to their own directory
  clang/test/CIR/CodeGenBuiltins/X86/avx-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx10_2_512bf16-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx10_2bf16-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx512bw-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx512f-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx512fp16-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/bmi-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/lzcnt-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/sse-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/sse2-builtins.c
  clang/test/CIR/CodeGenBuiltins/builtin-fcmp-sse.c
  clang/test/CIR/CodeGenBuiltins/builtin-isfpclass.c
  clang/test/CIR/CodeGenBuiltins/builtin_bit.cpp
  clang/test/CIR/CodeGenBuiltins/builtin_call.cpp
  clang/test/CIR/CodeGenBuiltins/builtin_inline.c
  clang/test/CIR/CodeGenBuiltins/builtin_new_delete.cpp
  clang/test/CIR/CodeGenBuiltins/builtin_prefetch.c
  clang/test/CIR/CodeGenBuiltins/builtin_printf.cpp
  clang/test/CIR/CodeGenBuiltins/builtins-elementwise.c
  clang/test/CIR/CodeGenBuiltins/builtins-floating-point.c
  clang/test/CIR/CodeGenBuiltins/builtins-overflow.cpp
  clang/test/CIR/CodeGenBuiltins/builtins.cpp
Labels: none

[scudo] Refactor initialization of TSDs.
  compiler-rt/lib/scudo/standalone/tests/combined_test.cpp
  compiler-rt/lib/scudo/standalone/tsd_exclusive.h
  compiler-rt/lib/scudo/standalone/tsd_shared.h
Labels: none

Use LLVM_ENABLE_LIBCXX=ON to build the runtimes too
  clang/cmake/caches/Release.cmake
  openmp/libompd/src/CMakeLists.txt
Labels: openmp

clangd: Collecting constructor references through forwarding in index
  clang-tools-extra/clangd/index/SymbolCollector.cpp
Labels: none

Update CIRGenBuiltin.cpp
  clang/lib/CIR/CodeGen/CIRGenBuiltin.cpp
Labels: none

clang format.
  compiler-rt/lib/scudo/standalone/tests/combined_test.cpp
Labels: none

[RISCV] Revert implementation in RISCV
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/flag_check.ll
Labels: none

[InstCombine] Add new tests for flag check optimization
  llvm/test/Transforms/InstCombine/flag_check.ll
Labels: none

Turn off clang-format for the verify tests since they look a little bizarre when formatted
  libcxx/test/std/utilities/optional/optional.object/optional.object.ctor/ctor.verify.cpp
  libcxx/test/std/utilities/optional/optional.object/optional.object.ctor/deduct.verify.cpp
Labels: none

[flang][cuda][NFC] Split allocation related operation conversion from other
  flang/include/flang/Optimizer/Transforms/CUDA/CUFAllocationConversion.h
  flang/include/flang/Optimizer/Transforms/Passes.td
  flang/lib/Optimizer/Transforms/CMakeLists.txt
  flang/lib/Optimizer/Transforms/CUDA/CUFAllocationConversion.cpp
  flang/lib/Optimizer/Transforms/CUFOpConversion.cpp
Labels: none

[libc++][flat_set] Applied `[[nodiscard]]`
  libcxx/include/__flat_set/flat_set.h
  libcxx/test/libcxx/diagnostics/flat_map.nodiscard.verify.cpp
  libcxx/test/libcxx/diagnostics/flat_set.nodiscard.verify.cpp
Labels: none

clangd: rename new visitor to better reflect task
  clang-tools-extra/clangd/index/SymbolCollector.cpp
Labels: none

[CIR] Add undef handling to enable global lambdas (#169721)
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/test/CIR/CodeGen/lambda.cpp
Labels: none

[InstCombine] Lower flag check pattern to use a bitmask-shift
  llvm/lib/Transforms/InstCombine/InstCombineAndOrXor.cpp
  llvm/test/Transforms/InstCombine/flag_check.ll
Labels: none

[InstCombine] Expand flag check patterns
  llvm/lib/Transforms/InstCombine/InstCombineAndOrXor.cpp
  llvm/test/Transforms/InstCombine/flag_check.ll
Labels: none

No assert
  llvm/lib/ProfileData/SampleProf.cpp
Labels: none

[flang] Use default constructor for FIRToSCF pass
  flang/include/flang/Optimizer/Transforms/Passes.h
  flang/include/flang/Optimizer/Transforms/Passes.td
  flang/lib/Optimizer/Transforms/FIRToSCF.cpp
Labels: none

Debug
  .github/workflows/release-binaries-windows.yml
Labels: misc

Debug
  .github/workflows/release-binaries-windows.yml
Labels: misc

Debug
  .github/workflows/release-binaries-windows.yml
Labels: misc

Fix sanitizer failure introduced by #133537
  llvm/lib/Target/AArch64/AArch64AsmPrinter.cpp
Labels: none

Simplify
  llvm/lib/ProfileData/SampleProf.cpp
Labels: none

clangd: moving new ref collection to correct location
  clang-tools-extra/clangd/index/SymbolCollector.cpp
Labels: none

Revert "[lldb-dap] Add multi-session support with shared debugger instances (…"
  lldb/include/lldb/API/SBTarget.h
  lldb/include/lldb/Target/Target.h
  lldb/packages/Python/lldbsuite/test/tools/lldb-dap/dap_server.py
  lldb/source/API/SBTarget.cpp
  lldb/source/Target/Target.cpp
  lldb/test/API/tools/lldb-dap/attach/TestDAP_attach.py
  lldb/test/API/tools/lldb-dap/startDebugging/TestDAP_startDebugging.py
  lldb/tools/lldb-dap/CMakeLists.txt
  lldb/tools/lldb-dap/DAP.cpp
  lldb/tools/lldb-dap/DAP.h
  lldb/tools/lldb-dap/DAPForward.h
  lldb/tools/lldb-dap/DAPSessionManager.cpp
  lldb/tools/lldb-dap/DAPSessionManager.h
  lldb/tools/lldb-dap/EventHelper.cpp
  lldb/tools/lldb-dap/EventHelper.h
  lldb/tools/lldb-dap/Handler/AttachRequestHandler.cpp
  lldb/tools/lldb-dap/Handler/InitializeRequestHandler.cpp
  lldb/tools/lldb-dap/Handler/LaunchRequestHandler.cpp
  lldb/tools/lldb-dap/Protocol/ProtocolRequests.cpp
  lldb/tools/lldb-dap/Protocol/ProtocolRequests.h
  lldb/tools/lldb-dap/package.json
  lldb/tools/lldb-dap/tool/lldb-dap.cpp
  lldb/unittests/DAP/CMakeLists.txt
  lldb/unittests/DAP/DAPSessionManagerTest.cpp
  llvm/utils/gn/secondary/lldb/tools/lldb-dap/BUILD.gn
Labels: python

min
  llvm/lib/ProfileData/SampleProf.cpp
Labels: none

[CIR][NFC] Move builtin tests to their own directory (#169737)
  clang/test/CIR/CodeGenBuiltins/X86/avx-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx10_2_512bf16-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx10_2bf16-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx512bw-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx512f-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx512fp16-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/bmi-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/lzcnt-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/sse-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/sse2-builtins.c
  clang/test/CIR/CodeGenBuiltins/builtin-fcmp-sse.c
  clang/test/CIR/CodeGenBuiltins/builtin-isfpclass.c
  clang/test/CIR/CodeGenBuiltins/builtin_bit.cpp
  clang/test/CIR/CodeGenBuiltins/builtin_call.cpp
  clang/test/CIR/CodeGenBuiltins/builtin_inline.c
  clang/test/CIR/CodeGenBuiltins/builtin_new_delete.cpp
  clang/test/CIR/CodeGenBuiltins/builtin_prefetch.c
  clang/test/CIR/CodeGenBuiltins/builtin_printf.cpp
  clang/test/CIR/CodeGenBuiltins/builtins-elementwise.c
  clang/test/CIR/CodeGenBuiltins/builtins-floating-point.c
  clang/test/CIR/CodeGenBuiltins/builtins-overflow.cpp
  clang/test/CIR/CodeGenBuiltins/builtins.cpp
Labels: none

Remove undef in comment to pass formatter
  llvm/test/Transforms/InstCombine/flag_check.ll
Labels: none

clangd: test include formatting
  clang-tools-extra/clangd/unittests/XRefsTests.cpp
Labels: none

[lld][MachO] Follow-up to use madvise() for threaded file page-in. (#157917)
  lld/MachO/Driver.cpp
  lld/MachO/InputFiles.cpp
  lld/test/MachO/read-workers.s
  llvm/lib/Object/Archive.cpp
Labels: none

github-upload-release.py: add requirements and lock files for installing dependencies (#169461)
  llvm/utils/git/requirements_upload_release.txt
  llvm/utils/git/requirements_upload_release.txt.in
  llvm/utils/release/github-upload-release.py
Labels: python

Python fix
  llvm/utils/release/build_llvm_release.bat
Labels: none

[BPF] Define set of BPF libcalls
  llvm/include/llvm/IR/RuntimeLibcalls.td
  llvm/test/CodeGen/BPF/atomic-oversize.ll
  llvm/test/CodeGen/BPF/builtin_calls.ll
  llvm/test/CodeGen/BPF/i128_math.ll
  llvm/test/CodeGen/BPF/pr57872.ll
  llvm/test/CodeGen/BPF/warn-call.ll
Labels: none

[lldb-dap] Add breakpoints after debugger initialization
  cross-project-tests/debuginfo-tests/dexter/dex/debugger/DAP.py
Labels: python

Testing improved.
  llvm/test/CodeGen/SystemZ/args-22.ll
Labels: none

[AArch64][ARM] Add new tests for tbl/tbx optimizations
  llvm/test/Transforms/InstCombine/AArch64/tbl.ll
  llvm/test/Transforms/InstCombine/AArch64/tbl1.ll
  llvm/test/Transforms/InstCombine/ARM/tbl.ll
  llvm/test/Transforms/InstCombine/ARM/tbl1.ll
Labels: none

[libc++][deque] Applied `[[nodiscard]]`
  libcxx/include/deque
  libcxx/test/libcxx/diagnostics/deque.nodiscard.verify.cpp
Labels: none

[ORC] Clear stale ElemToPendingSN entries in WaitingOnGraph.
  llvm/include/llvm/ExecutionEngine/Orc/WaitingOnGraph.h
  llvm/unittests/ExecutionEngine/Orc/WaitingOnGraphTest.cpp
Labels: none

clangd: removed redundant code
  clang-tools-extra/clangd/index/SymbolCollector.cpp
Labels: none
