Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[CI][Github] Enable CIR CI build and test (#147430)
  .ci/compute_projects.py
  .ci/compute_projects_test.py
  .ci/monolithic-linux.sh
  .github/workflows/premerge.yaml
Labels: python, misc

Rename config.host_os to config.target_os.
  compiler-rt/lib/tysan/lit.cfg
  compiler-rt/test/asan/lit.cfg.py
  compiler-rt/test/asan_abi/lit.cfg.py
  compiler-rt/test/builtins/Unit/lit.cfg.py
  compiler-rt/test/builtins/lit.cfg.py
  compiler-rt/test/ctx_profile/lit.cfg.py
  compiler-rt/test/dfsan/lit.cfg.py
  compiler-rt/test/fuzzer/lit.cfg.py
  compiler-rt/test/gwp_asan/lit.cfg.py
  compiler-rt/test/hwasan/lit.cfg.py
  compiler-rt/test/lit.common.cfg.py
  compiler-rt/test/lsan/lit.common.cfg.py
  compiler-rt/test/memprof/lit.cfg.py
  compiler-rt/test/metadata/lit.cfg.py
  compiler-rt/test/msan/lit.cfg.py
  compiler-rt/test/nsan/lit.cfg.py
  compiler-rt/test/orc/lit.cfg.py
  compiler-rt/test/orc/lit.site.cfg.py.in
  compiler-rt/test/profile/lit.cfg.py
  compiler-rt/test/rtsan/Unit/lit.site.cfg.py.in
  compiler-rt/test/rtsan/lit.cfg.py
  compiler-rt/test/safestack/lit.cfg.py
  compiler-rt/test/sanitizer_common/lit.common.cfg.py
  compiler-rt/test/scudo/lit.cfg.py
  compiler-rt/test/shadowcallstack/lit.cfg.py
  compiler-rt/test/tsan/Unit/lit.site.cfg.py.in
  compiler-rt/test/tsan/libdispatch/lit.local.cfg.py
  compiler-rt/test/tsan/lit.cfg.py
  compiler-rt/test/tysan/lit.cfg.py
  compiler-rt/test/ubsan/TestCases/TypeCheck/Function/lit.local.cfg.py
  compiler-rt/test/ubsan/lit.common.cfg.py
  compiler-rt/test/ubsan_minimal/lit.common.cfg.py
  compiler-rt/test/xray/lit.cfg.py
  compiler-rt/unittests/lit.common.unit.cfg.py
  compiler-rt/unittests/lit.common.unit.configured.in
  lldb/test/API/lit.cfg.py
  lldb/test/API/lit.site.cfg.py.in
  llvm/test/lit.cfg.py
  llvm/test/lit.site.cfg.py.in
Labels: python

[Docs] Mention security of libclang (#149357)
  clang/docs/LibClang.rst
Labels: none

[IR2Vec] Adding documentation for llvm-ir2vec tool (#148719)
  llvm/docs/CommandGuide/index.rst
  llvm/docs/CommandGuide/llvm-ir2vec.rst
  llvm/docs/MLGO.rst
  llvm/tools/llvm-ir2vec/llvm-ir2vec.cpp
Labels: none

[IR2Vec] Add llvm-ir2vec tool for generating triplet embeddings (#147842)
  llvm/test/CMakeLists.txt
  llvm/test/lit.cfg.py
  llvm/test/tools/llvm-ir2vec/triplets.ll
  llvm/tools/llvm-ir2vec/CMakeLists.txt
  llvm/tools/llvm-ir2vec/llvm-ir2vec.cpp
Labels: python

[IR2Vec] Add embeddings mode to llvm-ir2vec tool (#147844)
  llvm/test/lit.cfg.py
  llvm/test/tools/llvm-ir2vec/embeddings.ll
  llvm/test/tools/llvm-ir2vec/triplets.ll
  llvm/tools/llvm-ir2vec/llvm-ir2vec.cpp
Labels: python

[AMDGPU] Add support for `v_cos_bf16` on gfx1250 (#149355)
  clang/include/clang/Basic/BuiltinsAMDGPU.def
  clang/lib/CodeGen/TargetBuiltins/AMDGPU.cpp
  clang/test/CodeGenOpenCL/builtins-amdgcn-gfx1250.cl
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.cos.bf16.ll
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp16-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp8-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp16-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp8-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3_from_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3_from_vop1_dpp8.txt
Labels: none

[flang][OpenMP] Generalize isOpenMPPrivatizingConstruct (#148654)
  flang/lib/Lower/OpenMP/DataSharingProcessor.cpp
  flang/lib/Lower/OpenMP/DataSharingProcessor.h
  flang/test/Lower/OpenMP/taskgroup02.f90
  llvm/include/llvm/Frontend/OpenMP/OMP.h
Labels: none

Speculative buildbot fix.
  compiler-rt/test/lit.common.configured.in
Labels: none

Fix more compiler-rt tests after #149015.
  compiler-rt/test/asan/TestCases/Darwin/lit.local.cfg.py
  compiler-rt/test/asan/TestCases/Linux/lit.local.cfg.py
  compiler-rt/test/asan/TestCases/Posix/lit.local.cfg.py
  compiler-rt/test/asan/TestCases/Windows/lit.local.cfg.py
  compiler-rt/test/builtins/TestCases/Darwin/lit.local.cfg.py
  compiler-rt/test/cfi/cross-dso/lit.local.cfg.py
  compiler-rt/test/hwasan/TestCases/Linux/lit.local.cfg.py
  compiler-rt/test/hwasan/TestCases/Posix/lit.local.cfg.py
  compiler-rt/test/lsan/TestCases/Darwin/lit.local.cfg.py
  compiler-rt/test/lsan/TestCases/Linux/lit.local.cfg.py
  compiler-rt/test/lsan/TestCases/Posix/lit.local.cfg.py
  compiler-rt/test/msan/Linux/lit.local.cfg.py
  compiler-rt/test/orc/TestCases/Darwin/lit.local.cfg.py
  compiler-rt/test/orc/TestCases/FreeBSD/lit.local.cfg.py
  compiler-rt/test/orc/TestCases/Linux/lit.local.cfg.py
  compiler-rt/test/orc/TestCases/Windows/lit.local.cfg.py
  compiler-rt/test/profile/AIX/lit.local.cfg.py
  compiler-rt/test/profile/Darwin/lit.local.cfg.py
  compiler-rt/test/profile/Linux/lit.local.cfg.py
  compiler-rt/test/profile/Posix/lit.local.cfg.py
  compiler-rt/test/profile/Windows/lit.local.cfg.py
  compiler-rt/test/sanitizer_common/TestCases/Darwin/lit.local.cfg.py
  compiler-rt/test/sanitizer_common/TestCases/FreeBSD/lit.local.cfg.py
  compiler-rt/test/sanitizer_common/TestCases/Linux/lit.local.cfg.py
  compiler-rt/test/sanitizer_common/TestCases/NetBSD/lit.local.cfg.py
  compiler-rt/test/sanitizer_common/TestCases/Posix/lit.local.cfg.py
  compiler-rt/test/tsan/Darwin/lit.local.cfg.py
  compiler-rt/test/tsan/Linux/lit.local.cfg.py
  compiler-rt/test/tsan/libcxx/lit.local.cfg.py
  compiler-rt/test/ubsan/TestCases/Misc/Posix/lit.local.cfg.py
  compiler-rt/test/ubsan/TestCases/TypeCheck/Linux/lit.local.cfg.py
Labels: python

[clang] Fix potential constant expression checking with constexpr-unknown. (#149227)
  clang/lib/AST/ExprConstant.cpp
  clang/test/SemaCXX/constant-expression-p2280r4.cpp
  clang/test/SemaCXX/constexpr-never-constant.cpp
Labels: none

[mlir] Fix CI breakage from https://github.com/llvm/llvm-project/pull/146228 (#149378)
  mlir/test/IR/test-pattern-logging-listener.mlir
Labels: none

[AMDGPU] Add support for `v_tanh_f32` on gfx1250 (#149360)
  clang/include/clang/Basic/BuiltinsAMDGPU.def
  clang/lib/CodeGen/TargetBuiltins/AMDGPU.cpp
  clang/test/CodeGenOpenCL/amdgpu-features.cl
  clang/test/CodeGenOpenCL/builtins-amdgcn-gfx1250.cl
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/GCNSubtarget.h
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/lib/TargetParser/TargetParser.cpp
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.tanh.ll
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp16-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp8-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp16-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp8-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3_from_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3_from_vop1_dpp8.txt
Labels: none

[libc] add wctype.h header (#149202)
  libc/config/baremetal/arm/entrypoints.txt
  libc/config/baremetal/arm/headers.txt
  libc/config/baremetal/riscv/entrypoints.txt
  libc/config/baremetal/riscv/headers.txt
  libc/config/darwin/aarch64/entrypoints.txt
  libc/config/darwin/aarch64/headers.txt
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/aarch64/headers.txt
  libc/config/linux/arm/entrypoints.txt
  libc/config/linux/arm/headers.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/riscv/headers.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/config/linux/x86_64/headers.txt
  libc/config/windows/entrypoints.txt
  libc/config/windows/headers.txt
  libc/include/CMakeLists.txt
  libc/include/wctype.yaml
  libc/src/CMakeLists.txt
  libc/src/wctype/CMakeLists.txt
  libc/src/wctype/iswalpha.cpp
  libc/src/wctype/iswalpha.h
  libc/test/src/CMakeLists.txt
  libc/test/src/wctype/CMakeLists.txt
  libc/test/src/wctype/iswalpha_test.cpp
Labels: none

[NFC] simplify LowerAllowCheckPass::printPipeline (#149374)
  llvm/lib/Transforms/Instrumentation/LowerAllowCheckPass.cpp
Labels: none

[asan] Revert global check for non-AIX (#149245)
  compiler-rt/lib/asan/asan_descriptions.cpp
Labels: none

[lldb] Adjust default target.max-children-depth (#149282)
  lldb/source/Target/TargetProperties.td
  lldb/test/Shell/Settings/TestChildDepthTruncation.test
  lldb/test/Shell/SymbolFile/NativePDB/Inputs/class_layout.lldbinit
Labels: none

[SelectionDAG] Fix misplaced commas in operand bundle errors (#149331)
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/test/CodeGen/X86/invalid-operand-bundle-call.ll
Labels: none

[IR2Vec][llvm-ir2vec] Add support for reading from stdin (#149213)
  llvm/tools/llvm-ir2vec/llvm-ir2vec.cpp
Labels: none

[IR2Vec][NFC] Add helper methods for numeric ID mapping in Vocabulary (#149212)
  llvm/include/llvm/Analysis/IR2Vec.h
  llvm/lib/Analysis/IR2Vec.cpp
  llvm/unittests/Analysis/IR2VecTest.cpp
Labels: none

Use Parallel xz for test-suite sources. (#149389)
  llvm/utils/release/export.sh
Labels: none

[MLIR][XeGPU] make offsets optional for create_nd_tdesc (#148335)
  mlir/include/mlir/Dialect/XeGPU/IR/XeGPUOps.td
  mlir/lib/Dialect/XeGPU/IR/XeGPUOps.cpp
  mlir/test/Conversion/VectorToXeGPU/load-to-xegpu.mlir
  mlir/test/Conversion/VectorToXeGPU/store-to-xegpu.mlir
  mlir/test/Conversion/VectorToXeGPU/transfer-read-to-xegpu.mlir
  mlir/test/Conversion/VectorToXeGPU/transfer-write-to-xegpu.mlir
  mlir/test/Dialect/XeGPU/invalid.mlir
  mlir/test/Dialect/XeGPU/ops.mlir
  mlir/test/Dialect/XeGPU/subgroup-distribute.mlir
Labels: none

[DWARFLinker] Use different addresses to distinguish invalid DW_AT_LLVM_stmt_sequence offset (#149376)
  llvm/lib/DWARFLinker/Classic/DWARFLinker.cpp
Labels: none

[Support/BLAKE3] quick fix for Cygwin build (#148635)
  llvm/lib/Support/BLAKE3/blake3_dispatch.c
  llvm/lib/Support/BLAKE3/blake3_impl.h
Labels: none

[lldb][test] TestChildDepthTruncation: don't force DWARF
  lldb/test/Shell/Settings/TestChildDepthTruncation.test
Labels: none

[AMDGPU] add tests for Change FLAT SADDR to VADDR form in moveToVALU. NFC. (#149392)
  llvm/lib/Target/AMDGPU/FLATInstructions.td
  llvm/test/CodeGen/AMDGPU/move-load-addr-to-valu-flat.mir
Labels: none

[mlir][docs] Rename OpTrait to Trait in ODS doc (#148276)
  mlir/docs/DefiningDialects/Operations.md
  mlir/include/mlir/IR/OpBase.td
Labels: none

AMDGPU: Remove the dot4 test in insert-delay-alu-wmma-xdl.mir, NFC (#149375)
  llvm/test/CodeGen/AMDGPU/insert-delay-alu-wmma-xdl.mir
Labels: none

Add tools/llvm-ir2vec to pr-subscribes-mlgo (#149405)
  .github/new-prs-labeler.yml
Labels: misc

[libc++] Fix hash_multi{map,set}::insert (#149290)
  libcxx/include/ext/hash_map
  libcxx/include/ext/hash_set
  libcxx/test/extensions/gnu/hash_multimap/insert.pass.cpp
  libcxx/test/extensions/gnu/hash_multiset/insert.pass.cpp
Labels: none

[AMDGPU] Remove unused VGLOBAL_Real_AllAddr_gfx12. NFC. (#149398)
  llvm/lib/Target/AMDGPU/FLATInstructions.td
Labels: none

[DirectX] Fix GEP flattening with 0-indexed GEPs on global variables (#149211)
  llvm/lib/Target/DirectX/DXILFlattenArrays.cpp
  llvm/test/CodeGen/DirectX/flatten-array.ll
Labels: none

[mlir][xegpu] Minor fixes in XeGPU subgroup distribution. (#147846)
  mlir/include/mlir/Dialect/XeGPU/Utils/XeGPUUtils.h
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUSubgroupDistribute.cpp
  mlir/lib/Dialect/XeGPU/Utils/XeGPUUtils.cpp
  mlir/test/Dialect/XeGPU/subgroup-distribute.mlir
Labels: none

[DirectX] Add a GEP to scalar load/store on globals and remove incorrect assertion (#149191)
  llvm/lib/Target/DirectX/DXILLegalizePass.cpp
  llvm/test/CodeGen/DirectX/legalize-load-store-array-alloca.ll
  llvm/test/CodeGen/DirectX/llc-vector-load-scalarize.ll
  llvm/test/CodeGen/DirectX/scalar-store.ll
Labels: none

[libc] Convert dlfcn.h to pure YAML (#149362)
  libc/include/CMakeLists.txt
  libc/include/dlfcn.h.def
  libc/include/dlfcn.yaml
  libc/include/llvm-libc-macros/dlfcn-macros.h
Labels: none

[mlir][amdgpu] Properly handle mismatching memref ranks in `amdgpu.gather_to_lds` (#149407)
  mlir/include/mlir/Dialect/AMDGPU/IR/AMDGPU.td
  mlir/lib/Dialect/AMDGPU/IR/AMDGPUDialect.cpp
  mlir/test/Conversion/AMDGPUToROCDL/load_lds.mlir
  mlir/test/Dialect/AMDGPU/invalid.mlir
  mlir/test/Dialect/AMDGPU/ops.mlir
Labels: none

Add llvm-ir2vec.rst to pr-subscribes-mlgo (#149412)
  .github/new-prs-labeler.yml
Labels: misc

[CodeGen] Remove an unnecessary cast (NFC) (#149339)
  clang/lib/CodeGen/CodeGenFunction.cpp
Labels: none

[Target] Remove unnecessary casts (NFC) (#149342)
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/lib/Target/ARM/ARMISelLowering.cpp
Labels: none

[Sema] Remove unnecessary casts (NFC) (#149340)
  clang/lib/Sema/SemaInit.cpp
Labels: none
