Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

decouple CUDA source from NVPTX backend assumption
  clang/lib/Headers/__clang_gpu_device_functions.h
Labels: none

CR-efriedma-quic
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CGCall.h
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CGExprAgg.cpp
  clang/lib/CodeGen/CodeGenFunction.h
  clang/lib/Sema/SemaExpr.cpp
Labels: none

[Hexagon] Fix ISel error: LLVM: cannot select -fmaximum
  llvm/lib/Target/Hexagon/HexagonISelLowering.cpp
  llvm/lib/Target/Hexagon/HexagonISelLowering.h
  llvm/test/CodeGen/Hexagon/fmaximum.ll
  llvm/test/CodeGen/Hexagon/fminimum.ll
Labels: none

[Docs][AMDGPU] Eliminate incorrect use of double backticks [NFC]
  llvm/docs/AMDGPUDMAOperations.md
Labels: none

[VPlan] Account for masked VPInstructions in getIntrinsicID. (#212234)
  llvm/lib/Transforms/Vectorize/VPlanUtils.h
  llvm/test/Transforms/LoopVectorize/scalarize-masked-call.ll
Labels: none

[flang][cuda] Do not emit cuf.register_variable_static for device/constant under unified mode
  flang/lib/Optimizer/Transforms/CUDA/CUFAddConstructor.cpp
  flang/test/Fir/CUDA/cuda-constructor-2.f90
Labels: none

[HIP] Support device-only linking of bitcode offload binaries
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/hip-link-offload-binary.c
Labels: none

[Docs][AMDGPU] Eliminate incorrect use of double backticks [NFC] (#212343)
  llvm/docs/AMDGPUDMAOperations.md
Labels: none

Remove unnecessary ReuseBA variable
  llvm/lib/Target/X86/MCTargetDesc/X86AsmBackend.cpp
Labels: none

[flang][clang][flang-rt] Move -ffpe-trap= validation into the frontend
  clang/include/clang/Options/FlangOptions.td
  clang/lib/Driver/ToolChains/Flang.cpp
  flang-rt/lib/runtime/exceptions.cpp
  flang/docs/ReleaseNotes.md
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/test/Driver/fpe-trap.f90
  flang/test/Lower/fpe-trap.f90
Labels: none

fix default bit mode behaviour with no OBJECT_MODE set
  llvm/tools/llvm-ar/llvm-ar.cpp
Labels: none

Applied nit and added expected warnings/notes.
  clang/lib/StaticAnalyzer/Checkers/UseAfterLifetimeEnd.cpp
  clang/test/Analysis/lifetime-bound.cpp
Labels: none

[flang][cuda] Do not emit cuf.register_variable_static for device/constant under unified mode (#212344)
  flang/lib/Optimizer/Transforms/CUDA/CUFAddConstructor.cpp
  flang/test/Fir/CUDA/cuda-constructor-2.f90
Labels: none

[ScalarEvolution] Avoid SCEVMinus if LHS is FullSet
  llvm/lib/Analysis/ScalarEvolution.cpp
Labels: none

[SampleProfile] Fix symbol partitioning in Eytzinger name table
  llvm/lib/ProfileData/SampleProfWriter.cpp
  llvm/test/tools/llvm-profdata/eytzinger-split-nametable-partition.test
Labels: none

Address comments.
  llvm/include/llvm/ProfileData/SampleProf.h
  llvm/lib/ProfileData/SampleProfWriter.cpp
Labels: none

Address Nicks review comments: fix CMake arch match, generalize DEPENDS, remove redundant comment, clarify PER_TARGET_RUNTIME_DIR path
  clang/lib/Driver/ToolChains/SYCL.cpp
  clang/lib/Driver/ToolChains/SYCL.h
  compiler-rt/lib/builtins/CMakeLists.txt
Labels: none

[NFC][VPlan] Print element type for vector-pointer recipes
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/test/Transforms/LoopVectorize/ARM/mve-icmpcost.ll
  llvm/test/Transforms/LoopVectorize/VPlan/AArch64/call-decisions.ll
  llvm/test/Transforms/LoopVectorize/VPlan/AArch64/single-scalar-cast.ll
  llvm/test/Transforms/LoopVectorize/VPlan/AArch64/vplan-memory-op-decisions.ll
  llvm/test/Transforms/LoopVectorize/VPlan/X86/scalarize-wide-load-for-address-use.ll
  llvm/test/Transforms/LoopVectorize/VPlan/X86/vplan-vp-intrinsics.ll
  llvm/test/Transforms/LoopVectorize/VPlan/conditional-scalar-assignment-vplan.ll
  llvm/test/Transforms/LoopVectorize/VPlan/dissolve-replicate-regions.ll
  llvm/test/Transforms/LoopVectorize/VPlan/early_exit_with_stores_vplan.ll
  llvm/test/Transforms/LoopVectorize/VPlan/interleave-conditional-scalar-assignment-vplan.ll
  llvm/test/Transforms/LoopVectorize/VPlan/print-attributes.ll
  llvm/test/Transforms/LoopVectorize/VPlan/scalarize-irregular-type-memops.ll
  llvm/test/Transforms/LoopVectorize/VPlan/vplan-dot-printing.ll
  llvm/test/Transforms/LoopVectorize/VPlan/vplan-printing-alias-mask.ll
  llvm/test/Transforms/LoopVectorize/VPlan/vplan-printing-before-execute.ll
  llvm/test/Transforms/LoopVectorize/VPlan/vplan-printing-reductions-tail-folded.ll
  llvm/test/Transforms/LoopVectorize/VPlan/vplan-printing-reductions.ll
  llvm/test/Transforms/LoopVectorize/VPlan/vplan-printing.ll
  llvm/test/Transforms/LoopVectorize/VPlan/vplan-sink-scalars-and-merge.ll
  llvm/test/Transforms/LoopVectorize/VPlan/widen-canonical-iv-register-pressure.ll
  llvm/test/Transforms/LoopVectorize/X86/CostModel/vpinstruction-cost.ll
  llvm/test/tools/UpdateTestChecks/update_analyze_test_checks/Inputs/vplan.ll.expected
Labels: none

[clang][Driver][SYCL] Don't suppress compiler-rt builtins with -nolibsycl; add test
  clang/lib/Driver/ToolChains/SYCL.cpp
  clang/test/Driver/sycl-device-lib-spirv64.cpp
Labels: none

More comments
  llvm/utils/TableGen/Basic/RuntimeLibcalls.h
Labels: none

comment
  llvm/include/llvm/IR/RuntimeLibcalls.td
Labels: none

[mlir][OpenACC] Lower single-block thread-only array reductions
  mlir/lib/Dialect/OpenACC/Transforms/ACCCGToGPU.cpp
  mlir/test/Dialect/OpenACC/acc-cg-to-gpu-reduction-array.mlir
Labels: none

[libc++] Rename the test suite used on LNT
  .github/workflows/libcxx-benchmark-commit.yml
  libcxx/utils/ci/lnt/schema.yaml
Labels: misc

[Offload] Decouple CUDA source from NVPTX syncthreads assumption (#212339)
  clang/lib/Headers/__clang_gpu_device_functions.h
Labels: none

First step - support option in analyze_test_checks
  llvm/test/tools/UpdateTestChecks/update_analyze_test_checks/Inputs/run-lines.ll
  llvm/test/tools/UpdateTestChecks/update_analyze_test_checks/Inputs/run-lines.ll.expected1
  llvm/test/tools/UpdateTestChecks/update_analyze_test_checks/run-lines.test
  llvm/utils/update_analyze_test_checks.py
Labels: python

Missed one spot
  libcxx/utils/ci/lnt/run-benchbot
Labels: none

[libc++] Rename the test suite used on LNT (#212347)
  .github/workflows/libcxx-benchmark-commit.yml
  libcxx/utils/ci/lnt/run-benchbot
  libcxx/utils/ci/lnt/schema.yaml
Labels: misc

Convert computeBoundaryAlignSize to static helper
  llvm/include/llvm/MC/MCAssembler.h
  llvm/include/llvm/MC/MCELFStreamer.h
  llvm/lib/MC/MCAssembler.cpp
  llvm/lib/MC/MCELFStreamer.cpp
Labels: none

[lldb][Mach-O][NFC] Build ZeroCmdSize test inputs from YAML
  lldb/unittests/ObjectContainer/ObjectContainerUniversalMachOTest.cpp
  lldb/unittests/ObjectFile/MachO/TestObjectFileMachO.cpp
Labels: none

Move support to common.py, extend test to verify the same for update_test_checks.py
  llvm/test/tools/UpdateTestChecks/update_analyze_test_checks/Inputs/run-lines.ll.expected2
  llvm/test/tools/UpdateTestChecks/update_analyze_test_checks/run-lines.test
  llvm/utils/UpdateTestChecks/common.py
  llvm/utils/update_analyze_test_checks.py
  llvm/utils/update_mca_test_checks.py
  llvm/utils/update_mir_test_checks.py
Labels: python

Replace -resource-dir fixture with --no-offloadlib in tests that don't check device lib injection
  clang/test/Driver/sycl-offload-jit-xarch.cpp
  clang/test/Driver/sycl-offload-jit.cpp
  clang/test/Driver/sycl-print-internal-defines.cpp
  clang/test/Driver/sycl-std-default.cpp
  clang/test/Driver/sycl-windows.cpp
  clang/test/Driver/sycl.cpp
Labels: none

[HLSL] Add UsedByAtomic64 shader flag (#211691)
  llvm/include/llvm/Analysis/DXILResource.h
  llvm/lib/Analysis/DXILResource.cpp
  llvm/lib/Target/DirectX/DXContainerGlobals.cpp
  llvm/test/Analysis/DXILResource/has-atomic64-use.ll
  llvm/test/CodeGen/DirectX/ContainerData/PSVResources-UsedByAtomic64.ll
Labels: none

Move run lines filter into existing find_run_lines
  llvm/utils/UpdateTestChecks/common.py
  llvm/utils/update_mca_test_checks.py
  llvm/utils/update_mir_test_checks.py
Labels: python

[VPlan] Add vputils::getEarlyExits helper (NFC)
  llvm/lib/Transforms/Vectorize/VPlanConstruction.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanUtils.cpp
  llvm/lib/Transforms/Vectorize/VPlanUtils.h
Labels: none

[RegisterCoalescer] Do not coalesce spill/restore instructions
  llvm/lib/CodeGen/RegisterCoalescer.cpp
Labels: none

Extend to allow generating using multiple scripts
  llvm/test/tools/UpdateTestChecks/update_analyze_test_checks/Inputs/run-lines.analyze.expected
  llvm/test/tools/UpdateTestChecks/update_analyze_test_checks/Inputs/run-lines.analyze.then.llvm.expected
  llvm/test/tools/UpdateTestChecks/update_analyze_test_checks/Inputs/run-lines.llvm.expected
  llvm/test/tools/UpdateTestChecks/update_analyze_test_checks/Inputs/run-lines.llvm.then.analyze.expected
  llvm/test/tools/UpdateTestChecks/update_analyze_test_checks/run-lines.test
  llvm/utils/UpdateTestChecks/common.py
Labels: python

[gn build] Add missing deps
  llvm/utils/gn/secondary/llvm/lib/DebugInfo/LogicalView/BUILD.gn
Labels: none

[clang][Index][USR] Generate USRs for class-type non-type template arguments
  clang/docs/ReleaseNotes.md
  clang/lib/UnifiedSymbolResolution/USRGeneration.cpp
  clang/test/Index/USR/class-type-tpl-arg.cpp
Labels: none

remove dups, merge some tests
  clang/test/CodeGenHLSL/resources/Local-Resources/local_resource_array.hlsl
  clang/test/CodeGenHLSL/resources/Local-Resources/local_resource_array_size_one.hlsl
  clang/test/CodeGenHLSL/resources/Local-Resources/local_resource_copy_between_locals.hlsl
  clang/test/CodeGenHLSL/resources/Local-Resources/local_resource_forward_through_functions.hlsl
  clang/test/CodeGenHLSL/resources/Local-Resources/local_resource_multiple_uses.hlsl
  clang/test/CodeGenHLSL/resources/Local-Resources/local_struct_resource_member.hlsl
Labels: none

Add --no-offloadlib to clang MSVC-target tests to avoid missing builtins.bc error on Windows CI
  clang/test/Driver/sycl-windows.cpp
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
