Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[lldb][DWARF] Only log address range error to verbose channel
  lldb/source/Plugins/SymbolFile/DWARF/DWARFDebugInfoEntry.cpp
Labels: none

fixup! clang-format
  lldb/source/Plugins/SymbolFile/DWARF/DWARFDebugInfoEntry.cpp
Labels: none

Cleanup and fixes and address comments
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/lib/CodeGen/GlobalISel/MachineIRBuilder.cpp
  llvm/lib/CodeGen/MIRParser/MIParser.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/prelegalizer-combiner-shuffle.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/shufflevector-pointer-crash.mir
  llvm/test/CodeGen/MIR/AArch64/parse-shufflemask-invalid-scalar.mir
  llvm/test/MachineVerifier/test_g_shuffle_vector.mir
Labels: none

[Flang] Add Assign_omp fortran-rt function This commit is c-p from ivanradanov commit d7e44991415663f93cfc342b06e1c81c03161ed6
  flang-rt/lib/runtime/CMakeLists.txt
  flang-rt/lib/runtime/assign_omp.cpp
  flang/include/flang/Runtime/assign.h
  flang/lib/Optimizer/OpenMP/LowerWorkdistribute.cpp
Labels: none

[mlir][spirv] Add definition for GL Length
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVGLOps.td
  mlir/test/Dialect/SPIRV/IR/gl-ops.mlir
  mlir/test/Target/SPIRV/gl-ops.mlir
Labels: none

Add missed `"`
  libcxx/test/std/utilities/format/format.arguments/format.arg/visit.return_type.pass.cpp
Labels: none

Update lld/MinGW/Driver.cpp
  lld/MinGW/Driver.cpp
Labels: none

Allow norecurse on functions calling library functions only when there are no external references
  llvm/lib/Transforms/IPO/FunctionAttrs.cpp
  llvm/test/Other/new-pm-lto-defaults.ll
Labels: none

[flang][OpenMP] improve semantic check for invalid goto
  flang/lib/Semantics/resolve-directives.cpp
  flang/test/Semantics/OpenMP/parallel-master-goto.f90
Labels: none

[lld] Refactor storage of PAuth ABI core info (#141920)
  lld/ELF/Arch/AArch64.cpp
  lld/ELF/Config.h
  lld/ELF/Driver.cpp
  lld/ELF/InputFiles.cpp
  lld/ELF/InputFiles.h
  lld/ELF/SyntheticSections.cpp
  lld/test/ELF/aarch64-feature-pauth.s
Labels: none

[lld] Refactor storage of PAuth ABI core info (#141920)
  lld/ELF/Arch/AArch64.cpp
  lld/ELF/Config.h
  lld/ELF/Driver.cpp
  lld/ELF/InputFiles.cpp
  lld/ELF/InputFiles.h
  lld/ELF/SyntheticSections.cpp
  lld/test/ELF/aarch64-feature-pauth.s
Labels: none

[libc] Fix bugs found when testing with all headers
  libc/include/math.yaml
  libc/include/wchar.yaml
  libc/test/src/stdio/printf_core/converter_test.cpp
Labels: none

Review comments
  flang/lib/Semantics/check-omp-structure.cpp
  flang/test/Semantics/OpenMP/depend-substring.f90
Labels: none

[X86] X86FixupInstTuning - fold BLENDPS -> MOVSD (#144029)
  llvm/lib/Target/X86/X86FixupInstTuning.cpp
  llvm/test/CodeGen/X86/avx-insertelt.ll
  llvm/test/CodeGen/X86/avx-intrinsics-x86-upgrade.ll
  llvm/test/CodeGen/X86/coalesce_commute_movsd.ll
  llvm/test/CodeGen/X86/combine-and.ll
  llvm/test/CodeGen/X86/combine-or-shuffle.ll
  llvm/test/CodeGen/X86/commute-blend-sse41.ll
  llvm/test/CodeGen/X86/horizontal-sum.ll
  llvm/test/CodeGen/X86/insertelement-zero.ll
  llvm/test/CodeGen/X86/masked_load.ll
  llvm/test/CodeGen/X86/sse-insertelt.ll
  llvm/test/CodeGen/X86/sse-scalar-fp-arith.ll
  llvm/test/CodeGen/X86/sse2-intrinsics-fast-isel.ll
  llvm/test/CodeGen/X86/sse2-intrinsics-x86-upgrade.ll
  llvm/test/CodeGen/X86/sse2.ll
  llvm/test/CodeGen/X86/sse41-intrinsics-fast-isel.ll
  llvm/test/CodeGen/X86/sse41-intrinsics-x86-upgrade.ll
  llvm/test/CodeGen/X86/vec-strict-128-fp16.ll
  llvm/test/CodeGen/X86/vec_floor.ll
  llvm/test/CodeGen/X86/vector-blend.ll
  llvm/test/CodeGen/X86/vector-interleaved-load-i32-stride-4.ll
  llvm/test/CodeGen/X86/vector-interleaved-load-i32-stride-5.ll
  llvm/test/CodeGen/X86/vector-mul.ll
  llvm/test/CodeGen/X86/vector-shuffle-128-v2.ll
  llvm/test/CodeGen/X86/vector-shuffle-128-v4.ll
  llvm/test/CodeGen/X86/vector-shuffle-256-v8.ll
  llvm/test/CodeGen/X86/vector-shuffle-combining-ssse3.ll
  llvm/test/CodeGen/X86/vector-shuffle-concatenation.ll
  llvm/test/CodeGen/X86/vselect-2.ll
  llvm/test/CodeGen/X86/vselect.ll
Labels: none

[X86] X86FixupInstTuning - fold BLENDPS -> MOVSD (#144029)
  llvm/lib/Target/X86/X86FixupInstTuning.cpp
  llvm/test/CodeGen/X86/avx-insertelt.ll
  llvm/test/CodeGen/X86/avx-intrinsics-x86-upgrade.ll
  llvm/test/CodeGen/X86/coalesce_commute_movsd.ll
  llvm/test/CodeGen/X86/combine-and.ll
  llvm/test/CodeGen/X86/combine-or-shuffle.ll
  llvm/test/CodeGen/X86/commute-blend-sse41.ll
  llvm/test/CodeGen/X86/horizontal-sum.ll
  llvm/test/CodeGen/X86/insertelement-zero.ll
  llvm/test/CodeGen/X86/masked_load.ll
  llvm/test/CodeGen/X86/sse-insertelt.ll
  llvm/test/CodeGen/X86/sse-scalar-fp-arith.ll
  llvm/test/CodeGen/X86/sse2-intrinsics-fast-isel.ll
  llvm/test/CodeGen/X86/sse2-intrinsics-x86-upgrade.ll
  llvm/test/CodeGen/X86/sse2.ll
  llvm/test/CodeGen/X86/sse41-intrinsics-fast-isel.ll
  llvm/test/CodeGen/X86/sse41-intrinsics-x86-upgrade.ll
  llvm/test/CodeGen/X86/vec-strict-128-fp16.ll
  llvm/test/CodeGen/X86/vec_floor.ll
  llvm/test/CodeGen/X86/vector-blend.ll
  llvm/test/CodeGen/X86/vector-interleaved-load-i32-stride-4.ll
  llvm/test/CodeGen/X86/vector-interleaved-load-i32-stride-5.ll
  llvm/test/CodeGen/X86/vector-mul.ll
  llvm/test/CodeGen/X86/vector-shuffle-128-v2.ll
  llvm/test/CodeGen/X86/vector-shuffle-128-v4.ll
  llvm/test/CodeGen/X86/vector-shuffle-256-v8.ll
  llvm/test/CodeGen/X86/vector-shuffle-combining-ssse3.ll
  llvm/test/CodeGen/X86/vector-shuffle-concatenation.ll
  llvm/test/CodeGen/X86/vselect-2.ll
  llvm/test/CodeGen/X86/vselect.ll
Labels: none

[X86] X86FixupInstTuning - hoist OptSize flag. NFC.
  llvm/lib/Target/X86/X86FixupInstTuning.cpp
Labels: none

[X86] X86FixupInstTuning - hoist OptSize flag. NFC.
  llvm/lib/Target/X86/X86FixupInstTuning.cpp
Labels: none

[Offload] Replace device info queue with a tree
  offload/liboffload/src/OffloadImpl.cpp
  offload/plugins-nextgen/amdgpu/src/rtl.cpp
  offload/plugins-nextgen/common/include/PluginInterface.h
  offload/plugins-nextgen/common/src/PluginInterface.cpp
  offload/plugins-nextgen/cuda/src/rtl.cpp
  offload/plugins-nextgen/host/src/rtl.cpp
Labels: none

[X86] X86InstrInfo::commuteInstructionImpl - remove (V)BLENDPD/S commutation to (V)MOVSD/S optsize handling
  llvm/lib/Target/X86/X86InstrInfo.cpp
Labels: none

Change to XLen + 1
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.cpp
  llvm/test/CodeGen/RISCV/memcmp-optsize.ll
  llvm/test/CodeGen/RISCV/memcmp.ll
Labels: none

[InstCombine] Restore splat gep support in OptimizePointerDifference() (#143906)
  llvm/lib/Transforms/InstCombine/InstCombineAddSub.cpp
  llvm/test/Transforms/InstCombine/sub-gep.ll
Labels: none

[InstCombine] Restore splat gep support in OptimizePointerDifference() (#143906)
  llvm/lib/Transforms/InstCombine/InstCombineAddSub.cpp
  llvm/test/Transforms/InstCombine/sub-gep.ll
Labels: none

Address comments
  llvm/include/llvm/MC/StringTableBuilder.h
  llvm/lib/MC/StringTableBuilder.cpp
Labels: none

[InstCombine] Extract EmitGEPOffsets() helper (NFC)
  llvm/lib/Transforms/InstCombine/InstCombineAddSub.cpp
  llvm/lib/Transforms/InstCombine/InstCombineInternal.h
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
Labels: none

[InstCombine] Extract EmitGEPOffsets() helper (NFC)
  llvm/lib/Transforms/InstCombine/InstCombineAddSub.cpp
  llvm/lib/Transforms/InstCombine/InstCombineInternal.h
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
Labels: none

[Offload] Implement `olShutDown` and remove global reference counting
  offload/liboffload/API/Common.td
  offload/liboffload/src/OffloadImpl.cpp
Labels: none

Revert "[lit] cleanup unused imports (#143930)"
  lld/test/Unit/lit.cfg.py
  lldb/test/API/lit.cfg.py
  lldb/test/Shell/lit.cfg.py
  lldb/test/lit.cfg.py
  llvm/utils/lit/lit/LitConfig.py
  llvm/utils/lit/lit/TestRunner.py
  llvm/utils/lit/lit/discovery.py
  llvm/utils/lit/lit/worker.py
Labels: python

[LV] Use getFixedValue instead of getKnownMinValue when appropriate (#143526)
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlan.cpp
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
Labels: none

[LV] Use getFixedValue instead of getKnownMinValue when appropriate (#143526)
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlan.cpp
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
Labels: none

[TableGen] Use getValue instead of getInt for enum attributes getInt is deprecated. We can instead compare APInt for the predicate and getZExtValue to return the underlying data
  mlir/include/mlir/IR/EnumAttr.td
  mlir/test/IR/attribute.mlir
  mlir/test/lib/Dialect/Test/TestEnumDefs.td
  mlir/tools/mlir-tblgen/EnumsGen.cpp
Labels: none

Reapply suggested fix
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
  llvm/test/Transforms/InstCombine/select.ll
  llvm/test/Transforms/PhaseOrdering/X86/vector-reductions.ll
Labels: none

[OpenMP] Remove declaration and usage of __AMDGCN_WAVEFRONT_SIZE
  openmp/runtime/src/include/ompx.h.var
Labels: openmp

Remove whitelist from matchSimpleRecurrence.
  llvm/lib/Analysis/HashRecognize.cpp
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/test/Analysis/HashRecognize/cyclic-redundancy-check.ll
Labels: none

[SystemZ][z/OS] Refactor AutoConvert more (#143955)
  llvm/include/llvm/Support/AutoConvert.h
  llvm/lib/Support/AutoConvert.cpp
  llvm/lib/Support/Unix/Path.inc
  llvm/lib/Support/Unix/Program.inc
Labels: none

[SystemZ][z/OS] Refactor AutoConvert more (#143955)
  llvm/include/llvm/Support/AutoConvert.h
  llvm/lib/Support/AutoConvert.cpp
  llvm/lib/Support/Unix/Path.inc
  llvm/lib/Support/Unix/Program.inc
Labels: none

[ValueTracking] Improve `Bitcast` handling to match SDAG
  llvm/lib/Analysis/ValueTracking.cpp
Labels: none

Add comment
  llvm/lib/Analysis/ValueTracking.cpp
Labels: none

Minor change and tests added
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/test/Transforms/InstCombine/X86/x86-vector-shifts.ll
Labels: none

Update tests
  llvm/test/Transforms/InstCombine/pr125228.ll
Labels: none

Update x86-vector-shifts.ll
  llvm/test/Transforms/InstCombine/X86/x86-vector-shifts.ll
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
