Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

Add Sema Checker
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Sema/Initialization.h
  clang/include/clang/Sema/SemaWasm.h
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaInit.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/lib/Sema/SemaWasm.cpp
  clang/test/Sema/attr-wasm.c
  clang/test/Sema/wasm-global-attribute.cpp
Labels: none

[InstCombine] Fold eq/ne between scmp(X, 0) and zext(V != 0)
  llvm/lib/Transforms/InstCombine/InstCombineCompares.cpp
  llvm/test/Transforms/InstCombine/scmp.ll
Labels: none

Regenerate v4i8-byte-lane-ext.ll after rebase
  llvm/test/CodeGen/AMDGPU/v4i8-byte-lane-ext.ll
Labels: none

[AMDGPU] Extract byte lanes of a split vector from the 32-bit source
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.h
  llvm/test/CodeGen/AMDGPU/idot4-test.ll
  llvm/test/CodeGen/AMDGPU/idot4s.ll
  llvm/test/CodeGen/AMDGPU/idot4u.ll
  llvm/test/CodeGen/AMDGPU/lshr.v2i16.ll
  llvm/test/CodeGen/AMDGPU/min.ll
  llvm/test/CodeGen/AMDGPU/permute_i8.ll
  llvm/test/CodeGen/AMDGPU/sad.ll
  llvm/test/CodeGen/AMDGPU/v4i8-byte-lane-ext.ll
Labels: none

Regenerate load-global-i8.ll and sign_extend.ll after rebase
  llvm/test/CodeGen/AMDGPU/load-global-i8.ll
  llvm/test/CodeGen/AMDGPU/sign_extend.ll
Labels: none

[AMDGPU] Don't select scalar loads for LDS/scratch (#227423)
  llvm/lib/Target/AMDGPU/SMInstructions.td
  llvm/test/CodeGen/AMDGPU/smem-invariant-load-addrspace.ll
Labels: none

Fix
  llvm/test/Transforms/Attributor/callsite-return-mismatched-callee.ll
Labels: none

Fix
  clang/lib/Sema/SemaInit.cpp
Labels: none

fixup! [libc++] Use glibc random APIs for std::random_device on Linux
  libcxx/include/__cxx03/__config
  libcxx/include/__cxx03/__random/random_device.h
  libcxx/test/libcxx-03/numerics/rand/rand.device/abi.compile.pass.cpp
Labels: none

fixup! [libc++] Use glibc random APIs for std::random_device on Linux
  libcxx/test/libcxx/numerics/rand/rand.device/abi.compile.pass.cpp
  libcxx/test/std/numerics/rand/rand.device/ctor.pass.cpp
  libcxx/test/std/numerics/rand/rand.device/eval.pass.cpp
  libcxx/utils/libcxx/test/features/libcxx_macros.py
Labels: python

AMDGPU: Restore kernel tests in early-if-convert-cost.ll (#230764)
  llvm/test/CodeGen/AMDGPU/early-if-convert-cost.ll
Labels: none

Drop the zero shift check in the and fold
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
Labels: none

[LV] Add test for reusing LCSSA phi for AddRec in trip count (NFC).
  llvm/test/Transforms/LoopVectorize/reuse-lcssa-phi-scev-expansion.ll
Labels: none

[libc++abi] Use a strong enum for path kind tracking
  libcxxabi/src/private_typeinfo.cpp
  libcxxabi/src/private_typeinfo.h
Labels: none

fix(X86): restore CCMP through boolean NOT
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/apx/ccmp.ll
Labels: none

[Object] Avoid integer overflow in big archive symbol table bounds checks
  llvm/lib/Object/Archive.cpp
Labels: none

[Object] Add tests for a wrapped big archive symbol table offset
  llvm/test/Object/bigarchive-malformed-header.test
Labels: none

[VPlan] Re-use LCSSA phis when expanding AddRecs of other loops.
  llvm/lib/Transforms/Vectorize/VPlanUtils.cpp
  llvm/test/Transforms/LoopVectorize/expand-scev-cse.ll
  llvm/test/Transforms/LoopVectorize/reuse-lcssa-phi-scev-expansion.ll
Labels: none

[AArch64] Remove tryShiftAmountMod in favor of SelectShiftMask
  llvm/lib/Target/AArch64/AArch64ISelDAGToDAG.cpp
  llvm/lib/Target/AArch64/AArch64InstrFormats.td
  llvm/test/CodeGen/AArch64/shift-amount-mod.ll
  llvm/test/CodeGen/AArch64/shift-mod.ll
Labels: none

RuntimeLibcalls: Remove the Default* libcall lists
  llvm/include/llvm/IR/RuntimeLibcalls.td
Labels: none

AMDGPU: Fix true16 build_vector (0, x) pattern using a 16-bit shift operand
  llvm/lib/Target/AMDGPU/SIInstructions.td
  llvm/test/CodeGen/AMDGPU/GlobalISel/inst-select-build-vector-true16.mir
  llvm/test/CodeGen/AMDGPU/amdgcn.bitcast.128bit.ll
  llvm/test/CodeGen/AMDGPU/amdgcn.bitcast.48bit.ll
  llvm/test/CodeGen/AMDGPU/amdgcn.bitcast.64bit.ll
  llvm/test/CodeGen/AMDGPU/amdgcn.bitcast.96bit.ll
  llvm/test/CodeGen/AMDGPU/bf16.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointer-atomicrmw-fadd.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointer-atomicrmw-fmax.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointer-atomicrmw-fmin.ll
  llvm/test/CodeGen/AMDGPU/fabs.bf16.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fadd.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fmax.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fmin.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fsub.ll
  llvm/test/CodeGen/AMDGPU/float-to-arbitrary-fp-fp8-f16-hw.ll
  llvm/test/CodeGen/AMDGPU/float-to-arbitrary-fp-fp8-hw.ll
  llvm/test/CodeGen/AMDGPU/float-to-arbitrary-fp-widen.ll
  llvm/test/CodeGen/AMDGPU/fmax3-maximumnum.ll
  llvm/test/CodeGen/AMDGPU/fmed3.bf16.ll
  llvm/test/CodeGen/AMDGPU/fmin3-minimumnum.ll
  llvm/test/CodeGen/AMDGPU/fptosi-sat-vector.ll
  llvm/test/CodeGen/AMDGPU/fptoui-sat-vector.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fadd.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fmax.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fmin.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fsub.ll
  llvm/test/CodeGen/AMDGPU/isel-amdgpu-cs-chain-preserve-cc.ll
  llvm/test/CodeGen/AMDGPU/llvm.exp2.bf16.ll
  llvm/test/CodeGen/AMDGPU/llvm.log2.ll
  llvm/test/CodeGen/AMDGPU/maximumnum.bf16.ll
  llvm/test/CodeGen/AMDGPU/minimumnum.bf16.ll
Labels: none

[clang][AST] Add public member getOpcodeStr usage per review feedback
  clang-tools-extra/clangd/DumpAST.cpp
  clang/include/clang/ASTMatchers/ASTMatchersInternal.h
  clang/lib/Analysis/UnsafeBufferUsage.cpp
  clang/unittests/Tooling/RecursiveASTVisitorTestPostOrderVisitor.cpp
Labels: none

fix(x86): reuse shifted masks in SSE ANDNP
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/vector-bo-select.ll
Labels: none

[LAA] Add tests for miscompiles with runtime checks and dependence analysis (NFC).
  llvm/test/Analysis/LoopAccessAnalysis/different-access-types-rt-checks.ll
  llvm/test/Analysis/LoopAccessAnalysis/is-safe-dep-distance-narrow-btc.ll
  llvm/test/Analysis/LoopAccessAnalysis/is-safe-dep-distance-partial-overlap.ll
  llvm/test/Analysis/LoopAccessAnalysis/runtime-check-grouping-wrapping-bounds.ll
  llvm/test/Transforms/LoopVectorize/interleaved-accesses-retry-runtime-checks.ll
Labels: none

[APFloat] Correct upper boundary distances for directed decimal rounding
  llvm/lib/Support/APFloat.cpp
  llvm/unittests/ADT/APFloatTest.cpp
Labels: none

[libc] Fix freebsd CI failure
  .github/workflows/libc-freebsd-vm-tests.yml
Labels: misc

[libcxx] make CI hardening-mode-extensive-observe to compile both dylib and test in observe mode
  libcxx/cmake/caches/Generic-hardening-mode-extensive-observe-semantic.cmake
Labels: none

review
  libcxx/include/__rcu/rcu_domain.h
  libcxx/include/__rcu/readme.md
Labels: none

design doc
  libcxx/docs/DesignDocs/RCU.md
  libcxx/docs/index.md
Labels: none

init
  libcxx/docs/FeatureTestMacroTable.rst
  libcxx/include/CMakeLists.txt
  libcxx/include/__configuration/experimental.h
  libcxx/include/__rcu/rcu_domain.h
  libcxx/include/__rcu/rcu_obj_base.h
  libcxx/include/module.modulemap.in
  libcxx/include/rcu
  libcxx/include/version
  libcxx/modules/std.cppm.in
  libcxx/modules/std/rcu.inc
  libcxx/test/std/language.support/support.limits/support.limits.general/rcu.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/version.version.compile.pass.cpp
  libcxx/utils/generate_feature_test_macro_components.py
Labels: python

init impl
  libcxx/include/CMakeLists.txt
  libcxx/include/__rcu/rcu_domain.h
  libcxx/include/__rcu/rcu_list.h
  libcxx/include/__rcu/readme.md
  libcxx/include/module.modulemap.in
  libcxx/test/std/thread/saferecl/saferecl.rcu/general.pass.cpp
Labels: none

callbacks
  libcxx/include/__rcu/rcu_domain.h
  libcxx/include/__rcu/rcu_list.h
  libcxx/include/__rcu/rcu_obj_base.h
  libcxx/test/std/thread/saferecl/saferecl.rcu/read_write_lock_compare.pass.cpp
  libcxx/test/std/thread/saferecl/saferecl.rcu/retire.pass.cpp
Labels: none

move impl to internal linkage
  libcxx/include/__rcu/rcu_domain.h
  libcxx/src/experimental/rcu.cpp
  libcxx/test/std/thread/saferecl/saferecl.rcu/general.pass.cpp
Labels: none

refactor to hide implementation into dylib
  libcxx/CMakeLists.txt
  libcxx/docs/DesignDocs/RCU.md
  libcxx/include/CMakeLists.txt
  libcxx/include/__rcu/rcu_domain.h
  libcxx/include/__rcu/rcu_obj_base.h
  libcxx/include/module.modulemap.in
  libcxx/src/CMakeLists.txt
  libcxx/src/experimental/include/rcu/rcu_list.h
  libcxx/src/experimental/rcu.cpp
Labels: none

doc
  libcxx/docs/DesignDocs/RCU.md
Labels: none

Update libcxx/docs/DesignDocs/RCU.rst
  libcxx/docs/DesignDocs/RCU.md
Labels: none

more docs
  libcxx/docs/DesignDocs/RCU.md
  libcxx/include/__rcu/rcu_obj_base.h
Labels: none

Update libcxx/docs/DesignDocs/RCU.rst
  libcxx/docs/DesignDocs/RCU.md
Labels: none

Update libcxx/docs/DesignDocs/RCU.rst
  libcxx/docs/DesignDocs/RCU.md
Labels: none

Update libcxx/docs/DesignDocs/RCU.rst
  libcxx/docs/DesignDocs/RCU.md
Labels: none
