Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[SC32] Fix eliminateFrameIndex
  llvm/lib/Target/SC32/SC32RegisterInfo.cpp
Labels: none

[SC32] Add Defs=[Flags] to instructions that modify the flags register
  llvm/lib/Target/SC32/SC32.td
Labels: none

[gpurun] Move bypass as early as possible, avoids missing rocm error (#1522)
  offload/utils/gpurun/gpurun
Labels: none

Regenerate ClangFormatStyleOptions.rst
  clang/docs/ClangFormatStyleOptions.rst
Labels: none

[clang-tidy] Simplify and generalize `performance-string-view-conversions`
  clang-tools-extra/clang-tidy/performance/StringViewConversionsCheck.cpp
  clang-tools-extra/test/clang-tidy/checkers/performance/string-view-conversions.cpp
Labels: none

Fix packed being ignored on ms_struct bitfields
  clang/lib/AST/RecordLayoutBuilder.cpp
  clang/test/CodeGen/ms_struct-bitfield.c
  clang/test/CodeGen/ms_struct-packed.c
Labels: none

[RISCV] Reduce duplicated SFB patterns in RISCVInstrInfoXAndes.td. NFC.
  llvm/lib/Target/RISCV/RISCVInstrInfoXAndes.td
Labels: none

add DynamicType.type_name
  mlir/include/mlir-c/ExtensibleDialect.h
  mlir/lib/Bindings/Python/IRTypes.cpp
  mlir/lib/CAPI/IR/ExtensibleDialect.cpp
  mlir/test/python/dialects/irdl.py
Labels: python

Update mlir/lib/Bindings/Python/IRTypes.cpp
  mlir/lib/Bindings/Python/IRTypes.cpp
Labels: none

[𝘀𝗽𝗿] initial version
  llvm/include/llvm/CodeGen/AsmPrinter.h
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
Labels: none

[𝘀𝗽𝗿] changes to main this commit is based on
  llvm/include/llvm/CodeGen/AsmPrinter.h
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
Labels: none

[𝘀𝗽𝗿] changes to main this commit is based on
  llvm/include/llvm/CodeGen/AsmPrinter.h
  llvm/include/llvm/Passes/CodeGenPassBuilder.h
  llvm/include/llvm/Target/TargetMachine.h
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.h
  llvm/lib/Target/AMDGPU/R600TargetMachine.cpp
  llvm/lib/Target/AMDGPU/R600TargetMachine.h
  llvm/lib/Target/X86/X86CodeGenPassBuilder.cpp
  llvm/lib/Target/X86/X86TargetMachine.h
  llvm/tools/llc/NewPMDriver.cpp
Labels: none

[𝘀𝗽𝗿] changes to main this commit is based on
  llvm/include/llvm/CodeGen/AsmPrinter.h
  llvm/include/llvm/Passes/CodeGenPassBuilder.h
  llvm/include/llvm/Target/TargetMachine.h
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.h
  llvm/lib/Target/AMDGPU/R600TargetMachine.cpp
  llvm/lib/Target/AMDGPU/R600TargetMachine.h
  llvm/lib/Target/X86/X86CodeGenPassBuilder.cpp
  llvm/lib/Target/X86/X86TargetMachine.h
  llvm/tools/llc/NewPMDriver.cpp
Labels: none

[𝘀𝗽𝗿] changes to main this commit is based on
  llvm/include/llvm/CodeGen/AsmPrinter.h
  llvm/include/llvm/Passes/CodeGenPassBuilder.h
  llvm/include/llvm/Target/TargetMachine.h
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.h
  llvm/lib/Target/AMDGPU/R600TargetMachine.cpp
  llvm/lib/Target/AMDGPU/R600TargetMachine.h
  llvm/lib/Target/X86/X86AsmPrinter.cpp
  llvm/lib/Target/X86/X86AsmPrinter.h
  llvm/lib/Target/X86/X86CodeGenPassBuilder.cpp
  llvm/lib/Target/X86/X86TargetMachine.h
  llvm/tools/llc/NewPMDriver.cpp
Labels: none

formatting
  llvm/include/llvm/Passes/CodeGenPassBuilder.h
  llvm/lib/Target/AMDGPU/R600TargetMachine.cpp
  llvm/lib/Target/X86/X86CodeGenPassBuilder.cpp
Labels: none

[𝘀𝗽𝗿] changes introduced through rebase
  llvm/include/llvm/Passes/CodeGenPassBuilder.h
  llvm/lib/Target/AMDGPU/R600TargetMachine.cpp
  llvm/lib/Target/X86/X86CodeGenPassBuilder.cpp
Labels: none

[VPlan] Remove verifyEVLRecipe
  llvm/lib/Transforms/Vectorize/VPlanVerifier.cpp
Labels: none

[VPlan] Remove verifyLate from VPlanVerifier. NFC
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlanVerifier.cpp
  llvm/lib/Transforms/Vectorize/VPlanVerifier.h
Labels: none

Correction for global address space
  llvm/lib/Target/AMDGPU/AMDGPUTargetTransformInfo.h
Labels: none

Update int2ptr.ll
  llvm/test/Transforms/InferAddressSpaces/AMDGPU/int2ptr.ll
Labels: none

[NFC][ItaniumMangle] Format code and fix `llvm-else-after-return`
  clang/lib/AST/ItaniumMangle.cpp
Labels: none

[Infra][Nightly] Enable rock CI full category tests and add test retries (#1396)
  .github/workflows/ci_nightly.yml
  .github/workflows/test_artifacts.yml
  .github/workflows/test_component.yml
Labels: misc

[Infra] Resolve multi-PR workflow error impacting nightly manual trigger (#1502)
  .github/workflows/build_portable_linux_artifacts.yml
  .github/workflows/build_windows_artifacts.yml
  .github/workflows/parameterised-sha-rockci-amd-staging.yml
Labels: misc

[MLIR][Python] Support type definitions in Python-defined dialects
  mlir/python/mlir/dialects/ext.py
  mlir/test/python/dialects/ext.py
Labels: python

[mlir][Linalg] Allow isaBroadcastOpInterface to accept LinalgOp
  mlir/include/mlir/Dialect/Linalg/IR/LinalgInterfaces.h
  mlir/lib/Dialect/Linalg/IR/LinalgInterfaces.cpp
Labels: none

[clangd] Show comment of field on hover
  clang-tools-extra/clangd/Hover.cpp
  clang-tools-extra/clangd/unittests/HoverTests.cpp
Labels: none

chceking if its time limit constrain for ubuntu 24.04 ( reduced to 2^16)
  libc/src/__support/FPUtil/bfloat16.h
  libc/test/src/math/fmabf16_test.cpp
Labels: none

[AMDGPU] Move `advanceBeforeNext` before `advanceToNext`
  llvm/lib/Target/AMDGPU/GCNSchedStrategy.cpp
  llvm/test/CodeGen/AMDGPU/machine-scheduler-sink-trivial-remats-debug.mir
  llvm/test/CodeGen/AMDGPU/machine-scheduler-sink-trivial-remats.mir
Labels: none

continued prev
  libc/test/src/math/fmabf16_test.cpp
Labels: none

[RISCV] Update Andes45 vector reduction scheduling info
  llvm/lib/Target/RISCV/RISCVSchedAndes45.td
  llvm/test/tools/llvm-mca/RISCV/Andes45/rvv-reduction.s
Labels: none

[Hexagon] Add AggressiveRDF copy propagation
  llvm/lib/Target/Hexagon/AggressiveRDFCopy.cpp
  llvm/lib/Target/Hexagon/AggressiveRDFCopy.h
  llvm/lib/Target/Hexagon/CMakeLists.txt
  llvm/lib/Target/Hexagon/HexagonRDFOpt.cpp
  llvm/lib/Target/Hexagon/RDFCopy.cpp
  llvm/lib/Target/Hexagon/RDFCopy.h
  llvm/lib/Target/Hexagon/RDFCopyBase.h
  llvm/test/CodeGen/Hexagon/rdf-copy-clobber.mir
  llvm/test/CodeGen/Hexagon/rdf-copy-combine.mir
Labels: none

[M68k] Update llvm/test/CodeGen/M68k/pipeline.ll
  llvm/test/CodeGen/M68k/pipeline.ll
Labels: none

[AMDGPU] Add VFLAT, VGLOBAL, VSCRATCH to gfx13
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/FLATInstructions.td
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/test/MC/AMDGPU/gfx13_asm_vflat.s
  llvm/test/MC/AMDGPU/gfx13_asm_vflat_alias.s
Labels: none

initial commit for VC to tiled-dp lowering
  mlir/include/mlir/Dialect/AMX/CMakeLists.txt
  mlir/include/mlir/Dialect/AMX/TransformOps/AMXTransformOps.h
  mlir/include/mlir/Dialect/AMX/TransformOps/AMXTransformOps.td
  mlir/include/mlir/Dialect/AMX/TransformOps/CMakeLists.txt
  mlir/include/mlir/Dialect/AMX/Transforms.h
  mlir/lib/Dialect/AMX/CMakeLists.txt
  mlir/lib/Dialect/AMX/TransformOps/AMXTransformOps.cpp
  mlir/lib/Dialect/AMX/TransformOps/CMakeLists.txt
  mlir/lib/Dialect/AMX/Transforms/CMakeLists.txt
  mlir/lib/Dialect/AMX/Transforms/VectorContractToPackedTypeTiledDotProduct.cpp
  mlir/lib/RegisterAllExtensions.cpp
  mlir/test/Dialect/AMX/vector-contract-to-tiled-dp.mlir
Labels: none

fixup! Address comments
  llvm/lib/Target/RISCV/RISCVExpandPseudoInsts.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfo.cpp
Labels: none

[AMDGPU] Add VOP2 to gfx13
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/lib/Target/AMDGPU/VOP2Instructions.td
  llvm/test/MC/AMDGPU/gfx13_asm_vop2.s
  llvm/test/MC/AMDGPU/gfx13_asm_vop2_aliases.s
  llvm/test/MC/AMDGPU/gfx13_asm_vop2_dpp16.s
  llvm/test/MC/AMDGPU/gfx13_asm_vop2_dpp8.s
  llvm/test/MC/AMDGPU/gfx13_asm_vop2_err.s
  llvm/test/MC/AMDGPU/gfx13_asm_vop2_t16_err.s
  llvm/test/MC/AMDGPU/gfx13_asm_vop2_t16_promote.s
  llvm/test/MC/AMDGPU/gfx13_asm_vop3_from_vop2.s
  llvm/test/MC/AMDGPU/gfx13_asm_vop3_from_vop2_dpp16.s
  llvm/test/MC/AMDGPU/gfx13_asm_vop3_from_vop2_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx13_dasm_vop2.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx13_dasm_vop2_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx13_dasm_vop2_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx13_dasm_vop3_from_vop2.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx13_dasm_vop3_from_vop2_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx13_dasm_vop3_from_vop2_dpp8.txt
Labels: none

fix code formatting errors
  mlir/lib/RegisterAllExtensions.cpp
Labels: none

[AMDGPU] Add VOPD to gfx13
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/lib/Target/AMDGPU/VOPDInstructions.td
  llvm/test/MC/AMDGPU/gfx1250_asm_vopd.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vopd_features.s
  llvm/test/MC/AMDGPU/gfx13_asm_vopd3.s
  llvm/test/MC/AMDGPU/gfx13_asm_vopd_errs.s
Labels: none

github CI passes for single bf16 input space - testing for 2 + 1 fixed
  libc/test/src/math/fmabf16_test.cpp
Labels: none

[CodeGen] Refactor accumulateBitFields into two passes
  clang/lib/CodeGen/CGRecordLayoutBuilder.cpp
Labels: none
