Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[Offload] Replace device info queue with a tree (#144050)
  offload/liboffload/src/OffloadImpl.cpp
  offload/plugins-nextgen/amdgpu/src/rtl.cpp
  offload/plugins-nextgen/common/include/PluginInterface.h
  offload/plugins-nextgen/common/src/PluginInterface.cpp
  offload/plugins-nextgen/cuda/src/rtl.cpp
  offload/plugins-nextgen/host/src/rtl.cpp
Labels: none

Enable unique-object-duplication warning for windows (#143537)
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaDecl.cpp
  clang/test/SemaCXX/unique_object_duplication.cpp
  clang/test/SemaCXX/unique_object_duplication.h
Labels: none

[KeyInstr][NFC] Fix incorrect atomGroup/rank uint size in computeKeyInstructions
  llvm/lib/CodeGen/AsmPrinter/DwarfDebug.cpp
Labels: none

[OpenMP] Remove declaration and usage of __AMDGCN_WAVEFRONT_SIZE (#143761)
  openmp/runtime/src/include/ompx.h.var
Labels: openmp

[llvm] Compare std::optional<T> to values directly (NFC) (#143913)
  llvm/lib/Analysis/ConstantFolding.cpp
  llvm/lib/IR/Attributes.cpp
Labels: none

[mlir][spirv] Fix FuncOpVectorUnroll to process placeholder values in all blocks (#142339)
  mlir/lib/Dialect/SPIRV/Transforms/SPIRVConversion.cpp
  mlir/test/Conversion/ConvertToSPIRV/func-signature-vector-unroll.mlir
Labels: none

Revert "[lit] cleanup unused imports" (#144054)
  lld/test/Unit/lit.cfg.py
  lldb/test/API/lit.cfg.py
  lldb/test/Shell/lit.cfg.py
  lldb/test/lit.cfg.py
  llvm/utils/lit/lit/LitConfig.py
  llvm/utils/lit/lit/TestRunner.py
  llvm/utils/lit/lit/discovery.py
  llvm/utils/lit/lit/worker.py
Labels: python

[flang][OpenMP] Improve handling of REQUIRES ATOMIC_DEFAULT_MEM_ORDER (#143917)
  flang/lib/Semantics/rewrite-directives.cpp
  flang/test/Lower/OpenMP/requires-atomic-default-mem-order.f90
  flang/test/Semantics/OpenMP/requires-atomic02.f90
Labels: none

[AArch64] Add fixed-length SVE USDOT support (#143730)
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve-fixed-length-partial-reduce.ll
Labels: none

[X86] Add X86FixupInstTuning test coverage for (V)BLENDPD/S <-> (V)MOVSD/S patterns for various scheduler models
  llvm/test/CodeGen/X86/fixup-blend.ll
Labels: none

[clangd] Collect references in array designators (#140356)
  clang-tools-extra/clangd/unittests/XRefsTests.cpp
  clang/lib/Index/IndexBody.cpp
Labels: none

[llvm-cov] Add support for baseline coverage (#117910)
  llvm/docs/CommandGuide/llvm-cov.rst
  llvm/include/llvm/ProfileData/Coverage/CoverageMapping.h
  llvm/lib/ProfileData/Coverage/CoverageMapping.cpp
  llvm/test/tools/llvm-cov/showLineExecutionCounts-lcov-baseline.test
  llvm/tools/llvm-cov/CodeCoverage.cpp
  llvm/unittests/ProfileData/CoverageMappingTest.cpp
Labels: none

[instsimplify] Add tests for missing vp.reverse simplifications
  llvm/test/Transforms/InstSimplify/vp-reverse.ll
Labels: none

MC: Add MCAsmInfo::printExpr to replace MCExpr::print
  llvm/include/llvm/MC/MCAsmInfo.h
  llvm/lib/MC/MCAsmInfo.cpp
  llvm/lib/MC/MCAsmStreamer.cpp
  llvm/lib/MC/MCStreamer.cpp
Labels: none

[X86] X86FixupInstTuning - add dbg message for each instruction replacement (#144083)
  llvm/lib/Target/X86/X86FixupInstTuning.cpp
Labels: none

[MLIR][AMDGPU] Fix bug in GatherToLDSOpLowering, get the correct MemRefType for destination (#142915)
  llvm/docs/AMDGPUUsage.rst
  mlir/lib/Conversion/AMDGPUToROCDL/AMDGPUToROCDL.cpp
  mlir/test/Conversion/AMDGPUToROCDL/load_lds.mlir
Labels: none

[HLSL][SPIRV] Use resource names (#143412)
  clang/lib/CodeGen/CGHLSLBuiltins.cpp
  clang/lib/CodeGen/CGHLSLRuntime.cpp
  clang/lib/CodeGen/CGHLSLRuntime.h
  llvm/include/llvm/IR/IntrinsicsSPIRV.td
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.cpp
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.h
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.h
  llvm/test/CodeGen/SPIRV/hlsl-resources/BufferLoad.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/BufferLoadStore.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/BufferStore.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/Packed.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/ScalarResourceType.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/StorageImageDynIdx.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/StorageImageNonUniformIdx.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/StructuredBuffer.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/UnknownBufferLoad.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/UnknownBufferStore.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/spirv.layout.type.ll
  llvm/test/CodeGen/SPIRV/pointers/resource-addrspacecast-2.ll
  llvm/test/CodeGen/SPIRV/pointers/resource-addrspacecast.ll
  llvm/test/CodeGen/SPIRV/spirv-explicit-layout.ll
Labels: none

MC,SPARC: Replace SparcMCExpr with MCSpecifierExpr
  llvm/include/llvm/MC/MCAsmInfo.h
  llvm/include/llvm/MC/MCExpr.h
  llvm/lib/MC/MCAsmInfo.cpp
  llvm/lib/MC/MCExpr.cpp
  llvm/lib/Target/Sparc/MCTargetDesc/SparcInstPrinter.cpp
  llvm/lib/Target/Sparc/MCTargetDesc/SparcMCAsmInfo.cpp
  llvm/lib/Target/Sparc/MCTargetDesc/SparcMCAsmInfo.h
  llvm/lib/Target/Sparc/MCTargetDesc/SparcMCExpr.cpp
  llvm/lib/Target/Sparc/MCTargetDesc/SparcMCExpr.h
Labels: none

[CIR] Change default assumption about allowing builtins (#144004)
  clang/lib/CIR/CodeGen/CIRGenExpr.cpp
  clang/test/CIR/CodeGen/libc.c
Labels: none

[libc] Implemented wmemmove (#142245)
  libc/config/linux/x86_64/entrypoints.txt
  libc/include/wchar.yaml
  libc/src/wchar/CMakeLists.txt
  libc/src/wchar/wmemmove.cpp
  libc/src/wchar/wmemmove.h
  libc/test/src/wchar/CMakeLists.txt
  libc/test/src/wchar/wmemmove_test.cpp
Labels: none

[mlir][spirv] Add definition of OpImageRead (#144038)
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVBase.td
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVImageOps.td
  mlir/lib/Dialect/SPIRV/IR/ImageOps.cpp
  mlir/test/Dialect/SPIRV/IR/image-ops.mlir
  mlir/test/Target/SPIRV/image-ops.mlir
Labels: none

VE: Replace VEMCExpr::printImpl with printSpecifierExpr
  llvm/lib/Target/VE/MCTargetDesc/VEInstPrinter.cpp
  llvm/lib/Target/VE/MCTargetDesc/VEMCAsmInfo.cpp
  llvm/lib/Target/VE/MCTargetDesc/VEMCAsmInfo.h
  llvm/lib/Target/VE/MCTargetDesc/VEMCExpr.cpp
  llvm/lib/Target/VE/MCTargetDesc/VEMCExpr.h
Labels: none

[lldb] Include unistd.h for _exit in multi-process-driver.cpp
  lldb/test/API/api/multiple-debuggers/multi-process-driver.cpp
Labels: none

[mlir] Forward **kwargs through gentbl_shard_rule (#144001)
  utils/bazel/llvm-project-overlay/mlir/tblgen.bzl
Labels: none

Revert "[llvm-cov] Add support for baseline coverage" (#144121)
  llvm/docs/CommandGuide/llvm-cov.rst
  llvm/include/llvm/ProfileData/Coverage/CoverageMapping.h
  llvm/lib/ProfileData/Coverage/CoverageMapping.cpp
  llvm/test/tools/llvm-cov/showLineExecutionCounts-lcov-baseline.test
  llvm/tools/llvm-cov/CodeCoverage.cpp
  llvm/unittests/ProfileData/CoverageMappingTest.cpp
Labels: none

[LLD][Cygwin] Implement --dll-search-prefix (#143263)
  lld/MinGW/Driver.cpp
  lld/MinGW/Options.td
  lld/test/MinGW/lib.test
Labels: none

[tosa] Add duplicate indices check for Scatter (#143736)
  mlir/include/mlir/Dialect/Tosa/Utils/ConversionUtils.h
  mlir/lib/Dialect/Tosa/Transforms/TosaValidation.cpp
  mlir/lib/Dialect/Tosa/Utils/ConversionUtils.cpp
  mlir/test/Dialect/Tosa/invalid.mlir
Labels: none

[InstCombine] Fold shuffles through all trivially vectorizable intrinsics (#141979)
  llvm/lib/Transforms/InstCombine/InstCombineCalls.cpp
  llvm/test/Transforms/InstCombine/abs-1.ll
  llvm/test/Transforms/InstCombine/fma.ll
  llvm/test/Transforms/InstCombine/minmax-intrinsics.ll
  llvm/test/Transforms/InstCombine/powi.ll
  llvm/test/Transforms/InstCombine/scmp.ll
  llvm/test/Transforms/InstCombine/sqrt.ll
  llvm/test/Transforms/SLPVectorizer/AMDGPU/add_sub_sat-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/AMDGPU/add_sub_sat.ll
  llvm/test/Transforms/SLPVectorizer/X86/alternate-calls-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/X86/alternate-calls.ll
Labels: none

[SPIRV] Fix ExecutionMode_fragment.ll test (#144116)
  llvm/test/CodeGen/SPIRV/ExecutionMode_Fragment.ll
Labels: none

Fix/reapply "[libc] Migrate stdio tests to ErrnoCheckingTest." (#143972)
  libc/test/src/stdio/CMakeLists.txt
  libc/test/src/stdio/fdopen_test.cpp
  libc/test/src/stdio/fgetc_test.cpp
  libc/test/src/stdio/fgetc_unlocked_test.cpp
  libc/test/src/stdio/fgets_test.cpp
  libc/test/src/stdio/fileop_test.cpp
  libc/test/src/stdio/fopencookie_test.cpp
  libc/test/src/stdio/remove_test.cpp
  libc/test/src/stdio/rename_test.cpp
  libc/test/src/stdio/setvbuf_test.cpp
  libc/test/src/stdio/unlocked_fileop_test.cpp
  libc/test/src/stdlib/StrtolTest.h
  libc/test/src/stdlib/strtold_test.cpp
Labels: none

[libc] Fix bugs found when testing with all headers (#144049)
  libc/include/math.yaml
  libc/include/wchar.yaml
  libc/test/src/stdio/printf_core/converter_test.cpp
Labels: none

[CIR][NFC] Fix forrange.cpp test (#144123)
  clang/test/CIR/CodeGen/forrange.cpp
Labels: none

[CIR] Update isSized with upstreamed types (#143960)
  clang/lib/CIR/CodeGen/CIRGenBuilder.h
  clang/lib/CIR/CodeGen/CIRGenTypes.cpp
  clang/test/CIR/CodeGen/array.cpp
Labels: none

[libc][NFC] clean internal fd handling (#143991)
  libc/src/__support/File/linux/file.cpp
  libc/src/__support/OSUtil/fcntl.h
  libc/src/__support/OSUtil/linux/CMakeLists.txt
  libc/src/__support/OSUtil/linux/fcntl.cpp
  libc/src/fcntl/linux/CMakeLists.txt
  libc/src/fcntl/linux/fcntl.cpp
  libc/src/fcntl/linux/open.cpp
  libc/src/sys/auxv/linux/getauxval.cpp
  libc/src/sys/mman/linux/shm_common.h
  libc/src/sys/mman/linux/shm_open.cpp
  libc/src/sys/mman/linux/shm_unlink.cpp
  libc/src/unistd/linux/close.cpp
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none

[bazel] Update llvm-config.h and disable DebugLoc tracking (#144125)
  utils/bazel/llvm-project-overlay/llvm/include/llvm/Config/llvm-config.h
  utils/bazel/llvm_configs/llvm-config.h.cmake
Labels: none

[TableGen] Avoid evaluating RHS of a BinOp until short-circuit is complete (#144021)
  llvm/lib/TableGen/Record.cpp
  llvm/test/TableGen/true-false.td
Labels: none

[mlir][xegpu] add support for structure control flow ops in workgroup to subgroup distribution (#142618)
  mlir/include/mlir/Dialect/XeGPU/Utils/XeGPUUtils.h
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUWgToSgDistribute.cpp
  mlir/lib/Dialect/XeGPU/Utils/XeGPUUtils.cpp
  mlir/test/Dialect/XeGPU/xegpu-wg-to-sg-rr.mlir
  mlir/test/Dialect/XeGPU/xegpu-wg-to-sg.mlir
Labels: none

[IR2Vec] Minor vocab changes and exposing weights (#143200)
  llvm/include/llvm/Analysis/IR2Vec.h
  llvm/lib/Analysis/IR2Vec.cpp
  llvm/unittests/Analysis/IR2VecTest.cpp
Labels: none

Revert "Fix/reapply "[libc] Migrate stdio tests to ErrnoCheckingTest."" (#144129)
  libc/test/src/stdio/CMakeLists.txt
  libc/test/src/stdio/fdopen_test.cpp
  libc/test/src/stdio/fgetc_test.cpp
  libc/test/src/stdio/fgetc_unlocked_test.cpp
  libc/test/src/stdio/fgets_test.cpp
  libc/test/src/stdio/fileop_test.cpp
  libc/test/src/stdio/fopencookie_test.cpp
  libc/test/src/stdio/remove_test.cpp
  libc/test/src/stdio/rename_test.cpp
  libc/test/src/stdio/setvbuf_test.cpp
  libc/test/src/stdio/unlocked_fileop_test.cpp
  libc/test/src/stdlib/StrtolTest.h
  libc/test/src/stdlib/strtold_test.cpp
Labels: none

[clang-scan-deps] Implement P2223R2 for DependencyDirectiveScanner.cpp (#143950)
  clang/lib/Lex/DependencyDirectivesScanner.cpp
  clang/unittests/Lex/DependencyDirectivesScannerTest.cpp
Labels: none
