Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

nounwind for vector tests since cfi directives are causing CI failures
  llvm/test/CodeGen/AArch64/sve-fixed-vector-llrint.ll
  llvm/test/CodeGen/AArch64/sve-fixed-vector-lrint.ll
  llvm/test/CodeGen/AArch64/vector-llrint.ll
  llvm/test/CodeGen/AArch64/vector-lrint.ll
  llvm/test/CodeGen/PowerPC/vector-llrint.ll
  llvm/test/CodeGen/PowerPC/vector-lrint.ll
  llvm/test/CodeGen/X86/vector-llrint-f16.ll
  llvm/test/CodeGen/X86/vector-llrint.ll
  llvm/test/CodeGen/X86/vector-lrint-f16.ll
  llvm/test/CodeGen/X86/vector-lrint.ll
Labels: none

[SelectionDAG] Add `f16` soft promotion for `lrint` and `lround`
  llvm/lib/CodeGen/SelectionDAG/LegalizeFloatTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeTypes.h
  llvm/test/CodeGen/ARM/lrint-conv.ll
  llvm/test/CodeGen/ARM/vector-lrint.ll
  llvm/test/CodeGen/LoongArch/lrint-conv.ll
  llvm/test/CodeGen/Mips/llrint-conv.ll
  llvm/test/CodeGen/Mips/lrint-conv.ll
  llvm/test/CodeGen/RISCV/lrint-conv.ll
  llvm/test/CodeGen/X86/lrint-conv-i32.ll
Labels: none

[Headers][X86] Allow BITALG vpopcntw/vpopcntb intrinsics to be used in constexpr
  clang/lib/Headers/avx512bitalgintrin.h
  clang/lib/Headers/avx512vlbitalgintrin.h
  clang/test/CodeGen/X86/avx512bitalg-builtins.c
  clang/test/CodeGen/X86/avx512vlbitalg-builtins.c
  clang/test/CodeGen/X86/builtin_test_helpers.h
Labels: none

typo
  llvm/lib/DebugInfo/GSYM/ObjectFileTransformer.cpp
Labels: none

[GSYM] Parse symbols from .dynsym as well, consider ST_Unknown symbols
  llvm/lib/DebugInfo/GSYM/ObjectFileTransformer.cpp
Labels: none

[ValueTracking] Add missing check for two-value PN recurrance matching
  llvm/lib/Analysis/ValueTracking.cpp
Labels: none

add doc
  mlir/docs/Remarks.md
Labels: none

address comments
  mlir/include/mlir/IR/MLIRContext.h
  mlir/include/mlir/IR/Remarks.h
  mlir/lib/IR/MLIRContext.cpp
  mlir/lib/IR/Remarks.cpp
  mlir/unittests/IR/RemarkTest.cpp
Labels: none

Fix clang format
  clang/lib/Sema/SemaType.cpp
Labels: none

[AArch64] Generalize costing for FP16 instructions (#150033)
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.h
  llvm/test/Analysis/CostModel/AArch64/arith-fp.ll
  llvm/test/Analysis/CostModel/AArch64/extract_float.ll
  llvm/test/Analysis/CostModel/AArch64/reduce-fadd.ll
  llvm/test/Analysis/CostModel/AArch64/vec3-ops.ll
Labels: none

[AArch64] Support MI and PL
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/GISel/AArch64InstructionSelector.cpp
  llvm/test/CodeGen/AArch64/16bit-float-promotion-with-nofp.ll
  llvm/test/CodeGen/AArch64/GlobalISel/opt-and-tbnz-tbz.mir
  llvm/test/CodeGen/AArch64/GlobalISel/postlegalizer-lowering-adjust-icmp-imm.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-tbnz-from-cmp.mir
  llvm/test/CodeGen/AArch64/arm64-ccmp.ll
  llvm/test/CodeGen/AArch64/arm64-fmax.ll
  llvm/test/CodeGen/AArch64/arm64-fp128.ll
  llvm/test/CodeGen/AArch64/arm64-vabs.ll
  llvm/test/CodeGen/AArch64/check-sign-bit-before-extension.ll
  llvm/test/CodeGen/AArch64/combine-sdiv.ll
  llvm/test/CodeGen/AArch64/csel-cmp-cse.ll
  llvm/test/CodeGen/AArch64/fast-isel-sdiv.ll
  llvm/test/CodeGen/AArch64/fcmp-fp128.ll
  llvm/test/CodeGen/AArch64/fcmp.ll
  llvm/test/CodeGen/AArch64/fp-intrinsics.ll
  llvm/test/CodeGen/AArch64/fpclamptosat.ll
  llvm/test/CodeGen/AArch64/fpclamptosat_vec.ll
  llvm/test/CodeGen/AArch64/fptosi-sat-scalar.ll
  llvm/test/CodeGen/AArch64/fptosi-sat-vector.ll
  llvm/test/CodeGen/AArch64/fptoui-sat-scalar.ll
  llvm/test/CodeGen/AArch64/fptoui-sat-vector.ll
  llvm/test/CodeGen/AArch64/logical_shifted_reg.ll
  llvm/test/CodeGen/AArch64/min-max-combine.ll
  llvm/test/CodeGen/AArch64/pr72777.ll
  llvm/test/CodeGen/AArch64/sdivpow2.ll
  llvm/test/CodeGen/AArch64/select-constant-xor.ll
  llvm/test/CodeGen/AArch64/selectcc-to-shiftand.ll
  llvm/test/CodeGen/AArch64/signbit-shift.ll
  llvm/test/CodeGen/AArch64/smul_fix_sat.ll
  llvm/test/CodeGen/AArch64/srem-pow2.ll
  llvm/test/CodeGen/AArch64/sshl_sat.ll
  llvm/test/CodeGen/AArch64/stack-hazard.ll
  llvm/test/CodeGen/AArch64/tbz-tbnz.ll
  llvm/test/CodeGen/AArch64/vecreduce-bool.ll
  llvm/test/CodeGen/AArch64/vecreduce-fmin-legalization.ll
Labels: none

[mlir][amdgpu] fold memref.subview/expand_shape/collapse_shape into amdgpu.gather_to_lds for DST operand (#152277)
  mlir/lib/Dialect/AMDGPU/Transforms/FoldMemRefsOps.cpp
  mlir/test/Dialect/AMDGPU/amdgpu-fold-memrefs.mlir
Labels: none

[LV] Stop using the legacy cost model for udiv + friends
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
Labels: none

[clang][bytecode] Handle reads on zero-size arrays
  clang/lib/AST/ByteCode/Interp.cpp
  clang/test/AST/ByteCode/arrays.cpp
Labels: none

[HIP] compressed bundle format defaults to v3 (#152600)
  clang/docs/ClangOffloadBundler.rst
  clang/include/clang/Driver/OffloadBundler.h
  clang/test/Driver/clang-offload-bundler-zlib.c
  clang/test/Driver/clang-offload-bundler-zstd.c
Labels: none

Adjust code formatting
  lldb/include/lldb/ValueObject/DILAST.h
  lldb/source/ValueObject/DILEval.cpp
  lldb/source/ValueObject/DILLexer.cpp
Labels: none

[clang][bytecode][NFC] Dead blocks are always uninitialized (#152699)
  clang/lib/AST/ByteCode/InterpBlock.cpp
  clang/lib/AST/ByteCode/InterpState.cpp
Labels: none

[libclc] Fix libclc install on Windows when MSVC generator is used
  libclc/cmake/modules/AddLibclc.cmake
Labels: none

[NFCI][TableGen] Make `Intrinsic::getAttributes` table driven (#152349)
  llvm/test/TableGen/intrinsic-attrs.td
  llvm/utils/TableGen/Basic/IntrinsicEmitter.cpp
Labels: none

Always do ItemTypes
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/AST/ByteCode/Context.cpp
  clang/lib/AST/ByteCode/Context.h
  clang/lib/AST/ByteCode/Descriptor.h
  clang/lib/AST/ByteCode/Function.h
  clang/lib/AST/ByteCode/InterpBlock.cpp
  clang/lib/AST/ByteCode/InterpBlock.h
  clang/lib/AST/ByteCode/InterpStack.cpp
  clang/lib/AST/ByteCode/InterpStack.h
  clang/lib/AST/ByteCode/InterpState.cpp
  clang/lib/AST/ByteCode/Pointer.h
  clang/lib/AST/ByteCode/PrimType.h
  clang/lib/AST/ByteCode/Program.h
  clang/test/AST/ByteCode/c.c
Labels: none

[libc] Implement wide read strlen with LLVM vector type
  libc/src/__support/CMakeLists.txt
  libc/src/__support/macros/attributes.h
  libc/src/__support/macros/properties/cpu_features.h
  libc/src/__support/vector.h
  libc/src/string/CMakeLists.txt
  libc/src/string/string_utils.h
Labels: none

Address review comments
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
Labels: none

[BOLT] Gadget scanner: account for BRK when searching for auth oracles
  bolt/include/bolt/Core/MCPlusBuilder.h
  bolt/lib/Passes/PAuthGadgetScanner.cpp
  bolt/lib/Target/AArch64/AArch64MCPlusBuilder.cpp
  bolt/test/binary-analysis/AArch64/gs-pauth-address-checks.s
  bolt/test/binary-analysis/AArch64/gs-pauth-authentication-oracles.s
  bolt/test/binary-analysis/AArch64/gs-pauth-signing-oracles.s
Labels: none

Clarify operands of BRK, add tests
  bolt/lib/Target/AArch64/AArch64MCPlusBuilder.cpp
  bolt/test/binary-analysis/AArch64/trap-instructions.s
Labels: none

Fix suffix parsing
  lldb/source/ValueObject/DILParser.cpp
  lldb/test/API/commands/frame/var-dil/expr/Arithmetic/TestFrameVarDILArithmetic.py
Labels: python

[OpenMP] Add `OPENMP_INCLUDE_TESTS`
  openmp/CMakeLists.txt
  openmp/libompd/CMakeLists.txt
  openmp/runtime/CMakeLists.txt
  openmp/tools/archer/CMakeLists.txt
  openmp/tools/multiplex/CMakeLists.txt
Labels: openmp

[CodeGen] Provide original IR type to CC lowering (NFC)
  llvm/include/llvm/CodeGen/CallingConvLower.h
  llvm/include/llvm/CodeGen/GlobalISel/CallLowering.h
  llvm/include/llvm/CodeGen/TargetCallingConv.h
  llvm/lib/CodeGen/CallingConvLower.cpp
  llvm/lib/CodeGen/GlobalISel/CallLowering.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/CodeGen/TargetLoweringBase.cpp
  llvm/lib/Target/AArch64/AArch64CallingConvention.cpp
  llvm/lib/Target/AArch64/AArch64CallingConvention.h
  llvm/lib/Target/AArch64/AArch64FastISel.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/GISel/AArch64CallLowering.cpp
  llvm/lib/Target/ARM/ARMCallingConv.h
  llvm/lib/Target/ARM/ARMFastISel.cpp
  llvm/lib/Target/Lanai/LanaiISelLowering.cpp
  llvm/lib/Target/LoongArch/LoongArchISelLowering.cpp
  llvm/lib/Target/MSP430/MSP430ISelLowering.cpp
  llvm/lib/Target/Mips/MipsFastISel.cpp
  llvm/lib/Target/Mips/MipsISelLowering.cpp
  llvm/lib/Target/PowerPC/PPCCallingConv.h
  llvm/lib/Target/PowerPC/PPCFastISel.cpp
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVCallingConv.cpp
  llvm/lib/Target/RISCV/RISCVCallingConv.h
  llvm/lib/Target/X86/GISel/X86CallLowering.cpp
  llvm/lib/Target/X86/X86CallingConv.h
  llvm/lib/Target/X86/X86FastISel.cpp
  llvm/utils/TableGen/CallingConvEmitter.cpp
Labels: none

wip
  libc/src/__support/aba_ptr.h
  libc/src/__support/mpmc_stack.h
Labels: none

add tests
  libc/src/__support/CMakeLists.txt
  libc/src/__support/aba_ptr.h
  libc/src/__support/mpmc_stack.h
  libc/test/integration/src/__support/CMakeLists.txt
  libc/test/integration/src/__support/mpmc_stack_test.cpp
Labels: none

remove some extra braces
  libc/src/__support/aba_ptr.h
  libc/src/__support/mpmc_stack.h
Labels: none

move changes
  libc/src/__support/mpmc_stack.h
  libc/test/integration/src/__support/mpmc_stack_test.cpp
Labels: none

[flang-rt] Add APIs to retrive base_addr and DataSizeInBytes from Descriptor.
  flang-rt/lib/runtime/support.cpp
  flang-rt/unittests/Runtime/Support.cpp
  flang/include/flang/Runtime/support.h
Labels: none

[PowerPC] Extend and update the test for `half` support (NFC)
  llvm/test/CodeGen/PowerPC/half.ll
  llvm/test/CodeGen/PowerPC/handle-f16-storage-type.ll
Labels: none

[clang][bytecode][NFC] Use an existing local variable
  clang/lib/AST/ByteCode/InterpState.cpp
Labels: none

[Test] Add and update tests for lrint
  llvm/test/CodeGen/AArch64/sve-fixed-vector-llrint.ll
  llvm/test/CodeGen/AArch64/sve-fixed-vector-lrint.ll
  llvm/test/CodeGen/AArch64/vector-llrint.ll
  llvm/test/CodeGen/AArch64/vector-lrint.ll
  llvm/test/CodeGen/ARM/llrint-conv.ll
  llvm/test/CodeGen/ARM/lrint-conv.ll
  llvm/test/CodeGen/ARM/vector-llrint.ll
  llvm/test/CodeGen/ARM/vector-lrint.ll
  llvm/test/CodeGen/AVR/llrint.ll
  llvm/test/CodeGen/AVR/lrint.ll
  llvm/test/CodeGen/LoongArch/lrint-conv.ll
  llvm/test/CodeGen/MSP430/lrint-conv.ll
  llvm/test/CodeGen/Mips/llrint-conv.ll
  llvm/test/CodeGen/Mips/lrint-conv.ll
  llvm/test/CodeGen/PowerPC/llrint-conv.ll
  llvm/test/CodeGen/PowerPC/lrint-conv.ll
  llvm/test/CodeGen/PowerPC/vector-llrint.ll
  llvm/test/CodeGen/PowerPC/vector-lrint.ll
  llvm/test/CodeGen/RISCV/lrint-conv.ll
  llvm/test/CodeGen/SPARC/lrint-conv.ll
  llvm/test/CodeGen/WebAssembly/lrint-conv.ll
  llvm/test/CodeGen/X86/llrint-conv.ll
  llvm/test/CodeGen/X86/lrint-conv-i32.ll
  llvm/test/CodeGen/X86/lrint-conv-i64.ll
  llvm/test/CodeGen/X86/vector-llrint-f16.ll
  llvm/test/CodeGen/X86/vector-llrint.ll
  llvm/test/CodeGen/X86/vector-lrint-f16.ll
  llvm/test/CodeGen/X86/vector-lrint.ll
Labels: none

[DA] Extract duplicated logic from exactSIVtest and exactRDIVtest
  llvm/lib/Analysis/DependenceAnalysis.cpp
Labels: none

[SelectionDAG] Add `f16` soft promotion for `lrint` and `lround`
  llvm/lib/CodeGen/SelectionDAG/LegalizeFloatTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeTypes.h
  llvm/test/CodeGen/ARM/lrint-conv.ll
  llvm/test/CodeGen/ARM/vector-lrint.ll
  llvm/test/CodeGen/LoongArch/lrint-conv.ll
  llvm/test/CodeGen/Mips/llrint-conv.ll
  llvm/test/CodeGen/Mips/lrint-conv.ll
  llvm/test/CodeGen/RISCV/lrint-conv.ll
  llvm/test/CodeGen/X86/lrint-conv-i32.ll
Labels: none

[PowerPC] Extend and update the test for `half` support (NFC)
  llvm/test/CodeGen/PowerPC/half.ll
  llvm/test/CodeGen/PowerPC/handle-f16-storage-type.ll
Labels: none

[clang][bytecode][NFC] Remove a useless local variable
  clang/lib/AST/ByteCode/Compiler.cpp
Labels: none

[PowerPC] Change `half` to use soft promotion rather than `PromoteFloat`
  llvm/docs/ReleaseNotes.md
  llvm/lib/Target/PowerPC/PPCISelLowering.h
  llvm/test/CodeGen/Generic/half.ll
  llvm/test/CodeGen/PowerPC/atomics.ll
  llvm/test/CodeGen/PowerPC/f128-conv.ll
  llvm/test/CodeGen/PowerPC/half.ll
  llvm/test/CodeGen/PowerPC/ldexp.ll
  llvm/test/CodeGen/PowerPC/llvm.frexp.ll
  llvm/test/CodeGen/PowerPC/llvm.modf.ll
  llvm/test/CodeGen/PowerPC/pr48519.ll
  llvm/test/CodeGen/PowerPC/pr49092.ll
  llvm/test/CodeGen/PowerPC/vector-llrint.ll
  llvm/test/CodeGen/PowerPC/vector-lrint.ll
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
