Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

Fixup for ByteCode tests
  clang/test/AST/ByteCode/builtin-functions.cpp
  clang/test/AST/ByteCode/cxx11.cpp
  clang/test/AST/ByteCode/openmp.cpp
Labels: none

Remove braces
  llvm/lib/Target/AArch64/MachineSMEABIPass.cpp
Labels: none

replace unused variables with _
  mlir/include/mlir/Dialect/LLVMIR/NVVMOps.td
Labels: none

_mm256_set1_ph
  clang/lib/Headers/avx512vlfp16intrin.h
  clang/test/CodeGen/X86/avx512vlfp16-builtins.c
Labels: none

Address review comments
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
Labels: none

Minor post-commit review changes for #130988 (NFC) (#156895)
  llvm/lib/Passes/PassRegistry.def
Labels: none

SimplifyCFG: Delay creation of bitmaps
  llvm/lib/Transforms/Utils/SimplifyCFG.cpp
  llvm/test/Transforms/PhaseOrdering/X86/merge-functions.ll
  llvm/test/Transforms/SimplifyCFG/switch-transformations-no-lut.ll
Labels: none

Fix issues reported by mypy.
  clang/utils/aarch64_builtins_test_generator.py
Labels: python

replace undef with poison
  mlir/lib/Dialect/LLVMIR/IR/NVVMDialect.cpp
Labels: none

[AVR] Refactor ADIW/SBIW/MOVW instruction descriptions (NFCI) (#156876)
  llvm/lib/Target/AVR/AVRInstrFormats.td
  llvm/lib/Target/AVR/AVRRegisterInfo.td
  llvm/lib/Target/AVR/Disassembler/AVRDisassembler.cpp
Labels: none

post-cherry-pick fixes
  flang/lib/Lower/Support/PrivateReductionUtils.cpp
  flang/test/Lower/OpenMP/DelayedPrivatization/target-private-multiple-variables.f90
  flang/test/Lower/OpenMP/delayed-privatization-array.f90
  flang/test/Lower/OpenMP/parallel-reduction-array-lb.f90
  flang/test/Lower/OpenMP/parallel-reduction-array2.f90
  flang/test/Lower/OpenMP/parallel-reduction3.f90
  flang/test/Lower/OpenMP/reduction-array-intrinsic.f90
  flang/test/Lower/OpenMP/taskgroup-task-array-reduction.f90
  flang/test/Lower/OpenMP/wsloop-reduction-array-assumed-shape.f90
  flang/test/Lower/OpenMP/wsloop-reduction-array.f90
  flang/test/Lower/OpenMP/wsloop-reduction-array2.f90
  flang/test/Lower/OpenMP/wsloop-reduction-multiple-clauses.f90
  flang/test/Lower/do_concurrent_local_assoc_entity.f90
Labels: none

fix comment
  libc/include/llvm-libc-types/cfloat128.h
Labels: none

[orc-rt] Introduce WrapperFunction APIs. (#157091)
  orc-rt/include/CMakeLists.txt
  orc-rt/include/orc-rt-c/CoreTypes.h
  orc-rt/include/orc-rt-c/WrapperFunction.h
  orc-rt/include/orc-rt/SPSWrapperFunction.h
  orc-rt/include/orc-rt/WrapperFunction.h
  orc-rt/unittests/CMakeLists.txt
  orc-rt/unittests/SPSWrapperFunctionTest.cpp
Labels: none

[orc-rt] Add a make_scope_exit utility.
  orc-rt/include/CMakeLists.txt
  orc-rt/include/orc-rt/ScopeExit.h
  orc-rt/unittests/CMakeLists.txt
  orc-rt/unittests/ScopeExitTest.cpp
Labels: none

Address reviewers (2)
  llvm/docs/ReleaseNotes.md
Labels: none

[AArch64] Provide a custom decoder for LDR_ZA/STR_ZA (#156363)
  llvm/lib/Target/AArch64/Disassembler/AArch64Disassembler.cpp
  llvm/lib/Target/AArch64/SMEInstrFormats.td
  llvm/test/MC/Disassembler/AArch64/armv9.2a-sme.txt
Labels: none

Fixup for duplicated notes
  clang/test/AST/ByteCode/builtin-functions.cpp
  clang/test/AST/ByteCode/cxx11.cpp
  clang/test/SemaCXX/constant-expression-cxx11.cpp
  clang/test/SemaCXX/constexpr-string.cpp
Labels: none

[libc++][C++03] cherry-pick #128054 (#156672)
  libcxx/include/__cxx03/__mutex/once_flag.h
  libcxx/test/std/thread/thread.mutex/thread.once/thread.once.callonce/call_once.pass.cpp
Labels: none

[libc++][C++03] cherry-pick #125423 (#156824)
  libcxx/include/__cxx03/string
  libcxx/test/libcxx-03/strings/basic.string/string.capacity/max_size.pass.cpp
  libcxx/test/std/strings/basic.string/string.capacity/max_size.pass.cpp
  libcxx/test/std/strings/basic.string/string.modifiers/string_append/pointer_size.pass.cpp
Labels: none

Reduce required python version to 3.7.
  clang/utils/aarch64_builtins_test_generator.py
Labels: python

use make_absolute to prevent failures when DWOName is already an absolute path
  bolt/lib/Core/BinaryContext.cpp
  bolt/lib/Rewrite/DWARFRewriter.cpp
  bolt/test/dwo-name-retrieving.c
  bolt/test/dwo-name-retrieving.test
Labels: none

buildin complex only available for clang >= 12
  libc/include/llvm-libc-macros/complex-macros.h
Labels: none

[libc++][C++03] cherry-pick #126273
  libcxx/include/__cxx03/locale
  libcxx/test/std/localization/locale.categories/category.monetary/locale.money.get/locale.money.get.members/get_long_double_overlong.pass.cpp
Labels: none

[orc-rt] Add a make_scope_exit utility. (#157094)
  orc-rt/include/CMakeLists.txt
  orc-rt/include/orc-rt/ScopeExit.h
  orc-rt/unittests/CMakeLists.txt
  orc-rt/unittests/ScopeExitTest.cpp
Labels: none

Update llvm/docs/CodingStandards.rst
  llvm/docs/CodingStandards.rst
Labels: none

[libc++] Add an optional integration of libc++'s test suite with SPEC (#156953)
  libcxx/test/benchmarks/spec.gen.py
  libcxx/utils/libcxx/test/params.py
  libcxx/utils/parse-spec-result
Labels: python

Be explicit about fallthrough
  clang/lib/StaticAnalyzer/Checkers/CStringChecker.cpp
Labels: none

[Maintainers] Add for HashRecognize (#157088)
  .github/CODEOWNERS
  llvm/Maintainers.md
Labels: misc

[clang] Followup for constexpr-unknown potential constant expressions. (#151053)
  clang/lib/AST/ByteCode/Pointer.cpp
  clang/lib/AST/ExprConstant.cpp
  clang/test/SemaCXX/constant-expression-p2280r4.cpp
Labels: none

[Coroutines] Walk inlinedAt recursively to create legal DILabels
  llvm/lib/Transforms/Coroutines/CoroSplit.cpp
  llvm/test/Transforms/Coroutines/coro-split-dbg-labels-inlined.ll
Labels: none

[LoopIdiomVectorize] Fix FindFirstByte successors (#156945)
  llvm/lib/Transforms/Vectorize/LoopIdiomVectorize.cpp
  llvm/test/Transforms/LoopIdiom/AArch64/find-first-byte.ll
Labels: none

[Comgr] Fix obtaining git's commit and branch
  amd/comgr/CMakeLists.txt
Labels: none

address review comments
  libc/include/llvm-libc-macros/complex-macros.h
  libc/test/CMakeLists.txt
Labels: none

[X86][bytecode] Allow SSE/AVX PBLENDVB intrinsics to be used in constexpr
  clang/include/clang/Basic/BuiltinsX86.td
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/lib/AST/ExprConstant.cpp
  clang/lib/Headers/avx2intrin.h
  clang/lib/Headers/smmintrin.h
  clang/test/CodeGen/X86/avx2-builtins.c
  clang/test/CodeGen/X86/sse41-builtins.c
Labels: none

[SelectionDAG] Clean up SCALAR_TO_VECTOR handling in SimplifyDemandedVectorElts (#157027)
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
Labels: none

[llvm-readobj][ELF] Prints hex format values in lower-case mode (#156683)
  lld/test/ELF/emulation-hexagon.s
  llvm/docs/ReleaseNotes.md
  llvm/test/tools/llvm-readobj/ELF/AArch64/memtag.test
  llvm/test/tools/llvm-readobj/ELF/Sparc/elf-headers.test
  llvm/test/tools/llvm-readobj/ELF/file-types.test
  llvm/test/tools/llvm-readobj/ELF/note-freebsd.test
  llvm/test/tools/llvm-readobj/ELF/section-types.test
  llvm/tools/llvm-readobj/ELFDumper.cpp
Labels: none

not to use ld.lld
  lld/test/COFF/reloc-undefined-weak.s
Labels: none

[AArch64][SME] Avoid ZA save state changes in loops in MachineSMEABIPass
  llvm/lib/Target/AArch64/AArch64.h
  llvm/lib/Target/AArch64/AArch64TargetMachine.cpp
  llvm/lib/Target/AArch64/MachineSMEABIPass.cpp
  llvm/test/CodeGen/AArch64/sme-lazy-save-in-loop.ll
  llvm/test/CodeGen/AArch64/sme-za-control-flow.ll
Labels: none

rewording
  lld/test/COFF/wrap-dllimport.s
Labels: none

drop "inherit weak"
  lld/COFF/MinGW.cpp
  lld/test/COFF/wrap-inherit-weakness.ll
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
