Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[lldb-dap] Fix global-scope evaluate always routing to command interpreter (#225243)
  lldb/test/API/tools/lldb-dap/evaluate/TestDAP_evaluate.py
  lldb/test/API/tools/lldb-dap/evaluate/main.cpp
  lldb/tools/lldb-dap/DAP.cpp
Labels: python

Add PISA codegen pipeline and lowering passes
  llvm/lib/Target/PISA/CMakeLists.txt
  llvm/lib/Target/PISA/PISA.h
  llvm/lib/Target/PISA/PISACacheHintSelector.cpp
  llvm/lib/Target/PISA/PISAConstProp.cpp
  llvm/lib/Target/PISA/PISAConstProp.h
  llvm/lib/Target/PISA/PISAEmitIntrinsics.cpp
  llvm/lib/Target/PISA/PISAExpandIntrinsics.cpp
  llvm/lib/Target/PISA/PISAInsertLifetimeStart.cpp
  llvm/lib/Target/PISA/PISAKernelByValArgsLowering.cpp
  llvm/lib/Target/PISA/PISAKernelByValArgsLowering.h
  llvm/lib/Target/PISA/PISALayout.cpp
  llvm/lib/Target/PISA/PISALegalizeCalls.cpp
  llvm/lib/Target/PISA/PISALegalizePredicates.cpp
  llvm/lib/Target/PISA/PISALegalizeSubregAccess.cpp
  llvm/lib/Target/PISA/PISAMarkConvergentNoMerge.cpp
  llvm/lib/Target/PISA/PISAOptimizeRedundantCopies.cpp
  llvm/lib/Target/PISA/PISAOptimizeSubregAccess.cpp
  llvm/lib/Target/PISA/PISAPropagateNullPointers.cpp
  llvm/lib/Target/PISA/PISAReplaceIntrinsics.cpp
  llvm/lib/Target/PISA/PISAScopeSelector.cpp
  llvm/lib/Target/PISA/PISATargetMachine.cpp
  llvm/lib/Target/PISA/PISAVerifier.cpp
  llvm/lib/Target/PISA/PISAVerifyTypes.cpp
  llvm/test/CodeGen/PISA/mark-convergent-no-merge.mir
  llvm/test/CodeGen/PISA/pisa-scope-selector.mir
  llvm/test/CodeGen/PISA/propagate-null.ll
  llvm/test/CodeGen/PISA/verify-types.mir
Labels: none

Review fixes
  llvm/lib/Target/PISA/CMakeLists.txt
Labels: none

Formatting fix
  llvm/lib/Target/PISA/PISAKernelByValArgsLowering.cpp
Labels: none

Fix issues raised in earlier PRs
  llvm/lib/Target/PISA/PISACacheHintSelector.cpp
  llvm/lib/Target/PISA/PISAConstProp.cpp
  llvm/lib/Target/PISA/PISAEmitIntrinsics.cpp
  llvm/lib/Target/PISA/PISAExpandIntrinsics.cpp
  llvm/lib/Target/PISA/PISAInsertLifetimeStart.cpp
  llvm/lib/Target/PISA/PISAKernelByValArgsLowering.cpp
  llvm/lib/Target/PISA/PISALayout.cpp
  llvm/lib/Target/PISA/PISALegalizeCalls.cpp
  llvm/lib/Target/PISA/PISALegalizePredicates.cpp
  llvm/lib/Target/PISA/PISALegalizeSubregAccess.cpp
  llvm/lib/Target/PISA/PISAOptimizeRedundantCopies.cpp
  llvm/lib/Target/PISA/PISAOptimizeSubregAccess.cpp
  llvm/lib/Target/PISA/PISAPropagateNullPointers.cpp
  llvm/lib/Target/PISA/PISAReplaceIntrinsics.cpp
  llvm/lib/Target/PISA/PISAScopeSelector.cpp
  llvm/lib/Target/PISA/PISAVerifier.cpp
  llvm/lib/Target/PISA/PISAVerifyTypes.cpp
  llvm/test/CodeGen/PISA/legalize-calls-unsupported-type.ll
  llvm/test/CodeGen/PISA/mark-convergent-no-merge.mir
  llvm/test/CodeGen/PISA/pisa-scope-selector-unknown.mir
  llvm/test/CodeGen/PISA/pisa-scope-selector.mir
  llvm/test/CodeGen/PISA/propagate-null.ll
  llvm/test/CodeGen/PISA/verify-types.mir
Labels: none

Improve comment
  llvm/lib/Target/PISA/PISATargetMachine.cpp
Labels: none

Simplify, remove redundant comment
  llvm/lib/Target/PISA/PISALegalizeCalls.cpp
Labels: none

[analyzer] Don't invalidate pointee of pointer-to-const on callback arguments
  clang/lib/StaticAnalyzer/Checkers/MallocChecker.cpp
  clang/lib/StaticAnalyzer/Core/CallEvent.cpp
  clang/test/Analysis/call-invalidation.cpp
Labels: none

fixup! [llvm-strings] Use small buffer instead of reading whole file
  llvm/test/tools/llvm-strings/chunk-boundary.py
Labels: python

Add test for negative size
  clang/test/CIR/IR/invalid-matrix.cir
Labels: none

[CIR] Support builtin matrix type
  clang/include/clang/CIR/Dialect/Builder/CIRBaseBuilder.h
  clang/include/clang/CIR/Dialect/IR/CIRTypeConstraints.td
  clang/include/clang/CIR/Dialect/IR/CIRTypes.td
  clang/lib/CIR/CodeGen/CIRGenTypes.cpp
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Dialect/IR/CIRTypes.cpp
  clang/lib/CIR/Lowering/LoweringHelpers.cpp
  clang/test/CIR/CodeGen/matrix.cpp
  clang/test/CIR/CodeGenHLSL/matrix-element-expr-load.hlsl
  clang/test/CIR/IR/invalid-matrix.cir
Labels: none

Address part of code review comments
  clang/include/clang/CIR/Dialect/IR/CIRTypeConstraints.td
  clang/include/clang/CIR/Dialect/IR/CIRTypes.td
  clang/lib/CIR/Dialect/IR/CIRTypes.cpp
  clang/lib/CIR/Lowering/LoweringHelpers.cpp
  clang/test/CIR/IR/matrix.cir
Labels: none

Update matrix type docs
  clang/include/clang/CIR/Dialect/IR/CIRTypes.td
Labels: none

Add missing NYI for MatrixType
  clang/lib/CIR/CodeGen/CIRGenExpr.cpp
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/lib/CIR/CodeGen/CIRGenTypes.cpp
Labels: none

Fix reporting NYI diagnostic in tests
  clang/include/clang/CIR/Dialect/IR/CIRTypes.td
  clang/lib/CIR/CodeGen/CIRGenTypes.cpp
  clang/test/CIR/CodeGenHLSL/matrix-element-expr-load.hlsl
Labels: none

Formatting
  lldb/test/API/macosx/lazy_library/TestStepThroughLazyLibrary.py
Labels: python

[lldb] Fix heap-use-after-free in scripted process memory reads
  lldb/source/API/SBData.cpp
  lldb/test/API/functionalities/scripted_process/addressable_bits_scripted_process.py
Labels: python

[SPIR-V] Emit variable pointer capability for resources
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/lib/Target/SPIRV/SPIRVModuleAnalysis.cpp
  llvm/test/CodeGen/SPIRV/pointers/variable-pointers-storage-buffer.ll
Labels: none

[clang] Migrate away from PointerUnion::dyn_cast (NFC) (#225319)
  clang/include/clang/AST/DeclFriend.h
  clang/lib/Sema/SemaConcept.cpp
  clang/lib/Sema/SemaOverload.cpp
Labels: none

[SPIR-V] Normalize variable pointer test line endings
  llvm/test/CodeGen/SPIRV/pointers/variable-pointers-storage-buffer.ll
Labels: none

[HLSL][LongVector] Implement fmod
  clang/include/clang/Basic/HLSLIntrinsics.td
  clang/lib/Headers/hlsl/hlsl_intrinsic_helpers.h
  clang/test/CodeGenHLSL/builtins/fmod.hlsl
  clang/test/SemaHLSL/BuiltIns/fmod-errors.hlsl
Labels: none

fix preprocessor condition. switch to c-style cast, fix tests
  clang/lib/Headers/hlsl/hlsl_intrinsic_helpers.h
  clang/test/CodeGenHLSL/builtins/fmod.hlsl
Labels: none

resolve review comments
  llvm/lib/Transforms/Vectorize/LoopVectorizationPlanner.h
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/fold-epilogue-tail.ll
  llvm/test/Transforms/LoopVectorize/fold-epilogue-tail.ll
  llvm/unittests/Transforms/Vectorize/VPlanTest.cpp
Labels: none

[InferAddressSpaces] Add a TTI hook for address space joins (#225161)
  llvm/include/llvm/Analysis/TargetTransformInfo.h
  llvm/include/llvm/Analysis/TargetTransformInfoImpl.h
  llvm/lib/Analysis/TargetTransformInfo.cpp
  llvm/lib/Target/NVPTX/NVPTXTargetTransformInfo.h
  llvm/lib/Transforms/Scalar/InferAddressSpaces.cpp
  llvm/test/CodeGen/NVPTX/infer-address-space-join.ll
  llvm/test/Transforms/InferAddressSpaces/NVPTX/address-space-join.ll
Labels: none

[AMDGPU] [NFC] Fix MSVC C4146 warnings in AMDGPU backend
  llvm/lib/Target/AMDGPU/AMDGPUISelLowering.cpp
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUAsmBackend.cpp
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUMCCodeEmitter.cpp
  llvm/lib/Target/AMDGPU/SIFrameLowering.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
Labels: none

[X86] Fix operand of TAILJMPm64_REX (#225080)
  llvm/lib/Target/X86/X86InstrControl.td
  llvm/test/CodeGen/X86/pseudo-expand-tc.mir
Labels: none

[clangd] Fix header-name completion replace ranges
  clang-tools-extra/clangd/CodeComplete.cpp
  clang-tools-extra/clangd/unittests/CodeCompleteTests.cpp
Labels: none

[Flang] Reuse the shared PR comment workflow
  .github/workflows/flang-integration-test-check.yml
  .github/workflows/issue-write.yml
Labels: misc

format
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
Labels: none

[Flang] Run the integration test reminder for all Flang changes
  .github/workflows/flang-integration-test-check.yml
Labels: misc

[mlir][SPIR-V] Verify NonPrivatePointer requirement for MakePointer{Available,Visible} (#213621)
  mlir/lib/Dialect/SPIRV/IR/MemoryOps.cpp
  mlir/test/Dialect/SPIRV/IR/memory-ops.mlir
Labels: none

actual 26.04
  .github/workflows/libc-fullbuild-tests.yml
  .github/workflows/libc-overlay-tests.yml
  .github/workflows/libc-shared-tests.yml
Labels: misc

[VPlan] Model epilogue skeleton in VPlan by wrapping in VPIRBBs (NFCI). (#222312)
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlan.cpp
  llvm/lib/Transforms/Vectorize/VPlanConstruction.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.h
  llvm/test/Transforms/LoopVectorize/VPlan/epilogue-vectorization-printing.ll
Labels: none

[LV][NFC] Narrow truncated inductions in a VPlan transform
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPRecipeBuilder.h
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.h
  llvm/test/Transforms/LoopVectorize/VPlan/vplan-print-before-after-all.ll
Labels: none

move cast above
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: none

add test for trunc of an identity-folded induction
  llvm/test/Transforms/LoopVectorize/cast-induction.ll
Labels: none

nit in test
  llvm/test/Transforms/LoopVectorize/cast-induction.ll
Labels: none

move trunc
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: none

address comments
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.h
Labels: none

fix wrong things v2
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
