Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[NFC][SpecialCaseList] Move most of implementation in cpp file (#167280)
  llvm/include/llvm/Support/SpecialCaseList.h
  llvm/lib/Support/SpecialCaseList.cpp
Labels: none

[orc-rt] Replace wrapper fn `void *CallCtx` arg with `uint64_t CallId`.
  orc-rt/include/orc-rt-c/WrapperFunction.h
  orc-rt/include/orc-rt/SPSWrapperFunction.h
  orc-rt/include/orc-rt/SimpleNativeMemoryMap.h
  orc-rt/include/orc-rt/WrapperFunction.h
  orc-rt/lib/executor/SimpleNativeMemoryMap.cpp
  orc-rt/unittests/DirectCaller.h
  orc-rt/unittests/SPSWrapperFunctionTest.cpp
Labels: none

[AMDGPU][GISel] Add RegBankLegalize support for G_AMDGPU_WAVE_ADDRESS
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeRules.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/regbankselect-amdgpu-wave-address.mir
Labels: none

Add support for assigning whole array.
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CGHLSLRuntime.cpp
  clang/lib/CodeGen/CGHLSLRuntime.h
  clang/test/SemaHLSL/static_resources.hlsl
Labels: none

tiny cleanup
  clang/lib/CodeGen/CGHLSLRuntime.cpp
Labels: none

SplitKit: Use initializer lists (#167449)
  llvm/lib/CodeGen/SplitKit.cpp
Labels: none

[OpenMP][mlir] Add DynGroupPrivateClause in omp dialect
  mlir/include/mlir/Dialect/OpenMP/OpenMPClauses.td
  mlir/include/mlir/Dialect/OpenMP/OpenMPEnums.td
  mlir/include/mlir/Dialect/OpenMP/OpenMPOps.td
  mlir/lib/Dialect/OpenMP/IR/OpenMPDialect.cpp
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Dialect/OpenMP/invalid.mlir
  mlir/test/Dialect/OpenMP/ops.mlir
Labels: none

Update to use fallback modifiers
  flang/lib/Optimizer/OpenMP/LowerWorkdistribute.cpp
  mlir/include/mlir/Dialect/OpenMP/OpenMPClauses.td
  mlir/include/mlir/Dialect/OpenMP/OpenMPEnums.td
  mlir/lib/Dialect/OpenMP/IR/OpenMPDialect.cpp
  mlir/test/Dialect/OpenMP/invalid.mlir
  mlir/test/Dialect/OpenMP/ops.mlir
Labels: none

Ignore diagnostics from system headers.
  clang/lib/Lex/HeaderSearch.cpp
Labels: none

Add assertions to to check dominator tree is not called on empty functions
  llvm/include/llvm/CodeGen/MachineFunction.h
  llvm/lib/CodeGen/MachineDominators.cpp
Labels: none

[BOLT] Properly validate relocations against internals of a function
  bolt/include/bolt/Core/BinaryFunction.h
  bolt/lib/Core/BinaryFunction.cpp
  bolt/test/X86/unclaimed-jt-entries.s
  bolt/test/runtime/X86/unclaimed-jt-entries.s
Labels: none

ARC,M68k: Adapt #158240
  llvm/lib/Target/ARC/ARCInstrInfo.cpp
  llvm/lib/Target/ARC/ARCInstrInfo.h
  llvm/lib/Target/M68k/M68kInstrInfo.cpp
  llvm/lib/Target/M68k/M68kInstrInfo.h
Labels: none

Use wrapper to get for strnlen/strsignal
  clang/lib/AST/ByteCode/Context.cpp
  llvm/CMakeLists.txt
  llvm/include/llvm/Support/SystemZ/zOSSupport.h
  llvm/include/llvm/Support/SystemZ/zos_wrappers/string.h
  llvm/lib/ObjCopy/MachO/MachOLayoutBuilder.cpp
  llvm/lib/ObjCopy/MachO/MachOObject.cpp
  llvm/lib/ObjCopy/MachO/MachOReader.cpp
  llvm/lib/ObjectYAML/MachOEmitter.cpp
  llvm/lib/ObjectYAML/MachOYAML.cpp
  llvm/lib/Support/CMakeLists.txt
  llvm/lib/Support/Unix/Program.inc
  llvm/lib/Support/zOSLibFunctions.cpp
  llvm/tools/llvm-exegesis/lib/BenchmarkRunner.cpp
  llvm/tools/llvm-exegesis/lib/Error.cpp
  llvm/tools/llvm-readobj/ELFDumper.cpp
  llvm/tools/llvm-readobj/ObjDumper.cpp
  llvm/tools/obj2yaml/macho2yaml.cpp
Labels: none

add mlir_apfloat_wrappers
  mlir/test/Integration/Dialect/Arith/CPU/test-apfloat-emulation.mlir
  mlir/test/lit.cfg.py
Labels: python

fixup! wording
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
Labels: none

[GitHub][CI] Add parallel to the ci-container-abi-tests container (#167432)
  .github/workflows/containers/github-action-ci-tooling/Dockerfile
Labels: misc

inital implementation
  mlir/include/mlir/Dialect/XeGPU/IR/XeGPUOps.td
  mlir/lib/Conversion/XeGPUToXeVM/XeGPUToXeVM.cpp
  mlir/test/Conversion/XeGPUToXeVM/loadstore_matrix.mlir
  mlir/test/Dialect/XeGPU/ops.mlir
Labels: none

workflows/llvm-abi-tests: Use new container (#167424)
  .github/workflows/llvm-abi-tests.yml
Labels: misc

workflows/libclang-abi-tests: Use new container
  .github/workflows/libclang-abi-tests.yml
Labels: misc

[VE] Use MCRegister instead of unsigned. NFC
  llvm/lib/Target/VE/AsmParser/VEAsmParser.cpp
Labels: none

[clang][bytecode] Mark CXXDefaultInitExprs in InitLink chain
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/AST/ByteCode/Compiler.h
  clang/test/AST/ByteCode/cxx14.cpp
Labels: none

[XCore] Use MCRegister instead of unsigned. NFC
  llvm/lib/Target/XCore/Disassembler/XCoreDisassembler.cpp
Labels: none

[AMDGPU] Correct validation for the intended behavior of the test (#167411)
  llvm/test/CodeGen/AMDGPU/remat-fp64-constants.ll
Labels: none

[AMDGPU][CodeGen] enable D16Writes32BitVgpr for gfx12 (#165587)
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/test/CodeGen/AMDGPU/spillv16.ll
Labels: none

[clang-tidy] Add `IgnoreValueCalls` option to bugprone-unchecked-optional-access (#167209)
  clang-tools-extra/clang-tidy/bugprone/UncheckedOptionalAccessCheck.h
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/bugprone/unchecked-optional-access.rst
  clang-tools-extra/test/clang-tidy/checkers/bugprone/unchecked-optional-access-ignore-value.cpp
  clang/include/clang/Analysis/FlowSensitive/Models/UncheckedOptionalAccessModel.h
  clang/lib/Analysis/FlowSensitive/Models/UncheckedOptionalAccessModel.cpp
Labels: none

[RISCV] Set __GCC_CONSTRUCTIVE_SIZE/__GCC_DESTRUCTIVE_SIZE to 64 (#162986)
  clang/docs/ReleaseNotes.rst
  clang/lib/Basic/Targets/RISCV.h
  clang/test/Preprocessor/init-riscv.c
Labels: none

Deleted TODO tetscases for lastprivate and nogroup
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/test/Lower/OpenMP/Todo/taskloop-lastprivate.f90
  flang/test/Lower/OpenMP/Todo/taskloop-nogroup.f90
Labels: none

[ConstantFolding] Stop folding NaNs
  llvm/lib/Analysis/ConstantFolding.cpp
  llvm/lib/IR/ConstantFold.cpp
  llvm/test/Transforms/EarlyCSE/atan.ll
  llvm/test/Transforms/InstCombine/frexp.ll
  llvm/test/Transforms/InstSimplify/constfold-constrained.ll
  llvm/test/Transforms/InstSimplify/fptoi-sat.ll
  llvm/test/Transforms/InstSimplify/strictfp-fadd.ll
  llvm/test/Transforms/SLPVectorizer/X86/split-node-full-match.ll
Labels: none

fixup! clang-format
  llvm/lib/Target/VE/AsmParser/VEAsmParser.cpp
Labels: none

[Headers][X86] Simplify zero initialization using MakeIntValue
  clang/lib/AST/ExprConstant.cpp
Labels: none

fixup! missed a spot
  llvm/lib/Target/VE/AsmParser/VEAsmParser.cpp
Labels: none

Simplify conditional assignment in SemaTypeTraits.cpp
  clang/lib/Sema/SemaTypeTraits.cpp
Labels: none

[XCore] Use MCRegister instead of unsigned. NFC (#167461)
  llvm/lib/Target/XCore/Disassembler/XCoreDisassembler.cpp
Labels: none

Revert "[LoongArch] Add `isSafeToMove` hook to prevent unsafe instruction mot…"
  llvm/include/llvm/CodeGen/TargetInstrInfo.h
  llvm/lib/CodeGen/BranchFolding.cpp
  llvm/lib/Target/LoongArch/LoongArchInstrInfo.cpp
  llvm/lib/Target/LoongArch/LoongArchInstrInfo.h
Labels: none

[mlir][xegpu][transformops] add set_gpu_launch_threads op
  mlir/include/mlir/Dialect/XeGPU/TransformOps/XeGPUTransformOps.td
  mlir/lib/Dialect/XeGPU/TransformOps/XeGPUTransformOps.cpp
  mlir/python/mlir/dialects/transform/xegpu.py
  mlir/test/Dialect/XeGPU/transform-ops-invalid.mlir
  mlir/test/Dialect/XeGPU/transform-ops.mlir
  mlir/test/python/dialects/transform_xegpu_ext.py
Labels: python

fix test
  mlir/test/Dialect/XeGPU/transform-ops-invalid.mlir
Labels: none

address review comments
  mlir/include/mlir/Dialect/XeGPU/TransformOps/XeGPUTransformOps.td
  mlir/lib/Dialect/XeGPU/TransformOps/XeGPUTransformOps.cpp
  mlir/test/python/dialects/transform_xegpu_ext.py
Labels: python

Restore error diagnostic for incompatible 'dyn_groupprivate' modifier
  clang/include/clang/Basic/DiagnosticSemaKinds.td
Labels: none

Code review
  clang/include/clang/AST/ASTImporter.h
  clang/lib/AST/ASTImporter.cpp
Labels: none

Fix cycle in importing template specialization on auto type
  clang/include/clang/AST/ASTImporter.h
  clang/lib/AST/ASTImporter.cpp
  clang/unittests/AST/ASTImporterTest.cpp
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
