Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

XXX - Findzstd
  llvm/cmake/modules/Findzstd.cmake
Labels: none

Revert "XXX - Findzstd"
  llvm/cmake/modules/Findzstd.cmake
Labels: none

Remove unnecessary include
  clang/lib/Sema/SemaDeclCXX.cpp
Labels: none

[libsycl] add build dependencies on clang tools
  llvm/runtimes/CMakeLists.txt
Labels: none

[X86] madd.ll - add additional tests for matchPMADDWD folds that fail with irregular source types
  llvm/test/CodeGen/X86/madd.ll
Labels: none

[flang][FIR] add canonicalization pattern for fir.if returning OPTIONAL (#205353)
  flang/include/flang/Optimizer/Dialect/FIROps.td
  flang/lib/Optimizer/Dialect/FIROps.cpp
  flang/test/Fir/present-absent-if-fold.fir
Labels: none

Cleanup release-documentation workflow
  .github/workflows/release-documentation.yml
Labels: misc

Yeah the debug print shouldnt really stay in the pr
  clang/lib/Sema/SemaDeclCXX.cpp
Labels: none

Address review comments: more comments
  cross-project-tests/debuginfo-tests/dexter/dex/evaluation/ExpectWriter.py
  cross-project-tests/debuginfo-tests/dexter/dex/tools/test/Tool.py
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/rewriting/Inputs/rewrite_expect_list_expected.cpp
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/rewriting/Inputs/rewrite_expects_expected.cpp
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/rewriting/Inputs/rewrite_multiple_scripts_expected.cpp
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/rewriting/rewrite_expect_list.cpp
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/rewriting/rewrite_expects.cpp
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/rewriting/rewrite_multiple_scripts.cpp
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/rewriting/whole_file.test
Labels: python

Integrate Microsoft STL exception_ptr implementation into libc++
  libcxx/include/__exception/win32_exception_ptr.h
  libcxx/src/CMakeLists.txt
  libcxx/src/support/runtime/exception_pointer_msvc.ipp
  libcxx/src/support/win32/excptptr.cpp
Labels: none

Merge the implementation into exception_pointer_msvc.ipp
  libcxx/src/CMakeLists.txt
  libcxx/src/support/runtime/exception_pointer_msvc.ipp
  libcxx/src/support/win32/excptptr.cpp
Labels: none

Use reference-counted control block representation
  libcxx/include/__exception/exception_ptr.h
  libcxx/src/support/runtime/exception_pointer_msvc.ipp
Labels: none

update loop interchange test
  llvm/test/Transforms/LoopInterchange/fixed-size-no-signed-wrap.ll
Labels: none

[SCEV] Infer addrec nowrap flags during range analysis
  llvm/include/llvm/Analysis/ScalarEvolution.h
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/test/Analysis/Delinearization/global_array_bounds.ll
  llvm/test/Analysis/DependenceAnalysis/Banerjee.ll
  llvm/test/Analysis/DependenceAnalysis/BasePtrBug.ll
  llvm/test/Analysis/DependenceAnalysis/Constraints.ll
  llvm/test/Analysis/DependenceAnalysis/DifferentOffsets.ll
  llvm/test/Analysis/DependenceAnalysis/NonCanonicalizedSubscript.ll
  llvm/test/Analysis/DependenceAnalysis/Propagating.ll
  llvm/test/Analysis/LoopAccessAnalysis/clamped-access-pattern.ll
  llvm/test/Analysis/LoopAccessAnalysis/inbounds-gep-in-predicated-blocks.ll
  llvm/test/Analysis/LoopAccessAnalysis/nssw-predicate-implied.ll
  llvm/test/Analysis/LoopAccessAnalysis/symbolic-stride.ll
  llvm/test/Analysis/ScalarEvolution/addrec-computed-during-addrec-calculation.ll
  llvm/test/Analysis/ScalarEvolution/backedge-taken-count-guard-info.ll
  llvm/test/Analysis/ScalarEvolution/becount-invalidation.ll
  llvm/test/Analysis/ScalarEvolution/different-loops-recs.ll
  llvm/test/Analysis/ScalarEvolution/exit-count-non-strict.ll
  llvm/test/Analysis/ScalarEvolution/exit-count-select-safe.ll
  llvm/test/Analysis/ScalarEvolution/incorrect-exit-count.ll
  llvm/test/Analysis/ScalarEvolution/increasing-or-decreasing-iv.ll
  llvm/test/Analysis/ScalarEvolution/limit-depth.ll
  llvm/test/Analysis/ScalarEvolution/max-backedge-taken-count-guard-info-operand-order.ll
  llvm/test/Analysis/ScalarEvolution/max-backedge-taken-count-guard-info-rewrite-expressions.ll
  llvm/test/Analysis/ScalarEvolution/max-backedge-taken-count-guard-info.ll
  llvm/test/Analysis/ScalarEvolution/mul-udiv-folds.ll
  llvm/test/Analysis/ScalarEvolution/pr123550.ll
  llvm/test/Analysis/ScalarEvolution/pr22641.ll
  llvm/test/Analysis/ScalarEvolution/ptrtoint.ll
  llvm/test/Analysis/ScalarEvolution/sext-iv-2.ll
  llvm/test/Analysis/ScalarEvolution/sext-mul.ll
  llvm/test/Analysis/ScalarEvolution/trip-count-negative-stride.ll
  llvm/test/Analysis/ScalarEvolution/umin-umax-folds.ll
  llvm/test/CodeGen/PowerPC/mma-intrinsics.ll
  llvm/test/Transforms/IndVarSimplify/eliminate-exit-no-dl.ll
  llvm/test/Transforms/LoopVectorize/RISCV/masked_gather_scatter.ll
  llvm/test/Transforms/LoopVectorize/X86/cast-costs.ll
  llvm/test/Transforms/LoopVectorize/iv-select-cmp-no-wrap.ll
  llvm/test/Transforms/LoopVectorize/iv-select-cmp-trunc.ll
  polly/test/ScopInfo/NonAffine/non_affine_conditional_surrounding_non_affine_loop.ll
Labels: none

[Flang][Driver]Addressed review comments
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/lib/Frontend/FrontendActions.cpp
Labels: none

Reapply "runtimes: Pass CMAKE_SYSTEM_NAME based on target triple" (#205133)
  clang/cmake/modules/ClangConfig.cmake.in
  cmake/Modules/GetTripleCMakeSystemName.cmake
  cmake/Modules/NormalizeTriple.cmake
  llvm/cmake/modules/LLVMConfig.cmake.in
  llvm/cmake/modules/LLVMExternalProjectUtils.cmake
  llvm/runtimes/CMakeLists.txt
  runtimes/CMakeLists.txt
Labels: none

[libc++][ranges] Applied `[[nodiscard]]` to `reverse_view` (#205186)
  libcxx/include/__ranges/reverse_view.h
  libcxx/test/libcxx/ranges/range.adaptors/range.reverse/adaptor.nodiscard.verify.cpp
  libcxx/test/libcxx/ranges/range.adaptors/range.reverse/nodiscard.verify.cpp
Labels: none

Remove unused variables in the monorepo (#204994)
  clang-tools-extra/clangd/IncludeFixer.cpp
  clang-tools-extra/modularize/PreprocessorTracker.cpp
  clang/lib/Driver/ToolChains/Hexagon.cpp
  clang/lib/StaticAnalyzer/Checkers/StdLibraryFunctionsChecker.cpp
  clang/unittests/AST/ASTImporterFixtures.cpp
  clang/unittests/Interpreter/CodeCompletionTest.cpp
  clang/unittests/Tooling/HeaderIncludesTest.cpp
  lldb/source/Commands/CommandObjectCommands.cpp
  lldb/source/Commands/CommandObjectHelp.cpp
  lldb/source/Interpreter/CommandInterpreter.cpp
  lldb/source/Plugins/DynamicLoader/Hexagon-DYLD/HexagonDYLDRendezvous.cpp
  lldb/source/Plugins/DynamicLoader/POSIX-DYLD/DYLDRendezvous.cpp
  lldb/source/Plugins/Process/gdb-remote/GDBRemoteCommunicationServerPlatform.cpp
  lldb/source/Plugins/Protocol/MCP/ProtocolServerMCP.cpp
  lldb/source/Target/StackFrameList.cpp
  lldb/tools/yaml2macho-core/yaml2macho.cpp
  llvm/include/llvm/ExecutionEngine/Orc/TargetProcess/SimpleRemoteEPCServer.h
  llvm/include/llvm/ExecutionEngine/Orc/TaskDispatch.h
  llvm/lib/DWARFCFIChecker/DWARFCFIState.cpp
  llvm/tools/llvm-libtool-darwin/llvm-libtool-darwin.cpp
  llvm/tools/llvm-rc/ResourceScriptParser.cpp
  llvm/tools/llvm-rc/ResourceScriptParser.h
  llvm/tools/sancov/sancov.cpp
  llvm/unittests/ADT/STLExtrasTest.cpp
  llvm/unittests/CodeGen/PassManagerTest.cpp
  llvm/unittests/TextAPI/TextStubV3Tests.cpp
  llvm/unittests/TextAPI/TextStubV4Tests.cpp
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/tools/mlir-tblgen/OpDefinitionsGen.cpp
Labels: none

removed QuantileType redundant check in QuantizedType::classof
  mlir/lib/Dialect/Quant/IR/QuantTypes.cpp
Labels: none

[RISCV] Add explicit defs in PseudoLA_TLSDESC (#205494)
  llvm/lib/Target/RISCV/RISCVInstrInfo.td
  llvm/test/CodeGen/RISCV/tlsdesc-clobber.ll
Labels: none

[UnifyFunctionExitNodes] remove the pass
  llvm/docs/Passes.md
  llvm/include/llvm/Transforms/Utils/UnifyFunctionExitNodes.h
  llvm/lib/Passes/PassBuilder.cpp
  llvm/lib/Passes/PassRegistry.def
  llvm/lib/Transforms/Utils/CMakeLists.txt
  llvm/lib/Transforms/Utils/UnifyFunctionExitNodes.cpp
  llvm/test/Transforms/UnifyFunctionExitNodes/unreachable-blocks-status.ll
Labels: none

[CIR] Handle const evaluated variable values (#205512)
  clang/lib/CIR/CodeGen/CIRGenExprConstant.cpp
Labels: none

format, fix "missing SIOCATMARK" errors
  libc/src/sys/socket/linux/sockatmark.cpp
Labels: none

[analyzer] Implement LifetimeAnnotations checker.
  clang/include/clang/StaticAnalyzer/Checkers/Checkers.td
  clang/lib/StaticAnalyzer/Checkers/CMakeLists.txt
  clang/lib/StaticAnalyzer/Checkers/LifetimeAnnotations.cpp
  clang/test/Analysis/debug-lifetime-bound.cpp
  clang/test/Analysis/lifetime-bound.cpp
Labels: none

[BOLT] hugify: fix conflict with --no-huge-pages
  bolt/lib/Core/BinaryContext.cpp
  bolt/test/runtime/hugify.c
Labels: none

Don't return flags if we're modifying in-place anyway
  llvm/include/llvm/Analysis/ScalarEvolution.h
  llvm/lib/Analysis/ScalarEvolution.cpp
Labels: none

Fix s_ext_cmp_ext test case in sign_extend.ll
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/test/CodeGen/AMDGPU/fcmp.f16.ll
Labels: none

[X86] madd.ll - add additional tests for matchPMADDWD folds that fail with irregular source types (#205514)
  llvm/test/CodeGen/X86/madd.ll
Labels: none

Fix crash in vectorizeOpPrecondition when vector sizes array is too short
  .gitignorees
  a.mlir
  mlir/lib/Dialect/Linalg/TransformOps/LinalgTransformOps.cpp
  mlir/lib/Dialect/Linalg/Transforms/Vectorization.cpp
  mlir/test/Dialect/Vector/transform-op-vector-to-llvm.mlires
Labels: none

[VPlan] Introduce VPValue::has[No]Users (NFC)
  llvm/lib/Transforms/Vectorize/VPlan.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanAnalysis.cpp
  llvm/lib/Transforms/Vectorize/VPlanConstruction.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanUnroll.cpp
  llvm/lib/Transforms/Vectorize/VPlanValue.h
Labels: none

[APINotes] Skip per-decl ProcessAPINotes work when no API notes are active (#203710)
  clang/include/clang/APINotes/APINotesManager.h
  clang/lib/APINotes/APINotesManager.cpp
  clang/lib/Sema/SemaAPINotes.cpp
Labels: none

Handle review comments.
  flang/lib/Semantics/openmp-utils.cpp
Labels: none

Remove IR
  llvm/test/CodeGen/AArch64/GlobalISel/freeze-push.mir
Labels: none

regenerate odd vector tests
  llvm/test/CodeGen/X86/madd.ll
Labels: none

[AArch64][TableGen] Define ZA, ZT0 and FPMR memory defvars (#154144)
  llvm/include/llvm/IR/Intrinsics.td
  llvm/include/llvm/IR/IntrinsicsAArch64.td
Labels: none

[AArch64][SME]Refine memory effects for SME load/store intrinsics.
  llvm/include/llvm/IR/IntrinsicsAArch64.td
Labels: none

[VPlan] Switch to user_empty()
  llvm/lib/Transforms/Vectorize/VPlan.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanAnalysis.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanUnroll.cpp
  llvm/lib/Transforms/Vectorize/VPlanValue.h
  llvm/unittests/Transforms/Vectorize/VPlanTest.cpp
Labels: none

Precommit tests
  llvm/test/CodeGen/RISCV/rvv/vp-combine-reverse-load.ll
Labels: none

[NFC][Clang][Tests] Remove +bf16 from AArch64 tests that don't strictly need the feature flag. (#205336)
  clang/test/CodeGen/AArch64/fp8-intrinsics/acle_neon_fp8_reinterpret.c
  clang/test/CodeGen/AArch64/neon/bf16-getset.c
  clang/test/CodeGen/AArch64/sme2p3-intrinsics/acle_sme2p3_luti6.c
  clang/test/CodeGen/AArch64/sve2p3-intrinsics/acle_sve2p3_luti6.c
  clang/test/CodeGen/AArch64/sve2p3-intrinsics/acle_sve2p3_luti6_lane_x2.c
  clang/test/CodeGen/attr-arm-sve-vector-bits-bitcast.c
  clang/test/CodeGen/attr-arm-sve-vector-bits-codegen.c
  clang/test/CodeGen/attr-arm-sve-vector-bits-globals.c
  clang/test/CodeGen/attr-arm-sve-vector-bits-types.c
  clang/test/CodeGen/svboolx2_t.cpp
  clang/test/CodeGen/svboolx4_t.cpp
  clang/test/CodeGenCXX/aarch64-mangle-sve-fixed-vectors.cpp
  clang/test/CodeGenCXX/aarch64-mangle-sve-vectors.cpp
  clang/test/CodeGenCXX/aarch64-sve-fixedtypeinfo.cpp
  clang/test/CodeGenCXX/mangle-neon-vectors.cpp
  clang/test/Index/index-builtin-sve.cpp
  clang/test/Sema/aarch64-bf16-ldst-intrinsics.c
  clang/test/Sema/aarch64-incompat-sm-builtin-calls.cpp
  clang/test/Sema/aarch64-sme-func-attrs.c
  clang/test/Sema/aarch64-sme-streaming-nonstreaming-vl-checks.c
  clang/test/Sema/aarch64-sme2p1-diagnostics.c
  clang/test/Sema/aarch64-sme2p1-intrinsics/acle_sme2p1_imm.cpp
  clang/test/Sema/aarch64-sme2p3-intrinsics/acle_sme2p3_imm.c
  clang/test/Sema/attr-arm-sve-vector-bits.c
  clang/test/SemaCXX/attr-arm-sve-vector-bits.cpp
Labels: none

[llvm-objdump] Add --substitute-path and --source-dir for --source
  llvm/docs/CommandGuide/llvm-objdump.rst
  llvm/test/tools/llvm-objdump/Inputs/source-path.c
  llvm/test/tools/llvm-objdump/Inputs/source-path.ll
  llvm/test/tools/llvm-objdump/source-path.test
  llvm/tools/llvm-objdump/ObjdumpOpts.td
  llvm/tools/llvm-objdump/SourcePrinter.cpp
  llvm/tools/llvm-objdump/llvm-objdump.cpp
  llvm/tools/llvm-objdump/llvm-objdump.h
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
