Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

Handle dynamic affinity object sizes and improve iterator coverage
  flang/lib/Lower/OpenMP/ClauseProcessor.cpp
  flang/lib/Lower/OpenMP/Utils.cpp
  flang/lib/Lower/OpenMP/Utils.h
  flang/test/Lower/OpenMP/task-affinity.f90
Labels: none

Skip some tests on Windows. They were already expected fail and I needed to use "sleep" so now the test file won't compile. So switching to skip...
  lldb/test/API/python_api/run_locker/TestRunLocker.py
Labels: python

[CIR] Implement OpenMPRequiredSimdAlign UnaryExpr (#184214)
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/test/CIR/CodeGen/openmp_default_simd_align.c
Labels: none

Pre-commit tests
  llvm/test/CodeGen/RISCV/rv32p.ll
Labels: none

[Clang] Update tests after wchar_size metadata isn't emitted.
  clang/test/BoundsSafety/CodeGen/opt-remarks/ptr-bounds-argc-O0.c
  clang/test/BoundsSafety/CodeGen/soft-traps/call_minimal.c
  clang/test/BoundsSafety/CodeGen/soft-traps/call_minimal_with_ubsan.c
  clang/test/BoundsSafety/CodeGen/soft-traps/call_with_str.c
  clang/test/BoundsSafety/CodeGen/soft-traps/call_with_str_custom_func.c
  clang/test/BoundsSafety/CodeGen/soft-traps/call_with_str_with_ubsan.c
  clang/test/BoundsSafety/CodeGen/unique-traps-O0-O2-opt-disabled.c
  clang/test/BoundsSafety/CodeGen/unique-traps-O2.c
  clang/test/BoundsSafety/CodeGen/unique-traps-disabled-O0-O2-opt-disabled.c
  clang/test/BoundsSafety/CodeGen/unsafe_forge_constant_base.c
  clang/test/CodeGen/ptrauth-abi-version.c
Labels: none

[RISCV] Use SSLAI for XLen saturating shift left by immediate on RV32.
  llvm/lib/Target/RISCV/RISCVInstrInfo.td
  llvm/lib/Target/RISCV/RISCVInstrInfoP.td
  llvm/test/CodeGen/RISCV/rv32p.ll
Labels: none

refactor
  llvm/lib/Target/NVPTX/NVPTXAsmPrinter.cpp
  llvm/lib/Target/NVPTX/NVPTXDwarfDebug.cpp
  llvm/lib/Target/NVPTX/NVPTXDwarfDebug.h
  llvm/test/CodeGen/NVPTX/inline-asm-line-info-inlined-at.ll
Labels: none

Update test CHECKs for upstream changes
  clang/test/SemaHLSL/MatrixElementOverloadResolution.hlsl
  clang/test/SemaHLSL/Types/BuiltinMatrix/MatrixFloatPrecisionWarnings.hlsl
Labels: none

[NFC][SPIRV] Remove `MachineInstr` from `DeadMIs` set after erasing it (#184795)
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
Labels: none

Minor fix from code review.
  clang/lib/Sema/HLSLBuiltinTypeDeclBuilder.cpp
Labels: none

[[ICF]]
  clang/test/CodeGenHLSL/builtins/WaveActiveBitOr.hlsl
Labels: none

[clang][deps] Simplify by-module-name scan API (#184376)
  clang/include/clang/DependencyScanning/DependencyScannerImpl.h
  clang/include/clang/DependencyScanning/DependencyScanningWorker.h
  clang/include/clang/Tooling/DependencyScanningTool.h
  clang/lib/DependencyScanning/DependencyScannerImpl.cpp
  clang/lib/DependencyScanning/DependencyScanningWorker.cpp
  clang/lib/Tooling/DependencyScanningTool.cpp
  clang/tools/clang-scan-deps/ClangScanDeps.cpp
Labels: none

Implement lowering for omp.iterator in affinity
  llvm/include/llvm/Frontend/OpenMP/OMPIRBuilder.h
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
  mlir/lib/Conversion/OpenMPToLLVM/OpenMPToLLVM.cpp
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
Labels: none

[mlir][llvmir][OpenMP] Translate affinity clause in task construct to llvmir
  llvm/include/llvm/Frontend/OpenMP/OMPIRBuilder.h
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
  llvm/unittests/Frontend/OpenMPIRBuilderTest.cpp
  mlir/lib/Conversion/OpenMPToLLVM/OpenMPToLLVM.cpp
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/openmp-todo.mlir
Labels: none

Refactor and support multiple affinity register for a task
  llvm/include/llvm/Frontend/OpenMP/OMPIRBuilder.h
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/openmp-iterator.mlir
  mlir/test/Target/LLVMIR/openmp-llvm.mlir
Labels: none

Use createLoopSkeleton intead of manually building nested loop
  llvm/include/llvm/Frontend/OpenMP/OMPIRBuilder.h
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
Labels: none

format
  llvm/lib/Target/NVPTX/NVPTXAsmPrinter.cpp
Labels: none

remove pointer casts
  clang/lib/CodeGen/CGExprAgg.cpp
  clang/test/CodeGenHIP/placement-new-addrspace.hip
Labels: none

fix false positive for sema analysis
  clang/lib/Analysis/LifetimeSafety/LifetimeAnnotations.cpp
  clang/test/Sema/warn-lifetime-analysis-nocfg.cpp
  clang/test/Sema/warn-lifetime-safety.cpp
Labels: none

[libc] Rework slab cache data structure for GPU allocator
  libc/src/__support/GPU/CMakeLists.txt
  libc/src/__support/GPU/allocator.cpp
  libc/src/__support/GPU/fixedbuffer.h
  libc/src/__support/GPU/fixedstack.h
  libc/test/integration/src/__support/GPU/CMakeLists.txt
  libc/test/integration/src/__support/GPU/fixedbuffer_test.cpp
  libc/test/integration/src/__support/GPU/fixedstack_test.cpp
Labels: none

[Clang] Fix 'gpuintrin.h' implementation of 'match_all'
  clang/lib/Headers/gpuintrin.h
Labels: none

Clean Up formatting and build errors
  clang/lib/Driver/OffloadBundler.cpp
Labels: none

[clang][bytecode][HLSL][Matrix] Support `ConstantMatrixType` and more HLSL casts in the new constant interpreter for basic matrix constexpr evaluation in HLSL (#184840)
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/AST/ByteCode/Compiler.h
  clang/lib/AST/ByteCode/Pointer.cpp
  clang/lib/AST/ByteCode/Program.cpp
  clang/test/SemaHLSL/Types/BuiltinMatrix/MatrixConstantExpr.hlsl
Labels: none

[AMDGPU] fix asyncmark soft waitcnt bug
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
  llvm/test/CodeGen/AMDGPU/asyncmark-pregfx12.ll
  llvm/test/CodeGen/AMDGPU/asyncmark-waitcnt.mir
Labels: none

[clang][modules] Add warning for module maps with ".." paths
  clang-tools-extra/modularize/ModularizeUtilities.cpp
  clang/docs/Modules.rst
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticLexKinds.td
  clang/include/clang/Lex/HeaderSearch.h
  clang/include/clang/Lex/ModuleMap.h
  clang/include/clang/Lex/ModuleMapFile.h
  clang/lib/Frontend/FrontendAction.cpp
  clang/lib/Lex/HeaderSearch.cpp
  clang/lib/Lex/ModuleMap.cpp
  clang/lib/Lex/ModuleMapFile.cpp
  clang/test/Modules/deprecated-upwards-relative-path.m
  lldb/source/Plugins/ExpressionParser/Clang/ClangModulesDeclVendor.cpp
Labels: none

[green dragon] skip trigger on release branch stage1 RA jobs (#184653)
  .ci/green-dragon/clang-stage1-RA.groovy
Labels: ci

[X86] Expand i512 shifts on AVX512 targets
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/bit-manip-i512.ll
  llvm/test/CodeGen/X86/shift-i512.ll
  llvm/test/CodeGen/X86/wide-scalar-shift-by-byte-multiple-legalization.ll
Labels: none

Add clangTidyPortabilityModule dep and release note under 'new check aliases'
  clang-tools-extra/clang-tidy/hicpp/CMakeLists.txt
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/portability/no-assembler.rst
Labels: none

[scudo] Move getResidentPages function (#183138)
  compiler-rt/lib/scudo/standalone/common.h
  compiler-rt/lib/scudo/standalone/fuchsia.cpp
  compiler-rt/lib/scudo/standalone/linux.cpp
  compiler-rt/lib/scudo/standalone/mem_map.cpp
  compiler-rt/lib/scudo/standalone/mem_map.h
  compiler-rt/lib/scudo/standalone/mem_map_base.h
  compiler-rt/lib/scudo/standalone/mem_map_fuchsia.cpp
  compiler-rt/lib/scudo/standalone/mem_map_fuchsia.h
  compiler-rt/lib/scudo/standalone/mem_map_linux.cpp
  compiler-rt/lib/scudo/standalone/mem_map_linux.h
  compiler-rt/lib/scudo/standalone/primary64.h
  compiler-rt/lib/scudo/standalone/secondary.h
  compiler-rt/lib/scudo/standalone/tests/common_test.cpp
  compiler-rt/lib/scudo/standalone/tests/map_test.cpp
  compiler-rt/lib/scudo/standalone/trusty.cpp
Labels: none

[SPIRV] Replace `removeFromParent` with `eraseFromParent` for `ASSING_TYPE` (#184793)
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
Labels: none

[CIR][NFC] Add 'matrix' type to CIRGenExprConstant.cpp switch
  clang/lib/CIR/CodeGen/CIRGenExprConstant.cpp
Labels: none

Revert "[flang][OpenMP] Fix lowering of LINEAR iteration variables" (#184843)
  flang/lib/Lower/OpenMP/DataSharingProcessor.cpp
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/test/Lower/OpenMP/composite_simd_linear.f90
  flang/test/Lower/OpenMP/distribute-parallel-do-simd.f90
  flang/test/Lower/OpenMP/distribute-simd.f90
  flang/test/Lower/OpenMP/loop-pointer-variable.f90
  flang/test/Lower/OpenMP/ordered-simd.f90
  flang/test/Lower/OpenMP/wsloop-simd.f90
Labels: none

[flang][OpenMP] Utilities to get uppercase directive/clause names
  flang/include/flang/Parser/openmp-utils.h
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/lib/Parser/openmp-utils.cpp
  flang/lib/Semantics/check-omp-loop.cpp
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/resolve-directives.cpp
Labels: none

[clang-doc] markdown parser
  clang-tools-extra/clang-doc/CMakeLists.txt
  clang-tools-extra/clang-doc/MDParser.cpp
  clang-tools-extra/clang-doc/MDParser.h
  clang-tools-extra/clang-doc/Representation.h
  clang-tools-extra/unittests/clang-doc/CMakeLists.txt
  clang-tools-extra/unittests/clang-doc/MDParserTest.cpp
Labels: none

[C++20] [Modules] Set ManglingContextDecl when we need to mangle a lambda but it's nullptr (#177899)
  clang/lib/Sema/SemaLambda.cpp
  clang/test/Modules/pr177385.cppm
Labels: none

[clang] Don't use `VarDecl` of local variables as `ManglingContextDecl` for lambdas (#179035)
  clang/lib/Sema/SemaLambda.cpp
  clang/test/Modules/pr178893.cppm
Labels: none

Fix a bug in the watchpoint callback - in one case we weren't returning anything from the callback. Fixing this on the off chance that is what is causing the linux-only failure in this test after PR:
  lldb/test/API/commands/watchpoints/watchpoint_commands/command/watchpoint_command.py
Labels: python

Implement fallback support.
  llvm/include/llvm/CodeGen/AsmPrinter.h
  llvm/include/llvm/CodeGen/TargetInstrInfo.h
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/lib/CodeGen/InsertCodePrefetch.cpp
  llvm/lib/Target/X86/X86InstrInfo.cpp
  llvm/lib/Target/X86/X86InstrInfo.h
  llvm/test/CodeGen/X86/basic-block-sections-code-prefetch.ll
Labels: none

clang-format.
  llvm/include/llvm/CodeGen/TargetInstrInfo.h
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/lib/CodeGen/InsertCodePrefetch.cpp
  llvm/lib/Target/X86/X86InstrInfo.cpp
  llvm/lib/Target/X86/X86InstrInfo.h
Labels: none

Address review feedback -- simple refactoring
  clang/lib/CIR/CodeGen/CIRGenExprCXX.cpp
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
Labels: none
