Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[ElimAvailExtern] Add an option to allow to convert global variables in a specified address space to local (#144287)
  llvm/lib/Transforms/IPO/ElimAvailExtern.cpp
  llvm/test/Transforms/EliminateAvailableExternally/convert-global-variables-to-local.ll
Labels: none

add check
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUWgToSgDistribute.cpp
Labels: none

Handle do-while stmts, complex expressions and move warning to appropriate location.
  clang-tools-extra/clang-tidy/bugprone/SizeofExpressionCheck.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/bugprone/sizeof-expression.rst
  clang-tools-extra/test/clang-tidy/checkers/bugprone/sizeof-expression.cpp
Labels: none

[Xtensa] Implement Xtensa Floating Point Option.
  llvm/lib/Target/Xtensa/Disassembler/XtensaDisassembler.cpp
  llvm/lib/Target/Xtensa/MCTargetDesc/XtensaMCCodeEmitter.cpp
  llvm/lib/Target/Xtensa/XtensaCallingConv.td
  llvm/lib/Target/Xtensa/XtensaFeatures.td
  llvm/lib/Target/Xtensa/XtensaISelLowering.cpp
  llvm/lib/Target/Xtensa/XtensaISelLowering.h
  llvm/lib/Target/Xtensa/XtensaInstrInfo.cpp
  llvm/lib/Target/Xtensa/XtensaInstrInfo.td
  llvm/lib/Target/Xtensa/XtensaOperators.td
  llvm/lib/Target/Xtensa/XtensaRegisterInfo.td
  llvm/lib/Target/Xtensa/XtensaSubtarget.h
  llvm/test/CodeGen/Xtensa/float-arith.ll
  llvm/test/MC/Xtensa/float-err.s
  llvm/test/MC/Xtensa/float.s
Labels: none

[Xtensa] Fix Floating Point implementation.
  llvm/lib/Target/Xtensa/AsmParser/XtensaAsmParser.cpp
  llvm/lib/Target/Xtensa/Disassembler/XtensaDisassembler.cpp
  llvm/lib/Target/Xtensa/MCTargetDesc/XtensaMCTargetDesc.cpp
  llvm/lib/Target/Xtensa/MCTargetDesc/XtensaMCTargetDesc.h
  llvm/lib/Target/Xtensa/XtensaISelLowering.cpp
  llvm/lib/Target/Xtensa/XtensaInstrInfo.td
  llvm/test/CodeGen/Xtensa/brcc_fp.ll
  llvm/test/CodeGen/Xtensa/float-arith.ll
  llvm/test/MC/Disassembler/Xtensa/fp.txt
  llvm/test/MC/Xtensa/float-err.s
  llvm/test/MC/Xtensa/float.s
Labels: none

[Xtensa] Minor fixes.
  llvm/lib/Target/Xtensa/Disassembler/XtensaDisassembler.cpp
Labels: none

[Xtensa] Fix ConstantPool lowering.
  llvm/lib/Target/Xtensa/XtensaAsmPrinter.cpp
  llvm/lib/Target/Xtensa/XtensaISelDAGToDAG.cpp
  llvm/lib/Target/Xtensa/XtensaISelLowering.cpp
  llvm/lib/Target/Xtensa/XtensaISelLowering.h
  llvm/lib/Target/Xtensa/XtensaInstrInfo.cpp
  llvm/lib/Target/Xtensa/XtensaInstrInfo.td
  llvm/lib/Target/Xtensa/XtensaMachineFunctionInfo.h
  llvm/test/CodeGen/Xtensa/aligned_alloc.ll
  llvm/test/CodeGen/Xtensa/bswap.ll
  llvm/test/CodeGen/Xtensa/ctlz-cttz-ctpop.ll
  llvm/test/CodeGen/Xtensa/mul.ll
Labels: none

[Xtensa] Implement pattern ordering for load from ConstnatPool.
  llvm/lib/Target/Xtensa/XtensaISelDAGToDAG.cpp
  llvm/lib/Target/Xtensa/XtensaInstrInfo.td
Labels: none

[Xtensa] Minor fix in XtensaAsnParser. Remove redundant code.
  llvm/lib/Target/Xtensa/AsmParser/XtensaAsmParser.cpp
  llvm/lib/Target/Xtensa/XtensaInstrInfo.td
Labels: none

[Xtensa] Minor improvements in disassembler.
  llvm/lib/Target/Xtensa/Disassembler/XtensaDisassembler.cpp
Labels: none

[Xtensa] Minor fix of the Xtensa::getUserRegister function.
  llvm/lib/Target/Xtensa/AsmParser/XtensaAsmParser.cpp
  llvm/lib/Target/Xtensa/Disassembler/XtensaDisassembler.cpp
  llvm/lib/Target/Xtensa/MCTargetDesc/XtensaMCTargetDesc.cpp
  llvm/lib/Target/Xtensa/MCTargetDesc/XtensaMCTargetDesc.h
Labels: none

[Xtensa] Fix lowering immediate.
  llvm/lib/Target/Xtensa/XtensaISelLowering.cpp
  llvm/test/CodeGen/Xtensa/add_shifted_imm.ll
Labels: none

Introduce the new SHT_LLVM_BB_ADDR_MAP version 3, to allow encoding callsite offsets.
  llvm/include/llvm/Object/ELFTypes.h
  llvm/include/llvm/ObjectYAML/ELFYAML.h
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/lib/Object/ELF.cpp
  llvm/lib/ObjectYAML/ELFEmitter.cpp
  llvm/lib/ObjectYAML/ELFYAML.cpp
  llvm/test/tools/llvm-readobj/ELF/bb-addr-map.test
  llvm/test/tools/obj2yaml/ELF/bb-addr-map.yaml
  llvm/test/tools/yaml2obj/ELF/bb-addr-map.yaml
  llvm/tools/llvm-readobj/ELFDumper.cpp
  llvm/tools/obj2yaml/elf2yaml.cpp
  llvm/unittests/Object/ELFObjectFileTest.cpp
  llvm/unittests/Object/ELFTypesTest.cpp
Labels: none

Added clarifying comment to 'LLVMLinkInMCJIT' and 'LLVMLinkInInterpreter' (#92467)
  llvm/include/llvm-c/ExecutionEngine.h
Labels: none

Added clarifying comment to 'LLVMLinkInMCJIT' and 'LLVMLinkInInterpreter' (#92467)
  llvm/include/llvm-c/ExecutionEngine.h
Labels: none

Implement a range data vector for minidump memory ranges
  lldb/source/Plugins/Process/minidump/MinidumpParser.cpp
  lldb/source/Plugins/Process/minidump/MinidumpParser.h
Labels: none

Default constructor, and const some stuff
  lldb/source/Plugins/Process/minidump/MinidumpParser.cpp
  lldb/source/Plugins/Process/minidump/MinidumpParser.h
Labels: none

Change less than operator
  lldb/source/Plugins/Process/minidump/MinidumpParser.h
Labels: none

[nfc][jt] Drop std::optional<pointer>.
  llvm/include/llvm/Transforms/Scalar/JumpThreading.h
  llvm/lib/Transforms/Scalar/JumpThreading.cpp
Labels: none

Inject compilation command into __cli_<file> global variable
  clang/lib/CodeGen/CodeGenModule.cpp
Labels: none

[llvm] minor fixes for clang-cl Windows DLL build (#144386)
  clang/lib/StaticAnalyzer/Core/Z3CrosscheckVisitor.cpp
  llvm/include/llvm/BinaryFormat/Dwarf.h
  llvm/include/llvm/Object/ELF.h
  llvm/lib/BinaryFormat/Dwarf.cpp
Labels: none

[llvm] minor fixes for clang-cl Windows DLL build (#144386)
  clang/lib/StaticAnalyzer/Core/Z3CrosscheckVisitor.cpp
  llvm/include/llvm/BinaryFormat/Dwarf.h
  llvm/include/llvm/Object/ELF.h
  llvm/lib/BinaryFormat/Dwarf.cpp
Labels: none

Add dwo_file_count and loaded_dwo_file_count to ModuleStats
  lldb/include/lldb/Target/Statistics.h
  lldb/source/Target/Statistics.cpp
  lldb/test/API/commands/statistics/basic/TestStats.py
Labels: python

github: Add mips backend to PR autolabeler (#140909)
  .github/new-prs-labeler.yml
Labels: misc

github: Add mips backend to PR autolabeler (#140909)
  .github/new-prs-labeler.yml
Labels: misc

Revert "[CUDA][HIP] Add a __device__ version of std::__glibcxx_assert_fail() (#136133)"
  clang/lib/Headers/CMakeLists.txt
  clang/lib/Headers/cuda_wrappers/bits/c++config.h
Labels: none

fixup! Fix RVE register lists. Simplify F32_V and F64_V lists.
  llvm/lib/Target/RISCV/RISCVCallingConv.td
Labels: none

[flang][acc] Generate acc.copyout for the reduction clause on compute constructs
  flang/lib/Lower/OpenACC.cpp
  flang/test/Lower/OpenACC/acc-reduction-unwrap-defaultbounds.f90
  flang/test/Lower/OpenACC/acc-reduction.f90
Labels: none

[lldb] Re-insert code to search for a binary by filepath if provided
  lldb/source/Core/DynamicLoader.cpp
Labels: none

[lldb] Re-insert code to search for a binary by filepath if provided
  lldb/source/Core/DynamicLoader.cpp
Labels: none

[MLIR][XeGPU] Clean up xegpu op tests (#144592)
  mlir/test/Dialect/XeGPU/invalid.mlir
  mlir/test/Dialect/XeGPU/layout.mlir
  mlir/test/Dialect/XeGPU/ops.mlir
  mlir/test/Dialect/XeGPU/subgroup-map-propagation.mlir
  mlir/test/Dialect/XeGPU/xegpu-blocking.mlir
  mlir/test/Dialect/XeGPU/xegpu-wg-to-sg-rr.mlir
  mlir/test/Dialect/XeGPU/xegpu-wg-to-sg.mlir
Labels: none

[MLIR][XeGPU] Clean up xegpu op tests (#144592)
  mlir/test/Dialect/XeGPU/invalid.mlir
  mlir/test/Dialect/XeGPU/layout.mlir
  mlir/test/Dialect/XeGPU/ops.mlir
  mlir/test/Dialect/XeGPU/subgroup-map-propagation.mlir
  mlir/test/Dialect/XeGPU/xegpu-blocking.mlir
  mlir/test/Dialect/XeGPU/xegpu-wg-to-sg-rr.mlir
  mlir/test/Dialect/XeGPU/xegpu-wg-to-sg.mlir
Labels: none

[AMDGPU] Support D16 folding for image.sample with multiple extractelement and fptrunc users (#141758)
  llvm/lib/Target/AMDGPU/AMDGPUInstCombineIntrinsic.cpp
  llvm/test/Transforms/InstCombine/AMDGPU/image-d16.ll
Labels: none

[AMDGPU] Support D16 folding for image.sample with multiple extractelement and fptrunc users (#141758)
  llvm/lib/Target/AMDGPU/AMDGPUInstCombineIntrinsic.cpp
  llvm/test/Transforms/InstCombine/AMDGPU/image-d16.ll
Labels: none

Run clang-format.
  compiler-rt/lib/scudo/standalone/report.h
Labels: none

Revert "[DebugInfo][RemoveDIs] Remove a swathe of debug-intrinsic code (#144389)"
  llvm/include/llvm/Analysis/IRSimilarityIdentifier.h
  llvm/include/llvm/Analysis/PtrUseVisitor.h
  llvm/include/llvm/Transforms/Utils/Local.h
  llvm/lib/Analysis/AliasSetTracker.cpp
  llvm/lib/Analysis/CallGraph.cpp
  llvm/lib/Analysis/DemandedBits.cpp
  llvm/lib/Analysis/Loads.cpp
  llvm/lib/Analysis/MemoryDependenceAnalysis.cpp
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/lib/CodeGen/CodeGenPrepare.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGISel.cpp
  llvm/lib/IR/DebugInfo.cpp
  llvm/lib/Target/AArch64/AArch64StackTagging.cpp
  llvm/lib/Target/Hexagon/HexagonLoopIdiomRecognition.cpp
  llvm/lib/Target/PowerPC/PPCBoolRetToInt.cpp
  llvm/lib/Transforms/AggressiveInstCombine/AggressiveInstCombine.cpp
  llvm/lib/Transforms/IPO/IROutliner.cpp
  llvm/lib/Transforms/IPO/SampleProfileProbe.cpp
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
  llvm/lib/Transforms/Instrumentation/GCOVProfiling.cpp
  llvm/lib/Transforms/Instrumentation/ThreadSanitizer.cpp
  llvm/lib/Transforms/Scalar/ADCE.cpp
  llvm/lib/Transforms/Scalar/GVN.cpp
  llvm/lib/Transforms/Scalar/GVNHoist.cpp
  llvm/lib/Transforms/Scalar/LICM.cpp
  llvm/lib/Transforms/Scalar/LoopStrengthReduce.cpp
  llvm/lib/Transforms/Scalar/LoopUnrollPass.cpp
  llvm/lib/Transforms/Scalar/SpeculativeExecution.cpp
  llvm/lib/Transforms/Scalar/TailRecursionElimination.cpp
  llvm/lib/Transforms/Utils/Debugify.cpp
  llvm/lib/Transforms/Utils/Evaluator.cpp
  llvm/lib/Transforms/Utils/InlineFunction.cpp
  llvm/lib/Transforms/Utils/Local.cpp
  llvm/lib/Transforms/Utils/LoopRotationUtils.cpp
  llvm/lib/Transforms/Utils/ScalarEvolutionExpander.cpp
  llvm/lib/Transforms/Utils/SimplifyCFG.cpp
  llvm/lib/Transforms/Vectorize/LoopVectorizationLegality.cpp
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: none

Test casts which preserve qualifiers work as expected
  clang/test/SemaObjCXX/arc-type-conversion.mm
Labels: none

LowerTypeTests: Use jump table entry type as value type of jump table alias.
  llvm/lib/Transforms/IPO/LowerTypeTests.cpp
  llvm/test/Transforms/LowerTypeTests/blockaddress-2.ll
  llvm/test/Transforms/LowerTypeTests/cfi-icall-alias.ll
  llvm/test/Transforms/LowerTypeTests/export-alias.ll
  llvm/test/Transforms/LowerTypeTests/export-icall.ll
  llvm/test/Transforms/LowerTypeTests/function-disjoint.ll
  llvm/test/Transforms/LowerTypeTests/function.ll
  llvm/test/Transforms/LowerTypeTests/icall-branch-funnel.ll
  llvm/test/Transforms/LowerTypeTests/pr37625.ll
  llvm/test/Transforms/LowerTypeTests/section.ll
Labels: none

LowerTypeTests: Use jump table entry type as value type of jump table alias.
  llvm/lib/Transforms/IPO/LowerTypeTests.cpp
  llvm/test/Transforms/LowerTypeTests/blockaddress-2.ll
  llvm/test/Transforms/LowerTypeTests/cfi-icall-alias.ll
  llvm/test/Transforms/LowerTypeTests/export-alias.ll
  llvm/test/Transforms/LowerTypeTests/export-icall.ll
  llvm/test/Transforms/LowerTypeTests/function-disjoint.ll
  llvm/test/Transforms/LowerTypeTests/function.ll
  llvm/test/Transforms/LowerTypeTests/icall-branch-funnel.ll
  llvm/test/Transforms/LowerTypeTests/pr37625.ll
  llvm/test/Transforms/LowerTypeTests/section.ll
Labels: none

[RISCV] Add Andes XAndesVBFHCvt (Andes Vector BFLOAT16 Conversion) extension (#144320)
  clang/test/Driver/print-supported-extensions-riscv.c
  clang/test/Preprocessor/riscv-target-features-andes.c
  llvm/docs/RISCVUsage.rst
  llvm/docs/ReleaseNotes.md
  llvm/lib/Target/RISCV/Disassembler/RISCVDisassembler.cpp
  llvm/lib/Target/RISCV/RISCVFeatures.td
  llvm/lib/Target/RISCV/RISCVInstrInfoXAndes.td
  llvm/test/CodeGen/RISCV/attributes.ll
  llvm/test/CodeGen/RISCV/features-info.ll
  llvm/test/MC/RISCV/xandesvbfhcvt-valid.s
  llvm/unittests/TargetParser/RISCVISAInfoTest.cpp
Labels: none
