Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[NVPTX] Auto-upgrade NVVM mulhi intrinsics to generic mulh (#226578)
  clang/lib/CodeGen/TargetBuiltins/NVPTX.cpp
  clang/test/CodeGen/builtins-nvptx.c
  llvm/include/llvm/IR/IntrinsicsNVVM.td
  llvm/lib/IR/AutoUpgrade.cpp
  llvm/lib/Target/NVPTX/NVPTXIntrinsics.td
  llvm/test/Assembler/auto_upgrade_nvvm_intrinsics.ll
  llvm/test/CodeGen/NVPTX/mulhi-intrins.ll
Labels: none

[libc++] Use a self-contained job to run libstdc++ benchmarks (#226985)
  .github/workflows/libcxx-benchmark-libstdcxx.yml
  libcxx/utils/ci/lnt/README.md
  libcxx/utils/ci/lnt/machines.json
  libcxx/utils/ci/lnt/run-libstdcxx-benchmarks
  libcxx/utils/ci/lnt/schemas/libcxx.yaml
  libcxx/utils/ci/lnt/schemas/libstdcxx.yaml
Labels: misc

[libc++] Update GHA pins in libcxx-benchmark-libstdcxx.yml (#227003)
  .github/workflows/libcxx-benchmark-libstdcxx.yml
Labels: misc

[CIR][OpenMP] Implement lowering for the 'num_threads' clause for 'parallel' directive (#202466)
  clang/lib/CIR/CodeGen/CIRGenOpenMPClause.cpp
  clang/lib/CIR/CodeGen/CIRGenOpenMPClause.h
  clang/lib/CIR/CodeGen/CIRGenStmtOpenMP.cpp
  clang/test/CIR/CodeGenOpenMP/parallel.c
Labels: none

[bazel][libc] Refactor to allow copts under full-build mode (#226851)
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
  utils/bazel/llvm-project-overlay/libc/libc_build_rules.bzl
Labels: none

[LICM] Preserve nsw when reassociating integer adds (#221210)
  llvm/lib/Transforms/Scalar/LICM.cpp
  llvm/test/Transforms/LICM/hoist-binop.ll
Labels: none

[SLP]Fix narrowed leaf masks for demoted reduction root
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/X86/narrowed-reduction-minbw-root.ll
Labels: none

[MC][Dwarf] Support DWARF Version 6 in CIE (#226997)
  llvm/lib/MC/MCDwarf.cpp
Labels: none

[Mips] Promote MSA half-vector shuffles to integer vectors (#226105)
  llvm/lib/Target/Mips/MipsSEISelLowering.cpp
  llvm/test/CodeGen/Mips/msa/f16vec-shuffle.ll
Labels: none

[bazel] Port 4faf0ae, 15cff90, 9028ff14, 4057f8e4 (#226853)
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
  utils/bazel/llvm-project-overlay/libc/startup/linux/BUILD.bazel
  utils/bazel/llvm-project-overlay/libc/startup/linux/x86_64/BUILD.bazel
Labels: none

[Github] Add LLVM-libc's full-build to Bazel Checks workflow (#224749)
  .github/workflows/bazel-checks.yml
Labels: misc

[lldb][test] Let inline tests opt into PDB debug info (#227001)
  lldb/packages/Python/lldbsuite/test/lldbinline.py
Labels: python

[OpenACC] Fix diagnostic for atomic assignment (#227004)
  clang/lib/Sema/SemaOpenACCAtomic.cpp
  clang/test/SemaOpenACC/atomic-construct.cpp
Labels: none

[Flang][OpenMP] Support 'nowait' clause on taskwait (#219247)
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/lib/Semantics/check-omp-structure.cpp
  flang/test/Lower/OpenMP/Todo/taskwait-nowait.f90
  flang/test/Semantics/OpenMP/taskwait-nowait.f90
  llvm/include/llvm/Frontend/OpenMP/OMPIRBuilder.h
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
  mlir/lib/Dialect/OpenMP/IR/OpenMPDialect.cpp
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/openmp-taskwait-depend.mlir
  mlir/test/Target/LLVMIR/openmp-todo.mlir
Labels: none

[mlir][transform] add ApplyEraseUnusedOperandsAndResultsPatternsOp transform op (#225864)
  mlir/include/mlir/Dialect/Linalg/TransformOps/LinalgTransformOps.td
  mlir/lib/Dialect/Linalg/TransformOps/LinalgTransformOps.cpp
  mlir/test/Dialect/Linalg/erase-unused-operands-and-results.mlir
  mlir/test/Dialect/Linalg/swap-extract-slice-with-fill.mlir
  mlir/test/Dialect/Linalg/td/erase-unused-operands-and-results.mlir
  mlir/test/Dialect/Linalg/td/swap-extract-slice-with-fill.mlir
  mlir/test/Dialect/Linalg/transform-op-swap-extract-slice-with-fill.mlir
  mlir/test/python/dialects/transform.py
Labels: python

[offload][omp] Mark shlib_global_var test unsupported for AMD (#227008)
  offload/test/offloading/shared_lib_global_var.c
Labels: none

[MIPS] add f16 vector bitcast patterns (#226287)
  llvm/lib/Target/Mips/MipsMSAInstrInfo.td
  llvm/test/CodeGen/Mips/msa/bitcast.ll
Labels: none

[lldb][Windows][CI] remove in process plugin testing (#226989)
  .ci/green-dragon/lldb-windows.groovy
Labels: ci

[lldb][test] Rename session logs through their extended-length path (#226976)
  lldb/packages/Python/lldbsuite/test/lldbtest.py
Labels: python

releand "[clang-repl] Implement IncrementalHIPDeviceParser for HIP device compilation" (#226930)
  clang/include/clang/CodeGen/CodeGenAction.h
  clang/include/clang/Interpreter/Interpreter.h
  clang/lib/CodeGen/BackendConsumer.h
  clang/lib/CodeGen/CodeGenAction.cpp
  clang/lib/Interpreter/CMakeLists.txt
  clang/lib/Interpreter/DeviceOffload.cpp
  clang/lib/Interpreter/DeviceOffload.h
  clang/lib/Interpreter/Interpreter.cpp
  clang/unittests/Basic/CMakeLists.txt
  clang/unittests/Basic/TargetIDTest.cpp
Labels: none

[X86] Add tests for CCMP chain leaves with a folded flag source (#226797)
  llvm/test/CodeGen/X86/apx/ccmp-flag-source.ll
Labels: none

[VectorUtils] Allow trivial vectorization of llvm.pdep and llvm.pext intrinsics (#227019)
  llvm/lib/Analysis/VectorUtils.cpp
  llvm/test/Transforms/LoopVectorize/intrinsic.ll
Labels: none

[SCEV] Skip invalidation with empty ValueExprMap (NFC). (#226845)
  llvm/lib/Analysis/ScalarEvolution.cpp
Labels: none

[Clang][RISCV] Add packed widening shift intrinsics (#224790)
  clang/include/clang/Basic/BuiltinsRISCV.td
  clang/lib/CodeGen/TargetBuiltins/RISCV.cpp
  clang/lib/Headers/riscv_packed_simd.h
  clang/test/CodeGen/RISCV/rvp-intrinsics.c
  cross-project-tests/intrinsic-header-tests/riscv_packed_simd.c
  llvm/include/llvm/IR/IntrinsicsRISCV.td
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoP.td
  llvm/test/CodeGen/RISCV/rvp-widening-shift.ll
Labels: none

[llvm][Support] Use ::closesocket for native sockets on Windows (#226613)
  llvm/lib/Support/raw_socket_stream.cpp
  llvm/unittests/Support/raw_socket_stream_test.cpp
Labels: none

[HLSL] Preserve matrix layout as AST storage metadata (#225519)
  clang/include/clang/AST/ASTContext.h
  clang/include/clang/AST/MatrixUtils.h
  clang/include/clang/AST/PropertiesBase.td
  clang/include/clang/AST/TypeBase.h
  clang/include/clang/AST/TypeProperties.td
  clang/include/clang/Sema/SemaHLSL.h
  clang/lib/AST/ASTContext.cpp
  clang/lib/AST/ASTImporter.cpp
  clang/lib/AST/Type.cpp
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CGExprScalar.cpp
  clang/lib/CodeGen/CGHLSLBuiltins.cpp
  clang/lib/CodeGen/CodeGenTypes.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaHLSL.cpp
  clang/lib/Sema/SemaStmt.cpp
  clang/lib/Sema/SemaType.cpp
  clang/lib/Sema/TreeTransform.h
  clang/test/AST/HLSL/matrix_layout_attr.hlsl
  clang/test/CodeGen/matrix-type-indexing.c
  clang/test/CodeGenHLSL/BasicFeatures/MatrixElementTypeCast.hlsl
  clang/test/CodeGenHLSL/BasicFeatures/MatrixExplicitTruncation.hlsl
  clang/test/CodeGenHLSL/BasicFeatures/MatrixImplicitTruncation.hlsl
  clang/test/CodeGenHLSL/BasicFeatures/MatrixInitializerListOrder.hlsl
  clang/test/CodeGenHLSL/BasicFeatures/MatrixToAndFromVectorConstructors.hlsl
  clang/test/CodeGenHLSL/BasicFeatures/VectorElementwiseCast.hlsl
  clang/test/CodeGenHLSL/BasicFeatures/matrix-type-indexing.hlsl
  clang/test/CodeGenHLSL/builtins/mul.hlsl
  clang/test/CodeGenHLSL/builtins/transpose.hlsl
  clang/test/CodeGenHLSL/matrix-layout-attr-overrides-default.hlsl
  clang/test/CodeGenHLSL/matrix-layout-register-representation.hlsl
  clang/test/CodeGenHLSL/resources/MatrixElement_cbuffer.hlsl
  clang/test/SemaHLSL/matrix_layout_attr.hlsl
Labels: none

[lldb][test] Don't add pdb to explicitly tagged debug info categories (#226999)
  lldb/packages/Python/lldbsuite/test/lldbtest.py
Labels: python

[clang] Add one-entry cache for ASTContext::getDeclAttrs() (#226610)
  clang/include/clang/AST/ASTContext.h
  clang/lib/AST/ASTContext.cpp
Labels: none

[ADT] Extract SmallDenseMapStorage from SmallDenseMap (NFC) (#226882)
  llvm/include/llvm/ADT/DenseMap.h
Labels: none

[X86][APX] Precommit test for BLSI/BLSMSK i8 patterns with EGPR (NFC) (#226793)
  llvm/test/CodeGen/X86/apx/bls-egpr.ll
Labels: none

X86: Mark EFLAGS dead on the FP control word OR (#227017)
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/fp-intrinsics-flags.ll
  llvm/test/CodeGen/X86/fpcw-dead-eflags.ll
Labels: none

AArch64: Mark the NZCV def dead for unused overflow results (#227018)
  llvm/lib/Target/AArch64/GISel/AArch64InstructionSelector.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/select-sadde.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-saddo.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-ssube.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-ssubo.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-uadde.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-uaddo.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-usube.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-usubo.mir
Labels: none

[CodeGen] Re-land reverted PR (#216510): "Use RegisterClassInfo for remaining allocation-order users" (#222450)
  llvm/lib/Target/AMDGPU/AMDGPURewriteAGPRCopyMFMA.cpp
  llvm/lib/Target/ARM/ARMLoadStoreOptimizer.cpp
Labels: none

[-Wunsafe-buffer-usage] Speed up warning a bit (#226605)
  clang/lib/Analysis/UnsafeBufferUsage.cpp
Labels: none

[flang] Record the evaluations that branch to each evaluation (#225755)
  flang/include/flang/Lower/PFTBuilder.h
  flang/include/flang/Lower/PFTDefs.h
  flang/lib/Lower/PFTBuilder.cpp
  flang/test/Lower/assigned-goto-labeled-end.f90
  flang/test/Lower/ifconvert.f90
  flang/test/Lower/pre-fir-tree-incoming-branches.f90
  flang/test/Lower/trailing-cycle.f90
Labels: none

[AMDGPU] Make GFX1250VALUBlockingCycles a feature. (#226314)
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/GCNSubtarget.h
  llvm/test/CodeGen/AMDGPU/coexec-sched-flavor-classification.mir
Labels: none

AMDGPU: Mark SCC def dead in kill/demote lowering (#227024)
  llvm/lib/Target/AMDGPU/SIWholeQuadMode.cpp
  llvm/test/CodeGen/AMDGPU/wqm.mir
Labels: none

[CIR] Support load & store for builtin matrix type (#226259)
  clang/lib/CIR/CodeGen/CIRGenExpr.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/lib/CIR/Lowering/LoweringHelpers.cpp
  clang/test/CIR/CodeGen/matrix.cpp
Labels: none

DAG: Use poison for some vector element folds (#225406)
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
Labels: none

[SPIR-V] Fix ldexp exponent splat for vectors wider than four elements (#225617)
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/test/CodeGen/SPIRV/llvm-intrinsics/ldexp.ll
Labels: none
