Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[Offload] Add device UID (#164391)
  offload/liboffload/API/Device.td
  offload/liboffload/src/OffloadImpl.cpp
  offload/plugins-nextgen/amdgpu/dynamic_hsa/hsa_ext_amd.h
  offload/plugins-nextgen/amdgpu/src/rtl.cpp
  offload/plugins-nextgen/common/include/PluginInterface.h
  offload/plugins-nextgen/common/src/PluginInterface.cpp
  offload/plugins-nextgen/cuda/dynamic_cuda/cuda.cpp
  offload/plugins-nextgen/cuda/dynamic_cuda/cuda.h
  offload/plugins-nextgen/cuda/src/rtl.cpp
  offload/tools/deviceinfo/llvm-offload-device-info.cpp
  offload/unittests/OffloadAPI/device/olGetDeviceInfo.cpp
  offload/unittests/OffloadAPI/device/olGetDeviceInfoSize.cpp
Labels: none

Add comment.
  llvm/CMakeLists.txt
Labels: none

DeclareRuntimeLibcalls: Add registered target checks to test run lines
  llvm/test/Transforms/Util/DeclareRuntimeLibcalls/sincos_stret.ll
Labels: none

[LLDB] Run API tests with PDB too (#149305)
  lldb/packages/Python/lldbsuite/test/builders/builder.py
  lldb/packages/Python/lldbsuite/test/lldbtest.py
  lldb/packages/Python/lldbsuite/test/make/Makefile.rules
  lldb/packages/Python/lldbsuite/test/test_categories.py
  lldb/test/API/test_utils/pdb/Makefile
  lldb/test/API/test_utils/pdb/TestPdb.py
  lldb/test/API/test_utils/pdb/main.cpp
Labels: python

[SPIRV] Handle ptrcast between array and vector types
  llvm/lib/Target/SPIRV/SPIRVLegalizePointerCast.cpp
  llvm/test/CodeGen/SPIRV/pointers/load-store-vec-from-array.ll
Labels: none

[cmake] Pass PYTHON_EXECUTABLE to native builds (#163574)
  llvm/cmake/modules/CrossCompile.cmake
Labels: none

Mimic bmi2-builtins.c implementation
  clang/test/CodeGen/X86/avx512-builtins.h
  clang/test/CodeGen/X86/avx512bw-builtins.c
  clang/test/CodeGen/X86/avx512dq-builtins.c
  clang/test/CodeGen/X86/avx512f-builtins.c
Labels: none

[X86][NewPM] Port lower-amx-intrinsics to NewPM
  llvm/lib/Target/X86/X86.h
  llvm/lib/Target/X86/X86LowerAMXIntrinsics.cpp
  llvm/lib/Target/X86/X86PassRegistry.def
  llvm/lib/Target/X86/X86TargetMachine.cpp
  llvm/test/CodeGen/X86/AMX/amx-low-intrinsics-no-amx-bitcast.ll
  llvm/test/CodeGen/X86/AMX/amx-low-intrinsics.ll
Labels: none

[X86][NewPM] Port X86PartialReduction to NewPM
  llvm/lib/Target/X86/X86.h
  llvm/lib/Target/X86/X86PartialReduction.cpp
  llvm/lib/Target/X86/X86PassRegistry.def
  llvm/lib/Target/X86/X86TargetMachine.cpp
Labels: none

[libc] Add chown and getgid implementations
  libc/config/linux/x86_64/entrypoints.txt
  libc/hdr/types/CMakeLists.txt
  libc/hdr/types/gid_t.h
  libc/include/unistd.yaml
  libc/src/unistd/CMakeLists.txt
  libc/src/unistd/chown.h
  libc/src/unistd/getgid.h
  libc/src/unistd/linux/CMakeLists.txt
  libc/src/unistd/linux/chown.cpp
  libc/src/unistd/linux/getgid.cpp
  libc/test/src/unistd/CMakeLists.txt
  libc/test/src/unistd/chown_test.cpp
  libc/test/src/unistd/getgid_test.cpp
Labels: none

[BPF] Avoid relocation for jumptable entries (#166301)
  llvm/lib/Target/BPF/BPFAsmPrinter.cpp
  llvm/test/CodeGen/BPF/jump_table_blockaddr.ll
  llvm/test/CodeGen/BPF/jump_table_global_var.ll
  llvm/test/CodeGen/BPF/jump_table_switch_stmt.ll
Labels: none

[Docs][clang-tools-extra] Convert maintainers list to .rst format (#165171)
  clang-tools-extra/Maintainers.rst
  clang-tools-extra/docs/Maintainers.rst
  clang-tools-extra/docs/index.rst
Labels: none

[AMDGPU] NFC, delete promote-alloca testcase (#166297)
  llvm/test/CodeGen/AMDGPU/promote-alloca-array-to-vector.ll
Labels: none

Declutter ouput format. Remove GNU output.
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-callgraph-section.test
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-err-invalid-flags.test
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-err-invalid-format-version.test
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-err-missing-directs.test
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-err-missing-indirect.test
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-err-no-callgraph-section.test
  llvm/test/tools/llvm-readobj/ELF/call-graph-info.test
  llvm/tools/llvm-readobj/ELFDumper.cpp
Labels: none

[SPIRV] Use a worklist in the post-legalizer
  llvm/lib/Target/SPIRV/SPIRVPostLegalizer.cpp
Labels: none

Handle vector shuffle.
  llvm/lib/Target/SPIRV/SPIRVPostLegalizer.cpp
Labels: none

Set insertion point in MIB.
  llvm/lib/Target/SPIRV/SPIRVPostLegalizer.cpp
Labels: none

Fix comment grammar
  clang/lib/Sema/SemaInit.cpp
Labels: none

Remove unnecessary header includes.
  llvm/tools/llvm-readobj/ELFDumper.cpp
Labels: none

fix formatting
  clang/lib/Sema/SemaInit.cpp
Labels: none

DAG: Avoid some libcall string name comparisons
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
Labels: none

Remove getMemcpyName
  llvm/include/llvm/CodeGen/TargetLowering.h
  llvm/include/llvm/IR/RuntimeLibcalls.h
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/lib/CodeGen/PreISelIntrinsicLowering.cpp
Labels: none

Fix
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
Labels: none

More header include cleanups.
  llvm/tools/llvm-readobj/ELFDumper.cpp
Labels: none

Restore getDecompiledLoc
  clang/include/clang/Basic/SourceManager.h
Labels: none

[PowerPC][NFC] auto gen checks vec rounding tests
  llvm/test/CodeGen/PowerPC/vec_rounding.ll
Labels: none

Rename test files to .S
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-callgraph-section.S
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-err-invalid-flags.S
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-err-invalid-format-version.S
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-err-missing-directs.S
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-err-missing-indirect.S
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-err-no-callgraph-section.S
  llvm/tools/llvm-readobj/ELFDumper.cpp
Labels: none

works without cafm
  clang/include/clang/Basic/Builtins.td
  clang/lib/CodeGen/CGHLSLBuiltins.cpp
  clang/lib/CodeGen/CGHLSLRuntime.h
  clang/lib/Sema/HLSLBuiltinTypeDeclBuilder.cpp
  clang/lib/Sema/HLSLBuiltinTypeDeclBuilder.h
  clang/lib/Sema/SemaHLSL.cpp
  clang/test/CodeGenHLSL/resources/StructuredBuffers-methods-lib.hlsl
  clang/test/CodeGenHLSL/resources/StructuredBuffers-methods-ps.hlsl
  clang/test/CodeGenHLSL/resources/TypedBuffers-methods.hlsl
  llvm/include/llvm/IR/IntrinsicsDirectX.td
  llvm/include/llvm/IR/IntrinsicsSPIRV.td
  llvm/lib/Target/DirectX/DXILOpLowering.cpp
Labels: none

[z/OS] Improve compiler options on z/OS (#166415)
  llvm/CMakeLists.txt
Labels: none

[MLIR][Linalg][Transform] Expose more args in VectorizeChildren[...] op's Python bindings (#166134)
  mlir/python/mlir/dialects/transform/structured.py
  mlir/test/python/dialects/transform_structured_ext.py
Labels: python

[OpenMP] Implement omp_get_uid_from_device() / omp_get_device_from_uid()
  offload/include/OpenMP/omp.h
  offload/include/omptarget.h
  offload/libomptarget/OpenMP/API.cpp
  offload/libomptarget/exports
  offload/test/api/omp_device_uid.c
  openmp/device/include/DeviceTypes.h
  openmp/device/include/Interface.h
  openmp/device/src/State.cpp
  openmp/runtime/src/dllexports
  openmp/runtime/src/include/omp.h.var
  openmp/runtime/src/include/omp_lib.F90.var
  openmp/runtime/src/include/omp_lib.h.var
  openmp/runtime/src/kmp_ftn_entry.h
  openmp/runtime/src/kmp_ftn_os.h
  openmp/runtime/test/api/omp_device_uid.c
Labels: openmp

[MISched][NFC] Rename isUnbufferedGroup to isReservedGroup
  llvm/include/llvm/CodeGen/MachineScheduler.h
  llvm/lib/CodeGen/MachineScheduler.cpp
Labels: none

AMDGPU: Delete redundant recursive copy handling code
  llvm/lib/Target/AMDGPU/SIFoldOperands.cpp
  llvm/test/CodeGen/AMDGPU/llvm.is.fpclass.f16.ll
  llvm/test/CodeGen/AMDGPU/true16-fold.mir
  llvm/test/CodeGen/AMDGPU/true16-imm-folded-to-0-regression.ll
Labels: none

t
  llvm/lib/Target/SPIRV/SPIRVPostLegalizer.cpp
Labels: none

build_llvm_release.bat: Put the 32-bit sanitizers back
  llvm/utils/release/build_llvm_release.bat
Labels: none

[clang][builtins] Add stdckdint.h to the modulemap. (#166230)
  clang/lib/Headers/module.modulemap
  clang/lib/Lex/ModuleMap.cpp
  clang/test/Modules/Inputs/builtin-headers/system-modules.modulemap
  clang/test/Modules/builtin-headers.mm
Labels: none

[AMDGPU][MC] Disallow nogds in ds_gws_* instructions
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/test/MC/AMDGPU/gfx10_asm_ds_err.s
  llvm/test/MC/AMDGPU/gfx11_asm_ds_err.s
  llvm/test/MC/AMDGPU/gfx7_asm_ds_err.s
  llvm/test/MC/AMDGPU/gfx8_asm_ds_err.s
  llvm/test/MC/AMDGPU/gfx9_asm_ds_err.s
Labels: none

build_llvm_release.bat: Put the 32-bit sanitizers back (#166437)
  llvm/utils/release/build_llvm_release.bat
Labels: none

Fix firstbithigh sema errors test
  clang/test/SemaHLSL/BuiltIns/firstbithigh-errors.hlsl
Labels: none

[CIR][NFC] EHScope & Cleanups Iterators and operators overloading (#165317)
  clang/lib/CIR/CodeGen/CIRGenCleanup.cpp
  clang/lib/CIR/CodeGen/CIRGenCleanup.h
  clang/lib/CIR/CodeGen/EHScopeStack.h
Labels: none
