Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[libcxx] tightens `__add_alignment_assumption` return type
  libcxx/include/__vector/vector.h
Labels: none

AMDGPU/GlobalISel: Fix buffer store RegBankLegalize rules (#179994)
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeRules.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/llvm.amdgcn.raw.ptr.tbuffer.store.f16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/llvm.amdgcn.raw.tbuffer.store.f16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/llvm.amdgcn.struct.buffer.store.format.f16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/llvm.amdgcn.struct.ptr.buffer.store.format.f16.ll
Labels: none

[flang] Disambiguate descriptor and data addresses in FIR AA. (#179774)
  flang/lib/Optimizer/Analysis/AliasAnalysis.cpp
  flang/test/Analysis/AliasAnalysis/alias-analysis-cray-pointers.fir
  flang/test/Analysis/AliasAnalysis/load-ptr-designate.fir
  flang/test/Analysis/AliasAnalysis/ptr-component.fir
Labels: none

[flang] Allow fir.field_index and fir.coordinate_of speculation. (#179785)
  flang/include/flang/Optimizer/Dialect/FIROps.td
  flang/lib/Optimizer/Dialect/FIROps.cpp
  flang/test/Transforms/licm.fir
Labels: none

address testing requests
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/test/AST/HLSL/matrix-elementexpr-tree-transform.hlsl
  clang/test/CIR/CodeGenHLSL/matrix-element-expr-load.hlsl
Labels: none

Make StopInfoMachException return the right data.
  lldb/source/Plugins/Process/Utility/StopInfoMachException.h
  lldb/test/API/macosx/stop-reason-exception/Makefile
  lldb/test/API/macosx/stop-reason-exception/TestMachExceptionData.py
  lldb/test/API/macosx/stop-reason-exception/main.c
Labels: python

add tests for shape_cast and improve collapseDims
  mlir/include/mlir/Dialect/XeGPU/Transforms/XeGPULayoutImpl.h
  mlir/lib/Dialect/XeGPU/IR/XeGPUDialect.cpp
  mlir/lib/Dialect/XeGPU/Transforms/XeGPULayoutImpl.cpp
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUPropagateLayout.cpp
  mlir/test/Dialect/XeGPU/propagate-layout-inst-data.mlir
  mlir/test/Dialect/XeGPU/propagate-layout-subgroup.mlir
  mlir/test/Dialect/XeGPU/propagate-layout.mlir
Labels: none

Update lldb/source/Core/CoreProperties.td
  lldb/source/Core/CoreProperties.td
Labels: none

[RISCV] Rename RISCVISD::PPACK_DH->PPAIRE_DB. NFC
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoP.td
Labels: none

[libcxx] tightens `__add_alignment_assumption` return type
  libcxx/include/__vector/vector.h
Labels: none

Update lldb/include/lldb/Host/HostInfoBase.h
  lldb/include/lldb/Host/HostInfoBase.h
Labels: none

[NewPM] Port x86-cleanup-local-dynamic-tls (#179864)
  llvm/lib/Target/X86/CMakeLists.txt
  llvm/lib/Target/X86/X86.h
  llvm/lib/Target/X86/X86CleanupLocalDynamicTLS.cpp
  llvm/lib/Target/X86/X86CodeGenPassBuilder.cpp
  llvm/lib/Target/X86/X86InstrInfo.cpp
  llvm/lib/Target/X86/X86PassRegistry.def
  llvm/lib/Target/X86/X86TargetMachine.cpp
  llvm/test/CodeGen/X86/llc-pipeline-npm.ll
Labels: none

rename setting to symbols.shared-cache-binary-loading which I think is a little more descriptive.
  lldb/include/lldb/Core/ModuleList.h
  lldb/source/Core/CoreProperties.td
  lldb/source/Core/ModuleList.cpp
  lldb/source/Host/macosx/objcxx/HostInfoMacOSX.mm
Labels: none

Make the test darwin only.
  lldb/test/API/macosx/stop-reason-exception/TestMachExceptionData.py
Labels: python

Update test comment to mention fix
  llvm/test/Instrumentation/MemorySanitizer/switch-icmp.ll
Labels: none

fixup! clang-format
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
Labels: none

rm braces
  clang/lib/Analysis/UnsafeBufferUsage.cpp
Labels: none

Formatting
  lldb/source/Plugins/Process/Utility/StopInfoMachException.h
  lldb/test/API/macosx/stop-reason-exception/TestMachExceptionData.py
  lldb/test/API/macosx/stop-reason-exception/main.c
Labels: python

More debug
  .github/workflows/commit-access-review.py
Labels: python, misc

Avoid copying the segment objects when iterating over them. Move the verbose logging detection out of the loop for clarity.
  lldb/source/Host/macosx/objcxx/HostInfoMacOSX.mm
Labels: none

[𝘀𝗽𝗿] changes to main this commit is based on
  clang/unittests/Analysis/FlowSensitive/UncheckedStatusOrAccessModelTestFixture.cpp
Labels: none

[MC][Wasm] Emit useful error message when encountering common symbols (#179586)
  llvm/lib/MC/MCWasmStreamer.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyAsmPrinter.cpp
  llvm/test/CodeGen/WebAssembly/common-error.ll
  llvm/test/MC/WebAssembly/common-error.s
Labels: none

ws fix
  lldb/source/Plugins/DynamicLoader/MacOSX-DYLD/DynamicLoaderDarwin.cpp
Labels: none

[gn build] Port eb9e98f62e0c
  llvm/utils/gn/secondary/llvm/lib/Target/X86/BUILD.gn
Labels: none

Try to optimize
  .github/workflows/commit-access-review.py
Labels: python, misc

[llvm-objdump][AVR] Detect AVR architecture from ELF flags for disassembling (#174731)
  llvm/include/llvm/TargetParser/AVRTargetParser.h
  llvm/include/llvm/TargetParser/Triple.h
  llvm/lib/TargetParser/AVRTargetParser.cpp
  llvm/lib/TargetParser/CMakeLists.txt
  llvm/test/tools/llvm-objdump/ELF/AVR/lit.local.cfg
  llvm/test/tools/llvm-objdump/ELF/AVR/mattr.test
  llvm/tools/llvm-objdump/llvm-objdump.cpp
Labels: none

[NFC][Clang][unsafe-buffer-usage] Simplify isPtrBufferSafe with helper. (#178768)
  clang/lib/Analysis/UnsafeBufferUsage.cpp
Labels: none

Simplify per Vitaly's feedback
  llvm/lib/Transforms/Instrumentation/MemorySanitizer.cpp
  llvm/test/Instrumentation/MemorySanitizer/switch-icmp.ll
Labels: none

Further simplify
  llvm/lib/Transforms/Instrumentation/MemorySanitizer.cpp
Labels: none

add true16 pattern for cvt.f32.f8
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.cvt.fp8.ll
Labels: none

Fix bazel after ba58225a0ae3d5dbaabb504470fa0d4be09fd0d0
  utils/bazel/llvm-project-overlay/mlir/python/BUILD.bazel
Labels: none

Fix comment typos.
  llvm/lib/Target/WebAssembly/GISel/WebAssemblyLegalizerInfo.cpp
  llvm/lib/Target/WebAssembly/GISel/WebAssemblyLegalizerInfo.h
  llvm/lib/Target/WebAssembly/GISel/WebAssemblyRegisterBankInfo.cpp
  llvm/lib/Target/WebAssembly/GISel/WebAssemblyRegisterBankInfo.h
  llvm/lib/Target/WebAssembly/WebAssemblyCombine.td
  llvm/lib/Target/WebAssembly/WebAssemblyGISel.td
  llvm/lib/Target/WebAssembly/WebAssemblyRegisterBanks.td
Labels: none

Fixup: Fall back to pure assertion removal.
  clang/lib/Analysis/FlowSensitive/Transfer.cpp
Labels: none

Fixup: Add comment.
  clang/unittests/Analysis/FlowSensitive/TransferTest.cpp
Labels: none

changed function signature to match changes from commit 823e3e0
  libc/src/__support/math/ffmaf128.h
Labels: none

AMDGPU/GlobalISel: RegBankLegalize rules for amdgcn_sffbh
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeRules.cpp
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.sffbh.ll
Labels: none

MIPS: readsWritesFloatRegister, inc Idx for continue (#179932)
  llvm/lib/Target/Mips/MipsSEInstrInfo.cpp
  llvm/test/CodeGen/MIR/Mips/mips32r6-copyPhysReg-fcmp-f64-to-gpr.mir
Labels: none

[CIR][docs] C++ cleanup and exception handling design for CIR (#177625)
  clang/docs/ClangIRCleanupAndEHDesign.md
  clang/docs/index.rst
Labels: none

[NFC][Clang][UnsafeBufferUsage] Remove unnecessary struct. (#178801)
  clang/lib/Analysis/UnsafeBufferUsage.cpp
Labels: none

[CIR] Upstream support for variable sized array new (#179798)
  clang/lib/CIR/CodeGen/CIRGenConstantEmitter.h
  clang/lib/CIR/CodeGen/CIRGenExprCXX.cpp
  clang/lib/CIR/CodeGen/CIRGenExprConstant.cpp
  clang/test/CIR/CodeGen/new.cpp
Labels: none
