Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

fix CI errors
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: none

[mlir][SPIR-V] Fix crash on empty composite in replicated constants pass (#206647)
  mlir/lib/Dialect/SPIRV/Transforms/ConvertToReplicatedConstantCompositePass.cpp
  mlir/test/Dialect/SPIRV/Transforms/replicated-const-composites.mlir
Labels: none

Address review comments
  llvm/lib/Target/SPIRV/SPIRVEmitIntrinsics.cpp
  llvm/test/CodeGen/SPIRV/llvm-intrinsics/signed_arithmetic_overflow.ll
Labels: none

Fix test
  clang/test/CodeGenCXX/cxx0x-initializer-stdinitializerlist.cpp
Labels: none

Add target tests
  mlir/test/Target/SPIRV/gl-ops.mlir
Labels: none

step order->at_least, address review comments
  cross-project-tests/debuginfo-tests/dexter/dex/evaluation/Metrics.py
  cross-project-tests/debuginfo-tests/dexter/dex/evaluation/RunMatch.py
  cross-project-tests/debuginfo-tests/dexter/dex/test_script/Nodes.py
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/evaluation/eval_steps_penalties.cpp
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/evaluation/eval_steps_perfect.cpp
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/parser/step-node-expected-values.test
Labels: python

[Dexter] Add !step node for testing stepping behaviour
  cross-project-tests/debuginfo-tests/dexter/dex/evaluation/ExpectRewriter.py
  cross-project-tests/debuginfo-tests/dexter/dex/evaluation/Metrics.py
  cross-project-tests/debuginfo-tests/dexter/dex/evaluation/RunMatch.py
  cross-project-tests/debuginfo-tests/dexter/dex/test_script/Nodes.py
  cross-project-tests/debuginfo-tests/dexter/dex/test_script/Script.py
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/evaluation/eval_steps_penalties.cpp
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/evaluation/eval_steps_perfect.cpp
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/parser/step-node-expected-values.test
Labels: python

[Sparc] Create MMO for STORE_BIG/LITTLE with MOStore
  llvm/lib/Target/Sparc/SparcISelLowering.cpp
Labels: none

Update .github/workflows/release-documentation.yml
  .github/workflows/release-documentation.yml
Labels: misc

[lldb][Windows] reconfigure project in the correct directory (#206781)
  .ci/green-dragon/lldb-windows.groovy
Labels: ci

tests-regen
  llvm/test/Transforms/LoopDistribute/non-lcssa-input.ll
  llvm/test/Transforms/LoopLoadElim/non-lcssa-input.ll
Labels: none

lit test splited seperately
  flang/test/Lower/OpenMP/non-rectangular-collapse2.f90
  flang/test/Lower/OpenMP/non-rectangular-collapse3.f90
Labels: none

[AArch64][GlobalISel] Fix generation of incorrect shuffle masks.
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/insert-subvector.ll
  llvm/test/CodeGen/AArch64/extract-vector-elt.ll
Labels: none

[lldb] Fix compiler warning in LibStdcpp.cpp
  lldb/source/Plugins/Language/CPlusPlus/LibCxx.cpp
  lldb/source/Plugins/Language/CPlusPlus/LibStdcpp.cpp
Labels: none

[lldb] Fix compiler warning in LibStdcpp.cpp (#206932)
  lldb/source/Plugins/Language/CPlusPlus/LibCxx.cpp
  lldb/source/Plugins/Language/CPlusPlus/LibStdcpp.cpp
Labels: none

[mlir][SPIR-V] Add SPIRVToLLVM conversions for GL.FMix and CL.mix
  mlir/lib/Conversion/SPIRVToLLVM/SPIRVToLLVM.cpp
  mlir/test/Conversion/SPIRVToLLVM/cl-ops-to-llvm.mlir
  mlir/test/Conversion/SPIRVToLLVM/gl-ops-to-llvm.mlir
Labels: none

[AArch64][SVE] Fold predicate SETCC negations
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve-setcc.ll
Labels: none

Add test
  clang/test/.gitattributes
  clang/test/Preprocessor/Inputs/comment_save_crlf.h
  clang/test/Preprocessor/comment_save_crlf.c
Labels: none

[VPlan] Relax type of DerivedIV start value (NFC)
  llvm/lib/Transforms/Vectorize/LoopVectorizationPlanner.h
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: none

[mlir][SPIR-V] Add SPIRVToLLVM conversions for FMod and SMod
  mlir/lib/Conversion/SPIRVToLLVM/SPIRVToLLVM.cpp
  mlir/test/Conversion/SPIRVToLLVM/arithmetic-ops-to-llvm.mlir
Labels: none

Fixups and tests
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/inline-memmove.mir
Labels: none

[mlir][SPIR-V] Add SPIRVToLLVM conversions for GL.FSign and GL.SSign
  mlir/lib/Conversion/SPIRVToLLVM/SPIRVToLLVM.cpp
  mlir/test/Conversion/SPIRVToLLVM/gl-ops-to-llvm.mlir
Labels: none

[DAG] Add MVT::widenIntegerElementType and MVT::widenIntegerVectorElementType
  llvm/include/llvm/CodeGenTypes/MachineValueType.h
Labels: none

[LoopInterchange] Relax legality check to accept more patterns
  llvm/lib/Transforms/Scalar/LoopInterchange.cpp
  llvm/test/Transforms/LoopInterchange/dependency-all-eq.ll
  llvm/test/Transforms/LoopInterchange/inner-only-reductions.ll
  llvm/test/Transforms/LoopInterchange/innermost-latch-uses-values-in-middle-header.ll
  llvm/test/Transforms/LoopInterchange/large-nested-6d.ll
  llvm/test/Transforms/LoopInterchange/legality-check.ll
  llvm/test/Transforms/LoopInterchange/pr43176-move-to-new-latch.ll
Labels: none

[LoopInterchange] Change the cost model to interchange `[* =]`
  llvm/lib/Transforms/Scalar/LoopInterchange.cpp
  llvm/test/Transforms/LoopInterchange/dependency-all-eq.ll
Labels: none

[VPlan] Factor first-lane-scalar logic in VPI::execute (NFC)
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
Labels: none

[spr] initial version
  clang/lib/Driver/ToolChain.cpp
  clang/lib/Driver/ToolChains/Arch/ARM.cpp
  clang/lib/Driver/ToolChains/CommonArgs.cpp
  llvm/include/llvm/TargetParser/ARMTargetParser.h
  llvm/lib/TargetParser/ARMTargetParser.cpp
  llvm/unittests/TargetParser/TargetParserTest.cpp
Labels: none

[PowerPC] Specify inlining behavior in TableGen
  llvm/lib/Target/PowerPC/PPC.td
  llvm/lib/Target/PowerPC/PPCTargetTransformInfo.cpp
  llvm/lib/Target/PowerPC/PPCTargetTransformInfo.h
  llvm/test/Transforms/Inline/PowerPC/inline-target-attr.ll
Labels: none

[Dexter] Add !step node for testing stepping behaviour (#203844)
  cross-project-tests/debuginfo-tests/dexter/dex/evaluation/ExpectRewriter.py
  cross-project-tests/debuginfo-tests/dexter/dex/evaluation/Metrics.py
  cross-project-tests/debuginfo-tests/dexter/dex/evaluation/RunMatch.py
  cross-project-tests/debuginfo-tests/dexter/dex/test_script/Nodes.py
  cross-project-tests/debuginfo-tests/dexter/dex/test_script/Script.py
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/evaluation/eval_steps_penalties.cpp
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/evaluation/eval_steps_perfect.cpp
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/parser/step-node-expected-values.test
Labels: python

[VPlan] Rename IsScalar -> IsSingleScalar
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
Labels: none

[InlineCost] Never inline functions with incompatible target features
  llvm/lib/Analysis/InlineCost.cpp
  llvm/test/Transforms/Inline/X86/always-inline-features.ll
Labels: none

Remove unused TTI parameter
  llvm/lib/Analysis/InlineCost.cpp
Labels: none

[lldb] Add a command history with context for autosuggestions
  lldb/include/lldb/Interpreter/CommandHistoryWithContext.h
  lldb/include/lldb/Interpreter/CommandInterpreter.h
  lldb/source/Interpreter/CMakeLists.txt
  lldb/source/Interpreter/CommandHistoryWithContext.cpp
  lldb/source/Interpreter/CommandInterpreter.cpp
  lldb/unittests/Interpreter/CMakeLists.txt
  lldb/unittests/Interpreter/TestCommandHistoryWithContext.cpp
Labels: none

Add clang warning if fp exception functions are called without appropriate flags/pragmas (#187860)
  clang/include/clang/AST/ASTContext.h
  clang/include/clang/Basic/BuiltinHeaders.def
  clang/include/clang/Basic/Builtins.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Basic/TokenKinds.def
  clang/include/clang/Sema/Sema.h
  clang/include/clang/Serialization/ASTBitCodes.h
  clang/lib/AST/ASTContext.cpp
  clang/lib/Sema/SemaChecking.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Serialization/ASTReader.cpp
  clang/lib/Serialization/ASTWriter.cpp
  clang/test/PCH/builtins-fenv.c
  clang/test/PCH/builtins-fenv.h
  clang/test/Sema/builtin-fenv.c
  clang/test/Sema/fenv-access-implicit.c
  clang/test/Sema/fenv-access-unevaluated.cpp
  clang/test/Sema/fenv-access.c
  clang/utils/TableGen/ClangBuiltinsEmitter.cpp
Labels: none

Removed redundant extern "C" {} block in builtin-fenv.c
  clang/test/Sema/builtin-fenv.c
Labels: none

Added check for strict FP support before warning
  clang/lib/Sema/SemaChecking.cpp
  clang/test/Sema/fenv-access.c
Labels: none

Added release notes to new clang/docs/ReleaseNotes.md file
  clang/docs/ReleaseNotes.md
Labels: none

Reapply "[DirectX] Test stripping debug info for DirectX" (#206795)
  llvm/test/CodeGen/DirectX/strip-debug-info.ll
Labels: none

[lldb][test] Classify expedited-stack-memory reads by memory region
  lldb/packages/Python/lldbsuite/test/gdbclientutils.py
  lldb/test/API/macosx/expedited-stack-memory/TestExpeditedStackMemory.py
  lldb/test/API/macosx/expedited-stack-memory/main.c
Labels: python

[DAGCombiner] Skip smax(X,-1) fold when X is a sign extension
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
Labels: none
