Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[clang-tidy][docs] Address review nits
  clang-tools-extra/docs/clang-tidy/checks/altera/id-dependent-backward-branch.md
  clang-tools-extra/docs/clang-tidy/checks/bugprone/command-processor.md
  clang-tools-extra/docs/clang-tidy/checks/bugprone/copy-constructor-mutates-argument.md
  clang-tools-extra/docs/clang-tidy/checks/bugprone/default-operator-new-on-overaligned-type.md
  clang-tools-extra/docs/clang-tidy/checks/bugprone/macro-repeated-side-effects.md
  clang-tools-extra/docs/clang-tidy/checks/bugprone/undelegated-constructor.md
  clang-tools-extra/docs/clang-tidy/checks/cert/arr39-c.md
  clang-tools-extra/docs/clang-tidy/checks/cert/dcl37-c.md
  clang-tools-extra/docs/clang-tidy/checks/cert/env33-c.md
  clang-tools-extra/docs/clang-tidy/checks/cert/err52-cpp.md
  clang-tools-extra/docs/clang-tidy/checks/cert/flp30-c.md
  clang-tools-extra/docs/clang-tidy/checks/cert/msc30-c.md
  clang-tools-extra/docs/clang-tidy/checks/cert/msc32-c.md
  clang-tools-extra/docs/clang-tidy/checks/cert/msc50-cpp.md
  clang-tools-extra/docs/clang-tidy/checks/cert/msc54-cpp.md
  clang-tools-extra/docs/clang-tidy/checks/cert/str34-c.md
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/avoid-c-arrays.md
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/avoid-magic-numbers.md
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/explicit-constructor.md
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/explicit-virtual-functions.md
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/macro-to-enum.md
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/narrowing-conversions.md
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/noexcept-destructor.md
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/pro-bounds-array-to-pointer-decay.md
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/pro-type-cstyle-cast.md
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/pro-type-reinterpret-cast.md
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/pro-type-union-access.md
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/pro-type-vararg.md
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/use-default-member-init.md
  clang-tools-extra/docs/clang-tidy/checks/darwin/dispatch-once-nonstatic.md
Labels: none

[clang-tidy][docs] Address follow-up review comments
  clang-tools-extra/docs/clang-tidy/checks/google/build-explicit-make-pair.md
  clang-tools-extra/docs/clang-tidy/checks/google/default-arguments.md
  clang-tools-extra/docs/clang-tidy/checks/google/global-names-in-headers.md
  clang-tools-extra/docs/clang-tidy/checks/google/objc-avoid-nsobject-new.md
  clang-tools-extra/docs/clang-tidy/checks/google/readability-casting.md
  clang-tools-extra/docs/clang-tidy/checks/google/readability-function-size.md
  clang-tools-extra/docs/clang-tidy/checks/google/runtime-float.md
  clang-tools-extra/docs/clang-tidy/checks/google/runtime-operator.md
  clang-tools-extra/docs/clang-tidy/checks/llvm/header-guard.md
  clang-tools-extra/docs/clang-tidy/checks/llvm/qualified-auto.md
  clang-tools-extra/docs/clang-tidy/checks/llvmlibc/inline-function-decl.md
  clang-tools-extra/docs/clang-tidy/checks/misc/anonymous-namespace-in-header.md
  clang-tools-extra/docs/clang-tidy/checks/misc/new-delete-overloads.md
  clang-tools-extra/docs/clang-tidy/checks/misc/predictable-rand.md
  clang-tools-extra/docs/clang-tidy/checks/misc/static-assert.md
  clang-tools-extra/docs/clang-tidy/checks/modernize/avoid-setjmp-longjmp.md
  clang-tools-extra/docs/clang-tidy/checks/modernize/avoid-variadic-functions.md
  clang-tools-extra/docs/clang-tidy/checks/modernize/deprecated-ios-base-aliases.md
  clang-tools-extra/docs/clang-tidy/checks/modernize/redundant-void-arg.md
  clang-tools-extra/docs/clang-tidy/checks/modernize/shrink-to-fit.md
  clang-tools-extra/docs/clang-tidy/checks/modernize/use-default.md
  clang-tools-extra/docs/clang-tidy/checks/modernize/use-starts-ends-with.md
  clang-tools-extra/docs/clang-tidy/checks/objc/assert-equals.md
  clang-tools-extra/docs/clang-tidy/checks/objc/avoid-nserror-init.md
  clang-tools-extra/docs/clang-tidy/checks/objc/dealloc-in-category.md
  clang-tools-extra/docs/clang-tidy/checks/objc/missing-hash.md
  clang-tools-extra/docs/clang-tidy/checks/performance/faster-string-find.md
  clang-tools-extra/docs/clang-tidy/checks/performance/move-constructor-init.md
  clang-tools-extra/docs/clang-tidy/checks/performance/noexcept-destructor.md
  clang-tools-extra/docs/clang-tidy/checks/performance/noexcept-move-constructor.md
  clang-tools-extra/docs/clang-tidy/checks/performance/noexcept-swap.md
  clang-tools-extra/docs/clang-tidy/checks/readability/misplaced-array-index.md
Labels: none

clang-format PR
  mlir/lib/Dialect/Linalg/Transforms/BlockPackMatmul.cpp
Labels: none

[flang][acc] Permit acc routine for specific name
  flang/lib/Semantics/resolve-directives.cpp
  flang/test/Semantics/OpenACC/acc-routine-generic.f90
Labels: none

[Hexagon] Lower fcmp oeq to vcmp_(s|h)f_eq.
  llvm/lib/Target/Hexagon/HexagonISelLowering.h
  llvm/lib/Target/Hexagon/HexagonISelLoweringHVX.cpp
  llvm/lib/Target/Hexagon/HexagonPatternsHVX.td
  llvm/test/CodeGen/Hexagon/autohvx/vector-compare-128b.ll
  llvm/test/CodeGen/Hexagon/autohvx/vector-compare-float.ll
  llvm/test/CodeGen/Hexagon/hvx-float-setoeq-v68.ll
  llvm/test/CodeGen/Hexagon/hvx-float-setoeq.ll
  llvm/test/CodeGen/Hexagon/inst_setcc_uno_uo.ll
Labels: none

[lldb] Remove ConstString from FileSpec
  lldb/include/lldb/Host/HostInfoBase.h
  lldb/include/lldb/Utility/FileSpec.h
  lldb/source/API/SBBroadcaster.cpp
  lldb/source/API/SBCommunication.cpp
  lldb/source/API/SBData.cpp
  lldb/source/API/SBFileSpec.cpp
  lldb/source/API/SBLaunchInfo.cpp
  lldb/source/API/SBProcessInfo.cpp
  lldb/source/API/SBSaveCoreOptions.cpp
  lldb/source/API/SBStream.cpp
  lldb/source/API/SBStringList.cpp
  lldb/source/Plugins/ObjectContainer/Big-Archive/ObjectContainerBigArchive.h
  lldb/source/Utility/FileSpec.cpp
  lldb/unittests/tools/lldb-server/tests/MessageObjects.cpp
Labels: none

[mlir-c] Fix -Wmissing-field-initializers in rewrite.c test
  mlir/test/CAPI/rewrite.c
Labels: none

[mlir-c] Add 1:N TypeConverter conversion and materialization bindings
  mlir/include/mlir-c/Rewrite.h
  mlir/lib/CAPI/Transforms/Rewrite.cpp
  mlir/test/CAPI/rewrite.c
Labels: none

[mlir-c] Value-initialize MlirConversionPatternCallbacks in Python bindings
  mlir/lib/Bindings/Python/Rewrite.cpp
Labels: none

pre-increment
  mlir/test/CAPI/rewrite.c
Labels: none

cleanup comments
  mlir/include/mlir-c/Rewrite.h
  mlir/lib/CAPI/Transforms/Rewrite.cpp
Labels: none

[mlir-c] Test the failure path of the 1:N type conversion callback
  mlir/test/CAPI/rewrite.c
Labels: none

[fix up] clang-format
  compiler-rt/lib/sanitizer_common/sanitizer_common_syscalls.inc
Labels: none

[ELF][PowerPC] Don't assume TOC pointer is valid in IPLT entries
  lld/ELF/Arch/PPC.cpp
  lld/ELF/Arch/PPC64.cpp
  lld/ELF/Thunks.cpp
  lld/ELF/Thunks.h
  lld/test/ELF/ppc32-ifunc-nonpreemptible-pic.s
  lld/test/ELF/ppc64-ifunc.s
Labels: none

[mlir-c] Destroy pattern sets in 1:N conversion tests
  mlir/test/CAPI/rewrite.c
Labels: none

Mention TOC base for direct calls on 32-bit PowerPC in comment
  lld/ELF/Arch/PPC.cpp
Labels: none

Remove extraneous newline, per clang format
  clang/lib/CIR/Dialect/Transforms/FlattenCFG.cpp
Labels: none

Improving the diagnostic for the orphan header case
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaLookup.cpp
Labels: none

add hostside warpSize
  offload/plugins-nextgen/host/src/rtl.cpp
Labels: none

add unit tests
  offload/unittests/OffloadAPI/device/olGetDeviceInfo.cpp
  offload/unittests/OffloadAPI/device/olGetDeviceInfoSize.cpp
Labels: none

[clang-tidy] Catch <cctype> function args in bugprone-signed-char-misuse
  clang-tools-extra/clang-tidy/bugprone/SignedCharMisuseCheck.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/bugprone/signed-char-misuse.rst
  clang-tools-extra/test/clang-tidy/checkers/bugprone/signed-char-misuse.cpp
Labels: none

Fold `Parser::Initialize` into the constructor per Aaron's feedback.
  clang/include/clang/Parse/Parser.h
  clang/lib/Interpreter/IncrementalParser.cpp
  clang/lib/Parse/ParseAST.cpp
  clang/lib/Parse/ParseHLSLRootSignature.cpp
  clang/lib/Parse/Parser.cpp
  lldb/source/Plugins/ExpressionParser/Clang/ClangModulesDeclVendor.cpp
Labels: none

fmt
  libc/src/__support/freetrie.h
Labels: none

add back comment
  llvm/lib/Target/TargetLoweringObjectFile.cpp
Labels: none

fix
  libc/src/__support/macros/hardening.h
Labels: none

[LoopInfo] Fix makeLoopInvariant to strip UB-implying attributes.
  llvm/lib/Analysis/LoopInfo.cpp
  llvm/test/Transforms/LoopSimplify/drop-ub-attributes.ll
Labels: none

[libc] Fix missed errno deps for integration tests
  libc/test/integration/src/stdlib/CMakeLists.txt
  libc/test/integration/src/sys/sem/CMakeLists.txt
Labels: none

[Support/ELF] Add OpenBSD NT_OPENBSD_PACMASK core note type
  llvm/include/llvm/BinaryFormat/ELF.h
  llvm/lib/ObjectYAML/ELFYAML.cpp
  llvm/tools/llvm-readobj/ELFDumper.cpp
Labels: none

[AMDGPU] Simplify check for packed fp32/64 opsel bits. NFCI
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
Labels: none

Fix unresolved symbol XCoreMCRegisterClassStorage
  llvm/lib/Target/XCore/Disassembler/CMakeLists.txt
Labels: none

[lldb] Fix Unicode code point formatting to use proper notation (#211131)
  lldb/source/Core/DumpDataExtractor.cpp
  lldb/test/API/functionalities/data-formatter/builtin-formats/TestBuiltinFormats.py
  lldb/test/API/lang/cpp/char1632_t/TestChar1632T.py
  lldb/test/Shell/SymbolFile/NativePDB/globals-fundamental.cpp
  lldb/unittests/Core/DumpDataExtractorTest.cpp
Labels: python

[github] Move BOLT reviewers to team
  .github/CODEOWNERS
Labels: misc

Fix formatting
  clang/lib/CodeGen/BackendUtil.cpp
  lld/ELF/InputFiles.cpp
Labels: none

Fix typo in clang lit test
  clang/test/SemaCXX/alloc-align-attr.cpp
Labels: none

prevent infinite loop in collectusedhandles
  llvm/lib/Target/DirectX/DXILResourceAccess.cpp
  llvm/test/CodeGen/DirectX/ResourceAccess/looped-phi-nodes.ll
Labels: none

[llvm-objdump] Factor the load command prologue into a shared function
  llvm/tools/llvm-objdump/MachODump.cpp
Labels: none

[tsan] add fetch_max, fetch_min, fetch_umax, fetch_umin
  compiler-rt/include/sanitizer/tsan_interface_atomic.h
  compiler-rt/lib/tsan/rtl/tsan_interface_atomic.cpp
  llvm/lib/Transforms/Instrumentation/ThreadSanitizer.cpp
  llvm/test/Instrumentation/ThreadSanitizer/atomic.ll
Labels: none

[swift/cxx-interop] Move swift/bridging header to clang resource dir
  clang/lib/Headers/CMakeLists.txt
  clang/lib/Headers/module.modulemap
  clang/lib/Headers/swift/bridging
  clang/lib/Headers/swift/bridging.modulemap
Labels: none

rename to numLanes
  offload/liboffload/API/Device.td
  offload/liboffload/src/OffloadImpl.cpp
  offload/plugins-nextgen/amdgpu/src/rtl.cpp
  offload/plugins-nextgen/cuda/src/rtl.cpp
  offload/plugins-nextgen/host/src/rtl.cpp
  offload/unittests/OffloadAPI/device/olGetDeviceInfo.cpp
  offload/unittests/OffloadAPI/device/olGetDeviceInfoSize.cpp
Labels: none

[libc] Move generated elf header to include
  libc/cmake/modules/LLVMLibCHeaderRules.cmake
  libc/hdr/CMakeLists.txt
  libc/hdr/elf_proxy.h
  libc/include/CMakeLists.txt
  libc/include/elf.yaml
  libc/include/proxy/CMakeLists.txt
  libc/include/proxy/elf_proxy.yaml
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none
