Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[LoopCacheAnalysis] Support handling partially perfect loop nests
  llvm/include/llvm/Analysis/LoopCacheAnalysis.h
  llvm/lib/Analysis/LoopCacheAnalysis.cpp
  llvm/lib/Transforms/Scalar/LoopInterchange.cpp
  llvm/test/Analysis/LoopCacheAnalysis/partially-perfect-nest.ll
Labels: none

Fix format
  offload/libomptarget/device.cpp
  offload/plugins-nextgen/common/include/PluginInterface.h
  offload/plugins-nextgen/common/include/RecordReplay.h
Labels: none

[X86] Fold VPMOV*2M + masked VMOV* into VBLENDV* Extend tryCompressVPMOVPattern to handle masked VPMOV*2M + masked VMOV* pattern, compress them into VBLENDV* if possible.
  llvm/lib/Target/X86/X86CompressEVEX.cpp
  llvm/test/CodeGen/X86/avx512-extract-subvector-load-store.ll
  llvm/test/CodeGen/X86/compress-evex-vpmov-blendv.mir
  llvm/test/CodeGen/X86/compress-evex-vpmov-kill.mir
Labels: none

[BPF] Fix erroneous removal of non-jump-table globals (#204594)
  llvm/lib/Target/BPF/BPFAsmPrinter.cpp
  llvm/test/CodeGen/BPF/jump_table_func_ptr_array.ll
Labels: none

[clang-format] Add SpacesInComments option for block comments
  clang/include/clang/Format/Format.h
  clang/lib/Format/BreakableToken.cpp
  clang/lib/Format/Format.cpp
  clang/unittests/Format/FormatTestComments.cpp
Labels: none

[X86] Split AVX-512 masked gather intrinsics into scalar loads
  llvm/lib/Target/X86/X86.td
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/avx512-split-gather-intrinsics.ll
Labels: none

[offload] Improve report printing for kernel recording (#204505)
  offload/libomptarget/device.cpp
  offload/libomptarget/omptarget.cpp
  offload/plugins-nextgen/common/include/PluginInterface.h
  offload/plugins-nextgen/common/include/RecordReplay.h
  offload/plugins-nextgen/common/src/PluginInterface.cpp
  offload/plugins-nextgen/common/src/RecordReplay.cpp
  openmp/docs/design/Runtimes.rst
Labels: openmp

[MC] Remove unused FileNo parameter from MCStreamer::checkCVLocSection. NFC
  llvm/include/llvm/MC/MCStreamer.h
  llvm/lib/MC/MCAsmStreamer.cpp
  llvm/lib/MC/MCObjectStreamer.cpp
  llvm/lib/MC/MCStreamer.cpp
Labels: none

Revert "Revert "[Compiler-rt][test] Fix circular link dependency between buil…"
  compiler-rt/test/builtins/Unit/lit.cfg.py
Labels: python

[flang][OpenMP] Fix ICE lowering user-defined operator declare reduction
  flang/include/flang/Lower/Support/ReductionProcessor.h
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/lib/Lower/Support/ReductionProcessor.cpp
  flang/test/Lower/OpenMP/Todo/declare-reduction-operator-multiple-types.f90
  flang/test/Lower/OpenMP/Todo/declare-reduction-operator-use-assoc.f90
  flang/test/Lower/OpenMP/declare-reduction-operator-derived.f90
  flang/test/Lower/OpenMP/declare-reduction-operator.f90
Labels: none

[llubi] Address comments
  llvm/tools/llubi/lib/Interpreter.cpp
Labels: none

[offload][OpenMP] Fix record replay when no memory is used
  offload/libomptarget/omptarget.cpp
  offload/plugins-nextgen/common/src/RecordReplay.cpp
  offload/test/tools/omp-kernel-replay/record-replay-empty-memory.cpp
  offload/tools/kernelreplay/llvm-omp-kernel-replay.cpp
Labels: none

[MC] Remove unused FileNo parameter from MCStreamer::checkCVLocSection. NFC (#204729)
  llvm/include/llvm/MC/MCStreamer.h
  llvm/lib/MC/MCAsmStreamer.cpp
  llvm/lib/MC/MCObjectStreamer.cpp
  llvm/lib/MC/MCStreamer.cpp
Labels: none

[mlir][OpenMP] Translate explicit task in_reduction
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/openmp-task-in-reduction.mlir
  mlir/test/Target/LLVMIR/openmp-todo.mlir
Labels: none

AMDGPU: Add subtarget feature for controllable xnack modes
  clang/lib/Basic/TargetID.cpp
  clang/lib/Driver/ToolChains/AMDGPU.cpp
  clang/test/Driver/invalid-target-id.cl
  llvm/include/llvm/TargetParser/AMDGPUTargetParser.def
  llvm/include/llvm/TargetParser/AMDGPUTargetParser.h
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPUTargetTransformInfo.cpp
  llvm/lib/Target/AMDGPU/GCNSubtarget.cpp
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUTargetStreamer.h
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.h
  llvm/test/CodeGen/AMDGPU/target-id-xnack-always-on.ll
Labels: none

[ORC][examples] Add a new example showing basic symbolAliases usage.
  llvm/examples/OrcV2Examples/CMakeLists.txt
  llvm/examples/OrcV2Examples/LLJITWithSymbolAliases/CMakeLists.txt
  llvm/examples/OrcV2Examples/LLJITWithSymbolAliases/LLJITWithSymbolAliases.cpp
Labels: none

[HLSL][NFC] Add codegen test for ConstantBuffer<T> element access and initialization (#204507)
  clang/test/CodeGenHLSL/resources/ConstantBufferT.hlsl
Labels: none

[DirectX] Handle llvm.dx.resource.getbasepointer intrinsic in DXILResourceAccess pass
  llvm/lib/Target/DirectX/DXILOpLowering.cpp
  llvm/lib/Target/DirectX/DXILResourceAccess.cpp
  llvm/test/CodeGen/DirectX/ResourceAccess/load-constant-buffer-t.ll
Labels: none

clang/HIP: Remove some unused ocml function declarations
  clang/lib/Headers/__clang_hip_libdevice_declares.h
Labels: none

Notes added by 'git notes add'
  5a02a6d85aac93f5c47610300968a22b30892b8f
Labels: none

Notes removed by 'git notes remove'
  5a02a6d85aac93f5c47610300968a22b30892b8f
Labels: none

[mlir][OpenMP] Translate explicit task in_reduction (#202611)
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/openmp-task-in-reduction.mlir
  mlir/test/Target/LLVMIR/openmp-todo.mlir
Labels: none

[DAG] visitEXTRACT_SUBVECTOR - Fold EXTRACT_SUBVECTOR(EXTRACT_SUBVECTOR(X,C1),C0) with nonzero indices (#204533)
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/Target/X86/X86ISelLowering.cpp
Labels: none

[X86] Replace X86 specific PDEP/PEXT handling with generic intrinsics (#204144)
  clang/lib/CodeGen/TargetBuiltins/X86.cpp
  clang/test/CodeGen/X86/bmi2-builtins.c
  llvm/include/llvm/IR/IntrinsicsX86.td
  llvm/lib/Analysis/ConstantFolding.cpp
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/lib/IR/AutoUpgrade.cpp
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/lib/Target/X86/X86InstCombineIntrinsic.cpp
  llvm/lib/Target/X86/X86InstrFragments.td
  llvm/lib/Target/X86/X86InstrMisc.td
  llvm/lib/Target/X86/X86IntrinsicsInfo.h
  llvm/lib/Transforms/InstCombine/InstCombineCalls.cpp
  llvm/lib/Transforms/Instrumentation/MemorySanitizer.cpp
  llvm/test/CodeGen/X86/bmi2.ll
  llvm/test/Instrumentation/MemorySanitizer/bmi.ll
  llvm/test/Instrumentation/MemorySanitizer/pdep.ll
  llvm/test/Instrumentation/MemorySanitizer/pext.ll
  llvm/test/Transforms/InstCombine/pdep.ll
  llvm/test/Transforms/InstCombine/pext.ll
Labels: none

Revert "handle C lang fix-its"
  clang/lib/Sema/SemaLifetimeSafety.h
  clang/test/Sema/LifetimeSafety/annotation-suggestions-fixits-c.c
Labels: none

AMDGPU: Add subtarget feature for controllable xnack modes (#204523)
  clang/lib/Basic/TargetID.cpp
  clang/lib/Driver/ToolChains/AMDGPU.cpp
  clang/test/Driver/invalid-target-id.cl
  llvm/include/llvm/TargetParser/AMDGPUTargetParser.def
  llvm/include/llvm/TargetParser/AMDGPUTargetParser.h
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPUTargetTransformInfo.cpp
  llvm/lib/Target/AMDGPU/GCNSubtarget.cpp
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUTargetStreamer.h
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.h
  llvm/test/CodeGen/AMDGPU/target-id-xnack-always-on.ll
Labels: none

[Delinearization] Unify the types of parametric terms
  llvm/lib/Analysis/Delinearization.cpp
  llvm/test/Analysis/Delinearization/inconsistent-types.ll
Labels: none

code review feedback
  clang/lib/CodeGen/CGHLSLRuntime.cpp
Labels: none

[offload][OpenMP] Fix record replay when no memory is used (#201771)
  offload/libomptarget/omptarget.cpp
  offload/plugins-nextgen/common/src/RecordReplay.cpp
  offload/test/tools/omp-kernel-replay/record-replay-empty-memory.cpp
  offload/tools/kernelreplay/llvm-omp-kernel-replay.cpp
Labels: none

[ORC][examples] Add a new example showing basic symbolAliases usage. (#204733)
  llvm/examples/OrcV2Examples/CMakeLists.txt
  llvm/examples/OrcV2Examples/LLJITWithSymbolAliases/CMakeLists.txt
  llvm/examples/OrcV2Examples/LLJITWithSymbolAliases/LLJITWithSymbolAliases.cpp
Labels: none

[offload] Fix teams/threads limits in record replay
  offload/plugins-nextgen/common/include/PluginInterface.h
  offload/plugins-nextgen/common/src/RecordReplay.cpp
  offload/test/tools/omp-kernel-replay/record-replay-diff-teams-threads.cpp
  offload/test/tools/omp-kernel-replay/record-replay-diff-threads.cpp
  offload/tools/kernelreplay/llvm-omp-kernel-replay.cpp
Labels: none

[offload] Add flag to ignore limits in kernel replay
  offload/tools/kernelreplay/llvm-omp-kernel-replay.cpp
Labels: none

[GlobalISel] TableGen memcpy-like prelegalizer combines (#203235)
  llvm/include/llvm/CodeGen/GlobalISel/CombinerHelper.h
  llvm/include/llvm/Target/GlobalISel/Combine.td
  llvm/lib/CodeGen/GlobalISel/CombinerHelper.cpp
  llvm/lib/Target/AArch64/AArch64Combine.td
  llvm/lib/Target/AArch64/GISel/AArch64GlobalISelUtils.cpp
  llvm/lib/Target/AArch64/GISel/AArch64GlobalISelUtils.h
  llvm/lib/Target/AArch64/GISel/AArch64O0PreLegalizerCombiner.cpp
  llvm/lib/Target/AArch64/GISel/AArch64PreLegalizerCombiner.cpp
  llvm/lib/Target/Mips/MipsPreLegalizerCombiner.cpp
Labels: none

[clang-format][NFC] Move non-macro tests to FormatTest.cpp
  clang/unittests/Format/FormatTest.cpp
  clang/unittests/Format/FormatTestMacroExpansion.cpp
Labels: none

[Delinearization] Narrow the scope of the term collection
  llvm/lib/Analysis/Delinearization.cpp
  llvm/test/Analysis/Delinearization/inconsistent-types.ll
Labels: none

[clang][test] Use #marker in enable_if tests (#204624)
  clang/test/Sema/enable_if.c
  clang/test/SemaCXX/enable_if.cpp
Labels: none

AMDGPU: Hint conflict free only and set default on
  llvm/lib/Target/AMDGPU/SIRegisterInfo.cpp
Labels: none

Update envar name in tests
  offload/test/tools/omp-kernel-replay/record-replay-diff-teams-threads.cpp
  offload/test/tools/omp-kernel-replay/record-replay-diff-threads.cpp
Labels: none

[VPlan] Use less powerful SinkStoreInfo, strip PSE and L
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.h
  llvm/test/Transforms/LoopVectorize/VPlan/interleave-and-scalarize-only.ll
Labels: none

[VPlan] Extend licm to sink replicate stores
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.h
  llvm/lib/Transforms/Vectorize/VPlanUtils.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/reg-usage.ll
  llvm/test/Transforms/LoopVectorize/VPlan/interleave-and-scalarize-only.ll
  llvm/test/Transforms/LoopVectorize/X86/cost-model.ll
  llvm/test/Transforms/LoopVectorize/X86/invariant-store-vectorization.ll
  llvm/test/Transforms/LoopVectorize/X86/pr36524.ll
  llvm/test/Transforms/LoopVectorize/X86/uniform_mem_op.ll
  llvm/test/Transforms/LoopVectorize/first-order-recurrence-with-uniform-ops.ll
  llvm/test/Transforms/LoopVectorize/hoist-predicated-loads.ll
  llvm/test/Transforms/LoopVectorize/if-pred-stores.ll
  llvm/test/Transforms/LoopVectorize/invariant-store-vectorization-2.ll
  llvm/test/Transforms/LoopVectorize/invariant-store-vectorization.ll
  llvm/test/Transforms/LoopVectorize/metadata.ll
  llvm/test/Transforms/LoopVectorize/pr47343-expander-lcssa-after-cfg-update.ll
  llvm/test/Transforms/LoopVectorize/pr59319-loop-access-info-invalidation.ll
  llvm/test/Transforms/LoopVectorize/reduction-with-invariant-store.ll
  llvm/test/Transforms/LoopVectorize/runtime-check.ll
  llvm/test/Transforms/LoopVectorize/single-scalar-cast-minbw.ll
  llvm/test/Transforms/LoopVectorize/skeleton-lcssa-crash.ll
Labels: none
