Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[AArch64] Select ADDHN instead of SHRN when possible (#225094)
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/test/CodeGen/AArch64/arm64-vadd.ll
  llvm/test/CodeGen/AArch64/clmul-fixed.ll
  llvm/test/CodeGen/AArch64/neon-rshrn.ll
Labels: none

[VPlan] Handle broadcast in getSCEVExprForVPValue (NFC)
  llvm/lib/Transforms/Vectorize/VPlanUtils.cpp
Labels: none

[clang-format] Add baseline tests for BreakAfterOpenBracket options
  clang/unittests/Format/AlignBracketsTest.cpp
Labels: none

[IDF] Use BitVectors indexed by DFS number for visited sets (NFC).
  llvm/include/llvm/Support/GenericIteratedDominanceFrontier.h
Labels: none

Use SmallVector<bool>
  llvm/include/llvm/Support/GenericIteratedDominanceFrontier.h
Labels: none

AMDGPU: Merge live interval critical edge splitting tests (#228051)
  llvm/test/CodeGen/AMDGPU/phi-elimination-split-critical-edge-nonoverlapping-subrange.mir
  llvm/test/CodeGen/AMDGPU/phi-elimination-split-critical-edge-subranges.mir
Labels: none

[libc] Add differential fuzz test for inet_pton
  libc/fuzzing/arpa/inet/CMakeLists.txt
  libc/fuzzing/arpa/inet/inet_pton_differential_fuzz.cpp
Labels: none

[clang] Allow __builtin_unpredictable in constant expressions
  clang/docs/LanguageExtensions.md
  clang/docs/ReleaseNotes.md
  clang/include/clang/Basic/Builtins.td
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/lib/AST/ExprConstant.cpp
  clang/test/AST/ByteCode/builtin-functions.cpp
Labels: none

[MSP430][Clang] Add CPU type to generated MCU data
  clang/include/clang/Basic/MSP430Target.def
  clang/include/clang/Basic/Target/MSP430/gen-msp430-def.py
  clang/lib/Driver/ToolChains/MSP430.cpp
Labels: python

[MSP430][Clang] Select f5series hwmult for 5xx/6xx MCUs
  clang/include/clang/Basic/MSP430Target.def
  clang/include/clang/Basic/Target/MSP430/gen-msp430-def.py
  clang/test/Driver/msp430-hwmult.c
  clang/test/Driver/msp430-toolchain.c
Labels: python

[clang-tidy] Fix release note
  clang-tools-extra/docs/ReleaseNotes.md
Labels: none

[𝘀𝗽𝗿] initial version
  llvm/test/Transforms/SLPVectorizer/AArch64/runtime-alias-checks-vectorized-loop.ll
Labels: none

[SLP][NFC]Add a test with the non-profitable vectorization, NFC
  llvm/test/Transforms/SLPVectorizer/AArch64/runtime-alias-checks-vectorized-loop.ll
Labels: none

Initial patch for scalable interleave access with gap mask
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.cpp
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/test/Transforms/LoopVectorize/RISCV/pointer-induction.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-interleave.ll
Labels: none

[BOLT][AArch64] Remove thunk estimation and warn on margin exhaustion
  bolt/include/bolt/Passes/LongJmp.h
  bolt/lib/Passes/LongJmp.cpp
  bolt/test/AArch64/relax-adjacent-cluster-boundary.s
  bolt/test/AArch64/relax-branches-with-thunk-chain.s
  bolt/test/AArch64/relax-cluster-branch-margin-warning.s
  bolt/test/AArch64/relax-cluster-size-too-large.s
  bolt/test/AArch64/relax-cross-fragment-calls.s
Labels: none

[lldb] Simplify ThreadPlanStepUntil (NFC)
  lldb/include/lldb/Target/ThreadPlanStepUntil.h
  lldb/source/Target/ThreadPlanStepUntil.cpp
Labels: none

[mlir][SPIR-V] Deduce capabilities from spec constant types in update-vce
  mlir/lib/Dialect/SPIRV/Transforms/UpdateVCEPass.cpp
  mlir/test/Dialect/SPIRV/Transforms/vce-deduction.mlir
Labels: none

[CIR] Convert null pointer constant types in target lowering
  clang/lib/CIR/Dialect/Transforms/TargetLowering.cpp
  clang/test/CIR/CodeGen/spirv-target-lowering-as.cpp
Labels: none

[𝘀𝗽𝗿] initial version
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/AArch64/runtime-alias-checks-vectorized-loop.ll
Labels: none

[SLP]Cost fused fmul and fadd as fmuladd in runtime checks bound
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/AArch64/runtime-alias-checks-vectorized-loop.ll
Labels: none

[LoopVectorize] Add tests for reverse early-exit loops in deref regions
  llvm/test/Transforms/LoopVectorize/reverse-loop-length.ll
Labels: none

[TableGen] Avoid crashing on a missing instruction pattern result
  llvm/test/TableGen/dag-pattern-invalid-instruction-result.td
  llvm/utils/TableGen/Common/CodeGenDAGPatterns.cpp
Labels: none

Remove newline
  openmp/runtime/test/api/omp61_dyn_gprivate_routines.f90
Labels: openmp

[CodeGen][AMDGPU] Replace isBasicBlockPrologue with the BBProlog flag
  llvm/include/llvm/CodeGen/MachineBasicBlock.h
  llvm/include/llvm/CodeGen/TargetInstrInfo.h
  llvm/lib/CodeGen/FixupStatepointCallerSaved.cpp
  llvm/lib/CodeGen/InlineSpiller.cpp
  llvm/lib/CodeGen/LiveRangeEdit.cpp
  llvm/lib/CodeGen/MachineBasicBlock.cpp
  llvm/lib/CodeGen/MachineSink.cpp
  llvm/lib/CodeGen/PHIElimination.cpp
  llvm/lib/CodeGen/RegAllocFast.cpp
  llvm/lib/CodeGen/RegAllocGreedy.cpp
  llvm/lib/CodeGen/SplitKit.cpp
  llvm/lib/CodeGen/TargetInstrInfo.cpp
  llvm/lib/Target/AMDGPU/AMDGPUInstructionSelector.cpp
  llvm/lib/Target/AMDGPU/SIFixSGPRCopies.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
  llvm/lib/Target/AMDGPU/SIInstructions.td
  llvm/lib/Target/AMDGPU/SILowerControlFlow.cpp
  llvm/lib/Target/AMDGPU/SILowerSGPRSpills.cpp
  llvm/lib/Target/AMDGPU/SIRegisterInfo.cpp
  llvm/lib/Target/AMDGPU/SIWholeQuadMode.cpp
  llvm/test/CodeGen/AMDGPU/regalloc-hoist-spill-bb-prolog.mir
  llvm/test/CodeGen/AMDGPU/sgpr-remat-in-bb-prolog.mir
  llvm/test/CodeGen/MIR/AMDGPU/lr-split-flag.mir
  llvm/unittests/CodeGen/MachineBasicBlockTest.cpp
Labels: none

[CodeGen] Add MachineInstr::BBProlog with MIR serialization and a verifier check
  llvm/include/llvm/CodeGen/MachineInstr.h
  llvm/lib/CodeGen/MIRParser/MILexer.cpp
  llvm/lib/CodeGen/MIRParser/MILexer.h
  llvm/lib/CodeGen/MIRParser/MIParser.cpp
  llvm/lib/CodeGen/MIRPrinter.cpp
  llvm/lib/CodeGen/MachineInstr.cpp
  llvm/lib/CodeGen/MachineVerifier.cpp
  llvm/test/CodeGen/MIR/AMDGPU/bb-prolog-flag.mir
  llvm/test/MachineVerifier/AMDGPU/bb-prolog.mir
  llvm/utils/UpdateTestChecks/mir.py
Labels: python

[AMDGPU] Regenerate amdgcn.bitcast tests for the BBProlog flag
  llvm/test/CodeGen/AMDGPU/amdgcn.bitcast.1024bit.ll
  llvm/test/CodeGen/AMDGPU/amdgcn.bitcast.512bit.ll
  llvm/test/CodeGen/AMDGPU/amdgcn.bitcast.640bit.ll
  llvm/test/CodeGen/AMDGPU/amdgcn.bitcast.704bit.ll
  llvm/test/CodeGen/AMDGPU/amdgcn.bitcast.768bit.ll
  llvm/test/CodeGen/AMDGPU/amdgcn.bitcast.832bit.ll
  llvm/test/CodeGen/AMDGPU/amdgcn.bitcast.896bit.ll
  llvm/test/CodeGen/AMDGPU/amdgcn.bitcast.960bit.ll
Labels: none

[CIR][CodeGen][NFC] Extract the EHPersonality struct into CodeGenUtils
  clang/include/clang/CodeGenUtils/EHPersonality.h
  clang/lib/CIR/CodeGen/CIRGenCleanup.h
  clang/lib/CIR/CodeGen/CIRGenException.cpp
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CGCleanup.cpp
  clang/lib/CodeGen/CGCleanup.h
  clang/lib/CodeGen/CGException.cpp
  clang/lib/CodeGen/CGObjCRuntime.cpp
  clang/lib/CodeGen/ItaniumCXXABI.cpp
  clang/lib/CodeGenUtils/CMakeLists.txt
  clang/lib/CodeGenUtils/EHPersonality.cpp
Labels: none

fix comments
  libsycl/include/sycl/__impl/index_space_classes.hpp
  libsycl/include/sycl/__spirv/types.hpp
  libsycl/include/sycl/__spirv/vars.hpp
  libsycl/src/detail/program_manager.cpp
  libsycl/src/device.cpp
  libsycl/test/basic/context.cpp
  libsycl/test/basic/get_backend.cpp
  libsycl/test/basic/queue_parallel_for_generic.cpp
  libsycl/tools/sycl-ls/sycl-ls.cpp
  libsycl/unittests/mock/helpers.cpp
Labels: none

[Clang][OpenMP] Track deferred loop analysis instead of checking the context
  clang/docs/ReleaseNotes.md
  clang/lib/Sema/SemaOpenMP.cpp
  clang/test/OpenMP/gh219354.cpp
  clang/test/OpenMP/simd_lambda_default_arg_codegen.cpp
Labels: none

[clang][NFC] Suppress octal literal warnings in system macros via TableGen (#228035)
  clang/include/clang/Basic/DiagnosticLexKinds.td
  clang/lib/Lex/LiteralSupport.cpp
Labels: none

PHIElimination: strengthen subrange LiveIntervals test
  llvm/test/CodeGen/AMDGPU/phi-elimination-subrange-liveintervals.mir
Labels: none

PHIElimination: track PHI source registers to shrink by Register
  llvm/lib/CodeGen/PHIElimination.cpp
Labels: none

[Remarks] Fix use-after-free of block scalar values in the YAML remark parser
  llvm/lib/Remarks/YAMLRemarkParser.cpp
  llvm/lib/Remarks/YAMLRemarkParser.h
  llvm/unittests/Remarks/YAMLRemarksParsingTest.cpp
Labels: none

comment
  mlir/lib/Dialect/SPIRV/IR/CooperativeMatrixOps.cpp
Labels: none

Set overrides unconditionally, emit diagnostics regardless of overrides
  flang/lib/Semantics/check-omp-structure.cpp
  flang/test/Integration/OpenMP/semantic-override-clause-werror.f90
  flang/test/Semantics/OpenMP/if-clause-45.f90
  flang/test/Semantics/OpenMP/if-clause-50.f90
Labels: none

[Remarks] Reject null characters in YAML remark strings
  llvm/lib/Remarks/YAMLRemarkParser.cpp
  llvm/test/tools/llvm-remarkutil/yaml2bitstream-null.test
  llvm/unittests/Remarks/YAMLRemarksParsingTest.cpp
  llvm/unittests/Remarks/YAMLRemarksSerializerTest.cpp
Labels: none

allow basic sample lite pct
  bolt/lib/Profile/DataReader.cpp
  bolt/test/X86/nolbr.s
Labels: none

[CIR][EH] Preserved exception pointer address spaces in throw calls
  clang/include/clang/CIR/Dialect/IR/CIRDataLayout.h
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/CodeGen/CIRGenItaniumCXXABI.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Dialect/Transforms/CIRTransformUtils.cpp
  clang/lib/CIR/Dialect/Transforms/EHABILowering.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/test/CIR/CodeGen/cleanup-scope-throw-caught.cpp
  clang/test/CIR/CodeGen/cleanup-throw-from-cleanup.cpp
  clang/test/CIR/CodeGen/rtti-member-pointer.cpp
  clang/test/CIR/CodeGen/rtti-qualfn.cpp
  clang/test/CIR/CodeGen/ternary-throw.cpp
  clang/test/CIR/CodeGen/throws.cpp
  clang/test/CIR/CodeGen/try-catch.cpp
  clang/test/CIR/CodeGenHIP/throw-no-rtti.hip
  clang/test/CIR/IR/invalid-throw.cir
  clang/test/CIR/IR/throw.cir
Labels: none

AArch64: Remove unnecessary NZCV def from PSTATE write instructions (#228058)
  llvm/lib/Target/AArch64/AArch64InstrFormats.td
  llvm/test/CodeGen/AArch64/aarch64-sme-za-call-lowering.ll
  llvm/test/CodeGen/AArch64/machine-sme-abi-find-insert-pt.mir
  llvm/test/CodeGen/AArch64/machine-sme-abi-skip-debug-inst.mir
  llvm/test/CodeGen/AArch64/sme-abi-eh-liveins.mir
  llvm/test/CodeGen/AArch64/sme-avoid-coalescing-locally-streaming.ll
  llvm/test/CodeGen/AArch64/sme-lazy-sve-nzcv-live.mir
  llvm/test/CodeGen/AArch64/sme-streaming-checkvl-mir.ll
  llvm/test/CodeGen/AArch64/sme-streaming-mode-landingpads.ll
Labels: none

[clang][bytecode][NFC] Don't take a pointer in CheckArraySize (#227976)
  clang/lib/AST/ByteCode/Interp.h
  clang/lib/AST/ByteCode/InterpHelpers.h
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
