Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

Skeleton
  clang/include/clang/CIR/Sema/CIRAnalysisKind.h
  clang/include/clang/CIR/Sema/FallThroughWarning.h
  clang/include/clang/Frontend/FrontendOptions.h
  clang/include/clang/Options/Options.td
  clang/lib/CIR/CMakeLists.txt
  clang/lib/CIR/FrontendAction/CIRGenAction.cpp
  clang/lib/CIR/FrontendAction/CMakeLists.txt
  clang/lib/CIR/Sema/CIRAnalysisKind.cpp
  clang/lib/CIR/Sema/CMakeLists.txt
  clang/lib/CIR/Sema/FallThroughWarning.cpp
Labels: none

[bazel] Add explicit dep on protobuf (#168928)
  utils/bazel/MODULE.bazel
  utils/bazel/MODULE.bazel.lock
  utils/bazel/llvm-project-overlay/clang/BUILD.bazel
Labels: none

[bazel] Bump to 8.4.2
  utils/bazel/.bazelversion
  utils/bazel/MODULE.bazel.lock
Labels: none

[lldb] Rework avoiding lookup in JIT module
  lldb/source/Expression/IRExecutionUnit.cpp
Labels: none

[libc][docs] Add a sunset policy to porting docs
  libc/docs/CMakeLists.txt
  libc/docs/porting.rst
  libc/utils/docgen/docgen.py
Labels: python

Extract element count computation into helper function
  flang/include/flang/Optimizer/Builder/CUFCommon.h
  flang/lib/Optimizer/Builder/CUFCommon.cpp
  flang/lib/Optimizer/Transforms/CUFOpConversion.cpp
Labels: none

cost modeling for EVL vp.load/vp.store
  llvm/lib/Target/PowerPC/PPCTargetTransformInfo.cpp
  llvm/lib/Target/PowerPC/PPCTargetTransformInfo.h
  llvm/test/Analysis/CostModel/PowerPC/ld-st-with-length.ll
Labels: none

[mlir][llvm] Handle debug record import edge cases
  mlir/include/mlir/Target/LLVMIR/ModuleImport.h
  mlir/lib/Target/LLVMIR/ConvertFromLLVMIR.cpp
  mlir/lib/Target/LLVMIR/ModuleImport.cpp
  mlir/test/Target/LLVMIR/Import/import-failure.ll
Labels: none

Disable the test on SystemZ because of cross build issue related to using dlsym for host symbols, __tls_get_addr to be more specific in this test
  llvm/test/ExecutionEngine/JITLink/ppc64/ELF_ppc64_relocations.s
Labels: none

Formatting
  libc/src/stdio/baremetal/fwrite.cpp
  libc/src/stdio/baremetal/fwrite_internal.h
  libc/src/stdio/baremetal/putchar.cpp
  libc/src/stdio/baremetal/vfprintf_internal.h
Labels: none

Address comments.
  mlir/lib/Dialect/SCF/Transforms/TileUsingInterface.cpp
  mlir/test/lib/Interfaces/TilingInterface/TestTilingInterfaceTransformOps.cpp
  mlir/test/lib/Interfaces/TilingInterface/TestTilingInterfaceTransformOps.td
Labels: none

[lldb] Implement DW_CFA_val_offset and DW_CFA_val_offset_sf (#150732)
  lldb/include/lldb/Target/UnwindLLDB.h
  lldb/source/Symbol/DWARFCallFrameInfo.cpp
  lldb/source/Target/RegisterContextUnwind.cpp
  lldb/test/Shell/Unwind/Inputs/eh-frame-dwarf-unwind-val-offset.s
  lldb/test/Shell/Unwind/eh-frame-dwarf-unwind-val-offset.test
  lldb/unittests/Symbol/TestDWARFCallFrameInfo.cpp
Labels: none

[LLDB] Add empty Microsoft ABI language runtime
  lldb/source/Plugins/LanguageRuntime/CPlusPlus/CMakeLists.txt
  lldb/source/Plugins/LanguageRuntime/CPlusPlus/CPPLanguageRuntime.cpp
  lldb/source/Plugins/LanguageRuntime/CPlusPlus/CPPLanguageRuntime.h
  lldb/source/Plugins/LanguageRuntime/CPlusPlus/ItaniumABI/ItaniumABILanguageRuntime.cpp
  lldb/source/Plugins/LanguageRuntime/CPlusPlus/MicrosoftABI/CMakeLists.txt
  lldb/source/Plugins/LanguageRuntime/CPlusPlus/MicrosoftABI/MicrosoftABILanguageRuntime.cpp
  lldb/source/Plugins/LanguageRuntime/CPlusPlus/MicrosoftABI/MicrosoftABILanguageRuntime.h
Labels: none

!fixup address comments, thanks
  llvm/lib/Analysis/IVDescriptors.cpp
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlanConstruction.cpp
Labels: none

[bazel] Bump to 8.4.2 (#168933)
  utils/bazel/.bazelversion
  utils/bazel/MODULE.bazel.lock
Labels: none

[clang] Implement -fstrict-bool
  clang/docs/ReleaseNotes.rst
  clang/docs/UsersManual.rst
  clang/include/clang/Basic/CodeGenOptions.def
  clang/include/clang/Basic/CodeGenOptions.h
  clang/include/clang/Options/Options.td
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/CodeGen/strict-bool.c
  clang/test/Driver/strict-bool.c
Labels: none

(clang-format)
  clang/lib/CodeGen/CGExpr.cpp
Labels: none

Review feedback
  clang/docs/UsersManual.rst
  clang/lib/CodeGen/CGExpr.cpp
  clang/test/CodeGen/ext-int.c
  clang/test/CodeGen/strict-bool.c
Labels: none

Update llvm/test/CodeGen/AMDGPU/rewrite-vgpr-mfma-scale-to-agpr.mir
  llvm/test/CodeGen/AMDGPU/rewrite-vgpr-mfma-scale-to-agpr.mir
Labels: none

[libc] Removed unused flags from baremetal cache files
  libc/cmake/caches/armv6m-none-eabi.cmake
  libc/cmake/caches/armv7em-none-eabi.cmake
  libc/cmake/caches/armv7m-none-eabi.cmake
Labels: none

Desugar complex element types for promoted complex division
  clang/lib/CodeGen/CGExprComplex.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/test/CodeGen/promoted-complex-div.c
Labels: none

[LangRef] Docs: more detailed categories for Vector intrinsics (#168924)
  llvm/docs/LangRef.rst
Labels: none

Replace MockProcess with MockProcessWithMemRead
  lldb/unittests/Expression/DWARFExpressionTest.cpp
Labels: none

[libc] Removed unused flags from baremetal cache files (#168942)
  libc/cmake/caches/armv6m-none-eabi.cmake
  libc/cmake/caches/armv7em-none-eabi.cmake
  libc/cmake/caches/armv7m-none-eabi.cmake
Labels: none

[JITLINK] Disable ELF_ppc64_relocations.s on SystemZ host (#168939)
  llvm/test/ExecutionEngine/JITLink/ppc64/ELF_ppc64_relocations.s
Labels: none

[mlir] Add kuhar to code owners for arith
  .github/CODEOWNERS
Labels: misc

Typo
  .github/CODEOWNERS
Labels: misc

[flang][cuda] Extract element count computation into helper function (#168937)
  flang/include/flang/Optimizer/Builder/CUFCommon.h
  flang/lib/Optimizer/Builder/CUFCommon.cpp
  flang/lib/Optimizer/Transforms/CUFOpConversion.cpp
Labels: none

add inline namespace tests
  clang-tools-extra/test/clang-tidy/checkers/misc/shadowed-namespace-function-cxx20.cpp
  clang-tools-extra/test/clang-tidy/checkers/misc/shadowed-namespace-function.cpp
Labels: none

[libc++] Fix filebuf resetting its underlying buffer upon close()
  libcxx/include/fstream
  libcxx/test/std/input.output/file.streams/fstreams/filebuf.members/close.dont-get-rid-of-buffer.pass.cpp
Labels: none

Add PR link
  libcxx/test/std/input.output/file.streams/fstreams/filebuf.members/close.dont-get-rid-of-buffer.pass.cpp
Labels: none

[VPlan] Create resume phis in scalar preheader early. (NFC)
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanConstruction.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/unittests/Transforms/Vectorize/VPlanHCFGTest.cpp
  llvm/unittests/Transforms/Vectorize/VPlanVerifierTest.cpp
Labels: none

[ARM] Restore hasSideEffects flag on t2WhileLoopSetup
  llvm/lib/Target/ARM/ARMInstrThumb2.td
  llvm/test/CodeGen/Thumb2/LowOverheadLoops/pr168209.ll
Labels: none

[msan] Fix handling of 256-bit hadd/hsub instructions (#168121)
  llvm/lib/Transforms/Instrumentation/MemorySanitizer.cpp
  llvm/test/Instrumentation/MemorySanitizer/X86/avx-intrinsics-x86.ll
  llvm/test/Instrumentation/MemorySanitizer/X86/avx2-intrinsics-x86.ll
  llvm/test/Instrumentation/MemorySanitizer/i386/avx-intrinsics-i386.ll
  llvm/test/Instrumentation/MemorySanitizer/i386/avx2-intrinsics-i386.ll
Labels: none

[LV] Add test a low-trip count test without folding the tail.
  llvm/test/Transforms/LoopVectorize/X86/replicating-load-store-costs.ll
Labels: none

[LV] Count cost of middle block if TC <= VF.
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/test/Transforms/LoopVectorize/X86/replicating-load-store-costs.ll
Labels: none

[libc++][NFC] Refactor __request_unbuffered_mode
  libcxx/include/fstream
Labels: none

[AMDGPU] Precommit test for issue in amdgpu-rewrite-agpr-copy-mfma, (#168609)
  llvm/test/CodeGen/AMDGPU/rewrite-vgpr-mfma-scale-to-agpr.mir
Labels: none

[compiler-rt] [test] Generalize an UNSUPPORTED marking (#168858)
  compiler-rt/test/asan/TestCases/stack_container_dynamic_lib.cpp
Labels: none

[InstSimplify] Extend icmp-of-add simplification to sle/sgt/sge (#168900)
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/test/Transforms/InstSimplify/compare.ll
Labels: none
