Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[inter] Preserve poison semantics across XW
  inter/include/inter/Dialect/Inter/IR/InterOps.td
  inter/include/inter/Transforms/Passes.td
  inter/lib/inter/Analysis/CMakeLists.txt
  inter/lib/inter/Analysis/DistributionAnalysis.cpp
  inter/lib/inter/Dialect/Inter/IR/XWOps.cpp
  inter/lib/inter/Transforms/CMakeLists.txt
  inter/lib/inter/Transforms/InterConvertLLVMToXW.cpp
  inter/lib/inter/Transforms/InterSelect.cpp
  inter/test/Analysis/distribution.mlir
  inter/test/Dialect/Inter/xw-folding.mlir
  inter/test/Dialect/Inter/xw-invalid.mlir
  inter/test/Dialect/Inter/xw-roundtrip.mlir
  inter/test/Frontend/matmul-o2.ll
  inter/test/Frontend/matmul-o3.ll
  inter/test/Transforms/convert-llvm-to-xw-reject-cardinality.mlir
  inter/test/Transforms/convert-llvm-to-xw-reject-partial-poison.mlir
  inter/test/Transforms/convert-llvm-to-xw-reject-poison.mlir
  inter/test/Transforms/convert-llvm-to-xw-reject-select-cardinality.mlir
  inter/test/Transforms/convert-llvm-to-xw-reject.mlir
  inter/test/Transforms/convert-llvm-to-xw-review-reject.mlir
  inter/test/Transforms/convert-llvm-to-xw.mlir
  inter/test/Transforms/select-invalid.mlir
  inter/test/Transforms/select-wide.mlir
Labels: none

[inter] Complete XW semantic lowering
  inter/include/inter/Transforms/Passes.td
  inter/lib/inter/Analysis/DistributionAnalysis.cpp
  inter/lib/inter/Analysis/MemoryFrontierAnalysis.cpp
  inter/lib/inter/Transforms/InterConvertLLVMToXW.cpp
  inter/lib/inter/Transforms/InterImportLLVM.cpp
  inter/lib/inter/Transforms/InterInferMemoryTokens.cpp
  inter/lib/inter/Transforms/InterRefineDistribution.cpp
  inter/lib/inter/Transforms/InterSelect.cpp
  inter/test/Analysis/distribution.mlir
  inter/test/Analysis/memory-tokens-invalid.mlir
  inter/test/Analysis/memory-tokens.mlir
  inter/test/Frontend/import-llvm.mlir
  inter/test/Frontend/llvm-to-machine-widths.mlir
  inter/test/Frontend/matmul-o2.ll
  inter/test/Frontend/matmul-o3.ll
  inter/test/Transforms/convert-llvm-to-xw-reject-global.mlir
  inter/test/Transforms/convert-llvm-to-xw-reject-ops.mlir
  inter/test/Transforms/convert-llvm-to-xw-reject-pointer.mlir
  inter/test/Transforms/convert-llvm-to-xw-reject-poison.mlir
  inter/test/Transforms/convert-llvm-to-xw-reject-space.mlir
  inter/test/Transforms/convert-llvm-to-xw-reject-width.mlir
  inter/test/Transforms/convert-llvm-to-xw-review-reject.mlir
  inter/test/Transforms/convert-llvm-to-xw.mlir
  inter/test/Transforms/select-float-cmp.mlir
  inter/test/Transforms/select-invalid.mlir
  inter/test/Transforms/select-review.mlir
  inter/test/Transforms/select-surface.mlir
  inter/test/Transforms/select-token-loops.mlir
  inter/test/Transforms/select-unsupported-surface.mlir
  inter/test/Transforms/select-wide.mlir
Labels: none

[inter] Define XW frontend architecture
  inter/docs/IntelXeBackendDesign.md
Labels: none

[inter] Convert integer truncation to XW
  inter/lib/inter/Transforms/InterConvertLLVMToXW.cpp
  inter/test/Frontend/matmul-o2.ll
  inter/test/Frontend/matmul-o3.ll
  inter/test/Transforms/convert-llvm-to-xw-review-reject.mlir
  inter/test/Transforms/convert-llvm-to-xw.mlir
Labels: none

[inter] Document typed lane distributions
  inter/docs/IntelXeBackendDesign.md
Labels: none

[inter] Refine compact SIMD value model
  inter/docs/IntelXeBackendDesign.md
Labels: none

[inter] Split LLVM to XW conversion patterns
  inter/lib/inter/Transforms/InterConvertLLVMToXW.cpp
  inter/lib/inter/Transforms/InterImportLLVM.cpp
  inter/test/Frontend/matmul-o2.ll
  inter/test/Frontend/matmul-o3.ll
  inter/test/Transforms/convert-llvm-to-xw.mlir
Labels: none

[inter] Freeze Lighthouse XeGPU matmul
  inter/docs/IntelXeBackendDesign.md
  inter/test/Frontend/Inputs/lighthouse-matmul-xegpu-wg.mlir
  inter/test/Frontend/lighthouse-matmul-xegpu.mlir
  inter/tools/inter-opt/CMakeLists.txt
  inter/tools/inter-opt/inter-opt.cpp
Labels: none

[inter] Resolve pointer cache annotations
  inter/include/inter/Dialect/Inter/IR/XWAttrs.td
  inter/include/inter/Dialect/Inter/IR/XWEnums.td
  inter/include/inter/Transforms/Passes.td
  inter/lib/inter/Transforms/CMakeLists.txt
  inter/lib/inter/Transforms/InterConvertLLVMToXW.cpp
  inter/lib/inter/Transforms/InterDiscoverCacheControls.cpp
  inter/lib/inter/pipelines/pipelines.mlir
  inter/test/Frontend/discover-cache-controls-conflict.mlir
  inter/test/Frontend/discover-cache-controls.mlir
  inter/test/Transforms/convert-llvm-to-xw.mlir
Labels: none

[inter] Select integer division and remainder
  inter/lib/inter/Transforms/InterSelect.cpp
  inter/test/Frontend/matmul-o2.ll
  inter/test/Frontend/matmul-o3.ll
  inter/test/Transforms/select-divrem.mlir
  inter/test/Transforms/select-invalid.mlir
  inter/test/Transforms/select-unsupported-surface.mlir
Labels: none

[inter] Reconcile structured SIMD shapes
  inter/lib/inter/Transforms/InterConvertLLVMToXW.cpp
  inter/test/Frontend/matmul-o2.ll
  inter/test/Frontend/matmul-o3.ll
  inter/test/Transforms/convert-llvm-to-xw-shapes.mlir
Labels: none

[inter] Preserve integer overflow flags in XW
  inter/include/inter/Dialect/Inter/IR/InterOps.td
  inter/lib/inter/Dialect/Inter/IR/XWOps.cpp
  inter/lib/inter/Transforms/InterConvertLLVMToXW.cpp
  inter/test/Dialect/Inter/xw-invalid.mlir
  inter/test/Dialect/Inter/xw-roundtrip.mlir
  inter/test/Frontend/matmul-o2.ll
  inter/test/Frontend/matmul-o3.ll
  inter/test/Transforms/convert-llvm-to-xw-review-reject.mlir
  inter/test/Transforms/convert-llvm-to-xw.mlir
Labels: none

[inter] Select block2D memory operations
  inter/include/inter/Dialect/Inter/IR/InterOps.td
  inter/lib/inter/Analysis/DistributionAnalysis.cpp
  inter/lib/inter/Dialect/Inter/IR/XWOps.cpp
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineOps.cpp
  inter/lib/inter/Transforms/InterInferMemoryTokens.cpp
  inter/lib/inter/Transforms/InterSelect.cpp
  inter/test/Dialect/XeMachine/tuple-alignment-invalid.mlir
  inter/test/Dialect/XeMachine/update-physical-invalid.mlir
  inter/test/Dialect/XeMachine/update-subgrf.mlir
  inter/test/Transforms/select-block2d.mlir
Labels: none

[inter] Emit structured machine loops
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineRegAllocPreparation.cpp
  inter/lib/inter/Emit/GedBinaryEmitter.cpp
  inter/lib/inter/Emit/XeMachineLowering.cpp
  inter/lib/inter/Transforms/InterSelect.cpp
  inter/test/Emit/uniform-loop.mlir
  inter/test/Frontend/matmul-o2.ll
  inter/test/Frontend/matmul-o3.ll
  inter/test/Transforms/prepare-wide-immediate.mlir
  inter/test/Transforms/select-divrem.mlir
Labels: none

[inter] Allocate architectural flags
  inter/include/inter/Dialect/XeMachine/IR/XeMachineTransformOps.td
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineRegAlloc.cpp
  inter/lib/inter/pipelines/pipelines.mlir
  inter/test/Frontend/matmul-o2.ll
  inter/test/Frontend/matmul-o3.ll
  inter/test/Transforms/regalloc-invalid.mlir
  inter/test/Transforms/regalloc.mlir
Labels: none

[inter] Derive subgroup IDs from local payload
  inter/lib/inter/Transforms/InterSelect.cpp
  inter/test/Integration/subgroup-id.mlir
  inter/test/Transforms/select-subgroup-id.mlir
  inter/test/matmul-runner.cpp
Labels: none

[inter] Formalize kernel payload entry ABI
  inter/include/inter/Dialect/XeMachine/IR/XeMachine.h
  inter/include/inter/Dialect/XeMachine/IR/XeMachineOps.td
  inter/include/inter/Emit/Emit.h
  inter/launcher.cpp
  inter/lib/inter/Emit/EmissionProgram.h
  inter/lib/inter/Emit/GedBinaryEmitter.cpp
  inter/lib/inter/Emit/XeMachineLowering.cpp
  inter/lib/inter/Emit/ZebinEmitter.cpp
  inter/lib/inter/Transforms/InterSelect.cpp
  inter/lib/inter/Transforms/Xe2ScheduleModel.cpp
  inter/test/CMakeLists.txt
  inter/test/Dialect/XeMachine/roundtrip.mlir
  inter/test/Emit/zebin.mlir
  inter/test/Integration/Inputs/lighthouse-matmul.mlir
  inter/test/Integration/lighthouse-matmul.mlir
  inter/test/Integration/subgroup-id.ll
  inter/test/Integration/vadd.ll
  inter/test/Transforms/machine-schedule.mlir
  inter/test/Transforms/select-prologue-order.mlir
  inter/test/Transforms/select-vadd.mlir
  inter/test/lit.cfg.py
  inter/test/lit.site.cfg.py.in
  inter/test/matmul-runner.cpp
Labels: python

[inter] Restore block2D element width ABI
  inter/lib/inter/Transforms/InterSelect.cpp
  inter/test/Transforms/select-block2d.mlir
  inter/test/matmul-runner.cpp
Labels: none

[inter] Correct kernel payload and block2D ABI
  .gitignore
  inter/AGENTS.md
  inter/include/inter/Dialect/XeMachine/IR/XeMachine.h
  inter/include/inter/Dialect/XeMachine/IR/XeMachineInterfaces.td
  inter/include/inter/Dialect/XeMachine/IR/XeMachineOps.td
  inter/lib/inter/Dialect/XeMachine/IR/Xe2Timing.cpp
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineOps.cpp
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineRegAlloc.cpp
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineRegAllocPreparation.cpp
  inter/lib/inter/Emit/XeMachineLowering.cpp
  inter/lib/inter/Emit/ZebinEmitter.cpp
  inter/lib/inter/Transforms/InterSelect.cpp
  inter/test/Emit/zebin.mlir
  inter/test/Integration/subgroup-id.ll
  inter/test/Integration/subgroup-id.mlir
  inter/test/Transforms/machine-schedule.mlir
  inter/test/Transforms/select-block2d.mlir
  inter/test/Transforms/select-prologue-order.mlir
  inter/test/Transforms/select-subgroup-id.mlir
  inter/test/Transforms/select-vadd.mlir
Labels: misc

[inter] Canonicalize block2D builtin ABI
  inter/include/inter/Transforms/Passes.td
  inter/lib/inter/Transforms/CMakeLists.txt
  inter/lib/inter/Transforms/InterCanonicalizeBlock2DABI.cpp
  inter/lib/inter/Transforms/InterConvertLLVMToXW.cpp
  inter/lib/inter/pipelines/pipelines.mlir
  inter/test/Transforms/canonicalize-block2d-abi.mlir
Labels: none

[inter] Lower DPAS matrix operations
  inter/include/inter/Dialect/Inter/IR/InterOps.td
  inter/include/inter/Dialect/Inter/IR/XWEnums.td
  inter/include/inter/Dialect/XeMachine/IR/Xe2Timing.h
  inter/include/inter/Dialect/XeMachine/IR/XeMachine.h
  inter/include/inter/Dialect/XeMachine/IR/XeMachineBase.td
  inter/include/inter/Dialect/XeMachine/IR/XeMachineOps.td
  inter/include/inter/Transforms/Passes.td
  inter/lib/inter/Dialect/Inter/IR/XWOps.cpp
  inter/lib/inter/Dialect/XeMachine/IR/Xe2Timing.cpp
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineOps.cpp
  inter/lib/inter/Emit/EmissionProgram.h
  inter/lib/inter/Emit/GedBinaryEmitter.cpp
  inter/lib/inter/Emit/XeMachineLowering.cpp
  inter/lib/inter/Emit/ZebinEmitter.cpp
  inter/lib/inter/Transforms/InterCanonicalizeBlock2DABI.cpp
  inter/lib/inter/Transforms/InterResourceInfo.cpp
  inter/lib/inter/Transforms/InterSelect.cpp
  inter/lib/inter/pipelines/pipelines.mlir
  inter/test/Emit/dpas.mlir
  inter/test/Emit/resource-info-invalid.mlir
  inter/test/Transforms/canonicalize-dpas-builtin.mlir
  inter/test/Transforms/resource-info.mlir
  inter/test/Transforms/select-dpas.mlir
  inter/test/ged-dump.cpp
Labels: none

[inter] Lower Lighthouse subgroup operations
  inter/include/inter/Dialect/Inter/IR/InterOps.td
  inter/lib/inter/Analysis/DistributionAnalysis.cpp
  inter/lib/inter/Dialect/Inter/IR/XWOps.cpp
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineDialect.cpp
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineRegAlloc.cpp
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineRegAllocPreparation.cpp
  inter/lib/inter/Transforms/InterCanonicalizeBlock2DABI.cpp
  inter/lib/inter/Transforms/InterConvertLLVMToXW.cpp
  inter/lib/inter/Transforms/InterSelect.cpp
  inter/test/Dialect/Inter/xw-roundtrip.mlir
  inter/test/Dialect/XeMachine/update-subgrf.mlir
  inter/test/Transforms/convert-llvm-to-xw.mlir
  inter/test/Transforms/kernel-args-invalid.mlir
  inter/test/Transforms/select-args-no-id.mlir
  inter/test/Transforms/select-invalid.mlir
  inter/test/Transforms/select-subgroup-id.mlir
Labels: none

[inter] Preserve while conditions across loop bodies
  inter/lib/inter/Transforms/InterSelect.cpp
  inter/test/Transforms/select-token-loops.mlir
Labels: none

[inter] Add Lighthouse assembly golden
  inter/test/PerfGolden/Inputs/lighthouse-matmul.s
  inter/test/PerfGolden/lighthouse-matmul.py
  inter/test/lit.cfg.py
Labels: python

[inter] Correct SIMD16 matmul execution
  inter/lib/inter/Emit/EmissionProgram.h
  inter/lib/inter/Emit/GedBinaryEmitter.cpp
  inter/lib/inter/Emit/XeMachineLowering.cpp
  inter/lib/inter/Transforms/InterInsertSync.cpp
  inter/lib/inter/Transforms/InterSelect.cpp
  inter/test/Emit/dpas.mlir
  inter/test/Integration/subgroup-id-simd16.mlir
  inter/test/Transforms/insert-sync.mlir
  inter/test/Transforms/select-divrem.mlir
  inter/test/Transforms/select-subgroup-id.mlir
  inter/test/Transforms/select-token-loops.mlir
Labels: none

[inter] Assign SWSB distances across control flow
  inter/include/inter/Dialect/XeMachine/IR/XeMachineInterfaces.td
  inter/include/inter/Dialect/XeMachine/IR/XeMachineOps.td
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineOps.cpp
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineRegAlloc.cpp
  inter/lib/inter/Emit/XeMachineLowering.cpp
  inter/lib/inter/Transforms/InterInsertSync.cpp
  inter/test/Emit/zebin.mlir
  inter/test/Transforms/insert-sync.mlir
Labels: none

[inter] Coalesce generic region branch flow
  inter/include/inter/Dialect/XeMachine/IR/XeMachineRegionFlow.h
  inter/lib/inter/Dialect/XeMachine/IR/CMakeLists.txt
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineAliasAnalysis.cpp
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineRegAlloc.cpp
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineRegAllocPreparation.cpp
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineRegionFlow.cpp
  inter/test/PerfGolden/Inputs/lighthouse-matmul.s
  inter/test/Transforms/prepare-regalloc.mlir
Labels: none

[inter] Assign SWSB dependencies after allocation
  inter/include/inter/Dialect/XeMachine/IR/Xe2Timing.h
  inter/include/inter/Dialect/XeMachine/IR/XeMachine.h
  inter/include/inter/Dialect/XeMachine/IR/XeMachineBase.td
  inter/include/inter/Dialect/XeMachine/IR/XeMachineInterfaces.td
  inter/include/inter/Dialect/XeMachine/IR/XeMachineOps.td
  inter/lib/inter/Dialect/XeMachine/IR/Xe2Timing.cpp
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineOps.cpp
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineRegAlloc.cpp
  inter/lib/inter/Emit/EmissionProgram.h
  inter/lib/inter/Emit/GedBinaryEmitter.cpp
  inter/lib/inter/Emit/XeMachineLowering.cpp
  inter/lib/inter/Transforms/InterInsertSync.cpp
  inter/lib/inter/Transforms/InterSelect.cpp
  inter/test/CMakeLists.txt
  inter/test/Emit/dpas.mlir
  inter/test/Emit/explicit-swsb.mlir
  inter/test/Emit/operands.mlir
  inter/test/Emit/scratch-exdesc.mlir
  inter/test/Emit/send_alu.mlir
  inter/test/Integration/README.md
  inter/test/Integration/opencl-smoke.cl
  inter/test/Transforms/insert-sync.mlir
  inter/test/lit.cfg.py
  inter/test/lit.site.cfg.py.in
Labels: python

[inter] Expand arithmetic before selection
  inter/include/inter/Dialect/Inter/IR/InterOps.td
  inter/include/inter/Transforms/Passes.td
  inter/lib/inter/Dialect/Inter/IR/XWOps.cpp
  inter/lib/inter/Transforms/CMakeLists.txt
  inter/lib/inter/Transforms/InterExpandArithmetic.cpp
  inter/lib/inter/Transforms/InterSelect.cpp
  inter/lib/inter/pipelines/pipelines.mlir
  inter/test/Dialect/Inter/xw-folding.mlir
  inter/test/Frontend/matmul-o2.ll
  inter/test/Frontend/matmul-o3.ll
  inter/test/Transforms/expand-arithmetic.mlir
  inter/test/Transforms/select-divrem.mlir
Labels: none

[inter] Track physical SWSB distance hazards
  inter/lib/inter/Transforms/InterInsertSync.cpp
  inter/test/Emit/send_alu.mlir
  inter/test/Transforms/insert-sync.mlir
Labels: none

[inter] Defer branch copies to regalloc prep
  inter/lib/inter/Transforms/InterSelect.cpp
  inter/test/Transforms/select-branch.mlir
Labels: none

[inter] Factor common tuple updates
  inter/include/inter/Transforms/Passes.td
  inter/lib/inter/Transforms/CMakeLists.txt
  inter/lib/inter/Transforms/InterCoalesceTuples.cpp
  inter/lib/inter/pipelines/pipelines.mlir
  inter/test/PerfGolden/Inputs/lighthouse-matmul.s
  inter/test/Transforms/coalesce-tuples.mlir
Labels: none

[inter] Unmask uniform branch transport copies
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineRegAllocPreparation.cpp
  inter/test/Transforms/prepare-regalloc.mlir
Labels: none

[inter] Hoist invariant machine operations
  inter/include/inter/Dialect/XeMachine/IR/XeMachine.h
  inter/include/inter/Dialect/XeMachine/IR/XeMachineOps.td
  inter/lib/inter/Dialect/XeMachine/IR/CMakeLists.txt
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineOps.cpp
  inter/lib/inter/Emit/XeMachineLowering.cpp
  inter/lib/inter/pipelines/pipelines.mlir
  inter/test/PerfGolden/Inputs/lighthouse-matmul.s
  inter/test/Transforms/xemachine-licm.mlir
Labels: none

[inter] Combine destination scoreboard waits
  inter/include/inter/Dialect/XeMachine/IR/XeMachineOps.td
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineOps.cpp
  inter/lib/inter/Emit/EmissionProgram.h
  inter/lib/inter/Emit/GedBinaryEmitter.cpp
  inter/lib/inter/Emit/XeMachineLowering.cpp
  inter/lib/inter/Transforms/InterInsertSync.cpp
  inter/test/Emit/sync.mlir
  inter/test/PerfGolden/Inputs/lighthouse-matmul.s
  inter/test/Transforms/insert-sync.mlir
Labels: none

[inter] Coalesce tuple update operands
  inter/include/inter/Dialect/XeMachine/IR/XeMachineInterfaces.td
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineOps.cpp
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineRegAllocPreparation.cpp
  inter/test/Dialect/XeMachine/update-subgrf.mlir
  inter/test/PerfGolden/Inputs/lighthouse-matmul.s
  inter/test/Transforms/prepare-regalloc.mlir
  inter/test/Transforms/select-block2d.mlir
Labels: none

[inter] Print symbolic assembly labels
  inter/test/Emit/if_diamond.mlir
  inter/test/Emit/send_alu.mlir
  inter/test/Emit/uniform-loop.mlir
  inter/test/PerfGolden/Inputs/lighthouse-matmul.s
  inter/tools/inter-translate/inter-translate.cpp
Labels: none

[inter] Defer waits across region edges
  inter/lib/inter/Transforms/InterInsertSync.cpp
  inter/test/PerfGolden/Inputs/lighthouse-matmul.s
  inter/test/Transforms/insert-sync.mlir
Labels: none

[inter] Reuse exclusive branch join storage
  inter/lib/inter/Dialect/XeMachine/IR/XeMachineRegAllocPreparation.cpp
  inter/test/PerfGolden/Inputs/lighthouse-matmul.s
  inter/test/Transforms/prepare-regalloc.mlir
Labels: none

[inter] Update Lighthouse assembly golden
  inter/test/PerfGolden/Inputs/lighthouse-matmul.s
Labels: none
