Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[Unrelated code] Remove Mel-Chen:legalizeAndOptimizeInductions
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: none

[Fix] Remove unused debug info setting.
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
Labels: none

Format
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: none

[Fix] Replace getLoadStorePointerOperand with Ptr->getUnderlyingValue().
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: none

[Fix] Set Opcode as Instruction::Load directly.
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: none

Reload "[Frontend][PCH]-Add support for ignoring PCH options (-ignore-pch). (#142409)"
  clang/docs/ReleaseNotes.rst
  clang/docs/UsersManual.rst
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/ignored-pch.cpp
  clang/test/PCH/Inputs/ignored-pch.h
  clang/test/PCH/ignored-pch.c
Labels: none

Update the test using the header file from a same test directory.
  clang/test/Driver/ignored-pch.cpp
Labels: none

[flang] Enable delayed localization by default for `do concurrent`
  flang/lib/Lower/Bridge.cpp
  flang/test/Lower/do_concurrent_delayed_locality.f90
  flang/test/Lower/do_concurrent_local_assoc_entity.f90
  flang/test/Lower/do_concurrent_local_default_init.f90
  flang/test/Lower/loops.f90
  flang/test/Lower/loops3.f90
Labels: none

[Clang] _default-movable_ should be based on the first declaration
  clang/lib/Sema/SemaTypeTraits.cpp
  clang/test/SemaCXX/cxx2c-trivially-relocatable.cpp
  clang/test/SemaCXX/type-traits-unsatisfied-diags.cpp
Labels: none

[test][AArch64] Adjust vector insertion lit tests (#143101)
  llvm/test/CodeGen/AArch64/arm64-vector-insertion.ll
Labels: none

[test][AArch64] Adjust vector insertion lit tests (#143101)
  llvm/test/CodeGen/AArch64/arm64-vector-insertion.ll
Labels: none

[BOLT][AArch64] Fix adr-relaxation.s test (#143151)
  bolt/test/AArch64/adr-relaxation.s
Labels: none

[BOLT][AArch64] Fix adr-relaxation.s test (#143151)
  bolt/test/AArch64/adr-relaxation.s
Labels: none

[CI] Add mention of LLVM Developer Policy in email-check message (NFC) (#143300)
  .github/workflows/email-check.yaml
Labels: misc

[CI] Add mention of LLVM Developer Policy in email-check message (NFC) (#143300)
  .github/workflows/email-check.yaml
Labels: misc

[X86] Add test coverage showing failure to merge "zero input passthrough" behaviour for BSF instructions on x86_64 targets
  llvm/test/CodeGen/X86/bsf.ll
Labels: none

[X86] Add test coverage showing failure to merge "zero input passthrough" behaviour for BSF instructions on x86_64 targets
  llvm/test/CodeGen/X86/bsf.ll
Labels: none

[X86] add test coverage for #143606
  llvm/test/CodeGen/X86/vector-shuffle-combining-avx512vl.ll
Labels: none

[X86] add test coverage for #143606
  llvm/test/CodeGen/X86/vector-shuffle-combining-avx512vl.ll
Labels: none

[X86] bmi-select-distrib.ll - remove unused check prefixes and pull out PR comments above tests. NFC
  llvm/test/CodeGen/X86/bmi-select-distrib.ll
Labels: none

[X86] bmi-select-distrib.ll - remove unused check prefixes and pull out PR comments above tests. NFC
  llvm/test/CodeGen/X86/bmi-select-distrib.ll
Labels: none

[coro][NFC] Move switch basic block to beginning of coroutine (#143626)
  llvm/lib/Transforms/Coroutines/CoroSplit.cpp
Labels: none

[coro][NFC] Move switch basic block to beginning of coroutine (#143626)
  llvm/lib/Transforms/Coroutines/CoroSplit.cpp
Labels: none

[Fix] Pass stride in element size
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/test/Transforms/LoopVectorize/RISCV/riscv-vector-reverse.ll
Labels: none

[X86] Use BSR passthrough behaviour to fold (CMOV (BSR ?, X), Y, (X == 0)) -> (BSR Y, X)
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/bsr.ll
  llvm/test/CodeGen/X86/pr40090.ll
Labels: none

[flang][OpenMP] Map basic `local` specifiers to `private` clauses
  flang/lib/Optimizer/OpenMP/DoConcurrentConversion.cpp
  flang/test/Transforms/DoConcurrent/locality_specifiers_simple.mlir
Labels: none

[clang-format][NFC] Upgrade IndentBraces option to a struct
  clang/docs/ClangFormatStyleOptions.rst
  clang/include/clang/Format/Format.h
  clang/lib/Format/ContinuationIndenter.cpp
  clang/lib/Format/Format.cpp
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/unittests/Format/ConfigParseTest.cpp
Labels: none

[llvm-debuginfo-analyzer] Add support for LLVM IR format.
  llvm/docs/CommandGuide/llvm-debuginfo-analyzer.rst
  llvm/include/llvm/DebugInfo/LogicalView/LVReaderHandler.h
  llvm/include/llvm/DebugInfo/LogicalView/Readers/LVIRReader.h
  llvm/lib/DebugInfo/LogicalView/LVReaderHandler.cpp
  llvm/lib/DebugInfo/LogicalView/Readers/LVDWARFReader.cpp
  llvm/lib/DebugInfo/LogicalView/Readers/LVIRReader.cpp
  llvm/test/tools/llvm-debuginfo-analyzer/IR/01-ir-print-basic-details.test
  llvm/test/tools/llvm-debuginfo-analyzer/IR/01-ir-select-logical-elements.test
  llvm/test/tools/llvm-debuginfo-analyzer/IR/06-ir-full-logical-view.test
  llvm/unittests/DebugInfo/LogicalView/IRReaderTest.cpp
Labels: none

Add ASTContext::getCanonicalSizeType()
  clang/include/clang/AST/ASTContext.h
  clang/lib/AST/ASTContext.cpp
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CGCoroutine.cpp
  clang/lib/CodeGen/CGObjCMac.cpp
  clang/lib/Sema/SemaChecking.cpp
  clang/lib/StaticAnalyzer/Checkers/StdLibraryFunctionsChecker.cpp
Labels: none

Reland "[SelectionDAG] Make `(a & x) | (~a & y) -> (a & (x ^ y)) ^ y` available for all targets" (#143651)
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/Target/SystemZ/SystemZISelLowering.cpp
  llvm/lib/Target/SystemZ/SystemZISelLowering.h
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/bfi_int.ll
  llvm/test/CodeGen/AMDGPU/insert_vector_dynelt.ll
  llvm/test/CodeGen/AMDGPU/insert_vector_elt.ll
  llvm/test/CodeGen/AMDGPU/insert_vector_elt.v2i16.ll
  llvm/test/CodeGen/AMDGPU/unfold-masked-merge-scalar-variablemask.ll
  llvm/test/CodeGen/NVPTX/unfold-masked-merge-vector-variablemask.ll
  llvm/test/CodeGen/RISCV/fold-masked-merge.ll
  llvm/test/CodeGen/RISCV/unfold-masked-merge-scalar-variablemask.ll
  llvm/test/CodeGen/SystemZ/fold-masked-merge.ll
  llvm/test/CodeGen/WebAssembly/simd-arith.ll
  llvm/test/CodeGen/X86/bitselect.ll
  llvm/test/CodeGen/X86/fold-masked-merge.ll
  llvm/test/CodeGen/X86/unfold-masked-merge-scalar-variablemask.ll
  llvm/test/CodeGen/X86/unfold-masked-merge-vector-variablemask.ll
Labels: none

Reland "[SelectionDAG] Make `(a & x) | (~a & y) -> (a & (x ^ y)) ^ y` available for all targets" (#143651)
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/Target/SystemZ/SystemZISelLowering.cpp
  llvm/lib/Target/SystemZ/SystemZISelLowering.h
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/bfi_int.ll
  llvm/test/CodeGen/AMDGPU/insert_vector_dynelt.ll
  llvm/test/CodeGen/AMDGPU/insert_vector_elt.ll
  llvm/test/CodeGen/AMDGPU/insert_vector_elt.v2i16.ll
  llvm/test/CodeGen/AMDGPU/unfold-masked-merge-scalar-variablemask.ll
  llvm/test/CodeGen/NVPTX/unfold-masked-merge-vector-variablemask.ll
  llvm/test/CodeGen/RISCV/fold-masked-merge.ll
  llvm/test/CodeGen/RISCV/unfold-masked-merge-scalar-variablemask.ll
  llvm/test/CodeGen/SystemZ/fold-masked-merge.ll
  llvm/test/CodeGen/WebAssembly/simd-arith.ll
  llvm/test/CodeGen/X86/bitselect.ll
  llvm/test/CodeGen/X86/fold-masked-merge.ll
  llvm/test/CodeGen/X86/unfold-masked-merge-scalar-variablemask.ll
  llvm/test/CodeGen/X86/unfold-masked-merge-vector-variablemask.ll
Labels: none

simplify
  clang/lib/Sema/SemaTypeTraits.cpp
Labels: none

[X86] Reduce i64 to i32 when high bits are zeros for add/sub/mul
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/reduce-i64-add.ll
  llvm/test/CodeGen/X86/reduce-i64-mul.ll
  llvm/test/CodeGen/X86/reduce-i64-sub.ll
Labels: none

[flang] Enable delayed localization by default for `do concurrent` (#142567)
  flang/lib/Lower/Bridge.cpp
  flang/test/Lower/do_concurrent_delayed_locality.f90
  flang/test/Lower/do_concurrent_local_assoc_entity.f90
  flang/test/Lower/do_concurrent_local_default_init.f90
  flang/test/Lower/loops.f90
  flang/test/Lower/loops3.f90
Labels: none

[flang] Enable delayed localization by default for `do concurrent` (#142567)
  flang/lib/Lower/Bridge.cpp
  flang/test/Lower/do_concurrent_delayed_locality.f90
  flang/test/Lower/do_concurrent_local_assoc_entity.f90
  flang/test/Lower/do_concurrent_local_default_init.f90
  flang/test/Lower/loops.f90
  flang/test/Lower/loops3.f90
Labels: none

[OpenMP 6.0 ]Codegen for Reduction over private variables with reduction clause (#134709)
  clang/docs/OpenMPSupport.rst
  clang/docs/ReleaseNotes.rst
  clang/lib/CodeGen/CGOpenMPRuntime.cpp
  clang/lib/CodeGen/CGOpenMPRuntime.h
  clang/lib/CodeGen/CGStmtOpenMP.cpp
  clang/lib/Sema/SemaOpenMP.cpp
  clang/test/OpenMP/distribute_simd_misc_messages.c
  clang/test/OpenMP/for_private_reduction_codegen.cpp
  clang/test/OpenMP/for_reduction_messages.cpp
  clang/test/OpenMP/for_simd_reduction_messages.cpp
  clang/test/OpenMP/sections_reduction_messages.cpp
  openmp/runtime/test/worksharing/for/omp_for_private_reduction.cpp
Labels: openmp

[OpenMP 6.0 ]Codegen for Reduction over private variables with reduction clause (#134709)
  clang/docs/OpenMPSupport.rst
  clang/docs/ReleaseNotes.rst
  clang/lib/CodeGen/CGOpenMPRuntime.cpp
  clang/lib/CodeGen/CGOpenMPRuntime.h
  clang/lib/CodeGen/CGStmtOpenMP.cpp
  clang/lib/Sema/SemaOpenMP.cpp
  clang/test/OpenMP/distribute_simd_misc_messages.c
  clang/test/OpenMP/for_private_reduction_codegen.cpp
  clang/test/OpenMP/for_reduction_messages.cpp
  clang/test/OpenMP/for_simd_reduction_messages.cpp
  clang/test/OpenMP/sections_reduction_messages.cpp
  openmp/runtime/test/worksharing/for/omp_for_private_reduction.cpp
Labels: openmp

[flang][OpenMP] Map basic `local` specifiers to `private` clauses (#142735)
  flang/lib/Optimizer/OpenMP/DoConcurrentConversion.cpp
  flang/test/Transforms/DoConcurrent/locality_specifiers_simple.mlir
Labels: none

[flang][OpenMP] Map basic `local` specifiers to `private` clauses (#142735)
  flang/lib/Optimizer/OpenMP/DoConcurrentConversion.cpp
  flang/test/Transforms/DoConcurrent/locality_specifiers_simple.mlir
Labels: none

[flang][OpenMP] Extend locality spec to OMP claues (`init` and `dealloc` regions)
  flang/lib/Optimizer/OpenMP/DoConcurrentConversion.cpp
  flang/test/Transforms/DoConcurrent/locality_specifiers_init_dealloc.mlir
Labels: none
