Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[docs] Rename LangRef.{rst|md}
  .github/new-prs-labeler.yml
  llvm/docs/AddingConstrainedIntrinsics.rst
  llvm/docs/LangRef.md
Labels: misc

[docs] Rewrite LangRef.md as Markdown
  llvm/docs/LangRef.md
Labels: none

Migrate 11 tables back from list-table to regular markdown tables
  llvm/docs/LangRef.md
Labels: none

[BOLT] Register PIE indirect goto relocations
  bolt/include/bolt/Core/BinaryFunction.h
  bolt/include/bolt/Rewrite/RewriteInstance.h
  bolt/lib/Core/BinaryContext.cpp
  bolt/lib/Core/BinaryFunction.cpp
  bolt/lib/Rewrite/RewriteInstance.cpp
  bolt/test/AArch64/computed-goto.s
  bolt/test/X86/indirect-goto.test
  bolt/test/indirect-goto-relocs.test
Labels: none

Fix CODEOWNERS error, remove Lanza from ClangIR owners
  .github/CODEOWNERS
Labels: misc

[docs] Rename 20 selected rst docs to Markdown (#205921)
  llvm/docs/AdvancedBuilds.md
  llvm/docs/BuildingADistribution.md
  llvm/docs/CFIVerify.md
  llvm/docs/CycleTerminology.md
  llvm/docs/DTLTO.md
  llvm/docs/Docker.md
  llvm/docs/Frontend/PerformanceTips.md
  llvm/docs/GoldPlugin.md
  llvm/docs/HowToBuildOnARM.md
  llvm/docs/HowToBuildWithPGO.md
  llvm/docs/HowToCrossCompileLLVM.md
  llvm/docs/LinkTimeOptimization.md
  llvm/docs/MemProf.md
  llvm/docs/MergeFunctions.md
  llvm/docs/MyFirstTypoFix.md
  llvm/docs/ProjectGovernance.md
  llvm/docs/StackSafetyAnalysis.md
  llvm/docs/SupportLibrary.md
  llvm/docs/Vectorizers.md
  llvm/docs/tutorial/index.md
  llvm/include/llvm/ADT/GenericCycleInfo.h
  llvm/tools/llvm-cfi-verify/llvm-cfi-verify.cpp
  llvm/utils/docker/README
Labels: none

[docs] Finish MyST migration for selected docs
  llvm/docs/AdvancedBuilds.md
  llvm/docs/BuildingADistribution.md
  llvm/docs/CFIVerify.md
  llvm/docs/CycleTerminology.md
  llvm/docs/DTLTO.md
  llvm/docs/Frontend/PerformanceTips.md
  llvm/docs/GitHub.md
  llvm/docs/GoldPlugin.md
  llvm/docs/HowToBuildOnARM.md
  llvm/docs/HowToBuildWithPGO.md
  llvm/docs/HowToCrossCompileLLVM.md
  llvm/docs/LinkTimeOptimization.md
  llvm/docs/MemProf.md
  llvm/docs/MergeFunctions.md
  llvm/docs/MyFirstTypoFix.md
  llvm/docs/ProjectGovernance.md
  llvm/docs/Vectorizers.md
  llvm/docs/tutorial/index.md
Labels: none

[docs] Convert selected rst docs with rst2myst
  llvm/docs/AdvancedBuilds.md
  llvm/docs/BuildingADistribution.md
  llvm/docs/CFIVerify.md
  llvm/docs/CycleTerminology.md
  llvm/docs/DTLTO.md
  llvm/docs/Docker.md
  llvm/docs/Frontend/PerformanceTips.md
  llvm/docs/GoldPlugin.md
  llvm/docs/HowToBuildOnARM.md
  llvm/docs/HowToBuildWithPGO.md
  llvm/docs/HowToCrossCompileLLVM.md
  llvm/docs/LinkTimeOptimization.md
  llvm/docs/MemProf.md
  llvm/docs/MergeFunctions.md
  llvm/docs/MyFirstTypoFix.md
  llvm/docs/ProjectGovernance.md
  llvm/docs/StackSafetyAnalysis.md
  llvm/docs/SupportLibrary.md
  llvm/docs/Vectorizers.md
  llvm/docs/tutorial/index.md
Labels: none

[docs] Rewrite 20 selected rst LLVM docs to Markdown (#205923)
  llvm/docs/AdvancedBuilds.md
  llvm/docs/BuildingADistribution.md
  llvm/docs/CFIVerify.md
  llvm/docs/CycleTerminology.md
  llvm/docs/DTLTO.md
  llvm/docs/Docker.md
  llvm/docs/Frontend/PerformanceTips.md
  llvm/docs/GitHub.md
  llvm/docs/GoldPlugin.md
  llvm/docs/HowToBuildOnARM.md
  llvm/docs/HowToBuildWithPGO.md
  llvm/docs/HowToCrossCompileLLVM.md
  llvm/docs/LinkTimeOptimization.md
  llvm/docs/MemProf.md
  llvm/docs/MergeFunctions.md
  llvm/docs/MyFirstTypoFix.md
  llvm/docs/ProjectGovernance.md
  llvm/docs/StackSafetyAnalysis.md
  llvm/docs/SupportLibrary.md
  llvm/docs/Vectorizers.md
  llvm/docs/tutorial/index.md
Labels: none

Adding a lit test for pcm_dropped event.
  clang/test/ClangScanDeps/logging-drop-pcm.c
Labels: none

Apply suggested change
  llvm/lib/Transforms/Scalar/LoopIdiomRecognize.cpp
Labels: none

Remove getIRStart and getIRSize, rename IRModule to IRImage, add hasIRImage minor stylistic tweaks
  offload/plugins-nextgen/common/include/PluginInterface.h
  offload/plugins-nextgen/common/include/RecordReplay.h
  offload/plugins-nextgen/common/src/PluginInterface.cpp
  offload/plugins-nextgen/common/src/RecordReplay.cpp
  offload/tools/kernelreplay/llvm-omp-kernel-replay.cpp
Labels: none

[lldb] Remove ConstString from SectionList::FindSectionByName
  lldb/include/lldb/Core/Section.h
  lldb/source/API/SBModule.cpp
  lldb/source/API/SBSection.cpp
  lldb/source/Commands/CommandObjectTarget.cpp
  lldb/source/Core/Section.cpp
  lldb/source/Plugins/DynamicLoader/MacOSX-DYLD/DynamicLoaderDarwin.cpp
  lldb/source/Plugins/DynamicLoader/MacOSX-DYLD/DynamicLoaderMacOSXDYLD.cpp
  lldb/source/Plugins/LanguageRuntime/ObjC/AppleObjCRuntime/AppleObjCRuntime.cpp
  lldb/source/Plugins/LanguageRuntime/ObjC/AppleObjCRuntime/AppleObjCRuntimeV2.cpp
  lldb/source/Plugins/ObjectFile/ELF/ObjectFileELF.cpp
  lldb/source/Plugins/ObjectFile/Mach-O/ObjectFileMachO.cpp
  lldb/source/Plugins/Platform/Android/PlatformAndroid.cpp
  lldb/source/Plugins/Platform/MacOSX/PlatformDarwin.cpp
  lldb/source/Plugins/Process/minidump/ProcessMinidump.cpp
  lldb/unittests/Core/ModuleTest.cpp
  lldb/unittests/ObjectFile/ELF/TestObjectFileELF.cpp
  lldb/unittests/Symbol/LineTableTest.cpp
Labels: none

[flang-rt] Use posix_memalign instead of std::aligned_alloc (#207248)
  flang-rt/include/flang-rt/runtime/allocator-registry.h
Labels: none

[CIR] Record the source level identity of functions on cir.func
  clang/include/clang/CIR/Dialect/IR/CIRAttrs.td
  clang/include/clang/CIR/Dialect/IR/CIRDialect.td
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/include/clang/CIR/Interfaces/ASTAttrInterfaces.h
  clang/include/clang/CIR/Interfaces/ASTAttrInterfaces.td
  clang/lib/CIR/CodeGen/CIRGenCUDANV.cpp
  clang/lib/CIR/CodeGen/CIRGenCall.cpp
  clang/lib/CIR/CodeGen/CIRGenExpr.cpp
  clang/lib/CIR/CodeGen/CIRGenExprCXX.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.h
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/test/CIR/CodeGen/call-ast-attr.c
  clang/test/CIR/CodeGen/call-ast-attr.cpp
  clang/test/CIR/CodeGen/func-info-attr.c
  clang/test/CIR/CodeGen/func-info-attr.cpp
  clang/test/CIR/IR/func-info-attr.cir
Labels: none

[X86] Fold MULHS/SMUL_LOHI v4i64/v8i64 in, gated on AVX512DQ
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/srem-vector-lkk.ll
  llvm/test/CodeGen/X86/vector-idiv-sdiv-256.ll
  llvm/test/CodeGen/X86/vector-idiv-sdiv-512.ll
Labels: none

[X86] Rename dont_fold_urem_i64 -> fold_urem_i64
  llvm/test/CodeGen/X86/urem-vector-lkk.ll
Labels: none

[DirectX] Expand {u,s}mul.with.overflow in DXILIntrinsicExpansion
  llvm/include/llvm/IR/IntrinsicsDirectX.td
  llvm/lib/Target/DirectX/DXIL.td
  llvm/lib/Target/DirectX/DXILIntrinsicExpansion.cpp
  llvm/lib/Target/DirectX/DXILOpBuilder.cpp
  llvm/test/CodeGen/DirectX/imul_umul.ll
  llvm/test/CodeGen/DirectX/overflow_intrinsics.ll
Labels: none

[lldb] Push ExpressionEvaluation policy and remove identity check fallbacks
  lldb/include/lldb/Utility/Policy.h
  lldb/source/Expression/FunctionCaller.cpp
  lldb/source/Expression/IRInterpreter.cpp
  lldb/source/Expression/LLVMUserExpression.cpp
  lldb/source/Target/Process.cpp
  lldb/source/Target/StackFrameList.cpp
  lldb/source/Target/StopInfo.cpp
  lldb/source/Target/Target.cpp
  lldb/source/Target/Thread.cpp
  lldb/source/Utility/Policy.cpp
  lldb/unittests/Utility/PolicyTest.cpp
Labels: none

Rename printVariables to printVariableDefAttempts
  llvm/lib/FileCheck/FileCheck.cpp
Labels: none

Rename printVariables to printVariableDefAttempts
  llvm/lib/FileCheck/FileCheckImpl.h
Labels: none

add on_device mapping
  flang/lib/Optimizer/Transforms/CUDA/CUFFunctionRewrite.cpp
  flang/test/Fir/CUDA/cuda-function-rewrite.mlir
Labels: none

cleanup
  flang/lib/Optimizer/Transforms/CUDA/CUFFunctionRewrite.cpp
Labels: none

[mlir][vector] Fix crash on untraceable masks in getCompressedMaskOp
  mlir/lib/Dialect/Vector/Transforms/VectorEmulateNarrowType.cpp
  mlir/test/Dialect/Vector/emulate-narrow-type-unsupported.mlir
Labels: none

format
  flang/lib/Optimizer/Transforms/CUDA/CUFFunctionRewrite.cpp
Labels: none

[clangd] Invalidate preamble when new module imports are added (#199460)
  clang-tools-extra/clangd/ModulesBuilder.cpp
  clang-tools-extra/clangd/ModulesBuilder.h
  clang-tools-extra/clangd/Preamble.cpp
  clang-tools-extra/clangd/unittests/PrerequisiteModulesTest.cpp
Labels: none

[NFC][LLVM] Define range attribute for `llvm.prefetch` args
  llvm/include/llvm/IR/Intrinsics.td
  llvm/lib/IR/Verifier.cpp
  llvm/test/Assembler/invalid-immarg5.ll
  llvm/test/Verifier/AMDGPU/test-cvt-fp4f6f8-immarg-ranges.ll
  llvm/test/Verifier/NVPTX/fence-proxy.tensormap.ll
  llvm/test/Verifier/NVPTX/setmaxnreg.ll
  llvm/test/Verifier/intrinsic-immarg.ll
Labels: none

[clang] fix redeclarations of the injected class name
  clang/lib/Sema/SemaDecl.cpp
  clang/test/SemaCXX/injected-class-name-crash.cpp
Labels: none

[PGO][HIP][NFC] Fix hipModuleGetGlobal -Wunused-function warning (#207293)
  compiler-rt/lib/profile/InstrProfilingPlatformROCm.cpp
Labels: none

lit: handle `rm` on Windows for files with extended paths
  llvm/utils/lit/lit/InprocBuiltins.py
  llvm/utils/lit/lit/util.py
Labels: python

lit: use extended paths on Windows for redirection
  llvm/utils/lit/lit/ShellEnvironment.py
Labels: python

[NFC][Clang][OpenMP] Simplify checks for num_teams and thread_limit expressions
  clang/lib/Sema/SemaOpenMP.cpp
Labels: none

[ObjectYAML][NFC] Hoist ContiguousBlobAccumulator into a shared header
  llvm/include/llvm/ObjectYAML/ContiguousBlobAccumulator.h
  llvm/lib/ObjectYAML/CMakeLists.txt
  llvm/lib/ObjectYAML/ContiguousBlobAccumulator.cpp
  llvm/lib/ObjectYAML/ELFEmitter.cpp
Labels: none

Avoid duplicate OperandLoc
  llvm/lib/Target/RISCV/AsmParser/RISCVAsmParser.cpp
Labels: none

Add qemu
  libcxx/test/configs/llvm-libc++-ohos.cfg.in
  libcxx/utils/ci/run-buildbot
  libcxx/utils/ci/vendor/ohos/qemu_run.py
  libcxxabi/test/configs/llvm-libc++abi-ohos.cfg.in
  libunwind/test/configs/llvm-libunwind-ohos.cfg.in
Labels: python

[ObjectYAML] Add LLVM_ABI to ContiguousBlobAccumulator out-of-line methods
  llvm/include/llvm/ObjectYAML/ContiguousBlobAccumulator.h
Labels: none

[RISCV][P-ext] Add codegen for packed absolute difference sum
  llvm/include/llvm/IR/IntrinsicsRISCV.td
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoP.td
  llvm/test/CodeGen/RISCV/rvp-simd-32.ll
  llvm/test/CodeGen/RISCV/rvp-simd-64.ll
Labels: none

[ELF] Parallelize demoteSymbolsAndComputeIsPreemptible
  lld/ELF/Writer.cpp
Labels: none

[LoongArch] Support ISD::GET_ROUNDING (llvm.get.rounding)
  llvm/lib/Target/LoongArch/LoongArchISelLowering.cpp
  llvm/lib/Target/LoongArch/LoongArchISelLowering.h
  llvm/test/CodeGen/LoongArch/get-rounding.ll
Labels: none

[MC] Pack scheduling class entry counts
  llvm/include/llvm/MC/MCSchedule.h
  llvm/test/TableGen/CompressWriteLatencyEntry.td
  llvm/utils/TableGen/SubtargetEmitter.cpp
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
