Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[LoopInterchange] Take base pointer into account in profitability check (#193477)
  llvm/lib/Transforms/Scalar/LoopInterchange.cpp
  llvm/test/Transforms/LoopInterchange/profitability-instorder.ll
Labels: none

[LoopInterchange] Disable LoopCacheAnalysis-based heuristic by default
  llvm/lib/Transforms/Scalar/LoopInterchange.cpp
  llvm/test/Transforms/LoopInterchange/delay-cachecost-calculation.ll
  llvm/test/Transforms/LoopInterchange/lcssa-phi-outer-latch.ll
  llvm/test/Transforms/LoopInterchange/loop-interchange-optimization-remarks.ll
  llvm/test/Transforms/LoopInterchange/perserve-lcssa.ll
  llvm/test/Transforms/LoopInterchange/pr57148.ll
  llvm/test/Transforms/LoopInterchange/profitability-vectorization.ll
Labels: none

fix test
  llvm/test/Transforms/LoopInterchange/loop-interchange-optimization-remarks.ll
Labels: none

address review comment
  llvm/test/Transforms/LoopInterchange/profitability-vectorization.ll
Labels: none

[lldb][windows] Fix HostThreadWindows::Join dead-code on GetExitCodeThread failure
  lldb/source/Host/windows/HostThreadWindows.cpp
Labels: none

[lldb][windows] Fix HostThreadWindows::Cancel inverted error reporting
  lldb/source/Host/windows/HostThreadWindows.cpp
Labels: none

[VPlan] Run replaceSymbolicStrides on VPlan0 (NFCI). (#196840)
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/test/Transforms/LoopVectorize/VPlan/X86/scalarize-wide-load-for-address-use.ll
  llvm/test/Transforms/LoopVectorize/VPlan/vplan-print-after-all.ll
Labels: none

[lldb][windows] Use GetEnvironmentVariableW instead of _wgetenv
  lldb/source/Host/windows/HostInfoWindows.cpp
Labels: none

[lldb][windows] Null-check m_session_data in ProcessDebugger::HaltProcess
  lldb/source/Plugins/Process/Windows/Common/ProcessDebugger.cpp
Labels: none

simplify test
  flang/test/Semantics/OpenMP/workdistribute05.f90
Labels: none

[Offload] Fix LLVM_LINK_LLVM_DYLIB linking liboffload (#198955)
  offload/liboffload/CMakeLists.txt
  offload/libomptarget/CMakeLists.txt
  offload/plugins-nextgen/CMakeLists.txt
Labels: none

[Clang] Add warning for non-portable include paths with trailing whitespace or dots (#190610)
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticLexKinds.td
  clang/lib/Lex/PPDirectives.cpp
  clang/test/Preprocessor/nonportable-trailing-whitespace-win.c
  clang/test/Preprocessor/nonportable-trailing-whitespace.c
Labels: none

[lld][PAC] Print full version and platform values on core mismatch (#198758)
  lld/ELF/Driver.cpp
  lld/test/ELF/aarch64-feature-pauth.s
Labels: none

Revert "[Flang] Adding -ffree-line-length-<value> flag (#192941)"
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/include/clang/Options/FlangOptions.td
  clang/lib/Driver/ToolChains/Flang.cpp
  flang/include/flang/Frontend/FrontendOptions.h
  flang/include/flang/Parser/options.h
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/lib/Parser/parsing.cpp
  flang/lib/Parser/prescan.cpp
  flang/lib/Parser/prescan.h
  flang/test/Driver/ffree-line-length.f90
Labels: none

[AArch64] C1-Nano scheduling model refactor [NFC] (#198469)
  llvm/lib/Target/AArch64/AArch64SchedC1Nano.td
Labels: none

correct the name
  .github/workflows/merged-prs.yml
Labels: misc

[InstCombine] Fold `X s<= Y ? 0 : X -nsw Y -> X - smin(X, Y)` (#187898)
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
  llvm/test/Transforms/InstCombine/or.ll
  llvm/test/Transforms/InstCombine/select-min-max.ll
  llvm/test/Transforms/InstCombine/sext-nonneg-sub.ll
Labels: none

[LoopInterchange] Disable LoopCacheAnalysis-based heuristic by default (#193478)
  llvm/lib/Transforms/Scalar/LoopInterchange.cpp
  llvm/test/Transforms/LoopInterchange/delay-cachecost-calculation.ll
  llvm/test/Transforms/LoopInterchange/lcssa-phi-outer-latch.ll
  llvm/test/Transforms/LoopInterchange/loop-interchange-optimization-remarks.ll
  llvm/test/Transforms/LoopInterchange/perserve-lcssa.ll
  llvm/test/Transforms/LoopInterchange/pr57148.ll
  llvm/test/Transforms/LoopInterchange/profitability-vectorization.ll
Labels: none

[CI] Fix GH PR Greeter (#198160)
  .github/workflows/new-prs.yml
  llvm/utils/git/github-automation.py
Labels: python, misc

Fix base class history
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaSYCL.cpp
  clang/test/SemaSYCL/sycl-kernel-arg-restrictions.cpp
Labels: none

[Flang][OpenMP][NFC] Remove Fortran Evaluate Depedancy from Support (#198742)
  flang/include/flang/Support/OpenMP-utils.h
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/lib/Optimizer/OpenMP/CMakeLists.txt
  flang/lib/Optimizer/OpenMP/DoConcurrentConversion.cpp
  flang/lib/Optimizer/OpenMP/GenericLoopConversion.cpp
  flang/lib/Support/OpenMP-utils.cpp
Labels: none

[CI] Pass script args using env var in merged PRs workflow (#199022)
  .github/workflows/merged-prs.yml
Labels: misc

Fix the warning
  clang/lib/Sema/SemaSYCL.cpp
Labels: none

[RISCV] Ensure AVL dominates True in vmerge peephole (#199008)
  llvm/lib/Target/RISCV/RISCVVectorPeephole.cpp
  llvm/test/CodeGen/RISCV/rvv/rvv-peephole-vmerge-vops.ll
  llvm/test/CodeGen/RISCV/rvv/vmerge-peephole.mir
Labels: none

[lldb][windows] Fix HostProcessWindows::Terminate clobbering error (#199012)
  lldb/source/Host/windows/HostProcessWindows.cpp
Labels: none

[lldb][windows] Fix HostThreadWindows::Cancel inverted error reporting (#199013)
  lldb/source/Host/windows/HostThreadWindows.cpp
Labels: none

[CI] Remove unused env var from commit-access-greeter
  .github/workflows/commit-access-greeter.yml
Labels: misc

[AArch64][GlobalISel] Rename G_PMUL to G_CLMUL
  llvm/lib/Target/AArch64/AArch64InstrGISel.td
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.cpp
  llvm/lib/Target/AArch64/GISel/AArch64RegisterBankInfo.cpp
Labels: none

Visit, not traverse
  clang/lib/Sema/SemaSYCL.cpp
Labels: none

Make format happy
  clang/lib/Sema/SemaSYCL.cpp
Labels: none

[CI] Pass label name to script using env var in pr-subscriber workflow
  .github/workflows/pr-subscriber.yml
Labels: misc

[OpenMP][OMPIRBuilder] Refactor removeUnusedBlocksFromParent (#198938)
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
Labels: none

Revert "[Flang] Adding -ffree-line-length-<value> flag" (#199018)
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/include/clang/Options/FlangOptions.td
  clang/lib/Driver/ToolChains/Flang.cpp
  flang/include/flang/Frontend/FrontendOptions.h
  flang/include/flang/Parser/options.h
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/lib/Parser/parsing.cpp
  flang/lib/Parser/prescan.cpp
  flang/lib/Parser/prescan.h
  flang/test/Driver/ffree-line-length.f90
Labels: none

[CI] Remove unused env var from commit-access-greeter (#199024)
  .github/workflows/commit-access-greeter.yml
Labels: misc

fix case
  libc/include/sys/socket.yaml
Labels: none

[lldb][windows] Fix HostThreadWindows::Join dead-code on GetExitCodeThread failure (#199014)
  lldb/source/Host/windows/HostThreadWindows.cpp
Labels: none

[CI] Pass label name to script using env var in pr-subscriber workflow (#199026)
  .github/workflows/pr-subscriber.yml
Labels: misc

[lldb][windows] Null-check m_session_data in ProcessDebugger::HaltProcess (#199016)
  lldb/source/Plugins/Process/Windows/Common/ProcessDebugger.cpp
Labels: none

Implement linux-specific sendmmsg(2) (#198778)
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/hdr/types/CMakeLists.txt
  libc/hdr/types/struct_mmsghdr.h
  libc/include/llvm-libc-types/CMakeLists.txt
  libc/include/llvm-libc-types/struct_mmsghdr.h
  libc/include/sys/socket.yaml
  libc/src/__support/OSUtil/linux/syscall_wrappers/CMakeLists.txt
  libc/src/__support/OSUtil/linux/syscall_wrappers/sendmmsg.h
  libc/src/sys/socket/CMakeLists.txt
  libc/src/sys/socket/linux/CMakeLists.txt
  libc/src/sys/socket/linux/sendmmsg.cpp
  libc/src/sys/socket/sendmmsg.h
  libc/test/src/sys/socket/linux/CMakeLists.txt
  libc/test/src/sys/socket/linux/sendmmsg_test.cpp
  libc/utils/docgen/sys/socket.yaml
Labels: none

[lldb][windows] Null-check m_session_data in ProcessDebugger::OnDebuggerError
  lldb/source/Plugins/Process/Windows/Common/ProcessDebugger.cpp
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
