Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

Style
  mlir/lib/Dialect/Vector/Transforms/LowerVectorMultiReduction.cpp
Labels: none

80 col td file
  llvm/lib/Target/WebAssembly/WebAssemblyInstrAtomics.td
  llvm/lib/Target/WebAssembly/WebAssemblyInstrInfo.td
  llvm/lib/Target/WebAssembly/WebAssemblySubtarget.h
  llvm/test/CodeGen/WebAssembly/atomic-fence.mir
Labels: none

Reland "[OpenMP][Offload] Handle `present/to/from` when a different entry did `alloc/delete`."
  offload/include/OpenMP/Mapping.h
  offload/libomptarget/OpenMP/Mapping.cpp
  offload/libomptarget/interface.cpp
  offload/libomptarget/omptarget.cpp
  offload/test/mapping/map_ordering_ptee_tgt_alloc_mapper_alloc_from_to.c
  offload/test/mapping/map_ordering_ptee_tgt_data_alloc_tgt_mapper_present_delete_from_to.c
  offload/test/mapping/map_ordering_tgt_alloc_from_to.c
  offload/test/mapping/map_ordering_tgt_alloc_present_tofrom.c
  offload/test/mapping/map_ordering_tgt_alloc_tofrom.c
  offload/test/mapping/map_ordering_tgt_data_alloc_from.c
  offload/test/mapping/map_ordering_tgt_data_alloc_to_from.c
  offload/test/mapping/map_ordering_tgt_data_alloc_tofrom.c
  offload/test/mapping/map_ordering_tgt_exit_data_always_always.c
  offload/test/mapping/map_ordering_tgt_exit_data_delete_from.c
  offload/test/mapping/map_ordering_tgt_exit_data_delete_from_assumedsize.c
  offload/test/mapping/map_ordering_tgt_exit_data_from_delete_assumedsize.c
  offload/test/mapping/map_ordering_tgt_exit_data_from_mapper_overlap.c
Labels: none

[clang][clang-scan-deps] Add LangOptions::AllowLiteralDigitSeparator to fix #88896 (#184235)
  clang/include/clang/Basic/LangOptions.def
  clang/include/clang/Basic/LangStandard.h
  clang/lib/Basic/LangOptions.cpp
  clang/lib/Format/Format.cpp
  clang/lib/Lex/DependencyDirectivesScanner.cpp
  clang/lib/Lex/Lexer.cpp
  clang/unittests/Lex/DependencyDirectivesScannerTest.cpp
Labels: none

[Github] Enable long paths in windows CI Container (#184224)
  .github/workflows/containers/github-action-ci-windows/Dockerfile
Labels: misc

[alpha.webkit.UnretainedCallArgsChecker] Emit a warning for a non-const RetainPtr member
  clang/lib/StaticAnalyzer/Checkers/WebKit/ASTUtils.cpp
  clang/lib/StaticAnalyzer/Checkers/WebKit/PtrTypesSemantics.cpp
  clang/test/Analysis/Checkers/WebKit/call-args.cpp
  clang/test/Analysis/Checkers/WebKit/objc-mock-types.h
  clang/test/Analysis/Checkers/WebKit/unretained-call-args-member.mm
Labels: none

Fix comments and formatting
  lldb/test/API/functionalities/breakpoint/breakpoint_conditions/crashing_condition/TestCrashingCondition.py
Labels: python

[MLIR] mlir_levelzero_runtime: remove dependency on LLVM (#182942)
  mlir/lib/ExecutionEngine/CMakeLists.txt
  mlir/lib/ExecutionEngine/LevelZeroRuntimeWrappers.cpp
Labels: none

fix
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/hip-options.hip
  clang/test/Driver/linker-wrapper-canonical-prefixes.c
  clang/tools/clang-linker-wrapper/LinkerWrapperOpts.td
Labels: none

fixup! fixup! fixup! [clang-tidy] Improve performance-use-std-move in presence of control-flow
  clang-tools-extra/clang-tidy/performance/UseStdMoveCheck.cpp
Labels: none

Add a test that we recover from a crashing breakpoint condition.
  lldb/test/API/functionalities/breakpoint/breakpoint_conditions/crashing_condition/Makefile
  lldb/test/API/functionalities/breakpoint/breakpoint_conditions/crashing_condition/TestCrashingCondition.py
  lldb/test/API/functionalities/breakpoint/breakpoint_conditions/crashing_condition/main.c
Labels: python

[AggressiveInstCombine] test trunc to i1 in any or all bits set (NFC)
  llvm/test/Transforms/AggressiveInstCombine/masked-cmp.ll
Labels: none

[AggressiveInstCombine] trunc to i1 in any or all bits set check
  llvm/lib/Transforms/AggressiveInstCombine/AggressiveInstCombine.cpp
  llvm/test/Transforms/AggressiveInstCombine/masked-cmp.ll
Labels: none

[CIR] Upstream vtable thunk handling (#183629)
  clang/include/clang/CIR/MissingFeatures.h
  clang/lib/CIR/CodeGen/CIRGenCXXABI.cpp
  clang/lib/CIR/CodeGen/CIRGenCXXABI.h
  clang/lib/CIR/CodeGen/CIRGenFunction.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.h
  clang/lib/CIR/CodeGen/CIRGenItaniumCXXABI.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
  clang/lib/CIR/CodeGen/CIRGenVTables.cpp
  clang/lib/CIR/CodeGen/CIRGenVTables.h
  clang/test/CIR/CodeGen/thunks.cpp
Labels: none

Revert "Add a test that we recover from a crashing breakpoint condition."
  lldb/test/API/functionalities/breakpoint/breakpoint_conditions/crashing_condition/Makefile
  lldb/test/API/functionalities/breakpoint/breakpoint_conditions/crashing_condition/TestCrashingCondition.py
  lldb/test/API/functionalities/breakpoint/breakpoint_conditions/crashing_condition/main.c
Labels: python

[CIR][CUDA] Handle __device__ and __shared__ variables
  clang/lib/CIR/CodeGen/CIRGenDecl.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
  clang/lib/CIR/CodeGen/TargetInfo.cpp
  clang/lib/CIR/CodeGen/TargetInfo.h
  clang/test/CIR/CodeGenCUDA/address-spaces.cu
  clang/test/CIR/CodeGenCUDA/global-vars.cu
Labels: none

update branch and regenrate test file
  llvm/test/CodeGen/X86/known-never-zero.ll
Labels: none

add unittest for rest of intrs
  llvm/unittests/Analysis/ValueTrackingTest.cpp
Labels: none

separate ISD:: UMAX/UMIN
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
Labels: none

[NFC][LV] Make `%stride == 1` result in unit-strided access in a test
  llvm/test/Transforms/LoopVectorize/version-stride-with-integer-casts.ll
Labels: none

[CIR] Fix handling of cleanup scopes inside a try body (#183869)
  clang/lib/CIR/CodeGen/CIRGenCleanup.cpp
  clang/lib/CIR/CodeGen/CIRGenException.cpp
  clang/test/CIR/CodeGen/try-catch-tmp.cpp
Labels: none

[CIR] Implement function/call attribute parsing (#184185)
  clang/include/clang/CIR/Dialect/IR/CIRDialect.td
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/test/CIR/IR/func-attrs.cir
Labels: none

Address review: structured bindings, restore comments, use ArrayRef
  llvm/include/llvm/Transforms/Utils/Cloning.h
  llvm/lib/Transforms/IPO/AlwaysInliner.cpp
  llvm/lib/Transforms/Utils/InlineFunction.cpp
Labels: none

Update libc/src/__support/math/CMakeLists.txt
  libc/src/__support/math/CMakeLists.txt
Labels: none

[alpha.webkit.NoDeleteChecker] Add a test for unsafe function override (#184208)
  clang/test/Analysis/Checkers/WebKit/nodelete-annotation.cpp
Labels: none

[WASM] add CheckWasmTableElement helper (#181172)
  clang/lib/Sema/SemaWasm.cpp
  clang/test/CodeGen/WebAssembly/builtins-table-externref.c
Labels: none

[flang] Recognize compiler directives after expansion in comment (#183626)
  flang/include/flang/Parser/preprocessor.h
  flang/lib/Parser/preprocessor.cpp
  flang/lib/Parser/prescan.cpp
  flang/lib/Parser/prescan.h
  flang/test/Preprocessing/bug178481.F90
Labels: none

[mlir][acc] Add ACCRecipeMaterialization pass and reduction ops
  flang/include/flang/Optimizer/OpenACC/Support/FIROpenACCOpsInterfaces.h
  flang/lib/Optimizer/OpenACC/Support/FIROpenACCOpsInterfaces.cpp
  flang/lib/Optimizer/OpenACC/Support/RegisterOpenACCExtensions.cpp
  flang/test/Transforms/OpenACC/acc-recipe-materialization-firstprivate-derived.fir
  flang/test/Transforms/OpenACC/acc-recipe-materialization-firstprivate.fir
  flang/test/Transforms/OpenACC/acc-recipe-materialization-kernel-private.fir
  flang/test/Transforms/OpenACC/acc-recipe-materialization-parallel.fir
  flang/test/Transforms/OpenACC/acc-recipe-materialization-private.fir
  flang/test/Transforms/OpenACC/acc-recipe-materialization-reduction.fir
  mlir/include/mlir/Dialect/OpenACC/OpenACCCGOps.td
  mlir/include/mlir/Dialect/OpenACC/OpenACCOps.td
  mlir/include/mlir/Dialect/OpenACC/OpenACCUtilsLoop.h
  mlir/include/mlir/Dialect/OpenACC/Transforms/Passes.td
  mlir/lib/Dialect/OpenACC/IR/OpenACCCG.cpp
  mlir/lib/Dialect/OpenACC/Transforms/ACCRecipeMaterialization.cpp
  mlir/lib/Dialect/OpenACC/Transforms/CMakeLists.txt
  mlir/lib/Dialect/OpenACC/Utils/OpenACCUtilsLoop.cpp
  mlir/test/Dialect/OpenACC/acc-recipe-materialization-firstprivate.mlir
  mlir/test/Dialect/OpenACC/acc-recipe-materialization-kernel-private.mlir
  mlir/test/Dialect/OpenACC/acc-recipe-materialization-parallel.mlir
  mlir/test/Dialect/OpenACC/acc-recipe-materialization-private.mlir
  mlir/test/Dialect/OpenACC/acc-recipe-materialization-reduction.mlir
  mlir/unittests/Dialect/OpenACC/OpenACCUtilsLoopTest.cpp
Labels: none

Update libc/shared/math/hypotbf16.h
  libc/shared/math/hypotbf16.h
Labels: none

more repairs to pass spirv-val
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/WaveActiveAllEqual.ll
Labels: none

[CIR] Implement func-ptr/void-ptr addition/subtraction/inc/dec.
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/test/CIR/CodeGen/gnu-ptr-math.c
Labels: none

[Flang] Enhance error message tests for repeat specifiers in various formats
  flang/test/Semantics/io17.f90
Labels: none

Apply suggestion from @bassiounix
  libc/shared/math/hypotbf16.h
Labels: none

[mlir][ODS] Fix notorious double-space bug in op printers
  flang/test/Lower/location.f90
  mlir/include/mlir/Dialect/Index/IR/IndexOps.td
  mlir/include/mlir/Dialect/XeGPU/IR/XeGPUOps.td
  mlir/test/CAPI/irdl.c
  mlir/test/Dialect/GPU/shuffle-rewrite.mlir
  mlir/test/Dialect/GPU/sparse-roundtrip.mlir
  mlir/test/Dialect/SparseTensor/GPU/gpu_spgemm_lib.mlir
  mlir/test/Dialect/Vector/vector-warp-distribute.mlir
  mlir/test/Dialect/XeGPU/sg-to-wi-experimental-unit.mlir
  mlir/test/IR/array-of-attr.mlir
  mlir/test/mlir-tblgen/attr-or-type-format-roundtrip.mlir
  mlir/test/mlir-tblgen/attr-or-type-format.td
  mlir/tools/mlir-tblgen/AttrOrTypeDefGen.cpp
  mlir/tools/mlir-tblgen/AttrOrTypeFormatGen.cpp
Labels: none

fix comp err
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
Labels: none

Apply suggestion from @bassiounix
  libc/shared/math/hypotbf16.h
Labels: none

Tweak test prints/checks to be more robust.
  offload/test/mapping/map_ordering_ptee_tgt_alloc_mapper_alloc_from_to.c
  offload/test/mapping/map_ordering_ptee_tgt_data_alloc_tgt_mapper_present_delete_from_to.c
  offload/test/mapping/map_ordering_tgt_alloc_present_tofrom.c
  offload/test/mapping/map_ordering_tgt_alloc_tofrom.c
  offload/test/mapping/map_ordering_tgt_data_alloc_from.c
  offload/test/mapping/map_ordering_tgt_exit_data_always_always.c
  offload/test/mapping/map_ordering_tgt_exit_data_delete_from.c
  offload/test/mapping/map_ordering_tgt_exit_data_delete_from_assumedsize.c
  offload/test/mapping/map_ordering_tgt_exit_data_from_delete_assumedsize.c
Labels: none

[LoopUnroll] Remove UseUpperBound output parameter from computeUnrollCount
  llvm/include/llvm/Transforms/Utils/UnrollLoop.h
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
  llvm/lib/Transforms/Scalar/LoopUnrollAndJamPass.cpp
  llvm/lib/Transforms/Scalar/LoopUnrollPass.cpp
Labels: none

Update libc/src/__support/math/hypotbf16.h
  libc/src/__support/math/hypotbf16.h
Labels: none

Format code
  llvm/lib/Target/AMDGPU/SIShrinkInstructions.cpp
Labels: none
