Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

Extend testing to include streaming-sve.
  llvm/test/CodeGen/AArch64/sve-pred-log.ll
Labels: none

[VPlan] Introduce refinement of vputils::isSingleScalar (NFCI)
  llvm/lib/Transforms/Vectorize/VPlanUtils.cpp
  llvm/unittests/Transforms/Vectorize/VPlanTest.cpp
Labels: none

[Polly] Bound ISL operations during AST generation to prevent indefinite compile time
  polly/lib/Analysis/DependenceInfo.cpp
  polly/lib/CodeGen/IslAst.cpp
  polly/test/IstAstInfo/AstGenComputeOut.ll
Labels: none

[IRBuilderFolder] Add param to fix regression
  llvm/include/llvm/Analysis/InstSimplifyFolder.h
  llvm/include/llvm/Analysis/TargetFolder.h
  llvm/include/llvm/IR/ConstantFolder.h
  llvm/include/llvm/IR/IRBuilderFolder.h
  llvm/include/llvm/IR/NoFolder.h
  llvm/lib/IR/IRBuilder.cpp
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
  llvm/test/Transforms/SLPVectorizer/AArch64/uselistorder.ll
  llvm/test/Transforms/SLPVectorizer/X86/reduce-constants.ll
Labels: none

[InstSimplify] Modify llvm::simplifyIntrinsic directly
  llvm/include/llvm/Analysis/InstSimplifyFolder.h
  llvm/lib/Analysis/InstructionSimplify.cpp
Labels: none

[LV/test] Flip to wrap-false in a test to vectorize
  llvm/test/Transforms/LoopVectorize/interleaved-accesses-requiring-scev-predicates.ll
Labels: none

[ConstFold] Fix the strictfp issue
  llvm/include/llvm/Analysis/ConstantFolding.h
  llvm/lib/Analysis/ConstantFolding.cpp
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/test/Transforms/SLPVectorizer/AArch64/uselistorder.ll
  llvm/test/Transforms/SLPVectorizer/X86/reduce-constants.ll
Labels: none

[LV] Test updates after rebase
  llvm/test/Transforms/LoopVectorize/hoist-predicated-loads-with-predicated-stores.ll
  llvm/test/Transforms/LoopVectorize/interleaved-accesses-requiring-scev-predicates.ll
Labels: none

[InstSimplifyFolder] Fallback to TargetFold on intrinsics
  llvm/include/llvm/Analysis/InstSimplifyFolder.h
  llvm/test/Transforms/LoopVectorize/RISCV/truncate-to-minimal-bitwidth-cost.ll
  llvm/test/Transforms/LoopVectorize/X86/funclet.ll
  llvm/test/Transforms/LoopVectorize/constantfolder.ll
  llvm/test/Transforms/LoopVectorize/interleaved-accesses-requiring-scev-predicates.ll
Labels: none

[GlobalISel] Exclude scalar to ptr unmerges from unmerge_dead_to_trunc combiner
  llvm/lib/CodeGen/GlobalISel/CombinerHelper.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/combine-unmerge.mir
Labels: none

[llvm][HTTP] Add assertion in WinHTTP that perform() can only be called once
  llvm/lib/HTTP/HTTPClient.cpp
Labels: none

[DA] Update stale weak-crossing SIV FIXMEs
  llvm/test/Analysis/DependenceAnalysis/weak-crossing-siv-delta-signed-min.ll
  llvm/test/Analysis/DependenceAnalysis/weak-crossing-siv-large-btc.ll
  llvm/test/Analysis/DependenceAnalysis/weak-crossing-siv-overflow.ll
Labels: none

DAG: Use poison instead of undef in WidenVector
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
Labels: none

[orc-rt] Rewrite move_only_function in terms of CallableTraitsHelper. (#206906)
  orc-rt/include/orc-rt/move_only_function.h
  orc-rt/unittests/move_only_function-test.cpp
Labels: none

Removing masterop
  flang/lib/Optimizer/Transforms/FunctionAttr.cpp
  flang/test/Transforms/function-attrs-noalias-omp.fir
Labels: none

[lldb][Windows][CI] refine timeouts
  .ci/green-dragon/lldb-windows.groovy
Labels: ci

[BOLT] Fix test for systems where dl/pthread are not part of libc
  bolt/test/runtime/setup-race.cpp
Labels: none

Update comments in main.c
  lldb/test/API/macosx/expedited-stack-memory/main.c
Labels: none

[runtimes][NFC] Re-indent shared library blocks (#205523)
  libcxx/src/CMakeLists.txt
  libcxxabi/src/CMakeLists.txt
  libunwind/src/CMakeLists.txt
Labels: none

[mlir][bufferization] Introduce castBufferTypeFn hook and API (#205080)
  mlir/include/mlir/Dialect/Bufferization/IR/BufferizableOpInterface.h
  mlir/lib/Dialect/Arith/Transforms/BufferizableOpInterfaceImpl.cpp
  mlir/lib/Dialect/Bufferization/IR/BufferizableOpInterface.cpp
  mlir/lib/Dialect/Bufferization/IR/BufferizationOps.cpp
  mlir/lib/Dialect/Bufferization/Transforms/Bufferize.cpp
  mlir/lib/Dialect/SCF/Transforms/BufferizableOpInterfaceImpl.cpp
  mlir/test/Dialect/Bufferization/Transforms/test-one-shot-module-bufferize.mlir
  mlir/test/lib/Dialect/Bufferization/TestOneShotModuleBufferize.cpp
  mlir/test/lib/Dialect/Test/TestOpDefs.cpp
  mlir/test/lib/Dialect/Test/TestOps.td
  mlir/test/lib/Dialect/Test/TestTypeDefs.td
Labels: none

[lldb][Windows][CI] split steps
  .ci/green-dragon/lldb-windows.groovy
Labels: ci

DAG: Preserve poison in all-undef build_vector/concat_vectors folds
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/AMDGPU/vector-reduce-or.ll
Labels: none

[DAGCombiner] Fix clang-format in smax fold condition
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
Labels: none

[LLD][COFF] Prevent merging .bss into shared sections (#202817)
  lld/COFF/Writer.cpp
  lld/test/COFF/bss-shared-no-merge.test
Labels: none

DAG: Preserve poison in more concat_vectors folds
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
Labels: none

[M68k] Use getM68kMCRegisterClass accessor after MCRegisterClasses became relocation-free
  llvm/lib/Target/M68k/AsmParser/M68kAsmParser.cpp
Labels: none

[mlir][SPIR-V] Add spirv.GL.Step and spirv.GL.SmoothStep ops (#206037)
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVGLOps.td
  mlir/lib/Dialect/SPIRV/IR/SPIRVOps.cpp
  mlir/test/Dialect/SPIRV/IR/gl-ops.mlir
  mlir/test/Target/SPIRV/gl-ops.mlir
Labels: none

[Dexter] Add support for writing !step values
  cross-project-tests/debuginfo-tests/dexter/dex/evaluation/ExpectRewriter.py
  cross-project-tests/debuginfo-tests/dexter/dex/test_script/Script.py
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/rewriting/Inputs/rewrite_step_lines.cpp
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/rewriting/Inputs/rewrite_step_lines_expected.cpp
  cross-project-tests/debuginfo-tests/dexter/feature_tests/scripts/rewriting/rewrite_step_lines.test
Labels: python

address reviews
  clang/include/clang/Sema/Sema.h
  clang/lib/Parse/Parser.cpp
  clang/lib/Sema/Sema.cpp
Labels: none

[mlir][SPIR-V] Add SPIRVToLLVM conversion for VectorTimesScalar
  mlir/lib/Conversion/SPIRVToLLVM/SPIRVToLLVM.cpp
  mlir/test/Conversion/SPIRVToLLVM/arithmetic-ops-to-llvm.mlir
Labels: none

use enum type for enum
  llvm/include/llvm/TargetParser/ARMTargetParser.h
  llvm/lib/TargetParser/ARMTargetParser.cpp
Labels: none

[mlir][SPIR-V] Add SPIRVToLLVM conversion for SNegate
  mlir/lib/Conversion/SPIRVToLLVM/SPIRVToLLVM.cpp
  mlir/test/Conversion/SPIRVToLLVM/arithmetic-ops-to-llvm.mlir
Labels: none

Apply suggestions from code review
  clang/include/clang/StaticAnalyzer/Checkers/BoundsChecking.h
Labels: none

[clang] Improve diagnostics for invalid named-universal-characters (#206326)
  clang/include/clang/Basic/Diagnostic.h
  clang/include/clang/Basic/DiagnosticLexKinds.td
  clang/lib/Basic/Diagnostic.cpp
  clang/lib/Lex/LiteralSupport.cpp
  clang/test/CXX/drs/cwg26xx.cpp
  clang/test/Lexer/char-escapes-delimited.c
  clang/test/Lexer/unicode.c
  clang/test/Preprocessor/ucn-pp-identifier.c
  clang/unittests/Basic/DiagnosticTest.cpp
Labels: none

[mlir][SPIR-V] Add SPIRVToLLVM conversion for GL.Fract
  mlir/lib/Conversion/SPIRVToLLVM/SPIRVToLLVM.cpp
  mlir/test/Conversion/SPIRVToLLVM/gl-ops-to-llvm.mlir
Labels: none

[flang][OpenACC] Accept ROUTINE directive within an interface block (#206863)
  flang/docs/OpenACC-extensions.md
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Parser/program-parsers.cpp
  flang/test/Parser/acc-routine-in-interface.f90
  flang/test/Semantics/OpenACC/acc-routine-in-interface-name-mismatch.f90
  flang/test/Semantics/OpenACC/acc-routine-in-interface.f90
Labels: none

[DA] Update stale weak-crossing SIV FIXMEs (NFC) (#206941)
  llvm/test/Analysis/DependenceAnalysis/weak-crossing-siv-delta-signed-min.ll
  llvm/test/Analysis/DependenceAnalysis/weak-crossing-siv-large-btc.ll
  llvm/test/Analysis/DependenceAnalysis/weak-crossing-siv-overflow.ll
Labels: none

add a release note
  clang/docs/ReleaseNotes.rst
Labels: none

[libc++] Implement LWG3662 basic_string::append/assign(NTBS, pos, n) suboptimal (#206320)
  libcxx/docs/Status/Cxx26Issues.csv
  libcxx/include/string
  libcxx/test/libcxx/strings/basic.string/nonnull.verify.cpp
  libcxx/test/std/strings/basic.string/string.modifiers/string_append/pointer_size_size.pass.cpp
  libcxx/test/std/strings/basic.string/string.modifiers/string_assign/pointer_size_size.pass.cpp
Labels: none

[MLIR] Verify that all blocks are reachable before CFG to SCF transform
  mlir/include/mlir/Transforms/CFGToSCF.h
  mlir/lib/Transforms/Utils/CFGToSCF.cpp
  mlir/test/Conversion/ControlFlowToSCF/unreachable-blocks.mlir
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
