Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

clang-format reflow the big comment
  llvm/lib/Target/AArch64/AArch64PointerAuth.cpp
Labels: none

[AArch64] Fix stack protectors with tiny code model.
  llvm/lib/Target/AArch64/AArch64InstrInfo.cpp
  llvm/test/CodeGen/AArch64/tiny-model-static.ll
Labels: none

Bleh!
  clang/unittests/ScalableStaticAnalysis/Frontend/TUSummaryExtractorFrontendActionTest.cpp
Labels: none

[SanitizerCoverage] fix arg index misalignment from ABI lowering
  llvm/lib/Transforms/Instrumentation/SanitizerCoverage.cpp
  llvm/test/Instrumentation/SanitizerCoverage/trace-args-abi.ll
Labels: none

[AMDGPU][NFC] Relocated getMaxNumWorkGroups function out of AMDGPUSubtarget and refactored
  llvm/lib/Target/AMDGPU/AMDGPUAttributor.cpp
  llvm/lib/Target/AMDGPU/AMDGPUSubtarget.cpp
  llvm/lib/Target/AMDGPU/AMDGPUSubtarget.h
  llvm/lib/Target/AMDGPU/AMDGPUTargetTransformInfo.cpp
  llvm/lib/Target/AMDGPU/SIMachineFunctionInfo.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.h
Labels: none

add: CPO tests
  libcxx/test/libcxx/ranges/range.adaptors/range.adjacent/nodiscard.verify.cpp
Labels: none

Update lldb/unittests/ObjectContainer/ObjectContainerUniversalMachOTest.cpp
  lldb/unittests/ObjectContainer/ObjectContainerUniversalMachOTest.cpp
Labels: none

[MachineScheduler](NFC) Remove `Value2SUsMap::clearList()`
  llvm/lib/CodeGen/ScheduleDAGInstrs.cpp
Labels: none

[MachineScheduler](NFC) Remove separate handling for non-alias loads and stores
  llvm/include/llvm/CodeGen/ScheduleDAGInstrs.h
  llvm/lib/CodeGen/ScheduleDAGInstrs.cpp
Labels: none

[MachineScheduler] Remove `-dag-maps-huge-region`
  llvm/include/llvm/CodeGen/ScheduleDAGInstrs.h
  llvm/lib/CodeGen/ScheduleDAGInstrs.cpp
  llvm/test/CodeGen/AArch64/dag-maps-huge-region.ll
  llvm/test/CodeGen/AMDGPU/gfx-callable-return-types.ll
  llvm/test/CodeGen/AMDGPU/memintrinsic-unroll.ll
  llvm/test/CodeGen/X86/dag-maps-huge-region-crash.ll
  llvm/test/CodeGen/X86/vector-interleaved-load-i64-stride-8.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i64-stride-8.ll
Labels: none

[MachineScheduler] Introduce frontier model for DAG construction
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/lib/CodeGen/ScheduleDAGInstrs.cpp
  llvm/lib/CodeGen/StackColoring.cpp
  llvm/lib/Transforms/Utils/MemoryOpRemark.cpp
Labels: none

update the logic
  clang/lib/Driver/Driver.cpp
Labels: none

fix: clang-format
  libcxx/test/libcxx/ranges/range.adaptors/range.adjacent/nodiscard.verify.cpp
Labels: none

Tidy up
  llvm/lib/Target/AArch64/AArch64ExpandPseudoInsts.cpp
Labels: none

[LV] Round outer-loop VPlan VF down to a power of two (#205646)
  llvm/lib/Transforms/Vectorize/LoopVectorizationPlanner.cpp
  llvm/test/Transforms/LoopVectorize/X86/outer-loop-non-power-of-2-type.ll
Labels: none

[flang][OpenACC] Warn for DEFAULT(NONE) scalars by default
  clang/include/clang/Options/FlangOptions.td
  flang/docs/OpenACC-extensions.md
  flang/include/flang/Semantics/semantics.h
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/lib/Semantics/resolve-directives.cpp
  flang/lib/Semantics/semantics.cpp
  flang/lib/Support/Fortran-features.cpp
  flang/test/Semantics/OpenACC/acc-default-none-scalars-strict.f90
  flang/test/Semantics/OpenACC/acc-default-none-scalars.f90
  flang/test/Semantics/OpenACC/acc-kernels-loop.f90
  flang/test/Semantics/OpenACC/acc-parallel.f90
  flang/test/Semantics/OpenACC/acc-resolve01.f90
  flang/unittests/Frontend/CompilerInstanceTest.cpp
Labels: none

[lldb] Remove unused MemorySize methods (NFC) (#205463)
  lldb/include/lldb/Core/Address.h
  lldb/include/lldb/Core/AddressRange.h
  lldb/include/lldb/Core/Declaration.h
  lldb/include/lldb/Core/Mangled.h
  lldb/include/lldb/Symbol/Block.h
  lldb/include/lldb/Symbol/Function.h
  lldb/include/lldb/Symbol/Variable.h
  lldb/include/lldb/Symbol/VariableList.h
  lldb/include/lldb/Utility/FileSpecList.h
  lldb/source/Core/Address.cpp
  lldb/source/Core/Declaration.cpp
  lldb/source/Core/Mangled.cpp
  lldb/source/Symbol/Block.cpp
  lldb/source/Symbol/Function.cpp
  lldb/source/Symbol/Variable.cpp
  lldb/source/Symbol/VariableList.cpp
  lldb/source/Utility/FileSpecList.cpp
Labels: none

~
  clang-tools-extra/clang-tidy/misc/ConstCorrectnessCheck.cpp
  clang-tools-extra/test/clang-tidy/checkers/misc/const-correctness-templates.cpp
  clang-tools-extra/test/clang-tidy/checkers/misc/const-correctness-values.cpp
Labels: none

clang: Replace getTargetID API with isProcessorName (#205653)
  clang/include/clang/Basic/TargetInfo.h
  clang/lib/Basic/Targets/AMDGPU.cpp
  clang/lib/Basic/Targets/AMDGPU.h
  clang/lib/Sema/SemaAMDGPU.cpp
Labels: none

Align the PR to 204611
  mlir/lib/Dialect/Vector/IR/VectorOps.cpp
Labels: none

[mlir][bazel]: only depend on needed LLVM translations in ExecutionEngine (#205619)
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: none

tweak
  lldb/bindings/interface/SBValueExtensions.i
Labels: none

Fix logic
  compiler-rt/test/builtins/Unit/lit.cfg.py
Labels: python

Add non recursive test case
  flang/test/Semantics/cuf29.cuf
Labels: none

[flang][OpenMP] Fix declare reduction lookup for USE...ONLY imports
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/mod-file.cpp
  flang/lib/Semantics/resolve-names-utils.cpp
  flang/lib/Semantics/resolve-names-utils.h
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/OpenMP/declare-reduction-overbroad-lookup.f90
  flang/test/Semantics/OpenMP/declare-reduction-use-mixed-merged.f90
  flang/test/Semantics/OpenMP/declare-reduction-use-only-defined-op.f90
  flang/test/Semantics/OpenMP/declare-reduction-use-only-merged.f90
  flang/test/Semantics/OpenMP/declare-reduction-use-only-renamed.f90
  flang/test/Semantics/OpenMP/declare-reduction-use-only.f90
  flang/test/Semantics/OpenMP/declare-reduction-use-reexport-merged.f90
  flang/test/Semantics/OpenMP/declare-reduction-use-reexport-remerge.f90
  flang/test/Semantics/OpenMP/declare-reduction-use-shadow-merged.f90
  flang/test/Semantics/OpenMP/declare-reduction-use-shadow.f90
Labels: none

Add another test.
  lld/test/ELF/arm-float-abi-check.s
Labels: none

Just do not use 'use, intrinsic'
  flang-rt/lib/runtime/CMakeLists.txt
  flang-rt/lib/runtime/__fortran_type_info.f90
  flang-rt/lib/runtime/cooperative_groups.f90
  flang-rt/lib/runtime/cudadevice.f90
  openmp/module/CMakeLists.txt
  openmp/module/omp_lib.F90.var
  runtimes/cmake/config-Fortran.cmake
Labels: openmp

Fix name
  flang/test/Semantics/cuf29.cuf
Labels: none

[OpenMP][Offload] Use argument pointer array in host kernels (#205355)
  clang/lib/CodeGen/CGStmtOpenMP.cpp
  clang/test/OpenMP/distribute_codegen.cpp
  clang/test/OpenMP/distribute_simd_codegen.cpp
  clang/test/OpenMP/target_dyn_groupprivate_codegen.cpp
  clang/test/OpenMP/target_firstprivate_codegen.cpp
  clang/test/OpenMP/target_ompx_dyn_cgroup_mem_codegen.cpp
  clang/test/OpenMP/target_parallel_codegen.cpp
  clang/test/OpenMP/target_parallel_for_codegen.cpp
  clang/test/OpenMP/target_parallel_for_simd_codegen.cpp
  clang/test/OpenMP/target_parallel_generic_loop_codegen-2.cpp
  clang/test/OpenMP/target_parallel_if_codegen.cpp
  clang/test/OpenMP/target_parallel_num_threads_codegen.cpp
  clang/test/OpenMP/target_parallel_num_threads_strict_codegen.cpp
  clang/test/OpenMP/target_private_codegen.cpp
  clang/test/OpenMP/target_task_affinity_codegen.cpp
  clang/test/OpenMP/target_teams_codegen.cpp
  clang/test/OpenMP/target_teams_distribute_codegen.cpp
  clang/test/OpenMP/target_teams_distribute_parallel_for_codegen.cpp
  clang/test/OpenMP/target_teams_distribute_parallel_for_firstprivate_codegen.cpp
  clang/test/OpenMP/target_teams_distribute_parallel_for_private_codegen.cpp
  clang/test/OpenMP/target_teams_distribute_parallel_for_simd_codegen.cpp
  clang/test/OpenMP/target_teams_distribute_parallel_for_simd_firstprivate_codegen.cpp
  clang/test/OpenMP/target_teams_distribute_parallel_for_simd_private_codegen.cpp
  clang/test/OpenMP/target_teams_distribute_simd_codegen.cpp
  clang/test/OpenMP/target_teams_generic_loop_codegen-1.cpp
  clang/test/OpenMP/target_teams_generic_loop_private_codegen.cpp
  clang/test/OpenMP/target_teams_map_codegen.cpp
  clang/test/OpenMP/target_teams_num_teams_codegen.cpp
  clang/test/OpenMP/target_teams_thread_limit_codegen.cpp
  clang/test/OpenMP/teams_codegen.cpp
  offload/plugins-nextgen/host/src/rtl.cpp
Labels: none

Fix Bazel build for fc03af0
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none

[mlir][linalg] Add category-to-named conversion in linalg-morph-ops
  mlir/include/mlir/Dialect/Linalg/Passes.td
  mlir/include/mlir/Dialect/Linalg/Transforms/Transforms.h
  mlir/lib/Dialect/Linalg/Transforms/CMakeLists.txt
  mlir/lib/Dialect/Linalg/Transforms/CategoryToNamedOp.cpp
  mlir/lib/Dialect/Linalg/Transforms/MorphOps.cpp
  mlir/test/Dialect/Linalg/linalg-morph-elementwise-to-named.mlir
Labels: none

[CIR] Keep memset alignment in array-new zero-init
  clang/lib/CIR/CodeGen/CIRGenExprCXX.cpp
  clang/test/CIR/CodeGen/new-array-init.cpp
  clang/test/CIR/CodeGen/new.cpp
  clang/test/CIR/CodeGen/paren-list-agg-init.cpp
  clang/test/CIR/CodeGenCXX/new-array-init.cpp
Labels: none

Fix
  clang/lib/ScalableStaticAnalysis/Analyses/SSAFAnalysesCommon.h
Labels: none

[AssumptionCache] Fix removeAffectedValues() when value is repeated in AssumeInst (#205275)
  llvm/lib/Analysis/AssumptionCache.cpp
  llvm/test/Transforms/DropUnnecessaryAssumes/dereferenceable.ll
Labels: none

[APInt] Consistently use the terms pdep/pext instead of expandBits/compressBits (#205112)
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/lib/AST/ExprConstant.cpp
  llvm/include/llvm/ADT/APInt.h
  llvm/lib/Analysis/ConstantFolding.cpp
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/lib/Support/APInt.cpp
  llvm/unittests/ADT/APIntTest.cpp
  llvm/unittests/Support/KnownBitsTest.cpp
Labels: none

Revert "[Bazel] Fixes 639c5a0 (#205273)"
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none

user-label-prefix extern C symbol
  libunwind/test/ra_sign_state.pass.cpp
Labels: none

s/cfi_set_ra_state/cfi_llvm_set_ra_state/
  llvm/lib/MC/MCDwarf.cpp
Labels: none

Fix top-level function collision && MatchedAnchorCache type
  llvm/include/llvm/Transforms/IPO/SampleProfileMatcher.h
  llvm/lib/Transforms/IPO/SampleProfileMatcher.cpp
Labels: none

[CIR][AArch64] Migrate vsubl_high/vsubw_high NEON tests to subtraction.c (#205508)
  clang/test/CodeGen/AArch64/neon-intrinsics.c
  clang/test/CodeGen/AArch64/neon/subtraction.c
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
