Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[MLIR][XeGPU][VectorToXeGPU] Fixed lowering of transfer_read/write for rank > 2 (#193308)
  mlir/include/mlir/Dialect/XeGPU/IR/XeGPUTypes.td
  mlir/lib/Conversion/VectorToXeGPU/VectorToXeGPU.cpp
  mlir/test/Conversion/VectorToXeGPU/transfer-read-to-xegpu.mlir
  mlir/test/Conversion/VectorToXeGPU/transfer-write-to-xegpu.mlir
Labels: none

[CIR] Tolerate identical source and destination in cir.copy (#193852)
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/test/CIR/CodeGen/self-assign.c
  clang/test/CIR/IR/invalid-copy.cir
Labels: none

[llvm] Introduce TargetInfo (#190730)
  llvm/include/llvm/ABI/TargetInfo.h
  llvm/include/llvm/ABI/Types.h
  llvm/lib/ABI/CMakeLists.txt
  llvm/lib/ABI/TargetInfo.cpp
  llvm/lib/ABI/Types.cpp
Labels: none

[flang] [flang-rt] Implement AT edit descriptor for Fortran 202X with appropriate handling and tests (#189157)
  flang-rt/include/flang-rt/runtime/format-implementation.h
  flang-rt/include/flang-rt/runtime/format.h
  flang-rt/lib/runtime/edit-input.cpp
  flang-rt/lib/runtime/edit-output.cpp
  flang-rt/unittests/Runtime/Format.cpp
  flang-rt/unittests/Runtime/NumericalFormatTest.cpp
  flang/docs/F202X.md
  flang/include/flang/Common/format.h
  flang/include/flang/Parser/format-specification.h
  flang/lib/Parser/io-parsers.cpp
  flang/lib/Parser/unparse.cpp
  flang/test/Semantics/io19.f90
Labels: none

[libc][math] Refactor ddiv family to header-only (#182149)
  libc/shared/math.h
  libc/shared/math/ddivf128.h
  libc/shared/math/ddivl.h
  libc/src/__support/math/CMakeLists.txt
  libc/src/__support/math/ddivf128.h
  libc/src/__support/math/ddivl.h
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/ddivf128.cpp
  libc/test/shared/CMakeLists.txt
  libc/test/shared/shared_math_constexpr_test.cpp
  libc/test/shared/shared_math_test.cpp
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none

[HLSL] Remove support for user-defined constructors and destructors (#193375)
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/test/CodeGenHLSL/GlobalDestructors.hlsl
  clang/test/CodeGenHLSL/inline-constructors.hlsl
  clang/test/SemaHLSL/Constructors.hlsl
  clang/test/SemaHLSL/GlobalConstructors.hlsl
Labels: none

[SLP] Update analyzeRtStrideCandidate() to correctly handle types widen than i8 (including revectorization) (#191878)
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/RISCV/basic-strided-loads.ll
  llvm/test/Transforms/SLPVectorizer/RISCV/revec-strided-load.ll
Labels: none

[CIR] Update uses of no-prototype GetGlobalOp (#193868)
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/test/CIR/CodeGen/no-proto-then-def.c
  clang/test/CIR/CodeGen/no-prototype.c
  clang/test/CIR/Transforms/cast-bitcast-funcptr-roundtrip-fold.cir
Labels: none

[DirectX] Resolve unreachable default branches in switch statements (#193592)
  llvm/lib/Target/DirectX/DXILLegalizePass.cpp
  llvm/test/CodeGen/DirectX/legalize-switch-unreachable.ll
Labels: none

[compiler-rt] Improve ubsan-minimal runtime for GPU use (#193597)
  compiler-rt/lib/sanitizer_common/sanitizer_internal_defs.h
  compiler-rt/lib/ubsan_minimal/ubsan_minimal_handlers.cpp
Labels: none

[SPIR-V][NewPM] Register IR-level passes with the new pass manager (#193660)
  llvm/lib/Target/SPIRV/SPIRV.h
  llvm/lib/Target/SPIRV/SPIRVLegalizeImplicitBinding.cpp
  llvm/lib/Target/SPIRV/SPIRVLegalizeImplicitBinding.h
  llvm/lib/Target/SPIRV/SPIRVLegalizePointerCast.cpp
  llvm/lib/Target/SPIRV/SPIRVLegalizePointerCast.h
  llvm/lib/Target/SPIRV/SPIRVMergeRegionExitTargets.cpp
  llvm/lib/Target/SPIRV/SPIRVMergeRegionExitTargets.h
  llvm/lib/Target/SPIRV/SPIRVPassRegistry.def
  llvm/lib/Target/SPIRV/SPIRVRegularizer.cpp
  llvm/lib/Target/SPIRV/SPIRVRegularizer.h
  llvm/lib/Target/SPIRV/SPIRVTargetMachine.cpp
  llvm/test/CodeGen/SPIRV/ctor-dtor-lowering-ir.ll
  llvm/test/CodeGen/SPIRV/llc-pipeline.ll
  llvm/test/CodeGen/SPIRV/passes/SPIRVLegalizeImplicitBinding.ll
  llvm/test/CodeGen/SPIRV/passes/SPIRVLegalizePointerCast.ll
  llvm/test/CodeGen/SPIRV/passes/SPIRVMergeRegionExitTargets.ll
  llvm/test/CodeGen/SPIRV/passes/SPIRVRegularizer-i1-icmp.ll
  llvm/test/CodeGen/SPIRV/pointers/load-vector-from-array-of-vectors.ll
  llvm/test/CodeGen/SPIRV/pointers/store-array-of-vectors-to-vector.ll
Labels: none

[lldb] Allow forks to occur in expression evaluation (#184815)
  lldb/include/lldb/API/SBExpressionOptions.h
  lldb/include/lldb/Target/Process.h
  lldb/include/lldb/Target/Target.h
  lldb/include/lldb/Target/Thread.h
  lldb/source/API/SBExpressionOptions.cpp
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.cpp
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.h
  lldb/source/Target/Process.cpp
  lldb/source/Target/StopInfo.cpp
  lldb/source/Target/Thread.cpp
  lldb/source/Target/ThreadPlanCallFunction.cpp
  lldb/test/API/commands/expression/expr-with-fork/Makefile
  lldb/test/API/commands/expression/expr-with-fork/TestExprWithFork.py
  lldb/test/API/commands/expression/expr-with-fork/main.cpp
Labels: python

AMDGPU: Implement getInstSizeVerifyMode (#191461)
  llvm/lib/Target/AMDGPU/AMDGPUMCInstLower.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
Labels: none

[MLIR][NVVM] Add `nvvm.ex2` OP (#193790)
  mlir/include/mlir/Dialect/LLVMIR/NVVMOps.td
  mlir/lib/Dialect/LLVMIR/IR/NVVMDialect.cpp
  mlir/test/Dialect/LLVMIR/nvvm-transcendentals.mlir
  mlir/test/Target/LLVMIR/nvvm/transcendentals.mlir
Labels: none

[CIR] Add `__attribute__((annotate(...)))` support (#193329)
  clang/include/clang/CIR/Dialect/IR/CIRAttrs.td
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/CodeGen/CIRGenDecl.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Dialect/Transforms/CXXABILowering.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/test/CIR/CodeGen/annotate-attribute.c
  clang/test/CIR/CodeGen/annotate-attribute.cpp
  clang/test/CIR/IR/annotation.cir
  clang/test/CIR/IR/invalid-annotation.cir
Labels: none

clang: Check -Xarch compatibility using Triple parsed architecture. (#189651)
  clang/lib/Driver/ToolChain.cpp
  clang/test/Driver/Xarch.c
Labels: none

Re-apply: workflows: Use main-branch-only environment when using ISSUE_SUBSCRIBER_TOKEN (#179990) (#193801)
  .github/workflows/issue-subscriber.yml
  .github/workflows/new-issues.yml
  .github/workflows/new-prs.yml
  .github/workflows/pr-subscriber.yml
  .github/workflows/release-asset-audit.yml
Labels: misc

[CIR] Fix remaining (part 2) FlattenCFG rewriter contract violations (#192503)
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/Dialect/Transforms/FlattenCFG.cpp
Labels: none

Revert "AMDGPU: Implement getInstSizeVerifyMode" (#194026)
  llvm/lib/Target/AMDGPU/AMDGPUMCInstLower.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
Labels: none

[LoopUnroll] Make optimization remarks more precise (#190714)
  llvm/include/llvm/Transforms/Utils/UnrollLoop.h
  llvm/lib/Transforms/Scalar/LoopUnrollPass.cpp
  llvm/lib/Transforms/Utils/LoopUnroll.cpp
  llvm/test/Transforms/LoopUnroll/debug-and-remarks.ll
Labels: none

[LoopVectorize] Don't replace widen with replicate for ExtractValueInst (#193404)
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/test/Transforms/LoopVectorize/extract-value-widen.ll
Labels: none

[mlir] Add analysis filter in dataflow solver (#192998)
  flang/lib/Optimizer/Transforms/StackArrays.cpp
  mlir/include/mlir/Analysis/DataFlowFramework.h
  mlir/lib/Analysis/DataFlowFramework.cpp
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUPropagateLayout.cpp
  mlir/test/Analysis/DataFlow/test-staged-analyses.mlir
  mlir/test/lib/Analysis/DataFlow/TestDeadCodeAnalysis.cpp
  mlir/test/lib/Analysis/DataFlow/TestDenseBackwardDataFlowAnalysis.cpp
  mlir/test/lib/Analysis/DataFlow/TestDenseForwardDataFlowAnalysis.cpp
  mlir/test/lib/Analysis/DataFlow/TestSparseBackwardDataFlowAnalysis.cpp
  mlir/test/lib/Analysis/TestDataFlowFramework.cpp
  mlir/tools/mlir-opt/mlir-opt.cpp
Labels: none

[SLP]Do not cache sentinel position for SplitVectorize nodes
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/X86/split-node-reused-in-later-vector.ll
  llvm/test/Transforms/SLPVectorizer/X86/split-node-throttled.ll
Labels: none

[NFC][lld] Avoid hex address case sensitivity in fill-trap tests (#194037)
  lld/test/ELF/fill-trap-ppc.s
  lld/test/ELF/fill-trap.s
Labels: none

[libc][math] Refactor fabs family to header-only (#182173)
  libc/shared/math.h
  libc/shared/math/fabs.h
  libc/shared/math/fabsbf16.h
  libc/shared/math/fabsf.h
  libc/shared/math/fabsf128.h
  libc/shared/math/fabsf16.h
  libc/shared/math/fabsl.h
  libc/src/__support/FPUtil/BasicOperations.h
  libc/src/__support/math/CMakeLists.txt
  libc/src/__support/math/fabs.h
  libc/src/__support/math/fabsbf16.h
  libc/src/__support/math/fabsf.h
  libc/src/__support/math/fabsf128.h
  libc/src/__support/math/fabsf16.h
  libc/src/__support/math/fabsl.h
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/fabs.cpp
  libc/src/math/generic/fabsf.cpp
  libc/src/math/generic/fabsf128.cpp
  libc/src/math/generic/fabsf16.cpp
  libc/src/math/generic/fabsl.cpp
  libc/test/shared/CMakeLists.txt
  libc/test/shared/shared_math_constexpr_test.cpp
  libc/test/shared/shared_math_test.cpp
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none

[lldb][Darwin] debugserver expedite new binary info, lldb use (#192754)
  lldb/docs/resources/lldbgdbremote.md
  lldb/include/lldb/Target/Thread.h
  lldb/source/Plugins/DynamicLoader/MacOSX-DYLD/DynamicLoaderMacOS.cpp
  lldb/source/Plugins/DynamicLoader/MacOSX-DYLD/DynamicLoaderMacOS.h
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.cpp
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.h
  lldb/source/Plugins/Process/gdb-remote/ThreadGDBRemote.cpp
  lldb/source/Plugins/Process/gdb-remote/ThreadGDBRemote.h
  lldb/tools/debugserver/source/DNB.cpp
  lldb/tools/debugserver/source/DNB.h
  lldb/tools/debugserver/source/JSONGenerator.h
  lldb/tools/debugserver/source/MacOSX/MachProcess.mm
  lldb/tools/debugserver/source/MacOSX/arm64/DNBArchImplARM64.cpp
  lldb/tools/debugserver/source/RNBRemote.cpp
Labels: none

[clang][deps] Keep module cache in memory (#192347)
  clang/include/clang/DependencyScanning/DependencyScanningService.h
  clang/include/clang/DependencyScanning/InProcessModuleCache.h
  clang/lib/DependencyScanning/InProcessModuleCache.cpp
  clang/lib/Serialization/ModuleCache.cpp
  clang/tools/clang-scan-deps/ClangScanDeps.cpp
  clang/tools/clang-scan-deps/Opts.td
Labels: none

[dsymutil] Handle DW_OP_GNU_push_tls_address in markEverythingAsKept (#193870)
  llvm/include/llvm/BinaryFormat/Dwarf.h
  llvm/include/llvm/DWARFLinker/AddressesMap.h
  llvm/lib/DWARFLinker/Classic/DWARFLinker.cpp
  llvm/lib/DWARFLinker/Classic/DWARFLinkerCompileUnit.cpp
  llvm/test/tools/dsymutil/X86/tls-variable.test
Labels: none

[lldb] Rewrite make rules for TestFileBreakpointsSameCUName.py (#193871)
  lldb/test/API/functionalities/breakpoint/same_cu_name/Makefile
Labels: none

[lldb] Fix build logic in TestPtrAuthExpressions.py (#193847)
  lldb/test/API/commands/expression/ptrauth/TestPtrAuthExpressions.py
Labels: python

[libc] Move mul_overflow to math_extras.h (#194033)
  libc/src/__support/math_extras.h
  libc/src/__support/memory_size.h
  libc/src/search/lfind.cpp
  libc/src/search/lsearch.cpp
Labels: none

[AMDGPU] Correct gfx950 smfmac sparse index verifier (#193541)
  mlir/include/mlir/Dialect/AMDGPU/IR/AMDGPUOps.td
  mlir/lib/Conversion/AMDGPUToROCDL/AMDGPUToROCDL.cpp
  mlir/lib/Dialect/AMDGPU/IR/AMDGPUOps.cpp
  mlir/test/Conversion/AMDGPUToROCDL/sparse-mfma-gfx950.mlir
  mlir/test/Dialect/AMDGPU/invalid.mlir
  mlir/test/Dialect/AMDGPU/ops.mlir
Labels: none

workflows/issue-release-workflow: Use GitHub app for generating tokens (#193825)
  .github/workflows/issue-release-workflow.yml
Labels: misc

[Offload][AMDGPU] Use ROCr API for APU check (#193887)
  offload/plugins-nextgen/amdgpu/dynamic_hsa/hsa_ext_amd.h
  offload/plugins-nextgen/amdgpu/src/rtl.cpp
Labels: none

[libc] Implement wcscoll (#192778)
  libc/config/linux/x86_64/entrypoints.txt
  libc/include/wchar.yaml
  libc/src/wchar/CMakeLists.txt
  libc/src/wchar/wcscoll.cpp
  libc/src/wchar/wcscoll.h
  libc/test/src/wchar/CMakeLists.txt
  libc/test/src/wchar/wcscoll_test.cpp
Labels: none

[NFC][NSAN] Use `getIntrinsicSignature` instead of `matchIntrinsicSignature` (#194025)
  llvm/lib/Transforms/Instrumentation/NumericalStabilitySanitizer.cpp
Labels: none

[AMD-GPU] Fix smfmac builtin target (#193999)
  clang/include/clang/Basic/BuiltinsAMDGPU.td
  clang/test/CodeGenOpenCL/builtins-amdgcn-gfx12-err.cl
  clang/test/CodeGenOpenCL/builtins-amdgcn-smfmac-err.cl
Labels: none

[NFC][MLIR] Use `getIntrinsicSignature` to verify overloaded intrinsics (#194035)
  mlir/lib/Target/LLVMIR/Dialect/LLVMIR/LLVMToLLVMIRTranslation.cpp
Labels: none

[clang] Add constant evaluation support for CK_ToUnion. (#193370)
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/AST/ExprConstant.cpp
  clang/lib/CodeGen/CGExprConstant.cpp
  clang/test/AST/ByteCode/const-eval.c
Labels: none

[llvm] Implement the BPF ABI (#194031)
  llvm/include/llvm/ABI/TargetInfo.h
  llvm/lib/ABI/CMakeLists.txt
  llvm/lib/ABI/Targets/BPF.cpp
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
