Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[X86] Rename commute-clmul.ll -> commute-pclmul.ll (#175157)
  llvm/test/CodeGen/X86/commute-pclmul.ll
Labels: none

Clarify the failure conditions of the makeTUSummaryExtractor API
  clang/include/clang/Analysis/Scalable/TUSummary/ExtractorRegistry.h
Labels: none

Add example in the ExtractorRegistry.h
  clang/include/clang/Analysis/Scalable/TUSummary/ExtractorRegistry.h
Labels: none

Get wasip3 into working state
  lld/wasm/Config.h
  lld/wasm/Driver.cpp
  lld/wasm/Relocations.cpp
  lld/wasm/SyntheticSections.cpp
  lld/wasm/Writer.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyTargetMachine.cpp
Labels: none

[flang] Fix homonymous interface and procedure warning (#171696)
  flang/lib/Semantics/resolve-names.cpp
Labels: none

cherry-pick fixes
  llvm/include/llvm/Frontend/OpenMP/OMPIRBuilder.h
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
Labels: none

[mlir][OpenMP] Translation support for taskloop construct (#174386)
  llvm/include/llvm/Frontend/OpenMP/OMPIRBuilder.h
  llvm/include/llvm/Transforms/Utils/CodeExtractor.h
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
  mlir/include/mlir/Dialect/OpenMP/OpenMPOps.td
  mlir/include/mlir/Dialect/OpenMP/OpenMPOpsInterfaces.td
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/openmp-taskloop-no-context-struct.mlir
  mlir/test/Target/LLVMIR/openmp-taskloop.mlir
  mlir/test/Target/LLVMIR/openmp-todo.mlir
Labels: none

Update test
  clang/test/CIR/CodeGenBuiltins/X86/ms-x86-intrinsics.c
Labels: none

[mlir][OpenMP] Fix sanitizer error in buildTaskLikeBodyGenCallback (#174983)
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
Labels: none

[NFC][clang] Fix typo in Typebase.h
  clang/include/clang/AST/TypeBase.h
Labels: none

[MLIR][OpenMP] Add Initial Taskloop Clause Support (#174623)
  llvm/include/llvm/Frontend/OpenMP/OMPIRBuilder.h
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/openmp-taskloop-final.mlir
  mlir/test/Target/LLVMIR/openmp-taskloop-grainsize.mlir
  mlir/test/Target/LLVMIR/openmp-taskloop-if.mlir
  mlir/test/Target/LLVMIR/openmp-taskloop-mergeable.mlir
  mlir/test/Target/LLVMIR/openmp-taskloop-nogroup.mlir
  mlir/test/Target/LLVMIR/openmp-taskloop-num_tasks.mlir
  mlir/test/Target/LLVMIR/openmp-taskloop-priority.mlir
  mlir/test/Target/LLVMIR/openmp-taskloop-untied.mlir
  mlir/test/Target/LLVMIR/openmp-todo.mlir
Labels: none

[mlir][OpenMP] Don't allocate task context structure if not needed (#174588)
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/openmp-task-no-context-struct.mlir
  mlir/test/Target/LLVMIR/openmp-taskloop-no-context-struct.mlir
Labels: none

[MLIR][OpenMP] Support cancel taskgroup inside of taskloop (#174815)
  mlir/lib/Dialect/OpenMP/IR/OpenMPDialect.cpp
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/openmp-taskloop-cancel.mlir
  mlir/test/Target/LLVMIR/openmp-taskloop-cancellation-point.mlir
Labels: none

[MLIR][NVVM] Fix crash on invalid optimization level in NVVMTargetAttr (#173280)
  mlir/include/mlir/Dialect/LLVMIR/NVVMOps.td
  mlir/test/Dialect/LLVMIR/nvvm-target-invalid.mlir
Labels: none

Switch to using single quotes
  llvm/utils/update_mc_test_checks.py
Labels: python

[AllocToken] Fix attribute mismatch in AllocTokenPass (#174959)
  llvm/lib/Transforms/Instrumentation/AllocToken.cpp
Labels: none

[libc++][NFC] Small cleanups for `any`
  libcxx/include/any
Labels: none

[flang-rt][build] Disable build-time warning of '-Wshift-count-negative' from g++ compiler and remove unsupported floating-point data. (#174915)
  flang-rt/lib/runtime/extensions.cpp
Labels: none

[MLIR][Quant] Add DialectInlinerInterface to QuantDialect (#172509)
  mlir/lib/Dialect/Quant/IR/QuantOps.cpp
  mlir/test/Dialect/Quant/inlining.mlir
Labels: none

[NFC][clang] Fix a typo in Typebase.h (#175163)
  clang/include/clang/AST/TypeBase.h
Labels: none

Switch back to using backslashes
  llvm/utils/update_mc_test_checks.py
Labels: python

use DAP default timeout
  lldb/test/API/tools/lldb-dap/attach/TestDAP_attach.py
Labels: python

Fix Bazel build for 75fefa3
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: none

[mlir][Analysis] Improve `RegionBranchOpInterface` API usage
  mlir/lib/Analysis/SliceWalk.cpp
Labels: none

[CodeGen][NFC] Improve readability of getLocalLiveOutMIDef (#175074)
  llvm/lib/CodeGen/ReachingDefAnalysis.cpp
Labels: none

[clang] Fix string literal parsing on some attributes (#171017)
  clang/include/clang/Parse/Parser.h
  clang/lib/Parse/ParseDecl.cpp
  clang/test/Sema/attr-modular-format.c
Labels: none

[ReachingDefAnalysis][NFC] Use named constants.
  llvm/include/llvm/CodeGen/ReachingDefAnalysis.h
  llvm/lib/CodeGen/ReachingDefAnalysis.cpp
Labels: none

add match_optional
  mlir/python/mlir/dialects/ext.py
Labels: python

[mlir][Analysis][NFC] Improve `RegionBranchOpInterface` API usage (#173983)
  mlir/lib/Analysis/SliceWalk.cpp
Labels: none

[SystemZ] Support all formats with .insn directive
  llvm/lib/Target/SystemZ/AsmParser/SystemZAsmParser.cpp
  llvm/lib/Target/SystemZ/MCTargetDesc/SystemZInstPrinterCommon.cpp
  llvm/lib/Target/SystemZ/MCTargetDesc/SystemZInstPrinterCommon.h
  llvm/lib/Target/SystemZ/MCTargetDesc/SystemZMCAsmBackend.cpp
  llvm/lib/Target/SystemZ/MCTargetDesc/SystemZMCFixups.h
  llvm/lib/Target/SystemZ/SystemZInstrFormats.td
  llvm/lib/Target/SystemZ/SystemZInstrInfo.td
  llvm/lib/Target/SystemZ/SystemZOperands.td
  llvm/test/MC/SystemZ/directive-insn-z13.s
  llvm/test/MC/SystemZ/directive-insn-z14.s
  llvm/test/MC/SystemZ/directive-insn-z16.s
  llvm/test/MC/SystemZ/directive-insn-z17.s
  llvm/test/MC/SystemZ/directive-insn.s
Labels: none

formatting updates
  llvm/lib/Target/SystemZ/AsmParser/SystemZAsmParser.cpp
  llvm/lib/Target/SystemZ/MCTargetDesc/SystemZInstPrinterCommon.cpp
  llvm/lib/Target/SystemZ/MCTargetDesc/SystemZMCAsmBackend.cpp
  llvm/lib/Target/SystemZ/SystemZInstrFormats.td
  llvm/lib/Target/SystemZ/SystemZInstrInfo.td
  llvm/lib/Target/SystemZ/SystemZOperands.td
Labels: none

[clang][bytecode] Fix initializing array elems from string
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/test/AST/ByteCode/new-delete.cpp
Labels: none

set ninja parallel job count to 32 (#1048)
  .github/workflows/build_portable_linux_artifacts.yml
Labels: misc

[Utils][update_mc_test_checks] Handle double quotes in asm source (#175161)
  llvm/test/tools/UpdateTestChecks/update_mc_test_checks/Inputs/amdgpu_asm.s
  llvm/test/tools/UpdateTestChecks/update_mc_test_checks/Inputs/amdgpu_asm.s.expected
  llvm/utils/update_mc_test_checks.py
Labels: python

Replace undef with poison.
  llvm/test/CodeGen/SPIRV/legalization/vector-index-scalarization.ll
Labels: none

[flang][OpenMP] Prevent `omp.map.info` ops with user-defined mappers from being marked as parial maps (#175133)
  flang/lib/Optimizer/OpenMP/MapInfoFinalization.cpp
  flang/test/Transforms/omp-map-info-finalization-implicit-field.fir
  offload/test/offloading/fortran/default-mapper-nested-derived-type.f90
Labels: none

[X86] Add baseline test coverage for #169995
  llvm/test/CodeGen/X86/masked_packss.ll
  llvm/test/CodeGen/X86/masked_packus.ll
  llvm/test/CodeGen/X86/packss.ll
  llvm/test/CodeGen/X86/packus.ll
Labels: none

[CommandLine] Use DenseMap instead of StringMap (NFC) (#174988)
  llvm/include/llvm/Support/CommandLine.h
  llvm/lib/ExecutionEngine/Orc/JITTargetMachineBuilder.cpp
  llvm/lib/Support/CommandLine.cpp
  llvm/tools/llvm-ar/llvm-ar.cpp
  llvm/tools/llvm-remarkutil/RemarkSummary.cpp
  llvm/unittests/Support/CommandLineInit/CommandLineInitTest.cpp
  llvm/unittests/Support/CommandLineTest.cpp
Labels: none

Add PSTL, CMake, CI
  libcxx/Maintainers.md
Labels: none

[clang][bytecode] Fix APValues for arrays in dynamic allocations
  clang/lib/AST/ByteCode/Pointer.cpp
  clang/test/AST/ByteCode/new-delete.cpp
Labels: none
