Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[NFC][LLVM] Namespace cleanup in DeadStoreElimination
  llvm/lib/Transforms/Scalar/DeadStoreElimination.cpp
Labels: none

Update tests
  clang/test/Preprocessor/init.c
Labels: none

[NFC][LLVM] Namespace cleanup in FlattenCFGPass.cpp
  llvm/lib/Transforms/Scalar/FlattenCFGPass.cpp
Labels: none

[lldb] Remove obsolete comment in TestCortexMExceptionUnwind
  lldb/test/API/functionalities/unwind/cortex-m-exception/TestCortexMExceptionUnwind.py
Labels: python

[lldb] Cortex-M exception unwind API test cleanup
  lldb/test/API/functionalities/unwind/cortex-m-exception/TestCortexMExceptionUnwind.py
  lldb/test/API/functionalities/unwind/cortex-m-exception/armv7m-nofpu-exception.yaml
  lldb/test/API/functionalities/unwind/cortex-m-exception/binary.json
Labels: python

[lldb][API test] TestCortexMExceptionUnwind needs ARM llvm target
  lldb/test/API/functionalities/unwind/cortex-m-exception/TestCortexMExceptionUnwind.py
Labels: python

Add comment for pulling attribute in initialization
  llvm/lib/Transforms/IPO/AttributorAttributes.cpp
Labels: none

[lldb] Remove obsolete comment in TestCortexMExceptionUnwind
  lldb/test/API/functionalities/unwind/cortex-m-exception/TestCortexMExceptionUnwind.py
Labels: python

[sanitizer] Add cloak_sanitizer_signal_handlers runtime option (#162746)
  compiler-rt/lib/sanitizer_common/sanitizer_common.h
  compiler-rt/lib/sanitizer_common/sanitizer_flags.inc
  compiler-rt/lib/sanitizer_common/sanitizer_posix_libcdep.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_signal_interceptors.inc
  compiler-rt/test/sanitizer_common/TestCases/Linux/allow_user_segv.cpp
  compiler-rt/test/sanitizer_common/TestCases/Linux/cloak_sigaction.cpp
  compiler-rt/test/sanitizer_common/TestCases/Linux/cloak_signal.cpp
Labels: none

[RISCV] Support XSfmm LLVM IR and CodeGen (#143069)
  llvm/include/llvm/IR/IntrinsicsRISCVXsf.td
  llvm/lib/Target/RISCV/RISCVAsmPrinter.cpp
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.h
  llvm/lib/Target/RISCV/RISCVInstrInfoXSfmm.td
  llvm/test/CodeGen/RISCV/rvv/sifive-O0-ATM-ATK.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_mm_e4m3_e4m3.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_mm_e4m3_e5m2.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_mm_e5m2_e4m3.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_mm_e5m2_e5m2.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_mm_f_f.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_mm_s_s.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_mm_s_u.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_mm_u_s.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_mm_u_u.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_vlte16.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_vlte32.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_vlte64.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_vlte8.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_vsettk.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_vsettm.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_vsettnt.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_vste16.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_vste32.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_vste64.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_vste8.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_vtdiscard.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_vtmv_t_v.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_vtmv_v_t.ll
  llvm/test/CodeGen/RISCV/rvv/sifive_sf_vtzero_t.ll
Labels: none

[NFC][LLVM] Namespace cleanup in GVNSink
  llvm/lib/Transforms/Scalar/GVNSink.cpp
Labels: none

Copy incubator tests
  clang/test/CIR/CodeGen/ptrdiff.c
  clang/test/CIR/CodeGen/ptrdiff.cpp
Labels: none

Stash
  clang/include/clang/CIR/MissingFeatures.h
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/test/CIR/CodeGen/ptrdiff.c
  clang/test/CIR/CodeGen/ptrdiff.cpp
Labels: none

Clang-format
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
Labels: none

[mlir][tosa] Support RescaleOp with dynamic extension in TosaToLinalg (#155967)
  mlir/lib/Conversion/TosaToLinalg/TosaToLinalg.cpp
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg.mlir
Labels: none

use -loop-invariant-subset-hoisting in transform fuse.
  mlir/lib/Dialect/SCF/Transforms/TileUsingInterface.cpp
Labels: none

add pooling_ncw_max_fill_fuse example.
  mlir/lib/Dialect/SCF/Transforms/TileUsingInterface.cpp
  mlir/test/Interfaces/TilingInterface/tile-and-fuse-using-interface.mlir
  mlir/test/Interfaces/TilingInterface/tile-fuse-and-yield-using-interface.mlir
  mlir/test/Interfaces/TilingInterface/tile-fuse-and-yield-using-scfforall.mlir
Labels: none

[NFC][PowerPC] Lockdown instructions for floating point comparison with zero-vector (#162828)
  llvm/test/CodeGen/PowerPC/compare-vector-with-zero.ll
Labels: none

fix test
  mlir/test/Interfaces/TilingInterface/tile-and-fuse-using-interface.mlir
Labels: none

Revert "[sanitizer] Add cloak_sanitizer_signal_handlers runtime option (#162746)"
  compiler-rt/lib/sanitizer_common/sanitizer_common.h
  compiler-rt/lib/sanitizer_common/sanitizer_flags.inc
  compiler-rt/lib/sanitizer_common/sanitizer_posix_libcdep.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_signal_interceptors.inc
  compiler-rt/test/sanitizer_common/TestCases/Linux/allow_user_segv.cpp
  compiler-rt/test/sanitizer_common/TestCases/Linux/cloak_sigaction.cpp
  compiler-rt/test/sanitizer_common/TestCases/Linux/cloak_signal.cpp
Labels: none

Revert "[sanitizer] Add cloak_sanitizer_signal_handlers runtime option" (#163308)
  compiler-rt/lib/sanitizer_common/sanitizer_common.h
  compiler-rt/lib/sanitizer_common/sanitizer_flags.inc
  compiler-rt/lib/sanitizer_common/sanitizer_posix_libcdep.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_signal_interceptors.inc
  compiler-rt/test/sanitizer_common/TestCases/Linux/allow_user_segv.cpp
  compiler-rt/test/sanitizer_common/TestCases/Linux/cloak_sigaction.cpp
  compiler-rt/test/sanitizer_common/TestCases/Linux/cloak_signal.cpp
Labels: none

[sroa][profcheck] Propagate `select` profile
  llvm/lib/Transforms/Scalar/SROA.cpp
  llvm/test/Transforms/SROA/phi-and-select.ll
  llvm/utils/profcheck-xfail.txt
Labels: none

Support vector reduction for xor/maxnumf/minnumf
  mlir/lib/Dialect/Affine/Analysis/AffineAnalysis.cpp
  mlir/lib/Dialect/Vector/IR/VectorOps.cpp
  mlir/test/Dialect/Affine/SuperVectorize/vectorize_reduction.mlir
Labels: none

clangd: updated estimateMemoryUsage() to include ReverseRelations
  clang-tools-extra/clangd/index/MemIndex.cpp
  clang-tools-extra/clangd/index/dex/Dex.cpp
Labels: none

clangd: fixed comment for ReverseRelations()
  clang-tools-extra/clangd/index/Index.h
Labels: none

[RISCV] Modify RegMask Settings of Scalar Library Functions to Reduce Spills
  llvm/lib/Target/RISCV/RISCVRegisterInfo.cpp
  llvm/test/CodeGen/RISCV/combine-storetomstore.ll
  llvm/test/CodeGen/RISCV/intrinsic-cttz-elts-vscale.ll
  llvm/test/CodeGen/RISCV/pr135206.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fpowi.ll
  llvm/test/CodeGen/RISCV/rvv/fpclamptosat_vec.ll
  llvm/test/CodeGen/RISCV/rvv/frm-insert.ll
  llvm/test/CodeGen/RISCV/rvv/inline-asm.ll
  llvm/test/CodeGen/RISCV/rvv/lrint-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/lround-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/nontemporal-vp-scalable.ll
  llvm/test/CodeGen/RISCV/rvv/pr63596.ll
  llvm/test/CodeGen/RISCV/rvv/reg-alloc-reserve-bp.ll
  llvm/test/CodeGen/RISCV/rvv/rv32-spill-vector-csr.ll
  llvm/test/CodeGen/RISCV/rvv/rv64-spill-vector-csr.ll
  llvm/test/CodeGen/RISCV/rvv/setcc-fp-vp.ll
  llvm/test/CodeGen/RISCV/rvv/stack-slot-coloring.ll
  llvm/test/CodeGen/RISCV/rvv/stores-of-loads-merging.ll
  llvm/test/CodeGen/RISCV/rvv/vsetvli-insert-crossbb.ll
  llvm/test/CodeGen/RISCV/rvv/vsub-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/vxrm-insert.ll
  llvm/test/CodeGen/RISCV/srem-seteq-illegal-types.ll
Labels: none

[RFC][mlir][tosa] Remove Tosa MulOp Commutative attribute
  mlir/include/mlir/Dialect/Tosa/IR/TosaOps.td
Labels: none

clangd: added ReverseRelations() to Client
  clang-tools-extra/clangd/index/remote/Client.cpp
  clang-tools-extra/clangd/index/remote/Service.proto
Labels: none

Emit lxvkq and vsrq instructions for build vector patterns
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
  llvm/lib/Target/PowerPC/PPCISelLowering.h
  llvm/test/CodeGen/PowerPC/lxvkq-vec-constant.ll
  llvm/test/CodeGen/PowerPC/vector-reduce-add.ll
Labels: none

Removed redundant loops, updated comments
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
Labels: none

Added assert for unknown ShiftAmount and an early exit condition for FullValue of zeros and all ones
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
Labels: none

fix typo
  libunwind/src/DwarfInstructions.hpp
  libunwind/src/dwarf2.h
Labels: none

[PowerPC] vector compare greater than support for Zero vector comparisons
  llvm/lib/Target/PowerPC/PPCISelDAGToDAG.cpp
  llvm/test/CodeGen/PowerPC/compare-vector-with-zero.ll
  llvm/test/CodeGen/PowerPC/pr61315.ll
  llvm/test/CodeGen/PowerPC/recipest.ll
  llvm/test/CodeGen/PowerPC/setcc-logic.ll
  llvm/test/CodeGen/PowerPC/vector-popcnt-128-ult-ugt.ll
Labels: none

Changed the patch to work only with Integer vector types
  llvm/lib/Target/PowerPC/PPCISelDAGToDAG.cpp
Labels: none

Changed the patch to work only with Integer vector types
  llvm/lib/Target/PowerPC/PPCISelDAGToDAG.cpp
  llvm/test/CodeGen/PowerPC/recipest.ll
Labels: none

Reusing EVT VecVT
  llvm/lib/Target/PowerPC/PPCISelDAGToDAG.cpp
Labels: none

[NFC][Diagnostic] Try all permutations in longest match test (#163277)
  clang/unittests/Basic/DiagnosticTest.cpp
Labels: none

Remove dso_local noundef
  llvm/test/CodeGen/PowerPC/vector-all-ones.ll
Labels: none

[lldb-mcp] Register a NoOpMonitorCallback when launching lldb from lldb-mcp (#163270)
  lldb/tools/lldb-mcp/lldb-mcp.cpp
Labels: none

[Github] Bump LLVM Version in CI Container to 21.1.3
  .github/workflows/containers/github-action-ci/Dockerfile
Labels: misc
