Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

move `radians` implementation
  clang/include/clang/Basic/Builtins.td
  clang/include/clang/Basic/HLSLIntrinsics.td
  clang/lib/CodeGen/CGHLSLBuiltins.cpp
  clang/lib/CodeGen/CGHLSLRuntime.h
  clang/lib/Headers/hlsl/hlsl_intrinsic_helpers.h
  clang/lib/Sema/SemaHLSL.cpp
  clang/test/CodeGenHLSL/builtins/radians-builtin.hlsl
  clang/test/CodeGenHLSL/builtins/radians-overloads.hlsl
  clang/test/CodeGenHLSL/builtins/radians.hlsl
  clang/test/SemaHLSL/BuiltIns/half-float-only-errors.hlsl
  clang/test/SemaHLSL/BuiltIns/radians-errors.hlsl
  llvm/include/llvm/IR/IntrinsicsDirectX.td
  llvm/include/llvm/IR/IntrinsicsSPIRV.td
  llvm/lib/Target/DirectX/DXILIntrinsicExpansion.cpp
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/test/CodeGen/DirectX/radians.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/radians.ll
  llvm/test/CodeGen/SPIRV/opencl/radians.ll
Labels: none

[CIR] Implement the 'rest' of the TLS Model types
  clang/include/clang/CIR/Dialect/IR/CIRDialect.td
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/CodeGen/CIRGenDeclCXX.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Dialect/Transforms/LoweringPrepare.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/test/CIR/CodeGen/global-ctor-dtor.cpp
  clang/test/CIR/CodeGen/tls-model-func-scope.cpp
  clang/test/CIR/CodeGen/tls-model.cpp
  clang/test/CIR/IR/global.cir
  clang/test/CIR/IR/invalid-tls.cir
Labels: none

[𝘀𝗽𝗿] initial version
  llvm/docs/ContentAddressableStorage.md
  llvm/docs/ReleaseNotes.md
  llvm/include/llvm/CAS/ObjectStore.h
  llvm/include/llvm/CAS/OnDiskGraphDB.h
  llvm/lib/CAS/ObjectStore.cpp
  llvm/lib/CAS/OnDiskCAS.cpp
  llvm/lib/CAS/OnDiskGraphDB.cpp
  llvm/unittests/CAS/ObjectStoreTest.cpp
Labels: none

[CIR] Add cir.fmuladd op lowering to llvm.fmuladd (#215329)
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/test/CIR/IR/fenv.cir
  clang/test/CIR/Lowering/fenv.cir
Labels: none

resolve review comments - improve readability
  llvm/lib/Transforms/Vectorize/LoopVectorizationPlanner.h
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/test/Transforms/LoopVectorize/fold-epilogue-tail.ll
Labels: none

address review feedback.
  llvm/docs/ContentAddressableStorage.md
  llvm/include/llvm/CAS/ObjectStore.h
  llvm/include/llvm/CAS/OnDiskGraphDB.h
  llvm/lib/CAS/OnDiskGraphDB.cpp
Labels: none

[ValueTracking] Fix impliesPoison for instructions with flag-based poison
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/test/Transforms/InstCombine/select-logical-fmf.ll
  llvm/test/Transforms/InstSimplify/select-logical-fmf.ll
Labels: none

[ExtractAPI] Deterministically emit macros
  clang/lib/ExtractAPI/ExtractAPIConsumer.cpp
  clang/test/ExtractAPI/macros.c
Labels: none

[CIR] Add alias analysis skeleton (#214357)
  clang/include/clang/CIR/Dialect/Analysis/CIRAliasAnalysis.h
  clang/include/clang/CIR/Dialect/Analysis/CIRBasicAliasAnalysis.h
  clang/lib/CIR/Dialect/Analysis/CIRAliasAnalysis.cpp
  clang/lib/CIR/Dialect/Analysis/CIRBasicAliasAnalysis.cpp
  clang/lib/CIR/Dialect/Analysis/CMakeLists.txt
  clang/lib/CIR/Dialect/CMakeLists.txt
  clang/test/CIR/Analysis/alias-analysis-modref.cir
  clang/test/CIR/Analysis/alias-analysis.cir
  clang/test/CIR/lib/Analysis/CMakeLists.txt
  clang/test/CIR/lib/Analysis/TestCIRAliasAnalysis.cpp
  clang/test/CIR/lib/CMakeLists.txt
  clang/test/CIR/lib/lit.local.cfg
  clang/test/CMakeLists.txt
  clang/tools/cir-opt/CMakeLists.txt
  clang/tools/cir-opt/cir-opt.cpp
Labels: none

[llvm][AArch64] Fix callee-pops epilogue AUT (#211889)
  llvm/lib/Target/AArch64/AArch64PointerAuth.cpp
  llvm/test/CodeGen/AArch64/ptrauth-tail-call-stackadjust.ll
Labels: none

[AArch64][GlobalISel] Change the remaining tests to concrete types. NFC
  llvm/test/CodeGen/AArch64/GlobalISel/arm64-saddlp1d-uaddlp1d.mir
  llvm/test/CodeGen/AArch64/GlobalISel/inline-memcpy.mir
  llvm/test/CodeGen/AArch64/GlobalISel/inline-memmove.mir
  llvm/test/CodeGen/AArch64/GlobalISel/inline-memset-forced.mir
  llvm/test/CodeGen/AArch64/GlobalISel/inline-memset.mir
  llvm/test/CodeGen/AArch64/GlobalISel/inline-small-memcpy.mir
  llvm/test/CodeGen/AArch64/GlobalISel/legalize-undef.mir
  llvm/test/CodeGen/AArch64/GlobalISel/load-addressing-modes.mir
  llvm/test/CodeGen/AArch64/GlobalISel/localizer-propagate-debug-loc.mir
  llvm/test/CodeGen/AArch64/GlobalISel/localizer.mir
Labels: none

[AArch64][GlobalISel] Change the remaining tests to concrete types. NFC (#215383)
  llvm/test/CodeGen/AArch64/GlobalISel/arm64-saddlp1d-uaddlp1d.mir
  llvm/test/CodeGen/AArch64/GlobalISel/inline-memcpy.mir
  llvm/test/CodeGen/AArch64/GlobalISel/inline-memmove.mir
  llvm/test/CodeGen/AArch64/GlobalISel/inline-memset-forced.mir
  llvm/test/CodeGen/AArch64/GlobalISel/inline-memset.mir
  llvm/test/CodeGen/AArch64/GlobalISel/inline-small-memcpy.mir
  llvm/test/CodeGen/AArch64/GlobalISel/legalize-undef.mir
  llvm/test/CodeGen/AArch64/GlobalISel/load-addressing-modes.mir
  llvm/test/CodeGen/AArch64/GlobalISel/localizer-propagate-debug-loc.mir
  llvm/test/CodeGen/AArch64/GlobalISel/localizer.mir
Labels: none

more test updates
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-trunc.ll
  llvm/test/CodeGen/AArch64/tailcall_misched_graph.ll
  llvm/test/CodeGen/AMDGPU/gfx-callable-return-types.ll
  llvm/test/CodeGen/AMDGPU/memintrinsic-unroll.ll
  llvm/test/CodeGen/X86/vector-interleaved-load-i64-stride-8.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i64-stride-8.ll
Labels: none

[lldb] Fix Swift basename indexing broken by merge conflict resolution
  lldb/source/Symbol/Symtab.cpp
Labels: none

[libcxxabi] Fix PODSmallVector zero-capacity growth
  libcxxabi/src/demangle/ItaniumDemangle.h
  libcxxabi/test/unittest_demangle.pass.cpp
  llvm/include/llvm/Demangle/ItaniumDemangle.h
Labels: none

[OpenACC] Don't generate a call to emitStmt if we don't have one.
  clang/lib/CIR/CodeGen/CIRGenStmtOpenACC.cpp
  clang/lib/CIR/CodeGen/CIRGenStmtOpenACCLoop.cpp
  clang/lib/CodeGen/CodeGenFunction.h
  clang/test/CodeGen/openacc-invalid-stmt.cpp
Labels: none

Jonas suggestion
  lldb/include/lldb/Utility/Listener.h
  lldb/source/Utility/Listener.cpp
Labels: none

[RISC-V] Use an optional offset for C/Zc* extension instruction
  llvm/lib/Target/RISCV/RISCVInstrInfo.td
  llvm/lib/Target/RISCV/RISCVInstrInfoC.td
  llvm/lib/Target/RISCV/RISCVInstrInfoXqci.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZc.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZclsd.td
  llvm/test/MC/RISCV/insn_c.s
  llvm/test/MC/RISCV/rv32c-invalid.s
  llvm/test/MC/RISCV/rv32dc-invalid.s
  llvm/test/MC/RISCV/rv32fc-invalid.s
  llvm/test/MC/RISCV/rv32zclsd-invalid.s
Labels: none

add impl
  flang/lib/Optimizer/Transforms/FIRToMemRef.cpp
Labels: none

[CIR] Fix a pair of classic codegen tests
  clang/test/CIR/CodeGen/attr-noundef.cpp
  clang/test/CIR/CodeGen/lambda-dtor-field.cpp
Labels: none

Reapply "[Clang][UnsafeBufferUsage] Warn about two-arg string_view constructors. (#180471)" (#185692)
  clang/docs/ReleaseNotes.md
  clang/include/clang/Analysis/Analyses/UnsafeBufferUsage.h
  clang/include/clang/Analysis/Analyses/UnsafeBufferUsageGadgets.def
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Analysis/UnsafeBufferUsage.cpp
  clang/lib/Sema/AnalysisBasedWarnings.cpp
  clang/test/SemaCXX/warn-unsafe-buffer-usage-string-view.cpp
Labels: none

Fix assertion failure on iterator to ptr implicit conversion
  clang/lib/Analysis/UnsafeBufferUsage.cpp
  clang/test/SemaCXX/warn-unsafe-buffer-usage-string-view.cpp
Labels: none

libcxx/libcxxabi/libunwind formatting fixes
  libcxx/utils/wasm.py
  libcxxabi/src/cxa_personality.cpp
  libunwind/src/config.h
Labels: python

Revert "[SPIRV] Legalize atomicrmw through byte-buffer ptrcasts"
  llvm/lib/Target/SPIRV/SPIRVLegalizePointerCast.cpp
  llvm/test/CodeGen/SPIRV/passes/SPIRVLegalizePointerCast.ll
Labels: none

[NVPTX] Update tcgen05 shortptr test
  llvm/test/CodeGen/NVPTX/tcgen05-commit-sm107.ll
Labels: none

Update llvm/unittests/CAS/CASTestConfig.cpp
  llvm/unittests/CAS/CASTestConfig.cpp
Labels: none

remove legacy fatbin registration wrapping
  offload/languages/README.md
  offload/languages/kernel/include/LanguageAliases.inc
  offload/languages/kernel/include/LanguageLaunch.h
  offload/languages/kernel/include/LanguageRegistration.h
  offload/languages/kernel/include/State.h
  offload/languages/kernel/src/LanguageLaunch.cpp
  offload/languages/kernel/src/LanguageRegistration.cpp
  offload/languages/kernel/src/LanguageRuntime.cpp
  offload/languages/kernel/src/State.cpp
Labels: none

Fix visibility of default arguments in friends.
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/test/Modules/default-argument-in-friend.cpp
Labels: none

Add `wasm32-wasip1` to `libcxx-pr-conformance-tests.yaml`
  .github/workflows/libcxx-pr-conformance-tests.yaml
Labels: misc

Try getting the just-built LLDB detected
  libcxx/utils/ci/run-buildbot
Labels: none

Change the diagnostic message wording for mixed linkage
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaDecl.cpp
  clang/test/C/C2y/n3410.c
Labels: none

[CodeGen] Overload `adjustLaneLiveness` to cleanly split use cases (NFC)
  llvm/include/llvm/CodeGen/RegisterPressure.h
  llvm/lib/CodeGen/MachineScheduler.cpp
  llvm/lib/CodeGen/RegisterPressure.cpp
  llvm/lib/Target/AMDGPU/GCNIterativeScheduler.cpp
  llvm/lib/Target/AMDGPU/GCNSchedStrategy.cpp
  llvm/unittests/CodeGen/RematerializerTest.cpp
Labels: none

Changed attribute so it cycles through each use without stopping early when encountering a bad callsite
  llvm/lib/Target/AMDGPU/AMDGPUAttributor.cpp
Labels: none

[SCEV] Clear forgotten AddRec nowrap flags
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/lib/Transforms/Scalar/LoopFlatten.cpp
  llvm/lib/Transforms/Scalar/LoopPassManager.cpp
Labels: none

Changed budget calculation to default half split when there is no attribute
  llvm/lib/Target/AMDGPU/GCNSubtarget.cpp
Labels: none

[bazel][libc] Fix Darwin syscall header path and missing hardening dependency
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none

These tests needed an trivial budget cap of 256,256 for them to replicate old behavior
  llvm/test/CodeGen/AMDGPU/agpr-copy-no-free-registers-assertion-after-ra-failure.ll
  llvm/test/CodeGen/AMDGPU/agpr-copy-no-free-registers.ll
  llvm/test/CodeGen/AMDGPU/amdgpu-no-agprs-violations.ll
  llvm/test/CodeGen/AMDGPU/amdgpu-prepare-agpr-alloc.mir
  llvm/test/CodeGen/AMDGPU/copy-vgpr-clobber-spill-vgpr.mir
  llvm/test/CodeGen/AMDGPU/large-avgpr-assign-last.mir
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.mfma.scale.f32.32x32x64.f8f6f4.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.mfma.xf32.gfx942.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.smfmac.gfx950.ll
  llvm/test/CodeGen/AMDGPU/preload-implicit-kernargs.ll
  llvm/test/CodeGen/AMDGPU/preload-kernargs.ll
  llvm/test/CodeGen/AMDGPU/rewrite-mfma-form-spill-cost-reset.ll
  llvm/test/CodeGen/AMDGPU/smfmac_no_agprs.ll
  llvm/test/CodeGen/AMDGPU/spill-regpressure-less.mir
  llvm/test/CodeGen/AMDGPU/vgpr-agpr-limit-gfx90a.ll
Labels: none

[bazel][libc] Update path to syscall.h for darwin aarch64
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none

[lldb][test] Give each inline test its own function object
  lldb/packages/Python/lldbsuite/test/decorators.py
  lldb/packages/Python/lldbsuite/test/lldbinline.py
Labels: python

[bazel][libc] Fix Darwin syscall header path and missing hardening dependency (#215397)
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
