Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

review: test comments
  llvm/test/CodeGen/DirectX/ResourceAccess/handle-cases.ll
  llvm/test/CodeGen/DirectX/ResourceAccess/non-unique.ll
Labels: none

adding mpi::reduce_scatter_block, lowering to llvm and tests
  mlir/include/mlir/Dialect/MPI/IR/MPIOps.td
  mlir/lib/Conversion/MPIToLLVM/MPIToLLVM.cpp
  mlir/test/Conversion/MPIToLLVM/mpitollvm.mlir
  mlir/test/Dialect/MPI/mpiops.mlir
Labels: none

using correct recvcount for lowering mpi.reduce_scatter
  mlir/include/mlir/Dialect/MPI/IR/MPIOps.td
  mlir/lib/Conversion/MPIToLLVM/MPIToLLVM.cpp
  mlir/lib/Conversion/ShardToMPI/ShardToMPI.cpp
  mlir/lib/Dialect/Shard/Transforms/Simplify.cpp
  mlir/test/Conversion/MPIToLLVM/mpitollvm.mlir
Labels: none

simplify pass (was test-simplification) and lowering shard.reduce_scatter to MPI
  mlir/include/mlir/Dialect/Shard/IR/ShardOps.td
  mlir/include/mlir/Dialect/Shard/Transforms/Partition.h
  mlir/include/mlir/Dialect/Shard/Transforms/Passes.td
  mlir/include/mlir/Dialect/Shard/Transforms/Simplify.h
  mlir/lib/Conversion/ShardToMPI/ShardToMPI.cpp
  mlir/lib/Dialect/Shard/IR/ShardOps.cpp
  mlir/lib/Dialect/Shard/Transforms/CMakeLists.txt
  mlir/lib/Dialect/Shard/Transforms/Simplify.cpp
  mlir/test/Conversion/ShardToMPI/convert-shard-to-mpi.mlir
  mlir/test/Dialect/Shard/all-scatter-op-lowering.mlir
  mlir/test/Dialect/Shard/canonicalization.mlir
  mlir/test/Dialect/Shard/folding.mlir
  mlir/test/Dialect/Shard/invalid.mlir
  mlir/test/Dialect/Shard/ops.mlir
  mlir/test/Dialect/Shard/simplify.mlir
  mlir/test/lib/Dialect/Shard/CMakeLists.txt
  mlir/test/lib/Dialect/Shard/TestReshardingPartition.cpp
  mlir/test/lib/Dialect/Shard/TestSimplifications.cpp
  mlir/tools/mlir-opt/mlir-opt.cpp
Labels: none

[DAG] isKnownNeverZero - update ISD::SRA/SRL DemandedElts tests at X86/known-never-zero.ll (#184140)
  llvm/test/CodeGen/X86/known-never-zero.ll
Labels: none

[flang][runtime] Emit "Infinity" rather than "Inf" when required (#183359)
  flang-rt/lib/runtime/edit-output.cpp
  flang-rt/lib/runtime/edit-output.h
  flang-rt/unittests/Runtime/NumericalFormatTest.cpp
Labels: none

remove the leading whitespace
  clang-tools-extra/clang-doc/Serialize.cpp
  clang-tools-extra/test/clang-doc/enum.cpp
Labels: none

[flang] Let -fdisable-real-10 affect only user code (#183870)
  flang/lib/Semantics/expression.cpp
  flang/test/Semantics/bug2236.f90
Labels: none

self-review: fix missing warning flag error
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
Labels: none

[HLSL][Matrix] Make Matrix InitListExprs and AST row-major order, and respect /Zpr and /Zpc in codegen (#182904)
  clang/include/clang/AST/TypeBase.h
  clang/lib/CodeGen/CGExprScalar.cpp
  clang/lib/Sema/SemaInit.cpp
  clang/test/AST/HLSL/matrix-constructors.hlsl
  clang/test/AST/HLSL/matrix-general-initializer.hlsl
  clang/test/AST/HLSL/matrix-init-list-row-major.hlsl
  clang/test/CodeGenHLSL/BasicFeatures/MatrixConstructor.hlsl
  clang/test/CodeGenHLSL/BasicFeatures/MatrixInitializerListOrder.hlsl
  clang/test/CodeGenHLSL/BasicFeatures/MatrixToAndFromVectorConstructors.hlsl
  clang/test/CodeGenHLSL/BoolMatrix.hlsl
Labels: none

[lldb][Target] Allow eLanguageTypeAssembly to use ScratchTypeSystemClang (#183771)
  lldb/source/Target/Target.cpp
  lldb/unittests/Target/CMakeLists.txt
  lldb/unittests/Target/ScratchTypeSystemTest.cpp
Labels: none

review: correct upperbound computation
  llvm/lib/Target/DirectX/DXILResourceAccess.cpp
Labels: none

[AMDGPU] Make the options consistent across 3 RA pipelines(NFC)
  llvm/test/CodeGen/AMDGPU/attr-amdgpu-flat-work-group-size-vgpr-limit.ll
Labels: none

fixup! [lldb][Process/FreeBSDKernelCore] Improve DoUpdateThreadList()
  lldb/source/Plugins/Process/FreeBSD-Kernel-Core/ProcessFreeBSDKernelCore.cpp
  llvm/docs/ReleaseNotes.md
Labels: none

[CI] Add libsycl precommit testing
  .github/workflows/sycl-tests.yml
Labels: misc

Address review: drop custom test and regenerate known-never-zero.ll
  llvm/test/CodeGen/X86/is-known-never-zero-extract.ll
  llvm/test/CodeGen/X86/known-never-zero.ll
Labels: none

Add missing const to getFlattenedIndex function
  clang/include/clang/AST/TypeBase.h
Labels: none

vla
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/Sema/SemaChecking.cpp
  clang/test/CodeGen/builtin-clear-padding-codegen.c
  clang/test/CodeGenCXX/builtin-clear-padding-codegen.cpp
  clang/test/Sema/builtin-clear-padding.c
  clang/test/SemaCXX/builtin-clear-padding.cpp
Labels: none

[SROA] Use partition-local check for phi/select in struct-to-vector guard
  llvm/lib/Transforms/Scalar/SROA.cpp
  llvm/test/Transforms/SROA/struct-to-vector-subpartition.ll
Labels: none

[AArch64][SVE] Support SVE load/store non-zero address space pointers (#183265)
  llvm/include/llvm/IR/IntrinsicsAArch64.td
  llvm/lib/IR/AutoUpgrade.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/Bitcode/upgrade-aarch64-sve-intrinsics.ll
  llvm/test/CodeGen/AArch64/sve-calling-convention-mixed.ll
  llvm/test/CodeGen/AArch64/sve-coalesce-ptrue-intrinsics.ll
  llvm/test/CodeGen/AArch64/sve-intrinsics-ldN-sret-reg+imm-addr-mode.ll
  llvm/test/CodeGen/AArch64/sve-intrinsics-ldN-sret-reg+reg-addr-mode.ll
  llvm/test/CodeGen/AArch64/sve-merging-stores.ll
  llvm/test/Transforms/InstCombine/scalable-trunc.ll
  llvm/test/Transforms/InterleavedAccess/AArch64/scalable-deinterleave-intrinsics.ll
  llvm/test/Transforms/InterleavedAccess/AArch64/sve-deinterleave4.ll
  llvm/test/Transforms/InterleavedAccess/AArch64/sve-interleave4.ll
  llvm/test/Transforms/InterleavedAccess/AArch64/sve-interleaved-accesses.ll
  llvm/test/Transforms/PhaseOrdering/AArch64/sve-interleave-vectorization.ll
Labels: none

Apply suggestions from code review
  libc/shared/math/powf16.h
  libc/src/__support/math/powf16.h
  libc/test/src/math/CMakeLists.txt
Labels: none

[X86] Support X86ISD::VBROADCAST for v4X32/v2X64 types on AVX1
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/lib/Target/X86/X86InstrSSE.td
  llvm/test/CodeGen/X86/any_extend_vector_inreg_of_broadcast.ll
  llvm/test/CodeGen/X86/buildvec-insertvec.ll
  llvm/test/CodeGen/X86/matrix-multiply.ll
  llvm/test/CodeGen/X86/pr62286.ll
  llvm/test/CodeGen/X86/select-big-integer.ll
  llvm/test/CodeGen/X86/sse3-avx-addsub-2.ll
  llvm/test/CodeGen/X86/vector-fshl-256.ll
  llvm/test/CodeGen/X86/vector-shift-by-select-loop.ll
  llvm/test/CodeGen/X86/vector-shuffle-128-v4.ll
  llvm/test/CodeGen/X86/zero_extend_vector_inreg_of_broadcast.ll
Labels: none

Revert "[CMake] Use keyword signature in two additional callsites (#1… (#184186)
  clang/cmake/modules/AddClang.cmake
  lld/tools/lld/CMakeLists.txt
  llvm/cmake/modules/AddLLVM.cmake
  llvm/cmake/modules/LLVM-Config.cmake
  mlir/cmake/modules/AddMLIR.cmake
Labels: none

[HIP] Fix wrong triple being passed to offload-bundler
  clang/lib/Driver/ToolChains/Clang.cpp
Labels: none

suggested changes
  clang-tools-extra/clang-tidy/hicpp/NoAssemblerCheck.cpp
  clang-tools-extra/clang-tidy/hicpp/NoAssemblerCheck.h
  clang-tools-extra/clang-tidy/portability/NoAssemblerCheck.h
  clang-tools-extra/clang-tidy/portability/PortabilityTidyModule.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/hicpp/no-assembler.rst
  clang-tools-extra/docs/clang-tidy/checks/portability/no-assembler.rst
Labels: none

InstCombine: Support extractvalue in SimplifyDemandedFPClass
  llvm/lib/Transforms/InstCombine/InstCombineSimplifyDemanded.cpp
  llvm/test/Transforms/InstCombine/simplify-demanded-fpclass-aggregates.ll
Labels: none

adding performance hints
  mlir/lib/Dialect/Shard/Transforms/Simplify.cpp
Labels: none

Address review comment
  lldb/source/Plugins/DynamicLoader/POSIX-DYLD/DynamicLoaderPOSIXDYLD.cpp
Labels: none

Apply suggestions from code review
  libc/test/src/math/exhaustive/CMakeLists.txt
  libc/test/src/math/smoke/CMakeLists.txt
Labels: none

Update mlir/lib/Conversion/MPIToLLVM/MPIToLLVM.cpp
  mlir/lib/Conversion/MPIToLLVM/MPIToLLVM.cpp
Labels: none

Update mlir/lib/Conversion/ShardToMPI/ShardToMPI.cpp
  mlir/lib/Conversion/ShardToMPI/ShardToMPI.cpp
Labels: none

nit commit - formatting fixup
  llvm/tools/llvm-ir2vec/lib/Utils.h
Labels: none

Adding Inst Embeddings Map API to ir2vec python bindings - returns a nested map indexed by functions
  llvm/test/tools/llvm-ir2vec/bindings/ir2vec-bindings.py
  llvm/tools/llvm-ir2vec/Bindings/PyIR2Vec.cpp
  llvm/tools/llvm-ir2vec/lib/Utils.cpp
  llvm/tools/llvm-ir2vec/lib/Utils.h
Labels: python

nit commit - formatting fixup
  llvm/test/tools/llvm-ir2vec/bindings/ir2vec-bindings.py
  llvm/tools/llvm-ir2vec/lib/Utils.cpp
  llvm/tools/llvm-ir2vec/lib/Utils.h
Labels: python

nit commit - python file formatting fixup
  llvm/test/tools/llvm-ir2vec/bindings/ir2vec-bindings.py
Labels: python

Changing Inst Embedding Map API to limit to a specific function
  llvm/test/tools/llvm-ir2vec/bindings/ir2vec-bindings.py
  llvm/tools/llvm-ir2vec/Bindings/PyIR2Vec.cpp
  llvm/tools/llvm-ir2vec/lib/Utils.cpp
  llvm/tools/llvm-ir2vec/lib/Utils.h
Labels: python

Changing from return Emb to return std::move(Emb)
  llvm/tools/llvm-ir2vec/lib/Utils.cpp
Labels: none

Nit commit - renaming getIR2VecEmbedder to createIR2VecEmbedder
  llvm/tools/llvm-ir2vec/lib/Utils.cpp
  llvm/tools/llvm-ir2vec/lib/Utils.h
Labels: none

Work Commit - refactoring Tool class methods to have a separate method for embedder object creation
  llvm/tools/llvm-ir2vec/lib/Utils.cpp
  llvm/tools/llvm-ir2vec/lib/Utils.h
Labels: none

[lldb][NFC] Use UnimplementedError for GetSDKFromDebugInfo
  lldb/include/lldb/Target/Platform.h
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
