Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

Fix bitinsert verifier parameter name
  llvm/lib/IR/Verifier.cpp
Labels: none

Improve bit operation operand diagnostics
  llvm/include/llvm/IR/Instructions.h
  llvm/lib/AsmParser/LLParser.cpp
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/lib/IR/Instructions.cpp
  llvm/lib/IR/Verifier.cpp
  llvm/test/Assembler/bitinsert-bitextract-invalid.ll
Labels: none

[clang][OpenMP] Capture statement expressions used as loop bounds even when constant
  clang/docs/ReleaseNotes.md
  clang/lib/Sema/SemaOpenMP.cpp
  clang/test/OpenMP/for_collapse_stmt_expr_codegen.cpp
Labels: none

pad concatenateVectors with poison
  llvm/lib/Analysis/VectorUtils.cpp
  llvm/test/Transforms/LoopVectorize/X86/interleaved-accesses-sink-store-across-load.ll
Labels: none

format
  llvm/lib/Analysis/VectorUtils.cpp
Labels: none

Corrected windows 64-bit includes usage
  libcxx/src/stacktrace/windows_impl.cpp
Labels: none

Improve test coverage; some style fixes
  libcxx/src/stacktrace/images.h
  libcxx/test/std/diagnostics/stacktrace/basic.cons/copy.pass.cpp
  libcxx/test/std/diagnostics/stacktrace/basic.cons/move.pass.cpp
  libcxx/test/std/diagnostics/stacktrace/basic.hash.pass.cpp
  libcxx/test/std/diagnostics/stacktrace/basic.mod/swap.pass.cpp
  libcxx/test/std/diagnostics/stacktrace/basic.obs/at.pass.cpp
  libcxx/test/std/diagnostics/stacktrace/entry.cmp/equality.pass.cpp
Labels: none

avoid_zextvalue
  clang/lib/CodeGen/CGStmtOpenMP.cpp
  clang/lib/Sema/SemaOpenMP.cpp
Labels: none

[AMDGPU] Remove dead function and method declarations (NFC) (#224889)
  llvm/lib/Target/AMDGPU/AMDGPU.h
  llvm/lib/Target/AMDGPU/AMDGPUISelLowering.h
  llvm/lib/Target/AMDGPU/AMDGPULibFunc.h
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.h
  llvm/lib/Target/AMDGPU/GCNRegPressure.h
  llvm/lib/Target/AMDGPU/GCNSchedStrategy.h
  llvm/lib/Target/AMDGPU/GCNSubtarget.h
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.h
  llvm/lib/Target/AMDGPU/R600ISelLowering.h
  llvm/lib/Target/AMDGPU/R600InstrInfo.h
  llvm/lib/Target/AMDGPU/SIFixSGPRCopies.cpp
  llvm/lib/Target/AMDGPU/SIMachineScheduler.h
Labels: none

Add more pmr tests
  libcxx/test/std/diagnostics/stacktrace/basic.cmp/equality.pass.cpp
  libcxx/test/std/diagnostics/stacktrace/basic.cmp/strong_ordering.pass.cpp
  libcxx/test/std/diagnostics/stacktrace/basic.cons/current.pass.cpp
  libcxx/test/std/diagnostics/stacktrace/basic.obs/get_allocator.pass.cpp
Labels: none

[mlir][bufferization] Hoist allocations through exactly-once regions
  mlir/lib/Dialect/Bufferization/Transforms/BufferOptimizations.cpp
  mlir/test/Dialect/Bufferization/Transforms/buffer-loop-hoisting.mlir
Labels: none

[Mips] Fix O32 lowering on 64-bit CPUs (#224937)
  llvm/lib/Target/Mips/MipsSEFrameLowering.cpp
  llvm/lib/Target/Mips/MipsSEISelDAGToDAG.cpp
  llvm/lib/Target/Mips/MipsSEInstrInfo.cpp
  llvm/lib/Target/Mips/MipsSubtarget.cpp
  llvm/test/CodeGen/Mips/cconv/arguments-float.ll
  llvm/test/CodeGen/Mips/cconv/arguments-struct.ll
  llvm/test/CodeGen/Mips/cconv/arguments-varargs.ll
  llvm/test/CodeGen/Mips/cconv/arguments.ll
  llvm/test/CodeGen/Mips/cconv/callee-saved-float.ll
  llvm/test/CodeGen/Mips/cconv/callee-saved.ll
  llvm/test/CodeGen/Mips/cconv/memory-layout.ll
  llvm/test/CodeGen/Mips/cconv/o32-fp64-gpr-moves.ll
  llvm/test/CodeGen/Mips/cconv/o32-mips64.ll
  llvm/test/CodeGen/Mips/cconv/reserved-space.ll
  llvm/test/CodeGen/Mips/cconv/return-float.ll
  llvm/test/CodeGen/Mips/cconv/return-hard-float.ll
  llvm/test/CodeGen/Mips/cconv/return-struct.ll
  llvm/test/CodeGen/Mips/cconv/return.ll
  llvm/test/CodeGen/Mips/cconv/stack-alignment.ll
Labels: none

[ConstraintElim] Simplify all overflow intrinsics using isKnownNoWrap. (#224848)
  llvm/lib/Transforms/Scalar/ConstraintElimination.cpp
  llvm/test/Transforms/ConstraintElimination/mul-with-overflow.ll
  llvm/test/Transforms/ConstraintElimination/uadd-with-overflow.ll
  llvm/test/Transforms/ConstraintElimination/usub-with-overflow.ll
Labels: none

Fix allocator handling (propagation) in copy and moves
  libcxx/include/__stacktrace/basic_stacktrace.h
  libcxx/test/std/diagnostics/stacktrace/basic.cons/copy.pass.cpp
  libcxx/test/std/diagnostics/stacktrace/basic.cons/move.pass.cpp
Labels: none

[BOLT] Introduce target-specific relocation handlers
  bolt/include/bolt/Core/BinaryContext.h
  bolt/include/bolt/Core/BinarySection.h
  bolt/include/bolt/Core/Relocation.h
  bolt/lib/Core/BinaryContext.cpp
  bolt/lib/Core/BinaryEmitter.cpp
  bolt/lib/Core/BinaryFunction.cpp
  bolt/lib/Core/BinarySection.cpp
  bolt/lib/Core/CMakeLists.txt
  bolt/lib/Core/Relocation.cpp
  bolt/lib/Rewrite/LinuxKernelRewriter.cpp
  bolt/lib/Rewrite/MachORewriteInstance.cpp
  bolt/lib/Rewrite/RSeqRewriter.cpp
  bolt/lib/Rewrite/RewriteInstance.cpp
  bolt/lib/Target/AArch64/AArch64MCSymbolizer.cpp
  bolt/lib/Target/AArch64/AArch64RelocationHandler.cpp
  bolt/lib/Target/AArch64/CMakeLists.txt
  bolt/lib/Target/RISCV/CMakeLists.txt
  bolt/lib/Target/RISCV/RISCVMCSymbolizer.cpp
  bolt/lib/Target/RISCV/RISCVRelocationHandler.cpp
  bolt/lib/Target/X86/CMakeLists.txt
  bolt/lib/Target/X86/X86MCSymbolizer.cpp
  bolt/lib/Target/X86/X86RelocationHandler.cpp
  bolt/unittests/Core/BinaryContext.cpp
  bolt/unittests/Core/CMakeLists.txt
  bolt/unittests/Core/MCPlusBuilder.cpp
  bolt/unittests/Core/MemoryMaps.cpp
  bolt/unittests/Core/Relocation.cpp
  bolt/unittests/Passes/LivenessAnalysis.cpp
  bolt/unittests/Passes/PointerAuthCFIFixup.cpp
  bolt/unittests/Profile/DataAggregator.cpp
  bolt/unittests/Profile/PerfScripts.cpp
  bolt/unittests/Profile/PerfSpeEvents.cpp
Labels: none

[lld][ELF] Fold LSDA-bearing sections with equivalent LSDA and CIE
  lld/ELF/Driver.cpp
  lld/ELF/EhFrame.cpp
  lld/ELF/EhFrame.h
  lld/ELF/ICF.cpp
  lld/ELF/SyntheticSections.cpp
  lld/ELF/SyntheticSections.h
  lld/docs/ReleaseNotes.md
  lld/test/ELF/icf-eh-frame.s
  lld/test/ELF/icf-lsda-extra-fde-reloc.s
  lld/test/ELF/icf-lsda-landing-pad.s
  lld/test/ELF/icf-lsda-personality-indirect-cross.s
  lld/test/ELF/icf-lsda-personality-indirect.s
  lld/test/ELF/icf-lsda-personality.s
  lld/test/ELF/icf-lsda-safe.s
Labels: none

XXX: pre-compute
  .ci/compute_projects.py
  .github/workflows/premerge.yaml
Labels: python, misc

Fix
  .github/workflows/premerge.yaml
Labels: misc

add the original RUNs
  llvm/test/Transforms/LoopVectorize/X86/CostModel/masked-interleaved-load-i16.ll
  llvm/test/Transforms/LoopVectorize/X86/CostModel/masked-interleaved-store-i16.ll
  llvm/test/Transforms/LoopVectorize/X86/x86-interleaved-accesses-masked-group.ll
  llvm/test/Transforms/LoopVectorize/X86/x86-interleaved-store-accesses-with-gaps.ll
Labels: none

[flang][OpenMP] Reword some diagnostic messages, NFC
  flang/lib/Semantics/check-omp-syntax.cpp
  flang/test/Semantics/OpenMP/allocate_do1.f90
  flang/test/Semantics/OpenMP/clause-validity01.f90
  flang/test/Semantics/OpenMP/depend05.f90
  flang/test/Semantics/OpenMP/depobj-construct-v52.f90
  flang/test/Semantics/OpenMP/from-clause-v45.f90
  flang/test/Semantics/OpenMP/map-modifiers-v60.f90
  flang/test/Semantics/OpenMP/to-clause-v45.f90
  flang/test/Semantics/OpenMP/uses-allocators-version50.f90
  flang/test/Semantics/OpenMP/uses-allocators-version51.f90
Labels: none

[SelectionDAG] Document that ISD::ADDE/SUBE/ADDC/SUBC use glue. NFC (#224765)
  llvm/include/llvm/CodeGen/ISDOpcodes.h
Labels: none

[DAGCombiner] Restrict combineOrOfSetCCToUSUBOCarry to ZeroOrOneBooleanContent. (#224759)
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
Labels: none

[SelectionDAG] Document that UADDO/USUBO_CARRRY follow getBooleanContents. NFC (#224764)
  llvm/include/llvm/CodeGen/ISDOpcodes.h
Labels: none

[libsycl] Add $ORIGIN to RPATH for libLLVMSYCL
  libsycl/src/CMakeLists.txt
  libsycl/test/basic/linux-rpath.test
  libsycl/test/lit.cfg.py
Labels: python

[RISCV] Add UImmLsbZeroAsmOperand class to use isUImmShifted<N, S> as the PredicateMethod. NFC (#224789)
  llvm/lib/Target/RISCV/AsmParser/RISCVAsmParser.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfo.td
Labels: none

[clang-tidy] Add detection of decltype(nullptr) => std::nullptr_t to modernize-use-nullptr (#224591)
  clang-tools-extra/clang-tidy/modernize/UseNullptrCheck.cpp
  clang-tools-extra/clang-tidy/modernize/UseNullptrCheck.h
  clang-tools-extra/docs/ReleaseNotes.md
  clang-tools-extra/docs/clang-tidy/checks/modernize/use-nullptr.rst
  clang-tools-extra/test/clang-tidy/checkers/modernize/use-nullptr-t.cpp
  clang-tools-extra/test/clang-tidy/checkers/modernize/use-nullptr.cpp
Labels: none

[clang-format] Fix InsertBraces inserting braces around directives
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/unittests/Format/BracesInserterTest.cpp
Labels: none

[libc++] Add a compact, bounded iterator (#208271)
  libcxx/include/CMakeLists.txt
  libcxx/include/__iterator/static_packed_bounded_iter.h
  libcxx/include/module.modulemap.in
  libcxx/test/libcxx/iterators/static_packed_bounded_iter/arithmetic.pass.cpp
  libcxx/test/libcxx/iterators/static_packed_bounded_iter/assert.pass.cpp
  libcxx/test/libcxx/iterators/static_packed_bounded_iter/comparison.pass.cpp
  libcxx/test/libcxx/iterators/static_packed_bounded_iter/ctor.pass.cpp
  libcxx/test/libcxx/iterators/static_packed_bounded_iter/dereference.pass.cpp
  libcxx/test/libcxx/iterators/static_packed_bounded_iter/layout.compile.pass.cpp
  libcxx/test/libcxx/iterators/static_packed_bounded_iter/types.compile.pass.cpp
  libcxx/test/libcxx/iterators/static_packed_bounded_iter/valid.verify.cpp
Labels: none

[M68k][MC] Add support for DBcc instructions (#193930)
  llvm/lib/Target/M68k/M68kInstrControl.td
  llvm/test/MC/M68k/Control/Classes/MxDBcc.s
Labels: none

[MLIR] Document isolation and dead-value pass boundaries
  mlir/include/mlir/Transforms/Passes.td
  mlir/lib/Interfaces/ControlFlowInterfaces.cpp
Labels: none

[MC] Fix ELF symbol info computation
  llvm/lib/MC/ELFObjectWriter.cpp
Labels: none

Revert "[M68k][MC] Add support for DBcc instructions (#193930)"
  llvm/lib/Target/M68k/M68kInstrControl.td
  llvm/test/MC/M68k/Control/Classes/MxDBcc.s
Labels: none

[SCEV] Clamp End instead of bailing out when using the ceiling division.
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/test/Analysis/ScalarEvolution/exit-count-greater-than.ll
Labels: none

[libc++] Add missing __get_local_endcoding on OpenBSD
  libcxx/include/__locale_dir/support/openbsd.h
Labels: none

[Support] Remove cl::Sink
  llvm/docs/CommandLine.md
  llvm/include/llvm/Support/CommandLine.h
  llvm/lib/Support/CommandLine.cpp
  llvm/unittests/Support/CommandLineTest.cpp
  mlir/include/mlir/Pass/PassOptions.h
Labels: none

[Support] Remove cl::multi_val
  llvm/docs/CommandLine.md
  llvm/include/llvm/Support/CommandLine.h
  llvm/lib/Support/CommandLine.cpp
Labels: none

[LV] Add tests for early-exit loops with faulting loads (NFC).
  llvm/test/Analysis/CostModel/AArch64/speculative-load.ll
  llvm/test/Analysis/CostModel/X86/speculative-load.ll
  llvm/test/Transforms/LoopVectorize/AArch64/early-exit-with-speculative-load-basic.ll
  llvm/test/Transforms/LoopVectorize/AArch64/early-exit-with-speculative-load-load-types.ll
  llvm/test/Transforms/LoopVectorize/AArch64/early-exit-with-speculative-load-safety.ll
  llvm/test/Transforms/LoopVectorize/AArch64/early-exit-with-speculative-load-scalable.ll
  llvm/test/Transforms/LoopVectorize/VPlan/AArch64/early-exit-with-speculative-load-oracle.ll
  llvm/test/Transforms/LoopVectorize/unsupported_early_exit.ll
Labels: none

[lldb-dap] Refactor handling progress events.
  lldb/test/API/tools/lldb-dap/progress/Progress_emitter.py
  lldb/test/API/tools/lldb-dap/progress/TestDAP_Progress.py
  lldb/tools/lldb-dap/DAP.cpp
  lldb/tools/lldb-dap/DAP.h
  lldb/tools/lldb-dap/ProgressEvent.cpp
  lldb/tools/lldb-dap/ProgressEvent.h
  lldb/tools/lldb-dap/Protocol/ProtocolEvents.cpp
  lldb/tools/lldb-dap/Protocol/ProtocolEvents.h
  lldb/unittests/DAP/CMakeLists.txt
  lldb/unittests/DAP/ProgressEventTest.cpp
  lldb/unittests/DAP/ProtocolEventsTest.cpp
Labels: python

[llvm-cov] Migrate gcov to OptTable
  llvm/docs/CommandGuide/llvm-cov.md
  llvm/test/tools/llvm-cov/gcov/basic.test
  llvm/tools/llvm-cov/CMakeLists.txt
  llvm/tools/llvm-cov/GcovOpts.td
  llvm/tools/llvm-cov/gcov.cpp
  llvm/utils/gn/secondary/llvm/tools/llvm-cov/BUILD.gn
  utils/bazel/llvm-project-overlay/llvm/BUILD.bazel
Labels: none

[CIR][X86] Replace hard-coded registers in tests
  clang/test/CIR/CodeGenBuiltins/X86/sse41-builtins-constrained.c
  clang/test/CIR/CodeGenBuiltins/X86/sse41-builtins.c
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
