Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[Clang] Update target parser for address spaces for AMDGPU (#175998)
  clang/test/TableGen/target-builtins-prototype-parser.td
  clang/utils/TableGen/ClangBuiltinsEmitter.cpp
Labels: none

[clang][RISCV] Add big-endian RISC-V target support (#165599)
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/ObjCRuntime.h
  clang/lib/Basic/Targets.cpp
  clang/lib/Basic/Targets/OSTargets.h
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/CodeGen/CodeGenFunction.cpp
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChain.cpp
  clang/lib/Driver/ToolChains/BareMetal.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Driver/ToolChains/CommonArgs.cpp
  clang/lib/Driver/ToolChains/FreeBSD.cpp
  clang/lib/Driver/ToolChains/Gnu.cpp
  clang/lib/Driver/ToolChains/Linux.cpp
  clang/lib/Sema/SemaChecking.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/test/CodeGen/riscv-be-data-layout.c
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/lib/gcc/riscv64be-unknown-linux-gnu/7.2.0/crtbegin.o
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/lib/gcc/riscv64be-unknown-linux-gnu/7.2.0/lib32/ilp32/crtbegin.o
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/lib/gcc/riscv64be-unknown-linux-gnu/7.2.0/lib32/ilp32d/crtbegin.o
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/lib/gcc/riscv64be-unknown-linux-gnu/7.2.0/lib64/lp64/crtbegin.o
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/lib/gcc/riscv64be-unknown-linux-gnu/7.2.0/lib64/lp64d/crtbegin.o
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/riscv64be-unknown-linux-gnu/bin/ld
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/lib/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/lib32/ilp32/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/lib32/ilp32d/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/lib64/lp64/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/lib64/lp64d/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/usr/lib32/ilp32/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/usr/lib32/ilp32d/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/usr/lib64/lp64/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/usr/lib64/lp64d/.keep
  clang/test/Driver/riscv-be.c
Labels: none

[VPlan] Strip phi operand from compute-reduction-result comments (NFC).
  llvm/lib/Transforms/Vectorize/VPlanConstruction.cpp
Labels: none

[AMDGPU] Programmatically port old `.def` clang builtins to `.td` (#175873)
  clang/include/clang/Basic/BuiltinsAMDGPU.def
  clang/include/clang/Basic/BuiltinsAMDGPU.td
  clang/include/clang/Basic/CMakeLists.txt
  clang/include/clang/Basic/TargetBuiltins.h
  clang/include/module.modulemap
  clang/lib/Basic/Targets/AMDGPU.cpp
Labels: none

[MemCpyOpt] allow memcpy-to-memcpy optimization with smaller dest than src (#176010)
  llvm/lib/Transforms/Scalar/MemCpyOptimizer.cpp
  llvm/test/Transforms/MemCpyOpt/stack-move.ll
Labels: none

[Metadata][profcheck] Handle identical MDNodes in getMergedProfMetadata (#175701)
  llvm/lib/IR/Metadata.cpp
  llvm/unittests/IR/MetadataTest.cpp
  llvm/utils/profcheck-xfail.txt
Labels: none

[MemCpyOpt] keep src/dest alloca ordering (#176012)
  llvm/lib/Transforms/Scalar/MemCpyOptimizer.cpp
Labels: none

[SelDag] Use use BoolVT size when expanding find-last-active, if larger. (#175971)
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/test/CodeGen/X86/vector-extract-last-active.ll
Labels: none

[msan][NFCI] Refactor visitAnd body into helper function (#176031)
  llvm/lib/Transforms/Instrumentation/MemorySanitizer.cpp
Labels: none

Revert "[Clang] Check enable_if attribute in the DC of current function" (#176024)
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaOverload.cpp
  clang/test/SemaCXX/enable_if.cpp
Labels: none

Fix unused variable error from 7d5d4db (#176025)
  llvm/lib/Target/X86/X86ISelLowering.cpp
Labels: none

[VPlan] Consistently use MinOrMax* in VPlanConstruction transforms (NFC)
  llvm/lib/Transforms/Vectorize/VPlanConstruction.cpp
Labels: none

[AMDGPU][NFC] Change AMDGPU builtins to use ExtVector (#176033)
  clang/include/clang/Basic/BuiltinsAMDGPU.td
Labels: none

[X86][NewPM] Port x86-slh to new pass manager (#176014)
  llvm/lib/Target/X86/X86.h
  llvm/lib/Target/X86/X86PassRegistry.def
  llvm/lib/Target/X86/X86SpeculativeLoadHardening.cpp
  llvm/lib/Target/X86/X86TargetMachine.cpp
Labels: none

[PAC][ELF] Place AUTH constants in .data.rel.ro for position dependent code (#150418)
  llvm/lib/Target/TargetLoweringObjectFile.cpp
  llvm/test/CodeGen/AArch64/ptrauth-global-no-pic.ll
  llvm/test/CodeGen/AArch64/ptrauth-irelative.ll
Labels: none

worklows/release-tasks: Remove the release-lit workflow (#174644)
  .github/workflows/release-lit.yml
  .github/workflows/release-tasks.yml
Labels: misc

Revert "[clang][RISCV] Add big-endian RISC-V target support" (#176039)
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/ObjCRuntime.h
  clang/lib/Basic/Targets.cpp
  clang/lib/Basic/Targets/OSTargets.h
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/CodeGen/CodeGenFunction.cpp
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChain.cpp
  clang/lib/Driver/ToolChains/BareMetal.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Driver/ToolChains/CommonArgs.cpp
  clang/lib/Driver/ToolChains/FreeBSD.cpp
  clang/lib/Driver/ToolChains/Gnu.cpp
  clang/lib/Driver/ToolChains/Linux.cpp
  clang/lib/Sema/SemaChecking.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/test/CodeGen/riscv-be-data-layout.c
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/lib/gcc/riscv64be-unknown-linux-gnu/7.2.0/crtbegin.o
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/lib/gcc/riscv64be-unknown-linux-gnu/7.2.0/lib32/ilp32/crtbegin.o
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/lib/gcc/riscv64be-unknown-linux-gnu/7.2.0/lib32/ilp32d/crtbegin.o
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/lib/gcc/riscv64be-unknown-linux-gnu/7.2.0/lib64/lp64/crtbegin.o
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/lib/gcc/riscv64be-unknown-linux-gnu/7.2.0/lib64/lp64d/crtbegin.o
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/riscv64be-unknown-linux-gnu/bin/ld
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/lib/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/lib32/ilp32/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/lib32/ilp32d/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/lib64/lp64/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/lib64/lp64d/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/usr/lib32/ilp32/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/usr/lib32/ilp32d/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/usr/lib64/lp64/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/usr/lib64/lp64d/.keep
  clang/test/Driver/riscv-be.c
Labels: none

[LV] Add additional cost and folding test coverage. (NFC)
  llvm/test/Transforms/LoopVectorize/AArch64/hoist-predicated-loads-scalable.ll
  llvm/test/Transforms/LoopVectorize/X86/replicating-load-store-costs.ll
  llvm/test/Transforms/LoopVectorize/cast-induction.ll
  llvm/test/Transforms/LoopVectorize/select-folds.ll
Labels: none

[AMDGPU] Disable s_add_pc_i64 instruction (#175644)
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/GCNSubtarget.h
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/test/CodeGen/AMDGPU/branch-relaxation-gfx1250.ll
Labels: none

[CIR] Upstream CIR codegen for blend x86 builtins (#174236)
  clang/lib/CIR/CodeGen/CIRGenBuiltinX86.cpp
  clang/test/CIR/CodeGenBuiltins/X86/avx-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx2-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/sse41-builtins.c
Labels: none

[OpenMP][Offload] Add FB_NULLIFY map-type for `use_device_ptr(fb_nullify)`. (1/4) (#169603)
  llvm/include/llvm/Frontend/OpenMP/OMPConstants.h
  offload/include/omptarget.h
  offload/libomptarget/omptarget.cpp
Labels: none

x86: fix musttail sibcall miscompilation (#168956)
  llvm/lib/Target/X86/X86ISelLowering.h
  llvm/lib/Target/X86/X86ISelLoweringCall.cpp
  llvm/test/CodeGen/X86/hipe-cc64.ll
  llvm/test/CodeGen/X86/musttail-struct.ll
  llvm/test/CodeGen/X86/musttail-tailcc.ll
  llvm/test/CodeGen/X86/sibcall.ll
  llvm/test/CodeGen/X86/swifttailcc-store-ret-address-aliasing-stack-slot.ll
  llvm/test/CodeGen/X86/tailcallbyval64.ll
  llvm/test/CodeGen/X86/tailccbyval64.ll
Labels: none

[libc++] Add parentheses around shift operations in bitwise expressions (#175407)
  libcxx/include/__bit/byteswap.h
  libcxx/src/locale.cpp
  libcxx/test/support/concat_macros.h
Labels: none

[bazel] Update for #175873 (BuiltinsAMDGPU)
  utils/bazel/llvm-project-overlay/clang/BUILD.bazel
Labels: none

[docs][MemProf]Update compiler options for static data partitioning (#175872)
  clang/include/clang/Options/Options.td
  llvm/docs/MemProf.rst
Labels: none

[VPlan] Handle constant step for VPScalarIVSteps in getSCEVExpr (NFC).
  llvm/lib/Transforms/Vectorize/VPlanUtils.cpp
Labels: none

[Clang] Fix rewrite-includes-bom.c to use POSIX-compliant regex (#176043)
  clang/test/Frontend/rewrite-includes-bom.c
Labels: none

Fix bazel build for d5442b8 (#176034)
  utils/bazel/MODULE.bazel.lock
  utils/bazel/llvm-project-overlay/clang/BUILD.bazel
Labels: none

[LLDB][NativePDB] Introduce PdbAstBuilderClang (#175840)
  lldb/source/Plugins/SymbolFile/NativePDB/CMakeLists.txt
  lldb/source/Plugins/SymbolFile/NativePDB/PdbAstBuilder.h
  lldb/source/Plugins/SymbolFile/NativePDB/PdbAstBuilderClang.cpp
  lldb/source/Plugins/SymbolFile/NativePDB/PdbAstBuilderClang.h
  lldb/source/Plugins/SymbolFile/NativePDB/SymbolFileNativePDB.cpp
  lldb/source/Plugins/SymbolFile/NativePDB/UdtRecordCompleter.cpp
  lldb/source/Plugins/SymbolFile/NativePDB/UdtRecordCompleter.h
  lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.cpp
  lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.h
  llvm/utils/gn/secondary/lldb/source/Plugins/SymbolFile/NativePDB/BUILD.gn
Labels: none

Revert "[LLDB] Fix MS STL `variant` with non-trivial types" (#176059)
  lldb/source/Plugins/Language/CPlusPlus/MsvcStlVariant.cpp
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/generic/variant/TestDataFormatterStdVariant.py
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/generic/variant/main.cpp
Labels: python

[mlir][Tensor] Add rank-reducing slice in generatedSlices (#174248)
  mlir/lib/Dialect/SCF/Transforms/TileUsingInterface.cpp
  mlir/lib/Dialect/Tensor/Transforms/SwapExtractSliceWithProducerPatterns.cpp
  mlir/test/Interfaces/TilingInterface/tile-and-fuse-using-interface.mlir
  mlir/test/Interfaces/TilingInterface/tile-and-fuse-with-reduction-tiling.mlir
Labels: none

[X86] Lower scalar llvm.clmul intrinsics to PCLMULQDQ (#175189) (#175216)
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/lib/Target/X86/X86ISelLowering.h
  llvm/lib/Target/X86/X86InstrAVX512.td
  llvm/lib/Target/X86/X86InstrFragmentsSIMD.td
  llvm/lib/Target/X86/X86InstrSSE.td
  llvm/lib/Target/X86/X86IntrinsicsInfo.h
  llvm/test/CodeGen/X86/clmul-x86.ll
  llvm/test/CodeGen/X86/clmul.ll
Labels: none

[OpenCL] Add missing mipmap read_write image builtins to OpenCLBuiltins.td (#175748)
  clang/lib/Sema/OpenCLBuiltins.td
  clang/test/SemaOpenCL/fdeclare-opencl-builtins.cl
Labels: none

[DTLTO] Fix handling of multi-module bitcode inputs (#174624)
  cross-project-tests/dtlto/multimodule.test
  llvm/include/llvm/LTO/LTO.h
  llvm/lib/DTLTO/DTLTO.cpp
  llvm/lib/LTO/LTO.cpp
Labels: none

[CIR] Make cir.alloca alignment mandatory (#172663)
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/test/CIR/IR/invalid-complex.cir
  clang/test/CIR/IR/invalid-throw.cir
  clang/test/CIR/IR/invalid-try-catch.cir
  clang/test/CIR/IR/invalid-vector.cir
  clang/test/CIR/IR/resume-flat.cir
  clang/test/CIR/IR/struct.cir
  clang/test/CIR/IR/throw.cir
  clang/test/CIR/IR/vector.cir
  clang/test/CIR/Lowering/alloca.cir
  clang/test/CIR/Transforms/complex-create-fold.cir
  clang/test/CIR/Transforms/complex-imag-fold.cir
  clang/test/CIR/Transforms/complex-real-fold.cir
  clang/test/CIR/Transforms/ternary-fold.cir
  clang/test/CIR/Transforms/vector-extract-fold.cir
Labels: none

[NewPM][CodeGen] Add missing non-ported pass to registry
  llvm/include/llvm/Passes/MachinePassRegistry.def
Labels: none

[IR] Teach `drop/hasPoisonGeneratingAnnotations()` about `abs`, `ctlz` and `cttz` (#175941)
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/lib/IR/Instruction.cpp
  llvm/lib/IR/Operator.cpp
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
  llvm/test/Transforms/InstCombine/freeze-integer-intrinsics.ll
Labels: none

[CIR][X86] Add CIR codegen support for fpclass x86 builtins (#172813)
  clang/lib/CIR/CodeGen/CIRGenBuiltinX86.cpp
  clang/test/CIR/CodeGenBuiltins/X86/avx10_2_512bf16-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx10_2bf16-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx512dq-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx512fp16-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx512vl-builtins.c
  clang/test/CIR/CodeGenBuiltins/X86/avx512vldq-builtins.c
Labels: none

[MC/DC] Create dedicated MCDCCondBitmapAddr for each Decision (#125411)
  clang/lib/CodeGen/CodeGenFunction.h
  clang/lib/CodeGen/CodeGenPGO.cpp
  clang/lib/CodeGen/CodeGenPGO.h
  clang/lib/CodeGen/MCDCState.h
  clang/test/Profile/c-mcdc-logicalop-ternary.c
Labels: none

Revert "Fix bazel build for d5442b8 (#176034)"
  utils/bazel/MODULE.bazel.lock
  utils/bazel/llvm-project-overlay/clang/BUILD.bazel
Labels: none
