Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

Reduce CXXDependentScopeMemberExpr size: 88 -> 80 bytes
  clang/include/clang/AST/ExprCXX.h
  clang/include/clang/AST/Stmt.h
  clang/lib/AST/ExprCXX.cpp
  clang/lib/Serialization/ASTReaderStmt.cpp
Labels: none

Reduce DeclRefExpr size: 48 -> 40 bytes.
  clang/include/clang/AST/ASTContext.h
  clang/include/clang/AST/DeclarationName.h
  clang/lib/AST/ASTContext.cpp
  clang/lib/AST/ASTImporter.cpp
  clang/lib/AST/DeclarationName.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaLambda.cpp
  clang/lib/Sema/SemaOverload.cpp
  clang/lib/Serialization/ASTReader.cpp
Labels: none

[MLIR][ArmNeon] Add a couple of negative tests for BFMMLA with scalable dimensions
  mlir/test/Dialect/ArmNeon/invalid.mlir
Labels: none

[OMPIRBuilder] Fix use of uninitialized variable.
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
Labels: none

fix bundle tests
  llvm/test/CodeGen/AArch64/blr-bti-preserves-operands.mir
  llvm/test/CodeGen/AArch64/expand-blr-rvmarker-pseudo.mir
  llvm/test/CodeGen/AArch64/sve-intrinsics-int-arith-merging.mir
  llvm/test/CodeGen/AArch64/sve-intrinsics-int-binaryComm-merging.mir
  llvm/test/CodeGen/AArch64/sve-intrinsics-int-binaryCommWithRev-merging.mir
  llvm/test/CodeGen/RISCV/kcfi-mir.ll
  llvm/test/CodeGen/Thumb2/mve-vpt-2-blocks-1-pred.mir
  llvm/test/CodeGen/Thumb2/mve-vpt-2-blocks-2-preds.mir
  llvm/test/CodeGen/Thumb2/mve-vpt-2-blocks-ctrl-flow.mir
  llvm/test/CodeGen/Thumb2/mve-vpt-2-blocks-non-consecutive-ins.mir
  llvm/test/CodeGen/Thumb2/mve-vpt-2-blocks.mir
  llvm/test/CodeGen/Thumb2/mve-vpt-3-blocks-kill-vpr.mir
  llvm/test/CodeGen/Thumb2/mve-vpt-block-1-ins.mir
  llvm/test/CodeGen/Thumb2/mve-vpt-block-2-ins.mir
  llvm/test/CodeGen/Thumb2/mve-vpt-block-4-ins.mir
  llvm/test/CodeGen/Thumb2/mve-vpt-block-debug.mir
  llvm/test/CodeGen/Thumb2/mve-vpt-block-elses.mir
  llvm/test/CodeGen/Thumb2/mve-vpt-block-fold-vcmp.mir
  llvm/test/CodeGen/Thumb2/mve-vpt-block-kill.mir
  llvm/test/CodeGen/Thumb2/mve-vpt-block-optnone.mir
  llvm/test/CodeGen/Thumb2/mve-vpt-preuse.mir
Labels: none

fixup! add helper function in test
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libcxx/unordered_map/TestDataFormatterLibccUnorderedMap.py
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libcxx/unordered_map/main.cpp
Labels: python

try to fix CI
  libcxx/include/__type_traits/invoke.h
Labels: none

[Clang] Allow the use of [[gnu::visibility]] with #pragma clang attribute (#145653)
  clang/include/clang/Basic/Attr.td
  clang/test/CodeGen/visibility.c
  clang/test/CodeGenCXX/visibility.cpp
  clang/test/Misc/pragma-attribute-supported-attributes-list.test
  clang/test/Sema/attr-visibility.c
Labels: none

Add test to check the position of LoopInterchange in the pipeline
  llvm/test/Transforms/LoopInterchange/position-in-pipeline.ll
Labels: none

Fix formatting
  clang-tools-extra/clang-tidy/ClangTidyDiagnosticConsumer.cpp
Labels: none

Introduce callGlobalDeleteInDeletingDtor
  clang/include/clang/Basic/TargetInfo.h
  clang/lib/Basic/TargetInfo.cpp
  clang/lib/CodeGen/CGClass.cpp
  clang/lib/CodeGen/MicrosoftCXXABI.cpp
  clang/lib/Sema/SemaDeclCXX.cpp
Labels: none

AMDGPU/GlobalISel: Add regbanklegalize rules for uniform global loads
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeRules.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/load-uniform.ll
Labels: none

AMDGPU/GlobalISel: Add waterfall lowering in regbanklegalize
  llvm/lib/Target/AMDGPU/AMDGPUGlobalISelUtils.cpp
  llvm/lib/Target/AMDGPU/AMDGPUGlobalISelUtils.h
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeHelper.cpp
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeHelper.h
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeRules.cpp
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeRules.h
  llvm/test/CodeGen/AMDGPU/GlobalISel/buffer-schedule.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/llvm.amdgcn.make.buffer.rsrc.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/regbankselect-amdgcn.raw.buffer.load.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/regbankselect-amdgcn.raw.ptr.buffer.load.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/regbankselect-amdgcn.struct.buffer.load.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/regbankselect-amdgcn.struct.ptr.buffer.load.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.buffer.load-last-use.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.raw.atomic.buffer.load.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.raw.ptr.atomic.buffer.load.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.struct.atomic.buffer.load.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.struct.ptr.atomic.buffer.load.ll
  llvm/test/CodeGen/AMDGPU/swizzle.bit.extract.ll
Labels: none

AMDGPU/GlobalISel: Improve readanylane combines in regbanklegalize
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalize.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/readanylane-combines.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/readanylane-combines.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/regbankselect-and-s1.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/regbankselect-anyext.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/regbankselect-trunc.mir
Labels: none

AMDGPU/GlobalISel: Add tests for missing readanylane combines
  llvm/test/CodeGen/AMDGPU/GlobalISel/readanylane-combines.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/readanylane-combines.mir
Labels: none

Change the assertion
  clang/lib/AST/DeclCXX.cpp
Labels: none

[bazel] Fixes for e5a8c51c9dc85a7b463a4570942e3e5e1cb70e0b
  mlir/lib/Dialect/Tensor/IR/TensorOps.cpp
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: none

[flang][OpenMP] Remove experimental warning (#144915)
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/lib/Driver/ToolChains/Flang.cpp
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/test/Driver/fopenmp.f90
Labels: none

Fix all compile warnings (#2832)
  clang/lib/Sema/SemaExpr.cpp
  compiler-rt/lib/asan/asan_errors.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfDebug.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfExpression.cpp
  llvm/lib/CodeGen/SelectionDAG/FastISel.cpp
  llvm/lib/Debuginfod/Debuginfod.cpp
  llvm/lib/ObjCopy/ELF/ELFObjcopy.cpp
  llvm/tools/llvm-objcopy/ObjcopyOptions.cpp
  llvm/tools/llvm-objcopy/ObjcopyOptions.h
Labels: none

[X86] lowerShuffleAsVTRUNC - use combineConcatVectorOps to catch more "cheap" concats (#145876)
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/vector-interleaved-load-i16-stride-4.ll
  llvm/test/CodeGen/X86/vector-interleaved-load-i8-stride-8.ll
Labels: none

[CodeGen] Resolve Fixme: Use similar heuristics to IfConversion for isFormingBranchFromSelectProfitable
  llvm/lib/CodeGen/CodeGenPrepare.cpp
Labels: none

Fix some merge conflicts.
  clang/include/clang/Basic/SourceManager.h
  clang/tools/libclang/CIndex.cpp
Labels: none

[VPlan] Handle AnyOf when unrolling. (#145340)
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/lib/Transforms/Vectorize/VPlanUnroll.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/single-early-exit-interleave.ll
  llvm/test/Transforms/LoopVectorize/single-early-exit-interleave.ll
  llvm/test/Transforms/LoopVectorize/vector-loop-backedge-elimination-early-exit.ll
Labels: none

Remove bolt unittest dep on LLVMTestingSupport to fix link
  bolt/unittests/Core/CMakeLists.txt
  bolt/unittests/Core/MemoryMaps.cpp
  llvm/lib/Testing/Support/CMakeLists.txt
Labels: none

[NFC][AMDGPU] Add a test that can cause backend crash (#145777)
  llvm/test/CodeGen/AMDGPU/undef-handling-crash-in-ra.ll
Labels: none

StructurizeCFG: Use poison instead of undef (#130459)
  llvm/lib/Transforms/Scalar/StructurizeCFG.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/divergent-control-flow.ll
  llvm/test/CodeGen/AMDGPU/agpr-copy-no-free-registers.ll
  llvm/test/CodeGen/AMDGPU/blender-no-live-segment-at-def-implicit-def.ll
  llvm/test/CodeGen/AMDGPU/branch-folding-implicit-def-subreg.ll
  llvm/test/CodeGen/AMDGPU/itofp.i128.bf.ll
  llvm/test/CodeGen/AMDGPU/itofp.i128.ll
  llvm/test/CodeGen/AMDGPU/loop_break.ll
  llvm/test/CodeGen/AMDGPU/multi-divergent-exit-region.ll
  llvm/test/CodeGen/AMDGPU/multilevel-break.ll
  llvm/test/CodeGen/AMDGPU/nested-loop-conditions.ll
  llvm/test/CodeGen/AMDGPU/optimize-negated-cond.ll
  llvm/test/CodeGen/AMDGPU/scheduler-rp-calc-one-successor-two-predecessors-bug.ll
  llvm/test/CodeGen/AMDGPU/si-annotate-dbg-info.ll
  llvm/test/CodeGen/AMDGPU/tuple-allocation-failure.ll
  llvm/test/CodeGen/AMDGPU/vgpr-liverange-ir.ll
  llvm/test/Transforms/StructurizeCFG/AMDGPU/loop-subregion-misordered.ll
  llvm/test/Transforms/StructurizeCFG/AMDGPU/uniform-regions.ll
  llvm/test/Transforms/StructurizeCFG/interleaved-loop-order.ll
  llvm/test/Transforms/StructurizeCFG/loop-break-phi.ll
  llvm/test/Transforms/StructurizeCFG/loop-continue-phi.ll
  llvm/test/Transforms/StructurizeCFG/one-loop-multiple-backedges.ll
  llvm/test/Transforms/StructurizeCFG/structurizer-keep-perf-md.ll
  llvm/test/Transforms/StructurizeCFG/workarounds/needs-fix-reducible.ll
  llvm/test/Transforms/StructurizeCFG/workarounds/needs-fr-ule.ll
  llvm/test/Transforms/StructurizeCFG/workarounds/needs-unified-loop-exits.ll
Labels: none

[NFC] Update check lines for `llvm/test/CodeGen/AMDGPU/undef-handling-crash-in-ra.ll`
  llvm/test/CodeGen/AMDGPU/undef-handling-crash-in-ra.ll
Labels: none

[CostModel][X86] SK_InsertSubvector inserted into the lowest subvector should be treated as SK_Select blend
  llvm/lib/Target/X86/X86TargetTransformInfo.cpp
  llvm/test/Transforms/PhaseOrdering/X86/hadd.ll
  llvm/test/Transforms/PhaseOrdering/X86/hsub.ll
  llvm/test/Transforms/SLPVectorizer/X86/extracts-non-extendable.ll
Labels: none

[mlir][tensor] Relax input type requirement on `tensor.splat`
  mlir/include/mlir/Dialect/Tensor/IR/TensorOps.td
  mlir/test/Dialect/Tensor/bufferize.mlir
  mlir/test/Dialect/Tensor/invalid.mlir
  mlir/test/Dialect/Tensor/ops.mlir
Labels: none

Add static assert to make sure types match for modifier kind
  clang/lib/CIR/CodeGen/CIRGenOpenACCClause.cpp
Labels: none

[mlir][affine] Wrap SimplifyAffineMinMax in a pass
  mlir/include/mlir/Dialect/Affine/Passes.td
  mlir/lib/Dialect/Affine/IR/AffineOps.cpp
  mlir/lib/Dialect/Affine/Transforms/SimplifyAffineMinMax.cpp
  mlir/test/Dialect/Affine/simplify-min-max-ops.mlir
Labels: none

[libc] Fix the risc-v half precison float feature check
  libc/src/__support/macros/properties/cpu_features.h
Labels: none

[Sema] Cut the deep_recursion.c test in half to fix tests in asan mode
  clang/test/Sema/deep_recursion.c
Labels: none

[mlir][affine] Wrap SimplifyAffineMinMax in a pass (#145741)
  mlir/include/mlir/Dialect/Affine/Passes.td
  mlir/lib/Dialect/Affine/IR/AffineOps.cpp
  mlir/lib/Dialect/Affine/Transforms/SimplifyAffineMinMax.cpp
  mlir/test/Dialect/Affine/simplify-min-max-ops.mlir
Labels: none

Revert "[flang][OpenMP] Fix namespace nesting after PR144960"
  flang/lib/Lower/OpenMP/Atomic.h
Labels: none

Revert "[flang][OpenMP] Move lowering of ATOMIC to separate file, NFC (#144960)"
  flang/lib/Lower/CMakeLists.txt
  flang/lib/Lower/OpenMP/Atomic.cpp
  flang/lib/Lower/OpenMP/Atomic.h
  flang/lib/Lower/OpenMP/OpenMP.cpp
Labels: none

[fixup] Remove redundant test
  mlir/lib/Dialect/ArmSVE/Transforms/LowerContractionToSVEI8MMPattern.cpp
Labels: none

- Adjust `libclang-python-tests.yml`. - Handle `LLVM_USE_SANITIZER` in `lit.local.cfg`. - Fix SPARC handling, restrict to Linux/sparc*. - Explain failure modes, log unhandled ones.
  .github/workflows/libclang-python-tests.yml
  clang/test/bindings/python/bindings.sh
  clang/test/bindings/python/lit.local.cfg
Labels: misc

Revert libclang-python-tests.yml changes. Reintroduce check-clang-python.
  .github/workflows/libclang-python-tests.yml
  clang/test/CMakeLists.txt
Labels: misc

[clang][python][test] Move python binding tests to lit framework
  clang/CMakeLists.txt
  clang/bindings/python/tests/CMakeLists.txt
  clang/test/bindings/python/bindings.sh
  clang/test/bindings/python/lit.local.cfg
  clang/test/bindings/python/tests/__init__.py
  clang/test/bindings/python/tests/cindex/INPUTS/a.inc
  clang/test/bindings/python/tests/cindex/INPUTS/b.inc
  clang/test/bindings/python/tests/cindex/INPUTS/compile_commands.json
  clang/test/bindings/python/tests/cindex/INPUTS/header1.h
  clang/test/bindings/python/tests/cindex/INPUTS/header2.h
  clang/test/bindings/python/tests/cindex/INPUTS/header3.h
  clang/test/bindings/python/tests/cindex/INPUTS/hello.cpp
  clang/test/bindings/python/tests/cindex/INPUTS/include.cpp
  clang/test/bindings/python/tests/cindex/INPUTS/parse_arguments.c
  clang/test/bindings/python/tests/cindex/INPUTS/testfile.c
  clang/test/bindings/python/tests/cindex/__init__.py
  clang/test/bindings/python/tests/cindex/test_access_specifiers.py
  clang/test/bindings/python/tests/cindex/test_cdb.py
  clang/test/bindings/python/tests/cindex/test_code_completion.py
  clang/test/bindings/python/tests/cindex/test_comment.py
  clang/test/bindings/python/tests/cindex/test_cursor.py
  clang/test/bindings/python/tests/cindex/test_cursor_kind.py
  clang/test/bindings/python/tests/cindex/test_diagnostics.py
  clang/test/bindings/python/tests/cindex/test_enums.py
  clang/test/bindings/python/tests/cindex/test_exception_specification_kind.py
  clang/test/bindings/python/tests/cindex/test_file.py
  clang/test/bindings/python/tests/cindex/test_index.py
  clang/test/bindings/python/tests/cindex/test_lib.py
  clang/test/bindings/python/tests/cindex/test_linkage.py
  clang/test/bindings/python/tests/cindex/test_location.py
  clang/test/bindings/python/tests/cindex/test_rewrite.py
  clang/test/bindings/python/tests/cindex/test_source_range.py
  clang/test/bindings/python/tests/cindex/test_tls_kind.py
  clang/test/bindings/python/tests/cindex/test_token_kind.py
  clang/test/bindings/python/tests/cindex/test_tokens.py
  clang/test/bindings/python/tests/cindex/test_translation_unit.py
  clang/test/bindings/python/tests/cindex/test_type.py
  clang/test/bindings/python/tests/cindex/util.py
Labels: python

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
