Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[GlobalISel][Docs] Fix known-bits example and code snippet in KnownBits.rst (#213090)
  llvm/docs/GlobalISel/KnownBits.rst
Labels: none

[orc-rt] Add Session log category, Session object logging (#215963)
  orc-rt/include/orc-rt-c/Logging.h
  orc-rt/lib/executor/Logging.cpp
  orc-rt/lib/executor/Session.cpp
Labels: none

[BOLT][RISCV] Fix conditional tail call (#209474)
  bolt/lib/Target/RISCV/RISCVMCPlusBuilder.cpp
  bolt/test/RISCV/conditional-tail-call.s
Labels: none

[clang][test] Cache failed stats in a unit test (#215969)
  clang/unittests/Frontend/ASTUnitTest.cpp
Labels: none

[X86][GlobalISel] Map a store of an FP-banked load to the FP bank (#215371)
  llvm/lib/Target/X86/GISel/X86RegisterBankInfo.cpp
  llvm/test/CodeGen/X86/GlobalISel/x87-store-of-fp-load.ll
Labels: none

[flang][AArch64] Pass large BIND(C) VALUE derived types indirectly (#215508)
  flang/include/flang/Optimizer/CodeGen/Target.h
  flang/lib/Optimizer/CodeGen/Target.cpp
  flang/lib/Optimizer/CodeGen/TargetRewrite.cpp
  flang/test/Fir/struct-passing-aarch64-byval.fir
  flang/test/Fir/struct-passing-aarch64-indirect.fir
Labels: none

[compiler-rt] Partially enable building compiler-rt unit tests for spirv64 target (#215717)
  compiler-rt/test/builtins/CMakeLists.txt
  compiler-rt/test/builtins/Unit/lit.cfg.py
Labels: python

[LoongArch] Fold shifted vector extract comparisons (#214204)
  llvm/lib/Target/LoongArch/LoongArchISelLowering.cpp
  llvm/test/CodeGen/LoongArch/lasx/vec-extract-brcond.ll
  llvm/test/CodeGen/LoongArch/lsx/vec-extract-brcond.ll
Labels: none

[AArch64][SDAG] Enable +sve2p2/+sme2p2 lowerings for VECTOR_COMPRESS (#215219)
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve-vector-compress.ll
  llvm/test/CodeGen/AArch64/sve2p2-vector-compress.ll
Labels: none

[Clang] Add tests for ref-qualified operator new (#215644)
  clang/test/SemaCXX/function-type-qual.cpp
Labels: none

[LV] Convert scatter stores with constant stride into strided stores (#206896)
  llvm/lib/Analysis/VectorUtils.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanEVLTailFolding.cpp
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/test/Transforms/LoopVectorize/RISCV/blocks-with-dead-instructions.ll
  llvm/test/Transforms/LoopVectorize/RISCV/dead-ops-cost.ll
  llvm/test/Transforms/LoopVectorize/RISCV/gather-scatter-cost.ll
  llvm/test/Transforms/LoopVectorize/RISCV/induction-costs.ll
  llvm/test/Transforms/LoopVectorize/RISCV/interleaved-accesses.ll
  llvm/test/Transforms/LoopVectorize/RISCV/masked_gather_scatter.ll
  llvm/test/Transforms/LoopVectorize/RISCV/safe-dep-distance.ll
  llvm/test/Transforms/LoopVectorize/RISCV/strided-accesses-i64-rv32.ll
  llvm/test/Transforms/LoopVectorize/RISCV/strided-accesses.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-interleave.ll
  llvm/test/Transforms/LoopVectorize/RISCV/truncate-to-minimal-bitwidth-cost.ll
Labels: none

[AMDGPU] Size the skipped-argument bitvector by IR argument count (#215970)
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/function-args.ll
Labels: none

[AArch64] Adjust cost for min/max intrinsics using v2i8 and v2i16 (#212801)
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/AArch64/min-max.ll
  llvm/test/Transforms/LoopVectorize/AArch64/intrinsiccost.ll
Labels: none

[lldb][AArch64] Fix compilation error in RegisterTypeDetector (#215623)
  lldb/source/Plugins/Process/Utility/RegisterTypeDetector_arm64.h
Labels: none

[LV] Add tests with branch weights and estimated trip counts (NFC) (#215978)
  llvm/test/Transforms/LoopVectorize/AArch64/branch-weights-scalar-epilogue.ll
  llvm/test/Transforms/LoopVectorize/AArch64/check-prof-info.ll
  llvm/test/Transforms/LoopVectorize/branch-weights-scalable-vf1.ll
  llvm/test/Transforms/LoopVectorize/branch-weights.ll
  llvm/test/Transforms/LoopVectorize/check-prof-info.ll
Labels: none

[libc][test] Avoid getauxval dependency for bare-metal AArch64 (#215509)
  libc/test/IntegrationTest/CMakeLists.txt
  libc/test/IntegrationTest/test.cpp
  libc/test/UnitTest/HermeticTestUtils.cpp
Labels: none

[libomp] Fix debug build after #176164 (#215961)
  openmp/runtime/src/kmp_traits.h
Labels: openmp

[AArch64] Restrict SVE index to profitable BUILD_VECTOR sequences (#215250)
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve-fixed-length-build-vector.ll
  llvm/test/CodeGen/AArch64/sve-index-const-step-vector.ll
Labels: none

[LV] Don't treat the pointer operand of histograms as scalar uses (#215769)
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/sve2-histcnt-epilogue.ll
  llvm/test/Transforms/LoopVectorize/histograms.ll
Labels: none

[lldb][test] Remove references to dotest's removed -A option (#215804)
  lldb/docs/resources/test.md
  lldb/packages/Python/lldbsuite/test/lldbtest.py
  lldb/test/API/CMakeLists.txt
Labels: python

DAG: Use LibcallImpl overload of makeLibCall (#215987)
  llvm/lib/CodeGen/SelectionDAG/LegalizeFloatTypes.cpp
Labels: none

[offload] Fix compatibility for level_zero 25.22.33944- #214215 (#215977)
  offload/plugins-nextgen/common/include/APIHelpers.h
  offload/plugins-nextgen/level_zero/dynamic_l0/L0DynWrapper.cpp
  offload/plugins-nextgen/level_zero/dynamic_l0/level_zero/ze_api.h
  offload/plugins-nextgen/level_zero/include/L0CmdListManager.h
  offload/plugins-nextgen/level_zero/include/L0Compat.h
  offload/plugins-nextgen/level_zero/include/L0Context.h
  offload/plugins-nextgen/level_zero/include/L0Device.h
  offload/plugins-nextgen/level_zero/src/L0Context.cpp
  offload/plugins-nextgen/level_zero/src/L0Plugin.cpp
  offload/unittests/OffloadAPI/queue/olLaunchHostFunction.cpp
Labels: none

[lldb] Fix crash when adding a python ParsedCommand (#215807)
  lldb/source/Commands/CommandObjectCommands.cpp
  lldb/test/API/commands/command/script/add/TestAddParsedCommand.py
  lldb/test/API/commands/command/script/add/test_commands.py
Labels: python

[Sparc][clang] `_Complex char` in c-variadic call is right-adjusted (#215015)
  clang/lib/CodeGen/Targets/Sparc.cpp
  clang/test/CodeGen/Sparc/sparcv9-vaarg.c
Labels: none

[CodeGen] Take the executable stack from a module flag (#215152)
  flang/include/flang/Optimizer/CodeGen/CGPasses.td
  flang/lib/Optimizer/CodeGen/BoxedProcedure.cpp
  flang/test/Fir/boxproc-execstack-module-flag.fir
  flang/test/Fir/boxproc-safe-trampoline.fir
  flang/test/Fir/boxproc.fir
  llvm/docs/LangRef.md
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/test/CodeGen/AArch64/trampoline.ll
  llvm/test/CodeGen/RISCV/rv64-trampoline.ll
  llvm/test/CodeGen/X86/execstack-module-flag.ll
Labels: none

[libc++] Trigger the benchmark-request job more often (#216003)
  .github/workflows/libcxx-benchmark-cron.yml
  libcxx/utils/ci/lnt/README.md
Labels: misc

[libc++][pstl] Implementation of parallel std::search_n() based on __parallel_find() (#214069)
  libcxx/include/CMakeLists.txt
  libcxx/include/__algorithm/pstl.h
  libcxx/include/__pstl/backend_fwd.h
  libcxx/include/__pstl/backends/default.h
  libcxx/include/__pstl/backends/libdispatch.h
  libcxx/include/__pstl/backends/serial.h
  libcxx/include/__pstl/backends/std_thread.h
  libcxx/include/__pstl/cpu_algos/search_n.h
  libcxx/include/module.modulemap.in
  libcxx/test/libcxx/algorithms/pstl.iterator-requirements.verify.cpp
  libcxx/test/libcxx/algorithms/pstl.nodiscard.verify.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.search/pstl.search_n.pass.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.search/pstl.search_n_pred.pass.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.search/search_n.pass.cpp
  libcxx/test/std/algorithms/pstl.exception_handling.pass.cpp
Labels: none

[AMDGPU] Fix si-pre-emit-peephole to preserve S_AND when SCC is alive (#215829)
  llvm/lib/Target/AMDGPU/SIPreEmitPeephole.cpp
  llvm/test/CodeGen/AMDGPU/insert-skip-from-vcc.mir
  llvm/test/CodeGen/AMDGPU/preemit-peephole-scc-liveness-issue215745.ll
Labels: none

[clang][doc] Update my entries to use my company email (#215816)
  clang/Maintainers.md
Labels: none

[MLIR][Linalg] Recompute linalg.broadcast dimensions when flattening (#213641)
  mlir/lib/Dialect/Linalg/TransformOps/LinalgTransformOps.cpp
  mlir/lib/Dialect/Linalg/Transforms/ElementwiseOpFusion.cpp
  mlir/test/Dialect/Linalg/flatten-elementwise.mlir
Labels: none

[dyndbg][LLVM] Implement dynamic debugging support (#194854)
  llvm/docs/DynamicDebugging.md
  llvm/include/llvm/Transforms/Utils/DynamicDebugging.h
  llvm/lib/Transforms/Utils/CMakeLists.txt
  llvm/lib/Transforms/Utils/DynamicDebugging.cpp
  llvm/unittests/Transforms/Utils/CMakeLists.txt
  llvm/unittests/Transforms/Utils/DynamicDebuggingTest.cpp
Labels: none

[libc++][ranges] Fix the LWG 3568 test for `basic_istream_view` (#215589)
  libcxx/test/std/ranges/range.factories/range.istream.view/ctor.pass.cpp
Labels: none

clang/AMDGPU: Respect __launch_bounds__ attribute (#215615)
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/AttrDocs.td
  clang/lib/CodeGen/Targets/AMDGPU.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/test/AST/undocumented-attrs.cpp
  clang/test/CodeGenCUDA/amdgpu-kernel-attrs.cu
  clang/test/SemaCUDA/launch_bounds_amdgpu.cu
Labels: none

Revert "[offload] Fix compatibility for level_zero 25.22.33944- #2142… (#216010)
  offload/plugins-nextgen/common/include/APIHelpers.h
  offload/plugins-nextgen/level_zero/dynamic_l0/L0DynWrapper.cpp
  offload/plugins-nextgen/level_zero/dynamic_l0/level_zero/ze_api.h
  offload/plugins-nextgen/level_zero/include/L0CmdListManager.h
  offload/plugins-nextgen/level_zero/include/L0Compat.h
  offload/plugins-nextgen/level_zero/include/L0Context.h
  offload/plugins-nextgen/level_zero/include/L0Device.h
  offload/plugins-nextgen/level_zero/src/L0Context.cpp
  offload/plugins-nextgen/level_zero/src/L0Plugin.cpp
  offload/unittests/OffloadAPI/queue/olLaunchHostFunction.cpp
Labels: none

[libc++][pstl] Implementation of parallel uninitialized_default_construct, uninitialized_value_construct and uninitialized_fill (#214580)
  libcxx/include/__memory/pstl.h
  libcxx/include/__pstl/backend_fwd.h
  libcxx/include/__pstl/backends/default.h
  libcxx/test/libcxx/algorithms/pstl.iterator-requirements.verify.cpp
  libcxx/test/std/algorithms/pstl.exception_handling.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/uninitialized.construct.default/pstl.uninitialized_default_construct.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/uninitialized.construct.default/pstl.uninitialized_default_construct_n.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/uninitialized.construct.value/pstl.uninitialized_value_construct.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/uninitialized.construct.value/pstl.uninitialized_value_construct_n.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/uninitialized.fill.n/pstl.uninitialized_fill_n.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/uninitialized.fill/pstl.uninitialized_fill.pass.cpp
Labels: none

[APINotes] Strip selector volatile and nested nullability from parameter selectors (#215266)
  clang/include/clang/AST/TypeBase.h
  clang/lib/AST/Type.cpp
  clang/lib/Sema/SemaAPINotes.cpp
  clang/test/APINotes/Inputs/Headers/WhereParametersSema.apinotes
  clang/test/APINotes/Inputs/Headers/WhereParametersSema.h
  clang/test/APINotes/where-parameters-sema.cpp
Labels: none

[RISCV] Fix prefetch ADDI-adjustment range upper bound (#215985)
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/test/CodeGen/RISCV/prefetch.ll
Labels: none

[lldb-dap][NFC] Fix deprecated SB API usages (#216006)
  lldb/tools/lldb-dap/Breakpoint.cpp
  lldb/tools/lldb-dap/DAP.cpp
  lldb/tools/lldb-dap/ExceptionBreakpoint.cpp
  lldb/tools/lldb-dap/JSONUtils.cpp
  lldb/tools/lldb-dap/ProtocolUtils.cpp
  lldb/tools/lldb-dap/SourceBreakpoint.cpp
  lldb/unittests/DAP/TestBase.cpp
  lldb/unittests/DAP/VariablesTest.cpp
Labels: none

[SLP][NFC]Add tests for and-cut reduction leaves, NFC
  llvm/test/Transforms/SLPVectorizer/RISCV/zext-or-nibble-reduction.ll
  llvm/test/Transforms/SLPVectorizer/X86/zext-or-nibble-reduction.ll
Labels: none

[NFC][AMDGPU] Avoid storing through a poison pointer in function-args.ll test (#215999)
  llvm/test/CodeGen/AMDGPU/function-args.ll
Labels: none
