Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[SPIRV] Error in backend for vararg functions
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.cpp
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.h
  llvm/test/CodeGen/SPIRV/function/vararg.ll
Labels: none

Make clang-format happy
  clang/lib/Driver/ToolChains/Flang.cpp
Labels: none

[OpenAC][CIR] func-local-declare 'copy' clause lowering
  clang/lib/CIR/CodeGen/CIRGenDeclOpenACC.cpp
  clang/lib/CIR/CodeGen/CIRGenOpenACCClause.cpp
  clang/test/CIR/CodeGenOpenACC/declare-copy.cpp
Labels: none

[mlir][acc] Adds attr to acc.present to identify default clause origin
  flang/test/Transforms/OpenACC/acc-implicit-data.fir
  mlir/include/mlir/Dialect/OpenACC/OpenACC.h
  mlir/lib/Dialect/OpenACC/Transforms/ACCImplicitData.cpp
  mlir/test/Dialect/OpenACC/acc-implicit-data.mlir
Labels: none

[NFC][LLDB] Make it possible to detect if the compiler used in tests supports -fbounds-safety
  lldb/packages/Python/lldbsuite/test/decorators.py
  lldb/test/Shell/helper/toolchain.py
  llvm/utils/lit/lit/llvm/config.py
Labels: python

Use LIBCXX_HAS_NEWLIB_LIBC in CI tests.
  libcxx/utils/ci/run-buildbot
Labels: none

Remove accidential 'vim' mark from test
  clang/test/CIR/CodeGenOpenACC/declare-copy.cpp
Labels: none

fix
  .ci/premerge_advisor_explain.py
Labels: python

Fix formatting
  clang/lib/CIR/CodeGen/CIRGenBuiltin.cpp
Labels: none

Revert "[CIR][NFC] Add missing code markers for Dtor_VectorDeleting (#167969)"
  clang/lib/CIR/CodeGen/CIRGenExprCXX.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.cpp
Labels: none

instcombine scalarization fix
  llvm/lib/Transforms/InstCombine/InstCombineVectorOps.cpp
  llvm/test/Transforms/InstCombine/scalarization.ll
Labels: none

Lowering bswap in operation legalization
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/lib/Target/NVPTX/NVPTXInstrInfo.td
  llvm/test/CodeGen/NVPTX/bswap.ll
Labels: none

fix
  .ci/premerge_advisor_explain.py
Labels: python

[NVPTX] Lower LLVM masked vector stores to PTX using the new sink symbol syntax
  llvm/include/llvm/Analysis/TargetTransformInfo.h
  llvm/include/llvm/Analysis/TargetTransformInfoImpl.h
  llvm/lib/Analysis/TargetTransformInfo.cpp
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.h
  llvm/lib/Target/ARM/ARMTargetTransformInfo.h
  llvm/lib/Target/Hexagon/HexagonTargetTransformInfo.cpp
  llvm/lib/Target/Hexagon/HexagonTargetTransformInfo.h
  llvm/lib/Target/NVPTX/MCTargetDesc/NVPTXInstPrinter.cpp
  llvm/lib/Target/NVPTX/MCTargetDesc/NVPTXInstPrinter.h
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/lib/Target/NVPTX/NVPTXInstrInfo.td
  llvm/lib/Target/NVPTX/NVPTXTargetTransformInfo.cpp
  llvm/lib/Target/NVPTX/NVPTXTargetTransformInfo.h
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.h
  llvm/lib/Target/VE/VETargetTransformInfo.h
  llvm/lib/Target/X86/X86TargetTransformInfo.cpp
  llvm/lib/Target/X86/X86TargetTransformInfo.h
  llvm/lib/Transforms/Scalar/ScalarizeMaskedMemIntrin.cpp
  llvm/test/CodeGen/NVPTX/masked-store-variable-mask.ll
  llvm/test/CodeGen/NVPTX/masked-store-vectors-256.ll
Labels: none

Clang format
  llvm/include/llvm/Analysis/TargetTransformInfoImpl.h
  llvm/lib/Analysis/TargetTransformInfo.cpp
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.h
  llvm/lib/Target/ARM/ARMTargetTransformInfo.h
  llvm/lib/Target/Hexagon/HexagonTargetTransformInfo.cpp
  llvm/lib/Target/Hexagon/HexagonTargetTransformInfo.h
  llvm/lib/Target/NVPTX/NVPTXTargetTransformInfo.cpp
  llvm/lib/Target/NVPTX/NVPTXTargetTransformInfo.h
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.h
  llvm/lib/Target/VE/VETargetTransformInfo.h
  llvm/lib/Target/X86/X86TargetTransformInfo.cpp
  llvm/lib/Target/X86/X86TargetTransformInfo.h
Labels: none

Update TTI to add enum value representing MaskKind to isLegalMaskedLoad/Store
  llvm/include/llvm/Analysis/TargetTransformInfo.h
  llvm/include/llvm/Analysis/TargetTransformInfoImpl.h
  llvm/lib/Analysis/TargetTransformInfo.cpp
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.h
  llvm/lib/Target/ARM/ARMTargetTransformInfo.cpp
  llvm/lib/Target/ARM/ARMTargetTransformInfo.h
  llvm/lib/Target/Hexagon/HexagonTargetTransformInfo.cpp
  llvm/lib/Target/Hexagon/HexagonTargetTransformInfo.h
  llvm/lib/Target/NVPTX/NVPTXTargetTransformInfo.cpp
  llvm/lib/Target/NVPTX/NVPTXTargetTransformInfo.h
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.h
  llvm/lib/Target/VE/VETargetTransformInfo.h
  llvm/lib/Target/X86/X86TargetTransformInfo.cpp
  llvm/lib/Target/X86/X86TargetTransformInfo.h
  llvm/lib/Transforms/Scalar/ScalarizeMaskedMemIntrin.cpp
Labels: none

Add unroll pattern for vector.create_mask
  mlir/include/mlir/Dialect/Vector/IR/VectorOps.td
  mlir/lib/Dialect/Vector/Transforms/VectorUnroll.cpp
  mlir/test/Dialect/Vector/vector-unroll-options.mlir
  mlir/test/lib/Dialect/Vector/TestVectorTransforms.cpp
Labels: none

test fail
  .ci/monolithic-linux.sh
  .ci/monolithic-windows.sh
  llvm/utils/TableGen/llvm-tblgen.cpp
Labels: none

Add masked load lowering support
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/Target/NVPTX/MCTargetDesc/NVPTXInstPrinter.cpp
  llvm/lib/Target/NVPTX/MCTargetDesc/NVPTXInstPrinter.h
  llvm/lib/Target/NVPTX/NVPTXForwardParams.cpp
  llvm/lib/Target/NVPTX/NVPTXISelDAGToDAG.cpp
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/lib/Target/NVPTX/NVPTXISelLowering.h
  llvm/lib/Target/NVPTX/NVPTXInstrInfo.td
  llvm/lib/Target/NVPTX/NVPTXIntrinsics.td
  llvm/lib/Target/NVPTX/NVPTXReplaceImageHandles.cpp
  llvm/lib/Target/NVPTX/NVPTXSelectionDAGInfo.cpp
  llvm/lib/Target/NVPTX/NVPTXSelectionDAGInfo.h
  llvm/lib/Target/NVPTX/NVPTXTagInvariantLoads.cpp
  llvm/test/CodeGen/MIR/NVPTX/floating-point-immediate-operands.mir
  llvm/test/CodeGen/NVPTX/masked-load-vectors.ll
  llvm/test/CodeGen/NVPTX/proxy-reg-erasure.mir
Labels: none

Fix typo
  llvm/test/CodeGen/NVPTX/masked-load-vectors.ll
Labels: none

Review feedback
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/lib/Target/NVPTX/NVPTXTargetTransformInfo.cpp
Labels: none

More review feedback
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
Labels: none

Fix ARM TTI
  llvm/lib/Target/ARM/ARMTargetTransformInfo.h
Labels: none

Make fixes based on recent TOT changes, adjust tests, expand LoadV8 unpacking mov handling for v2i32 packed types
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/lib/Transforms/Scalar/ScalarizeMaskedMemIntrin.cpp
  llvm/test/CodeGen/NVPTX/ldg-invariant-256.ll
  llvm/test/CodeGen/NVPTX/machinelicm-no-preheader.mir
  llvm/test/CodeGen/NVPTX/masked-load-vectors.ll
  llvm/test/CodeGen/NVPTX/masked-store-variable-mask.ll
  llvm/test/CodeGen/NVPTX/masked-store-vectors-256.ll
Labels: none

Review feedback
  llvm/lib/Target/NVPTX/NVPTXISelDAGToDAG.cpp
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/lib/Target/NVPTX/NVPTXSelectionDAGInfo.cpp
  llvm/lib/Target/NVPTX/NVPTXSelectionDAGInfo.h
  llvm/lib/Target/NVPTX/NVPTXTagInvariantLoads.cpp
Labels: none

Change pragma printing to use hex
  llvm/lib/Target/NVPTX/MCTargetDesc/NVPTXInstPrinter.cpp
  llvm/test/CodeGen/NVPTX/masked-load-vectors.ll
Labels: none

Address review feedback, limit masked loads to avoid sub byte element types
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/lib/Target/NVPTX/NVPTXTargetTransformInfo.cpp
Labels: none

review feedback
  llvm/lib/Target/NVPTX/NVPTXISelDAGToDAG.cpp
Labels: none

fixes
  .github/workflows/release-binaries-windows.yml
  llvm/utils/release/build_llvm_release.bat
Labels: misc

Fix format
  mlir/test/lib/Dialect/Vector/TestVectorTransforms.cpp
Labels: none

different failure
  .ci/monolithic-linux.sh
  llvm/utils/TableGen/llvm-tblgen.cpp
Labels: none

fix
  .ci/monolithic-linux.sh
Labels: none

Really fix tysan test failing on unsupported arches (#169096)
  clang/test/CodeGen/sanitize-type-outlined.cpp
Labels: none

[test][Support] Disable SignalsTest.PrintsSymbolizerMarkup (#168974)
  llvm/unittests/Support/SignalsTest.cpp
Labels: none

[include-cleaner] Use lit internal shell by default for tests (#169092)
  clang-tools-extra/include-cleaner/test/lit.cfg.py
Labels: python

clean
  .ci/monolithic-linux.sh
  .ci/monolithic-windows.sh
  llvm/utils/TableGen/llvm-tblgen.cpp
Labels: none

[ORC] Fix obj-imageinfo.S on X86 Darwin with Internal Shell (#169104)
  compiler-rt/test/orc/TestCases/Darwin/x86-64/objc-imageinfo.S
Labels: none

fix format, fix undef in test
  llvm/lib/Transforms/InstCombine/InstCombineVectorOps.cpp
  llvm/test/Transforms/InstCombine/scalarization.ll
Labels: none

cleanup
  .ci/monolithic-linux.sh
  .ci/monolithic-windows.sh
  .ci/premerge_advisor_explain.py
Labels: python

DAG: Handle poison in m_Undef (#168288)
  llvm/include/llvm/CodeGen/SDPatternMatch.h
  llvm/unittests/CodeGen/SelectionDAGPatternMatchTest.cpp
Labels: none
