Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

remove redundant include
  clang-tools-extra/clang-tidy/bugprone/SmartPtrInitializationCheck.h
Labels: none

[AArch64][GlobalISel] Use integer types for scalable vector insert / extract index.
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/irtranslator-subvector.ll
Labels: none

[libc++] Add __fwd/mbstate_t.h to fix mbstate_t visibility in modules build
  libcxx/include/CMakeLists.txt
  libcxx/include/__fwd/mbstate_t.h
  libcxx/include/__string/char_traits.h
  libcxx/include/cuchar
  libcxx/include/cwchar
  libcxx/include/iosfwd
  libcxx/include/module.modulemap.in
  libcxx/utils/generate_iwyu_mapping.py
Labels: python

fix IEEE f128 complex mul on powerpc
  clang/docs/ReleaseNotes.md
  clang/lib/CodeGen/CGExprComplex.cpp
  clang/test/CodeGen/fp128_complex.c
Labels: none

[DirectX] Lower `llvm.dx.resource.handlefromheap` intrinsic (#216459)
  llvm/lib/Target/DirectX/DXIL.td
  llvm/lib/Target/DirectX/DXILOpLowering.cpp
  llvm/test/CodeGen/DirectX/CreateHandleHeap-NURI.ll
  llvm/test/CodeGen/DirectX/CreateHandleHeap.ll
Labels: none

update test
  llvm/test/CodeGen/X86/fpclamptosat_vec.ll
Labels: none

Try to fix CI
  libcxx/utils/libcxx/test/params.py
Labels: python

[CI] Add metrics for MacOS jobs
  .ci/metrics/metrics.py
Labels: python

[RISCV][NFC] Split PreRAExpandPseudo to new file
  llvm/lib/Target/RISCV/CMakeLists.txt
  llvm/lib/Target/RISCV/RISCVExpandAtomicPseudoInsts.cpp
  llvm/lib/Target/RISCV/RISCVExpandPseudoInsts.cpp
  llvm/lib/Target/RISCV/RISCVPostRAExpandPseudoInsts.cpp
  llvm/lib/Target/RISCV/RISCVPreRAExpandPseudoInsts.cpp
Labels: none

[InferAddressSpaces] Lower stuck uninitialized values to flat before rewriting (#215525)
  llvm/lib/Transforms/Scalar/InferAddressSpaces.cpp
  llvm/test/Transforms/InferAddressSpaces/AMDGPU/phi-cycle-uninitialized-addrspace.ll
Labels: none

[mlir][xegpu] Carry batch offsets in offset_h instead of the base pointer
  mlir/lib/Conversion/VectorToXeGPU/VectorToXeGPU.cpp
  mlir/lib/Conversion/XeGPUToXeVM/XeGPUToXeVM.cpp
  mlir/lib/Dialect/XeGPU/IR/XeGPUOps.cpp
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUArrayLengthOptimization.cpp
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUPeepHoleOptimizer.cpp
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUUnroll.cpp
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUWgToSgDistribute.cpp
  mlir/test/Conversion/VectorToXeGPU/transfer-read-to-xegpu.mlir
  mlir/test/Conversion/VectorToXeGPU/transfer-write-to-xegpu.mlir
  mlir/test/Conversion/XeGPUToXeVM/create_nd_tdesc.mlir
  mlir/test/Conversion/XeGPUToXeVM/failed_conversion.mlir
  mlir/test/Conversion/XeGPUToXeVM/loadstore_nd.mlir
  mlir/test/Dialect/XeGPU/invalid.mlir
  mlir/test/Dialect/XeGPU/ops.mlir
  mlir/test/Dialect/XeGPU/peephole-optimize.mlir
  mlir/test/Dialect/XeGPU/sg-to-lane-distribute-unit.mlir
  mlir/test/Dialect/XeGPU/xegpu-unroll-patterns.mlir
Labels: none

[RISCV] Port Post-RA Expand Pseudos to NewPM (#218080)
  llvm/lib/Target/RISCV/RISCV.h
  llvm/lib/Target/RISCV/RISCVCodeGenPassBuilder.cpp
  llvm/lib/Target/RISCV/RISCVPassRegistry.def
  llvm/lib/Target/RISCV/RISCVPostRAExpandPseudoInsts.cpp
  llvm/lib/Target/RISCV/RISCVTargetMachine.cpp
  llvm/test/CodeGen/RISCV/O1-newpm-pipeline.ll
  llvm/test/CodeGen/RISCV/O3-newpm-pipeline.ll
  llvm/test/CodeGen/RISCV/postra-expand-pseudo.mir
  llvm/tools/llvm-exegesis/lib/RISCV/Target.cpp
Labels: none

Try to fix CI
  libcxx/cmake/caches/Generic-cxx29.cmake
  libcxx/test/libcxx/transitive_includes.gen.py
  libcxx/utils/libcxx/test/params.py
Labels: python

[VPlan] Expand sequential/regular UMin SCEVs in VPSCEVExpander. (#209786)
  llvm/lib/Transforms/Vectorize/VPlanUtils.cpp
  llvm/lib/Transforms/Vectorize/VPlanUtils.h
  llvm/test/Transforms/LoopVectorize/X86/cost-model.ll
Labels: none

[mlir][xegpu] Review cleanups: inline createNdDescriptor, simplify verify
  mlir/lib/Conversion/VectorToXeGPU/VectorToXeGPU.cpp
  mlir/lib/Conversion/XeGPUToXeVM/XeGPUToXeVM.cpp
  mlir/lib/Dialect/XeGPU/IR/XeGPUOps.cpp
Labels: none

undo cast
  clang/lib/AST/ASTContext.cpp
Labels: none

Fix workflows
  .github/workflows/libcxx-pr-conformance-tests.yaml
Labels: misc

[llvm-reduce] Avoid trying to create default constants for x86_amx
  llvm/test/tools/llvm-reduce/x86-amx-default-value.ll
  llvm/tools/llvm-reduce/deltas/Utils.cpp
Labels: none

[llvm-reduce][Docs] Add docs on --delta-passes option
  llvm/docs/CommandGuide/llvm-reduce.rst
Labels: none

Feedback
  clang/lib/CodeGen/CGException.cpp
  clang/lib/CodeGen/CGObjCRuntime.cpp
  clang/lib/CodeGen/CodeGenFunction.h
Labels: none

[AssumptionCache] Address review comments
  llvm/include/llvm/Analysis/AssumptionCache.h
  llvm/lib/Analysis/AssumptionCache.cpp
Labels: none

[RISCV][P-ext] Custom lower v8i8 mulh* on RV64. NFC
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoP.td
Labels: none

fixup! [llvm-strings] Use small buffer instead of reading whole file
  llvm/test/tools/llvm-strings/errors.test
  llvm/test/tools/llvm-strings/read-error.test
  llvm/tools/llvm-strings/llvm-strings.cpp
Labels: none

[RISCV] Port ExpandAtomicPseudo to NewPM
  llvm/lib/Target/RISCV/RISCV.h
  llvm/lib/Target/RISCV/RISCVCodeGenPassBuilder.cpp
  llvm/lib/Target/RISCV/RISCVExpandAtomicPseudoInsts.cpp
  llvm/lib/Target/RISCV/RISCVPassRegistry.def
  llvm/lib/Target/RISCV/RISCVTargetMachine.cpp
  llvm/test/CodeGen/RISCV/O1-newpm-pipeline.ll
  llvm/test/CodeGen/RISCV/O3-newpm-pipeline.ll
  llvm/test/CodeGen/RISCV/expand-atomic-pseudo.mir
Labels: none

[lldb][GNUstep] Add data formatters for gnustep-base Foundation classes
  lldb/source/Plugins/Language/ObjC/CMakeLists.txt
  lldb/source/Plugins/Language/ObjC/Cocoa.cpp
  lldb/source/Plugins/Language/ObjC/GNUstepFormatters.cpp
  lldb/source/Plugins/Language/ObjC/GNUstepFormatters.h
  lldb/source/Plugins/Language/ObjC/GNUstepNSArray.cpp
  lldb/source/Plugins/Language/ObjC/GNUstepNSDictionary.cpp
  lldb/source/Plugins/Language/ObjC/GNUstepNSNumber.cpp
  lldb/source/Plugins/Language/ObjC/GNUstepNSString.cpp
  lldb/source/Plugins/Language/ObjC/NSArray.cpp
  lldb/source/Plugins/Language/ObjC/NSDictionary.cpp
  lldb/source/Plugins/Language/ObjC/NSDictionary.h
  lldb/source/Plugins/Language/ObjC/NSSet.cpp
  lldb/source/Plugins/Language/ObjC/NSString.cpp
  lldb/source/Plugins/Language/ObjC/ObjCLanguage.cpp
  lldb/test/Shell/Expr/objc-gnustep-print.m
Labels: none

[lldb][GNUstep] Add tests for the gnustep-base data formatters
  lldb/packages/Python/lldbsuite/test/builders/builder.py
  lldb/packages/Python/lldbsuite/test/configuration.py
  lldb/packages/Python/lldbsuite/test/dotest.py
  lldb/packages/Python/lldbsuite/test/dotest_args.py
  lldb/packages/Python/lldbsuite/test/make/Makefile.rules
  lldb/packages/Python/lldbsuite/test/test_categories.py
  lldb/test/API/lang/objc-gnustep/data-formatters/Makefile
  lldb/test/API/lang/objc-gnustep/data-formatters/TestGNUstepDataFormatters.py
  lldb/test/API/lang/objc-gnustep/data-formatters/categories
  lldb/test/API/lang/objc-gnustep/data-formatters/main.m
  lldb/test/API/lit.cfg.py
  lldb/test/API/lit.site.cfg.py.in
  lldb/test/CMakeLists.txt
  lldb/unittests/Language/ObjC/CMakeLists.txt
  lldb/unittests/Language/ObjC/GNUstepFormattersTest.cpp
Labels: python

[lldb][GNUstep] Make the nil-receiver stepping check portable
  lldb/test/Shell/Expr/objc-gnustep-stepping.m
Labels: none

[lldb][GNUstep] Find SmallObjectClasses through debug info as a fallback
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCClassDescriptor.cpp
Labels: none

[lldb][GNUstep] Extend the data formatter and class object tests
  lldb/test/API/lang/objc-gnustep/data-formatters/TestGNUstepDataFormatters.py
  lldb/test/API/lang/objc-gnustep/data-formatters/main.m
  lldb/test/Shell/Expr/objc-gnustep-class-objects.m
  lldb/unittests/Language/ObjC/GNUstepFormattersTest.cpp
Labels: python

[lldb] Add a test for Objective-C type completion on MSVC targets
  lldb/test/Shell/SymbolFile/DWARF/clang-ast-from-dwarf-objc-interface-msvc.m
Labels: none

[lldb][GNUstep] Implement `po` without depending on gnustep-base
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCRuntime.cpp
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCRuntime.h
  lldb/test/API/lang/objc-gnustep/data-formatters/TestGNUstepDataFormatters.py
  lldb/test/Shell/Expr/objc-gnustep-print.m
Labels: python

[lldb][GNUstep] Harden the ISA-to-descriptor map
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCRuntime.cpp
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCRuntime.h
  lldb/unittests/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCClassDescriptorTest.cpp
Labels: none

[lldb][GNUstep] Add a type encoding parser for libobjc2 metadata
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/CMakeLists.txt
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCRuntime.cpp
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCRuntime.h
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCTypeEncodingParser.cpp
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCTypeEncodingParser.h
  lldb/unittests/LanguageRuntime/ObjC/GNUstepObjCRuntime/CMakeLists.txt
  lldb/unittests/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCTypeEncodingParserTest.cpp
Labels: none

[lldb][GNUstep] Add Objective-C exception breakpoints and exception objects
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCRuntime.cpp
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCRuntime.h
  lldb/test/Shell/Expr/objc-gnustep-exceptions.m
Labels: none

[lldb][GNUstep] Test catch breakpoints where the runtime supports them
  lldb/test/Shell/Expr/objc-gnustep-exceptions.m
  lldb/test/Shell/lit.cfg.py
Labels: python

[lldb][GNUstep] Step over a message to nil instead of into the runtime
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCRuntime.cpp
  lldb/test/Shell/Expr/objc-gnustep-stepping.m
Labels: none

[lldb][GNUstep] Read ivars from libobjc2 metadata
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCClassDescriptor.cpp
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCClassDescriptor.h
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCRuntime.cpp
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCRuntime.h
  lldb/unittests/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCClassDescriptorTest.cpp
Labels: none

[lldb][GNUstep] Fall back to runtime metadata for ivars, and format NSURL
  lldb/source/Plugins/Language/ObjC/GNUstepFormatters.cpp
  lldb/source/Plugins/Language/ObjC/GNUstepFormatters.h
  lldb/source/Plugins/Language/ObjC/GNUstepNSString.cpp
  lldb/test/API/lang/objc-gnustep/data-formatters/TestGNUstepDataFormatters.py
  lldb/test/Shell/Expr/objc-gnustep-string-flags.m
  lldb/unittests/Language/ObjC/GNUstepFormattersTest.cpp
  lldb/unittests/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCClassDescriptorTest.cpp
Labels: python

[lldb] Fix a crash listing a frame recognizer with no module
  lldb/source/Target/StackFrameRecognizer.cpp
  lldb/unittests/Target/StackFrameRecognizerTest.cpp
Labels: none

[lldb][GNUstep] Format NSException, and match the throw frame by mangled name
  lldb/source/Plugins/Language/ObjC/GNUstepFormatters.cpp
  lldb/source/Plugins/Language/ObjC/GNUstepFormatters.h
  lldb/source/Plugins/LanguageRuntime/ObjC/GNUstepObjCRuntime/GNUstepObjCRuntime.cpp
  lldb/test/API/lang/objc-gnustep/exceptions/Makefile
  lldb/test/API/lang/objc-gnustep/exceptions/TestGNUstepExceptions.py
  lldb/test/API/lang/objc-gnustep/exceptions/categories
  lldb/test/API/lang/objc-gnustep/exceptions/main.m
Labels: python

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
