Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[libc++] Simplify the implementation of to_address a bit (#198256)
  libcxx/include/__memory/pointer_traits.h
Labels: none

[CIR][AArch64] Upstream Neon vget_lane/vgetq_lane builtins (#186119)
  clang/lib/CIR/CodeGen/CIRGenBuiltinAArch64.cpp
  clang/test/CodeGen/AArch64/fp8-intrinsics/acle_neon_fp8_untyped.c
  clang/test/CodeGen/AArch64/neon-scalar-copy.c
  clang/test/CodeGen/AArch64/neon-vget.c
  clang/test/CodeGen/AArch64/neon/getset.c
  clang/test/CodeGen/AArch64/poly64.c
Labels: none

Some miscellaneous fixups
  llvm/utils/patch-coverage/README.md
  llvm/utils/patch-coverage/main.py
  llvm/utils/patch-coverage/process.py
  llvm/utils/patch-coverage/test.py
  llvm/utils/patch-coverage/utils.py
Labels: python

Drop CXX from ParseCXXCondition
  clang/include/clang/Parse/Parser.h
  clang/lib/Parse/ParseExprCXX.cpp
  clang/lib/Parse/ParseStmt.cpp
Labels: none

fixup! format
  llvm/utils/patch-coverage/process.py
  llvm/utils/patch-coverage/utils.py
Labels: python

refactor: make template arg accessors out-of-contract for non-template entities
  clang/include/clang/AST/ASTNodeTraverser.h
  clang/include/clang/AST/DeclTemplate.h
  clang/lib/AST/DeclPrinter.cpp
  clang/lib/AST/DeclTemplate.cpp
Labels: none

[clang-sycl-linker] Infer target triple from input bitcode (#198036)
  clang/test/Tooling/clang-sycl-linker-split-mode.ll
  clang/test/Tooling/clang-sycl-linker-triple.ll
  clang/test/Tooling/clang-sycl-linker.ll
  clang/tools/clang-sycl-linker/ClangSYCLLinker.cpp
Labels: none

[AArch64][GlobalISel] Add G_PMUL node
  llvm/lib/Target/AArch64/AArch64InstrGISel.td
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.cpp
  llvm/lib/Target/AArch64/GISel/AArch64RegisterBankInfo.cpp
Labels: none

Formatting
  compiler-rt/test/tysan/set_type_unknown-interface.c
Labels: none

[clang][test] Move offload tool tests to clang/test/OffloadTools/
  clang/test/OffloadTools/clang-linker-wrapper/linker-wrapper-canonical-prefixes.c
  clang/test/OffloadTools/clang-linker-wrapper/linker-wrapper-hip-amdgcnspirv.c
  clang/test/OffloadTools/clang-linker-wrapper/linker-wrapper-hip-no-rdc.c
  clang/test/OffloadTools/clang-linker-wrapper/linker-wrapper-image.c
  clang/test/OffloadTools/clang-linker-wrapper/linker-wrapper-llvm-help.c
  clang/test/OffloadTools/clang-linker-wrapper/linker-wrapper.c
  clang/test/OffloadTools/clang-linker-wrapper/lit.local.cfg
  clang/test/OffloadTools/clang-linker-wrapper/spirv.cpp
  clang/test/OffloadTools/clang-nvlink-wrapper/nvlink-wrapper.c
  clang/test/OffloadTools/clang-offload-bundler/asserts-on.c
  clang/test/OffloadTools/clang-offload-bundler/basic.c
  clang/test/OffloadTools/clang-offload-bundler/fat-archive-unbundle-ext.c
  clang/test/OffloadTools/clang-offload-bundler/standardize.c
  clang/test/OffloadTools/clang-offload-bundler/zlib.c
  clang/test/OffloadTools/clang-offload-bundler/zstd.c
  clang/test/OffloadTools/clang-sycl-linker/basic.ll
  clang/test/OffloadTools/clang-sycl-linker/split-mode.ll
  clang/test/Tooling/lit.local.cfg
Labels: none

[LV] Fix dead early exit in test. NFC
  llvm/test/Transforms/LoopVectorize/predicated-single-exit.ll
Labels: none

new test
  clang/test/OffloadTools/clang-sycl-linker/triple.ll
Labels: none

[libc++][C++03] Fix copy_backward.pass.cpp and equal.pass.cpp
  libcxx/include/__cxx03/__bit_reference
  libcxx/test/std/algorithms/alg.modifying.operations/alg.copy/copy_backward.pass.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.equal/equal.pass.cpp
Labels: none

[CIR] Atomic fetch-and-update operations on pointers
  clang/lib/CIR/CodeGen/CIRGenAtomic.cpp
  clang/test/CIR/CodeGen/atomic.c
Labels: none

[docker][windows] install make in Dockerfile
  .github/workflows/containers/github-action-ci-windows/Dockerfile
Labels: misc

[libc][clang] Use __nvvm_nanosleep builtin over inline assembly
  clang/lib/Headers/nvptxintrin.h
  libc/shared/rpc_util.h
  libc/src/__support/threads/sleep.h
  libc/src/time/gpu/nanosleep.cpp
Labels: none

[libc++][C++03] Remove contiguous_iterators.verify.cpp
  libcxx/test/libcxx-03/iterators/contiguous_iterators.verify.cpp
Labels: none

Reviewer feedback
  llvm/lib/Transforms/Utils/SimplifyCFG.cpp
Labels: none

[libc++][C++03] Remove contiguous_iterators.verify.cpp (#198816)
  libcxx/test/libcxx-03/iterators/contiguous_iterators.verify.cpp
Labels: none

[libc++][C++03] Back-port #188714
  libcxx/include/__cxx03/__bit_reference
  libcxx/test/std/containers/sequences/vector.bool/reference/builtin_address_of.pass.cpp
  libcxx/test/std/utilities/template.bitset/bitset.members/reference.builtin_address_of.pass.cpp
Labels: none

[lldb] Document lldb-mcp helper for MCP clients (#198675)
  lldb/docs/use/mcp.md
Labels: none

[RISCV] Fix musttail with indirect arguments by forwarding incoming pointers (#185094)
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVMachineFunctionInfo.h
  llvm/test/CodeGen/RISCV/musttail-call.ll
  llvm/test/CodeGen/RISCV/musttail-indirect-args.ll
  llvm/test/CodeGen/RISCV/rvv/musttail-indirect-args.ll
Labels: none

[lldb] Fall back to FindProcesses in webinspector-wasm GetProcessInfo (#198700)
  lldb/source/Plugins/Platform/WebAssembly/PlatformWebInspectorWasm.cpp
Labels: none

[𝘀𝗽𝗿] initial version
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/X86/extractelements-vector-ops-shuffle.ll
  llvm/test/Transforms/SLPVectorizer/X86/ordered-reductions.ll
  llvm/test/Transforms/SLPVectorizer/X86/phi.ll
  llvm/test/Transforms/SLPVectorizer/X86/scatter-vectorize-reorder-non-empty.ll
Labels: none

[lldb][windows] emit a warning if the test target's path exceeds Windows' limit (#198743)
  lldb/packages/Python/lldbsuite/test/lldbtest.py
  lldb/test/Shell/helper/toolchain.py
Labels: python

[SLP] Support ordered fadd reduction via reduction intrinsics
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/X86/extractelements-vector-ops-shuffle.ll
  llvm/test/Transforms/SLPVectorizer/X86/ordered-reductions.ll
  llvm/test/Transforms/SLPVectorizer/X86/phi.ll
  llvm/test/Transforms/SLPVectorizer/X86/scatter-vectorize-reorder-non-empty.ll
Labels: none

[AArch64][GlobalISel] Add support for scalar sqdmulh intrinsic (#198749)
  llvm/lib/Target/AArch64/GISel/AArch64RegisterBankInfo.cpp
  llvm/test/CodeGen/AArch64/arm64-int-neon.ll
  llvm/test/CodeGen/AArch64/arm64-vmul.ll
Labels: none

[libc++] Use __in_out_result in the remaining appropriate algorithms
  libcxx/include/__algorithm/copy_if.h
  libcxx/include/__algorithm/partial_sort_copy.h
  libcxx/include/__algorithm/ranges_copy_if.h
  libcxx/include/__algorithm/ranges_partial_sort_copy.h
  libcxx/include/__algorithm/ranges_unique_copy.h
  libcxx/include/__algorithm/unique_copy.h
  libcxx/include/__memory/ranges_uninitialized_algorithms.h
  libcxx/include/__memory/uninitialized_algorithms.h
Labels: none

[libc++][C++03] Back-port #188714 (#198798)
  libcxx/include/__cxx03/__bit_reference
  libcxx/test/std/containers/sequences/vector.bool/reference/builtin_address_of.pass.cpp
  libcxx/test/std/utilities/template.bitset/bitset.members/reference.builtin_address_of.pass.cpp
Labels: none

[libc++][C++03] Cherry-pick #115271 (#198804)
  libcxx/include/__cxx03/__iterator/bounded_iter.h
  libcxx/include/__cxx03/__iterator/wrap_iter.h
  libcxx/test/libcxx-03/iterators/contiguous_iterators.conv.compile.pass.cpp
Labels: none

[libc++][C++03] Cherry-pick #110235 (#198805)
  libcxx/include/__cxx03/complex
  libcxx/test/libcxx-03/numerics/complex.number/cmplx.over.pow.pass.cpp
Labels: none

[flang] Do not set nuw flag on mul/add/getelementptr when lowering array_coor from a box base. (#198014)
  flang/lib/Optimizer/CodeGen/CodeGen.cpp
  flang/test/Fir/array-coor.fir
  flang/test/Fir/arrexp.fir
  flang/test/Fir/convert-to-llvm.fir
  flang/test/Fir/tbaa-codegen.fir
  flang/test/Fir/tbaa-codegen2.fir
  flang/test/Fir/tbaa.fir
Labels: none

[CIR] Hoist allocas out of deferred conditional cleanup scopes (#198680)
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/CodeGen/Address.h
  clang/lib/CIR/CodeGen/CIRGenCleanup.cpp
  clang/test/CIR/CodeGen/cleanup-conditional-with-wrapper-eh.cpp
  clang/test/CIR/CodeGen/cleanup-conditional-with-wrapper.cpp
Labels: none

[Clang] Use explicitly for amdgpu-unwind.cl
  clang/test/Driver/amdgpu-unwind.cl
Labels: none

[libc++][C++03] Fix array/size_and_alignment.compile.pass.cpp
  libcxx/test/std/containers/sequences/array/size_and_alignment.compile.pass.cpp
Labels: none

[flang-rt] Implement iso module in C++ in the runtime (#197687)
  flang-rt/CMakeLists.txt
  flang-rt/lib/runtime/CMakeLists.txt
  flang-rt/lib/runtime/iso_fortran_env_impl.cpp
  flang-rt/test/Driver/compare_iso_fortran_env_symbols.f90
  flang-rt/test/Driver/iso_fortran_env_impl.f90
  flang/include/flang/Common/type-kinds.h
  flang/module/iso_fortran_env_impl.f90
Labels: none

[libc++][C++03] Fix string.view/char.bad.verify.cpp
  libcxx/test/std/strings/string.view/char.bad.verify.cpp
Labels: none

fixup! Address review feedback
  llvm/lib/Transforms/AggressiveInstCombine/AggressiveInstCombine.cpp
Labels: none

fixed missing feature in cfg
  clang/test/OffloadTools/clang-linker-wrapper/lit.local.cfg
Labels: none

[AMDGPU] Add regression test for extract of vector binop scalarization.
  llvm/test/CodeGen/AMDGPU/extract-vector-elt-binop-build-vector.ll
Labels: none
