Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

fix requires clause
  libcxx/include/__ranges/concat_view.h
  libcxx/test/std/ranges/range.adaptors/range.concat/iterator/increment.pass.cpp
Labels: none

clang format
  libcxx/test/std/ranges/range.adaptors/range.concat/iterator/increment.pass.cpp
Labels: none

workflows/upload-release-artifact: Upload a separate attestation for each artifact (#171525)
  .github/workflows/upload-release-artifact/action.yml
Labels: misc

[RISCV] Add an OperandType to VMaskOp. NFC
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVBaseInfo.h
  llvm/lib/Target/RISCV/RISCVAsmPrinter.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoV.td
Labels: none

Remove trailing punctuation in warning messaged.
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-callgraph-section.test
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-warn-invalid-format-version.test
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-warn-missing-section.test
  llvm/tools/llvm-readobj/ELFDumper.cpp
Labels: none

[scudo] Show the resident pages from the secondary cache. (#170568)
  compiler-rt/lib/scudo/standalone/common.h
  compiler-rt/lib/scudo/standalone/fuchsia.cpp
  compiler-rt/lib/scudo/standalone/linux.cpp
  compiler-rt/lib/scudo/standalone/secondary.h
  compiler-rt/lib/scudo/standalone/tests/common_test.cpp
  compiler-rt/lib/scudo/standalone/trusty.cpp
Labels: none

[𝘀𝗽𝗿] initial version
  lldb/source/Host/windows/ProcessLauncherWindows.cpp
Labels: none

[𝘀𝗽𝗿] changes to main this commit is based on
  lldb/source/Host/windows/ProcessLauncherWindows.cpp
Labels: none

Address feedback
  llvm/lib/Target/AMDGPU/GCNHazardRecognizer.cpp
Labels: none

[libc] Refactor static polymorphism in WriteBuffer (NFC). (#169089)
  libc/src/__support/RPC/rpc_server.h
  libc/src/stdio/baremetal/printf.cpp
  libc/src/stdio/baremetal/vprintf.cpp
  libc/src/stdio/printf_core/vasprintf_internal.h
  libc/src/stdio/printf_core/vfprintf_internal.h
  libc/src/stdio/printf_core/writer.h
  libc/src/stdio/snprintf.cpp
  libc/src/stdio/sprintf.cpp
  libc/src/stdio/vsnprintf.cpp
  libc/src/stdio/vsprintf.cpp
  libc/src/stdlib/strfromd.cpp
  libc/src/stdlib/strfromf.cpp
  libc/src/stdlib/strfroml.cpp
  libc/src/time/strftime.cpp
  libc/src/time/strftime_l.cpp
  libc/test/src/stdio/printf_core/converter_test.cpp
  libc/test/src/stdio/printf_core/writer_test.cpp
Labels: none

[scudo] Fix typo in multiple files (#171925)
  compiler-rt/lib/scudo/standalone/primary64.h
  compiler-rt/lib/scudo/standalone/release.h
  compiler-rt/lib/scudo/standalone/tests/checksum_test.cpp
  compiler-rt/lib/scudo/standalone/tests/wrappers_cpp_test.cpp
  compiler-rt/lib/scudo/standalone/trusty.h
Labels: none

Use bitmask for flags.
  llvm/tools/llvm-readobj/ELFDumper.cpp
Labels: none

[AArch64] Extend Windows CPU feature detection with more features.
  compiler-rt/lib/builtins/cpu_model/aarch64/fmv/windows.inc
  llvm/lib/TargetParser/Host.cpp
Labels: none

Fix test content indentation.
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-relocatable-obj.test
Labels: none

[llvm][clang] Sandbox filesystem reads (#165350)
  clang/lib/Basic/FileManager.cpp
  clang/lib/CodeGen/BackendUtil.cpp
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/Job.cpp
  clang/lib/Serialization/GlobalModuleIndex.cpp
  clang/lib/Serialization/ModuleCache.cpp
  clang/lib/StaticAnalyzer/Core/HTMLDiagnostics.cpp
  clang/tools/driver/cc1_main.cpp
  clang/tools/driver/cc1as_main.cpp
  llvm/CMakeLists.txt
  llvm/include/llvm/CodeGen/AsmPrinter.h
  llvm/include/llvm/Config/llvm-config.h.cmake
  llvm/include/llvm/Support/IOSandbox.h
  llvm/include/llvm/Support/VirtualFileSystem.h
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/lib/CodeGen/AsmPrinter/AsmPrinterInlineAsm.cpp
  llvm/lib/Support/LockFileManager.cpp
  llvm/lib/Support/MemoryBuffer.cpp
  llvm/lib/Support/Path.cpp
  llvm/lib/Support/Signals.cpp
  llvm/lib/Support/Unix/Path.inc
  llvm/lib/Support/Unix/Signals.inc
  llvm/lib/Support/VirtualFileSystem.cpp
  llvm/lib/Support/VirtualOutputBackends.cpp
  llvm/lib/Support/Windows/Path.inc
  llvm/lib/Support/Windows/Signals.inc
  llvm/lib/Support/raw_ostream.cpp
  llvm/lib/Target/BPF/BTFDebug.cpp
Labels: none

[lldb] Still echo the command if we print the error.
  lldb/source/Interpreter/CommandInterpreter.cpp
  lldb/test/Shell/Settings/Inputs/FailedCommand.in
  lldb/test/Shell/Settings/TestEchoFailedCommands.test
Labels: none

[𝘀𝗽𝗿] initial version
  clang/lib/CodeGen/CGDebugInfo.cpp
  clang/lib/CodeGen/CGDebugInfo.h
  clang/test/DebugInfo/Generic/bounds-checking-debuginfo.c
  clang/test/DebugInfo/Generic/cfi-check-fail-debuginfo.c
  clang/test/DebugInfo/Generic/cfi-icall-generalize-debuginfo.c
  clang/test/DebugInfo/Generic/cfi-icall-normalize2-debuginfo.c
  clang/test/DebugInfo/Generic/ubsan-function-debuginfo.c
  clang/test/DebugInfo/Generic/unsigned-promotion-debuginfo.c
Labels: none

[𝘀𝗽𝗿] initial version
  compiler-rt/lib/sanitizer_common/symbolizer/scripts/build_symbolizer.sh
Labels: none

tests: fix vec_floor tests
  llvm/test/CodeGen/X86/vec_floor.ll
Labels: none

Piping the stderr to /dev/null to avoid warnings clobbering the stdout content
  llvm/test/tools/llvm-readobj/ELF/call-graph-info-callgraph-section.test
Labels: none

[AMDGPU] Add DS loop wait analysis and relaxation (2/4)
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
  llvm/test/CodeGen/AMDGPU/waitcnt-loop-ds-opt-eligible.mir
Labels: none

Fix formatting.
  compiler-rt/lib/builtins/cpu_model/aarch64/fmv/windows.inc
  llvm/lib/TargetParser/Host.cpp
Labels: none

[lldb] Add VirtualDataExtractor for virtual address translation (#168802)
  lldb/include/lldb/Utility/DataExtractor.h
  lldb/include/lldb/Utility/RangeMap.h
  lldb/include/lldb/Utility/VirtualDataExtractor.h
  lldb/source/Utility/CMakeLists.txt
  lldb/source/Utility/VirtualDataExtractor.cpp
  lldb/unittests/Utility/CMakeLists.txt
  lldb/unittests/Utility/VirtualDataExtractorTest.cpp
Labels: none

[lldb][NFC] Change ObjectFile's DataExtractor to a shared ptr (#170066)
  lldb/include/lldb/Symbol/ObjectFile.h
  lldb/include/lldb/lldb-forward.h
  lldb/source/Expression/ObjectFileJIT.cpp
  lldb/source/Plugins/ObjectFile/Breakpad/ObjectFileBreakpad.cpp
  lldb/source/Plugins/ObjectFile/COFF/ObjectFileCOFF.cpp
  lldb/source/Plugins/ObjectFile/ELF/ObjectFileELF.cpp
  lldb/source/Plugins/ObjectFile/Mach-O/ObjectFileMachO.cpp
  lldb/source/Plugins/ObjectFile/PECOFF/ObjectFilePECOFF.cpp
  lldb/source/Plugins/ObjectFile/XCOFF/ObjectFileXCOFF.cpp
  lldb/source/Plugins/ObjectFile/wasm/ObjectFileWasm.cpp
  lldb/source/Symbol/ObjectFile.cpp
Labels: none

[NVPTX] Fixup and refactor brx.idx support
  llvm/lib/Target/NVPTX/NVPTXISelDAGToDAG.cpp
  llvm/lib/Target/NVPTX/NVPTXISelDAGToDAG.h
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/lib/Target/NVPTX/NVPTXISelLowering.h
  llvm/lib/Target/NVPTX/NVPTXInstrInfo.td
  llvm/lib/Target/NVPTX/NVPTXSubtarget.h
  llvm/test/CodeGen/NVPTX/jump-table.ll
  llvm/test/CodeGen/NVPTX/switch.ll
Labels: none

comment
  clang/lib/CodeGen/CGDebugInfo.cpp
Labels: none

remove unused stuff
  libcxx/test/std/ranges/range.adaptors/range.concat/iterator/arithmetic.pass.cpp
Labels: none

Implement Adrian's suggestion
  lldb/source/Interpreter/CommandInterpreter.cpp
Labels: none

[llvm][clang] Enable IO sandbox for assert builds
  llvm/CMakeLists.txt
Labels: none

clang format
  libcxx/test/std/ranges/range.adaptors/range.concat/iterator/arithmetic.pass.cpp
Labels: none

[clang-doc] Add JSON output to existing template tests
  clang-tools-extra/test/clang-doc/templates.cpp
Labels: none

[clang-doc] Add class template to HTML
  clang-tools-extra/clang-doc/JSONGenerator.cpp
  clang-tools-extra/clang-doc/assets/class-template.mustache
  clang-tools-extra/test/clang-doc/json/class-requires.cpp
  clang-tools-extra/test/clang-doc/json/class-specialization.cpp
  clang-tools-extra/test/clang-doc/json/class-template.cpp
  clang-tools-extra/test/clang-doc/json/class.cpp
  clang-tools-extra/test/clang-doc/json/concept.cpp
  clang-tools-extra/test/clang-doc/json/function-requires.cpp
  clang-tools-extra/test/clang-doc/json/method-template.cpp
  clang-tools-extra/test/clang-doc/templates.cpp
  clang-tools-extra/unittests/clang-doc/JSONGeneratorTest.cpp
Labels: none

[clang-doc] Serialize namespace-level functions
  clang-tools-extra/clang-doc/JSONGenerator.cpp
  clang-tools-extra/clang-doc/assets/function-template.mustache
  clang-tools-extra/clang-doc/assets/namespace-template.mustache
  clang-tools-extra/test/clang-doc/json/namespace.cpp
  clang-tools-extra/test/clang-doc/namespace.cpp
  clang-tools-extra/test/clang-doc/templates.cpp
  clang-tools-extra/unittests/clang-doc/JSONGeneratorTest.cpp
Labels: none

[python] Expose replaceUsesOfWith C API (#171892)
  mlir/include/mlir-c/IR.h
  mlir/lib/Bindings/Python/IRCore.cpp
  mlir/lib/CAPI/IR/IR.cpp
  mlir/test/python/ir/operation.py
Labels: python

[CIR] Implement function personality attribute and its lowering
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/include/clang/CIR/MissingFeatures.h
  clang/lib/CIR/CodeGen/CIRGenException.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/test/CIR/IR/func.cir
  clang/test/CIR/Lowering/eh-inflight.cir
Labels: none

Address comments
  llvm/test/tools/llvm-objcopy/COFF/strip-preserve-mtime.test
Labels: none

[clang-doc] Add namespaces to namespace template
  clang-tools-extra/clang-doc/JSONGenerator.cpp
  clang-tools-extra/clang-doc/assets/namespace-template.mustache
  clang-tools-extra/test/clang-doc/json/namespace.cpp
  clang-tools-extra/test/clang-doc/mustache-separate-namespace.cpp
  clang-tools-extra/unittests/clang-doc/JSONGeneratorTest.cpp
Labels: none

[lldb] Fixed mis-merge in LLVMUserExpression.cpp
  lldb/source/Expression/LLVMUserExpression.cpp
Labels: none

Use C++ style comments
  llvm/lib/Target/AMDGPU/GCNHazardRecognizer.cpp
Labels: none

Revert "[compiler-rt] follow-up to 166837, rename COMPILER_RT_FORCE_TEST_BUILTINS_DIR to COMPILER_RT_TEST_BUILTINS_DIR (#171741)"
  llvm/runtimes/CMakeLists.txt
Labels: none
