Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[ConstraintElim] Avoid overflow when negating offsets (#218580)
  llvm/lib/Transforms/Scalar/ConstraintElimination.cpp
  llvm/test/Transforms/ConstraintElimination/constraint-overflow.ll
Labels: none

Followup for #218572 broken build bots
  clang/test/Analysis/Scalable/source-edit-generation/coexistence.cpp
  clang/test/Analysis/Scalable/source-edit-generation/happy-path.cpp
  clang/test/Analysis/Scalable/source-edit-generation/write-failure.cpp
Labels: none

fixup: adjust comments
  mlir/include/mlir/Dialect/Tensor/IR/Tensor.h
  mlir/lib/Dialect/Tensor/IR/TensorOps.cpp
Labels: none

add llvm ir test
  llvm/test/CodeGen/AMDGPU/coexec-mfma-interleave-gfx950.ll
Labels: none

[AArch64][SDAG][NFC] Use CNTP intrinsic for compressstore lowering (#218353)
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
Labels: none

Reuse omp.private rather than generating _FortranAAssign and free.
  flang/lib/Optimizer/OpenMP/LowerWorkshare.cpp
  flang/test/Integration/OpenMP/workshare-firstprivate-pointer.f90
  flang/test/Lower/OpenMP/Todo/workshare-firstprivate-polymorphic.f90
  flang/test/Lower/OpenMP/workshare-firstprivate.f90
  flang/test/Transforms/OpenMP/lower-workshare-thread-local.mlir
  flang/test/Transforms/OpenMP/lower-workshare-todo-ref-broadcast.mlir
  llvm/include/llvm/Frontend/OpenMP/ConstructDecompositionT.h
Labels: none

[X86] Fix NaN handling in minimumnum/maximumnum zero fixup (#217420)
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/fminimumnum-fmaximumnum.ll
Labels: none

[CodeGen] Adding v1024i16 and v2048i16 (#216118)
  llvm/include/llvm/CodeGen/ValueTypes.td
  llvm/test/TableGen/CPtrWildcard.td
Labels: none

fixup! [CIR] Fold constant add and sub operations
  clang/test/CIR/CodeGen/new.cpp
  clang/test/CIR/CodeGen/non-type-template-param.cpp
  clang/test/CIR/CodeGen/paren-list-agg-init.cpp
  clang/test/CIR/CodeGenCXX/new-array-init.cpp
Labels: none

Followup for #218572 broken build bots (#218617)
  clang/test/Analysis/Scalable/source-edit-generation/coexistence.cpp
  clang/test/Analysis/Scalable/source-edit-generation/happy-path.cpp
  clang/test/Analysis/Scalable/source-edit-generation/write-failure.cpp
Labels: none

[GlobalISel] Build the split load value in an integer type in lowerLoad
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-load-constant.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-load-flat.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-load-global.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-load-local.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-load-private.mir
Labels: none

add float and pointer destination coverage for lowerLoad
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-load-global.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/load-unaligned.ll
Labels: none

revised
  clang/lib/Sema/SemaOpenMP.cpp
  clang/test/OpenMP/flatten_codegen.cpp
  clang/test/OpenMP/flatten_depth_messages.cpp
  openmp/runtime/test/transform/flatten/empty.c
Labels: openmp

[MLIR] fix: ValueBoundsConstraintSet invalidates queue (#218612)
  mlir/include/mlir/Interfaces/ValueBoundsOpInterface.h
  mlir/lib/Interfaces/ValueBoundsOpInterface.cpp
  mlir/test/Dialect/Affine/value-bounds-op-interface-impl.mlir
Labels: none

Lint
  llvm/include/llvm/Analysis/TargetTransformInfo.h
Labels: none

[mlir][scf] Fuse parallel loops with equal constant bounds (#218450)
  mlir/lib/Dialect/SCF/Transforms/ParallelLoopFusion.cpp
  mlir/test/Dialect/SCF/parallel-loop-fusion.mlir
Labels: none

[mlir][Tensor] Preserve correct rank expansions in InsertSlice canonicalizer (#217361)
  mlir/include/mlir/Dialect/Tensor/IR/Tensor.h
  mlir/include/mlir/Dialect/Tensor/IR/TensorOps.td
  mlir/lib/Dialect/Linalg/Transforms/DropUnitDims.cpp
  mlir/lib/Dialect/Tensor/IR/TensorOps.cpp
  mlir/test/Dialect/Tensor/canonicalize.mlir
Labels: none

[clang][CodeGen][test] Add __builtin___clear_cache address space coverage
  clang/test/CodeGen/clear_cache.c
  clang/test/CodeGenOpenCL/clear_cache.cl
Labels: none

2
  clang/lib/AST/ByteCode/ByteCodeEmitter.h
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/AST/ByteCode/Context.cpp
  clang/lib/AST/ByteCode/Disasm.cpp
  clang/lib/AST/ByteCode/EvalEmitter.cpp
  clang/lib/AST/ByteCode/EvalEmitter.h
  clang/lib/AST/ByteCode/EvaluationResult.cpp
  clang/lib/AST/ByteCode/EvaluationResult.h
  clang/lib/AST/ByteCode/Interp.cpp
  clang/lib/AST/ExprConstShared.h
  clang/lib/AST/ExprConstant.cpp
  clang/test/AST/ByteCode/builtin-functions.cpp
  clang/test/AST/ByteCode/codegen-constexpr-unknown.cpp
  clang/test/AST/ByteCode/references.cpp
  clang/test/CodeGenCXX/global-init.cpp
  clang/test/SemaCXX/PR19955.cpp
  clang/test/SemaCXX/cxx2c-expansion-stmts.cpp
Labels: none

[SPIRV] Add tests for canonicalize, sincospi and minimumnum/maximumnum
  llvm/test/CodeGen/SPIRV/llvm-intrinsics/canonicalize-glsl.ll
  llvm/test/CodeGen/SPIRV/llvm-intrinsics/canonicalize.ll
  llvm/test/CodeGen/SPIRV/llvm-intrinsics/maximumnum.ll
  llvm/test/CodeGen/SPIRV/llvm-intrinsics/minimumnum.ll
  llvm/test/CodeGen/SPIRV/llvm-intrinsics/sincospi-opencl.ll
Labels: none

[X86] LowerAVXCONCAT_VECTORS - fix some clang-format messiness. NFC. (#218504)
  llvm/lib/Target/X86/X86ISelLowering.cpp
Labels: none

[VPlan] Add test for miscompile due to select VPlan fold (NFC). (#218516)
  llvm/test/Transforms/LoopVectorize/select-folds.ll
Labels: none

[libc++][NFC] Remove vector::__base_destruct_at_end
  libcxx/include/__vector/vector.h
Labels: none

[libc++][NFC] Remove vector::__base_destruct_at_end (#217631)
  libcxx/include/__vector/vector.h
Labels: none

[libc++] Optimize vector growth for nothrow move constructible types (#214690)
  libcxx/include/__memory/uninitialized_algorithms.h
  libcxx/test/benchmarks/containers/sequence/vector.bench.cpp
Labels: none

[libc++] Optimize vector::erase
  libcxx/include/__memory/uninitialized_algorithms.h
  libcxx/include/__vector/vector.h
Labels: none

[clang][CodeGen] Overload llvm.clear_cache on the argument address space
  clang/lib/CodeGen/CGBuiltin.cpp
Labels: none

[lldb][test] Disable two breakpoint tests for debugserver
  lldb/test/API/functionalities/breakpoint/hardware_breakpoints/write_memory_with_hw_breakpoint/TestWriteMemoryWithHWBreakpoint.py
  lldb/test/API/functionalities/breakpoint/write_over_software_breakpoint/TestWriteOverSoftwareBreakpoint.py
Labels: python

[SPIRV] Legalize canonicalize, sincospi and the minimumnum/maximumnum pair
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/lib/Target/SPIRV/SPIRVLegalizerInfo.cpp
Labels: none

[offload] Generalize pinned transfer hook and enable it for CUDA
  offload/plugins-nextgen/amdgpu/src/rtl.cpp
  offload/plugins-nextgen/common/include/PluginInterface.h
  offload/plugins-nextgen/common/src/PluginInterface.cpp
  offload/plugins-nextgen/cuda/src/rtl.cpp
Labels: none

[lldb][test] Disable two breakpoint tests for debugserver (#218636)
  lldb/test/API/functionalities/breakpoint/hardware_breakpoints/write_memory_with_hw_breakpoint/TestWriteMemoryWithHWBreakpoint.py
  lldb/test/API/functionalities/breakpoint/write_over_software_breakpoint/TestWriteOverSoftwareBreakpoint.py
Labels: python

fix f8E4M3FN to NaN on overflow
  mlir/lib/Dialect/Arith/Transforms/ExpandOps.cpp
  mlir/test/Dialect/Arith/expand-ops.mlir
Labels: none

[flang][driver] Honour the toolchain default DWARF version (#217610)
  clang/lib/Driver/ToolChains/Flang.cpp
  flang/test/Driver/flang-dwarf-version.f90
Labels: none

[X86] LowerAVXCONCAT_VECTORS - collect all subvector operands before ReplaceAllUsesWith call
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/vector-shuffle-combining-avx512f.ll
Labels: none

[Clang] Fix C++26 fold expression normalization of PackIndexingExpr (#218577)
  clang/lib/Sema/SemaConcept.cpp
  clang/lib/Sema/TreeTransform.h
  clang/test/SemaCXX/cxx2c-fold-exprs.cpp
Labels: none

Revert "Reland "[Clang] Enable -Wunused-template under -Wall" (#208001)"
  clang/docs/ReleaseNotes.md
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/test/Misc/warning-wall.c
  clang/test/SemaCXX/warn-func-not-needed.cpp
  clang/test/SemaCXX/warn-variable-not-needed.cpp
Labels: none

[CodeGen] Add scalarization fallback for multi-result scalable intrinsics
  llvm/include/llvm/Transforms/Utils/LowerVectorIntrinsics.h
  llvm/lib/CodeGen/PreISelIntrinsicLowering.cpp
  llvm/lib/CodeGen/TargetLoweringBase.cpp
  llvm/lib/Transforms/Utils/LowerVectorIntrinsics.cpp
  llvm/test/Transforms/PreISelIntrinsicLowering/AArch64/expand-exp.ll
  llvm/test/Transforms/PreISelIntrinsicLowering/AArch64/expand-fp-math.ll
  llvm/test/Transforms/PreISelIntrinsicLowering/AArch64/expand-log.ll
  llvm/test/Transforms/PreISelIntrinsicLowering/AArch64/expand-multi-result.ll
Labels: none

Fix formatting
  llvm/lib/Transforms/Utils/LowerVectorIntrinsics.cpp
Labels: none

Address comment
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
Labels: none

Add zvabd tests for all LMULs
  llvm/test/CodeGen/RISCV/rvv/vabd.ll
  llvm/test/CodeGen/RISCV/rvv/vabdu.ll
  llvm/test/CodeGen/RISCV/rvv/vwabda.ll
  llvm/test/CodeGen/RISCV/rvv/vwabdau.ll
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
