Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[lldb] Do not narrow `GetIndexOfChildWithName` return type to int
  lldb/bindings/python/python-wrapper.swig
  lldb/include/lldb/Interpreter/ScriptInterpreter.h
  lldb/source/Plugins/ScriptInterpreter/Python/SWIGPythonBridge.h
  lldb/source/Plugins/ScriptInterpreter/Python/ScriptInterpreterPython.cpp
  lldb/source/Plugins/ScriptInterpreter/Python/ScriptInterpreterPythonImpl.h
  lldb/unittests/ScriptInterpreter/Python/PythonTestSuite.cpp
Labels: none

[HLSL][DXIL][SPRIV] Added WaveActiveMin intrinsic (#164385)
  clang/include/clang/Basic/Builtins.td
  clang/lib/CodeGen/CGHLSLBuiltins.cpp
  clang/lib/Headers/hlsl/hlsl_alias_intrinsics.h
  clang/lib/Sema/SemaHLSL.cpp
  clang/test/CodeGenHLSL/builtins/WaveActiveMin.hlsl
  clang/test/SemaHLSL/BuiltIns/WaveActiveMin.hlsl
  llvm/include/llvm/IR/IntrinsicsDirectX.td
  llvm/include/llvm/IR/IntrinsicsSPIRV.td
  llvm/lib/Target/DirectX/DXIL.td
  llvm/lib/Target/DirectX/DXILShaderFlags.cpp
  llvm/lib/Target/DirectX/DirectXTargetTransformInfo.cpp
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/test/CodeGen/DirectX/ShaderFlags/wave-ops.ll
  llvm/test/CodeGen/DirectX/WaveActiveMin.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/WaveActiveMin.ll
Labels: none

Address code review comments
  clang/lib/CIR/Interfaces/CIRLoopOpInterface.cpp
Labels: none

Modified the Alloca/Global-Op/Copy ops for pointer-array type and Test files
  mlir/lib/Conversion/MemRefToEmitC/MemRefToEmitC.cpp
  mlir/lib/Target/Cpp/TranslateToCpp.cpp
  mlir/test/Conversion/ConvertToEmitC/tosa.mlir
  mlir/test/Conversion/MemRefToEmitC/memref-to-emitc-alloc-copy.mlir
  mlir/test/Conversion/MemRefToEmitC/memref-to-emitc-copy.mlir
  mlir/test/Conversion/MemRefToEmitC/memref-to-emitc.mlir
  mlir/test/Target/Cpp/common-cpp.mlir
  mlir/test/Target/Cpp/invalid.mlir
  mlir/test/Target/Cpp/lvalue.mlir
Labels: none

Update lldb/include/lldb/Core/Disassembler.h
  lldb/include/lldb/Core/Disassembler.h
Labels: none

[SLP]Check only instructions with unique parent instruction user
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/X86/parent-node-schedulable-with-multi-copyables.ll
Labels: none

Update lldb/include/lldb/Core/Disassembler.h
  lldb/include/lldb/Core/Disassembler.h
Labels: none

Update lldb/test/API/functionalities/disassembler-variables/TestVariableAnnotationsDisassembler.py
  lldb/test/API/functionalities/disassembler-variables/TestVariableAnnotationsDisassembler.py
Labels: python

walk the module
  mlir/lib/Conversion/Normalize/Normalize.cpp
Labels: none

[CI] fix possibly undefined variable
  llvm/utils/git/code-format-helper.py
Labels: python

[CIR] Fix building ClangIR after RegionBranchOpInterface revamp (#165441)
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Interfaces/CIRLoopOpInterface.cpp
Labels: none

[acc] Add `acc.kernel_environment` to enable compute decomposition
  mlir/include/mlir/Dialect/OpenACC/OpenACCOps.td
  mlir/test/Dialect/OpenACC/ops.mlir
Labels: none

[Clang][BPF] Add __BPF_FEATURE_GOTOX
  clang/lib/Basic/Targets/BPF.cpp
  clang/test/Preprocessor/bpf-predefined-macros.c
Labels: none

[libc++] Use libm implementations in exp for complex numbers
  libcxx/include/complex
  libcxx/test/libcxx/numerics/complex.number/exp.pass.cpp
Labels: none

fixup! [VectorCombine] Try to scalarize vector loads feeding bitcast instructions.
  llvm/lib/Transforms/Vectorize/VectorCombine.cpp
  llvm/test/Transforms/VectorCombine/AArch64/load-bitcast-scalarization.ll
Labels: none

[libc][hdrgen] Add extra_standards and license_text
  libc/utils/hdrgen/hdrgen/header.py
  libc/utils/hdrgen/hdrgen/yaml_to_classes.py
  libc/utils/hdrgen/tests/expected_output/custom.h
  libc/utils/hdrgen/tests/expected_output/test_header.h
  libc/utils/hdrgen/tests/expected_output/test_small.json
  libc/utils/hdrgen/tests/input/custom-common.yaml
  libc/utils/hdrgen/tests/input/custom.yaml
  libc/utils/hdrgen/tests/test_integration.py
Labels: python

Added first Connex patch
  llvm/CMakeLists.txt
  llvm/include/llvm/TargetParser/Triple.h
  llvm/unittests/TargetParser/TripleTest.cpp
Labels: none

Tweaked the check
  flang/lib/Semantics/check-call.cpp
Labels: none

clang-format
  flang/lib/Semantics/check-call.cpp
Labels: none

Revert "Only pass the descriptor arg to CFI_show()"
  flang-rt/lib/runtime/ISO_Fortran_binding.cpp
  flang/include/flang/ISO_Fortran_binding.h
Labels: none

Revert "[flang] Implement CFI_show()"
  flang-rt/lib/runtime/ISO_Fortran_binding.cpp
  flang/include/flang/ISO_Fortran_binding.h
Labels: none

[libc][hdrgen] Fix `includes` sorting in JSON emission
  libc/utils/hdrgen/hdrgen/header.py
Labels: python

[CI] fix typo in code-format job
  llvm/utils/git/code-format-helper.py
Labels: python

Address comments.
  llvm/lib/DebugInfo/GSYM/GsymCreator.cpp
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.cpp
  llvm/lib/Transforms/IPO/ExpandVariadics.cpp
Labels: none

[CI] fix typo in code-format job (#165461)
  llvm/utils/git/code-format-helper.py
Labels: python

Update AMDGPU tests
  llvm/test/CodeGen/AMDGPU/dagcombine-reassociate-bug.ll
  llvm/test/CodeGen/AMDGPU/idot2.ll
  llvm/test/CodeGen/AMDGPU/idot4s.ll
  llvm/test/CodeGen/AMDGPU/idot8u.ll
  llvm/test/CodeGen/AMDGPU/promote-constOffset-to-imm.ll
  llvm/test/CodeGen/AMDGPU/splitkit-getsubrangeformask.ll
Labels: none

Rename Propeller to PostLink.
  llvm/include/llvm/Object/ELFTypes.h
  llvm/include/llvm/ObjectYAML/ELFYAML.h
  llvm/lib/Object/ELF.cpp
  llvm/lib/ObjectYAML/ELFEmitter.cpp
  llvm/lib/ObjectYAML/ELFYAML.cpp
  llvm/test/tools/llvm-readobj/ELF/bb-addr-map-pgo-analysis-map.test
  llvm/test/tools/obj2yaml/ELF/bb-addr-map-pgo-analysis-map.yaml
  llvm/test/tools/yaml2obj/ELF/bb-addr-map-pgo-analysis-map.yaml
  llvm/tools/llvm-readobj/ELFDumper.cpp
  llvm/tools/obj2yaml/elf2yaml.cpp
  llvm/unittests/Object/ELFObjectFileTest.cpp
Labels: none

clang-format.
  llvm/include/llvm/Object/ELFTypes.h
Labels: none

[clang][Driver] Move test out of clang/include
  clang/test/Driver/aarch64-mlr-for-calls-only.c
Labels: none

reformatted
  libc/utils/hdrgen/hdrgen/header.py
Labels: python

Revert "[clang-tidy][NFC] Enable 'readability-simplify-boolean-expr' check"
  clang-tools-extra/clang-tidy/.clang-tidy
  clang-tools-extra/clang-tidy/bugprone/EasilySwappableParametersCheck.cpp
  clang-tools-extra/clang-tidy/bugprone/NotNullTerminatedResultCheck.cpp
  clang-tools-extra/clang-tidy/bugprone/SuspiciousEnumUsageCheck.cpp
  clang-tools-extra/clang-tidy/google/AvoidNSObjectNewCheck.cpp
  clang-tools-extra/clang-tidy/llvmlibc/ImplementationInNamespaceCheck.cpp
  clang-tools-extra/clang-tidy/misc/ConstCorrectnessCheck.cpp
  clang-tools-extra/clang-tidy/misc/IncludeCleanerCheck.cpp
  clang-tools-extra/clang-tidy/misc/NewDeleteOverloadsCheck.cpp
  clang-tools-extra/clang-tidy/misc/RedundantExpressionCheck.cpp
  clang-tools-extra/clang-tidy/modernize/UseTrailingReturnTypeCheck.cpp
  clang-tools-extra/clang-tidy/readability/ImplicitBoolConversionCheck.cpp
  clang-tools-extra/clang-tidy/readability/SuspiciousCallArgumentCheck.cpp
Labels: none

let strictfp only work for libm
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/test/CodeGen/PowerPC/milicode32.ll
Labels: none

Try to force static libs
  .github/workflows/release-binaries.yml
Labels: misc

Fixes for x86 mac
  .github/workflows/release-binaries.yml
Labels: misc

Disable ignore_tkr warning when 'p' is used
  flang/lib/Semantics/check-declarations.cpp
Labels: none

clang-format
  flang/lib/Semantics/check-declarations.cpp
Labels: none

Change comment to mention bolt and propeller as examples of post link profiles.
  llvm/include/llvm/Object/ELFTypes.h
Labels: none

LIT test
  flang/test/Semantics/ignore_tkr04.f90
Labels: none

More debug
  .github/workflows/release-binaries.yml
Labels: misc

Fix typo
  .github/workflows/release-binaries.yml
Labels: misc
