Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[CIR][OpenCL] Emit OpenCL language version metadata in CIR
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
  clang/test/CIR/CodeGenOpenCL/version.cl
  clang/test/CodeGenCUDASPIRV/kernel-cc.cu
Labels: none

Use -isysroot instead of -isystem.
  libc/cmake/modules/LLVMLibCArchitectures.cmake
Labels: none

Reverted fast-math-flags, set MinOp and MaxOp to emit correctly
  clang/include/clang/CIR/Dialect/Builder/CIRBaseBuilder.h
  clang/include/clang/CIR/Dialect/IR/CIRAttrs.td
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/CodeGen/CIRGenBuiltin.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/test/CIR/CodeGenBuiltins/builtin-maxnum-minnum.c
  clang/test/CIR/CodeGenBuiltins/builtins-elementwise.c
  clang/test/CIR/CodeGenBuiltins/builtins-floating-point.c
Labels: none

Fix test
  clang/test/CIR/CodeGenBuiltins/builtins-elementwise.c
Labels: none

Added clarifying comment.
  llvm/lib/Target/AMDGPU/GCNSchedStrategy.cpp
Labels: none

Address comments and update headers to new LLVM style.
  .github/workflows/libc-overlay-tests.yml
  libc/src/__support/math/cos.h
  libc/src/__support/math/sin.h
  libc/test/src/math/exhaustive/CMakeLists.txt
  libc/test/src/math/exhaustive/cos_test.cpp
  libc/test/src/math/exhaustive/exhaustive_test.h
  libc/test/src/math/exhaustive/sin_test.cpp
  libc/test/src/math/exhaustive/worst_case_test.h
  libc/utils/mathtools/wc_to_bin.py
Labels: python, misc

[clang][test] Fix an uninitialized read in a test case
  clang/test/SemaCXX/ms-ctor-closure.cpp
Labels: none

[CIR][OpenCL] Emit OpenCL language version metadata in CIR (#219688)
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/test/CIR/CodeGenHIP/amdgcnspirv-kernel.hip
  clang/test/CIR/CodeGenOpenCL/version.cl
  clang/test/CodeGenCUDASPIRV/kernel-cc.cu
  clang/test/CodeGenHIP/hipspv-kernel.cpp
  clang/test/SemaHIP/atomic-init.hip
Labels: none

[CIR][OpenCL] Lower OpenCL language version metadata to LLVM dialect
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVMOpenCLMetadata.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVMOpenCLMetadata.h
  clang/test/CIR/CodeGenOpenCL/version.cl
  clang/test/CIR/Lowering/opencl-version-metadata.cir
Labels: none

fix: Check HIP SPIR-V version metadata after lowering
  clang/test/CIR/CodeGenHIP/amdgcnspirv-kernel.hip
Labels: none

[clang-tidy] Fix convert-member-functions-to-static crash on attributed methods (#223007)
  clang-tools-extra/clang-tidy/readability/ConvertMemberFunctionsToStaticCheck.cpp
  clang-tools-extra/docs/ReleaseNotes.md
  clang-tools-extra/test/clang-tidy/checkers/readability/convert-member-functions-to-static.cpp
Labels: none

[clang] Fix mangling of constrained auto referring to a parameter when the return type has an ABI tag
  clang/docs/ReleaseNotes.md
  clang/lib/AST/ItaniumMangle.cpp
  clang/test/CodeGenCXX/mangle-concept.cpp
Labels: none

[OpenMP] [Flang] Add Fortran integer(kind=8) overloads for omp_lib APIs (#221451)
  flang/test/Lower/OpenMP/omp-lib-integer-wrappers.f90
  llvm/include/llvm/Frontend/OpenMP/OMPKinds.def
  openmp/device/include/Interface.h
  openmp/device/src/State.cpp
  openmp/module/omp_lib.F90.var
  openmp/runtime/src/dllexports
  openmp/runtime/src/include/omp.h.var
  openmp/runtime/src/kmp.h
  openmp/runtime/src/kmp_csupport.cpp
  openmp/runtime/src/kmp_ftn_entry.h
  openmp/runtime/src/kmp_ftn_os.h
  openmp/runtime/src/kmp_stub.cpp
  openmp/runtime/test/api/kmp_integer_8_apis.f90
Labels: openmp

[Flang][Driver]Implemented support for option -momit-leaf-frame-pointer/-mno-omit-leaf-frame-pointer in flang (#216700)
  clang/include/clang/Options/Options.td
  flang/include/flang/Optimizer/Transforms/Passes.td
  flang/lib/Frontend/FrontendActions.cpp
  flang/test/Driver/frame-pointer-forwarding.f90
  flang/test/Transforms/function-attr-frame-pointer.fir
Labels: none

[CodeGen][test] use -float-abi=soft in 2009-03-29-SoftFloatVectorExtract.ll
  llvm/test/CodeGen/Generic/2009-03-29-SoftFloatVectorExtract.ll
Labels: none

Use octal escapes with printf
  llvm/test/FileCheck/escape.txt
Labels: none

opaque Expr
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/AST/ByteCode/DeclOrExpr.h
  clang/lib/AST/ByteCode/Disasm.cpp
  clang/lib/AST/ByteCode/EvaluationResult.cpp
  clang/lib/AST/ByteCode/Interp.cpp
  clang/lib/AST/ByteCode/Interp.h
  clang/lib/AST/ByteCode/InterpBlock.cpp
  clang/lib/AST/ByteCode/InterpBlock.h
  clang/lib/AST/ByteCode/InterpBuiltinObjectSize.cpp
  clang/lib/AST/ByteCode/InterpHelpers.h
  clang/lib/AST/ByteCode/Opcodes.td
  clang/lib/AST/ByteCode/Pointer.cpp
  clang/lib/AST/ByteCode/Pointer.h
  clang/lib/AST/ByteCode/Program.cpp
  clang/lib/AST/ByteCode/Program.h
Labels: none

[RISCV] Add PseudoTAILX7, PseudoTAILReg for cf-protection-branch
  llvm/lib/Target/RISCV/AsmParser/RISCVAsmParser.cpp
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVMCCodeEmitter.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfo.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfo.td
  llvm/test/CodeGen/RISCV/machine-outliner-lpad.ll
  llvm/test/CodeGen/RISCV/tail-calls.ll
  llvm/test/MC/RISCV/tail-call.s
Labels: none

Update Releases Note
  llvm/docs/ReleaseNotes.md
Labels: none

Drop Zicfilp from machine-outliner-lpad.ll
  llvm/test/CodeGen/RISCV/machine-outliner-lpad.ll
Labels: none

Update as suggested
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVMCCodeEmitter.cpp
  llvm/lib/Target/RISCV/RISCVAsmPrinter.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfo.td
Labels: none

Update Releases Note
  llvm/docs/ReleaseNotes.md
Labels: none

fixup! Rename MCOp to SymOp
  llvm/lib/Target/RISCV/RISCVAsmPrinter.cpp
Labels: none

[CodeGen] Publish locally unprofitable outliner candidates
  llvm/lib/CodeGen/MachineOutliner.cpp
  llvm/test/CodeGen/AArch64/cgdata-write-unprofitable-max-instrs.mir
  llvm/test/CodeGen/AArch64/cgdata-write-unprofitable.ll
Labels: none

[Clang] Avoid assertion failure for initialized extern aliases
  clang/lib/Sema/SemaDecl.cpp
  clang/test/Sema/alias-redefinition.c
Labels: none

[llubi] Implement ninf flag
  llvm/test/tools/llubi/fp_cast.ll
  llvm/tools/llubi/lib/Interpreter.cpp
Labels: none

[mlir][dataflow] Make visitRegionSuccessors overridable
  mlir/include/mlir/Analysis/DataFlow/SparseAnalysis.h
Labels: none

[mlir] Add InferUniformityOpInterface
  mlir/include/mlir/Interfaces/CMakeLists.txt
  mlir/include/mlir/Interfaces/InferUniformityOpInterface.h
  mlir/include/mlir/Interfaces/InferUniformityOpInterface.td
  mlir/lib/Interfaces/CMakeLists.txt
  mlir/lib/Interfaces/InferUniformityOpInterface.cpp
  mlir/unittests/Interfaces/CMakeLists.txt
  mlir/unittests/Interfaces/InferUniformityOpInterfaceTest.cpp
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
  utils/bazel/llvm-project-overlay/mlir/unittests/BUILD.bazel
Labels: none

[mlir][dataflow] Add uniformity analysis
  mlir/include/mlir/Analysis/DataFlow/UniformityAnalysis.h
  mlir/lib/Analysis/CMakeLists.txt
  mlir/lib/Analysis/DataFlow/UniformityAnalysis.cpp
  mlir/test/Analysis/DataFlow/test-uniformity-analysis.mlir
  mlir/test/lib/Analysis/CMakeLists.txt
  mlir/test/lib/Analysis/DataFlow/TestUniformityAnalysis.cpp
  mlir/test/lib/Dialect/Test/CMakeLists.txt
  mlir/test/lib/Dialect/Test/TestOpDefs.cpp
  mlir/test/lib/Dialect/Test/TestOps.h
  mlir/test/lib/Dialect/Test/TestOps.td
  mlir/tools/mlir-opt/mlir-opt.cpp
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
  utils/bazel/llvm-project-overlay/mlir/test/BUILD.bazel
Labels: none

[AArch64] Add tests for equality branches against logical immediates (NFC)
  llvm/test/CodeGen/AArch64/branch-eq-logical-imm.ll
Labels: none

[AArch64] Fold a compare-and-branch against a logical immediate into EOR + CBZ/CBNZ
  llvm/lib/Target/AArch64/AArch64MIPeepholeOpt.cpp
  llvm/test/CodeGen/AArch64/branch-eq-logical-imm.ll
Labels: none

[mlir] Remove the memory space attribute restriction on memref types (#222995)
  mlir/include/mlir/IR/BuiltinTypes.td
  mlir/lib/IR/BuiltinTypes.cpp
  mlir/lib/IR/TypeDetail.h
  mlir/test/IR/invalid-builtin-types.mlir
  mlir/test/IR/parser.mlir
Labels: none

[mlir][Index] Fix INT_MIN overflow in CeilDivSOp constant folding
  mlir/lib/Dialect/Index/IR/IndexOps.cpp
  mlir/test/Dialect/Index/index-canonicalize.mlir
Labels: none

[SelectionDAG] Remove dead functions and declarations (NFC)
  llvm/include/llvm/CodeGen/SelectionDAG.h
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
Labels: none

Move removeEmptySubRanges into mergeSubRangeInto
  llvm/lib/CodeGen/RegisterCoalescer.cpp
Labels: none

RegisterCoalescer: Remove empty subranges after merging subranges
  llvm/lib/CodeGen/RegisterCoalescer.cpp
  llvm/test/CodeGen/AArch64/coalescer-empty-subrange-early-lis.ll
Labels: none

[AArch64] Add tests for equality branches against logical immediates (NFC)
  llvm/test/CodeGen/AArch64/branch-eq-logical-imm.ll
Labels: none

[CIR][OpenCL] Lower OpenCL language version metadata to LLVM dialect (#219689)
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVMOpenCLMetadata.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVMOpenCLMetadata.h
  clang/test/CIR/CodeGenHIP/amdgcnspirv-kernel.hip
  clang/test/CIR/CodeGenOpenCL/version.cl
  clang/test/CIR/Lowering/opencl-version-metadata.cir
Labels: none

IR: Add verifier checks and LangRef for llvm.loop.align (#221933)
  llvm/docs/LangRef.md
  llvm/lib/CodeGen/MachineBlockPlacement.cpp
  llvm/lib/IR/Verifier.cpp
  llvm/test/Assembler/llvm.loop.align.ll
  llvm/test/Verifier/llvm.loop.align.ll
Labels: none

[AArch64] Fold a compare-and-branch against the sign bit into CMP XZR + B.VS/B.VC
  llvm/lib/Target/AArch64/AArch64MIPeepholeOpt.cpp
  llvm/test/CodeGen/AArch64/branch-eq-logical-imm.ll
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
