Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[ValueTracking] Pre-commit tests. NFC
  llvm/test/Transforms/InstCombine/div.ll
Labels: none

[ValueTracking] Optimization + check diff; fix #212382
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/test/Transforms/InstCombine/div.ll
Labels: none

Made COMDAT key of a global structor be a WeakTrackingVH
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/CodeGen/CodeGenModule.h
  clang/test/CodeGenCXX/gh213520-global-ctor-comdat.cpp
Labels: none

optimize for the common trivial case
  llvm/lib/Transforms/Scalar/StructurizeCFG.cpp
  llvm/test/CodeGen/AMDGPU/callbr-intrinsics.ll
  llvm/test/CodeGen/AMDGPU/callbr.ll
  llvm/test/Transforms/StructurizeCFG/callbr.ll
Labels: none

[LLD][COFF] Set the Thumb bit on locally imported ARMNT function poin… (#215919)
  lld/COFF/Chunks.cpp
  lld/test/COFF/locally-imported-armnt.test
Labels: none

Revert "move to ABI lib"
  clang/lib/CodeGen/ABIInfoImpl.h
  clang/lib/CodeGen/Targets/AMDGPU.cpp
  clang/lib/CodeGen/Targets/SPIR.cpp
Labels: none

Gate the ladder on ratios
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
Labels: none

[ValueTracking] format
  llvm/lib/Analysis/ValueTracking.cpp
Labels: none

[SROA] Prefer legal integers for array partitions
  llvm/lib/Transforms/Scalar/SROA.cpp
Labels: none

[SROA] Prefer legal integers for aggregate partitions
  llvm/lib/Transforms/Scalar/SROA.cpp
Labels: none

[analyzer] Fix assertion in BitwiseShiftChecker from getExtValue (#218940)
  clang/lib/StaticAnalyzer/Checkers/BitwiseShiftChecker.cpp
  clang/test/Analysis/bitwise-shift-common.c
Labels: none

Use Builder
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: none

[CIR][CodeGen] Support DesignatedInitUpdateExpr in constant emission
  clang/include/clang/CIR/MissingFeatures.h
  clang/lib/CIR/CodeGen/CIRGenExprConstant.cpp
  clang/test/CIR/CodeGen/designated-init-update.c
Labels: none

Rename to convertToSingleScalarMemOps
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.h
  llvm/test/Transforms/LoopVectorize/VPlan/vplan-print-before-after-all.ll
Labels: none

fix test
  llvm/test/CodeGen/AMDGPU/vgpr-setreg-mode-swar.ll
Labels: none

Address review comments
  clang/lib/Lex/PPDirectives.cpp
  clang/www/cxx_status.html
Labels: none

Remove default argument of compareValueToThreshold
  clang/include/clang/StaticAnalyzer/Checkers/BoundsChecking.h
Labels: none

[analyzer] Print comparison literals with the right signedness
  clang/include/clang/StaticAnalyzer/Core/BugReporter/BugReporterVisitors.h
  clang/lib/StaticAnalyzer/Core/BugReporterVisitors.cpp
  clang/test/Analysis/bitwise-shift-common.c
  clang/test/Analysis/diagnostics/macros.cpp
Labels: none

!fixup keep weights when an edge probability quantizes to 0 or 1
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanUnroll.cpp
  llvm/lib/Transforms/Vectorize/VPlanUtils.cpp
  llvm/lib/Transforms/Vectorize/VPlanUtils.h
  llvm/test/Transforms/LoopVectorize/VPlan/execution-probabilities-match-block-frequencies.ll
  llvm/test/Transforms/LoopVectorize/VPlan/vplan-printing-branch-weights.ll
  llvm/test/Transforms/LoopVectorize/replicate-region-branch-weights.ll
Labels: none

[SCEV] Add more tests for
  llvm/test/Analysis/ScalarEvolution/exit-value-nowrap-flags.ll
  llvm/test/Transforms/IndVarSimplify/exit-value-nowrap-flags.ll
Labels: none

Use static_pointer_cast to do SyntheticChildrenSP -> ScriptedSyntheticChildrenSP (#216181)
  lldb/source/DataFormatters/FormatManager.cpp
Labels: none

If the address of the isa_pointer is returned as an error don't ask if it is a tagged pointer (#213163)
  lldb/source/Plugins/LanguageRuntime/ObjC/AppleObjCRuntime/AppleObjCRuntimeV2.cpp
Labels: none

[AArch64] Use SDValue to pass to vectorToScalarBitmask. (#218717)
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/vec-combine-compare-to-bitmask.ll
Labels: none

workflows/release-binaries.yml: Only dump the wix logs on failure (#218810)
  .github/workflows/release-binaries.yml
Labels: misc

[WebAssembly] Avoid same-block dominance walks in RegStackify (NFCI) (#218369)
  llvm/lib/Target/WebAssembly/WebAssemblyRegStackify.cpp
  llvm/test/CodeGen/WebAssembly/reg-stackify.ll
Labels: none

updated and rebase
  llvm/test/Transforms/LoopVectorize/VPlan/AArch64/vplan-memory-op-decisions.ll
Labels: none

[lldb] Stop a cached read at an invalid range (#218997)
  lldb/source/Target/Memory.cpp
  lldb/unittests/Target/MemoryTest.cpp
Labels: none

[lldb][test] Disable TestDAP_attach.py on AArch64 Linux
  lldb/test/API/tools/lldb-dap/attach/TestDAP_attach.py
Labels: python

Handtuned refinements
  clang/lib/StaticAnalyzer/Core/BugReporterVisitors.cpp
Labels: none

Refactor LoongArch AMO handling with macros
  llvm/lib/Target/LoongArch/LoongArchMemoryBarrierOpt.cpp
Labels: none

clang-format
  clang/lib/StaticAnalyzer/Core/BugReporterVisitors.cpp
Labels: none

[libc][AArch64] Make mathvec/aarch64/expf.cpp compile big-endian (#218945)
  libc/src/mathvec/aarch64/common.h
  libc/src/mathvec/aarch64/expf.cpp
Labels: none

typo
  lldb/test/API/tools/lldb-dap/attach/TestDAP_attach.py
Labels: python

[StackSafety] Skip a caller's callee operand typed GlobalVariable (#216565)
  llvm/lib/Analysis/StackSafetyAnalysis.cpp
  llvm/test/Analysis/StackSafetyAnalysis/local.ll
Labels: none

[AMDGPU] Detect illegal 64 relocs in SIFold
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/test/CodeGen/AMDGPU/literal64-symbol.ll
  llvm/test/CodeGen/MIR/AMDGPU/target-flags.mir
Labels: none

build_llvm_release.bat: Disable clang-tools-extra for stage0 builds (#218806)
  llvm/utils/release/build_llvm_release.bat
Labels: none

Remove fast clang install
  .github/workflows/release-binaries.yml
Labels: misc

[CodeGen] Remove dead declarations
  llvm/lib/CodeGen/MLRegAllocEvictAdvisor.h
Labels: none

[AMDGPU] Fix trap split iterator type
  llvm/lib/Target/AMDGPU/AMDGPULegalizerInfo.cpp
Labels: none

[SCEV] Propagate a recurrence's nuw flag to its exit value.
  llvm/include/llvm/Analysis/ScalarEvolution.h
  llvm/include/llvm/Analysis/ScalarEvolutionExpressions.h
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/lib/Transforms/Utils/LoopUtils.cpp
  llvm/test/Analysis/ScalarEvolution/different-loops-recs.ll
  llvm/test/Analysis/ScalarEvolution/exit-value-nowrap-flags.ll
  llvm/test/Analysis/ScalarEvolution/flags-from-poison-noautogen.ll
  llvm/test/Analysis/ScalarEvolution/flags-from-poison.ll
  llvm/test/Analysis/ScalarEvolution/increasing-or-decreasing-iv.ll
  llvm/test/Analysis/ScalarEvolution/infer-prestart-no-wrap.ll
  llvm/test/Analysis/ScalarEvolution/max-backedge-taken-count-guard-info-operand-order.ll
  llvm/test/Analysis/ScalarEvolution/max-backedge-taken-count-guard-info-rewrite-expressions.ll
  llvm/test/Analysis/ScalarEvolution/max-backedge-taken-count-guard-info.ll
  llvm/test/Analysis/ScalarEvolution/nsw-offset-assume.ll
  llvm/test/Analysis/ScalarEvolution/nsw-offset.ll
  llvm/test/Analysis/ScalarEvolution/nsw.ll
  llvm/test/Analysis/ScalarEvolution/ptrtoint-special-pointers.ll
  llvm/test/Analysis/ScalarEvolution/ptrtoint.ll
  llvm/test/Analysis/ScalarEvolution/ranges.ll
  llvm/test/Analysis/ScalarEvolution/sdiv.ll
  llvm/test/Analysis/ScalarEvolution/sext-add-inreg-loop.ll
  llvm/test/Analysis/ScalarEvolution/srem.ll
  llvm/test/Analysis/ScalarEvolution/trip-count-scalable-stride.ll
  llvm/test/Analysis/ScalarEvolution/trip-count15.ll
  llvm/test/Transforms/IndVarSimplify/exit-value-nowrap-flags.ll
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
