Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[lld][WebAssembly] Improve merging multiple occurrences of an undefined symbol (#178550)
  lld/test/wasm/merge-undefined-symbols.s
  lld/wasm/SymbolTable.cpp
Labels: none

[GlobalISel] Add integer_reassoc_combines from SelectionDAG (#177931)
  llvm/include/llvm/Target/GlobalISel/Combine.td
  llvm/test/CodeGen/AArch64/GlobalISel/combine-integer.mir
Labels: none

[lld][WebAssembly] Allow `--trace-symbol` to work with symbols with custom import names
  lld/test/wasm/trace-symbol.s
  lld/wasm/SymbolTable.cpp
  lld/wasm/SymbolTable.h
Labels: none

[𝘀𝗽𝗿] initial version
  .github/new-prs-labeler.yml
Labels: misc

[mlir][spirv] Enforce `GroupNonUniformQuadSwap` direction values using an attribute (#178684)
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVBase.td
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVNonUniformOps.td
  mlir/test/Dialect/SPIRV/IR/non-uniform-ops.mlir
  mlir/test/Target/SPIRV/non-uniform-ops.mlir
  mlir/tools/mlir-tblgen/SPIRVUtilsGen.cpp
Labels: none

[RISCV] auto -> MVT
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
Labels: none

[GitHub] add MemoryTaggingSupport.cpp in sanitizer (#178705)
  .github/new-prs-labeler.yml
Labels: misc

[MLIR] convert OpAsmDialectInterface using ODS (#171488)
  mlir/include/mlir/IR/CMakeLists.txt
  mlir/include/mlir/IR/Interfaces.td
  mlir/include/mlir/IR/OpAsmDialectInterface.td
  mlir/include/mlir/IR/OpImplementation.h
  mlir/include/mlir/TableGen/Interfaces.h
  mlir/lib/IR/CMakeLists.txt
  mlir/lib/TableGen/Interfaces.cpp
  mlir/test/mlir-tblgen/dialect-interface.td
  mlir/tools/mlir-tblgen/DialectInterfacesGen.cpp
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: none

[mlir][GPU|NVVM] Update the default SM to 7.5 (#177469)
  mlir/docs/ReleaseNotes.md
  mlir/include/mlir/Dialect/GPU/Pipelines/Passes.h
  mlir/include/mlir/Dialect/GPU/Transforms/Passes.td
  mlir/include/mlir/Dialect/LLVMIR/NVVMOps.td
Labels: none

generic fix
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/atomicrmw_fmax.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/atomicrmw_fmin.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fp-atomics-gfx942.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fp64-atomics-gfx90a.ll
  llvm/test/CodeGen/AMDGPU/a-v-flat-atomic-cmpxchg.ll
  llvm/test/CodeGen/AMDGPU/a-v-flat-atomicrmw.ll
  llvm/test/CodeGen/AMDGPU/a-v-global-atomic-cmpxchg.ll
  llvm/test/CodeGen/AMDGPU/a-v-global-atomicrmw.ll
  llvm/test/CodeGen/AMDGPU/atomicrmw-expand.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointer-atomicrmw-fadd.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointer-atomicrmw-fmax.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointer-atomicrmw-fmin.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fadd.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fmax.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fmin.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fsub.ll
  llvm/test/CodeGen/AMDGPU/flat-saddr-atomics.ll
  llvm/test/CodeGen/AMDGPU/fp-atomics-gfx942.ll
  llvm/test/CodeGen/AMDGPU/fp64-atomics-gfx90a.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fadd.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fmax.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fmin.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fsub.ll
  llvm/test/CodeGen/AMDGPU/idemponent-atomics.ll
  llvm/test/CodeGen/AMDGPU/insert_waitcnt_for_precise_memory.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.iglp.opt.exp.large.mir
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.iglp.opt.exp.small.mir
  llvm/test/CodeGen/AMDGPU/waitcnt-wbl2.ll
Labels: none

[LLDB] Add MSVC STL initializer_list formatter
  lldb/source/Plugins/Language/CPlusPlus/GenericInitializerList.cpp
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/generic/initializer_list/TestDataFormatterStdInitializerList.py
Labels: python

[X86] combineVTRUNCSAT - attempt to recognise VTRUNCS/US(CONCAT(X,Y)) -> PACKSS/US(X,Y) folds.
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/masked_packss.ll
  llvm/test/CodeGen/X86/masked_packus.ll
  llvm/test/CodeGen/X86/packss.ll
  llvm/test/CodeGen/X86/packus.ll
Labels: none

[clang-tidy] Fix false positive in hicpp-vararg for __builtin_popcountg
  clang-tools-extra/clang-tidy/cppcoreguidelines/ProTypeVarargCheck.cpp
  clang-tools-extra/test/clang-tidy/checkers/cppcoreguidelines/pro-type-vararg.cpp
Labels: none

fixup! Address review comments
  llvm/lib/ExecutionEngine/Orc/Debugging/ELFDebugObjectPlugin.cpp
  llvm/test/ExecutionEngine/JITLink/x86-64/ELF_no_debug_info.s
Labels: none

[AMDGPU] Fix simplification of VM_VSRC based on VMEM waits
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
  llvm/test/CodeGen/AMDGPU/expert_scheduling_gfx12.mir
Labels: none

[mlir][xegpu] Add `XeGPUSgToWiDistributeExperimental` pass. (#177492)
  mlir/include/mlir/Dialect/XeGPU/Transforms/Passes.td
  mlir/include/mlir/Dialect/XeGPU/Transforms/Transforms.h
  mlir/include/mlir/Dialect/XeGPU/Utils/XeGPUUtils.h
  mlir/lib/Dialect/XeGPU/Transforms/CMakeLists.txt
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUSgToWiDistributeExperimental.cpp
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUSubgroupDistribute.cpp
  mlir/lib/Dialect/XeGPU/Utils/XeGPUUtils.cpp
  mlir/test/Dialect/XeGPU/sg-to-wi-experimental-unit.mlir
  mlir/test/Dialect/XeGPU/sg-to-wi-experimental.mlir
  mlir/test/lib/Dialect/XeGPU/TestXeGPUTransforms.cpp
Labels: none

[gn build] Port 69c0f929e065
  llvm/utils/gn/secondary/clang/lib/Analysis/Scalable/BUILD.gn
Labels: none

[RISCV][NFC] Reorder code in lowerDisjointIndicesShuffle()
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
Labels: none

fix test
  llvm/test/CodeGen/AMDGPU/GlobalISel/combine-shl-from-extend-narrow.postlegal.mir
Labels: none

[lldb] [test/FreeBSDKernel] Disable testing
  lldb/test/API/functionalities/postmortem/FreeBSDKernel/README.rst
Labels: none

fix test
  clang/test/CodeGenObjCXX/arc-lifetime-rvalue-ref-binding.mm
Labels: none

fixup! fixup! [AMDGPU][SIInsertWaitcnts][NFC] Introduce WaitEventSet container for events
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
Labels: none

[lld][WebAssembly] Improve import mismatch error reporting
  lld/test/wasm/Inputs/import-attributes.s
  lld/test/wasm/import-attribute-mismatch.s
  lld/wasm/SymbolTable.cpp
Labels: none

[CodeGen] Remove -gc-empty-basic-blocks alias flag
  llvm/lib/CodeGen/TargetPassConfig.cpp
Labels: none

clang-format
  mlir/lib/Dialect/Vector/Transforms/VectorEmulateNarrowType.cpp
Labels: none

[clang][bytecode] Fix crash on __builtin_align_up with one-past-end pointers
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/test/AST/ByteCode/builtin-align-cxx.cpp
Labels: none

simplify test command
  clang/test/SemaCXX/warn-unsafe-buffer-usage-format-attr-builtins.cpp
Labels: none

[lldb] Increment max-children-depth to 5
  lldb/source/Target/TargetProperties.td
  lldb/test/Shell/Settings/TestChildDepthTruncation.test
Labels: none

fixup! Clarify all_of
  llvm/lib/CodeGen/InlineSpiller.cpp
Labels: none

fix
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUSgToWiDistributeExperimental.cpp
Labels: none

[SCEVExp] Use SCEVPtrToAddr in tryToReuseLCSSAPhi if possible.
  llvm/include/llvm/Analysis/ScalarEvolutionPatternMatch.h
  llvm/lib/Transforms/Utils/ScalarEvolutionExpander.cpp
  llvm/test/Transforms/LoopIdiom/reuse-lcssa-phi-scev-expansion.ll
  llvm/test/Transforms/LoopVectorize/reuse-lcssa-phi-scev-expansion.ll
Labels: none

[Github] Make prune branches workflow save branch patches
  .github/workflows/prune-branches.yml
  .github/workflows/prune-unused-branches.py
Labels: python, misc

Fix test failure on Windows.
  clang/test/ClangScanDeps/modules-full-by-mult-mod-names-diagnostics.c
Labels: none

add tests for commuted
  llvm/test/CodeGen/AArch64/GlobalISel/combine-add.mir
Labels: none

fix typo
  clang/lib/Sema/SemaInit.cpp
Labels: none

[libc++] Fix `__split_buffer_size_layout` bugs (#178341)
  libcxx/include/__split_buffer
Labels: none

[ELFDebugObjectPlugin] Do not wait for std::future in post-fixup phase in the absent of debug info (#178541)
  llvm/lib/ExecutionEngine/Orc/Debugging/ELFDebugObjectPlugin.cpp
  llvm/test/ExecutionEngine/JITLink/x86-64/ELF_no_debug_info.s
Labels: none

naming
  clang/lib/Sema/SemaInit.cpp
Labels: none

[mlir][vector] Add assumeAligned mode to vector.store narrow type emulation (#178565)
  mlir/include/mlir/Dialect/Vector/Transforms/VectorRewritePatterns.h
  mlir/lib/Dialect/Vector/Transforms/VectorEmulateNarrowType.cpp
  mlir/test/Dialect/Vector/vector-emulate-narrow-type-aligned-store-only.mlir
  mlir/test/lib/Dialect/MemRef/TestEmulateNarrowType.cpp
Labels: none

[SelecitonDAGISel][WIP] Separate the operand numbers in OPC_EmitNode/MorphNodeTo into their own table.
  llvm/include/llvm/CodeGen/SelectionDAGISel.h
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGISel.cpp
  llvm/utils/TableGen/DAGISelMatcherEmitter.cpp
Labels: none
