Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

Remove compiler branch hints since not supported by c++17
  llvm/include/llvm/Support/InstructionCost.h
Labels: none

Update PowerPC test
  llvm/test/Analysis/LoopCacheAnalysis/PowerPC/LoopnestFixedSize.ll
Labels: none

[AArch64] Use VectorInstrContext in getScalarizationOverhead.
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/replicating-load-store-costs-apple.ll
Labels: none

Improve unreachable message
  flang/lib/Semantics/resolve-directives.cpp
Labels: none

Make 'IsPrivate' a local lambda
  flang/lib/Semantics/resolve-directives.cpp
Labels: none

[SPGO] Use std::hash instead of MD5 to avoid run time regression in llvm-profgen (#180581)
  llvm/include/llvm/ProfileData/SampleProf.h
Labels: none

[Sema] Fix format-strings test on AIX (#180566)
  clang/test/Sema/format-strings.c
Labels: none

[Matrix] Use tiled loops automatically for large kernels.
  llvm/lib/Transforms/Scalar/LowerMatrixIntrinsics.cpp
  llvm/test/Transforms/LowerMatrixIntrinsics/multiply-fused-loops-large-matrixes.ll
Labels: none

[bazel] NFC: two more fixes
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: none

Add comment, split out test, update script filters out less context
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/test/Transforms/LoopVectorize/multiple-result-intrinsics.ll
  llvm/test/Transforms/LoopVectorize/widen-extractvalue-struct.ll
Labels: none

[flang][OpenMP] Improve locality check when determining DSA (#180583)
  flang/lib/Semantics/resolve-directives.cpp
  flang/test/Semantics/OpenMP/local-variables-1.f90
  flang/test/Semantics/OpenMP/local-variables-2.f90
Labels: none

[mlir][AMDGPU] Make AMDGPUToROCDL conversion tests use real address spaces
  mlir/test/Conversion/AMDGPUToROCDL/amdgpu-to-rocdl.mlir
  mlir/test/Conversion/AMDGPUToROCDL/gfx1250.mlir
  mlir/test/Conversion/AMDGPUToROCDL/load_lds-gfx950.mlir
  mlir/test/Conversion/AMDGPUToROCDL/load_lds.mlir
Labels: none

!fixup turn boolean flag into threshold
  llvm/lib/Transforms/Scalar/LowerMatrixIntrinsics.cpp
  llvm/test/Transforms/LowerMatrixIntrinsics/data-layout-multiply-fused.ll
  llvm/test/Transforms/LowerMatrixIntrinsics/multiply-fused-dominance.ll
  llvm/test/Transforms/LowerMatrixIntrinsics/multiply-fused-loops.ll
  llvm/test/Transforms/LowerMatrixIntrinsics/multiply-fused-volatile.ll
  llvm/test/Transforms/LowerMatrixIntrinsics/multiply-fused.ll
Labels: none

[NFC][Clang][SafeBuffers] Correct naming (sz -> size). (#180629)
  clang/docs/SafeBuffers.rst
Labels: none

Add LLVM lowering support and tests for volatile memref/vector ops
  mlir/lib/Conversion/MemRefToLLVM/MemRefToLLVM.cpp
  mlir/test/Conversion/MemRefToLLVM/memref-to-llvm.mlir
  mlir/test/Conversion/VectorToLLVM/vector-to-llvm-interface.mlir
  mlir/test/Dialect/MemRef/ops.mlir
  mlir/test/Dialect/Vector/ops.mlir
Labels: none

[lld][WebAssembly] Add new __rodata_start/__rodata_end symbols
  lld/test/wasm/data-layout.s
  lld/test/wasm/export-all.s
  lld/test/wasm/mutable-global-exports.s
  lld/wasm/Config.h
  lld/wasm/Driver.cpp
  lld/wasm/Writer.cpp
Labels: none

[CI] Add compiler-rt to LLDB runtime dependencies (#180590)
  .ci/compute_projects.py
  .ci/compute_projects_test.py
Labels: python

[VPlan] Simplify single-entry VPWidenPHIRecipe.
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/outer_loop_prefer_scalable.ll
  llvm/test/Transforms/LoopVectorize/outer-loop-inner-latch-successors.ll
  llvm/test/Transforms/LoopVectorize/outer-loop-wide-phis.ll
  llvm/test/Transforms/LoopVectorize/outer_loop_scalable.ll
  llvm/test/Transforms/LoopVectorize/outer_loop_test2.ll
  llvm/test/Transforms/LoopVectorize/vplan-vectorize-inner-loop-reduction.ll
  llvm/test/Transforms/LoopVectorize/vplan-widen-call-instruction.ll
Labels: none

[Github] Add runs-on to release-tasks.yml
  .github/workflows/release-tasks.yml
Labels: misc

Apply suggestions from code review
  flang/docs/MeetingNotes/README.md
Labels: none

Revert "workflows/release-task: Use less privileged token for uploading release notes (#180299)"
  .github/workflows/release-documentation.yml
  .github/workflows/release-tasks.yml
Labels: misc

[win][aarch64] The Windows Control Flow Guard Check function also preserves X15
  llvm/lib/Target/AArch64/AArch64CallingConvention.td
  llvm/test/CodeGen/AArch64/cfguard-checks.ll
Labels: none

[SPIRV] Implement lowering for HLSL Texture2D sampling intrinsics (#179312)
  llvm/include/llvm/IR/IntrinsicsDirectX.td
  llvm/include/llvm/IR/IntrinsicsSPIRV.td
  llvm/lib/Target/SPIRV/SPIRVInstrInfo.td
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/lib/Target/SPIRV/SPIRVModuleAnalysis.cpp
  llvm/test/CodeGen/SPIRV/hlsl-resources/Sample1D.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/Sample3D.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/SampleBias.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/SampleCmp.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/SampleCmpLevelZero.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/SampleCube.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/SampleErrors.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/SampleErrorsDebug.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/SampleGrad.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/SampleLevel.ll
Labels: none

[lld][WebAssembly] Add new __rodata_start/__rodata_end symbols (#172102)
  lld/test/wasm/data-layout.s
  lld/test/wasm/export-all.s
  lld/test/wasm/mutable-global-exports.s
  lld/wasm/Config.h
  lld/wasm/Driver.cpp
  lld/wasm/Writer.cpp
Labels: none

[SLP] Use ConstantExpr::getBinOpIdentity()
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: none

AMDGPUTargetMachine to GCNTargetMachine
  llvm/lib/Target/AMDGPU/AMDGPU.h
  llvm/lib/Target/AMDGPU/AMDGPUAttributor.cpp
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
Labels: none

[hwasan][Fuchsia] Use GetCurrentThread
  compiler-rt/lib/hwasan/hwasan_fuchsia.cpp
Labels: none

[clang][modules] Add single-module-parse-mode callback (#179714)
  clang/include/clang/Lex/PPCallbacks.h
  clang/lib/Frontend/CompilerInstance.cpp
  clang/unittests/Frontend/CompilerInstanceTest.cpp
Labels: none

[lldb/Trace] Add --provider option to thread backtrace
  lldb/include/lldb/Interpreter/CommandOptionArgumentTable.h
  lldb/include/lldb/Target/Thread.h
  lldb/include/lldb/lldb-enumerations.h
  lldb/source/Commands/CommandObjectThread.cpp
  lldb/source/Commands/Options.td
Labels: none

Remove outdated reference to plan of work document per reviewer feedback
  flang/docs/MeetingNotes/README.md
Labels: none

[flang][runtime] OPEN(STATUS='NEW') should fail on extant file
  flang-rt/lib/runtime/file.cpp
  flang-rt/lib/runtime/iostat.cpp
  flang-rt/unittests/Runtime/ExternalIOTest.cpp
  flang/include/flang/Runtime/iostat-consts.h
Labels: none

[RISCV] Combine shuffle of shuffles to a single shuffle (#178095)
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-shuffle-int.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-shuffle-merge.ll
Labels: none

fix indentation in GettingInvolved.md per reviewer feedback. Remove trailing whitespaces.
  flang/docs/GettingInvolved.md
Labels: none

Added another test with GDBserver simulation
  lldb/test/API/functionalities/gdb_remote_client/TestBatchedBreakpointStepOver.py
Labels: python

[𝘀𝗽𝗿] initial version
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/X86/bool-mask.ll
  llvm/test/Transforms/SLPVectorizer/X86/subvector-minbitwidth-unsigned-value.ll
Labels: none

[libc++] Add myself as a FreeBSD point of contact
  libcxx/utils/ci/BOT_OWNERS.txt
Labels: none

Revert "[msan] Switch switch() from strict handling to (icmp eq)-style handli…"
  llvm/lib/Transforms/Instrumentation/MemorySanitizer.cpp
  llvm/test/Instrumentation/MemorySanitizer/switch-icmp.ll
Labels: none

[MLIR][Utils] Fix overflow in constantTripCount for narrow types (#179985)
  mlir/include/mlir/Dialect/Utils/StaticValueUtils.h
  mlir/lib/Dialect/Utils/StaticValueUtils.cpp
  mlir/test/Dialect/SCF/trip_count.mlir
Labels: none

Fix formatting
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: none

Fix a comment
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
