Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

add test with v4i16 using i16 scalars compared against v4i16 using i32 scalars
  llvm/unittests/CodeGen/SelectionDAGPatternMatchTest.cpp
Labels: none

Rename to prefer-legacy-setcc.
  llvm/lib/Target/X86/X86.td
  llvm/lib/Target/X86/X86FastISel.cpp
  llvm/lib/Target/X86/X86FixupSetCC.cpp
  llvm/lib/Target/X86/X86FlagsCopyLowering.cpp
  llvm/lib/Target/X86/X86InstrCMovSetCC.td
  llvm/lib/Target/X86/X86InstrPredicates.td
  llvm/test/CodeGen/X86/apx/setzucc.ll
  llvm/test/CodeGen/X86/fast-isel-fcmp.ll
  llvm/test/CodeGen/X86/fast-isel-select-cmov2.ll
  llvm/test/CodeGen/X86/pr27591.ll
  llvm/test/CodeGen/X86/pr32284.ll
  llvm/test/CodeGen/X86/pr54369.ll
  llvm/test/CodeGen/X86/scmp.ll
Labels: none

[ISel] Handle TypeWidenVector in expandVectorFindLastActive. (#174384)
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/test/CodeGen/X86/vector-extract-last-active.ll
Labels: none

Fix build error due to Werror
  clang/lib/AST/ExprConstant.cpp
Labels: none

[ConstantHoisting] Remove redundant cleanup (NFC) (#173823)
  llvm/include/llvm/Transforms/Scalar/ConstantHoisting.h
Labels: none

[Polly] Allow changing array dims
  polly/lib/Exchange/JSONExporter.cpp
  polly/test/JSONExporter/ImportAccesses/change-array-dims.ll
  polly/test/JSONExporter/ImportAccesses/change-array-dims___%outer.for---%return.jscop
  polly/test/JSONExporter/ImportAccesses/change-array-dims___%outer.for---%return.jscop.transformed
Labels: none

Remove check for addsub
  llvm/lib/Target/X86/X86ISelLowering.cpp
Labels: none

Let's accept StdVariant suggestion for now
  clang/docs/ReleaseNotes.rst
Labels: none

[Sema] Fix crash in TypeLoc::initializeFullCopy with mismatched types
  clang/lib/Sema/SemaType.cpp
  clang/test/Sema/atomic-type-mismatch-crash.c
Labels: none

[analyzer][docs] CSA release notes for clang-22 (#174450)
  clang/docs/ReleaseNotes.rst
Labels: none

[VPlan] Restore all-operands-inv WidenGEP logic (#174416)
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/test/Transforms/LoopVectorize/widen-gep-all-indices-invariant.ll
Labels: none

[Polly] Allow changing array dims when importing JScop (#174582)
  polly/lib/Exchange/JSONExporter.cpp
  polly/test/JSONExporter/ImportAccesses/change-array-dims.ll
  polly/test/JSONExporter/ImportAccesses/change-array-dims___%outer.for---%return.jscop
  polly/test/JSONExporter/ImportAccesses/change-array-dims___%outer.for---%return.jscop.transformed
Labels: none

[SPIRV] Handle poison values in lifetime intrinsics (#174578)
  llvm/lib/Target/SPIRV/SPIRVPrepareFunctions.cpp
  llvm/test/CodeGen/SPIRV/lifetime-poison.ll
Labels: none

Remove check for addsub
  llvm/test/CodeGen/X86/sse3-avx-addsub-2.ll
  llvm/test/CodeGen/X86/sse3-avx-addsub.ll
Labels: none

Fix test
  lldb/test/API/tools/lldb-dap/evaluate/TestDAP_evaluate.py
Labels: python

[clang-repl] fix warning
  clang/lib/Interpreter/Interpreter.cpp
Labels: none

[NFC][AMDGPU] Use getMixedSize in FatRawBufferCastOp dim reification (#174548)
  mlir/lib/Dialect/AMDGPU/IR/AMDGPUDialect.cpp
Labels: none

[LV] Consider UserIC when limiting VF.
  llvm/lib/Transforms/Vectorize/LoopVectorizationPlanner.h
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/epilog-vectorization-factors.ll
Labels: none

[mlir][spirv] Add definition for GL Pack/UnpackSnorm4x8 (#174574)
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVGLOps.td
  mlir/test/Dialect/SPIRV/IR/gl-ops.mlir
  mlir/test/Target/SPIRV/gl-ops.mlir
Labels: none

[DAG] SDPatternMatch - add a m_SpecificNeg() matcher (#173807)
  llvm/include/llvm/CodeGen/SDPatternMatch.h
  llvm/unittests/CodeGen/SelectionDAGPatternMatchTest.cpp
Labels: none

[LowerTypeTests] Avoid implicit truncation for absolute_symbol
  llvm/lib/Transforms/IPO/LowerTypeTests.cpp
  llvm/test/Transforms/LowerTypeTests/import-32bit.ll
Labels: none

[X86]: use `VPMADDWD` for widening adjacent addition
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/combine-pmadd.ll
Labels: none

[LowerTypeTests] Avoid implicit truncation for absolute_symbol (#174589)
  llvm/lib/Transforms/IPO/LowerTypeTests.cpp
  llvm/test/Transforms/LowerTypeTests/import-32bit.ll
Labels: none

initial commit for shuffle VC output
  mlir/include/mlir/Dialect/X86Vector/TransformOps/X86VectorTransformOps.td
  mlir/include/mlir/Dialect/X86Vector/Transforms.h
  mlir/include/mlir/Dialect/X86Vector/Utils/X86VectorUtils.h
  mlir/lib/Dialect/X86Vector/TransformOps/X86VectorTransformOps.cpp
  mlir/lib/Dialect/X86Vector/Transforms/CMakeLists.txt
  mlir/lib/Dialect/X86Vector/Transforms/ShuffleBF16VectorContractResult.cpp
  mlir/lib/Dialect/X86Vector/Utils/X86VectorUtils.cpp
  mlir/test/Dialect/shuffle-bf16-vector-contract-result.mlir
Labels: none

!fixup address latest comments, thanks
  llvm/lib/Transforms/Vectorize/VPlan.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanAnalysis.cpp
  llvm/lib/Transforms/Vectorize/VPlanPatternMatch.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanValue.h
Labels: none

Work Commit - State of the art. IR2Vec Python bindings are functioning
  llvm/include/llvm/Analysis/IR2Vec.h
  llvm/lib/Analysis/IR2Vec.cpp
  llvm/tools/llvm-ir2vec/CMakeLists.txt
  llvm/tools/llvm-ir2vec/bindings/ir2vec_bindings.cpp
  llvm/tools/llvm-ir2vec/utils/utils.cpp
  llvm/tools/llvm-ir2vec/utils/utils.h
Labels: none

[LLVM][NVPTX] Enable family specific support for a intrinsics
  llvm/lib/Target/NVPTX/NVPTXInstrInfo.td
  llvm/lib/Target/NVPTX/NVPTXIntrinsics.td
  llvm/lib/Target/NVPTX/NVPTXSubtarget.h
  llvm/test/CodeGen/NVPTX/clusterlaunchcontrol-multicast.ll
  llvm/test/CodeGen/NVPTX/redux-sync-f32.ll
  llvm/test/CodeGen/NVPTX/setmaxnreg-sm100a.ll
  llvm/test/CodeGen/NVPTX/tcgen05-mma-block-scale-ptx88-aa.ll
  llvm/test/CodeGen/NVPTX/tcgen05-mma-block-scale-ptx88.ll
  llvm/test/CodeGen/NVPTX/tcgen05-mma-disable-output-lane-i8.ll
  llvm/test/CodeGen/NVPTX/tcgen05-mma-disable-output-lane.ll
  llvm/test/CodeGen/NVPTX/tcgen05-mma-i8.ll
  llvm/test/CodeGen/NVPTX/tcgen05-mma-scale-d.ll
  llvm/test/CodeGen/NVPTX/tcgen05-mma-ws-i8.ll
  llvm/test/CodeGen/NVPTX/tcgen05-mma-ws.ll
  llvm/test/CodeGen/NVPTX/tcgen05-mma.ll
  llvm/test/CodeGen/NVPTX/wmma-ptx78-sm90.py
  llvm/test/CodeGen/NVPTX/wmma-ptx86-sm100a.py
  llvm/test/CodeGen/NVPTX/wmma-ptx86-sm101a.py
  llvm/test/CodeGen/NVPTX/wmma-ptx86-sm120a.py
  llvm/test/CodeGen/NVPTX/wmma-ptx87-sm120a.py
  llvm/test/CodeGen/NVPTX/wmma-ptx88-sm100f.py
  llvm/test/CodeGen/NVPTX/wmma-ptx88-sm120a.py
  llvm/test/CodeGen/NVPTX/wmma-ptx88-sm120f.py
  llvm/test/CodeGen/NVPTX/wmma-ptx90-sm110f.py
  llvm/test/CodeGen/NVPTX/wmma.py
Labels: python

Fix ptx attr for tcgen05-mma-scale-d.ll
  llvm/test/CodeGen/NVPTX/tcgen05-mma-scale-d.ll
Labels: none

Update wmma.py script for mma.sp.block_scale inst and fix setmaxnreg-sm100.ll for sm_110f
  llvm/test/CodeGen/NVPTX/setmaxnreg-sm100a.ll
  llvm/test/CodeGen/NVPTX/wmma.py
Labels: python

[OpenMP] Add default stub for virtual methods
  openmp/device/src/Misc.cpp
Labels: openmp

end of line differences
  flang/test/Lower/always-execute-loop-body.f90
  flang/test/Lower/arithmetic-goto.f90
  flang/test/Lower/array-constructor-1.f90
Labels: none

Revert "AMDGPU: Do not infer implicit inputs for !nocallback intrinsics" (#174224)
  llvm/lib/Target/AMDGPU/AMDGPUAttributor.cpp
  llvm/test/CodeGen/AMDGPU/amdgpu-attributor-intrinsic-missing-nocallback.ll
  llvm/test/CodeGen/AMDGPU/amdgpu-attributor-nocallback-intrinsics.ll
Labels: none

[clang] Add NagyDonat to the Clang Static Analyzer maintainers
  clang/Maintainers.rst
Labels: none

add a test and refine the existing one
  mlir/test/Dialect/LLVMIR/nvvm-target-invalid.mlir
Labels: none

[AMDGPU] Optimize block count calculations to the new ABI
  llvm/lib/Target/AMDGPU/AMDGPULowerKernelAttributes.cpp
  llvm/test/CodeGen/AMDGPU/implicit-arg-block-count.ll
Labels: none

[RISCV][llvm] Support bitwise operation for XLEN fixed vectors
  llvm/lib/Target/RISCV/RISCVInstrInfoP.td
  llvm/test/CodeGen/RISCV/rvp-ext-rv32.ll
  llvm/test/CodeGen/RISCV/rvp-ext-rv64.ll
Labels: none

Fix unnamed function arguments
  llvm/include/llvm/AsmParser/LLParser.h
  llvm/lib/AsmParser/LLParser.cpp
Labels: none

Work Commit - trimming down patch for utils refactor
  llvm/include/llvm/Analysis/IR2Vec.h
  llvm/lib/Analysis/IR2Vec.cpp
  llvm/tools/llvm-ir2vec/CMakeLists.txt
  llvm/tools/llvm-ir2vec/bindings/ir2vec_bindings.cpp
  llvm/tools/llvm-ir2vec/utils/utils.h
Labels: none

Add test for unnamed arguments
  llvm/unittests/AsmParser/AsmParserTest.cpp
Labels: none

[flang][NFC] Converted five tests from old lowering to new lowering (part 3) (#174345)
  flang/test/Lower/always-execute-loop-body.f90
  flang/test/Lower/arithmetic-goto.f90
  flang/test/Lower/array-constructor-1.f90
  flang/test/Lower/array-constructor-index.f90
  flang/test/Lower/array-derived.f90
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
