Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[libc] Various GPU allocator tweaks and optimizations (#184368)
  libc/src/__support/GPU/allocator.cpp
Labels: none

Reapply "[SPIRV][NFCI] Use unordered data structures for SPIR-V extensions (#184162)
  llvm/lib/Target/SPIRV/MCTargetDesc/SPIRVBaseInfo.h
  llvm/lib/Target/SPIRV/SPIRVAPI.cpp
  llvm/lib/Target/SPIRV/SPIRVCommandLine.cpp
  llvm/lib/Target/SPIRV/SPIRVCommandLine.h
  llvm/lib/Target/SPIRV/SPIRVSubtarget.cpp
  llvm/lib/Target/SPIRV/SPIRVSubtarget.h
  llvm/lib/Target/SPIRV/SPIRVSymbolicOperands.td
Labels: none

[mlir][IR] Add variadic `getParentOfType` overloads (#184071)
  mlir/include/mlir/IR/Operation.h
  mlir/include/mlir/IR/Region.h
  mlir/lib/Dialect/OpenACC/IR/OpenACC.cpp
  mlir/lib/Dialect/OpenACC/Transforms/LegalizeDataValues.cpp
  mlir/lib/Dialect/OpenACC/Utils/OpenACCUtils.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/Utils/CodegenUtils.cpp
Labels: none

[CI][SPIRV][NFC] Remove unneccessary mkdir from workflow (#184353)
  .github/workflows/spirv-tests.yml
Labels: misc

[CIR] Fix unreachable block generation in EH flattening (#184268)
  clang/lib/CIR/Dialect/Transforms/FlattenCFG.cpp
  clang/test/CIR/Transforms/flatten-try-op.cir
Labels: none

[ELF] Add TargetInfo::initTargetSpecificSections hook (#184292)
  lld/ELF/Arch/ARM.cpp
  lld/ELF/Arch/PPC.cpp
  lld/ELF/Arch/PPC64.cpp
  lld/ELF/Arch/X86.cpp
  lld/ELF/Arch/X86_64.cpp
  lld/ELF/Config.h
  lld/ELF/SyntheticSections.cpp
  lld/ELF/Target.h
Labels: none

[CIR][AArch64] Add lowering for vaba_* and vabd_* builtins (#183595)
  clang/include/clang/CIR/Dialect/Builder/CIRBaseBuilder.h
  clang/lib/CIR/CodeGen/CIRGenBuiltinAArch64.cpp
  clang/test/CodeGen/AArch64/neon-intrinsics.c
  clang/test/CodeGen/AArch64/neon/intrinsics.c
Labels: none

[mlir][shard, mpi] Adding Shard/MPI reduce_scatter and simplification (#184189)
  mlir/include/mlir/Dialect/MPI/IR/MPIOps.td
  mlir/include/mlir/Dialect/Shard/IR/ShardOps.td
  mlir/include/mlir/Dialect/Shard/Transforms/Partition.h
  mlir/include/mlir/Dialect/Shard/Transforms/Passes.td
  mlir/include/mlir/Dialect/Shard/Transforms/Simplify.h
  mlir/lib/Conversion/MPIToLLVM/MPIToLLVM.cpp
  mlir/lib/Conversion/ShardToMPI/ShardToMPI.cpp
  mlir/lib/Dialect/MPI/IR/MPIOps.cpp
  mlir/lib/Dialect/Shard/IR/ShardOps.cpp
  mlir/lib/Dialect/Shard/Transforms/CMakeLists.txt
  mlir/lib/Dialect/Shard/Transforms/Simplifications.cpp
  mlir/lib/Dialect/Shard/Transforms/Simplify.cpp
  mlir/test/Conversion/MPIToLLVM/mpitollvm.mlir
  mlir/test/Conversion/ShardToMPI/convert-shard-to-mpi.mlir
  mlir/test/Dialect/MPI/mpiops.mlir
  mlir/test/Dialect/Shard/all-scatter-op-lowering.mlir
  mlir/test/Dialect/Shard/canonicalization.mlir
  mlir/test/Dialect/Shard/folding.mlir
  mlir/test/Dialect/Shard/invalid.mlir
  mlir/test/Dialect/Shard/ops.mlir
  mlir/test/Dialect/Shard/simplify.mlir
  mlir/test/lib/Dialect/Shard/CMakeLists.txt
  mlir/test/lib/Dialect/Shard/TestReshardingPartition.cpp
  mlir/test/lib/Dialect/Shard/TestSimplifications.cpp
  mlir/tools/mlir-opt/mlir-opt.cpp
Labels: none

[AArch64] Add basic NPM support for LoadStoreOptimizer. (#184090)
  llvm/lib/Target/AArch64/AArch64.h
  llvm/lib/Target/AArch64/AArch64LoadStoreOptimizer.cpp
  llvm/lib/Target/AArch64/AArch64PassRegistry.def
  llvm/lib/Target/AArch64/AArch64TargetMachine.cpp
  llvm/test/CodeGen/AArch64/stp-opt-with-renaming-ld3.mir
Labels: none

[clang-doc] Add basic benchmarks for library functionality (#182620)
  clang-tools-extra/clang-doc/CMakeLists.txt
  clang-tools-extra/clang-doc/benchmarks/CMakeLists.txt
  clang-tools-extra/clang-doc/benchmarks/ClangDocBenchmark.cpp
Labels: none

[mlir] Install '.pdll' files along with the header files (#183855)
  mlir/CMakeLists.txt
Labels: none

[Thumb2] Use BXAUT instruction if available (#183056)
  llvm/lib/Target/ARM/ARMBaseInstrInfo.cpp
  llvm/lib/Target/ARM/ARMFrameLowering.cpp
  llvm/lib/Target/ARM/ARMInstrThumb2.td
  llvm/test/CodeGen/Thumb2/pacbti-m-bxaut.ll
Labels: none

[Github] Bump clang-format/clang-tidy to v22.1.0 (#184374)
  .github/workflows/containers/github-action-ci-tooling/Dockerfile
Labels: misc

Revert "[OpenMP][clang] Indirect and Virtual function call mapping from host to device" (#184378)
  clang/include/clang/AST/ASTMutationListener.h
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Serialization/ASTWriter.h
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/ItaniumCXXABI.cpp
  clang/lib/Frontend/MultiplexConsumer.cpp
  clang/lib/Sema/SemaOpenMP.cpp
  clang/lib/Serialization/ASTCommon.h
  clang/lib/Serialization/ASTReaderDecl.cpp
  clang/lib/Serialization/ASTWriter.cpp
  clang/test/OpenMP/target_indirect_codegen.cpp
  clang/test/OpenMP/target_vtable_omp_indirect_call_lookup.cpp
  offload/test/api/omp_indirect_call_table_manual.c
  offload/test/api/omp_indirect_func_array.c
  offload/test/api/omp_indirect_func_basic.c
  offload/test/api/omp_indirect_func_struct.c
  offload/test/api/omp_virtual_func.cpp
  offload/test/api/omp_virtual_func_multiple_inheritance_01.cpp
  offload/test/api/omp_virtual_func_multiple_inheritance_02.cpp
  offload/test/api/omp_virtual_func_reference.cpp
Labels: none

[DirectX][ResourceAccess] Resolve resource handles at access (#182106)
  llvm/lib/Target/DirectX/DXILResourceAccess.cpp
  llvm/test/CodeGen/DirectX/ResourceAccess/handle-cases.ll
  llvm/test/CodeGen/DirectX/ResourceAccess/handle-to-index.ll
  llvm/test/CodeGen/DirectX/ResourceAccess/non-unique.ll
Labels: none

[clang-doc] Improve complexity of Index construction (#182621)
  clang-tools-extra/clang-doc/Generators.cpp
  clang-tools-extra/clang-doc/JSONGenerator.cpp
  clang-tools-extra/clang-doc/MDGenerator.cpp
  clang-tools-extra/clang-doc/Representation.cpp
  clang-tools-extra/clang-doc/Representation.h
  clang-tools-extra/clang-doc/YAMLGenerator.cpp
  clang-tools-extra/unittests/clang-doc/ClangDocTest.cpp
  clang-tools-extra/unittests/clang-doc/GeneratorTest.cpp
Labels: none

[MLIR][XeGPU] Remove fold alias pass in xegpu (#182802)
  mlir/include/mlir/Dialect/XeGPU/Transforms/Passes.td
  mlir/include/mlir/Dialect/XeGPU/Transforms/Transforms.h
  mlir/lib/Dialect/XeGPU/Transforms/CMakeLists.txt
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUFoldAliasOps.cpp
  mlir/test/Dialect/XeGPU/xegpu-fold-alias-ops.mlir
Labels: none

[ELF] Move PPC32Got2Section into Arch/PPC.cpp (#184383)
  lld/ELF/Arch/PPC.cpp
  lld/ELF/SyntheticSections.cpp
  lld/ELF/SyntheticSections.h
Labels: none

[ELF] Move MIPS synthetic sections into Arch/Mips.cpp (#184384)
  lld/ELF/Arch/Mips.cpp
  lld/ELF/Config.h
  lld/ELF/SyntheticSections.cpp
  lld/ELF/SyntheticSections.h
Labels: none

[libc] Extend check-libc-lit to cover include, integration, and all src tests (#184366)
  libc/test/include/CMakeLists.txt
  libc/test/integration/CMakeLists.txt
  libc/utils/libctest/format.py
Labels: python

[mlir][linalg] Upstream PackOp/UnPackOp's generateScalarImplementation. (#182838)
  mlir/lib/Dialect/Linalg/IR/LinalgOps.cpp
  mlir/lib/Dialect/Linalg/Transforms/TilingInterfaceImpl.cpp
  mlir/test/Interfaces/TilingInterface/lower-to-loops-using-interface.mlir
Labels: none

[clang-tidy] Fix yet another false positive in `readability-redundant-typename` (#184301)
  clang-tools-extra/clang-tidy/readability/RedundantTypenameCheck.cpp
  clang-tools-extra/test/clang-tidy/checkers/readability/redundant-typename.cpp
Labels: none

[flang] remove unused variable (NFC) (#184293)
  flang/lib/Optimizer/Builder/IntrinsicCall.cpp
Labels: none

[VPlan][NFC] Remove unnecessary explicit copy constructors (#183863)
  llvm/lib/Transforms/Vectorize/VPlanCFG.h
Labels: none

[flang][OpenMP] Fix lowering of LINEAR iteration variables (#183794)
  flang/lib/Lower/OpenMP/DataSharingProcessor.cpp
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/test/Lower/OpenMP/composite_simd_linear.f90
  flang/test/Lower/OpenMP/distribute-parallel-do-simd.f90
  flang/test/Lower/OpenMP/distribute-simd.f90
  flang/test/Lower/OpenMP/loop-pointer-variable.f90
  flang/test/Lower/OpenMP/ordered-simd.f90
  flang/test/Lower/OpenMP/wsloop-simd.f90
Labels: none

[HIP] Fix -save-temps with the new offload driver (#184385)
  clang/lib/Driver/Driver.cpp
  clang/test/Driver/hip-save-temps.hip
  clang/test/Driver/hip-spirv-backend-bindings.c
  clang/test/Driver/hip-spirv-backend-phases.c
Labels: none

[bazel][mlir] Fix Bazel build for a232b5b (#184394)
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: none

[mlir][mpi] fixing 184189 build failures (#184399)
  mlir/lib/Conversion/MPIToLLVM/CMakeLists.txt
Labels: none

[MLIR][Canonicalization] Add shape_cast folding patterns (#183061)
  mlir/lib/Dialect/Vector/IR/VectorOps.cpp
  mlir/test/Dialect/Vector/canonicalize.mlir
  mlir/test/Dialect/Vector/canonicalize/vector-to-elements.mlir
Labels: none

[X86] vector-shuffle-combining-xop.ll - tests showing failure to combine shuffles with non-uniform rotates (#184397)
  llvm/test/CodeGen/X86/vector-shuffle-combining-xop.ll
Labels: none

[sanitizer][Fuchsia] Define interceptor for reallocarray on Fuchsia (#184410)
  compiler-rt/lib/sanitizer_common/sanitizer_platform_interceptors.h
Labels: none

[WebAssembly][FastISel] Call materializeLoadStoreOperands in load fold (#184203)
  llvm/lib/Target/WebAssembly/WebAssemblyFastISel.cpp
  llvm/test/CodeGen/WebAssembly/load-ext.ll
Labels: none

[AArch64] Fix relative vtable PLT/GOTPCREL specifiers to use MCSpecifierExpr (#184393)
  llvm/lib/Target/AArch64/AArch64TargetObjectFile.cpp
  llvm/lib/Target/AArch64/MCTargetDesc/AArch64MCAsmInfo.cpp
  llvm/test/CodeGen/AArch64/dso_local_equivalent.ll
  llvm/test/MC/ELF/rtti-proxy-gotpcrel.ll
Labels: none

[NFC] Refactor the SelectionDAG::getMemcmp etc with a existing helper function getRuntimeCallSDValueHelper (#184200)
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
Labels: none

[flang][acc] Improve clause validity check around do concurrent (#184389)
  flang/lib/Semantics/canonicalize-acc.cpp
  flang/test/Semantics/OpenACC/acc-canonicalization-validity.f90
Labels: none

[RISCV] Promote i8/i16/i32 scalable vector CLMUL to i64 CLMUL with Zvbc. (#184265)
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/clmul-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/clmulh-sdnode.ll
Labels: none

[LifetimeSafety] Use per-container invalidation rules to fix false positives (#183000)
  clang/include/clang/Analysis/Analyses/LifetimeSafety/LifetimeAnnotations.h
  clang/lib/Analysis/LifetimeSafety/LifetimeAnnotations.cpp
  clang/test/Sema/Inputs/lifetime-analysis.h
  clang/test/Sema/warn-lifetime-analysis-nocfg.cpp
  clang/test/Sema/warn-lifetime-safety-invalidations.cpp
Labels: none

[CIR] Synchronize CIR with recent changes to atomic ops (#184416)
  clang/lib/CIR/CodeGen/CIRGenAtomic.cpp
  clang/test/CIR/CodeGen/atomic-thread-fence.c
Labels: none

[OpenMP][clang] Indirect and Virtual function call mapping from host to device (#184412)
  clang/include/clang/AST/ASTMutationListener.h
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Serialization/ASTWriter.h
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/ItaniumCXXABI.cpp
  clang/lib/Frontend/MultiplexConsumer.cpp
  clang/lib/Sema/SemaOpenMP.cpp
  clang/lib/Serialization/ASTCommon.h
  clang/lib/Serialization/ASTReaderDecl.cpp
  clang/lib/Serialization/ASTWriter.cpp
  clang/test/OpenMP/target_indirect_codegen.cpp
  clang/test/OpenMP/target_vtable_omp_indirect_call_lookup.cpp
  offload/test/api/omp_indirect_call_table_manual.c
  offload/test/api/omp_indirect_func_array.c
  offload/test/api/omp_indirect_func_basic.c
  offload/test/api/omp_indirect_func_struct.c
  offload/test/api/omp_virtual_func.cpp
  offload/test/api/omp_virtual_func_multiple_inheritance_01.cpp
  offload/test/api/omp_virtual_func_multiple_inheritance_02.cpp
  offload/test/api/omp_virtual_func_reference.cpp
Labels: none

[libc++] Update documentation for _executeWithFakeConfig (#184420)
  libcxx/utils/libcxx/test/dsl.py
Labels: python
