Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[flang][OpenACC] Rematerialize fir.absent in outlined regions. (#217103)
  flang/lib/Optimizer/OpenACC/Support/RegisterOpenACCExtensions.cpp
  flang/test/Fir/CUDA/cuf-offload-livein-value-canonicalization.fir
  flang/test/Fir/OpenACC/offload-livein-value-canonicalization.fir
Labels: none

[libc][ci] Enable coverage instrumentation and harden post-commit workflow
  .github/workflows/libc-post-commit-coverage.yml
  libc/CMakeLists.txt
Labels: misc

Add arm64ec-pc-windows-msvc run lines
  clang/test/CodeGen/AArch64/abi-classify-arg-types.c
  clang/test/CodeGen/AArch64/abi-classify-return-types.c
Labels: none

Add code completion for matrix swizzle
  clang-tools-extra/clangd/unittests/CodeCompleteTests.cpp
  clang/lib/Sema/SemaCodeComplete.cpp
Labels: none

Use StringSwitch
  llvm/lib/IR/AutoUpgrade.cpp
Labels: none

update warning message
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/test/Sema/riscv-interrupt-attr-qci.c
  clang/test/Sema/riscv-interrupt-attr-rnmi.c
  clang/test/Sema/riscv-interrupt-attr-sifive.c
  clang/test/Sema/riscv-interrupt-attr.c
Labels: none

ExpandIRInsts: Expand frem when the libcall is unavailable (#217301)
  llvm/lib/CodeGen/ExpandIRInsts.cpp
  llvm/test/CodeGen/X86/expand-frem-no-libcall.ll
Labels: none

[X86] Add regression test coverage for #217355
  llvm/test/CodeGen/X86/fp-int-fp-cvt.ll
Labels: none

[lldb] Interpret the DW_OP_plus_uconst addend in the popped operand's… (#217239)
  lldb/source/Expression/DWARFExpression.cpp
  lldb/unittests/Expression/DWARFExpressionTest.cpp
Labels: none

[lldb] Inherit behaves_like_zeroth_frame in synthesized inline frames
  lldb/source/Target/StackFrameList.cpp
  lldb/unittests/Target/CMakeLists.txt
  lldb/unittests/Target/Inputs/inlined-function.yaml
  lldb/unittests/Target/StackFrameListTest.cpp
Labels: none

Add target triple and regenerate assertions
  clang/test/Headers/__clang_hip_math.hip
  llvm/test/Transforms/ArgumentPromotion/load-alignment-value-overflows-addrspace-size.ll
Labels: none

[lldb] Pass --enable-mte from lldb-dotest (#217176)
  lldb/utils/lldb-dotest/CMakeLists.txt
  lldb/utils/lldb-dotest/lldb-dotest.in
Labels: none

[flang][OpenACC] Avoid allocation actions for unified memory. (#217146)
  flang/lib/Lower/OpenACC.cpp
  flang/test/Lower/OpenACC/acc-declare-unified.f90
Labels: none

Remove ARM FPA
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.cpp
  lldb/test/API/functionalities/gdb_remote_client/TestXMLRegisterVector.py
Labels: python

Address reviews:
  clang/docs/ReleaseNotes.md
  clang/docs/ReturnAddressAuthenticationHardening.rst
  clang/docs/index.rst
  clang/include/clang/Basic/LangOptions.h
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/CodeGen/TargetInfo.cpp
  clang/test/CodeGen/AArch64/sign-return-address.c
  clang/test/Driver/aarch64-security-options.c
Labels: none

[lldb] Pass --enable-mte from lldb-dotest (#217176)
  lldb/utils/lldb-dotest/CMakeLists.txt
  lldb/utils/lldb-dotest/lldb-dotest.in
Labels: none

GlobalISel: Let m_GSExtInReg match its immediate with a sub-matcher (#217309)
  llvm/include/llvm/CodeGen/GlobalISel/MIPatternMatch.h
  llvm/lib/Target/RISCV/GISel/RISCVInstructionSelector.cpp
Labels: none

comments
  llvm/lib/Target/AMDGPU/AMDGPULowerModuleLDSPass.cpp
Labels: none

[flang][Driver] Forward negative sum reassociation flag (#217266)
  clang/lib/Driver/ToolChains/Flang.cpp
  flang/test/Driver/sum-reassociation.f90
Labels: none

[libc++][test] Remove `XFAIL` mark for LLVM libc on `system` (#217237)
  libcxx/test/std/depr/depr.c.headers/stdlib_h.pass.cpp
  libcxx/test/std/language.support/support.runtime/cstdlib.pass.cpp
Labels: none

[SLSR] Add a statistic counting candidate-basis SCEV differences (NFC) (#217143)
  llvm/lib/Transforms/Scalar/StraightLineStrengthReduce.cpp
  llvm/test/Transforms/StraightLineStrengthReduce/NVPTX/scev-candidate-differences.ll
Labels: none

Change FeatureLocalMemorySize to FeatureHalfAddressablePhysicalLocalMemory
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPUFeatures.td
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/test/CodeGen/AMDGPU/lds-limit-diagnostics-gfx13.ll
Labels: none

Add lds-size-pal-gfx13 test
  llvm/test/CodeGen/AMDGPU/lds-size-pal-gfx13.ll
Labels: none

[MLIR][OpenMP] Add verifier to prevent illegal omp.critical nesting
  mlir/include/mlir/Dialect/OpenMP/OpenMPOps.td
  mlir/lib/Dialect/OpenMP/IR/OpenMPDialect.cpp
  mlir/test/Dialect/OpenMP/invalid_critical.mlir
Labels: none

AMDGPU: Fix broken undef operand handling in SIFixSGPRCopies (#217385)
  llvm/lib/Target/AMDGPU/SIFixSGPRCopies.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/test/CodeGen/AMDGPU/si-fix-sgpr-copies.mir
Labels: none

[lldb] Keep DWARF dereference results address-sized (#216666)
  lldb/source/Expression/DWARFExpression.cpp
  lldb/unittests/Expression/DWARFExpressionTest.cpp
Labels: none

[clang] Redeclarations should inherit all unique SwiftAttrs
  clang/include/clang/Sema/SemaSwift.h
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaSwift.cpp
  clang/test/AST/attr-swift_attr-redeclaration.c
Labels: none

Unconditional out of bound check
  mlir/include/mlir/Conversion/Passes.td
  mlir/include/mlir/Conversion/TosaToLinalg/TosaToLinalg.h
  mlir/include/mlir/Conversion/TosaToSCF/TosaToSCF.h
  mlir/lib/Conversion/TosaToLinalg/TosaToLinalg.cpp
  mlir/lib/Conversion/TosaToLinalg/TosaToLinalgPass.cpp
  mlir/lib/Conversion/TosaToSCF/TosaToSCF.cpp
  mlir/lib/Conversion/TosaToSCF/TosaToSCFPass.cpp
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg.mlir
  mlir/test/Conversion/TosaToSCF/tosa-to-scf.mlir
Labels: none

assert
  llvm/lib/Target/AMDGPU/AMDGPUInstructionSelector.cpp
Labels: none

Update comments
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.h
  llvm/test/CodeGen/AMDGPU/lds-limit-diagnostics-gfx13.ll
  llvm/test/CodeGen/AMDGPU/lds-size-pal-gfx13.ll
Labels: none

[SimplifyCFG] Check every sinking candidate in canSinkInstructions
  llvm/lib/Transforms/Utils/SimplifyCFG.cpp
  llvm/test/Transforms/SimplifyCFG/constant-bundle-operand.ll
  llvm/test/Transforms/SimplifyCFG/hoist-sink-swifterror-store.ll
Labels: none

Reland "[HLSL] Generate semantic signature metadata (#212892)" (#216805)
  clang/lib/CodeGen/CGHLSLRuntime.cpp
  clang/lib/CodeGen/CGHLSLRuntime.h
  clang/test/CodeGenHLSL/semantics/semantic.array.output.hlsl
  clang/test/CodeGenHLSL/semantics/semantic.input.hlsl
  clang/test/CodeGenHLSL/semantics/semantic.output.hlsl
  llvm/include/llvm/Frontend/HLSL/HLSLResource.h
  llvm/include/llvm/Frontend/HLSL/SemanticSignatures.h
  llvm/lib/Analysis/DXILResource.cpp
  llvm/lib/Frontend/HLSL/HLSLResource.cpp
  llvm/lib/Frontend/HLSL/SemanticSignatures.cpp
  llvm/unittests/Frontend/HLSLSemanticSignatureMetadataTest.cpp
Labels: none

coder review feedback - switch ResourceBinding and HeapID to std::variant
  llvm/include/llvm/Analysis/DXILResource.h
  llvm/lib/Analysis/DXILResource.cpp
  llvm/test/Analysis/DXILResource/buffer-fromheap.ll
Labels: none

[RISCV] Fix incorrect stride computation in concat_vectors-of-loads combine
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-strided-load-combine.ll
Labels: none

[flang][openacc] Support labeled do loop in acc compute region (#217174)
  flang/lib/Parser/openacc-parsers.cpp
  flang/test/Parser/acc-label-do.f90
Labels: none

Rename the option, document it, and make the old option control the job pool depth for consistency with existing options
  llvm/cmake/modules/AddSphinxTarget.cmake
  llvm/docs/CMake.md
Labels: none

[lldb] Replace ConstString with std::string in SharedCacheImageInfo (#216844)
  lldb/include/lldb/Host/HostInfoBase.h
  lldb/include/lldb/Host/macosx/HostInfoMacOSX.h
  lldb/source/Host/macosx/objcxx/HostInfoMacOSX.mm
  lldb/source/Plugins/DynamicLoader/MacOSX-DYLD/DynamicLoaderDarwin.cpp
  lldb/source/Plugins/Platform/MacOSX/PlatformDarwin.cpp
  lldb/source/Plugins/SymbolLocator/DebugSymbols/SymbolLocatorDebugSymbols.cpp
  lldb/unittests/ObjectFile/MachO/TestObjectFileMachO.cpp
Labels: none

[AArch64] Decouple -aarch64-code-layout-opt-enable= from the Subtarget (#215044)
  llvm/lib/Target/AArch64/AArch64CodeLayoutOpt.cpp
  llvm/test/CodeGen/AArch64/code-layout-opt.ll
Labels: none

[X86] Add regression test coverage for #217355 (#217387)
  llvm/test/CodeGen/X86/fp-int-fp-cvt.ll
Labels: none

[lldb-dap] Migrate core file test
  lldb/packages/Python/lldbsuite/test/tools/lldb_dap/types.py
  lldb/test/API/tools/lldb-dap/coreFile/TestDAP_coreFile.py
  lldb/test/API/tools/lldb-dap/save-core/TestDAP_save_core.py
Labels: python

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
