Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[bazel] Port a454a3cdaf82dea7b6293d29628b70eaec918723 (#218289)
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none

[mlir][xegpu] Add xegpu-canonicalize pass to un-flatten gather/scatter
  mlir/include/mlir/Dialect/XeGPU/Transforms/Passes.td
  mlir/include/mlir/Dialect/XeGPU/Transforms/Transforms.h
  mlir/lib/Dialect/GPU/Pipelines/GPUToXeVMPipeline.cpp
  mlir/lib/Dialect/XeGPU/Transforms/CMakeLists.txt
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUCanonicalize.cpp
  mlir/test/Dialect/XeGPU/xegpu-canonicalize.mlir
Labels: none

[clang] Diagnose invalid/unavailable operator overloads for scoped flag_enums
  clang/docs/ReleaseNotes.md
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/Sema.cpp
  clang/test/Sema/flag-enum.cpp
Labels: none

AArch64: Fix MIPeepholeOpt null dereference on undef source operands
  llvm/lib/Target/AArch64/AArch64MIPeepholeOpt.cpp
  llvm/test/CodeGen/AArch64/mipeephole-undef-operand.mir
Labels: none

fix test
  libcxx/test/std/language.support/cmp/cmp.type/type_order.compile.pass.cpp
Labels: none

[CIR] Regenerate CHECK lines for seventeen callconv opt-out tests
  clang/test/CIR/CodeGen/cleanup-conditional.cpp
  clang/test/CIR/CodeGen/cleanup-derived-to-base-ref.cpp
  clang/test/CIR/CodeGen/cleanup.cpp
  clang/test/CIR/CodeGen/complex-cast.cpp
  clang/test/CIR/CodeGen/complex.cpp
  clang/test/CIR/CodeGen/cxx-rewritten-binary-operator.cpp
  clang/test/CIR/CodeGen/delete-destroying.cpp
  clang/test/CIR/CodeGen/dtors.cpp
  clang/test/CIR/CodeGen/loop-cond-cleanup.cpp
  clang/test/CIR/CodeGen/loop-cond-var-cleanup.cpp
  clang/test/CIR/CodeGen/new-null.cpp
  clang/test/CIR/CodeGen/nofpclass.c
  clang/test/CIR/CodeGen/nrvo.cpp
  clang/test/CIR/CodeGen/pack-indexing.cpp
  clang/test/CIR/CodeGen/three-way-cmp.cpp
  clang/test/CIR/CodeGen/var-arg-aggregate.c
  clang/test/CIR/CodeGenSYCL/kernel-call-stmt.cpp
Labels: none

[𝘀𝗽𝗿] initial version
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/X86/shl-to-add-transformation5.ll
Labels: none

Add GDB breakpoint, breakpoint_if test
  libcxx/test/std/utilities/debugging/breakpoint__gdb.py
  libcxx/test/std/utilities/debugging/breakpoint__gdb.sh.cpp
  libcxx/test/std/utilities/debugging/breakpoint_if_debugging__gdb.sh.cpp
Labels: python

Address review feedback and builder failures
  libclc/CMakeLists.txt
  libclc/cmake/modules/AddLibclc.cmake
  third-party/unittest/CMakeLists.txt
Labels: none

[SLSR] Prove disjoint reuse on scrubbed IR
  llvm/lib/Transforms/Scalar/StraightLineStrengthReduce.cpp
  llvm/test/Transforms/StraightLineStrengthReduce/slsr-mul.ll
Labels: none

[CodeGenPrepare] Invert select predicates when profitable
  llvm/lib/CodeGen/CodeGenPrepare.cpp
  llvm/test/Transforms/CodeGenPrepare/X86/invert-icmp-select.ll
Labels: none

Add a new case in the new test to cover '--use-old-text'
  bolt/test/AArch64/merge-text-sections.s
Labels: none

[NFC] Pre-commit tests for missing fabs SDAG vector expansion (#214288)
  llvm/test/CodeGen/AMDGPU/fabs-vector-truncate.ll
Labels: none

[offload] Fix unittests on Windows (#214330)
  offload/test/unit/lit.cfg.py
  offload/test/unit/lit.site.cfg.in
Labels: python

[AMDGPU][GISel] RegBankLegalize rules for s_incperflevel/s_decperflevel (#214327)
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeRules.cpp
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.s.decperflevel.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.s.incperflevel.ll
Labels: none

[AMDGPU][GISel] RegBankLegalize rules for SAD intrinsics (#214329)
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeRules.cpp
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.msad.u8.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.sad.hi.u8.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.sad.u16.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.sad.u8.ll
Labels: none

[AArch64][GlobalISel] Cleanup old selection code for G_OR and fp instructions. (#213869)
  llvm/lib/Target/AArch64/GISel/AArch64InstructionSelector.cpp
Labels: none

[CodeGen] ReplaceWithVeclib assertion failure with invalid intrinsic (#211352)
  llvm/lib/CodeGen/ReplaceWithVeclib.cpp
  llvm/test/Transforms/ReplaceWithVeclib/veclib-invalid-intrinsic.ll
Labels: none

RuntimeLibcalls: Add sqrtf to the Hexagon runtime libcall set (#210909)
  llvm/include/llvm/IR/RuntimeLibcalls.td
Labels: none

[AArch64] Move tryFoldCselToFMaxMin to Select. NFC (#214346)
  llvm/lib/Target/AArch64/AArch64ISelDAGToDAG.cpp
Labels: none

[AMDGPU][GISel] RegBankLegalize rule for amdgcn_lerp (#214324)
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeRules.cpp
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.lerp.ll
Labels: none

[lldb][elf-core] Populate memory region names from NT_FILE (#212666)
  lldb/source/Plugins/Process/elf-core/ProcessElfCore.cpp
  lldb/source/Plugins/Process/elf-core/ProcessElfCore.h
  lldb/test/API/functionalities/postmortem/elf-core/TestLinuxCore.py
  lldb/test/API/functionalities/postmortem/elf-core/elf-NT_FILE-memory-region.yaml
Labels: python

RuntimeLibcalls: Add generic FCMP3_F* three-way compare for single-symbol ABIs (#211618)
  llvm/include/llvm/IR/RuntimeLibcalls.td
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/lib/Target/MSP430/MSP430Subtarget.cpp
Labels: none

[cmake][docs] Fix incremental docs builds under deletion and renames (#211411)
  clang/docs/CMakeLists.txt
  flang/docs/CMakeLists.txt
  libc/docs/CMakeLists.txt
  llvm/cmake/modules/AddSphinxTarget.cmake
  llvm/cmake/modules/SphinxSourceScan.cmake
  llvm/cmake/modules/SphinxSourceSync.cmake
  llvm/cmake/modules/SphinxSourceUtils.cmake
Labels: none

[llvm] Add missing include (#214349)
  llvm/lib/Support/BalancedPartitioning.cpp
Labels: none

[CIR] Accept unions in x86_64 calling-convention lowering (#214129)
  clang/include/clang/CIR/Dialect/IR/CIRDialect.h
  clang/lib/CIR/Dialect/IR/CIRAttrs.cpp
  clang/lib/CIR/Dialect/Transforms/CallConvLoweringPass.cpp
  clang/test/CIR/CodeGen/call-conv-lowering-x86_64.c
  clang/test/CIR/Transforms/abi-lowering/x86_64-aggregate-nyi.cir
  clang/test/CIR/Transforms/abi-lowering/x86_64-union-coerce-shapes.cir
  clang/test/CIR/Transforms/abi-lowering/x86_64-union.cir
Labels: none

[NFC][DirectX] Fix GCC 7 build failure caused by a6d7b2f5a931
  llvm/include/llvm/Analysis/DXILResource.h
Labels: none

update test
  llvm/test/Transforms/MemCpyOpt/callslot_deref.ll
Labels: none

fix fomrat
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUCanonicalize.cpp
Labels: none

Backport typekind-traits changes Use kind instead of bits in conversion functions
  flang/include/flang/Evaluate/integer-value.h
  flang/include/flang/Evaluate/typekind-traits.h
  flang/lib/Evaluate/integer-value-impl.cpp
  flang/lib/Evaluate/integer-value-impl.h
  flang/lib/Evaluate/integer-value.cpp
  flang/unittests/Evaluate/IntegerValueTest.cpp
Labels: none

Backport typekind-traits changes Use kind instead of bits in conversion functions
  flang/include/flang/Evaluate/expression.h
  flang/include/flang/Evaluate/tools.h
  flang/include/flang/Semantics/type.h
  flang/lib/Evaluate/fold-implementation.h
  flang/lib/Evaluate/fold-logical.cpp
  flang/lib/Evaluate/tools.cpp
  flang/lib/Lower/OpenMP/Atomic.cpp
  flang/lib/Semantics/check-call.cpp
  flang/lib/Semantics/resolve-names-utils.cpp
  flang/lib/Semantics/runtime-type-info.cpp
  flang/lib/Semantics/tools.cpp
  flang/lib/Semantics/type.cpp
  flang/unittests/Evaluate/designator-path.cpp
Labels: none

Drop LLVM_EXPORTS from openmp runtime
  openmp/runtime/src/CMakeLists.txt
Labels: openmp

Reflow comment
  llvm/include/llvm/CodeGen/TargetLowering.h
Labels: none

[DAG] Remove trivial VP SDNodes. NFC
  llvm/include/llvm/CodeGen/SDPatternMatch.h
  llvm/include/llvm/CodeGen/SelectionDAG.h
  llvm/include/llvm/CodeGen/TargetLowering.h
  llvm/include/llvm/IR/VPIntrinsics.def
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeDAG.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeIntegerTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeTypes.h
  llvm/lib/CodeGen/SelectionDAG/LegalizeTypesGeneric.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorOps.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/MatchContext.h
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/unittests/CodeGen/SelectionDAGPatternMatchTest.cpp
Labels: none

fix failing test
  libcxx/test/libcxx/language.support/no_specializations.verify.cpp
Labels: none

[IndVarSimplify] Invalidate only dispositions after invariant sink
  llvm/lib/Transforms/Scalar/IndVarSimplify.cpp
Labels: none

[SPARC] Adjust bounds check in %rX name parsing
  llvm/lib/Target/Sparc/AsmParser/SparcAsmParser.cpp
  llvm/test/MC/Sparc/sparc-alu-instructions.s
Labels: none

Remove stray newline
  llvm/test/MC/Sparc/sparc-alu-instructions.s
Labels: none

[DAG] Remove trivial VP SDNodes. NFC (#217866)
  llvm/include/llvm/CodeGen/SDPatternMatch.h
  llvm/include/llvm/CodeGen/SelectionDAG.h
  llvm/include/llvm/CodeGen/TargetLowering.h
  llvm/include/llvm/IR/VPIntrinsics.def
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeDAG.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeIntegerTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeTypes.h
  llvm/lib/CodeGen/SelectionDAG/LegalizeTypesGeneric.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorOps.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/MatchContext.h
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/unittests/CodeGen/SelectionDAGPatternMatchTest.cpp
Labels: none

[AssumptionCache] Limit the number of assumptions inspected per value (#217525)
  llvm/include/llvm/Analysis/AssumptionCache.h
  llvm/lib/Analysis/AssumptionCache.cpp
  llvm/lib/Transforms/Utils/CodeExtractor.cpp
  llvm/test/Analysis/AssumptionCache/max-assumes-per-value.ll
Labels: none
