Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[AArch64] Clean up fp16_i16_intrinsic_scalar.ll a little. NFC
  llvm/test/CodeGen/AArch64/fp16_intrinsic_scalar_1op.ll
Labels: none

fixup! fix exit code logic
  .github/workflows/lldb-pylint-action.yml
Labels: misc

De-duplicate symbols and symvers in ModuleSymbolTable and LTO
  llvm/lib/LTO/LTO.cpp
  llvm/lib/Object/ModuleSymbolTable.cpp
  llvm/test/LTO/AArch64/Inputs/asm-bar1.ll
  llvm/test/LTO/AArch64/Inputs/asm-foo-pauth.ll
  llvm/test/LTO/AArch64/Inputs/asm-foo1.ll
  llvm/test/LTO/AArch64/Inputs/global-inline-asm-flags.ll
  llvm/test/LTO/AArch64/global-inline-asm-flags-pauth.test
  llvm/test/LTO/AArch64/global-inline-asm-flags.ll
  llvm/test/LTO/AArch64/global-inline-asm-flags.test
  llvm/test/LTO/RISCV/global-inline-asm-flags.ll
  llvm/test/Object/Inputs/asm-bar-ver-def.ll
  llvm/test/Object/Inputs/asm-foo-def-ir.ll
  llvm/test/Object/Inputs/asm-foo-ver-def.ll
  llvm/test/Object/Inputs/asm-foo-ver-undef.ll
  llvm/test/Object/Inputs/asm-foo.ll
  llvm/test/Object/global-inline-asm.test
Labels: none

Test that flags are always emitted in presence of inline asm
  clang/test/CodeGen/AArch64/global-inline-asm-flags-empty.c
Labels: none

Precommit tests
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-bf16-arith.ll
Labels: none

[clang-tidy] Add modernize-use-init-statement check
  clang-tools-extra/clang-tidy/modernize/CMakeLists.txt
  clang-tools-extra/clang-tidy/modernize/ModernizeTidyModule.cpp
  clang-tools-extra/clang-tidy/modernize/UseInitStatementCheck.cpp
  clang-tools-extra/clang-tidy/modernize/UseInitStatementCheck.h
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/list.rst
  clang-tools-extra/docs/clang-tidy/checks/modernize/use-init-statement.rst
  clang-tools-extra/test/clang-tidy/checkers/modernize/use-init-statement.cpp
Labels: none

[clang-tidy] Add modernize-use-constexpr check
  clang-tools-extra/clang-tidy/modernize/CMakeLists.txt
  clang-tools-extra/clang-tidy/modernize/ModernizeTidyModule.cpp
  clang-tools-extra/clang-tidy/modernize/UseConstexprCheck.cpp
  clang-tools-extra/clang-tidy/modernize/UseConstexprCheck.h
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/list.rst
  clang-tools-extra/docs/clang-tidy/checks/modernize/use-constexpr.rst
  clang-tools-extra/test/clang-tidy/checkers/modernize/use-constexpr.cpp
Labels: none

[clang-tidy] Add modernize-use-size-type check
  clang-tools-extra/clang-tidy/modernize/CMakeLists.txt
  clang-tools-extra/clang-tidy/modernize/ModernizeTidyModule.cpp
  clang-tools-extra/clang-tidy/modernize/UseSizeTypeCheck.cpp
  clang-tools-extra/clang-tidy/modernize/UseSizeTypeCheck.h
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/list.rst
  clang-tools-extra/docs/clang-tidy/checks/modernize/use-size-type.rst
  clang-tools-extra/test/clang-tidy/checkers/modernize/use-size-type.cpp
Labels: none

[WIP][ROCDL] Added SWMMAC ops for gfx12 and gfx1250
  mlir/include/mlir/Dialect/LLVMIR/ROCDLOps.td
  mlir/test/Dialect/LLVMIR/rocdl.mlir
  mlir/test/Target/LLVMIR/rocdl.mlir
Labels: none

Move ForceMemtag to SanitizerMetadata
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/CodeGen/CodeGenModule.h
  clang/lib/CodeGen/SanitizerMetadata.cpp
  clang/lib/CodeGen/SanitizerMetadata.h
  clang/test/CodeGen/memtag-globals.cpp
  llvm/include/llvm/IR/GlobalValue.h
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/lib/Target/TargetLoweringObjectFile.cpp
Labels: none

[lldb][PlatformDarwin][NFCI] Factor out dSYM script auto-loading into helper function (#182002)
  lldb/source/Plugins/Platform/MacOSX/PlatformDarwin.cpp
Labels: none

!fixup address comments, check for truncation
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
Labels: none

Only consider the current object file's symbols for determining thread context ABI
  lld/wasm/Driver.cpp
Labels: none

Typo
  lld/wasm/Driver.cpp
Labels: none

Pre-commit test cases
  llvm/test/Transforms/Inline/inline-hot-callsite-limit.ll
Labels: none

Formatting
  lld/wasm/Driver.cpp
Labels: none

[AArch64] Fix PRCVT -> FPRCVT typo. NFC
  llvm/lib/Target/AArch64/GISel/AArch64RegisterBankInfo.cpp
Labels: none

[Inline] Accumulate the cost of the inlined function to the new callsite
  llvm/include/llvm/Analysis/InlineAdvisor.h
  llvm/include/llvm/Analysis/InlineCost.h
  llvm/lib/Analysis/InlineAdvisor.cpp
  llvm/lib/Analysis/InlineCost.cpp
  llvm/lib/Transforms/IPO/Inliner.cpp
  llvm/lib/Transforms/IPO/ModuleInliner.cpp
  llvm/test/Transforms/Inline/inline-history-noinline.ll
  llvm/test/Transforms/Inline/inline-hot-callsite-limit.ll
Labels: none

[libc][math] Refactor tanf16 to header only (#181523)
  libc/shared/math.h
  libc/shared/math/tanf16.h
  libc/src/__support/math/CMakeLists.txt
  libc/src/__support/math/tanf16.h
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/tanf16.cpp
  libc/test/shared/CMakeLists.txt
  libc/test/shared/shared_math_test.cpp
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none

[libc][math] Refactor tanpif to header only (#181525)
  libc/shared/math.h
  libc/shared/math/tanpif.h
  libc/src/__support/math/CMakeLists.txt
  libc/src/__support/math/tanpif.h
  libc/src/math/generic/CMakeLists.txt
  libc/test/shared/CMakeLists.txt
  libc/test/shared/shared_math_test.cpp
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none

[lldb] Drop incomplete non-8-bit bytes support
  lldb/bindings/interface/SBSectionDocstrings.i
  lldb/bindings/interface/SBSectionExtensions.i
  lldb/bindings/interface/SBTargetDocstrings.i
  lldb/bindings/interface/SBTargetExtensions.i
  lldb/include/lldb/API/SBSection.h
  lldb/include/lldb/API/SBTarget.h
  lldb/include/lldb/Core/Section.h
  lldb/include/lldb/Utility/ArchSpec.h
  lldb/include/lldb/Utility/DataExtractor.h
  lldb/source/API/SBSection.cpp
  lldb/source/API/SBTarget.cpp
  lldb/source/Commands/CommandObjectMemory.cpp
  lldb/source/Core/DumpDataExtractor.cpp
  lldb/source/Core/Section.cpp
  lldb/source/Plugins/ObjectFile/ELF/ObjectFileELF.cpp
  lldb/source/Plugins/ObjectFile/wasm/ObjectFileWasm.cpp
  lldb/source/Plugins/Process/minidump/ProcessMinidump.cpp
  lldb/source/Plugins/SymbolFile/CTF/SymbolFileCTF.cpp
  lldb/source/Plugins/SymbolFile/NativePDB/DWARFLocationExpression.cpp
  lldb/source/Plugins/SymbolFile/PDB/PDBLocationToDWARFExpression.cpp
  lldb/source/Symbol/ObjectFile.cpp
  lldb/source/Utility/ArchSpec.cpp
  lldb/source/Utility/DataExtractor.cpp
  lldb/test/API/python_api/section/TestSectionAPI.py
  lldb/test/API/python_api/target/TestTargetAPI.py
Labels: python

[WebAssembly] Fix getOrCreateFunctionTableSymbol() when __indirect_function_table declared by user
  llvm/lib/Target/WebAssembly/WebAssemblyUtilities.cpp
  llvm/test/CodeGen/WebAssembly/internal-table-debug-info.ll
Labels: none

[bazel] Fix missing includes
  utils/bazel/llvm-project-overlay/clang-tools-extra/clang-query/BUILD.bazel
Labels: none

Add fixed-length SVE
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-bf16-arith.ll
Labels: none

[libc][math] Refactor f16add Math Functions to Header Only (#181777)
  libc/shared/math.h
  libc/shared/math/f16add.h
  libc/shared/math/f16addf.h
  libc/shared/math/f16addf128.h
  libc/shared/math/f16addl.h
  libc/src/__support/math/CMakeLists.txt
  libc/src/__support/math/f16add.h
  libc/src/__support/math/f16addf.h
  libc/src/__support/math/f16addf128.h
  libc/src/__support/math/f16addl.h
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/f16add.cpp
  libc/src/math/generic/f16addf.cpp
  libc/src/math/generic/f16addf128.cpp
  libc/src/math/generic/f16addl.cpp
  libc/test/shared/CMakeLists.txt
  libc/test/shared/shared_math_test.cpp
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none

libclc: Stop using r600 asm intrinsic declarations for amdgcn (#181975)
  libclc/opencl/lib/amdgcn/workitem/get_local_size.cl
  libclc/opencl/lib/amdgcn/workitem/get_num_groups.cl
Labels: none

address review: add comment test cases
  clang-tools-extra/test/clang-tidy/checkers/readability/redundant-preprocessor.cpp
Labels: none

add tests
  llvm/lib/Target/ARM/ARMISelLowering.cpp
  llvm/test/CodeGen/ARM/shift-combine.ll
Labels: none

[clang-tidy] Add modernize-use-span-param check
  clang-tools-extra/clang-tidy/modernize/CMakeLists.txt
  clang-tools-extra/clang-tidy/modernize/ModernizeTidyModule.cpp
  clang-tools-extra/clang-tidy/modernize/UseSpanParamCheck.cpp
  clang-tools-extra/clang-tidy/modernize/UseSpanParamCheck.h
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/list.rst
  clang-tools-extra/docs/clang-tidy/checks/modernize/use-span-param.rst
  clang-tools-extra/test/clang-tidy/checkers/modernize/use-span-param.cpp
Labels: none

[libc][math] Refactor `logbl` to header only (#181659)
  libc/shared/math.h
  libc/shared/math/logbl.h
  libc/src/__support/math/CMakeLists.txt
  libc/src/__support/math/logbl.h
  libc/src/math/generic/CMakeLists.txt
  libc/test/shared/CMakeLists.txt
  libc/test/shared/shared_math_test.cpp
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none

Implement review comments
  clang/bindings/python/clang/cindex.py
  clang/docs/ReleaseNotes.rst
Labels: python

[Offload] Always check/consume Error (#182008)
  offload/plugins-nextgen/common/include/PluginInterface.h
Labels: none

Fix formatting
  clang/bindings/python/clang/cindex.py
Labels: python

[libc][math] Refactor bf16divl to header-only (#181535)
  libc/shared/math.h
  libc/shared/math/bf16divl.h
  libc/src/__support/math/CMakeLists.txt
  libc/src/__support/math/bf16divl.h
  libc/src/math/generic/CMakeLists.txt
  libc/test/shared/CMakeLists.txt
  libc/test/shared/shared_math_test.cpp
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none

[mlir][tosa] Add support for dense_resource in tosa-narrow-* passes
  mlir/include/mlir/Dialect/Tosa/Utils/ConversionUtils.h
  mlir/lib/Dialect/Tosa/Transforms/TosaFolders.cpp
  mlir/lib/Dialect/Tosa/Transforms/TosaNarrowTypes.cpp
  mlir/test/Dialect/Tosa/tosa-narrow-f64-to-f32-aggressive.mlir
  mlir/test/Dialect/Tosa/tosa-narrow-f64-to-f32.mlir
  mlir/test/Dialect/Tosa/tosa-narrow-i64-to-i32-aggressive.mlir
  mlir/test/Dialect/Tosa/tosa-narrow-i64-to-i32.mlir
Labels: none

[ASan/sanitizers] Make stack unwinding better on Windows. (#180205)
  compiler-rt/lib/sanitizer_common/sanitizer_unwind_win.cpp
Labels: none

Remove redundant check for empty region in __asan_region_is_poisoned()
  compiler-rt/lib/asan/asan_poisoning.cpp
  compiler-rt/lib/asan/tests/asan_noinst_test.cpp
Labels: none

Revert "Add fixed-length SVE"
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-bf16-arith.ll
Labels: none

Revert "Precommit tests"
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-bf16-arith.ll
Labels: none

[X86] LowerAndToBT - fold ICMP_ZERO(AND(X,AND(Y,SHL(1,Z)))) -> BT(AND(X,Y),Z) patterns (#182007)
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/known-pow2.ll
Labels: none
