Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[IR] add missing LLVMCallConv enum values
  llvm/include/llvm-c/Core.h
Labels: none

[DebugInfo] Add Verifier check for duplicate arg indices in SP's retainedNodes list
  llvm/lib/IR/Verifier.cpp
  llvm/test/DebugInfo/MIR/X86/live-debug-values-reg-copy.mir
Labels: none

Add a FIXME
  clang/lib/Frontend/CompilerInstance.cpp
Labels: none

!fixup remove dead code
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
Labels: none

libclc: Fix mismatch in declared and defined function name
  libclc/clc/include/clc/math/clc_ep.inc
Labels: none

[lldb] Skip tests that are incompatible with MTE
  lldb/cmake/modules/LLDBConfig.cmake
  lldb/packages/Python/lldbsuite/test/configuration.py
  lldb/packages/Python/lldbsuite/test/decorators.py
  lldb/packages/Python/lldbsuite/test/dotest.py
  lldb/packages/Python/lldbsuite/test/dotest_args.py
  lldb/test/API/functionalities/ptr_refs/TestPtrRefs.py
  lldb/test/API/lang/cpp/global_operators/TestCppGlobalOperators.py
  lldb/test/API/lang/objc/ptr_refs/TestPtrRefsObjC.py
  lldb/test/API/lit.cfg.py
  lldb/test/API/lit.site.cfg.py.in
  lldb/test/API/lua_api/TestLuaAPI.py
  lldb/test/API/macosx/mte/TestDarwinMTE.py
  lldb/test/API/tools/lldb-server/TestAppleSimulatorOSType.py
  lldb/test/API/tools/lldb-server/TestGdbRemoteAttach.py
  lldb/test/API/tools/lldb-server/TestGdbRemoteProcessInfo.py
  lldb/test/API/tools/lldb-server/TestGdbRemoteRegisterState.py
  lldb/test/API/tools/lldb-server/TestGdbRemoteThreadsInStopReply.py
  lldb/test/API/tools/lldb-server/TestGdbRemote_qMemoryRegion.py
  lldb/test/API/tools/lldb-server/TestLldbGdbServer.py
  lldb/test/API/tools/lldb-server/attach-wait/TestGdbRemoteAttachWait.py
  lldb/test/CMakeLists.txt
  lldb/test/Shell/Heap/heap-cstr.test
  lldb/test/Shell/lit.cfg.py
  lldb/test/Shell/lit.site.cfg.py.in
Labels: python

fix an edge-case in readability-implicit-bool-conversion
  clang-tools-extra/clang-tidy/readability/ImplicitBoolConversionCheck.cpp
  clang-tools-extra/test/clang-tidy/checkers/readability-implicit-bool-conversion-allow-in-conditions.cpp
Labels: none

[CIR] Implement zero-init-bases lowering
  clang/lib/CIR/CodeGen/CIRGenExprConstant.cpp
  clang/test/CIR/CodeGenCXX/zero_init_bases.cpp
Labels: none

move test
  clang/test/CodeGenSPIRV/function-pointer-cast.cpp
Labels: none

fix an edge-case in readability-implicit-bool-conversion
  clang-tools-extra/clang-tidy/readability/ImplicitBoolConversionCheck.cpp
  clang-tools-extra/test/clang-tidy/checkers/readability/implicit-bool-conversion-allow-in-conditions.cpp
Labels: none

add one more comment to indicate the historical abi change
  libc/include/llvm-libc-types/struct_sembuf.h
Labels: none

[mlir][ROCDL] Improve block/grid_dim handling, fix subgroup ID
  mlir/include/mlir/Dialect/LLVMIR/ROCDLOps.td
  mlir/lib/Conversion/GPUCommon/CMakeLists.txt
  mlir/lib/Conversion/GPUCommon/IndexIntrinsicsOpLowering.cpp
  mlir/lib/Conversion/GPUCommon/IndexIntrinsicsOpLowering.h
  mlir/lib/Conversion/GPUToROCDL/LowerGpuOpsToROCDLOps.cpp
  mlir/lib/Target/LLVMIR/Dialect/ROCDL/ROCDLToLLVMIRTranslation.cpp
  mlir/test/Conversion/GPUCommon/lower-global-id.mlir
  mlir/test/Conversion/GPUToROCDL/gpu-to-rocdl-subgroup-id.mlir
  mlir/test/Conversion/GPUToROCDL/gpu-to-rocdl.mlir
  mlir/test/Dialect/LLVMIR/rocdl.mlir
  mlir/test/Target/LLVMIR/rocdl.mlir
Labels: none

[lldb] Fix typo in SymbolFilePDBTests
  lldb/unittests/SymbolFile/PDB/SymbolFilePDBTests.cpp
Labels: none

Add version number to mlirbc file
  mlir/test/Dialect/Builtin/Bytecode/builtin_fixed_0.mlirbc
Labels: none

Refer to updated mlirbc file in test
  mlir/test/Dialect/Builtin/Bytecode/builtin_fixed.mlir
Labels: none

test: correct clang-cache-pch-cl-mode
  clang/test/CAS/clang-cache-pch-cl-mode.c
Labels: none

[lldb] Improve language bindings for SBModule/SBModuleSpec UUID APIs
  lldb/bindings/headers.swig
  lldb/bindings/interface/SBModuleExtensions.i
  lldb/bindings/interface/SBModuleSpecExtensions.i
  lldb/bindings/interfaces.swig
  lldb/bindings/lua/lua-typemaps.swig
  lldb/bindings/python/python-typemaps.swig
  lldb/include/lldb/API/SBModule.h
  lldb/source/API/SBModule.cpp
  lldb/test/API/lua_api/TestModuleAPI.lua
  lldb/test/API/python_api/default-constructor/TestDefaultConstructorForAPIObjects.py
  lldb/test/API/python_api/default-constructor/sb_module.py
  lldb/test/API/python_api/default-constructor/sb_modulespec.py
  lldb/test/API/python_api/sbmodulespec/TestSBModuleSpec.py
  lldb/test/API/python_api/sbplatform/TestLocateModuleCallback.py
  llvm/docs/ReleaseNotes.md
Labels: python

Fix header
  mlir/lib/Conversion/GPUCommon/IndexIntrinsicsOpLowering.cpp
Labels: none

[offload] Remove LIBOMPTARGET_SHARED_MEMORY_SIZE envar
  offload/libomptarget/OffloadRTL.cpp
  offload/libomptarget/device.cpp
  offload/plugins-nextgen/amdgpu/src/rtl.cpp
  offload/plugins-nextgen/common/include/PluginInterface.h
  offload/plugins-nextgen/common/src/PluginInterface.cpp
  offload/plugins-nextgen/cuda/src/rtl.cpp
  offload/test/api/omp_dynamic_shared_memory.c
  offload/test/api/omp_dynamic_shared_memory_amdgpu.c
  openmp/docs/design/Runtimes.rst
Labels: openmp

[acc] Introduce ACCRoutineLowering for `acc routine` specialization
  mlir/include/mlir/Dialect/OpenACC/OpenACCUtilsCG.h
  mlir/include/mlir/Dialect/OpenACC/Transforms/Passes.td
  mlir/lib/Dialect/OpenACC/Transforms/ACCRoutineLowering.cpp
  mlir/lib/Dialect/OpenACC/Transforms/CMakeLists.txt
  mlir/lib/Dialect/OpenACC/Utils/OpenACCUtilsCG.cpp
  mlir/test/Dialect/OpenACC/acc-routine-lowering.mlir
  mlir/unittests/Dialect/OpenACC/OpenACCUtilsCGTest.cpp
Labels: none

Remove redundant insert
  llvm/include/llvm/Transforms/Utils/SampleProfileLoaderBaseImpl.h
Labels: none

AMDGPU/GlobalISel: RegBankLegalize rules for s_setprio/sethalt/nop
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeRules.cpp
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.s.nop.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.s.sethalt.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.s.setprio.ll
Labels: none

[ARM] Enable Spillage Copy Elimination by default
  llvm/lib/Target/ARM/ARMSubtarget.h
  llvm/test/CodeGen/Thumb2/mve-postinc-dct.ll
Labels: none

[CIR] Implement array delete for destructed types
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/CodeGen/CIRGenExprCXX.cpp
  clang/lib/CIR/Dialect/Transforms/CXXABILowering.cpp
  clang/lib/CIR/Dialect/Transforms/LoweringPrepare.cpp
  clang/lib/CIR/Dialect/Transforms/TargetLowering/LowerItaniumCXXABI.cpp
  clang/test/CIR/CodeGen/delete-array.cpp
Labels: none

Fix format
  mlir/lib/Dialect/OpenACC/Transforms/ACCRoutineLowering.cpp
  mlir/lib/Dialect/OpenACC/Utils/OpenACCUtilsCG.cpp
  mlir/unittests/Dialect/OpenACC/OpenACCUtilsCGTest.cpp
Labels: none

[clang][modules] Stop uniquing implicit modules via `FileEntry`
  clang-tools-extra/clangd/ModulesBuilder.cpp
  clang/include/clang/Basic/Module.h
  clang/include/clang/Frontend/CompilerInstance.h
  clang/include/clang/Lex/HeaderSearch.h
  clang/include/clang/Serialization/ASTBitCodes.h
  clang/include/clang/Serialization/ASTReader.h
  clang/include/clang/Serialization/ModuleFile.h
  clang/include/clang/Serialization/ModuleManager.h
  clang/lib/Basic/Module.cpp
  clang/lib/DependencyScanning/DependencyScannerImpl.cpp
  clang/lib/Frontend/ASTUnit.cpp
  clang/lib/Frontend/ChainedIncludesSource.cpp
  clang/lib/Frontend/CompilerInstance.cpp
  clang/lib/Frontend/FrontendAction.cpp
  clang/lib/Frontend/FrontendActions.cpp
  clang/lib/Lex/HeaderSearch.cpp
  clang/lib/Serialization/ASTReader.cpp
  clang/lib/Serialization/ASTWriter.cpp
  clang/lib/Serialization/GlobalModuleIndex.cpp
  clang/lib/Serialization/ModuleManager.cpp
  clang/test/Modules/DebugInfoNamespace.cpp
  clang/test/Modules/ExtDebugInfo.cpp
  clang/test/Modules/ExtDebugInfo.m
  clang/test/Modules/ModuleDebugInfo.cpp
  clang/test/Modules/ModuleDebugInfo.m
  clang/test/Modules/ModuleModuleDebugInfo.cpp
  clang/test/Modules/cxx20-hu-04.cpp
  clang/test/Modules/debug-info-moduleimport.m
  clang/test/Modules/global_index.m
  clang/test/Modules/load-after-failure.m
  clang/test/Modules/module-debuginfo-compdir.m
  clang/test/Modules/module-debuginfo-prefix.m
  clang/test/Modules/relocatable-modules.cpp
  clang/unittests/Serialization/ForceCheckFileInputTest.cpp
Labels: none

Remove redundant check.
  mlir/lib/Conversion/XeVMToLLVM/XeVMToLLVM.cpp
Labels: none

Fix formatting
  clang/lib/CIR/Dialect/Transforms/LoweringPrepare.cpp
Labels: none

Update code comments.
  mlir/lib/Conversion/XeVMToLLVM/XeVMToLLVM.cpp
Labels: none

the follow up fix
  utils/bazel/llvm-project-overlay/mlir/test/BUILD.bazel
Labels: none

AMDGPU/GlobalISel: RegBankLegalize rules for s_getreg
  llvm/lib/Target/AMDGPU/AMDGPURegBankLegalizeRules.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/regbankselect-amdgcn.s.getreg.mir
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.s.getreg.ll
Labels: none

add doc
  clang-tools-extra/docs/ReleaseNotes.rst
Labels: none

Remove unnecessary constructor call
  clang/lib/Frontend/CompilerInstance.cpp
Labels: none

[flang][debug] Always include (kind=X) suffix in debug type names
  flang/lib/Optimizer/Transforms/DebugTypeGenerator.cpp
  flang/test/Fir/declare_value-codegen.fir
  flang/test/Integration/debug-allocatable-1.f90
  flang/test/Integration/debug-common-block-1.f90
  flang/test/Integration/debug-complex-1.f90
  flang/test/Integration/debug-complex-2.f90
  flang/test/Integration/debug-fixed-array-type-2.f90
  flang/test/Integration/debug-local-var-2.f90
  flang/test/Integration/debug-module-2.f90
  flang/test/Integration/debug-proc-ptr-e2e.f90
  flang/test/Integration/debug-ptr-type.f90
  flang/test/Transforms/debug-allocatable-1.fir
  flang/test/Transforms/debug-associate-component.fir
  flang/test/Transforms/debug-complex-1.fir
  flang/test/Transforms/debug-derived-type-1.fir
  flang/test/Transforms/debug-fixed-array-type.fir
  flang/test/Transforms/debug-fn-info.fir
  flang/test/Transforms/debug-index-type.fir
  flang/test/Transforms/debug-local-var.fir
  flang/test/Transforms/debug-module-1.fir
  flang/test/Transforms/debug-module-2.fir
  flang/test/Transforms/debug-proc-ptr.fir
  flang/test/Transforms/debug-ptr-type.fir
  flang/test/Transforms/debug-vector-type.fir
Labels: none

[mlir][test] Fix UNREACHABLE in TestInlinerInterface for multi-block inlining
  mlir/test/Transforms/inlining.mlir
  mlir/test/lib/Dialect/Test/TestDialectInterfaces.cpp
Labels: none

Implement code review commnets
  llvm/lib/Transforms/AggressiveInstCombine/AggressiveInstCombine.cpp
  llvm/test/Transforms/AggressiveInstCombine/lower-table-based-ctlz.ll
Labels: none

[lldb] Unify logging for GetAttributeAddressRanges error
  lldb/source/Plugins/SymbolFile/DWARF/DWARFCompileUnit.cpp
Labels: none

[RISCV] Add `sifive-x160` and `sifive-x180` processor definitions
  clang/test/Driver/print-enabled-extensions/riscv-sifive-x160.c
  clang/test/Driver/print-enabled-extensions/riscv-sifive-x180.c
  clang/test/Driver/riscv-cpus.c
  clang/test/Misc/target-invalid-cpu-note/riscv.c
  llvm/lib/Target/RISCV/RISCVProcessors.td
Labels: none

[mlir][spirv] add ExecutionModeIdOp
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVBase.td
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVStructureOps.td
  mlir/lib/Dialect/SPIRV/IR/SPIRVOps.cpp
  mlir/lib/Target/SPIRV/Deserialization/DeserializeOps.cpp
  mlir/lib/Target/SPIRV/Serialization/SerializeOps.cpp
  mlir/test/Dialect/SPIRV/IR/structure-ops.mlir
  mlir/test/Target/SPIRV/execution-mode-id.mlir
Labels: none

Fix formatting issue
  llvm/lib/Transforms/AggressiveInstCombine/AggressiveInstCombine.cpp
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
