Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

Add tests for texture types other than Texture2D
  llvm/test/CodeGen/DirectX/TextureLoad.ll
Labels: none

Rename tokens -> token_addrs as suggested
  lldb/source/Commands/CommandObjectProcess.cpp
Labels: none

amdgpu dot ops
  mlir/include/mlir/Dialect/AMDGPU/IR/AMDGPUOps.td
  mlir/include/mlir/Dialect/AMDGPU/Utils/Chipset.h
  mlir/lib/Conversion/AMDGPUToROCDL/AMDGPUToROCDL.cpp
  mlir/lib/Dialect/AMDGPU/IR/AMDGPUOps.cpp
  mlir/test/Conversion/AMDGPUToROCDL/dot-gfx11.mlir
  mlir/test/Conversion/AMDGPUToROCDL/dot-gfx12.mlir
  mlir/test/Conversion/AMDGPUToROCDL/dot-gfx9.mlir
  mlir/test/Conversion/AMDGPUToROCDL/dot-invalid.mlir
  mlir/test/Dialect/AMDGPU/invalid.mlir
  mlir/test/Dialect/AMDGPU/ops.mlir
  mlir/unittests/Dialect/AMDGPU/AMDGPUUtilsTest.cpp
Labels: none

format
  mlir/include/mlir/Dialect/AMDGPU/IR/AMDGPUOps.td
  mlir/lib/Conversion/AMDGPUToROCDL/AMDGPUToROCDL.cpp
Labels: none

nits
  mlir/test/Conversion/AMDGPUToROCDL/dot-gfx11.mlir
  mlir/test/Conversion/AMDGPUToROCDL/dot-gfx9.mlir
Labels: none

nits
  mlir/test/Conversion/AMDGPUToROCDL/dot-invalid.mlir
Labels: none

[runtimes] Enable Fortran only with explicit CMAKE_Fortran_COMPILER (#193332)
  runtimes/cmake/config-Fortran.cmake
Labels: none

nit
  mlir/lib/Conversion/AMDGPUToROCDL/AMDGPUToROCDL.cpp
Labels: none

nits
  mlir/include/mlir/Dialect/AMDGPU/IR/AMDGPUOps.td
Labels: none

[OpenMP] Fix OpenMP device subdir installation w/ multilibs
  openmp/device/CMakeLists.txt
Labels: openmp

[HLSL] Remove support for user-defined constructors and destructors
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/test/CodeGenHLSL/GlobalDestructors.hlsl
  clang/test/CodeGenHLSL/inline-constructors.hlsl
  clang/test/SemaHLSL/Constructors.hlsl
  clang/test/SemaHLSL/GlobalConstructors.hlsl
Labels: none

Fix Bazel build for 3081d52
  utils/bazel/llvm-project-overlay/llvm/unittests/BUILD.bazel
Labels: none

[HLSL] Update global array convergence test
  clang/test/CodeGenHLSL/convergence/global_array.hlsl
Labels: none

[offload] Allow replay repetitions and report basic timing
  offload/include/Shared/APITypes.h
  offload/include/omptarget.h
  offload/libomptarget/interface.cpp
  offload/libomptarget/omptarget.cpp
  offload/libomptarget/private.h
  offload/plugins-nextgen/common/include/RecordReplay.h
  offload/plugins-nextgen/common/src/RecordReplay.cpp
  offload/tools/kernelreplay/llvm-omp-kernel-replay.cpp
Labels: none

Add fixes
  offload/include/Shared/APITypes.h
  offload/include/omptarget.h
  offload/libomptarget/interface.cpp
  offload/libomptarget/omptarget.cpp
  offload/libomptarget/private.h
  offload/plugins-nextgen/common/include/RecordReplay.h
  offload/plugins-nextgen/common/src/RecordReplay.cpp
  offload/tools/kernelreplay/llvm-omp-kernel-replay.cpp
Labels: none

Fix format
  offload/libomptarget/interface.cpp
Labels: none

Revert "[compiler-rt][asan] Add asan checks for __builtin_assume_dereferencable (#190871)"
  compiler-rt/include/sanitizer/asan_interface.h
  compiler-rt/lib/asan/AIX/asan.link_with_main_exec.txt
  compiler-rt/lib/asan/asan_errors.cpp
  compiler-rt/lib/asan/asan_errors.h
  compiler-rt/lib/asan/asan_interface.inc
  compiler-rt/lib/asan/asan_report.cpp
  compiler-rt/lib/asan/asan_report.h
  compiler-rt/lib/asan/asan_rtl.cpp
  compiler-rt/test/asan/TestCases/assume_dereferenceable.cpp
  compiler-rt/test/asan/TestCases/assume_dereferenceable_fully_poisoned.cpp
  compiler-rt/test/asan/TestCases/assume_dereferenceable_halt_on_error.cpp
  compiler-rt/test/asan/TestCases/assume_dereferenceable_pass.cpp
  compiler-rt/test/asan/TestCases/debug_report.cpp
  llvm/lib/Transforms/Instrumentation/AddressSanitizer.cpp
  llvm/test/Instrumentation/AddressSanitizer/assume-dereferenceable.ll
Labels: none

Remove ir pass and just emit fdiv.
  llvm/include/llvm/IR/IntrinsicsAMDGPU.td
  llvm/lib/CodeGen/CodeGenPrepare.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/fdiv-newton-raphson-reciprocal.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.rcp.normal.f32.ll
Labels: none

Rebase ExpressionPathOption
  lldb/include/lldb/Target/StackFrame.h
Labels: none

Add lit test
  llvm/test/Transforms/VectorCombine/binop-scalarize.ll
Labels: none

[compiler-rt] [Darwin] Enable arm64e tests on macOS
  compiler-rt/cmake/Modules/CompilerRTDarwinUtils.cmake
  compiler-rt/cmake/config-ix.cmake
Labels: none

[AMDGPU] Enable SetregVGPRMSBFixup for gfx1251
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/test/CodeGen/AMDGPU/vgpr-setreg-mode-swar.mir
Labels: none

[revPat] update revert_patches
  revert_patches.txt
Labels: none

[lldb] Log clang module loads
  lldb/source/Plugins/ExpressionParser/Clang/ClangModulesDeclVendor.cpp
  lldb/test/API/lang/objc/module-import-log/Makefile
  lldb/test/API/lang/objc/module-import-log/TestClangModuleImportLog.py
  lldb/test/API/lang/objc/module-import-log/main.m
Labels: python

formatting
  lldb/test/API/lang/objc/module-import-log/TestClangModuleImportLog.py
Labels: python

Generalize checking for RegMem constraints.
  clang/lib/CodeGen/CGStmt.cpp
  llvm/include/llvm/IR/InlineAsm.h
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
Labels: none

IR
  llvm/docs/LangRef.rst
  llvm/include/llvm/AsmParser/LLToken.h
  llvm/include/llvm/Bitcode/LLVMBitCodes.h
  llvm/include/llvm/CodeGen/TargetLowering.h
  llvm/include/llvm/IR/IRBuilder.h
  llvm/include/llvm/IR/Instructions.h
  llvm/lib/AsmParser/LLLexer.cpp
  llvm/lib/AsmParser/LLParser.cpp
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/lib/Bitcode/Writer/BitcodeWriter.cpp
  llvm/lib/CodeGen/AtomicExpandPass.cpp
  llvm/lib/IR/AsmWriter.cpp
  llvm/lib/IR/Instruction.cpp
  llvm/lib/IR/Instructions.cpp
  llvm/lib/IR/Verifier.cpp
  llvm/test/Assembler/atomic.ll
  llvm/test/Assembler/invalid-atomicrmw-elementwise-fadd-must-be-fp-type.ll
  llvm/test/Assembler/invalid-atomicrmw-elementwise-scalar.ll
  llvm/test/Bitcode/atomicrmw-elementwise.ll
  llvm/test/CodeGen/NVPTX/atomicrmw-elementwise.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomic-rmw-elementwise.ll
  llvm/test/Transforms/AtomicExpand/NVPTX/expand-atomic-rmw-elementwise.ll
  llvm/test/Transforms/AtomicExpand/X86/expand-atomic-rmw-elementwise.ll
Labels: none

format
  llvm/lib/AsmParser/LLParser.cpp
Labels: none

change order
  llvm/include/llvm/IR/IRBuilder.h
  llvm/include/llvm/IR/Instructions.h
  llvm/lib/AsmParser/LLParser.cpp
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/lib/IR/Instructions.cpp
Labels: none

rebase
  llvm/lib/CodeGen/AtomicExpandPass.cpp
Labels: none

update tests
  llvm/test/Assembler/invalid-atomicrmw-elementwise-add-must-be-integer-type.ll
Labels: none

update tests
  llvm/test/Assembler/invalid-atomicrmw-elementwise-fadd-must-be-fp-type.ll
  llvm/test/Assembler/invalid-atomicrmw-elementwise-scalar.ll
  llvm/test/Bitcode/compatibility.ll
  llvm/test/CodeGen/NVPTX/atomicrmw-elementwise.ll
  llvm/unittests/IR/VerifierTest.cpp
Labels: none

update verifier
  llvm/lib/AsmParser/LLParser.cpp
  llvm/lib/IR/Verifier.cpp
  llvm/test/Assembler/invalid-atomicrmw-elementwise-add-must-be-integer-type.ll
  llvm/test/Assembler/invalid-atomicrmw-elementwise-fadd-must-be-fp-type.ll
  llvm/unittests/IR/VerifierTest.cpp
Labels: none

format
  llvm/unittests/IR/VerifierTest.cpp
Labels: none

format
  llvm/lib/AsmParser/LLParser.cpp
  llvm/lib/IR/Verifier.cpp
  llvm/unittests/IR/VerifierTest.cpp
Labels: none

remove elementwise from error message
  llvm/lib/AsmParser/LLParser.cpp
  llvm/lib/IR/Verifier.cpp
  llvm/test/Assembler/invalid-atomicrmw-elementwise-add-must-be-integer-type.ll
  llvm/test/Assembler/invalid-atomicrmw-elementwise-fadd-must-be-fp-type.ll
  llvm/unittests/IR/VerifierTest.cpp
Labels: none

format
  llvm/include/llvm/CodeGen/TargetLowering.h
  llvm/lib/CodeGen/AtomicExpandPass.cpp
Labels: none

fixing nits and moving shouldExpandAtomicRMWElementwiseInIR to shouldExpandAtomicRMWInIR
  llvm/include/llvm/CodeGen/TargetLowering.h
  llvm/lib/CodeGen/AtomicExpandPass.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AMDGPU/R600ISelLowering.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/lib/Target/ARM/ARMISelLowering.cpp
  llvm/lib/Target/LoongArch/LoongArchISelLowering.cpp
  llvm/lib/Target/M68k/M68kISelLowering.cpp
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/SPIRV/SPIRVISelLowering.cpp
  llvm/lib/Target/Sparc/SparcISelLowering.cpp
  llvm/lib/Target/SystemZ/SystemZISelLowering.cpp
  llvm/lib/Target/VE/VEISelLowering.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyISelLowering.cpp
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/Assembler/invalid-atomicrmw-elementwise-add-must-be-integer-type.ll
  llvm/test/Assembler/invalid-atomicrmw-elementwise-fadd-must-be-fp-type.ll
  llvm/test/Assembler/invalid-atomicrmw-elementwise-scalar.ll
Labels: none

2 >&1
  llvm/test/Assembler/invalid-atomicrmw-elementwise-add-must-be-integer-type.ll
Labels: none

swap Elementwise, insertBefore
  llvm/include/llvm/IR/IRBuilder.h
  llvm/include/llvm/IR/Instructions.h
  llvm/lib/AsmParser/LLParser.cpp
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/lib/IR/Instructions.cpp
  llvm/unittests/Analysis/AliasAnalysisTest.cpp
  llvm/unittests/IR/VerifierTest.cpp
Labels: none
