Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[clangd] Include the operator name in documentHighlight
  clang-tools-extra/clangd/XRefs.cpp
  clang-tools-extra/clangd/unittests/XRefsTests.cpp
Labels: none

Transform VPFirstOrderRecurrencePHIRecipe into VPPhi/VPWidenPHIRecipe
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanLowering.cpp
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
Labels: none

[ConstraintElim] Derive IV bound from an relation predicate in latch. (#220107)
  llvm/lib/Transforms/Scalar/ConstraintElimination.cpp
  llvm/test/Transforms/ConstraintElimination/induction-relational-predicate-latch.ll
Labels: none

[AArch64][GlobalISel] Initialise OperandOrder to a value
  llvm/lib/Target/AArch64/GISel/AArch64PostLegalizerLowering.cpp
  llvm/test/CodeGen/AArch64/arm64-zip.ll
Labels: none

[LoopInterchange] Bail out on reductions with uses outside their chain. (#220263)
  llvm/lib/Transforms/Scalar/LoopInterchange.cpp
  llvm/test/Transforms/LoopInterchange/reduction-minmax-multi-use.ll
Labels: none

[libc] Stop printing \0 in stdio/fputc_test.cpp
  libc/test/src/stdio/fputc_test.cpp
Labels: none

Apply review comments: Update float parsing to use cantFail
  mlir/lib/AsmParser/Parser.cpp
Labels: none

[Verifier] Forbid operand bundles with label operands
  llvm/lib/IR/Verifier.cpp
  llvm/test/Bindings/llvm-c/echo.ll
  llvm/test/Verifier/operand-bundles.ll
Labels: none

[AArch64] Widen v3i8/v4i8 VECTOR_MATCH needles (#218972)
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/intrinsic-vector-match-sve2.ll
Labels: none

[LoongArch] Add omitted LASX patterns for vector extend (#219351)
  llvm/lib/Target/LoongArch/LoongArchLASXInstrInfo.td
  llvm/test/CodeGen/LoongArch/lasx/vec-sext-invec-mask.ll
  llvm/test/CodeGen/LoongArch/lasx/vec-zext-invec.ll
Labels: none

release/23.x: Backport '[Clang] Fix C++26 fold expression normalization of PackIndexingExpr'
  clang/lib/Sema/SemaConcept.cpp
  clang/test/SemaCXX/cxx2c-fold-exprs.cpp
Labels: none

[SPARC] Preserve inline asm relocation modifiers (#219971)
  llvm/lib/Target/Sparc/SparcAsmPrinter.cpp
  llvm/test/CodeGen/SPARC/inlineasm-global-memory.ll
Labels: none

[clang][amdgpu] resolve type mismatch warning in conditional comparison
  clang/lib/Basic/Targets/AMDGPU.cpp
Labels: none

AMDGPU/GlobalISel: Fold (trunc (lshr x, 16)) to unmerge high half
  llvm/lib/Target/AMDGPU/AMDGPUCombine.td
  llvm/test/CodeGen/AMDGPU/GlobalISel/combine-trunc-lshr16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fadd.bf16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fcanonicalize.bf16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fma.bf16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fmul.bf16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fp-int-conversions.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fptrunc.bf16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fshl.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fshr.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/saddsat.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/ssubsat.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/store-local.128.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/store-local.96.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/uaddsat.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/usubsat.ll
  llvm/test/CodeGen/AMDGPU/bitreverse.ll
  llvm/test/CodeGen/AMDGPU/dagcombine-fmul-sel.ll
  llvm/test/CodeGen/AMDGPU/flat-saddr-store.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.cvt.f16.fp8.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.cvt.fp8.f16.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.fdot2.f32.bf16.ll
  llvm/test/CodeGen/AMDGPU/llvm.exp2.bf16.ll
  llvm/test/CodeGen/AMDGPU/load-atomic-flat.ll
  llvm/test/CodeGen/AMDGPU/load-atomic-global.ll
  llvm/test/CodeGen/AMDGPU/load-atomic-local.ll
  llvm/test/CodeGen/AMDGPU/sad.ll
  llvm/test/CodeGen/AMDGPU/scalar-float-sop1.ll
  llvm/test/CodeGen/AMDGPU/vector-reduce-fadd.ll
  llvm/test/CodeGen/AMDGPU/vector-reduce-fmul.ll
Labels: none

[Clang][OpenMP] Canonicalize Intra-tiles in Loop Tiling (#191114)
  clang/docs/OpenMPSupport.md
  clang/docs/ReleaseNotes.md
  clang/include/clang/AST/StmtOpenMP.h
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/AST/StmtOpenMP.cpp
  clang/lib/CodeGen/CGStmtOpenMP.cpp
  clang/lib/Sema/SemaOpenMP.cpp
  clang/test/OpenMP/interchange_codegen.cpp
  clang/test/OpenMP/tile_codegen.cpp
  clang/test/OpenMP/tile_collapse_messages.cpp
  clang/test/OpenMP/tile_collapse_reinterpret_codegen.cpp
  clang/test/OpenMP/tile_messages.cpp
  clang/test/OpenMP/tile_rect_codegen_ir.cpp
  clang/test/OpenMP/tile_vectorize_codegen.cpp
  clang/unittests/AST/AttrTest.cpp
  openmp/runtime/test/transform/tile/parallel-wsloop-collapse-stacked-tile.cpp
  openmp/runtime/test/transform/tile/parallel-wsloop-collapse-through-tile-2d.cpp
  openmp/runtime/test/transform/tile/parallel-wsloop-collapse-through-tile-compose.cpp
  openmp/runtime/test/transform/tile/parallel-wsloop-collapse-through-tile-iterator.cpp
  openmp/runtime/test/transform/tile/parallel-wsloop-collapse-through-tile.cpp
Labels: openmp

fix format
  bolt/lib/Target/RISCV/RISCVMCPlusBuilder.cpp
  bolt/test/RISCV/split-functions-long-jump.s
Labels: none

AMDGPU/GlobalISel: Bitcasting G_TRUNC combine
  llvm/lib/Target/AMDGPU/AMDGPUCombine.td
  llvm/test/CodeGen/AMDGPU/GlobalISel/fadd.bf16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fcanonicalize.bf16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fma.bf16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fmul.bf16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fp-int-conversions.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fptrunc.bf16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/llvm.amdgcn.raw.buffer.store.format.f16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/llvm.amdgcn.raw.buffer.store.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/llvm.amdgcn.raw.tbuffer.store.f16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/llvm.amdgcn.struct.buffer.load.format.f16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/llvm.amdgcn.struct.buffer.store.format.f16.ll
  llvm/test/CodeGen/AMDGPU/isel-amdgpu-cs-chain-cc.ll
  llvm/test/CodeGen/AMDGPU/scalar-float-sop1.ll
Labels: none

ldexpf128
  libc/config/baremetal/aarch64/entrypoints.txt
  libc/config/baremetal/arm/entrypoints.txt
  libc/config/baremetal/riscv/entrypoints.txt
  libc/config/darwin/aarch64/entrypoints.txt
  libc/config/freebsd/x86_64/entrypoints.txt
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/shared/math/ldexpf128.h
  libc/src/__support/math/CMakeLists.txt
  libc/src/__support/math/ldexpf128.h
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/ldexpf128.cpp
  libc/src/math/ldexpf128.h
  libc/test/shared/shared_math_constexpr_test.cpp
  libc/test/shared/shared_math_test.cpp
Labels: none

scalbnf128
  libc/config/baremetal/aarch64/entrypoints.txt
  libc/config/baremetal/arm/entrypoints.txt
  libc/config/baremetal/riscv/entrypoints.txt
  libc/config/darwin/aarch64/entrypoints.txt
  libc/config/freebsd/x86_64/entrypoints.txt
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/shared/math/scalbnf128.h
  libc/src/__support/math/CMakeLists.txt
  libc/src/__support/math/scalbnf128.h
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/scalbnf128.cpp
  libc/src/math/scalbnf128.h
  libc/test/shared/shared_math_constexpr_test.cpp
  libc/test/shared/shared_math_test.cpp
Labels: none

scalblnf128
  libc/config/baremetal/aarch64/entrypoints.txt
  libc/config/baremetal/arm/entrypoints.txt
  libc/config/baremetal/riscv/entrypoints.txt
  libc/config/darwin/aarch64/entrypoints.txt
  libc/config/freebsd/x86_64/entrypoints.txt
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/shared/math/scalblnf128.h
  libc/src/__support/math/CMakeLists.txt
  libc/src/__support/math/scalblnf128.h
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/scalblnf128.cpp
  libc/src/math/scalblnf128.h
  libc/test/shared/shared_math_constexpr_test.cpp
  libc/test/shared/shared_math_test.cpp
Labels: none

[AMDGPU] Avoid crash on missing operands in wave32 MIR
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/test/CodeGen/MIR/AMDGPU/g_intrinsic_missing_operand_crash.mir
Labels: none

this must check the member not the constructor param
  flang/lib/Frontend/CompilerInstance.cpp
Labels: none

[X86][SchedModel] Add masked gather/scatter overrides to Znver4Model
  llvm/lib/Target/X86/X86ScheduleZnver4.td
  llvm/test/tools/llvm-mca/X86/Znver4/gather-mask-writeback.s
  llvm/test/tools/llvm-mca/X86/Znver4/resources-avx2.s
  llvm/test/tools/llvm-mca/X86/Znver4/resources-avx512.s
  llvm/test/tools/llvm-mca/X86/Znver4/resources-avx512vl.s
Labels: none

[libc][ci] Enable continuous profiling and fix PYTHONPATH in workflows
  .github/workflows/libc-full-coverage.yml
  .github/workflows/libc-full-mcdc.yml
  .github/workflows/libc-patch-coverage.yml
  .github/workflows/libc-patch-mcdc.yml
Labels: misc

[AArch64][GlobalISel] Refactor matchZip to only call isZIPMask once
  llvm/lib/Target/AArch64/GISel/AArch64PostLegalizerLowering.cpp
Labels: none

fix: review
  llvm/test/CodeGen/MIR/AMDGPU/g_intrinsic_missing_operand_crash.mir
  llvm/test/MachineVerifier/AMDGPU/test_g_intrinsic.mir
Labels: none

Move resolveAsLambdacapturedVar function to the private section and add doc comments.
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/ExprEngine.h
Labels: none

Address comments
  llvm/lib/Target/AMDGPU/SIRegisterInfo.cpp
  llvm/test/CodeGen/AMDGPU/eliminate-frame-index-carry-out.ll
Labels: none

[mlir][pygments] Fix op-name highlighting, add low-precision float types
  mlir/utils/pygments/mlir_lexer.py
  mlir/utils/pygments/test_mlir_lexer.py
Labels: python

[Clang][Cygwin] Make -fno-use-init-array default in the driver
  clang/lib/Driver/ToolChains/Cygwin.cpp
  clang/lib/Driver/ToolChains/Cygwin.h
  clang/test/Driver/cygwin.cpp
Labels: none

Improve error handling
  offload/plugins-nextgen/level_zero/src/L0Queue.cpp
Labels: none

[Clang] Fix conversion from floats to bool-backed enums per CWG1094 (#211172)
  clang/docs/ReleaseNotes.md
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/Sema/SemaCast.cpp
  clang/test/AST/ByteCode/enums.cpp
  clang/test/CXX/drs/cwg10xx.cpp
  clang/test/CXX/drs/cwg17xx.cpp
  clang/test/CodeGen/enum-bool.cpp
  clang/www/cxx_dr_status.html
Labels: none

[mlir][linalg] Preserve operand casts when vectorizing 1-D convolutions (#217351)
  mlir/lib/Dialect/Linalg/Transforms/Vectorization.cpp
  mlir/test/Dialect/Linalg/vectorization/convolution-with-patterns.mlir
Labels: none

[flang][cuda] Delay descriptor alloc when host-assoc slot address is reused
  flang/lib/Optimizer/Transforms/CUDA/CUFAllocDelay.cpp
  flang/test/Transforms/CUF/cuf-alloc-delay.fir
Labels: none

[clang] Fix lost lambda capture in dependent co_return operand
  clang/lib/Sema/SemaCoroutine.cpp
  clang/test/SemaCXX/coreturn.cpp
Labels: none

[mlir][tosa] Add assembly format for CONST
  mlir/include/mlir/Dialect/Tosa/IR/TosaOps.td
  mlir/test/Conversion/TosaToSPIRVTosa/graph-constant-mark.mlir
  mlir/test/Dialect/Tosa/canonicalize.mlir
  mlir/test/Dialect/Tosa/constant_folding.mlir
  mlir/test/Dialect/Tosa/ops.mlir
  mlir/test/Dialect/Tosa/tosa-arith-const-to-tosa-const.mlir
  mlir/test/Dialect/Tosa/tosa-convert-integer-type-to-signless.mlir
  mlir/test/Dialect/Tosa/tosa-decompose-depthwise.mlir
  mlir/test/Dialect/Tosa/tosa-decompose-transpose-conv.mlir
  mlir/test/Dialect/Tosa/tosa-infer-shapes.mlir
  mlir/test/Dialect/Tosa/tosa-layerwise-constant-fold-dense-resource.mlir
  mlir/test/Dialect/Tosa/tosa-layerwise-constant-fold.mlir
  mlir/test/Dialect/Tosa/tosa-narrow-f64-to-f32-aggressive.mlir
  mlir/test/Dialect/Tosa/tosa-narrow-f64-to-f32.mlir
  mlir/test/Dialect/Tosa/tosa-narrow-i64-to-i32-aggressive.mlir
  mlir/test/Dialect/Tosa/tosa-narrow-i64-to-i32.mlir
  mlir/test/Dialect/Tosa/tosa-reduce-transposes.mlir
Labels: none

[flang][openmp] Support importing module declare target globals (#213930)
  flang/include/flang/Lower/OpenMP.h
  flang/include/flang/Semantics/semantics.h
  flang/lib/Lower/Bridge.cpp
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/test/Lower/OpenMP/declare_target_module.f90
  flang/test/Semantics/OpenMP/declare-target-modfile.f90
Labels: none

[mlir][bufferization] Avoid redundant copies for duplicate returns
  mlir/lib/Dialect/Bufferization/Transforms/BufferResultsToOutParams.cpp
  mlir/test/Transforms/buffer-results-to-out-params-hosit-dynamic-allocs.mlir
  mlir/test/Transforms/buffer-results-to-out-params-hosit-static-allocs.mlir
Labels: none

Revert "[ADT] Allow SmallVector move construction without move assignment (#2…"
  llvm/include/llvm/ADT/SmallVector.h
  llvm/unittests/ADT/SmallVectorTest.cpp
Labels: none

[LoopVersioning] Preserve MemorySSA if requested. (#220290)
  llvm/include/llvm/Transforms/Utils/LoopVersioning.h
  llvm/lib/Transforms/Scalar/LoopFlatten.cpp
  llvm/lib/Transforms/Utils/LoopVersioning.cpp
  llvm/test/Transforms/LoopVersioning/preserve-memoryssa.ll
Labels: none
