Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[LLDB][SBSaveCore] Sbsavecore subregions bug (#138206)
  lldb/include/lldb/Utility/RangeMap.h
  lldb/source/Target/Process.cpp
  lldb/test/API/functionalities/process_save_core_minidump/TestProcessSaveCoreMinidumpYaml.py
  lldb/test/API/functionalities/process_save_core_minidump/minidump_mem64.yaml
Labels: python

[OpenMP] Fix KMP_OS_AIX handling (#138499)
  openmp/runtime/src/kmp.h
  openmp/runtime/src/kmp_affinity.cpp
  openmp/runtime/src/kmp_platform.h
  openmp/runtime/src/kmp_wrapper_getpid.h
Labels: openmp

[AMDGPU][True16][CodeGen] readfirstlane for vgpr16 copy to sgpr32 (#118037)
  llvm/lib/Target/AMDGPU/SIFixSGPRCopies.cpp
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/test/CodeGen/AMDGPU/fix-sgpr-copies-f16-true16.mir
  llvm/test/CodeGen/AMDGPU/fix-sgpr-copies-vgpr16-to-spgr32.ll
Labels: none

[clang] Provide to `PPCallbacks` full expression range even in single file parse mode. (#138358)
  clang/lib/Lex/PPExpressions.cpp
  clang/unittests/Lex/PPCallbacksTest.cpp
Labels: none

[libc][gpu][docs] Fix typos in GPU libc's documentation (#138565)
  libc/docs/gpu/rpc.rst
Labels: none

[HLSL] Handle init list with OpaqueValueExprs in CGExprScalar (#138541)
  clang/lib/CodeGen/CGExprScalar.cpp
  clang/test/CodeGenHLSL/BasicFeatures/InitLists.hlsl
Labels: none

[CIR] Upstream local VectorType with 0 init elements (#138346)
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/test/CIR/CodeGen/vector-ext.cpp
  clang/test/CIR/CodeGen/vector.cpp
Labels: none

[llvm] Fixed Demangle OutputBuffer (#138564)
  llvm/include/llvm/Demangle/Utility.h
Labels: none

Revert "Handle step-in over a Darwin "branch island". (#138330)" (#138569)
  lldb/source/Plugins/DynamicLoader/MacOSX-DYLD/DynamicLoaderDarwin.cpp
  lldb/test/API/macosx/branch-islands/Makefile
  lldb/test/API/macosx/branch-islands/TestBranchIslands.py
  lldb/test/API/macosx/branch-islands/foo.c
  lldb/test/API/macosx/branch-islands/main.c
  lldb/test/API/macosx/branch-islands/padding1.s
  lldb/test/API/macosx/branch-islands/padding2.s
Labels: python

Revert "ARM: Remove override of shouldRewriteCopySrc (#125219)"
  llvm/lib/Target/ARM/ARMBaseRegisterInfo.cpp
  llvm/lib/Target/ARM/ARMBaseRegisterInfo.h
  llvm/test/CodeGen/ARM/shouldRewriteCopySrc.ll
Labels: none

[lldb-dap] Specify the executable path in the attach info (#138557)
  lldb/tools/lldb-dap/Handler/AttachRequestHandler.cpp
Labels: none

[MLIR][LLVM] Add ProfileSummary module flag support (#138070)
  mlir/include/mlir/Dialect/LLVMIR/LLVMAttrDefs.td
  mlir/include/mlir/Dialect/LLVMIR/LLVMDialect.td
  mlir/include/mlir/Dialect/LLVMIR/LLVMEnums.td
  mlir/lib/Dialect/LLVMIR/IR/LLVMAttrs.cpp
  mlir/lib/Target/LLVMIR/Dialect/LLVMIR/LLVMToLLVMIRTranslation.cpp
  mlir/lib/Target/LLVMIR/ModuleImport.cpp
  mlir/test/Dialect/LLVMIR/invalid.mlir
  mlir/test/Dialect/LLVMIR/module-roundtrip.mlir
  mlir/test/Target/LLVMIR/Import/import-failure.ll
  mlir/test/Target/LLVMIR/Import/module-flags.ll
  mlir/test/Target/LLVMIR/llvmir.mlir
Labels: none

qsort_r.h: qsort_r() is POSIX now. (#138545)
  libc/src/stdlib/qsort_r.h
Labels: none

[VPlan] Replace getPreheaderBBFor with getCFGPredecessor. (NFC)
  llvm/lib/Transforms/Vectorize/VPlan.cpp
  llvm/lib/Transforms/Vectorize/VPlanHelpers.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
Labels: none

[ScheduleDAG] Allow disabling the SchedModel / Itineraries during Scheduling (#138057)
  llvm/include/llvm/CodeGen/TargetSchedule.h
  llvm/lib/CodeGen/ScheduleDAGInstrs.cpp
  llvm/lib/CodeGen/TargetSchedule.cpp
  llvm/test/CodeGen/AMDGPU/mai-hazards-gfx942.mir
  llvm/test/CodeGen/AMDGPU/sched-no-schedmodel.mir
Labels: none

[IntrinsicInst] Remove MemCpyInlineInst and MemSetInlineInst [nfc] (#138568)
  llvm/include/llvm/IR/InstVisitor.h
  llvm/include/llvm/IR/IntrinsicInst.h
  llvm/lib/Analysis/Lint.cpp
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/lib/CodeGen/PreISelIntrinsicLowering.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/IR/IRBuilder.cpp
  llvm/lib/Transforms/Scalar/InferAddressSpaces.cpp
  llvm/lib/Transforms/Scalar/LoopIdiomRecognize.cpp
  llvm/lib/Transforms/Scalar/MemCpyOptimizer.cpp
Labels: none

[Sparc] TableGen-erate SDNode descriptions (#138450)
  llvm/lib/Target/Sparc/CMakeLists.txt
  llvm/lib/Target/Sparc/SparcISelDAGToDAG.cpp
  llvm/lib/Target/Sparc/SparcISelLowering.cpp
  llvm/lib/Target/Sparc/SparcISelLowering.h
  llvm/lib/Target/Sparc/SparcInstrInfo.td
  llvm/lib/Target/Sparc/SparcSelectionDAGInfo.cpp
  llvm/lib/Target/Sparc/SparcSelectionDAGInfo.h
  llvm/lib/Target/Sparc/SparcSubtarget.cpp
  llvm/lib/Target/Sparc/SparcSubtarget.h
Labels: none

[NFC][TableGen] Code cleanup in CodeGenRegister (#137994)
  llvm/include/llvm/TableGen/Record.h
  llvm/utils/TableGen/Common/CodeGenRegisters.cpp
  llvm/utils/TableGen/Common/CodeGenRegisters.h
Labels: none

[MLIR][LLVM] Importer: fix void returning intrinsic calls (#138325)
  mlir/lib/Target/LLVMIR/LLVMImportInterface.cpp
  mlir/test/Dialect/LLVMIR/roundtrip.mlir
  mlir/test/Target/LLVMIR/Import/intrinsic-prefer-unregistered.ll
  mlir/test/Target/LLVMIR/Import/intrinsic-unregistered.ll
Labels: none

[OpenMP] Add pre sm_70 load hack back in (#138589)
  offload/DeviceRTL/include/Synchronization.h
Labels: none

[randstruct] Also randomize composite function pointer structs (#138385)
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaDecl.cpp
  clang/test/Sema/init-randomized-struct.c
Labels: none

[libc] Swap order of syscall on chmod (#138427)
  libc/src/sys/stat/linux/chmod.cpp
Labels: none

[libc++] Re-introduce _LIBCPP_DISABLE_AVAILABILITY (#134158)
  libcxx/docs/ReleaseNotes/20.rst
  libcxx/include/__configuration/availability.h
  libcxx/test/libcxx/vendor/apple/disable-availability.sh.cpp
Labels: none

[SPARC] Use op-then-neg instructions when we have VIS3 (#138603)
  llvm/lib/Target/Sparc/SparcISelLowering.cpp
  llvm/lib/Target/Sparc/SparcISelLowering.h
  llvm/lib/Target/Sparc/SparcInstrVIS.td
  llvm/test/CodeGen/SPARC/float-vis3.ll
Labels: none

[lldb][test] Mark DynamicValueTestCase XFAIL on Windows
  lldb/test/API/lang/cpp/dynamic-value/TestDynamicValue.py
Labels: python

[lldb-dap] Give attach test binaries unique names (#138435)
  lldb/packages/Python/lldbsuite/test/tools/lldb-dap/lldbdap_testcase.py
  lldb/test/API/tools/lldb-dap/attach/TestDAP_attach.py
  lldb/test/API/tools/lldb-dap/attach/TestDAP_attachByPortNum.py
  lldb/test/API/tools/lldb-dap/commands/TestDAP_commands.py
Labels: python

[flang][nfc] Fix test unneccesarily checking type layout (#138585)
  flang/test/Lower/volatile-derived-type.f90
Labels: none

[AMDGPU] Extend test coverage for cross RC register coalescing (#132137)
  llvm/lib/Target/AMDGPU/GCNIterativeScheduler.cpp
  llvm/test/CodeGen/AMDGPU/coalesce-copy-to-agpr-to-av-registers.mir
Labels: none

[NVPTX] Add ranges to intrinsic definitions, cleanup NVVMIntrRange (#138338)
  llvm/include/llvm/IR/IntrinsicsNVVM.td
  llvm/lib/Target/NVPTX/NVPTXUtilities.cpp
  llvm/lib/Target/NVPTX/NVPTXUtilities.h
  llvm/lib/Target/NVPTX/NVVMIntrRange.cpp
  llvm/test/CodeGen/NVPTX/intr-range.ll
  llvm/test/CodeGen/NVPTX/intrinsic-old.ll
Labels: none

[lldb] Support alternatives for scope format entries (#137751)
  lldb/include/lldb/Core/FormatEntity.h
  lldb/source/Core/FormatEntity.cpp
  lldb/unittests/Core/FormatEntityTest.cpp
Labels: none

[MLIR][LLVMIR] Import calls with mismatching signature as indirect call (#135895)
  mlir/include/mlir/Target/LLVMIR/ModuleImport.h
  mlir/lib/Target/LLVMIR/ModuleImport.cpp
  mlir/test/Target/LLVMIR/Import/import-failure.ll
  mlir/test/Target/LLVMIR/Import/instructions.ll
Labels: none

[SPIRV] Add explicit layout (#135789)
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.cpp
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.h
  llvm/lib/Target/SPIRV/SPIRVIRMapping.h
  llvm/lib/Target/SPIRV/SPIRVISelLowering.cpp
  llvm/lib/Target/SPIRV/SPIRVISelLowering.h
  llvm/test/CodeGen/SPIRV/hlsl-resources/StructuredBuffer.ll
  llvm/test/CodeGen/SPIRV/spirv-explicit-layout.ll
Labels: none

[lldb-dap] Don't error out when the process is in eStateUnloaded (#138601)
  lldb/tools/lldb-dap/DAP.cpp
Labels: none

[llvm][NFC] Fix bracing from #138414 (#138620)
  llvm/lib/Transforms/Utils/Local.cpp
Labels: none

[llvm][gvn-sink] Don't try to sink inline asm (#138414)
  llvm/lib/Transforms/Utils/Local.cpp
  llvm/test/Transforms/GVNSink/pr138345.ll
Labels: none

Revert "[AMDGPU] Extend test coverage for cross RC register coalescing (#132137)"
  llvm/lib/Target/AMDGPU/GCNIterativeScheduler.cpp
  llvm/test/CodeGen/AMDGPU/coalesce-copy-to-agpr-to-av-registers.mir
Labels: none

[gn build] Port 7aa67378f01f
  llvm/utils/gn/secondary/llvm/lib/Target/Sparc/BUILD.gn
Labels: none

[RISCV] Add processor definition for SiFive P870 (#137725)
  clang/test/Driver/print-enabled-extensions/riscv-sifive-p870.c
  clang/test/Driver/riscv-cpus.c
  clang/test/Misc/target-invalid-cpu-note/riscv.c
  llvm/docs/ReleaseNotes.md
  llvm/lib/Target/RISCV/RISCVProcessors.td
Labels: none

[llvm] No DWARF CFI for UEFI (#138602)
  llvm/lib/Target/X86/X86FrameLowering.cpp
Labels: none

[bazel] Update Sparc (for #138450)
  utils/bazel/llvm-project-overlay/llvm/BUILD.bazel
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
