Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[clang] preserve exact redeclaration for getTemplateInstantiationPattern
  clang/lib/AST/Decl.cpp
  clang/lib/AST/DeclCXX.cpp
  clang/lib/Sema/SemaLookup.cpp
  clang/lib/StaticAnalyzer/Core/BugSuppression.cpp
  clang/test/AST/ast-dump-decl.cpp
  clang/test/AST/ast-dump-linkage-internal.cpp
  clang/test/AST/ast-dump-linkage.cpp
  clang/test/AST/ast-dump-templates-pattern.cpp
Labels: none

[EmbeddedJIT] Add lipo.py: extract minimal .o set into single .a
  ejit_test/build.sh
  ejit_test/lipo/.gitignore
  ejit_test/lipo/lipo.py
  ejit_test/lipo/merge.ld
Labels: python

Auto-label issues with `clang:temporal-safety` when it has LifetimeSafety in it's title
  .github/new-issues-labeler.yml
Labels: misc

[X86] LowerBUILD_VECTORvXi1 - scalarize the bool masks if we inserting a single non-const value
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/avx512-ext.ll
  llvm/test/CodeGen/X86/avx512-insert-extract.ll
  llvm/test/CodeGen/X86/avx512-mask-op.ll
Labels: none

[AMDGPU] Refactor IsAsync instr modeling for gfx9/gfx10
  llvm/lib/Target/AMDGPU/AMDGPUInstructionSelector.cpp
  llvm/lib/Target/AMDGPU/BUFInstructions.td
  llvm/lib/Target/AMDGPU/FLATInstructions.td
  llvm/lib/Target/AMDGPU/GCNHazardRecognizer.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
  llvm/test/CodeGen/AMDGPU/hazard-flat-instruction-valu-check.mir
  llvm/test/CodeGen/AMDGPU/insert-waitcnts-fence-soft.mir
  llvm/test/CodeGen/AMDGPU/lds-dma-hazards.mir
  llvm/test/CodeGen/AMDGPU/lds-dma-waitcnt.mir
  llvm/test/CodeGen/AMDGPU/sched.group.classification.mir
Labels: none

Resolve review comments: move utility functions to the Planner
  llvm/lib/Transforms/Vectorize/CMakeLists.txt
  llvm/lib/Transforms/Vectorize/LoopVectorizationLegality.cpp
  llvm/lib/Transforms/Vectorize/LoopVectorizationPlanner.cpp
  llvm/lib/Transforms/Vectorize/LoopVectorizationPlanner.h
  llvm/lib/Transforms/Vectorize/LoopVectorizationUtils.cpp
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
Labels: none

fix the mecha properly to prevent the bad union stash
  clang/lib/Sema/SemaDecl.cpp
Labels: none

[lit] Optimize ShLexer string construction
  llvm/utils/lit/lit/ShUtil.py
Labels: python

[Hexagon] Support reserving R16-R28 registers via -ffixed-rN (#197208)
  clang/lib/Driver/ToolChains/Hexagon.cpp
  clang/test/Driver/hexagon-toolchain-elf.c
  llvm/lib/Target/Hexagon/Hexagon.td
  llvm/lib/Target/Hexagon/HexagonRegisterInfo.cpp
  llvm/lib/Target/Hexagon/HexagonSubtarget.h
  llvm/test/CodeGen/Hexagon/reserved-regs.ll
Labels: none

Precommit test change
  llvm/test/CodeGen/RISCV/rvv/masked-udiv.ll
Labels: none

Test changes from fix
  llvm/test/CodeGen/RISCV/rvv/masked-udiv.ll
Labels: none

[CIR][AArch64] Lower NEON vsli/vsliq intrinsics (#198309)
  clang/lib/CIR/CodeGen/CIRGenBuiltinAArch64.cpp
  clang/test/CodeGen/AArch64/neon-intrinsics.c
  clang/test/CodeGen/AArch64/neon/intrinsics.c
Labels: none

[RISCV][XCV] Fix incorrect llvm.ctlz lowering to cv.fl1
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoXCV.td
  llvm/lib/Target/RISCV/RISCVSubtarget.h
  llvm/test/CodeGen/RISCV/xcvbitmanip.ll
Labels: none

another typo
  libcxx/include/__tree
Labels: none

Fix comparison type mismatch
  llvm/lib/Target/X86/X86ISelLowering.cpp
Labels: none

clang-format
  llvm/lib/Target/X86/X86ISelLowering.cpp
Labels: none

nit
  clang/lib/Sema/SemaDecl.cpp
Labels: none

[CIR][OpenCL] Add kernel argument metadata attribute
  clang/include/clang/CIR/Dialect/IR/CIRAttrs.td
  clang/include/clang/CIR/Dialect/IR/CIRDialect.td
  clang/include/clang/CIR/Dialect/IR/CIROpenCLAttrs.td
  clang/lib/CIR/Dialect/IR/CIROpenCLAttrs.cpp
  clang/lib/CIR/Dialect/IR/CMakeLists.txt
  clang/test/CIR/IR/invalid-opencl-kernel-arg-metadata.cir
  clang/test/CIR/IR/opencl-kernel-arg-metadata.cir
Labels: none

[Sema] Add support for Swift raw identifiers in the `swift_name` attribute and APINotes.
  clang/lib/Sema/SemaSwift.cpp
  clang/test/APINotes/Inputs/Frameworks/RawIdentifiers.framework/Headers/RawIdentifiers.apinotes
  clang/test/APINotes/Inputs/Frameworks/RawIdentifiers.framework/Headers/RawIdentifiers.h
  clang/test/APINotes/Inputs/Frameworks/RawIdentifiers.framework/Modules/module.modulemap
  clang/test/APINotes/swift-name-raw-identifiers.m
  clang/test/SemaObjC/attr-swift_name.m
Labels: none

[Flang][OpenMP] Allow workdistribute inside 'target teams' (#199006)
  flang/lib/Semantics/check-omp-structure.cpp
  flang/test/Semantics/OpenMP/workdistribute05.f90
Labels: none

[lldb] Add enum lookup to DIL (#192065)
  lldb/include/lldb/ValueObject/DILEval.h
  lldb/include/lldb/ValueObject/DILParser.h
  lldb/source/ValueObject/DILEval.cpp
  lldb/source/ValueObject/DILParser.cpp
  lldb/test/API/commands/frame/var-dil/expr/EnumValueLookup/Makefile
  lldb/test/API/commands/frame/var-dil/expr/EnumValueLookup/TestEnumValueLookup.py
  lldb/test/API/commands/frame/var-dil/expr/EnumValueLookup/main.cpp
Labels: python

[ObjectYAML] Fix `DXContainerYAML::fromDXContainer` return value
  llvm/lib/ObjectYAML/DXContainerYAML.cpp
Labels: none

Remove redundant check
  llvm/test/CodeGen/AArch64/sme-framelower-use-bp.ll
Labels: none

[SLP] Disable -slp-inst-count-check by default
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/PhaseOrdering/X86/vector-reductions.ll
  llvm/test/Transforms/SLPVectorizer/AMDGPU/inst-count-heuristic.ll
  llvm/test/Transforms/SLPVectorizer/AMDGPU/notriviallyvectorizableintrinsicoperands.ll
  llvm/test/Transforms/SLPVectorizer/AMDGPU/slp-v2f16.ll
  llvm/test/Transforms/SLPVectorizer/X86/c-ray.ll
  llvm/test/Transforms/SLPVectorizer/X86/crash_cmpop.ll
  llvm/test/Transforms/SLPVectorizer/X86/delayed-gather-emission.ll
  llvm/test/Transforms/SLPVectorizer/X86/entry-no-bundle-but-extra-use-on-vec.ll
  llvm/test/Transforms/SLPVectorizer/X86/external-bin-op-user.ll
  llvm/test/Transforms/SLPVectorizer/X86/external_user.ll
  llvm/test/Transforms/SLPVectorizer/X86/extractelement-multi-register-use.ll
  llvm/test/Transforms/SLPVectorizer/X86/gathered-loads-non-full-reg.ll
  llvm/test/Transforms/SLPVectorizer/X86/lookahead.ll
  llvm/test/Transforms/SLPVectorizer/X86/multi-parent-instr-copyable-regular.ll
  llvm/test/Transforms/SLPVectorizer/X86/phi-removed-on-operand-vectorization.ll
  llvm/test/Transforms/SLPVectorizer/X86/pr35497.ll
  llvm/test/Transforms/SLPVectorizer/X86/reduction2.ll
  llvm/test/Transforms/SLPVectorizer/X86/reorder_with_external_users.ll
  llvm/test/Transforms/SLPVectorizer/X86/rgb_phi.ll
  llvm/test/Transforms/SLPVectorizer/X86/shl-to-add-transformation4.ll
  llvm/test/Transforms/SLPVectorizer/X86/simplebb.ll
  llvm/test/Transforms/SLPVectorizer/X86/supernode.ll
  llvm/test/Transforms/SLPVectorizer/X86/vec3-base.ll
  llvm/test/Transforms/SLPVectorizer/X86/vec3-reorder-reshuffle.ll
  llvm/test/Transforms/SLPVectorizer/X86/vec_list_bias-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/X86/vec_list_bias.ll
  llvm/test/Transforms/SLPVectorizer/X86/vec_list_bias_external_insert_shuffled.ll
Labels: none

[AMDGPU] Add DAG mutation to sink consumers of VMEM-pending registers
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
  llvm/lib/Target/AMDGPU/AMDGPUVMemUseOrdering.cpp
  llvm/lib/Target/AMDGPU/AMDGPUVMemUseOrdering.h
  llvm/lib/Target/AMDGPU/CMakeLists.txt
  llvm/test/CodeGen/AMDGPU/phi-av-pressure.ll
  llvm/test/CodeGen/AMDGPU/sched-vmem-use-ordering-gfx9.mir
  llvm/test/CodeGen/AMDGPU/sched-vmem-use-ordering-waitcnt.mir
  llvm/test/CodeGen/AMDGPU/sched-vmem-use-ordering.mir
  llvm/test/CodeGen/AMDGPU/wqm.ll
Labels: none

XFAIL for apple configs using older library versions
  libcxx/test/libcxx/input.output/filesystems/fs.op.funcs/fs.op.remove_all/bad_perms_parent.pass.cpp
Labels: none

[AMDGPU] Fix v_dot4_i32_i8 alias to set neg_lo modifiers (#197998)
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/VOP3PInstructions.td
  llvm/test/MC/AMDGPU/gfx11_asm_vop3p_alias.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3p_aliases.s
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3p.txt
Labels: none

[clang-tidy] Address review comments for declaration parentheses
  clang-tools-extra/clang-tidy/readability/RedundantParenthesesCheck.cpp
  clang-tools-extra/test/clang-tidy/checkers/readability/redundant-parentheses.cpp
Labels: none

Apply usx95s feedback
  clang/lib/Sema/SemaLifetimeSafety.h
  clang/test/Sema/warn-lifetime-safety-misplaced-lifetimebound-intra-tu.cpp
Labels: none

[AArch64][SelectionDAG] Do not fold if not one-use
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/arm64-ccmp.ll
  llvm/test/CodeGen/AArch64/peephole-and-tst.ll
  llvm/test/CodeGen/AArch64/sshl_sat.ll
Labels: none

[AMDGPU][True16] Create tests that will demonstrate true16 G_SEXTLOAD/G_ZEXTLOAD legalization changes
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-sextload-zextload-s16-true16.mir
Labels: none

PR feedback
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-sextload-s16-true16.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-sextload-zextload-s16-true16.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/load-d16.ll
Labels: none

[PowerPC] Optimize vec_splats of small FP values on Power8/9
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
  llvm/lib/Target/PowerPC/PPCInstrVSX.td
  llvm/test/CodeGen/PowerPC/combine-fneg.ll
  llvm/test/CodeGen/PowerPC/fma-combine.ll
  llvm/test/CodeGen/PowerPC/recipest.ll
  llvm/test/CodeGen/PowerPC/repeated-fp-divisors.ll
  llvm/test/CodeGen/PowerPC/vec-splats-opt.ll
Labels: none

[AMDGPU][NFC] VMemUseOrdering refinements
  llvm/lib/Target/AMDGPU/AMDGPUVMemUseOrdering.cpp
  llvm/lib/Target/AMDGPU/AMDGPUVMemUseOrdering.h
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
Labels: none

Merge NonConstIdx and NonConstMask
  llvm/lib/Target/X86/X86ISelLowering.cpp
Labels: none

Reland "[LifetimeSafety] Detect iterator invalidation through container aliases" (#197873)
  clang/lib/Analysis/LifetimeSafety/FactsGenerator.cpp
  clang/test/Sema/warn-lifetime-safety-invalidations.cpp
Labels: none

[clang-tidy][readability] Ignore macros in function-size check
  clang-tools-extra/clang-tidy/readability/FunctionSizeCheck.cpp
  clang-tools-extra/clang-tidy/readability/FunctionSizeCheck.h
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/readability/function-size.rst
  clang-tools-extra/test/clang-tidy/checkers/readability/function-size-ignore-macros.cpp
Labels: none

[GlobalISel] Support the byte type in IRTranslator
  llvm/docs/Frontend/PerformanceTips.rst
  llvm/docs/GlobalISel/GMIR.rst
  llvm/docs/GlobalISel/IRTranslator.rst
  llvm/docs/LangRef.rst
  llvm/docs/ReleaseNotes.md
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/lib/CodeGen/LowLevelTypeUtils.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/amdgpu-irtranslator.ll
  llvm/test/CodeGen/Generic/GlobalISel/irtranslator-byte-type.ll
  llvm/test/CodeGen/PowerPC/fast-isel-cmp-imm.ll
Labels: none

Type size should be dl alloc size.
  clang/lib/CIR/Dialect/Transforms/LoweringPrepare.cpp
Labels: none

[clang-tidy] Address review comments for declaration parentheses
  .github/workflows/release-binaries.yml
  clang-tools-extra/clang-tidy/readability/RedundantParenthesesCheck.cpp
  clang-tools-extra/test/clang-tidy/checkers/readability/redundant-parentheses.cpp
Labels: misc
