Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[libcxx][CI] Use lld for everything in the ARM picolib builds (#158320)
  libcxx/cmake/caches/Armv7M-picolibc.cmake
  libcxx/test/configs/armv7m-picolibc-libc++.cfg.in
  libcxx/utils/ci/build-picolibc.sh
  libcxxabi/test/configs/armv7m-picolibc-libc++abi.cfg.in
  libunwind/test/configs/armv7m-picolibc-libunwind.cfg.in
Labels: none

[lldb][test] Disable a test from TestDAP_cancel.py on Windows
  lldb/test/API/tools/lldb-dap/cancel/TestDAP_cancel.py
Labels: python

[LLDB][PDB] Require Windows for for testing PDB plugin-selection again (#158559)
  lldb/test/Shell/SymbolFile/PDB/native-setting.cpp
Labels: none

[X86][GlobalIsel] Support G_INTRINSIC_TRUNC/G_FCEIL/G_FFLOOR (#156633)
  llvm/lib/Target/X86/GISel/X86LegalizerInfo.cpp
  llvm/test/CodeGen/X86/isel-ceil.ll
  llvm/test/CodeGen/X86/isel-floor.ll
  llvm/test/CodeGen/X86/isel-ftrunc.ll
Labels: none

[X86][GlobalIsel] Add G_[U|S]MIN/G_[U|S]MAX scalar test coverage (#157621)
  llvm/test/CodeGen/X86/isel-smax.ll
  llvm/test/CodeGen/X86/isel-smin.ll
  llvm/test/CodeGen/X86/isel-umax.ll
  llvm/test/CodeGen/X86/isel-umin.ll
Labels: none

[X86][bytecode] Allow SSE/AVX BLEND imm intrinsics to be used in constexpr (#157776)
  clang/include/clang/Basic/BuiltinsX86.td
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/lib/AST/ExprConstant.cpp
  clang/test/CodeGen/X86/avx-builtins.c
  clang/test/CodeGen/X86/avx2-builtins.c
  clang/test/CodeGen/X86/sse41-builtins.c
Labels: none

[mlir][tosa] Introduce accumulator type for `reduce_sum` on bf16 (#158389)
  mlir/lib/Conversion/TosaToLinalg/TosaToLinalg.cpp
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg.mlir
Labels: none

[clang][Sema] Fix false positive -Wshadow with structured binding captures (#157667)
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaDecl.cpp
  clang/test/SemaCXX/PR68605.cpp
  clang/test/SemaCXX/warn-shadow-in-lambdas.cpp
Labels: none

[AArch64] Update and extend some GlobalMerge tests. NFC
  llvm/test/CodeGen/AArch64/aarch64-tail-dup-size.ll
  llvm/test/CodeGen/AArch64/global-merge-external.ll
  llvm/test/CodeGen/AArch64/global-merge-minsize.ll
  llvm/test/CodeGen/AArch64/local-bounds-single-trap.ll
Labels: none

[Headers][X86] Allow AVX512 masked blend intrinsics to be used in constexpr (#156234)
  clang/lib/Headers/avx512bwintrin.h
  clang/lib/Headers/avx512fintrin.h
  clang/lib/Headers/avx512fp16intrin.h
  clang/lib/Headers/avx512vlbwintrin.h
  clang/lib/Headers/avx512vlfp16intrin.h
  clang/lib/Headers/avx512vlintrin.h
  clang/test/CodeGen/X86/avx512bw-builtins.c
  clang/test/CodeGen/X86/avx512vl-builtins.c
  clang/test/CodeGen/X86/avx512vlbw-builtins.c
  clang/test/CodeGen/X86/avx512vlfp16-builtins.c
Labels: none

[VectorCombine] Fix scalarizeExtExtract for big-endian (#157962)
  llvm/lib/Transforms/Vectorize/VectorCombine.cpp
  llvm/test/Transforms/VectorCombine/AArch64/scalarize-ext-extract-endian.ll
  llvm/test/Transforms/VectorCombine/PowerPC/lit.local.cfg
  llvm/test/Transforms/VectorCombine/PowerPC/scalarize-ext-extract.ll
Labels: none

AMDGPU: Report unaligned scratch access as fast if supported by tgt (#158036)
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/memcpy-fixed-align.ll
  llvm/test/CodeGen/AMDGPU/memcpy-libcall.ll
  llvm/test/CodeGen/AMDGPU/memcpy-param-combinations.ll
  llvm/test/CodeGen/AMDGPU/memmove-param-combinations.ll
  llvm/test/Transforms/AggressiveInstCombine/AMDGPU/fold-consecutive-loads.ll
  llvm/test/Transforms/AggressiveInstCombine/AMDGPU/lit.local.cfg
Labels: none

[mlir][vector][nfc] Group all tests for `foldFromElementsToConstant` (#158578)
  mlir/test/Dialect/Vector/canonicalize.mlir
Labels: none

[LV] Add test with partial reduction without narrowing.
  llvm/test/Transforms/LoopVectorize/AArch64/partial-reduce-chained.ll
Labels: none

[APINotes] Support annotating safety of APIs (#157506)
  clang/docs/APINotes.rst
  clang/include/clang/APINotes/Types.h
  clang/lib/APINotes/APINotesFormat.h
  clang/lib/APINotes/APINotesReader.cpp
  clang/lib/APINotes/APINotesTypes.cpp
  clang/lib/APINotes/APINotesWriter.cpp
  clang/lib/APINotes/APINotesYAMLCompiler.cpp
  clang/lib/Sema/SemaAPINotes.cpp
  clang/test/APINotes/Inputs/Headers/SwiftImportAs.apinotes
  clang/test/APINotes/Inputs/Headers/SwiftImportAs.h
  clang/test/APINotes/swift-import-as.cpp
Labels: none

[LV] Introduce m_One and improve (0|1)-match (NFC) (#157419)
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlanPatternMatch.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanUnroll.cpp
  llvm/lib/Transforms/Vectorize/VPlanUtils.cpp
Labels: none

[X86] Handle undef/zero/ones cases after modifying Ops and Masks (#158428)
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/vector-shuffle-combining-avx2.ll
Labels: none

[OpenACC] verify acc::DeclareEnterOp operand not BlockArgument (#158095)
  mlir/lib/Dialect/OpenACC/IR/OpenACC.cpp
  mlir/test/Dialect/OpenACC/invalid.mlir
Labels: none

[mlir][tosa] Add support for BF16 in `tosa.resize` legalization (#158616)
  mlir/lib/Conversion/TosaToLinalg/TosaToLinalg.cpp
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg-resize.mlir
Labels: none

[mlir][func]-Add deduplicate funcOp arguments transform (#158266)
  mlir/include/mlir/Dialect/Func/TransformOps/FuncTransformOps.td
  mlir/include/mlir/Dialect/Func/Utils/Utils.h
  mlir/lib/Dialect/Func/TransformOps/FuncTransformOps.cpp
  mlir/lib/Dialect/Func/Utils/Utils.cpp
  mlir/test/Dialect/Func/func-transform-invalid.mlir
  mlir/test/Dialect/Func/func-transform.mlir
Labels: none

[libc++] Add documentation for the new comment-triggered benchmarking bot (#158167)
  libcxx/docs/TestingLibcxx.rst
Labels: none

[libc++][test] Clean-up `MinSequenceContainer` (#158432)
  libcxx/test/support/MinSequenceContainer.h
Labels: none

[libc++][CI] Update meson used for building picolibc (#158308)
  libcxx/utils/ci/build-picolibc.sh
Labels: none

[Github] Fix security issues in libcxx-run-benchmarks.yml workflow (#158467)
  .github/workflows/libcxx-run-benchmarks.yml
Labels: misc

[libc++] Remove complexity calculations from <filesystem> benchmark (#158290)
  libcxx/test/benchmarks/filesystem.bench.cpp
  libcxx/utils/parse-google-benchmark-results
Labels: none

[libc++] Don't run multithreaded stringstream benchmarks (#158294)
  libcxx/test/benchmarks/stringstream.bench.cpp
Labels: none

[clang] Allow attributes on first constructor argument in pre-C++11 (#157300)
  clang/docs/ReleaseNotes.rst
  clang/lib/Parse/ParseDecl.cpp
  clang/test/Parser/cxx03-attributes.cpp
Labels: none

[RISCV][GlobalIsel] Reduce constant pool usage without FP extension (#158346)
  llvm/lib/Target/RISCV/GISel/RISCVLegalizerInfo.cpp
  llvm/lib/Target/RISCV/GISel/RISCVLegalizerInfo.h
  llvm/test/CodeGen/RISCV/GlobalISel/constantpool.ll
  llvm/test/CodeGen/RISCV/GlobalISel/double-arith.ll
  llvm/test/CodeGen/RISCV/GlobalISel/float-arith.ll
  llvm/test/CodeGen/RISCV/GlobalISel/vararg.ll
Labels: none

Introduce -fexperimental-loop-fuse to clang and flang (#142686)
  clang/include/clang/Basic/CodeGenOptions.def
  clang/include/clang/Driver/Options.td
  clang/lib/CodeGen/BackendUtil.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Driver/ToolChains/Flang.cpp
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/test/Driver/clang_f_opts.c
  flang/docs/ReleaseNotes.md
  flang/include/flang/Frontend/CodeGenOptions.def
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/lib/Frontend/FrontendActions.cpp
  flang/test/Driver/loop-fuse.f90
  llvm/include/llvm/Passes/PassBuilder.h
  llvm/lib/Passes/PassBuilderPipelines.cpp
  llvm/tools/opt/NewPMDriver.cpp
Labels: none

[llvm] Add env prefix to environment variable
  llvm/test/lit.cfg.py
Labels: python

Add llvm-ml64 to LLVM_TOOLCHAIN_TOOLS (#158582)
  llvm/cmake/modules/AddLLVM.cmake
Labels: none

[bazel] Add missing dependency for 471bd1745ef044a7ee58a4947bf06a7f56660502
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: none

[NFC] Fix commas on assertion from 147514 (#158635)
  clang/lib/CodeGen/CGExprScalar.cpp
Labels: none

[NFC][clang] replace a C-array with std::array (#158047)
  clang/utils/TableGen/ClangAttrEmitter.cpp
Labels: none

[lldb][test] Fix unordered-map test. (#158286)
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/generic/unordered_map-iterator/TestDataFormatterStdUnorderedMap.py
Labels: python

[libc++] Specialize __lazy_synth_three_way_comparator for std::greater and friends (#157624)
  libcxx/include/__utility/lazy_synth_three_way_comparator.h
  libcxx/test/std/containers/associative/map/map.ops/find.pass.cpp
  libcxx/test/std/containers/associative/multimap/multimap.ops/find.pass.cpp
  libcxx/test/std/containers/associative/multiset/find.pass.cpp
  libcxx/test/std/containers/associative/set/find.pass.cpp
Labels: none

[Remarks] BitstreamRemarkParser: Refactor error handling (#156511)
  llvm/lib/Remarks/BitstreamRemarkParser.cpp
  llvm/lib/Remarks/BitstreamRemarkParser.h
Labels: none

[lldb] Fix unordered-map data formatter for const types (#156033)
  lldb/source/Plugins/Language/CPlusPlus/LibCxxUnorderedMap.cpp
Labels: none

Revert "[Remarks] BitstreamRemarkParser: Refactor error handling" (#158647)
  llvm/lib/Remarks/BitstreamRemarkParser.cpp
  llvm/lib/Remarks/BitstreamRemarkParser.h
Labels: none

[PowerPC][NFC] Pre-commit test case: Implement a more efficient memcmp in cases where the length is known (#158367)
  llvm/test/CodeGen/PowerPC/memcmp32_fixsize.ll
  llvm/test/CodeGen/PowerPC/memcmp64_fixsize.ll
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
