Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

Fix: refine and separate tests
  mlir/test/Dialect/Affine/loop-fusion-sibling.mlir
  mlir/test/Dialect/Affine/loop-fusion-vector.mlir
Labels: none

added new line
  clang/test/SemaCXX/PR172001.cpp
Labels: none

Apply suggestions from code review
  llvm/utils/git/code-lint-helper.py
Labels: python

[mlir][Transforms] Legalize nested operations
  mlir/lib/Transforms/Utils/DialectConversion.cpp
  mlir/test/Transforms/test-legalizer.mlir
Labels: none

new line fix
  clang/test/SemaCXX/PR172001.cpp
Labels: none

[CIR] Add support for the ArrayTypeTraitExpr (#171710)
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/test/CIR/CodeGen/cxx-traits.cpp
Labels: none

Update llvm/utils/git/code-lint-helper.py
  llvm/utils/git/code-lint-helper.py
Labels: python

fix rpath issue for libLLVMOffload.so libhsa-runtime64.so (#831)
  offload/liboffload/CMakeLists.txt
Labels: none

Fix
  llvm/utils/git/code-lint-helper.py
Labels: python

[orc-rt] Ensure EH/RTTI=On overrides LLVM opts, applies to unit tests.
  orc-rt/CMakeLists.txt
  orc-rt/unittests/CMakeLists.txt
Labels: none

Split filter function and refactor error handling
  llvm/utils/git/code-lint-helper.py
Labels: python

Attempt to use VPMADD52L/VPMULUDQ instead of VPMULLQ on slow VPMULLQ targets (or when VPMULLQ is unavailable)-7
  llvm/test/CodeGen/X86/slow-pmullq.ll
Labels: none

[clangd] Add --strong-workspace-mode flag
  clang-tools-extra/clangd/ClangdLSPServer.cpp
  clang-tools-extra/clangd/ClangdServer.h
  clang-tools-extra/clangd/GlobalCompilationDatabase.cpp
  clang-tools-extra/clangd/GlobalCompilationDatabase.h
  clang-tools-extra/clangd/tool/Check.cpp
  clang-tools-extra/clangd/tool/ClangdMain.cpp
  clang-tools-extra/clangd/unittests/GlobalCompilationDatabaseTests.cpp
Labels: none

[bazel] Port for e0379b8f91e52e978208887e2f74ea9efda3180d
  utils/bazel/llvm-project-overlay/clang-tools-extra/clang-tidy/BUILD.bazel
Labels: none

[LLVM][Examples] Disable tests on AIX
  llvm/test/Examples/lit.local.cfg
Labels: none

[X86] EltsFromConsecutiveLoads - attempt to match consecutive truncated loads (#172051)
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/any_extend_vector_inreg_of_broadcast_from_memory.ll
  llvm/test/CodeGen/X86/load-partial.ll
  llvm/test/CodeGen/X86/zero_extend_vector_inreg_of_broadcast_from_memory.ll
Labels: none

fixup! [clang-tidy] New option to remove arguments from the command line
  clang-tools-extra/test/clang-tidy/infrastructure/removed-args.cpp
Labels: none

[clang-tidy] New option to remove arguments from the command line
  clang-tools-extra/clang-tidy/ClangTidy.cpp
  clang-tools-extra/clang-tidy/ClangTidyOptions.cpp
  clang-tools-extra/clang-tidy/ClangTidyOptions.h
  clang-tools-extra/clang-tidy/tool/ClangTidyMain.cpp
  clang-tools-extra/clang-tidy/tool/clang-tidy-diff.py
  clang-tools-extra/clang-tidy/tool/run-clang-tidy.py
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/index.rst
  clang-tools-extra/test/clang-tidy/infrastructure/invalid-command-line.cpp
  clang-tools-extra/test/clang-tidy/infrastructure/removed-args.cpp
Labels: python

fixup! [clang-tidy] New option to remove arguments from the command line
  clang-tools-extra/clang-tidy/tool/ClangTidyMain.cpp
Labels: none

added test to avx512f
  clang/test/CodeGen/X86/avx512f-builtins.c
Labels: none

Add tests for AVX512 half-precision cast
  clang/test/CodeGen/X86/avx512fp16-builtins.c
Labels: none

[AArch64] Replace expensive move from wzr by two moves via floating point immediate (#146538) (#11962)
  llvm/lib/Target/AArch64/AArch64Features.td
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/lib/Target/AArch64/AArch64Processors.td
  llvm/test/CodeGen/AArch64/arm64-vector-insertion.ll
  llvm/test/CodeGen/AArch64/vecreduce-fadd.ll
Labels: none

[clang] Fixed a crash when explicitly casting to atomic complex
  clang/docs/ReleaseNotes.rst
  clang/lib/CodeGen/CGExprComplex.cpp
  clang/test/CodeGen/complex.c
Labels: none

[AMDGPU][MC] Disallow op_sel in some VOP3P dot instructions (#100485) (#839)
  llvm/lib/Target/AMDGPU/VOP3PInstructions.td
  llvm/lib/Target/AMDGPU/VOPInstructions.td
  llvm/test/CodeGen/AMDGPU/mai-hazards-gfx90a.mir
  llvm/test/CodeGen/AMDGPU/mai-hazards-gfx942.mir
  llvm/test/MC/AMDGPU/dl-insts.s
  llvm/test/MC/AMDGPU/gfx1030_err.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3p_err.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3p_err.s
  llvm/test/MC/AMDGPU/gfx908_err.s
  llvm/test/MC/AMDGPU/gfx90a_err.s
  llvm/test/MC/Disassembler/AMDGPU/gfx908-dl-insts.txt
  revert_patches.txt
Labels: none

[GitHub][CI] Drop manual build of universal-ctags from abi container (#172096)
  .github/workflows/containers/github-action-ci-tooling/Dockerfile
Labels: misc

Remove custom CXXFLAGS
  .github/workflows/libclang-abi-tests.yml
  .github/workflows/llvm-abi-tests.yml
Labels: misc

[Clang] Add an accessor for 'ASTUnit::CodeGenOpts'
  clang/include/clang/Frontend/ASTUnit.h
Labels: none

[clang][DependencyScanning] Unify initVFS helpers to return OverlayFileSystem (NFC)
  clang/include/clang/DependencyScanning/DependencyScannerImpl.h
  clang/lib/DependencyScanning/DependencyScannerImpl.cpp
Labels: none

[DebugInfo][DWARF] Allow memory locations in DW_AT_call_target expressions (#171183)
  llvm/lib/CodeGen/AsmPrinter/DwarfCompileUnit.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfCompileUnit.h
  llvm/lib/CodeGen/AsmPrinter/DwarfDebug.cpp
  llvm/test/DebugInfo/X86/dwarf-call-target-mem-loc.mir
  llvm/test/DebugInfo/X86/dwarf-callsite-related-attrs-indirect.ll
Labels: none

[DebugInfo][DWARF] Use DW_AT_call_target_clobbered for exprs with volatile regs
  llvm/lib/CodeGen/AsmPrinter/DwarfCompileUnit.cpp
  llvm/test/DebugInfo/X86/dwarf-call-target-clobbered.mir
  llvm/test/DebugInfo/X86/dwarf-call-target-mem-loc.mir
  llvm/test/DebugInfo/X86/dwarf-callsite-related-attrs-indirect.ll
Labels: none

clean up setDistributeLayoutAttr in sg distribution
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUSubgroupDistribute.cpp
Labels: none

[clang][libclang] Fix auto function parameter type reporting
  clang/test/Index/auto-function-param.cpp
  clang/tools/libclang/CIndex.cpp
  clang/tools/libclang/CXType.cpp
Labels: none

Update ConstantFolding.cpp
  llvm/lib/Analysis/ConstantFolding.cpp
Labels: none

[clang][bytecode] Fix pointer comparison to first record member
  clang/lib/AST/ByteCode/Pointer.cpp
  clang/test/AST/ByteCode/cxx20.cpp
Labels: none

llvm/cmake/config.guess: add support for e2k (Elbrus-2000) (#162460)
  llvm/cmake/config.guess
Labels: none

DAG: Make more use of the LibcallImpl overload of getExternalSymbol
  llvm/include/llvm/CodeGen/SelectionDAG.h
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/ARM/ARMISelLowering.cpp
Labels: none

[ADT] Only call reserve on empty containers in append_values (#172109)
  llvm/include/llvm/ADT/STLExtras.h
  llvm/unittests/ADT/STLExtrasTest.cpp
Labels: none

[Clang] [NFC] Add an accessor for `ASTUnit::CodeGenOpts` (#172164)
  clang/include/clang/Frontend/ASTUnit.h
Labels: none

clean up setDistributeLayoutAttr in load optimization pass
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUOptimizeBlockLoads.cpp
Labels: none

DAG: Make more use of the LibcallImpl overload of getExternalSymbol (#172171)
  llvm/include/llvm/CodeGen/SelectionDAG.h
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/ARM/ARMISelLowering.cpp
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
