Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[flang-rt][cuda] Set RT_CUDA_THIN_IO=1 only for PTX object (#200063)
  flang-rt/cmake/modules/AddFlangRTOffload.cmake
Labels: none

[flang][FIRToMemRef] fix stride calculation for complex lowering (#200035)
  flang/lib/Optimizer/Transforms/FIRToMemRef.cpp
  flang/test/Transforms/FIRToMemRef/slice-projected.mlir
Labels: none

worflows/premerge: Remove template expansion
  .github/workflows/premerge.yaml
Labels: misc

Fix formatting issues
  clang/lib/Headers/__clang_spirv_math.h
  offload/test/offloading/normcdfinv_accuracy.cpp
Labels: none

[clang][deps] Disable app extensions during scanning (#200041)
  clang/lib/DependencyScanning/DependencyScannerImpl.cpp
Labels: none

[CodeGenPrepare] Use recomputed split-branch weights. (#199822)
  llvm/lib/CodeGen/CodeGenPrepare.cpp
  llvm/test/CodeGen/AArch64/fast-isel-branch-cond-split.ll
  llvm/test/Transforms/CodeGenPrepare/X86/split-branch-cond-weights.ll
Labels: none

[Object] Add missing BBAddrMap.def to module map (#199961)
  llvm/include/module.modulemap
Labels: none

Fix EINVAL handling in strto*/wcsto* functions.
  libc/src/inttypes/CMakeLists.txt
  libc/src/inttypes/strtoimax.cpp
  libc/src/inttypes/strtoumax.cpp
  libc/src/stdlib/CMakeLists.txt
  libc/src/stdlib/atoi.cpp
  libc/src/stdlib/atol.cpp
  libc/src/stdlib/atoll.cpp
  libc/src/stdlib/str_to_util.h
  libc/src/stdlib/strtol.cpp
  libc/src/stdlib/strtol_l.cpp
  libc/src/stdlib/strtoll.cpp
  libc/src/stdlib/strtoll_l.cpp
  libc/src/stdlib/strtoul.cpp
  libc/src/stdlib/strtoul_l.cpp
  libc/src/stdlib/strtoull.cpp
  libc/src/stdlib/strtoull_l.cpp
  libc/src/wchar/CMakeLists.txt
  libc/src/wchar/wcstol.cpp
  libc/src/wchar/wcstoll.cpp
  libc/src/wchar/wcstoul.cpp
  libc/src/wchar/wcstoull.cpp
  libc/test/src/stdlib/CMakeLists.txt
  libc/test/src/stdlib/StrtolTest.h
  libc/test/src/stdlib/strtoint32_test.cpp
  libc/test/src/stdlib/strtoint64_test.cpp
  libc/test/src/wchar/WcstolTest.h
Labels: none

[VectorCombine] Fold deinterleave2 with smaller effective element size (#192121)
  llvm/lib/Transforms/Vectorize/VectorCombine.cpp
  llvm/test/Transforms/VectorCombine/RISCV/vector-deinterleave2.ll
Labels: none

[llvm-readobj][test] Add JSON test for unknown e_machine
  llvm/test/tools/llvm-readobj/ELF/file-headers.test
Labels: none

[Support][ScopedPrinter] Emit valid JSON in printHex<ulittle16_t>
  llvm/include/llvm/Support/ScopedPrinter.h
Labels: none

Various fixes from circt dialect work
  mlir/tools/mlir-tblgen/AttrOrTypeCAPIGen.cpp
Labels: none

[CIR] Implement destruction of TLS and static global references
  clang/lib/CIR/CodeGen/CIRGenExpr.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/Dialect/Transforms/LoweringPrepare.cpp
  clang/test/CIR/CodeGen/global-temp-dtor.cpp
  clang/test/CIR/CodeGen/self-ref-temporaries.cpp
  clang/test/CIR/CodeGenCXX/global-refs.cpp
Labels: none

Fix bazel build
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none

[Passes] Fix IR tracker hashInstruction docs and hash
  llvm/lib/Passes/IRTrackerInstrumentation.cpp
  llvm/test/Other/ir-tracker-db.ll
Labels: none

[CIR] Collapse updateArgAttrs to one pass
  clang/lib/CIR/Dialect/Transforms/TargetLowering/CIRABIRewriteContext.cpp
  clang/test/CIR/Transforms/abi-lowering/extend-after-ignore.cir
  clang/test/CIR/Transforms/abi-lowering/extend-signed-arg.cir
Labels: none

[lldb][Darwin] Read Mach-O binaries out of memory more efficiently
  lldb/source/Plugins/DynamicLoader/MacOSX-DYLD/DynamicLoaderDarwin.cpp
Labels: none

[LifetimeSafety] Propagate inner origins through std::move and related casts (#199600)
  clang/include/clang/Analysis/Analyses/LifetimeSafety/LifetimeAnnotations.h
  clang/lib/Analysis/LifetimeSafety/FactsGenerator.cpp
  clang/lib/Analysis/LifetimeSafety/LifetimeAnnotations.cpp
  clang/test/Sema/Inputs/lifetime-analysis.h
  clang/test/Sema/warn-lifetime-safety.cpp
Labels: none

[CIR] DataMemberAttr: leaf index and derived_data_member chain
  clang/include/clang/CIR/Dialect/IR/CIRAttrs.td
  clang/lib/CIR/CodeGen/CIRGenBuilder.h
  clang/lib/CIR/CodeGen/CIRGenExprConstant.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
  clang/lib/CIR/Dialect/Transforms/TargetLowering/LowerItaniumCXXABI.cpp
  clang/test/CIR/CodeGen/pointer-to-data-member.cpp
  clang/test/CIR/IR/data-member-attr.cir
  clang/test/CIR/IR/invalid-data-member.cir
Labels: none

[CIR] Add missing DataMemberAttr verifier tests
  clang/test/CIR/IR/data-member-attr.cir
  clang/test/CIR/IR/invalid-data-member.cir
Labels: none

[CIR] Lower member-pointer casts via CXXABI
  clang/lib/CIR/CodeGen/CIRGenCXXABI.h
  clang/lib/CIR/CodeGen/CIRGenExprConstant.cpp
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/lib/CIR/CodeGen/CIRGenItaniumCXXABI.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
  clang/test/CIR/CodeGen/pointer-to-data-member-conversions.cpp
Labels: none

[CIR] DataMemberAttr: leaf index and derived_data_member chain
  clang/include/clang/CIR/Dialect/IR/CIRAttrs.td
  clang/lib/CIR/CodeGen/CIRGenBuilder.h
  clang/lib/CIR/CodeGen/CIRGenExprConstant.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
  clang/lib/CIR/Dialect/Transforms/TargetLowering/LowerItaniumCXXABI.cpp
  clang/test/CIR/CodeGen/pointer-to-data-member.cpp
  clang/test/CIR/IR/data-member-attr.cir
  clang/test/CIR/IR/invalid-data-member.cir
Labels: none

[CIR] Address review comments on member-pointer cast lowering
  clang/lib/CIR/CodeGen/CIRGenExprConstant.cpp
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/lib/CIR/CodeGen/CIRGenItaniumCXXABI.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
  clang/test/CIR/CodeGen/pointer-to-data-member-conversions.cpp
  clang/test/CIR/IR/invalid-data-member.cir
Labels: none

[NFC] Rename (F/I)(Map/Replace) to (Func/Inst)(Map/Replace)
  llvm/lib/Target/DirectX/DirectXIRPasses/DXILDebugInfo.cpp
  llvm/lib/Target/DirectX/DirectXIRPasses/DXILDebugInfo.h
Labels: none

add missing header change.
  lldb/source/Plugins/DynamicLoader/MacOSX-DYLD/DynamicLoaderDarwin.h
Labels: none

fixup! Address review comments and revert changes on tests
  llvm/lib/Target/RISCV/RISCVSchedSiFive8.td
  llvm/test/tools/llvm-mca/RISCV/SiFiveP400/rvv/zvbb.s
  llvm/test/tools/llvm-mca/RISCV/SiFiveP400/rvv/zvkg.s
  llvm/test/tools/llvm-mca/RISCV/SiFiveP400/rvv/zvkned.s
  llvm/test/tools/llvm-mca/RISCV/SiFiveP400/rvv/zvknhb.s
  llvm/test/tools/llvm-mca/RISCV/SiFiveP400/rvv/zvksed.s
  llvm/test/tools/llvm-mca/RISCV/SiFiveP400/rvv/zvksh.s
Labels: none

ws fix
  lldb/source/Plugins/DynamicLoader/MacOSX-DYLD/DynamicLoaderDarwin.cpp
Labels: none

[MemCpyOpt] Keep volatile memset before memcpy
  llvm/lib/Transforms/Scalar/MemCpyOptimizer.cpp
  llvm/test/Transforms/MemCpyOpt/memset-memcpy-redundant-memset.ll
Labels: none

[clang][OpenMP] Reduce AST dump tests for 'target' clause
  clang/test/AST/ast-dump-openmp-target-data.c
  clang/test/AST/ast-dump-openmp-target-enter-data.c
  clang/test/AST/ast-dump-openmp-target-exit-data.c
  clang/test/AST/ast-dump-openmp-target-parallel-for-simd.c
  clang/test/AST/ast-dump-openmp-target.c
Labels: none

More bytecode fixes.
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/AST/ByteCode/Interp.cpp
  clang/lib/AST/ByteCode/Pointer.h
  clang/test/AST/ByteCode/placement-new.cpp
Labels: none

[lldb][Darwin] Read Mach-O binaries out of memory more efficiently (#200072)
  lldb/source/Plugins/DynamicLoader/MacOSX-DYLD/DynamicLoaderDarwin.cpp
  lldb/source/Plugins/DynamicLoader/MacOSX-DYLD/DynamicLoaderDarwin.h
Labels: none

[CIR] NFC: comment on trivialAssignment inlining path
  clang/lib/CIR/CodeGen/CIRGenExprCXX.cpp
Labels: none

Update clang/lib/AST/ByteCode/Compiler.h
  clang/lib/AST/ByteCode/Compiler.h
Labels: none

[libc][malloc] add a flat TLSF allocator for baremetal environment
  libc/cmake/modules/LLVMLibCCompileOptionRules.cmake
  libc/config/config.json
  libc/src/__support/CMakeLists.txt
  libc/src/__support/flat_tlsf/CMakeLists.txt
  libc/src/__support/flat_tlsf/binning.h
  libc/src/__support/flat_tlsf/bit_utils.h
  libc/src/__support/flat_tlsf/bitfield.h
  libc/src/__support/flat_tlsf/chunk.h
  libc/src/__support/flat_tlsf/common.h
  libc/src/__support/flat_tlsf/global.cpp
  libc/src/__support/flat_tlsf/global.h
  libc/src/__support/flat_tlsf/heap.h
  libc/src/__support/flat_tlsf/node.h
  libc/src/__support/flat_tlsf/tag.h
  libc/src/__support/heap.cpp
  libc/src/__support/heap.h
  libc/src/stdlib/baremetal/CMakeLists.txt
  libc/src/stdlib/baremetal/aligned_alloc.cpp
  libc/src/stdlib/baremetal/calloc.cpp
  libc/src/stdlib/baremetal/free.cpp
  libc/src/stdlib/baremetal/malloc.cpp
  libc/src/stdlib/baremetal/realloc.cpp
  libc/test/src/__support/CMakeLists.txt
  libc/test/src/__support/flat_tlsf/CMakeLists.txt
  libc/test/src/__support/flat_tlsf/binning_test.cpp
  libc/test/src/__support/flat_tlsf/bitfield_test.cpp
  libc/test/src/__support/flat_tlsf/chunk_test.cpp
  libc/test/src/__support/flat_tlsf/global_test.cpp
  libc/test/src/__support/flat_tlsf/heap_test.cpp
  libc/test/src/__support/flat_tlsf/node_test.cpp
  libc/test/src/__support/flat_tlsf/tag_test.cpp
Labels: none

Updates based on reviewer feedback
  llvm/lib/Target/X86/MCTargetDesc/X86MCLFIRewriter.cpp
  llvm/test/MC/X86/LFI/syscall.s
  llvm/test/MC/X86/LFI/thread-pointer.s
Labels: none

[DirectX] Add an "offset" operand to llvm.dbg.value (#197478)
  llvm/lib/Target/DirectX/DXILWriter/DXILBitcodeWriter.cpp
  llvm/lib/Target/DirectX/DXILWriter/DXILValueEnumerator.cpp
  llvm/lib/Target/DirectX/DXILWriter/DXILValueEnumerator.h
  llvm/lib/Target/DirectX/DirectXIRPasses/CMakeLists.txt
  llvm/lib/Target/DirectX/DirectXIRPasses/DXILDebugInfo.cpp
  llvm/lib/Target/DirectX/DirectXIRPasses/DXILDebugInfo.h
  llvm/test/tools/dxil-dis/dbg-value.ll
  llvm/test/tools/dxil-dis/debug-info.ll
Labels: none

Add tests and update logic to match tool output
  clang/test/lit.cfg.py
  clang/test/utils/reduce-clang-crash/reduce-clang-crash.cpp
  clang/test/utils/reduce-clang-crash/reduce-clang-crash.ll
  clang/utils/reduce-clang-crash.py
Labels: python

remove goto
  libc/src/__support/flat_tlsf/heap.h
Labels: none

remove rogue semi-colon!
  clang/lib/CIR/CodeGen/CIRGenCoroutine.cpp
Labels: none

[compiler-rt][builtins] introduce libc math routines
  .github/workflows/compiler-rt-libc-builtins-tests.yml
  compiler-rt/lib/builtins/CMakeLists.txt
  compiler-rt/lib/builtins/addtf3.cpp
  compiler-rt/lib/builtins/fp_libc_config.h
  libc/shared/builtins.h
  libc/shared/builtins/addtf3.h
  libc/src/__support/CMakeLists.txt
  libc/src/__support/FPUtil/dyadic_float.h
  libc/src/__support/builtins/CMakeLists.txt
  libc/src/__support/builtins/addtf3.h
Labels: misc

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
