Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[mlir][dataflow] Add IntegerRangeAnalysis convergence test
  mlir/test/Dialect/Arith/int-range-analysis-convergence.mlir
Labels: none

cleanup
  mlir/include/mlir/Analysis/DataFlowFramework.h
  mlir/lib/Analysis/DataFlow/SparseAnalysis.cpp
Labels: none

increase kIntegerRangeWideningBudget
  mlir/lib/Analysis/DataFlow/IntegerRangeAnalysis.cpp
Labels: none

Format
  llvm/unittests/CodeGen/RematerializerTest.cpp
Labels: none

asdf
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/AST/ByteCode/Interp.h
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/lib/AST/ByteCode/Opcodes.td
  clang/test/AST/ByteCode/builtin-object-size.cpp
Labels: none

[lldb] Override UpdateBreakpointSites in ProcessGDBRemote to use MultiBreakpoint (#192988)
  lldb/include/lldb/Utility/GDBRemote.h
  lldb/packages/Python/lldbsuite/test/lldbreverse.py
  lldb/source/Plugins/Process/gdb-remote/GDBRemoteClientBase.cpp
  lldb/source/Plugins/Process/gdb-remote/GDBRemoteClientBase.h
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.cpp
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.h
  lldb/source/Target/Target.cpp
  lldb/source/Utility/GDBRemote.cpp
  lldb/test/API/functionalities/breakpoint/delayed_breakpoints/TestDelayedBreakpoint.py
Labels: python

Make initializeAMDGPUTarget private
  llvm/unittests/Target/AMDGPU/AMDGPUUnitTests.cpp
  llvm/unittests/Target/AMDGPU/AMDGPUUnitTests.h
Labels: none

add comment for follow-up PR
  clang/test/CodeGen/ubsan-aggregate-null-align.c
Labels: none

[clang] Make lifetime annotations non type attributes
  clang/include/clang/Basic/Attr.td
  clang/lib/AST/TypePrinter.cpp
Labels: none

[clang][X86] Always emit trap for noreturn functions with -fms-kernel
  clang/lib/CodeGen/BackendUtil.cpp
  clang/test/CodeGen/MSKernel/noreturn.c
Labels: none

Updates
  libcxx/lib/abi/arm64-apple-darwin.libcxxabi.v1.stable.exceptions.nonew.abilist
Labels: none

[Flang][Driver] Add per-target search path for modules
  clang/include/clang/Driver/ToolChain.h
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChain.cpp
  clang/lib/Driver/ToolChains/Flang.cpp
  flang/include/flang/Frontend/CompilerInvocation.h
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/test/Driver/Inputs/ieee_arithmetic.mod
  flang/test/Driver/Inputs/iso_fortran_env.mod
  flang/test/Driver/Inputs/module-dir-one/basictestmoduleone.mod
  flang/test/Driver/Inputs/resource_dir_with_per_target_subdir/finclude/flang/x86_64-unknown-linux-gnu/.keep
  flang/test/Driver/intrinsic-module-path_per_target.f90
  flang/test/Driver/use-module.f90
  flang/tools/bbc/bbc.cpp
Labels: none

[EmbeddedJIT] Refine design docs: fix bugs, opaque ptr, error handling, cleanup
  jit_design_doc/CLANG_ATTR_DESIGN.md
  jit_design_doc/EJIT_X86_MINI_C_API.md
  jit_design_doc/PASS1_EJitRegisterBitcode.md
  jit_design_doc/PASS2_EJitRegisterPeriod.md
  jit_design_doc/PASS3_EJitWrapperGen.md
  jit_design_doc/PASS4_EJitPeriodHandler.md
  jit_design_doc/PASS5_EJitAotModulePass.md
  jit_design_doc/PASS6_EJitStructFieldPass.md
  jit_design_doc/PASS7_EJitRuntime_OrcJITLink.md
  jit_design_doc/PLAN4.md
  jit_design_doc/SPEC4.md
Labels: none

tweak
  flang/lib/Optimizer/Transforms/FIRToMemRef.cpp
Labels: none

Update option handling and testing.
  clang/include/clang/Options/Options.td
  clang/lib/Driver/ToolChains/Arch/PPC.cpp
  clang/test/CodeGen/PowerPC/aix-ptr-glue.c
  clang/test/Driver/ppc-inline-glue.c
  clang/test/Driver/ppc-use-ptr-glue.c
Labels: none

Update comment
  mlir/test/Dialect/MemRef/fold-memref-alias-ops.mlir
Labels: none

Strip stale crel sections
  bolt/lib/Rewrite/RewriteInstance.cpp
  bolt/test/crel-relocs.test
Labels: none

[offload] update README for Tablegen
  offload/liboffload/API/README.md
Labels: none

change wording
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaLifetimeSafety.h
  clang/test/Sema/warn-lifetime-safety-lifetimebound.cpp
Labels: none

[EmbeddedJIT] Refine design docs: data flow, ordering, constraints
  jit_design_doc/CLANG_ATTR_DESIGN.md
  jit_design_doc/PASS1_EJitRegisterBitcode.md
  jit_design_doc/PASS3_EJitWrapperGen.md
  jit_design_doc/PASS4_EJitPeriodHandler.md
  jit_design_doc/PASS7_EJitRuntime_OrcJITLink.md
  jit_design_doc/SPEC4.md
Labels: none

Fix uintended whitspace change.
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
Labels: none

[FuncSpec] Relax restrictions on code size growth
  llvm/lib/Transforms/IPO/FunctionSpecialization.cpp
  llvm/test/Transforms/FunctionSpecialization/recursive-penalty.ll
Labels: none

newline
  clang/include/clang/Basic/DiagnosticGroups.td
Labels: none

[lld][WebAssembly] Allow defining of arbitrary symbols types in LTO objects
  lld/test/wasm/lto/inline-asm-symbols.ll
  lld/test/wasm/lto/signature-mismatch.ll
  lld/wasm/SymbolTable.cpp
Labels: none

Add apparently missing include
  llvm/unittests/CodeGen/RematerializerTest.cpp
Labels: none

[libc] Disable -march=native in CI to fix sccache poisoning
  .github/workflows/libc-fullbuild-tests.yml
  .github/workflows/libc-overlay-tests.yml
  libc/cmake/modules/LLVMLibCCheckCpuFeatures.cmake
Labels: misc

[PowerPC] Add _Float16 datatype support for Power8+ with -mfloat16 flag
  clang/include/clang/Options/Options.td
  clang/lib/Basic/Targets/PPC.cpp
  clang/lib/Basic/Targets/PPC.h
  clang/lib/Driver/ToolChains/Arch/PPC.cpp
  clang/test/CodeGen/PowerPC/half-float16-ppc.c
  llvm/lib/Target/PowerPC/GISel/PPCRegisterBankInfo.cpp
  llvm/lib/Target/PowerPC/PPC.td
  llvm/lib/Target/PowerPC/PPCCallingConv.td
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
  llvm/lib/Target/PowerPC/PPCISelLowering.h
  llvm/lib/Target/PowerPC/PPCInstrVSX.td
  llvm/lib/Target/PowerPC/PPCRegisterInfo.td
  llvm/test/CodeGen/PowerPC/f16-aix-psa.ll
  llvm/test/CodeGen/PowerPC/half-float16-ppc.ll
  llvm/test/CodeGen/PowerPC/shrink-wrap.mir
Labels: none

[EmbeddedJIT] Fix design doc inaccuracies and add lifecycle notes
  jit_design_doc/PASS2_EJitRegisterPeriod.md
  jit_design_doc/PASS5_EJitAotModulePass.md
  jit_design_doc/PASS7_EJitRuntime_OrcJITLink.md
  jit_design_doc/PLAN4.md
Labels: none

Update flang/docs/HLFIRTransition.md
  flang/docs/HLFIRTransition.md
Labels: none

Revert "[lldb] Do not refcount breakpoints in lldb-server (#195858)"
  lldb/include/lldb/Host/common/NativeProcessProtocol.h
  lldb/source/Host/common/NativeProcessProtocol.cpp
  lldb/test/API/functionalities/multi-breakpoint/TestMultiBreakpoint.py
Labels: python

Fix libcxx/src/stacktrace/images.h, don't use std::array
  libcxx/src/stacktrace/images.h
Labels: none

Update windows impl, use BOOL and LPDWORD and other windows-isms
  libcxx/src/stacktrace/windows_impl.cpp
Labels: none

[MLIR][Affine] Reject affine-loop-unroll-jam on dependence-violating nests
  mlir/lib/Dialect/Affine/Utils/LoopUtils.cpp
  mlir/test/Dialect/Affine/unroll-jam.mlir
Labels: none

Fix some names
  libcxx/include/__stacktrace/basic_stacktrace.h
Labels: none

[test][msan] Update rss_limit for release_origin.c
  compiler-rt/test/msan/release_origin.c
Labels: none

address comments
  llvm/lib/IR/LLVMContextImpl.h
Labels: none

added test cases to their respective files
  libcxx/test/std/time/time.cal/time.cal.ym/time.cal.ym.members/plus_minus_equal_month.pass.cpp
  libcxx/test/std/time/time.cal/time.cal.ym/time.cal.ym.members/plus_minus_equal_year.pass.cpp
  libcxx/test/std/time/time.cal/time.cal.ym/time.cal.ym.nonmembers/minus.pass.cpp
  libcxx/test/std/time/time.cal/time.cal.ym/time.cal.ym.nonmembers/plus.pass.cpp
  libcxx/test/std/time/time.cal/time.cal.ymd/time.cal.ymd.members/plus_minus_equal_month.pass.cpp
  libcxx/test/std/time/time.cal/time.cal.ymd/time.cal.ymd.members/plus_minus_equal_year.pass.cpp
  libcxx/test/std/time/time.cal/time.cal.ymd/time.cal.ymd.nonmembers/minus.pass.cpp
  libcxx/test/std/time/time.cal/time.cal.ymd/time.cal.ymd.nonmembers/plus.pass.cpp
Labels: none

[clang][deps] Don't treat the 'make' output format specially
  clang/include/clang/DependencyScanning/DependencyScannerImpl.h
  clang/include/clang/DependencyScanning/ModuleDepCollector.h
  clang/include/clang/Tooling/DependencyScanningTool.h
  clang/lib/DependencyScanning/DependencyScannerImpl.cpp
  clang/lib/DependencyScanning/ModuleDepCollector.cpp
  clang/lib/Tooling/DependencyScanningTool.cpp
  clang/test/ClangScanDeps/modules-cc1.cpp
  clang/test/ClangScanDeps/modules-has-include-umbrella-header.c
  clang/tools/clang-scan-deps/ClangScanDeps.cpp
  clang/unittests/Tooling/DependencyScannerTest.cpp
Labels: none

clang-format
  clang/lib/Tooling/DependencyScanningTool.cpp
Labels: none

Rebase fixes
  clang/include/clang/DependencyScanning/DependencyScannerImpl.h
  clang/lib/DependencyScanning/DependencyScannerImpl.cpp
  clang/lib/Tooling/DependencyScanningTool.cpp
Labels: none
