Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[libclang/python] Remove compatibility workaround for briefComment (#138135)
  clang/bindings/python/clang/cindex.py
Labels: python

[CIR] Upstream cir.call with scalar arguments (#136810)
  clang/include/clang/CIR/Dialect/Builder/CIRBaseBuilder.h
  clang/include/clang/CIR/Dialect/IR/CIRDialect.h
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/include/clang/CIR/Interfaces/CIROpInterfaces.td
  clang/include/clang/CIR/MissingFeatures.h
  clang/lib/CIR/CodeGen/CIRGenCall.cpp
  clang/lib/CIR/CodeGen/CIRGenCall.h
  clang/lib/CIR/CodeGen/CIRGenExpr.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.h
  clang/lib/CIR/CodeGen/CIRGenFunctionInfo.h
  clang/lib/CIR/CodeGen/CIRGenTypes.cpp
  clang/lib/CIR/CodeGen/CIRGenTypes.h
  clang/lib/CIR/CodeGen/TargetInfo.cpp
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/test/CIR/CodeGen/call.cpp
  clang/test/CIR/IR/call.cir
  clang/test/CIR/IR/invalid-call.cir
Labels: none

Revert "[lldb] Change synthetic symbol names to have file address (#137512)"
  lldb/source/Symbol/Symbol.cpp
  lldb/test/Shell/ObjectFile/ELF/eh_frame-symbols.yaml
  lldb/test/Shell/SymbolFile/Breakpad/symtab-sorted-by-size.test
  lldb/test/Shell/SymbolFile/Breakpad/symtab.test
Labels: none

[NFC][regalloc] Fix typo in llvm/lib/CodeGen/AllocationOrder.h.
  llvm/lib/CodeGen/AllocationOrder.h
Labels: none

[flang] Fix #else with trailing text (#138045)
  flang/lib/Parser/preprocessor.cpp
  flang/test/Preprocessing/pp048.F
Labels: none

[clang][NFC] Convert `Sema::NonTagKind` to scoped enum
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/TreeTransform.h
Labels: none

[MemProf] Add v4 which contains CalleeGuids to CallSiteInfo. (#137394)
  llvm/include/llvm/ProfileData/InstrProfReader.h
  llvm/include/llvm/ProfileData/MemProf.h
  llvm/include/llvm/ProfileData/MemProfYAML.h
  llvm/lib/ProfileData/IndexedMemProfData.cpp
  llvm/lib/ProfileData/InstrProfReader.cpp
  llvm/lib/ProfileData/MemProf.cpp
  llvm/test/tools/llvm-profdata/memprof-yaml.test
  llvm/tools/llvm-profdata/llvm-profdata.cpp
  llvm/unittests/ProfileData/MemProfTest.cpp
Labels: none

[libclang/python] Add tests for equality operators. (#138132)
  clang/bindings/python/tests/cindex/test_cursor.py
  clang/bindings/python/tests/cindex/test_location.py
  clang/bindings/python/tests/cindex/test_source_range.py
Labels: python

[clang][NFC] Convert `Sema::PointerAuthDiscArgKind` to scoped enum
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaChecking.cpp
  clang/lib/Sema/SemaType.cpp
Labels: none

[clang][NFC] Convert `Sema::NonTrivialCUnionContext` to scoped enum
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/Sema.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaType.cpp
Labels: none

[clang][NFC] Convert `Sema::AvailabilityMergeKind` to scoped enum
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
Labels: none

default clause replaced by otherwise clause for metadirective in OpenMP 5.2 (#128640)
  clang/docs/OpenMPSupport.rst
  clang/include/clang/Basic/DiagnosticParseKinds.td
  clang/lib/Parse/ParseOpenMP.cpp
  clang/test/OpenMP/metadirective_ast_print.c
  clang/test/OpenMP/metadirective_default.cpp
  clang/test/OpenMP/metadirective_messages.cpp
  clang/test/OpenMP/metadirective_otherwise.cpp
Labels: none

[flang] update LIT test for AIX (NFC) (#138228)
  flang/test/Lower/volatile-openmp.f90
Labels: none

[DirectX] Make DXILOpLowering responsible for cleaning up dead intrinsics (#138199)
  llvm/lib/Target/DirectX/DXILFinalizeLinkage.cpp
  llvm/lib/Target/DirectX/DXILOpLowering.cpp
  llvm/lib/Target/DirectX/DirectXTargetMachine.cpp
  llvm/test/CodeGen/DirectX/llc-pipeline.ll
Labels: none

[clang][NFC] Convert `Sema::OffsetOfKind` to scoped enum
  clang/include/clang/Parse/Parser.h
  clang/include/clang/Parse/RAIIObjectsForParser.h
  clang/include/clang/Sema/Sema.h
  clang/lib/Parse/ParseExpr.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/lib/Sema/SemaTemplate.cpp
Labels: none

Revert "[clang][NFC] Convert `Sema::TryCaptureKind` to scoped enum"
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaExprCXX.cpp
  clang/lib/Sema/SemaLambda.cpp
  clang/lib/Sema/SemaOpenMP.cpp
  clang/lib/Sema/TreeTransform.h
Labels: none

[clang][NFC] Reland "Convert `Sema::TryCaptureKind` to scoped enum"
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaExprCXX.cpp
  clang/lib/Sema/SemaLambda.cpp
  clang/lib/Sema/SemaOpenMP.cpp
  clang/lib/Sema/TreeTransform.h
Labels: none

[Github][CI] Rename New Premerge Jobs (#138024)
  .ci/metrics/metrics.py
  .github/workflows/premerge.yaml
Labels: python, misc

[clang][NFC] Convert `Sema::TrivialABIHandling` to scoped enum
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/lib/Sema/SemaType.cpp
Labels: none

[mlir] Ensure fmaximum/fminimum is defined in mlir/Dialect/LLVMIR/LLVMEnums.td (#138198)
  mlir/include/mlir/Dialect/LLVMIR/LLVMEnums.td
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/test/Target/LLVMIR/Import/instructions.ll
  mlir/test/Target/LLVMIR/llvmir.mlir
Labels: none

[clang][NFC] Convert `Sema::TryCaptureKind` to scoped enum
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaExprCXX.cpp
  clang/lib/Sema/SemaLambda.cpp
  clang/lib/Sema/SemaOpenMP.cpp
  clang/lib/Sema/TreeTransform.h
Labels: none

[CIR] Refactor IntType constraints (#138106)
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/include/clang/CIR/Dialect/IR/CIRTypeConstraints.td
  clang/include/clang/CIR/Dialect/IR/CIRTypes.h
  clang/include/clang/CIR/Dialect/IR/CIRTypes.td
  clang/include/clang/CIR/Dialect/IR/CMakeLists.txt
  clang/lib/CIR/Dialect/IR/CIRTypes.cpp
  clang/lib/CIR/Dialect/IR/CMakeLists.txt
Labels: none

[Target] Use llvm::max_element (NFC) (#137926)
  llvm/lib/Target/Mips/MipsDelaySlotFiller.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyISelLowering.cpp
Labels: none

[CIR] Refactor floating point type constraints (#138112)
  clang/include/clang/CIR/Dialect/IR/CIRTypeConstraints.td
  clang/include/clang/CIR/Dialect/IR/CIRTypes.h
  clang/include/clang/CIR/Dialect/IR/CIRTypes.td
  clang/lib/CIR/Dialect/IR/CIRTypes.cpp
  clang/test/CIR/IR/invalid-long-double.cir
Labels: none

[clang] Add test for QualTypes in template class NNS (#137804)
  clang/unittests/Tooling/QualTypeNamesTest.cpp
Labels: none

[Clang] incorrect assertion when checking template template parameter of a lambda (#138121)
  clang/docs/ReleaseNotes.rst
  clang/lib/AST/DeclCXX.cpp
  clang/test/SemaCXX/lambda-unevaluated.cpp
Labels: none

[IR] Do not store Function inside BlockAddress (#137958)
  clang/lib/CodeGen/CodeGenFunction.cpp
  llvm/include/llvm/IR/Constants.h
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/lib/CodeGen/AsmPrinter/WinCFGuard.cpp
  llvm/lib/IR/Constants.cpp
  llvm/lib/IR/Function.cpp
  llvm/lib/IR/LLVMContextImpl.h
  llvm/lib/Transforms/IPO/Attributor.cpp
  llvm/lib/Transforms/IPO/GlobalOpt.cpp
  llvm/lib/Transforms/IPO/LowerTypeTests.cpp
  llvm/lib/Transforms/IPO/OpenMPOpt.cpp
  llvm/lib/Transforms/IPO/PartialInlining.cpp
  llvm/lib/Transforms/IPO/SCCP.cpp
  llvm/test/tools/llvm-reduce/reduce-functions-blockaddress-wrong-function.ll
  llvm/test/tools/llvm-reduce/reduce-functions-blockaddress.ll
  llvm/tools/llvm-reduce/deltas/ReduceFunctions.cpp
  llvm/tools/llvm-reduce/deltas/Utils.cpp
  llvm/tools/llvm-reduce/deltas/Utils.h
  mlir/test/Target/LLVMIR/Import/blockaddress.ll
Labels: none

[Clang][Cygwin] Fix symbol visibility definition (#138118)
  clang/include/clang/Support/Compiler.h
Labels: none

[clang][NFC] Convert `Sema::AllowFoldKind` to scoped enum
  clang/include/clang/Sema/Sema.h
  clang/lib/Parse/ParseOpenMP.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaExprCXX.cpp
  clang/lib/Sema/SemaInit.cpp
  clang/lib/Sema/SemaOpenMP.cpp
  clang/lib/Sema/SemaStmt.cpp
  clang/lib/Sema/SemaType.cpp
Labels: none

[IR] Require that global value initializers are sized (#137358)
  llvm/docs/LangRef.rst
  llvm/lib/IR/Verifier.cpp
  llvm/test/Verifier/global-initializer-sized.ll
  llvm/test/Verifier/scalable-global-vars.ll
Labels: none

[clang][NFC] Convert `Sema::ArithConvKind` to scoped enum
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaChecking.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaExprCXX.cpp
Labels: none

[LLD][COFF] add __{data,bss}_{start,end}__ symbols for Cygwin support (#136180)
  lld/COFF/Driver.cpp
  lld/COFF/Writer.cpp
  lld/test/COFF/cygwin-symbols.s
Labels: none

[Clang][Cygwin] Disable shared libs on Cygwin by default (#138119)
  clang/tools/CMakeLists.txt
  clang/tools/libclang/CMakeLists.txt
Labels: none

llvm-reduce: Fix trailing whitespace in command guide (#138240)
  llvm/docs/CommandGuide/llvm-reduce.rst
Labels: none

[LLVM][Cygwin] Fix Signals compatibility with Cygwin API (#138117)
  llvm/lib/Support/Unix/Signals.inc
Labels: none

[clang][NFC] Convert `Sema::VarArgKind` to scoped enum
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaChecking.cpp
  clang/lib/Sema/SemaExpr.cpp
Labels: none

[Clang][Cygwin] Remove erroneous _WIN32 define and clean up Cygwin code (#138120)
  clang/tools/libclang/CIndexer.cpp
Labels: none

[llvm] X86_64 CC for UEFI (#137905)
  llvm/lib/Target/X86/X86CallingConv.td
  llvm/lib/Target/X86/X86RegisterInfo.cpp
  llvm/lib/Target/X86/X86RegisterInfo.h
  llvm/lib/Target/X86/X86Subtarget.h
Labels: none

[IR] Relax convergence requirements on call (#135794)
  llvm/include/llvm/IR/GenericConvergenceVerifierImpl.h
  llvm/test/Assembler/convergence-control.ll
  llvm/test/Transforms/ADCE/convergence.ll
  llvm/test/Transforms/BDCE/convergence.ll
  llvm/test/Transforms/FunctionAttrs/convergent.ll
  llvm/test/Verifier/convergencectrl-invalid.ll
Labels: none

[StackSlotColoring] Fix issue where colors for a StackID are dropped (#138140)
  llvm/lib/CodeGen/StackSlotColoring.cpp
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
