Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

Removed GetTypeName switch default
  lldb/source/Plugins/TypeSystem/Fortran/TypeSystemFortran.cpp
Labels: none

[DAG] Don't constant fold opaque constants in visitMULO (#224494)
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/test/CodeGen/X86/combine-mulo.ll
Labels: none

comment
  llvm/test/CodeGen/SPIRV/atomicrmw-storage-class-semantics.ll
Labels: none

[lldb][Fortran] Added support for base types to DWARFASTParserFortran, tests for DWARFASTParserFortran and a method to get the parser from TypeSystemFortran
  lldb/source/Plugins/SymbolFile/DWARF/DWARFASTParserFortran.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DWARFASTParserFortran.h
  lldb/source/Plugins/TypeSystem/Fortran/TypeSystemFortran.cpp
  lldb/source/Plugins/TypeSystem/Fortran/TypeSystemFortran.h
  lldb/unittests/SymbolFile/DWARF/CMakeLists.txt
  lldb/unittests/SymbolFile/DWARF/DWARFASTParserFortranTests.cpp
Labels: none

Formatting.
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaOverload.cpp
Labels: none

clang-format
  bug-report-packed-boolean-vectors-big-endian.md
  clang/lib/Sema/SemaDeclAttr.cpp
Labels: none

[GVNSink] Don't sink pseudo probes
  llvm/lib/Transforms/Scalar/GVNSink.cpp
  llvm/test/Transforms/GVNSink/pseudo-probe.ll
Labels: none

[MLIR][Parser] Fix result numbers not being allowed in switch statements (#224581)
  mlir/lib/Dialect/ControlFlow/IR/ControlFlowOps.cpp
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/test/Dialect/ControlFlow/ops.mlir
  mlir/test/Dialect/LLVMIR/roundtrip.mlir
Labels: none

[offload-arch] Report gfx1250-strict to match rocminfo (#224480)
  clang/tools/offload-arch/AMDGPUArchByKFD.cpp
  clang/unittests/offload-arch/OffloadArchTest.cpp
Labels: none

[libsycl] Add context to exception's throw
  libsycl/src/detail/program_manager.cpp
  libsycl/src/detail/queue_impl.cpp
  libsycl/src/handler.cpp
  libsycl/src/usm_functions.cpp
  libsycl/unittests/common/unittests_helper.hpp
  libsycl/unittests/handler/semantics.cpp
  libsycl/unittests/queue/memcpy.cpp
  libsycl/unittests/queue/prefetch.cpp
  libsycl/unittests/queue/queue.cpp
  libsycl/unittests/usm/alloc.cpp
Labels: none

[x86][CostModel] A runtime stride should cost one ADD on AVX2+ (#219903)
  llvm/lib/Target/X86/X86TargetTransformInfo.cpp
  llvm/test/Transforms/LoopVectorize/X86/pr217019.ll
  llvm/test/Transforms/LoopVectorize/X86/replicating-load-store-costs.ll
Labels: none

- Remove CalculateTripCountMinusVF & build inline
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanLowering.cpp
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/test/Transforms/LoopVectorize/VPlan/AArch64/sve-tail-folding-forced.ll
  llvm/test/Transforms/LoopVectorize/VPlan/AArch64/vplan-printing-alias-mask.ll
  llvm/test/Transforms/LoopVectorize/VPlan/AArch64/vplan-printing.ll
Labels: none

[CIR] Correctly pass func self-comdat & alignment (#223773)
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/include/clang/CIR/MissingFeatures.h
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/test/CIR/CodeGen/array-init-loop-exprs.cpp
  clang/test/CIR/CodeGen/cxx-conversion-operators.cpp
  clang/test/CIR/CodeGen/func-member-attrs.cpp
  clang/test/CIR/CodeGen/global-tls-dyn-init.cpp
  clang/test/CIR/CodeGen/global-tls-simple-init.cpp
  clang/test/CIR/CodeGen/global-tls-templates.cpp
  clang/test/CIR/CodeGen/inherited-ctors.cpp
  clang/test/CIR/CodeGen/lambda-generic-in-cxx11abi-lambda.cpp
  clang/test/CIR/CodeGen/lambda-static-invoker-agg-return.cpp
  clang/test/CIR/CodeGen/lambda-static-invoker.cpp
  clang/test/CIR/CodeGen/lambda.cpp
  clang/test/CIR/CodeGen/static-local.cpp
  clang/test/CIR/CodeGen/vtable-emission.cpp
  clang/test/CIR/CodeGen/vtable-thunk-undefined-callee.cpp
  clang/test/CIR/IR/func.cir
  clang/test/CIR/IR/invalid-func.cir
  clang/test/CIR/func-linkage.cpp
Labels: none

[CIR] Give up when we hit a global-view in dense-element-attr lowering (#224379)
  clang/lib/CIR/Lowering/LoweringHelpers.cpp
  clang/test/CIR/CodeGen/global-address-to-int.c
  clang/test/CIR/Lowering/const-array-bulk-lowering-fallbacks.cir
Labels: none

[Clang] Fix stale linkage cache when merging redeclarations
  clang/lib/AST/Decl.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/test/Sema/redefine_extname.c
Labels: none

CMAKE_EXE_LINKER_FLAGS
  libcxx/utils/libcxx/test/googlebenchmark.py
Labels: python

[clang][import] Evaluate constexpr variable initialzers
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/test/ASTMerge/class-template-partial-spec/test.cpp
Labels: none

[X86] Fix `FastISel` crash on `GEP` with a constant index wider than `64` bits (#223432)
  llvm/lib/Target/X86/X86FastISel.cpp
  llvm/test/CodeGen/X86/fast-isel-gep.ll
Labels: none

[flang] Mark visible Cray pointer associations as aliasing (#221350)
  flang/docs/Aliasing.md
  flang/include/flang/Lower/AbstractConverter.h
  flang/lib/Lower/Bridge.cpp
  flang/lib/Lower/ConvertVariable.cpp
  flang/test/Lower/HLFIR/visible-cray-pointer-target.f90
  flang/test/Lower/cray-pointer.f90
Labels: none

fixup! fixup! [clang-tidy] Add detection of decltype(nullptr) => std::nullptr_t to modernize-use-nullptr
  clang-tools-extra/clang-tidy/modernize/UseNullptrCheck.cpp
  clang-tools-extra/clang-tidy/modernize/UseNullptrCheck.h
  clang-tools-extra/docs/clang-tidy/checks/modernize/use-nullptr.rst
  clang-tools-extra/test/clang-tidy/checkers/modernize/use-nullptr-t.cpp
  clang-tools-extra/test/clang-tidy/checkers/modernize/use-nullptr.cpp
Labels: none

[offload] Document and assert allocation alignment guarantee
  offload/liboffload/API/Memory.td
  offload/liboffload/src/OffloadImpl.cpp
  offload/unittests/OffloadAPI/memory/olMemAlloc.cpp
Labels: none

lldb: select signal-frame CFI at the raw PC
  lldb/include/lldb/Target/RegisterContextUnwind.h
  lldb/source/Target/RegisterContextUnwind.cpp
  lldb/test/Shell/Unwind/trap_frame_sym_ctx.test
Labels: none

fixup! lldb: select signal-frame CFI at the raw PC
  lldb/include/lldb/Target/RegisterContextUnwind.h
  lldb/source/Target/RegisterContextUnwind.cpp
Labels: none

[CIR] Preserve padding bytes across a byval argument
  clang/lib/CIR/Dialect/Transforms/TargetLowering/CIRABIRewriteContext.cpp
  clang/test/CIR/CodeGen/call-conv-lowering-x86_64-byval-union-padding.c
  clang/test/CIR/CodeGen/call-conv-lowering-x86_64-non-byval.cpp
  clang/test/CIR/CodeGen/call-conv-lowering-x86_64-variadic.c
  clang/test/CIR/CodeGen/call.c
  clang/test/CIR/Transforms/abi-lowering/indirect-byval.cir
  clang/test/CIR/Transforms/abi-lowering/indirect-call.cir
  clang/test/CIR/Transforms/abi-lowering/x86_64-bitint.cir
  clang/test/CIR/Transforms/abi-lowering/x86_64-struct-indirect.cir
  clang/test/CIR/Transforms/abi-lowering/x86_64-union.cir
Labels: none

[clang][SYCL] Implement address space attributes for SYCL (#200849)
  clang/include/clang/Basic/AddressSpaces.h
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/AttrDocs.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Sema/ParsedAttr.h
  clang/lib/AST/ItaniumMangle.cpp
  clang/lib/AST/MicrosoftMangle.cpp
  clang/lib/AST/Type.cpp
  clang/lib/AST/TypePrinter.cpp
  clang/lib/Basic/TargetInfo.cpp
  clang/lib/Basic/Targets/AMDGPU.cpp
  clang/lib/Basic/Targets/NVPTX.h
  clang/lib/Basic/Targets/SPIR.h
  clang/lib/CIR/Dialect/IR/CIRTypes.cpp
  clang/lib/Headers/__clang_spirv_builtins.h
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaType.cpp
  clang/test/CodeGenSPIRV/Builtins/generic_cast_to_ptr_explicit.c
  clang/test/CodeGenSYCL/address-space-conversions.cpp
  clang/test/CodeGenSYCL/address-space-mangling.cpp
  clang/test/CodeGenSYCL/amd-address-space-conversions.cpp
  clang/test/CodeGenSYCL/cuda-address-space-conversions.cpp
  clang/test/SemaSPIRV/BuiltIns/generic_cast_to_ptr_explicit.c
  clang/test/SemaSYCL/address-space-conversions.cpp
  clang/test/SemaSYCL/sycl-address-space-attr-appertainment.cpp
  clang/test/SemaTemplate/address_space-dependent.cpp
Labels: none

Mix bits in FileID::getHashValue() (#224654)
  clang/include/clang/Basic/SourceLocation.h
Labels: none

[offload] expand aligned allocation API tests
  offload/unittests/OffloadAPI/memory/olMemAllocAligned.cpp
Labels: none

move cast above
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: none

fix: address review comments
  llvm/include/llvm/DebugInfo/CodeView/CodeViewRecordIO.h
  llvm/lib/CodeGen/AsmPrinter/CodeViewDebug.cpp
  llvm/lib/DebugInfo/CodeView/CodeViewRecordIO.cpp
  llvm/lib/DebugInfo/CodeView/RecordSerialization.cpp
  llvm/lib/DebugInfo/CodeView/TypeIndexDiscovery.cpp
  llvm/lib/DebugInfo/CodeView/TypeRecordMapping.cpp
  llvm/lib/Support/BinaryStreamWriter.cpp
Labels: none

[offload-arch] Remove stray include
  clang/tools/offload-arch/AMDGPUArchByKFD.cpp
Labels: none

revised
  clang/docs/OpenMPSupport.md
  clang/include/clang/AST/StmtOpenMP.h
  clang/lib/AST/StmtOpenMP.cpp
  clang/lib/CodeGen/CGStmtOpenMP.cpp
  clang/lib/Sema/SemaOpenMP.cpp
  clang/test/OpenMP/flatten_codegen.cpp
  clang/test/OpenMP/flatten_depth_codegen.cpp
  clang/test/OpenMP/flatten_messages.cpp
  openmp/runtime/test/transform/flatten/final-values.c
  openmp/runtime/test/transform/flatten/overflow-empty.c
  openmp/runtime/test/transform/flatten/parallel-wsloop-foreach.cpp
Labels: openmp

[flang-rt][CUF] Make CUFSyncExecutionEnvironment host-only
  flang-rt/lib/cuda/environment.cpp
  flang/include/flang/Runtime/CUDA/init.h
Labels: none

[flang-rt][unittests] Define MAP_ANONYMOUS fallback for AIX in Assign tests
  flang-rt/unittests/Runtime/Assign.cpp
Labels: none

[flang] Fix continued literals incorrect padding with -ffixed-line-length=none
  flang/include/flang/Frontend/FrontendOptions.h
  flang/include/flang/Parser/options.h
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/lib/Parser/prescan.cpp
  flang/lib/Parser/prescan.h
  flang/test/Parser/fixed-line-length-none-char-continuation.f
Labels: none

[RISCV] Remove unused SDT_RISCVVNBinOp_RM_VL tablegen class. NFC (#224440)
  llvm/lib/Target/RISCV/RISCVInstrInfoVVLPatterns.td
Labels: none

[DAG] Constant fold ISD::PARITY (#224387)
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/X86/parity.ll
  llvm/test/CodeGen/X86/vector-reduce-xor.ll
Labels: none

[𝘀𝗽𝗿] initial version
  llvm/test/Transforms/SLPVectorizer/AArch64/sibling-loops-different-trip-counts.ll
Labels: none

[SLP][NFC]Add a test with missing vectorization, NFC
  llvm/test/Transforms/SLPVectorizer/AArch64/sibling-loops-different-trip-counts.ll
Labels: none

Force an ICE when reentrantly reading a concept decl
  clang/include/clang/AST/DeclTemplate.h
  clang/lib/AST/DeclTemplate.cpp
Labels: none

[RISCV] Add missing feature to RUN line of xsfmm-invalid.s. NFC (#224473)
  llvm/test/MC/RISCV/rvv/xsfmm-invalid.s
Labels: none
