Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[lldb][windows] do not attach to a PseudoConsole if it is not opened
  lldb/source/Plugins/Platform/Windows/PlatformWindows.cpp
Labels: none

[NFC][HLSL] Remove useless GEP (#177584)
  clang/lib/CodeGen/CGHLSLRuntime.cpp
Labels: none

[lldb-dap] Fix the completion provided to the DAP client. (#177151)
  lldb/test/API/tools/lldb-dap/completions/TestDAP_completions.py
  lldb/tools/lldb-dap/Handler/CompletionsHandler.cpp
  lldb/tools/lldb-dap/Protocol/ProtocolTypes.h
Labels: python

[X86] Rename lowerX86FPLogicOp -> combineX86FPLogicOp. NFC.
  llvm/lib/Target/X86/X86ISelLowering.cpp
Labels: none

Introduce RUNTIMES_*_PATH/DIR logic for all runtimes
  cmake/Modules/GetToolchainDirs.cmake
  flang-rt/CMakeLists.txt
  flang-rt/cmake/modules/AddFlangRT.cmake
  runtimes/CMakeLists.txt
Labels: none

Reland "[clang][RISCV] Add big-endian RISC-V target support"
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/ObjCRuntime.h
  clang/lib/Basic/Targets.cpp
  clang/lib/Basic/Targets/OSTargets.h
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/CodeGen/CodeGenFunction.cpp
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChain.cpp
  clang/lib/Driver/ToolChains/BareMetal.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Driver/ToolChains/CommonArgs.cpp
  clang/lib/Driver/ToolChains/FreeBSD.cpp
  clang/lib/Driver/ToolChains/Gnu.cpp
  clang/lib/Driver/ToolChains/Linux.cpp
  clang/lib/Sema/SemaChecking.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/test/CodeGen/riscv-be-data-layout.c
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/lib/gcc/riscv64be-unknown-linux-gnu/7.2.0/crtbegin.o
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/lib/gcc/riscv64be-unknown-linux-gnu/7.2.0/lib32/ilp32/crtbegin.o
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/lib/gcc/riscv64be-unknown-linux-gnu/7.2.0/lib32/ilp32d/crtbegin.o
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/lib/gcc/riscv64be-unknown-linux-gnu/7.2.0/lib64/lp64/crtbegin.o
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/lib/gcc/riscv64be-unknown-linux-gnu/7.2.0/lib64/lp64d/crtbegin.o
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/riscv64be-unknown-linux-gnu/bin/ld
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/lib/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/lib32/ilp32/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/lib32/ilp32d/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/lib64/lp64/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/lib64/lp64d/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/usr/lib32/ilp32/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/usr/lib32/ilp32d/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/usr/lib64/lp64/.keep
  clang/test/Driver/Inputs/multilib_riscv_linux_sdk_be/sysroot/usr/lib64/lp64d/.keep
  clang/test/Driver/riscv-be.c
Labels: none

[flang] fix ./DIR IVDEP for array assignments inside loops
  flang/include/flang/Optimizer/Builder/HLFIRTools.h
  flang/include/flang/Optimizer/Dialect/FIROpsSupport.h
  flang/lib/Lower/Bridge.cpp
  flang/lib/Optimizer/Builder/HLFIRTools.cpp
  flang/lib/Optimizer/HLFIR/Transforms/ConvertToFIR.cpp
  flang/lib/Optimizer/HLFIR/Transforms/InlineHLFIRAssign.cpp
  flang/test/Lower/ivdep-array.f90
Labels: none

[CoroFrame][NFC] Remove code duplication in insertSpills (#177367)
  llvm/lib/Transforms/Coroutines/CoroFrame.cpp
Labels: none

[AArch64] Use GISel for optnone functions
  llvm/include/llvm/CodeGen/TargetPassConfig.h
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/lib/CodeGen/MachineFunction.cpp
  llvm/lib/Target/AArch64/AArch64TargetMachine.cpp
  llvm/lib/Target/AArch64/AArch64TargetMachine.h
  llvm/test/CodeGen/AArch64/GlobalISel/gisel-commandline-option.ll
  llvm/test/CodeGen/AArch64/GlobalISel/optnone-llc.ll
  llvm/test/CodeGen/AArch64/GlobalISel/optnone-mixed.ll
  llvm/test/CodeGen/AArch64/O3-pipeline.ll
  llvm/test/CodeGen/AArch64/cfguard-checks.ll
  llvm/test/CodeGen/AArch64/large-stack.ll
  llvm/test/CodeGen/AArch64/ldrpre-ldr-merge.mir
  llvm/test/CodeGen/AArch64/literal_pools_float.ll
  llvm/test/CodeGen/AArch64/multi-vector-load-size.ll
  llvm/test/CodeGen/AArch64/multi-vector-store-size.ll
  llvm/test/CodeGen/AArch64/semantic-interposition-memtag.ll
  llvm/test/CodeGen/AArch64/strpre-str-merge.mir
  llvm/test/CodeGen/AArch64/swift-error-unreachable-use.ll
  llvm/test/CodeGen/MIR/AArch64/print-parse-overloaded-intrinsics.mir
  llvm/test/DebugInfo/Generic/debug-label-mi.ll
Labels: none

Remove command line option
  llvm/lib/Target/AArch64/AArch64TargetMachine.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/gisel-commandline-option.ll
  llvm/test/CodeGen/AArch64/GlobalISel/optnone-mixed.ll
Labels: none

Simplify tests & reorder useGlobalISelFor conditional
  llvm/lib/Target/AArch64/AArch64TargetMachine.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/optnone-llc.ll
  llvm/test/CodeGen/AArch64/GlobalISel/optnone-mixed.ll
Labels: none

Add newline to end of file
  llvm/test/CodeGen/AArch64/GlobalISel/optnone-llc.ll
Labels: none

extract common code
  cmake/Modules/GetToolchainDirs.cmake
  compiler-rt/cmake/Modules/CompilerRTUtils.cmake
Labels: none

Use fallBackToDAGISel & keep changes internal to AArch64TargetMachine
  llvm/include/llvm/CodeGen/TargetPassConfig.h
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/lib/Target/AArch64/AArch64TargetMachine.cpp
  llvm/lib/Target/AArch64/AArch64TargetMachine.h
  llvm/lib/Target/AArch64/GISel/AArch64CallLowering.cpp
  llvm/test/CodeGen/AArch64/csr-copy-hint.mir
  llvm/test/CodeGen/AArch64/ldrpre-ldr-merge.mir
  llvm/test/CodeGen/AArch64/machine-outliner-remarks.ll
  llvm/test/CodeGen/AArch64/strpre-str-merge.mir
Labels: none

Tidy & add O0 combiner
  llvm/include/llvm/Support/GenericDomTreeConstruction.h
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/lib/Target/AArch64/AArch64TargetMachine.cpp
  llvm/test/CodeGen/AArch64/O3-pipeline.ll
Labels: none

Try fast path for ResetMachineFunctionPass
  llvm/include/llvm/Support/GenericDomTreeConstruction.h
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/lib/CodeGen/ResetMachineFunctionPass.cpp
Labels: none

Split out ResetMachineFunctionPass
  llvm/lib/CodeGen/ResetMachineFunctionPass.cpp
Labels: none

Use filetype=null in tests instead of writing to /dev/null
  llvm/test/CodeGen/AArch64/GlobalISel/optnone-llc.ll
Labels: none

Remove DomTree changes & skip in runOnMachineFunction
  llvm/include/llvm/Support/GenericDomTreeConstruction.h
  llvm/lib/CodeGen/MachineDominators.cpp
Labels: none

InstCombine: Try SimplifyDemandedBits on copysign signs
  llvm/lib/Transforms/InstCombine/InstCombineCalls.cpp
  llvm/test/Transforms/InstCombine/copysign.ll
Labels: none

[flang][Lower] Fix UB in location handling
  flang/lib/Lower/Bridge.cpp
Labels: none

[Clang] prevent assertion in __has_embed parameter recovery at end-of-directive (#175104)
  clang/docs/ReleaseNotes.rst
  clang/lib/Lex/PPDirectives.cpp
  clang/test/Preprocessor/embed___has_embed_parsing_errors.c
Labels: none

Fix unused variable warning
  llvm/lib/Target/X86/X86ISelLowering.cpp
Labels: none

Fix comments formatting in Combine.td
  llvm/include/llvm/Target/GlobalISel/Combine.td
Labels: none

[AMDGPU] Add missing conversion link in alloca promotion pass
  llvm/lib/Target/AMDGPU/AMDGPUPromoteAlloca.cpp
  llvm/test/CodeGen/AMDGPU/promote-alloca-loadstores.ll
Labels: none

[Clang][HLSL] Start emitting structured GEP instruction
  clang/include/clang/Basic/LangOptions.def
  clang/include/clang/Options/Options.td
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CGHLSLRuntime.cpp
  clang/test/CodeGenHLSL/sgep/array_load.hlsl
  clang/test/CodeGenHLSL/sgep/array_store.hlsl
  clang/test/CodeGenHLSL/sgep/load_global.hlsl
  clang/test/CodeGenHLSL/sgep/object_method.hlsl
Labels: none

pr-feedback: langopt phrasing
  clang/include/clang/Basic/LangOptions.def
Labels: none

[lldb] Support UBSan decorator on other platforms
  lldb/packages/Python/lldbsuite/test/configuration.py
  lldb/packages/Python/lldbsuite/test/decorators.py
  lldb/packages/Python/lldbsuite/test/dotest.py
Labels: python

fix ubsan test case
  lldb/source/Target/InstrumentationRuntimeStopInfo.cpp
Labels: none

[clang][bytecode] applying appropriate format in buildin-functions.cpp
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/test/AST/ByteCode/builtin-functions.cpp
Labels: none

[X86] Rename lowerX86FPLogicOp -> combineX86FPLogicOp. NFC. (#177937)
  llvm/lib/Target/X86/X86ISelLowering.cpp
Labels: none

[X86] combineX86FPLogicOp - attempt to fold FAND/FOR/FXOR scalar nodes if they are constant or contain UNDEFs
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/pr177923.ll
Labels: none

Reduce number of targets to test
  llvm/test/CodeGen/AMDGPU/opencl-printf-invalid-signature.ll
Labels: none

pr fixes
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/test/Sema/warn-lifetime-safety-noescape.cpp
Labels: none

Update ObjC and Itanium maintainership
  clang/Maintainers.rst
Labels: none

Add TODO comments
  compiler-rt/cmake/Modules/CompilerRTUtils.cmake
  compiler-rt/cmake/base-config-ix.cmake
  libc/CMakeLists.txt
  libcxx/CMakeLists.txt
  libcxxabi/CMakeLists.txt
  libsycl/CMakeLists.txt
  libunwind/CMakeLists.txt
  llvm-libgcc/CMakeLists.txt
  offload/CMakeLists.txt
  openmp/CMakeLists.txt
  orc-rt/lib/executor/CMakeLists.txt
  third-party/benchmark/src/CMakeLists.txt
Labels: openmp

fixed formatting issues
  lldb/source/Core/IOHandlerCursesGUI.cpp
  lldb/test/API/commands/gui/console-output/TestGuiConsoleOutput.py
  lldb/test/API/commands/gui/console-output/main.cpp
Labels: python

[NFC][SPIR-V] Assert to avoid null pointer dereference
  llvm/lib/Target/SPIRV/SPIRVCombinerHelper.cpp
Labels: none

Added fixes for comments
  lldb/source/Core/IOHandlerCursesGUI.cpp
  lldb/test/API/commands/gui/console-output/main.cpp
Labels: none

[VectorCombine] Switch vector or<->umax/and<->umin in comparisons
  llvm/lib/Transforms/Vectorize/VectorCombine.cpp
  llvm/test/Transforms/VectorCombine/AArch64/fold-equivalent-reduction-cmp.ll
  llvm/test/Transforms/VectorCombine/AArch64/icmp-vector-reduce.ll
  llvm/test/Transforms/VectorCombine/X86/fold-equivalent-reduction-cmp.ll
  llvm/test/Transforms/VectorCombine/X86/icmp-vector-reduce.ll
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
