Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

fixup! fixup! [ISel] Commute FMUL and inserting zero into vector lane
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/arm64-vmul.ll
Labels: none

[libc][math] Refactor exp10f16 implementation to header-only in src/__support/math folder.
  libc/shared/math.h
  libc/shared/math/exp10f16.h
  libc/src/__support/math/CMakeLists.txt
  libc/src/__support/math/exp10_float16_constants.h
  libc/src/__support/math/exp10f16.h
  libc/src/__support/math/exp10f16_utils.h
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/exp10f16.cpp
  libc/src/math/generic/exp10m1f16.cpp
  libc/src/math/generic/expxf16.h
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: none

[mlir][linalg] Add support for scalable vectorization of linalg.mmt4d (#146531)
  mlir/include/mlir/Dialect/Linalg/TransformOps/LinalgTransformOps.td
  mlir/include/mlir/Dialect/Linalg/Transforms/Transforms.h
  mlir/lib/Dialect/Linalg/TransformOps/LinalgTransformOps.cpp
  mlir/lib/Dialect/Linalg/Transforms/Vectorization.cpp
  mlir/test/Dialect/Linalg/vectorization/linalg-ops.mlir
Labels: none

[NVPTX] Add PRMT constant folding and cleanup usage of PRMT node (#148906)
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/lib/Target/NVPTX/NVPTXInstrInfo.td
  llvm/lib/Target/NVPTX/NVPTXIntrinsics.td
  llvm/test/CodeGen/NVPTX/i8x4-instructions.ll
  llvm/test/CodeGen/NVPTX/prmt-const-folding.ll
Labels: none

Rename config.host_os to config.target_os.
  compiler-rt/lib/tysan/lit.cfg
  compiler-rt/test/asan/lit.cfg.py
  compiler-rt/test/asan_abi/lit.cfg.py
  compiler-rt/test/builtins/Unit/lit.cfg.py
  compiler-rt/test/builtins/lit.cfg.py
  compiler-rt/test/ctx_profile/lit.cfg.py
  compiler-rt/test/dfsan/lit.cfg.py
  compiler-rt/test/fuzzer/lit.cfg.py
  compiler-rt/test/gwp_asan/lit.cfg.py
  compiler-rt/test/hwasan/lit.cfg.py
  compiler-rt/test/lit.common.cfg.py
  compiler-rt/test/lsan/lit.common.cfg.py
  compiler-rt/test/memprof/lit.cfg.py
  compiler-rt/test/metadata/lit.cfg.py
  compiler-rt/test/msan/lit.cfg.py
  compiler-rt/test/nsan/lit.cfg.py
  compiler-rt/test/orc/lit.cfg.py
  compiler-rt/test/orc/lit.site.cfg.py.in
  compiler-rt/test/profile/lit.cfg.py
  compiler-rt/test/rtsan/Unit/lit.site.cfg.py.in
  compiler-rt/test/rtsan/lit.cfg.py
  compiler-rt/test/safestack/lit.cfg.py
  compiler-rt/test/sanitizer_common/lit.common.cfg.py
  compiler-rt/test/scudo/lit.cfg.py
  compiler-rt/test/shadowcallstack/lit.cfg.py
  compiler-rt/test/tsan/Unit/lit.site.cfg.py.in
  compiler-rt/test/tsan/libdispatch/lit.local.cfg.py
  compiler-rt/test/tsan/lit.cfg.py
  compiler-rt/test/tysan/lit.cfg.py
  compiler-rt/test/ubsan/TestCases/TypeCheck/Function/lit.local.cfg.py
  compiler-rt/test/ubsan/lit.common.cfg.py
  compiler-rt/test/ubsan_minimal/lit.common.cfg.py
  compiler-rt/test/xray/lit.cfg.py
  compiler-rt/unittests/lit.common.unit.cfg.py
  compiler-rt/unittests/lit.common.unit.configured.in
  lldb/test/API/lit.cfg.py
  lldb/test/API/lit.site.cfg.py.in
  llvm/test/lit.cfg.py
  llvm/test/lit.site.cfg.py.in
Labels: python

Restrict the fusion condition.
  mlir/lib/Dialect/Linalg/Transforms/TilingInterfaceImpl.cpp
  mlir/test/Interfaces/TilingInterface/tile-and-fuse-consumer.mlir
Labels: none

AMDGPU: Remove the dot4 test in insert-delay-alu-wmma-xdl.mir
  llvm/test/CodeGen/AMDGPU/insert-delay-alu-wmma-xdl.mir
Labels: none

Fix IR bug
  mlir/test/Interfaces/TilingInterface/tile-and-fuse-consumer.mlir
Labels: none

[mlir] Generalize OneShotModuleBufferize to operate on any Operation
  mlir/include/mlir/Dialect/Bufferization/Transforms/OneShotModuleBufferize.h
  mlir/lib/Dialect/Bufferization/Transforms/OneShotModuleBufferize.cpp
  mlir/lib/Dialect/Bufferization/Transforms/TensorCopyInsertion.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparsificationAndBufferizationPass.cpp
  mlir/test/Dialect/Bufferization/Transforms/one-shot-non-module-bufferize.mlir
  mlir/test/lib/Dialect/Bufferization/CMakeLists.txt
  mlir/test/lib/Dialect/Bufferization/TestOneShotModuleBufferize.cpp
  mlir/test/lib/Dialect/Test/TestOps.td
  mlir/tools/mlir-opt/mlir-opt.cpp
Labels: none

[CI][Github] Enable CIR CI build and test (#147430)
  .ci/compute_projects.py
  .ci/compute_projects_test.py
  .ci/monolithic-linux.sh
  .github/workflows/premerge.yaml
Labels: python, misc

[AArch64] Keep floating-point conversion in SIMD
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/store-float-conversion.ll
Labels: none

added internal mbsnrtowcs
  libc/src/__support/wchar/CMakeLists.txt
  libc/src/__support/wchar/mbsnrtowcs.cpp
  libc/src/__support/wchar/mbsnrtowcs.h
  libc/src/wchar/CMakeLists.txt
  libc/src/wchar/mbstowcs.cpp
  libc/test/src/wchar/CMakeLists.txt
  libc/test/src/wchar/mbsrtowcs_test.cpp
Labels: none

[DWARFLinker] Use different invalid addresses to distinguish reasons why DW_AT_LLVM_stmt_sequence is invalid.
  llvm/lib/DWARFLinker/Classic/DWARFLinker.cpp
Labels: none

[𝘀𝗽𝗿] initial version
  llvm/lib/Transforms/Instrumentation/LowerAllowCheckPass.cpp
Labels: none

resolve header
  llvm/lib/DWARFLinker/Classic/DWARFLinker.cpp
Labels: none

header
  llvm/lib/DWARFLinker/Classic/DWARFLinker.cpp
Labels: none

Speculative buildbot fix.
  compiler-rt/test/lit.common.configured.in
Labels: none

make pattern-logging-listener test more general
  mlir/test/IR/test-pattern-logging-listener.mlir
Labels: none

[Clang] Introduce '--offload-targets=' to genericall target toolchains
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/include/clang/Driver/Driver.h
  clang/include/clang/Driver/Options.td
  clang/include/clang/Driver/ToolChain.h
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChain.cpp
  clang/lib/Driver/ToolChains/AMDGPU.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Driver/ToolChains/Cuda.cpp
  clang/test/Driver/amdgpu-hip-system-arch.c
  clang/test/Driver/cuda-phases.cu
  clang/test/Driver/hip-inputs.hip
  clang/test/Driver/hip-invalid-target-id.hip
  clang/test/Driver/hip-options.hip
  clang/test/Driver/invalid-offload-options.cpp
  clang/test/Driver/nvptx-cuda-system-arch.c
  clang/test/Driver/offload-target.c
  clang/test/Driver/openmp-offload.c
  clang/test/Driver/openmp-system-arch.c
Labels: none

[NVPTX] Remove incorrect elimination of CopyToReg
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/test/CodeGen/NVPTX/pr126337.ll
Labels: none

Fix mlir/test/IR/test-pattern-logging-listener.mlir lit
  mlir/test/IR/test-pattern-logging-listener.mlir
Labels: none

[flang][OpenMP] Generalize isOpenMPPrivatizingConstruct (#148654)
  flang/lib/Lower/OpenMP/DataSharingProcessor.cpp
  flang/lib/Lower/OpenMP/DataSharingProcessor.h
  flang/test/Lower/OpenMP/taskgroup02.f90
  llvm/include/llvm/Frontend/OpenMP/OMP.h
Labels: none

[AMDGPU] Add support for `v_cos_bf16` on gfx1250 (#149355)
  clang/include/clang/Basic/BuiltinsAMDGPU.def
  clang/lib/CodeGen/TargetBuiltins/AMDGPU.cpp
  clang/test/CodeGenOpenCL/builtins-amdgcn-gfx1250.cl
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.cos.bf16.ll
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp16-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp8-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp16-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp8-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3_from_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3_from_vop1_dpp8.txt
Labels: none

[AMDGPU] Add support for `v_tanh_f32` on gfx1250
  clang/include/clang/Basic/BuiltinsAMDGPU.def
  clang/lib/CodeGen/TargetBuiltins/AMDGPU.cpp
  clang/test/CodeGenOpenCL/amdgpu-features.cl
  clang/test/CodeGenOpenCL/builtins-amdgcn-gfx1250.cl
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/GCNSubtarget.h
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/lib/TargetParser/TargetParser.cpp
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.tanh.ll
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp16-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp8-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp16-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp8-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3_from_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3_from_vop1_dpp8.txt
Labels: none

[AMDGPU] Ensure non-reserved CSR spilled regs are live-in
  llvm/lib/Target/AMDGPU/SIFrameLowering.cpp
  llvm/test/CodeGen/AMDGPU/bug-undef-spilled-agpr.ll
Labels: none

fixup! [AMDGPU] Ensure non-reserved CSR spilled regs are live-in
  llvm/test/CodeGen/AMDGPU/bug-undef-spilled-agpr.ll
Labels: none

fixup! [AMDGPU] Ensure non-reserved CSR spilled regs are live-in
  llvm/lib/Target/AMDGPU/SIFrameLowering.cpp
Labels: none

fixup! [AMDGPU] Ensure non-reserved CSR spilled regs are live-in
  llvm/test/CodeGen/AMDGPU/bug-undef-spilled-agpr.ll
  llvm/test/CodeGen/AMDGPU/bug-undef-spilled-agpr.mir
Labels: none

fixup! [AMDGPU] Ensure non-reserved CSR spilled regs are live-in
  llvm/lib/Target/AMDGPU/SIFrameLowering.cpp
  llvm/test/CodeGen/AMDGPU/bug-undef-spilled-agpr.ll
Labels: none

Note bug numbers in tests.
  clang/test/SemaCXX/constant-expression-p2280r4.cpp
  clang/test/SemaCXX/constexpr-never-constant.cpp
Labels: none

Add comment
  compiler-rt/lib/asan/asan_descriptions.cpp
Labels: none

Add check for output layout
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUWgToSgDistribute.cpp
Labels: none

[flang] Control alignment of constant folded reals
  flang/include/flang/Evaluate/integer.h
  flang/include/flang/Evaluate/real.h
Labels: none

IR2Vec Tool
  llvm/test/CMakeLists.txt
  llvm/test/lit.cfg.py
  llvm/test/tools/llvm-ir2vec/triplets.ll
  llvm/tools/llvm-ir2vec/CMakeLists.txt
  llvm/tools/llvm-ir2vec/llvm-ir2vec.cpp
Labels: python

Update llvm-ir2vec.cpp
  llvm/tools/llvm-ir2vec/llvm-ir2vec.cpp
Labels: none

fix
  mlir/lib/Dialect/XeGPU/Utils/XeGPUUtils.cpp
Labels: none

Comments
  clang/include/clang/Driver/Driver.h
  clang/lib/Driver/Driver.cpp
Labels: none

Bump version to 21.1.0-rc1
  cmake/Modules/LLVMVersion.cmake
Labels: none

[IR2Vec] Add llvm-ir2vec tool for generating triplet embeddings (#147842)
  llvm/test/CMakeLists.txt
  llvm/test/lit.cfg.py
  llvm/test/tools/llvm-ir2vec/triplets.ll
  llvm/tools/llvm-ir2vec/CMakeLists.txt
  llvm/tools/llvm-ir2vec/llvm-ir2vec.cpp
Labels: python

IR2Vec Tool Enhancements
  llvm/test/lit.cfg.py
  llvm/test/tools/llvm-ir2vec/embeddings.ll
  llvm/test/tools/llvm-ir2vec/triplets.ll
  llvm/tools/llvm-ir2vec/llvm-ir2vec.cpp
Labels: python
