Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

Update Op description
  clang/include/clang/CIR/Dialect/IR/CIROps.td
Labels: none

Address code review comments
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/test/CIR/IR/catch-param.cir
Labels: none

move external validation into handleExternalBranchTarget()
  bolt/include/bolt/Core/BinaryContext.h
  bolt/include/bolt/Core/BinaryFunction.h
  bolt/lib/Core/BinaryContext.cpp
  bolt/lib/Core/BinaryFunction.cpp
Labels: none

Added global state for LLT, allowing initialize extended LLTs
  llvm/include/llvm/CodeGen/LowLevelTypeUtils.h
  llvm/include/llvm/CodeGen/TargetLowering.h
  llvm/include/llvm/CodeGenTypes/LowLevelType.h
  llvm/lib/CodeGen/Analysis.cpp
  llvm/lib/CodeGen/GlobalISel/CallLowering.cpp
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/lib/CodeGen/GlobalISel/LoadStoreOpt.cpp
  llvm/lib/CodeGen/LowLevelTypeUtils.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGISel.cpp
  llvm/lib/CodeGen/TargetLoweringBase.cpp
  llvm/lib/CodeGenTypes/LowLevelType.cpp
  llvm/lib/Target/AArch64/GISel/AArch64CallLowering.cpp
  llvm/lib/Target/AMDGPU/AMDGPUCallLowering.cpp
  llvm/utils/TableGen/Common/GlobalISel/GlobalISelMatchTable.cpp
  llvm/utils/TableGen/Common/GlobalISel/GlobalISelMatchTableExecutorEmitter.cpp
  llvm/utils/TableGen/Common/GlobalISel/GlobalISelMatchTableExecutorEmitter.h
Labels: none

[clang-tidy][NFC] Add google-readability-casting check to codebase
  clang-tools-extra/clang-tidy/.clang-tidy
  clang-tools-extra/clang-tidy/ClangTidyDiagnosticConsumer.cpp
  clang-tools-extra/clang-tidy/altera/StructPackAlignCheck.cpp
  clang-tools-extra/clang-tidy/altera/UnrollLoopsCheck.cpp
  clang-tools-extra/clang-tidy/bugprone/SuspiciousMissingCommaCheck.cpp
  clang-tools-extra/clang-tidy/misc/ConfusableIdentifierCheck.cpp
  clang-tools-extra/clang-tidy/misc/MisleadingBidirectionalCheck.cpp
  clang-tools-extra/clang-tidy/misc/MisleadingIdentifierCheck.cpp
  clang-tools-extra/clang-tidy/openmp/UseDefaultNoneCheck.cpp
  clang-tools-extra/clang-tidy/readability/FunctionCognitiveComplexityCheck.cpp
Labels: none

Remove TargetOption::EnableGlobalISelExtendedLLT. Targets must use LLT::setUseExtended instead.
  llvm/include/llvm/Target/TargetMachine.h
  llvm/include/llvm/Target/TargetOptions.h
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
Labels: none

[clang-tidy] Show descriptive error message when check_alphabetical_order.py fails (#170975)
  clang-tools-extra/clang-tidy/tool/check_alphabetical_order.py
  clang-tools-extra/clang-tidy/tool/check_alphabetical_order_test.py
Labels: python

Add freeze, ban vector
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/test/CodeGen/X86/combine-sub-usat.ll
Labels: none

[clang-tidy][NFC] Remove unused headers (flagged by misc-include-cleaner)
  clang-tools-extra/clang-tidy/NoLintDirectiveHandler.cpp
  clang-tools-extra/clang-tidy/bugprone/ChainedComparisonCheck.cpp
  clang-tools-extra/clang-tidy/bugprone/DanglingHandleCheck.cpp
  clang-tools-extra/clang-tidy/bugprone/NonZeroEnumToBoolConversionCheck.cpp
  clang-tools-extra/clang-tidy/llvm/UseNewMLIROpBuilderCheck.cpp
  clang-tools-extra/clang-tidy/modernize/MakeSmartPtrCheck.cpp
  clang-tools-extra/clang-tidy/readability/IdentifierNamingCheck.cpp
  clang-tools-extra/clang-tidy/readability/RedundantInlineSpecifierCheck.cpp
  clang-tools-extra/clang-tidy/readability/RedundantStringInitCheck.cpp
  clang-tools-extra/clang-tidy/utils/LexerUtils.cpp
  clang-tools-extra/clang-tidy/utils/TransformerClangTidyCheck.cpp
Labels: none

add back format variadic
  clang-tools-extra/clang-tidy/readability/IdentifierNamingCheck.cpp
Labels: none

Revert "[clang] Limit lifetimes of temporaries to the full expression (#170517)"
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/CodeGenOptions.def
  clang/include/clang/Options/Options.td
  clang/lib/CodeGen/CGCall.cpp
  clang/test/CodeGen/lifetime-call-temp.c
  clang/test/CodeGen/lifetime-invoke-c.c
  clang/test/CodeGenCXX/aggregate-lifetime-invoke.cpp
  clang/test/CodeGenCXX/amdgcn-call-with-aggarg.cc
  clang/test/CodeGenCXX/stack-reuse-miscompile.cpp
  clang/test/CodeGenCoroutines/pr59181.cpp
Labels: none

[𝘀𝗽𝗿] initial version
  llvm/docs/ReleaseNotes.md
  llvm/include/llvm-c/Core.h
  llvm/include/llvm/IR/Instructions.h
  llvm/include/llvm/IR/User.h
  llvm/lib/Bitcode/Writer/ValueEnumerator.cpp
  llvm/lib/CodeGen/TypePromotion.cpp
  llvm/lib/IR/Core.cpp
  llvm/lib/IR/Instruction.cpp
  llvm/lib/IR/Instructions.cpp
  llvm/lib/IR/User.cpp
  llvm/lib/IR/Verifier.cpp
  llvm/lib/Target/SPIRV/SPIRVEmitIntrinsics.cpp
  llvm/lib/Transforms/Utils/SimplifyCFG.cpp
  llvm/test/Transforms/SimplifyCFG/switch-dedup.ll
  llvm/unittests/IR/InstructionsTest.cpp
  llvm/unittests/IR/VerifierTest.cpp
Labels: none

[VPlan] Remove stray space before ops when printing vector-ptr (NFC)
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/test/Transforms/LoopVectorize/vplan-printing.ll
Labels: none

Fix after merge
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/unittests/CodeGen/GlobalISel/IRTranslatorBF16Test.cpp
Labels: none

Add tests
  llvm/test/CodeGen/RISCV/live-variables-basic.mir
  llvm/test/CodeGen/RISCV/live-variables-calls.mir
  llvm/test/CodeGen/RISCV/live-variables-edge-cases.mir
  llvm/test/CodeGen/RISCV/live-variables-loops.mir
  llvm/test/CodeGen/RISCV/live-variables-rv64.mir
Labels: none

[RISCV64] Add live variable analysis pass
  llvm/lib/Target/RISCV/CMakeLists.txt
  llvm/lib/Target/RISCV/RISCV.h
  llvm/lib/Target/RISCV/RISCVLiveVariables.cpp
  llvm/lib/Target/RISCV/RISCVTargetMachine.cpp
Labels: none

Add flag for live variable analysis
  llvm/lib/Target/RISCV/RISCVLiveVariables.cpp
  llvm/lib/Target/RISCV/RISCVTargetMachine.cpp
  llvm/test/CodeGen/RISCV/live-variables-basic.mir
  llvm/test/CodeGen/RISCV/live-variables-calls.mir
  llvm/test/CodeGen/RISCV/machine-live-variables.mir
Labels: none

clang-format and add correct flags to the tests
  llvm/lib/Target/RISCV/RISCVLiveVariables.cpp
  llvm/test/CodeGen/RISCV/live-variables-basic.mir
  llvm/test/CodeGen/RISCV/live-variables-calls.mir
  llvm/test/CodeGen/RISCV/live-variables-edge-cases.mir
  llvm/test/CodeGen/RISCV/live-variables-loops.mir
  llvm/test/CodeGen/RISCV/live-variables-rv64.mir
  llvm/test/CodeGen/RISCV/machine-live-variables.mir
Labels: none

clang format
  llvm/lib/Target/RISCV/RISCVLiveVariables.cpp
  llvm/lib/Target/RISCV/RISCVTargetMachine.cpp
  llvm/test/CodeGen/RISCV/machine-live-variables.mir
Labels: none

Update kill of individual instructions
  llvm/lib/Target/RISCV/RISCV.h
  llvm/lib/Target/RISCV/RISCVLiveVariables.cpp
  llvm/lib/Target/RISCV/RISCVTargetMachine.cpp
Labels: none

Use uses and defs iterator to make sure defs are processed before uses
  llvm/lib/Target/RISCV/RISCVLiveVariables.cpp
Labels: none

Add test from #166141
  llvm/test/CodeGen/RISCV/live-variables-pre-regalloc.ll
Labels: none

Verify liveness is working
  llvm/lib/Target/RISCV/RISCVLiveVariables.cpp
  llvm/lib/Target/RISCV/RISCVTargetMachine.cpp
Labels: none

WIP genset calculation
  llvm/lib/Target/RISCV/RISCVLiveVariables.cpp
  llvm/test/CodeGen/RISCV/live-variables-basic.mir
Labels: none

Add a flag to disable verification
  llvm/lib/Target/RISCV/RISCVLiveVariables.cpp
Labels: none

Return true when kill information is updated
  llvm/lib/Target/RISCV/RISCVLiveVariables.cpp
Labels: none

Update default flags
  llvm/lib/Target/RISCV/RISCVLiveVariables.cpp
Labels: none

Comment
  llvm/lib/Target/RISCV/RISCVLiveVariables.cpp
  llvm/test/CodeGen/RISCV/live-variables-loops.ll
Labels: none

Update test to check loop invariant motion
  llvm/test/CodeGen/RISCV/live-variables-pre-regalloc.ll
Labels: none

Update live-in set of basic blocks
  llvm/lib/Target/RISCV/RISCVLiveVariables.cpp
  llvm/test/CodeGen/RISCV/live-variables-mbb-liveins.ll
Labels: none

Add a flag to gate update of live-in set
  llvm/lib/Target/RISCV/RISCVLiveVariables.cpp
  llvm/test/CodeGen/RISCV/live-variables-mbb-liveins.ll
Labels: none

Add tests for post-regalloc liveness analysis
  llvm/test/CodeGen/RISCV/live-variables-mbb-liveins.ll
Labels: none

Update test cases to stop after live variables
  llvm/test/CodeGen/RISCV/live-variables-edge-cases.ll
  llvm/test/CodeGen/RISCV/live-variables-edge-cases.mir
  llvm/test/CodeGen/RISCV/live-variables-loops.ll
  llvm/test/CodeGen/RISCV/live-variables-loops.mir
  llvm/test/CodeGen/RISCV/live-variables-rv64.ll
  llvm/test/CodeGen/RISCV/live-variables-rv64.mir
Labels: none

[mlir][vector] Fix crash in ReorderCastOpsOnBroadcast with non-vector result
  mlir/lib/Dialect/Vector/Transforms/VectorTransforms.cpp
  mlir/test/Dialect/Vector/vector-sink.mlir
Labels: none

[clang-tidy] Fix implicit-bool-conversion false positives with C23 logical operators
  clang-tools-extra/clang-tidy/readability/ImplicitBoolConversionCheck.cpp
  clang-tools-extra/clang-tidy/readability/ImplicitBoolConversionCheck.h
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/test/clang-tidy/checkers/readability/implicit-bool-conversion-c99.c
  clang-tools-extra/test/clang-tidy/checkers/readability/implicit-bool-conversion.c
Labels: none

fix attestation
  .github/workflows/release-binaries.yml
Labels: misc

[libc++][bitset] Applied `[[nodiscard]]` (#170623)
  libcxx/include/__bit_reference
  libcxx/include/bitset
  libcxx/test/libcxx/utilities/template.bitset/nodiscard.verify.cpp
Labels: none

Use TargetTriple to bail out for RV32
  llvm/lib/Target/RISCV/RISCV.h
  llvm/lib/Target/RISCV/RISCVLiveVariables.cpp
  llvm/lib/Target/RISCV/RISCVTargetMachine.cpp
Labels: none

Add test from the bug report
  llvm/test/CodeGen/RISCV/live-variables-mbb-liveness-crash.ll
Labels: none

[CIR] Add structured CatchParamOp (#165110)
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/test/CIR/IR/catch-param.cir
Labels: none
