Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*

[flang] Extend named-constant actual argument test coverage
  flang/test/Lower/HLFIR/call-parameter-boz.f90
  flang/test/Lower/HLFIR/call-parameter-sections.f90
  flang/test/Semantics/call-parameter-seq-assoc.f90
Labels: none

[Transforms] Use make_isa_range for type-filtered loops (NFC) (#224597)
  llvm/lib/Transforms/IPO/GlobalOpt.cpp
  llvm/lib/Transforms/IPO/LowerTypeTests.cpp
  llvm/lib/Transforms/IPO/MergeFunctions.cpp
  llvm/lib/Transforms/IPO/SampleProfile.cpp
  llvm/lib/Transforms/Instrumentation/CGProfile.cpp
  llvm/lib/Transforms/Scalar/DeadStoreElimination.cpp
  llvm/lib/Transforms/Scalar/RewriteStatepointsForGC.cpp
  llvm/lib/Transforms/Utils/LoopUnroll.cpp
Labels: none

[CIR] Source LoweringPrepare target facts from the module (#219078)
  clang/include/clang/CIR/Dialect/Passes.td
  clang/lib/CIR/Dialect/Transforms/LoweringPrepare.cpp
Labels: none

[libclang/python] Fold CCRStructure into CodeCompletionResults
  clang/bindings/python/clang/cindex.py
  clang/bindings/python/tests/cindex/test_code_completion.py
  clang/docs/ReleaseNotes.md
Labels: python

[RISCV] Remove combineTruncToVnclip. (#224418)
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-trunc-sat-clip.ll
  llvm/test/CodeGen/RISCV/rvv/fpclamptosat_vec.ll
  llvm/test/CodeGen/RISCV/rvv/trunc-sat-clip-sdnode.ll
Labels: none

[MLIR][Python] Allow `Attribute` to denote unconstrained attributes in Python-defined ops
  mlir/python/mlir/dialects/ext.py
  mlir/test/python/dialects/ext.py
Labels: python

[flang] Keep rejecting named-constant elements for VALUE array dummies
  flang/lib/Semantics/check-call.cpp
  flang/test/Semantics/call-parameter-seq-assoc.f90
Labels: none

[feat] allow for opt-out with cost model
  llvm/lib/Transforms/Scalar/LoopFuse.cpp
  llvm/test/Transforms/LoopFusion/double_loop_nest_inner_guard.ll
  llvm/test/Transforms/LoopFusion/four_loops.ll
  llvm/test/Transforms/LoopFusion/guarded.ll
  llvm/test/Transforms/LoopFusion/hoist_load.ll
  llvm/test/Transforms/LoopFusion/hoist_preheader.ll
  llvm/test/Transforms/LoopFusion/hoist_store.ll
  llvm/test/Transforms/LoopFusion/loop_invariant.ll
  llvm/test/Transforms/LoopFusion/loop_nest.ll
  llvm/test/Transforms/LoopFusion/peel-preserve-lcssa.ll
  llvm/test/Transforms/LoopFusion/peel.ll
  llvm/test/Transforms/LoopFusion/pr165087.ll
  llvm/test/Transforms/LoopFusion/pr193641.ll
  llvm/test/Transforms/LoopFusion/simple.ll
  llvm/test/Transforms/LoopFusion/sink_load.ll
  llvm/test/Transforms/LoopFusion/sink_preheader.ll
  llvm/test/Transforms/LoopFusion/sink_store.ll
  llvm/test/Transforms/LoopFusion/sunk-phi-nodes.ll
  llvm/test/Transforms/LoopFusion/triple_loop_nest_inner_guard.ll
Labels: none

Simplify intrinsic matching
  llvm/lib/Transforms/AggressiveInstCombine/TruncInstCombine.cpp
Labels: none

[ThinLTOBitcodeWriter] Encode hotness into cfi.functions metadata (#223846)
  llvm/include/llvm/Transforms/IPO/LowerTypeTests.h
  llvm/lib/Transforms/IPO/LowerTypeTests.cpp
  llvm/lib/Transforms/IPO/ThinLTOBitcodeWriter.cpp
  llvm/test/Transforms/ThinLTOBitcodeWriter/cfi-functions-hotness.ll
Labels: none

[libc++] Extract building libc++ into a composite action
  .github/workflows/libcxx-benchmark-commit.yml
  .github/workflows/libcxx-pr-benchmark.yml
  .github/workflows/libcxx/build-at-commit/action.yml
  libcxx/utils/ci/lnt/README.md
  libcxx/utils/ci/lnt/run-benchmarks
Labels: misc

[X86] Add test for mul with an opaque constant operand. NFC
  llvm/test/CodeGen/X86/combine-mul.ll
Labels: none

[DAG] Canonicalize a non-opaque constant to the RHS of MUL over an opaque one
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/test/CodeGen/X86/combine-mul.ll
  llvm/test/CodeGen/X86/combine-mulo.ll
Labels: none

Revert "[alpha.webkit.UnretainedCallArgsChecker] Emit a warning for a non-const RetainPtr member (#184243)" (#224464)
  clang/lib/StaticAnalyzer/Checkers/WebKit/ASTUtils.cpp
  clang/test/Analysis/Checkers/WebKit/call-args.cpp
  clang/test/Analysis/Checkers/WebKit/objc-mock-types.h
  clang/test/Analysis/Checkers/WebKit/unretained-call-args-member.mm
Labels: none

[Clang] Don't make a statement expression invalid when its last statement is dropped without an error
  clang/docs/ReleaseNotes.md
  clang/lib/Parse/ParseStmt.cpp
  clang/test/CodeGen/GH215454.c
  clang/test/SemaCXX/gh113468.cpp
Labels: none

[JITLink] [GOFF] Initial support for GOFF
  llvm/include/llvm/ExecutionEngine/JITLink/GOFF.h
  llvm/include/llvm/ExecutionEngine/JITLink/GOFF_systemz.h
  llvm/include/llvm/ExecutionEngine/JITLink/systemz.h
  llvm/include/llvm/Object/GOFFObjectFile.h
  llvm/lib/ExecutionEngine/JITLink/CMakeLists.txt
  llvm/lib/ExecutionEngine/JITLink/GOFF.cpp
  llvm/lib/ExecutionEngine/JITLink/GOFFLinkGraphBuilder.cpp
  llvm/lib/ExecutionEngine/JITLink/GOFFLinkGraphBuilder.h
  llvm/lib/ExecutionEngine/JITLink/GOFF_systemz.cpp
  llvm/lib/ExecutionEngine/JITLink/JITLink.cpp
  llvm/lib/ExecutionEngine/JITLink/systemz.cpp
  llvm/lib/ExecutionEngine/Orc/LoadLinkableFile.cpp
  llvm/lib/ExecutionEngine/Orc/ObjectFileInterface.cpp
  llvm/lib/Object/GOFFObjectFile.cpp
  llvm/test/ExecutionEngine/JITLink/systemz/GOFF_systemz_reloc_ptr.ll
Labels: none

Address comments
  llvm/lib/Target/AMDGPU/AMDGPUTargetParser.td
  llvm/utils/TableGen/Basic/AMDGPUTargetDefEmitter.cpp
Labels: none

[compiler-rt] Fix the use of COMPILER_RT_BUILTINS_LIBRARY
  compiler-rt/cmake/config-ix.cmake
Labels: none

Fix formatting
  clang/bindings/python/clang/cindex.py
Labels: python

[MergeFunctions] Don't alias a merged COFF function to a local body
  llvm/lib/Transforms/IPO/MergeFunctions.cpp
  llvm/test/Transforms/MergeFunc/coff-weak-alias-object.ll
  llvm/test/Transforms/MergeFunc/coff-weak-alias.ll
Labels: none

[offload-arch] Disable "-strict" printing if env var says so
  clang/tools/offload-arch/AMDGPUArchByKFD.cpp
Labels: none

remove redundant dominate check
  llvm/lib/Analysis/ValueTracking.cpp
Labels: none

Update test-tools
  libcxx/utils/ci/run-buildbot
Labels: none

Reword artifacts directory
  libcxx/utils/ci/lnt/run-benchmarks
Labels: none

[libc][math] Fix "Postive" typo in exhaustive test folder.
  libc/src/__support/math/acosf.h
  libc/test/src/math/exhaustive/acosf_test.cpp
  libc/test/src/math/exhaustive/acoshf_test.cpp
  libc/test/src/math/exhaustive/acospif_test.cpp
  libc/test/src/math/exhaustive/asinf_test.cpp
  libc/test/src/math/exhaustive/asinhf_test.cpp
  libc/test/src/math/exhaustive/asinpif_test.cpp
  libc/test/src/math/exhaustive/atanf_float_test.cpp
  libc/test/src/math/exhaustive/atanf_test.cpp
  libc/test/src/math/exhaustive/atanhf_test.cpp
  libc/test/src/math/exhaustive/bfloat16_test.cpp
  libc/test/src/math/exhaustive/cbrtf_test.cpp
  libc/test/src/math/exhaustive/cosf_float_test.cpp
  libc/test/src/math/exhaustive/cosf_test.cpp
  libc/test/src/math/exhaustive/coshf_test.cpp
  libc/test/src/math/exhaustive/cospif_test.cpp
  libc/test/src/math/exhaustive/erff_test.cpp
  libc/test/src/math/exhaustive/exp10f_test.cpp
  libc/test/src/math/exhaustive/exp10m1f_test.cpp
  libc/test/src/math/exhaustive/exp2f_test.cpp
  libc/test/src/math/exhaustive/exp2m1f_test.cpp
  libc/test/src/math/exhaustive/expf_static_rounding_test.cpp
  libc/test/src/math/exhaustive/expf_test.cpp
  libc/test/src/math/exhaustive/expm1f_test.cpp
  libc/test/src/math/exhaustive/f16sqrtf_test.cpp
  libc/test/src/math/exhaustive/fmodbf16_test.cpp
  libc/test/src/math/exhaustive/fmodf16_test.cpp
  libc/test/src/math/exhaustive/log10f_test.cpp
  libc/test/src/math/exhaustive/log1pf_test.cpp
  libc/test/src/math/exhaustive/log2f_test.cpp
  libc/test/src/math/exhaustive/logf_test.cpp
  libc/test/src/math/exhaustive/sincosf_test.cpp
  libc/test/src/math/exhaustive/sinf_float_test.cpp
  libc/test/src/math/exhaustive/sinf_test.cpp
  libc/test/src/math/exhaustive/sinhf_test.cpp
  libc/test/src/math/exhaustive/sinpif_test.cpp
  libc/test/src/math/exhaustive/sqrtf_test.cpp
  libc/test/src/math/exhaustive/tanf_test.cpp
  libc/test/src/math/exhaustive/tanhf_test.cpp
  libc/test/src/math/exhaustive/tanpif_test.cpp
Labels: none

Fix formatting
  clang/bindings/python/clang/cindex.py
Labels: python

[mlir][xegpu] Derive load_nd lane_data from the hardware block variant (#223164)
  mlir/include/mlir/Dialect/XeGPU/uArch/uArchBase.h
  mlir/lib/Dialect/XeGPU/Transforms/XeGPULayoutImpl.cpp
  mlir/test/Dialect/XeGPU/propagate-layout-inst-data.mlir
Labels: none

[lldb] Add missing header
  lldb/unittests/API/SBProgressTest.cpp
Labels: none

[LLVMABI] Add Clang 23 compatible handling for matrix types (#224121)
  clang/include/clang/CIR/Dialect/Passes.h
  clang/lib/CIR/Dialect/Transforms/CallConvLoweringPass.cpp
  clang/lib/CIR/Lowering/CIRPasses.cpp
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/test/CodeGen/AArch64/abi-lowering-matrix-ha-compat23.c
  llvm/include/llvm/ABI/TargetInfo.h
  llvm/lib/ABI/TargetInfo.cpp
  llvm/lib/ABI/Targets/AArch64.cpp
  llvm/lib/ABI/Targets/BPF.cpp
  llvm/lib/ABI/Targets/X86.cpp
  llvm/unittests/ABI/X86TargetInfoTest.cpp
Labels: none

Restore behavior when the libc++ build fails
  .github/workflows/libcxx-benchmark-commit.yml
  .github/workflows/libcxx/build-at-commit/action.yml
Labels: misc

[Support] Infer compression format from zlib and zstd headers
  clang/lib/Serialization/ASTReader.cpp
  llvm/include/llvm/Support/Compression.h
  llvm/lib/Support/Compression.cpp
  llvm/unittests/Support/CompressionTest.cpp
Labels: none

[bazel][test][libc] Add tags to tests marking full-build compatibility (#224457)
  utils/bazel/llvm-project-overlay/libc/test/libc_test_rules.bzl
  utils/bazel/llvm-project-overlay/libc/test/src/__support/FPUtil/BUILD.bazel
  utils/bazel/llvm-project-overlay/libc/test/src/complex/BUILD.bazel
  utils/bazel/llvm-project-overlay/libc/test/src/math/libc_math_test_rules.bzl
Labels: none

[Offloading] Add support for compressed OffloadBinary types
  llvm/docs/CommandGuide/llvm-offload-binary.md
  llvm/docs/ReleaseNotes.md
  llvm/include/llvm/Object/OffloadBinary.h
  llvm/include/llvm/ObjectYAML/OffloadYAML.h
  llvm/lib/Object/OffloadBinary.cpp
  llvm/lib/ObjectYAML/OffloadEmitter.cpp
  llvm/lib/ObjectYAML/OffloadYAML.cpp
  llvm/test/ObjectYAML/Offload/compressed-zlib.yaml
  llvm/test/ObjectYAML/Offload/compressed.yaml
  llvm/test/ObjectYAML/Offload/malformed-compressed-offset.yaml
  llvm/test/ObjectYAML/Offload/malformed-version.yaml
  llvm/test/tools/llvm-objdump/Offloading/compressed.test
  llvm/test/tools/llvm-offload-binary/compress.test
  llvm/tools/llvm-objdump/OffloadDump.cpp
  llvm/tools/llvm-objdump/OffloadDump.h
  llvm/tools/llvm-objdump/llvm-objdump.cpp
  llvm/tools/llvm-offload-binary/llvm-offload-binary.cpp
  llvm/tools/obj2yaml/offload2yaml.cpp
  llvm/unittests/Object/OffloadingTest.cpp
Labels: none

Remove a redundant check
  clang/lib/StaticAnalyzer/Core/CallEvent.cpp
Labels: none

add prefix-stable packing API and documentation
  llvm/docs/DirectX/SemanticSignatures.md
  llvm/include/llvm/Frontend/HLSL/SemanticSignaturePacking.h
  llvm/lib/Frontend/HLSL/SemanticSignaturePacking.cpp
Labels: none

update harness
  llvm/unittests/Frontend/HLSLSemanticSignaturePackingTest.cpp
Labels: none

enforce prefix-stable component ordering
  llvm/lib/Frontend/HLSL/SemanticSignaturePacking.cpp
  llvm/unittests/Frontend/HLSLSemanticSignaturePackingTest.cpp
Labels: none

add basic prefix-stable packing
  llvm/lib/Frontend/HLSL/SemanticSignaturePacking.cpp
  llvm/unittests/Frontend/HLSLSemanticSignaturePackingTest.cpp
Labels: none

enforce prefix-stable signature row compatibility
  llvm/lib/Frontend/HLSL/SemanticSignaturePacking.cpp
  llvm/unittests/Frontend/HLSLSemanticSignaturePackingTest.cpp
Labels: none

pack prefix-stable tessellation factors
  llvm/lib/Frontend/HLSL/SemanticSignaturePacking.cpp
  llvm/unittests/Frontend/HLSLSemanticSignaturePackingTest.cpp
Labels: none
