Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[LLD][COFF] Prefetch inputs early on to improve link times
  lld/COFF/Driver.cpp
  llvm/include/llvm/Support/FileSystem.h
  llvm/include/llvm/Support/MemoryBuffer.h
  llvm/lib/Support/MemoryBuffer.cpp
  llvm/lib/Support/Unix/Path.inc
  llvm/lib/Support/Windows/Path.inc
Labels: none

Unconditionally define struct
  llvm/lib/Support/Windows/Path.inc
Labels: none

loadSystemModuleSecure and GetProcAddress made static in a lambda
  llvm/lib/Support/Windows/Path.inc
Labels: none

Add flag -prefetch-inputs and update release notes.
  lld/COFF/Config.h
  lld/COFF/Driver.cpp
  lld/COFF/Options.td
  lld/docs/ReleaseNotes.rst
Labels: none

[clang][CodeGen] Fix ConstantInt::get for i1 in EmitScalarPrePostIncDec (#175152)
  clang/lib/CodeGen/CGExprScalar.cpp
  clang/test/CodeGen/ext-int.c
Labels: none

Address review comments.
  lld/COFF/Driver.cpp
  lld/docs/ReleaseNotes.rst
Labels: none

[WebAssembly] vi8 mul cost modelling.
  llvm/lib/Target/WebAssembly/WebAssemblyISelLowering.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyTargetTransformInfo.cpp
  llvm/test/CodeGen/WebAssembly/memory-interleave.ll
  llvm/test/CodeGen/WebAssembly/simd-pr61780.ll
  llvm/test/Transforms/LoopVectorize/WebAssembly/memory-interleave.ll
Labels: none

Revert "[VPlan] Only use isAddressSCEVForCost in legacy getAddressAccSCEV (NFCI)"
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/induction-costs.ll
Labels: none

Fix checking for non-bitcastable arguments
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/arm64-vshift.ll
Labels: none

[libc++] Remove some low value benchmarks
  libcxx/test/benchmarks/algorithms/lexicographical_compare.bench.cpp
  libcxx/test/benchmarks/bitset.bench.cpp
  libcxx/test/benchmarks/to_chars.bench.cpp
Labels: none

formatting
  llvm/lib/Target/WebAssembly/WebAssemblyTargetTransformInfo.cpp
Labels: none

cleanup+add: cleanup exisiting tests and cleanup _mm256_cmpeq_epu8/epu16/epi8/epu16
  clang/test/CodeGen/X86/avx512vlbw-builtins.c
Labels: none

[X86] Add baseline test coverage for #169995 (#175175)
  llvm/test/CodeGen/X86/masked_packss.ll
  llvm/test/CodeGen/X86/masked_packus.ll
  llvm/test/CodeGen/X86/packss.ll
  llvm/test/CodeGen/X86/packus.ll
Labels: none

[lldb-dap] add timeout to spawn_and_wait test utility (#174461)
  lldb/test/API/tools/lldb-dap/attach/TestDAP_attach.py
Labels: python

[flang][mlir] Add checks and test for linear clause on omp.wsloop and omp.simd (#174916)
  flang/docs/OpenMPSupport.md
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/test/Lower/OpenMP/composite_simd_linear.f90
  flang/test/Lower/OpenMP/distribute-parallel-do-simd.f90
  mlir/lib/Dialect/OpenMP/IR/OpenMPDialect.cpp
  mlir/test/Dialect/OpenMP/ops.mlir
  mlir/test/Target/LLVMIR/openmp-llvm-invalid.mlir
Labels: none

[flang][openacc] support array section privatization in lowering
  flang/include/flang/Lower/OpenACC.h
  flang/include/flang/Optimizer/Builder/FIRBuilder.h
  flang/include/flang/Optimizer/OpenACC/Support/FIROpenACCTypeInterfaces.h
  flang/lib/Lower/OpenACC.cpp
  flang/lib/Optimizer/Builder/FIRBuilder.cpp
  flang/lib/Optimizer/Builder/HLFIRTools.cpp
  flang/lib/Optimizer/OpenACC/Support/FIROpenACCTypeInterfaces.cpp
  flang/lib/Optimizer/OpenACC/Support/FIROpenACCUtils.cpp
  flang/test/Fir/OpenACC/recipe-populate-firstprivate.mlir
  flang/test/Fir/OpenACC/recipe-populate-private.mlir
  flang/test/Lower/OpenACC/acc-firstprivate-derived-pointer-component.f90
  flang/test/Lower/OpenACC/acc-firstprivate-derived-user-assign.f90
  flang/test/Lower/OpenACC/acc-firstprivate-derived.f90
  flang/test/Lower/OpenACC/acc-parallel.f90
  flang/test/Lower/OpenACC/acc-private.f90
  flang/test/Lower/OpenACC/acc-reduction.f90
  flang/test/Lower/OpenACC/acc-serial-loop.f90
  flang/test/Lower/OpenACC/acc-serial.f90
  flang/test/Transforms/OpenACC/acc-implicit-firstprivate.fir
  mlir/include/mlir/Dialect/OpenACC/OpenACCTypeInterfaces.td
  mlir/lib/Dialect/OpenACC/IR/OpenACC.cpp
Labels: none

Fix Bazel build for 75fefa3 (#175179)
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: none

[SPIR-V] Initial support for SPIR-V in `gpuintrin.h` (#174910)
  clang/lib/Headers/CMakeLists.txt
  clang/lib/Headers/gpuintrin.h
  clang/lib/Headers/spirvintrin.h
  clang/test/Headers/gpuintrin.c
  clang/test/Headers/gpuintrin_lang.c
Labels: none

[libc++] Remove empty container benchmarks that are meaningless from the associative containers
  libcxx/test/benchmarks/containers/associative/associative_container_benchmarks.h
Labels: none

[lldb] Fix crash when passing a folder in as the executable
  lldb/source/Symbol/ObjectFile.cpp
  lldb/test/Shell/ObjectFile/invalid.test
Labels: none

[OpenMP][OMPT] Change handling of target-related tool data in libomp
  openmp/runtime/src/ompt-general.cpp
  openmp/runtime/src/ompt-internal.h
  openmp/runtime/src/ompt-specific.cpp
  openmp/runtime/src/ompt-specific.h
  openmp/runtime/test/ompt/callback.h
Labels: openmp

Fix doc
  lld/docs/ReleaseNotes.rst
Labels: none

[TableGen] Remove deprecated !getop and !setop (#175155)
  llvm/docs/ReleaseNotes.md
  llvm/docs/TableGen/ProgRef.rst
  llvm/lib/TableGen/TGLexer.cpp
  llvm/test/TableGen/getsetdagop.td
Labels: none

[X86] Add baseline clmul intrinsic test coverage
  llvm/test/CodeGen/X86/clmul-vector.ll
  llvm/test/CodeGen/X86/clmul.ll
Labels: none

[CIR][NFC] Generate ABI lowering patterns with TableGen
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/Dialect/Transforms/CXXABILowering.cpp
  clang/utils/TableGen/CIRLoweringEmitter.cpp
Labels: none

[mlir][tosa] Add min/max_shape ops
  mlir/include/mlir/Dialect/Tosa/IR/TosaShapeOps.td
  mlir/lib/Dialect/Tosa/Transforms/TosaProfileCompliance.cpp
  mlir/lib/Dialect/Tosa/Transforms/TosaValidation.cpp
  mlir/test/Dialect/Tosa/invalid_extension.mlir
  mlir/test/Dialect/Tosa/ops.mlir
Labels: none

[libc++] Make optional::iterator experimental (#173470)
  libcxx/docs/ReleaseNotes/22.rst
  libcxx/include/__configuration/experimental.h
  libcxx/include/optional
  libcxx/include/version
  libcxx/test/libcxx/experimental/fexperimental-library.compile.pass.cpp
  libcxx/test/libcxx/utilities/optional/nodiscard.verify.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/optional.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/version.version.compile.pass.cpp
  libcxx/test/std/utilities/optional/optional.iterator/begin.pass.cpp
  libcxx/test/std/utilities/optional/optional.iterator/borrowed_range.compile.pass.cpp
  libcxx/test/std/utilities/optional/optional.iterator/end.pass.cpp
  libcxx/test/std/utilities/optional/optional.iterator/iterator.pass.cpp
  libcxx/utils/generate_feature_test_macro_components.py
  libcxx/utils/libcxx/test/params.py
Labels: python

Update clang/lib/Basic/Targets/SPIR.h
  clang/lib/Basic/Targets/SPIR.h
Labels: none

add: tests for 64/32 bit __mm(256)_cmp_ep*_(32/64)
  clang/test/CodeGen/X86/avx512vlbw-builtins.c
Labels: none

[AMDGPU] Remove unneeded redirects from MC tests. NFC.
  llvm/test/MC/AMDGPU/gfx11_asm_vop2_fake16_promote.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop2_t16_promote.s
  llvm/test/MC/AMDGPU/gfx11_asm_vopc_t16_promote.s
  llvm/test/MC/AMDGPU/gfx11_asm_vopcx_fake16_promote.s
  llvm/test/MC/AMDGPU/gfx11_asm_vopcx_t16_promote.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop2_fake16_promote.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop2_t16_promote.s
  llvm/test/MC/AMDGPU/gfx12_asm_vopcx_fake16_promote.s
  llvm/test/MC/AMDGPU/gfx12_asm_vopcx_t16_promote.s
  llvm/test/MC/AMDGPU/sym_kernel_scope.s
  llvm/test/MC/AMDGPU/sym_kernel_scope_agpr.s
Labels: none

[OpenMP] Remove testing LTO variant on CPU targets
  offload/plugins-nextgen/host/CMakeLists.txt
  offload/test/lit.cfg
  offload/test/offloading/CUDA/basic_launch.cu
  offload/test/offloading/CUDA/basic_launch_blocks_and_threads.cu
  offload/test/offloading/CUDA/launch_tu.cu
  offload/test/offloading/dynamic-schedule-non-spmd.cpp
  offload/test/offloading/dynamic-schedule.cpp
  offload/test/offloading/fortran/dump_map_tables.f90
  offload/test/offloading/fortran/target-defaultmap.f90
  offload/test/offloading/fortran/target-depend.f90
  offload/test/offloading/fortran/target-map-all-common-block-members.f90
  offload/test/offloading/fortran/target-map-common-block.f90
  offload/test/offloading/fortran/target-map-declare-target-link-common-block.f90
  offload/test/offloading/fortran/target-map-first-common-block-member.f90
  offload/test/offloading/fortran/target-map-mix-imp-exp-common-block-members.f90
  offload/test/offloading/fortran/target-map-second-common-block-member.f90
  offload/test/offloading/high_trip_count_block_limit.cpp
  offload/test/offloading/schedule.c
  offload/test/sanitizer/double_free.c
  offload/test/sanitizer/double_free_racy.c
  offload/test/sanitizer/free_host_ptr.c
  offload/test/sanitizer/free_wrong_ptr_kind.c
  offload/test/sanitizer/free_wrong_ptr_kind.cpp
  offload/test/sanitizer/kernel_crash.c
  offload/test/sanitizer/kernel_crash_async.c
  offload/test/sanitizer/kernel_crash_many.c
  offload/test/sanitizer/kernel_crash_single.c
  offload/test/sanitizer/kernel_trap.c
  offload/test/sanitizer/kernel_trap.cpp
  offload/test/sanitizer/kernel_trap_async.c
  offload/test/sanitizer/kernel_trap_many.c
Labels: none

[clang][bytecode] Fix initializing array elems from string (#175170)
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/test/AST/ByteCode/new-delete.cpp
Labels: none

[clang][bytecode] Fix APValues for arrays in dynamic allocations (#175176)
  clang/lib/AST/ByteCode/Pointer.cpp
  clang/test/AST/ByteCode/new-delete.cpp
Labels: none

[CodeGen] Introduce MI flag for Live Range split instructions
  llvm/include/llvm/CodeGen/MachineInstr.h
  llvm/lib/CodeGen/SplitKit.cpp
Labels: none

[AMDGPU] Add support for GFX12 expert scheduling mode 2 (#170319)
  llvm/docs/AMDGPUUsage.rst
  llvm/lib/Target/AMDGPU/GCNSubtarget.h
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.h
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/lib/Target/AMDGPU/VOP2Instructions.td
  llvm/lib/Target/AMDGPU/VOP3Instructions.td
  llvm/lib/Target/AMDGPU/VOPCInstructions.td
  llvm/lib/Target/AMDGPU/VOPInstructions.td
  llvm/test/CodeGen/AMDGPU/expert_scheduling_gfx12.mir
  llvm/test/CodeGen/AMDGPU/function-esm2-prologue-epilogue.ll
  llvm/test/CodeGen/AMDGPU/loop-prefetch-data.ll
Labels: none

[LLD][COFF] Prefetch inputs early-on to improve link times (#169224)
  lld/COFF/Config.h
  lld/COFF/Driver.cpp
  lld/COFF/Options.td
  lld/docs/ReleaseNotes.rst
  llvm/include/llvm/Support/FileSystem.h
  llvm/include/llvm/Support/MemoryBuffer.h
  llvm/lib/Support/MemoryBuffer.cpp
  llvm/lib/Support/Unix/Path.inc
  llvm/lib/Support/Windows/Path.inc
Labels: none

[X86] Add baseline clmul intrinsic test coverage (#175185)
  llvm/test/CodeGen/X86/clmul-vector.ll
  llvm/test/CodeGen/X86/clmul.ll
Labels: none

[CodeGen] Introduce MI flag for Live Range split instructions (#117543)
  llvm/include/llvm/CodeGen/MachineInstr.h
  llvm/lib/CodeGen/SplitKit.cpp
Labels: none

[SPIR-V] Fix Linkage capability with pushconstant
  llvm/lib/Target/SPIRV/SPIRVPushConstantAccess.cpp
  llvm/test/CodeGen/SPIRV/vk-pushconstant-access.ll
  llvm/test/CodeGen/SPIRV/vk-pushconstant-layout.ll
Labels: none

[AMDGPU] Add liverange split instructions into BB Prolog (#117544)
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
  llvm/test/CodeGen/AMDGPU/ran-out-of-sgprs-allocation-failure.mir
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
