Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

Extend promote alloca to vector for phi/select
  llvm/lib/Target/AMDGPU/AMDGPUPromoteAlloca.cpp
  llvm/test/CodeGen/AMDGPU/promote-alloca-to-lds-select.ll
Labels: none

Clarifications
  llvm/lib/Target/AMDGPU/AMDGPUPromoteAlloca.cpp
Labels: none

Adding lit-tests
  llvm/test/CodeGen/AMDGPU/promote-alloca-select-vector-preferred.ll
  llvm/test/CodeGen/AMDGPU/promote-alloca-vector-phi.ll
  llvm/test/CodeGen/AMDGPU/promote-alloca-vector-select.ll
Labels: none

[clang-tidy] Improve RangeLikeClasses documentation and tests
  clang-tools-extra/docs/ReleaseNotes.md
  clang-tools-extra/docs/clang-tidy/checks/performance/inefficient-vector-operation.rst
  clang-tools-extra/test/clang-tidy/checkers/performance/inefficient-vector-operation-vectorlike-classes.cpp
Labels: none

[clang-tidy] Make range source classes configurable
  clang-tools-extra/clang-tidy/performance/InefficientVectorOperationCheck.cpp
  clang-tools-extra/clang-tidy/performance/InefficientVectorOperationCheck.h
  clang-tools-extra/docs/ReleaseNotes.md
  clang-tools-extra/docs/clang-tidy/checks/performance/inefficient-vector-operation.rst
  clang-tools-extra/test/clang-tidy/checkers/performance/inefficient-vector-operation-vectorlike-classes.cpp
Labels: none

[clang-tidy] Fix RangeLikeClasses release note link
  clang-tools-extra/docs/ReleaseNotes.md
Labels: none

[libcxx][locale] Refactor strtonum functions using __str_to_float_c_locale<FloatT> (#222081)
  libcxx/include/__locale_dir/locale_base_api.h
  libcxx/include/__locale_dir/locale_base_api/bsd_locale_fallbacks.h
  libcxx/include/__locale_dir/num.h
  libcxx/include/__locale_dir/support/aix.h
  libcxx/include/__locale_dir/support/bsd_like.h
  libcxx/include/__locale_dir/support/fuchsia.h
  libcxx/include/__locale_dir/support/linux.h
  libcxx/include/__locale_dir/support/newlib.h
  libcxx/include/__locale_dir/support/no_locale/strtonum.h
  libcxx/include/__locale_dir/support/openbsd.h
  libcxx/include/__locale_dir/support/windows.h
  libcxx/src/support/win32/locale_win32.cpp
Labels: none

[AIX][libc++] Forward-declare locale functions in aix.h when _XOPEN_SOURCE_ < 700
  libcxx/include/__locale_dir/support/aix.h
  libcxx/test/extensions/posix/xopen_source.gen.py
Labels: python

[orc-rt] Reject non-socket descriptors in socket:adopt
  orc-rt/include/orc-rt/bedrock/SocketConnector.h
  orc-rt/lib/bedrock/sys/posix/SocketConnector.cpp
  orc-rt/test/unit/CMakeLists.txt
  orc-rt/test/unit/bedrock/SocketConnectorTest.cpp
Labels: none

[orc-rt] Reorganize regression tests, add JIT'd code support
  orc-rt/cmake/OrcRTTesting.cmake
  orc-rt/test/regression/README.md
  orc-rt/test/regression/darwin/lit.local.cfg
  orc-rt/test/regression/jit-free-foundations/check-rt-process-info.test
  orc-rt/test/regression/jit-free-foundations/lit.local.cfg
  orc-rt/test/regression/jit-free-foundations/logging/lit.local.cfg
  orc-rt/test/regression/jit-free-foundations/logging/os_log/delivery.test
  orc-rt/test/regression/jit-free-foundations/logging/os_log/lit.local.cfg
  orc-rt/test/regression/jit-free-foundations/logging/os_log/no-printf-output.test
  orc-rt/test/regression/jit-free-foundations/logging/printf-backend/bad-level.test
  orc-rt/test/regression/jit-free-foundations/logging/printf-backend/debug-compiled-out.test
  orc-rt/test/regression/jit-free-foundations/logging/printf-backend/debug-level.test
  orc-rt/test/regression/jit-free-foundations/logging/printf-backend/format.test
  orc-rt/test/regression/jit-free-foundations/logging/printf-backend/level-off.test
  orc-rt/test/regression/jit-free-foundations/logging/printf-backend/lit.local.cfg
  orc-rt/test/regression/jit-free-foundations/logging/printf-backend/output-redirect.test
  orc-rt/test/regression/jit-free-foundations/logging/printf-backend/runtime-level.test
  orc-rt/test/regression/jit-free-foundations/ogre-help.test
  orc-rt/test/regression/jit-free-foundations/smoke-check.test
  orc-rt/test/regression/languages/c/lit.local.cfg
  orc-rt/test/regression/languages/c/return-zero.c
  orc-rt/test/regression/linux/lit.local.cfg
  orc-rt/test/regression/lit.cfg.py
  orc-rt/test/regression/object-formats/lit.local.cfg
  orc-rt/test/regression/object-formats/mach-o/arm64/lit.local.cfg
  orc-rt/test/regression/object-formats/mach-o/arm64/return-zero.s
  orc-rt/test/regression/object-formats/mach-o/lit.local.cfg
Labels: python

[bazel] Port 4faf0ae, 15cff90, 9028ff14
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
  utils/bazel/llvm-project-overlay/libc/libc_build_rules.bzl
  utils/bazel/llvm-project-overlay/libc/startup/linux/BUILD.bazel
Labels: none

[TLI] Defer the new x86 libmvec _ZGVd rows until #162239 is fixed
  llvm/include/llvm/Analysis/VecFuncs.def
  llvm/test/Transforms/LoopVectorize/X86/libm-vector-calls.ll
  llvm/test/Transforms/ReplaceWithVeclib/X86/replace-with-veclib-libmvec.ll
  llvm/test/Transforms/Util/add-TLI-mappings.ll
Labels: none

Refactor: ErrRecovery.cpp impl
  clang/include/clang/Interpreter/ErrorRecovery.h
  clang/lib/Interpreter/ErrRecovery.cpp
Labels: none

[lldb] Index Wasm data segment names by their entry's index (#226302)
  lldb/source/Plugins/ObjectFile/wasm/ObjectFileWasm.cpp
  lldb/test/Shell/ObjectFile/wasm/data-segment-names.yaml
Labels: none

python-formatting
  orc-rt/test/regression/lit.cfg.py
Labels: python

[orc-rt] Reject non-socket descriptors in socket:adopt (#226354)
  orc-rt/include/orc-rt/bedrock/SocketConnector.h
  orc-rt/lib/bedrock/sys/posix/SocketConnector.cpp
  orc-rt/test/unit/CMakeLists.txt
  orc-rt/test/unit/bedrock/SocketConnectorTest.cpp
Labels: none

[orc-rt] Reorganize regression tests, add JIT'd code support (#226356)
  orc-rt/cmake/OrcRTTesting.cmake
  orc-rt/test/regression/README.md
  orc-rt/test/regression/darwin/lit.local.cfg
  orc-rt/test/regression/jit-free-foundations/check-rt-process-info.test
  orc-rt/test/regression/jit-free-foundations/lit.local.cfg
  orc-rt/test/regression/jit-free-foundations/logging/lit.local.cfg
  orc-rt/test/regression/jit-free-foundations/logging/os_log/delivery.test
  orc-rt/test/regression/jit-free-foundations/logging/os_log/lit.local.cfg
  orc-rt/test/regression/jit-free-foundations/logging/os_log/no-printf-output.test
  orc-rt/test/regression/jit-free-foundations/logging/printf-backend/bad-level.test
  orc-rt/test/regression/jit-free-foundations/logging/printf-backend/debug-compiled-out.test
  orc-rt/test/regression/jit-free-foundations/logging/printf-backend/debug-level.test
  orc-rt/test/regression/jit-free-foundations/logging/printf-backend/format.test
  orc-rt/test/regression/jit-free-foundations/logging/printf-backend/level-off.test
  orc-rt/test/regression/jit-free-foundations/logging/printf-backend/lit.local.cfg
  orc-rt/test/regression/jit-free-foundations/logging/printf-backend/output-redirect.test
  orc-rt/test/regression/jit-free-foundations/logging/printf-backend/runtime-level.test
  orc-rt/test/regression/jit-free-foundations/ogre-help.test
  orc-rt/test/regression/jit-free-foundations/smoke-check.test
  orc-rt/test/regression/languages/c/lit.local.cfg
  orc-rt/test/regression/languages/c/return-zero.c
  orc-rt/test/regression/linux/lit.local.cfg
  orc-rt/test/regression/lit.cfg.py
  orc-rt/test/regression/object-formats/lit.local.cfg
  orc-rt/test/regression/object-formats/mach-o/arm64/lit.local.cfg
  orc-rt/test/regression/object-formats/mach-o/arm64/return-zero.s
  orc-rt/test/regression/object-formats/mach-o/lit.local.cfg
Labels: python

[bazel] Port 4057f8e4
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
  utils/bazel/llvm-project-overlay/libc/libc_build_rules.bzl
  utils/bazel/llvm-project-overlay/libc/startup/linux/BUILD.bazel
  utils/bazel/llvm-project-overlay/libc/startup/linux/x86_64/BUILD.bazel
Labels: none

[BOLT] Remove cl::callback uses
  bolt/lib/Passes/BinaryPasses.cpp
  bolt/lib/Passes/ReorderFunctions.cpp
  bolt/lib/Profile/DataAggregator.cpp
Labels: none

[clangd] Report retired flags after parsing
  clang-tools-extra/clangd/tool/ClangdMain.cpp
Labels: none

[mlir] Apply the default --split-input-file marker after parsing
  mlir/lib/Tools/mlir-opt/MlirOptMain.cpp
  mlir/lib/Tools/mlir-reduce/MlirReduceMain.cpp
  mlir/lib/Tools/mlir-translate/MlirTranslateMain.cpp
  mlir/tools/mlir-irdl-to-cpp/mlir-irdl-to-cpp.cpp
  mlir/tools/mlir-pdll/mlir-pdll.cpp
Labels: none

[gn] port 6bef34a7ebbef
  llvm/utils/gn/secondary/clang/unittests/offload-arch/BUILD.gn
Labels: none

[gn] port 6bef34a7ebbef (#226362)
  llvm/utils/gn/secondary/clang/unittests/offload-arch/BUILD.gn
Labels: none

[Machine Outliner][RISCV] Input section aware machine outlining
  llvm/include/llvm/CodeGen/MachineOutliner.h
  llvm/include/llvm/CodeGen/TargetInstrInfo.h
  llvm/lib/CodeGen/MachineOutliner.cpp
  llvm/lib/Target/AArch64/AArch64InstrInfo.cpp
  llvm/lib/Target/ARM/ARMBaseInstrInfo.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfo.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfo.h
  llvm/test/CodeGen/RISCV/machine-outliner-multiple-sections.ll
  llvm/test/CodeGen/RISCV/machine-outliner-section-attribute.ll
  llvm/test/CodeGen/RISCV/machine-outliner-section-debug.ll
  llvm/test/CodeGen/RISCV/machineoutliner-pcrel-lo.mir
  llvm/test/LTO/RISCV/machine-outliner-section-rv32.ll
  llvm/test/LTO/RISCV/machine-outliner-section-rv64.ll
Labels: none

[X86] Reject incompatible vector library calls
  llvm/include/llvm/Analysis/TargetTransformInfo.h
  llvm/include/llvm/Analysis/TargetTransformInfoImpl.h
  llvm/include/llvm/Analysis/VectorUtils.h
  llvm/lib/Analysis/TargetTransformInfo.cpp
  llvm/lib/Analysis/VectorUtils.cpp
  llvm/lib/CodeGen/ReplaceWithVeclib.cpp
  llvm/lib/Target/X86/X86TargetTransformInfo.cpp
  llvm/lib/Target/X86/X86TargetTransformInfo.h
  llvm/lib/Transforms/Vectorize/LoopVectorizationLegality.cpp
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/test/CodeGen/X86/veclib-llvm.sincos.ll
  llvm/test/Transforms/LoopVectorize/X86/amdlibm-calls-finite.ll
  llvm/test/Transforms/LoopVectorize/X86/amdlibm-target-features.ll
  llvm/test/Transforms/LoopVectorize/X86/libm-vector-calls-finite.ll
  llvm/test/Transforms/LoopVectorize/X86/libm-vector-calls.ll
  llvm/test/Transforms/LoopVectorize/X86/libmvec-target-features.ll
  llvm/test/Transforms/LoopVectorize/X86/svml-calls-finite.ll
  llvm/test/Transforms/ReplaceWithVeclib/X86/amdlibm-target-features.ll
  llvm/test/Transforms/ReplaceWithVeclib/X86/libmvec-target-features.ll
  llvm/test/Transforms/ReplaceWithVeclib/X86/lit.local.cfg
  llvm/test/Transforms/SLPVectorizer/X86/libmvec-target-features.ll
Labels: none

[MLIR][XeGPU] Reduce broadcast reads to 1D transfers and block-load those
  mlir/lib/Conversion/VectorToXeGPU/VectorToXeGPU.cpp
  mlir/test/Conversion/VectorToXeGPU/transfer-read-to-xegpu.mlir
Labels: none

[mlir][nvgpu] Add negative tests for invalid FP8 warpgroup MMA types (#208047)
  mlir/test/Dialect/NVGPU/invalid.mlir
Labels: none

Add raw atomic attr to dialect
  clang/include/clang/CIR/Dialect/IR/CIRDialect.td
  clang/lib/CIR/CodeGen/CIRGenBuiltinAMDGPU.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
Labels: none

[libc++][CI] Add hermetic Linux builder container and run-buildbot support
  .github/workflows/libcxx-build-containers.yml
  libcxx/utils/ci/docker/docker-compose.yml
  libcxx/utils/ci/docker/linux-builder-hermetic.dockerfile
  libcxx/utils/ci/run-buildbot
Labels: misc

[gn build] Port 6bef34a7ebbe
  llvm/utils/gn/secondary/llvm/lib/TargetParser/BUILD.gn
  llvm/utils/gn/secondary/llvm/unittests/TargetParser/BUILD.gn
Labels: none

[gn build] Port 9d90850fe6b0
  llvm/utils/gn/secondary/llvm/lib/Target/X86/BUILD.gn
Labels: none

[gn build] Port d0c787e447e1
  llvm/utils/gn/secondary/lldb/source/Target/BUILD.gn
Labels: none

[gn build] Port f6e450004591
  llvm/utils/gn/secondary/llvm/lib/ABI/BUILD.gn
Labels: none

[gn build] Port 6bef34a7ebbe (#226366)
  llvm/utils/gn/secondary/llvm/lib/TargetParser/BUILD.gn
  llvm/utils/gn/secondary/llvm/unittests/TargetParser/BUILD.gn
Labels: none

[gn build] Port 9d90850fe6b0 (#226367)
  llvm/utils/gn/secondary/llvm/lib/Target/X86/BUILD.gn
Labels: none

[gn build] Port d0c787e447e1 (#226368)
  llvm/utils/gn/secondary/lldb/source/Target/BUILD.gn
Labels: none

[gn build] Port f6e450004591 (#226369)
  llvm/utils/gn/secondary/llvm/lib/ABI/BUILD.gn
Labels: none

Orc: Compute the JIT DataLayout from the triple and ABI (#226316)
  llvm/include/llvm/ExecutionEngine/Orc/JITTargetMachineBuilder.h
Labels: none

[AMDGPU] Add scalar_to_vector pattern for v2bf16 (#225303)
  llvm/lib/Target/AMDGPU/SIInstructions.td
  llvm/test/CodeGen/AMDGPU/scalar_to_vector_v2bf16.ll
Labels: none

AMDGPU: Mark SCC def dead in wave reduction expansions
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/atomic_optimizations_buffer.ll
  llvm/test/CodeGen/AMDGPU/atomic_optimizations_global_pointer.ll
  llvm/test/CodeGen/AMDGPU/atomic_optimizations_local_pointer.ll
  llvm/test/CodeGen/AMDGPU/atomic_optimizations_mul_one.ll
  llvm/test/CodeGen/AMDGPU/atomic_optimizations_pixelshader.ll
  llvm/test/CodeGen/AMDGPU/atomic_optimizations_raw_buffer.ll
  llvm/test/CodeGen/AMDGPU/atomic_optimizations_struct_buffer.ll
  llvm/test/CodeGen/AMDGPU/insert_waitcnt_for_precise_memory.ll
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
