Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[AMDGPU] Set gfx13 LDS to 192KB and model LDS size via subtarget features (#214513)
  llvm/docs/AMDGPUUsage.rst
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPUFeatures.td
  llvm/lib/Target/AMDGPU/GCNSubtarget.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.h
  llvm/test/CodeGen/AMDGPU/extra-lds-size.ll
  llvm/test/CodeGen/AMDGPU/lds-limit-diagnostics-gfx13.ll
  llvm/test/CodeGen/AMDGPU/lds-size-pal-gfx13.ll
  llvm/test/CodeGen/AMDGPU/occupancy-levels.ll
Labels: none

[lldb] Handle errors of failed casts in DIL
  lldb/source/ValueObject/DILEval.cpp
  lldb/source/ValueObject/ValueObject.cpp
  lldb/test/API/commands/frame/var-dil/expr/Casts/TestFrameVarDILCast.py
Labels: python

formatting
  llvm/utils/lit/lit/builtin_commands/cat.py
Labels: python

[Mips] Fix formatting in PIC la expansion
  llvm/lib/Target/Mips/AsmParser/MipsAsmParser.cpp
Labels: none

[BlockExtractor] Simplify invalidate-analyses test
  llvm/test/Transforms/BlockExtractor/invalidate-analyses.ll
Labels: none

[AMDGPU] Fix variable name in PhiIncomingAnalysis. NFC. (#217899)
  llvm/lib/Target/AMDGPU/SILowerI1Copies.cpp
Labels: none

[win/asan] GetInstructionSize: Add some more instructions. (#214707)
  compiler-rt/lib/interception/interception_win.cpp
  compiler-rt/lib/interception/tests/interception_win_test.cpp
Labels: none

[AMDGPU] Use AMDGPUMnemonicAlias in DS_Real_gfx13 (NFC)
  llvm/lib/Target/AMDGPU/DSInstructions.td
Labels: none

[VPlan] Make VPIRFlags verification type aware, fix remaining holes. (#213081)
  llvm/lib/Transforms/Vectorize/LoopVectorizationPlanner.h
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanConstruction.cpp
  llvm/lib/Transforms/Vectorize/VPlanLowering.cpp
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
Labels: none

[AArch64][NFC] Refactor SVE tail-folding option interleave test (#217560)
  llvm/test/Transforms/LoopVectorize/AArch64/sve-tail-folding-option.ll
Labels: none

[lldb][Fortran] Added CMAKE variable guard for fortran
  lldb/cmake/modules/LLDBConfig.cmake
Labels: none

[clang-tidy][docs] Rename check docs in six modules to Markdown (#217671)
  clang-tools-extra/docs/clang-tidy/checks/altera/single-work-item-barrier.md
  clang-tools-extra/docs/clang-tidy/checks/altera/struct-pack-align.md
  clang-tools-extra/docs/clang-tidy/checks/altera/unroll-loops.md
  clang-tools-extra/docs/clang-tidy/checks/android/comparison-in-temp-failure-retry.md
  clang-tools-extra/docs/clang-tidy/checks/boost/use-ranges.md
  clang-tools-extra/docs/clang-tidy/checks/cert/err33-c.md
  clang-tools-extra/docs/clang-tidy/checks/concurrency/mt-unsafe.md
  clang-tools-extra/docs/clang-tidy/checks/fuchsia/statically-constructed-objects.md
  clang-tools-extra/docs/clang-tidy/checks/fuchsia/temporary-objects.md
  clang-tools-extra/docs/clang-tidy/checks/fuchsia/trailing-return.md
Labels: none

[SCEV] Look up uniqued nodes by using interned profile. (NFC)
  llvm/include/llvm/ADT/FoldingSet.h
  llvm/include/llvm/Analysis/ScalarEvolution.h
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/lib/Support/FoldingSet.cpp
Labels: none

[CMake] Remove references to GnuWin32 tools from `LLVM_LIT_TOOLS_DIR` (#217657)
  clang/CMakeLists.txt
  lld/CMakeLists.txt
  llvm/CMakeLists.txt
Labels: none

formatting
  llvm/lib/Target/AMDGPU/GCNSchedStrategy.cpp
  llvm/lib/Target/AMDGPU/GCNSchedStrategy.h
Labels: none

Fix typo
  .github/workflows/release-binaries.yml
Labels: misc

Require an fma to be faster before pricing an fmul as fused
  llvm/lib/Target/AMDGPU/AMDGPUTargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/AMDGPU/fused_costs.ll
  llvm/test/CodeGen/AMDGPU/sink-fmul-fadd.ll
  llvm/test/Transforms/CodeGenPrepare/AMDGPU/sink-fmul-fadd.ll
Labels: none

!fixup inline-only
  llvm/include/llvm/ADT/FoldingSet.h
  llvm/include/llvm/Analysis/ScalarEvolution.h
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/lib/Support/FoldingSet.cpp
Labels: none

[ARM_ACLE] Update implementation of __rev16ll for better codegen quality (#217596)
  clang/lib/Headers/arm_acle.h
  clang/test/CodeGen/arm_acle.c
Labels: none

[Pipeline] Add IPSCCPPass at O3 to fix function specialization Phase ordering
  flang/test/Driver/funcspec-phase-ordering-loop-rotate-ipsccp.f90
  llvm/lib/Passes/PassBuilderPipelines.cpp
  llvm/test/Other/new-pm-defaults.ll
  llvm/test/Transforms/FunctionSpecialization/function-specialization-loop-rotate-ipsccp.ll
  llvm/test/Transforms/PhaseOrdering/dce-after-argument-promotion.ll
Labels: none

[Pipeline] Move loop-rotate phase ordering test to PhaseOrdering/
  flang/test/Driver/funcspec-phase-ordering-loop-rotate-ipsccp.f90
  llvm/lib/Passes/PassBuilderPipelines.cpp
  llvm/test/Transforms/FunctionSpecialization/function-specialization-loop-rotate-ipsccp.ll
  llvm/test/Transforms/PhaseOrdering/ipsccp-loop-rotate-funcspec.ll
Labels: none

[Pipeline] Add IPSCCPPass at O3 to fix function specialization phase ordering
  flang/test/Driver/funcspec-phase-ordering-loop-rotate-ipsccp.f90
  llvm/lib/Passes/PassBuilderPipelines.cpp
Labels: none

[CIR] Emit StaticLocalInfoAttr for static-local guarded globals
  clang/include/clang/CIR/Dialect/IR/CIRAttrs.td
  clang/lib/CIR/CodeGen/CIRGenCXX.cpp
  clang/test/CIR/CodeGen/static-local-info.cpp
Labels: none

Format
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
Labels: none

[CIR] Materialize C++20 module init fn name as module attribute
  clang/include/clang/CIR/Dialect/IR/CIRDialect.td
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/Dialect/Transforms/LoweringPrepare.cpp
  clang/test/CIR/CodeGen/cxx20-module-initializer.cppm
Labels: none

[CIR] Address review: standalone StaticLocalInfoAttr on GlobalOp field
  clang/include/clang/CIR/Dialect/IR/CIRAttrs.td
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/CodeGen/CIRGenCXX.cpp
  clang/lib/CIR/Dialect/Transforms/LoweringPrepare.cpp
  clang/test/CIR/CodeGen/static-local-info.cpp
  clang/test/CIR/IR/static-local-info.cir
Labels: none

[CIR] Use CIR enums for static_local_info tls/tsk; rename is_local_var_decl to local
  clang/include/clang/CIR/Dialect/IR/CIRAttrs.td
  clang/lib/CIR/CodeGen/CIRGenCXX.cpp
  clang/lib/CIR/Dialect/Transforms/LoweringPrepare.cpp
  clang/test/CIR/CodeGen/static-local-info.cpp
  clang/test/CIR/IR/static-local-info.cir
Labels: none

Regenerate checks
  llvm/test/CodeGen/X86/early-ifcvt.ll
  llvm/test/CodeGen/X86/expand-vp-int-intrinsics.ll
  llvm/test/CodeGen/X86/known-never-zero.ll
  llvm/test/CodeGen/X86/machine-trace-metrics-entryBB-critpath.ll
  llvm/test/CodeGen/X86/shrink_vmul.ll
  llvm/test/CodeGen/X86/unknown-location.ll
  llvm/test/CodeGen/X86/vector-idiv-v2i32.ll
Labels: none

[SimpleLoopUnswitch][NFC] Factor out conditional clone legality check (#217884)
  llvm/include/llvm/Analysis/LoopInfo.h
  llvm/lib/Analysis/LoopInfo.cpp
  llvm/lib/Transforms/Scalar/SimpleLoopUnswitch.cpp
Labels: none

[BlockExtractor] Invalidate analyses after splitting landing pads (#217853)
  llvm/lib/Transforms/IPO/BlockExtractor.cpp
  llvm/test/Transforms/BlockExtractor/invalidate-analyses.ll
Labels: none

[mlir][vector] Add a negative test for `FoldTransposeBroadcast`
  mlir/test/Dialect/Vector/canonicalize/vector-transpose.mlir
Labels: none

Fixes
  libcxx/include/__regex/basic_parser.h
  libcxx/include/__regex/ecma_parser.h
  libcxx/include/__regex/extended_parser.h
  libcxx/include/__regex/interpreter.h
  libcxx/include/__regex/parser_common.h
  libcxx/include/regex
Labels: none

[lldb] Handle 0 size sites in StopPointSiteList::FindInRange
  lldb/include/lldb/Breakpoint/StopPointSiteList.h
  lldb/test/API/functionalities/breakpoint/write_over_software_breakpoint/TestWriteOverSoftwareBreakpoint.py
Labels: python

[llvm][AArch64] Avoid iterating off the beginning of a BB in a backward scan (#217752)
  llvm/lib/Target/AArch64/AArch64PointerAuth.cpp
Labels: none

[offload-arch] Report failure when KFD topology cannot be read (#217449)
  clang/tools/offload-arch/AMDGPUArchByKFD.cpp
  clang/unittests/offload-arch/CMakeLists.txt
  clang/unittests/offload-arch/OffloadArchTest.cpp
Labels: none

[lldb] Make TestSwiftTaskTree more robust
  lldb/test/API/lang/swift/async/tasks/tree/TestSwiftTaskTree.py
Labels: python

Use constrainRegClass instead of comparing register classes
  llvm/lib/Target/AMDGPU/SIFoldOperands.cpp
Labels: none

[SimpleLoopUnswitch] Only reject token-like values that are live-out of the loop
  llvm/include/llvm/Analysis/LoopInfo.h
  llvm/lib/Analysis/LoopInfo.cpp
  llvm/lib/Transforms/Scalar/SimpleLoopUnswitch.cpp
  llvm/test/Transforms/SimpleLoopUnswitch/token-uses.ll
Labels: none

Use yield instead of __libcpp_thread_poll_with_backoff
  libcxx/test/std/atomics/atomics.types.operations/atomics.types.operations.wait/lost_wakeup.pass.cpp
Labels: none

Apply clang-format
  libcxx/test/std/atomics/atomics.types.operations/atomics.types.operations.wait/lost_wakeup.pass.cpp
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
