Repository llvm/llvm-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, linting, python, misc, glibc, mpi, math, openmp

[clangd][test] Fix test failures when LLVM_WINDOWS_PREFER_FORWARD_SLASH is ON (#193160)
  clang-tools-extra/clangd/tool/ClangdMain.cpp
  clang-tools-extra/clangd/unittests/TestFS.cpp
  clang-tools-extra/clangd/unittests/URITests.cpp
Labels: none

[LLVM][ConstantFolding] Use correct type when flushing denormals. (#193254)
  llvm/lib/Analysis/ConstantFolding.cpp
  llvm/test/Transforms/InstSimplify/constant-fold-fp-denormal.ll
Labels: none

[LLVM][SelectionDAG] Reduce chances of a split VSETCC being rewidened. (#191438)
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorTypes.cpp
  llvm/lib/Target/ARM/ARMISelLowering.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyISelLowering.cpp
  llvm/test/CodeGen/WebAssembly/simd-pr190773.ll
Labels: none

[mlir][linalg] Fix crash when folding tensor.cast into unpack using static packed shape for inner tiles (#188000)
  mlir/lib/Dialect/Linalg/IR/LinalgOps.cpp
  mlir/test/Dialect/Linalg/canonicalize.mlir
Labels: none

[Clang][AArch64] Lower NEON fcvtz{u/s} intrinsics into fpto{u/s}i.sat (#191365)
  clang/include/clang/Basic/AArch64CodeGenUtils.h
  clang/lib/CodeGen/TargetBuiltins/ARM.cpp
  clang/test/CodeGen/AArch64/neon-fcvt-intrinsics.c
  clang/test/CodeGen/AArch64/neon-intrinsics-constrained.c
  clang/test/CodeGen/AArch64/neon-intrinsics.c
  clang/test/CodeGen/AArch64/neon-misc.c
  clang/test/CodeGen/AArch64/v8.2a-fp16-intrinsics-constrained.c
  clang/test/CodeGen/AArch64/v8.2a-fp16-intrinsics.c
  clang/test/CodeGen/AArch64/v8.2a-neon-intrinsics.c
Labels: none

[mlir][GPU] Refactor GPUOps lowering (#188905)
  flang/lib/Optimizer/Transforms/CUDA/CUFDeviceFuncTransform.cpp
  mlir/include/mlir/Conversion/LLVMCommon/LowerFunctionDiscardablesToLLVM.h
  mlir/include/mlir/Dialect/GPU/IR/GPUOps.td
  mlir/lib/Conversion/FuncToLLVM/FuncToLLVM.cpp
  mlir/lib/Conversion/GPUCommon/GPUOpsLowering.cpp
  mlir/lib/Conversion/GPUCommon/GPUOpsLowering.h
  mlir/lib/Conversion/LLVMCommon/CMakeLists.txt
  mlir/lib/Conversion/LLVMCommon/LowerFunctionDiscardablesToLLVM.cpp
  mlir/lib/Dialect/GPU/IR/GPUDialect.cpp
  mlir/lib/Dialect/GPU/Transforms/KernelOutlining.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseGPUCodegen.cpp
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUSubgroupDistribute.cpp
Labels: none

Revert "[Bazel] Fixes 8e56a89" (#193459)
  utils/bazel/llvm-project-overlay/clang/BUILD.bazel
Labels: none

[clang] Suppress glibc C11 extension warning in `c-index-test` (#193335)
  clang/tools/c-index-test/CMakeLists.txt
Labels: none

[clang-tidy][readability-identifier-length] Add a line count threshold (without std::transform_reduce) (#193276)
  clang-tools-extra/clang-tidy/readability/IdentifierLengthCheck.cpp
  clang-tools-extra/clang-tidy/readability/IdentifierLengthCheck.h
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/readability/identifier-length.rst
  clang-tools-extra/test/clang-tidy/checkers/readability/identifier-length-line-count-threshold.cpp
Labels: none

[debugserver][NFCI] Factor out logic handling breakpoint packets (#192912)
  lldb/tools/debugserver/source/RNBRemote.cpp
  lldb/tools/debugserver/source/RNBRemote.h
Labels: none

Revert "[Clang] Diagnose UB and emit error when identifier has both internal and external linkage" (#193462)
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaDecl.cpp
  clang/test/C/C2y/n3410.c
  clang/test/Sema/linkage-internal-extern.c
  clang/test/Sema/linkage-internal-extern.cpp
  clang/www/c_status.html
Labels: none

[DAG] computeKnownFPClass - add ISD::EXTRACT_VECTOR_ELT handling (#190307)
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/RISCV/combine-is_fpclass.ll
Labels: none

[LLVM][GlobalISel] Remove unnecessary comment (#193333)
  llvm/lib/CodeGen/GlobalISel/InstructionSelect.cpp
Labels: none

[clang] Implement -fstrict-bool (#160790)
  clang/docs/ReleaseNotes.rst
  clang/docs/UsersManual.rst
  clang/include/clang/Basic/CodeGenOptions.def
  clang/include/clang/Basic/CodeGenOptions.h
  clang/include/clang/Options/Options.td
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CGObjC.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/CodeGen/strict-bool.c
  clang/test/CodeGenHLSL/builtins/BoolSwizzles.hlsl
  clang/test/CodeGenHLSL/builtins/ScalarSwizzles.hlsl
  clang/test/CodeGenHLSL/strict-bool.hlsl
  clang/test/CodeGenObjC/strict-bool.m
  clang/test/Driver/strict-bool.c
Labels: none

[Clang][SystemZ] Fix unwanted unsequenced volatile accesses in codegen tests (#190212)
  clang/test/CodeGen/SystemZ/builtins-systemz-i128.c
  clang/test/CodeGen/SystemZ/builtins-systemz-vector-constrained.c
  clang/test/CodeGen/SystemZ/builtins-systemz-vector.c
  clang/test/CodeGen/SystemZ/builtins-systemz-vector2-constrained.c
  clang/test/CodeGen/SystemZ/builtins-systemz-vector2.c
  clang/test/CodeGen/SystemZ/builtins-systemz-vector3.c
  clang/test/CodeGen/SystemZ/builtins-systemz-vector4.c
  clang/test/CodeGen/SystemZ/builtins-systemz-vector5.c
  clang/test/CodeGen/SystemZ/builtins-systemz-zvector-constrained.c
  clang/test/CodeGen/SystemZ/builtins-systemz-zvector-error.c
  clang/test/CodeGen/SystemZ/builtins-systemz-zvector.c
  clang/test/CodeGen/SystemZ/builtins-systemz-zvector2-constrained.c
  clang/test/CodeGen/SystemZ/builtins-systemz-zvector2.c
  clang/test/CodeGen/SystemZ/builtins-systemz-zvector3.c
  clang/test/CodeGen/SystemZ/builtins-systemz-zvector4.c
  clang/test/CodeGen/SystemZ/builtins-systemz-zvector5.c
Labels: none

[AMDGPU] performSraCombine - SRA(X,BW-1) - don't freeze HI operand for single (repeated) shift (#193468)
  llvm/lib/Target/AMDGPU/AMDGPUISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/fptoi.i128.ll
  llvm/test/CodeGen/AMDGPU/load-constant-i1.ll
  llvm/test/CodeGen/AMDGPU/sra.ll
Labels: none

[AArch64] Only prefer partial reductions if cost is lower. (#191369)
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/partial-reduce-add-sdot-i16-i32.ll
  llvm/test/Transforms/LoopVectorize/AArch64/partial-reduce-add-sdot-i8-i16.ll
  llvm/test/Transforms/LoopVectorize/AArch64/partial-reduce-chained.ll
  llvm/test/Transforms/LoopVectorize/AArch64/partial-reduce-fdot-product.ll
  llvm/test/Transforms/LoopVectorize/AArch64/partial-reduce-usabs.ll
  llvm/test/Transforms/LoopVectorize/AArch64/partial-reduce.ll
Labels: none

[flang][OpenMP] Move directive deprecation check to semantic checks (#192796)
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/check-omp-structure.h
  flang/lib/Semantics/resolve-directives.cpp
  flang/test/Semantics/OpenMP/clause-validity01.f90
  flang/test/Semantics/OpenMP/deprecation.f90
Labels: none

[SPIR-V] Handle [N x i8] byte addressing in SPIRVEmitIntrinsics (#192994)
  llvm/lib/Target/SPIRV/SPIRVEmitIntrinsics.cpp
  llvm/test/CodeGen/SPIRV/pointers/getelementptr-byte-addressing-array.ll
  llvm/test/CodeGen/SPIRV/pointers/struct-i8-dynamic-index.ll
Labels: none

[libc++] Remove apple_availability.h (#192851)
  libcxx/src/CMakeLists.txt
  libcxx/src/atomic.cpp
  libcxx/src/chrono.cpp
  libcxx/src/include/apple_availability.h
Labels: none

Revert "[LifetimeSafety] Add support for `new`/`delete`" (#193482)
  clang/include/clang/Analysis/Analyses/LifetimeSafety/Facts.h
  clang/include/clang/Analysis/Analyses/LifetimeSafety/FactsGenerator.h
  clang/include/clang/Analysis/Analyses/LifetimeSafety/LifetimeSafety.h
  clang/include/clang/Analysis/Analyses/LifetimeSafety/Loans.h
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Analysis/LifetimeSafety/Checker.cpp
  clang/lib/Analysis/LifetimeSafety/FactsGenerator.cpp
  clang/lib/Analysis/LifetimeSafety/Loans.cpp
  clang/lib/Sema/SemaLifetimeSafety.h
  clang/test/Sema/Inputs/lifetime-analysis.h
  clang/test/Sema/warn-lifetime-safety-suggestions.cpp
  clang/test/Sema/warn-lifetime-safety.cpp
Labels: none

[X86] Add baseline tests for #144231 (#193484)
  llvm/test/CodeGen/X86/combine-reductions.ll
Labels: none

[OpenMP] Fix OpenMP device subdir installation w/ multilibs (#193378)
  openmp/device/CMakeLists.txt
Labels: openmp

[ASan][Windows] Fix memmove/memcpy interception on x64 (#192060)
  compiler-rt/lib/asan/asan_allocator.cpp
  compiler-rt/lib/asan/asan_win_static_runtime_thunk.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_common_interceptors_memintrinsics.inc
Labels: none

[VPlan] Permit licm-sinking recipes with no users (#189957)
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: none

[MLIR][BUILD] Fix for c1cff89b (#193489)
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: none

[VPlan] Prefer checking opcode over underlying value (NFC) (#193463)
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: none

[LLVM]Codegen][X86] Add vector ConstantInt/FP support to CollectConstantBits. (#193249)
  llvm/lib/Target/X86/X86ISelLowering.cpp
Labels: none

[mlir][vector] Prevent masked transfer read/write identity folding (#192966)
  mlir/lib/Dialect/Vector/IR/VectorOps.cpp
  mlir/test/Dialect/Vector/canonicalize.mlir
Labels: none

[X86][NFC] Reorganize fadd, fsub, fmul and fdiv selection tests (#193012)
  llvm/test/CodeGen/X86/GlobalISel/fadd-scalar.ll
  llvm/test/CodeGen/X86/GlobalISel/fdiv-scalar.ll
  llvm/test/CodeGen/X86/GlobalISel/fmul-scalar.ll
  llvm/test/CodeGen/X86/GlobalISel/fsub-scalar.ll
  llvm/test/CodeGen/X86/isel-fadd-vector.ll
  llvm/test/CodeGen/X86/isel-fadd.ll
  llvm/test/CodeGen/X86/isel-fdiv-vector.ll
  llvm/test/CodeGen/X86/isel-fdiv.ll
  llvm/test/CodeGen/X86/isel-fmul-vector.ll
  llvm/test/CodeGen/X86/isel-fmul.ll
  llvm/test/CodeGen/X86/isel-fsub-vector.ll
  llvm/test/CodeGen/X86/isel-fsub.ll
Labels: none

[NFC][SPIR-V] Consolidate OpVariable insertion point logic into getOpVariableMBBIt (#193433)
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.h
Labels: none

[MLIR][AsmParser] Fix non-deterministic SSA value completion order under LLVM_REVERSE_ITERATION (#192150)
  mlir/lib/AsmParser/Parser.cpp
Labels: none

Revert "[lldb][test] Add support for building Wasm test inferiors" (#193493)
  lldb/packages/Python/lldbsuite/test/builders/builder.py
  lldb/packages/Python/lldbsuite/test/configuration.py
  lldb/packages/Python/lldbsuite/test/dotest.py
  lldb/packages/Python/lldbsuite/test/dotest_args.py
  lldb/packages/Python/lldbsuite/test/lldbplatformutil.py
  lldb/packages/Python/lldbsuite/test/lldbtest.py
  lldb/packages/Python/lldbsuite/test/make/Makefile.rules
  lldb/packages/Python/lldbsuite/test/make/WASI.rules
  lldb/test/API/CMakeLists.txt
  lldb/test/API/lit.cfg.py
  lldb/test/API/lit.site.cfg.py.in
Labels: python

[InstCombine] Remove support for volatile in phi of load transform (#193154)
  llvm/lib/Transforms/InstCombine/InstCombinePHI.cpp
  llvm/test/Transforms/InstCombine/phi.ll
Labels: none

Enable disable LSPs in extension (#191957)
  mlir/utils/vscode/package.json
  mlir/utils/vscode/src/mlirContext.ts
Labels: none

[Passes] Remove Os/Oz from pass option listings (#193491)
  llvm/lib/Passes/PassRegistry.def
Labels: none

[flang] Move ResolveAccParts and ResolveOmpParts into better location… (#193497)
  flang/lib/Semantics/resolve-directives.cpp
Labels: none

[libc][math] small typo (#193349)
  libc/src/__support/math/cosf.h
Labels: none

[clang] isConvertingBoolWithCmp0 - fix MSVC "not all control paths return a value" warning. (#193495)
  clang/include/clang/Basic/CodeGenOptions.h
Labels: none

[lldb] Add full stop to "memory tag" help (#193505)
  lldb/source/Commands/CommandObjectMemoryTag.cpp
Labels: none

.github/labeler.yml:

ci:
- "**/*.groovy"
- "*Jenkinsfile*"

linting:
- .clang-format
- .clang-tidy

python:
- "**/*.py"
- "*.py"

misc:
- .github/**/*
- .gitignore
- .README.md

glibc:
- glibc

mpi:
- ucx
- nextsilicon/3rd-party/01_build-openmpi.sh

math:
- nextcrt/next32-clang/*
- nextcrt/next32-clang/**/*
- nextcrt/libm/*
- nextcrt/libm/**/*

openmp:
- openmp/**/*
