Repository llvm/llvm-project, pull requests merged in 2023-09, with the labels that each got.

#65198 [Github] Add a MLGO PR subscribers group
  .github/CODEOWNERS
Labels: github-prs

#65202 [clang-tidy] readability-identifier-naming - fix StructCase and UnionCase in C
  clang-tools-extra/clang-tidy/readability/IdentifierNamingCheck.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/test/clang-tidy/checkers/readability/Inputs/identifier-naming/hungarian-notation1/.clang-tidy
  clang-tools-extra/test/clang-tidy/checkers/readability/identifier-naming-hungarian-notation-c-language.c
  clang-tools-extra/test/clang-tidy/checkers/readability/identifier-naming-hungarian-notation.cpp
Labels: clang-tidy

#65218 [docs] Update LLVM_ENABLE_ZLIB/LLVM_ENABLE_ZSTD
  llvm/docs/CMake.rst
Labels: documentation

#65233 Add M68k test directories to pr-subscribers-m68k in .github/CODEOWNERS
  .github/CODEOWNERS
Labels: github-prs

#65235 [X86] Add more files to .github/CODEOWNERS
  .github/CODEOWNERS
Labels: github-prs

#65239 [compiler-rt] Link atomic against builtins
  compiler-rt/lib/builtins/CMakeLists.txt
Labels: cmake, compiler-rt:builtins

#65231 [clang-tidy][NFC][doc] Improve documentation for modernize-use-equals…
  clang-tools-extra/clang-tidy/modernize/UseEqualsDeleteCheck.h
  clang-tools-extra/docs/clang-tidy/checks/modernize/use-equals-delete.rst
Labels: clang-tidy

#65178 [APINotes] Remove unused OS-availability feature
  clang/lib/APINotes/APINotesYAMLCompiler.cpp
Labels: clang:frontend

#65234 [RISCV] Add more files to .github/CODEOWNERS
  .github/CODEOWNERS
Labels: github-prs

#65079 [libc++][C++20 modules] Fixes CMake include paths.
  libcxx/modules/CMakeLists.txt
  libcxx/modules/CMakeLists.txt.in
Labels: libc++

#65187 [APINotes] Upstream APINotesWriter
  clang/include/clang/APINotes/APINotesWriter.h
  clang/include/clang/APINotes/Types.h
  clang/lib/APINotes/APINotesFormat.h
  clang/lib/APINotes/APINotesWriter.cpp
Labels: clang:frontend

#65199 [Github] Add llvm-exegesis PR subscribers team
  .github/CODEOWNERS
Labels: github-prs

#65238 [clang][Diagnostics] Fix wrong line number display
  clang/lib/Frontend/TextDiagnostic.cpp
  clang/test/Misc/diag-style.cpp
Labels: clang:frontend, clang:diagnostics

#65267 [lit] Echo full RUN lines in case of external shells
  llvm/utils/lit/lit/TestRunner.py
  llvm/utils/lit/tests/Inputs/shtest-run-at-line/external-shell/empty-run-line.txt
  llvm/utils/lit/tests/Inputs/shtest-run-at-line/internal-shell/empty-run-line.txt
  llvm/utils/lit/tests/shtest-run-at-line.py
Labels: tools:llvm-lit, llvm-lit

#65336 [mlir] transform.structured.match loop-like flag
  mlir/include/mlir/Dialect/Linalg/TransformOps/LinalgTransformEnums.td
  mlir/lib/Dialect/Linalg/TransformOps/LinalgTransformOps.cpp
  mlir/test/Dialect/Linalg/transform-op-match.mlir
Labels: mlir:linalg, mlir

#65335 [mlir] alloc-to-alloca conversion for memref
  mlir/include/mlir/Dialect/MemRef/TransformOps/MemRefTransformOps.td
  mlir/include/mlir/Dialect/MemRef/Transforms/Transforms.h
  mlir/include/mlir/Dialect/Transform/IR/TransformInterfaces.td
  mlir/lib/Dialect/MemRef/TransformOps/MemRefTransformOps.cpp
  mlir/lib/Dialect/MemRef/Transforms/IndependenceTransforms.cpp
  mlir/lib/Dialect/Transform/IR/TransformOps.cpp
  mlir/test/Dialect/MemRef/alloc-to-alloca.mlir
Labels: mlir:core, mlir, mlir:memref

#65299 [RISCV][GISel] Add gisel-commandline-option.ll similar to AArch64.
  llvm/test/CodeGen/RISCV/GlobalISel/gisel-commandline-option.ll
Labels: backend:RISC-V, llvm:globalisel

#65337 [mlir] transform.structured.match fix tilingIface condition
  mlir/lib/Dialect/Linalg/TransformOps/LinalgTransformOps.cpp
  mlir/test/Dialect/Linalg/transform-op-match.mlir
Labels: mlir:linalg, mlir

#65386 [RISCV] Split VFWREDUSUM and VFWREDOSUM SchedWrite
  llvm/lib/Target/RISCV/RISCVInstrInfoVPseudos.td
Labels: backend:RISC-V

#65379 [GlobalISel] Fold fmul x, 1.0 -> x
  llvm/include/llvm/CodeGen/GlobalISel/CombinerHelper.h
  llvm/include/llvm/Target/GlobalISel/Combine.td
  llvm/lib/CodeGen/GlobalISel/CombinerHelper.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/combine-mul.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/fdiv.f16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fdiv.f32.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fdiv.f64.ll
  llvm/test/CodeGen/AMDGPU/llvm.log.ll
  llvm/test/CodeGen/AMDGPU/llvm.log10.ll
  llvm/test/CodeGen/AMDGPU/llvm.log2.ll
  llvm/test/CodeGen/AMDGPU/rsq.f64.ll
Labels: backend:AArch64, llvm:globalisel

#65208 Add regalloc team to CODEOWNERS
  .github/CODEOWNERS
Labels: github-prs

#65229 Add amdgpu paths to CODEOWNERS
  .github/CODEOWNERS
Labels: github-prs

#65418 [llvm] Add LLVM_CTOR_NODISCARD
  llvm/include/llvm/MC/MCInstPrinter.h
  llvm/include/llvm/Support/Compiler.h
Labels: mc

#65422 [libc++] Switch FreeBSD CI job to Clang 16
  libcxx/utils/ci/buildkite-pipeline.yml
Labels: libc++

#65385 [RISCV] Fix SiFive7 formula for Reductions and ordered Reductions
  llvm/lib/Target/RISCV/RISCVSchedSiFive7.td
  llvm/test/tools/llvm-mca/RISCV/SiFive7/reductions.s
Labels: backend:RISC-V

#65402 [RISCV] Use add.uw for (or (and X, 0xFFFFFFFF), Y) if Y has zeroes in the lower 32 bits.
  llvm/lib/Target/RISCV/RISCVInstrInfoZb.td
  llvm/test/CodeGen/RISCV/rv64zba.ll
Labels: backend:RISC-V

#65343 [mlir][llvm] Add icmp folder
  mlir/include/mlir/Dialect/LLVMIR/LLVMOps.td
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/test/Dialect/LLVMIR/canonicalize.mlir
Labels: mlir:core, mlir

#65324 [flang] handle indirect module variable use in internal procedure
  flang/lib/Lower/Bridge.cpp
  flang/test/Lower/HLFIR/internal-procedures-2.f90
  flang/test/Lower/explicit-interface-results-2.f90
Labels: flang

#65329 [clang][dataflow] Eliminate uses of `RecordValue::getChild()`.
  clang/unittests/Analysis/FlowSensitive/TransferTest.cpp
Labels: clang:dataflow

#65311 [lldb][Docs] Add simpler "automatic" cross-compile option to build docs
  lldb/docs/resources/build.rst
Labels: lldb

#65321 [libc] customizable namespace 1/4
  libc/CMakeLists.txt
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: libc

#65314 [libc][NFC] split type_traits / utility in separate files
  libc/src/__support/CPP/functional.h
  libc/src/__support/CPP/type_traits.h
  libc/src/__support/CPP/type_traits/add_lvalue_reference.h
  libc/src/__support/CPP/type_traits/add_pointer.h
  libc/src/__support/CPP/type_traits/add_rvalue_reference.h
  libc/src/__support/CPP/type_traits/bool_constant.h
  libc/src/__support/CPP/type_traits/conditional.h
  libc/src/__support/CPP/type_traits/decay.h
  libc/src/__support/CPP/type_traits/enable_if.h
  libc/src/__support/CPP/type_traits/false_type.h
  libc/src/__support/CPP/type_traits/integral_constant.h
  libc/src/__support/CPP/type_traits/is_arithmetic.h
  libc/src/__support/CPP/type_traits/is_array.h
  libc/src/__support/CPP/type_traits/is_base_of.h
  libc/src/__support/CPP/type_traits/is_class.h
  libc/src/__support/CPP/type_traits/is_const.h
  libc/src/__support/CPP/type_traits/is_convertible.h
  libc/src/__support/CPP/type_traits/is_destructible.h
  libc/src/__support/CPP/type_traits/is_enum.h
  libc/src/__support/CPP/type_traits/is_floating_point.h
  libc/src/__support/CPP/type_traits/is_function.h
  libc/src/__support/CPP/type_traits/is_integral.h
  libc/src/__support/CPP/type_traits/is_lvalue_reference.h
  libc/src/__support/CPP/type_traits/is_null_pointer.h
  libc/src/__support/CPP/type_traits/is_pointer.h
  libc/src/__support/CPP/type_traits/is_reference.h
  libc/src/__support/CPP/type_traits/is_rvalue_reference.h
  libc/src/__support/CPP/type_traits/is_same.h
  libc/src/__support/CPP/type_traits/is_signed.h
  libc/src/__support/CPP/type_traits/is_trivially_constructible.h
  libc/src/__support/CPP/type_traits/is_trivially_copyable.h
  libc/src/__support/CPP/type_traits/is_trivially_destructible.h
  libc/src/__support/CPP/type_traits/is_union.h
  libc/src/__support/CPP/type_traits/is_unsigned.h
  libc/src/__support/CPP/type_traits/is_void.h
  libc/src/__support/CPP/type_traits/make_signed.h
  libc/src/__support/CPP/type_traits/make_unsigned.h
  libc/src/__support/CPP/type_traits/remove_all_extents.h
  libc/src/__support/CPP/type_traits/remove_cv.h
  libc/src/__support/CPP/type_traits/remove_cvref.h
  libc/src/__support/CPP/type_traits/remove_extent.h
  libc/src/__support/CPP/type_traits/remove_reference.h
  libc/src/__support/CPP/type_traits/true_type.h
  libc/src/__support/CPP/type_traits/type_identity.h
  libc/src/__support/CPP/type_traits/void_t.h
  libc/src/__support/CPP/utility.h
  libc/src/__support/CPP/utility/declval.h
  libc/src/__support/CPP/utility/forward.h
  libc/src/__support/CPP/utility/integer_sequence.h
  libc/src/__support/CPP/utility/move.h
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: libc

#65457 [X86][Driver] Move mno-gather/mno-scatter from m_x86_Features_Group to m_Group. NFCI
  clang/include/clang/Driver/Options.td
Labels: clang:driver

#65449 [mlir][SCF] convert-scf-to-cf: Lower scf.forall to scf.parallel
  mlir/lib/Conversion/SCFToControlFlow/SCFToControlFlow.cpp
  mlir/test/Conversion/SCFToControlFlow/convert-to-cfg.mlir
Labels: mlir

#65264 [llvm-cov] - Output better error message when the error kind is `coveragemap_error::malforme`.
  llvm/include/llvm/ProfileData/Coverage/CoverageMapping.h
  llvm/lib/ProfileData/Coverage/CoverageMapping.cpp
  llvm/lib/ProfileData/Coverage/CoverageMappingReader.cpp
  llvm/test/tools/llvm-cov/double_dots.c
  llvm/test/tools/llvm-cov/missing-binaries.test
  llvm/test/tools/llvm-cov/misssing-profdata.test
  llvm/test/tools/llvm-cov/report.cpp
  llvm/test/tools/llvm-cov/universal-binary.c
  llvm/test/tools/llvm-cov/warnings.h
  llvm/tools/llvm-cov/CodeCoverage.cpp
  llvm/unittests/ProfileData/CoverageMappingTest.cpp
Labels: PGO

#65332 [lldb][Docs] Add page about debugging lldb itself
  lldb/docs/index.rst
  lldb/docs/resources/debugging.rst
Labels: lldb

#65487 [Driver] Wrap -lgcc_s in -z ignore/-z record on Solaris
  clang/lib/Driver/ToolChains/Solaris.cpp
  clang/test/Driver/solaris-ld.c
Labels: clang:driver

#65166 [libc] Fix call to clock_gettime
  libc/test/src/time/clock_gettime_test.cpp
Labels: libc

#65346 [libc] Fix test passing negative value in timespec passed to nanosleep
  libc/test/src/time/gettimeofday_test.cpp
Labels: libc

#65390 [libc] Fix failing mktime test case in 32-bit systems
  libc/test/src/time/mktime_test.cpp
Labels: libc

#65213 [mlir][arith] Improve Lowering of `maxf`/`minf` ops
  mlir/lib/Conversion/ArithToLLVM/ArithToLLVM.cpp
  mlir/test/Conversion/ArithToLLVM/arith-to-llvm.mlir
Labels: mlir

#65510 [libc] Fix vendor implemented math functions not being exported
  libc/cmake/modules/LLVMLibCLibraryRules.cmake
Labels: libc

#65384 [llvm] Adopt WithMarkup in the MIPS backend
  llvm/lib/Target/Mips/MCTargetDesc/MipsInstPrinter.cpp
Labels: backend:MIPS

#65493 [openacc][openmp] Add dialect representation for acc atomic operations
  mlir/include/mlir/Dialect/CMakeLists.txt
  mlir/include/mlir/Dialect/OpenACC/OpenACC.h
  mlir/include/mlir/Dialect/OpenACC/OpenACCOps.td
  mlir/include/mlir/Dialect/OpenACCMPCommon/CMakeLists.txt
  mlir/include/mlir/Dialect/OpenACCMPCommon/Interfaces/AtomicInterfaces.h
  mlir/include/mlir/Dialect/OpenACCMPCommon/Interfaces/AtomicInterfaces.td
  mlir/include/mlir/Dialect/OpenACCMPCommon/Interfaces/CMakeLists.txt
  mlir/include/mlir/Dialect/OpenMP/OpenMPDialect.h
  mlir/include/mlir/Dialect/OpenMP/OpenMPOps.td
  mlir/lib/Dialect/CMakeLists.txt
  mlir/lib/Dialect/OpenACC/CMakeLists.txt
  mlir/lib/Dialect/OpenACC/IR/OpenACC.cpp
  mlir/lib/Dialect/OpenACCMPCommon/CMakeLists.txt
  mlir/lib/Dialect/OpenACCMPCommon/Interfaces/AtomicInterfaces.cpp
  mlir/lib/Dialect/OpenACCMPCommon/Interfaces/CMakeLists.txt
  mlir/lib/Dialect/OpenMP/CMakeLists.txt
  mlir/lib/Dialect/OpenMP/IR/OpenMPDialect.cpp
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Dialect/OpenACC/canonicalize.mlir
  mlir/test/Dialect/OpenACC/invalid.mlir
  mlir/test/Dialect/OpenACC/ops.mlir
  mlir/test/Dialect/OpenMP/invalid.mlir
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: mlir:core, mlir

#65514 [lldb-vscode] Display a more descriptive summary for containers and pointers
  lldb/test/API/tools/lldb-vscode/evaluate/TestVSCode_evaluate.py
  lldb/test/API/tools/lldb-vscode/variables/TestVSCode_variables.py
  lldb/tools/lldb-vscode/JSONUtils.cpp
Labels: lldb

#65537 [lldb-vscode] Fix a GetChildAtIndex call
  lldb/tools/lldb-vscode/JSONUtils.cpp
Labels: lldb

#65529 [lld/ELF,gold] Remove transitionary opaque pointer flags
  lld/ELF/Options.td
  llvm/tools/gold/gold-plugin.cpp
Labels: lld

#65554 [NFC] Set a variable in the mlir data formatter
  mlir/utils/lldb-scripts/mlirDataFormatters.py
Labels: mlir

#65552 [lldb-vscode] Show a fake child with the raw value of synthetic types
  lldb/test/API/tools/lldb-vscode/variables/TestVSCode_variables.py
  lldb/tools/lldb-vscode/JSONUtils.cpp
  lldb/tools/lldb-vscode/JSONUtils.h
  lldb/tools/lldb-vscode/lldb-vscode.cpp
Labels: lldb

#65556 [libc] continues header cleanup process
  libc/src/__support/CPP/type_traits/is_rvalue_reference.h
  libc/src/__support/CPP/type_traits/remove_extent.h
Labels: libc

#65323 [APINotes] Support `SwiftImportAs` for C++ structs
  clang/include/clang/APINotes/Types.h
  clang/lib/APINotes/APINotesFormat.h
  clang/lib/APINotes/APINotesWriter.cpp
  clang/lib/APINotes/APINotesYAMLCompiler.cpp
Labels: clang:frontend

#65429 [clang-format][NFC] Fix broken dump_format_help.py and sync RST file
  clang/docs/ClangFormat.rst
  clang/docs/tools/dump_format_help.py
  clang/tools/clang-format/ClangFormat.cpp
Labels: clang-format

#65492 [mlir] Make `classof` substitution in interface use an instance
  mlir/include/mlir/IR/Interfaces.td
  mlir/test/lib/Dialect/Test/TestInterfaces.td
  mlir/test/lib/Dialect/Test/TestOps.td
  mlir/test/mlir-tblgen/op-interface.td
  mlir/tools/mlir-tblgen/OpInterfacesGen.cpp
  mlir/unittests/IR/InterfaceTest.cpp
Labels: mlir:core, mlir

#65578 [mlir][bufferization] Move AllocationOpInterface implementations
  mlir/lib/Dialect/Bufferization/Transforms/BufferDeallocation.cpp
  mlir/lib/Dialect/Bufferization/Transforms/Bufferize.cpp
Labels: mlir:core, mlir, mlir:bufferization

#65464 [Sparc] Change register spelling to lowercase (NFC)
  llvm/lib/Target/Sparc/AsmParser/SparcAsmParser.cpp
  llvm/lib/Target/Sparc/MCTargetDesc/SparcInstPrinter.cpp
  llvm/lib/Target/Sparc/Sparc.td
  llvm/lib/Target/Sparc/SparcRegisterInfo.td
Labels: backend:Sparc

#65560 [RISCV][NFC] Remove unused checkline
  llvm/test/CodeGen/RISCV/rvv/vfwnmacc-vp.ll
Labels: backend:RISC-V

#65558 [clang-tidy][modernize-use-using]fix function pointer typedef correctly
  clang-tools-extra/clang-tidy/modernize/UseUsingCheck.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/test/clang-tidy/checkers/modernize/use-using.cpp
Labels: clang-tidy

#65581 [X86] Simplify the API of FixupBWInstPass::getSuperRegDestIfDead. NFC.
  llvm/lib/Target/X86/X86FixupBWInsts.cpp
Labels: backend:X86

#65489 [Driver] Always use gas with -fno-integrated-as on Solaris
  clang/lib/Driver/ToolChains/Gnu.cpp
  clang/lib/Driver/ToolChains/Solaris.cpp
  clang/lib/Driver/ToolChains/Solaris.h
  clang/test/Driver/compress-noias.c
  clang/test/Driver/solaris-as.c
Labels: clang:driver

#65526 [clang-format] Fix misannotation of && before noexcept
  clang/lib/Format/TokenAnnotator.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#65507 [Flang][OpenMP] Seek over an HLFIR declare to check for threadprivate
  flang/lib/Lower/OpenMP.cpp
  flang/test/Lower/OpenMP/threadprivate-use-association-2-hlfir.f90
Labels: flang

#65398 [mlir][Target][NVPTX] Add fatbin support to NVPTX compilation.
  mlir/include/mlir/Dialect/GPU/IR/CompilationInterfaces.h
  mlir/include/mlir/Dialect/GPU/Transforms/Passes.td
  mlir/lib/Dialect/GPU/Transforms/ModuleToBinary.cpp
  mlir/lib/Target/LLVM/NVVM/Target.cpp
Labels: mlir:core, mlir:llvm, mlir:gpu, mlir

#65394 [libc] Fix overflow check for 32 bit long time_t
  libc/src/time/mktime.cpp
  libc/src/time/time_utils.cpp
  libc/src/time/time_utils.h
Labels: libc

#65388 [libc] Fix gmtime test on systems with sizeof(time_t) == 4
  libc/test/src/time/gmtime_test.cpp
Labels: libc

#65393 [Docs] Add example of making a PR with git and GitHub web interface
  llvm/docs/GitHub.rst
Labels: documentation, infrastructure

#65283 [RISCV][llvm-mca] Add llvm-mca tests for SiFive7 Vector Integer Arith…
  llvm/test/tools/llvm-mca/RISCV/SiFive7/vector-integer-arithmetic.s
Labels: backend:RISC-V

#65259 [libc++] Clean up some minor inconsistencies in the status pages
  libcxx/docs/Status/Cxx17Issues.csv
  libcxx/docs/Status/Cxx20Issues.csv
  libcxx/docs/Status/Cxx23Issues.csv
  libcxx/docs/Status/Cxx23Papers.csv
Labels: libc++

#65618 [libc][bazel] Fix missing dependencies for `lseek`
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: libc

#65471 [libc] customizable namespace 2/4
  libc/src/__support/common.h
Labels: libc

#65622 [libc] fix missing default template parameter value in enable_if
  libc/src/__support/CPP/type_traits/enable_if.h
Labels: libc

#65610 [mlir][linalg] Optional dealloc insertion for bufferize_to_allocation
  mlir/include/mlir/Dialect/Linalg/TransformOps/LinalgTransformOps.td
  mlir/include/mlir/Dialect/Linalg/Transforms/Transforms.h
  mlir/lib/Dialect/Linalg/TransformOps/LinalgTransformOps.cpp
  mlir/lib/Dialect/Linalg/Transforms/ConvertToDestinationStyle.cpp
  mlir/test/Dialect/Linalg/matmul-shared-memory-padding.mlir
  mlir/test/Dialect/Linalg/pad-to-specific-memory-space.mlir
  mlir/test/Dialect/Linalg/transform-op-bufferize-to-allocation.mlir
Labels: mlir:core, mlir:linalg, mlir, mlir:bufferization

#65612 [NFC][mlir][bufferization] Add paragraph about runtime and space cost to bufferization.dealloc op documentation
  mlir/include/mlir/Dialect/Bufferization/IR/BufferizationOps.td
Labels: mlir:core, mlir, mlir:bufferization

#65626 [libc] Add missing include in type_traits/remove_all_extents.h
  libc/src/__support/CPP/type_traits/remove_all_extents.h
Labels: libc

#65330 SLP/RISCV: add test for vectorized ctpop, like in X86
  llvm/test/Transforms/SLPVectorizer/RISCV/ctpop.ll
Labels: test-suite, backend:RISC-V, llvm:SLPVectorizer

#65627 [libc] Add is_null_pointer_v
  libc/src/__support/CPP/type_traits/is_null_pointer.h
Labels: libc

#65623 [libc] move in_place_t in utility
  libc/src/__support/CPP/optional.h
  libc/src/__support/CPP/utility.h
  libc/src/__support/CPP/utility/in_place.h
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: libc

#65230 [GlobalISel] Add constant-folding of FP binops to combiner.
  llvm/include/llvm/CodeGen/GlobalISel/CombinerHelper.h
  llvm/include/llvm/Target/GlobalISel/Combine.td
  llvm/lib/CodeGen/GlobalISel/CombinerHelper.cpp
  llvm/lib/Target/AArch64/AArch64Combine.td
  llvm/test/CodeGen/AArch64/GlobalISel/postlegalizer-combiner-constant-fold.mir
  llvm/test/CodeGen/AMDGPU/llvm.log.ll
  llvm/test/CodeGen/AMDGPU/llvm.log10.ll
Labels: backend:AArch64, llvm:globalisel

#65617 [mlir][spirv] Add `CooperativeMatrixMulAdd` op
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVBase.td
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVCooperativeMatrixOps.td
  mlir/lib/Dialect/SPIRV/IR/CooperativeMatrixOps.cpp
  mlir/test/Dialect/SPIRV/IR/cooperative-matrix-ops.mlir
Labels: mlir:core, mlir

#65616 [libc] Fix missing GPU math implementations
  libc/src/math/gpu/CMakeLists.txt
  libc/src/math/gpu/vendor/CMakeLists.txt
  libc/src/math/gpu/vendor/amdgpu/amdgpu.h
  libc/src/math/gpu/vendor/amdgpu/declarations.h
  libc/src/math/gpu/vendor/frexp.cpp
  libc/src/math/gpu/vendor/frexpf.cpp
  libc/src/math/gpu/vendor/nvptx/declarations.h
  libc/src/math/gpu/vendor/nvptx/nvptx.h
  libc/src/math/gpu/vendor/remquo.cpp
  libc/src/math/gpu/vendor/remquof.cpp
  libc/src/math/gpu/vendor/scalbn.cpp
  libc/src/math/gpu/vendor/scalbnf.cpp
Labels: libc

#65632 [Driver] Fix linking with -lm on Solaris
  clang/lib/Driver/ToolChains/Solaris.cpp
  clang/test/Driver/solaris-ld.c
Labels: clang:driver

#65555 [lldb][NFCI] Remove typedef for TypeCategoryMap::ValueSP
  lldb/include/lldb/DataFormatters/FormatManager.h
  lldb/include/lldb/DataFormatters/TypeCategoryMap.h
  lldb/source/DataFormatters/TypeCategoryMap.cpp
Labels: lldb

#65265 [libc++][doc] Add warning about limitation of --fresh in boostrapping build
  libcxx/docs/BuildingLibcxx.rst
Labels: libc++

#65642 [libc] Fix building the RPC server with LIBC_NAMESPACE
  libc/CMakeLists.txt
  libc/utils/gpu/server/CMakeLists.txt
Labels: libc

#65563 [flang][hlfir] Lower Cray pointee references.
  flang/include/flang/Lower/ConvertExpr.h
  flang/include/flang/Lower/ConvertVariable.h
  flang/include/flang/Optimizer/Builder/Runtime/Pointer.h
  flang/lib/Lower/Bridge.cpp
  flang/lib/Lower/ConvertExpr.cpp
  flang/lib/Lower/ConvertExprToHLFIR.cpp
  flang/lib/Lower/ConvertVariable.cpp
  flang/lib/Optimizer/Builder/CMakeLists.txt
  flang/lib/Optimizer/Builder/Runtime/Pointer.cpp
  flang/test/Lower/HLFIR/cray-pointers.f90
Labels: flang

#65409 [clang-format] Correctly annotate designated initializer with PP if
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#65633 [MLIR][Linalg] Retire `tile_to_scf_for`
  mlir/include/mlir/Dialect/Linalg/TransformOps/LinalgTransformOps.td
  mlir/lib/Dialect/Linalg/TransformOps/LinalgTransformOps.cpp
  mlir/test/Dialect/Linalg/generalize-tensor-pack-tile.mlir
  mlir/test/Dialect/Linalg/generalize-tensor-unpack-tile.mlir
  mlir/test/Dialect/Linalg/masked_vectorization.mlir
  mlir/test/Dialect/Linalg/transform-op-hoist-pad-build-packing-loop-nest.mlir
  mlir/test/Dialect/Linalg/transform-op-hoist-pad.mlir
  mlir/test/Dialect/Linalg/transform-ops-invalid.mlir
  mlir/test/Dialect/Tensor/tiling.mlir
Labels: mlir:linalg, mlir, mlir:tensor

#65628 [PowerPC] Turn string pooling on by default.
  llvm/lib/Target/PowerPC/PPCTargetMachine.cpp
  llvm/test/CodeGen/PowerPC/O3-pipeline.ll
  llvm/test/CodeGen/PowerPC/PR35812-neg-cmpxchg.ll
  llvm/test/CodeGen/PowerPC/licm-remat.ll
  llvm/test/CodeGen/PowerPC/mergeable-string-pool-large.ll
  llvm/test/CodeGen/PowerPC/mergeable-string-pool.ll
  llvm/test/CodeGen/PowerPC/toc-load-sched-bug.ll
Labels: backend:PowerPC

#65412 [clang] Introduce copy-on-write `CompilerInvocation`
  clang/include/clang/Basic/CodeGenOptions.h
  clang/include/clang/Basic/DiagnosticOptions.h
  clang/include/clang/Basic/LangOptions.h
  clang/include/clang/Frontend/CompilerInvocation.h
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/unittests/Frontend/CompilerInvocationTest.cpp
Labels: clang:frontend

#65678 [flang][openacc][NFC] Clean up lowering api
  flang/include/flang/Lower/OpenACC.h
  flang/lib/Lower/Bridge.cpp
  flang/lib/Lower/OpenACC.cpp
Labels: flang

#65648 [RISCV] Lower constant build_vectors with few non-sign bits via vsext
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-extract.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp-interleave.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp-shuffles.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-int-interleave.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-int-shuffles.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-int.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-masked-gather.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-stepvector.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-store.ll
  llvm/test/CodeGen/RISCV/rvv/vector-interleave-fixed.ll
  llvm/test/CodeGen/RISCV/srem-seteq-illegal-types.ll
Labels: backend:RISC-V

#65496 [Fuzzer] Update build.sh to fix build errors
  compiler-rt/lib/fuzzer/build.sh
Labels: compiler-rt

#65288 [Fuzzer] Optimize UpdateFeatureFrequency
  compiler-rt/lib/fuzzer/FuzzerCorpus.h
Labels: compiler-rt

#65690 [BOLT][test] Fix patch-entries for aarch64 buildbot
  bolt/test/X86/Inputs/patch-entries.c
  bolt/test/X86/patch-entries.c
  bolt/test/X86/patch-entries.test
Labels: BOLT

#65564 [NFC]Add assert to avoid possibly deref nullptr
  llvm/lib/CodeGen/AsmPrinter/AsmPrinterInlineAsm.cpp
  llvm/lib/Target/X86/X86AsmPrinter.cpp
Labels: backend:X86

#65606 Reland "[CUDA][HIP] Fix overloading resolution in global var init"
  .gitignore
  clang/include/clang/Sema/Sema.h
  clang/lib/Parse/ParseDecl.cpp
  clang/lib/Sema/SemaCUDA.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/lib/Sema/SemaOverload.cpp
  clang/lib/Sema/SemaType.cpp
  clang/test/CodeGenCUDA/global-initializers.cu
  clang/test/SemaCUDA/amdgpu-windows-vectorcall.cu
  clang/test/SemaCUDA/function-overload.cu
  clang/test/SemaCUDA/global-initializers-host.cu
  clang/test/SemaCUDA/global-initializers.cu
  clang/test/SemaCUDA/windows-calling-conv.cu
Labels: clang:frontend

#65248 [clang][MSExtentions] Fix invalid overload failure about the loss of `__unaligned` qualifier
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaOverload.cpp
  clang/test/SemaCXX/MicrosoftExtensions.cpp
Labels: clang:frontend

#65245 [llvm-exegesis] Make SubprocessMemoryTest use PIDs
  llvm/unittests/tools/llvm-exegesis/X86/SubprocessMemoryTest.cpp
Labels: tools:llvm-exegesis

#65196 [Github] Add test directories to IR/Transforms/Analysis teams
  .github/CODEOWNERS
Labels: github-prs

#65186 [llvm-exegesis] Add error handling for fork failures
  llvm/tools/llvm-exegesis/lib/BenchmarkRunner.cpp
Labels: tools:llvm-exegesis

#65718 [X86] Do not directly fold for VINSERTPS
  llvm/test/CodeGen/X86/avx.ll
  llvm/test/TableGen/x86-fold-tables.inc
  llvm/utils/TableGen/X86ManualFoldTables.def
Labels: backend:X86

#65540 [clang-format][NFC] Skip remaining tests of the same case upon failure
  clang/unittests/Format/FormatTestBase.h
Labels: clang-format

#65613 [flang] Use BIND name, if any, when consolidating common blocks
  flang/include/flang/Common/Fortran.h
  flang/include/flang/Lower/LoweringOptions.def
  flang/include/flang/Lower/Mangler.h
  flang/include/flang/Semantics/semantics.h
  flang/include/flang/Semantics/tools.h
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/lib/Lower/Bridge.cpp
  flang/lib/Lower/Mangler.cpp
  flang/lib/Optimizer/Transforms/ExternalNameConversion.cpp
  flang/lib/Semantics/semantics.cpp
  flang/lib/Semantics/tools.cpp
  flang/test/Lower/HLFIR/common-block-bindc-conflicts.f90
  flang/test/Lower/OpenMP/copyin.f90
  flang/test/Lower/OpenMP/declare-target-data.f90
  flang/test/Lower/OpenMP/firstprivate-commonblock.f90
  flang/test/Lower/OpenMP/lastprivate-commonblock.f90
  flang/test/Lower/OpenMP/private-commonblock.f90
  flang/test/Lower/OpenMP/threadprivate-common-block-hlfir.f90
  flang/test/Lower/OpenMP/threadprivate-commonblock.f90
  flang/test/Lower/OpenMP/threadprivate-use-association.f90
  flang/test/Lower/array.f90
  flang/test/Lower/common-block-2.f90
  flang/test/Lower/common-block.f90
  flang/test/Lower/equivalence-2.f90
  flang/test/Lower/explicit-interface-results-2.f90
  flang/test/Lower/host-associated-globals.f90
  flang/test/Lower/module_definition.f90
  flang/test/Lower/module_use.f90
  flang/test/Lower/module_use_in_same_file.f90
  flang/test/Lower/namelist-common-block.f90
  flang/test/Lower/pointer-assignments.f90
  flang/test/Lower/pointer-initial-target-2.f90
Labels: flang

#65635 [lldb][Docs] Additions to debuging LLDB page
  lldb/docs/resources/debugging.rst
  lldb/examples/ptrace_example.c
Labels: lldb

#65631 [libc] Add is_member_pointer_v
  libc/src/__support/CPP/type_traits.h
  libc/src/__support/CPP/type_traits/is_member_pointer.h
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: libc

#65611 SLP/RISCV: add negative test for lrint (#55208)
  llvm/test/Transforms/SLPVectorizer/RISCV/fround.ll
Labels: test-suite, backend:RISC-V, llvm:SLPVectorizer

#65508 [mlir][llvm] Add zeroinitializer constant
  mlir/include/mlir/Dialect/LLVMIR/LLVMOps.td
  mlir/test/Dialect/LLVMIR/roundtrip.mlir
  mlir/test/Target/LLVMIR/llvmir.mlir
Labels: mlir

#65721 [X86] Do not check alignment for VINSERTPS
  llvm/lib/Target/X86/X86InstrInfo.cpp
  llvm/test/CodeGen/X86/avx.ll
Labels: backend:X86

#65730 [mlir][LLVM] Model side effects of volatile and atomic load-store
  mlir/include/mlir/Dialect/LLVMIR/LLVMOps.td
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/test/Dialect/LLVMIR/canonicalize.mlir
Labels: mlir:core, mlir

#65651 [libc++][NFC] Remove dead code in <list>
  libcxx/include/list
Labels: libc++

#65476 [SLP]Do not early exit if the number of unique elements is non-power-of-2.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/AArch64/transpose-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/transpose.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/vectorizable-selects-uniform-cmps.ll
  llvm/test/Transforms/SLPVectorizer/X86/cse.ll
  llvm/test/Transforms/SLPVectorizer/X86/pr49081.ll
Labels: backend:AArch64, backend:X86, vectorization

#65732 [clang][dataflow] Don't crash when BlockToState is called from unreachable path
  clang/lib/Analysis/FlowSensitive/Transfer.cpp
  clang/unittests/Analysis/FlowSensitive/TransferTest.cpp
Labels: clang:dataflow

#65592 [X86] Convert X86FixupBWInsts from LivePhysRegs to LiveRegUnits. NFCI.
  llvm/lib/Target/X86/X86FixupBWInsts.cpp
Labels: backend:X86

#65738 [mlir][TOSA] Fix interpretation of --tosa-validate='profile=undefined'
  mlir/include/mlir/Dialect/Tosa/Transforms/Passes.td
Labels: mlir:core, mlir, mlir:tosa

#65757 [AMDGPU] New intrinsic void llvm.amdgcn.s.nop(i16)
  llvm/include/llvm/IR/IntrinsicsAMDGPU.td
  llvm/lib/Target/AMDGPU/SOPInstructions.td
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.s.nop.ll
Labels: backend:AMDGPU

#65671 [AArch64] Fix FMV crash on unspecified number of parameters function
  clang/lib/Sema/SemaDecl.cpp
  clang/test/Sema/attr-target-version.c
Labels: clang:frontend

#65703 [flang] Fixed LoopVersioning for array slices.
  flang/lib/Optimizer/Transforms/LoopVersioning.cpp
  flang/test/Transforms/loop-versioning.fir
Labels: flang

#65707 [flang][hlfir] Better recognize non-overlapping array sections.
  flang/lib/Optimizer/HLFIR/Transforms/OptimizedBufferization.cpp
  flang/test/HLFIR/opt-array-slice-assign.fir
Labels: flang

#65760 [lldb] Add test to document alias tab completion behaviour
  lldb/test/API/functionalities/completion/TestCompletion.py
Labels: lldb

#65482 Add GitHub workflow for check Python file formatting
  .github/workflows/pr-python-format.yml
Labels: infrastructure

#65769 [RISCV] Match gather(splat(ptr)) as zero strided load
  llvm/lib/Target/RISCV/RISCVGatherScatterLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-masked-gather.ll
Labels: backend:RISC-V

#64913 workflows: Add a simple pull request subscription workflow
  .github/new-prs-labeler.yml
  .github/workflows/pr-subscriber.yml
  llvm/utils/git/github-automation.py
Labels: github-prs

#65383 [libc] Unify gettime implementations
  libc/src/time/CMakeLists.txt
  libc/src/time/linux/CMakeLists.txt
  libc/src/time/linux/clock.cpp
  libc/src/time/linux/clockGetTimeImpl.h
  libc/src/time/linux/clock_gettime.cpp
  libc/src/time/linux/gettimeofday.cpp
  libc/src/time/linux/time.cpp
Labels: libc

#65381 [Clang] Fix the for statement disappearing in AST when an error occurs in the conditional expression of the for statement
  clang/lib/Parse/ParseStmt.cpp
  clang/test/AST/ast-dump-recovery.cpp
  clang/test/SemaCXX/constexpr-function-recovery-crash.cpp
Labels: clang, clang:frontend

#65712 [mlir][spirv] Fix coop matrix load
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVCooperativeMatrixOps.td
  mlir/lib/Dialect/SPIRV/IR/CooperativeMatrixOps.cpp
  mlir/test/Dialect/SPIRV/IR/cooperative-matrix-ops.mlir
  mlir/tools/mlir-tblgen/SPIRVUtilsGen.cpp
Labels: mlir:core, mlir

#65736 [mlir][Interfaces] ValueBoundsOpInterface: Handle all destination style ops
  mlir/include/mlir/Interfaces/ValueBoundsOpInterface.h
  mlir/lib/Dialect/Linalg/IR/ValueBoundsOpInterfaceImpl.cpp
  mlir/lib/Dialect/Tensor/IR/ValueBoundsOpInterfaceImpl.cpp
  mlir/lib/Interfaces/CMakeLists.txt
  mlir/lib/Interfaces/ValueBoundsOpInterface.cpp
  mlir/test/Dialect/Vector/value-bounds-op-interface-impl.mlir
Labels: mlir:core, mlir:linalg, mlir:vectorops, mlir, mlir:tensor

#65657 [Clang][LoongArch] Generate _mcount instead of mcount
  clang/lib/Basic/Targets/LoongArch.h
  clang/test/CodeGen/mcount.c
Labels: clang:frontend, backend:loongarch

#65709 [mlir][spirv] Fix coop matrix store
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVCooperativeMatrixOps.td
  mlir/lib/Dialect/SPIRV/IR/CooperativeMatrixOps.cpp
  mlir/test/Dialect/SPIRV/IR/cooperative-matrix-ops.mlir
Labels: mlir:core, mlir

#65782 [libc] Build the `libc` objects using a generic AMDGPU ABI
  libc/cmake/modules/LLVMLibCObjectRules.cmake
Labels: libc

#65790 [libc][docs] Fix docs/gpu/support.rst.
  libc/docs/gpu/support.rst
Labels: libc

#65197 [Attributor] Look through indirect calls
  llvm/include/llvm/Transforms/IPO/Attributor.h
  llvm/lib/Transforms/IPO/Attributor.cpp
  llvm/lib/Transforms/IPO/AttributorAttributes.cpp
  llvm/test/Transforms/Attributor/liveness.ll
  llvm/test/Transforms/Attributor/nounwind.ll
  llvm/test/Transforms/Attributor/value-simplify.ll
Labels: llvm::Attributor

#65680 [libc][NFC] Cleanup the GPU file I/O utility header
  libc/src/stdio/gpu/file.h
Labels: libc

#65698 [NFC] Update coroutine intrinsics documentation and few remaining tests to opaque pointers
  llvm/docs/Coroutines.rst
  llvm/test/Transforms/Coroutines/coro-async-remat.ll
  llvm/test/Transforms/Coroutines/coro-retcon-opaque-ptr.ll
  llvm/test/Transforms/Coroutines/coro-retcon-remat.ll
  llvm/test/Transforms/Coroutines/coro-spill-corobegin.ll
  llvm/test/Transforms/Coroutines/coro-spill-promise-02.ll
Labels: coroutines

#65660 [AMDGPU] Incorrect error message regarding SCC modifier
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/test/MC/AMDGPU/gfx90a_asm_features.s
  llvm/test/MC/AMDGPU/gfx90a_err.s
Labels: backend:AMDGPU, mc

#65791 [libc] Generate configure.rst from the JSON config information.
  libc/CMakeLists.txt
  libc/cmake/modules/LibcConfig.cmake
  libc/docs/configure.rst
  libc/docs/index.rst
Labels: libc

#65787 [mlir][gpu][target] Use promises to verify TargetAttrs IR correctness.
  mlir/include/mlir/Dialect/GPU/IR/CompilationAttrInterfaces.td
  mlir/include/mlir/Dialect/GPU/IR/CompilationAttrs.td
  mlir/include/mlir/Target/LLVMIR/Dialect/All.h
  mlir/lib/Dialect/GPU/IR/GPUDialect.cpp
  mlir/lib/Target/LLVMIR/CMakeLists.txt
Labels: mlir

#65807 [flang][openacc] Add check for acc cache directive
  flang/lib/Semantics/check-acc-structure.cpp
  flang/lib/Semantics/check-acc-structure.h
  flang/test/Semantics/OpenACC/acc-cache-validity.f90
Labels: flang

#65723 [clang-format] Fix a serious bug in git-clang-format
  clang/tools/clang-format/git-clang-format
Labels: clang-format

#65813 [mlir] Make `StringRefParameter` roundtrippable
  mlir/include/mlir/IR/AttrTypeBase.td
  mlir/include/mlir/IR/OpImplementation.h
  mlir/lib/IR/AsmPrinter.cpp
  mlir/test/mlir-tblgen/attr-or-type-format-roundtrip.mlir
Labels: mlir:ods

#65805 [mlir][test][gpu] Migrate ROCM tests to the TargetAttr compilation workflow
  mlir/test/Integration/GPU/ROCM/gpu-to-hsaco.mlir
  mlir/test/Integration/GPU/ROCM/printf.mlir
  mlir/test/Integration/GPU/ROCM/two-modules.mlir
  mlir/test/Integration/GPU/ROCM/vecadd.mlir
  mlir/test/Integration/GPU/ROCM/vector-transferops.mlir
Labels: mlir:gpu, mlir:amdgpu

#65821 [libc][NFC] Make add_header_library rule support COMPILE_OPTIONS.
  libc/cmake/modules/LLVMLibCLibraryRules.cmake
Labels: libc

#65596 [clang][CodeGen] Switch declaration of vtable information to be [0 x ptr]
  clang/lib/CodeGen/ItaniumCXXABI.cpp
  clang/test/CodeGenCXX/RelativeVTablesABI/child-vtable-in-comdat.cpp
  clang/test/CodeGenCXX/RelativeVTablesABI/parent-vtable-in-comdat.cpp
  clang/test/CodeGenCXX/RelativeVTablesABI/simple-vtable-definition.cpp
  clang/test/CodeGenCXX/RelativeVTablesABI/type-info.cpp
  clang/test/CodeGenCXX/typeinfo-with-address-space.cpp
Labels: clang:codegen

#65659 [GlobalISel] Add constant folding support for G_FMA/G_FMAD in the combiner.
  llvm/include/llvm/CodeGen/GlobalISel/CombinerHelper.h
  llvm/include/llvm/Target/GlobalISel/Combine.td
  llvm/lib/CodeGen/GlobalISel/CombinerHelper.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/combine-constant-fold-fma.mir
Labels: backend:AArch64, llvm:globalisel

#65768 [mlir][test][gpu] Migrate CUDA tests to the TargetAttr compilation workflow
  mlir/include/mlir/Conversion/GPUToNVVM/GPUToNVVMPass.h
  mlir/include/mlir/Conversion/Passes.td
  mlir/lib/Conversion/GPUToNVVM/LowerGpuOpsToNVVMOps.cpp
  mlir/lib/Dialect/SparseTensor/Pipelines/SparseTensorPipelines.cpp
  mlir/test/Integration/Dialect/SparseTensor/GPU/CUDA/dump-ptx.mlir
  mlir/test/Integration/Dialect/SparseTensor/GPU/CUDA/sparse-mma-2-4-f16.mlir
  mlir/test/Integration/Dialect/Vector/GPU/CUDA/test-reduction-distribute.mlir
  mlir/test/Integration/Dialect/Vector/GPU/CUDA/test-warp-distribute.mlir
  mlir/test/Integration/GPU/CUDA/TensorCore/wmma-matmul-f16.mlir
  mlir/test/Integration/GPU/CUDA/TensorCore/wmma-matmul-f32-bare-ptr.mlir
  mlir/test/Integration/GPU/CUDA/TensorCore/wmma-matmul-f32.mlir
  mlir/test/Integration/GPU/CUDA/all-reduce-and.mlir
  mlir/test/Integration/GPU/CUDA/all-reduce-max.mlir
  mlir/test/Integration/GPU/CUDA/all-reduce-min.mlir
  mlir/test/Integration/GPU/CUDA/all-reduce-op.mlir
  mlir/test/Integration/GPU/CUDA/all-reduce-or.mlir
  mlir/test/Integration/GPU/CUDA/all-reduce-region.mlir
  mlir/test/Integration/GPU/CUDA/all-reduce-xor.mlir
  mlir/test/Integration/GPU/CUDA/async.mlir
  mlir/test/Integration/GPU/CUDA/gpu-to-cubin.mlir
  mlir/test/Integration/GPU/CUDA/multiple-all-reduce.mlir
  mlir/test/Integration/GPU/CUDA/printf.mlir
  mlir/test/Integration/GPU/CUDA/shuffle.mlir
  mlir/test/Integration/GPU/CUDA/two-modules.mlir
  mlir/test/lib/Dialect/GPU/TestLowerToNVVM.cpp
Labels: mlir:gpu, mlir:vectorops, mlir

#65588 [Sparc] Replace some CAS instructions with InstAlias
  llvm/lib/Target/Sparc/SparcInstr64Bit.td
  llvm/lib/Target/Sparc/SparcInstrAliases.td
  llvm/lib/Target/Sparc/SparcInstrInfo.td
  llvm/test/MC/Sparc/sparc-cas-instructions.s
  llvm/test/MC/Sparc/sparcv9-asi-names.s
Labels: backend:Sparc, mc

#65847 [GlobalOpt] Handle DL.getAllocaAddrSpace() != 0
  llvm/lib/Transforms/IPO/GlobalOpt.cpp
  llvm/test/Transforms/GlobalOpt/global_alloca_diff_addrspaces.ll
Labels: llvm:transforms

#65809 [libc] Implement stdio writing functions for the GPU port
  libc/config/gpu/entrypoints.txt
  libc/docs/gpu/support.rst
  libc/src/stdio/CMakeLists.txt
  libc/src/stdio/generic/CMakeLists.txt
  libc/src/stdio/generic/fputc.cpp
  libc/src/stdio/generic/fwrite.cpp
  libc/src/stdio/generic/fwrite_unlocked.cpp
  libc/src/stdio/generic/putc.cpp
  libc/src/stdio/generic/putchar.cpp
  libc/src/stdio/gpu/CMakeLists.txt
  libc/src/stdio/gpu/fputc.cpp
  libc/src/stdio/gpu/fwrite.cpp
  libc/src/stdio/gpu/putc.cpp
  libc/src/stdio/gpu/putchar.cpp
  libc/test/src/stdio/CMakeLists.txt
  libc/test/src/stdio/fopen_test.cpp
  libc/test/src/stdio/fputc_test.cpp
Labels: libc

#65808 [clang-format] BreakBeforeNoexceptSpecifier option added
  clang/docs/ClangFormatStyleOptions.rst
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Format/Format.h
  clang/lib/Format/Format.cpp
  clang/lib/Format/TokenAnnotator.cpp
  clang/unittests/Format/ConfigParseTest.cpp
  clang/unittests/Format/FormatTest.cpp
Labels: clang, clang-format

#65415 Switch MLIR to use the internal LIT shell by default
  mlir/test/Integration/Dialect/SparseTensor/CPU/dense_output.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_flatten.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_matvec.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_mttkrp.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_out_simple.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_sampled_matmul.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_sorted_coo.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_spmm.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_sum.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_sum_c32.mlir
  mlir/test/lit.cfg.py
Labels: mlir

#65862 [Clang][OpenMP] Emit unroll directive w/o captured stmt
  clang/lib/CodeGen/CGStmtOpenMP.cpp
  clang/test/OpenMP/bug63570.c
Labels: clang, clang:codegen

#65797 [mlir][gpu] Add a symbol table field to TargetOptions and adjust GpuModuleToBinary
  mlir/include/mlir/Dialect/GPU/IR/CompilationInterfaces.h
  mlir/include/mlir/Dialect/GPU/Transforms/Passes.td
  mlir/lib/Dialect/GPU/IR/GPUDialect.cpp
  mlir/lib/Dialect/GPU/Transforms/ModuleToBinary.cpp
Labels: mlir:core, mlir:gpu, mlir
