Repository llvm/llvm-project, pull requests merged in 2023-12, with the labels that each got.

#73986 [mlir][sparse] refactoring: using util functions to query the index to load from position array for slice-driven loop.
  mlir/lib/Dialect/SparseTensor/Transforms/LoopEmitter.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparsificationAndBufferizationPass.cpp
  mlir/test/Dialect/SparseTensor/sparse_conv_2d_slice_based.mlir
Labels: mlir:sparse, mlir

#74010 [OpenMP][NFC] Encapsulate Devices.size()
  openmp/libomptarget/include/PluginManager.h
  openmp/libomptarget/src/api.cpp
Labels: openmp, openmp:libomptarget

#73997 [ThinLTO] Fix assembly dumping of vtable type ids
  llvm/lib/IR/AsmWriter.cpp
  llvm/test/Assembler/thinlto-vtable-summary2.ll
Labels: llvm:ir

#74009 [OpenMP][NFC] Move mapping related logic into Mapping.h
  openmp/libomptarget/include/OpenMP/Mapping.h
  openmp/libomptarget/include/PluginManager.h
  openmp/libomptarget/src/device.cpp
  openmp/libomptarget/src/rtl.cpp
Labels: openmp, openmp:libomptarget

#72180 [clang][llvm][fatlto] Avoid cloning modules in FatLTO
  clang/lib/CodeGen/BackendUtil.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/test/CodeGen/fat-lto-objects.c
  clang/test/Driver/fat-lto-objects.c
  llvm/docs/FatLTO.rst
  llvm/include/llvm/Passes/PassBuilder.h
  llvm/include/llvm/Transforms/IPO/EmbedBitcodePass.h
  llvm/lib/Passes/PassBuilder.cpp
  llvm/lib/Passes/PassBuilderPipelines.cpp
  llvm/lib/Passes/PassRegistry.def
  llvm/lib/Transforms/IPO/EmbedBitcodePass.cpp
  llvm/test/CodeGen/X86/fat-lto-section.ll
  llvm/test/Transforms/EmbedBitcode/embed.ll
Labels: clang, backend:X86, clang:driver, clang:codegen, miscompilation, LTO, llvm:transforms

#74012 [lldb] pipe2(2) is also supported by OpenBSD
  lldb/source/Host/posix/PipePosix.cpp
Labels: lldb

#73919 [ASAN][AMDGPU] NFC. Improve instrumentation tests.
  llvm/test/Instrumentation/AddressSanitizer/AMDGPU/asan_instrument_constant_address_space.ll
  llvm/test/Instrumentation/AddressSanitizer/AMDGPU/asan_instrument_generic_address_space.ll
  llvm/test/Instrumentation/AddressSanitizer/AMDGPU/asan_instrument_global_address_space.ll
Labels: backend:AMDGPU

#73984 [libc][mincore] use correct page_size for test
  libc/test/src/sys/mman/linux/CMakeLists.txt
  libc/test/src/sys/mman/linux/mincore_test.cpp
Labels: libc

#73506 [NFC][indvars] Remove unused code in WidenIV::widenLoopCompare
  llvm/lib/Transforms/Utils/SimplifyIndVar.cpp
Labels: llvm:transforms

#74004 [GISel][Mips] Infer alignment when creating memory operand for G_VASTART.
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/test/CodeGen/Mips/GlobalISel/irtranslator/var_arg.ll
Labels: llvm:globalisel

#73981 [lldb] Remove pre GCC 4.8 workaround
  lldb/source/Host/common/Host.cpp
Labels: lldb

#74032 [BOLT] CDSplit main logic part 2/2
  bolt/lib/Passes/SplitFunctions.cpp
  bolt/test/X86/cdsplit-call-scale.s
  bolt/test/X86/cdsplit-symbol-names.s
Labels: BOLT

#74026 [libc] remove fragile test from mincore
  libc/test/src/sys/mman/linux/mincore_test.cpp
Labels: libc

#74027 Reland "[CodeGen] Port SafeStack to new pass manager
  llvm/include/llvm/CodeGen/CodeGenPassBuilder.h
  llvm/include/llvm/CodeGen/MachinePassRegistry.def
  llvm/include/llvm/CodeGen/SafeStack.h
  llvm/lib/CodeGen/SafeStack.cpp
  llvm/lib/Passes/PassBuilder.cpp
  llvm/lib/Passes/PassRegistry.def
  llvm/test/Transforms/SafeStack/AArch64/abi.ll
  llvm/test/Transforms/SafeStack/AArch64/abi_ssp.ll
  llvm/test/Transforms/SafeStack/AArch64/unreachable.ll
  llvm/test/Transforms/SafeStack/ARM/abi.ll
  llvm/test/Transforms/SafeStack/ARM/debug.ll
  llvm/test/Transforms/SafeStack/ARM/setjmp.ll
  llvm/test/Transforms/SafeStack/X86/abi.ll
  llvm/test/Transforms/SafeStack/X86/abi_ssp.ll
  llvm/test/Transforms/SafeStack/X86/addr-taken.ll
  llvm/test/Transforms/SafeStack/X86/array-aligned.ll
  llvm/test/Transforms/SafeStack/X86/array.ll
  llvm/test/Transforms/SafeStack/X86/byval.ll
  llvm/test/Transforms/SafeStack/X86/call.ll
  llvm/test/Transforms/SafeStack/X86/cast.ll
  llvm/test/Transforms/SafeStack/X86/coloring-ssp.ll
  llvm/test/Transforms/SafeStack/X86/coloring.ll
  llvm/test/Transforms/SafeStack/X86/coloring2.ll
  llvm/test/Transforms/SafeStack/X86/constant-gep-call.ll
  llvm/test/Transforms/SafeStack/X86/constant-gep.ll
  llvm/test/Transforms/SafeStack/X86/constant-geps.ll
  llvm/test/Transforms/SafeStack/X86/debug-loc-dynamic.ll
  llvm/test/Transforms/SafeStack/X86/debug-loc.ll
  llvm/test/Transforms/SafeStack/X86/debug-loc2.ll
  llvm/test/Transforms/SafeStack/X86/dynamic-alloca.ll
  llvm/test/Transforms/SafeStack/X86/escape-addr-pointer.ll
  llvm/test/Transforms/SafeStack/X86/escape-bitcast-store.ll
  llvm/test/Transforms/SafeStack/X86/escape-bitcast-store2.ll
  llvm/test/Transforms/SafeStack/X86/escape-call.ll
  llvm/test/Transforms/SafeStack/X86/escape-casted-pointer.ll
  llvm/test/Transforms/SafeStack/X86/escape-gep-call.ll
  llvm/test/Transforms/SafeStack/X86/escape-gep-invoke.ll
  llvm/test/Transforms/SafeStack/X86/escape-gep-negative.ll
  llvm/test/Transforms/SafeStack/X86/escape-gep-ptrtoint.ll
  llvm/test/Transforms/SafeStack/X86/escape-gep-store.ll
  llvm/test/Transforms/SafeStack/X86/escape-phi-call.ll
  llvm/test/Transforms/SafeStack/X86/escape-select-call.ll
  llvm/test/Transforms/SafeStack/X86/escape-vector.ll
  llvm/test/Transforms/SafeStack/X86/invoke.ll
  llvm/test/Transforms/SafeStack/X86/layout-frag.ll
  llvm/test/Transforms/SafeStack/X86/layout-region-split.ll
  llvm/test/Transforms/SafeStack/X86/memintrinsic-oob-read.ll
  llvm/test/Transforms/SafeStack/X86/musttail.ll
  llvm/test/Transforms/SafeStack/X86/no-attr.ll
  llvm/test/Transforms/SafeStack/X86/no-crash-on-lifetime.ll
  llvm/test/Transforms/SafeStack/X86/phi-cycle.ll
  llvm/test/Transforms/SafeStack/X86/phi.ll
  llvm/test/Transforms/SafeStack/X86/pr54784.ll
  llvm/test/Transforms/SafeStack/X86/ret.ll
  llvm/test/Transforms/SafeStack/X86/setjmp.ll
  llvm/test/Transforms/SafeStack/X86/setjmp2.ll
  llvm/test/Transforms/SafeStack/X86/sink-to-use.ll
  llvm/test/Transforms/SafeStack/X86/ssp.ll
  llvm/test/Transforms/SafeStack/X86/store.ll
  llvm/test/Transforms/SafeStack/X86/struct.ll
Labels: llvm:transforms

#73909 [RISCV] Move AVL coalescing logic upwards into computeInfoForInstr. NFC
  llvm/lib/Target/RISCV/RISCVInsertVSETVLI.cpp
Labels: backend:RISC-V

#74031 [LoongArch] Add some binary IR instructions testcases for LASX
  llvm/test/CodeGen/LoongArch/lasx/ir-instruction/add.ll
  llvm/test/CodeGen/LoongArch/lasx/ir-instruction/ashr.ll
  llvm/test/CodeGen/LoongArch/lasx/ir-instruction/fadd.ll
  llvm/test/CodeGen/LoongArch/lasx/ir-instruction/fdiv.ll
  llvm/test/CodeGen/LoongArch/lasx/ir-instruction/fmul.ll
  llvm/test/CodeGen/LoongArch/lasx/ir-instruction/fsub.ll
  llvm/test/CodeGen/LoongArch/lasx/ir-instruction/lshr.ll
  llvm/test/CodeGen/LoongArch/lasx/ir-instruction/mul.ll
  llvm/test/CodeGen/LoongArch/lasx/ir-instruction/sdiv.ll
  llvm/test/CodeGen/LoongArch/lasx/ir-instruction/shl.ll
  llvm/test/CodeGen/LoongArch/lasx/ir-instruction/sub.ll
  llvm/test/CodeGen/LoongArch/lasx/ir-instruction/udiv.ll
Labels: backend:loongarch

#72352 [RISCV] Minimally modify incoming state in transferBefore
  llvm/lib/Target/RISCV/RISCVInsertVSETVLI.cpp
Labels: backend:RISC-V

#74033 [NFC] Typo fix
  llvm/include/llvm/ProfileData/SampleProf.h
  llvm/lib/MC/MCAsmStreamer.cpp
  llvm/tools/llvm-profdata/llvm-profdata.cpp
Labels: mc, PGO

#73236 [MemProf] Expand optimization scope to internal linkage function
  llvm/lib/Transforms/Instrumentation/MemProfiler.cpp
  llvm/test/Transforms/PGOProfile/Inputs/memprof_internal_linkage.exe
  llvm/test/Transforms/PGOProfile/Inputs/memprof_internal_linkage.memprofraw
  llvm/test/Transforms/PGOProfile/Inputs/update_memprof_inputs.sh
  llvm/test/Transforms/PGOProfile/memprof_internal_linkage.ll
Labels: clang, clang:codegen, PGO, llvm:transforms

#74037 [ADT] Make use of the endian.h header on NetBSD and DragonFly
  llvm/include/llvm/ADT/bit.h
Labels: llvm:adt

#65755 [RISCV] Make InitUndef handle undef operand
  llvm/lib/Target/RISCV/RISCVRVVInitUndef.cpp
  llvm/test/CodeGen/RISCV/65704-illegal-instruction.ll
  llvm/test/CodeGen/RISCV/rvv/handle-noreg-with-implicit-def.mir
  llvm/test/CodeGen/RISCV/rvv/undef-earlyclobber-chain.mir
Labels: backend:RISC-V

#73355 [clang] Use the materialized temporary's type while creating the APValue
  clang/docs/ReleaseNotes.rst
  clang/lib/AST/ExprConstant.cpp
  clang/test/SemaCXX/pr72025.cpp
Labels: clang, clang:frontend

#74039 [X86][MC] Not emit {evex} for VEX-promoted instructions with GPR operands
  llvm/lib/Target/X86/X86InstrAVX512.td
  llvm/test/MC/Disassembler/X86/apx/kmov.txt
  llvm/test/MC/X86/apx/kmov-att.s
  llvm/test/MC/X86/apx/kmov-intel.s
Labels: backend:X86, mc

#74021 [ValueTracking] Support srem/urem for isKnownNonNullFromDominatingCondition
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/test/Analysis/ValueTracking/select-known-non-zero.ll
  llvm/test/Transforms/InstCombine/zext-or-icmp.ll
Labels: llvm:analysis, llvm:transforms

#73807 [MLIR][Vector] Refactor tests for contract -> OP transforms (4/N)
  mlir/test/Dialect/Vector/vector-contract-to-outerproduct-matvec-transforms.mlir
Labels: mlir:vectorops, mlir, mlir:vector

#73947 [libc] Fix _Float16 detection for x86
  libc/src/__support/macros/properties/CMakeLists.txt
  libc/src/__support/macros/properties/float.h
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: libc

#73806 [mlir] notify insertion of parent op first when cloning
  mlir/lib/IR/Builders.cpp
  mlir/test/IR/test-clone.mlir
  mlir/test/lib/IR/TestClone.cpp
Labels: mlir:core, mlir

#73962 AMDGPU/load-global-i32: regenerate test using UTC (NFC)
  llvm/test/CodeGen/AMDGPU/load-global-i32.ll
Labels: backend:AMDGPU

#73952 [libc][NFC] Remove named_pair
  libc/src/__support/CMakeLists.txt
  libc/src/__support/math_extras.h
  libc/src/__support/named_pair.h
  libc/src/__support/number_pair.h
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: libc

#73899 [X86][MC] Support Enc/Dec for EGPR for promoted BMI instructions
  llvm/lib/Target/X86/MCTargetDesc/X86MCCodeEmitter.cpp
  llvm/lib/Target/X86/X86InstrArithmetic.td
  llvm/lib/Target/X86/X86InstrMisc.td
  llvm/lib/Target/X86/X86InstrShiftRotate.td
  llvm/test/MC/Disassembler/X86/apx/andn.txt
  llvm/test/MC/Disassembler/X86/apx/bextr.txt
  llvm/test/MC/Disassembler/X86/apx/blsi.txt
  llvm/test/MC/Disassembler/X86/apx/blsmsk.txt
  llvm/test/MC/Disassembler/X86/apx/blsr.txt
  llvm/test/MC/Disassembler/X86/apx/bzhi.txt
  llvm/test/MC/Disassembler/X86/apx/evex-format.txt
  llvm/test/MC/Disassembler/X86/apx/mulx.txt
  llvm/test/MC/Disassembler/X86/apx/pdep.txt
  llvm/test/MC/Disassembler/X86/apx/pext.txt
  llvm/test/MC/Disassembler/X86/apx/rorx.txt
  llvm/test/MC/Disassembler/X86/apx/sarx.txt
  llvm/test/MC/Disassembler/X86/apx/shlx.txt
  llvm/test/MC/Disassembler/X86/apx/shrx.txt
  llvm/test/MC/X86/apx/andn-att.s
  llvm/test/MC/X86/apx/andn-intel.s
  llvm/test/MC/X86/apx/bextr-att.s
  llvm/test/MC/X86/apx/bextr-intel.s
  llvm/test/MC/X86/apx/blsi-att.s
  llvm/test/MC/X86/apx/blsi-intel.s
  llvm/test/MC/X86/apx/blsmsk-att.s
  llvm/test/MC/X86/apx/blsmsk-intel.s
  llvm/test/MC/X86/apx/blsr-att.s
  llvm/test/MC/X86/apx/blsr-intel.s
  llvm/test/MC/X86/apx/bzhi-att.s
  llvm/test/MC/X86/apx/bzhi-intel.s
  llvm/test/MC/X86/apx/evex-format-att.s
  llvm/test/MC/X86/apx/evex-format-intel.s
  llvm/test/MC/X86/apx/mulx-att.s
  llvm/test/MC/X86/apx/mulx-intel.s
  llvm/test/MC/X86/apx/pdep-att.s
  llvm/test/MC/X86/apx/pdep-intel.s
  llvm/test/MC/X86/apx/pext-att.s
  llvm/test/MC/X86/apx/pext-intel.s
  llvm/test/MC/X86/apx/rorx-att.s
  llvm/test/MC/X86/apx/rorx-intel.s
  llvm/test/MC/X86/apx/sarx-att.s
  llvm/test/MC/X86/apx/sarx-intel.s
  llvm/test/MC/X86/apx/shlx-att.s
  llvm/test/MC/X86/apx/shlx-intel.s
  llvm/test/MC/X86/apx/shrx-att.s
  llvm/test/MC/X86/apx/shrx-intel.s
  llvm/test/TableGen/x86-fold-tables.inc
Labels: backend:X86, mc

#73771 [mlir][sve][nfc] Update a test to use transform-interpreter
  mlir/test/Integration/Dialect/Linalg/CPU/ArmSVE/matmul.mlir
Labels: mlir:linalg, mlir, mlir:sve

#73931 [mlir][ArmSME] Add option to only enable streaming mode/ZA if required
  mlir/include/mlir/Dialect/ArmSME/Transforms/Passes.h
  mlir/include/mlir/Dialect/ArmSME/Transforms/Passes.td
  mlir/lib/Dialect/ArmSME/Transforms/EnableArmStreaming.cpp
  mlir/test/Dialect/ArmSME/enable-arm-streaming.mlir
Labels: mlir, mlir:sme

#73769 TargetInstrInfo: make getOperandLatency return optional (NFC)
  llvm/include/llvm/CodeGen/TargetInstrInfo.h
  llvm/include/llvm/MC/MCInstrItineraries.h
  llvm/lib/CodeGen/SelectionDAG/ScheduleDAGSDNodes.cpp
  llvm/lib/CodeGen/TargetInstrInfo.cpp
  llvm/lib/CodeGen/TargetSchedule.cpp
  llvm/lib/MC/MCDisassembler/Disassembler.cpp
  llvm/lib/Target/ARM/ARMBaseInstrInfo.cpp
  llvm/lib/Target/ARM/ARMBaseInstrInfo.h
  llvm/lib/Target/Hexagon/HexagonInstrInfo.cpp
  llvm/lib/Target/Hexagon/HexagonInstrInfo.h
  llvm/lib/Target/Hexagon/HexagonSubtarget.cpp
  llvm/lib/Target/PowerPC/PPCInstrInfo.cpp
  llvm/lib/Target/PowerPC/PPCInstrInfo.h
Labels: backend:ARM, mc, llvm:SelectionDAG

#69447 [Driver] Add ExclusiveGroup feature to multilib.yaml.
  clang/include/clang/Driver/Multilib.h
  clang/lib/Driver/Multilib.cpp
  clang/test/Driver/baremetal-multilib-exclusive-group.yaml
  clang/test/Driver/baremetal-multilib-group-error.yaml
Labels: clang, clang:driver

#73950 [libc][NFC] Rename SPECIAL_X86_LONG_DOUBLE in LIBC_LONG_DOUBLE_IS_X86_FLOAT80
  libc/src/__support/FPUtil/FPBits.h
  libc/src/__support/FPUtil/ManipulationFunctions.h
  libc/src/__support/FPUtil/NormalFloat.h
  libc/src/__support/FPUtil/generic/sqrt.h
  libc/src/__support/FPUtil/generic/sqrt_80_bit_long_double.h
  libc/src/__support/macros/properties/float.h
  libc/src/__support/str_to_float.h
  libc/test/src/__support/str_to_float_test.cpp
  libc/test/src/stdio/sprintf_test.cpp
  libc/test/src/stdlib/strtold_test.cpp
Labels: libc

#74061 [clang][NFC] Refactor expected directives in C++ DRs 100-199
  clang/test/CXX/drs/dr0xx.cpp
  clang/test/CXX/drs/dr1xx.cpp
Labels: clang, test-suite, c++

#73951 [mlir][Vector] Add fold transpose(shape_cast) -> shape_cast
  mlir/lib/Dialect/Vector/IR/VectorOps.cpp
  mlir/test/Dialect/Vector/canonicalize.mlir
Labels: mlir:vectorops, mlir, mlir:vector

#72274 Add SME2 builtins for zero { zt0 }
  clang/include/clang/Basic/arm_sme.td
  clang/test/CodeGen/aarch64-sme2-intrinsics/acle_sme2_zero_zt.c
  llvm/include/llvm/IR/IntrinsicsAArch64.td
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.h
  llvm/lib/Target/AArch64/AArch64SMEInstrInfo.td
  llvm/lib/Target/AArch64/SMEInstrFormats.td
  llvm/test/CodeGen/AArch64/sme2-intrinsics-zero-zt.ll
Labels: clang, backend:AArch64, clang:frontend, llvm:ir

#74082 [mlir][gpu] Generate multiple rank-specializations for tensor map cre…
  mlir/lib/ExecutionEngine/CudaRuntimeWrappers.cpp
Labels: mlir, mlir:execution-engine

#73049 [mlir][tosa] Improve lowering to tosa.fully_connected
  mlir/lib/Conversion/TosaToLinalg/TosaToLinalgNamed.cpp
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg-named.mlir
  mlir/test/Integration/Dialect/Tosa/CPU/test-fully-connected.mlir
Labels: mlir:linalg, mlir, mlir:tosa

#73240 [mlir][tosa] Fix lowering of tosa.conv2d
  mlir/lib/Conversion/TosaToLinalg/TosaToLinalgNamed.cpp
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg-named.mlir
Labels: mlir:linalg, mlir

#69012 [AArch64][SME] Remove implicit-def's on smstart
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.h
  llvm/lib/Target/AArch64/AArch64SMEInstrInfo.td
  llvm/lib/Target/AArch64/SMEInstrFormats.td
  llvm/test/CodeGen/AArch64/sme-streaming-compatible-interface.ll
  llvm/test/CodeGen/AArch64/sme-streaming-interface.ll
Labels: backend:AArch64

#74071 [clang][ExtractAPI] Ensure LocationFileChecker doesn't try to traverse VFS when determining file path
  clang/lib/ExtractAPI/ExtractAPIConsumer.cpp
  clang/test/ExtractAPI/vfs_redirected_include.m
Labels: clang

#74078 TargetInstrInfo: squelch a signedness warning on MSVC
  llvm/include/llvm/MC/MCInstrItineraries.h
  llvm/lib/Target/ARM/ARMBaseInstrInfo.cpp
Labels: backend:ARM

#74098 [amdgpu] Default to 1.0, instead of unspecified, for dynamic hsa
  openmp/libomptarget/plugins-nextgen/amdgpu/dynamic_hsa/hsa_ext_amd.h
Labels: backend:AMDGPU, openmp:libomptarget

#73103 [Clang] Implement P2308R1 - Template Parameter Initialization.
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Sema/Sema.h
  clang/lib/Parse/ParseTemplate.cpp
  clang/lib/Sema/SemaOverload.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/test/CXX/drs/dr20xx.cpp
  clang/test/CXX/drs/dr24xx.cpp
  clang/test/SemaTemplate/temp_arg_nontype_cxx20.cpp
  clang/test/SemaTemplate/temp_arg_nontype_cxx2c.cpp
  clang/www/cxx_dr_status.html
  clang/www/cxx_status.html
Labels: clang, c++, clang:frontend, c++26

#74059 [mlir][sve][nfc] Merge the integration tests for linalg.matmul
  mlir/test/Integration/Dialect/Linalg/CPU/ArmSVE/matmul.mlir
  mlir/test/Integration/Dialect/Linalg/CPU/ArmSVE/matmul_mixed_ty.mlir
Labels: mlir:linalg, mlir, mlir:sve

#73034 [RISCV][GISel] Lower G_FCONSTANT to constant pool load without F or D.
  llvm/lib/Target/RISCV/GISel/RISCVInstructionSelector.cpp
  llvm/lib/Target/RISCV/GISel/RISCVLegalizerInfo.cpp
  llvm/test/CodeGen/RISCV/GlobalISel/constantpool.ll
Labels: backend:RISC-V, llvm:globalisel

#73985 [libc] Exclude Fuchsia from float128 detection
  libc/src/__support/macros/properties/float.h
  libc/src/__support/macros/properties/os.h
Labels: libc

#74118 [libc] Move the pointer to pin off the stack to the heap
  libc/utils/gpu/loader/amdgpu/Loader.cpp
Labels: backend:AMDGPU, libc

#74029 [OpenMP][NFC] Extract OffloadPolicy into a helper class
  openmp/libomptarget/include/OffloadPolicy.h
  openmp/libomptarget/include/PluginManager.h
  openmp/libomptarget/include/device.h
  openmp/libomptarget/src/omptarget.cpp
Labels: openmp, openmp:libomptarget

#74030 [OpenMP] Add an INFO message for data transfer of kernel launch env.
  openmp/libomptarget/plugins-nextgen/common/src/PluginInterface.cpp
Labels: openmp:libomptarget

#73977 [LLD][RISCV] Fix incorrect call relaxation when mixing +c and -c objects
  lld/ELF/Arch/RISCV.cpp
  lld/test/ELF/riscv-relax-call-mixed-rvc.s
Labels: lld, lld:ELF

#74005 [mlir][tensor] Fold padding_value away for pack ops when possible.
  mlir/lib/Dialect/Tensor/IR/TensorOps.cpp
  mlir/test/Dialect/Tensor/canonicalize.mlir
Labels: mlir, mlir:tensor

#72939 [RISCV][GISel] Support G_ABS with Zbb.
  llvm/lib/Target/RISCV/GISel/RISCVLegalizerInfo.cpp
  llvm/test/CodeGen/RISCV/GlobalISel/iabs.ll
  llvm/test/CodeGen/RISCV/GlobalISel/legalizer/legalize-abs-rv32.mir
  llvm/test/CodeGen/RISCV/GlobalISel/legalizer/legalize-abs-rv64.mir
Labels: backend:RISC-V, llvm:globalisel

#73071 [FIX] Fix undefined-behaviour in regex engine.
  llvm/lib/Support/Regex.cpp
  llvm/unittests/Support/RegexTest.cpp
Labels: llvm:support

#73331 [llvm][NFC] Autoupdater AMD intrinsic detection
  llvm/lib/IR/AutoUpgrade.cpp
Labels: llvm:ir

#73330 [nvptx] Fix autoupdater's intrinsic matcher
  llvm/lib/IR/AutoUpgrade.cpp
Labels: llvm:ir

#68754 [asan][win][msvc] override new and delete and seperate TUs
  compiler-rt/lib/asan/CMakeLists.txt
  compiler-rt/lib/asan/asan_interface.inc
  compiler-rt/lib/asan/asan_win_delete_array_align_nothrow_thunk.cpp
  compiler-rt/lib/asan/asan_win_delete_array_align_thunk.cpp
  compiler-rt/lib/asan/asan_win_delete_array_nothrow_thunk.cpp
  compiler-rt/lib/asan/asan_win_delete_array_size_align_thunk.cpp
  compiler-rt/lib/asan/asan_win_delete_array_size_thunk.cpp
  compiler-rt/lib/asan/asan_win_delete_array_thunk.cpp
  compiler-rt/lib/asan/asan_win_delete_scalar_align_nothrow_thunk.cpp
  compiler-rt/lib/asan/asan_win_delete_scalar_align_thunk.cpp
  compiler-rt/lib/asan/asan_win_delete_scalar_nothrow_thunk.cpp
  compiler-rt/lib/asan/asan_win_delete_scalar_size_align_thunk.cpp
  compiler-rt/lib/asan/asan_win_delete_scalar_size_thunk.cpp
  compiler-rt/lib/asan/asan_win_delete_scalar_thunk.cpp
  compiler-rt/lib/asan/asan_win_new_array_align_nothrow_thunk.cpp
  compiler-rt/lib/asan/asan_win_new_array_align_thunk.cpp
  compiler-rt/lib/asan/asan_win_new_array_nothrow_thunk.cpp
  compiler-rt/lib/asan/asan_win_new_array_thunk.cpp
  compiler-rt/lib/asan/asan_win_new_delete.cpp
  compiler-rt/lib/asan/asan_win_new_delete_thunk_common.h
  compiler-rt/lib/asan/asan_win_new_scalar_align_nothrow_thunk.cpp
  compiler-rt/lib/asan/asan_win_new_scalar_align_thunk.cpp
  compiler-rt/lib/asan/asan_win_new_scalar_nothrow_thunk.cpp
  compiler-rt/lib/asan/asan_win_new_scalar_thunk.cpp
  compiler-rt/test/asan/TestCases/Windows/double_operator_delete.cpp
  compiler-rt/test/asan/TestCases/Windows/new_delete_mfc_already_defined.cpp
  compiler-rt/test/asan/TestCases/Windows/new_delete_mfc_already_defined_dbg.cpp
  compiler-rt/test/asan/TestCases/Windows/operator_array_new_left_oob.cpp
  compiler-rt/test/asan/TestCases/Windows/operator_array_new_right_oob.cpp
  compiler-rt/test/asan/TestCases/Windows/operator_array_new_uaf.cpp
  compiler-rt/test/asan/TestCases/Windows/operator_array_new_with_dtor_left_oob.cpp
  compiler-rt/test/asan/TestCases/Windows/operator_delete_replacement_array.cpp
  compiler-rt/test/asan/TestCases/Windows/operator_delete_replacement_scalar.cpp
  compiler-rt/test/asan/TestCases/Windows/operator_delete_wrong_argument.cpp
  compiler-rt/test/asan/TestCases/Windows/operator_new_delete_replacement_all.cpp
  compiler-rt/test/asan/TestCases/Windows/operator_new_delete_replacement_common.h
  compiler-rt/test/asan/TestCases/Windows/operator_new_delete_replacement_macros.h
  compiler-rt/test/asan/TestCases/Windows/operator_new_left_oob.cpp
  compiler-rt/test/asan/TestCases/Windows/operator_new_replacement_array.cpp
  compiler-rt/test/asan/TestCases/Windows/operator_new_replacement_scalar.cpp
  compiler-rt/test/asan/TestCases/Windows/operator_new_right_oob.cpp
  compiler-rt/test/asan/TestCases/Windows/operator_new_uaf.cpp
  compiler-rt/test/asan/TestCases/Windows/wrong_downcast_on_heap.cpp
  compiler-rt/test/asan/TestCases/large_func_test.cpp
  compiler-rt/test/asan/TestCases/malloc_context_size.cpp
  compiler-rt/test/asan/TestCases/use-after-delete.cpp
Labels: compiler-rt:asan, platform:windows, compiler-rt:sanitizer

#71902 'Soft Stop' solution on offset overflow issue: By Produceing a truncated but valid DWP file, discarding any DWO files that would not fit within the 32 bit/4GB limits of the format.
  llvm/include/llvm/DWP/DWP.h
  llvm/lib/DWP/DWP.cpp
  llvm/tools/llvm-dwp/Opts.td
  llvm/tools/llvm-dwp/llvm-dwp.cpp
Labels: debuginfo, llvm:dwp

#72779 [mlir][tensor] Add a tensor.concat operation
  mlir/include/mlir/Dialect/Tensor/IR/TensorOps.td
  mlir/include/mlir/Dialect/Tensor/TransformOps/TensorTransformOps.td
  mlir/include/mlir/Dialect/Tensor/Transforms/Transforms.h
  mlir/include/mlir/Dialect/Utils/StaticValueUtils.h
  mlir/lib/Dialect/MemRef/IR/MemRefOps.cpp
  mlir/lib/Dialect/Tensor/IR/TensorOps.cpp
  mlir/lib/Dialect/Tensor/TransformOps/TensorTransformOps.cpp
  mlir/lib/Dialect/Tensor/Transforms/CMakeLists.txt
  mlir/lib/Dialect/Tensor/Transforms/ConcatOpPatterns.cpp
  mlir/test/Dialect/Tensor/canonicalize.mlir
  mlir/test/Dialect/Tensor/decompose-concat.mlir
  mlir/test/Dialect/Tensor/invalid.mlir
  mlir/test/Dialect/Tensor/ops.mlir
Labels: mlir, mlir:tensor, mlir:memref

#74136 [BOLT][NFC] Remove unused code for CDSplit
  bolt/lib/Passes/SplitFunctions.cpp
Labels: BOLT

#74130 [libc++] Correct libcxx default linker script behavior
  libcxx/CMakeLists.txt
Labels: libc++

#73995 [PowerPC] Fix the register class for the instruction paddi.
  llvm/lib/Target/PowerPC/PPCInstrP10.td
  llvm/test/MC/PowerPC/ppc64-encoding-full-names.s
Labels: mc

#74036 [lldb/test] Add OpenBSD to _get_platform_os
  lldb/packages/Python/lldbsuite/test/lldbplatformutil.py
Labels: lldb

#73478 [OpenMP] Re-enable KMP_HAVE_QUAD on NetBSD 10.0 with GCC 10.5
  openmp/runtime/src/kmp_os.h
Labels: openmp:libomp

#73855 [mlir][linalg] Fix weight dimension ordering in 2D grouped conv
  mlir/include/mlir/Dialect/Linalg/IR/LinalgNamedStructuredOps.yaml
  mlir/python/mlir/dialects/linalg/opdsl/ops/core_named_ops.py
  mlir/test/Dialect/Linalg/named-ops.mlir
Labels: mlir:linalg, mlir:python, mlir

#72782 [HIP] fix stack marking for -fgpu-rdc
  clang/lib/Driver/ToolChains/HIPUtility.cpp
  clang/test/Driver/hip-toolchain-rdc.hip
Labels: clang, clang:driver

#73140 [CUDA][HIP] allow trivial ctor/dtor in device var init
  clang/lib/Sema/SemaCUDA.cpp
  clang/test/SemaCUDA/trivial-ctor-dtor.cu
Labels: clang, clang:frontend

#74131 [RISCV] Remove null terminator from CSRegs in determineCalleeSaves. NFC
  llvm/lib/Target/RISCV/RISCVFrameLowering.cpp
Labels: backend:RISC-V

#74146 [mlir][sparse] fix crash when generate rotated convolution kernels.
  mlir/lib/Dialect/SparseTensor/Transforms/LoopEmitter.cpp
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_conv_2d.mlir
Labels: mlir:sparse, mlir

#74126 [OpenMP] Separate Requirements into a standalone header
  openmp/libomptarget/include/PluginManager.h
  openmp/libomptarget/include/Shared/Requirements.h
  openmp/libomptarget/include/omptarget.h
  openmp/libomptarget/plugins-nextgen/common/include/PluginInterface.h
  openmp/libomptarget/src/device.cpp
  openmp/libomptarget/src/interface.cpp
  openmp/libomptarget/src/rtl.cpp
  openmp/libomptarget/test/offloading/requires.c
Labels: openmp, openmp:libomptarget

#74132 [cmake] Fix relative paths in prefix map
  llvm/cmake/modules/HandleLLVMOptions.cmake
Labels: cmake

#74129 [OpenMP][NFC] Extract device image handling into a class/header
  openmp/libomptarget/include/DeviceImage.h
  openmp/libomptarget/include/PluginManager.h
  openmp/libomptarget/src/CMakeLists.txt
  openmp/libomptarget/src/DeviceImage.cpp
  openmp/libomptarget/src/omptarget.cpp
  openmp/libomptarget/src/rtl.cpp
Labels: openmp, openmp:libomptarget

#74157 [mlir][tensor] Fix ReifyResultShapes implementation for tensor.concat
  mlir/lib/Dialect/Tensor/IR/TensorOps.cpp
  mlir/test/Dialect/Tensor/decompose-concat.mlir
Labels: mlir, mlir:tensor

#73961 [mlir][transform] Remove `cachedNames` expensive check
  mlir/include/mlir/Dialect/Transform/IR/TransformInterfaces.h
  mlir/lib/Dialect/Transform/IR/TransformInterfaces.cpp
Labels: mlir

#74163 Revert HWASAN failure
  clang/test/Driver/aarch64-v95a.c
  llvm/include/llvm/TargetParser/AArch64TargetParser.h
  llvm/lib/Target/AArch64/AArch64.td
  llvm/lib/Target/AArch64/AArch64InstrFormats.td
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/lib/Target/AArch64/AArch64SVEInstrInfo.td
  llvm/lib/Target/AArch64/AArch64SchedA64FX.td
  llvm/lib/Target/AArch64/AArch64SchedNeoverseN2.td
  llvm/lib/Target/AArch64/AArch64SchedNeoverseV1.td
  llvm/lib/Target/AArch64/AArch64SchedNeoverseV2.td
  llvm/lib/Target/AArch64/AsmParser/AArch64AsmParser.cpp
  llvm/lib/Target/AArch64/SVEInstrFormats.td
  llvm/test/MC/AArch64/SVE/armv9.5a-cpa.s
  llvm/test/MC/AArch64/armv9.5a-cpa.s
  llvm/test/MC/AArch64/basic-a64-diagnostics.s
  llvm/test/MC/AArch64/basic-a64-instructions.s
  llvm/test/MC/Disassembler/AArch64/armv9.5a-cpa.txt
  llvm/test/MC/Disassembler/AArch64/basic-a64-instructions.txt
  llvm/unittests/TargetParser/TargetParserTest.cpp
Labels: clang, backend:AArch64, clang:driver, mc

#74007 [MLIR][SCF] Handle more cases in pipelining transform
  mlir/lib/Dialect/SCF/Transforms/LoopPipelining.cpp
  mlir/test/Dialect/SCF/loop-pipelining.mlir
Labels: mlir, mlir:scf

#66525 [AArch64] Stack probing for dynamic allocas in SelectionDAG
  llvm/lib/Target/AArch64/AArch64FrameLowering.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.h
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/test/CodeGen/AArch64/stack-probing-dynamic-no-frame-setup.ll
  llvm/test/CodeGen/AArch64/stack-probing-dynamic.ll
Labels: clang, backend:AArch64, clang:driver, clang:codegen

#74143 [mlir][tosa] Improve lowering of tosa.conv2d
  mlir/lib/Conversion/TosaToLinalg/TosaToLinalgNamed.cpp
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg-named.mlir
Labels: mlir:linalg, mlir

#74048 [X86][CodeGen] Prefer KMOVkk_EVEX than KMOVkk when EGPR is supported
  llvm/lib/Target/X86/X86DomainReassignment.cpp
  llvm/lib/Target/X86/X86InstrInfo.cpp
  llvm/test/CodeGen/X86/apx/kmov-kk.ll
Labels: backend:X86

#65860 AMDGPU: Support llvm.exp10
  llvm/lib/Target/AMDGPU/AMDGPUISelLowering.cpp
  llvm/lib/Target/AMDGPU/AMDGPUISelLowering.h
  llvm/lib/Target/AMDGPU/AMDGPULegalizerInfo.cpp
  llvm/test/CodeGen/AMDGPU/llvm.exp10.ll
Labels: backend:AMDGPU

#69590 [libc++][test] add more benchmarks for `stop_token`
  libcxx/benchmarks/stop_token.bench.cpp
Labels: libc++, test-suite

#73264 [clang] Avoid recalculating TBAA base type info
  clang/lib/CodeGen/CodeGenTBAA.cpp
Labels: clang, clang:codegen

#74142 [llvm] Adjust Autoupdater's llvm prefix detection
  llvm/lib/IR/AutoUpgrade.cpp
Labels: llvm:ir

#74195 [LLVM] fix typo
  llvm/lib/IR/ConstantsContext.h
Labels: llvm:ir

#74179 [clang][RISCVVEmitter] Remove no-op ptr-to-ptr bitcast (NFC)
  clang/utils/TableGen/RISCVVEmitter.cpp
Labels: clang, backend:RISC-V

#73413 [LoopPeel] Peel iterations based on and, or conditions
  llvm/lib/Transforms/Utils/LoopPeel.cpp
  llvm/test/Transforms/LoopUnroll/peel-loop-conditions.ll
Labels: llvm:transforms

#71354 [clang-format] Add space in Verilog tagged unions
  clang/lib/Format/TokenAnnotator.cpp
  clang/unittests/Format/FormatTestVerilog.cpp
Labels: clang-format

#73406 [BBUtils][NFC] Delete SplitLandingPadPredecessors with DT
  llvm/include/llvm/Transforms/Utils/BasicBlockUtils.h
  llvm/lib/Transforms/Scalar/LoopStrengthReduce.cpp
  llvm/lib/Transforms/Utils/BasicBlockUtils.cpp
Labels: llvm:ir, llvm:transforms

#74184 [libc++][test] Avoid truncation warnings from `double` to `float`
  libcxx/test/std/atomics/atomics.types.generic/atomics.types.float/assign.pass.cpp
  libcxx/test/std/atomics/atomics.types.generic/atomics.types.float/compare_exchange_strong.pass.cpp
  libcxx/test/std/atomics/atomics.types.generic/atomics.types.float/compare_exchange_weak.pass.cpp
  libcxx/test/std/atomics/atomics.types.generic/atomics.types.float/exchange.pass.cpp
  libcxx/test/std/atomics/atomics.types.generic/atomics.types.float/fetch_add.pass.cpp
  libcxx/test/std/atomics/atomics.types.generic/atomics.types.float/fetch_sub.pass.cpp
  libcxx/test/std/atomics/atomics.types.generic/atomics.types.float/load.pass.cpp
  libcxx/test/std/atomics/atomics.types.generic/atomics.types.float/notify_all.pass.cpp
  libcxx/test/std/atomics/atomics.types.generic/atomics.types.float/notify_one.pass.cpp
  libcxx/test/std/atomics/atomics.types.generic/atomics.types.float/operator.float.pass.cpp
  libcxx/test/std/atomics/atomics.types.generic/atomics.types.float/operator.minus_equals.pass.cpp
  libcxx/test/std/atomics/atomics.types.generic/atomics.types.float/operator.plus_equals.pass.cpp
  libcxx/test/std/atomics/atomics.types.generic/atomics.types.float/store.pass.cpp
  libcxx/test/std/atomics/atomics.types.generic/atomics.types.float/test_helper.h
  libcxx/test/std/atomics/atomics.types.generic/atomics.types.float/wait.pass.cpp
Labels: libc++

#74185 [libc++][test] Make the feature-test macro tests more portable
  libcxx/test/std/language.support/support.limits/support.limits.general/latch.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/new.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/semaphore.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/stop_token.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/thread.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/version.version.compile.pass.cpp
  libcxx/utils/generate_feature_test_macro_components.py
Labels: libc++

#73998 Work around GCC test failure that is caused by enabling optimizations.
  libcxx/test/std/containers/sequences/deque/deque.modifiers/insert_iter_iter.pass.cpp
  libcxx/test/std/numerics/rand/rand.dist/rand.dist.bern/rand.dist.bern.negbin/eval.pass.cpp
Labels: libc++

#74042 [OpenMP] return empty stmt for `nothing`
  clang/lib/Parse/ParseOpenMP.cpp
  clang/test/OpenMP/nothing_ast_print.cpp
  openmp/runtime/test/misc_bugs/omp_nothing.c
Labels: clang, clang:frontend, clang:openmp, openmp:libomp

#74225 [InstCombine] Fix missed opportunity to fold 'or' into 'mul' operand.
  llvm/lib/Transforms/InstCombine/InstCombineAndOrXor.cpp
  llvm/test/Transforms/InstCombine/or.ll
Labels: llvm:transforms

#74183 [libc++][test] Avoid non-Standard zero-length arrays
  libcxx/test/libcxx/gdb/gdb_pretty_printer_test.py
  libcxx/test/std/algorithms/alg.modifying.operations/alg.random.shuffle/random_shuffle.pass.cpp
  libcxx/test/std/algorithms/alg.modifying.operations/alg.transform/ranges.transform.binary.iterator.pass.cpp
  libcxx/test/std/algorithms/alg.modifying.operations/alg.transform/ranges.transform.binary.range.pass.cpp
  libcxx/test/std/algorithms/alg.modifying.operations/alg.transform/ranges.transform.unary.pass.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.ends_with/ranges.ends_with.pass.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.equal/ranges.equal.pass.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.find.end/ranges.find_end.pass.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.foreach/ranges.for_each.pass.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.foreach/ranges.for_each_n.pass.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.search/ranges.search.pass.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.search/ranges.search_n.pass.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.starts_with/ranges.starts_with.pass.cpp
  libcxx/test/std/algorithms/alg.sorting/alg.partitions/ranges.is_partitioned.pass.cpp
  libcxx/test/std/algorithms/alg.sorting/alg.sort/is.sorted/ranges.is_sorted.pass.cpp
  libcxx/test/std/algorithms/alg.sorting/alg.sort/is.sorted/ranges.is_sorted_until.pass.cpp
  libcxx/test/std/utilities/smartptr/unique.ptr/unique.ptr.class/unique.ptr.observers/op_subscript.runtime.pass.cpp
  libcxx/utils/libcxx/test/params.py
Labels: libc++

#74246 [InstCombine][InstSimplify] Pass `SimplifyQuery` to `computeKnownBits` directly. NFC.
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/lib/Transforms/InstCombine/InstCombineShifts.cpp
Labels: llvm:analysis, llvm:transforms

#74222 [InstCombine] Use disjoint flag instead of calling haveNoCommonBitsSet.
  llvm/lib/Transforms/InstCombine/InstCombineAndOrXor.cpp
  llvm/test/Transforms/InstCombine/or.ll
Labels: llvm:transforms

#74065 [flang] Record the original name of a function during ExternalNameCoversion
  flang/include/flang/Optimizer/Analysis/TBAAForest.h
  flang/include/flang/Optimizer/Dialect/FIROpsSupport.h
  flang/lib/Optimizer/Transforms/ExternalNameConversion.cpp
  flang/test/Fir/external-mangling.fir
Labels: flang, flang:fir-hlfir

#73845 Fix documentation on PGO/coverage related options.
  clang/docs/UsersManual.rst
Labels: clang, PGO, llvm:transforms

#73250 [flang] Add MSC_VER and target arch defines when targeting the MSVC ABI
  clang/lib/Driver/ToolChains/Flang.cpp
  flang/test/Driver/msvc-defines.f90
Labels: clang, clang:driver, flang:driver, flang

#73920 [clang][AMDGPU] precommit test for ballot on Windows
  clang/test/CodeGenHIP/ballot.cpp
Labels: clang

#73784 RegisterCoalescer: Fix producing malformed IMPLICIT_DEFs
  llvm/lib/CodeGen/RegisterCoalescer.cpp
  llvm/test/CodeGen/AArch64/coalescer-drop-subreg-to-reg-imm-ops.mir
Labels: backend:AArch64, llvm:regalloc

#74204 [mlir][memref] Fix an invalid dim loop motion crash
  mlir/lib/Dialect/MemRef/IR/MemRefOps.cpp
  mlir/lib/Dialect/Tensor/IR/TensorOps.cpp
  mlir/test/Transforms/loop-invariant-code-motion.mlir
Labels: mlir, mlir:tensor, mlir:memref

#74190 [lldb] Fix build on NetBSD
  lldb/source/Host/netbsd/HostNetBSD.cpp
Labels: lldb, platform:netbsd

#73148 [DomTree] Fix root attachment in runDFS()
  llvm/include/llvm/Support/GenericDomTreeConstruction.h
Labels: llvm:support

#73860 [clang][dataflow] Add synthetic fields to `RecordStorageLocation`
  clang/include/clang/Analysis/FlowSensitive/DataflowAnalysis.h
  clang/include/clang/Analysis/FlowSensitive/DataflowAnalysisContext.h
  clang/include/clang/Analysis/FlowSensitive/DataflowEnvironment.h
  clang/include/clang/Analysis/FlowSensitive/Models/UncheckedOptionalAccessModel.h
  clang/include/clang/Analysis/FlowSensitive/RecordOps.h
  clang/include/clang/Analysis/FlowSensitive/StorageLocation.h
  clang/lib/Analysis/FlowSensitive/DataflowAnalysisContext.cpp
  clang/lib/Analysis/FlowSensitive/DataflowEnvironment.cpp
  clang/lib/Analysis/FlowSensitive/HTMLLogger.cpp
  clang/lib/Analysis/FlowSensitive/Models/UncheckedOptionalAccessModel.cpp
  clang/lib/Analysis/FlowSensitive/RecordOps.cpp
  clang/lib/Analysis/FlowSensitive/Transfer.cpp
  clang/lib/Analysis/FlowSensitive/TypeErasedDataflowAnalysis.cpp
  clang/unittests/Analysis/FlowSensitive/DataflowEnvironmentTest.cpp
  clang/unittests/Analysis/FlowSensitive/RecordOpsTest.cpp
  clang/unittests/Analysis/FlowSensitive/TestingSupport.cpp
  clang/unittests/Analysis/FlowSensitive/TestingSupport.h
  clang/unittests/Analysis/FlowSensitive/UncheckedOptionalAccessModelTest.cpp
Labels: clang, clang:dataflow, clang:analysis

#73958 [AMDGPU] Set debug info on CFG annotation instructions.
  llvm/lib/Target/AMDGPU/SIAnnotateControlFlow.cpp
  llvm/test/CodeGen/AMDGPU/si-annotate-dbg-info.ll
Labels: backend:AMDGPU

#73978 [clang][dataflow] Retrieve members from accessors called using member…
  clang/lib/Analysis/FlowSensitive/DataflowEnvironment.cpp
  clang/unittests/Analysis/FlowSensitive/DataflowEnvironmentTest.cpp
Labels: clang, clang:dataflow, clang:analysis

#67123 [AArch64] Stack probing for dynamic allocas in GlobalISel
  llvm/include/llvm/CodeGen/GlobalISel/LegalizerHelper.h
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.cpp
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.h
  llvm/test/CodeGen/AArch64/GlobalISel/legalize-dyn-alloca.mir
  llvm/test/CodeGen/AArch64/GlobalISel/legalizer-info-validation.mir
  llvm/test/CodeGen/AArch64/stack-probing-dynamic.ll
Labels: clang, backend:AArch64, clang:driver, clang:codegen, llvm:globalisel

#74144 [llvm-exegesis] Disable core dumps in subprocess
  llvm/tools/llvm-exegesis/lib/BenchmarkRunner.cpp
Labels: tools:llvm-exegesis

#73522 [mlir][Vector] Update patterns for flattening vector.xfer Ops (1/N)
  mlir/include/mlir/Dialect/Vector/Utils/VectorUtils.h
  mlir/lib/Dialect/Vector/Transforms/VectorTransferOpTransforms.cpp
  mlir/lib/Dialect/Vector/Utils/VectorUtils.cpp
  mlir/test/Dialect/Vector/vector-transfer-flatten.mlir
Labels: mlir:vectorops, mlir, mlir:vector

#74199 [X86] Support CFE flags for APX features
  clang/include/clang/Driver/Options.td
  clang/lib/Basic/Targets/X86.cpp
  clang/lib/Basic/Targets/X86.h
  clang/lib/Driver/ToolChains/Arch/X86.cpp
  clang/test/Driver/x86-target-features.c
  clang/test/Preprocessor/x86_target_features.c
  llvm/docs/ReleaseNotes.rst
  llvm/include/llvm/TargetParser/X86TargetParser.def
  llvm/lib/Target/X86/X86.td
  llvm/lib/TargetParser/X86TargetParser.cpp
Labels: clang, backend:X86, clang:driver, clang:frontend

#73486 [Flang] Add semantic check for usage of COPYPRIVATE and NOWAIT clauses
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/check-omp-structure.h
  flang/test/Semantics/OpenMP/clause-validity01.f90
  flang/test/Semantics/OpenMP/copying.f90
  flang/test/Semantics/OpenMP/threadprivate04.f90
  llvm/include/llvm/Frontend/OpenMP/OMP.td
Labels: flang, flang:openmp, flang:semantics, clang:openmp

#74279 [clang][CGOpenMPRuntimeGPU] Merge consecutive AddrSpaceCasts (NFC)
  clang/lib/CodeGen/CGOpenMPRuntimeGPU.cpp
Labels: clang, clang:codegen, clang:openmp

#74062 [AMDGPU][MC] Add GFX12 VIMAGE and VSAMPLE encodings
  llvm/lib/Target/AMDGPU/AMDGPUSubtarget.cpp
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.cpp
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.h
  llvm/lib/Target/AMDGPU/GCNSubtarget.h
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.cpp
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.h
  llvm/lib/Target/AMDGPU/MIMGInstructions.td
  llvm/lib/Target/AMDGPU/SIDefines.h
  llvm/lib/Target/AMDGPU/SIInstrFormats.td
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.h
  llvm/test/MC/AMDGPU/gfx12_asm_vimage.s
  llvm/test/MC/AMDGPU/gfx12_asm_vimage_alias.s
  llvm/test/MC/AMDGPU/gfx12_asm_vsample.s
  llvm/test/MC/AMDGPU/gfx12_err.s
  llvm/test/MC/Disassembler/AMDGPU/decode-err.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vimage.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vsample.txt
Labels: backend:AMDGPU, mc

#72876 [InstCombine] Add one-use limitation to box multiply fold
  llvm/lib/Transforms/InstCombine/InstCombineAddSub.cpp
  llvm/test/Transforms/InstCombine/mul_fold.ll
  llvm/test/Transforms/InstCombine/mul_full_64.ll
Labels: llvm:transforms

#74233 [CodeGen] Port WinEHPrepare to new pass manager
  llvm/include/llvm/CodeGen/CodeGenPassBuilder.h
  llvm/include/llvm/CodeGen/MachinePassRegistry.def
  llvm/include/llvm/CodeGen/WinEHPrepare.h
  llvm/lib/CodeGen/WinEHPrepare.cpp
  llvm/lib/IR/EHPersonalities.cpp
  llvm/lib/Passes/PassBuilder.cpp
  llvm/lib/Passes/PassRegistry.def
  llvm/test/CodeGen/WinEH/wineh-asm.ll
  llvm/test/CodeGen/WinEH/wineh-cloning.ll
  llvm/test/CodeGen/WinEH/wineh-demotion.ll
  llvm/test/CodeGen/WinEH/wineh-no-demotion.ll
Labels: backend:WebAssembly, llvm:ir

#73790 [Flang][OpenACC][OpenMP] Always add extent to acc/omp.BoundsOp
  flang/lib/Lower/DirectivesCommon.h
  flang/test/Lower/OpenACC/acc-bounds.f90
  flang/test/Lower/OpenACC/acc-data-operands.f90
  flang/test/Lower/OpenACC/acc-enter-data.f90
  flang/test/Lower/OpenACC/acc-private.f90
  flang/test/Lower/OpenACC/acc-reduction.f90
  flang/test/Lower/OpenMP/FIR/array-bounds.f90
  flang/test/Lower/OpenMP/array-bounds.f90
Labels: flang, flang:fir-hlfir, flang:openmp, openacc

#74311 [clang][NFC] Refactor expected directives in C++ DRs 400-499
  clang/test/CXX/drs/dr4xx.cpp
Labels: clang, test-suite, c++

#74137 [flang] Fix move-assign operator for struct IncrementLoopInfo
  flang/lib/Lower/Bridge.cpp
Labels: flang, flang:fir-hlfir

#73367 [mlir] Add support for DIGlobalVariable and DIGlobalVariableExpression
  mlir/include/mlir/Dialect/LLVMIR/LLVMAttrDefs.td
  mlir/include/mlir/Dialect/LLVMIR/LLVMAttrs.h
  mlir/include/mlir/Dialect/LLVMIR/LLVMIntrinsicOps.td
  mlir/include/mlir/Dialect/LLVMIR/LLVMOps.td
  mlir/include/mlir/Target/LLVMIR/ModuleTranslation.h
  mlir/lib/Dialect/LLVMIR/IR/LLVMAttrs.cpp
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/lib/Target/LLVMIR/DebugImporter.cpp
  mlir/lib/Target/LLVMIR/DebugImporter.h
  mlir/lib/Target/LLVMIR/DebugTranslation.cpp
  mlir/lib/Target/LLVMIR/DebugTranslation.h
  mlir/lib/Target/LLVMIR/ModuleImport.cpp
  mlir/lib/Target/LLVMIR/ModuleTranslation.cpp
  mlir/test/Dialect/LLVMIR/debuginfo.mlir
  mlir/test/Dialect/LLVMIR/global.mlir
  mlir/test/Target/LLVMIR/Import/debug-info.ll
  mlir/test/Target/LLVMIR/Import/global-variables.ll
  mlir/test/Target/LLVMIR/llvmir-debug.mlir
Labels: mlir:llvm, mlir

#74250 [flang] (Re-)Enable alias tags pass by default
  clang/lib/Driver/ToolChains/Flang.cpp
  flang/include/flang/Tools/CLOptions.inc
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/test/Driver/falias-analysis.f90
  flang/test/Driver/mlir-pass-pipeline.f90
  flang/test/Driver/optimization-remark.f90
  flang/test/Fir/basic-program.fir
  flang/tools/tco/tco.cpp
Labels: clang, clang:driver, flang:driver, flang

#74075 [mlir][nvgpu] Add address space attribute converter in nvgpu-to-nvvm pass
  mlir/lib/Conversion/NVGPUToNVVM/NVGPUToNVVM.cpp
  mlir/lib/Dialect/NVGPU/TransformOps/NVGPUTransformOps.cpp
  mlir/test/Conversion/NVGPUToNVVM/nvgpu-to-nvvm.mlir
Labels: mlir:gpu, mlir, mlir:nvgpu

#74057 [mlir][nvvm] Introduce `nvvm.fence.proxy`
  mlir/include/mlir/Dialect/LLVMIR/NVVMOps.td
  mlir/lib/Dialect/LLVMIR/IR/NVVMDialect.cpp
  mlir/test/Conversion/NVVMToLLVM/invalid.mlir
  mlir/test/Conversion/NVVMToLLVM/nvvm-to-llvm.mlir
Labels: mlir:llvm, mlir

#69377 Fix #41439: Update the documentation with the correct information.
  clang-tools-extra/docs/clang-tidy/checks/readability/named-parameter.rst
Labels: clang-tidy

#70565 [Verifier] Check function attributes related to branch protection (NFC)
  clang/lib/Frontend/CompilerInvocation.cpp
  llvm/lib/IR/Verifier.cpp
  llvm/lib/Target/AArch64/AArch64MachineFunctionInfo.cpp
  llvm/lib/Target/ARM/ARMMachineFunctionInfo.cpp
  llvm/test/Verifier/branch-prot-attrs.ll
Labels: clang, backend:ARM, backend:AArch64, llvm:ir

#74141 [analyzer] Let the checkers query upper and lower bounds on symbols
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/ConstraintManager.h
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/SValBuilder.h
  clang/lib/StaticAnalyzer/Checkers/BitwiseShiftChecker.cpp
  clang/lib/StaticAnalyzer/Core/RangeConstraintManager.cpp
  clang/lib/StaticAnalyzer/Core/SimpleSValBuilder.cpp
  clang/test/Analysis/bitwise-shift-common.c
Labels: clang, clang:static analyzer

#74215 [clang-tidy] readability-container-contains literal suffixes
  clang-tools-extra/clang-tidy/readability/ContainerContainsCheck.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/test/clang-tidy/checkers/readability/container-contains.cpp
Labels: clang-tidy

#73574 [flang] Remove GCC 7.2 workarounds
  flang/lib/Evaluate/variable.cpp
  flang/lib/Semantics/symbol.cpp
Labels: flang, flang:semantics

#73915 [mlir][vector] Make `TransposeOpLowering` configurable
  mlir/include/mlir/Dialect/Vector/Transforms/VectorTransforms.h
  mlir/lib/Dialect/Vector/Transforms/LowerVectorTranspose.cpp
Labels: mlir:vectorops, mlir, mlir:vector

#73639 [mlir][ArmSME] Remove ArmSMETypeConverter (and configure LLVM one instead)
  mlir/include/mlir/Conversion/ArmSMEToLLVM/ArmSMEToLLVM.h
  mlir/include/mlir/Dialect/ArmSME/Transforms/Passes.h
  mlir/lib/Conversion/ArmSMEToLLVM/ArmSMEToLLVM.cpp
  mlir/lib/Dialect/ArmSME/Transforms/ArmSMETypeConverter.cpp
  mlir/lib/Dialect/ArmSME/Transforms/CMakeLists.txt
  mlir/unittests/Dialect/ArmSME/CMakeLists.txt
  mlir/unittests/Dialect/ArmSME/TileTypeConversionTest.cpp
  mlir/unittests/Dialect/CMakeLists.txt
Labels: mlir, mlir:sme

#73044 [SPIR-V] Add SPIRV-Tools for testing
  llvm/test/CMakeLists.txt
  llvm/test/CodeGen/SPIRV/OpVariable_order.ll
  llvm/test/CodeGen/SPIRV/basic_int_types.ll
  llvm/test/CodeGen/SPIRV/basic_int_types_spirvdis.ll
  llvm/test/CodeGen/SPIRV/lit.local.cfg
  llvm/test/lit.site.cfg.py.in
  llvm/tools/spirv-tools/CMakeLists.txt
Labels: backend:SPIR-V

#74138 [flang] IEEE_ARITHMETIC and IEEE_EXCEPTIONS intrinsic module procedures
  flang/include/flang/Lower/ConvertVariable.h
  flang/include/flang/Lower/PFTBuilder.h
  flang/include/flang/Optimizer/Builder/IntrinsicCall.h
  flang/include/flang/Optimizer/Builder/LowLevelIntrinsics.h
  flang/include/flang/Optimizer/Builder/Runtime/Exceptions.h
  flang/include/flang/Runtime/exceptions.h
  flang/include/flang/Runtime/ieee_arithmetic.h
  flang/include/flang/Runtime/magic-numbers.h
  flang/lib/Lower/Bridge.cpp
  flang/lib/Lower/ConvertVariable.cpp
  flang/lib/Lower/PFTBuilder.cpp
  flang/lib/Optimizer/Builder/CMakeLists.txt
  flang/lib/Optimizer/Builder/IntrinsicCall.cpp
  flang/lib/Optimizer/Builder/LowLevelIntrinsics.cpp
  flang/lib/Optimizer/Builder/Runtime/Exceptions.cpp
  flang/module/__cuda_builtins.f90
  flang/module/__fortran_builtins.f90
  flang/module/__fortran_ieee_exceptions.f90
  flang/module/__fortran_type_info.f90
  flang/module/ieee_arithmetic.f90
  flang/module/ieee_exceptions.f90
  flang/module/iso_c_binding.f90
  flang/module/iso_fortran_env.f90
  flang/runtime/CMakeLists.txt
  flang/runtime/exceptions.cpp
  flang/test/Lower/Intrinsics/ieee_compare.f90
  flang/test/Lower/Intrinsics/ieee_femodes.f90
  flang/test/Lower/Intrinsics/ieee_festatus.f90
  flang/test/Lower/Intrinsics/ieee_flag.f90
  flang/test/Lower/Intrinsics/ieee_logb.f90
  flang/test/Lower/Intrinsics/ieee_max_min.f90
  flang/test/Lower/Intrinsics/ieee_unordered.f90
Labels: flang:runtime, flang, flang:fir-hlfir

#74241 [MLIR][NVVM]: Add cp.async.mbarrier.arrive Op
  mlir/include/mlir/Dialect/LLVMIR/NVVMOps.td
  mlir/test/Conversion/NVVMToLLVM/nvvm-to-llvm.mlir
  mlir/test/Target/LLVMIR/nvvmir.mlir
Labels: mlir:llvm, mlir

#73194 [sanitizer_symbolizer] RenderContextual elements for symbolizer markup.
  compiler-rt/lib/sanitizer_common/sanitizer_symbolizer.h
  compiler-rt/lib/sanitizer_common/sanitizer_symbolizer_libcdep.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_symbolizer_markup.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_symbolizer_markup.h
  compiler-rt/lib/sanitizer_common/sanitizer_symbolizer_markup_constants.h
  compiler-rt/lib/sanitizer_common/sanitizer_symbolizer_markup_fuchsia.cpp
  compiler-rt/test/sanitizer_common/TestCases/print-stack-trace-markup.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#74041 [libc][NFC] unify startup library's code style with the rest
  libc/config/linux/app.h
  libc/src/stdlib/getenv.cpp
  libc/startup/linux/aarch64/start.cpp
  libc/startup/linux/riscv/start.cpp
  libc/startup/linux/x86_64/start.cpp
Labels: libc

#74349 Use Address for CGBuilder's CreateAtomicRMW and CreateAtomicCmpXchg.
  clang/lib/CodeGen/CGAtomic.cpp
  clang/lib/CodeGen/CGBuilder.h
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/CodeGen/CGExprScalar.cpp
  clang/lib/CodeGen/CGStmtOpenMP.cpp
  clang/test/CodeGen/atomic-ops.c
  clang/test/CodeGen/ms-intrinsics-underaligned.c
  clang/test/CodeGen/ms-intrinsics.c
  clang/test/OpenMP/parallel_reduction_codegen.cpp
Labels: clang, clang:codegen, clang:openmp

#73970 [RISCV] Rework IDiv and FDiv pipes on SiFive7
  llvm/lib/Target/RISCV/RISCVSchedSiFive7.td
  llvm/test/tools/llvm-mca/RISCV/SiFive7/div-fdiv.s
Labels: backend:RISC-V

#74170 [NFC][ASAN] Move ENSURE_ASAN_INITED into AsanInitFromRtl
  compiler-rt/lib/asan/asan_interceptors.h
  compiler-rt/lib/asan/asan_rtl.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#74259 [libc] Add the missing math_extras.h include
  libc/src/__support/CMakeLists.txt
  libc/src/__support/integer_utils.h
Labels: libc

#73966 [libc] build with -Werror
  libc/cmake/modules/LLVMLibCObjectRules.cmake
  libc/docs/dev/code_style.rst
Labels: libc

#74171 [NFC][ASAN] Replace AsanInitIsRunning with TryAsanInitFromRtl
  compiler-rt/lib/asan/asan_interceptors.cpp
  compiler-rt/lib/asan/asan_internal.h
  compiler-rt/lib/asan/asan_malloc_linux.cpp
  compiler-rt/lib/asan/asan_rtl.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#74249 [SelectionDAG] Use getVectorElementPointer in DAGCombiner::replaceStoreOfInsertLoad.
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/test/CodeGen/Mips/msa/basic_operations.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-insert.ll
  llvm/test/CodeGen/X86/pr59980.ll
Labels: backend:X86, llvm:SelectionDAG

#70996 DEBUGINFOD based DWP acquisition for LLDB
  lldb/include/lldb/Core/PluginManager.h
  lldb/source/Core/CoreProperties.td
  lldb/source/Core/PluginManager.cpp
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.cpp
  lldb/source/Plugins/SymbolLocator/CMakeLists.txt
  lldb/source/Plugins/SymbolLocator/Debuginfod/CMakeLists.txt
  lldb/source/Plugins/SymbolLocator/Debuginfod/SymbolLocatorDebuginfod.cpp
  lldb/source/Plugins/SymbolLocator/Debuginfod/SymbolLocatorDebuginfod.h
  lldb/source/Plugins/SymbolLocator/Debuginfod/SymbolLocatorDebuginfodProperties.td
  llvm/docs/ReleaseNotes.rst
  llvm/include/llvm/Debuginfod/Debuginfod.h
  llvm/lib/Debuginfod/Debuginfod.cpp
Labels: lldb, debuginfo

#73866 Update preserve_most to treat XMM registers like C
  llvm/docs/LangRef.rst
  llvm/lib/Target/X86/X86CallingConv.td
  llvm/lib/Target/X86/X86RegisterInfo.cpp
  llvm/test/CodeGen/X86/preserve_mostcc64_win.ll
Labels: backend:X86, llvm:ir

#74198 [lldb] Additional pieces towards OpenBSD support
  lldb/source/Core/FormatEntity.cpp
  lldb/source/Host/common/SocketAddress.cpp
  lldb/source/Host/posix/DomainSocket.cpp
  lldb/source/Initialization/SystemInitializerCommon.cpp
  lldb/source/Plugins/DynamicLoader/POSIX-DYLD/DYLDRendezvous.cpp
  lldb/source/Plugins/DynamicLoader/POSIX-DYLD/DynamicLoaderPOSIXDYLD.cpp
  lldb/test/API/api/multithreaded/common.h
  lldb/test/API/tools/lldb-server/thread-name/main.cpp
Labels: lldb, platform:openbsd

#74352 [libc++][NFC] Add a few clang-format annotations
  libcxx/include/__availability
  libcxx/include/__format/escaped_output_table.h
  libcxx/include/__format/extended_grapheme_cluster_table.h
  libcxx/include/__iterator/iter_swap.h
  libcxx/include/__string/extern_template_lists.h
  libcxx/include/__utility/integer_sequence.h
  libcxx/include/bitset
  libcxx/include/chrono
  libcxx/include/memory
  libcxx/include/span
  libcxx/include/sstream
  libcxx/include/string
  libcxx/include/string_view
  libcxx/include/tuple
  libcxx/include/unordered_set
  libcxx/include/vector
  libcxx/src/locale.cpp
  libcxx/utils/generate_escaped_output_table.py
  libcxx/utils/generate_extended_grapheme_cluster_table.py
Labels: libc++

#73712 [libc++] Add a merge driver that can apply clang-format
  libcxx/utils/clang-format-merge-driver.sh
Labels: libc++

#74355 [libc] Revert #73704 and subsequent fixes #73984, #74026
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/spec/linux.td
  libc/spec/spec.td
  libc/src/sys/mman/CMakeLists.txt
  libc/src/sys/mman/linux/CMakeLists.txt
  libc/src/sys/mman/linux/mincore.cpp
  libc/src/sys/mman/mincore.h
  libc/test/src/sys/mman/linux/CMakeLists.txt
  libc/test/src/sys/mman/linux/mincore_test.cpp
Labels: libc
