Repository llvm/llvm-project, pull requests merged in 2023-10, with the labels that each got.

#67478 [NVPTX] Fix code generation for `trap-unreachable`.
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/Target/NVPTX/NVPTX.h
  llvm/lib/Target/NVPTX/NVPTXInstrInfo.td
  llvm/lib/Target/NVPTX/NVPTXLowerUnreachable.cpp
  llvm/lib/Target/NVPTX/NVPTXTargetMachine.cpp
  llvm/test/CodeGen/NVPTX/unreachable.ll
Labels: llvm:SelectionDAG

#67889 [RISCV][MC] Fix all remaining fcvt instructions that didn't accept rounding mode but should have
  llvm/lib/Target/RISCV/RISCVInstrInfoD.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZfh.td
  llvm/test/MC/RISCV/fp-default-rounding-mode.s
  llvm/test/MC/RISCV/fp-inx-default-rounding-mode.s
  llvm/test/MC/RISCV/rv32d-valid.s
  llvm/test/MC/RISCV/rv32zdinx-valid.s
  llvm/test/MC/RISCV/rv32zfhmin-valid.s
  llvm/test/MC/RISCV/rv32zhinxmin-valid.s
  llvm/test/MC/RISCV/rv64zhinxmin-valid.s
Labels: backend:RISC-V, mc

#65656 cmake: do not force building with the install name dir
  llvm/CMakeLists.txt
  llvm/docs/CMake.rst
Labels: cmake

#67890 [DAG] Extend the computeOverflowForSignedSub/computeOverflowForUnsignedSub implementations with ConstantRange
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/X86/combine-subo.ll
  llvm/test/CodeGen/X86/or-with-overflow.ll
Labels: backend:X86, llvm:SelectionDAG

#67912 [mlir][bufferization] Improve verifier for `bufferization.dealloc`
  mlir/lib/Dialect/Bufferization/IR/BufferizationOps.cpp
  mlir/test/Dialect/Bufferization/invalid.mlir
Labels: mlir, mlir:bufferization

#67904 [GSYM] Fix the initialization of DataExtractor
  llvm/lib/DebugInfo/GSYM/GsymReader.cpp
Labels: debuginfo

#67891 [clang] [MinGW] Tolerate mingw specific linker options during compilation
  clang/lib/Driver/ToolChains/MinGW.cpp
  clang/test/Driver/mingw-linker-options.c
Labels: clang, clang:driver, platform:windows

#67821 [RISCV] Form vredsum from explode_vector + scalar (left) reduce
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-int-explodevector.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-reduction-formation.ll
Labels: backend:RISC-V

#65293 [mlir][affine] Check the input vector sizes to be greater than 0
  mlir/include/mlir/Dialect/Affine/Passes.td
  mlir/lib/Dialect/Affine/Transforms/SuperVectorize.cpp
  mlir/test/Dialect/Affine/SuperVectorize/invalid-zero-size.mlir
Labels: mlir:affine, mlir

#67911 [clang-format] Fix a bug in RemoveParentheses: ReturnStatement
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/lib/Format/UnwrappedLineParser.h
  clang/unittests/Format/FormatTest.cpp
Labels: clang-format

#67780 [clang-format] Fix a bug in mis-annotating arrows
  clang/lib/Format/TokenAnnotator.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#67777 [flang] Zero initialize uninitialized components in saved default init
  flang/docs/Extensions.md
  flang/lib/Lower/ConvertVariable.cpp
  flang/test/Lower/array.f90
  flang/test/Lower/common-block-2.f90
  flang/test/Lower/common-block.f90
  flang/test/Lower/default-initialization-globals.f90
  flang/test/Lower/equivalence-static-init.f90
  flang/test/Lower/pointer-default-init.f90
  flang/test/Lower/pointer-initial-target-2.f90
Labels: flang, flang:fir-hlfir

#67822 [clang] Add missing canonicalization in int literal profile
  clang/lib/AST/StmtProfile.cpp
Labels: clang, clang:frontend, clang:modules

#67923 [mlir][bufferization] Better analysis around allocs and block arguments
  mlir/lib/Dialect/Bufferization/Transforms/BufferDeallocationSimplification.cpp
  mlir/test/Dialect/Bufferization/Transforms/OwnershipBasedBufferDeallocation/dealloc-region-branchop-interface.mlir
  mlir/test/Dialect/Bufferization/Transforms/buffer-deallocation-simplification.mlir
Labels: mlir, mlir:bufferization

#65957 [Analysis][SVE] Improve cost model for some extending masked loads
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/AArch64/masked_ldst.ll
  llvm/test/Analysis/CostModel/AArch64/sve-ext.ll
  llvm/test/Analysis/CostModel/AArch64/sve-ldst.ll
Labels: backend:AArch64, llvm:analysis

#67941 [LIT] NFC. Add missing punctuation on a LIT driver message
  llvm/utils/lit/lit/main.py
Labels: llvm-lit, testing-tools

#67935 [compiler-rt] Reinstate removal of CRT choice flags from CMAKE_*_FLAGS*
  compiler-rt/CMakeLists.txt
Labels: cmake, compiler-rt, platform:windows

#67856 [LLD] [COFF] Clarify -print-search-path for the empty string element
  lld/COFF/Driver.cpp
  lld/test/COFF/print-search-paths.s
Labels: lld, lld:COFF, platform:windows

#67857 [LLD] [COFF] Restore the current dir as the first entry in the search path
  lld/COFF/Driver.cpp
  lld/test/COFF/print-search-paths.s
Labels: lld, lld:COFF, platform:windows

#67676 [flang]Add vscale argument parsing
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Flang.cpp
  clang/lib/Driver/ToolChains/Flang.h
  flang/include/flang/Frontend/LangOptions.def
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/test/Driver/aarch64-sve-vector-bits.f90
  flang/test/Driver/driver-help-hidden.f90
  flang/test/Driver/driver-help.f90
Labels: clang, clang:driver, flang:driver, flang

#67927 [mlir][bufferization] Remove `resolveUsesInRepetitiveRegions`
  mlir/lib/Dialect/Bufferization/Transforms/TensorCopyInsertion.cpp
  mlir/test/Dialect/Linalg/one-shot-bufferize.mlir
  mlir/test/Dialect/SCF/one-shot-bufferize.mlir
Labels: mlir:linalg, mlir, mlir:bufferization, mlir:scf

#67978 [mlir] run buffer deallocation in transform tutorial
  mlir/docs/Tutorials/transform/ChH.md
  mlir/test/Examples/transform/ChH/full.mlir
Labels: mlir

#67187 [FastISel][DebugInfo] Handle dbg.value targeting allocas
  llvm/lib/CodeGen/SelectionDAG/FastISel.cpp
  llvm/test/CodeGen/X86/fast-isel-dbg-value-alloca.ll
  llvm/test/DebugInfo/COFF/lines-bb-start.ll
Labels: backend:X86, debuginfo, llvm:SelectionDAG

#67965 [clang] Add test for CWG1341
  clang/test/CXX/drs/dr13xx.cpp
  clang/www/cxx_dr_status.html
Labels: test-suite, c++20, clang:frontend

#67969 [clang] Add check for duplicates to make_cxx_dr_status script
  clang/test/CXX/drs/dr12xx.cpp
  clang/www/cxx_dr_status.html
  clang/www/make_cxx_dr_status
Labels: test-suite, clang:frontend

#67845 [mlir][sparse] Update Enum name for CompressedWithHigh
  mlir/include/mlir-c/Dialect/SparseTensor.h
  mlir/include/mlir/Dialect/SparseTensor/IR/Enums.h
  mlir/include/mlir/Dialect/SparseTensor/IR/SparseTensor.h
  mlir/include/mlir/Dialect/SparseTensor/IR/SparseTensorAttrDefs.td
  mlir/lib/Bindings/Python/DialectSparseTensor.cpp
  mlir/lib/Dialect/SparseTensor/IR/Detail/LvlTypeParser.cpp
  mlir/lib/Dialect/SparseTensor/IR/SparseTensorDialect.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/LoopEmitter.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorCodegen.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/Sparsification.cpp
  mlir/lib/Dialect/SparseTensor/Utils/Merger.cpp
  mlir/test/Dialect/SparseTensor/roundtrip_encoding.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_pack_libgen.mlir
Labels: mlir:sparse, mlir

#67859 [mlir][sparse] Fix typos
  mlir/lib/Dialect/SparseTensor/Transforms/LoopEmitter.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/Sparsification.cpp
  mlir/lib/Dialect/SparseTensor/Utils/Merger.cpp
Labels: mlir:sparse, mlir

#67373 [Clang] Fix crash when ill-formed code is treated as a deduction guide
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaTemplateInstantiate.cpp
  clang/test/SemaCXX/gh65522.cpp
Labels: clang, clang:frontend

#67973 [flang] Fix character function call bug
  flang/lib/Lower/ConvertVariable.cpp
  flang/lib/Optimizer/Builder/Character.cpp
  flang/test/Lower/HLFIR/bindc-entry-stmt.f90
  flang/test/Lower/HLFIR/calls-assumed-shape.f90
  flang/test/Lower/HLFIR/char_extremum.f03
  flang/test/Lower/HLFIR/convert-variable.f90
  flang/test/Lower/HLFIR/function-return.f90
  flang/test/Lower/HLFIR/structure-constructor.f90
  flang/test/Lower/Intrinsics/merge.f90
  flang/test/Lower/OpenMP/FIR/copyin.f90
  flang/test/Lower/OpenMP/FIR/private-commonblock.f90
  flang/test/Lower/allocatable-assignment.f90
  flang/test/Lower/allocatable-callee.f90
  flang/test/Lower/allocatables.f90
  flang/test/Lower/array-elemental-calls-char-byval.f90
  flang/test/Lower/array-elemental-calls-char.f90
  flang/test/Lower/array-expression.f90
  flang/test/Lower/call-by-value-attr.f90
  flang/test/Lower/call-by-value.f90
  flang/test/Lower/call-implicit.f90
  flang/test/Lower/call-parenthesized-arg.f90
  flang/test/Lower/derived-allocatable-components.f90
  flang/test/Lower/derived-pointer-components.f90
  flang/test/Lower/derived-types.f90
  flang/test/Lower/dummy-argument-optional-2.f90
  flang/test/Lower/dummy-argument-optional.f90
  flang/test/Lower/entry-statement.f90
  flang/test/Lower/host-associated.f90
  flang/test/Lower/implicit-call-mismatch.f90
  flang/test/Lower/pointer-args-caller.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#67954 [clang][Interp] Implement IntegralAP::comp
  clang/lib/AST/Interp/IntegralAP.h
  clang/test/AST/Interp/literals.cpp
Labels: clang, clang:frontend

#67957 [workflow] Fix abi checker in llvm-tests. Same fix as in 99fb0af80d16b0ff886f032441392219e1cac452
  .github/workflows/llvm-tests.yml
Labels: github:workflow

#67981 [Clang] Fix HIP wrapper inclusion of 'algorithm' when using libc++
  clang/lib/Headers/__clang_hip_math.h
Labels: clang, backend:X86, clang:headers

#67865 [AArch64][Win] Work around an MSVC arm64 compiler bug
  llvm/lib/Target/AArch64/MCTargetDesc/AArch64AddressingModes.h
Labels: backend:AArch64

#66816 -fsanitize=function: fix MSVC hashing to sugared type
  clang/include/clang/AST/Mangle.h
  clang/lib/AST/Expr.cpp
  clang/lib/AST/ItaniumMangle.cpp
  clang/lib/AST/MicrosoftMangle.cpp
  clang/lib/CodeGen/CGBlocks.cpp
  clang/lib/CodeGen/CGOpenMPRuntime.cpp
  clang/lib/CodeGen/CGVTables.cpp
  clang/lib/CodeGen/CodeGenFunction.cpp
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/CodeGen/CodeGenTBAA.cpp
  clang/test/CodeGen/ubsan-function-sugared.cpp
  clang/unittests/AST/DeclTest.cpp
Labels: clang, clang:frontend, clang:codegen

#67841 [lldb] Replace lldb's DWARFDebugAbbrev implementation with llvm's
  lldb/source/Plugins/SymbolFile/DWARF/CMakeLists.txt
  lldb/source/Plugins/SymbolFile/DWARF/DWARFCompileUnit.h
  lldb/source/Plugins/SymbolFile/DWARF/DWARFDebugAbbrev.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DWARFDebugAbbrev.h
  lldb/source/Plugins/SymbolFile/DWARF/DWARFDebugInfoEntry.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DWARFDebugInfoEntry.h
  lldb/source/Plugins/SymbolFile/DWARF/DWARFTypeUnit.h
  lldb/source/Plugins/SymbolFile/DWARF/DWARFUnit.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DWARFUnit.h
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.cpp
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.h
Labels: lldb

#67996 [clang] Bump latest release to 17 for C++ DR Status page
  clang/www/cxx_dr_status.html
  clang/www/make_cxx_dr_status
Labels: documentation, clang

#67378 [Sema] Use underlying type of scoped enum for -Wformat diagnostics
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaChecking.cpp
  clang/test/FixIt/format-darwin-enum-class.cpp
  clang/test/FixIt/format.cpp
Labels: clang, clang:frontend

#68001 Mark an ObjCIvarDecl as invalid if its type contains errors
  clang/lib/Sema/SemaDecl.cpp
  clang/test/SemaObjCXX/ivar-struct.mm
Labels: clang, clang:frontend

#66931 [RISCV] Generalize the (ADD (SLLI X, 32), X) special case in constant…
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVMatInt.cpp
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVMatInt.h
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/imm.ll
  llvm/test/CodeGen/RISCV/rv64zbb-intrinsic.ll
Labels: backend:RISC-V

#68026 [RISCV] Fix incorrect codegen for Zfa with negated forms of constants in the lookup table
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVBaseInfo.cpp
  llvm/test/CodeGen/RISCV/double-zfa.ll
  llvm/test/CodeGen/RISCV/float-zfa.ll
  llvm/test/CodeGen/RISCV/half-zfa-fli.ll
Labels: backend:RISC-V

#67922 [mlir][CAPI, python bindings] Expose `Operation::setSuccessor`
  mlir/include/mlir-c/IR.h
  mlir/lib/Bindings/Python/IRCore.cpp
  mlir/lib/CAPI/IR/IR.cpp
  mlir/test/python/dialects/cf.py
Labels: mlir

#67770 [libunwind] Add Unwind-wasm.c to CMakeLists.txt
  libunwind/src/CMakeLists.txt
  libunwind/src/Unwind-wasm.c
Labels: libunwind

#66964 [lld][COFF][LTO] Implement /lldemit:llvm option
  lld/COFF/Config.h
  lld/COFF/Driver.cpp
  lld/COFF/LTO.cpp
  lld/COFF/Options.td
  lld/test/COFF/lto-emit-llvm.ll
Labels: lld, lld:MachO, lld:ELF, lld:COFF, lld:wasm, platform:windows

#67894 [AArch64] Disable loop alignment for Windows targets
  llvm/lib/MC/MCWin64EH.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sched-loop-align.ll
Labels: backend:AArch64, mc, platform:windows

#67196 [clang] Predefined macros for float128 support
  clang/lib/Frontend/InitPreprocessor.cpp
  clang/test/Preprocessor/init-x86.c
  clang/test/Preprocessor/init.c
Labels: clang

#67956 [libc++] Fix a segfault in weak_ptr(const weak_ptr<Y>&)
  libcxx/include/__memory/shared_ptr.h
  libcxx/test/std/utilities/memory/util.smartptr/util.smartptr.weak/util.smartptr.weak.const/pr40459.pass.cpp
Labels: libc++

#67816 [mlir][tosa] Align `shift` attribute of `TOSA_MulOp` with the spec
  mlir/include/mlir/Dialect/Tosa/IR/TosaOps.td
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg.mlir
  mlir/test/Dialect/Tosa/broadcast.mlir
  mlir/test/Dialect/Tosa/canonicalize.mlir
  mlir/test/Dialect/Tosa/constant-op-fold.mlir
  mlir/test/Dialect/Tosa/ops.mlir
  mlir/test/Dialect/Tosa/tosa-decompose-depthwise.mlir
  mlir/test/Dialect/Tosa/tosa-infer-shapes.mlir
Labels: mlir:linalg, mlir, mlir:tosa

#67588 [scudo] Mark page status in getStats in secondary
  compiler-rt/lib/scudo/standalone/secondary.h
Labels: compiler-rt, compiler-rt:scudo, compiler-rt:sanitizer

#67066 [NFC][Clang][CodeGen] Improve performance for vtable metadata generation
  clang/lib/CodeGen/CGVTables.cpp
Labels: clang, clang:frontend, clang:codegen

#67847 [libc][NFC] Couple of small warning fixes
  libc/src/__support/float_to_string.h
  libc/src/__support/wctype_utils.h
  libc/test/UnitTest/LibcTest.cpp
  libc/test/src/__support/CPP/bitset_test.cpp
  libc/test/src/__support/CPP/type_traits_test.cpp
  libc/test/src/math/smoke/FrexpTest.h
  libc/utils/MPFRWrapper/MPFRUtils.cpp
Labels: libc

#67837 [libc][NFC] Fix missing field 'tm_isdst' initializer warning
  libc/test/src/time/TmHelper.h
  libc/test/src/time/mktime_test.cpp
Labels: libc

#68049 [mlir][sparse] unify lib/codegen rewriting rules for sparse tensor re…
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorConversion.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorRewriting.cpp
  mlir/test/Dialect/SparseTensor/post_rewriting.mlir
  mlir/test/Dialect/SparseTensor/sparse_reshape.mlir
Labels: mlir:sparse, mlir

#68012 Implement data formatters for LibStdC++ std::variant
  lldb/examples/synthetic/gnu_libstdcpp.py
  lldb/source/Plugins/Language/CPlusPlus/CPlusPlusLanguage.cpp
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libstdcpp/variant/Makefile
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libstdcpp/variant/TestDataFormatterLibStdcxxVariant.py
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libstdcpp/variant/main.cpp
Labels: lldb

#67827 [flang][openacc] Keep constant bounds in reduction recipe when it is all constants
  flang/lib/Lower/OpenACC.cpp
  flang/test/Lower/OpenACC/acc-reduction.f90
Labels: flang, flang:fir-hlfir, openacc

#67505 [Object] Remove restriction universal archives having both IR and native
  llvm/lib/Object/MachOUniversalWriter.cpp
  llvm/test/tools/llvm-lipo/create-archive-input.test
Labels: llvm:binary-utilities

#67251 [mlir] Add an Observer for profiling actions to a stream.
  mlir/include/mlir/Debug/CLOptionsSetup.h
  mlir/include/mlir/Debug/Observers/ActionProfiler.h
  mlir/lib/Debug/CLOptionsSetup.cpp
  mlir/lib/Debug/Observers/ActionProfiler.cpp
  mlir/lib/Debug/Observers/CMakeLists.txt
  mlir/test/Pass/action-profiler.mlir
Labels: mlir:core, mlir

#67961 [clang][Interp] Fix value truncation when casting int128 to smaller size
  clang/lib/AST/Interp/IntegralAP.h
  clang/test/AST/Interp/literals.cpp
Labels: clang, clang:frontend

#67131 [clang][Interp] Diagnose uninitialized bases
  clang/lib/AST/Interp/ByteCodeExprGen.cpp
  clang/lib/AST/Interp/ByteCodeStmtGen.cpp
  clang/lib/AST/Interp/Interp.cpp
  clang/lib/AST/Interp/Interp.h
  clang/lib/AST/Interp/Opcodes.td
  clang/test/AST/Interp/constexpr-subobj-initialization.cpp
Labels: clang, clang:frontend

#67545 [WebAssembly] Add path to PIC mode for wasm tables
  llvm/lib/Target/WebAssembly/Utils/WebAssemblyTypeUtilities.cpp
  llvm/lib/Target/WebAssembly/Utils/WebAssemblyTypeUtilities.h
  llvm/lib/Target/WebAssembly/WebAssemblyISelLowering.cpp
  llvm/test/MC/WebAssembly/reloc-pic.s
Labels: backend:WebAssembly, mc

#66778 [llvm][CMake] Expand error message shown when -fuse-ld= test fails
  llvm/cmake/modules/HandleLLVMOptions.cmake
Labels: cmake

#67993 [mlir][nvgpu] Use ImplicitLocOpBuilder in nvgpu-to-nvvm pass (NFC)
  mlir/lib/Conversion/NVGPUToNVVM/NVGPUToNVVM.cpp
Labels: mlir:gpu, mlir

#67328 [Flang][OpenMP] Move array bounds tests to HLFIR lowering
  flang/test/Lower/OpenMP/array-bounds.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#65966 [ELF] Handle relocations in synthetic .eh_frame with a non-zero offset within the output section
  lld/ELF/Arch/AArch64.cpp
  lld/ELF/Arch/PPC64.cpp
  lld/ELF/Arch/X86_64.cpp
  lld/ELF/SyntheticSections.cpp
  lld/ELF/Target.cpp
  lld/test/ELF/eh-frame-nonzero-offset-aarch64.s
  lld/test/ELF/eh-frame-nonzero-offset-arm.s
  lld/test/ELF/eh-frame-nonzero-offset-ppc.s
  lld/test/ELF/eh-frame-nonzero-offset-x86.s
Labels: lld, lld:ELF

#67980 [mlir] reword error message on unloaded dialect
  mlir/include/mlir/IR/Builders.h
Labels: mlir:core, mlir

#65257 [clang-repl] Emit const variables only once
  clang/lib/AST/ASTContext.cpp
  clang/test/Interpreter/const.cpp
Labels: clang:frontend

#67593 [RISCV] Move vector pseudo hasAllNBitUsers switch into RISCVInstrInfo. NFC
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfo.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfo.h
  llvm/lib/Target/RISCV/RISCVOptWInstrs.cpp
Labels: backend:RISC-V

#68032 [ConstraintElim] Support arbitrary incoming values for inductions
  llvm/lib/Transforms/Scalar/ConstraintElimination.cpp
  llvm/test/Transforms/ConstraintElimination/monotonic-int-phis-nested-loops.ll
Labels: llvm:transforms

#68093 [libc][bazel] Add a flag to configure LIBC_NAMESPACE
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: libc

#67027 [RISCV][SelectionDAG] Sign extend splats of i32 in getConstant on RV64
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
Labels: llvm:SelectionDAG

#68088 [mlir] enable python bindings for nvgpu transforms
  mlir/python/CMakeLists.txt
  mlir/python/mlir/dialects/NVGPUTransformOps.td
  mlir/python/mlir/dialects/transform/nvgpu.py
  mlir/test/python/dialects/transform_nvgpu_ext.py
  utils/bazel/llvm-project-overlay/mlir/python/BUILD.bazel
Labels: mlir:python, mlir

#67792 [flang][NFCI]Use config structure for MLIR to LLVM pass creation
  flang/include/flang/Tools/CLOptions.inc
  flang/include/flang/Tools/CrossToolHelpers.h
  flang/lib/Frontend/FrontendActions.cpp
  flang/tools/bbc/bbc.cpp
  flang/tools/tco/tco.cpp
Labels: flang:driver, flang

#67853 [clang][AIX]Fix -flto-jobs for AIX.
  clang/lib/Driver/ToolChains/CommonArgs.cpp
  clang/test/Driver/lto-jobs.c
Labels: clang, clang:driver

#67762 [Flang][OpenMP][MLIR] Remove deletion of unused declare target global after use replacement
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  openmp/libomptarget/test/offloading/fortran/double-target-call-with-declare-target.f90
Labels: mlir:llvm, mlir, mlir:openmp, flang:openmp

#68029 [clang-format] Fix alignment in presence of template functions
  clang/lib/Format/WhitespaceManager.cpp
  clang/unittests/Format/FormatTest.cpp
Labels: clang-format

#67820 [ThinLTO][NFC] Add Module Name Debug Print when Generating Module Maps
  llvm/lib/LTO/ThinLTOCodeGenerator.cpp
Labels: LTO

#67898 [lit] Fix shell commands with newlines
  llvm/utils/lit/lit/TestRunner.py
  llvm/utils/lit/tests/Inputs/shtest-inject/lit.cfg
  llvm/utils/lit/tests/Inputs/shtest-run-at-line/external-shell/lit.local.cfg
  llvm/utils/lit/tests/Inputs/shtest-run-at-line/external-shell/run-line-with-newline.txt
  llvm/utils/lit/tests/Inputs/shtest-run-at-line/internal-shell/lit.local.cfg
  llvm/utils/lit/tests/Inputs/shtest-run-at-line/internal-shell/run-line-with-newline.txt
  llvm/utils/lit/tests/shtest-inject.py
  llvm/utils/lit/tests/shtest-run-at-line.py
Labels: llvm-lit, testing-tools

#68080 [mlir][tensor][bufferize] `tensor.empty` bufferizes to an allocation
  mlir/lib/Dialect/Tensor/Transforms/BufferizableOpInterfaceImpl.cpp
  mlir/test/Dialect/Tensor/bufferize.mlir
Labels: mlir, mlir:tensor

#68089 [mlir][scf][bufferize] Improve bufferization of allocs yielded from `scf.for`
  mlir/lib/Dialect/SCF/Transforms/BufferizableOpInterfaceImpl.cpp
  mlir/test/Dialect/SCF/one-shot-bufferize.mlir
Labels: mlir, mlir:scf

#68100 [TLI] Added a guard for empty vector function name.
  llvm/lib/Analysis/TargetLibraryInfo.cpp
  llvm/lib/Transforms/Utils/InjectTLIMappings.cpp
Labels: llvm:analysis, llvm:transforms

#68025 [LLD][ELF] Import `ObjFile::importCmseSymbols` at call site
  lld/ELF/InputFiles.cpp
  lld/ELF/InputFiles.h
Labels: lld, lld:ELF

#67695 [Profile] Use upper 32 bits of profile version for profile variants.
  compiler-rt/include/profile/InstrProfData.inc
  llvm/include/llvm/ProfileData/InstrProfData.inc
  llvm/include/llvm/ProfileData/InstrProfReader.h
  llvm/lib/ProfileData/InstrProfReader.cpp
  llvm/test/tools/llvm-profdata/mismatched-raw-profile-header.test
Labels: compiler-rt, PGO

#68065 [RISCV][AArch64] Don't allow -mvscale-min/max options to be passed to the clang driver.
  clang/include/clang/Driver/Options.td
Labels: clang, backend:AArch64, backend:RISC-V, clang:driver

#68014 [RISCV] Generaize reduction tree matching to all integer reductions
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-int-explodevector.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-reduction-formation.ll
Labels: backend:RISC-V

#67899 remove duplicate ModuleId alias
  clang/lib/Lex/ModuleMap.cpp
Labels: clang, clang:frontend, clang:modules

#68057 [mlir][sparse] unify lib/codegen rewriting rules for sparse tensor concatenation.
  mlir/include/mlir/ExecutionEngine/SparseTensor/Storage.h
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorConversion.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorRewriting.cpp
  mlir/test/Dialect/SparseTensor/sparse_concat.mlir
  mlir/test/Dialect/SparseTensor/sparse_concat_codegen.mlir
Labels: mlir:sparse, mlir, mlir:execution-engine

#68015 [clang][codegen] Add a verifier IR pass before any further passes.
  clang/lib/CodeGen/BackendUtil.cpp
  clang/test/CodeGen/code-coverage.c
  clang/test/CodeGen/lto-newpm-pipeline.c
Labels: clang, clang:codegen

#68115 [RISCV] Relax some Zvbb patterns and lowerings to Zvkb
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoZvk.td
  llvm/test/CodeGen/RISCV/rvv/bswap-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/bswap-vp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-bswap.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-shuffle-rotate.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vrol.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vror.ll
  llvm/test/CodeGen/RISCV/rvv/vandn-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/vandn-vp.ll
  llvm/test/CodeGen/RISCV/rvv/vrol-sdnode.ll
  llvm/test/CodeGen/RISCV/rvv/vror-sdnode.ll
Labels: backend:RISC-V

#67964 [RISCV] Update Zfa extension version to 1.0
  clang/test/Driver/riscv-arch.c
  clang/test/Preprocessor/riscv-target-features.c
  llvm/docs/RISCVUsage.rst
  llvm/docs/ReleaseNotes.rst
  llvm/lib/Support/RISCVISAInfo.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoZfa.td
  llvm/test/CodeGen/RISCV/attributes.ll
  llvm/test/MC/RISCV/attribute-arch.s
  llvm/unittests/Support/RISCVISAInfoTest.cpp
Labels: clang, backend:RISC-V, clang:driver, mc, llvm:support

#67987 [CodeExtractor] Consider Value arguments of dbg.assign
  llvm/lib/Transforms/Utils/CodeExtractor.cpp
  llvm/test/Transforms/HotColdSplit/invalid-dbg-assign.ll
Labels: debuginfo, llvm:transforms

#67751 [NFC][clang] change remaining context-dependent type nodes to ContextualFoldingSet
  clang/include/clang/AST/ASTContext.h
  clang/include/clang/AST/Type.h
  clang/lib/AST/ASTContext.cpp
  clang/lib/AST/Type.cpp
Labels: clang, clang:frontend

#68055 [Debuginfod] Accept compressed encodings in client
  llvm/lib/Debuginfod/HTTPClient.cpp
  llvm/test/tools/llvm-debuginfod-find/headers.test
Labels: debuginfo

#68113 [RISCV] Mark the Zfa extension as non-experimental
  clang/test/Driver/riscv-arch.c
  clang/test/Preprocessor/riscv-target-features.c
  llvm/docs/RISCVUsage.rst
  llvm/docs/ReleaseNotes.rst
  llvm/lib/Support/RISCVISAInfo.cpp
  llvm/lib/Target/RISCV/RISCVFeatures.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZfa.td
  llvm/test/CodeGen/RISCV/attributes.ll
  llvm/test/CodeGen/RISCV/double-zfa.ll
  llvm/test/CodeGen/RISCV/fli-licm.ll
  llvm/test/CodeGen/RISCV/float-zfa.ll
  llvm/test/CodeGen/RISCV/half-zfa-fli.ll
  llvm/test/CodeGen/RISCV/half-zfa.ll
  llvm/test/CodeGen/RISCV/rvv/vsplats-zfa.ll
  llvm/test/MC/RISCV/rv32zfa-only-valid.s
  llvm/test/MC/RISCV/zfa-double-invalid.s
  llvm/test/MC/RISCV/zfa-half-invalid.s
  llvm/test/MC/RISCV/zfa-invalid.s
  llvm/test/MC/RISCV/zfa-valid.s
  llvm/test/MC/RISCV/zfa-zfhmin-zvfh-valid.s
  llvm/unittests/Support/RISCVISAInfoTest.cpp
Labels: clang, backend:RISC-V, clang:driver, mc, llvm:support

#68078 [Clang] Correctly handle callees whose type is a Record type when classifying expressions
  clang/lib/AST/Expr.cpp
  clang/test/SemaTemplate/temp_arg_nontype_cxx1z.cpp
Labels: clang, c++, clang:frontend

#68054 [mlir] Avoid common folder assuming all types are supported
  mlir/include/mlir/Dialect/CommonFolders.h
  mlir/test/Dialect/Arith/canonicalize.mlir
Labels: mlir, mlir:arith

#68056 [libc++][ranges][NFC] Mark ranges::slide_view in progress
  libcxx/docs/Status/RangesViews.csv
Labels: libc++

#67106 [lldb][FreeBSD] Add dynamic loader handle class for FreeBSD Kernel
  lldb/source/Plugins/DynamicLoader/CMakeLists.txt
  lldb/source/Plugins/DynamicLoader/FreeBSD-Kernel/CMakeLists.txt
  lldb/source/Plugins/DynamicLoader/FreeBSD-Kernel/DynamicLoaderFreeBSDKernel.cpp
  lldb/source/Plugins/DynamicLoader/FreeBSD-Kernel/DynamicLoaderFreeBSDKernel.h
  lldb/source/Plugins/ObjectFile/ELF/ObjectFileELF.cpp
  lldb/source/Plugins/Process/FreeBSDKernel/ProcessFreeBSDKernel.cpp
Labels: lldb, clangd

#68061 Add a release note for https://github.com/llvm/llvm-project/pull/68001
  clang/docs/ReleaseNotes.rst
Labels: clang

#67874 workflows/release-binaries: Use more cores to avoid the 6 hour timeout
  .github/workflows/release-binaries.yml
Labels: github:workflow

#68137 [mlir][sparse] minor edits to support lib files
  mlir/include/mlir/ExecutionEngine/SparseTensor/COO.h
  mlir/include/mlir/ExecutionEngine/SparseTensor/File.h
  mlir/include/mlir/ExecutionEngine/SparseTensor/Storage.h
  mlir/include/mlir/ExecutionEngine/SparseTensorRuntime.h
Labels: mlir:sparse, mlir, mlir:execution-engine

#68148 [mlir][sparse] removed unused using clauses in support lib
  mlir/include/mlir/ExecutionEngine/SparseTensor/COO.h
Labels: mlir:sparse, mlir, mlir:execution-engine

#68060 [diag] Silence `-Wfixed-enum-extension` in C23
  clang/docs/ReleaseNotes.rst
  clang/lib/Parse/ParseDecl.cpp
  clang/test/Sema/fixed-enum.c
Labels: clang, clang:frontend

#67838 [clang] NFCI: Use `FileEntryRef` for `FileID` creation
  clang-tools-extra/clang-change-namespace/tool/ClangChangeNamespace.cpp
  clang-tools-extra/clang-move/Move.cpp
  clang-tools-extra/clang-reorder-fields/tool/ClangReorderFields.cpp
  clang-tools-extra/clang-tidy/ClangTidy.cpp
  clang-tools-extra/clang-tidy/ClangTidyDiagnosticConsumer.cpp
  clang/include/clang/Basic/SourceManager.h
  clang/lib/Basic/SourceManager.cpp
  clang/lib/Tooling/Core/Replacement.cpp
  clang/lib/Tooling/Refactoring.cpp
  clang/tools/clang-rename/ClangRename.cpp
  clang/unittests/Analysis/UnsafeBufferUsageTest.cpp
Labels: clang, clang-tidy, clang:frontend, clang:dataflow

#68146 [flang][openacc] Fix getBoundsString for reduction recipe name
  flang/lib/Lower/OpenACC.cpp
  flang/test/Lower/OpenACC/acc-reduction.f90
Labels: flang, flang:fir-hlfir, openacc

#68040 [flang][hlfir] Shallow copy elemental results with allocatable components.
  flang/lib/Optimizer/HLFIR/Transforms/BufferizeHLFIR.cpp
  flang/test/HLFIR/elemental-shallow-copy.fir
Labels: flang, flang:fir-hlfir

#68047 [flang] TBAA for memory accesses of derived type values.
  flang/include/flang/Optimizer/CodeGen/TBAABuilder.h
  flang/include/flang/Optimizer/Dialect/FIRType.h
  flang/lib/Optimizer/CodeGen/TBAABuilder.cpp
  flang/lib/Optimizer/Dialect/FIRType.cpp
  flang/test/Fir/tbaa.fir
Labels: flang, flang:fir-hlfir, flang:codegen

#68064 [flang] Deallocate components of local variables at the end of the scope.
  flang/include/flang/Semantics/tools.h
  flang/lib/Lower/ConvertVariable.cpp
  flang/lib/Semantics/tools.cpp
  flang/test/Lower/HLFIR/local-end-of-scope-component-dealloc.f90
Labels: flang, flang:fir-hlfir, flang:semantics

#67493 [WebAssembly] Allow absolute symbols in the linking section (symbol table)
  lld/test/wasm/emit-relocs.s
  lld/wasm/SymbolTable.cpp
  lld/wasm/SyntheticSections.cpp
  llvm/include/llvm/BinaryFormat/Wasm.h
  llvm/lib/Object/WasmObjectFile.cpp
  llvm/lib/ObjectYAML/WasmYAML.cpp
Labels: lld, backend:WebAssembly, lld:wasm, objectyaml, llvm:binary-utilities

#68156 [clang] NFC: Remove unused `FileEntry::getLastRef()`
  clang/include/clang/Basic/FileEntry.h
Labels: clang, clang:frontend

#68147 [flang][openacc] Use the array section for assumed shape array reduction
  flang/include/flang/Optimizer/Dialect/FIRType.h
  flang/lib/Lower/OpenACC.cpp
  flang/lib/Optimizer/Dialect/FIRType.cpp
  flang/test/Lower/OpenACC/acc-reduction.f90
Labels: flang, flang:fir-hlfir, openacc

#68158 [flang][openacc] Do not use special character in type string representation
  flang/lib/Optimizer/Dialect/FIRType.cpp
  flang/test/Lower/OpenACC/acc-private.f90
  flang/test/Lower/OpenACC/acc-reduction.f90
  flang/unittests/Optimizer/FIRTypesTest.cpp
Labels: flang, flang:fir-hlfir, openacc

#68160 [flang][openacc] Fix upperbound computation when lowerbound is default
  flang/lib/Lower/DirectivesCommon.h
  flang/test/Lower/OpenACC/acc-enter-data.f90
Labels: flang, flang:fir-hlfir, openacc

#68133 [WebAssembly] Define local sp if `llvm.stacksave` is used
  llvm/lib/Target/WebAssembly/WebAssemblyFrameLowering.cpp
  llvm/test/CodeGen/WebAssembly/userstack.ll
Labels: backend:WebAssembly

#68042 [mlir][OpenMP] Added translation for `omp.teams` to LLVM IR
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/openmp-teams.mlir
Labels: mlir:llvm, mlir, mlir:openmp, flang:openmp

#68139 Fix std::variant test failure on certain buildbot
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libstdcpp/variant/TestDataFormatterLibStdcxxVariant.py
Labels: lldb

#68163 Fix the Modules/compiler_builtins.m test
  clang/test/Modules/Inputs/System/usr/include/stdint.h
Labels: clang, clang:modules

#67740 Do not remove empty basic blocks which have address taken.
  llvm/lib/CodeGen/GCEmptyBasicBlocks.cpp
  llvm/test/CodeGen/X86/gc-empty-basic-blocks.ll
Labels: backend:X86

#68128 [lldb] Fix --persistent-result description
  lldb/source/Commands/Options.td
Labels: lldb

#67079 [lld][COFF][LTO] Implement /lldemit:asm option
  lld/COFF/Config.h
  lld/COFF/Driver.cpp
  lld/COFF/LTO.cpp
  lld/test/COFF/lto-emit-asm.ll
  lld/test/COFF/pdb-thinlto.ll
Labels: lld, lld:MachO, lld:ELF, lld:COFF, lld:wasm, platform:windows

#68161 [mlir][sparse] renaming sparse_tensor.sort_coo to sparse_tensor.sort
  mlir/include/mlir/Dialect/SparseTensor/IR/SparseTensorOps.td
  mlir/lib/Dialect/SparseTensor/IR/SparseTensorDialect.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseBufferRewriting.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorCodegen.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorPasses.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorRewriting.cpp
  mlir/test/Dialect/SparseTensor/buffer_rewriting.mlir
  mlir/test/Dialect/SparseTensor/codegen.mlir
  mlir/test/Dialect/SparseTensor/convert_sparse2sparse.mlir
  mlir/test/Dialect/SparseTensor/invalid.mlir
  mlir/test/Dialect/SparseTensor/roundtrip.mlir
  mlir/test/Dialect/SparseTensor/sparse_matmul_codegen.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_rewrite_sort_coo.mlir
Labels: mlir:sparse, mlir

#68165 [mlir][sparse] minor edits in runtime lib Cpp files
  mlir/include/mlir/ExecutionEngine/SparseTensor/File.h
  mlir/lib/ExecutionEngine/SparseTensor/File.cpp
  mlir/lib/ExecutionEngine/SparseTensor/NNZ.cpp
  mlir/lib/ExecutionEngine/SparseTensor/Storage.cpp
Labels: mlir:sparse, mlir, mlir:execution-engine

#67755 [clang][RelativeVTables] Make the rtti_proxy LinkOnceODR instead of External linkage
  clang/lib/CodeGen/CGVTables.cpp
  clang/test/CodeGenCXX/RelativeVTablesABI/child-vtable-in-comdat.cpp
  clang/test/CodeGenCXX/RelativeVTablesABI/parent-vtable-in-comdat.cpp
  clang/test/CodeGenCXX/RelativeVTablesABI/relative-vtables-hwasan.cpp
  clang/test/CodeGenCXX/RelativeVTablesABI/simple-vtable-definition.cpp
  clang/test/CodeGenCXX/RelativeVTablesABI/type-info.cpp
Labels: clang, clang:codegen

#67849 [libcxx][test] Amend XFAIL directive in no_unique_address tests
  libcxx/test/libcxx/ranges/range.adaptors/range.lazy.split/no_unique_address.compile.pass.cpp
  libcxx/test/libcxx/ranges/range.adaptors/range.split/no_unique_address.compile.pass.cpp
  libcxx/test/libcxx/ranges/range.factories/range.istream.view/no_unique_address.compile.pass.cpp
Labels: libc++

#67563 [analyzer] Fix false negative when accessing a nonnull property from …
  clang/lib/StaticAnalyzer/Checkers/NullabilityChecker.cpp
  clang/test/Analysis/nullability.mm
Labels: clang, clang:static analyzer, clang:dataflow

#67955 [clang-format] Annotate ctors/dtors as CtorDtorDeclName instead
  clang/lib/Format/FormatToken.h
  clang/lib/Format/TokenAnnotator.cpp
  clang/lib/Format/WhitespaceManager.cpp
  clang/unittests/Format/FormatTest.cpp
  clang/unittests/Format/FormatTestMacroExpansion.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#68067 Improve MLIR attribute get() method efficiency when complex members are involved
  mlir/include/mlir/IR/StorageUniquerSupport.h
  mlir/include/mlir/Support/StorageUniquer.h
  mlir/test/lib/Dialect/Test/TestAttrDefs.td
  mlir/test/lib/Dialect/Test/TestAttributes.cpp
  mlir/test/lib/Dialect/Test/TestAttributes.h
  mlir/test/mlir-tblgen/attrdefs.td
  mlir/tools/mlir-tblgen/AttrOrTypeDefGen.cpp
  mlir/unittests/IR/AttributeTest.cpp
Labels: mlir:core, mlir

#67876 [Support] Redefine endianness::native
  llvm/include/llvm/Support/Endian.h
  llvm/include/llvm/Support/HashBuilder.h
  llvm/lib/ExecutionEngine/JITLink/aarch32.cpp
Labels: llvm:support

#65193 [clang][Sema] Fix a bug when instantiating a lambda with requires clause
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaConcept.cpp
  clang/lib/Sema/SemaLambda.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/test/SemaCXX/pr64462.cpp
Labels: clang, clang:frontend, lambda

#68019 [llvm-profgen] Print DWP related warnings under show-detailed-warning
  llvm/tools/llvm-profgen/ProfiledBinary.cpp
Labels: PGO

#66519 [mlir][ODS] Change `get...Mutable` to return `OpOperand &` for single operands
  mlir/include/mlir/IR/Value.h
  mlir/include/mlir/IR/ValueRange.h
  mlir/lib/Dialect/Bufferization/IR/BufferizationOps.cpp
  mlir/lib/Dialect/Linalg/Transforms/ElementwiseOpFusion.cpp
  mlir/lib/Dialect/SCF/Transforms/TileUsingInterface.cpp
  mlir/lib/Dialect/Tensor/Transforms/BufferizableOpInterfaceImpl.cpp
  mlir/lib/Dialect/Tensor/Transforms/SubsetInsertionOpInterfaceImpl.cpp
  mlir/lib/IR/OperationSupport.cpp
  mlir/test/lib/Dialect/Test/TestDialect.cpp
  mlir/test/mlir-tblgen/op-decl-and-defs.td
  mlir/tools/mlir-tblgen/OpDefinitionsGen.cpp
Labels: mlir:core, mlir:linalg, mlir, mlir:tensor, mlir:bufferization, mlir:scf

#68183 [mlir] Add `opt-level` to `test-lower-to-nvvm` Pipeline
  mlir/test/lib/Dialect/GPU/TestLowerToNVVM.cpp
Labels: mlir:gpu, mlir

#68184 [MLIR] Use `test-lower-to-nvvm` for sm_90 Integration Tests on GitHub
  mlir/test/Integration/GPU/CUDA/sm90/tma_load_128x64_swizzle128b.mlir
  mlir/test/Integration/GPU/CUDA/sm90/tma_load_64x64_swizzle128b.mlir
  mlir/test/Integration/GPU/CUDA/sm90/tma_load_64x8_8x128_noswizzle.mlir
  mlir/test/lib/Dialect/GPU/TestLowerToNVVM.cpp
Labels: mlir:gpu, mlir

#67800 [mlir][transform] Make variable names in interpreter consistent. (NFC)
  mlir/lib/Dialect/Transform/Transforms/TransformInterpreterPassBase.cpp
Labels: mlir

#68116 [LLD] [COFF] Fix handling of comdat .drectve sections
  lld/COFF/InputFiles.cpp
  lld/test/COFF/comdat-drectve.s
Labels: lld, lld:COFF, platform:windows

#67786 [mlir][ArmSME] Lower vector.extract/insert on SME tiles to MOVA intrinsics
  mlir/lib/Dialect/ArmSME/Transforms/LegalizeForLLVMExport.cpp
  mlir/test/Dialect/ArmSME/vector-ops-to-llvm.mlir
Labels: mlir, mlir:sme

#67968 [InstCombine] Expand redundant phi cycle elimination
  llvm/lib/Transforms/InstCombine/InstCombinePHI.cpp
  llvm/test/Transforms/InstCombine/phi.ll
Labels: llvm:transforms

#68107 [AArch64] Fix an incorrect handling of debug values in MachineSink
  llvm/lib/CodeGen/MachineSink.cpp
  llvm/test/CodeGen/AArch64/sink-and-fold-dbg-value-crash.mir
Labels: backend:AArch64

#67733 [libc++] Remove unused defaulted template arg from `__rewrap_range`.
  libcxx/include/__algorithm/unwrap_range.h
  libcxx/utils/data/ignore_format.txt
Labels: libc++

#66641 [clang] Preserve UDL nodes in RemoveNestedImmediateInvocation
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaExpr.cpp
  clang/test/AST/ast-dump-udl-consteval.cpp
Labels: clang, clang:frontend

#68193 [lldb][test] Remove expected failure marker for TestPlatformAttach on windows
  lldb/test/API/functionalities/gdb_remote_client/TestPlatformAttach.py
Labels: lldb

#66202 [AMDGPU][GFX11] Do not rewrite V_FMA/FMAC_* to V_FMAAK_F16_t16 on operand legalization.
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/test/CodeGen/AMDGPU/fma.f16.ll
Labels: backend:AMDGPU

#68204 [clang][dataflow] HTML logger: Mark iterations that have converged.
  clang/lib/Analysis/FlowSensitive/HTMLLogger.cpp
  clang/lib/Analysis/FlowSensitive/HTMLLogger.html
Labels: clang, clang:dataflow, clang:analysis

#68003 [libc] Change the GPU to use builtin memory functions
  libc/src/string/memory_utils/generic/builtin.h
  libc/src/string/memory_utils/inline_memcpy.h
  libc/src/string/memory_utils/inline_memmove.h
  libc/src/string/memory_utils/inline_memset.h
Labels: libc

#66761 [compiler-rt] Don't redefine LLVM_COMMON_CMAKE_UTILS if it's defined
  compiler-rt/CMakeLists.txt
Labels: compiler-rt

#68210 [lldb][FreeBSD] fix i386 size_t error when using LLDB_LOGF
  lldb/source/Plugins/DynamicLoader/FreeBSD-Kernel/DynamicLoaderFreeBSDKernel.cpp
Labels: lldb

#68216 [clang-repl] Disable InterpreterExceptionTest on RISC-V
  clang/unittests/Interpreter/ExceptionTests/InterpreterExceptionTest.cpp
Labels: clang

#68219 [X86] Add combine tests for pointers of mixed sizes (NFC)
  llvm/test/CodeGen/X86/mixed-ptr-sizes-i686.ll
  llvm/test/CodeGen/X86/mixed-ptr-sizes.ll
Labels: backend:X86

#68205 [AArch64][PAC] Specify Defs and Uses of PAUTH_(PROLOGUE|EPILOGUE)
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/test/CodeGen/AArch64/machine-outliner-retaddr-sign-sp-mod.mir
Labels: backend:AArch64

#68171 [flang][runtime] Added Assign runtime to CUDA build closure.
  flang/include/flang/ISO_Fortran_binding.h
  flang/include/flang/Runtime/api-attrs.h
  flang/include/flang/Runtime/assign.h
  flang/include/flang/Runtime/descriptor.h
  flang/runtime/CMakeLists.txt
  flang/runtime/ISO_Fortran_binding.cpp
  flang/runtime/assign-impl.h
  flang/runtime/assign.cpp
  flang/runtime/derived.cpp
  flang/runtime/freestanding-tools.h
  flang/runtime/stat.cpp
  flang/runtime/stat.h
  flang/runtime/tools.cpp
  flang/runtime/tools.h
  flang/runtime/type-info.cpp
Labels: flang:runtime, flang

#68119 [LLD][COFF] Mark operator== const to avoid ambiguity in C++20.
  lld/COFF/Config.h
Labels: lld, lld:COFF, platform:windows

#67833 [libc][NFC] Fix -Wdangling-else when compiling libc with gcc >= 7
  libc/test/UnitTest/FPMatcher.h
  libc/test/UnitTest/LibcTest.h
  libc/test/src/__support/FPUtil/rounding_mode_test.cpp
  libc/test/src/spawn/posix_spawn_file_actions_test.cpp
  libc/utils/MPFRWrapper/MPFRUtils.h
Labels: libc
