Repository llvm/llvm-project, pull requests merged in 2023-11, with the labels that each got.

#70773 [mlir][bufferization] Fix ownership computation of unknown ops
  mlir/lib/Dialect/Bufferization/Transforms/OwnershipBasedBufferDeallocation.cpp
  mlir/test/Dialect/Bufferization/Transforms/OwnershipBasedBufferDeallocation/dealloc-other.mlir
Labels: mlir, mlir:bufferization

#70825 [RISCV] Use FLI + FNEG to materialize some negative FP constants
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.h
  llvm/test/CodeGen/RISCV/double-zfa.ll
  llvm/test/CodeGen/RISCV/float-zfa.ll
  llvm/test/CodeGen/RISCV/half-zfa-fli.ll
Labels: backend:RISC-V

#70871 [mlir][python] fix python_test dialect and I32/I64ElementsBuilder
  mlir/python/mlir/ir.py
  mlir/test/python/dialects/python_test.py
  mlir/test/python/python_test_ops.td
Labels: mlir:python, mlir

#70309 [Flang][OpenMP] Fix compilation error when a line with Fixed Source Form Conditional Compilation Sentinels is a continuation line
  flang/lib/Parser/prescan.cpp
  flang/test/Parser/continuation-in-conditional-compilation.f
Labels: flang, flang:parser

#70617 [mlir][Interfaces] Add `SubsetOpInterface` and `SubsetExtractionOpInterface`
  mlir/include/mlir/Dialect/Bufferization/IR/Bufferization.h
  mlir/include/mlir/Dialect/Bufferization/IR/BufferizationOps.td
  mlir/include/mlir/Dialect/Linalg/Transforms/SubsetInsertionOpInterfaceImpl.h
  mlir/include/mlir/Dialect/Tensor/Transforms/SubsetInsertionOpInterfaceImpl.h
  mlir/include/mlir/InitAllDialects.h
  mlir/include/mlir/Interfaces/CMakeLists.txt
  mlir/include/mlir/Interfaces/SubsetInsertionOpInterface.h
  mlir/include/mlir/Interfaces/SubsetInsertionOpInterface.td
  mlir/include/mlir/Interfaces/SubsetOpInterface.h
  mlir/include/mlir/Interfaces/SubsetOpInterface.td
  mlir/include/mlir/Interfaces/ValueBoundsOpInterface.h
  mlir/lib/Dialect/Bufferization/IR/BufferizationOps.cpp
  mlir/lib/Dialect/Bufferization/IR/CMakeLists.txt
  mlir/lib/Dialect/Bufferization/Transforms/CMakeLists.txt
  mlir/lib/Dialect/Bufferization/Transforms/EmptyTensorElimination.cpp
  mlir/lib/Dialect/Bufferization/Transforms/OneShotAnalysis.cpp
  mlir/lib/Dialect/Linalg/Transforms/CMakeLists.txt
  mlir/lib/Dialect/Linalg/Transforms/SubsetInsertionOpInterfaceImpl.cpp
  mlir/lib/Dialect/Tensor/Transforms/BufferizableOpInterfaceImpl.cpp
  mlir/lib/Dialect/Tensor/Transforms/CMakeLists.txt
  mlir/lib/Dialect/Tensor/Transforms/SubsetInsertionOpInterfaceImpl.cpp
  mlir/lib/Interfaces/CMakeLists.txt
  mlir/lib/Interfaces/SubsetInsertionOpInterface.cpp
  mlir/lib/Interfaces/SubsetOpInterface.cpp
  mlir/lib/Interfaces/ValueBoundsOpInterface.cpp
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
  utils/bazel/llvm-project-overlay/mlir/python/BUILD.bazel
Labels: mlir:linalg, mlir, mlir:tensor, mlir:bufferization

#70619 [mlir][Transforms] Add loop-invariant subset hoisting (LISH) transformation
  mlir/include/mlir/Transforms/LoopInvariantCodeMotionUtils.h
  mlir/include/mlir/Transforms/Passes.h
  mlir/include/mlir/Transforms/Passes.td
  mlir/lib/Transforms/LoopInvariantCodeMotion.cpp
  mlir/lib/Transforms/Utils/CMakeLists.txt
  mlir/lib/Transforms/Utils/LoopInvariantCodeMotionUtils.cpp
  mlir/test/Transforms/loop-invariant-subset-hoisting.mlir
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: mlir:core, mlir:linalg, mlir, mlir:tensor, mlir:bufferization

#70862 [mlir][arith] Add ArithOpsInterfaces to mlir-generic-headers
  mlir/include/mlir/Dialect/Arith/IR/CMakeLists.txt
Labels: mlir, mlir:arith

#70623 [mlir][Transforms] LISH: Improve bypass analysis for loop-like ops
  mlir/lib/Transforms/Utils/LoopInvariantCodeMotionUtils.cpp
  mlir/test/Transforms/loop-invariant-subset-hoisting.mlir
Labels: mlir:core, mlir:linalg, mlir, mlir:tensor, mlir:bufferization

#70628 [mlir][Interfaces] LISH: Add helpers for hyperrectangular subsets
  mlir/include/mlir/Dialect/Bufferization/IR/BufferizationOps.td
  mlir/include/mlir/IR/OpDefinition.h
  mlir/include/mlir/Interfaces/SubsetOpInterface.h
  mlir/include/mlir/Interfaces/SubsetOpInterface.td
  mlir/include/mlir/Interfaces/ValueBoundsOpInterface.h
  mlir/lib/Dialect/Tensor/Transforms/SubsetInsertionOpInterfaceImpl.cpp
  mlir/lib/Interfaces/CMakeLists.txt
  mlir/lib/Interfaces/SubsetOpInterface.cpp
  mlir/lib/Interfaces/ValueBoundsOpInterface.cpp
  mlir/test/Transforms/loop-invariant-subset-hoisting.mlir
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: mlir:core, mlir:linalg, mlir, mlir:tensor, mlir:bufferization

#67829 [DAGCombine] Fold setcc_eq infinity into is.fpclass
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/test/CodeGen/PowerPC/fp-classify.ll
  llvm/test/CodeGen/PowerPC/is_fpclass.ll
Labels: llvm:SelectionDAG

#70351 [lldb/Target] Delay image loading after corefile process creation
  lldb/include/lldb/Target/Process.h
  lldb/source/Plugins/Process/mach-core/ProcessMachCore.cpp
  lldb/source/Plugins/Process/mach-core/ProcessMachCore.h
  lldb/source/Target/Process.cpp
  lldb/test/API/functionalities/script-resource-loading/Makefile
  lldb/test/API/functionalities/script-resource-loading/TestScriptResourceLoading.py
  lldb/test/API/functionalities/script-resource-loading/main.cpp
  lldb/test/API/functionalities/script-resource-loading/my_scripting_resource.py
Labels: lldb

#70629 [mlir][vector] LISH: Implement `SubsetOpInterface` for transfer_read/write
  mlir/include/mlir/Dialect/Vector/Transforms/SubsetOpInterfaceImpl.h
  mlir/include/mlir/InitAllDialects.h
  mlir/lib/Dialect/Vector/Transforms/CMakeLists.txt
  mlir/lib/Dialect/Vector/Transforms/SubsetOpInterfaceImpl.cpp
  mlir/test/Dialect/Linalg/hoisting.mlir
  mlir/test/Transforms/loop-invariant-subset-hoisting.mlir
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: mlir:core, mlir:linalg, mlir:vectorops, mlir, mlir:tensor, mlir:bufferization, mlir:vector

#70891 [mlir] Fix bufferization.alloc_tensor canonicalization crash
  mlir/lib/Dialect/Bufferization/IR/BufferizationOps.cpp
  mlir/test/Dialect/Bufferization/canonicalize.mlir
Labels: mlir, mlir:bufferization

#70875 [PGO] Skip optimizing probes that don't fit.
  llvm/lib/Transforms/IPO/SampleProfileProbe.cpp
Labels: llvm:transforms

#69041 [clang] Additional FP classification functions
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/Builtins.def
  clang/lib/AST/ExprConstant.cpp
  clang/lib/AST/Interp/Floating.h
  clang/lib/AST/Interp/InterpBuiltin.cpp
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/Sema/SemaChecking.cpp
  clang/test/AST/Interp/builtin-functions.cpp
  clang/test/CodeGen/builtins.c
  clang/test/Sema/constant-builtins-2.c
Labels: clang, clang:frontend, clang:codegen

#70610 [InferAddressSpaces] collect flat address expression from return value
  llvm/lib/Transforms/Scalar/InferAddressSpaces.cpp
  llvm/test/Transforms/InferAddressSpaces/AMDGPU/noop-ptrint-pair.ll
  llvm/test/Transforms/InferAddressSpaces/AMDGPU/select.ll
Labels: backend:AMDGPU, llvm:transforms

#70657 [mlir][ArmSME] Add optional mask operand to tile_store
  mlir/include/mlir/Dialect/ArmSME/IR/ArmSMEOps.td
  mlir/lib/Conversion/VectorToArmSME/VectorToArmSME.cpp
  mlir/test/Dialect/ArmSME/invalid.mlir
  mlir/test/Dialect/ArmSME/roundtrip.mlir
  mlir/test/Dialect/ArmSME/vector-ops-to-sme.mlir
Labels: mlir, mlir:sme

#70861 [MLIR][GPUToNVVM] Remove typed pointer support
  mlir/include/mlir/Conversion/Passes.td
  mlir/lib/Conversion/GPUToNVVM/LowerGpuOpsToNVVMOps.cpp
  mlir/test/Conversion/GPUCommon/lower-memory-space-attrs-typed-pointers.mlir
  mlir/test/Conversion/GPUCommon/lower-memory-space-attrs.mlir
  mlir/test/Conversion/GPUCommon/memory-attrbution.mlir
  mlir/test/Conversion/GPUCommon/memref-arg-attrs.mlir
  mlir/test/Conversion/GPUCommon/memref-arg-noalias-attrs.mlir
  mlir/test/Conversion/GPUToNVVM/gpu-to-nvvm-32b.mlir
  mlir/test/Conversion/GPUToNVVM/gpu-to-nvvm.mlir
  mlir/test/Conversion/GPUToNVVM/typed-pointers.mlir
  mlir/test/Conversion/GPUToNVVM/wmma-ops-to-nvvm.mlir
Labels: mlir:gpu, mlir

#70865 [MLIR][LaunchFuncToVulkan] Remove typed pointer support
  mlir/include/mlir/Conversion/Passes.td
  mlir/lib/Conversion/GPUToVulkan/ConvertLaunchFuncToVulkanCalls.cpp
  mlir/test/Conversion/GPUToVulkan/invoke-vulkan.mlir
  mlir/test/Conversion/GPUToVulkan/typed-pointers.mlir
Labels: mlir:gpu, mlir

#70434 [Driver] Silence stdlib warning when linking C on *BSD / Solaris / Haiku
  clang/lib/Driver/ToolChains/DragonFly.cpp
  clang/lib/Driver/ToolChains/FreeBSD.cpp
  clang/lib/Driver/ToolChains/Haiku.cpp
  clang/lib/Driver/ToolChains/NetBSD.cpp
  clang/lib/Driver/ToolChains/OpenBSD.cpp
  clang/lib/Driver/ToolChains/Solaris.cpp
Labels: clang, clang:driver

#70908 [MLIR][GPUToROCDL] Remove typed pointer support
  mlir/include/mlir/Conversion/Passes.td
  mlir/lib/Conversion/GPUToROCDL/LowerGpuOpsToROCDLOps.cpp
  mlir/test/Conversion/GPUCommon/lower-memory-space-attrs.mlir
  mlir/test/Conversion/GPUCommon/memory-attrbution.mlir
  mlir/test/Conversion/GPUCommon/memref-arg-attrs.mlir
  mlir/test/Conversion/GPUCommon/memref-arg-noalias-attrs.mlir
  mlir/test/Conversion/GPUCommon/memref-arg-noalias-warning.mlir
  mlir/test/Conversion/GPUToROCDL/gpu-to-rocdl-hip.mlir
  mlir/test/Conversion/GPUToROCDL/gpu-to-rocdl-opencl.mlir
  mlir/test/Conversion/GPUToROCDL/gpu-to-rocdl.mlir
  mlir/test/Conversion/GPUToROCDL/memref.mlir
  mlir/test/Conversion/GPUToROCDL/typed-pointers.mlir
Labels: mlir:gpu, mlir

#70792 [analyzer] Fix uninitialized base class with initializer list when ctor is not declared in the base class (#70464)
  clang/lib/StaticAnalyzer/Core/ExprEngine.cpp
  clang/test/Analysis/issue-70464.cpp
Labels: clang, clang:static analyzer, clang:dataflow

#69798 [mlir][complex] Support Fastmath flag for complex log ops
  mlir/lib/Conversion/ComplexToStandard/ComplexToStandard.cpp
  mlir/test/Conversion/ComplexToStandard/convert-to-standard.mlir
Labels: mlir

#68774 [clang][ASTImporter] Fix crash when template class static member imported to other translation unit.
  clang/docs/ReleaseNotes.rst
  clang/lib/AST/ASTImporter.cpp
  clang/unittests/AST/ASTImporterTest.cpp
Labels: clang, clang:frontend, clang:dataflow

#70205 [lldb][AArch64] Add SME2's ZT0 register
  lldb/packages/Python/lldbsuite/test/lldbtest.py
  lldb/source/Plugins/Process/Linux/NativeRegisterContextLinux_arm64.cpp
  lldb/source/Plugins/Process/Linux/NativeRegisterContextLinux_arm64.h
  lldb/source/Plugins/Process/Utility/RegisterInfoPOSIX_arm64.cpp
  lldb/source/Plugins/Process/Utility/RegisterInfoPOSIX_arm64.h
  lldb/source/Plugins/Process/elf-core/RegisterUtilities.h
  lldb/test/API/commands/register/register/aarch64_dynamic_regset/TestArm64DynamicRegsets.py
  lldb/test/API/commands/register/register/aarch64_sme_z_registers/save_restore/Makefile
  lldb/test/API/commands/register/register/aarch64_sme_z_registers/save_restore/TestSMEZRegistersSaveRestore.py
  lldb/test/API/commands/register/register/aarch64_sme_z_registers/save_restore/main.c
  lldb/test/API/commands/register/register/aarch64_sme_z_registers/za_dynamic_resize/Makefile
  lldb/test/API/commands/register/register/aarch64_sme_z_registers/za_dynamic_resize/TestZAThreadedDynamic.py
  lldb/test/API/commands/register/register/aarch64_sme_z_registers/za_dynamic_resize/main.c
Labels: lldb

#70186 Disable memtag sanitization for global fnptrs going into .ctors
  clang/test/CodeGen/memtag-globals-asm.cpp
  llvm/lib/Target/AArch64/AArch64GlobalsTagging.cpp
Labels: clang, backend:AArch64

#70918 [lldb][Symtab][NFCI] Replace vector::swap with shrink_to_fit
  lldb/source/Symbol/Symtab.cpp
Labels: lldb

#70679 [AArch64] Fix spilling/filling of virtual registers in PNR regclass.
  llvm/lib/Target/AArch64/AArch64InstrInfo.cpp
  llvm/test/CodeGen/AArch64/spillfill-sve.mir
Labels: backend:AArch64

#70721 [lld] Implement getOutputCharacteristics for non-section code thunks.
  lld/COFF/Chunks.h
  lld/COFF/DLL.cpp
  lld/test/COFF/export-thunk.test
Labels: lld, lld:COFF, platform:windows

#70134 [llvm][AArch64][Assembly]: Add FP8FMA assembly and disassembly.
  llvm/include/llvm/TargetParser/AArch64TargetParser.h
  llvm/include/llvm/TargetParser/SubtargetFeature.h
  llvm/lib/Target/AArch64/AArch64.td
  llvm/lib/Target/AArch64/AArch64InstrFormats.td
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/lib/Target/AArch64/AArch64RegisterInfo.cpp
  llvm/lib/Target/AArch64/AArch64RegisterInfo.td
  llvm/lib/Target/AArch64/AArch64SVEInstrInfo.td
  llvm/lib/Target/AArch64/AArch64SchedA64FX.td
  llvm/lib/Target/AArch64/AsmParser/AArch64AsmParser.cpp
  llvm/lib/Target/AArch64/Disassembler/AArch64Disassembler.cpp
  llvm/lib/Target/AArch64/GISel/AArch64RegisterBankInfo.cpp
  llvm/lib/Target/AArch64/SVEInstrFormats.td
  llvm/test/MC/AArch64/FP8/directive-arch-negative.s
  llvm/test/MC/AArch64/FP8/directive-arch.s
  llvm/test/MC/AArch64/FP8/mla-diagnostic.s
  llvm/test/MC/AArch64/FP8/mla.s
  llvm/test/MC/AArch64/FP8_SVE2/fmlal-diagnostics.s
  llvm/test/MC/AArch64/FP8_SVE2/fmlal.s
  llvm/test/MC/AArch64/FP8_SVE2/fmlall-diagnostics.s
  llvm/test/MC/AArch64/FP8_SVE2/fmlall.s
  llvm/unittests/TargetParser/TargetParserTest.cpp
Labels: backend:AArch64, mc

#70924 [mlir][SCF] Add folding for IndexSwitchOp
  mlir/include/mlir/Dialect/SCF/IR/SCFOps.td
  mlir/lib/Dialect/SCF/IR/SCF.cpp
  mlir/test/Dialect/SCF/canonicalize.mlir
  mlir/test/Dialect/SCF/for-loop-canonicalization.mlir
Labels: mlir, mlir:scf

#70548 [Clang] Defer the instantiation of explicit-specifier until constraint checking completes
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/test/SemaCXX/cxx2a-explicit-bool-deferred.cpp
Labels: clang, clang:frontend

#70940 [mlir][LLVM] Allow call_intrinsic to inline
  mlir/lib/Dialect/LLVMIR/IR/LLVMInlining.cpp
  mlir/test/Dialect/LLVMIR/inlining.mlir
Labels: mlir:llvm, mlir

#68413 [libc++] Fix complexity guarantee in ranges::clamp
  libcxx/include/__algorithm/ranges_clamp.h
  libcxx/test/std/algorithms/alg.sorting/alg.clamp/ranges.clamp.pass.cpp
Labels: libc++, ranges

#70662 [AArch64][Clang] Refactor code to emit SVE & SME builtins
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/CodeGen/CodeGenFunction.h
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st2-bfloat.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st2.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st3-bfloat.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st3.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st4-bfloat.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st4.c
Labels: clang, clang:codegen

#70942 [mlir][Vector] Add initial support for inlining in the presence of vector ops
  mlir/lib/Dialect/Vector/IR/VectorOps.cpp
  mlir/test/Dialect/Vector/inlining.mlir
Labels: mlir:llvm, mlir:vectorops, mlir, mlir:vector

#70859 [flang][openacc] Fixed bounds for full array sections.
  flang/lib/Lower/DirectivesCommon.h
  flang/test/Lower/OpenACC/acc-enter-data.f90
Labels: flang, flang:fir-hlfir, openacc

#70943 [clang][NFC] Improve locality of recently refactored enums
  clang/include/clang/AST/Decl.h
  clang/include/clang/AST/DeclBase.h
  clang/include/clang/AST/DeclObjC.h
  clang/include/clang/AST/DeclOpenMP.h
  clang/include/clang/AST/Type.h
Labels: clang, clang:frontend, clang:openmp

#70722 [lld] Sort data chunks before code chunks on ARM64EC.
  lld/COFF/Chunks.h
  lld/COFF/Writer.cpp
  lld/test/COFF/arm64ec-codemap.test
Labels: lld, lld:COFF, platform:windows

#70222 [NFC][X86] Reorder the registers to reduce unnecessary iterations
  llvm/include/llvm/CodeGen/LiveVariables.h
  llvm/include/llvm/CodeGen/TargetRegisterInfo.h
  llvm/include/llvm/TableGen/Record.h
  llvm/include/llvm/Target/Target.td
  llvm/lib/CodeGen/LiveVariables.cpp
  llvm/lib/Target/X86/AsmParser/X86Operand.h
  llvm/lib/Target/X86/MCTargetDesc/X86BaseInfo.h
  llvm/lib/Target/X86/MCTargetDesc/X86InstComments.cpp
  llvm/lib/Target/X86/X86RegisterInfo.cpp
  llvm/lib/Target/X86/X86RegisterInfo.h
  llvm/lib/Target/X86/X86RegisterInfo.td
  llvm/test/CodeGen/X86/ipra-reg-usage.ll
  llvm/utils/TableGen/CodeGenRegisters.cpp
Labels: backend:X86, llvm:regalloc

#70357 [RISCV] Add experimental support for making i32 a legal type on RV64 in SelectionDAG.
  llvm/lib/CodeGen/SelectionDAG/LegalizeDAG.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeIntegerTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/Target/RISCV/RISCVGISel.td
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.h
  llvm/lib/Target/RISCV/RISCVInstrInfo.td
  llvm/lib/Target/RISCV/RISCVInstrInfoA.td
  llvm/lib/Target/RISCV/RISCVInstrInfoD.td
  llvm/lib/Target/RISCV/RISCVInstrInfoF.td
  llvm/lib/Target/RISCV/RISCVInstrInfoM.td
  llvm/lib/Target/RISCV/RISCVInstrInfoXTHead.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZb.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZfbfmin.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZfh.td
  llvm/test/CodeGen/RISCV/rv64-legal-i32/alu32.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/div.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/imm.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/mem.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/mem64.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/rem.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/rv64xtheadbb.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/rv64zba.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/rv64zbb-intrinsic.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/rv64zbb-zbkb.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/rv64zbb.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/rv64zbc-intrinsic.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/rv64zbc-zbkc-intrinsic.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/rv64zbkb-intrinsic.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/rv64zbs.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/xaluo.ll
Labels: backend:RISC-V, llvm:SelectionDAG

#70955 [clang][NFC] Rename ArgPassingKind to RecordArgPassingKind
  clang/include/clang/AST/Decl.h
  clang/include/clang/AST/DeclBase.h
  clang/lib/AST/Decl.cpp
  clang/lib/AST/DeclCXX.cpp
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/lib/Serialization/ASTReaderDecl.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DWARFASTParserClang.cpp
Labels: clang, lldb, clang:frontend, clang:modules, clang:codegen

#70237 [llvm][AArch64][Assembly]: Add FDOT2/FDOT4 assembly and disassembly.
  llvm/include/llvm/TargetParser/AArch64TargetParser.h
  llvm/lib/Target/AArch64/AArch64.td
  llvm/lib/Target/AArch64/AArch64InstrFormats.td
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/lib/Target/AArch64/AArch64SVEInstrInfo.td
  llvm/lib/Target/AArch64/AsmParser/AArch64AsmParser.cpp
  llvm/lib/Target/AArch64/SVEInstrFormats.td
  llvm/test/MC/AArch64/FP8/directive-arch-negative.s
  llvm/test/MC/AArch64/FP8/directive-arch.s
  llvm/test/MC/AArch64/FP8/dot-diagnostic.s
  llvm/test/MC/AArch64/FP8/dot.s
  llvm/test/MC/AArch64/FP8_SVE2/fdot-diagnostics.s
  llvm/test/MC/AArch64/FP8_SVE2/fdot.s
  llvm/test/MC/AArch64/SVE2p1/fdot-diagnostics.s
  llvm/unittests/TargetParser/TargetParserTest.cpp
Labels: backend:AArch64, mc

#67734 [llvm] Add comment and assert for CloneModule edge case
  llvm/lib/Transforms/Utils/CloneModule.cpp
Labels: llvm:transforms

#65989 [SPIRV] Add -spirv option to DXC driver
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/Driver.cpp
  clang/test/Driver/dxc_spirv.hlsl
Labels: clang, clang:driver

#70827 [APINotes] Upstream APINotesOptions
  clang/include/clang/APINotes/APINotesOptions.h
  clang/include/clang/Driver/Options.td
  clang/include/clang/Frontend/CompilerInvocation.h
  clang/lib/Frontend/CompilerInvocation.cpp
Labels: clang

#69933 Add Scorecard Action
  .github/workflows/scorecard.yml
  README.md
Labels: github:workflow

#70752 [OpenMP][FIX] Allocate per launch memory for GPU team reductions
  clang/lib/CodeGen/CGOpenMPRuntimeGPU.cpp
  clang/lib/CodeGen/CGOpenMPRuntimeGPU.h
  clang/test/OpenMP/nvptx_teams_reduction_codegen.cpp
  clang/test/OpenMP/target_teams_generic_loop_codegen.cpp
  openmp/libomptarget/DeviceRTL/include/Interface.h
  openmp/libomptarget/DeviceRTL/src/Reduction.cpp
  openmp/libomptarget/include/Environment.h
  openmp/libomptarget/plugins-nextgen/common/PluginInterface/PluginInterface.cpp
  openmp/libomptarget/test/offloading/parallel_target_teams_reduction.cpp
Labels: clang, openmp, backend:AMDGPU, clang:frontend, clang:codegen, mlir:llvm, mlir, flang:openmp, llvm:transforms, clang:openmp, openmp:libomptarget

#70941 AMDGPU/Docs: Add links to instruction descriptions for gfx941, gfx942
  llvm/docs/AMDGPUUsage.rst
Labels: backend:AMDGPU

#70856 [Profile] Refactor profile correlation.
  compiler-rt/lib/profile/InstrProfiling.c
  compiler-rt/lib/profile/InstrProfiling.h
  compiler-rt/lib/profile/InstrProfilingBuffer.c
  compiler-rt/lib/profile/InstrProfilingMerge.c
  compiler-rt/lib/profile/InstrProfilingWriter.c
  compiler-rt/test/profile/Linux/instrprof-show-debug-info-correlation.c
  llvm/include/llvm/ProfileData/InstrProfCorrelator.h
  llvm/include/llvm/ProfileData/InstrProfReader.h
  llvm/lib/ProfileData/InstrProfCorrelator.cpp
  llvm/lib/ProfileData/InstrProfReader.cpp
  llvm/tools/llvm-profdata/llvm-profdata.cpp
Labels: compiler-rt, PGO

#70946 Increase git fetch depth
  .github/workflows/pr-code-format.yml
Labels: github:workflow

#70835 [Attributes][HLSL] Teach EnumArgument to refer to an external enum
  clang-tools-extra/modularize/ModularizeUtilities.cpp
  clang/include/clang/AST/Attr.h
  clang/include/clang/Basic/Attr.td
  clang/lib/CodeGen/CGHLSLRuntime.cpp
  clang/lib/Sema/HLSLExternalSemaSource.cpp
  clang/unittests/Sema/SemaNoloadLookupTest.cpp
  clang/utils/TableGen/ClangAttrEmitter.cpp
Labels: clang, clang:frontend, clang:codegen, HLSL

#70954 [openacc] Update acc.loop to expose data operands
  flang/lib/Lower/OpenACC.cpp
  mlir/include/mlir/Dialect/OpenACC/OpenACC.h
  mlir/include/mlir/Dialect/OpenACC/OpenACCOps.td
  mlir/lib/Dialect/OpenACC/IR/OpenACC.cpp
Labels: mlir, flang, mlir:openacc, flang:fir-hlfir, openacc

#70714 [clang][modules] Don't prevent translation of FW_Private includes when explicitly building FW
  clang/lib/Basic/Module.cpp
  clang/test/ClangScanDeps/modules-priv-fw-from-pub.m
Labels: clang, clang:frontend, clang:modules

#70178 [AArch64,ELF] Restrict MOVZ/MOVK to non-PIC large code model
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/GISel/AArch64InstructionSelector.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/select-blockaddress.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-gv-cmodel-large.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-gv-with-offset.mir
  llvm/test/CodeGen/AArch64/blockaddress.ll
  llvm/test/CodeGen/AArch64/code-model-large-abs.ll
  llvm/test/CodeGen/AArch64/code-model-large.ll
  llvm/test/CodeGen/AArch64/jump-table.ll
Labels: backend:AArch64, llvm:globalisel

#70868 [mlir][sparse] Implement rewriters to reinterpret maps on foreach
  mlir/lib/Dialect/SparseTensor/Transforms/SparseReinterpretMap.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorRewriting.cpp
  mlir/test/Dialect/SparseTensor/sparse_reinterpret_map.mlir
Labels: mlir:affine, mlir:sparse, mlir

#69544 [IPO] Remove unused function getAndUpdateAAFor
  llvm/include/llvm/Transforms/IPO/Attributor.h
Labels: llvm:transforms

#69560 workflows: Unsplit new-prs
  .github/workflows/new-prs.yml
  .github/workflows/pr-receive.yml
Labels: github:workflow

#69748 workflows: Unsplit pr-subscriber
  .github/workflows/pr-receive-label.yml
  .github/workflows/pr-subscriber-wait.py
  .github/workflows/pr-subscriber.yml
Labels: github:workflow

#70960 [AMDGPU] Tweak handling of GlobalAddress operands in SI_PC_ADD_REL_OFFSET
  llvm/lib/Target/AMDGPU/AMDGPULegalizerInfo.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/dropped_debug_info_assert.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/global-value.ll
  llvm/test/CodeGen/AMDGPU/amdgcn-load-offset-from-reg.ll
  llvm/test/CodeGen/AMDGPU/branch-folding-implicit-def-subreg.ll
  llvm/test/CodeGen/AMDGPU/isel-amdgpu-cs-chain-cc.ll
Labels: backend:AMDGPU, llvm:globalisel

#70964 [flang][openacc] Only issue a warning when acc routine func is not found
  flang/lib/Lower/OpenACC.cpp
Labels: flang, flang:fir-hlfir, openacc

#70984 Add minor doc improvements
  mlir/include/mlir/Conversion/Passes.td
  mlir/include/mlir/Dialect/Linalg/Passes.td
  mlir/include/mlir/Dialect/MemRef/Transforms/Passes.td
  mlir/lib/Conversion/FuncToLLVM/FuncToLLVM.cpp
Labels: mlir:linalg, mlir, mlir:memref

#70878 [libc++] Add a %{verify} substitution
  libcxx/test/libcxx/selftest/convenience_substitutions/verify.sh.cpp
  libcxx/utils/libcxx/test/format.py
Labels: libc++

#70031 [AMDGPU] GCNRegPressure printing pass for testing.
  llvm/lib/Target/AMDGPU/AMDGPU.h
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
  llvm/lib/Target/AMDGPU/GCNRegPressure.cpp
  llvm/lib/Target/AMDGPU/GCNRegPressure.h
  llvm/test/CodeGen/AMDGPU/regpressure_printer.mir
Labels: backend:AMDGPU

#70992 [MSVC][ASan] fix interface header
  compiler-rt/include/sanitizer/common_interface_defs.h
Labels: compiler-rt

#70994 [build_symbolizer] Introduce ZLIB_SRC to specify an on-disk location for
  compiler-rt/lib/sanitizer_common/symbolizer/scripts/build_symbolizer.sh
Labels: compiler-rt, compiler-rt:sanitizer

#70987 [amdgpu][openmp] Treat missing TIMESTAMP_FREQUENCY as non-fatal
  libc/utils/gpu/loader/amdgpu/Loader.cpp
  openmp/libomptarget/plugins-nextgen/amdgpu/src/rtl.cpp
Labels: backend:AMDGPU, libc, openmp:libomptarget

#70979 [lldb] [debugserver] Shut down the exception thread when clearing
  lldb/tools/debugserver/source/MacOSX/MachTask.mm
Labels: lldb

#70997 [flang] Support fir.boxchar in getTypeAsString
  flang/lib/Optimizer/Dialect/FIRType.cpp
  flang/unittests/Optimizer/FIRTypesTest.cpp
Labels: flang, flang:fir-hlfir

#70993 [mlir][sparse] Implement rewriters to reinterpret maps on alloc_tenso…
  mlir/lib/Dialect/SparseTensor/Transforms/SparseReinterpretMap.cpp
  mlir/test/Dialect/SparseTensor/sparse_reinterpret_map.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_conversion_block.mlir
Labels: mlir:sparse, mlir

#70293 [mlir] Add support for vector.store sub-byte emulation.
  mlir/lib/Dialect/Vector/Transforms/VectorEmulateNarrowType.cpp
  mlir/test/Dialect/Vector/vector-emulate-narrow-type.mlir
Labels: mlir:vectorops, mlir, mlir:vector

#70889 [mlir][spirv][cf] Check destination block argument types
  mlir/lib/Conversion/ControlFlowToSPIRV/ControlFlowToSPIRV.cpp
  mlir/lib/Conversion/ControlFlowToSPIRV/ControlFlowToSPIRVPass.cpp
  mlir/test/Conversion/ControlFlowToSPIRV/cf-ops-to-spirv.mlir
Labels: mlir:spirv, mlir

#70911 [ELF] adjustOutputSections: don't copy SHF_EXECINSTR when an output does not contain input sections
  lld/ELF/LinkerScript.cpp
  lld/docs/ELF/linker_script.rst
  lld/test/ELF/linkerscript/empty-synthetic-removed-flags.s
  lld/test/ELF/linkerscript/extend-pt-load2.test
  lld/test/ELF/linkerscript/insert-before.test
  lld/test/ELF/linkerscript/lma-align2.test
Labels: lld, lld:ELF

#70973 [Clang] Preserve coroutine parameter referenced state
  clang/lib/Sema/SemaCoroutine.cpp
  clang/test/SemaCXX/warn-unused-parameters-coroutine.cpp
Labels: clang, clang:frontend, coroutines

#70867 [MLIR][NVGPUToNVVM] Remove typed pointer support
  mlir/include/mlir/Conversion/Passes.td
  mlir/lib/Conversion/NVGPUToNVVM/NVGPUToNVVM.cpp
  mlir/test/Conversion/NVGPUToNVVM/nvgpu-to-nvvm.mlir
  mlir/test/Conversion/NVGPUToNVVM/typed-pointers.mlir
Labels: mlir:gpu, mlir

#70909 [MLIR][MemRefToLLVM] Remove typed pointer support
  mlir/include/mlir/Conversion/LLVMCommon/MemRefBuilder.h
  mlir/include/mlir/Conversion/Passes.td
  mlir/include/mlir/Dialect/LLVMIR/FunctionCallUtils.h
  mlir/lib/Conversion/LLVMCommon/MemRefBuilder.cpp
  mlir/lib/Conversion/MemRefToLLVM/MemRefToLLVM.cpp
  mlir/test/Conversion/MemRefToLLVM/convert-alloca-scope.mlir
  mlir/test/Conversion/MemRefToLLVM/convert-dynamic-memref-ops.mlir
  mlir/test/Conversion/MemRefToLLVM/convert-static-memref-ops.mlir
  mlir/test/Conversion/MemRefToLLVM/expand-then-convert-to-llvm.mlir
  mlir/test/Conversion/MemRefToLLVM/generic-functions.mlir
  mlir/test/Conversion/MemRefToLLVM/memref-to-llvm.mlir
  mlir/test/Conversion/MemRefToLLVM/typed-pointers.mlir
Labels: mlir:llvm, mlir

#70927 [clang][analyzer]][NFC] Simplify method 'ensureStreamNonNull' of StreamChecker
  clang/lib/StaticAnalyzer/Checkers/StreamChecker.cpp
Labels: clang, clang:static analyzer

#71011 [libc++] Fix another potentially flaky atomic test.
  libcxx/test/std/atomics/atomics.types.operations/atomics.types.operations.wait/atomic_notify_all.pass.cpp
Labels: libc++

#70991 [clang-repl] [test] Make an XFAIL more precise
  clang/test/Interpreter/const.cpp
Labels: clang

#71012 [AMDGPU] Remove dom tree requirements from SIWholeQuadMode pass
  llvm/lib/Target/AMDGPU/SIWholeQuadMode.cpp
  llvm/test/CodeGen/AMDGPU/llc-pipeline.ll
Labels: backend:AMDGPU

#69555 [C++20] [Modules] Warn if we found #include <filename> in module purview
  clang/include/clang/Basic/DiagnosticLexKinds.td
  clang/lib/Lex/PPDirectives.cpp
  clang/test/Preprocessor/include-in-module-purview.cppm
Labels: clang, clang:frontend, clang:modules

#70838 [mlir][ArmSME] Add mask operand to store_tile_slice
  mlir/include/mlir/Dialect/ArmSME/IR/ArmSMEOps.td
  mlir/lib/Conversion/ArmSMEToSCF/ArmSMEToSCF.cpp
  mlir/lib/Dialect/ArmSME/Transforms/LegalizeForLLVMExport.cpp
  mlir/test/Conversion/ArmSMEToSCF/arm-sme-to-scf.mlir
  mlir/test/Dialect/ArmSME/arm-sme-to-llvm.mlir
  mlir/test/Dialect/ArmSME/invalid.mlir
  mlir/test/Dialect/ArmSME/roundtrip.mlir
Labels: mlir, mlir:sme

#70920 [mlir][ArmSME] Provide descriptions and summaries for types
  mlir/docs/Dialects/ArmSME.md
  mlir/include/mlir/Dialect/ArmSME/IR/ArmSME.td
  mlir/include/mlir/Dialect/ArmSME/IR/ArmSMEOps.td
  mlir/test/Dialect/ArmSME/invalid.mlir
Labels: mlir, mlir:sme

#71028 [MLIR][SCFToOpenMP] Remove typed pointer support
  mlir/include/mlir/Conversion/Passes.td
  mlir/lib/Conversion/SCFToOpenMP/SCFToOpenMP.cpp
  mlir/test/Conversion/SCFToOpenMP/reductions.mlir
  mlir/test/Conversion/SCFToOpenMP/scf-to-openmp.mlir
  mlir/test/Conversion/SCFToOpenMP/typed-pointers.mlir
Labels: mlir, mlir:openmp, flang:openmp

#70540 [clang][analyzer] Restrict 'fopen' & 'tmpfile' modeling to POSIX versions in StreamChecker
  clang/lib/StaticAnalyzer/Checkers/StreamChecker.cpp
  clang/test/Analysis/stream-non-posix-function.c
Labels: clang, clang:static analyzer, clang:dataflow

#68293 [AMDGPU] Detect kills in register sets when trying to form V_CMPX instructions.
  llvm/lib/Target/AMDGPU/SIOptimizeExecMasking.cpp
  llvm/test/CodeGen/AMDGPU/vcmp-saveexec-to-vcmpx-set-kill.mir
Labels: backend:AMDGPU

#70804 [AMDGPU] - Add s_quadmask intrinsics
  llvm/include/llvm/IR/IntrinsicsAMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPURegisterBankInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/SOPInstructions.td
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.quadmask.ll
Labels: backend:AMDGPU, llvm:ir

#70937 [LoopVectorize] Fix bug with code to hoist runtime checks
  llvm/lib/Transforms/Utils/LoopUtils.cpp
  llvm/test/Transforms/LoopVectorize/ARM/mve-hoist-runtime-checks.ll
Labels: llvm:transforms

#70352 [AMDGPU] Implement moveToVALU for S_CSELECT_B64
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/test/CodeGen/AMDGPU/bug-cselect-b64.ll
  llvm/test/CodeGen/AMDGPU/fix-sgpr-copies.mir
Labels: backend:AMDGPU

#70814 [mlir][ArmSME] Propagate pad and mask in vector.transfer_read lowering
  mlir/lib/Conversion/VectorToArmSME/VectorToArmSME.cpp
  mlir/test/Dialect/ArmSME/vector-ops-to-sme.mlir
Labels: mlir, mlir:sme

#70914 [lldb][AArch64] Simplify handing of scalable registers using vg and svg
  lldb/source/Plugins/Process/gdb-remote/GDBRemoteRegisterContext.cpp
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.cpp
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.h
Labels: lldb

#70957 [mlir][Bufferization] Add support for controlled bufferization of alloc_tensor
  mlir/include/mlir/Dialect/Linalg/Transforms/Transforms.h
  mlir/lib/Dialect/Linalg/Transforms/ConvertToDestinationStyle.cpp
  mlir/test/Dialect/Bufferization/Transforms/transform-ops.mlir
Labels: mlir:linalg, mlir:vectorops, mlir, mlir:bufferization, mlir:vector

#70235 [AMDGPU] New ttracedata intrinsics
  llvm/include/llvm/IR/IntrinsicsAMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPURegisterBankInfo.cpp
  llvm/lib/Target/AMDGPU/SOPInstructions.td
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.s.ttracedata.ll
Labels: backend:AMDGPU, llvm:ir

#70781 [Flang][OpenMP] Port openmp task tests to HLFIR flow
  flang/test/Lower/OpenMP/task.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#70782 [Flang][OpenMP] Port openmp default clause tests to HLFIR flow
  flang/test/Lower/OpenMP/default-clause.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#70783 [Flang][OpenMP] Port openmp private clause tests to HLFIR flow
  flang/test/Lower/OpenMP/parallel-private-clause.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#69100 [lld] Align EC code region boundaries.
  lld/COFF/Writer.cpp
  lld/test/COFF/arm64ec-codemap.test
Labels: lld, lld:COFF, platform:windows

#71006 [NFC][clang-tidy]refactor isAssignmentToMemberOf in PreferMemberInitializerCheck
  clang-tools-extra/clang-tidy/cppcoreguidelines/PreferMemberInitializerCheck.cpp
Labels: clang-tidy

#70632 [clang] Remove diagnostic that came with `[[clang::preferred_type]]`
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaDeclAttr.cpp
Labels: clang, clang:frontend, clang:diagnostics

#70975 Revert "Revert "[APINotes] Upstream APINotesOptions""
  clang/include/clang/APINotes/APINotesOptions.h
  clang/include/clang/Driver/Options.td
  clang/include/clang/Frontend/CompilerInvocation.h
  clang/lib/Frontend/CompilerInvocation.cpp
Labels: clang

#70368 [ELF] Define NOMINMAX to fix zlib.h caused build failure on Windows
  lld/ELF/OutputSections.cpp
Labels: lld, lld:ELF

#71051 [Flang][OpenMP] Support unstructured code in target data
  flang/lib/Lower/OpenMP.cpp
  flang/test/Lower/OpenMP/target.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#71060 [DFAJumpThreading] Don't thread switch without multiple successors
  llvm/lib/Transforms/Scalar/DFAJumpThreading.cpp
  llvm/test/Transforms/DFAJumpThreading/single_succ_switch.ll
Labels: llvm:transforms

#70504 [ARM] Fix for undef elements from demanded elements
  llvm/lib/Target/ARM/ARMTargetTransformInfo.cpp
  llvm/test/Transforms/InstCombine/ARM/mve-narrow.ll
Labels: backend:ARM, llvm:transforms

#71043 [Flang][OpenMP] Port openmp threadprivate-use-association.f90 test to HLFIR flow
  flang/test/Lower/OpenMP/threadprivate-use-association.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#70555 [ConstraintElim] Add missing check to make sure the bound is loop-invariant
  llvm/lib/Transforms/Scalar/ConstraintElimination.cpp
  llvm/test/Transforms/ConstraintElimination/pr70510.ll
Labels: llvm:transforms

#70959 [AArch64][Clang] Refactor code to emit SVE & SME builtins
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/CodeGen/CodeGenFunction.h
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st2-bfloat.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st2.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st3-bfloat.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st3.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st4-bfloat.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st4.c
  clang/test/CodeGen/aarch64-sve2p1-intrinsics/acle_sve2p1_st1.c
  clang/test/CodeGen/aarch64-sve2p1-intrinsics/acle_sve2p1_stnt1.c
Labels: clang, clang:codegen

#70978 [clang] Separate bit-field padding diagnostics into -Wpadded-bitfield
  clang/include/clang/Basic/DiagnosticASTKinds.td
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/lib/AST/RecordLayoutBuilder.cpp
  clang/test/CodeGenCXX/warn-all-padded-packed-packed-non-pod.cpp
  clang/test/CodeGenCXX/warn-padded-bitfields.cpp
Labels: clang, clang:frontend

#71055 LegalizeIntegerTypes: implement PromoteIntRes for xrint
  llvm/lib/CodeGen/SelectionDAG/LegalizeIntegerTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeTypes.h
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-llrint.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-lrint.ll
Labels: llvm:SelectionDAG

#70934 [lldb][AArch64] Read SME2's ZT0 register from Linux core files
  lldb/source/Plugins/Process/elf-core/RegisterContextPOSIXCore_arm64.cpp
  lldb/source/Plugins/Process/elf-core/RegisterContextPOSIXCore_arm64.h
  lldb/test/API/linux/aarch64/sme_core_file/TestAArch64LinuxSMECoreFile.py
  lldb/test/API/linux/aarch64/sme_core_file/core_0_16_32_1
  lldb/test/API/linux/aarch64/sme_core_file/core_0_32_16_0
  lldb/test/API/linux/aarch64/sme_core_file/core_1_16_32_0
  lldb/test/API/linux/aarch64/sme_core_file/core_1_32_16_1
  lldb/test/API/linux/aarch64/sme_core_file/generate.sh
  lldb/test/API/linux/aarch64/sme_core_file/main.c
Labels: lldb

#70989 [mlir][sparse] simplify some header code
  mlir/include/mlir/Dialect/SparseTensor/IR/SparseTensor.h
  mlir/include/mlir/Dialect/SparseTensor/IR/SparseTensorAttrDefs.td
  mlir/include/mlir/Dialect/SparseTensor/IR/SparseTensorType.h
  mlir/lib/Dialect/SparseTensor/IR/SparseTensorDialect.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/CodegenUtils.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/CodegenUtils.h
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorCodegen.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorConversion.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorRewriting.cpp
Labels: mlir:sparse, mlir

#68986 [DebugMetadata][DwarfDebug] Clone uniqued function-local types after metadata loading
  clang/test/CodeGen/debug-info-codeview-unnamed.c
  clang/test/CodeGen/debug-info-unused-types.c
  clang/test/CodeGen/debug-info-unused-types.cpp
  clang/test/CodeGenCXX/debug-info-access.cpp
  clang/test/CodeGenCXX/debug-info-anon-union-vars.cpp
  clang/test/CodeGenCXX/debug-info-codeview-unnamed.cpp
  clang/test/CodeGenCXX/debug-info-gline-tables-only-codeview.cpp
  clang/test/CodeGenCXX/debug-lambda-this.cpp
  llvm/include/llvm/IR/DIBuilder.h
  llvm/include/llvm/IR/DebugInfo.h
  llvm/lib/Bitcode/Reader/MetadataLoader.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfCompileUnit.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfCompileUnit.h
  llvm/lib/CodeGen/AsmPrinter/DwarfDebug.cpp
  llvm/lib/IR/DIBuilder.cpp
  llvm/lib/IR/DebugInfo.cpp
  llvm/lib/IR/Verifier.cpp
  llvm/lib/Transforms/Utils/CloneFunction.cpp
  llvm/test/Bitcode/clone-local-types.ll
  llvm/test/Bitcode/upgrade-cu-locals.ll
  llvm/test/Bitcode/upgrade-cu-locals.ll.bc
  llvm/test/DebugInfo/Generic/inlined-local-type.ll
  llvm/test/DebugInfo/Generic/lexical-block-retained-types.ll
  llvm/test/DebugInfo/Generic/lexical-block-types.ll
  llvm/test/DebugInfo/Generic/verifier-invalid-disubprogram.ll
  llvm/test/DebugInfo/X86/local-type-as-template-parameter.ll
  llvm/test/DebugInfo/X86/set.ll
  llvm/test/DebugInfo/X86/split-dwarf-local-import.ll
  llvm/test/DebugInfo/X86/split-dwarf-local-import2.ll
  llvm/test/DebugInfo/X86/split-dwarf-local-import3.ll
  llvm/unittests/Transforms/Utils/CloningTest.cpp
Labels: clang, debuginfo, llvm:ir, llvm:transforms

#70517 [tsan] Increase size of shadow mappings for C/C++ on linux/x86_64
  compiler-rt/lib/tsan/rtl/tsan_platform.h
Labels: compiler-rt, compiler-rt:sanitizer

#70349 [clang][NFC] Annotate `Type` bit-fields with `clang::preferred_type`
  clang/include/clang/AST/Type.h
  llvm/include/llvm/Support/Compiler.h
Labels: clang, clang:frontend, llvm:support

#71049 [clang][NFC] Refactor `clang::Linkage`
  clang-tools-extra/clang-doc/Serialize.cpp
  clang-tools-extra/clangd/Quality.cpp
  clang-tools-extra/clangd/SemanticHighlighting.cpp
  clang/include/clang/AST/DeclBase.h
  clang/include/clang/AST/Type.h
  clang/include/clang/Basic/Linkage.h
  clang/include/clang/Basic/Visibility.h
  clang/lib/AST/APValue.cpp
  clang/lib/AST/Decl.cpp
  clang/lib/AST/ItaniumMangle.cpp
  clang/lib/AST/MicrosoftMangle.cpp
  clang/lib/AST/Type.cpp
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/CodeGen/ItaniumCXXABI.cpp
  clang/lib/CodeGen/MicrosoftCXXABI.cpp
  clang/lib/Index/IndexSymbol.cpp
  clang/lib/Sema/SemaChecking.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaModule.cpp
  clang/lib/Sema/SemaOverload.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Serialization/ASTReaderDecl.cpp
  clang/lib/Serialization/ASTWriterDecl.cpp
  clang/tools/clang-extdef-mapping/ClangExtDefMapGen.cpp
  clang/tools/libclang/CIndex.cpp
  clang/tools/libclang/CXIndexDataConsumer.cpp
  clang/unittests/AST/DeclTest.cpp
Labels: clang, clangd, clang:frontend, clang:modules, clang:codegen

#70802 [llvm][AArch64][Assembly]: Add LUT assembly/disassembly.
  llvm/include/llvm/TargetParser/AArch64TargetParser.h
  llvm/lib/Target/AArch64/AArch64.td
  llvm/lib/Target/AArch64/AArch64InstrFormats.td
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/lib/Target/AArch64/AArch64RegisterInfo.td
  llvm/lib/Target/AArch64/AArch64SMEInstrInfo.td
  llvm/lib/Target/AArch64/AArch64SVEInstrInfo.td
  llvm/lib/Target/AArch64/AsmParser/AArch64AsmParser.cpp
  llvm/lib/Target/AArch64/MCTargetDesc/AArch64InstPrinter.cpp
  llvm/lib/Target/AArch64/SMEInstrFormats.td
  llvm/lib/Target/AArch64/SVEInstrFormats.td
  llvm/test/MC/AArch64/FP8/directive-arch-negative.s
  llvm/test/MC/AArch64/FP8/directive-arch.s
  llvm/test/MC/AArch64/FP8/luti2-diagnostics.s
  llvm/test/MC/AArch64/FP8/luti2.s
  llvm/test/MC/AArch64/FP8/luti4-diagnostics.s
  llvm/test/MC/AArch64/FP8/luti4.s
  llvm/test/MC/AArch64/FP8_SME2/lut-diagnostics.s
  llvm/test/MC/AArch64/FP8_SME2/lut.s
  llvm/test/MC/AArch64/FP8_SME2/movt-diagnostics.s
  llvm/test/MC/AArch64/FP8_SME2/movt.s
  llvm/test/MC/AArch64/FP8_SVE2/luti2-diagnostics.s
  llvm/test/MC/AArch64/FP8_SVE2/luti2.s
  llvm/test/MC/AArch64/FP8_SVE2/luti4-diagnostics.s
  llvm/test/MC/AArch64/FP8_SVE2/luti4.s
  llvm/unittests/TargetParser/TargetParserTest.cpp
Labels: backend:AArch64, mc

#71041 [mlir][Linalg] Fix Linalg behavior in the context of vector elemental…
  mlir/include/mlir/Dialect/Linalg/IR/LinalgInterfaces.td
  mlir/lib/Dialect/Linalg/IR/LinalgInterfaces.cpp
  mlir/lib/Dialect/Linalg/IR/LinalgOps.cpp
  mlir/test/Dialect/Linalg/generalize-named-ops.mlir
  mlir/test/Dialect/Linalg/named-ops.mlir
Labels: mlir:linalg, mlir

#71081 [lldb][docs] Update reference to test directory location
  lldb/docs/resources/test.rst
Labels: lldb

#71085 [mlir][sparse] Cleanup sparse_tensor::LvlOp's folder
  mlir/lib/Dialect/SparseTensor/IR/SparseTensorDialect.cpp
Labels: mlir:sparse, mlir

#71000 [lldb][split-dwarf] Add --errors-only argument separate-debug-info list
  lldb/include/lldb/Symbol/SymbolFile.h
  lldb/source/Commands/CommandObjectTarget.cpp
  lldb/source/Commands/Options.td
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.cpp
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.h
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARFDebugMap.cpp
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARFDebugMap.h
  lldb/test/API/commands/target/dump-separate-debug-info/dwo/TestDumpDwo.py
  lldb/test/API/commands/target/dump-separate-debug-info/oso/TestDumpOso.py
Labels: lldb

#70972 [mlir][tosa] Add verifier for tosa.tile, fix shape inference crash
  mlir/include/mlir/Dialect/Tosa/IR/TosaOps.td
  mlir/lib/Dialect/Tosa/IR/TosaOps.cpp
  mlir/test/Dialect/Tosa/canonicalize.mlir
  mlir/test/Dialect/Tosa/invalid.mlir
Labels: mlir, mlir:tosa

#71088 [instcombine] Drop zext nneg flag when simplify operand
  llvm/lib/Transforms/InstCombine/InstCombineSimplifyDemanded.cpp
  llvm/test/Transforms/InstCombine/zext.ll
Labels: llvm:transforms

#71091 AMDGPU/Docs: Memory model updates for GFX940, GFX941, GFX942
  llvm/docs/AMDGPUUsage.rst
Labels: backend:AMDGPU

#70501 [CodeLayout] Pre-process execution counts before layout
  llvm/lib/Transforms/Utils/CodeLayout.cpp
Labels: llvm:transforms

#71090 [mlir][sparse] cleanup of enums header
  mlir/include/mlir/Dialect/SparseTensor/IR/Enums.h
  mlir/include/mlir/Dialect/SparseTensor/IR/SparseTensor.h
  mlir/include/mlir/Dialect/SparseTensor/IR/SparseTensorAttrDefs.td
  mlir/lib/Dialect/SparseTensor/IR/SparseTensorDialect.cpp
Labels: mlir:sparse, mlir

#71092 [libc] Allow hermetic timing if the `clock` function is built
  libc/cmake/modules/LLVMLibCTestRules.cmake
  libc/test/UnitTest/CMakeLists.txt
  libc/test/UnitTest/LibcTest.cpp
Labels: libc

#71066 Revert "[CaptureTracking] Ignore ephemeral values when determining po…
  llvm/include/llvm/Analysis/AliasAnalysis.h
  llvm/include/llvm/Analysis/CaptureTracking.h
  llvm/lib/Analysis/BasicAliasAnalysis.cpp
  llvm/lib/Analysis/CaptureTracking.cpp
  llvm/lib/Transforms/Scalar/DeadStoreElimination.cpp
  llvm/test/Transforms/DeadStoreElimination/assume.ll
Labels: llvm:analysis, llvm:transforms

#71076 [MLIR][LLVM] Remove last remants of use-opaque-pointers from tests
  mlir/test/Conversion/FuncToLLVM/convert-data-layout.mlir
  mlir/test/Dialect/Linalg/roundtrip.mlir
  mlir/test/Integration/GPU/CUDA/sm90/tma_load_64x8_8x128_noswizzle.mlir
Labels: mlir:linalg, mlir:gpu, mlir

#70834 [X86][SDAG] Improve the lowering of `s|uitofp i8|i16 to half`
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/fold-int-pow2-with-fmul-or-fdiv.ll
  llvm/test/CodeGen/X86/select-narrow-int-to-fp.ll
Labels: backend:X86

#70407 [Fuzzer] Enable custom libc++ for Android
  compiler-rt/cmake/Modules/AddCompilerRT.cmake
  compiler-rt/lib/fuzzer/CMakeLists.txt
Labels: compiler-rt, platform:android, compiler-rt:sanitizer

#70768 [clang-format] Treat empty for/while loops as short loops
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/unittests/Format/FormatTest.cpp
Labels: clang-format

#70382 [RISCV] Implement cross basic block VXRM write insertion.
  llvm/lib/Target/RISCV/CMakeLists.txt
  llvm/lib/Target/RISCV/RISCV.h
  llvm/lib/Target/RISCV/RISCVInsertReadWriteCSR.cpp
  llvm/lib/Target/RISCV/RISCVInsertWriteVXRM.cpp
  llvm/lib/Target/RISCV/RISCVTargetMachine.cpp
  llvm/test/CodeGen/RISCV/O0-pipeline.ll
  llvm/test/CodeGen/RISCV/O3-pipeline.ll
  llvm/test/CodeGen/RISCV/rvv/vxrm-insert.ll
Labels: backend:RISC-V

#71114 [mlir][sparse] support sparse constant to BSR conversion.
  mlir/lib/Dialect/SparseTensor/IR/SparseTensorDialect.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/CodegenUtils.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorRewriting.cpp
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_conversion_block.mlir
Labels: mlir:sparse, mlir

#71108 [flang][openacc] Set extent to 0 when it is undefined
  flang/lib/Lower/DirectivesCommon.h
  flang/test/Lower/OpenACC/acc-bounds.f90
Labels: flang, flang:fir-hlfir, openacc

#71016 [libc++][hardening] Clean up some legacy debug mode tests:
  libcxx/test/libcxx/algorithms/debug_less.inconsistent.pass.cpp
  libcxx/test/libcxx/algorithms/debug_less.pass.cpp
  libcxx/test/libcxx/algorithms/debug_three_way_comp.inconsistent.pass.cpp
  libcxx/test/libcxx/debug/containers/associative_containers.pass.cpp
  libcxx/test/libcxx/debug/extern-templates.sh.cpp
  libcxx/test/libcxx/utilities/utility/mem.res/mem.poly.allocator.class/mem.poly.allocator.mem/debug.deallocate.pass.cpp
  libcxx/utils/data/ignore_format.txt
  libcxx/utils/libcxx/test/features.py
Labels: libc++

#71087 [lldb][windows] Allow exporting plugin symbols in LLDB_EXPORT_ALL_SYMBOLS
  lldb/cmake/modules/LLDBConfig.cmake
  lldb/source/API/CMakeLists.txt
Labels: lldb

#69975 [clang][deps] Skip slow `UNHASHED_CONTROL_BLOCK` records
  clang/include/clang/Driver/Options.td
  clang/include/clang/Lex/HeaderSearchOptions.h
  clang/lib/Frontend/FrontendActions.cpp
  clang/lib/Serialization/ASTWriter.cpp
  clang/lib/Tooling/DependencyScanning/DependencyScanningWorker.cpp
  clang/test/Modules/diagnostic-options-mismatch.c
  clang/test/Modules/header-search-paths-mismatch.c
Labels: clang, clang:frontend, clang:modules

#70766 [OpenMP] Team reduction work specialization
  openmp/libomptarget/DeviceRTL/src/Reduction.cpp
Labels: clang, backend:AMDGPU, clang:frontend, clang:codegen, flang:openmp, llvm:transforms, clang:openmp, openmp:libomptarget

#70983 [OpenMP] Simplify parallel reductions
  openmp/libomptarget/DeviceRTL/src/Reduction.cpp
  openmp/libomptarget/test/offloading/generic_reduction.c
Labels: openmp, openmp:libomptarget

#71101 [flang][openmp] Fix `not yet implemented intrinsic` message for omp_lib
  flang/lib/Lower/ConvertExpr.cpp
  flang/test/Lower/OpenMP/omp-lib-num-threads.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#71125 [mlir][sparse] remove (some) deprecated dim/lvl methods
  mlir/include/mlir/Dialect/SparseTensor/IR/SparseTensor.h
  mlir/lib/Dialect/SparseTensor/IR/SparseTensorDialect.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorCodegen.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorRewriting.cpp
Labels: mlir:sparse, mlir

#71022 CodeGen: Port ExpandLargeDivRem to new pass manager
  llvm/include/llvm/CodeGen/ExpandLargeDivRem.h
  llvm/lib/CodeGen/ExpandLargeDivRem.cpp
  llvm/lib/Passes/PassBuilder.cpp
  llvm/lib/Passes/PassRegistry.def
  llvm/test/Transforms/ExpandLargeDivRem/X86/sdiv129.ll
  llvm/test/Transforms/ExpandLargeDivRem/X86/srem129.ll
  llvm/test/Transforms/ExpandLargeDivRem/X86/udiv129.ll
  llvm/test/Transforms/ExpandLargeDivRem/X86/urem129.ll
Labels: llvm:transforms

#69854 [AMDGPU] Add documentation for scheduler intrinsics
  llvm/docs/AMDGPUUsage.rst
Labels: backend:AMDGPU

#71118 [GISel] Remove remainder of the concept of an invalid RegisterBank.
  llvm/include/llvm/CodeGen/RegisterBank.h
  llvm/lib/CodeGen/RegisterBank.cpp
  llvm/lib/CodeGen/RegisterBankInfo.cpp
Labels: llvm:regalloc

#69680 [AArch64] Only clear kill flags if necessary when merging str
  llvm/lib/Target/AArch64/AArch64LoadStoreOptimizer.cpp
  llvm/test/CodeGen/AArch64/irg-nomem.mir
  llvm/test/CodeGen/AArch64/ldrpre-ldr-merge.mir
  llvm/test/CodeGen/AArch64/ldst-opt-aa.mir
  llvm/test/CodeGen/AArch64/stp-opt-with-renaming-debug.mir
  llvm/test/CodeGen/AArch64/sve-fixed-length-fp128.ll
  llvm/test/tools/UpdateTestChecks/update_llc_test_checks/Inputs/aarch64_generated_funcs.ll.generated.expected
Labels: backend:AArch64

#69795 Improvements to RS4GC BDV Algorithm
  llvm/lib/Transforms/Scalar/RewriteStatepointsForGC.cpp
  llvm/test/Transforms/RewriteStatepointsForGC/base-vector.ll
  llvm/test/Transforms/RewriteStatepointsForGC/constants.ll
  llvm/test/Transforms/RewriteStatepointsForGC/insert-extract.ll
  llvm/test/Transforms/RewriteStatepointsForGC/vector-bitcast.ll
Labels: llvm:transforms

#71105 [GISel] Remove BitVector from RegBank. Use tablegen CoverageData tables directly. NFC
  llvm/include/llvm/CodeGen/RegisterBank.h
  llvm/lib/CodeGen/RegisterBank.cpp
Labels: llvm:regalloc

#71083 [mlir][attrtypedef] Sort by def order in file.
  mlir/test/mlir-tblgen/attrdefs.td
  mlir/tools/mlir-tblgen/AttrOrTypeDefGen.cpp
Labels: mlir:core, mlir

#71109 [GISel] Make RegBank constructor constexpr. NFC
  llvm/include/llvm/CodeGen/RegisterBank.h
  llvm/utils/TableGen/RegisterBankEmitter.cpp
Labels: llvm:regalloc

#70542 [SimplifyCFG] Delete the unnecessary range check for small mask operation
  llvm/lib/Transforms/Utils/SimplifyCFG.cpp
  llvm/test/Transforms/SimplifyCFG/switch_mask.ll
Labels: llvm:transforms
