Repository llvm/llvm-project, pull requests merged in 2024-04, with the labels that each got.

#86614 [AMDGPU] Expose RTZ version of f16 interpolation
  llvm/include/llvm/IR/IntrinsicsAMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPURegisterBankInfo.cpp
  llvm/lib/Target/AMDGPU/VINTERPInstructions.td
  llvm/test/CodeGen/AMDGPU/GlobalISel/llvm.amdgcn.interp.inreg.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.interp.inreg.ll
Labels: backend:AMDGPU, llvm:globalisel, llvm:ir

#86994 [msan] Nit: use init_origins parameter instead of __msan_get_track_origins() in InitShadowWithReExec
  compiler-rt/lib/msan/msan_linux.cpp
Labels: compiler-rt, compiler-rt:msan, compiler-rt:sanitizer

#82071 Revert "Make two texts static in `ReplayInlineAdvisor`"
  llvm/lib/Analysis/ReplayInlineAdvisor.cpp
Labels: llvm:analysis

#84850 [IR] Introduce `llvm.allow.{runtime,ubsan}.check()`
  llvm/docs/LangRef.rst
  llvm/include/llvm/IR/Intrinsics.td
Labels: llvm:SelectionDAG, llvm:ir

#87213 [clang-tidy] Fix buffer overflow in compareHeaders
  clang-tools-extra/clang-tidy/utils/IncludeSorter.cpp
Labels: clang-tools-extra, clang-tidy

#86049 [CodeGen] Add default lowering for llvm.allow.{runtime,ubsan}.check()
  llvm/lib/CodeGen/CodeGenPrepare.cpp
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/lib/CodeGen/IntrinsicLowering.cpp
  llvm/lib/CodeGen/SelectionDAG/FastISel.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/test/CodeGen/AArch64/allow-check.ll
  llvm/test/CodeGen/AMDGPU/allow-check.ll
  llvm/test/CodeGen/Generic/allow-check.ll
  llvm/test/CodeGen/RISCV/allow-check.ll
  llvm/test/CodeGen/X86/allow-check.ll
Labels: backend:AArch64, backend:AMDGPU, backend:X86, llvm:globalisel, llvm:SelectionDAG

#86064 [CostModel] No cost for llvm.allow.{runtime,ubsan}.check()
  llvm/include/llvm/Analysis/TargetTransformInfoImpl.h
  llvm/test/Analysis/CostModel/free-intrinsics-datalayout.ll
  llvm/test/Analysis/CostModel/free-intrinsics-no_info.ll
Labels: llvm:analysis

#86766 [AMDGPU] Use glue for convergence tokens at call-like operations
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/lib/Target/AMDGPU/SIInstructions.td
  llvm/test/CodeGen/AMDGPU/convergence-tokens.ll
  llvm/test/CodeGen/AMDGPU/isel-amdgpu-cs-chain-cc.ll
  llvm/test/CodeGen/AMDGPU/kernel-vgpr-spill-mubuf-with-voffset.ll
  llvm/test/CodeGen/AMDGPU/need-fp-from-vgpr-spills.ll
  llvm/test/CodeGen/AMDGPU/no-source-locations-in-prologue.ll
  llvm/test/CodeGen/AMDGPU/sgpr-spills-split-regalloc.ll
  llvm/test/CodeGen/AMDGPU/stacksave_stackrestore.ll
  llvm/test/CodeGen/AMDGPU/vgpr-liverange-ir.ll
  llvm/test/CodeGen/AMDGPU/vgpr_constant_to_sgpr.ll
  llvm/test/CodeGen/AMDGPU/whole-wave-register-spill.ll
  llvm/test/CodeGen/AMDGPU/wwm-reserved-spill.ll
  llvm/test/CodeGen/AMDGPU/wwm-reserved.ll
Labels: backend:AMDGPU, llvm:SelectionDAG

#86065 [Analysis] Exclude llvm.allow.{runtime,ubsan}.check() from AliasSetTracker
  llvm/lib/Analysis/AliasSetTracker.cpp
  llvm/test/Analysis/AliasSet/intrinsics.ll
Labels: llvm:globalisel, llvm:analysis

#86066 [memoryssa] Exclude llvm.allow.{runtime,ubsan}.check()
  llvm/lib/Analysis/MemorySSA.cpp
  llvm/test/Analysis/MemorySSA/allow-check.ll
Labels: llvm:analysis

#86480 Recommit "[RISCV] Refine cost on Min/Max reduction (#79402)"
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/RISCV/reduce-max.ll
  llvm/test/Analysis/CostModel/RISCV/reduce-min.ll
  llvm/test/Analysis/CostModel/RISCV/reduce-scalable-fp.ll
  llvm/test/Analysis/CostModel/RISCV/reduce-scalable-int.ll
Labels: backend:RISC-V, llvm:analysis

#85206 [libc++] Refactor __tuple_like and __pair_like
  libcxx/include/CMakeLists.txt
  libcxx/include/__algorithm/mismatch.h
  libcxx/include/__memory/uses_allocator_construction.h
  libcxx/include/__memory_resource/polymorphic_allocator.h
  libcxx/include/__ranges/subrange.h
  libcxx/include/__tuple/pair_like.h
  libcxx/include/__tuple/tuple_like.h
  libcxx/include/__tuple/tuple_like_no_subrange.h
  libcxx/include/__utility/pair.h
  libcxx/include/libcxx.imp
  libcxx/include/module.modulemap
  libcxx/include/variant
  libcxx/test/libcxx/utilities/tuple/__tuple_like.compile.pass.cpp
  libcxx/test/std/ranges/range.adaptors/range.elements/range.concept.compile.pass.cpp
Labels: libc++

#84851 [InstCombiner] Remove trivially dead `llvm.allow.{runtime,ubsan}.check()`
  llvm/lib/Transforms/Utils/Local.cpp
  llvm/test/Transforms/InstCombine/allow-checks.ll
Labels: clang, clang:codegen, llvm:transforms

#87081 [mlir][math] Expand powfI operation for constant power operand.
  mlir/include/mlir/Dialect/Math/Transforms/Passes.h
  mlir/lib/Dialect/Math/Transforms/ExpandPatterns.cpp
  mlir/test/Dialect/Math/expand-math.mlir
  mlir/test/lib/Dialect/Math/TestExpandMath.cpp
Labels: mlir, mlir:math

#86129 [clang-tidy] add new check readability-enum-initial-value
  clang-tools-extra/clang-tidy/readability/CMakeLists.txt
  clang-tools-extra/clang-tidy/readability/EnumInitialValueCheck.cpp
  clang-tools-extra/clang-tidy/readability/EnumInitialValueCheck.h
  clang-tools-extra/clang-tidy/readability/ReadabilityTidyModule.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/list.rst
  clang-tools-extra/docs/clang-tidy/checks/readability/enum-initial-value.rst
  clang-tools-extra/test/clang-tidy/checkers/readability/enum-initial-value.c
  clang-tools-extra/test/clang-tidy/checkers/readability/enum-initial-value.cpp
Labels: clang-tools-extra, clang-tidy

#87030 [CodeGen] Fix register pressure computation in MachinePipeliner
  llvm/lib/CodeGen/MachinePipeliner.cpp
  llvm/test/CodeGen/AArch64/sms-regpress.mir
  llvm/test/CodeGen/PowerPC/sms-regpress.mir
Labels: llvm:codegen

#86152 [MLIR][Arith] Add rounding mode attribute to `truncf`
  mlir/include/mlir/Conversion/ArithCommon/AttrToLLVMConverter.h
  mlir/include/mlir/Dialect/Arith/IR/ArithBase.td
  mlir/include/mlir/Dialect/Arith/IR/ArithOps.td
  mlir/include/mlir/Dialect/Arith/IR/ArithOpsInterfaces.td
  mlir/lib/Conversion/ArithCommon/AttrToLLVMConverter.cpp
  mlir/lib/Conversion/ArithToAMDGPU/ArithToAMDGPU.cpp
  mlir/lib/Conversion/ArithToLLVM/ArithToLLVM.cpp
  mlir/lib/Conversion/ArithToSPIRV/ArithToSPIRV.cpp
  mlir/lib/Dialect/Arith/IR/ArithOps.cpp
  mlir/lib/Dialect/Arith/Transforms/ExpandOps.cpp
  mlir/test/Conversion/ArithToLLVM/arith-to-llvm.mlir
  mlir/test/Dialect/Arith/canonicalize.mlir
  mlir/test/Dialect/Arith/ops.mlir
Labels: backend:AMDGPU, mlir:gpu, mlir:spirv, mlir, mlir:arith

#86781 [Flang] Relaxing an error when contiguous pointer is assigned to a non-contig…
  flang/lib/Semantics/pointer-assignment.cpp
Labels: flang, flang:semantics

#86454 [RISCV] ReadStoreData is read later in the pipeline for SiFive7
  llvm/lib/Target/RISCV/RISCVSchedSiFive7.td
Labels: backend:RISC-V

#87183 [mlir][NFC] Simplify type checks with isa predicates
  mlir/lib/Conversion/GPUCommon/GPUOpsLowering.cpp
  mlir/lib/Conversion/VectorToGPU/VectorToGPU.cpp
  mlir/lib/Dialect/Affine/Analysis/AffineAnalysis.cpp
  mlir/lib/Dialect/Affine/Transforms/SuperVectorize.cpp
  mlir/lib/Dialect/Affine/Utils/LoopFusionUtils.cpp
  mlir/lib/Dialect/Bufferization/Transforms/FuncBufferizableOpInterfaceImpl.cpp
  mlir/lib/Dialect/Bufferization/Transforms/OneShotModuleBufferize.cpp
  mlir/lib/Dialect/EmitC/IR/EmitC.cpp
  mlir/lib/Dialect/GPU/TransformOps/GPUTransformOps.cpp
  mlir/lib/Dialect/GPU/Transforms/AsyncRegionRewriter.cpp
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/lib/Dialect/Linalg/IR/LinalgOps.cpp
  mlir/lib/Dialect/Linalg/Transforms/ElementwiseToLinalg.cpp
  mlir/lib/Dialect/Linalg/Transforms/Vectorization.cpp
  mlir/lib/Dialect/OpenACC/IR/OpenACC.cpp
  mlir/lib/Dialect/SPIRV/IR/CooperativeMatrixOps.cpp
  mlir/lib/Dialect/Shape/IR/Shape.cpp
  mlir/lib/Dialect/Traits.cpp
  mlir/lib/Dialect/Transform/IR/TransformOps.cpp
  mlir/lib/Dialect/Vector/IR/VectorOps.cpp
  mlir/lib/Dialect/Vector/Transforms/VectorDistribute.cpp
  mlir/lib/IR/AffineMap.cpp
  mlir/lib/IR/Operation.cpp
  mlir/lib/TableGen/Class.cpp
  mlir/lib/Target/Cpp/TranslateToCpp.cpp
  mlir/lib/Target/SPIRV/Serialization/Serializer.cpp
  mlir/lib/Transforms/Utils/DialectConversion.cpp
  mlir/lib/Transforms/Utils/OneToNTypeConversion.cpp
Labels: mlir:core, mlir:llvm, mlir:linalg, mlir:gpu, mlir:spirv, mlir:affine, mlir:vectorops, mlir, mlir:bufferization, mlir:emitc, mlir:openacc, mlir:shape, mlir:vector, openacc

#66825 [InstrFDO][TypeProf] Implement binary instrumentation and profile read/write
  compiler-rt/test/profile/Linux/instrprof-vtable-value-prof.cpp
  llvm/include/llvm/Analysis/IndirectCallVisitor.h
  llvm/include/llvm/ProfileData/InstrProf.h
  llvm/include/llvm/ProfileData/InstrProfReader.h
  llvm/include/llvm/ProfileData/InstrProfWriter.h
  llvm/lib/ProfileData/InstrProf.cpp
  llvm/lib/ProfileData/InstrProfReader.cpp
  llvm/lib/ProfileData/InstrProfWriter.cpp
  llvm/lib/Transforms/Instrumentation/InstrProfiling.cpp
  llvm/lib/Transforms/Instrumentation/PGOInstrumentation.cpp
  llvm/lib/Transforms/Instrumentation/ValueProfilePlugins.inc
  llvm/test/Transforms/PGOProfile/vtable_prof_unsupported.ll
  llvm/test/Transforms/PGOProfile/vtable_profile.ll
  llvm/test/tools/llvm-profdata/Inputs/vtable-value-prof.proftext
  llvm/test/tools/llvm-profdata/vtable-value-prof.test
  llvm/tools/llvm-profdata/llvm-profdata.cpp
  llvm/unittests/ProfileData/InstrProfTest.cpp
Labels: compiler-rt, PGO, llvm:analysis, llvm:transforms

#86853 [libc++] Optimize the two range overload of mismatch
  libcxx/benchmarks/algorithms/mismatch.bench.cpp
  libcxx/include/__algorithm/mismatch.h
  libcxx/include/__algorithm/ranges_mismatch.h
  libcxx/include/__algorithm/simd_utils.h
  libcxx/test/libcxx/transitive_includes/cxx23.csv
  libcxx/test/libcxx/transitive_includes/cxx26.csv
  libcxx/test/std/algorithms/alg.nonmodifying/mismatch/mismatch.pass.cpp
Labels: libc++

#86846 [mlir][TD] Allow op printing flags as `transform.print` attrs
  mlir/include/mlir/Dialect/Transform/IR/TransformOps.td
  mlir/lib/Dialect/Transform/IR/TransformOps.cpp
  mlir/test/Dialect/Transform/ops.mlir
  mlir/test/Dialect/Transform/test-interpreter-printing.mlir
Labels: mlir

#87125 [libc] Include algorithm.h to parser.h
  libc/src/stdio/printf_core/CMakeLists.txt
  libc/src/stdio/printf_core/parser.h
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: libc, bazel

#87262 [nfc] Disable the a cpp compiler-rt test on ppc bigendian systems due to build errors
  compiler-rt/test/profile/Linux/instrprof-vtable-value-prof.cpp
Labels: compiler-rt, PGO

#87110 [scudo] Do a M_PURGE call before changing release interval on Android
  compiler-rt/lib/scudo/standalone/wrappers_c.inc
Labels: compiler-rt, compiler-rt:scudo, compiler-rt:sanitizer

#79382 [HLSL] Implement array temporary support
  clang/docs/HLSL/FunctionCalls.rst
  clang/include/clang/AST/ASTContext.h
  clang/include/clang/AST/OperationKinds.def
  clang/include/clang/AST/RecursiveASTVisitor.h
  clang/include/clang/AST/Type.h
  clang/include/clang/AST/TypeLoc.h
  clang/include/clang/AST/TypeProperties.td
  clang/include/clang/Basic/TypeNodes.td
  clang/include/clang/Sema/Overload.h
  clang/include/clang/Serialization/TypeBitCodes.def
  clang/lib/AST/ASTContext.cpp
  clang/lib/AST/ASTImporter.cpp
  clang/lib/AST/ASTStructuralEquivalence.cpp
  clang/lib/AST/Expr.cpp
  clang/lib/AST/ExprConstant.cpp
  clang/lib/AST/ItaniumMangle.cpp
  clang/lib/AST/MicrosoftMangle.cpp
  clang/lib/AST/ODRHash.cpp
  clang/lib/AST/Type.cpp
  clang/lib/AST/TypePrinter.cpp
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CGDebugInfo.cpp
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CGExprAgg.cpp
  clang/lib/CodeGen/CGExprComplex.cpp
  clang/lib/CodeGen/CGExprConstant.cpp
  clang/lib/CodeGen/CGExprScalar.cpp
  clang/lib/CodeGen/CodeGenFunction.cpp
  clang/lib/CodeGen/CodeGenTypes.cpp
  clang/lib/CodeGen/ItaniumCXXABI.cpp
  clang/lib/Edit/RewriteObjCFoundationAPI.cpp
  clang/lib/Sema/Sema.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaExprCXX.cpp
  clang/lib/Sema/SemaInit.cpp
  clang/lib/Sema/SemaLookup.cpp
  clang/lib/Sema/SemaOverload.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/lib/Sema/SemaType.cpp
  clang/lib/Sema/TreeTransform.h
  clang/lib/Serialization/ASTReader.cpp
  clang/lib/Serialization/ASTWriter.cpp
  clang/lib/StaticAnalyzer/Core/ExprEngineC.cpp
  clang/test/CodeGenHLSL/ArrayTemporary.hlsl
  clang/test/SemaHLSL/ArrayParams.hlsl
  clang/test/SemaHLSL/ArrayTemporary.hlsl
  clang/test/SemaHLSL/ArrayTemporary.ll
  clang/tools/libclang/CIndex.cpp
Labels: clang, clang:frontend, clang:modules, clang:codegen, clang:static analyzer, debuginfo, HLSL

#84507 Update the "Current Status" section of the website to be current.
  libcxx/docs/index.rst
Labels: libc++

#87266 [libc] fixup missing include for fullbuild
  libc/src/stdio/fseeko.h
  libc/src/stdio/ftello.h
Labels: libc

#87261 [mlir][sparse] allow YieldOp to yield multiple values.
  mlir/include/mlir/Dialect/SparseTensor/IR/SparseTensorOps.td
  mlir/lib/Dialect/SparseTensor/IR/SparseTensorDialect.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseReinterpretMap.cpp
  mlir/lib/Dialect/SparseTensor/Utils/Merger.cpp
Labels: mlir:sparse, mlir

#86716 [libc][math] Implement atan2f correctly rounded to all rounding modes.
  libc/config/baremetal/arm/entrypoints.txt
  libc/config/baremetal/riscv/entrypoints.txt
  libc/config/darwin/arm/entrypoints.txt
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/arm/entrypoints.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/config/windows/entrypoints.txt
  libc/docs/math/index.rst
  libc/spec/stdc.td
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/atan2f.cpp
  libc/src/math/generic/atanf.cpp
  libc/src/math/generic/inv_trigf_utils.cpp
  libc/src/math/generic/inv_trigf_utils.h
  libc/test/src/math/CMakeLists.txt
  libc/test/src/math/atan2f_test.cpp
  libc/test/src/math/atanf_test.cpp
  libc/test/src/math/smoke/CMakeLists.txt
  libc/test/src/math/smoke/atan2f_test.cpp
  libc/utils/MPFRWrapper/MPFRUtils.cpp
  libc/utils/MPFRWrapper/MPFRUtils.h
Labels: libc

#87209 [clang-cl] Allow a colon after /Fo option
  clang/include/clang/Driver/Options.td
  clang/test/Driver/cl-outputs.c
Labels: clang, clang:driver

#87252 [GOFF] Wrap debug output with LLVM_DEBUG
  llvm/lib/Object/GOFFObjectFile.cpp
Labels: llvm:binary-utilities

#84184 [clang] Factor out OpenACC part of `Sema`
  clang/include/clang/Sema/Sema.h
  clang/include/clang/Sema/SemaOpenACC.h
  clang/lib/Parse/ParseOpenACC.cpp
  clang/lib/Sema/JumpDiagnostics.cpp
  clang/lib/Sema/Sema.cpp
  clang/lib/Sema/SemaOpenACC.cpp
  clang/lib/Sema/TreeTransform.h
Labels: clang, clang:frontend

#87238 [clang] Fix bitfield access unit for vbase corner case
  clang/lib/CodeGen/CGRecordLayoutBuilder.cpp
  clang/test/CodeGenCXX/bitfield-access-tail.cpp
Labels: clang, clang:codegen

#87120 [scudo] Change isPowerOfTwo macro to return false for zero.
  compiler-rt/lib/scudo/standalone/common.h
  compiler-rt/lib/scudo/standalone/stack_depot.h
  compiler-rt/lib/scudo/standalone/wrappers_c_checks.h
Labels: compiler-rt, compiler-rt:scudo, compiler-rt:sanitizer

#79919 [PseudoProbe] Extend to skip instrumenting probe into the dests of invoke
  llvm/include/llvm/Analysis/EHUtils.h
  llvm/include/llvm/Transforms/IPO/SampleProfileProbe.h
  llvm/lib/Transforms/IPO/SampleProfileProbe.cpp
  llvm/test/ThinLTO/X86/pseudo-probe-desc-import.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-eh.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-invoke.ll
Labels: LTO, llvm:analysis, llvm:transforms

#86695 release/18x: [OpenMP][AIX] Affinity implementation for AIX (#84984)
  openmp/runtime/src/kmp.h
  openmp/runtime/src/kmp_affinity.cpp
  openmp/runtime/src/kmp_affinity.h
  openmp/runtime/src/kmp_os.h
  openmp/runtime/src/z_Linux_util.cpp
  openmp/runtime/test/lit.cfg
Labels: release:backport, openmp:libomp

#87219 [llvm][Support] `thread_local` threadid on Apple systems
  llvm/lib/Support/Unix/Threading.inc
Labels: llvm:support

#87263 [lldb] Don't crash when attempting to parse breakpoint id `N.` as `N.*`
  lldb/source/Breakpoint/BreakpointIDList.cpp
  lldb/test/API/functionalities/breakpoint/breakpoint_locations/TestBreakpointLocations.py
Labels: lldb

#87282 [libc] fixup ftello test
  libc/test/src/stdio/ftell_test.cpp
Labels: libc

#87114 [workflows] issue-write: Exit early if there are no comments
  .github/workflows/issue-write.yml
Labels: github:workflow

#87084 release/18.x: Backport PR86914 "Fix a CTAD regression after 42239d2e9"
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaTemplate.cpp
  clang/test/SemaTemplate/concepts-friends.cpp
  clang/test/SemaTemplate/ctad.cpp
Labels: clang, clang:frontend

#79381 [ThinLTO][TypeProf] Implement vtable def import
  llvm/include/llvm/ProfileData/InstrProf.h
  llvm/lib/Analysis/IndirectCallPromotionAnalysis.cpp
  llvm/lib/Analysis/ModuleSummaryAnalysis.cpp
  llvm/lib/Bitcode/Writer/BitcodeWriter.cpp
  llvm/lib/ProfileData/InstrProf.cpp
  llvm/test/Bitcode/thinlto-func-summary-vtableref-pgo.ll
Labels: LTO, llvm:analysis

#87118 [workflows] issue-write: Avoid race condition when PR branch is deleted
  .github/workflows/issue-write.yml
Labels: github:workflow

#87108 [OpenMP] Use loaded offloading toolchains to add libraries
  clang/lib/Driver/ToolChains/CommonArgs.cpp
  clang/lib/Driver/ToolChains/CommonArgs.h
  clang/lib/Driver/ToolChains/Darwin.cpp
  clang/lib/Driver/ToolChains/DragonFly.cpp
  clang/lib/Driver/ToolChains/FreeBSD.cpp
  clang/lib/Driver/ToolChains/Gnu.cpp
  clang/lib/Driver/ToolChains/Haiku.cpp
  clang/lib/Driver/ToolChains/NetBSD.cpp
  clang/lib/Driver/ToolChains/OpenBSD.cpp
  clang/lib/Driver/ToolChains/Solaris.cpp
Labels: clang, clang:driver

#87289 [mlir][pass] Add `errorHandler` param to `Pass::initializeOptions`
  mlir/include/mlir/Pass/Pass.h
  mlir/include/mlir/Pass/PassOptions.h
  mlir/lib/Conversion/MemRefToSPIRV/MapMemRefStorageClassPass.cpp
  mlir/lib/Pass/Pass.cpp
  mlir/lib/Pass/PassRegistry.cpp
  mlir/lib/Transforms/InlinerPass.cpp
  mlir/test/Dialect/Transform/test-pass-application.mlir
Labels: mlir:core, mlir:spirv, mlir

#87292 [libc] allow libc-hdrgen to work on windows files
  libc/utils/HdrGen/Generator.cpp
Labels: libc

#87290 lit_test : check if there is already a deps key in kwargs
  utils/bazel/llvm-project-overlay/llvm/lit_test.bzl
Labels: bazel

#87071 [PPC][NFC] add an option for GatherAllAliasesMaxDepth
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
Labels: backend:PowerPC

#87245 [RISCV][TTI] Scale the cost of intrinsic umin/umax/smin/smax with LMUL
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/RISCV/int-min-max.ll
Labels: backend:RISC-V, llvm:analysis

#87299 [InstallAPI] Fixup dsym test
  clang/test/InstallAPI/diagnostics-dsym.test
Labels: clang, skip-precommit-approval

#87101 [RISCV][TTI] Scale the cost of trunc/fptrunc/fpext with LMUL
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/RISCV/cast.ll
  llvm/test/Analysis/CostModel/RISCV/reduce-scalable-fp.ll
  llvm/test/Analysis/CostModel/RISCV/rvv-insertelement.ll
  llvm/test/Analysis/CostModel/RISCV/shuffle-broadcast.ll
Labels: backend:RISC-V, llvm:analysis

#84721 [mlir][IR] Trigger `notifyOperationReplaced` on `replaceAllOpUsesWith`
  mlir/include/mlir/IR/PatternMatch.h
  mlir/lib/IR/PatternMatch.cpp
  mlir/test/lib/Dialect/Test/TestPatterns.cpp
Labels: mlir:core, mlir

#84722 [mlir][IR][NFC] Make `replaceAllUsesWith` non-templatized
  mlir/include/mlir/IR/PatternMatch.h
Labels: mlir:core, mlir

#87297 [mlir] Reland the dialect conversion hanging use fix
  mlir/lib/Transforms/Utils/DialectConversion.cpp
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg-invalid.mlir
Labels: mlir:core, mlir:linalg, mlir

#86919 [clang][analyzer] Change modeling of `fseek` in StreamChecker.
  clang/lib/StaticAnalyzer/Checkers/StreamChecker.cpp
  clang/test/Analysis/stream-error.c
  clang/test/Analysis/stream-note.c
Labels: clang, clang:static analyzer

#83238 [OpenCL] Fix BIenqueue_kernel fallthrough
  clang/lib/CodeGen/CGBuiltin.cpp
Labels: clang, clang:codegen, OpenCL

#87169 [IR] Fix crashes caused by #85592
  llvm/lib/IR/Operator.cpp
  llvm/test/Transforms/FunctionAttrs/noundef.ll
Labels: llvm:ir, llvm:transforms

#86814 [flang][NFC] speed-up external name conversion pass
  flang/lib/Optimizer/Transforms/ExternalNameConversion.cpp
Labels: flang, flang:fir-hlfir

#87033 [AArch64][GISEL] Reduce likelihood of hash collisions for mappings in RegisterBankInfo
  llvm/include/llvm/CodeGen/RegisterBankInfo.h
Labels: llvm:regalloc

#86754 [SelectionDAG] implement computeKnownBits for add AVG* instructions
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/unittests/CodeGen/AArch64SelectionDAGTest.cpp
Labels: llvm:SelectionDAG

#86803 [AArch64] Update Neoverse V2 FSQRT execution units in schedule model.
  llvm/lib/Target/AArch64/AArch64SchedNeoverseV2.td
  llvm/test/tools/llvm-mca/AArch64/Neoverse/V2-sve-instructions.s
Labels: backend:AArch64

#84147 [lldb][FreeBSD] Add FreeBSD specific AT_HWCAP value
  lldb/source/Plugins/Process/Utility/AuxVector.h
Labels: lldb

#85057 [lldb] clang-format AuxVector.h
  lldb/source/Plugins/Process/Utility/AuxVector.h
Labels: lldb

#85782 [speculative-execution] Hoists debug values unnecessarily.
  llvm/lib/Transforms/Scalar/SpeculativeExecution.cpp
  llvm/test/Transforms/SpeculativeExecution/PR46267.ll
Labels: debuginfo, llvm:transforms

#87325 Reapply "[clang][nullability] allow _Nonnull etc on nullable class types (#82705)"
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/AttrDocs.td
  clang/include/clang/Basic/Features.def
  clang/include/clang/Parse/Parser.h
  clang/include/clang/Sema/Sema.h
  clang/lib/AST/Type.cpp
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CodeGenFunction.cpp
  clang/lib/Parse/ParseDeclCXX.cpp
  clang/lib/Sema/SemaAttr.cpp
  clang/lib/Sema/SemaChecking.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/lib/Sema/SemaInit.cpp
  clang/lib/Sema/SemaOverload.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/SemaType.cpp
  clang/test/Sema/nullability.c
  clang/test/SemaCXX/nullability.cpp
  clang/test/SemaObjCXX/Inputs/nullability-consistency-smart.h
  clang/test/SemaObjCXX/nullability-consistency.mm
Labels: clang, clang:frontend, clang:codegen

#86843 [libc++] Simplify the implementation of <stddef.h>
  libcxx/include/stddef.h
Labels: libc++

#86673 [flang][NFC] use mlir::SymbolTable in lowering
  flang/include/flang/Lower/AbstractConverter.h
  flang/include/flang/Optimizer/Builder/FIRBuilder.h
  flang/include/flang/Optimizer/Dialect/FIROpsSupport.h
  flang/lib/Lower/Bridge.cpp
  flang/lib/Lower/CallInterface.cpp
  flang/lib/Lower/OpenACC.cpp
  flang/lib/Optimizer/Builder/FIRBuilder.cpp
  flang/lib/Optimizer/Builder/IntrinsicCall.cpp
  flang/lib/Optimizer/Builder/LowLevelIntrinsics.cpp
  flang/lib/Optimizer/Builder/PPCIntrinsicCall.cpp
  flang/lib/Optimizer/Dialect/FIROps.cpp
  flang/lib/Optimizer/Transforms/SimplifyIntrinsics.cpp
Labels: flang, flang:fir-hlfir, openacc

#86817 [Clang][Sema] Fix explicit specializations of member function templates with a deduced return type
  clang-tools-extra/test/clang-tidy/infrastructure/diagnostic.cpp
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaDecl.cpp
  clang/test/SemaCXX/deduced-return-type-cxx14.cpp
Labels: clang, clang-tools-extra, clang-tidy, clang:frontend

#86950 [MLIR][LLVM][SROA] Make GEP handling type agnostic
  mlir/lib/Dialect/LLVMIR/IR/LLVMMemorySlot.cpp
  mlir/test/Dialect/LLVMIR/sroa.mlir
Labels: mlir:llvm, mlir

#85908 [SelectionDAG][Statepoint] Fix truncation of `gc.statepoint` ID argument
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.h
  llvm/test/CodeGen/AArch64/stackmap.ll
Labels: backend:AArch64, llvm:SelectionDAG

#87298 [mlir] [arith] Remove buggy illegal operation in --arith-unsigned-when-equivalent
  mlir/lib/Dialect/Arith/Transforms/UnsignedWhenEquivalent.cpp
Labels: mlir, mlir:arith

#86844 [SPIRV][HLSL] Add HLSL intrinsic tests
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/abs.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/ceil.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/cos.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/exp.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/exp2.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/floor.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/fmad.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/fmax.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/fmin.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/log.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/log10.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/log2.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/pow.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/reversebits.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/round.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/sin.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/smax.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/smin.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/sqrt.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/trunc.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/umax.ll
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/umin.ll
Labels: backend:SPIR-V

#86678 [Clang][AST][NFC] MemberExpr stores NestedNameSpecifierLoc and DeclAccessPair separately
  clang/include/clang/AST/Expr.h
  clang/include/clang/AST/Stmt.h
  clang/lib/AST/Expr.cpp
  clang/lib/Serialization/ASTReaderStmt.cpp
  clang/lib/Serialization/ASTWriterStmt.cpp
Labels: clang, clang:frontend, clang:modules

#86959 [ExpandLargeDivRem] Scalarize vector types.
  llvm/lib/CodeGen/ExpandLargeDivRem.cpp
  llvm/test/CodeGen/AMDGPU/div_v2i128.ll
  llvm/test/Transforms/ExpandLargeDivRem/X86/vector.ll
Labels: backend:AMDGPU, llvm:transforms

#87274 [clang] Add test for CWG1606
  clang/test/CXX/drs/dr16xx.cpp
  clang/www/cxx_dr_status.html
Labels: clang, test-suite, c++, clang:frontend

#76195 [mlir][scf] Align `scf.while` `before` block args in canonicalizer
  mlir/lib/Dialect/SCF/IR/SCF.cpp
  mlir/test/Dialect/SCF/canonicalize.mlir
Labels: mlir, mlir:scf

#86682 [Clang][AST][NFC] Move template argument dependence computations for MemberExpr to computeDependence
  clang/include/clang/AST/Expr.h
  clang/lib/AST/ComputeDependence.cpp
  clang/lib/AST/Expr.cpp
Labels: clang, clang:frontend, clang:modules

#86519 [RISCV] Fix and refactor Zvk sched classes
  llvm/lib/Target/RISCV/RISCVInstrInfoVPseudos.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZvk.td
Labels: backend:RISC-V

#87288 Move format internal code from llvm::detail to llvm::support::detail.
  llvm/include/llvm/Support/FormatAdapters.h
  llvm/include/llvm/Support/FormatCommon.h
  llvm/include/llvm/Support/FormatProviders.h
  llvm/include/llvm/Support/FormatVariadic.h
  llvm/include/llvm/Support/FormatVariadicDetails.h
  llvm/lib/Support/FormatVariadic.cpp
  llvm/unittests/Support/FormatVariadicTest.cpp
  mlir/include/mlir/TableGen/Format.h
  mlir/lib/TableGen/Format.cpp
Labels: mlir, llvm:support

#87246 [OpenMP] arm64_32 port for Apple WatchOS
  openmp/README.rst
  openmp/runtime/CMakeLists.txt
  openmp/runtime/cmake/LibompGetArchitecture.cmake
  openmp/runtime/cmake/LibompUtils.cmake
  openmp/runtime/cmake/config-ix.cmake
  openmp/runtime/src/kmp_gsupport.cpp
  openmp/runtime/src/kmp_os.h
  openmp/runtime/src/kmp_platform.h
  openmp/runtime/src/kmp_runtime.cpp
  openmp/runtime/src/z_Linux_asm.S
  openmp/runtime/src/z_Linux_util.cpp
  openmp/runtime/test/ompt/callback.h
  openmp/runtime/tools/lib/Platform.pm
  openmp/runtime/tools/lib/Uname.pm
Labels: openmp:libomp, openmp:libomptarget

#87231 [OpenMP] get logical core count on modern apple platform
  openmp/runtime/src/z_Linux_util.cpp
Labels: openmp:libomp

#77716 [clang][ExtractAPI] improve template argument name deduction
  clang/include/clang/ExtractAPI/DeclarationFragments.h
  clang/lib/ExtractAPI/DeclarationFragments.cpp
Labels: clang

#87351 [Clang][NFC] Clean up unused binary files for offloading tests
  clang/test/Driver/Inputs/in.so
  clang/test/Driver/Inputs/libomptarget/libomptarget-new-nvptx-sm_35.bc
  clang/test/Driver/Inputs/libomptarget/libomptarget-new-nvptx-test.bc
  clang/test/Driver/Inputs/openmp_static_device_link/empty.o
  clang/test/Driver/Inputs/openmp_static_device_link/lib.bc
  clang/test/Driver/Inputs/openmp_static_device_link/libFatArchive.a
  clang/test/Driver/hip-link-shared-library.hip
  clang/test/Driver/openmp-offload-gpu.c
Labels: clang, clang:driver

#70594 [clang] Fix crash when inheriting from a cv-qualified type
  clang/docs/ReleaseNotes.rst
  clang/lib/AST/ExprConstant.cpp
  clang/test/Sema/GH70594.cpp
Labels: clang, clang:frontend

#84719 [ADT] Add signed and unsigned mulh to APInt
  llvm/include/llvm/ADT/APInt.h
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/lib/Support/APInt.cpp
  llvm/unittests/ADT/APIntTest.cpp
  llvm/unittests/Support/KnownBitsTest.cpp
  mlir/lib/Dialect/Arith/IR/ArithOps.cpp
  mlir/lib/Dialect/SPIRV/IR/SPIRVCanonicalization.cpp
Labels: mlir:spirv, mlir, llvm:support, llvm:SelectionDAG, mlir:arith, llvm:adt

#85970 [RISCV][GISEL] Legalize G_BITCAST for scalable vectors
  llvm/lib/Target/RISCV/GISel/RISCVLegalizerInfo.cpp
  llvm/test/CodeGen/RISCV/GlobalISel/legalizer/rvv/legalize-bitcast.mir
Labels: backend:RISC-V, llvm:globalisel

#87095 [M68k] Change gcc register name from a7 to sp.
  clang/lib/Basic/Targets/M68k.cpp
  clang/lib/Basic/Targets/M68k.h
  clang/test/CodeGen/M68k/inline-asm-gcc-regs.c
Labels: clang, clang:frontend, backend:m68k

#86691 [ClangFE] Improve handling of casting of atomic memory operations.
  clang/lib/CodeGen/CGAtomic.cpp
  clang/test/CodeGen/atomic.c
Labels: clang, clang:codegen

#87276 [clang]SveEmitter:Update isVoid() to address #87271
  clang/utils/TableGen/SveEmitter.cpp
Labels: clang

#85621 [libc++] Remove pair dependency
  libcxx/include/__ranges/zip_view.h
  libcxx/include/__utility/pair.h
  libcxx/include/module.modulemap
  libcxx/include/tuple
  libcxx/test/std/ranges/range.adaptors/range.zip/borrowing.compile.pass.cpp
  libcxx/test/std/ranges/range.utility/range.subrange/operator.pair_like.pass.cpp
  libcxx/test/std/utilities/tuple/tuple.tuple/tuple.helper/tuple_size_incomplete.pass.cpp
  libcxx/test/std/utilities/tuple/tuple.tuple/tuple.helper/tuple_size_structured_bindings.pass.cpp
  libcxx/test/std/utilities/tuple/tuple.tuple/tuple.helper/tuple_size_value_sfinae.pass.cpp
Labels: libc++

#87185 [libc][posix] implement _exit
  libc/config/gpu/entrypoints.txt
  libc/config/gpu/headers.txt
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/spec/posix.td
  libc/src/unistd/CMakeLists.txt
  libc/src/unistd/_exit.cpp
  libc/src/unistd/_exit.h
  libc/test/src/unistd/CMakeLists.txt
  libc/test/src/unistd/_exit_test.cpp
Labels: libc

#85866 [WebAssembly] Allocate MCSymbolWasm data on MCContext
  llvm/include/llvm/MC/MCContext.h
  llvm/lib/MC/MCContext.cpp
  llvm/lib/Target/WebAssembly/AsmParser/WebAssemblyAsmParser.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyAsmPrinter.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyAsmPrinter.h
  llvm/lib/Target/WebAssembly/WebAssemblyMCInstLower.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyMachineFunctionInfo.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyMachineFunctionInfo.h
  llvm/test/MC/WebAssembly/module-asm.ll
Labels: backend:WebAssembly, mc

#84988 [clang-format] Add BreakFunctionDefinitionParameters option
  clang/docs/ClangFormatStyleOptions.rst
  clang/include/clang/Format/Format.h
  clang/lib/Format/Format.cpp
  clang/lib/Format/FormatToken.h
  clang/lib/Format/TokenAnnotator.cpp
  clang/unittests/Format/FormatTest.cpp
Labels: clang, clang-format

#85489 [mlir][inliner] Assert that no external nodes passed to the profitability hook.
  mlir/lib/Transforms/InlinerPass.cpp
Labels: mlir:core, mlir

#86842 [CallSiteInfo][NFC] CallSiteInfo -> CallSiteInfo.ArgRegPairs
  llvm/include/llvm/CodeGen/MachineFunction.h
  llvm/include/llvm/CodeGen/SelectionDAG.h
  llvm/lib/CodeGen/AsmPrinter/DwarfDebug.cpp
  llvm/lib/CodeGen/MIRParser/MIRParser.cpp
  llvm/lib/CodeGen/MIRPrinter.cpp
  llvm/lib/CodeGen/SelectionDAG/ScheduleDAGSDNodes.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/ARM/ARMISelLowering.cpp
  llvm/lib/Target/Mips/MipsISelLowering.cpp
  llvm/lib/Target/X86/X86ISelLoweringCall.cpp
Labels: backend:ARM, backend:AArch64, backend:X86, debuginfo, llvm:SelectionDAG

#87364 AMDGPU: Update the description of cache policy for buffer intrinsics, NFC
  llvm/include/llvm/IR/IntrinsicsAMDGPU.td
Labels: backend:AMDGPU, llvm:ir

#87401 [RISCV][NFC] Delete some unused pseudo multiclasses
  llvm/lib/Target/RISCV/RISCVInstrInfoVPseudos.td
Labels: backend:RISC-V

#87296 [mlir][tensor] Fix tensor::PackOp fold() handling of padding value
  mlir/lib/Dialect/Tensor/IR/TensorOps.cpp
  mlir/test/Dialect/Tensor/canonicalize.mlir
Labels: mlir, mlir:tensor

#85331 [libc] Implement temporary `printf` on the GPU
  libc/config/gpu/entrypoints.txt
  libc/include/llvm-libc-types/rpc_opcodes_t.h
  libc/spec/gpu_ext.td
  libc/src/__support/arg_list.h
  libc/src/gpu/CMakeLists.txt
  libc/src/gpu/rpc_fprintf.cpp
  libc/src/gpu/rpc_fprintf.h
  libc/test/integration/src/stdio/CMakeLists.txt
  libc/test/integration/src/stdio/gpu/CMakeLists.txt
  libc/test/integration/src/stdio/gpu/printf.cpp
  libc/utils/gpu/server/CMakeLists.txt
  libc/utils/gpu/server/rpc_server.cpp
Labels: libc

#85231 [PAC][llvm-readobj][AArch64][ELF] Support `GNU_PROPERTY_AARCH64_FEATURE_PAUTH`
  llvm/include/llvm/BinaryFormat/ELF.h
  llvm/test/tools/llvm-readobj/ELF/AArch64/aarch64-feature-pauth.s
  llvm/test/tools/llvm-readobj/ELF/AArch64/aarch64-note-gnu-property.s
  llvm/tools/llvm-readobj/ELFDumper.cpp
Labels: llvm:binary-utilities

#85638 [Libomptarget] Add RPC-based `printf` implementation for OpenMP
  openmp/libomptarget/DeviceRTL/CMakeLists.txt
  openmp/libomptarget/DeviceRTL/src/LibC.cpp
  openmp/libomptarget/test/libc/printf.c
Labels: openmp:libomptarget

#86624 [clang-format] Fix a regression in annotating TrailingReturnArrow
  clang/lib/Format/TokenAnnotator.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format, regression

#84912 release/18x: [clang] Avoid -Wshadow warning when init-capture named same as class …
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Sema/ScopeInfo.h
  clang/lib/Sema/SemaDecl.cpp
  clang/test/SemaCXX/warn-shadow-in-lambdas.cpp
Labels: clang, clang:frontend, release:backport

#87420 AMDGPU: Use PseudoInstr instead of Pseudo Mnemonic for SIMCInstr, NFC
  llvm/lib/Target/AMDGPU/DSInstructions.td
Labels: backend:AMDGPU

#87344 [lldb][SymbolFileDWARFDebugMap] Introduce enum to indicate whether to continue iteration of object files
  lldb/include/lldb/lldb-private-enumerations.h
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARFDebugMap.cpp
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARFDebugMap.h
Labels: lldb

#87234 [mlir][tosa] Fix tosa-infer-shapes crash
  mlir/lib/Dialect/Tosa/Transforms/TosaInferShapes.cpp
  mlir/test/Dialect/Tosa/tosa-infer-shapes.mlir
Labels: mlir, mlir:tosa

#87155 [libc++][ranges] Avoid using `distance` in `ranges::contains_subrange`
  libcxx/include/__algorithm/ranges_contains_subrange.h
  libcxx/test/std/algorithms/alg.nonmodifying/alg.contains/ranges.contains_subrange.pass.cpp
Labels: libc++, ranges

#87312 Reapply "[CodeGen] Fix register pressure computation in MachinePipeli…
  llvm/lib/CodeGen/MachinePipeliner.cpp
  llvm/test/CodeGen/AArch64/sms-regpress.mir
  llvm/test/CodeGen/PowerPC/sms-regpress.mir
Labels: backend:AArch64, backend:PowerPC

#87305 [mlir][linalg][bufferize] Fix element-wise access optimization for sparse tensors
  mlir/lib/Dialect/Linalg/Transforms/BufferizableOpInterfaceImpl.cpp
  mlir/test/Dialect/SparseTensor/one_shot_bufferize_tensor_copy_insertion.mlir
Labels: mlir:linalg, mlir:sparse, mlir

#87308 [RISCV] Slightly simplify RVVArgDispatcher::constructArgInfos. NFC
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
Labels: backend:RISC-V

#87412 [libc] Re-organize the math function tables in docs
  libc/docs/math/index.rst
Labels: libc

#87445 [libc] Move {f,d}sqrt to higher functions in docs
  libc/docs/math/index.rst
Labels: libc

#87372 [Clang] Fix bug the way we handle duplicate vs conflicting values with loop attribute 'code_align'
  clang/lib/Sema/SemaStmtAttr.cpp
  clang/test/Sema/code_align.c
Labels: clang, clang:frontend

#73362 [InstCombine] Simplify select if it combinated and/or/xor
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
  llvm/test/Transforms/InstCombine/select.ll
Labels: llvm:analysis, llvm:transforms

#86954 [ExpandLargeFpConvert] Scalarize vector types.
  llvm/lib/CodeGen/ExpandLargeFpConvert.cpp
  llvm/test/Transforms/ExpandLargeFpConvert/X86/expand-large-fp-convert-fptosi129.ll
  llvm/test/Transforms/ExpandLargeFpConvert/X86/expand-large-fp-convert-fptoui129.ll
  llvm/test/Transforms/ExpandLargeFpConvert/X86/expand-large-fp-convert-si129tofp.ll
  llvm/test/Transforms/ExpandLargeFpConvert/X86/expand-large-fp-convert-ui129tofp.ll
Labels: llvm:transforms

#87149 [Win32][ELF] Make CodeView a DebugInfoFormat only for COFF format
  clang/lib/Driver/ToolChains/MSVC.h
  clang/test/Misc/win32-elf.c
Labels: clang, clang:driver

#80650 [AArch64][GlobalISel] Basic add_sat and sub_sat vector handling.
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/legalizer-info-validation.mir
  llvm/test/CodeGen/AArch64/sadd_sat.ll
  llvm/test/CodeGen/AArch64/sadd_sat_vec.ll
  llvm/test/CodeGen/AArch64/ssub_sat.ll
  llvm/test/CodeGen/AArch64/ssub_sat_vec.ll
  llvm/test/CodeGen/AArch64/uadd_sat_vec.ll
  llvm/test/CodeGen/AArch64/usub_sat_vec.ll
Labels: backend:AArch64, llvm:globalisel

#86992 [libc++] Add a static_assert for a Mandates in seed_seq
  libcxx/include/__random/seed_seq.h
  libcxx/test/std/numerics/rand/rand.util/rand.util.seedseq/generate.mandates.verify.cpp
Labels: libc++

#86934 [libc++] Fix tests on musl (#85085)
  libcxx/test/std/diagnostics/syserr/syserr.errcat/syserr.errcat.objects/generic_category.pass.cpp
  libcxx/test/std/diagnostics/syserr/syserr.errcat/syserr.errcat.objects/system_category.pass.cpp
  libcxx/test/std/localization/locale.categories/category.numeric/locale.nm.put/facet.num.put.members/put_long_double.pass.cpp
Labels: libc++

#86266 [mlir][EmitC] Add support for pointer and opaque types to subscript op
  mlir/include/mlir/Dialect/EmitC/IR/EmitC.h
  mlir/include/mlir/Dialect/EmitC/IR/EmitC.td
  mlir/lib/Conversion/MemRefToEmitC/MemRefToEmitC.cpp
  mlir/lib/Dialect/EmitC/IR/EmitC.cpp
  mlir/lib/Target/Cpp/TranslateToCpp.cpp
  mlir/test/Conversion/MemRefToEmitC/memref-to-emitc.mlir
  mlir/test/Dialect/EmitC/invalid_ops.mlir
  mlir/test/Dialect/EmitC/ops.mlir
  mlir/test/Target/Cpp/subscript.mlir
Labels: mlir, mlir:emitc

#86075 [X86_32] Teach X86_32 va_arg to ignore empty structs.
  clang/lib/CodeGen/Targets/X86.cpp
  clang/test/CodeGenCXX/x86_32-vaarg.cpp
Labels: clang, backend:X86, clang:codegen

#69613 Print more descriptive error message when trying to link a global with appending linkage
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/test/CodeGen/X86/AppendingLinkage.ll
Labels: backend:X86

#87370 [Object][COFF][NFC] Introduce getMachineArchType helper.
  llvm/include/llvm/Object/WindowsMachineFlag.h
  llvm/lib/Object/COFFObjectFile.cpp
  llvm/lib/Object/WindowsResource.cpp
Labels: llvm:binary-utilities

#84573 [libc++] Upstream ptrauth support in libc++ and libc++abi
  libcxx/include/typeinfo
  libcxx/src/include/overridable_function.h
  libcxxabi/src/private_typeinfo.cpp
Labels: libc++, libc++abi

#87395 [libc++] Update status page after the Tokyo meeting
  libcxx/docs/FeatureTestMacroTable.rst
  libcxx/docs/Status/Cxx2cIssues.csv
  libcxx/docs/Status/Cxx2cPapers.csv
  libcxx/include/version
  libcxx/test/std/language.support/support.limits/support.limits.general/algorithm.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/atomic.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/deque.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/filesystem.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/forward_list.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/functional.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/list.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/optional.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/random.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/ranges.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/string.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/tuple.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/utility.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/variant.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/vector.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/version.version.compile.pass.cpp
  libcxx/utils/generate_feature_test_macro_components.py
Labels: libc++

#87356 [Flang] Support for procedure pointer component default initialization.
  flang/lib/Lower/ConvertVariable.cpp
  flang/test/Lower/HLFIR/procedure-pointer-component-default-init.f90
Labels: flang:ir

#87347 [MLIR] Add endianness accessors to the data layout
  mlir/include/mlir/Dialect/DLTI/DLTI.h
  mlir/include/mlir/Interfaces/DataLayoutInterfaces.h
  mlir/include/mlir/Interfaces/DataLayoutInterfaces.td
  mlir/lib/Dialect/DLTI/DLTI.cpp
  mlir/lib/Interfaces/DataLayoutInterfaces.cpp
  mlir/test/Dialect/LLVMIR/layout.mlir
  mlir/test/lib/Dialect/DLTI/TestDataLayoutQuery.cpp
  mlir/unittests/Interfaces/DataLayoutInterfacesTest.cpp
Labels: mlir, mlir:dlti

#75481 [clang][UBSan] Add implicit conversion check for bitfields
  clang/docs/ReleaseNotes.rst
  clang/docs/UndefinedBehaviorSanitizer.rst
  clang/include/clang/Basic/Sanitizers.def
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CGExprScalar.cpp
  clang/lib/CodeGen/CodeGenFunction.h
  clang/test/CodeGen/ubsan-bitfield-conversion.c
  clang/test/CodeGenCXX/ubsan-bitfield-conversion.cpp
  clang/test/Driver/fsanitize.c
  compiler-rt/lib/ubsan/ubsan_handlers.cpp
  compiler-rt/lib/ubsan/ubsan_handlers.h
Labels: clang, compiler-rt, clang:driver, clang:frontend, clang:codegen, compiler-rt:ubsan, compiler-rt:sanitizer

#87493 [SystemZ][z/OS] Remove COMPILER_IBMXL macro for z/OS
  third-party/benchmark/src/cycleclock.h
  third-party/benchmark/src/internal_macros.h
Labels: third-party:benchmark

#86284 [DAG]SimplifyDemandedVectorElts-add ISD::AVGCEILS/AVGCEILU/AVGFLOORS/AVGFLOORU nodes
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/test/CodeGen/AArch64/hadd-combine.ll
  llvm/test/CodeGen/X86/combine-pavg.ll
Labels: backend:AArch64, backend:X86, llvm:SelectionDAG

#87479 [X86] getEffectiveX86CodeModel - take a Triple argument instead of just a Is64Bit flag. NFC.
  llvm/lib/Target/X86/X86TargetMachine.cpp
Labels: backend:X86

#85577 [libc++] Disables -Wweak-vtables diagnostics.
  libcxx/include/__expected/bad_expected_access.h
Labels: libc++

#85821 [mlir] Enhance TimingManager Printing Flexibility
  mlir/docs/PassManagement.md
  mlir/include/mlir/Support/Timing.h
  mlir/lib/Support/Timing.cpp
  mlir/test/Pass/pass-timing.mlir
Labels: mlir:core, mlir

#87306 [clang-format] Lambda parameter should be passed by const reference
  clang/lib/Format/Format.cpp
Labels: clang-format

#82113 [libc++][chrono] Loads leap-seconds.list in tzdb.
  libcxx/docs/Status/Cxx20Issues.csv
  libcxx/docs/Status/Cxx20Papers.csv
  libcxx/docs/Status/SpaceshipProjects.csv
  libcxx/include/CMakeLists.txt
  libcxx/include/__chrono/leap_second.h
  libcxx/include/__chrono/tzdb.h
  libcxx/include/chrono
  libcxx/include/libcxx.imp
  libcxx/include/module.modulemap
  libcxx/modules/std/chrono.inc
  libcxx/src/CMakeLists.txt
  libcxx/src/include/tzdb/leap_second_private.h
  libcxx/src/tzdb.cpp
  libcxx/test/libcxx/diagnostics/chrono.nodiscard_extensions.compile.pass.cpp
  libcxx/test/libcxx/diagnostics/chrono.nodiscard_extensions.verify.cpp
  libcxx/test/libcxx/time/time.zone/time.zone.db/leap_seconds.pass.cpp
  libcxx/test/std/time/time.zone/time.zone.db/leap_seconds.pass.cpp
  libcxx/test/std/time/time.zone/time.zone.db/time.zone.db.access/get_tzdb.pass.cpp
  libcxx/test/std/time/time.zone/time.zone.db/time.zone.db.tzdb/tzdb.members.pass.cpp
  libcxx/test/std/time/time.zone/time.zone.leap/assign.copy.pass.cpp
  libcxx/test/std/time/time.zone/time.zone.leap/cons.copy.pass.cpp
  libcxx/test/std/time/time.zone/time.zone.leap/members/date.pass.cpp
  libcxx/test/std/time/time.zone/time.zone.leap/members/value.pass.cpp
  libcxx/test/std/time/time.zone/time.zone.leap/nonmembers/comparison.pass.cpp
  libcxx/test/support/test_chrono_leap_second.h
Labels: libc++

#86116 [SamplePGO] Support -salvage-stale-profile without probes too
  llvm/lib/Transforms/IPO/SampleProfileMatcher.cpp
  llvm/test/Transforms/SampleProfile/Inputs/non-probe-stale-profile-matching.prof
  llvm/test/Transforms/SampleProfile/non-probe-stale-profile-matching.ll
Labels: llvm:transforms

#77154 [Offload][NFC] Add offload subfolder and README
  offload/README.md
Labels: offload

#86145 [flang] Fixed MODULO(x, inf) to produce NaN.
  flang/lib/Optimizer/Builder/IntrinsicCall.cpp
  flang/lib/Optimizer/Builder/Runtime/Numeric.cpp
  flang/runtime/numeric-templates.h
  flang/test/Lower/Intrinsics/modulo.f90
  flang/unittests/Runtime/Numeric.cpp
Labels: flang:runtime, flang, flang:fir-hlfir

#87518 Revert "[clang][UBSan] Add implicit conversion check for bitfields"
  clang/docs/ReleaseNotes.rst
  clang/docs/UndefinedBehaviorSanitizer.rst
  clang/include/clang/Basic/Sanitizers.def
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CGExprScalar.cpp
  clang/lib/CodeGen/CodeGenFunction.h
  clang/test/CodeGen/ubsan-bitfield-conversion.c
  clang/test/CodeGenCXX/ubsan-bitfield-conversion.cpp
  clang/test/Driver/fsanitize.c
  compiler-rt/lib/ubsan/ubsan_handlers.cpp
  compiler-rt/lib/ubsan/ubsan_handlers.h
Labels: clang, compiler-rt, clang:driver, clang:frontend, clang:codegen, compiler-rt:ubsan, compiler-rt:sanitizer

#87267 [SLP]Fix PR87133: crash because of different altopcodes for cmps after reordering.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/X86/icmp-altopcode-after-reordering.ll
  llvm/test/Transforms/SLPVectorizer/X86/reduction-logical.ll
Labels: vectorization, llvm:transforms

#87502 [libc++] Mark some recent LWG issues and papers as done
  libcxx/docs/Status/Cxx23.rst
  libcxx/docs/Status/Cxx23Issues.csv
  libcxx/docs/Status/Cxx2cIssues.csv
  libcxx/docs/Status/Cxx2cPapers.csv
Labels: libc++

#87522 [mlir] Initialize DefaultTimingManager::out.
  mlir/lib/Support/Timing.cpp
Labels: mlir:core, mlir

#87279 Always check the function attribute to determine checksum mismatch for available_externally functions
  llvm/include/llvm/Transforms/Utils/SampleProfileLoaderBaseImpl.h
  llvm/test/Transforms/SampleProfile/pseudo-probe-callee-profile-mismatch.ll
Labels: llvm:transforms

#75092 [PseudoProbe] Mix block and call probe ID in lexical order
  clang/test/CodeGen/pseudo-probe-emit.c
  llvm/include/llvm/ProfileData/SampleProf.h
  llvm/include/llvm/Transforms/IPO/SampleProfileProbe.h
  llvm/lib/Transforms/IPO/SampleProfileProbe.cpp
  llvm/test/Transforms/SampleProfile/Inputs/pseudo-probe-profile.prof
  llvm/test/Transforms/SampleProfile/Inputs/pseudo-probe-update.prof
  llvm/test/Transforms/SampleProfile/pseudo-probe-dangle.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-discriminator.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-invoke.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-profile-metadata-2.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-profile.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-update.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-verify.ll
Labels: clang, PGO, llvm:transforms

#86316 [SLP]Add support for commutative intrinsics.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/AArch64/vec3-reorder-reshuffle.ll
  llvm/test/Transforms/SLPVectorizer/X86/horizontal-minmax.ll
  llvm/test/Transforms/SLPVectorizer/X86/scatter-vectorize-reorder.ll
  llvm/test/Transforms/SLPVectorizer/X86/vec3-reorder-reshuffle.ll
  llvm/test/Transforms/SLPVectorizer/slp-umax-rdx-matcher-crash.ll
Labels: vectorization, llvm:transforms

#86812 DebugInfoD issues, take 2
  lldb/packages/Python/lldbsuite/test/make/Makefile.rules
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.cpp
  lldb/source/Plugins/SymbolLocator/CMakeLists.txt
  lldb/source/Plugins/SymbolVendor/ELF/SymbolVendorELF.cpp
  lldb/test/API/debuginfod/Normal/Makefile
  lldb/test/API/debuginfod/Normal/TestDebuginfod.py
  lldb/test/API/debuginfod/Normal/main.c
  lldb/test/API/debuginfod/SplitDWARF/Makefile
  lldb/test/API/debuginfod/SplitDWARF/TestDebuginfodDWP.py
  lldb/test/API/debuginfod/SplitDWARF/main.c
Labels: lldb

#85966 [SLP]Improve minbitwidth analysis for operands of IToFP and ICmp instructions.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/X86/minbitwidth-icmp-to-trunc.ll
  llvm/test/Transforms/SLPVectorizer/X86/minbitwidth-node-with-multi-users.ll
Labels: vectorization, llvm:transforms

#87536 fully qualifies use of `detail` namespace
  llvm/include/llvm/ADT/iterator_range.h
Labels: llvm:adt
