Repository llvm/llvm-project, pull requests merged in 2024-03, with the labels that each got.

#72845 [PowerPC] Do not generate `isel` instruction if target doesn't have this instruction
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
  llvm/test/CodeGen/PowerPC/2008-10-28-f128-i32.ll
  llvm/test/CodeGen/PowerPC/atomicrmw-uinc-udec-wrap.ll
  llvm/test/CodeGen/PowerPC/ctrloops-pseudo.ll
  llvm/test/CodeGen/PowerPC/expand-isel-to-branch.ll
  llvm/test/CodeGen/PowerPC/fp-strict-fcmp-spe.ll
  llvm/test/CodeGen/PowerPC/fp-to-int-to-fp.ll
  llvm/test/CodeGen/PowerPC/fptoui-be-crash.ll
  llvm/test/CodeGen/PowerPC/funnel-shift-rot.ll
  llvm/test/CodeGen/PowerPC/funnel-shift.ll
  llvm/test/CodeGen/PowerPC/i1-to-double.ll
  llvm/test/CodeGen/PowerPC/ppcf128-constrained-fp-intrinsics.ll
  llvm/test/CodeGen/PowerPC/pr43976.ll
  llvm/test/CodeGen/PowerPC/pr49509.ll
  llvm/test/CodeGen/PowerPC/save-crbp-ppc32svr4.ll
  llvm/test/CodeGen/PowerPC/select-cc-no-isel.ll
  llvm/test/CodeGen/PowerPC/select.ll
  llvm/test/CodeGen/PowerPC/select_const.ll
  llvm/test/CodeGen/PowerPC/smulfixsat.ll
  llvm/test/CodeGen/PowerPC/spe.ll
  llvm/test/CodeGen/PowerPC/srem-seteq-illegal-types.ll
  llvm/test/CodeGen/PowerPC/umulfixsat.ll
  llvm/test/CodeGen/PowerPC/umulo-128-legalisation-lowering.ll
  llvm/test/CodeGen/PowerPC/urem-seteq-illegal-types.ll
  llvm/test/CodeGen/PowerPC/varargs.ll
  llvm/test/CodeGen/PowerPC/wide-scalar-shift-by-byte-multiple-legalization.ll
  llvm/test/CodeGen/PowerPC/wide-scalar-shift-legalization.ll
Labels: backend:PowerPC

#81816 [libc++] Set feature test macros __cpp_lib_ranges_contains and__cpp_lib_ranges_starts_ends_with
  libcxx/docs/FeatureTestMacroTable.rst
  libcxx/docs/ReleaseNotes/19.rst
  libcxx/docs/Status/Cxx23Papers.csv
  libcxx/include/version
  libcxx/test/std/language.support/support.limits/support.limits.general/algorithm.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/version.version.compile.pass.cpp
  libcxx/utils/generate_feature_test_macro_components.py
Labels: libc++

#83095 [lldb] Add SBProcess methods for get/set/use address masks
  lldb/include/lldb/API/SBProcess.h
  lldb/include/lldb/Utility/AddressableBits.h
  lldb/include/lldb/lldb-defines.h
  lldb/include/lldb/lldb-enumerations.h
  lldb/source/API/SBProcess.cpp
  lldb/source/Target/Process.cpp
  lldb/source/Utility/AddressableBits.cpp
  lldb/test/API/python_api/process/address-masks/Makefile
  lldb/test/API/python_api/process/address-masks/TestAddressMasks.py
  lldb/test/API/python_api/process/address-masks/main.c
Labels: lldb

#82887 [compiler-rt] fix BSD procmaps stack size limit on build due to the k…
  compiler-rt/lib/sanitizer_common/sanitizer_procmaps_bsd.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#83503 [HWASAN] Implement selective instrumentation based on profiling information
  llvm/lib/Transforms/Instrumentation/HWAddressSanitizer.cpp
  llvm/test/Instrumentation/HWAddressSanitizer/pgo-opt-out-no-ps.ll
  llvm/test/Instrumentation/HWAddressSanitizer/pgo-opt-out.ll
Labels: compiler-rt:sanitizer, llvm:transforms

#83513 [libc] Ignore -Winclude-next-absolute-path warning in float-macros.h
  libc/include/llvm-libc-macros/float-macros.h
Labels: libc

#83454 Revert "XFAIL TestLocalVariables.py on Windows"
  lldb/test/API/lang/c/local_variables/TestLocalVariables.py
Labels: lldb

#83517 [libc] Allow libc to build on Red Hat
  libc/cmake/modules/LLVMLibCArchitectures.cmake
Labels: libc

#83502 [lldb][progress][NFC] Fix Doxygen information
  lldb/include/lldb/Core/Progress.h
Labels: lldb

#82593 [lldb] [debugserver] fix qLaunchSuccess error, add QErrorStringInPacketSupported
  lldb/tools/debugserver/source/RNBRemote.cpp
  lldb/tools/debugserver/source/RNBRemote.h
Labels: lldb

#83269 [RISCV] Add getFeaturesForCPU function support
  llvm/include/llvm/TargetParser/RISCVTargetParser.h
  llvm/lib/TargetParser/RISCVTargetParser.cpp
Labels: backend:RISC-V

#83523 [InstallAPI] Use unique identifiers for input buffers
  clang/lib/InstallAPI/Frontend.cpp
Labels: clang

#82760 [mlir][PDL] Add support for native constraints with results
  mlir/include/mlir/Dialect/PDL/IR/PDLOps.td
  mlir/include/mlir/Dialect/PDLInterp/IR/PDLInterpOps.td
  mlir/include/mlir/IR/PDLPatternMatch.h.inc
  mlir/lib/Conversion/PDLToPDLInterp/PDLToPDLInterp.cpp
  mlir/lib/Conversion/PDLToPDLInterp/Predicate.h
  mlir/lib/Conversion/PDLToPDLInterp/PredicateTree.cpp
  mlir/lib/Dialect/PDL/IR/PDL.cpp
  mlir/lib/Rewrite/ByteCode.cpp
  mlir/lib/Tools/PDLL/Parser/Parser.cpp
  mlir/test/Conversion/PDLToPDLInterp/pdl-to-pdl-interp-matcher.mlir
  mlir/test/Conversion/PDLToPDLInterp/use-constraint-result.mlir
  mlir/test/Dialect/PDL/ops.mlir
  mlir/test/Rewrite/pdl-bytecode.mlir
  mlir/test/lib/Dialect/Transform/TestTransformDialectExtension.cpp
  mlir/test/lib/Rewrite/TestPDLByteCode.cpp
  mlir/test/mlir-pdll/Parser/constraint-failure.pdll
  mlir/test/mlir-pdll/Parser/constraint.pdll
  mlir/test/python/dialects/pdl_ops.py
Labels: mlir:core, mlir, mlir:pdl

#83288 [clang][analyzer] Add StreamChecker note tags for "indeterminate stream position".
  clang/lib/StaticAnalyzer/Checkers/StreamChecker.cpp
  clang/test/Analysis/stream-note.c
Labels: clang, clang:static analyzer

#77379 [compiler-rt] fix __sanitizer_siginfo type on freebsd.
  compiler-rt/lib/sanitizer_common/sanitizer_platform_limits_freebsd.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_platform_limits_freebsd.h
Labels: compiler-rt, compiler-rt:sanitizer

#81231 [AArch64][GlobalISel] Expand abs.v4i8 to v4i16 and abs.v2s16 to v2s32
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.cpp
  llvm/test/CodeGen/AArch64/abs.ll
Labels: backend:AArch64

#82986 [clang][dataflow] Correctly treat empty initializer lists for unions.
  clang/include/clang/Analysis/FlowSensitive/DataflowEnvironment.h
  clang/lib/Analysis/FlowSensitive/DataflowEnvironment.cpp
  clang/lib/Analysis/FlowSensitive/Transfer.cpp
  clang/unittests/Analysis/FlowSensitive/TestingSupport.h
  clang/unittests/Analysis/FlowSensitive/TransferTest.cpp
Labels: clang, clang:dataflow, clang:analysis

#82971 [AMDGPU] promote i1 arg type for amdgpu_cs
  llvm/lib/Target/AMDGPU/AMDGPUCallingConv.td
  llvm/test/CodeGen/AMDGPU/calling-conventions.ll
Labels: backend:AMDGPU

#83544 Revert "[AArch64][GlobalISel] Legalize G_SHUFFLE_VECTOR for Odd-Sized Vectors"
  llvm/include/llvm/CodeGen/GlobalISel/LegalizerInfo.h
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/legalize-select.mir
  llvm/test/CodeGen/AArch64/shufflevector.ll
Labels: backend:AArch64, llvm:globalisel

#83522 Add llvm_v6i32_ty. NFC.
  llvm/include/llvm/IR/Intrinsics.td
Labels: llvm:ir

#83464 [FMV] Use lexicographic order of feature names when mangling.
  clang/lib/CodeGen/Targets/AArch64.cpp
  clang/test/CodeGen/attr-target-clones-aarch64.c
  clang/test/CodeGen/attr-target-version.c
  clang/test/CodeGenCXX/attr-target-clones-aarch64.cpp
  clang/test/CodeGenCXX/attr-target-version.cpp
Labels: clang, backend:AArch64, clang:codegen

#83538 [compiler-rt][fuzzer] windows build unbreak proposal.
  compiler-rt/lib/fuzzer/FuzzerUtilWindows.cpp
Labels: compiler-rt, compiler-rt:fuzzer, compiler-rt:sanitizer

#83439 [mlir][VectorOps][nfc] Add result pretty printing to `vector.vscale`
  mlir/include/mlir/Dialect/Vector/IR/VectorOps.td
  mlir/test/Dialect/Linalg/transform-op-peel-and-vectorize.mlir
Labels: mlir:linalg, mlir:vectorops, mlir, mlir:vector

#83515 [X86][AArch64][PowerPC] __builtin_cpu_supports accepts unknown options.
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/Sema/SemaChecking.cpp
  clang/test/CodeGen/aarch64-cpu-supports.c
  clang/test/Misc/warning-flags.c
  clang/test/Sema/aarch64-cpu-supports.c
  clang/test/Sema/builtin-cpu-supports.c
Labels: clang, clang:frontend, clang:codegen

#83434 [AMDGPU] Rename hasGFX12Enc to hasRestrictedSOffset in BUF definitions. NFC.
  llvm/lib/Target/AMDGPU/BUFInstructions.td
Labels: backend:AMDGPU

#83438 [flang][HLFIR] Use GreedyPatternRewriter in LowerHLFIRIntrinsics
  flang/lib/Optimizer/HLFIR/Transforms/LowerHLFIRIntrinsics.cpp
  flang/test/HLFIR/all-lowering.fir
  flang/test/HLFIR/any-lowering.fir
  flang/test/HLFIR/count-lowering-default-int-kinds.fir
  flang/test/HLFIR/count-lowering.fir
  flang/test/HLFIR/dot_product-lowering.fir
  flang/test/HLFIR/extents-of-shape-of.f90
  flang/test/HLFIR/matmul-lowering.fir
  flang/test/HLFIR/maxloc-lowering.fir
  flang/test/HLFIR/maxval-lowering.fir
  flang/test/HLFIR/minloc-lowering.fir
  flang/test/HLFIR/minval-lowering.fir
  flang/test/HLFIR/mul_transpose.f90
  flang/test/HLFIR/product-lowering.fir
  flang/test/HLFIR/sum-lowering.fir
  flang/test/HLFIR/transpose-lowering.fir
  flang/test/Lower/convert.f90
Labels: flang, flang:fir-hlfir

#83390 [AArch64] Mark AESD and AESE instructions as commutative.
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/test/CodeGen/AArch64/aes.ll
  llvm/test/CodeGen/AArch64/misched-fusion-aes.ll
Labels: backend:AArch64

#83551 Revert fuzzer windows changes
  compiler-rt/lib/fuzzer/FuzzerUtilWindows.cpp
Labels: compiler-rt, compiler-rt:fuzzer, compiler-rt:sanitizer

#83442 [SLP]Fix the cost model for extracts combined with later shuffle.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/X86/crash_clear_undefs.ll
  llvm/test/Transforms/SLPVectorizer/X86/multi-nodes-to-shuffle.ll
Labels: vectorization, llvm:transforms

#83472 [SLP]Fix/improve potential masked gather loads analysis.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/RISCV/complex-loads.ll
  llvm/test/Transforms/SLPVectorizer/X86/split-load8_2-unord.ll
Labels: vectorization, llvm:transforms

#82311 [AMDGPU] Improve detection of non-null addrspacecast operands
  llvm/include/llvm/IR/IntrinsicsAMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPUCodeGenPrepare.cpp
  llvm/lib/Target/AMDGPU/AMDGPULegalizerInfo.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.h
  llvm/test/CodeGen/AMDGPU/codegen-prepare-addrspacecast-non-null-vector.ll
  llvm/test/CodeGen/AMDGPU/codegen-prepare-addrspacecast-non-null.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.addrspacecast.nonnull.ll
Labels: backend:AMDGPU, llvm:ir

#83413 [ARM] Change the type of CC and VCC code in `splitMnemonic`.
  llvm/lib/Target/ARM/AsmParser/ARMAsmParser.cpp
Labels: backend:ARM, mc

#83263 Use object directly instead of accessing ArrayRef
  llvm/lib/Target/AMDGPU/AMDGPUMachineCFGStructurizer.cpp
Labels: backend:AMDGPU

#83065 [Clang] Fix __has_cpp_attribute and C++11 attributes with arguments in C++03
  clang/docs/ReleaseNotes.rst
  clang/test/Preprocessor/has_attribute.cpp
  clang/test/SemaCXX/attr-declspec-ignored.cpp
  clang/test/SemaCXX/attr-gnu.cpp
  clang/test/SemaCXX/cxx03-cxx11-attr.cpp
  clang/utils/TableGen/ClangAttrEmitter.cpp
Labels: clang, c++, extension:clang

#78455 [llvm-readobj] enable demangle option for the xcoff object file
  llvm/docs/CommandGuide/llvm-readobj.rst
  llvm/test/tools/llvm-readobj/XCOFF/loader-section-relocation.test
  llvm/test/tools/llvm-readobj/XCOFF/loader-section-symbol.test
  llvm/test/tools/llvm-readobj/XCOFF/relocations.test
  llvm/test/tools/llvm-readobj/XCOFF/symbols.test
  llvm/tools/llvm-readobj/XCOFFDumper.cpp
Labels: llvm:binary-utilities

#83560 [X86] Pre-SSE42 v2i64 sgt lowering - check if representable as v2i32
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/vector-popcnt-128-ult-ugt.ll
Labels: backend:X86

#83460 [OpenACC] Implement Duffs-Device restriction for Compute Constructs
  clang/include/clang/Sema/Scope.h
  clang/lib/Sema/SemaStmt.cpp
  clang/test/SemaOpenACC/no-branch-in-out.c
  clang/test/SemaOpenACC/no-branch-in-out.cpp
Labels: clang, clang:frontend, clang:openacc

#83487 Fix implementation of [temp.param]p14's first sentence.
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaTemplate.cpp
  clang/test/SemaCXX/GH83461.cpp
Labels: clang, clang:frontend

#81747 [Flang] Add support for assume_aligned directive
  flang/docs/Directives.md
  flang/include/flang/Parser/dump-parse-tree.h
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Parser/Fortran-parsers.cpp
  flang/lib/Parser/unparse.cpp
  flang/test/Parser/assume-aligned.f90
Labels: flang, flang:parser

#81127 [Clang][Sema]: Allow copy constructor side effects
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaDecl.cpp
  clang/test/SemaCXX/warn-unused-variables.cpp
Labels: clang, clang:frontend

#83244 Silence illegal address computation warning
  llvm/lib/Target/AMDGPU/AMDGPUGenRegisterBankInfo.def
Labels: backend:AMDGPU

#83527 [lldb] Add support for sorting by size to `target module dump symtab`
  lldb/include/lldb/Interpreter/CommandOptionArgumentTable.h
  lldb/include/lldb/lldb-private-enumerations.h
  lldb/source/Symbol/Symtab.cpp
  lldb/test/Shell/SymbolFile/Breakpad/symtab-sorted-by-size.test
Labels: lldb

#82363 [Dwarf] Support `__ptrauth` qualifier in metadata nodes
  llvm/include/llvm/IR/DIBuilder.h
  llvm/include/llvm/IR/DebugInfoMetadata.h
  llvm/lib/AsmParser/LLParser.cpp
  llvm/lib/Bitcode/Reader/MetadataLoader.cpp
  llvm/lib/Bitcode/Writer/BitcodeWriter.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfUnit.cpp
  llvm/lib/IR/AsmWriter.cpp
  llvm/lib/IR/DIBuilder.cpp
  llvm/lib/IR/DebugInfo.cpp
  llvm/lib/IR/DebugInfoMetadata.cpp
  llvm/lib/IR/LLVMContextImpl.h
  llvm/lib/IR/Verifier.cpp
  llvm/test/Assembler/debug-info.ll
  llvm/test/DebugInfo/AArch64/ptrauth.ll
  llvm/unittests/IR/MetadataTest.cpp
  mlir/lib/Target/LLVMIR/DebugTranslation.cpp
Labels: debuginfo, mlir:llvm, mlir, llvm:ir

#83592 [libc] Update install directory for offloading versions of libraries
  libc/CMakeLists.txt
  libc/lib/CMakeLists.txt
Labels: libc

#83497 [Sema] -Wpointer-bool-conversion: suppress lambda function pointer conversion diagnostic during instantiation
  clang/lib/Sema/SemaChecking.cpp
  clang/test/SemaCXX/warn-bool-conversion.cpp
Labels: clang, clang:frontend

#81690 [TypePromotion] Support positive addition amounts in isSafeWrap.
  llvm/lib/CodeGen/TypePromotion.cpp
  llvm/test/CodeGen/AArch64/and-mask-removal.ll
  llvm/test/CodeGen/AArch64/signed-truncation-check.ll
  llvm/test/CodeGen/AArch64/typepromotion-overflow.ll
  llvm/test/CodeGen/RISCV/typepromotion-overflow.ll
  llvm/test/Transforms/TypePromotion/ARM/icmps.ll
  llvm/test/Transforms/TypePromotion/ARM/wrapping.ll
Labels: backend:AArch64, llvm:transforms

#83593 [AMDGPU] Remove AtomicNoRet class and getAtomicNoRetOp table
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/lib/Target/AMDGPU/BUFInstructions.td
  llvm/lib/Target/AMDGPU/DSInstructions.td
  llvm/lib/Target/AMDGPU/FLATInstructions.td
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
  llvm/lib/Target/AMDGPU/SMInstructions.td
Labels: backend:AMDGPU

#83570 [HLSL][DXIL] Implementation of round intrinsic
  clang/lib/Headers/hlsl/hlsl_intrinsics.h
  clang/test/CodeGenHLSL/builtins/round.hlsl
  clang/test/SemaHLSL/BuiltIns/round-errors.hlsl
  llvm/lib/Target/DirectX/DXIL.td
  llvm/test/CodeGen/DirectX/round.ll
Labels: clang, clang:headers, backend:DirectX, HLSL

#83518 [flang] Fixed ieee_logb to behave for denormals.
  flang/lib/Optimizer/Builder/IntrinsicCall.cpp
Labels: flang, flang:fir-hlfir

#83576 [llvm][Intrinsics] Add llvm_v3i8_ty. [NFCI]
  llvm/include/llvm/IR/Intrinsics.td
Labels: llvm:ir

#83505 [pgo][nfc] Model `Count` as a `std::optional` in `PGOUseEdge`
  llvm/lib/Transforms/Instrumentation/PGOInstrumentation.cpp
Labels: PGO, llvm:transforms

#83581 [SLP]Try to vectorize small graph with extractelements, used in buildvector.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/RISCV/complex-loads.ll
  llvm/test/Transforms/SLPVectorizer/X86/PR39774.ll
  llvm/test/Transforms/SLPVectorizer/X86/insert-element-build-vector-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/X86/insert-element-build-vector.ll
  llvm/test/Transforms/SLPVectorizer/X86/reduction-transpose.ll
Labels: vectorization, llvm:transforms

#83601 AMDGPU: Simplify instruction definitions for global_load_tr_b64(b128)
  llvm/lib/Target/AMDGPU/FLATInstructions.td
Labels: backend:AMDGPU

#83069 [lldb][progress] Hook up new broadcast bit and progress manager
  lldb/include/lldb/Core/Debugger.h
  lldb/include/lldb/Core/Progress.h
  lldb/source/Core/Debugger.cpp
  lldb/source/Core/Progress.cpp
  lldb/unittests/Core/ProgressReportTest.cpp
Labels: lldb

#83594 [libc] Fix incorrectly enabled GPU math functions
  libc/src/math/amdgpu/CMakeLists.txt
  libc/src/math/amdgpu/exp.cpp
  libc/src/math/amdgpu/expf.cpp
  libc/src/math/amdgpu/llround.cpp
  libc/src/math/amdgpu/llroundf.cpp
  libc/src/math/amdgpu/lround.cpp
  libc/src/math/amdgpu/lroundf.cpp
  libc/src/math/nvptx/CMakeLists.txt
  libc/src/math/nvptx/llround.cpp
  libc/src/math/nvptx/llroundf.cpp
  libc/src/math/nvptx/lround.cpp
  libc/src/math/nvptx/lroundf.cpp
Labels: backend:AMDGPU, libc

#83602 [lldb] Fix `thread backtrace --count`
  lldb/source/Commands/CommandObjectThread.cpp
  lldb/source/Commands/Options.td
  lldb/test/Shell/Commands/command-thread-backtrace.test
Labels: lldb

#83604 [ELF] Internalize enum
  lld/ELF/Arch/LoongArch.cpp
  lld/ELF/Arch/PPC64.cpp
  lld/ELF/Arch/RISCV.cpp
Labels: lld, lld:ELF

#82354 [KnownBits] Add KnownBits::absdiff to compute the absolute difference of 2 unsigned values
  llvm/include/llvm/Support/KnownBits.h
  llvm/lib/Support/KnownBits.cpp
  llvm/unittests/Support/KnownBitsTest.cpp
Labels: llvm:support

#83240 [llvm][vfs] Remove blank comment after \endverbatim doxygen command
  llvm/include/llvm/Support/VirtualFileSystem.h
Labels: llvm:support

#83283 [SLP] Exit early if MaxVF < MinVF (NFCI).
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: vectorization, llvm:transforms

#83160 Fix crash in install_bad_alloc_error_handler
  llvm/lib/Support/ErrorHandling.cpp
  llvm/unittests/Support/ErrorTest.cpp
Labels: llvm:support

#82793 [SLP] Collect candidate VFs in vector in vectorizeStores (NFC).
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: vectorization, llvm:transforms

#83380 [clang-format] Enable again some operator tests
  clang/unittests/Format/FormatTest.cpp
Labels: clang-format

#80540 [TargetParser][AArch64] Add alias for FEAT_RDM.
  clang/docs/ReleaseNotes.rst
  clang/test/CodeGen/attr-target-version.c
  clang/test/Driver/aarch64-rdm.c
  clang/test/Sema/attr-target-clones-aarch64.c
  clang/test/SemaCXX/attr-target-version.cpp
  llvm/include/llvm/TargetParser/AArch64TargetParser.h
  llvm/lib/TargetParser/AArch64TargetParser.cpp
Labels: clang, clang:driver

#83624 [libomptarget] Fix 'libomptarget' libraries being installed twice
  openmp/libomptarget/plugins-nextgen/CMakeLists.txt
  openmp/libomptarget/plugins-nextgen/amdgpu/CMakeLists.txt
  openmp/libomptarget/plugins-nextgen/cuda/CMakeLists.txt
  openmp/libomptarget/src/CMakeLists.txt
Labels: backend:AMDGPU, openmp:libomptarget

#80354 [flang] Use module file hashes for more checking and disambiguation
  flang/include/flang/Parser/provenance.h
  flang/include/flang/Parser/source.h
  flang/include/flang/Semantics/module-dependences.h
  flang/include/flang/Semantics/semantics.h
  flang/include/flang/Semantics/symbol.h
  flang/lib/Parser/provenance.cpp
  flang/lib/Parser/source.cpp
  flang/lib/Semantics/mod-file.cpp
  flang/lib/Semantics/mod-file.h
  flang/lib/Semantics/resolve-names.cpp
  flang/lib/Semantics/resolve-names.h
  flang/lib/Semantics/semantics.cpp
  flang/test/Semantics/Inputs/dir1/modfile63a.mod
  flang/test/Semantics/Inputs/dir1/modfile63b.mod
  flang/test/Semantics/Inputs/dir2/modfile63a.mod
  flang/test/Semantics/Inputs/dir2/modfile63b.mod
  flang/test/Semantics/getsymbols02.f90
  flang/test/Semantics/modfile63.f90
  flang/test/Semantics/test_modfile.py
Labels: flang, flang:semantics, flang:parser

#83618 [lld][macho][NFC] Add specific namespace scope for objc symbol names
  lld/MachO/Driver.cpp
  lld/MachO/InputFiles.cpp
  lld/MachO/ObjC.h
Labels: lld, lld:MachO

#82443 [flang][runtime] Underflow real input to -0. when negative
  flang/lib/Decimal/decimal-to-binary.cpp
  flang/unittests/Runtime/NumericalFormatTest.cpp
Labels: flang

#82446 [flang][runtime] Allow 1023 active asynchronous IDs
  flang/runtime/unit.cpp
  flang/runtime/unit.h
Labels: flang:runtime, flang

#82638 [flang] Handle implied ASYNCHRONOUS attribute
  flang/docs/Extensions.md
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Evaluate/characteristics.cpp
  flang/lib/Semantics/check-call.cpp
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/call03.f90
Labels: flang, flang:semantics, flang:parser

#83378 [InstallAPI] Collect frontend attributes & ObjCInterface decls
  clang/include/clang/InstallAPI/Context.h
  clang/include/clang/InstallAPI/Frontend.h
  clang/include/clang/InstallAPI/Visitor.h
  clang/lib/InstallAPI/Frontend.cpp
  clang/lib/InstallAPI/Visitor.cpp
  clang/test/InstallAPI/objcclasses.test
  clang/tools/clang-installapi/ClangInstallAPI.cpp
Labels: clang

#82686 [flang] Fix separate MODULE PROCEDURE when binding label exists
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/separate-mp02.f90
Labels: flang, flang:semantics

#82702 [flang] Fix crash in statement function semantics (bug #80532)
  flang/lib/Semantics/expression.cpp
  flang/lib/Semantics/resolve-names.cpp
Labels: flang, flang:semantics

#82704 [flang] Catch attempt to type a subroutine
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/typed-subr.f90
Labels: flang, flang:semantics

#82784 [flang] Fix DATA-like default component initialization
  flang/include/flang/Semantics/expression.h
  flang/test/Semantics/data21.f90
Labels: flang, flang:semantics

#82790 [flang] Fix "suspicious condition" in C++ usage
  flang/lib/Semantics/data-to-inits.cpp
Labels: flang, flang:semantics

#82796 [flang] Whether a procedure's interface is explicit or not is not a d…
  flang/include/flang/Evaluate/characteristics.h
  flang/include/flang/Evaluate/tools.h
  flang/lib/Evaluate/characteristics.cpp
  flang/lib/Evaluate/tools.cpp
  flang/lib/Semantics/check-call.cpp
  flang/lib/Semantics/check-call.h
  flang/lib/Semantics/check-declarations.cpp
  flang/lib/Semantics/expression.cpp
  flang/lib/Semantics/pointer-assignment.cpp
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/implicit14.f90
Labels: flang, flang:semantics

#82806 [flang] Accept whole assumed-size arrays as variable selectors
  flang/lib/Semantics/expression.cpp
  flang/test/Semantics/assign04.f90
Labels: flang, flang:semantics

#83609 [clang][sema] consolidate diags for incompatible_vector_*
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaChecking.cpp
  clang/test/SemaHLSL/BuiltIns/dot-errors.hlsl
  clang/test/SemaHLSL/BuiltIns/lerp-errors.hlsl
Labels: clang, clang:frontend, HLSL

#82825 [flang] Ensure names resolve in DATA statement objects
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/data22.f90
Labels: flang, flang:semantics

#82835 [flang] Allow PROCEDURE() with explicit type elsewhere
  flang/include/flang/Semantics/symbol.h
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/resolve91.f90
Labels: flang, flang:semantics

#82837 [flang] Fix handling of shadowed procedure name used as interface
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/bind-c03.f90
Labels: flang, flang:semantics

#82842 [flang] Enforce F'2023 C1520 correctly
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/bind-c04.f90
Labels: flang, flang:semantics

#83032 [flang] Downgrade error to warning
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/resolve61.f90
Labels: flang, flang:semantics

#83073 [flang] Support INDEX as a procedure interface
  flang/docs/Extensions.md
  flang/lib/Evaluate/intrinsics.cpp
  flang/test/Semantics/intrinsics03.f90
Labels: flang, flang:semantics

#82165 [Sparc] Use generated MatchRegisterName (NFCI)
  llvm/lib/Target/Sparc/AsmParser/SparcAsmParser.cpp
  llvm/lib/Target/Sparc/Sparc.td
Labels: backend:Sparc

#83648 [libc] Fix flipped AMDGPU kernel launch arguments
  libc/utils/gpu/loader/amdgpu/Loader.cpp
Labels: backend:AMDGPU, libc

#83647 [libc] Fix a bug in fx_bits.h due to integer promotion of bitwise ops.
  libc/src/__support/fixed_point/fx_bits.h
  libc/test/src/__support/fixed_point/fx_bits_test.cpp
Labels: libc

#83089 [compiler-rt] Relax CHECK line in reaches_function.c
  compiler-rt/test/dfsan/reaches_function.c
Labels: compiler-rt, compiler-rt:sanitizer

#82595 [FileCheck] Fix parsing empty global and pseudo variable names
  llvm/lib/FileCheck/FileCheck.cpp
  llvm/test/FileCheck/empty-variable-name.txt
Labels: testing-tools

#83384 [RISCV] Fix crash when unrolling loop containing vector instructions
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/RISCV/vector-cost-without-v.ll
Labels: backend:RISC-V, llvm:analysis

#83657 Revert "[FileCheck] Fix parsing empty global and pseudo variable names"
  llvm/lib/FileCheck/FileCheck.cpp
  llvm/test/FileCheck/empty-variable-name.txt
Labels: testing-tools

#83113 [scudo] Add support for LoongArch hardware CRC32 checksumming
  compiler-rt/lib/scudo/standalone/checksum.cpp
  compiler-rt/lib/scudo/standalone/checksum.h
  compiler-rt/lib/scudo/standalone/crc32_hw.cpp
Labels: compiler-rt, compiler-rt:scudo, compiler-rt:sanitizer

#82364 [lldb][X86] Fix setting target features in ClangExpressionParser
  lldb/source/Plugins/ExpressionParser/Clang/ClangExpressionParser.cpp
Labels: lldb

#83655 [llvm][Support] Call clear_error in LockFileManager to avoid report_fatal_error
  llvm/lib/Support/LockFileManager.cpp
Labels: llvm:support

#83672 Revert "[Dwarf] Support `__ptrauth` qualifier in metadata nodes"
  llvm/include/llvm/IR/DIBuilder.h
  llvm/include/llvm/IR/DebugInfoMetadata.h
  llvm/lib/AsmParser/LLParser.cpp
  llvm/lib/Bitcode/Reader/MetadataLoader.cpp
  llvm/lib/Bitcode/Writer/BitcodeWriter.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfUnit.cpp
  llvm/lib/IR/AsmWriter.cpp
  llvm/lib/IR/DIBuilder.cpp
  llvm/lib/IR/DebugInfo.cpp
  llvm/lib/IR/DebugInfoMetadata.cpp
  llvm/lib/IR/LLVMContextImpl.h
  llvm/lib/IR/Verifier.cpp
  llvm/test/Assembler/debug-info.ll
  llvm/test/DebugInfo/AArch64/ptrauth.ll
  llvm/unittests/IR/MetadataTest.cpp
  mlir/lib/Target/LLVMIR/DebugTranslation.cpp
Labels: debuginfo, mlir:llvm, mlir, llvm:ir

#83411 [DSE] Delay deleting non-memory-defs until end of DSE.
  llvm/lib/Transforms/Scalar/DeadStoreElimination.cpp
  llvm/test/Transforms/DeadStoreElimination/batchaa-caching-new-pointers.ll
Labels: llvm:transforms

#83596 [X86] Convert logicalshift(x, C) -> and(x, M) iff x is allsignbits
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/bitcast-int-to-vector-bool-zext.ll
  llvm/test/CodeGen/X86/bitcast-int-to-vector-bool.ll
  llvm/test/CodeGen/X86/cmp-shiftX-maskX.ll
Labels: backend:X86

#81619 [Flang] Allow Intrinsic simpification with min/maxloc dim and scalar result
  flang/lib/Optimizer/Transforms/SimplifyIntrinsics.cpp
  flang/test/Transforms/simplifyintrinsics.fir
Labels: flang, flang:fir-hlfir

#81427 [libc++] refactor `cxx_atomic_wait` to make it reusable for atomic_ref
  libcxx/include/__atomic/atomic_base.h
  libcxx/include/__atomic/atomic_flag.h
  libcxx/include/__atomic/atomic_sync.h
  libcxx/include/latch
  libcxx/include/semaphore
Labels: libc++

#83670 [lld] Fixes for unitests in standalone builds
  lld/CMakeLists.txt
  lld/test/CMakeLists.txt
  llvm/cmake/modules/AddLLVM.cmake
Labels: cmake, lld

#83533 [clang-format][NFC] Replace Style.isCpp() with IsCpp
  clang/lib/Format/FormatToken.h
  clang/lib/Format/TokenAnnotator.cpp
  clang/lib/Format/TokenAnnotator.h
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/lib/Format/UnwrappedLineParser.h
Labels: clang-format

#83662 Revert "[mlir][Transforms] Encapsulate dialect conversion options in `ConversionConfig`
  mlir/include/mlir/Transforms/DialectConversion.h
  mlir/lib/Transforms/Utils/DialectConversion.cpp
  mlir/test/lib/Dialect/Test/TestPatterns.cpp
Labels: mlir:core, mlir

#83693 [NFC] Use fold expressions to replace discarded initializer_lists
  clang/lib/AST/Interp/ByteCodeEmitter.cpp
  llvm/lib/Target/AArch64/AArch64SLSHardening.cpp
  llvm/lib/Target/ARM/ARMSLSHardening.cpp
  llvm/lib/Target/X86/X86IndirectThunks.cpp
Labels: clang, backend:ARM, backend:AArch64, backend:X86, clang:frontend

#83623 [mlir][linalg] Add a folder for transpose(fill) -> fill
  mlir/lib/Dialect/Linalg/IR/LinalgOps.cpp
  mlir/test/Dialect/Linalg/canonicalize.mlir
Labels: mlir:linalg, mlir

#82119 [mlir][spirv] Retain nontemporal attribute when converting memref load/store
  mlir/lib/Conversion/MemRefToSPIRV/MemRefToSPIRV.cpp
  mlir/test/Conversion/MemRefToSPIRV/memref-to-spirv.mlir
Labels: mlir:spirv, mlir

#83664 [RISCV] Use the VR allocation order for VM.
  llvm/lib/Target/RISCV/RISCVRegisterInfo.td
Labels: backend:RISC-V

#83690 [RISCV] Use NewVL in splatPartsI64WithVL.
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-bitreverse-vp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-bitreverse.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-ctlz-vp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-ctlz.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-ctpop-vp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-ctpop.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-cttz-vp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-cttz.ll
Labels: backend:RISC-V

#82715 [Driver] Remove duplicate -r flag usage when linking
  clang/lib/Driver/ToolChains/Darwin.cpp
  clang/lib/Driver/ToolChains/DragonFly.cpp
  clang/lib/Driver/ToolChains/FreeBSD.cpp
  clang/lib/Driver/ToolChains/Haiku.cpp
  clang/lib/Driver/ToolChains/NetBSD.cpp
  clang/lib/Driver/ToolChains/OpenBSD.cpp
  clang/lib/Driver/ToolChains/PS4CPU.cpp
  clang/lib/Driver/ToolChains/Solaris.cpp
Labels: clang, clang:driver

#82094 Split the llvm::ThreadPool into an abstract base class and an implementation
  bolt/include/bolt/Core/ParallelUtilities.h
  lldb/include/lldb/Core/Debugger.h
  llvm/include/llvm/Debuginfod/Debuginfod.h
  llvm/include/llvm/Support/BalancedPartitioning.h
  llvm/include/llvm/Support/ThreadPool.h
  llvm/lib/Debuginfod/Debuginfod.cpp
  llvm/lib/Support/ThreadPool.cpp
  llvm/tools/llvm-cov/CoverageReport.h
  llvm/tools/llvm-cov/SourceCoverageViewHTML.h
  llvm/unittests/Support/ThreadPool.cpp
  mlir/include/mlir/CAPI/Support.h
  mlir/include/mlir/IR/MLIRContext.h
  mlir/include/mlir/IR/Threading.h
  mlir/lib/CAPI/IR/IR.cpp
  mlir/lib/IR/MLIRContext.cpp
  mlir/lib/Tools/mlir-opt/MlirOptMain.cpp
Labels: lldb, mlir:core, debuginfo, mlir, llvm:support

#83098 [PowerPC] provide CFI for ELF32 to unwind cr2, cr3, cr4
  llvm/lib/Target/PowerPC/PPCFrameLowering.cpp
  llvm/test/CodeGen/PowerPC/crsave.ll
Labels: backend:PowerPC

#83578 [X86][CodeGen] Support long instruction fixup for APX NDD instructions
  llvm/lib/Target/X86/MCTargetDesc/X86BaseInfo.h
  llvm/lib/Target/X86/MCTargetDesc/X86MCCodeEmitter.cpp
  llvm/lib/Target/X86/X86ExpandPseudo.cpp
  llvm/test/CodeGen/X86/apx/long-instruction-fixup-x32.ll
  llvm/test/CodeGen/X86/apx/long-instruction-fixup.ll
Labels: backend:X86

#83473 [mlir][linalg] Enable fusion by expansion of reduction and named ops
  mlir/lib/Dialect/Linalg/Transforms/ElementwiseOpFusion.cpp
  mlir/test/Dialect/Linalg/reshape_fusion.mlir
Labels: mlir:linalg, mlir

#82689 [clang-tidy] Improve `google-explicit-constructor` checks handling of `explicit(bool)`
  clang-tools-extra/clang-tidy/google/ExplicitConstructorCheck.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/test/clang-tidy/checkers/google/explicit-constructor-cxx20.cpp
Labels: clang-tools-extra, clang-tidy

#82160 Reland "[clang][modules] Print library module manifest path."
  clang/include/clang/Driver/Driver.h
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/Driver.cpp
  clang/test/Driver/modules-print-library-module-manifest-path.cpp
Labels: clang, clang:driver

#81386 [libc++] Use GCC type traits builtins for remove_cv and remove_cvref
  libcxx/include/__type_traits/remove_cv.h
  libcxx/include/__type_traits/remove_cvref.h
Labels: libc++

#83707 [Github] Make CI container build more reliable
  .github/workflows/build-ci-container.yml
Labels: github:workflow

#80563 [VPlan] Add initial pattern match implementation for VPInstruction.
  llvm/lib/Transforms/Vectorize/VPlan.cpp
  llvm/lib/Transforms/Vectorize/VPlanPatternMatch.h
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: vectorization, llvm:transforms

#81914 [libc++][format] Handle range-underlying-spec
  libcxx/include/__format/parser_std_format_spec.h
  libcxx/test/std/containers/container.adaptors/container.adaptors.format/format.functions.tests.h
  libcxx/test/std/containers/sequences/vector.bool/vector.bool.fmt/format.functions.tests.h
  libcxx/test/std/utilities/format/format.range/format.range.fmtmap/format.functions.tests.h
  libcxx/test/std/utilities/format/format.range/format.range.fmtset/format.functions.tests.h
  libcxx/test/std/utilities/format/format.range/format.range.fmtstr/format.functions.tests.h
  libcxx/test/std/utilities/format/format.range/format.range.formatter/format.functions.tests.h
  libcxx/test/std/utilities/format/format.tuple/format.functions.tests.h
Labels: libc++

#83656 [LoongArch] Override LoongArchTargetLowering::getExtendForAtomicCmpSwapArg
  llvm/lib/Target/LoongArch/LoongArchISelLowering.cpp
  llvm/lib/Target/LoongArch/LoongArchISelLowering.h
  llvm/test/CodeGen/LoongArch/atomicrmw-uinc-udec-wrap.ll
  llvm/test/CodeGen/LoongArch/ir-instruction/atomic-cmpxchg.ll
  llvm/test/CodeGen/LoongArch/ir-instruction/atomicrmw-fp.ll
Labels: backend:loongarch

#82963 [PowerPC] adjust cost for extract i64 from vector on P9 and above
  llvm/lib/Target/PowerPC/PPCTargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/PowerPC/insert_extract-inseltpoison.ll
  llvm/test/Analysis/CostModel/PowerPC/insert_extract.ll
Labels: backend:PowerPC, llvm:analysis

#83646 [mlir][Transforms] Fix use-after-free when accessing replaced block args
  mlir/lib/Transforms/Utils/DialectConversion.cpp
  mlir/test/Transforms/test-legalizer.mlir
  mlir/test/lib/Dialect/Test/TestOps.td
Labels: mlir:core, mlir

#83720 [X86] Add missing subvector_subreg_lowering for BF16
  llvm/lib/Target/X86/X86InstrVecCompiler.td
  llvm/test/CodeGen/X86/avx512bf16-vl-intrinsics.ll
  llvm/test/CodeGen/X86/bfloat.ll
Labels: backend:X86

#80056 [SelectionDAG] Add `STRICT_BF16_TO_FP` and `STRICT_FP_TO_BF16`
  compiler-rt/lib/builtins/CMakeLists.txt
  compiler-rt/lib/builtins/extendbfsf2.c
  compiler-rt/lib/builtins/fp_extend.h
  llvm/include/llvm/CodeGen/ISDOpcodes.h
  llvm/include/llvm/CodeGen/SelectionDAGNodes.h
  llvm/include/llvm/IR/RuntimeLibcalls.def
  llvm/include/llvm/Target/TargetSelectionDAG.td
  llvm/lib/CodeGen/SelectionDAG/LegalizeDAG.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeFloatTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeIntegerTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGDumper.cpp
  llvm/lib/CodeGen/TargetLoweringBase.cpp
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/bfloat-constrained.ll
Labels: compiler-rt, backend:AMDGPU, backend:X86, compiler-rt:builtins, llvm:SelectionDAG, llvm:ir

#83542 [clangd] [HeuristicResolver] Protect against infinite recursion on DependentNameTypes
  clang-tools-extra/clangd/HeuristicResolver.cpp
  clang-tools-extra/clangd/HeuristicResolver.h
  clang-tools-extra/clangd/unittests/FindTargetTests.cpp
Labels: clang-tools-extra, clangd

#82697 Replace some C headers with C++ ones
  openmp/libomptarget/include/Shared/SourceInfo.h
  openmp/libomptarget/include/omptarget.h
  openmp/libomptarget/plugins-nextgen/common/include/RPC.h
Labels: openmp:libomptarget

#82678 [SPIR-V] Do not use OpenCL metadata for ptr element type resolution
  llvm/lib/Target/SPIRV/SPIRVBuiltins.cpp
  llvm/lib/Target/SPIRV/SPIRVBuiltins.h
  llvm/lib/Target/SPIRV/SPIRVCallLowering.cpp
  llvm/lib/Target/SPIRV/SPIRVEmitIntrinsics.cpp
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.cpp
  llvm/lib/Target/SPIRV/SPIRVMetadata.cpp
  llvm/lib/Target/SPIRV/SPIRVMetadata.h
  llvm/lib/Target/SPIRV/SPIRVPreLegalizer.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.h
  llvm/test/CodeGen/SPIRV/function/alloca-load-store.ll
  llvm/test/CodeGen/SPIRV/half_no_extension.ll
  llvm/test/CodeGen/SPIRV/instructions/undef-nested-composite-store.ll
  llvm/test/CodeGen/SPIRV/instructions/undef-simple-composite-store.ll
  llvm/test/CodeGen/SPIRV/opaque_pointers.ll
  llvm/test/CodeGen/SPIRV/opencl/basic/get_global_offset.ll
  llvm/test/CodeGen/SPIRV/opencl/metadata/kernel_arg_type_function_metadata.ll
  llvm/test/CodeGen/SPIRV/opencl/metadata/kernel_arg_type_module_metadata.ll
  llvm/test/CodeGen/SPIRV/opencl/vload2.ll
  llvm/test/CodeGen/SPIRV/opencl/vstore2.ll
  llvm/test/CodeGen/SPIRV/passes/SPIRVEmitIntrinsics-TargetExtType-arg-no-spv_assign_type.ll
  llvm/test/CodeGen/SPIRV/passes/SPIRVEmitIntrinsics-no-divergent-spv_assign_ptr_type.ll
  llvm/test/CodeGen/SPIRV/passes/SPIRVEmitIntrinsics-no-duplicate-spv_assign_type.ll
  llvm/test/CodeGen/SPIRV/pointers/getelementptr-kernel-arg-char.ll
  llvm/test/CodeGen/SPIRV/pointers/kernel-argument-builtin-vload-type-discrapency.ll
  llvm/test/CodeGen/SPIRV/pointers/kernel-argument-pointer-type-deduction-mismatch.ll
  llvm/test/CodeGen/SPIRV/pointers/kernel-argument-pointer-type-deduction-no-metadata.ll
  llvm/test/CodeGen/SPIRV/pointers/ptr-argument-byref.ll
  llvm/test/CodeGen/SPIRV/pointers/ptr-argument-byval.ll
  llvm/test/CodeGen/SPIRV/pointers/store-operand-ptr-to-struct.ll
  llvm/test/CodeGen/SPIRV/pointers/two-bitcast-or-param-users.ll
  llvm/test/CodeGen/SPIRV/pointers/two-subsequent-bitcasts.ll
  llvm/test/CodeGen/SPIRV/sitofp-with-bool.ll
  llvm/test/CodeGen/SPIRV/transcoding/OpenCL/atomic_cmpxchg.ll
  llvm/test/CodeGen/SPIRV/transcoding/OpenCL/atomic_legacy.ll
  llvm/test/CodeGen/SPIRV/transcoding/spirv-private-array-initialization.ll
  llvm/test/CodeGen/SPIRV/uitofp-with-bool.ll
Labels: backend:SPIR-V

#83768 [flang] Fix use-after-free in `MemoryAllocation.cpp`
  flang/lib/Optimizer/Transforms/MemoryAllocation.cpp
Labels: flang, flang:fir-hlfir

#83535 [flang] disable memory-allocation-opt.fir test on windows
  flang/test/Fir/memory-allocation-opt.fir
Labels: flang

#83492 [flang][NFC] Expose FIR to LLVM patterns
  flang/include/flang/Optimizer/CodeGen/CodeGen.h
  flang/lib/Optimizer/CodeGen/CodeGen.cpp
Labels: flang, flang:fir-hlfir, flang:codegen

#83708 [X86][MC] Report error when the instruction length exceeds 15 bytes
  llvm/lib/Target/X86/MCTargetDesc/X86MCCodeEmitter.cpp
  llvm/test/MC/X86/apx/long-instruction-err.s
Labels: backend:X86, mc

#80457 [clang][analyzer] Change default value of checker option in unix.StdCLibraryFunctions.
  clang/docs/analyzer/checkers.rst
  clang/include/clang/StaticAnalyzer/Checkers/Checkers.td
  clang/test/Analysis/analyzer-config.c
Labels: clang, clang:static analyzer

#83286 [mlir][Transforms][NFC] Simplify `BlockTypeConversionRewrite`
  mlir/lib/Transforms/Utils/DialectConversion.cpp
Labels: mlir:core, mlir

#83531 [BOLT] support AArch64 JUMP26 createRelocation
  bolt/lib/Core/Relocation.cpp
  bolt/lib/Target/AArch64/AArch64MCPlusBuilder.cpp
  bolt/unittests/Core/BinaryContext.cpp
Labels: BOLT

#83423 [mlir][Transforms][NFC] Simplify handling of erased IR
  mlir/lib/Transforms/Utils/DialectConversion.cpp
Labels: mlir:core, mlir

#83545 [analyzer] Improve some comments in ArrayBoundCheckerV2 (NFC)
  clang/lib/StaticAnalyzer/Checkers/ArrayBoundCheckerV2.cpp
Labels: clang, clang:static analyzer

#83399 [libc][NFC] Rename `LIBC_LONG_DOUBLE_IS_` macros
  libc/src/__support/FPUtil/ManipulationFunctions.h
  libc/src/__support/FPUtil/NormalFloat.h
  libc/src/__support/FPUtil/generic/sqrt.h
  libc/src/__support/FPUtil/generic/sqrt_80_bit_long_double.h
  libc/src/__support/FPUtil/x86_64/sqrt.h
  libc/src/__support/float_to_string.h
  libc/src/__support/macros/properties/types.h
  libc/src/__support/str_to_float.h
  libc/test/src/__support/FPUtil/fpbits_test.cpp
  libc/test/src/__support/str_to_long_double_test.cpp
  libc/test/src/math/smoke/nanl_test.cpp
  libc/test/src/stdio/sprintf_test.cpp
  libc/test/src/stdio/sscanf_test.cpp
  libc/test/src/stdlib/strtold_test.cpp
Labels: libc

#83139 [SPIR-V] Fix bitcast legalization/instruction selection in SPIR-V Backend
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.cpp
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.h
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/lib/Target/SPIRV/SPIRVLegalizerInfo.cpp
  llvm/test/CodeGen/SPIRV/bitcast.ll
Labels: backend:SPIR-V

#83418 [SPIR-V] Add support for SPV_KHR_float_controls
  llvm/lib/Target/SPIRV/SPIRVModuleAnalysis.cpp
  llvm/lib/Target/SPIRV/SPIRVSubtarget.cpp
  llvm/test/CodeGen/SPIRV/exec_mode_float_control_khr.ll
Labels: backend:SPIR-V

#83443 [SPIR-V] Add support for the SPIR-V extension SPV_INTEL_bfloat16_conversion
  llvm/lib/Target/SPIRV/SPIRVBuiltins.cpp
  llvm/lib/Target/SPIRV/SPIRVBuiltins.td
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.cpp
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.h
  llvm/lib/Target/SPIRV/SPIRVInstrInfo.td
  llvm/lib/Target/SPIRV/SPIRVModuleAnalysis.cpp
  llvm/lib/Target/SPIRV/SPIRVSubtarget.cpp
  llvm/lib/Target/SPIRV/SPIRVSymbolicOperands.td
  llvm/test/CodeGen/SPIRV/extensions/SPV_INTEL_bfloat16_conversion/bfloat16-conv-negative1.ll
  llvm/test/CodeGen/SPIRV/extensions/SPV_INTEL_bfloat16_conversion/bfloat16-conv-negative2.ll
  llvm/test/CodeGen/SPIRV/extensions/SPV_INTEL_bfloat16_conversion/bfloat16-conv-negative3.ll
  llvm/test/CodeGen/SPIRV/extensions/SPV_INTEL_bfloat16_conversion/bfloat16-conv-negative4.ll
  llvm/test/CodeGen/SPIRV/extensions/SPV_INTEL_bfloat16_conversion/bfloat16-conv.ll
Labels: backend:SPIR-V

#82801 [ARM] R11 not pushed adjacent to link register with PAC-M and AAPCS frame chain fix
  llvm/lib/Target/ARM/ARMBaseRegisterInfo.cpp
  llvm/lib/Target/ARM/ARMFrameLowering.cpp
  llvm/lib/Target/ARM/ARMSubtarget.cpp
  llvm/lib/Target/ARM/ARMSubtarget.h
  llvm/lib/Target/ARM/Thumb1FrameLowering.cpp
  llvm/test/CodeGen/Thumb2/pacbti-m-frame-chain.ll
Labels: backend:ARM

#82402 [Docs] Allow building man pages without myst_parser
  clang/docs/conf.py
  flang/docs/conf.py
  llvm/docs/conf.py
Labels: documentation, clang, flang

#83688 [Clang] [Sema] Do not attempt to dump the layout of dependent types when `-fdump-record-layouts-complete` is passed
  clang/docs/ReleaseNotes.rst
  clang/lib/AST/Decl.cpp
  clang/test/Layout/dump-complete-invalid.cpp
  clang/test/Layout/dump-complete.cpp
Labels: clang, clang:frontend

#82968 [PowerPC] Add intrinsics for rldimi/rlwimi/rlwnm
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/test/CodeGen/PowerPC/builtins-ppc-xlcompat-rotate.c
  llvm/include/llvm/IR/IntrinsicsPowerPC.td
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
  llvm/test/CodeGen/PowerPC/rldimi.ll
  llvm/test/CodeGen/PowerPC/rlwimi.ll
  llvm/test/CodeGen/PowerPC/rlwinm.ll
Labels: clang, backend:PowerPC, clang:codegen, llvm:ir

#82746 [Clang][Docs] Simpler syntax for Github links.
  clang/docs/ReleaseNotes.rst
  clang/docs/conf.py
  clang/docs/ghlinks.py
Labels: clang

#83846 [libc][NFC] Fix typo in dyadic_float.h
  libc/src/__support/FPUtil/dyadic_float.h
Labels: libc

#83815 [AMDGPU] Fix setting nontemporal in memory legalizer
  llvm/lib/Target/AMDGPU/SIMemoryLegalizer.cpp
  llvm/test/CodeGen/AMDGPU/memory-legalizer-flat-nontemporal.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-global-nontemporal.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-local-nontemporal.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-private-nontemporal.ll
Labels: backend:AMDGPU

#83432 [analyzer] Refactor CallDescription match mode (NFC)
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/CallDescription.h
  clang/lib/StaticAnalyzer/Checkers/CStringChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/GenericTaintChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/MallocChecker.cpp
  clang/lib/StaticAnalyzer/Core/CallDescription.cpp
  clang/unittests/StaticAnalyzer/CallDescriptionTest.cpp
Labels: clang, clang:static analyzer

#83818 [libc][NFC] Don't expose how `float16` and `float128` types are provided
  libc/include/llvm-libc-types/float128.h
  libc/src/__support/macros/properties/types.h
Labels: libc

#83598 [mlir][OpenMP][NFC] - Minor fix in OpenMP ops documentation
  mlir/include/mlir/Dialect/OpenMP/OpenMPOps.td
Labels: mlir, mlir:openmp, flang:openmp
