Repository llvm/llvm-project, pull requests merged in 2024-09, with the labels that each got.

#105510 [InstCombine] Replace all dominated uses of condition with constants
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
  llvm/test/Transforms/InstCombine/assume.ll
  llvm/test/Transforms/InstCombine/branch.ll
  llvm/test/Transforms/InstCombine/compare-unescaped.ll
  llvm/test/Transforms/InstCombine/icmp-dom.ll
  llvm/test/Transforms/InstCombine/indexed-gep-compares.ll
  llvm/test/Transforms/InstCombine/known-bits.ll
  llvm/test/Transforms/InstCombine/phi-known-bits-operand-order.ll
  llvm/test/Transforms/InstCombine/phi.ll
  llvm/test/Transforms/InstCombine/pr44245.ll
  llvm/test/Transforms/InstCombine/sink-into-ncd.ll
  llvm/test/Transforms/InstCombine/sink_to_unreachable.ll
  llvm/test/Transforms/InstCombine/zext-phi.ll
  llvm/test/Transforms/LoopVectorize/AArch64/uniform-args-call-variants.ll
  llvm/test/Transforms/PhaseOrdering/AArch64/constraint-elimination-placement.ll
  llvm/test/Transforms/PhaseOrdering/branch-dom-cond.ll
Labels: llvm:transforms

#106817 [NFC] Fix typos
  clang/lib/Tooling/Refactoring/AtomicChange.cpp
  clang/tools/clang-format/ClangFormat.cpp
  clang/tools/scan-build-py/tests/functional/cases/test_create_cdb.py
  llvm/examples/ExceptionDemo/ExceptionDemo.cpp
Labels: clang, clang-format

#106868 [clang][bytecode] Fix diagnosing reads from temporaries
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/AST/ByteCode/Interp.cpp
  clang/test/AST/ByteCode/references.cpp
Labels: clang, clang:frontend

#106866 [X86] Remove X86RegisterInfo::getSEHRegNum.
  llvm/lib/Target/X86/X86RegisterInfo.cpp
  llvm/lib/Target/X86/X86RegisterInfo.h
Labels: backend:X86

#106886 [RISCV] Custom legalize f16/bf16 FNEG/FABS with Zfhmin/Zbfmin.
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/bfloat-arith.ll
  llvm/test/CodeGen/RISCV/copysign-casts.ll
  llvm/test/CodeGen/RISCV/half-arith-strict.ll
  llvm/test/CodeGen/RISCV/half-arith.ll
  llvm/test/CodeGen/RISCV/half-bitmanip-dagcombines.ll
  llvm/test/CodeGen/RISCV/half-intrinsics.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp.ll
Labels: backend:RISC-V

#105975 [clangd] Add clangd 19 release notes
  clang-tools-extra/docs/ReleaseNotes.rst
Labels: clang-tools-extra

#106599 release/19.x: [AArch64] Make apple-m4 armv8.7-a again (from armv9.2-a).
  clang/test/CodeGen/aarch64-targetattr.c
  llvm/lib/Target/AArch64/AArch64Processors.td
  llvm/unittests/TargetParser/TargetParserTest.cpp
Labels: clang, backend:AArch64

#105516 Backport taint analysis slowdown regression fix
  clang/docs/ReleaseNotes.rst
  clang/include/clang/StaticAnalyzer/Core/AnalyzerOptions.def
  clang/lib/StaticAnalyzer/Checkers/Taint.cpp
  clang/test/Analysis/analyzer-config.c
  clang/test/Analysis/taint-generic.c
Labels: clang, clang:static analyzer, release:backport

#105659 Add release note about ABI implementation changes for _BitInt on Arm
  clang/docs/ReleaseNotes.rst
Labels: clang

#106882 [clang] NFCI: don't check deduced constraints when partial ordering
  clang/lib/Sema/SemaTemplateDeduction.cpp
Labels: clang, clang:frontend

#106439 Revert "[LinkerWrapper] Extend with usual pass options (#96704)" (#102226)
  clang/test/Driver/linker-wrapper-passes.c
  clang/test/lit.cfg.py
  clang/test/lit.site.cfg.py.in
Labels: clang, clang:driver

#106516 release/19.x: Revert "[clang] fix broken canonicalization of DeducedTemplateSpeciatizationType (#95202)"
  clang/include/clang/AST/ASTContext.h
  clang/include/clang/AST/TemplateName.h
  clang/include/clang/AST/Type.h
  clang/lib/AST/ASTContext.cpp
  clang/lib/AST/TemplateName.cpp
  clang/unittests/AST/CMakeLists.txt
  clang/unittests/AST/ProfilingTest.cpp
Labels: clang, clang:frontend, regression:19

#106794 [CMake][Support] Use /nologo when compiling BLAKE3 assembly sources on Windows
  llvm/lib/Support/BLAKE3/CMakeLists.txt
Labels: llvm:support

#106891 [Clang][NFC] Don't manually enumerate the PredefinedDeclIDs
  clang/include/clang/AST/DeclID.h
Labels: clang, clang:frontend

#106857 [SLP] Fix crash of shuffle poison
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/crash_extractelement_poison.ll
Labels: vectorization, llvm:transforms

#106902 [compiler-rt][fuzzer] SetThreadName build fix for Mingwin attempt
  compiler-rt/lib/fuzzer/FuzzerUtilWindows.cpp
Labels: compiler-rt, compiler-rt:fuzzer, compiler-rt:sanitizer

#106889 Revert "[AMDGPU][LTO] Assume closed world after linking (#105845)"
  llvm/lib/Target/AMDGPU/AMDGPUAttributor.cpp
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
  llvm/test/LTO/AMDGPU/gpu-rdc-amdgpu-attrs.ll
Labels: backend:AMDGPU, LTO

#106883 [SDAG] Expand vector [u|s]cmp in VectorLegalizer
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorOps.cpp
  llvm/test/CodeGen/X86/scmp.ll
  llvm/test/CodeGen/X86/ucmp.ll
Labels: backend:X86, llvm:SelectionDAG

#106047 [VPlan] Implement VPWidenCallRecipe::computeCost (NFCI).
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
Labels: vectorization, llvm:transforms

#106772 [LTO] Reduce memory usage for import lists
  clang/lib/CodeGen/BackendUtil.cpp
  llvm/include/llvm/Transforms/IPO/FunctionImport.h
  llvm/lib/LTO/LTO.cpp
  llvm/lib/Transforms/IPO/FunctionImport.cpp
  llvm/tools/llvm-link/llvm-link.cpp
Labels: clang, clang:codegen, LTO, llvm:transforms

#104711 [lldb-dap] show dialog when executable is not found
  lldb/tools/lldb-dap/src-ts/debug-adapter-factory.ts
  lldb/tools/lldb-dap/src-ts/extension.ts
Labels: lldb, lldb-dap

#106731 [AArch64] Add tests for fused FP literals. NFC
  llvm/test/CodeGen/AArch64/literal_pools_float_apple.ll
Labels: backend:AArch64

#106803 [lld][ELF] Add `-plugin-opt=time-trace=` as an alias of `--time-trace=`
  lld/ELF/Options.td
  lld/test/ELF/lto/time-trace.ll
Labels: lld, lld:ELF

#87506 [RISCV][TTI] Scale the cost of FP-Int conversion with LMUL
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/RISCV/cast-half.ll
  llvm/test/Analysis/CostModel/RISCV/cast.ll
Labels: backend:RISC-V, llvm:analysis

#104806 [clang][AIX] Fix -print-runtime-dir on AIX
  clang/lib/Driver/ToolChain.cpp
  clang/test/Driver/aix-print-runtime-dir.c
Labels: clang, clang:driver

#106671 [RISCV] Move VLDSX0Pred from RISCVSchedSiFive7.td to RISCVScheduleV.td. NFC
  llvm/lib/Target/RISCV/RISCVSchedSiFive7.td
  llvm/lib/Target/RISCV/RISCVScheduleV.td
Labels: backend:RISC-V

#106486 [llvm][Support] Simplify HAVE_PTHREAD_GETNAME/SETNAME_NP handling. NFCI
  llvm/lib/Support/Unix/Threading.inc
Labels: llvm:support

#106890 [Clang][Concepts] Correct the CurContext for friend declarations
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaConcept.cpp
  clang/lib/Sema/SemaTemplateInstantiate.cpp
  clang/test/CXX/temp/temp.constr/temp.constr.normal/p1.cpp
  clang/test/SemaTemplate/concepts-friends.cpp
Labels: clang, clang:frontend

#106362 AMDGPU/NewPM Port SILoadStoreOptimizer to NPM
  llvm/lib/Target/AMDGPU/AMDGPU.h
  llvm/lib/Target/AMDGPU/AMDGPUPassRegistry.def
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
  llvm/lib/Target/AMDGPU/SILoadStoreOptimizer.cpp
  llvm/lib/Target/AMDGPU/SILoadStoreOptimizer.h
  llvm/test/CodeGen/AMDGPU/load-store-opt-dlc.mir
  llvm/test/CodeGen/AMDGPU/load-store-opt-scc.mir
Labels: backend:AMDGPU

#102111 [lldb] Better matching of types in anonymous namespaces
  lldb/include/lldb/Symbol/Type.h
  lldb/source/Plugins/LanguageRuntime/CPlusPlus/ItaniumABI/ItaniumABILanguageRuntime.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DWARFDIE.cpp
  lldb/source/Symbol/Type.cpp
  lldb/test/API/lang/cpp/dynamic-value/Makefile
  lldb/test/API/lang/cpp/dynamic-value/TestDynamicValue.py
  lldb/test/API/lang/cpp/dynamic-value/a.h
  lldb/test/API/lang/cpp/dynamic-value/anonymous-b.cpp
  lldb/test/API/lang/cpp/dynamic-value/pass-to-base.cpp
  lldb/test/API/lang/cpp/namespace/TestNamespace.py
  lldb/unittests/Symbol/TestType.cpp
  lldb/unittests/SymbolFile/DWARF/DWARFDIETest.cpp
Labels: lldb

#106938 Add support for retrieving the thread ID on DragonFly BSD
  llvm/lib/Support/Unix/Threading.inc
Labels: llvm:support

#106075 [InstCombine] Make backedge check in op of phi transform more precise
  llvm/include/llvm/Transforms/InstCombine/InstCombiner.h
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
  llvm/test/Transforms/InstCombine/phi.ll
  llvm/test/Transforms/LoopVectorize/induction.ll
Labels: llvm:transforms

#106877 [CodeGen] Update a few places that were passing Register to raw_ostream::operator<<
  llvm/lib/CodeGen/InitUndef.cpp
  llvm/lib/CodeGen/LiveDebugValues/VarLocBasedImpl.cpp
  llvm/lib/CodeGen/LiveDebugVariables.cpp
  llvm/lib/CodeGen/LocalStackSlotAllocation.cpp
  llvm/lib/CodeGen/TargetRegisterInfo.cpp
  llvm/lib/Target/AMDGPU/SILoadStoreOptimizer.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyDebugFixup.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyRegNumbering.cpp
Labels: backend:AMDGPU, backend:WebAssembly, debuginfo

#99441 [TSan] fix crash when symbolize on darwin platforms
  compiler-rt/lib/sanitizer_common/sanitizer_symbolizer_mac.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#102926 [CGP] Undo constant propagation of pointers across calls
  llvm/lib/CodeGen/CodeGenPrepare.cpp
  llvm/test/Transforms/CodeGenPrepare/revert-constant-ptr-propagation-on-calls.ll
Labels: llvm:transforms

#106524 [APInt] Add default-disabled assertion to APInt constructor
  llvm/include/llvm/ADT/APInt.h
  llvm/lib/Support/APInt.cpp
  llvm/unittests/ADT/APIntTest.cpp
Labels: llvm:support, llvm:adt

#106721 [ARM] Fix failure to register-allocate CMP_SWAP_64 pseudo-inst
  llvm/lib/Target/ARM/ARMExpandPseudoInsts.cpp
  llvm/lib/Target/ARM/ARMISelLowering.cpp
  llvm/lib/Target/ARM/ARMInstrInfo.td
  llvm/test/CodeGen/ARM/atomic-64bit-fast-regalloc.ll
  llvm/test/CodeGen/ARM/atomic-load-store.ll
  llvm/test/CodeGen/ARM/atomicrmw_exclusive_monitor_ints.ll
  llvm/test/CodeGen/ARM/cmpxchg-O0.ll
  llvm/test/CodeGen/ARM/cmpxchg.mir
  llvm/test/CodeGen/Thumb2/cmpxchg.mir
Labels: backend:ARM

#106742 [libcxx][test] Use long double test macro in strong_order.pass.cpp
  libcxx/test/std/language.support/cmp/cmp.alg/strong_order.pass.cpp
Labels: libc++

#106662 [clang-format] Correctly annotate braces in macro definition
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#106747 [SLP] Add vectorization support for [u|s]cmp
  llvm/lib/Analysis/VectorUtils.cpp
  llvm/test/Transforms/SLPVectorizer/X86/arith-scmp.ll
  llvm/test/Transforms/SLPVectorizer/X86/arith-ucmp.ll
Labels: backend:X86, llvm:analysis, llvm:transforms

#106746 [flang][runtime] long double isn't always f80
  flang/include/flang/Optimizer/Builder/Runtime/RTBuilder.h
Labels: flang, flang:fir-hlfir

#106849 [clang] The ms-extension __noop should return zero in a constexpr context.
  clang/lib/AST/ExprConstant.cpp
  clang/test/SemaCXX/builtins.cpp
Labels: clang, clang:frontend

#106732 [SCCP] Infer return attributes in SCCP as well
  clang/test/CodeGen/attr-counted-by.c
  llvm/include/llvm/Transforms/Utils/SCCPSolver.h
  llvm/lib/Transforms/IPO/SCCP.cpp
  llvm/lib/Transforms/Scalar/SCCP.cpp
  llvm/lib/Transforms/Utils/SCCPSolver.cpp
  llvm/test/Transforms/PhaseOrdering/icmp-ashr-breaking-select-idiom.ll
  llvm/test/Transforms/SCCP/exact-flags.ll
  llvm/test/Transforms/SCCP/phis.ll
  llvm/test/Transforms/SCCP/pointer-nonnull.ll
Labels: clang, function-specialization, llvm:transforms

#106956 [llvm][Support] Adjust maximum thread name length to the right value for OpenBSD
  llvm/lib/Support/Unix/Threading.inc
Labels: llvm:support

#106755 [mlir][ArmSME] Rename slice move operations to insert/extract_tile_slice
  mlir/include/mlir/Dialect/ArmSME/IR/ArmSMEOps.td
  mlir/lib/Conversion/ArithToArmSME/ArithToArmSME.cpp
  mlir/lib/Conversion/ArmSMEToLLVM/ArmSMEToLLVM.cpp
  mlir/lib/Conversion/ArmSMEToSCF/ArmSMEToSCF.cpp
  mlir/lib/Conversion/VectorToArmSME/VectorToArmSME.cpp
  mlir/test/Conversion/ArithToArmSME/arith-to-arm-sme.mlir
  mlir/test/Conversion/ArmSMEToLLVM/arm-sme-to-llvm.mlir
  mlir/test/Conversion/ArmSMEToSCF/arm-sme-to-scf.mlir
  mlir/test/Conversion/VectorToArmSME/vector-to-arm-sme.mlir
  mlir/test/Dialect/ArmSME/invalid.mlir
  mlir/test/Dialect/ArmSME/roundtrip.mlir
  mlir/test/Dialect/ArmSME/tile-allocation-copies.mlir
  mlir/test/Dialect/ArmSME/tile-allocation-liveness.mlir
Labels: mlir, mlir:sme

#106944 [llvm][Support] Add support for thread naming under DragonFly BSD and Solaris/illumos
  llvm/cmake/config-ix.cmake
  llvm/include/llvm/Config/config.h.cmake
  llvm/lib/Support/Unix/Threading.inc
Labels: cmake, llvm:support

#106947 Reapply "[MLIR][LLVM] Make DISubprogramAttr cyclic" (#106571) with fixes
  flang/lib/Optimizer/Transforms/DebugTypeGenerator.cpp
  mlir/include/mlir-c/Dialect/LLVM.h
  mlir/include/mlir/Dialect/LLVMIR/LLVMAttrDefs.td
  mlir/include/mlir/Dialect/LLVMIR/LLVMInterfaces.td
  mlir/lib/CAPI/Dialect/LLVM.cpp
  mlir/lib/Dialect/LLVMIR/IR/LLVMAttrs.cpp
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/lib/Dialect/LLVMIR/Transforms/DIScopeForLLVMFuncOp.cpp
  mlir/lib/Target/LLVMIR/DebugImporter.cpp
  mlir/lib/Target/LLVMIR/DebugTranslation.cpp
  mlir/lib/Target/LLVMIR/DebugTranslation.h
  mlir/test/CAPI/llvm.c
  mlir/test/Target/LLVMIR/Import/debug-info.ll
  mlir/test/Target/LLVMIR/llvmir-debug.mlir
Labels: mlir:llvm, mlir, flang, flang:fir-hlfir

#106547 [DebugInfo][RemoveDIs] Find types hidden in DbgRecords
  llvm/lib/IR/DebugProgramInstruction.cpp
  llvm/lib/IR/TypeFinder.cpp
  llvm/test/DebugInfo/type-finder-w-dbg-records.ll
Labels: debuginfo, llvm:ir

#106510 [mlir][vector] Add more tests for ConvertVectorToLLVM (5/n)
  mlir/test/Conversion/VectorToLLVM/vector-to-llvm.mlir
Labels: mlir

#106693 [Flang][Lower] Handle mangling of a generic name with a homonym specific procedure
  flang/lib/Lower/Mangler.cpp
  flang/test/Lower/module-generic-with-specific-mangling.f90
Labels: flang, flang:fir-hlfir

#106714 [clang][bytecode] Implement __noop
  clang/lib/AST/ByteCode/Function.cpp
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/test/AST/ByteCode/ms.cpp
Labels: clang, clang:frontend

#106962 [clang][bytecode] Fix zero-init of first union member
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/test/SemaObjC/non-trivial-c-union.m
Labels: clang, clang:frontend

#106706 [include-cleaner] Report refs for enum constants used through namespace aliases
  clang-tools-extra/include-cleaner/lib/WalkAST.cpp
  clang-tools-extra/include-cleaner/unittests/WalkASTTest.cpp
Labels: clang-tools-extra

#106953 [mlir][EmitC] Remove restrictions on include op
  mlir/include/mlir/Dialect/EmitC/IR/EmitC.td
  mlir/test/Target/Cpp/common-cpp.mlir
Labels: mlir, mlir:emitc

#96348 [NFC] Fix dead links in TargetCXXABI.def
  clang/include/clang/Basic/TargetCXXABI.def
Labels: clang, clang:frontend

#106532 [lldb/linux] Make truncated reads work
  lldb/source/Plugins/Process/Linux/NativeProcessLinux.cpp
  lldb/source/Plugins/Process/gdb-remote/GDBRemoteCommunicationServerLLGS.cpp
  lldb/test/API/functionalities/memory/holes/Makefile
  lldb/test/API/functionalities/memory/holes/TestMemoryHoles.py
  lldb/test/API/functionalities/memory/holes/main.cpp
Labels: lldb

#105649 [Analysis] Add getPredicatedExitCount to ScalarEvolution
  llvm/include/llvm/Analysis/ScalarEvolution.h
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/test/Analysis/ScalarEvolution/exit-count-non-strict.ll
  llvm/test/Analysis/ScalarEvolution/predicated-exit-count.ll
  llvm/test/Analysis/ScalarEvolution/predicated-symbolic-max-backedge-taken-count.ll
Labels: llvm:analysis

#101010 [AArch64] Lower partial add reduction to udot or svdot
  llvm/include/llvm/CodeGen/SelectionDAG.h
  llvm/include/llvm/CodeGen/TargetLowering.h
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.h
  llvm/test/CodeGen/AArch64/partial-reduce-dot-product.ll
Labels: backend:AArch64, llvm:SelectionDAG

#106578 [NFC][Support] Add FormatVariadic sub-test for validation
  llvm/unittests/Support/FormatVariadicTest.cpp
Labels: llvm:support

#106117 [clang] Add tests for CWG issues about friend declaration matching
  clang/test/CXX/drs/cwg14xx.cpp
  clang/test/CXX/drs/cwg19xx.cpp
  clang/test/CXX/drs/cwg1xx.cpp
  clang/test/CXX/drs/cwg3xx.cpp
  clang/www/cxx_dr_status.html
Labels: clang, c++

#106869 [compiler-rt][rtsan] NFC: Refactor context helper functions
  compiler-rt/lib/rtsan/rtsan.cpp
  compiler-rt/lib/rtsan/rtsan_context.cpp
  compiler-rt/lib/rtsan/rtsan_context.h
  compiler-rt/lib/rtsan/tests/rtsan_test_context.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#105684 [clang][Driver] Add a custom error option in multilib.yaml.
  clang/docs/Multilib.rst
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/include/clang/Driver/Multilib.h
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/Multilib.cpp
  clang/lib/Driver/ToolChains/BareMetal.cpp
  clang/lib/Driver/ToolChains/Fuchsia.cpp
  clang/lib/Driver/ToolChains/Gnu.cpp
  clang/lib/Driver/ToolChains/OHOS.cpp
  clang/test/Driver/baremetal-multilib-custom-error.yaml
  clang/unittests/Driver/MultilibBuilderTest.cpp
  clang/unittests/Driver/MultilibTest.cpp
  clang/unittests/Driver/SimpleDiagnosticConsumer.h
Labels: clang, clang:driver, clang:frontend

#106992 [clang][AST][NFC] Make ASTContext::UnwrapSimilar{Array,}Types const
  clang/include/clang/AST/ASTContext.h
  clang/lib/AST/ASTContext.cpp
Labels: clang, clang:frontend

#106939 [RISCV] Remove RISCVISD::FP_EXTEND_BF16.
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.h
  llvm/lib/Target/RISCV/RISCVInstrInfoVSDPatterns.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZfbfmin.td
Labels: backend:RISC-V

#106904 [LLD][COFF] Use archive's ECSYMBOLS on ARM64EC target when available.
  lld/COFF/InputFiles.cpp
  lld/test/COFF/arm64ec-lib.test
Labels: lld, lld:COFF, platform:windows

#106787 [clang][OpenMP] `masked` and `master` are not capturing
  clang/lib/Basic/OpenMPKinds.cpp
Labels: clang, clang:frontend, clang:openmp

#94695 [MIPS] Fix error messages when rejecting certain assembly not supported by ISA
  llvm/lib/Target/Mips/AsmParser/MipsAsmParser.cpp
  llvm/test/MC/Mips/cnmips/invalid-wrong-error.s
  llvm/test/MC/Mips/eva/invalid-noeva-wrong-error.s
  llvm/test/MC/Mips/eva/invalid_R6.s
  llvm/test/MC/Mips/micromips32r6/invalid-wrong-error.s
  llvm/test/MC/Mips/mips1/invalid-mips2-wrong-error.s
  llvm/test/MC/Mips/mips1/invalid-mips3-wrong-error.s
  llvm/test/MC/Mips/mips1/invalid-mips3.s
  llvm/test/MC/Mips/mips1/invalid-mips4-wrong-error.s
  llvm/test/MC/Mips/mips1/invalid-mips4.s
  llvm/test/MC/Mips/mips1/invalid-mips5.s
  llvm/test/MC/Mips/mips2/invalid-mips3-wrong-error.s
  llvm/test/MC/Mips/mips2/invalid-mips3.s
  llvm/test/MC/Mips/mips2/invalid-mips4-wrong-error.s
  llvm/test/MC/Mips/mips2/invalid-mips4.s
  llvm/test/MC/Mips/mips32r6/invalid-mips1-wrong-error.s
  llvm/test/MC/Mips/mips64r6/invalid-mips1-wrong-error.s
  llvm/test/MC/Mips/mips64r6/invalid-mips3-wrong-error.s
  llvm/test/MC/Mips/target-soft-float.s
Labels: mc

#106783 [LegalizeVectorOps] Defer UnrollVectorOp in ExpandFNEG to caller.
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorOps.cpp
Labels: llvm:SelectionDAG

#107028 [RISCV] Correct the scheduler class for FCVT_S_BF16.
  llvm/lib/Target/RISCV/RISCVInstrInfoZfbfmin.td
Labels: backend:RISC-V

#106998 [LTO] Don't make unnecessary copies of ImportIDTable
  llvm/include/llvm/Transforms/IPO/FunctionImport.h
Labels: llvm:transforms

#106033 [clang][Sema] Fix diagnostic for function overloading in extern "C"
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaDecl.cpp
  clang/test/SemaCXX/extern-c.cpp
Labels: clang, clang:frontend

#107039 [RISCV] Custom legalize f16/bf16 FCOPYSIGN with Zfhmin/Zbfmin.
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/bfloat-arith.ll
  llvm/test/CodeGen/RISCV/copysign-casts.ll
  llvm/test/CodeGen/RISCV/half-arith.ll
  llvm/test/CodeGen/RISCV/half-bitmanip-dagcombines.ll
  llvm/test/CodeGen/RISCV/half-intrinsics.ll
Labels: backend:RISC-V

#106967 [AMDGPU][NewPM] Port SIShrinkInstructions to new pass manager.
  llvm/lib/Target/AMDGPU/AMDGPU.h
  llvm/lib/Target/AMDGPU/AMDGPUPassRegistry.def
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
  llvm/lib/Target/AMDGPU/SIShrinkInstructions.cpp
  llvm/lib/Target/AMDGPU/SIShrinkInstructions.h
  llvm/test/CodeGen/AMDGPU/cmp_shrink.mir
  llvm/test/CodeGen/AMDGPU/fold-imm-f16-f32.mir
  llvm/test/CodeGen/AMDGPU/fold-multiple.mir
  llvm/test/CodeGen/AMDGPU/shrink-i32-kimm.mir
  llvm/test/CodeGen/AMDGPU/shrink-instructions-flags.mir
  llvm/test/CodeGen/AMDGPU/shrink-instructions-illegal-fold.mir
  llvm/test/CodeGen/AMDGPU/shrink-insts-scalar-bit-ops.mir
  llvm/test/CodeGen/AMDGPU/shrink-true16.mir
  llvm/test/CodeGen/AMDGPU/shrink-vop3-carry-out.mir
  llvm/test/CodeGen/AMDGPU/v_swap_b32.mir
  llvm/test/CodeGen/AMDGPU/vop-shrink-frame-index.mir
  llvm/test/CodeGen/AMDGPU/vop-shrink-non-ssa.mir
Labels: backend:AMDGPU

#106520 [AMDGPU][NewPM] Have consistent property changes in GCNDPPCombine
  llvm/lib/Target/AMDGPU/GCNDPPCombine.cpp
Labels: backend:AMDGPU

#107030 [lldb-dap][test] Fix: Typo in unresolved test
  lldb/test/API/tools/lldb-dap/instruction-breakpoint/TestDAP_instruction_breakpoint.py
Labels: lldb

#105475 [MachinePipeliner] Make Recurrence MII More Accurate
  llvm/include/llvm/CodeGen/MachinePipeliner.h
  llvm/lib/CodeGen/MachinePipeliner.cpp
  llvm/test/CodeGen/PowerPC/sms-recmii.ll
  llvm/test/CodeGen/Thumb2/pipeliner-preserve-ties.mir
Labels: backend:PowerPC

#106995 [RISCV] Rename `vcix_state` register to `sf_vcix_state`. NFC
  llvm/lib/Target/RISCV/RISCVInstrInfoXSf.td
  llvm/lib/Target/RISCV/RISCVRegisterInfo.cpp
  llvm/lib/Target/RISCV/RISCVRegisterInfo.td
  llvm/test/CodeGen/RISCV/rvv/copyprop.mir
Labels: backend:RISC-V

#106874 [compiler-rt] [docs] Mention Windows as one of the supported OSes
  compiler-rt/www/index.html
Labels: compiler-rt

#102636 [clang][analyzer] Bring alpha.security.MmapWriteExec checker out of alpha package
  clang/docs/analyzer/checkers.rst
  clang/include/clang/StaticAnalyzer/Checkers/Checkers.td
  clang/test/Analysis/mmap-writeexec.c
Labels: clang, clang:static analyzer

#106981 [lldb] Support partial memory reads on windows
  lldb/source/Plugins/Process/Windows/Common/ProcessDebugger.cpp
  lldb/test/API/functionalities/memory/holes/TestMemoryHoles.py
Labels: lldb

#106844 [Analysis] getIntrinsicForCallSite - add vectorization support for acos/asin/atan and cosh/sinh/tanh libcalls
  llvm/include/llvm/Analysis/TargetLibraryInfo.h
  llvm/include/llvm/Analysis/TargetTransformInfoImpl.h
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/test/Transforms/LoopVectorize/X86/amdlibm-calls.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/accelerate-vector-functions-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/accelerate-vector-functions.ll
Labels: llvm:analysis, llvm:transforms

#107056 [clang][bytecode] Print Pointers via APValue
  clang/lib/AST/ByteCode/InterpFrame.cpp
  clang/test/AST/ByteCode/constexpr-frame-describe.cpp
Labels: clang, clang:frontend

#107002 [flang][semantics][OpenMP] store DSA using ultimate sym
  flang/lib/Semantics/resolve-directives.cpp
  flang/test/Semantics/OpenMP/clause-order.f90
Labels: flang, flang:openmp, flang:semantics

#106960 [AMDGPU] Create dir for amdgpu specific machineverifier tests
  llvm/test/MachineVerifier/AMDGPU/lit.local.cfg
  llvm/test/MachineVerifier/AMDGPU/register-killed-inside-loop.mir
  llvm/test/MachineVerifier/AMDGPU/test_g_bitcast.mir
  llvm/test/MachineVerifier/AMDGPU/test_g_intrinsic.mir
  llvm/test/MachineVerifier/AMDGPU/test_g_intrinsic_w_side_effects.mir
  llvm/test/MachineVerifier/AMDGPU/undef-should-only-be-set-on-subreg-defs.mir
  llvm/test/MachineVerifier/AMDGPU/undef-virt-reg-entry-block.mir
  llvm/test/MachineVerifier/AMDGPU/undef-virt-reg-nonentry-block.mir
  llvm/test/MachineVerifier/AMDGPU/verifier-ec-subreg-liveness.mir
  llvm/test/MachineVerifier/AMDGPU/verifier-implicit-virtreg-invalid-physreg-liveness.mir
  llvm/test/MachineVerifier/AMDGPU/verifier-pseudo-terminators.mir
  llvm/test/MachineVerifier/AMDGPU/verify-implicit-def.mir
  llvm/test/MachineVerifier/AMDGPU/verify-reg-sequence.mir
  llvm/test/MachineVerifier/AMDGPU/writelane_m0.mir
Labels: backend:AMDGPU

#107077 [lldb] Support "dereferencing" std::optional in `frame var`
  lldb/source/Plugins/Language/CPlusPlus/GenericOptional.cpp
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/generic/optional/TestDataFormatterGenericOptional.py
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/generic/optional/main.cpp
Labels: lldb

#107061 [lldb/windows] Reset MainLoop events after handling them
  lldb/source/Host/windows/MainLoopWindows.cpp
  lldb/unittests/Host/MainLoopTest.cpp
Labels: lldb

#106955 [lldb] Add a callback version of TCPSocket::Accept
  lldb/include/lldb/Host/common/TCPSocket.h
  lldb/source/Host/common/TCPSocket.cpp
  lldb/unittests/Host/SocketTest.cpp
Labels: lldb

#104753 [AArch64][GlobalISel] Legalize 128-bit types for FABS
  llvm/include/llvm/CodeGen/GlobalISel/LegalizerHelper.h
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/legalizer-info-validation.mir
  llvm/test/CodeGen/AArch64/fabs-fp128.ll
Labels: backend:AArch64, llvm:globalisel

#107003 [analyzer] Fix false positive for stack-addr leak on simple param ptr
  clang/lib/StaticAnalyzer/Checkers/StackAddrEscapeChecker.cpp
  clang/test/Analysis/stack-addr-ps.cpp
Labels: clang, clang:static analyzer

#107063 [clang][bytecode] Pass FPOptions to floating point ops
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/AST/ByteCode/Compiler.h
  clang/lib/AST/ByteCode/Interp.cpp
  clang/lib/AST/ByteCode/Interp.h
  clang/lib/AST/ByteCode/Opcodes.td
Labels: clang, clang:frontend

#107023 [Offload] Change x86_64-pc-linux to x86_64-unknown-linux
  offload/CMakeLists.txt
  offload/plugins-nextgen/host/CMakeLists.txt
  offload/test/api/is_initial_device.c
  offload/test/lit.cfg
  offload/test/mapping/declare_mapper_nested_default_mappers_array.cpp
  offload/test/mapping/declare_mapper_nested_default_mappers_array_subscript.cpp
  offload/test/mapping/declare_mapper_nested_default_mappers_complex_structure.cpp
  offload/test/mapping/declare_mapper_nested_default_mappers_ptr_subscript.cpp
  offload/test/mapping/declare_mapper_nested_default_mappers_var.cpp
  offload/test/mapping/map_both_pointer_pointee.c
  offload/test/mapping/target_pointers_members_map.cpp
  offload/test/offloading/CUDA/basic_launch.cu
  offload/test/offloading/CUDA/basic_launch_blocks_and_threads.cu
  offload/test/offloading/CUDA/basic_launch_multi_arg.cu
  offload/test/offloading/CUDA/launch_tu.cu
  offload/test/offloading/dynamic-schedule-non-spmd.cpp
  offload/test/offloading/dynamic-schedule.cpp
  offload/test/offloading/fortran/dtype-array-constant-index-map.f90
  offload/test/offloading/fortran/dump_map_tables.f90
  offload/test/offloading/fortran/target-depend.f90
  offload/test/offloading/fortran/target-map-all-common-block-members.f90
  offload/test/offloading/fortran/target-map-common-block.f90
  offload/test/offloading/fortran/target-map-declare-target-link-common-block.f90
  offload/test/offloading/fortran/target-map-first-common-block-member.f90
  offload/test/offloading/fortran/target-map-mix-imp-exp-common-block-members.f90
  offload/test/offloading/fortran/target-map-second-common-block-member.f90
  offload/test/offloading/high_trip_count_block_limit.cpp
  offload/test/offloading/schedule.c
  offload/test/sanitizer/double_free.c
  offload/test/sanitizer/double_free_racy.c
  offload/test/sanitizer/free_host_ptr.c
  offload/test/sanitizer/free_wrong_ptr_kind.c
  offload/test/sanitizer/free_wrong_ptr_kind.cpp
  offload/test/sanitizer/kernel_crash.c
  offload/test/sanitizer/kernel_crash_async.c
  offload/test/sanitizer/kernel_crash_many.c
  offload/test/sanitizer/kernel_crash_single.c
  offload/test/sanitizer/kernel_trap.c
  offload/test/sanitizer/kernel_trap.cpp
  offload/test/sanitizer/kernel_trap_async.c
  offload/test/sanitizer/kernel_trap_many.c
  offload/test/sanitizer/ptr_outside_alloc_1.c
  offload/test/sanitizer/ptr_outside_alloc_2.c
  offload/test/sanitizer/use_after_free_1.c
  offload/test/sanitizer/use_after_free_2.c
Labels: offload

#102747 [profile] Change __llvm_profile_counter_bias etc. types to match llvm
  compiler-rt/lib/profile/InstrProfilingFile.c
  compiler-rt/lib/profile/InstrProfilingPlatformFuchsia.c
  compiler-rt/test/profile/ContinuousSyncMode/runtime-counter-relocation.c
  compiler-rt/test/profile/ContinuousSyncMode/set-file-object.c
Labels: compiler-rt, PGO

#107014 [compiler-rt][rtsan] Record pc and bp higher up in the stack
  compiler-rt/lib/rtsan/rtsan_context.cpp
  compiler-rt/lib/rtsan/rtsan_context.h
  compiler-rt/lib/rtsan/rtsan_stack.cpp
  compiler-rt/lib/rtsan/rtsan_stack.h
  compiler-rt/test/rtsan/basic.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#107104 [clang][bytecode][NFC] Move Call ops into Interp.cpp
  clang/lib/AST/ByteCode/Interp.cpp
  clang/lib/AST/ByteCode/Interp.h
Labels: clang, clang:frontend

#106702 [GISEL][AArch64][NFC] Stop using wip_match_opcode for some opcodes
  llvm/lib/Target/AArch64/AArch64Combine.td
Labels: backend:AArch64, llvm:globalisel

#106978 LICM: use IRBuilder in hoist BO assoc
  llvm/lib/Transforms/Scalar/LICM.cpp
  llvm/test/Transforms/LICM/sink-foldable.ll
Labels: llvm:transforms

#106769 [ThinLTO] Don't always print ModulesToCompile debugging information
  llvm/lib/LTO/LTO.cpp
Labels: LTO

#107117 LICM/test: regen a test with UTC (NFC)
  llvm/test/Transforms/LICM/update-scev-after-hoist.ll
Labels: llvm:transforms

#107115 [RISCV] Rename sf_vcix_state to sf.vcix_state. NFC
  llvm/lib/Target/RISCV/RISCVRegisterInfo.td
Labels: backend:RISC-V

#106948 [RISCV] Use RNE rounding mode for fcvt.s.bf16. Don't print the rounding mode if RNE.
  llvm/lib/Target/RISCV/RISCVInstrInfoZfbfmin.td
  llvm/test/CodeGen/RISCV/bfloat-convert.ll
  llvm/test/MC/RISCV/fp-default-rounding-mode.s
  llvm/test/MC/RISCV/rv32zfbfmin-valid.s
Labels: backend:RISC-V, mc

#107040 [ADT] Deprecate DenseMap::getOrInsertDefault
  clang/lib/Sema/SemaHLSL.cpp
  flang/lib/Optimizer/Transforms/AddAliasTags.cpp
  llvm/include/llvm/ADT/DenseMap.h
  mlir/lib/Transforms/SROA.cpp
Labels: clang, clang:frontend, mlir:core, mlir, flang, HLSL, flang:fir-hlfir, llvm:adt

#107059 [clang][ExtractAPI] Remove erroneous module name check in MacroCallbacks
  clang/lib/ExtractAPI/ExtractAPIConsumer.cpp
Labels: clang

#97811 [libclc] More cross compilation fixes
  clang/tools/driver/CMakeLists.txt
  libclc/CMakeLists.txt
  llvm/tools/llvm-as/CMakeLists.txt
  llvm/tools/llvm-link/CMakeLists.txt
  llvm/tools/opt/CMakeLists.txt
Labels: clang, libclc

#106991 LICM: extend hoist BO assoc to mul case
  llvm/lib/Transforms/Scalar/LICM.cpp
  llvm/test/Transforms/LICM/hoist-binop.ll
  llvm/test/Transforms/LICM/update-scev-after-hoist.ll
Labels: llvm:transforms

#106770 Prefer use of 0.0 over -0.0 for fadd reductions w/nsz (in IR)
  llvm/lib/CodeGen/ExpandVectorPredication.cpp
  llvm/lib/Transforms/Utils/LoopUtils.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/scalable-reduction-inloop-cond.ll
  llvm/test/Transforms/LoopVectorize/AArch64/scalable-reductions.ll
  llvm/test/Transforms/LoopVectorize/AArch64/sve-interleaved-accesses.ll
  llvm/test/Transforms/LoopVectorize/AArch64/sve-tail-folding-option.ll
  llvm/test/Transforms/LoopVectorize/AMDGPU/packed-math.ll
  llvm/test/Transforms/LoopVectorize/ARM/mve-reduction-predselect.ll
  llvm/test/Transforms/LoopVectorize/ARM/mve-reduction-types.ll
  llvm/test/Transforms/LoopVectorize/ARM/mve-selectandorcost.ll
  llvm/test/Transforms/LoopVectorize/ARM/sphinx.ll
  llvm/test/Transforms/LoopVectorize/PowerPC/widened-massv-call.ll
  llvm/test/Transforms/LoopVectorize/PowerPC/widened-massv-vfabi-attr.ll
  llvm/test/Transforms/LoopVectorize/RISCV/scalable-reductions.ll
  llvm/test/Transforms/LoopVectorize/X86/cost-model.ll
  llvm/test/Transforms/LoopVectorize/X86/imprecise-through-phis.ll
  llvm/test/Transforms/LoopVectorize/X86/reduction-fastmath.ll
  llvm/test/Transforms/LoopVectorize/epilog-vectorization-reductions.ll
  llvm/test/Transforms/LoopVectorize/induction.ll
  llvm/test/Transforms/LoopVectorize/interleaved-accesses.ll
  llvm/test/Transforms/LoopVectorize/reduction-inloop-cond.ll
  llvm/test/Transforms/LoopVectorize/reduction-inloop-pred.ll
  llvm/test/Transforms/LoopVectorize/reduction-inloop.ll
  llvm/test/Transforms/LoopVectorize/reduction-predselect.ll
  llvm/test/Transforms/LoopVectorize/reduction.ll
  llvm/test/Transforms/PhaseOrdering/X86/vector-reductions.ll
  llvm/test/Transforms/SLPVectorizer/AMDGPU/reduction.ll
  llvm/test/Transforms/SLPVectorizer/RISCV/vec3-base.ll
  llvm/test/Transforms/SLPVectorizer/X86/dot-product.ll
  llvm/test/Transforms/SLPVectorizer/X86/extractelements-vector-ops-shuffle.ll
  llvm/test/Transforms/SLPVectorizer/X86/horizontal-list.ll
  llvm/test/Transforms/SLPVectorizer/X86/horizontal.ll
  llvm/test/Transforms/SLPVectorizer/X86/redux-feed-buildvector.ll
  llvm/test/Transforms/SLPVectorizer/X86/redux-feed-insertelement.ll
  llvm/test/Transforms/SLPVectorizer/X86/reverse_extract_elements.ll
  llvm/test/Transforms/SLPVectorizer/X86/slp-fma-loss.ll
Labels: backend:AMDGPU, backend:PowerPC, llvm:transforms

#107118 [clang][bytecode][NFC] Simplify builtin-functions.cpp
  clang/test/AST/ByteCode/builtin-functions.cpp
Labels: clang

#106388 [MLIR][AMDGPU] Add support for fp8 ops on gfx12
  mlir/include/mlir/Dialect/AMDGPU/IR/AMDGPU.td
  mlir/include/mlir/Dialect/LLVMIR/ROCDLOps.td
  mlir/lib/Conversion/AMDGPUToROCDL/AMDGPUToROCDL.cpp
  mlir/lib/Dialect/AMDGPU/IR/AMDGPUDialect.cpp
  mlir/test/Conversion/AMDGPUToROCDL/wmma-gfx12.mlir
  mlir/test/Target/LLVMIR/rocdl.mlir
Labels: backend:AMDGPU, mlir:llvm, mlir:gpu, mlir, mlir:amdgpu

#106966 [SPIR-V] Improve correctness of emitted MIR between passes for branching instructions
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.cpp
  llvm/lib/Target/SPIRV/SPIRVISelLowering.cpp
  llvm/lib/Target/SPIRV/SPIRVInstrInfo.td
  llvm/lib/Target/SPIRV/SPIRVPreLegalizer.cpp
  llvm/test/CodeGen/SPIRV/branching/OpSwitchBranches.ll
  llvm/test/CodeGen/SPIRV/branching/OpSwitchEmpty.ll
  llvm/test/CodeGen/SPIRV/branching/OpSwitchUnreachable.ll
  llvm/test/CodeGen/SPIRV/branching/Two_OpSwitch_same_register.ll
  llvm/test/CodeGen/SPIRV/transcoding/GlobalFunAnnotate.ll
Labels: backend:SPIR-V

#107007 [SPIR-V] Ensure that OpExtInst instructions generated by NonSemantic_Shader_DebugInfo_100 are not mixed up with other OpExtInst instructions
  llvm/lib/Target/SPIRV/SPIRVModuleAnalysis.cpp
  llvm/test/CodeGen/SPIRV/debug-info/no-misplaced-opextinst.ll
Labels: backend:SPIR-V

#107009 [libc++][type_traits][modules] Added missing `std::is_virtual_base_of` to `type_traits.inc`
  libcxx/modules/std/type_traits.inc
Labels: libc++

#106603 [CMake][compiler-rt] Support for using compiler-rt atomic library
  clang/cmake/caches/Fuchsia-stage2.cmake
  cmake/Modules/HandleCompilerRT.cmake
  compiler-rt/CMakeLists.txt
  compiler-rt/cmake/config-ix.cmake
  compiler-rt/lib/rtsan/tests/CMakeLists.txt
Labels: cmake, clang, compiler-rt, compiler-rt:sanitizer

#106790 [PGO][Pipeline] Enable PGOForceFunctionAttrs in PGO optimization pipelines
  clang/test/CodeGen/pgo-force-function-attrs.ll
  llvm/lib/Passes/PassBuilderPipelines.cpp
  llvm/test/Instrumentation/PGOForceFunctionAttrs/basic.ll
  llvm/test/Other/new-pm-thinlto-postlink-samplepgo-defaults.ll
  llvm/test/Other/new-pm-thinlto-prelink-pgo-defaults.ll
  llvm/test/Other/new-pm-thinlto-prelink-samplepgo-defaults.ll
Labels: clang

#106832 [libc++] Fix __datasizeof_v for Clang17 and 18 in C++03
  libcxx/include/__config
  libcxx/include/__type_traits/datasizeof.h
  libcxx/test/libcxx/type_traits/datasizeof.compile.pass.cpp
Labels: libc++

#106822 [NFC] Add llvm_unreachable to getRCPrefix
  llvm/lib/Target/DirectX/DXILPrettyPrinter.cpp
Labels: backend:DirectX

#107123 [SLPVectorizer] Use DenseMap::{find,try_emplace} (NFC)
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: vectorization, llvm:transforms

#100824 [BOLT][YAML] Allow unknown keys in the input
  bolt/lib/Profile/YAMLProfileReader.cpp
  bolt/test/X86/yaml-unknown-keys.test
  bolt/tools/merge-fdata/merge-fdata.cpp
Labels: BOLT

#107055 [Clang] Fix handling of placeholder variables name in init captures
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaLambda.cpp
  clang/lib/Sema/SemaLookup.cpp
  clang/test/SemaCXX/cxx2c-placeholder-vars.cpp
Labels: clang, clang:frontend

#107141 [LV] Prefer FLT_MIN/MAX for fmin/fmax reductions with ninf
  llvm/lib/Analysis/IVDescriptors.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/scalable-reduction-inloop-cond.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vectorize-force-tail-with-evl-inloop-reduction.ll
  llvm/test/Transforms/LoopVectorize/reduction-inloop-cond.ll
Labels: llvm:analysis, llvm:transforms

#106913 [DominanceFrontier] Remove unused functions
  llvm/include/llvm/Analysis/DominanceFrontier.h
  llvm/include/llvm/Analysis/DominanceFrontierImpl.h
  llvm/include/llvm/CodeGen/MachineDominanceFrontier.h
Labels: llvm:analysis

#106875 [clang] [docs] Clarify the issue with compiler-rt on Windows/MSVC
  clang/www/c_status.html
Labels: documentation, clang

#106686 [clang] Don't add DWARF debug info when assembling .s with clang-cl /Z7
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/debug-options-as.c
Labels: clang, clang:driver

#107026 [RISCV] Custom promote f16/bf16 (s/u)int_to_fp.
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoZfbfmin.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZfh.td
  llvm/test/CodeGen/RISCV/bfloat-convert.ll
  llvm/test/CodeGen/RISCV/half-convert-strict.ll
  llvm/test/CodeGen/RISCV/half-convert.ll
  llvm/test/CodeGen/RISCV/rv64zfhmin-half-convert-strict.ll
  llvm/test/CodeGen/RISCV/rv64zfhmin-half-convert.ll
Labels: backend:RISC-V

#106462 [X86] Don't save/restore fp/bp around terminator
  llvm/lib/Target/X86/X86FrameLowering.cpp
  llvm/test/CodeGen/X86/clobber_frame_ptr.ll
Labels: backend:X86

#106466 [scudo] Update secondary cache released pages bound.
  compiler-rt/lib/scudo/standalone/secondary.h
Labels: compiler-rt, compiler-rt:scudo, compiler-rt:sanitizer

#106657 [HLSL] Adjust resource binding diagnostic flags code
  clang/lib/Sema/SemaHLSL.cpp
  clang/test/SemaHLSL/resource_binding_attr_error_udt.hlsl
Labels: clang, clang:frontend, HLSL

#106807 [flang][cuda] Convert global allocation for pinned variable
  flang/lib/Optimizer/Transforms/CufOpConversion.cpp
  flang/test/Fir/CUDA/cuda-allocate.fir
Labels: flang, flang:fir-hlfir

#107143 [SLPVectorizer] Avoid two successive hash lookups on the same key
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: vectorization, llvm:transforms

#107011 [RISCV] Custom promote f16/bf16 fp_to_(s/u)int to reduce isel patterns that emit two instructions.
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoZfbfmin.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZfh.td
  llvm/test/CodeGen/RISCV/bfloat-convert.ll
  llvm/test/CodeGen/RISCV/half-convert-strict.ll
  llvm/test/CodeGen/RISCV/half-convert.ll
  llvm/test/CodeGen/RISCV/half-round-conv.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vfptoi-constrained-sdnode.ll
Labels: backend:RISC-V

#98377 [M68k] Introduce more MOVI cases
  llvm/lib/Target/M68k/M68kInstrInfo.cpp
  llvm/test/CodeGen/M68k/Arith/add.ll
  llvm/test/CodeGen/M68k/CConv/fastcc-call.ll
  llvm/test/CodeGen/M68k/Data/link-unlnk.ll
  llvm/test/CodeGen/M68k/Data/load-extend.ll
  llvm/test/CodeGen/M68k/Data/load-imm.ll
  llvm/test/CodeGen/M68k/Data/sext-i1.ll
Labels: backend:m68k

#107138 [RISCV] Don't promote f16/bf16 SELECT with Zfhmin/Zfbfmin.
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoZfbfmin.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZfh.td
  llvm/test/CodeGen/RISCV/bfloat-select-fcmp.ll
  llvm/test/CodeGen/RISCV/bfloat-select-icmp.ll
  llvm/test/CodeGen/RISCV/half-select-fcmp.ll
  llvm/test/CodeGen/RISCV/half-select-icmp.ll
Labels: backend:RISC-V

#106906 [lld-macho] Always store symbol name length eagerly (NFC)
  lld/MachO/Symbols.cpp
  lld/MachO/Symbols.h
Labels: lld, lld:MachO

#106154 [ctx_prof] Add Inlining support
  llvm/include/llvm/Analysis/CtxProfAnalysis.h
  llvm/include/llvm/IR/IntrinsicInst.h
  llvm/include/llvm/ProfileData/PGOCtxProfReader.h
  llvm/include/llvm/Transforms/Utils/Cloning.h
  llvm/lib/Analysis/CtxProfAnalysis.cpp
  llvm/lib/Transforms/IPO/ModuleInliner.cpp
  llvm/lib/Transforms/Utils/InlineFunction.cpp
  llvm/test/Analysis/CtxProfAnalysis/full-cycle.ll
  llvm/test/Analysis/CtxProfAnalysis/inline.ll
  llvm/test/Analysis/CtxProfAnalysis/json_equals.py
  llvm/test/Analysis/CtxProfAnalysis/load.ll
  llvm/unittests/Transforms/Utils/CallPromotionUtilsTest.cpp
Labels: PGO, llvm:ir, llvm:analysis, llvm:transforms

#107167 [compiler-rt][rtsan] Add scoped reporting lock
  compiler-rt/lib/rtsan/rtsan_context.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#105765 [lldb] Remove limit on max memory read size
  lldb/source/Target/TargetProperties.td
  lldb/test/API/functionalities/memory/big-read/TestMemoryReadMaximumSize.py
Labels: lldb

#107131 [clang] Add test for CWG2486 (`noexcept` and function pointer conversion)
  clang/test/CXX/drs/cwg24xx.cpp
  clang/www/cxx_dr_status.html
Labels: clang, c++

#101603 [X86][AVX10.2] Support AVX10.2-BF16 new instructions.
  clang/include/clang/Basic/BuiltinsX86.def
  clang/lib/Basic/Targets/X86.cpp
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/Headers/CMakeLists.txt
  clang/lib/Headers/avx10_2_512bf16intrin.h
  clang/lib/Headers/avx10_2bf16intrin.h
  clang/lib/Headers/immintrin.h
  clang/lib/Sema/SemaX86.cpp
  clang/test/CodeGen/X86/avx10_2_512bf16-builtins.c
  clang/test/CodeGen/X86/avx10_2bf16-builtins.c
  llvm/include/llvm/IR/IntrinsicsX86.td
  llvm/lib/Target/X86/AsmParser/X86AsmParser.cpp
  llvm/lib/Target/X86/MCTargetDesc/X86ATTInstPrinter.cpp
  llvm/lib/Target/X86/MCTargetDesc/X86InstPrinterCommon.cpp
  llvm/lib/Target/X86/MCTargetDesc/X86IntelInstPrinter.cpp
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/lib/Target/X86/X86InstrAVX10.td
  llvm/lib/Target/X86/X86InstrAVX512.td
  llvm/lib/Target/X86/X86InstrFMA3Info.cpp
  llvm/lib/Target/X86/X86InstrFragmentsSIMD.td
  llvm/lib/Target/X86/X86InstrUtils.td
  llvm/lib/Target/X86/X86IntrinsicsInfo.h
  llvm/test/CodeGen/X86/avx10.2-fma-commute.ll
  llvm/test/CodeGen/X86/avx10_2_512bf16-arith.ll
  llvm/test/CodeGen/X86/avx10_2_512bf16-intrinsics.ll
  llvm/test/CodeGen/X86/avx10_2bf16-arith.ll
  llvm/test/CodeGen/X86/avx10_2bf16-intrinsics.ll
  llvm/test/MC/Disassembler/X86/avx10.2-bf16-32.txt
  llvm/test/MC/Disassembler/X86/avx10.2-bf16-64.txt
  llvm/test/MC/X86/avx10.2-bf16-32-att.s
  llvm/test/MC/X86/avx10.2-bf16-32-intel.s
  llvm/test/MC/X86/avx10.2-bf16-64-att.s
  llvm/test/MC/X86/avx10.2-bf16-64-intel.s
  llvm/test/TableGen/x86-fold-tables.inc
Labels: clang, backend:X86, clang:frontend, clang:headers, clang:codegen, mc, llvm:ir

#106637 [RISCV] Bitcast fixed length bf16/f16 build_vector to i16 with Zvfbfmin/Zvfhmin+Zfbfmin/Zfhmin.
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp-buildvec-bf16.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp-buildvec.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp-setcc.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp-splat-bf16.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp-splat.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-setcc-fp-vp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vfadd-vp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vfdiv-vp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vfma-vp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vfmax.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vfmin.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vfmul-vp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vfsub-vp.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vpmerge-bf16.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vpmerge.ll
Labels: backend:RISC-V

#107157 [WebAssembly] Remove Kind argument from WebAssemblyOperand (NFC)
  llvm/lib/Target/WebAssembly/AsmParser/WebAssemblyAsmParser.cpp
Labels: backend:WebAssembly

#106687 [mlir][tensor] Fix consumer fusion for `tensor.pack` without explicit `outer_dims_perm` attribute
  mlir/lib/Dialect/Tensor/IR/TensorTilingInterfaceImpl.cpp
  mlir/test/Interfaces/TilingInterface/tile-and-fuse-consumer.mlir
Labels: mlir, mlir:tensor

#107165 [IR] Remove unused MINARITY operand trait tpl args, NFC
  llvm/include/llvm/Analysis/MemorySSA.h
  llvm/include/llvm/IR/Constants.h
  llvm/include/llvm/IR/Function.h
  llvm/include/llvm/IR/InstrTypes.h
  llvm/include/llvm/IR/Instructions.h
  llvm/include/llvm/IR/OperandTraits.h
  llvm/include/llvm/IR/Operator.h
  llvm/include/llvm/IR/User.h
  llvm/lib/IR/ConstantsContext.h
Labels: llvm:ir, llvm:analysis

#105614 [VPlan][NFC] Add cost for `VPWidenMemoryRecipe`.
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
Labels: vectorization, llvm:transforms

#107041 [clang-format] Handle spaces in file paths in git-clang-format.bat
  clang/tools/clang-format/git-clang-format.bat
Labels: clang-format

#107021 [clang-format] Fix a regression in annotating ObjCBlockLParen
  clang/lib/Format/TokenAnnotator.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#106012 [clang][Driver] Define soft float macros for PPC.
  clang/lib/Basic/Targets/PPC.cpp
  clang/lib/Basic/Targets/PPC.h
  clang/test/Preprocessor/init-ppc.c
  clang/test/Preprocessor/init-ppc64.c
Labels: clang, backend:PowerPC, clang:frontend

#106094 [MLIR][Tensor] Fix source/dest type check in UnPackOp canonicalize
  mlir/lib/Dialect/Tensor/IR/TensorOps.cpp
  mlir/test/Dialect/Tensor/canonicalize.mlir
Labels: mlir, mlir:tensor

#107074 [clang-format] Handle pointer/reference in macro definitions
  clang/lib/Format/TokenAnnotator.cpp
  clang/lib/Format/TokenAnnotator.h
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#107110 [mlir][TensorToSPIRV] Add type check for `tensor.extract` in TensorToSPIRV
  mlir/lib/Conversion/TensorToSPIRV/TensorToSPIRV.cpp
  mlir/test/Conversion/TensorToSPIRV/tensor-ops-to-spirv.mlir
Labels: mlir:spirv, mlir

#106351 [mlir][tosa] Add verifier for `tosa.pad`
  mlir/include/mlir/Dialect/Tosa/IR/TosaOps.td
  mlir/lib/Dialect/Tosa/IR/TosaOps.cpp
  mlir/test/Dialect/Tosa/invalid.mlir
Labels: mlir, mlir:tosa

#107044 [PowerPC] Use DenseMap::operator[] (NFC)
  llvm/lib/Target/PowerPC/PPCFrameLowering.cpp
Labels: backend:PowerPC

#107158 [CGOpenMPRuntime] Use DenseMap::operator[] (NFC)
  clang/lib/CodeGen/CGOpenMPRuntime.cpp
Labels: clang, clang:codegen, clang:openmp
