Repository llvm/llvm-project, pull requests merged in 2024-05, with the labels that each got.

#90678 [mlir][Tensor] Fix unpack -> transpose folding pattern for padded unpacks
  mlir/lib/Dialect/Tensor/Transforms/PackAndUnpackPatterns.cpp
  mlir/test/Dialect/Tensor/fold-into-pack-and-unpack.mlir
Labels: mlir, mlir:tensor

#88164 [AIX] Add git revision to .file string
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/test/CMakeLists.txt
  llvm/test/CodeGen/PowerPC/git_revision.ll
  llvm/test/CodeGen/PowerPC/lit.local.cfg
  llvm/test/lit.site.cfg.py.in
Labels: backend:PowerPC

#90642 [flang] Added fir.dummy_scope operation to preserve dummy arguments association.
  flang/include/flang/Optimizer/Dialect/FIROps.td
  flang/include/flang/Optimizer/Dialect/FIRTypes.td
  flang/include/flang/Optimizer/HLFIR/HLFIROps.td
  flang/lib/Optimizer/CodeGen/PreCGRewrite.cpp
  flang/lib/Optimizer/CodeGen/TypeConverter.cpp
  flang/lib/Optimizer/Dialect/FIRType.cpp
  flang/lib/Optimizer/HLFIR/IR/HLFIROps.cpp
  flang/lib/Optimizer/HLFIR/Transforms/ConvertToFIR.cpp
  flang/test/Fir/dummy-scope-codegen.fir
  flang/test/Fir/dummy_scope.fir
  flang/test/HLFIR/declare-codegen.fir
  flang/test/HLFIR/dummy_scope.fir
  flang/unittests/Optimizer/FortranVariableTest.cpp
Labels: flang, flang:fir-hlfir, flang:codegen

#90672 [Coroutines][Test] Only run coro-elide-thinlto under x86_64-linux
  clang/test/CodeGenCoroutines/coro-elide-thinlto.cpp
Labels: clang, coroutines

#90520 [Windows] Restrict searchpath of dbghelp.dll to System32
  llvm/lib/Support/Windows/Signals.inc
Labels: platform:windows, llvm:support

#90679 [flang][cuda] Update attribute compatibily check for unified matching rule
  flang/include/flang/Common/Fortran.h
  flang/lib/Common/Fortran.cpp
  flang/lib/Evaluate/characteristics.cpp
  flang/lib/Semantics/check-call.cpp
  flang/test/Semantics/cuf13.cuf
Labels: flang, flang:semantics

#90555 [clang-format] Fix a bug in annotating struct braces
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#90195 [Sema] Avoid an undesired pack expansion while transforming PackIndexingType
  clang/lib/AST/ExprClassification.cpp
  clang/lib/Sema/TreeTransform.h
  clang/test/SemaCXX/cxx2c-pack-indexing.cpp
Labels: clang, clang:frontend

#90180 [alpha.webkit.UncountedCallArgsChecker] Ignore methods of WTF String classes.
  clang/lib/StaticAnalyzer/Checkers/WebKit/UncountedCallArgsChecker.cpp
  clang/test/Analysis/Checkers/WebKit/call-args-wtf-containers.cpp
  clang/test/Analysis/Checkers/WebKit/mock-types.h
Labels: clang, clang:static analyzer

#90592 [flang][MLIR] Outline deallocation logic to `omp.private` ops
  flang/lib/Lower/OpenMP/DataSharingProcessor.cpp
  flang/lib/Lower/OpenMP/DataSharingProcessor.h
  flang/lib/Optimizer/CodeGen/FIROpPatterns.cpp
  flang/test/Lower/OpenMP/delayed-privatization-allocatable-private.f90
Labels: flang, flang:fir-hlfir, flang:openmp, flang:codegen

#90690 [Pipelines][Coroutines] Tune coroutine passes only for ThinLTO pre-link pipeline
  llvm/lib/Passes/PassBuilderPipelines.cpp
  llvm/test/Other/new-pm-defaults.ll
Labels: clang, coroutines

#90312 [RemoveDIs] Fix SIGSEGV caused by splitBasicBlock
  llvm/lib/IR/BasicBlock.cpp
  llvm/unittests/IR/BasicBlockDbgInfoTest.cpp
Labels: llvm:ir

#90701 Revert "[alpha.webkit.UncountedCallArgsChecker] Ignore methods of WTF String classes."
  clang/lib/StaticAnalyzer/Checkers/WebKit/UncountedCallArgsChecker.cpp
  clang/test/Analysis/Checkers/WebKit/call-args-wtf-containers.cpp
  clang/test/Analysis/Checkers/WebKit/mock-types.h
Labels: clang, clang:static analyzer

#90569 [InstCombine] Canonicalize scalable GEPs to use llvm.vscale intrinsic
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_ld1-bfloat.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_ld1.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_ld1sb.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_ld1sh.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_ld1sw.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_ld1ub.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_ld1uh.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_ld1uw.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st1-bfloat.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st1.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st1b.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st1h.c
  clang/test/CodeGen/aarch64-sve-intrinsics/acle_sve_st1w.c
  clang/test/CodeGen/aarch64-sve2p1-intrinsics/acle_sve2p1_ld1.c
  clang/test/CodeGen/aarch64-sve2p1-intrinsics/acle_sve2p1_ld1_single.c
  clang/test/CodeGen/aarch64-sve2p1-intrinsics/acle_sve2p1_ldnt1.c
  clang/test/CodeGen/aarch64-sve2p1-intrinsics/acle_sve2p1_loads.c
  clang/test/CodeGen/aarch64-sve2p1-intrinsics/acle_sve2p1_st1.c
  clang/test/CodeGen/aarch64-sve2p1-intrinsics/acle_sve2p1_st1_single.c
  clang/test/CodeGen/aarch64-sve2p1-intrinsics/acle_sve2p1_stnt1.c
  clang/test/CodeGen/aarch64-sve2p1-intrinsics/acle_sve2p1_store.c
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
  llvm/test/Analysis/ValueTracking/phi-known-bits.ll
  llvm/test/Transforms/InstCombine/gep-vector.ll
  llvm/test/Transforms/InstCombine/gepofconstgepi8.ll
  llvm/test/Transforms/InstCombine/icmp-gep.ll
  llvm/test/Transforms/InstCombine/opaque-ptr.ll
  llvm/test/Transforms/InstCombine/scalable-vector-array.ll
  llvm/test/Transforms/InstCombine/vscale_gep.ll
Labels: clang, llvm:analysis, llvm:transforms

#90571 Tweak BumpPtrAllocator to benefit the hot path
  llvm/include/llvm/Support/Allocator.h
Labels: llvm:support

#90600 [AArch64][MC]Add diagnostic message for Multiple of 2/4 for ZPR128
  llvm/lib/Target/AArch64/AsmParser/AArch64AsmParser.cpp
  llvm/test/MC/AArch64/SME2/zip-diagnostics.s
Labels: backend:AArch64, mc

#90584 [lldb][Docs] Sort documented packets alphabetically
  lldb/docs/resources/lldbgdbremote.md
  lldb/docs/resources/lldbplatformpackets.md
Labels: lldb

#90319 [Modules] Process include files changes with -fmodules-validate-input-files-content and -fno-pch-timestamp options
  clang/lib/Serialization/ASTReader.cpp
  clang/test/Modules/implicit-module-no-timestamp.cpp
Labels: clang, clang:modules

#90220 [clang] Fix crash when destructor definition is preceded with '='
  clang/docs/ReleaseNotes.rst
  clang/include/clang/AST/ExprCXX.h
  clang/lib/AST/Expr.cpp
  clang/test/SemaCXX/destructor.cpp
Labels: clang, c++, clang:frontend

#90594 [lldb][Docs] Various style improvements to the tutorial
  lldb/docs/use/tutorial.rst
Labels: lldb

#90576 [AMDGPU][AsmParser][NFC] Generate NamedIntOperand predicates automatically.
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
Labels: backend:AMDGPU

#90213 [LLVM][SVE] Improve legalisation of fixed length get.active.lane.mask
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/active_lane_mask.ll
Labels: backend:AArch64

#90716 [AMDGPU] Do not optimize away pre-existing waitcnt instructions at -O0
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
  llvm/test/CodeGen/AMDGPU/memory-legalizer-fence.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-flat-agent.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-flat-lastuse.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-flat-nontemporal.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-flat-singlethread.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-flat-system.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-flat-volatile.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-flat-wavefront.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-flat-workgroup.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-global-agent.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-global-lastuse.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-global-nontemporal.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-global-singlethread.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-global-system.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-global-volatile.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-global-wavefront.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-global-workgroup.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-local-agent.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-local-nontemporal.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-local-singlethread.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-local-system.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-local-volatile.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-local-wavefront.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-local-workgroup.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-private-lastuse.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-private-nontemporal.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-private-volatile.ll
Labels: backend:AMDGPU

#90595 [AMDGPU] Enhance s_waitcnt insertion before barrier for gfx12
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.s.barrier.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.s.barrier.wait.ll
Labels: backend:AMDGPU

#90710 [AMDGPU] Fix image_msaa_load waitcnt insertion for pre-gfx12
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
  llvm/test/CodeGen/AMDGPU/waitcnt-sample-waw.mir
Labels: backend:AMDGPU

#90617 [AArch64] NFC: Add RUN lines for streaming-compatible code.
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-and-combine.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-bit-counting.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-bitcast.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-bitselect.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-build-vector.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-concat.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-ext-loads.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-extract-subvector.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-extract-vector-elt.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-fcopysign.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-fp-arith.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-fp-compares.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-fp-convert.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-fp-extend-trunc.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-fp-fma.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-fp-minmax.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-fp-reduce-fa64.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-fp-reduce.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-fp-rounding.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-fp-select.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-fp-to-int.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-fp-vselect.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-insert-vector-elt.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-int-arith.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-int-compares.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-int-div.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-int-extends.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-int-immediates.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-int-log.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-int-minmax.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-int-mla-neon-fa64.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-int-mulh.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-int-reduce.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-int-rem.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-int-select.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-int-shifts.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-int-to-fp.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-int-vselect.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-limit-duplane.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-loads.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-log-reduce.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-masked-load.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-masked-store.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-optimize-ptrue.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-permute-rev.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-permute-zip-uzp-trn.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-ptest.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-rev.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-sdiv-pow2.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-splat-vector.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-stores.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-subvector.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-trunc-stores.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-trunc.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-vector-shuffle.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-test-register-mov.ll
Labels: backend:AArch64

#90464 [SLP]Transform stores + reverse to strided stores with stride -1, if profitable.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/RISCV/strided-stores-vectorized.ll
Labels: vectorization, llvm:transforms

#87091 [SLP]Improve reordering for consts, splats and ops from same nodes + improved analysis.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/RISCV/complex-loads.ll
  llvm/test/Transforms/SLPVectorizer/X86/addsub.ll
  llvm/test/Transforms/SLPVectorizer/X86/entries-different-vf.ll
  llvm/test/Transforms/SLPVectorizer/X86/extract-many-users-buildvector.ll
  llvm/test/Transforms/SLPVectorizer/X86/extract-scalar-from-undef.ll
  llvm/test/Transforms/SLPVectorizer/X86/extractelement-single-use-many-nodes.ll
  llvm/test/Transforms/SLPVectorizer/X86/horizontal-minmax.ll
  llvm/test/Transforms/SLPVectorizer/X86/operandorder.ll
  llvm/test/Transforms/SLPVectorizer/X86/postponed_gathers.ll
  llvm/test/Transforms/SLPVectorizer/X86/replaced-external-in-reduction.ll
  llvm/test/Transforms/SLPVectorizer/X86/vec_list_bias_external_insert_shuffled.ll
  llvm/test/Transforms/SLPVectorizer/slp-umax-rdx-matcher-crash.ll
Labels: vectorization, llvm:transforms

#89995 [z/OS] add support for z/OS system headers to clang std header wrappers
  clang/lib/Headers/CMakeLists.txt
  clang/lib/Headers/builtins.h
  clang/lib/Headers/float.h
  clang/lib/Headers/inttypes.h
  clang/lib/Headers/iso646.h
  clang/lib/Headers/limits.h
  clang/lib/Headers/stdalign.h
  clang/lib/Headers/stdarg.h
  clang/lib/Headers/stdbool.h
  clang/lib/Headers/stddef.h
  clang/lib/Headers/stdint.h
  clang/lib/Headers/stdnoreturn.h
  clang/lib/Headers/varargs.h
  clang/lib/Headers/zos_wrappers/builtins.h
Labels: clang, backend:X86, clang:headers

#90449 [Flang][OpenMP] Handle more character allocatable cases in privatization
  flang/lib/Lower/Bridge.cpp
  flang/test/Lower/OpenMP/cfg-conversion-omp.private.f90
  flang/test/Lower/OpenMP/delayed-privatization-allocatable-private.f90
  flang/test/Lower/OpenMP/parallel-private-clause-fixes.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#90630 [SystemZ][z/OS] Build in ASCII 64 bit mode on z/OS
  llvm/CMakeLists.txt
Labels: z/OS

#90729 [Offload] Fix CMake detection when it is not found
  offload/CMakeLists.txt
Labels: offload

#90722 [libcxx][ci] In picolib build, ask clang for the normalised triple
  libcxx/utils/ci/run-buildbot
Labels: libc++

#81355 [lldb] Teach LocateExecutableSymbolFile to look into LOCALBASE on FreeBSD
  lldb/source/Plugins/SymbolLocator/Default/SymbolLocatorDefault.cpp
Labels: lldb

#90155 [CUDA] make kernel stub ICF-proof
  clang/lib/CodeGen/CGCUDANV.cpp
  clang/test/CodeGenCUDA/kernel-stub-name.cu
Labels: clang, clang:codegen

#90499 [OpenMP][TR12] change property of map-type modifier.
  clang/include/clang/Basic/DiagnosticParseKinds.td
  clang/lib/Parse/ParseOpenMP.cpp
  clang/test/OpenMP/target_ast_print.cpp
  clang/test/OpenMP/target_map_messages.cpp
Labels: clang, clang:frontend, clang:openmp

#90092 [UndefOrPoison] [CompileTime] Avoid IDom walk unless required. NFC
  llvm/lib/Analysis/ValueTracking.cpp
Labels: llvm:analysis

#90128 [z/OS] treat text files as text files so auto-conversion is done
  clang/tools/clang-format/ClangFormat.cpp
  llvm/lib/ToolDrivers/llvm-lib/LibDriver.cpp
  llvm/tools/llvm-cxxmap/llvm-cxxmap.cpp
  llvm/tools/yaml2obj/yaml2obj.cpp
  llvm/utils/lit/lit/builtin_commands/cat.py
  llvm/utils/lit/lit/llvm/config.py
Labels: clang-format, llvm-lit, testing-tools, objectyaml

#90638 MachineLICM: Allow hoisting REG_SEQUENCE
  llvm/lib/CodeGen/MachineLICM.cpp
  llvm/test/CodeGen/AMDGPU/global_atomics_i64_system.ll
  llvm/test/CodeGen/AMDGPU/machinelicm-copy-like-instrs.mir
  llvm/test/CodeGen/AMDGPU/optimize-negated-cond.ll
  llvm/test/CodeGen/Hexagon/expand-vstorerw-undef.ll
Labels: backend:AMDGPU, llvm:codegen

#90447 [mlir][ArmSME] Add a tests showing liveness issues in the tile allocator
  mlir/test/Dialect/ArmSME/tile-allocation-liveness.mlir
Labels: mlir, mlir:sme

#90626 [AMDGPU] change order of fp and sp in kernel prologue
  llvm/lib/Target/AMDGPU/SIFrameLowering.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/non-entry-alloca.ll
  llvm/test/CodeGen/AMDGPU/cc-update.ll
  llvm/test/CodeGen/AMDGPU/kernel-vgpr-spill-mubuf-with-voffset.ll
  llvm/test/CodeGen/AMDGPU/non-entry-alloca.ll
Labels: backend:AMDGPU, llvm:globalisel

#89799 [RemoveDIs] Load into new debug info format by default in LLVM
  llvm/docs/ReleaseNotes.rst
  llvm/include/llvm/AsmParser/LLParser.h
  llvm/lib/AsmParser/LLParser.cpp
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/lib/IR/BasicBlock.cpp
  llvm/lib/IR/Function.cpp
  llvm/lib/IR/Module.cpp
  llvm/tools/llvm-as/llvm-as.cpp
  llvm/tools/llvm-dis/llvm-dis.cpp
  llvm/tools/llvm-link/llvm-link.cpp
  llvm/unittests/Analysis/IRSimilarityIdentifierTest.cpp
  llvm/unittests/IR/BasicBlockDbgInfoTest.cpp
  llvm/unittests/IR/DebugInfoTest.cpp
  llvm/unittests/IR/InstructionsTest.cpp
  llvm/unittests/Transforms/Utils/CloningTest.cpp
  llvm/unittests/Transforms/Utils/LocalTest.cpp
Labels: debuginfo, llvm:ir, llvm:analysis, llvm:transforms

#90351 [llvm-install-name-tool] Error on non-Mach-O binaries
  llvm/test/tools/llvm-objcopy/MachO/install-name-tool.test
  llvm/tools/llvm-objcopy/ObjcopyOptions.cpp
Labels: llvm:binary-utilities

#90581 [analysis] assume expr is not mutated after analysis to avoid recursive
  clang-tools-extra/docs/ReleaseNotes.rst
  clang/lib/Analysis/ExprMutationAnalyzer.cpp
  clang/unittests/Analysis/ExprMutationAnalyzerTest.cpp
Labels: clang, clang-tools-extra, clang:analysis

#90099 [LLDB][ELF] Fix section unification to not just use names.
  lldb/source/Plugins/ObjectFile/ELF/ObjectFileELF.cpp
  lldb/test/Shell/ObjectFile/ELF/two-text-sections.yaml
Labels: lldb

#90512 [libc++] Remove _LIBCPP_DISABLE_ADDITIONAL_DIAGNOSTICS
  libcxx/docs/ReleaseNotes/19.rst
  libcxx/docs/UsingLibcxx.rst
  libcxx/include/__config
Labels: libc++

#89131 [mlir][Vector] Add patterns for efficient unsigned i4 -> i8 conversion emulation
  mlir/lib/Dialect/Vector/Transforms/VectorEmulateNarrowType.cpp
  mlir/test/Dialect/Vector/vector-rewrite-narrow-types.mlir
Labels: mlir:vectorops, mlir, mlir:vector

#90508 [DirectX backend] generate ISG1, OSG1 part for compute shader
  llvm/lib/Target/DirectX/DXContainerGlobals.cpp
  llvm/test/CodeGen/DirectX/ContainerData/EmptySignature.ll
Labels: backend:DirectX

#89992 [clang][modules] Allow including module maps to be non-affecting
  clang/include/clang/Serialization/ASTWriter.h
  clang/lib/Serialization/ASTWriter.cpp
  clang/test/ClangScanDeps/modules-extern-unrelated.m
Labels: clang, clang:modules

#90561 [MIR] Serialize MachineFrameInfo::isCalleeSavedInfoValid()
  llvm/include/llvm/CodeGen/MIRYamlMapping.h
  llvm/lib/CodeGen/MIRParser/MIRParser.cpp
  llvm/lib/CodeGen/MIRPrinter.cpp
  llvm/test/CodeGen/MIR/AArch64/calleesavedinfovalid.mir
  llvm/test/CodeGen/MIR/Generic/frame-info.mir
Labels: llvm:codegen

#90700 [RISCV] Refactor profile selection in RISCVISAInfo::parseArchString.
  clang/test/Driver/riscv-arch.c
  clang/test/Driver/riscv-profiles.c
  llvm/lib/TargetParser/RISCVISAInfo.cpp
  llvm/test/MC/RISCV/invalid-attribute.s
  llvm/unittests/TargetParser/RISCVISAInfoTest.cpp
Labels: clang, backend:RISC-V, clang:driver, mc

#90665 [RISCV] Merge RISCVISAInfo::updateFLen/MinVLen/MaxELen into a single function.
  llvm/include/llvm/TargetParser/RISCVISAInfo.h
  llvm/lib/TargetParser/RISCVISAInfo.cpp
Labels: backend:RISC-V

#90721 [flang] always run PolymorphicOpConversion sequentially
  flang/include/flang/Optimizer/Transforms/Passes.td
  flang/include/flang/Tools/CLOptions.inc
  flang/lib/Optimizer/Transforms/PolymorphicOpConversion.cpp
  flang/test/Driver/bbc-mlir-pass-pipeline.f90
  flang/test/Driver/mlir-debug-pass-pipeline.f90
  flang/test/Driver/mlir-pass-pipeline.f90
  flang/test/Fir/basic-program.fir
Labels: flang:driver, flang, flang:fir-hlfir

#89507 [libc] Implement fcntl() function
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/hdr/CMakeLists.txt
  libc/hdr/fcntl_macros.h
  libc/hdr/types/CMakeLists.txt
  libc/hdr/types/struct_f_owner_ex.h
  libc/hdr/types/struct_flock.h
  libc/hdr/types/struct_flock64.h
  libc/include/CMakeLists.txt
  libc/include/llvm-libc-macros/linux/fcntl-macros.h
  libc/include/llvm-libc-types/CMakeLists.txt
  libc/include/llvm-libc-types/struct_f_owner_ex.h
  libc/include/llvm-libc-types/struct_flock.h
  libc/include/llvm-libc-types/struct_flock64.h
  libc/spec/posix.td
  libc/src/fcntl/CMakeLists.txt
  libc/src/fcntl/fcntl.h
  libc/src/fcntl/linux/CMakeLists.txt
  libc/src/fcntl/linux/fcntl.cpp
  libc/test/src/fcntl/CMakeLists.txt
  libc/test/src/fcntl/fcntl_test.cpp
Labels: libc

#90414 [alpha.webkit.UncountedCallArgsChecker] Support more trivial expressions.
  clang/lib/StaticAnalyzer/Checkers/WebKit/PtrTypesSemantics.cpp
  clang/test/Analysis/Checkers/WebKit/uncounted-obj-arg.cpp
Labels: clang, clang:static analyzer

#90567 [ELF] Adjust --compress-sections to support compression level
  lld/ELF/Config.h
  lld/ELF/Driver.cpp
  lld/ELF/Options.td
  lld/ELF/OutputSections.cpp
  lld/docs/ReleaseNotes.rst
  lld/docs/ld.lld.1
  lld/test/ELF/compress-sections.s
  lld/test/ELF/compressed-debug-level.test
Labels: lld, lld:ELF

#90370 [clang-tidy] Enable plugin tests with LLVM_INSTALL_TOOLCHAIN_ONLY
  clang-tools-extra/test/CMakeLists.txt
  clang-tools-extra/test/lit.site.cfg.py.in
Labels: clang-tools-extra, clang-tidy

#90268 [flang] Catch missing "not a dummy argument" cases
  flang/lib/Semantics/check-declarations.cpp
  flang/test/Semantics/call14.f90
  flang/test/Semantics/resolve58.f90
Labels: flang, flang:semantics

#90666 Install generated API headers into LLDB.framework
  lldb/cmake/modules/LLDBConfig.cmake
  lldb/cmake/modules/LLDBFramework.cmake
  lldb/include/lldb/API/LLDB.h
  lldb/packages/Python/lldbsuite/test/builders/builder.py
  lldb/packages/Python/lldbsuite/test/make/Makefile.rules
Labels: lldb

#90739 [SLP]Do not include the cost of and -1, <v> and emit just <v> after MinBitWidth.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/RISCV/minbw-with-and-and-scalar-trunc.ll
  llvm/test/Transforms/SLPVectorizer/RISCV/trunc-to-large-than-bw.ll
Labels: vectorization, llvm:transforms

#90737 [SLP]Improve comparison of shuffled loads/masked gathers by adding GEP cost.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/RISCV/combined-loads-stored.ll
Labels: vectorization, llvm:transforms

#90752 [BOLT][NFC] Simplify DataAggregator::getFallthroughsInTrace
  bolt/include/bolt/Profile/DataAggregator.h
  bolt/lib/Profile/DataAggregator.cpp
Labels: BOLT

#90753 [lldb] Use Python script to generate SBLanguages.h
  lldb/scripts/generate-sbapi-dwarf-enum.py
  lldb/source/API/CMakeLists.txt
  lldb/utils/TableGen/CMakeLists.txt
  lldb/utils/TableGen/LLDBSBAPIDWARFEnum.cpp
  lldb/utils/TableGen/LLDBTableGen.cpp
Labels: lldb

#80047 [mlir][tosa] Rename Tosa Div op to IntDiv Op
  mlir/include/mlir/Dialect/Tosa/IR/TosaOps.td
  mlir/lib/Conversion/TosaToLinalg/TosaToLinalg.cpp
  mlir/lib/Dialect/Tosa/IR/ShardingInterfaceImpl.cpp
  mlir/lib/Dialect/Tosa/IR/TosaCanonicalizations.cpp
  mlir/lib/Dialect/Tosa/IR/TosaOps.cpp
  mlir/lib/Dialect/Tosa/Transforms/TosaMakeBroadcastable.cpp
  mlir/lib/Dialect/Tosa/Transforms/TosaValidation.cpp
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg.mlir
  mlir/test/Dialect/Tosa/constant-op-fold.mlir
  mlir/test/Dialect/Tosa/ops.mlir
Labels: mlir:linalg, mlir, mlir:tosa

#90654 [flang] Intermix messages from parser and semantic analysis
  flang/examples/FeatureList/FeatureList.cpp
  flang/include/flang/Frontend/FrontendAction.h
  flang/include/flang/Semantics/semantics.h
  flang/lib/Frontend/FrontendAction.cpp
  flang/lib/Frontend/FrontendActions.cpp
  flang/lib/Semantics/semantics.cpp
  flang/test/Driver/message-merging.f90
  flang/tools/bbc/bbc.cpp
Labels: flang:driver, flang, flang:semantics

#90644 [WebAssembly] Add missing feature methods
  llvm/lib/Target/WebAssembly/WebAssemblyInstrInfo.td
  llvm/lib/Target/WebAssembly/WebAssemblySubtarget.h
Labels: backend:WebAssembly

#90132 [flang] Adjust transformational folding to match runtime
  flang/lib/Evaluate/fold-implementation.h
  flang/lib/Evaluate/fold-matmul.h
  flang/lib/Evaluate/fold-real.cpp
  flang/lib/Evaluate/fold-reduction.h
Labels: flang, flang:semantics

#90779 Modify gmlt.test to XFAIL on apple platforms correctly.
  llvm/test/DebugInfo/Generic/gmlt.test
Labels: debuginfo

#90518 [flang] Ensure all warning/portability messages are guarded by Should…
  flang/include/flang/Common/Fortran-features.h
  flang/include/flang/Semantics/tools.h
  flang/lib/Evaluate/common.cpp
  flang/lib/Evaluate/fold-character.cpp
  flang/lib/Evaluate/fold-complex.cpp
  flang/lib/Evaluate/fold-implementation.h
  flang/lib/Evaluate/fold-integer.cpp
  flang/lib/Evaluate/fold-logical.cpp
  flang/lib/Evaluate/fold-matmul.h
  flang/lib/Evaluate/fold-real.cpp
  flang/lib/Evaluate/fold-reduction.h
  flang/lib/Evaluate/host.cpp
  flang/lib/Evaluate/intrinsics.cpp
  flang/lib/Evaluate/variable.cpp
  flang/lib/Parser/preprocessor.cpp
  flang/lib/Parser/prescan.cpp
  flang/lib/Parser/prescan.h
  flang/lib/Semantics/check-acc-structure.cpp
  flang/lib/Semantics/check-call.cpp
  flang/lib/Semantics/check-case.cpp
  flang/lib/Semantics/check-cuda.cpp
  flang/lib/Semantics/check-declarations.cpp
  flang/lib/Semantics/check-do-forall.cpp
  flang/lib/Semantics/check-io.cpp
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/data-to-inits.cpp
  flang/lib/Semantics/expression.cpp
  flang/lib/Semantics/mod-file.cpp
  flang/lib/Semantics/pointer-assignment.cpp
  flang/lib/Semantics/program-tree.cpp
  flang/lib/Semantics/resolve-labels.cpp
  flang/lib/Semantics/resolve-names.cpp
  flang/lib/Semantics/semantics.cpp
  flang/lib/Semantics/tools.cpp
  flang/test/Driver/prescanner-diag.f90
  flang/test/Evaluate/fold-out_of_range.f90
  flang/test/Preprocessing/include-comment.F90
  flang/test/Semantics/kinds04_q10.f90
Labels: flang:driver, flang, flang:openmp, openacc, flang:semantics, flang:parser

#90691 [msan] Don't modify CFG iterating it
  llvm/lib/Transforms/Instrumentation/MemorySanitizer.cpp
Labels: compiler-rt:sanitizer, llvm:transforms

#90776 [SelectionDAG] Correct the implementation of m_AllOnes.
  llvm/include/llvm/CodeGen/SDPatternMatch.h
  llvm/test/CodeGen/X86/subvectorwise-store-of-vector-splat.ll
Labels: backend:X86

#90767 [RISCV] Use binary search to look up supported profiles.
  llvm/lib/TargetParser/RISCVISAInfo.cpp
  llvm/utils/TableGen/RISCVTargetDefEmitter.cpp
Labels: backend:RISC-V

#90667 [llvm/Support] Make `llvm::sys::RWMutex` Lockable
  llvm/include/llvm/Support/RWMutex.h
  llvm/lib/Support/RWMutex.cpp
Labels: llvm:support

#90386 [compiler-rt][CMake] Do not explicitly set CMP0114 to old
  compiler-rt/cmake/Modules/AddCompilerRT.cmake
Labels: compiler-rt

#90687 [mlir][sparse] support tensor.pad on CSR tensors
  mlir/lib/Dialect/SparseTensor/Transforms/Utils/SparseTensorIterator.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/Utils/SparseTensorIterator.h
  mlir/test/Dialect/SparseTensor/fuse_sparse_pad_with_consumer.mlir
  mlir/test/Integration/Dialect/SparseTensor/CPU/padded_sparse_conv_2d.mlir
Labels: mlir:sparse, mlir

#90792 [WebAssembly] Disable reference types in generic CPU
  clang/docs/ReleaseNotes.rst
  clang/lib/Basic/Targets/WebAssembly.cpp
  clang/test/Preprocessor/wasm-target-features.c
Labels: clang, backend:WebAssembly, clang:frontend

#89638 Triple::normalize: Use none as OS for XX-none-ABI
  clang/docs/Multilib.rst
  clang/test/Driver/arm-ias-Wa.s
  clang/test/Driver/arm-triple.c
  clang/test/Driver/baremetal-multilib-layered.yaml
  clang/test/Driver/baremetal-multilib.yaml
  clang/test/Driver/baremetal-sysroot.cpp
  clang/test/Driver/baremetal.cpp
  clang/test/Driver/print-multi-selection-flags.c
  clang/unittests/Interpreter/IncrementalCompilerBuilderTest.cpp
  llvm/lib/TargetParser/Triple.cpp
  llvm/unittests/TargetParser/TripleTest.cpp
Labels: clang, libc++, clang:driver

#90705 [InterleavedLoadCombine] Bail out on non-byte-sized vector element type
  llvm/lib/CodeGen/InterleavedLoadCombinePass.cpp
  llvm/test/CodeGen/AArch64/interleaved-load-combine-pr90695.ll
Labels: backend:AArch64

#90766 [BOLT][NFC] Add BOLTReserved to BinaryContext
  bolt/include/bolt/Core/BinaryContext.h
  bolt/lib/Rewrite/RewriteInstance.cpp
Labels: BOLT

#90335 [NFC] Reduce copies created of ConstantRange when getting ConstantRangeAttributes.
  llvm/include/llvm/IR/Attributes.h
  llvm/lib/IR/AttributeImpl.h
  llvm/lib/IR/Attributes.cpp
  llvm/lib/IR/Verifier.cpp
  llvm/lib/Transforms/Utils/FunctionComparator.cpp
Labels: llvm:ir, function-specialization, llvm:analysis, llvm:transforms

#90813 [NFC][clang-tidy] update check list document
  clang-tools-extra/docs/clang-tidy/checks/list.rst
Labels: clang-tools-extra, clang-tidy

#90566 [clang-tidy] Ignore casts from void to void in bugprone-casting-through-void
  clang-tools-extra/clang-tidy/bugprone/CastingThroughVoidCheck.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/test/clang-tidy/checkers/bugprone/casting-through-void.cpp
Labels: clang-tools-extra, clang-tidy

#90560 [clang-tidy] Relax readability-const-return-type
  clang-tools-extra/clang-tidy/readability/ConstReturnTypeCheck.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/test/clang-tidy/checkers/readability/const-return-type.cpp
Labels: clang-tools-extra, clang-tidy

#90704 [alpha.webkit.UncountedCallArgsChecker] Ignore methods of WTF String classes.
  clang/lib/StaticAnalyzer/Checkers/WebKit/UncountedCallArgsChecker.cpp
  clang/test/Analysis/Checkers/WebKit/call-args-wtf-containers.cpp
  clang/test/Analysis/Checkers/WebKit/mock-types.h
Labels: clang, clang:static analyzer

#90541 [BOLT] Add split function support for the Linux kernel
  bolt/lib/Passes/SplitFunctions.cpp
  bolt/lib/Rewrite/LinuxKernelRewriter.cpp
Labels: BOLT

#90677 [BOLT] Register Linux kernel dynamic branch offsets
  bolt/lib/Rewrite/LinuxKernelRewriter.cpp
  bolt/test/X86/linux-static-keys.s
Labels: BOLT

#89807 [clang] Enable C++17 relaxed template template argument matching by default
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/include/clang/Basic/LangOptions.def
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/SanitizerArgs.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/test/CXX/temp/temp.arg/temp.arg.template/p3-2a.cpp
  clang/test/CodeGenCXX/mangle-concept.cpp
  clang/test/Driver/frelaxed-template-template-args.cpp
  clang/test/Lexer/cxx-features.cpp
  clang/test/SemaTemplate/cwg2398.cpp
  clang/test/SemaTemplate/default-arguments.cpp
  clang/test/SemaTemplate/instantiate-template-template-parm.cpp
  clang/test/SemaTemplate/nested-template.cpp
  clang/test/SemaTemplate/temp_arg_template.cpp
  clang/test/SemaTemplate/temp_arg_template_cxx1z.cpp
  clang/www/cxx_status.html
Labels: clang, clang:driver, clang:frontend

#90438 [clang][dataflow] Don't propagate result objects in unevaluated contexts
  clang/lib/Analysis/FlowSensitive/DataflowEnvironment.cpp
  clang/unittests/Analysis/FlowSensitive/TransferTest.cpp
Labels: clang, clang:dataflow, clang:analysis

#90825 [lldb][bazel] Fix BUILD after dcbf0fcd0d5572f7001ebdd3bda6062593ec172b.
  utils/bazel/llvm-project-overlay/lldb/BUILD.bazel
Labels: bazel

#89850 [clang] fix(85447): clang 18.1.0 crashes in clang::ASTContext::getTypeInfoImpl
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaDecl.cpp
  clang/test/Sema/incomplete-struct-decl.cpp
Labels: clang, clang:frontend

#90734 [clang][Docs] Add release note for {target}-none-{environment} triple normalization changes
  clang/docs/ReleaseNotes.rst
Labels: clang

#90712 [lldb][Docs] Use proper LLDB/GDB project branding in tutorial
  lldb/docs/use/tutorial.rst
Labels: lldb

#90585 [lldb][Docs] Remove .txt copy of tutorial
  lldb/docs/lldb-for-gdb-users.txt
Labels: lldb

#84024 [lldb][test][FreeBSD] Narrow vectorcall xfail to x86 platforms
  lldb/test/API/lang/c/calling-conventions/TestCCallingConventions.py
Labels: lldb

#84022 [lldb][test][FreeBSD] Remove corefile test xfails
  lldb/test/API/functionalities/postmortem/elf-core/TestLinuxCore.py
Labels: lldb

#89877 [DAG] SelectionDAG.computeKnownBits - add NSW/NUW flags support to ISD::SHL handling
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/X86/fold-int-pow2-with-fmul-or-fdiv.ll
  llvm/test/CodeGen/X86/known-never-zero.ll
  llvm/test/CodeGen/X86/pr89877.ll
Labels: backend:X86, llvm:SelectionDAG

#89362 [Clang][CodeGen] Optimised LLVM IR for atomic increments/decrements on floats
  clang/lib/CodeGen/CGExprScalar.cpp
  clang/test/CodeGen/X86/x86-atomic-float.c
  clang/test/CodeGen/X86/x86-atomic-long_double.c
Labels: clang, backend:X86, clang:codegen

#90048 [OpenCL] Put constant initializer globals into constant addrspace
  clang/lib/CodeGen/CGExprAgg.cpp
  clang/test/CodeGenOpenCLCXX/addrspace-with-class.clcpp
Labels: clang, clang:codegen, OpenCL

#90840 DAG: Implement softening for fp atomic store
  llvm/lib/CodeGen/SelectionDAG/LegalizeFloatTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeTypes.h
Labels: backend:SystemZ, llvm:SelectionDAG

#90726 [flang] Add a test for fir.real debug conversion.
  flang/test/Transforms/debug-90683.fir
Labels: flang

#83010 [AMDGPU] Fix incorrect stepping in gdb for amdgcn.end.cf intrinsic.
  llvm/lib/Target/AMDGPU/SIAnnotateControlFlow.cpp
  llvm/test/CodeGen/AMDGPU/si-annotate-dbg-info.ll
Labels: backend:AMDGPU

#90480 [Flang][OpenMP] Give better errors during parsing failures
  flang/lib/Parser/openmp-parsers.cpp
  flang/test/Parser/OpenMP/fail-construct1.f90
  flang/test/Parser/OpenMP/fail-construct2.f90
Labels: flang, flang:openmp, flang:parser

#83412 [clangd] Remove potential prefix from enum value names
  clang-tools-extra/clangd/refactor/tweaks/ScopifyEnum.cpp
  clang-tools-extra/clangd/unittests/tweaks/ScopifyEnumTests.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
Labels: clang-tools-extra, clangd

#90839 DAG: Implement softening for fp atomic load
  llvm/lib/CodeGen/SelectionDAG/LegalizeFloatTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeTypes.h
Labels: backend:SystemZ, llvm:SelectionDAG

#89931 [mlir] remove test-tranfsorm-dialect-interpreter
  mlir/include/mlir/Dialect/Transform/Transforms/TransformInterpreterPassBase.h
  mlir/lib/Dialect/Transform/Transforms/CMakeLists.txt
  mlir/lib/Dialect/Transform/Transforms/TransformInterpreterPassBase.cpp
  mlir/test/Dialect/Transform/test-interpreter-external-symbol-decl-and-schedule.mlir
  mlir/test/Dialect/Transform/test-interpreter-external-symbol-decl-dir.mlir
  mlir/test/Dialect/Transform/test-interpreter-external-symbol-decl-invalid.mlir
  mlir/test/Dialect/Transform/test-interpreter-external-symbol-decl.mlir
  mlir/test/Dialect/Transform/test-interpreter-module-generation.mlir
  mlir/test/Dialect/Transform/test-interpreter-multiple-top-level-ops.mlir
  mlir/test/Dialect/Transform/test-repro-dump.mlir
  mlir/test/lib/Dialect/Transform/TestTransformDialectInterpreter.cpp
  mlir/tools/mlir-opt/mlir-opt.cpp
Labels: mlir:core, mlir

#90693 [mlir-lsp] Parse outgoing request callback JSON
  mlir/include/mlir/Tools/lsp-server-support/Transport.h
  mlir/unittests/Tools/lsp-server-support/Transport.cpp
Labels: mlir:core, mlir

#90715 SystemZ: Add missing predicate for bitconvert patterns
  llvm/lib/Target/SystemZ/SystemZInstrVector.td
Labels: backend:SystemZ

#90490 [Clang] Prevent null pointer dereference in Sema::​CodeCompleteQualifiedId()
  clang/lib/Sema/SemaCodeComplete.cpp
Labels: clang, clang:frontend

#90826 SystemZ: Add some tests for fp128 atomics with soft-float
  llvm/test/CodeGen/SystemZ/atomic-load-08.ll
  llvm/test/CodeGen/SystemZ/atomic-store-08.ll
  llvm/test/CodeGen/SystemZ/atomicrmw-xchg-07.ll
Labels: backend:SystemZ

#90627 [HipStdPar] Fix globle variable
  llvm/lib/Transforms/HipStdPar/HipStdPar.cpp
  llvm/test/Transforms/HipStdPar/global-var.ll
Labels: llvm:transforms

#90055 [Flang] Get fir::SequenceType from hlfir::ExprType before getShape.
  flang/lib/Lower/ConvertCall.cpp
Labels: flang, flang:fir-hlfir

#90625 [clang][Sema] Re-use existing BinaryOperator if possible
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaExpr.cpp
  clang/test/CXX/drs/dr7xx.cpp
Labels: clang, clang:frontend

#90511 [libc++] Remove a few __has_foo defines in __config
  libcxx/include/__config
Labels: libc++

#68607 [analyzer] Removing untrusted buffer size taint warning
  clang/docs/analyzer/checkers.rst
  clang/lib/StaticAnalyzer/Checkers/CStringChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/GenericTaintChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/MallocChecker.cpp
  clang/test/Analysis/taint-diagnostic-visitor.c
  clang/test/Analysis/taint-generic.c
Labels: clang, clang:static analyzer, clang:dataflow

#90757 [RISCV] Add list of supported profiles to -print-supported-extensions
  llvm/lib/TargetParser/RISCVISAInfo.cpp
  llvm/unittests/TargetParser/RISCVISAInfoTest.cpp
Labels: backend:RISC-V

#90793 [offload] - Add omp as a dependency for clang-bootstrap-deps
  llvm/runtimes/CMakeLists.txt
  offload/CMakeLists.txt
Labels: offload

#90862 [llvm][AArch64] Fix Arm 32 bit build warnings
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
Labels: backend:AArch64

#90723 [AArch64] Avoid vector interleave instructions when NEON and SVE are unavailable
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-ld2-alloca.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-shuffle.ll
Labels: backend:AArch64

#90861 SystemZ: Handle gr128 to fp128 copies in copyPhysReg
  llvm/lib/Target/SystemZ/SystemZInstrInfo.cpp
  llvm/test/CodeGen/SystemZ/copy-phys-reg-gr128-to-fp128.mir
Labels: backend:SystemZ

#84026 [lldb][test][FreeBSD] Remove xfails from TestGDBRemoteLoad
  lldb/test/API/functionalities/gdb_remote_client/TestGDBRemoteLoad.py
Labels: lldb

#90762 [SDPatternMatch] Add m_CondCode, m_NoneOf, and some SExt improvements
  llvm/include/llvm/CodeGen/SDPatternMatch.h
  llvm/unittests/CodeGen/SelectionDAGPatternMatchTest.cpp
Labels: llvm:codegen, llvm:SelectionDAG

#90775 NFC: fix clang format spacing and documentation
  llvm/lib/Target/PowerPC/MCTargetDesc/PPCMCTargetDesc.cpp
  llvm/lib/Target/PowerPC/PPCISelDAGToDAG.cpp
Labels: backend:PowerPC

#90774 [flang][cuda] Compute matching distance in generic resolution
  flang/lib/Semantics/expression.cpp
  flang/test/Semantics/cuf13.cuf
Labels: flang, flang:semantics

#90818 [RISCV] Add smstateen extension
  clang/test/Preprocessor/riscv-target-features.c
  llvm/docs/RISCVUsage.rst
  llvm/docs/ReleaseNotes.rst
  llvm/lib/Target/RISCV/RISCVFeatures.td
  llvm/test/CodeGen/RISCV/attributes.ll
  llvm/test/MC/RISCV/attribute-arch.s
  llvm/unittests/TargetParser/RISCVISAInfoTest.cpp
Labels: clang, backend:RISC-V, mc

#90771 [mlir][sparse] Support explicit/implicit value for complex type
  mlir/lib/Dialect/SparseTensor/IR/CMakeLists.txt
  mlir/lib/Dialect/SparseTensor/IR/SparseTensorDialect.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/Utils/CodegenUtils.h
  mlir/test/Dialect/SparseTensor/roundtrip_encoding.mlir
  mlir/test/Dialect/SparseTensor/sparse_matmul_one.mlir
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: mlir:sparse, mlir, bazel

#90713 [AMDGPU] Group multiple single use producers under one single use instruction.
  llvm/lib/Target/AMDGPU/AMDGPUInsertSingleUseVDST.cpp
  llvm/test/CodeGen/AMDGPU/insert-singleuse-vdst.mir
Labels: backend:AMDGPU

#90815 [RISCV] Make parseNormalizedArchString only accept [a-z0-9_].
  llvm/lib/TargetParser/RISCVISAInfo.cpp
  llvm/unittests/TargetParser/RISCVISAInfoTest.cpp
Labels: backend:RISC-V

#90777 [WebAssembly] Sort target features (NFC)
  clang/include/clang/Driver/Options.td
  clang/lib/Basic/Targets/WebAssembly.cpp
  clang/lib/Basic/Targets/WebAssembly.h
  clang/test/Driver/wasm-features.c
  llvm/lib/Target/WebAssembly/WebAssembly.td
  llvm/lib/Target/WebAssembly/WebAssemblyInstrInfo.td
  llvm/lib/Target/WebAssembly/WebAssemblySubtarget.h
Labels: clang, backend:WebAssembly, clang:driver, clang:frontend

#90790 [RISCV] Detect empty extension name after parsing MajorVersion in parseNormalizedArchString.
  llvm/lib/TargetParser/RISCVISAInfo.cpp
  llvm/unittests/TargetParser/RISCVISAInfoTest.cpp
Labels: backend:RISC-V

#90858 [SamplePGO] Handle FS discriminators in SampleProfileMatcher
  llvm/lib/Transforms/IPO/SampleProfileMatcher.cpp
  llvm/test/Transforms/SampleProfile/Inputs/non-probe-stale-profile-matching.prof
  llvm/test/Transforms/SampleProfile/non-probe-stale-profile-matching.ll
Labels: llvm:transforms

#90222 [HLSL] Shore up floating point conversions
  clang/lib/Sema/SemaOverload.cpp
  clang/test/SemaHLSL/OverloadResolutionBugs.hlsl
  clang/test/SemaHLSL/ScalarOverloadResolution.hlsl
  clang/test/SemaHLSL/VectorElementOverloadResolution.hlsl
Labels: clang, clang:frontend, HLSL

#90622 LLDB Debuginfod tests and a fix or two
  lldb/packages/Python/lldbsuite/test/make/Makefile.rules
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.cpp
  lldb/source/Plugins/SymbolLocator/CMakeLists.txt
  lldb/source/Plugins/SymbolVendor/ELF/SymbolVendorELF.cpp
  lldb/test/API/debuginfod/Normal/Makefile
  lldb/test/API/debuginfod/Normal/TestDebuginfod.py
  lldb/test/API/debuginfod/Normal/main.c
  lldb/test/API/debuginfod/SplitDWARF/Makefile
  lldb/test/API/debuginfod/SplitDWARF/TestDebuginfodDWP.py
  lldb/test/API/debuginfod/SplitDWARF/main.c
  lldb/test/API/lit.site.cfg.py.in
  lldb/test/CMakeLists.txt
Labels: lldb

#90674 [flang] Added extension point callbacks to default FIR optimizer pipeline.
  flang/docs/FlangDriver.md
  flang/include/flang/Tools/CLOptions.inc
  flang/include/flang/Tools/CrossToolHelpers.h
  flang/lib/Frontend/FrontendActions.cpp
  flang/tools/bbc/bbc.cpp
  flang/tools/tco/tco.cpp
Labels: flang:driver, flang

#90759 [MLIR][LLVM] CallSiteLoc without caller scope not translatable
  mlir/lib/Target/LLVMIR/DebugTranslation.cpp
  mlir/test/Target/LLVMIR/llvmir-debug.mlir
Labels: mlir:llvm, mlir

#82809 Implement a subset of builtin_cpu_supports() features
  clang/lib/Basic/Targets/PPC.cpp
  clang/lib/Basic/Targets/PPC.h
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/Sema/SemaChecking.cpp
  clang/test/CodeGen/aix-builtin-cpu-is.c
  clang/test/CodeGen/aix-builtin-cpu-supports.c
  clang/test/CodeGen/multi-aix-builtin-cpu-supports.c
  clang/test/Sema/aix-builtin-cpu-unsupports.c
  clang/test/Sema/builtin-cpu-unsupports-AIX-Os.c
  llvm/include/llvm/TargetParser/PPCTargetParser.def
Labels: clang, backend:PowerPC, clang:frontend, clang:codegen

#90887 [AMDGPU] Support byte_sel modifier for v_cvt_f32_fp8 and v_cvt_f32_bf8
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/lib/Target/AMDGPU/GCNDPPCombine.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/lib/Target/AMDGPU/VOPInstructions.td
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.cvt.fp8.dpp.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.cvt.fp8.dpp.mir
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.cvt.fp8.ll
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp8.txt
Labels: backend:AMDGPU, mc

#90770 [DebugInfo] Make DISubprogram's hashing always produce the same result
  llvm/lib/IR/LLVMContextImpl.h
  llvm/unittests/IR/DebugInfoTest.cpp
Labels: debuginfo, llvm:ir

#90882 [RemoveDIs][Clang] Resolve DILocalVariables used by DbgRecords
  clang/lib/CodeGen/CGVTables.cpp
  clang/test/CodeGenCXX/tmp-md-nodes2.cpp
Labels: clang, clang:codegen

#90768 SystemZ: Stop casting fp typed atomic loads in the IR
  llvm/lib/Target/SystemZ/SystemZISelLowering.cpp
  llvm/test/CodeGen/SystemZ/atomic-load-08.ll
Labels: backend:SystemZ

#90885 Revert "[OpenMP][TR12] change property of map-type modifier."
  clang/include/clang/Basic/DiagnosticParseKinds.td
  clang/lib/Parse/ParseOpenMP.cpp
  clang/test/OpenMP/target_ast_print.cpp
  clang/test/OpenMP/target_map_messages.cpp
Labels: clang, clang:frontend, clang:openmp

#90866 [AMDGPU] Use some merging/unmerging helpers in SILoadStoreOptimizer
  llvm/lib/Target/AMDGPU/SILoadStoreOptimizer.cpp
Labels: backend:AMDGPU

#90798 [BOLT] Add support for Linux kernel .smp_locks section
  bolt/lib/Rewrite/LinuxKernelRewriter.cpp
  bolt/test/X86/linux-smp-locks.s
Labels: BOLT

#85537 [libc++] Granularize <ostream>
  libcxx/include/CMakeLists.txt
  libcxx/include/__ostream/basic_ostream.h
  libcxx/include/__ostream/print.h
  libcxx/include/istream
  libcxx/include/module.modulemap
  libcxx/include/ostream
  libcxx/include/sstream
  libcxx/include/syncstream
  libcxx/test/libcxx/input.output/file.streams/fstreams/traits_mismatch.verify.cpp
  libcxx/test/libcxx/input.output/iostream.format/output.streams/traits_mismatch.verify.cpp
  libcxx/test/libcxx/transitive_includes/cxx03.csv
  libcxx/test/libcxx/transitive_includes/cxx11.csv
  libcxx/test/libcxx/transitive_includes/cxx14.csv
  libcxx/test/libcxx/transitive_includes/cxx17.csv
  libcxx/test/libcxx/transitive_includes/cxx20.csv
  libcxx/test/libcxx/transitive_includes/cxx23.csv
  libcxx/test/libcxx/transitive_includes/cxx26.csv
  libcxx/test/std/input.output/syncstream/syncbuf/helpers.h
  libcxx/test/std/thread/thread.threads/thread.thread.class/thread.thread.id/parse.pass.cpp
Labels: libc++

#90845 [clang][CodeGen] Fix in codegen for __builtin_popcountg/ctzg/clzg
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/test/CodeGen/builtins-bitint.c
  clang/test/CodeGen/builtins.c
Labels: clang, c23, clang:codegen, miscompilation

#90292 [libcxx] Align `__recommend() + 1` by __endian_factor
  libcxx/include/string
Labels: libc++

#90623 [flang][cuda] Lower device/managed/unified allocation to cuda ops
  flang/include/flang/Optimizer/Builder/FIRBuilder.h
  flang/include/flang/Semantics/tools.h
  flang/lib/Lower/ConvertVariable.cpp
  flang/lib/Optimizer/Builder/FIRBuilder.cpp
  flang/lib/Optimizer/Dialect/FIROps.cpp
  flang/test/Lower/CUDA/cuda-data-attribute.cuf
Labels: flang, flang:fir-hlfir, flang:semantics

#90694 [HLSL] Cleanup TargetInfo handling
  clang/lib/AST/ASTContext.cpp
  clang/lib/Basic/TargetInfo.cpp
  clang/lib/Basic/Targets/DirectX.h
  clang/test/SemaHLSL/Types/Arithmetic/half_size.hlsl
Labels: clang, clang:frontend, backend:DirectX, HLSL

#90717 [clang][PGO] Apply artificial DebugLoc to llvm.instrprof.increment instructions
  clang/lib/CodeGen/CodeGenFunction.h
  clang/test/Profile/debug-info-instr_profile_switch.cpp
Labels: clang, clang:codegen

#90808 [lldb] [debugserver] address preprocessor warning, extra arg
  lldb/tools/debugserver/source/MacOSX/MachProcess.mm
  lldb/tools/debugserver/source/MacOSX/arm64/DNBArchImplARM64.cpp
Labels: lldb

#90904 [lldb] Add a log level to Host::SystemLog
  lldb/include/lldb/Host/Host.h
  lldb/source/Host/common/Host.cpp
  lldb/source/Host/macosx/objcxx/Host.mm
Labels: lldb
