Repository llvm/llvm-project, pull requests merged in 2024-01, with the labels that each got.

#76645 [Driver][Solaris] Remove reachable llvm_unreachable
  clang/lib/Driver/ToolChains/Solaris.cpp
Labels: clang, clang:driver, platform:solaris

#76640 [MLIR][LLVM] Add llvm.intr.coro.promise
  mlir/include/mlir/Dialect/LLVMIR/LLVMIntrinsicOps.td
  mlir/test/Target/LLVMIR/Import/intrinsic.ll
  mlir/test/Target/LLVMIR/llvmir-intrinsics.mlir
Labels: mlir:llvm, mlir

#76496 Skip tranformConstExprCastCall for naked function
  llvm/lib/Transforms/InstCombine/InstCombineCalls.cpp
  llvm/test/Transforms/InstCombine/call-cast-attrs.ll
  llvm/test/Transforms/LowerTypeTests/cfi-unwind-direct-call.ll
Labels: llvm:transforms

#73513 [mlir][linalg] Fix for invalid IR in eliminate_empty_tensors
  mlir/lib/Dialect/Linalg/Transforms/EliminateEmptyTensors.cpp
  mlir/test/Dialect/Linalg/one-shot-bufferize-empty-tensor-elimination.mlir
Labels: mlir:linalg, mlir

#76655 [analyzer][NFC] Cleanup BugType lazy-init patterns
  clang/include/clang/StaticAnalyzer/Core/BugReporter/CommonBugCategories.h
  clang/lib/StaticAnalyzer/Checkers/ArrayBoundChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/BasicObjCFoundationChecks.cpp
  clang/lib/StaticAnalyzer/Checkers/BlockInCriticalSectionChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/BoolAssignmentChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/CXXDeleteChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/CastSizeChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/CheckObjCDealloc.cpp
  clang/lib/StaticAnalyzer/Checkers/ChrootChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/CloneChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/ConversionChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/DebugContainerModeling.cpp
  clang/lib/StaticAnalyzer/Checkers/DebugIteratorModeling.cpp
  clang/lib/StaticAnalyzer/Checkers/DivZeroChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/DynamicTypeChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/EnumCastOutOfRangeChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/ExprInspectionChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/FixedAddressChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/InvalidatedIteratorChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/IteratorRangeChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/LocalizationChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/MPI-Checker/MPIBugReporter.cpp
  clang/lib/StaticAnalyzer/Checkers/MPI-Checker/MPIBugReporter.h
  clang/lib/StaticAnalyzer/Checkers/MacOSKeychainAPIChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/MacOSXAPIChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/MismatchedIteratorChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/MmapWriteExecChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/NSAutoreleasePoolChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/NonNullParamChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/ObjCAtSyncChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/ObjCContainersChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/ObjCSelfInitChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/ObjCSuperDeallocChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/PaddingChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/PointerArithChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/PointerSubChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/ReturnPointerRangeChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/ReturnUndefChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/SimpleStreamChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/StdLibraryFunctionsChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/TaintTesterChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/TestAfterDivZeroChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/UndefBranchChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/UndefCapturedBlockVarChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/UndefResultChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/UndefinedArraySubscriptChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/UndefinedAssignmentChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/UninitializedObject/UninitializedObjectChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/UnixAPIChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/VLASizeChecker.cpp
  clang/lib/StaticAnalyzer/Checkers/VforkChecker.cpp
  clang/lib/StaticAnalyzer/Core/CommonBugCategories.cpp
  clang/unittests/StaticAnalyzer/CallEventTest.cpp
  clang/unittests/StaticAnalyzer/NoStateChangeFuncVisitorTest.cpp
  clang/unittests/StaticAnalyzer/RegisterCustomCheckersTest.cpp
Labels: clang, clang:static analyzer

#76397 [MLIR][Presburger] Implement PresburgerSpace::mergeAndAlignSymbols
  mlir/include/mlir/Analysis/Presburger/PresburgerSpace.h
  mlir/lib/Analysis/Presburger/PresburgerSpace.cpp
  mlir/unittests/Analysis/Presburger/PresburgerSpaceTest.cpp
Labels: mlir, mlir:presburger

#76568 [mlir] Make TypedValue::getType() const
  mlir/include/mlir/IR/Value.h
Labels: mlir:core, mlir

#76691 [FuncAttrs] Don't infer `noundef` for functions with `sanitize_memory` attribute
  llvm/lib/Transforms/IPO/FunctionAttrs.cpp
  llvm/test/Transforms/FunctionAttrs/noundef.ll
Labels: llvm:transforms

#76434 [X86][MC] Support Enc/Dec for EGPR for promoted CRC32
  llvm/lib/Target/X86/X86InstrSSE.td
  llvm/test/MC/Disassembler/X86/apx/crc32.txt
  llvm/test/MC/X86/apx/crc32-att.s
  llvm/test/MC/X86/apx/crc32-intel.s
  llvm/test/MC/X86/x86_64-asm-match.s
  llvm/test/TableGen/x86-fold-tables.inc
Labels: backend:X86, mc

#74990 [Clang][LoongArch] Do not pass vector arguments via vector registers
  clang/lib/CodeGen/Targets/LoongArch.cpp
  clang/test/CodeGen/LoongArch/lasx/builtin-alias.c
  clang/test/CodeGen/LoongArch/lasx/builtin.c
  clang/test/CodeGen/LoongArch/lsx/builtin-alias.c
  clang/test/CodeGen/LoongArch/lsx/builtin.c
Labels: clang, clang:codegen, backend:loongarch

#71314 [libc++][ranges][abi-break] Fix `movable_box` overwriting memory of data that lives in the tail padding
  libcxx/docs/ReleaseNotes/18.rst
  libcxx/include/__config
  libcxx/include/__ranges/chunk_by_view.h
  libcxx/include/__ranges/drop_while_view.h
  libcxx/include/__ranges/filter_view.h
  libcxx/include/__ranges/movable_box.h
  libcxx/include/__ranges/repeat_view.h
  libcxx/include/__ranges/single_view.h
  libcxx/include/__ranges/take_while_view.h
  libcxx/include/__ranges/transform_view.h
  libcxx/test/libcxx/ranges/range.adaptors/range.chunk.by/no_unique_address.compile.pass.cpp
  libcxx/test/libcxx/ranges/range.adaptors/range.move.wrap/empty_object.pass.cpp
  libcxx/test/libcxx/ranges/range.adaptors/range.move.wrap/no_unique_address.pass.cpp
  libcxx/test/libcxx/ranges/range.factories/range.repeat.view/no_unique_address.compile.pass.cpp
  libcxx/test/libcxx/ranges/range.factories/range.single.view/no_unique_address.compile.pass.cpp
  libcxx/test/std/ranges/range.adaptors/range.lazy.split/ctor.range.pass.cpp
  libcxx/test/std/ranges/range.adaptors/range.transform/general.pass.cpp
  libcxx/test/std/ranges/ranges_robust_against_no_unique_address.pass.cpp
Labels: libc++, ABI, ranges

#76658 [libc++][test] Removes Clang < 14 support.
  libcxx/test/std/numerics/rand/rand.dist/rand.dist.uni/rand.dist.uni.int/eval.pass.cpp
Labels: libc++

#76696 [AMDGPU] Do not preserve UniformityInfo
  llvm/include/llvm/ADT/GenericUniformityImpl.h
  llvm/lib/Target/AMDGPU/AMDGPURewriteUndefForPHI.cpp
  llvm/lib/Target/AMDGPU/AMDGPUUnifyDivergentExitNodes.cpp
Labels: backend:AMDGPU, llvm:adt

#76355 [flang][OpenMP][Offloading][AMDGPU] Add test for `target update`
  mlir/lib/Conversion/OpenMPToLLVM/OpenMPToLLVM.cpp
  openmp/libomptarget/test/offloading/fortran/target_update.f90
Labels: mlir, mlir:openmp, flang:openmp, openmp:libomptarget

#76452 [AArch64] Check for exact size when finding 1's for CMLE.
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/neon-compare-instructions.ll
Labels: backend:AArch64

#75791 [Clang][AArch64] Add missing SME functions to header file.
  clang/include/clang/Basic/BuiltinsAArch64.def
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/test/CodeGen/aarch64-sme-intrinsics/acle_sme_state_funs.c
  clang/test/CodeGen/aarch64-sve2p1-intrinsics/acle_sve2p1_qcvtn.c
  clang/utils/TableGen/SveEmitter.cpp
Labels: clang, backend:AArch64, clang:frontend, clang:codegen

#75311 [LVI] Support using block values when handling conditions
  llvm/lib/Analysis/LazyValueInfo.cpp
  llvm/test/Transforms/CorrelatedValuePropagation/cond-using-block-value.ll
Labels: clang, llvm:analysis, llvm:transforms

#76194 [Flang] Allow Intrinsic simpification with min/maxloc dim and scalar result
  flang/lib/Optimizer/Transforms/SimplifyIntrinsics.cpp
  flang/test/Transforms/simplifyintrinsics.fir
Labels: flang, flang:fir-hlfir

#76214 AMDGPU: Add bf16 vectors to register class definitions
  llvm/lib/Target/AMDGPU/SIInstructions.td
  llvm/lib/Target/AMDGPU/SIRegisterInfo.td
  llvm/lib/Target/AMDGPU/VOP3PInstructions.td
Labels: backend:AMDGPU, llvm:SelectionDAG

#76149 [AMDGPU] GFX12 global_atomic_ordered_add_b64 instruction and intrinsic
  llvm/include/llvm/IR/IntrinsicsAMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPUInstructions.td
  llvm/lib/Target/AMDGPU/AMDGPURegisterBankInfo.cpp
  llvm/lib/Target/AMDGPU/AMDGPUSearchableTables.td
  llvm/lib/Target/AMDGPU/FLATInstructions.td
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.global.atomic.ordered.add.b64.ll
  llvm/test/MC/AMDGPU/gfx11_unsupported.s
  llvm/test/MC/AMDGPU/gfx12_asm_vflat.s
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vflat.txt
Labels: backend:AMDGPU, mc, llvm:ir

#75911 [AMDGPU] Update compute program resource registers for GFX12
  llvm/docs/AMDGPUUsage.rst
  llvm/include/llvm/Support/AMDHSAKernelDescriptor.h
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.cpp
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUTargetStreamer.cpp
  llvm/test/MC/AMDGPU/hsa-diag-v4.s
  llvm/test/MC/AMDGPU/hsa-gfx12-v4.s
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-gfx12.s
Labels: backend:AMDGPU, mc, llvm:support, llvm:binary-utilities

#76391 [mlir][llvm] Import call site calling conventions
  mlir/lib/Target/LLVMIR/ModuleImport.cpp
  mlir/test/Dialect/LLVMIR/func.mlir
  mlir/test/Target/LLVMIR/Import/calling-convention.ll
Labels: mlir:llvm, mlir

#76660 [SLP][NFC] Fix assertion in vectorizeGEPIndices()
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: vectorization, llvm:transforms

#76041 [RISCV][test] Add tests for RISCVInstrInfo::describeLoadedValue
  llvm/unittests/Target/RISCV/RISCVInstrInfoTest.cpp
Labels: backend:RISC-V

#76489 [RISCV] Add overlapping constraints flag to RVV pseudo
  llvm/lib/Target/RISCV/RISCVInstrInfoVPseudos.td
Labels: backend:RISC-V

#76715 [AMDGPU] Fix moveToValue for copy to phys SGPR
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/test/CodeGen/AMDGPU/bug-cselect-b64.ll
  llvm/test/CodeGen/AMDGPU/si-fix-sgpr-copies-copy-to-sgpr.mir
Labels: backend:AMDGPU

#76513 [libc] Lock the output stream for the 'puts' call
  libc/src/stdio/generic/puts.cpp
Labels: libc

#76055 [mlir][spirv] Add support for C-API/python binding to SPIR-V dialect
  mlir/include/mlir-c/Dialect/SPIRV.h
  mlir/lib/CAPI/Dialect/CMakeLists.txt
  mlir/lib/CAPI/Dialect/SPIRV.cpp
  mlir/python/CMakeLists.txt
  mlir/python/mlir/dialects/SPIRVOps.td
  mlir/python/mlir/dialects/spirv.py
  mlir/test/python/dialects/spirv_dialect.py
Labels: mlir:python, mlir

#76089 [GlobalIsel] Combine selects with constants
  llvm/include/llvm/CodeGen/GlobalISel/CombinerHelper.h
  llvm/include/llvm/Target/GlobalISel/Combine.td
  llvm/lib/CodeGen/GlobalISel/CombinerHelper.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/combine-select.mir
  llvm/test/CodeGen/AArch64/andcompare.ll
  llvm/test/CodeGen/AArch64/arm64-ccmp.ll
  llvm/test/CodeGen/AArch64/call-rv-marker.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/combine-fold-binop-into-select.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/divergence-divergent-i1-phis-no-lane-mask-merging.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/divergence-structurizer.ll
  llvm/test/CodeGen/AMDGPU/fdiv_flags.f32.ll
  llvm/test/CodeGen/AMDGPU/fptrunc.ll
  llvm/test/CodeGen/AMDGPU/fsqrt.f32.ll
  llvm/test/CodeGen/AMDGPU/fsqrt.f64.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.inverse.ballot.i64.ll
  llvm/test/CodeGen/AMDGPU/rsq.f64.ll
Labels: backend:AArch64, backend:AMDGPU, llvm:globalisel

#75341 [RISCV] Change heuristic used for load clustering
  llvm/lib/Target/RISCV/RISCVInstrInfo.cpp
Labels: backend:RISC-V

#76475 [flang] Defer processing of non-pointer variable initializers
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/bad-forward-type.f90
  flang/test/Semantics/init01.f90
  flang/test/Semantics/pointer01.f90
  flang/test/Semantics/symbol15.f90
Labels: flang, flang:semantics

#76476 [flang][runtime] Extension: NAMELIST input may omit terminal '/'
  flang/docs/Extensions.md
  flang/runtime/edit-input.cpp
  flang/runtime/io-stmt.cpp
  flang/runtime/namelist.cpp
Labels: flang:runtime, flang

#76533 [flang] Fix parsing time explosion
  flang/lib/Parser/Fortran-parsers.cpp
Labels: flang, flang:parser

#76538 [flang] Accept BIND(C) derived type for Cray pointees
  flang/include/flang/Evaluate/tools.h
  flang/lib/Evaluate/tools.cpp
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/resolve61.f90
Labels: flang, flang:semantics

#76541 [flang] Accept multiple spaces after compiler directive sentinel
  flang/lib/Parser/prescan.cpp
  flang/test/Parser/compiler-directives.f90
Labels: flang, flang:parser

#75709 [OpenMP] atomic compare fail : Codegen support
  clang/lib/CodeGen/CGStmtOpenMP.cpp
  clang/lib/Sema/SemaOpenMP.cpp
  clang/test/OpenMP/atomic_compare_codegen.cpp
  llvm/include/llvm/Frontend/OpenMP/OMPIRBuilder.h
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
Labels: clang, clang:frontend, clang:codegen, flang:openmp, clang:openmp

#76584 [flang][runtime] NAMELIST input into storage sequence
  flang/docs/Extensions.md
  flang/runtime/namelist.cpp
Labels: flang:runtime, flang

#76586 [flang][runtime] Don't round hexadecimal floating-point input
  flang/docs/Extensions.md
  flang/runtime/edit-input.cpp
Labels: flang:runtime, flang

#76606 [mlir][tensor] Improve tensor.pack simplication pattern.
  mlir/lib/Dialect/Tensor/Transforms/PackAndUnpackPatterns.cpp
  mlir/test/Dialect/Tensor/simplify-pack-unpack.mlir
Labels: mlir, mlir:tensor

#76590 [flang] Fix folding of NEAREST(TINY(1.),-1.)
  flang/lib/Evaluate/real.cpp
  flang/test/Evaluate/fold-nearest.f90
Labels: flang, flang:semantics

#76642 [flang][runtime] Don't use -1 in I/O API for "default unit"
  flang/include/flang/Runtime/io-api.h
  flang/include/flang/Runtime/magic-numbers.h
  flang/lib/Lower/IO.cpp
  flang/module/iso_fortran_env.f90
  flang/runtime/io-api.cpp
  flang/runtime/unit.cpp
  flang/test/Lower/HLFIR/calls-f77.f90
  flang/test/Lower/HLFIR/convert-mbox-to-value.f90
  flang/test/Lower/OpenMP/FIR/parallel-lastprivate-clause-scalar.f90
  flang/test/Lower/OpenMP/parallel-lastprivate-clause-scalar.f90
  flang/test/Lower/array-character.f90
  flang/test/Lower/array-expression-slice-1.f90
  flang/test/Lower/array-expression.f90
  flang/test/Lower/array-temp.f90
  flang/test/Lower/host-associated.f90
  flang/test/Lower/io-statement-2.f90
  flang/test/Lower/vector-subscript-io.f90
Labels: flang:runtime, flang, flang:fir-hlfir, flang:openmp

#76643 [flang][runtime] Don't prematurely end formatted integer input
  flang/runtime/edit-input.cpp
Labels: flang:runtime, flang

#76578 [RISCV] Don't emit vxrm writes for vnclip(u).wi with shift of 0.
  llvm/lib/Target/RISCV/RISCVInsertWriteVXRM.cpp
  llvm/test/CodeGen/RISCV/rvv/fpclamptosat_vec.ll
  llvm/test/CodeGen/RISCV/rvv/trunc-sat-clip.ll
Labels: backend:RISC-V

#75402 [coroutines] Use DILocation from new storage for hoisted dbg.declare
  llvm/lib/Transforms/Coroutines/CoroFrame.cpp
  llvm/test/Transforms/Coroutines/coro-debug-frame-variable-O1.ll
  llvm/test/Transforms/Coroutines/coro-debug-frame-variable.ll
Labels: coroutines, llvm:transforms

#75348 [llvm-cxxfilt] Added the option --no-params
  libcxxabi/src/demangle/ItaniumDemangle.h
  llvm/docs/CommandGuide/llvm-cxxfilt.rst
  llvm/include/llvm/Demangle/Demangle.h
  llvm/include/llvm/Demangle/ItaniumDemangle.h
  llvm/lib/Demangle/Demangle.cpp
  llvm/lib/Demangle/ItaniumDemangle.cpp
  llvm/test/tools/llvm-cxxfilt/no-params.test
  llvm/tools/llvm-cxxfilt/Opts.td
  llvm/tools/llvm-cxxfilt/llvm-cxxfilt.cpp
Labels: libc++abi, llvm:binary-utilities

#75244 [lldb-dap] Emit more structured info along with variables
  lldb/test/API/tools/lldb-dap/optimized/TestDAP_optimized.py
  lldb/test/API/tools/lldb-dap/variables/TestDAP_variables.py
  lldb/tools/lldb-dap/BreakpointBase.cpp
  lldb/tools/lldb-dap/JSONUtils.cpp
  lldb/tools/lldb-dap/JSONUtils.h
  lldb/tools/lldb-dap/lldb-dap.cpp
Labels: lldb

#76274 [LV] Fix crash when vectorizing function calls with linear args.
  llvm/lib/Analysis/VectorUtils.cpp
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/vector-call-linear-args.ll
Labels: vectorization, llvm:analysis, llvm:transforms

#76312 [RawProfReader]When constructing symbol table, read the MD5 of function name in the proper byte order
  llvm/lib/ProfileData/InstrProfReader.cpp
  llvm/test/Transforms/PGOProfile/thinlto_indirect_call_promotion.ll
Labels: PGO, llvm:transforms

#76175 [builtins] Avoid using long double in FreeBSD standalone environment
  compiler-rt/lib/builtins/int_types.h
Labels: compiler-rt

#76594 [flang] Add notify-type and notify-wait-stmt
  flang/examples/FeatureList/FeatureList.cpp
  flang/include/flang/Evaluate/tools.h
  flang/include/flang/Lower/PFTBuilder.h
  flang/include/flang/Lower/Runtime.h
  flang/include/flang/Parser/dump-parse-tree.h
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Evaluate/tools.cpp
  flang/lib/Lower/Bridge.cpp
  flang/lib/Lower/Runtime.cpp
  flang/lib/Parser/executable-parsers.cpp
  flang/lib/Parser/unparse.cpp
  flang/lib/Semantics/check-coarray.cpp
  flang/lib/Semantics/check-coarray.h
  flang/module/__fortran_builtins.f90
  flang/module/iso_fortran_env.f90
  flang/test/Semantics/notifywait01.f90
  flang/test/Semantics/notifywait02.f90
  flang/test/Semantics/notifywait03.f90
Labels: flang, flang:fir-hlfir, flang:semantics, flang:parser

#76250 [libc][NFC] Enforce internal linkage for exp* support functions.
  libc/src/math/generic/exp.cpp
  libc/src/math/generic/exp10.cpp
  libc/src/math/generic/exp2.cpp
  libc/src/math/generic/expm1.cpp
Labels: libc

#73189 [ConstraintElim] Add facts implied by llvm.abs
  llvm/lib/Transforms/Scalar/ConstraintElimination.cpp
  llvm/test/Transforms/ConstraintElimination/abs.ll
Labels: llvm:transforms

#75738 [mlir][tosa] Move lowering of `tosa.transpose` to `tosa-to-linalg-named`
  mlir/lib/Conversion/TosaToLinalg/TosaToLinalg.cpp
  mlir/lib/Conversion/TosaToLinalg/TosaToLinalgNamed.cpp
  mlir/lib/Conversion/TosaToLinalg/TosaToLinalgNamedPass.cpp
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg-named.mlir
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg-pipeline.mlir
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg.mlir
Labels: mlir:linalg, mlir

#76747 [mlir][sparse] enable rt path for transpose COO
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_transpose_coo.mlir
Labels: mlir:sparse, mlir

#76564 [compiler-rt] eventfd api interception on freebsd.
  compiler-rt/lib/sanitizer_common/sanitizer_common_interceptors.inc
  compiler-rt/lib/sanitizer_common/sanitizer_platform_interceptors.h
  compiler-rt/lib/sanitizer_common/sanitizer_platform_limits_freebsd.h
  compiler-rt/lib/sanitizer_common/sanitizer_platform_limits_posix.h
  compiler-rt/test/msan/eventfd.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#75093 [mlir] Consider mlir-linalg-ods-gen as a tablegen tool in build
  llvm/cmake/modules/TableGen.cmake
  mlir/CMakeLists.txt
  mlir/cmake/modules/AddMLIR.cmake
  mlir/cmake/modules/CMakeLists.txt
  mlir/cmake/modules/MLIRConfig.cmake.in
  mlir/include/mlir/Dialect/Linalg/IR/CMakeLists.txt
  mlir/lib/Dialect/Linalg/IR/CMakeLists.txt
  mlir/tools/mlir-linalg-ods-gen/CMakeLists.txt
Labels: cmake, mlir:core, mlir:linalg, mlir

#76530 [mlir][gpu] Add subgroup_reduce to shuffle lowering
  mlir/include/mlir/Dialect/GPU/Transforms/Passes.h
  mlir/include/mlir/Dialect/GPU/Transforms/Utils.h
  mlir/lib/Dialect/GPU/CMakeLists.txt
  mlir/lib/Dialect/GPU/Transforms/AllReduceLowering.cpp
  mlir/lib/Dialect/GPU/Transforms/SubgroupReduceLowering.cpp
  mlir/lib/Dialect/GPU/Transforms/Utils.cpp
  mlir/test/Dialect/GPU/subgroup-redule-lowering.mlir
  mlir/test/lib/Dialect/GPU/TestGpuRewrite.cpp
Labels: mlir:gpu, mlir

#76547 [hwasan] Workaround unsupported AssignmentTrackingPass
  compiler-rt/test/hwasan/TestCases/stack-overflow.c
  compiler-rt/test/hwasan/TestCases/stack-uar.c
  compiler-rt/test/hwasan/TestCases/stack-uas.c
  llvm/lib/IR/DebugInfo.cpp
  llvm/test/DebugInfo/Generic/assignment-tracking/declare-to-assign/hwasan.ll
Labels: compiler-rt, debuginfo, compiler-rt:sanitizer, llvm:ir

#76081 [mlir] Add inferContractionDims util for indexing map inputs
  mlir/include/mlir/Dialect/Linalg/IR/LinalgInterfaces.h
  mlir/lib/Dialect/Linalg/IR/LinalgInterfaces.cpp
Labels: mlir:linalg, mlir

#76758 [mlir][sparse] recognize NVidia 2:4 type for matmul
  mlir/lib/Dialect/SparseTensor/Transforms/SparseGPUCodegen.cpp
  mlir/lib/ExecutionEngine/CudaRuntimeWrappers.cpp
  mlir/test/Dialect/SparseTensor/GPU/gpu_matmul24_lib.mlir
  mlir/test/Integration/Dialect/SparseTensor/GPU/CUDA/sm80-lt/sparse-matmul-2-4-hand.mlir
  mlir/test/Integration/Dialect/SparseTensor/GPU/CUDA/sm80-lt/sparse-matmul-2-4-lib.mlir
  mlir/test/Integration/Dialect/SparseTensor/GPU/CUDA/sm80-lt/sparse-matmul-2-4-prune.mlir
Labels: mlir:gpu, mlir:sparse, mlir, mlir:execution-engine

#72440 [Libomptarget] Fix RPC-based malloc on NVPTX
  openmp/libomptarget/include/omptarget.h
  openmp/libomptarget/plugins-nextgen/amdgpu/src/rtl.cpp
  openmp/libomptarget/plugins-nextgen/common/src/RPC.cpp
  openmp/libomptarget/plugins-nextgen/cuda/dynamic_cuda/cuda.cpp
  openmp/libomptarget/plugins-nextgen/cuda/dynamic_cuda/cuda.h
  openmp/libomptarget/plugins-nextgen/cuda/src/rtl.cpp
  openmp/libomptarget/plugins-nextgen/generic-elf-64bit/src/rtl.cpp
  openmp/libomptarget/test/libc/malloc.c
Labels: backend:AMDGPU, openmp:libomptarget

#76198 [WebAssembly][Object]Use file offset as function symbol address for linked files
  llvm/lib/Object/WasmObjectFile.cpp
  llvm/test/tools/llvm-nm/wasm/linked.yaml
  llvm/test/tools/llvm-objdump/wasm/linked-symbol-table.yaml
Labels: backend:WebAssembly, llvm:binary-utilities

#76759 [compiler-rt] enable pwritev interception on freebsd.
  compiler-rt/lib/sanitizer_common/sanitizer_platform_interceptors.h
Labels: compiler-rt, compiler-rt:sanitizer

#75650 [-Wunsafe-buffer-usage] Warning for unsafe invocation of span::data
  clang/include/clang/Analysis/Analyses/UnsafeBufferUsage.h
  clang/include/clang/Analysis/Analyses/UnsafeBufferUsageGadgets.def
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Analysis/UnsafeBufferUsage.cpp
  clang/lib/Sema/AnalysisBasedWarnings.cpp
  clang/test/SemaCXX/warn-unsafe-buffer-usage-warning-data-invocation.cpp
Labels: clang, clang:frontend, clang:analysis

#76179 [mlir][mesh] Add resharding spmdization on a 1D device mesh
  mlir/include/mlir/Dialect/Mesh/IR/MeshBase.td
  mlir/include/mlir/Dialect/Mesh/IR/MeshOps.h
  mlir/include/mlir/Dialect/Mesh/IR/MeshOps.td
  mlir/include/mlir/Dialect/Mesh/Transforms/ReshardingSpmdizationDoc.md
  mlir/include/mlir/Dialect/Mesh/Transforms/Spmdization.h
  mlir/lib/Dialect/Mesh/IR/MeshOps.cpp
  mlir/lib/Dialect/Mesh/Transforms/CMakeLists.txt
  mlir/lib/Dialect/Mesh/Transforms/Spmdization.cpp
  mlir/test/Dialect/Mesh/invalid.mlir
  mlir/test/Dialect/Mesh/ops.mlir
  mlir/test/Dialect/Mesh/resharding-spmdization.mlir
  mlir/test/lib/Dialect/Mesh/CMakeLists.txt
  mlir/test/lib/Dialect/Mesh/TestReshardingSpmdization.cpp
  mlir/tools/mlir-opt/mlir-opt.cpp
Labels: mlir:core, mlir

#76764 [mlir][sparse] use a common util function to query the tensor level s…
  mlir/lib/Dialect/SparseTensor/Transforms/Sparsification.cpp
Labels: mlir:sparse, mlir

#76669 [SimplifyCFG] When only one case value is missing, replace default with that case
  llvm/lib/Transforms/Utils/SimplifyCFG.cpp
  llvm/test/Transforms/SimplifyCFG/switch-dead-default-lookup-table.ll
  llvm/test/Transforms/SimplifyCFG/switch-dead-default.ll
Labels: llvm:transforms

#76552 [MC][RISCV][LoongArch] Add AlignFragment size if layout is available and not need insert nops
  llvm/lib/MC/MCExpr.cpp
  llvm/test/MC/LoongArch/Misc/cfi-advance.s
  llvm/test/MC/LoongArch/Relocations/relax-addsub.s
  llvm/test/MC/RISCV/cfi-advance.s
  llvm/test/MC/RISCV/fixups-expr.s
Labels: mc, backend:loongarch

#76412 [libc] `__stack_chk_fail` baremetal dependencies
  libc/config/baremetal/arm/entrypoints.txt
  libc/config/baremetal/riscv/entrypoints.txt
  libc/src/__support/OSUtil/baremetal/CMakeLists.txt
  libc/src/__support/OSUtil/baremetal/io.h
  libc/src/__support/OSUtil/baremetal/quick_exit.h
  libc/src/__support/OSUtil/io.h
  libc/src/__support/OSUtil/quick_exit.h
Labels: libc

#75993 [FastISel][AArch64] Compare Instruction Miscompilation Fix
  llvm/lib/Target/AArch64/AArch64FastISel.cpp
  llvm/test/CodeGen/AArch64/arm64-fast-isel-icmp.ll
Labels: backend:AArch64

#76751 [SelectionDAG] Add initial plumbing for the disjoint flag.
  llvm/include/llvm/CodeGen/SelectionDAGNodes.h
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGDumper.cpp
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
Labels: llvm:SelectionDAG

#73309 [AArch64][GlobalISel] Add legalization for vecreduce.fmul
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/legalize-reduce-fmul.mir
  llvm/test/CodeGen/AArch64/GlobalISel/legalizer-info-validation.mir
  llvm/test/CodeGen/AArch64/vecreduce-fmul.ll
Labels: backend:AArch64, llvm:globalisel

#74929 [GlobalISel][AArch64] Tail call libcalls.
  llvm/include/llvm/CodeGen/GlobalISel/LegalizerHelper.h
  llvm/include/llvm/CodeGen/GlobalISel/LegalizerInfo.h
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.cpp
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.h
  llvm/lib/Target/AMDGPU/AMDGPULegalizerInfo.cpp
  llvm/lib/Target/AMDGPU/AMDGPULegalizerInfo.h
  llvm/lib/Target/ARM/ARMLegalizerInfo.cpp
  llvm/lib/Target/ARM/ARMLegalizerInfo.h
  llvm/lib/Target/Mips/MipsLegalizerInfo.cpp
  llvm/lib/Target/Mips/MipsLegalizerInfo.h
  llvm/lib/Target/RISCV/GISel/RISCVLegalizerInfo.cpp
  llvm/lib/Target/RISCV/GISel/RISCVLegalizerInfo.h
  llvm/lib/Target/SPIRV/SPIRVLegalizerInfo.cpp
  llvm/lib/Target/SPIRV/SPIRVLegalizerInfo.h
  llvm/test/CodeGen/AArch64/GlobalISel/legalize-fpmode.mir
  llvm/test/CodeGen/AArch64/fexplog.ll
  llvm/test/CodeGen/AArch64/fpmode.ll
  llvm/test/CodeGen/AArch64/fpow.ll
  llvm/test/CodeGen/AArch64/frem.ll
  llvm/test/CodeGen/AArch64/fsincos.ll
  llvm/test/CodeGen/AArch64/llvm.exp10.ll
  llvm/unittests/CodeGen/GlobalISel/LegalizerHelperTest.cpp
Labels: backend:ARM, backend:AArch64, backend:AMDGPU, backend:RISC-V, llvm:globalisel, backend:SPIR-V

#76508 [libc][NFC] Remove `FloatProperties`
  libc/fuzzing/stdlib/strtofloat_fuzz.cpp
  libc/src/__support/FPUtil/FPBits.h
  libc/src/__support/FPUtil/ManipulationFunctions.h
  libc/src/__support/FPUtil/dyadic_float.h
  libc/src/__support/FPUtil/generic/FMA.h
  libc/src/__support/FPUtil/x86_64/LongDoubleBits.h
  libc/src/__support/float_to_string.h
  libc/src/__support/str_to_float.h
  libc/src/math/generic/exp.cpp
  libc/src/math/generic/exp10.cpp
  libc/src/math/generic/exp2.cpp
  libc/src/math/generic/exp2f_impl.h
  libc/src/math/generic/explogxf.h
  libc/src/math/generic/expm1.cpp
  libc/src/math/generic/powf.cpp
  libc/src/math/generic/range_reduction.h
  libc/src/math/generic/tanhf.cpp
  libc/src/stdio/printf_core/float_dec_converter.h
  libc/test/src/__support/str_to_fp_test.h
  libc/test/src/math/FrexpTest.h
  libc/test/src/math/LogbTest.h
  libc/test/src/math/SqrtTest.h
  libc/test/src/math/smoke/FrexpTest.h
  libc/test/src/math/smoke/LogbTest.h
  libc/test/src/math/smoke/SqrtTest.h
  libc/utils/MPFRWrapper/MPFRUtils.cpp
Labels: libc

#76183 [AMDGPU] Global ISel for llvm.prefetch
  llvm/include/llvm/Target/GlobalISel/SelectionDAGCompat.td
  llvm/lib/Target/AMDGPU/AMDGPUInstructionSelector.cpp
  llvm/lib/Target/AMDGPU/AMDGPURegisterBankInfo.cpp
  llvm/lib/Target/AMDGPU/SMInstructions.td
  llvm/test/CodeGen/AMDGPU/llvm.prefetch.ll
Labels: backend:AMDGPU, llvm:globalisel

#76222 [AArch64][LLVM]SME2.1 non-widening BFloat instructions now depend on …
  llvm/lib/Target/AArch64/AArch64SMEInstrInfo.td
  llvm/test/MC/AArch64/SME2/bfadd-diagnostics.s
  llvm/test/MC/AArch64/SME2/bfadd.s
  llvm/test/MC/AArch64/SME2/bfclamp-diagnostics.s
  llvm/test/MC/AArch64/SME2/bfclamp.s
  llvm/test/MC/AArch64/SME2/bfmax-diagnostics.s
  llvm/test/MC/AArch64/SME2/bfmax.s
  llvm/test/MC/AArch64/SME2/bfmaxnm-diagnostics.s
  llvm/test/MC/AArch64/SME2/bfmaxnm.s
  llvm/test/MC/AArch64/SME2/bfmin-diagnostics.s
  llvm/test/MC/AArch64/SME2/bfmin.s
  llvm/test/MC/AArch64/SME2/bfminnm-diagnostics.s
  llvm/test/MC/AArch64/SME2/bfminnm.s
  llvm/test/MC/AArch64/SME2/bfmla-diagnostics.s
  llvm/test/MC/AArch64/SME2/bfmla.s
  llvm/test/MC/AArch64/SME2/bfmls-diagnostics.s
  llvm/test/MC/AArch64/SME2/bfmls.s
  llvm/test/MC/AArch64/SME2/bfmopa-diagnostics.s
  llvm/test/MC/AArch64/SME2/bfmopa.s
  llvm/test/MC/AArch64/SME2/bfmops-diagnostics.s
  llvm/test/MC/AArch64/SME2/bfmops.s
  llvm/test/MC/AArch64/SME2/bfsub-diagnostics.s
  llvm/test/MC/AArch64/SME2/bfsub.s
Labels: backend:AArch64, mc

#76056 [AArch64] Add PMOV aliases with implicit portion index
  llvm/lib/Target/AArch64/SVEInstrFormats.td
  llvm/test/MC/AArch64/SVE2p1/pmov.s
Labels: backend:AArch64, mc

#76255 [lldb/win] Fix -Wmissing-field-initializers warnings after 54981bb75d374
  lldb/source/Plugins/Process/Windows/Common/x64/RegisterContextWindows_x64.cpp
Labels: lldb

#76671 [clang][analyzer] Improve 'errno' modeling of 'mkdtemp'
  clang/lib/StaticAnalyzer/Checkers/StdLibraryFunctionsChecker.cpp
  clang/test/Analysis/errno-stdlibraryfunctions.c
Labels: clang, clang:static analyzer

#76791 [DAG] Extend input types if needed in combineShiftToAVG.
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/test/CodeGen/AArch64/arm64-vhadd.ll
Labels: backend:AArch64, llvm:SelectionDAG

#76637 [InstSimplify] Simplify the expression `(a^c)&(a^~c)` to zero and (a^c) | (a^~c) to minus one.
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/test/Transforms/InstCombine/and-xor-merge.ll
  llvm/test/Transforms/InstCombine/or-xor.ll
Labels: llvm:analysis, llvm:transforms

#76729 [coroutines] Do not check coroutine wrappers for skipped function bodies
  clang-tools-extra/clangd/unittests/DiagnosticsTests.cpp
  clang/lib/Sema/SemaDecl.cpp
Labels: clang, clangd, clang:frontend

#76257 [AMDGPU][GlobalISel] Update tests to check for COV5
  llvm/test/CodeGen/AMDGPU/GlobalISel/crash-stack-address-O0.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/dropped_debug_info_assert.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-assert-align.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-atomicrmw.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-call-abi-attribute-hints.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-call-implicit-args.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-call-return-values.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-call-sret.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-call.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-constant-fold-vector-op.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-indirect-call.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-inline-asm.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-sibling-call.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-tail-call.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/llvm.amdgcn.is.private.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/llvm.amdgcn.is.shared.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/non-entry-alloca.ll
  llvm/test/CodeGen/AMDGPU/addrspacecast-constantexpr.ll
Labels: backend:AMDGPU, llvm:globalisel

#76723 [mlir] introduce transform.num_associations
  mlir/include/mlir/Dialect/Transform/IR/TransformOps.td
  mlir/lib/Dialect/Transform/IR/TransformOps.cpp
  mlir/test/Dialect/Linalg/transform-op-bufferize-to-allocation.mlir
  mlir/test/Dialect/Linalg/transform-op-match.mlir
  mlir/test/Dialect/Linalg/transform-op-pad.mlir
  mlir/test/Dialect/Transform/ops-invalid.mlir
  mlir/test/Dialect/Transform/test-interpreter.mlir
  mlir/test/Dialect/Transform/test-loop-transforms.mlir
  mlir/test/lib/Dialect/Transform/TestTransformDialectExtension.cpp
  mlir/test/lib/Dialect/Transform/TestTransformDialectExtension.td
Labels: mlir:linalg, mlir

#76805 [clang][analyzer][NFC] Improve release note
  clang/docs/ReleaseNotes.rst
Labels: clang

#76516 [opt][NewPM] Add isRequired to passes named as *PrinterPass
  llvm/include/llvm/Analysis/AliasSetTracker.h
  llvm/include/llvm/Analysis/AssumptionCache.h
  llvm/include/llvm/Analysis/BlockFrequencyInfo.h
  llvm/include/llvm/Analysis/BranchProbabilityInfo.h
  llvm/include/llvm/Analysis/CFGSCCPrinter.h
  llvm/include/llvm/Analysis/CallGraph.h
  llvm/include/llvm/Analysis/CallPrinter.h
  llvm/include/llvm/Analysis/CostModel.h
  llvm/include/llvm/Analysis/CycleAnalysis.h
  llvm/include/llvm/Analysis/DDG.h
  llvm/include/llvm/Analysis/DDGPrinter.h
  llvm/include/llvm/Analysis/Delinearization.h
  llvm/include/llvm/Analysis/DemandedBits.h
  llvm/include/llvm/Analysis/DependenceAnalysis.h
  llvm/include/llvm/Analysis/DominanceFrontier.h
  llvm/include/llvm/Analysis/FunctionPropertiesAnalysis.h
  llvm/include/llvm/Analysis/IRSimilarityIdentifier.h
  llvm/include/llvm/Analysis/InlineAdvisor.h
  llvm/include/llvm/Analysis/InlineCost.h
  llvm/include/llvm/Analysis/InlineSizeEstimatorAnalysis.h
  llvm/include/llvm/Analysis/LazyCallGraph.h
  llvm/include/llvm/Analysis/LazyValueInfo.h
  llvm/include/llvm/Analysis/LoopCacheAnalysis.h
  llvm/include/llvm/Analysis/LoopInfo.h
  llvm/include/llvm/Analysis/LoopNestAnalysis.h
  llvm/include/llvm/Analysis/MemDerefPrinter.h
  llvm/include/llvm/Analysis/MemorySSA.h
  llvm/include/llvm/Analysis/ModuleDebugInfoPrinter.h
  llvm/include/llvm/Analysis/MustExecute.h
  llvm/include/llvm/Analysis/PhiValues.h
  llvm/include/llvm/Analysis/PostDominators.h
  llvm/include/llvm/Analysis/ProfileSummaryInfo.h
  llvm/include/llvm/Analysis/RegionInfo.h
  llvm/include/llvm/Analysis/ScalarEvolution.h
  llvm/include/llvm/Analysis/StackLifetime.h
  llvm/include/llvm/Analysis/StackSafetyAnalysis.h
  llvm/include/llvm/Analysis/StructuralHash.h
  llvm/include/llvm/Analysis/UniformityAnalysis.h
  llvm/include/llvm/IR/Dominators.h
  llvm/include/llvm/Transforms/Scalar/IVUsersPrinter.h
  llvm/include/llvm/Transforms/Scalar/LoopAccessAnalysisPrinter.h
  llvm/include/llvm/Transforms/Utils/PredicateInfo.h
  llvm/lib/Target/DirectX/DXILResourceAnalysis.h
Labels: backend:DirectX, mlgo, llvm:ir, llvm:analysis, llvm:transforms

#76292 [mlir][vector] Fix invalid `LoadOp` indices being created
  mlir/lib/Conversion/VectorToSCF/VectorToSCF.cpp
  mlir/test/Conversion/VectorToSCF/vector-to-scf.mlir
Labels: mlir

#76517 [opt][NewPM] Add isRequired to passes named *VerifierPass
  llvm/include/llvm/Analysis/LoopInfo.h
  llvm/include/llvm/Analysis/MemorySSA.h
  llvm/include/llvm/Analysis/RegionInfo.h
  llvm/include/llvm/Analysis/ScalarEvolution.h
  llvm/include/llvm/IR/Dominators.h
  llvm/include/llvm/IR/SafepointIRVerifier.h
  llvm/include/llvm/Transforms/Utils/PredicateInfo.h
Labels: llvm:ir, llvm:analysis, llvm:transforms

#76527 [LoopInfo][NewPM] Print function name in LoopPrinterPass
  llvm/lib/Analysis/LoopInfo.cpp
  llvm/test/Analysis/LoopInfo/annotated-parallel-simple.ll
Labels: llvm:analysis

#74286 [flang] Error out when assumed rank variable in used as selector in SELECT TYPE statement
  flang/lib/Semantics/check-select-type.cpp
  flang/test/Semantics/selecttype01.f90
Labels: flang, flang:semantics

#76753 [TLI] Use the VFABI demangling when declaring vector variants.
  llvm/lib/Transforms/Utils/InjectTLIMappings.cpp
  llvm/test/Transforms/Util/add-TLI-mappings.ll
Labels: llvm:transforms

#76780 [LTO][NFC] Free the GlobalResolutions map after final use
  llvm/include/llvm/LTO/LTO.h
  llvm/lib/LTO/LTO.cpp
Labels: LTO

#75197 [AMDGPU] Add VDSDIR instructions for GFX12
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/lib/Target/AMDGPU/DSDIRInstructions.td
  llvm/lib/Target/AMDGPU/LDSDIRInstructions.td
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.cpp
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.h
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
  llvm/lib/Target/AMDGPU/SIInstructions.td
  llvm/lib/Target/AMDGPU/SIWholeQuadMode.cpp
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.lds.direct.load.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.lds.param.load.ll
  llvm/test/MC/AMDGPU/gfx12_asm_vdsdir.s
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vdsdir.txt
Labels: backend:AMDGPU, mc

#76806 [AssumptionCache] Add affected values for separate_storage
  llvm/lib/Analysis/AssumptionCache.cpp
  llvm/lib/Analysis/BasicAliasAnalysis.cpp
Labels: llvm:analysis

#75128 [clangd] check for synthesized symbols when tracking include locations
  clang-tools-extra/clangd/index/SymbolCollector.cpp
  clang-tools-extra/clangd/test/GH75115.test
Labels: clangd, crash-on-valid

#76765 [coroutines][DPValue] Update DILocation in DPValue for hoisted dbg.declare
  llvm/lib/Transforms/Coroutines/CoroFrame.cpp
Labels: coroutines, llvm:transforms

#76523 [Clang] Fix ICE where C++ Template Instantiation failed to handle attributed lambdas
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/TreeTransform.h
  clang/test/SemaCXX/template-instantiation.cpp
Labels: clang, clang:frontend

#76694 ObjcRuntime.h: Add mips64, aarch64, and riscv64 to non-legacy dispatch
  clang/include/clang/Basic/ObjCRuntime.h
  clang/test/CodeGenObjC/messages.m
  clang/test/Driver/gnustep-dispatch-method.m
Labels: clang, clang:driver, clang:frontend, objective-c

#76607 [mlir][tensor] Add a pattern to simplify tensor.unpack to collpase shape
  mlir/include/mlir/Dialect/Tensor/Transforms/Transforms.h
  mlir/lib/Dialect/Tensor/Transforms/PackAndUnpackPatterns.cpp
  mlir/test/Dialect/Tensor/simplify-pack-unpack.mlir
Labels: mlir, mlir:tensor

#75421 [mlir][Pass] Enable the option for reproducer generation without crashing
  mlir/include/mlir/Pass/PassManager.h
  mlir/include/mlir/Tools/mlir-opt/MlirOptMain.h
  mlir/lib/Pass/Pass.cpp
  mlir/lib/Pass/PassCrashRecovery.cpp
  mlir/lib/Pass/PassDetail.h
  mlir/lib/Tools/mlir-opt/MlirOptMain.cpp
  mlir/test/Pass/crashless-reproducer.mlir
Labels: mlir:core, mlir

#69927 [mlir] Add config for PDL
  mlir/CMakeLists.txt
  mlir/examples/minimal-opt/README.md
  mlir/include/mlir/Config/mlir-config.h.cmake
  mlir/include/mlir/Conversion/LLVMCommon/TypeConverter.h
  mlir/include/mlir/Dialect/Vector/IR/VectorOps.h
  mlir/include/mlir/IR/PDLPatternMatch.h.inc
  mlir/include/mlir/IR/PatternMatch.h
  mlir/include/mlir/Transforms/DialectConversion.h
  mlir/lib/Dialect/Bufferization/TransformOps/CMakeLists.txt
  mlir/lib/IR/CMakeLists.txt
  mlir/lib/IR/PDL/CMakeLists.txt
  mlir/lib/IR/PDL/PDLPatternMatch.cpp
  mlir/lib/IR/PatternMatch.cpp
  mlir/lib/Rewrite/ByteCode.h
  mlir/lib/Rewrite/CMakeLists.txt
  mlir/lib/Rewrite/FrozenRewritePatternSet.cpp
  mlir/lib/Rewrite/PatternApplicator.cpp
  mlir/lib/Transforms/Utils/DialectConversion.cpp
  mlir/test/CMakeLists.txt
  mlir/test/lib/Transforms/CMakeLists.txt
  mlir/tools/mlir-lsp-server/CMakeLists.txt
  mlir/tools/mlir-opt/CMakeLists.txt
  mlir/tools/mlir-opt/mlir-opt.cpp
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: mlir:core, mlir:llvm, mlir:vectorops, mlir:python, mlir, mlir:bufferization, mlir:pdl, mlir:vector

#76808 [LLVM][AArch64][tblgen]: Make operand suffix case-insinsitive
  llvm/lib/Target/AArch64/AArch64InstrFormats.td
  llvm/test/MC/AArch64/FP8/dot.s
Labels: backend:AArch64, mc

#76592 [GitHub] Fix minor typos in .github/workflows
  .github/workflows/README.md
  .github/workflows/docs.yml
  .github/workflows/libcxx-build-and-test.yaml
Labels: github:workflow

#76677 [Clang][Sema] Diagnose unexpanded packs in the template argument lists of function template specializations
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaDecl.cpp
  clang/test/CXX/temp/temp.decls/temp.variadic/p5.cpp
Labels: clang, clang:frontend

#76847 [SelectionDAG][X86] Use disjoint flag in SelectionDAG::isADDLike.
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/X86/addsub-constant-folding.ll
  llvm/test/CodeGen/X86/or-lea.ll
Labels: backend:X86, llvm:SelectionDAG

#76755 [mlir][GPU] Expand LLVM function attribute copies
  mlir/lib/Conversion/GPUCommon/GPUOpsLowering.cpp
  mlir/test/Conversion/GPUCommon/memref-arg-attrs.mlir
Labels: mlir:gpu, mlir

#76864 [BasicAA] Enable separate storage hints by default
  llvm/lib/Analysis/BasicAliasAnalysis.cpp
Labels: llvm:analysis

#76860 [DAGCombiner][RISCV] Preserve disjoint flag in folding (shl (or x, c1), c2) -> (or (shl x, c2), c1 << c2)
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/test/CodeGen/RISCV/mem.ll
Labels: llvm:SelectionDAG

#76840 [mlir][docs] Capitalize "Transform" in "transform dialect"
  mlir/docs/Dialects/Transform.md
  mlir/docs/Tutorials/transform/Ch1.md
  mlir/docs/Tutorials/transform/Ch2.md
  mlir/docs/Tutorials/transform/Ch3.md
  mlir/docs/Tutorials/transform/ChH.md
  mlir/docs/Tutorials/transform/_index.md
Labels: mlir

#76863 [Clang] Fix failing CI with different test case attribute & host triple
  clang/test/SemaCXX/template-instantiation.cpp
Labels: clang

#76766 [lldb] Fix breakpoint resolver serialization bug
  lldb/source/Breakpoint/BreakpointResolverAddress.cpp
  lldb/test/API/functionalities/breakpoint/serialize/TestBreakpointSerialization.py
Labels: lldb

#76522 AMDGPU: Fix packed 16-bit inline constants
  llvm/lib/Target/AMDGPU/AMDGPUISelDAGToDAG.cpp
  llvm/lib/Target/AMDGPU/AMDGPUISelDAGToDAG.h
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.cpp
  llvm/lib/Target/AMDGPU/GCNSubtarget.h
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.cpp
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.h
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUMCCodeEmitter.cpp
  llvm/lib/Target/AMDGPU/SIFoldOperands.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
  llvm/lib/Target/AMDGPU/SIRegisterInfo.td
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.h
  llvm/lib/Target/AMDGPU/VOP3PInstructions.td
  llvm/test/CodeGen/AMDGPU/GlobalISel/add.v2i16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/sub.v2i16.ll
  llvm/test/CodeGen/AMDGPU/add.v2i16.ll
  llvm/test/CodeGen/AMDGPU/calling-conventions.ll
  llvm/test/CodeGen/AMDGPU/chain-hi-to-lo.ll
  llvm/test/CodeGen/AMDGPU/fma.f16.ll
  llvm/test/CodeGen/AMDGPU/fmul-to-ldexp.ll
  llvm/test/CodeGen/AMDGPU/fptosi.f16.ll
  llvm/test/CodeGen/AMDGPU/immv216.ll
  llvm/test/CodeGen/AMDGPU/integer-mad-patterns.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.fdot2.bf16.bf16.ll
  llvm/test/CodeGen/AMDGPU/pk_max_f16_literal.ll
  llvm/test/CodeGen/AMDGPU/reassoc-mul-add-1-to-mad.ll
  llvm/test/CodeGen/AMDGPU/shrink-add-sub-constant.ll
  llvm/test/CodeGen/AMDGPU/sminmax.v2i16.ll
  llvm/test/CodeGen/AMDGPU/sub.v2i16.ll
  llvm/test/CodeGen/AMDGPU/v_sat_pk_u8_i16.ll
  llvm/test/MC/AMDGPU/gfx11_asm_vop3p.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3p.s
  llvm/test/MC/AMDGPU/literalv216.s
  llvm/test/MC/Disassembler/AMDGPU/gfx10_vop3p_literalv216.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3p.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3p.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx9_vop3p.txt
Labels: backend:AMDGPU, mc, llvm:globalisel

#76830 [mlir][mesh] Use one type for mesh axis
  mlir/include/mlir/Dialect/Mesh/IR/MeshBase.td
  mlir/include/mlir/Dialect/Mesh/IR/MeshOps.h
  mlir/include/mlir/Dialect/Mesh/IR/MeshOps.td
  mlir/include/mlir/Dialect/Mesh/Interfaces/ShardingInterface.h
  mlir/lib/Dialect/Mesh/IR/MeshOps.cpp
  mlir/lib/Dialect/Mesh/Interfaces/ShardingInterface.cpp
  mlir/lib/Dialect/Mesh/Transforms/Spmdization.cpp
Labels: mlir

#76875 [libc] fix -Wcast-function-type via union rather than reinterpret_cast
  libc/src/signal/linux/signal_utils.h
Labels: libc

#71157 Clang/MIPS: Use -mnan value for -mabs if not specified
  clang/lib/Driver/ToolChains/Arch/Mips.cpp
  clang/test/Driver/mips-features.c
Labels: clang, clang:driver

#75202 [SHT_LLVM_BB_ADDR_MAP][AsmPrinter] Implements PGOAnalysisMap emitting in AsmPrinter with tests.
  llvm/docs/Extensions.rst
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/test/CodeGen/X86/basic-block-sections-labels-empty-function.ll
  llvm/test/CodeGen/X86/basic-block-sections-labels-pgo-features.ll
Labels: backend:X86

#76721 [X86][MC] Support encoding/decoding for APX variant INC/DEC/ADCX/ADOX instructions
  llvm/lib/Target/X86/MCTargetDesc/X86MCCodeEmitter.cpp
  llvm/lib/Target/X86/X86InstrArithmetic.td
  llvm/lib/Target/X86/X86InstrUtils.td
  llvm/test/MC/Disassembler/X86/apx/adx.txt
  llvm/test/MC/Disassembler/X86/apx/dec.txt
  llvm/test/MC/Disassembler/X86/apx/inc.txt
  llvm/test/MC/X86/apx/adx-att.s
  llvm/test/MC/X86/apx/adx-intel.s
  llvm/test/MC/X86/apx/dec-att.s
  llvm/test/MC/X86/apx/dec-intel.s
  llvm/test/MC/X86/apx/inc-att.s
  llvm/test/MC/X86/apx/inc-intel.s
  llvm/test/TableGen/x86-fold-tables.inc
Labels: backend:X86, mc

#76539 [mlir] Add `res()` method to `linalg::ContractionOpInterface`
  mlir/include/mlir/Dialect/Linalg/IR/LinalgInterfaces.td
  mlir/unittests/Dialect/CMakeLists.txt
  mlir/unittests/Dialect/Linalg/CMakeLists.txt
  mlir/unittests/Dialect/Linalg/LinalgInterfacesTest.cpp
Labels: mlir:linalg, mlir

#76733 [clang-format] Optimize processing .clang-format-ignore files
  clang/docs/ClangFormat.rst
  clang/test/Format/clang-format-ignore.cpp
  clang/tools/clang-format/ClangFormat.cpp
Labels: clang, clang-format

#76866 [RISCV] Remove RISCVISD::VSELECT_VL.
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.h
  llvm/lib/Target/RISCV/RISCVInstrInfoVVLPatterns.td
Labels: backend:RISC-V

#76692 [InstCombine] Refactor folding of commutative binops over select/phi/minmax
  llvm/lib/Transforms/InstCombine/InstCombineAddSub.cpp
  llvm/lib/Transforms/InstCombine/InstCombineCalls.cpp
  llvm/lib/Transforms/InstCombine/InstCombineInternal.h
  llvm/lib/Transforms/InstCombine/InstCombineMulDivRem.cpp
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
  llvm/test/Transforms/InstCombine/minmax-of-minmax.ll
Labels: llvm:transforms

#73766 [LV] Change loops' interleave count computation
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/interleave_count_for_estimated_tc.ll
  llvm/test/Transforms/LoopVectorize/AArch64/interleave_count_for_known_tc.ll
  llvm/test/Transforms/LoopVectorize/PowerPC/large-loop-rdx.ll
  llvm/test/Transforms/LoopVectorize/PowerPC/optimal-epilog-vectorization.ll
  llvm/test/Transforms/LoopVectorize/PowerPC/reg-usage.ll
  llvm/test/Transforms/LoopVectorize/PowerPC/small-loop-rdx.ll
  llvm/test/Transforms/LoopVectorize/X86/interleave_short_tc.ll
Labels: vectorization, llvm:transforms

#76814 [AMDGPU] Remove `nosync` from image atomic intrinsics.
  llvm/include/llvm/IR/IntrinsicsAMDGPU.td
  llvm/test/CodeGen/AMDGPU/image-atomic-attributes.ll
Labels: backend:AMDGPU, llvm:ir

#67114 [GlobalISel][AArch64] Add libcall lowering for fpowi.
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/legalizer-info-validation.mir
  llvm/test/CodeGen/AArch64/fpowi.ll
Labels: backend:AArch64, llvm:globalisel

#76796 [libomptarget][flang] Explicitly pass the OpenMP device libraries to tests
  openmp/libomptarget/test/lit.cfg
Labels: openmp:libomptarget

#76561 [clang][AVR] Restrict range of assembly constraint 'G'
  clang/lib/Basic/Targets/AVR.h
  clang/test/CodeGen/avr/avr-inline-asm-constraints.c
  clang/test/CodeGen/avr/avr-unsupported-inline-asm-constraints.c
Labels: clang, clang:frontend

#76776 [clang][analyzer] Support 'fdopen' in the StreamChecker
  clang/docs/ReleaseNotes.rst
  clang/lib/StaticAnalyzer/Checkers/StreamChecker.cpp
  clang/test/Analysis/Inputs/system-header-simulator.h
  clang/test/Analysis/stream-error.c
  clang/test/Analysis/stream-non-posix-function.c
  clang/test/Analysis/stream-note.c
  clang/test/Analysis/stream-stdlibraryfunctionargs.c
  clang/test/Analysis/stream.c
Labels: clang, clang:static analyzer

#76829 [NFC] Renames a template parameter to avoid clashes with userspace names.
  libcxx/include/__format/format_arg_store.h
  libcxx/test/libcxx/system_reserved_names.gen.py
Labels: libc++

#76453 [lldb][NFC] Fix compilation issue on windows
  lldb/source/Plugins/Process/Windows/Common/TargetThreadWindows.cpp
  lldb/unittests/Thread/ThreadTest.cpp
Labels: lldb

#76858 [mlir][docs] Update TD tutorial - Ch0
  mlir/docs/Tutorials/transform/Ch0.md
Labels: mlir

#75448 [IR] Fix GEP offset computations for vector GEPs
  clang/lib/CodeGen/CGExprScalar.cpp
  llvm/include/llvm/Analysis/TargetTransformInfoImpl.h
  llvm/include/llvm/IR/GetElementPtrTypeIterator.h
  llvm/lib/Analysis/BasicAliasAnalysis.cpp
  llvm/lib/Analysis/InlineCost.cpp
  llvm/lib/Analysis/Local.cpp
  llvm/lib/Analysis/LoopAccessAnalysis.cpp
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/lib/CodeGen/CodeGenPrepare.cpp
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/lib/CodeGen/SelectionDAG/FastISel.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/ExecutionEngine/Interpreter/Execution.cpp
  llvm/lib/IR/DataLayout.cpp
  llvm/lib/IR/Operator.cpp
  llvm/lib/IR/Value.cpp
  llvm/lib/Target/AArch64/AArch64FastISel.cpp
  llvm/lib/Target/ARM/ARMFastISel.cpp
  llvm/lib/Target/Mips/MipsFastISel.cpp
  llvm/lib/Target/PowerPC/PPCFastISel.cpp
  llvm/lib/Target/RISCV/RISCVGatherScatterLowering.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyFastISel.cpp
  llvm/lib/Target/X86/X86FastISel.cpp
  llvm/lib/Transforms/Scalar/SROA.cpp
  llvm/lib/Transforms/Scalar/SeparateConstOffsetFromGEP.cpp
  llvm/lib/Transforms/Scalar/StraightLineStrengthReduce.cpp
  llvm/lib/Transforms/Vectorize/LoadStoreVectorizer.cpp
  llvm/test/Transforms/InstCombine/getelementptr.ll
Labels: clang, backend:ARM, backend:AArch64, backend:RISC-V, backend:WebAssembly, backend:X86, clang:codegen, llvm:globalisel, vectorization, llvm:SelectionDAG, llvm:ir, llvm:analysis, llvm:transforms

#76865 [mlir][dataflow]Fix dense backward dataflow intraprocedural hook
  mlir/lib/Analysis/DataFlow/DenseAnalysis.cpp
  mlir/test/Analysis/DataFlow/test-next-access.mlir
Labels: mlir

#76917 [NFC][AMDGPU] Move image-atomic-attributes test to test/Assembler.
  llvm/test/Assembler/amdgpu-image-atomic-attributes.ll
  llvm/test/CodeGen/AMDGPU/image-atomic-attributes.ll
Labels: backend:AMDGPU

#74490 [Sema] When checking for constraint equivalence, do not calculate satisfaction
  clang/include/clang/Sema/Sema.h
  clang/include/clang/Sema/Template.h
  clang/lib/Sema/SemaConcept.cpp
  clang/lib/Sema/SemaTemplateInstantiate.cpp
  clang/test/SemaTemplate/concepts-out-of-line-def.cpp
Labels: clang, clang:frontend

#76826 [clangd] Dont require confirmation for include-cleaner batch-fixes
  clang-tools-extra/clangd/IncludeCleaner.cpp
  clang-tools-extra/clangd/test/include-cleaner-batch-fix.test
Labels: clangd

#76921 [SEH] Add test to track EHa register liveness verification
  llvm/test/CodeGen/X86/windows-seh-EHa-RegisterLiveness.ll
Labels: backend:X86

#76929 [mlir][TD] Fix the order of return handles
  mlir/docs/Tutorials/transform/Ch1.md
  mlir/include/mlir/Dialect/Linalg/TransformOps/LinalgTransformOps.td
  mlir/test/Dialect/GPU/transform-gpu-failing.mlir
  mlir/test/Dialect/Linalg/tile-to-forall.mlir
  mlir/test/Examples/transform/Ch1/invalidation-1.mlir
Labels: mlir:linalg, mlir:gpu, mlir

#76925 [ConstraintElim] Use SCEV to check for multiples
  llvm/lib/Transforms/Scalar/ConstraintElimination.cpp
  llvm/test/Transforms/ConstraintElimination/monotonic-int-phis-multiples.ll
Labels: llvm:transforms

#76793 [RISCV][CostModel] Add getRISCVInstructionCost() to TTI for CostKind
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.h
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.cpp
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.h
  llvm/test/Analysis/CostModel/RISCV/rvv-shuffle.ll
  llvm/test/Analysis/CostModel/RISCV/shuffle-broadcast.ll
  llvm/test/Analysis/CostModel/RISCV/shuffle-insert.ll
  llvm/test/Analysis/CostModel/RISCV/shuffle-insert_subvector.ll
  llvm/test/Analysis/CostModel/RISCV/shuffle-permute.ll
  llvm/test/Analysis/CostModel/RISCV/shuffle-reverse.ll
  llvm/test/Analysis/CostModel/RISCV/shuffle-select.ll
  llvm/test/Analysis/CostModel/RISCV/shuffle-transpose.ll
  llvm/test/Analysis/CostModel/RISCV/splice.ll
Labels: backend:RISC-V, llvm:analysis

#76493 [clang][ASTImporter] import InstantiatedFromMember of ClassTemplateSpecializationDecl
  clang/lib/AST/ASTImporter.cpp
  clang/unittests/AST/ASTImporterTest.cpp
Labels: clang, clang:frontend

#76836 [llvm][doc] Fix typo in documenation
  llvm/docs/CMake.rst
Labels: documentation

#76825 [clang] Optimize castToDeclContext for 2% improvement in build times
  clang/include/clang/AST/DeclCXX.h
  clang/lib/AST/DeclBase.cpp
  clang/utils/TableGen/ClangASTNodesEmitter.cpp
  clang/utils/TableGen/TableGen.cpp
  clang/utils/TableGen/TableGenBackends.h
Labels: clang, clang:frontend

#76066 [mlir][EmitC] Use declarative assembly format for opaque types and attributes
  mlir/include/mlir/Dialect/EmitC/IR/EmitCAttributes.td
  mlir/include/mlir/Dialect/EmitC/IR/EmitCTypes.td
  mlir/lib/Dialect/EmitC/IR/EmitC.cpp
Labels: mlir, mlir:emitc

#76754 [mlir][LLVM] Add !invariant.load metadata support to llvm.load
  mlir/include/mlir/Dialect/LLVMIR/LLVMOps.td
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/test/Dialect/LLVMIR/roundtrip.mlir
  mlir/test/Target/LLVMIR/Import/instructions.ll
  mlir/test/Target/LLVMIR/llvmir.mlir
Labels: mlir:llvm, mlir

#76959 [mlir] add a way to query non-property attributes
  mlir/include/mlir/IR/Operation.h
  mlir/lib/IR/OperationSupport.cpp
  mlir/lib/Interfaces/InferTypeOpInterface.cpp
  mlir/unittests/Bytecode/BytecodeTest.cpp
  mlir/unittests/IR/OpPropertiesTest.cpp
Labels: mlir:core, mlir

#74805 [InstCombine] Dont throw away noalias/alias scope metadata when inlining memcpys
  llvm/lib/Transforms/InstCombine/InstCombineCalls.cpp
  llvm/test/Transforms/InstCombine/memcpy-to-load.ll
Labels: julialang, llvm:transforms

#76915 Reapply "[Clang][Sema] Diagnose unexpanded packs in the template argument lists of function template specializations" (#76876)
  clang-tools-extra/test/clang-doc/templates.cpp
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaDecl.cpp
  clang/test/CXX/temp/temp.decls/temp.variadic/p5.cpp
Labels: clang, clang:frontend

#75880 Add support for inline DWARF source files.
  lldb/include/lldb/Symbol/CompileUnit.h
  lldb/include/lldb/Symbol/SymbolFile.h
  lldb/include/lldb/Symbol/SymbolFileOnDemand.h
  lldb/include/lldb/Utility/FileSpecList.h
  lldb/source/API/SBCompileUnit.cpp
  lldb/source/Commands/CommandObjectSource.cpp
  lldb/source/Core/ModuleList.cpp
  lldb/source/Plugins/ExpressionParser/Clang/ClangUserExpression.cpp
  lldb/source/Plugins/ExpressionParser/Clang/CppModuleConfiguration.cpp
  lldb/source/Plugins/SymbolFile/Breakpad/SymbolFileBreakpad.cpp
  lldb/source/Plugins/SymbolFile/Breakpad/SymbolFileBreakpad.h
  lldb/source/Plugins/SymbolFile/CTF/SymbolFileCTF.h
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.cpp
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.h
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARFDebugMap.cpp
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARFDebugMap.h
  lldb/source/Plugins/SymbolFile/JSON/SymbolFileJSON.h
  lldb/source/Plugins/SymbolFile/NativePDB/SymbolFileNativePDB.cpp
  lldb/source/Plugins/SymbolFile/NativePDB/SymbolFileNativePDB.h
  lldb/source/Plugins/SymbolFile/PDB/SymbolFilePDB.cpp
  lldb/source/Plugins/SymbolFile/PDB/SymbolFilePDB.h
  lldb/source/Plugins/SymbolFile/Symtab/SymbolFileSymtab.cpp
  lldb/source/Plugins/SymbolFile/Symtab/SymbolFileSymtab.h
  lldb/source/Symbol/CompileUnit.cpp
  lldb/source/Symbol/SymbolFileOnDemand.cpp
  lldb/source/Utility/FileSpecList.cpp
  lldb/test/API/functionalities/inline-sourcefile/Makefile
  lldb/test/API/functionalities/inline-sourcefile/TestInlineSourceFiles.py
  lldb/test/API/functionalities/inline-sourcefile/inline.ll
  lldb/test/API/functionalities/inline-sourcefile/main.c
  lldb/unittests/Core/FileSpecListTest.cpp
Labels: lldb

#76970 [ELF] Correctly set the `nvptx` triple from `makeTriple()`
  llvm/include/llvm/Object/ELFObjectFile.h
Labels: llvm:binary-utilities

#76797 [mlir][nfc] Update comments in the Linalg vectoriser
  mlir/lib/Dialect/Linalg/Transforms/Vectorization.cpp
Labels: mlir:linalg, mlir
