Repository llvm/llvm-project, pull requests merged in 2024-07, with the labels that each got.

#95356 [MachinePipeliner] Fix constraints aren't considered in certain cases
  llvm/include/llvm/CodeGen/MachinePipeliner.h
  llvm/lib/CodeGen/MachinePipeliner.cpp
  llvm/test/CodeGen/AArch64/sms-instruction-scheduled-at-correct-cycle.mir
Labels: backend:AArch64

#97206 [X86] Relax VPERMV3 to VPERMV combine for more types
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/avx512vl-intrinsics.ll
Labels: backend:X86

#96998 [mlir][bufferization] skip empty tensor elimination if they have different element type
  mlir/lib/Dialect/Bufferization/Transforms/EmptyTensorElimination.cpp
  mlir/test/Dialect/Bufferization/Transforms/one-shot-bufferize-analysis-empty-tensor-elimination.mlir
Labels: mlir, mlir:bufferization

#97246 Revert "[MachinePipeliner] Fix constraints aren't considered in certain cases"
  llvm/include/llvm/CodeGen/MachinePipeliner.h
  llvm/lib/CodeGen/MachinePipeliner.cpp
  llvm/test/CodeGen/AArch64/sms-instruction-scheduled-at-correct-cycle.mir
Labels: backend:AArch64

#97011 [RISCV] Remove deleted AVL register defs from LiveInterval instr maps
  llvm/lib/Target/RISCV/RISCVInsertVSETVLI.cpp
  llvm/test/CodeGen/RISCV/rvv/pr95865.ll
Labels: backend:RISC-V

#97245 [compiler-rt][test]Use c-style headers in instrprof-vtable-value-prof.cpp
  compiler-rt/test/profile/Linux/instrprof-vtable-value-prof.cpp
Labels: compiler-rt, PGO

#96849 [DebugInfo][SeparateConstOffsetFromGEP] Fix missing debug location updates
  llvm/lib/Transforms/Scalar/SeparateConstOffsetFromGEP.cpp
  llvm/test/Transforms/SeparateConstOffsetFromGEP/preserving_debugloc_sext.ll
Labels: debuginfo, llvm:transforms

#96889 [DebugInfo][JumpThreading] Fix missing debug location updates for br instructions
  llvm/lib/Transforms/Scalar/JumpThreading.cpp
  llvm/test/Transforms/JumpThreading/preserving-debugloc-br.ll
Labels: debuginfo, llvm:transforms

#97258 Revert "[lldb] Parse and display register field enums"
  lldb/include/lldb/Target/RegisterFlags.h
  lldb/source/Core/DumpRegisterInfo.cpp
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.cpp
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.h
  lldb/source/Plugins/RegisterTypeBuilder/RegisterTypeBuilderClang.cpp
  lldb/source/Target/RegisterFlags.cpp
  lldb/test/API/functionalities/gdb_remote_client/TestXMLRegisterFlags.py
  lldb/unittests/Core/DumpRegisterInfoTest.cpp
Labels: lldb

#88901 [CLANG][LLVM][AArch64]Add SME2.1 intrinsics for MOVAZ array to vector
  clang/include/clang/Basic/arm_sme.td
  clang/test/CodeGen/aarch64-sme2p1-intrinsics/acle_sme2p1_movaz.c
  llvm/include/llvm/IR/IntrinsicsAArch64.td
  llvm/lib/Target/AArch64/AArch64ISelDAGToDAG.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64SMEInstrInfo.td
  llvm/lib/Target/AArch64/SMEInstrFormats.td
  llvm/test/CodeGen/AArch64/sme2p1-intrinsics-movaz.ll
Labels: clang, backend:AArch64, clang:frontend, llvm:ir

#95923 [InstCombine] Simplify select using KnownBits of condition
  llvm/include/llvm/Analysis/SimplifyQuery.h
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
  llvm/test/Transforms/InstCombine/select-binop-cmp.ll
  llvm/test/Transforms/InstCombine/select-of-bittest.ll
  llvm/test/Transforms/InstCombine/select.ll
  llvm/test/Transforms/LoopVectorize/interleaved-accesses-pred-stores.ll
Labels: llvm:analysis, llvm:transforms

#96909 [AMDGPU][OpenMP] Do not attach -fcuda-is-device flag for AMDGPU OpenMP
  clang/lib/Driver/ToolChains/AMDGPUOpenMP.cpp
  clang/test/Driver/amdgpu-openmp-toolchain.c
Labels: clang, backend:AMDGPU, clang:driver, clang:openmp

#92521 [MLIR][OpenMP] Add `OpenMP_Clause` tablegen definitions
  mlir/include/mlir/Dialect/OpenMP/OpenMPClauses.td
Labels: mlir, mlir:openmp, flang:openmp

#97150 AMDGPU: Add baseline test for copysign combine
  llvm/test/CodeGen/AMDGPU/copysign-simplify-demanded-bits.ll
Labels: backend:AMDGPU, floating-point, llvm:SelectionDAG

#97151 DAG: Call SimplifyDemandedBits on fcopysign sign value
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/test/CodeGen/AMDGPU/copysign-simplify-demanded-bits.ll
  llvm/test/CodeGen/PowerPC/fp128-bitcast-after-operation.ll
  llvm/test/CodeGen/RISCV/double-arith.ll
  llvm/test/CodeGen/RISCV/double-bitmanip-dagcombines.ll
  llvm/test/CodeGen/RISCV/float-bitmanip-dagcombines.ll
Labels: backend:AMDGPU, backend:PowerPC, floating-point, llvm:SelectionDAG

#97180 DAG: Call SimplifyDemandedBits on copysign value operand
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/test/CodeGen/AMDGPU/fcopysign.f16.ll
Labels: backend:AMDGPU, backend:PowerPC, floating-point, llvm:SelectionDAG

#97047 [AArch64] Fix scheduling model issue #96394
  llvm/lib/Target/AArch64/AArch64SchedPredNeoverse.td
  llvm/test/CodeGen/AArch64/misched-move-imm.mir
Labels: backend:AArch64

#97052 [MLIR] Fix documentation generation for DLTI dialect.
  mlir/include/mlir/Dialect/DLTI/CMakeLists.txt
  mlir/include/mlir/Dialect/DLTI/DLTIAttrs.td
Labels: mlir, mlir:dlti

#97096 [libc] Implement the 'remove' function on the GPU
  libc/config/gpu/entrypoints.txt
  libc/docs/gpu/support.rst
  libc/include/llvm-libc-types/rpc_opcodes_t.h
  libc/src/stdio/gpu/CMakeLists.txt
  libc/src/stdio/gpu/remove.cpp
  libc/utils/gpu/server/rpc_server.cpp
Labels: libc

#97107 [libc] Partially implement 'errno' on the GPU
  libc/docs/gpu/motivation.rst
  libc/include/errno.h.def
  libc/src/errno/libc_errno.cpp
Labels: libc

#96785 [AsmPrinter] Reduce AsmPrinterHandlers virt. fn calls
  llvm/include/llvm/CodeGen/AsmPrinter.h
  llvm/include/llvm/CodeGen/AsmPrinterHandler.h
  llvm/include/llvm/CodeGen/DebugHandlerBase.h
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/lib/CodeGen/AsmPrinter/CodeViewDebug.h
  llvm/lib/CodeGen/AsmPrinter/DebugHandlerBase.cpp
  llvm/lib/CodeGen/AsmPrinter/EHStreamer.h
  llvm/lib/CodeGen/AsmPrinter/PseudoProbePrinter.cpp
  llvm/lib/CodeGen/AsmPrinter/PseudoProbePrinter.h
  llvm/lib/CodeGen/AsmPrinter/WinCFGuard.h
  llvm/lib/Target/BPF/BPFAsmPrinter.cpp
  llvm/lib/Target/BPF/BTFDebug.h
  llvm/unittests/CodeGen/AsmPrinterDwarfTest.cpp
Labels: llvm:codegen, debuginfo

#94479 [libc][math] Add MPFR unit tests for nearbyint{,f,l,f16}
  libc/test/src/math/CMakeLists.txt
  libc/test/src/math/NearbyIntTest.h
  libc/test/src/math/nearbyint_test.cpp
  libc/test/src/math/nearbyintf16_test.cpp
  libc/test/src/math/nearbyintf_test.cpp
  libc/test/src/math/nearbyintl_test.cpp
Labels: libc

#88367 [Clang][Comments] Attach comments to decl even if preproc directives are in between
  clang/docs/ReleaseNotes.rst
  clang/lib/AST/ASTContext.cpp
  clang/lib/Headers/amxcomplexintrin.h
  clang/lib/Headers/ia32intrin.h
  clang/test/Index/annotate-comments.cpp
  clang/unittests/AST/DeclTest.cpp
Labels: clang, backend:X86, clang:frontend, clang:headers

#97221 [Serialization] Clear moved-from deque to ensure valid state post-move
  clang/lib/Serialization/ASTReaderDecl.cpp
Labels: clang, clang:modules

#96831 [clang][NFC] Use range-based for loops
  clang/lib/AST/DeclCXX.cpp
Labels: clang, clang:frontend

#97288 [mlir] Fix Bazel build after d1fcfce83471c28bdf77d5e1e5c58c9cc6f7a051.
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: bazel

#95839 [tsan][aarch64] Fix branch protection in interceptors
  compiler-rt/lib/tsan/rtl/tsan_rtl_aarch64.S
Labels: compiler-rt, compiler-rt:tsan, compiler-rt:sanitizer

#93913 [clang][AST] fix ast-print of extern <lang> with >=2 declarators, fixed
  clang/lib/AST/Decl.cpp
  clang/lib/AST/DeclPrinter.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/test/AST/ast-print-language-linkage.cpp
  lldb/source/Plugins/ExpressionParser/Clang/ClangExpressionParser.cpp
  lldb/source/Plugins/ExpressionParser/Clang/NameSearchContext.cpp
Labels: clang, lldb, clang:frontend

#97279 GlobalISel: Drop vector range metadata on bitcast lowering
  llvm/include/llvm/CodeGen/MachineMemOperand.h
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/load-legalize-range-metadata.ll
Labels: backend:AMDGPU, llvm:globalisel

#94865 Improve error message for invalid lambda captures
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaLambda.cpp
  clang/test/SemaCXX/lambda-expressions.cpp
Labels: clang, clang:frontend

#97293 [clang][ThreadSafety] Revert stricter typing on trylock attributes
  clang/docs/ReleaseNotes.rst
  clang/docs/ThreadSafetyAnalysis.rst
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Sema/ParsedAttr.h
  clang/lib/Analysis/ThreadSafety.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/test/Sema/attr-capabilities.c
  clang/test/SemaCXX/warn-thread-safety-analysis.cpp
  clang/test/SemaCXX/warn-thread-safety-parsing.cpp
  clang/unittests/AST/ASTImporterTest.cpp
Labels: clang, clang:frontend, clang:analysis

#97265 Reland "[analyzer][NFC] Reorganize Z3 report refutation"
  clang/include/clang/StaticAnalyzer/Core/BugReporter/BugReporterVisitors.h
  clang/include/clang/StaticAnalyzer/Core/BugReporter/Z3CrosscheckVisitor.h
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/SMTConstraintManager.h
  clang/lib/StaticAnalyzer/Core/BugReporter.cpp
  clang/lib/StaticAnalyzer/Core/BugReporterVisitors.cpp
  clang/lib/StaticAnalyzer/Core/CMakeLists.txt
  clang/lib/StaticAnalyzer/Core/Z3CrosscheckVisitor.cpp
  clang/test/Analysis/z3/crosscheck-statistics.c
  clang/unittests/StaticAnalyzer/CMakeLists.txt
  clang/unittests/StaticAnalyzer/Z3CrosscheckOracleTest.cpp
  llvm/include/llvm/Support/SMTAPI.h
  llvm/lib/Support/Z3Solver.cpp
Labels: clang, clang:static analyzer, llvm:support

#97046 [AsmPrinter] Remove timers
  llvm/include/llvm/CodeGen/AsmPrinter.h
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/lib/Target/BPF/BPFAsmPrinter.cpp
  llvm/unittests/CodeGen/AsmPrinterDwarfTest.cpp
Labels: llvm:codegen, debuginfo

#97065 [OpenMP][offload] Fix dynamic schedule tracking
  clang/lib/CodeGen/CGOpenMPRuntime.cpp
  clang/lib/CodeGen/CGOpenMPRuntime.h
  clang/lib/CodeGen/CGStmtOpenMP.cpp
  clang/test/OpenMP/distribute_parallel_for_codegen.cpp
  clang/test/OpenMP/distribute_parallel_for_simd_codegen.cpp
  clang/test/OpenMP/nvptx_SPMD_codegen.cpp
  clang/test/OpenMP/ordered_codegen.cpp
  clang/test/OpenMP/parallel_for_codegen.cpp
  clang/test/OpenMP/target_parallel_for_codegen.cpp
  clang/test/OpenMP/target_parallel_for_simd_codegen.cpp
  clang/test/OpenMP/target_teams_distribute_parallel_for_schedule_codegen.cpp
  clang/test/OpenMP/target_teams_distribute_parallel_for_simd_schedule_codegen.cpp
  clang/test/OpenMP/teams_distribute_parallel_for_schedule_codegen.cpp
  clang/test/OpenMP/teams_distribute_parallel_for_simd_schedule_codegen.cpp
  llvm/include/llvm/Frontend/OpenMP/OMPIRBuilder.h
  llvm/include/llvm/Frontend/OpenMP/OMPKinds.def
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
  offload/DeviceRTL/CMakeLists.txt
  offload/DeviceRTL/include/Interface.h
  offload/DeviceRTL/include/Workshare.h
  offload/DeviceRTL/src/Kernel.cpp
  offload/DeviceRTL/src/Workshare.cpp
  offload/test/offloading/dynamic-schedule-non-spmd.cpp
  offload/test/offloading/dynamic-schedule.cpp
  offload/test/offloading/schedule.c
  openmp/runtime/src/kmp.h
  openmp/runtime/src/kmp_dispatch.cpp
Labels: clang, clang:codegen, flang:openmp, clang:openmp, openmp:libomp, offload

#97291 [AMDGPU][NFC] Make GFX*Gen records globally available.
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
  llvm/lib/Target/AMDGPU/SOPInstructions.td
  llvm/lib/Target/AMDGPU/VOPInstructions.td
Labels: backend:AMDGPU

#97184 [InstCombine] disable select folding resulting in extra instructions
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
  llvm/test/Transforms/InstCombine/select-icmp-and.ll
Labels: llvm:transforms

#85058 [lldb][FreeBSD][AArch64] Enable register field detection
  lldb/source/Plugins/Process/FreeBSD/NativeRegisterContextFreeBSD.h
  lldb/source/Plugins/Process/FreeBSD/NativeRegisterContextFreeBSD_arm.cpp
  lldb/source/Plugins/Process/FreeBSD/NativeRegisterContextFreeBSD_arm64.cpp
  lldb/source/Plugins/Process/FreeBSD/NativeRegisterContextFreeBSD_arm64.h
  lldb/source/Plugins/Process/FreeBSD/NativeRegisterContextFreeBSD_mips64.cpp
  lldb/source/Plugins/Process/FreeBSD/NativeRegisterContextFreeBSD_powerpc.cpp
  lldb/source/Plugins/Process/FreeBSD/NativeRegisterContextFreeBSD_x86_64.cpp
  lldb/source/Plugins/Process/FreeBSD/NativeThreadFreeBSD.cpp
  lldb/source/Plugins/Process/FreeBSD/NativeThreadFreeBSD.h
  lldb/source/Plugins/Process/Linux/NativeRegisterContextLinux_arm64.cpp
  lldb/source/Plugins/Process/Utility/CMakeLists.txt
  lldb/source/Plugins/Process/Utility/RegisterFlagsDetector_arm64.cpp
  lldb/source/Plugins/Process/Utility/RegisterFlagsDetector_arm64.h
  lldb/source/Plugins/Process/elf-core/RegisterContextPOSIXCore_arm64.cpp
  lldb/source/Plugins/Process/elf-core/RegisterContextPOSIXCore_arm64.h
  lldb/test/API/commands/register/register/register_command/TestRegisters.py
  lldb/test/Shell/Register/Core/aarch64-freebsd-register-fields.test
  llvm/docs/ReleaseNotes.rst
  llvm/utils/gn/secondary/lldb/source/Plugins/Process/Utility/BUILD.gn
Labels: lldb

#97275 [lldb][TypeSystemClang] Allow transparent lookup through anonymous namespaces
  lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.cpp
  lldb/test/API/lang/cpp/namespace/TestNamespace.py
  lldb/test/API/lang/cpp/namespace/main.cpp
Labels: lldb

#97298 Reland "[analyzer] Harden safeguards for Z3 query times"
  clang/include/clang/StaticAnalyzer/Core/AnalyzerOptions.def
  clang/include/clang/StaticAnalyzer/Core/BugReporter/Z3CrosscheckVisitor.h
  clang/lib/StaticAnalyzer/Core/BugReporter.cpp
  clang/lib/StaticAnalyzer/Core/Z3CrosscheckVisitor.cpp
  clang/test/Analysis/analyzer-config.c
  clang/unittests/StaticAnalyzer/Z3CrosscheckOracleTest.cpp
Labels: clang, clang:static analyzer

#97199 [analyzer] Fix crash in Stream checker when using void pointers
  clang/lib/StaticAnalyzer/Checkers/StreamChecker.cpp
  clang/test/Analysis/stream.c
Labels: clang, clang:static analyzer

#96475 [Clang] Extend lifetime bound analysis to support assignments
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/CheckExprLifetime.cpp
  clang/lib/Sema/CheckExprLifetime.h
  clang/lib/Sema/SemaExpr.cpp
  clang/test/Parser/compound_literal.c
  clang/test/SemaCXX/attr-lifetimebound.cpp
  clang/test/SemaCXX/warn-dangling-local.cpp
Labels: clang, clang:frontend

#97254 [MLIR][Python] add value attr for PyAffineMapAttribute
  mlir/lib/Bindings/Python/IRAttributes.cpp
  mlir/test/python/ir/attributes.py
Labels: mlir

#95814 [SandboxIR] Boilerplate code
  llvm/include/llvm/SandboxIR/SandboxIR.h
  llvm/include/llvm/SandboxIR/SandboxIRValues.def
  llvm/lib/CMakeLists.txt
  llvm/lib/SandboxIR/CMakeLists.txt
  llvm/lib/SandboxIR/SandboxIR.cpp
  llvm/unittests/CMakeLists.txt
  llvm/unittests/SandboxIR/CMakeLists.txt
  llvm/unittests/SandboxIR/SandboxIRTest.cpp
Labels: bazel, llvm:transforms

#97286 [mlir][docs] Fix mistakes in data flow analysis code example
  mlir/docs/Tutorials/DataFlowAnalysis.md
Labels: mlir

#97209 [mlir][bufferization] Fix bug in bufferization of elementwise ops
  mlir/lib/Dialect/Bufferization/Transforms/OneShotAnalysis.cpp
  mlir/test/Dialect/Linalg/one-shot-bufferize-analysis.mlir
Labels: mlir:linalg, mlir, mlir:bufferization

#96371 [OpenMP] [OMPT] Callback registration should not depend on the device init callback.
  offload/test/ompt/veccopy_no_device_init.c
  openmp/runtime/src/ompt-general.cpp
Labels: openmp:libomp, offload

#96968 [flang][OpenMP] Fix nested privatization of allocatable
  flang/lib/Lower/Bridge.cpp
  flang/test/Lower/OpenMP/task2.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#91280 [MC,llvm-readobj,yaml2obj] Support CREL relocation format
  llvm/include/llvm/BinaryFormat/DynamicTags.def
  llvm/include/llvm/BinaryFormat/ELF.h
  llvm/include/llvm/MC/MCTargetOptions.h
  llvm/include/llvm/MC/MCTargetOptionsCommandFlags.h
  llvm/include/llvm/Object/ELF.h
  llvm/include/llvm/Object/ELFTypes.h
  llvm/lib/MC/ELFObjectWriter.cpp
  llvm/lib/MC/MCTargetOptionsCommandFlags.cpp
  llvm/lib/Object/ELF.cpp
  llvm/lib/ObjectYAML/ELFEmitter.cpp
  llvm/lib/ObjectYAML/ELFYAML.cpp
  llvm/test/MC/ELF/crel-32.s
  llvm/test/MC/ELF/crel.s
  llvm/test/tools/llvm-readobj/ELF/crel.test
  llvm/test/tools/llvm-readobj/ELF/dynamic-reloc.test
  llvm/test/tools/llvm-readobj/ELF/dynamic-tags.test
  llvm/test/tools/llvm-readobj/ELF/relocation-errors.test
  llvm/test/tools/llvm-readobj/ELF/section-types.test
  llvm/test/tools/yaml2obj/ELF/dynamic-relocations.yaml
  llvm/test/tools/yaml2obj/ELF/reloc-sec-entry-size.yaml
  llvm/test/tools/yaml2obj/ELF/relocation-crel.yaml
  llvm/test/tools/yaml2obj/ELF/relocation-missing-symbol.yaml
  llvm/test/tools/yaml2obj/ELF/relocation-type.yaml
  llvm/tools/llvm-readobj/ELFDumper.cpp
Labels: clang, lld, clang:driver, clang:frontend, clang:codegen, mc, lld:ELF, objectyaml, llvm:binary-utilities

#96589 [CMake] enable CMP0144 policy if available
  cmake/Modules/CMakePolicy.cmake
Labels: cmake

#97001 [HLSL][clang][Driver] Fix error when using the option -fcgl in --driver-mode=dxc.
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/dxc_fcgl.hlsl
Labels: clang, clang:driver, HLSL

#97152 AMDGPU: Use real copysign in fast pow
  llvm/lib/Target/AMDGPU/AMDGPULibCalls.cpp
  llvm/test/CodeGen/AMDGPU/amdgpu-simplify-libcall-pow.ll
  llvm/test/CodeGen/AMDGPU/amdgpu-simplify-libcall-pown.ll
  llvm/test/CodeGen/AMDGPU/simplify-libcalls.ll
Labels: backend:AMDGPU

#95957 [HIP][Clang][Sema] Fix crash when calling builtins with pointer arguments
  clang/lib/Sema/SemaExpr.cpp
  clang/test/SemaCUDA/amdgpu-builtins-pointer-args.cu
Labels: clang, backend:AMDGPU, clang:frontend

#97094 [DebugInfo] Skip both pointer and reference type parameters
  llvm/lib/DebugInfo/DWARF/DWARFTypePrinter.cpp
  llvm/test/tools/llvm-dwarfdump/AArch64/template_ref_ptr.ll
Labels: debuginfo

#96617 [clang-tidy]: Use correct term for user-provided constructor
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/pro-type-member-init.rst
  clang-tools-extra/test/clang-tidy/checkers/cppcoreguidelines/pro-type-member-init.cpp
Labels: clang-tools-extra, clang-tidy

#97306 Inline: Fix handling of byval using non-alloca addrspace
  llvm/lib/Transforms/Utils/InlineFunction.cpp
  llvm/test/Transforms/Inline/byval-with-non-alloca-addrspace.ll
Labels: ipo, llvm:transforms

#96658 [SelectionDAG] Use `EVT::getIntegerVT` in `getBitcastedAnyExtOrTrunc`
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/AMDGPU/no-corresponding-integer-type.ll
Labels: backend:AMDGPU, llvm:SelectionDAG

#93827 [clang-tidy] Option to ignore anonymous namespaces in avoid-non-const-global-variables
  clang-tools-extra/clang-tidy/cppcoreguidelines/AvoidNonConstGlobalVariablesCheck.cpp
  clang-tools-extra/clang-tidy/cppcoreguidelines/AvoidNonConstGlobalVariablesCheck.h
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/avoid-non-const-global-variables.rst
  clang-tools-extra/test/clang-tidy/checkers/cppcoreguidelines/avoid-non-const-global-variables.cpp
Labels: clang-tools-extra, clang-tidy

#97076 [clang] Default to -fno-sized-deallocation for AIX
  clang/lib/Driver/ToolChains/AIX.cpp
  clang/unittests/StaticAnalyzer/CallEventTest.cpp
Labels: clang, backend:PowerPC, clang:driver

#97126 [lldb] Make semantics of SupportFile equivalence explicit
  lldb/include/lldb/Utility/SupportFile.h
  lldb/source/Breakpoint/BreakpointResolver.cpp
  lldb/source/Commands/CommandObjectSource.cpp
  lldb/source/Symbol/LineEntry.cpp
  lldb/source/Symbol/LineTable.cpp
  lldb/source/Target/ThreadPlanStepOverRange.cpp
  lldb/source/Target/ThreadPlanStepRange.cpp
  lldb/unittests/Utility/CMakeLists.txt
  lldb/unittests/Utility/SupportFileTest.cpp
Labels: lldb

#97317 [RISCV] Use EXTLOAD instead of ZEXTLOAD when lowering riscv_masked_strided_load with zero stride.
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-strided-load-store-asm.ll
Labels: backend:RISC-V

#96576 [MLInliner] Simplify NodeCount bookkeeping
  llvm/lib/Analysis/MLInlineAdvisor.cpp
Labels: mlgo, llvm:analysis

#97341 [Github] Make issue write workflow only run after success/failure
  .github/workflows/issue-write.yml
Labels: github:workflow

#97090 [clang][OpenMP] Implement `isOpenMPCapturingDirective`
  clang/include/clang/Basic/OpenMPKinds.h
  clang/lib/Basic/OpenMPKinds.cpp
  clang/lib/Sema/SemaOpenMP.cpp
Labels: clang, clang:frontend, clang:openmp

#97232 [clang] Disable C++14 sized deallocation by default for MinGW targets
  clang/lib/Driver/ToolChains/MinGW.cpp
  clang/unittests/StaticAnalyzer/CallEventTest.cpp
Labels: clang, clang:driver

#97269 [benchmark] Fix OpenBSD build
  third-party/benchmark/src/sysinfo.cc
Labels: third-party:benchmark

#97238 [flang] Use std::make_unique (NFC)
  flang/lib/Optimizer/Builder/TemporaryStorage.cpp
Labels: flang, flang:fir-hlfir

#97236 [IndirectCallPromotion] Use ArrayRef<PromotionCandidate> (NFC)
  llvm/lib/Transforms/Instrumentation/IndirectCallPromotion.cpp
Labels: PGO, llvm:transforms

#97234 [Analysis] Migrate to a new version of getValueProfDataFromInst
  llvm/include/llvm/Analysis/IndirectCallPromotionAnalysis.h
  llvm/lib/Analysis/IndirectCallPromotionAnalysis.cpp
Labels: llvm:analysis

#97345 [MLIR][NVVM] Remove irrelevant guards
  mlir/include/mlir/InitAllPasses.h
  mlir/lib/Dialect/GPU/Pipelines/GPUToNVVMPipeline.cpp
Labels: mlir:gpu, mlir

#97079 [libc] implemented add_function to yaml hdrgen
  libc/newhdrgen/yaml_to_classes.py
Labels: libc

#97327 [clang] Remove a pointer union from the lifetime bound analysis
  clang/lib/Sema/CheckExprLifetime.cpp
Labels: clang, clang:frontend

#97113 [NVPTX] Support inline asm with 128-bit operand in NVPTX backend
  clang/lib/Basic/Targets/NVPTX.h
  llvm/docs/LangRef.rst
  llvm/lib/Target/NVPTX/MCTargetDesc/NVPTXInstPrinter.cpp
  llvm/lib/Target/NVPTX/NVPTXAsmPrinter.cpp
  llvm/lib/Target/NVPTX/NVPTXISelDAGToDAG.cpp
  llvm/lib/Target/NVPTX/NVPTXISelDAGToDAG.h
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/lib/Target/NVPTX/NVPTXISelLowering.h
  llvm/lib/Target/NVPTX/NVPTXInstrInfo.cpp
  llvm/lib/Target/NVPTX/NVPTXInstrInfo.td
  llvm/lib/Target/NVPTX/NVPTXRegisterInfo.cpp
  llvm/lib/Target/NVPTX/NVPTXRegisterInfo.td
  llvm/test/CodeGen/NVPTX/inline-asm-b128-test1.ll
  llvm/test/CodeGen/NVPTX/inline-asm-b128-test2.ll
  llvm/test/CodeGen/NVPTX/inline-asm-b128-test3.ll
Labels: clang, clang:frontend, backend:NVPTX, llvm:ir

#97321 [Attributor]: Ensure cycle info is not null when handling PHI in AAPointerInfo
  llvm/lib/Transforms/IPO/AttributorAttributes.cpp
  llvm/test/Transforms/Attributor/phi_bug_pointer_info.ll
Labels: llvm:transforms

#97322 fix: complete comment
  clang/include/clang/AST/TemplateName.h
Labels: clang, clang:frontend

#97318 [llvm][CodeGen] Avoid 'raw_string_ostream::str' (NFC)
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/lib/CodeGen/AsmPrinter/AsmPrinterInlineAsm.cpp
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/lib/CodeGen/MIRPrinter.cpp
  llvm/lib/CodeGen/MachineOutliner.cpp
  llvm/lib/CodeGen/MachineScheduler.cpp
  llvm/lib/CodeGen/ScheduleDAGInstrs.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGISel.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGPrinter.cpp
  llvm/lib/CodeGen/TargetInstrInfo.cpp
Labels: llvm:globalisel, llvm:SelectionDAG

#97261 [RISCV] Move Machine Copy Propagation Pass before Branch relaxation pass
  llvm/lib/Target/RISCV/RISCVTargetMachine.cpp
  llvm/test/CodeGen/RISCV/O3-pipeline.ll
Labels: backend:RISC-V

#95753 [compiler-rt] Remove redundant checks.
  compiler-rt/lib/asan/asan_suppressions.cpp
  compiler-rt/lib/sanitizer_common/sancov_flags.cpp
Labels: compiler-rt, compiler-rt:asan, compiler-rt:sanitizer

#97357 [IndirectCallPromotion] Migrate to a new version of getValueProfDataFromInst
  llvm/lib/Transforms/Instrumentation/IndirectCallPromotion.cpp
Labels: PGO, llvm:transforms

#96584 [WebAssembly] Update generic and bleeding-edge CPUs
  llvm/lib/Target/WebAssembly/WebAssembly.td
  llvm/test/CodeGen/WebAssembly/call-indirect.ll
  llvm/test/CodeGen/WebAssembly/function-pointer64.ll
  llvm/test/CodeGen/WebAssembly/reg-stackify.ll
  llvm/test/CodeGen/WebAssembly/swiftcc.ll
  llvm/test/CodeGen/WebAssembly/target-features-cpus.ll
  llvm/test/MC/WebAssembly/function-alias.ll
  llvm/test/MC/WebAssembly/no-dead-strip.ll
Labels: backend:WebAssembly, mc

#97263 [lldb/Commands] Alias `script` command to `scripting run`
  lldb/source/Commands/CMakeLists.txt
  lldb/source/Commands/CommandObjectScript.cpp
  lldb/source/Commands/CommandObjectScript.h
  lldb/source/Commands/CommandObjectScripting.cpp
  lldb/source/Commands/CommandObjectScripting.h
  lldb/source/Commands/Options.td
  lldb/source/Interpreter/CommandInterpreter.cpp
  lldb/test/API/functionalities/abbreviation/TestAbbreviations.py
Labels: lldb

#97376 [libc] Add mpfr tests for fmul.
  libc/test/src/math/CMakeLists.txt
  libc/test/src/math/FMulTest.h
  libc/test/src/math/fmul_test.cpp
  libc/utils/MPFRWrapper/MPFRUtils.cpp
  libc/utils/MPFRWrapper/MPFRUtils.h
Labels: libc

#96983 [lldb] [ObjectFileMachO] BSS segments are loadable segments
  lldb/source/Plugins/ObjectFile/Mach-O/ObjectFileMachO.cpp
Labels: lldb

#83381 [SROA] Propagate no-signed-zeros(nsz) fast-math flag on the phi node using function attribute
  llvm/lib/Transforms/Utils/PromoteMemoryToRegister.cpp
  llvm/test/Transforms/PhaseOrdering/generate-fabs.ll
  llvm/test/Transforms/SROA/propagate-fast-math-flags-on-phi.ll
Labels: llvm:instcombine, llvm:transforms

#97383 [NFC][RISCV] Simplify the dynamic linker construction logic
  clang/lib/Driver/ToolChains/Linux.cpp
Labels: clang, clang:driver

#96736 [Driver] Support using toolchain libc and libc++ for baremetal
  clang/include/clang/Driver/ToolChain.h
  clang/lib/Driver/ToolChain.cpp
  clang/lib/Driver/ToolChains/BareMetal.cpp
  clang/test/Driver/Inputs/basic_baremetal_tree/bin/.keep
  clang/test/Driver/Inputs/basic_baremetal_tree/include/armv6m-unknown-none-eabi/.keep
  clang/test/Driver/Inputs/basic_baremetal_tree/include/armv6m-unknown-none-eabi/c++/v1/.keep
  clang/test/Driver/Inputs/basic_baremetal_tree/include/c++/v1/.keep
  clang/test/Driver/Inputs/basic_baremetal_tree/lib/armv6m-unknown-none-eabi/.keep
  clang/test/Driver/baremetal.cpp
Labels: clang, clang:driver

#77522 [clang-format] Add SpacesInParensOption for filtering repeated parens
  clang/docs/ClangFormatStyleOptions.rst
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Format/Format.h
  clang/lib/Format/Format.cpp
  clang/lib/Format/TokenAnnotator.cpp
  clang/unittests/Format/ConfigParseTest.cpp
  clang/unittests/Format/FormatTest.cpp
Labels: clang, clang-format

#97300 [lldb] Don't unregister a listener that's being destroyed
  lldb/source/Utility/Listener.cpp
Labels: lldb

#96825 [llvm] remove unusable llvm.spec.in
  llvm/CMakeLists.txt
  llvm/llvm.spec.in
Labels: cmake, packaging

#95550 [clang-tidy] Clarify diagnostics of bugprone-sizeof-expression
  clang-tools-extra/clang-tidy/bugprone/SizeofExpressionCheck.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/test/clang-tidy/checkers/bugprone/sizeof-expression-2.c
  clang-tools-extra/test/clang-tidy/checkers/bugprone/sizeof-expression-any-pointer.cpp
  clang-tools-extra/test/clang-tidy/checkers/bugprone/sizeof-expression-warn-on-sizeof-pointer-to-aggregate.cpp
  clang-tools-extra/test/clang-tidy/checkers/bugprone/sizeof-expression.cpp
Labels: enhancement, clang-tools-extra, clang-tidy

#96958 [NFC][AlwaysInliner] Reduce AlwaysInliner memory consumption.
  llvm/lib/Transforms/IPO/AlwaysInliner.cpp
  llvm/test/Transforms/Inline/always-inline-phase-ordering.ll
Labels: llvm:transforms

#97349 [MLIR][NVVM] Reduce the scope of the LLVM_HAS_NVPTX_TARGET guard
  mlir/lib/Dialect/GPU/Transforms/ModuleToBinary.cpp
  mlir/lib/Target/LLVM/NVVM/Target.cpp
Labels: mlir:llvm, mlir:gpu, mlir

#95793 [AArch64][SVE] optimisation for unary SVE store intrinsics with no active lanes
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/test/Transforms/InstCombine/AArch64/sve-intrinsic-comb-no-active-lanes-stores.ll
Labels: backend:AArch64, llvm:transforms

#95705 Presburger/test: increase coverage of parser
  mlir/unittests/Analysis/Presburger/ParserTest.cpp
Labels: mlir, mlir:presburger

#97324 [lldb][test] Disable TestUseSourceCache on Windows
  lldb/test/API/commands/settings/use_source_cache/TestUseSourceCache.py
Labels: lldb

#97235 [CorrelatedValuePropagation] Fold calls to UCMP/SCMP when we know that ranges of operands do not overlap
  llvm/lib/Transforms/Scalar/CorrelatedValuePropagation.cpp
  llvm/test/Transforms/CorrelatedValuePropagation/uscmp.ll
Labels: llvm:transforms

#97399 AMDGPU: Consolidiate f16 med3 patterns
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/SIInstructions.td
Labels: backend:AMDGPU

#86402 [clang-repl] Support wasm execution
  clang/lib/Interpreter/CMakeLists.txt
  clang/lib/Interpreter/IncrementalExecutor.cpp
  clang/lib/Interpreter/IncrementalExecutor.h
  clang/lib/Interpreter/Interpreter.cpp
  clang/lib/Interpreter/Wasm.cpp
  clang/lib/Interpreter/Wasm.h
Labels: clang, clang:frontend

#95903 [Transforms][NFC] Tiny fixes in SplitModule
  llvm/lib/Transforms/Utils/SplitModule.cpp
Labels: llvm:transforms

#97301 [FileCheck][Docs] Fix regex for FileCheck variable names
  llvm/docs/CommandGuide/FileCheck.rst
Labels: testing-tools

#96084 [Clang] Clarify diagnostic notes for implicitly generated deduction guides
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaOverload.cpp
  clang/test/CXX/drs/cwg26xx.cpp
  clang/test/CXX/expr/expr.post/expr.type.conv/p1.cpp
  clang/test/CXX/over/over.match/over.match.funcs/over.match.class.deduct/p2.cpp
  clang/test/CXX/temp/temp.fct.spec/temp.deduct/temp.deduct.call/p3-0x.cpp
  clang/test/Modules/template_name_lookup.cpp
  clang/test/PCH/cxx-explicit-specifier.cpp
  clang/test/Sema/tls_alignment.cpp
  clang/test/SemaCXX/cxx1z-class-template-argument-deduction.cpp
  clang/test/SemaCXX/cxx20-ctad-type-alias.cpp
  clang/test/SemaCXX/cxx2a-explicit-bool.cpp
  clang/test/SemaCXX/gh65522.cpp
  clang/test/SemaCXX/invalid-deduction-guide-as-template-candidates.cpp
  clang/test/SemaCXX/lookup-template-name-extern-CXX.cpp
  clang/test/SemaTemplate/aggregate-deduction-candidate.cpp
  clang/test/SemaTemplate/class-template-id.cpp
  clang/test/SemaTemplate/ctad.cpp
  clang/test/SemaTemplate/deduction-crash.cpp
  clang/test/SemaTemplate/deduction-guide.cpp
  clang/test/SemaTemplate/nested-implicit-deduction-guides.cpp
  clang/test/SemaTemplate/temp_arg.cpp
Labels: clang, clang:frontend, clang:modules

#97167 [mlir] Make MLIR Python sources idempotent
  mlir/cmake/modules/AddMLIRPython.cmake
Labels: mlir

#95937 Fix potential crash in SLPVectorizer caused by missing check
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/AArch64/uselistorder.ll
Labels: vectorization, llvm:transforms

#97395 [RISCV] Return nullptr for PHI defs in VSETVLIInfo::getAVLDefMI
  llvm/lib/Target/RISCV/RISCVInsertVSETVLI.cpp
  llvm/test/CodeGen/RISCV/rvv/vsetvli-insert-crossbb.ll
Labels: backend:RISC-V

#97110 [clang][OpenMP] Rewrite `getOpenMPCaptureRegions` in terms of leafs
  clang/lib/Basic/OpenMPKinds.cpp
Labels: clang, clang:frontend, clang:openmp

#97354 InstCombine: Try to fold ldexp with select of power operand
  llvm/include/llvm/IR/IRBuilder.h
  llvm/lib/Transforms/InstCombine/InstCombineCalls.cpp
  llvm/test/Transforms/InstCombine/ldexp.ll
Labels: llvm:instcombine, floating-point, llvm:ir, llvm:transforms

#96787 [libc][math][c23] Add f16{add,sub}f C23 math functions
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/docs/math/index.rst
  libc/spec/llvm_libc_ext.td
  libc/src/__support/FPUtil/generic/CMakeLists.txt
  libc/src/__support/FPUtil/generic/add_sub.h
  libc/src/math/CMakeLists.txt
  libc/src/math/f16addf.h
  libc/src/math/f16subf.h
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/f16addf.cpp
  libc/src/math/generic/f16subf.cpp
  libc/test/src/math/AddTest.h
  libc/test/src/math/CMakeLists.txt
  libc/test/src/math/SubTest.h
  libc/test/src/math/f16addf_test.cpp
  libc/test/src/math/f16subf_test.cpp
  libc/test/src/math/smoke/AddTest.h
  libc/test/src/math/smoke/CMakeLists.txt
  libc/test/src/math/smoke/SubTest.h
  libc/test/src/math/smoke/f16addf_test.cpp
  libc/test/src/math/smoke/f16subf_test.cpp
  libc/utils/MPFRWrapper/MPFRUtils.cpp
  libc/utils/MPFRWrapper/MPFRUtils.h
Labels: libc

#97404 Reland "[flang] add extra component information in fir.type_info"
  flang/include/flang/Optimizer/Builder/FIRBuilder.h
  flang/include/flang/Optimizer/Dialect/FIROps.td
  flang/include/flang/Optimizer/Support/InternalNames.h
  flang/include/flang/Optimizer/Support/Utils.h
  flang/lib/Lower/Bridge.cpp
  flang/lib/Optimizer/Builder/FIRBuilder.cpp
  flang/lib/Optimizer/Dialect/FIROps.cpp
  flang/lib/Optimizer/Support/CMakeLists.txt
  flang/lib/Optimizer/Support/InternalNames.cpp
  flang/lib/Optimizer/Support/Utils.cpp
  flang/test/Fir/fir-ops.fir
  flang/test/Lower/HLFIR/type-info-components.f90
Labels: flang, flang:fir-hlfir

#92963 [Clang][NFC] use const references for function parameters in operator== and operator!= overloads in Redeclarable.h
  clang/include/clang/AST/Redeclarable.h
Labels: clang, clang:frontend

#95881 [AArch64] Improve non-SVE popcount for 32bit and 64 bit using udot
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/popcount.ll
Labels: backend:AArch64

#97416 [clang][docs] Move entries around
  clang/docs/ReleaseNotes.rst
Labels: documentation, clang

#97284 [DebugInfo][SimplifyIndVar] Fix missing debug locations for div/rem instructions
  llvm/lib/Transforms/Utils/SimplifyIndVar.cpp
  llvm/test/Transforms/IndVarSimplify/preserving-debugloc-rem-div.ll
Labels: llvm:transforms

#97419 [OpenMP] Add missing export for dynamic tracking patch.
  openmp/runtime/src/dllexports
Labels: openmp:libomp

#97411 [AMDGPU] Use nan as the identity for atomicrmw fmax/fmin
  llvm/lib/Target/AMDGPU/AMDGPUAtomicOptimizer.cpp
  llvm/test/CodeGen/AMDGPU/global_atomic_optimizer_fp_rtn.ll
  llvm/test/CodeGen/AMDGPU/global_atomics_optimizer_fp_no_rtn.ll
  llvm/test/CodeGen/AMDGPU/global_atomics_scan_fmax.ll
  llvm/test/CodeGen/AMDGPU/global_atomics_scan_fmin.ll
Labels: backend:AMDGPU, floating-point

#97355 Add a regression test for recent regression in pair.
  libcxx/test/libcxx/utilities/utility/pairs/pairs.pair/pair.incomplete.compile.pass.cpp
Labels: libc++

#97392 [libclc] Fix cross in-tree builds
  libclc/CMakeLists.txt
  libclc/cmake/modules/AddLibclc.cmake
Labels: libclc

#96807 [flang] Improve warnings for invalid arguments when folding host runtime
  flang/lib/Evaluate/intrinsics-library.cpp
  flang/test/Evaluate/folding04.f90
Labels: flang, flang:semantics

#96871 Fix block merging
  mlir/lib/Dialect/Bufferization/Transforms/BufferDeallocationSimplification.cpp
  mlir/lib/Transforms/Utils/RegionUtils.cpp
  mlir/test/Dialect/Bufferization/Transforms/OwnershipBasedBufferDeallocation/dealloc-branchop-interface.mlir
  mlir/test/Dialect/Linalg/detensorize_entry_block.mlir
  mlir/test/Dialect/Linalg/detensorize_if.mlir
  mlir/test/Dialect/Linalg/detensorize_while.mlir
  mlir/test/Dialect/Linalg/detensorize_while_impure_cf.mlir
  mlir/test/Dialect/Linalg/detensorize_while_pure_cf.mlir
  mlir/test/Transforms/canonicalize-block-merge.mlir
  mlir/test/Transforms/canonicalize-dce.mlir
  mlir/test/Transforms/make-isolated-from-above.mlir
  mlir/test/Transforms/test-canonicalize-merge-large-blocks.mlir
Labels: mlir:core, mlir:linalg, mlir, mlir:bufferization

#97358 [BOLT] Drop macro-fusion alignment
  bolt/include/bolt/Core/BinaryBasicBlock.h
  bolt/include/bolt/Core/BinaryContext.h
  bolt/include/bolt/Core/BinaryFunction.h
  bolt/include/bolt/Core/MCPlusBuilder.h
  bolt/lib/Core/BinaryBasicBlock.cpp
  bolt/lib/Core/BinaryEmitter.cpp
  bolt/lib/Core/BinaryFunction.cpp
  bolt/lib/Passes/BinaryPasses.cpp
  bolt/lib/Rewrite/RewriteInstance.cpp
  bolt/lib/Target/AArch64/AArch64MCPlusBuilder.cpp
  bolt/lib/Target/X86/X86MCPlusBuilder.cpp
Labels: BOLT

#97386 [LangRef] Replace 'the argument' with 'the first argument' in llvm.abs description. NFC
  llvm/docs/LangRef.rst
Labels: llvm:ir

#97387 [LangRef] Document the fourth operand for vp.cttz/ctlz. NFC
  llvm/docs/LangRef.rst
Labels: llvm:ir

#96652 [Flang][runtime] Distinguish CPU time and elapsed time for cpu_time and system_clock
  flang/runtime/time-intrinsic.cpp
  flang/test/Runtime/no-cpp-dep.c
Labels: flang:runtime, flang

#97372 [RISCV] Remove IgnoreUnknown from RISCVISAInfo::parseArchString.
  llvm/include/llvm/TargetParser/RISCVISAInfo.h
  llvm/lib/TargetParser/RISCVISAInfo.cpp
  llvm/unittests/TargetParser/RISCVISAInfoTest.cpp
Labels: backend:RISC-V

#91023 Reduce llvm-gsymutil memory usage
  llvm/include/llvm/DebugInfo/DWARF/DWARFUnit.h
  llvm/lib/DebugInfo/DWARF/DWARFUnit.cpp
  llvm/lib/DebugInfo/GSYM/DwarfTransformer.cpp
Labels: debuginfo

#97348 [MLInliner] Keep track of deleted functions
  llvm/include/llvm/Analysis/MLInlineAdvisor.h
  llvm/lib/Analysis/MLInlineAdvisor.cpp
Labels: mlgo, llvm:analysis

#97450 [flang] Fix build problem caused by #96807
  flang/lib/Evaluate/intrinsics-library.cpp
Labels: flang, flang:semantics

#96343 [ELF] Make start/stop symbols retain associated discardable output sections
  lld/ELF/LinkerScript.cpp
  lld/ELF/LinkerScript.h
  lld/ELF/Writer.cpp
  lld/test/ELF/linkerscript/empty-preinit-array-start-stop.test
  lld/test/ELF/linkerscript/empty-section-start-stop.test
  lld/test/ELF/linkerscript/sections-gc2.s
  lld/test/ELF/pre_init_fini_array_missing.s
Labels: lld, lld:ELF

#97144 [ELF] Infer EI_OSABI from object files
  lld/ELF/Driver.cpp
  lld/test/ELF/basic-freebsd.s
Labels: lld, lld:ELF

#97451 [lld][WebAssembly] Fix for --import-table when combined with reference types
  lld/test/wasm/import-table-explicit.s
  lld/test/wasm/import-table.s
  lld/wasm/SymbolTable.cpp
Labels: lld, lld:wasm

#97444 [lld][WebAssembly] Fix filename when reporting references to undefined symbols
  lld/test/wasm/unresolved-symbols.s
  lld/wasm/Relocations.cpp
Labels: lld, lld:wasm

#97356 [DeviceRTL] Make defined 'libc' functions weak in OpenMP
  offload/DeviceRTL/src/Debug.cpp
  offload/DeviceRTL/src/LibC.cpp
Labels: offload

#97316 [SCEV] Split collecting and applying rewrite info from loop guards (NFC)
  llvm/include/llvm/Analysis/ScalarEvolution.h
  llvm/lib/Analysis/ScalarEvolution.cpp
Labels: llvm:analysis

#97460 Revert "Fix block merging"
  mlir/lib/Dialect/Bufferization/Transforms/BufferDeallocationSimplification.cpp
  mlir/lib/Transforms/Utils/RegionUtils.cpp
  mlir/test/Dialect/Bufferization/Transforms/OwnershipBasedBufferDeallocation/dealloc-branchop-interface.mlir
  mlir/test/Dialect/Linalg/detensorize_entry_block.mlir
  mlir/test/Dialect/Linalg/detensorize_if.mlir
  mlir/test/Dialect/Linalg/detensorize_while.mlir
  mlir/test/Dialect/Linalg/detensorize_while_impure_cf.mlir
  mlir/test/Dialect/Linalg/detensorize_while_pure_cf.mlir
  mlir/test/Transforms/canonicalize-block-merge.mlir
  mlir/test/Transforms/canonicalize-dce.mlir
  mlir/test/Transforms/make-isolated-from-above.mlir
  mlir/test/Transforms/test-canonicalize-merge-large-blocks.mlir
Labels: skip-precommit-approval

#97437 [LangRef] Rename 'operand' to 'argument' in descriptions of VP intrinsics. NFC
  llvm/docs/LangRef.rst
Labels: llvm:ir

#97440 [LangRef] Rename 'operand' to 'argument' in descriptions for masked load/store/gather/scatter. NFC
  llvm/docs/LangRef.rst
Labels: llvm:ir

#97461 [libc] Use -nostdlibinc in the full build mode
  libc/cmake/modules/CheckCompilerFeatures.cmake
  libc/cmake/modules/LLVMLibCCompileOptionRules.cmake
Labels: libc

#97465 [libc] Only use COMPILER_RESOURCE_DIR if available
  libc/cmake/modules/LLVMLibCCompileOptionRules.cmake
Labels: libc

#97262 [lldb/docs] Add scripting extensions documentation to the website
  lldb/docs/CMakeLists.txt
  lldb/docs/index.rst
  lldb/examples/python/templates/operating_system.py
  lldb/examples/python/templates/scripted_platform.py
  lldb/examples/python/templates/scripted_process.py
Labels: lldb

#97469 [lld] Add `--lto-emit-asm` and alias `--plugin-opt=emit-llvm` to it
  lld/ELF/Driver.cpp
  lld/ELF/Options.td
  lld/test/ELF/lto/emit-llvm.ll
Labels: lld, lld:ELF

#96409 [AArch64][GlobalISel] Improve non-SVE popcount for 32bit and 64 bit using udot
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.cpp
  llvm/test/CodeGen/AArch64/popcount.ll
Labels: backend:AArch64, llvm:globalisel

#91238 [lld-macho] Category merger: handle addends when getting symbol at offset
  lld/MachO/ObjC.cpp
  lld/test/MachO/objc-category-merging-swift.s
Labels: lld, lld:MachO

#97474 Move MCSection::LayoutOrder to MCSectionMachO
  llvm/include/llvm/MC/MCSection.h
  llvm/include/llvm/MC/MCSectionMachO.h
  llvm/lib/MC/MachObjectWriter.cpp
Labels: mc

#96376 [AArch64][MachineOutliner][NFC] Re-enable some tests
  llvm/test/CodeGen/AArch64/machine-outliner-retaddr-sign-cfi.ll
  llvm/test/CodeGen/AArch64/machine-outliner-retaddr-sign-diff-scope-same-key.ll
  llvm/test/CodeGen/AArch64/machine-outliner-retaddr-sign-non-leaf.ll
  llvm/test/CodeGen/AArch64/machine-outliner-retaddr-sign-regsave.mir
  llvm/test/CodeGen/AArch64/machine-outliner-retaddr-sign-same-scope-diff-key.ll
  llvm/test/CodeGen/AArch64/machine-outliner-retaddr-sign-same-scope-same-key-a.ll
  llvm/test/CodeGen/AArch64/machine-outliner-retaddr-sign-same-scope-same-key-b.ll
  llvm/test/CodeGen/AArch64/machine-outliner-retaddr-sign-subtarget.ll
  llvm/test/CodeGen/AArch64/machine-outliner-retaddr-sign-thunk.ll
  llvm/test/CodeGen/AArch64/machine-outliner-retaddr-sign-v8-3.ll
Labels: backend:AArch64

#97267 AMDGPU: Fix assert from wrong address space size assumption
  llvm/lib/Target/AMDGPU/AMDGPUCodeGenPrepare.cpp
  llvm/test/CodeGen/AMDGPU/codegen-prepare-addrspacecast-non-null.ll
Labels: backend:AMDGPU

#97479 [MC] Don't treat altentry symbols as atoms
  llvm/lib/MC/MCMachOStreamer.cpp
  llvm/test/MC/MachO/cfi-advance-loc-err.s
Labels: mc

#97481 [lldb] Add scripted thread plan python base class to lldb & website
  lldb/bindings/python/CMakeLists.txt
  lldb/docs/CMakeLists.txt
  lldb/docs/python_extensions.rst
  lldb/examples/python/templates/scripted_thread_plan.py
Labels: lldb

#97352 [HLSL] Run availability diagnostic on exported functions
  clang/lib/Sema/SemaHLSL.cpp
  clang/test/SemaHLSL/Availability/avail-diag-default-lib.hlsl
  clang/test/SemaHLSL/Availability/avail-diag-relaxed-lib.hlsl
  clang/test/SemaHLSL/Availability/avail-diag-strict-lib.hlsl
Labels: clang, clang:frontend, HLSL

#97462 [LangRef] Rename 'operand' to 'argument' in description of contrained intrinsics. NFC
  llvm/docs/LangRef.rst
Labels: llvm:ir

#94570 [CodeGen] Do not emit TRAP for `unreachable` after `@llvm.trap`
  llvm/include/llvm/IR/Instructions.h
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/test/CodeGen/X86/trap.ll
  llvm/test/CodeGen/X86/unreachable-trap.ll
  llvm/test/CodeGen/X86/unreachable-ubsantrap.ll
  llvm/test/LTO/X86/unified-cfi.ll
Labels: backend:X86, llvm:codegen, llvm:globalisel, LTO, llvm:SelectionDAG, llvm:ir

#96629 [X86][GlobalISel] Support StructRet arguments
  llvm/lib/Target/X86/GISel/X86CallLowering.cpp
  llvm/test/CodeGen/X86/GlobalISel/irtranslator-callingconv.ll
  llvm/test/CodeGen/X86/isel-buildvector-sse.ll
  llvm/test/CodeGen/X86/isel-buildvector-sse2.ll
Labels: backend:X86, llvm:globalisel

#97480 [lld] Change `--lto-emit-llvm` to use the pre-codegen module
  lld/ELF/LTO.cpp
  lld/test/ELF/lto/emit-llvm.ll
Labels: lld, lld:ELF
