Repository llvm/llvm-project, pull requests merged in 2024-08, with the labels that each got.

#101366 [LegalizeTypes][RISCV][LoongArch] Optimize promotion of ucmp.
  llvm/lib/CodeGen/SelectionDAG/LegalizeIntegerTypes.cpp
  llvm/test/CodeGen/LoongArch/ucmp.ll
  llvm/test/CodeGen/RISCV/ucmp.ll
Labels: backend:RISC-V, backend:loongarch, llvm:SelectionDAG

#101393 [DirectX] Rename backend DXIL resource analysis passes to DXILResourceMD*. NFC
  llvm/lib/Target/DirectX/DXILPrepare.cpp
  llvm/lib/Target/DirectX/DXILPrettyPrinter.cpp
  llvm/lib/Target/DirectX/DXILResourceAnalysis.cpp
  llvm/lib/Target/DirectX/DXILResourceAnalysis.h
  llvm/lib/Target/DirectX/DXILTranslateMetadata.cpp
  llvm/lib/Target/DirectX/DirectX.h
  llvm/lib/Target/DirectX/DirectXPassRegistry.def
  llvm/lib/Target/DirectX/DirectXTargetMachine.cpp
  llvm/test/CodeGen/DirectX/UAVMetadata.ll
  llvm/test/CodeGen/DirectX/cbuf.ll
Labels: backend:DirectX

#101431 [RISCV][GISel] Slightly simplify the regbank selection for G_LOAD/STORE. NFC
  llvm/lib/Target/RISCV/GISel/RISCVRegisterBankInfo.cpp
Labels: backend:RISC-V

#101378 [mlir][spirv] Fix tablegen generator script's stripping of prefixes
  mlir/utils/spirv/gen_spirv_dialect.py
Labels: mlir

#101315 [mlir][Transforms] Preserve all analysis in print passes
  mlir/lib/Transforms/OpStats.cpp
  mlir/lib/Transforms/PrintIR.cpp
  mlir/lib/Transforms/ViewOpGraph.cpp
Labels: mlir:core, mlir

#101285 [libc][math][c23] add entrypoints and tests for getpayload{,f,f128}
  libc/config/gpu/entrypoints.txt
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/arm/entrypoints.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/docs/math/index.rst
  libc/spec/stdc.td
  libc/src/math/CMakeLists.txt
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/getpayload.cpp
  libc/src/math/generic/getpayloadf.cpp
  libc/src/math/generic/getpayloadf128.cpp
  libc/src/math/getpayload.h
  libc/src/math/getpayloadf.h
  libc/src/math/getpayloadf128.h
  libc/test/src/math/smoke/CMakeLists.txt
  libc/test/src/math/smoke/getpayload_test.cpp
  libc/test/src/math/smoke/getpayloadf128_test.cpp
  libc/test/src/math/smoke/getpayloadf_test.cpp
Labels: libc

#101147 [nsan][NFC] Use cast when dyn_cast is not needed.
  llvm/lib/Transforms/Instrumentation/NumericalStabilitySanitizer.cpp
Labels: compiler-rt:sanitizer, llvm:transforms

#98873 [RISCV] Increase default tail duplication threshold to 6 at -O3
  llvm/lib/Target/RISCV/RISCVInstrInfo.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfo.h
  llvm/lib/Target/RISCV/RISCVProcessors.td
  llvm/lib/Target/RISCV/RISCVSubtarget.h
  llvm/test/CodeGen/RISCV/riscv-tail-dup-size.ll
Labels: backend:RISC-V

#101267 [BOLT][NFC] Add timers for MetadataManager invocations
  bolt/lib/Rewrite/RewriteInstance.cpp
  bolt/test/timers.c
Labels: BOLT

#101270 [BOLT][NFC] Print timers in perf2bolt invocation
  bolt/lib/Rewrite/RewriteInstance.cpp
  bolt/test/timers.c
Labels: BOLT

#101325 AMDGPU/GlobalISel: Permit mapping G_FRAME_INDEX to sgprs
  llvm/lib/Target/AMDGPU/AMDGPURegisterBankInfo.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/crash-stack-address-O0.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/flat-scratch-init.gfx.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/flat-scratch.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/insertelement-stack-lower.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/regbankselect-frame-index.mir
  llvm/test/CodeGen/AMDGPU/codegen-prepare-addrspacecast-non-null.ll
  llvm/test/CodeGen/AMDGPU/flat-scratch-svs.ll
Labels: backend:AMDGPU, llvm:globalisel

#101014 [AArch64] Add tests for redundant csel instructions. NFC
  llvm/test/CodeGen/AArch64/peephole-csel.ll
  llvm/test/CodeGen/AArch64/peephole-csel.mir
Labels: backend:AArch64

#100563 [GlobalISel][TableGen] MIR Pattern Variadics
  llvm/docs/GlobalISel/MIRPatterns.rst
  llvm/include/llvm/CodeGen/GlobalISel/GIMatchTableExecutor.h
  llvm/include/llvm/CodeGen/GlobalISel/GIMatchTableExecutorImpl.h
  llvm/include/llvm/Target/GlobalISel/Combine.td
  llvm/test/TableGen/GlobalISelCombinerEmitter/match-table-variadics.td
  llvm/test/TableGen/GlobalISelCombinerEmitter/operand-types.td
  llvm/test/TableGen/GlobalISelCombinerEmitter/typeof-errors.td
  llvm/test/TableGen/GlobalISelCombinerEmitter/variadic-errors.td
  llvm/utils/TableGen/Common/GlobalISel/CodeExpander.h
  llvm/utils/TableGen/Common/GlobalISel/GlobalISelMatchTable.cpp
  llvm/utils/TableGen/Common/GlobalISel/GlobalISelMatchTable.h
  llvm/utils/TableGen/Common/GlobalISel/Patterns.cpp
  llvm/utils/TableGen/Common/GlobalISel/Patterns.h
  llvm/utils/TableGen/GlobalISelCombinerEmitter.cpp
  llvm/utils/TableGen/GlobalISelEmitter.cpp
Labels: llvm:globalisel

#101278 [C++20] [Modules] Always emit the inline builtins
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/test/Modules/inline-builtins.cppm
Labels: clang, clang:modules, clang:codegen, skip-precommit-approval

#101454 AMDGPU: Cleanup extract_subvector actions (NFC)
  llvm/lib/Target/AMDGPU/AMDGPUISelLowering.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
Labels: backend:AMDGPU

#101320 Revert "[compiler-rt][RISCV] Implement __init_riscv_feature_bits (#85…
  compiler-rt/lib/builtins/CMakeLists.txt
  compiler-rt/lib/builtins/riscv/feature_bits.c
Labels: compiler-rt, compiler-rt:builtins

#101345 [libc++] Revert "Use GCC type traits builtins for remove_cv and remove_cvref (#81386)"
  libcxx/include/__type_traits/remove_cv.h
  libcxx/include/__type_traits/remove_cvref.h
Labels: libc++

#101455 [RISCV] Add back missing vmv_v_x_vl pattern predicates
  llvm/lib/Target/RISCV/RISCVInstrInfoVVLPatterns.td
Labels: backend:RISC-V

#101403 [lldb][FreeBSD] Fix NativeRegisterContextFreeBSD_{arm,mips64,powerpc}…
  lldb/source/Plugins/Process/FreeBSD/NativeRegisterContextFreeBSD_arm.h
  lldb/source/Plugins/Process/FreeBSD/NativeRegisterContextFreeBSD_mips64.h
  lldb/source/Plugins/Process/FreeBSD/NativeRegisterContextFreeBSD_powerpc.h
Labels: lldb, platform:freebsd

#94160 [libc++][NFC] Avoid opening namespace std in the tests
  libcxx/test/libcxx/utilities/any/allocator.pass.cpp
  libcxx/test/libcxx/utilities/format/enable_insertable.compile.pass.cpp
  libcxx/test/std/concepts/concepts.lang/concept.common/common_with.compile.pass.cpp
  libcxx/test/std/concepts/concepts.lang/concept.commonref/common_reference.compile.pass.cpp
  libcxx/test/std/containers/Emplaceable.h
  libcxx/test/std/containers/NotConstructible.h
  libcxx/test/std/containers/container.node/node_handle.pass.cpp
  libcxx/test/std/containers/unord/unord.map/compare.pass.cpp
  libcxx/test/std/containers/unord/unord.map/unord.map.modifiers/insert_or_assign.pass.cpp
  libcxx/test/std/containers/unord/unord.map/unord.map.modifiers/try.emplace.pass.cpp
  libcxx/test/std/diagnostics/syserr/is_error_code_enum.pass.cpp
  libcxx/test/std/diagnostics/syserr/is_error_condition_enum.pass.cpp
  libcxx/test/std/diagnostics/syserr/syserr.errcode/syserr.errcode.constructors/ErrorCodeEnum.pass.cpp
  libcxx/test/std/diagnostics/syserr/syserr.errcode/syserr.errcode.constructors/lwg3629.pass.cpp
  libcxx/test/std/diagnostics/syserr/syserr.errcode/syserr.errcode.modifiers/ErrorCodeEnum.pass.cpp
  libcxx/test/std/diagnostics/syserr/syserr.errcode/syserr.errcode.modifiers/lwg3629.pass.cpp
  libcxx/test/std/diagnostics/syserr/syserr.errcondition/syserr.errcondition.constructors/lwg3629.pass.cpp
  libcxx/test/std/diagnostics/syserr/syserr.errcondition/syserr.errcondition.modifiers/lwg3629.pass.cpp
  libcxx/test/std/experimental/utilities/propagate_const/propagate_const.nonmembers/hash.pass.cpp
  libcxx/test/std/iterators/iterator.requirements/iterator.concepts/iterator.concept.readable/indirectly_readable.compile.pass.cpp
  libcxx/test/std/localization/locale.categories/category.numeric/locale.num.get/user_defined_char_type.pass.cpp
  libcxx/test/std/ranges/range.utility/range.subrange/ctor.range_size.pass.cpp
  libcxx/test/std/strings/basic.string/string.modifiers/string_append/push_back.pass.cpp
  libcxx/test/std/time/rep.h
  libcxx/test/std/utilities/memory/allocator.traits/allocator.traits.types/difference_type.pass.cpp
  libcxx/test/std/utilities/memory/allocator.traits/allocator.traits.types/size_type.pass.cpp
  libcxx/test/std/utilities/meta/meta.trans/meta.trans.other/common_reference.compile.pass.cpp
  libcxx/test/std/utilities/meta/meta.trans/meta.trans.other/common_type.pass.cpp
  libcxx/test/std/utilities/optional/optional.hash/hash.pass.cpp
  libcxx/test/std/utilities/tuple/tuple.tuple/tuple.helper/tuple_size_incomplete.pass.cpp
  libcxx/test/std/utilities/utility/pairs/pairs.pair/ctor.pair_like.pass.cpp
  libcxx/test/std/utilities/variant/variant.hash/hash.pass.cpp
  libcxx/test/std/utilities/variant/variant.visit.member/visit.pass.cpp
  libcxx/test/std/utilities/variant/variant.visit/visit.pass.cpp
  libcxx/test/support/Counter.h
Labels: libc++

#101459 [SimplifyLibCalls] Constant fold nan libcall
  llvm/lib/Transforms/Utils/SimplifyLibCalls.cpp
  llvm/test/Transforms/InstCombine/nan.ll
  llvm/test/Transforms/InstCombine/nanl-fp128.ll
  llvm/test/Transforms/InstCombine/nanl-fp80.ll
  llvm/test/Transforms/InstCombine/nanl-ppc-fp128.ll
Labels: llvm:transforms

#100739 [C++20][Modules] Allow using stdarg.h with header units
  clang/lib/Serialization/ASTReader.cpp
  clang/test/Headers/stdarg-cxx-modules.cpp
Labels: clang, clang:modules

#101157 [AMDGPU] SIWholeQuadMode: avoid execz effects in exact regions
  llvm/lib/Target/AMDGPU/SIWholeQuadMode.cpp
  llvm/test/CodeGen/AMDGPU/wqm.ll
Labels: backend:AMDGPU

#100531 [flang][OpenMP] Delayed privatization for variables with `equivalence` association
  flang/lib/Lower/OpenMP/DataSharingProcessor.cpp
  flang/test/Lower/OpenMP/DelayedPrivatization/equivalence.f90
  mlir/test/Target/LLVMIR/openmp-private.mlir
Labels: mlir:llvm, mlir, flang, mlir:openmp, flang:fir-hlfir, flang:openmp

#101382 [clang][NFC] Add CWG882 test (Defining `main` as deleted)
  clang/test/CXX/drs/cwg8xx.cpp
  clang/www/cxx_dr_status.html
Labels: clang

#96033 [mlir][vector] Add tests xfer-permute-lowering (nfc)(2/n)
  mlir/test/Dialect/Vector/vector-transfer-permutation-lowering.mlir
Labels: mlir:linalg, mlir:vectorops, mlir, mlir:vector

#100940 [LowerMatrixIntrinsics] Fix type suffix for matrix.multiply.*
  llvm/test/Transforms/LowerMatrixIntrinsics/multiply-double-row-major.ll
  llvm/test/Transforms/LowerMatrixIntrinsics/multiply-double.ll
  llvm/test/Transforms/LowerMatrixIntrinsics/multiply-i32-row-major.ll
  llvm/test/Transforms/LowerMatrixIntrinsics/multiply-i32.ll
Labels: llvm:transforms

#96501 [clang][analyzer] Improve PointerSubChecker
  clang/docs/analyzer/checkers.rst
  clang/lib/StaticAnalyzer/Checkers/PointerSubChecker.cpp
  clang/test/Analysis/pointer-sub.c
Labels: clang, clang:static analyzer

#101196 [NFC][libc++][libc++abi][libunwind][test] Fix/unify AIX triples used in LIT tests
  libcxx/test/libcxx/vendor/ibm/bad_function_call.pass.cpp
  libcxxabi/test/vendor/ibm/aix_xlclang_nested_excp_32.pass.sh.s
  libcxxabi/test/vendor/ibm/aix_xlclang_nested_excp_64.pass.sh.s
  libcxxabi/test/vendor/ibm/aix_xlclang_passing_excp_obj_32.pass.sh.S
  libcxxabi/test/vendor/ibm/aix_xlclang_passing_excp_obj_64.pass.sh.S
  libcxxabi/test/vendor/ibm/cond_reg_restore.pass.cpp
  libcxxabi/test/vendor/ibm/vec_reg_restore.pass.cpp
  libunwind/test/aix_signal_unwind.pass.sh.S
Labels: libc++, libc++abi, libunwind

#101442 [libc] Change the GPU loaders to LLVM executables
  libc/utils/gpu/loader/CMakeLists.txt
  libc/utils/gpu/loader/amdgpu/CMakeLists.txt
  libc/utils/gpu/loader/amdgpu/amdhsa-loader.cpp
  libc/utils/gpu/loader/nvptx/CMakeLists.txt
  libc/utils/gpu/loader/nvptx/nvptx-loader.cpp
Labels: backend:AMDGPU, libc

#67044 [libc++] Fix missing declarations of uses_allocator_construction_args
  libcxx/include/__memory/uses_allocator_construction.h
  libcxx/test/std/utilities/memory/allocator.uses/allocator.uses.construction/uses_allocator_construction_args.pass.cpp
Labels: libc++

#84840 [libc++] Avoid using **this in error messages for expected monadic operations
  libcxx/include/__expected/expected.h
  libcxx/test/libcxx/utilities/expected/expected.expected/and_then.mandates.verify.cpp
Labels: libc++

#97200 [NFC] [Clang] Some core issues have changed status from tentatively ready -> ready / review
  clang/test/CXX/drs/cwg25xx.cpp
  clang/test/CXX/drs/cwg28xx.cpp
  clang/www/cxx_dr_status.html
  clang/www/make_cxx_dr_status
Labels: clang

#101351 [LLVM][ISel][SVE] Remove redundant merging fp patterns.
  llvm/lib/Target/AArch64/AArch64ISelDAGToDAG.cpp
  llvm/lib/Target/AArch64/AArch64SVEInstrInfo.td
  llvm/lib/Target/AArch64/SVEInstrFormats.td
Labels: backend:AArch64

#100152 [Flang][Driver] Introduce -fopenmp-targets offloading option
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Driver/ToolChains/CommonArgs.cpp
  clang/lib/Driver/ToolChains/CommonArgs.h
  clang/lib/Driver/ToolChains/Flang.cpp
  flang/test/Driver/omp-driver-offload.f90
Labels: clang, backend:AMDGPU, clang:driver, flang:driver, flang

#101297 [clang] Fix crash with multiple non-parenthsized `sizeof`
  clang/docs/ReleaseNotes.rst
  clang/lib/Parse/ParseExpr.cpp
Labels: clang, clang:frontend

#92103 [Clang] Fix definition of layout-compatible to ignore empty classes
  clang/include/clang/AST/DeclCXX.h
  clang/lib/AST/DeclCXX.cpp
  clang/lib/Sema/SemaChecking.cpp
  clang/test/SemaCXX/type-traits.cpp
  llvm/include/llvm/ADT/STLExtras.h
Labels: clang, clang:frontend, llvm:adt

#99654 [libc++] Increase `atomic_ref`'s required alignment for small types
  libcxx/include/__atomic/atomic_ref.h
  libcxx/test/std/atomics/atomics.ref/is_always_lock_free.pass.cpp
Labels: libc++

#100388 [InstCombine] Convert mem intrinsic with null into a noop
  llvm/lib/Transforms/InstCombine/InstCombineCalls.cpp
  llvm/test/Transforms/InstCombine/mem-intrinsics.ll
  llvm/test/Transforms/InstCombine/mempcpy.ll
Labels: llvm:transforms

#100879 [libc++][stringbuf] Test and document LWG2995.
  libcxx/docs/ImplementationDefinedBehavior.rst
  libcxx/docs/Status/Cxx20Issues.csv
  libcxx/include/sstream
  libcxx/test/libcxx/input.output/string.streams/stringbuf/const_sso_buffer.pass.cpp
  libcxx/test/std/input.output/string.streams/stringbuf/stringbuf.cons/default.pass.cpp
Labels: libc++

#101479 AMDGPU: Improve cost handling of canonicalize
  llvm/lib/Target/AMDGPU/AMDGPUTargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/AMDGPU/canonicalize.ll
  llvm/test/Transforms/SLPVectorizer/AMDGPU/packed-math.ll
  llvm/test/Transforms/SLPVectorizer/AMDGPU/slp-v2f16.ll
Labels: backend:AMDGPU, llvm:analysis, llvm:transforms

#101391 [Mem2Reg] Replace block maps with block numbers
  llvm/lib/Transforms/Utils/PromoteMemoryToRegister.cpp
Labels: llvm:transforms

#97727 [CodeGen] Merge lowerConstantIntrinsics into pre-isel lowering
  llvm/include/llvm/LinkAllPasses.h
  llvm/include/llvm/Transforms/Scalar.h
  llvm/include/llvm/Transforms/Scalar/LowerConstantIntrinsics.h
  llvm/lib/CodeGen/PreISelIntrinsicLowering.cpp
  llvm/lib/CodeGen/TargetPassConfig.cpp
  llvm/lib/Transforms/Scalar/LowerConstantIntrinsics.cpp
  llvm/lib/Transforms/Scalar/Scalar.cpp
  llvm/test/CodeGen/AArch64/O0-pipeline.ll
  llvm/test/CodeGen/AArch64/O3-pipeline.ll
  llvm/test/CodeGen/AMDGPU/llc-pipeline.ll
  llvm/test/CodeGen/ARM/O3-pipeline.ll
  llvm/test/CodeGen/LoongArch/O0-pipeline.ll
  llvm/test/CodeGen/LoongArch/opt-pipeline.ll
  llvm/test/CodeGen/PowerPC/O0-pipeline.ll
  llvm/test/CodeGen/PowerPC/O3-pipeline.ll
  llvm/test/CodeGen/RISCV/O0-pipeline.ll
  llvm/test/CodeGen/RISCV/O3-pipeline.ll
  llvm/test/CodeGen/X86/O0-pipeline.ll
  llvm/test/CodeGen/X86/opt-pipeline.ll
Labels: backend:ARM, backend:AArch64, backend:AMDGPU, backend:PowerPC, backend:X86, backend:loongarch, llvm:transforms

#100594 [ConstantRange] Add support for `shlWithNoWrap`
  llvm/include/llvm/IR/ConstantRange.h
  llvm/lib/IR/ConstantRange.cpp
  llvm/test/Transforms/CorrelatedValuePropagation/shl.ll
  llvm/unittests/IR/ConstantRangeTest.cpp
Labels: llvm:ir, llvm:transforms

#101209 [Hexagon] Do not optimize address of another function's block
  llvm/lib/Target/Hexagon/HexagonConstExtenders.cpp
  llvm/test/CodeGen/Hexagon/cext-opt-block-addr.mir
Labels: backend:Hexagon

#101376 [libc] Remove verbose printing from hdrgen tool
  libc/newhdrgen/yaml_to_classes.py
Labels: libc

#101468 [mlir][vector] Update tests for xfer-permute-lowering (nfc)
  mlir/test/Dialect/Vector/vector-transfer-flatten.mlir
  mlir/test/Dialect/Vector/vector-transfer-permutation-lowering.mlir
Labels: mlir:vectorops, mlir, mlir:vector

#100690 [flang] Add ability to have special allocator for descriptor data
  flang/include/flang/ISO_Fortran_binding.h
  flang/include/flang/Optimizer/CodeGen/TBAABuilder.h
  flang/include/flang/Optimizer/CodeGen/TypeConverter.h
  flang/include/flang/Runtime/descriptor.h
  flang/lib/Optimizer/CodeGen/CodeGen.cpp
  flang/lib/Optimizer/CodeGen/TypeConverter.cpp
  flang/runtime/CMakeLists.txt
  flang/runtime/ISO_Fortran_util.h
  flang/runtime/allocator-registry.cpp
  flang/runtime/allocator-registry.h
  flang/runtime/descriptor.cpp
  flang/test/Fir/box.fir
  flang/test/Fir/convert-to-llvm.fir
  flang/test/Fir/embox-char.fir
  flang/test/Fir/embox.fir
  flang/test/Fir/ignore-missing-type-descriptor.fir
  flang/test/Fir/polymorphic.fir
  flang/test/Fir/rebox-global.fir
  flang/test/Fir/rebox.fir
  flang/test/Fir/tbaa.fir
  flang/test/Fir/type-descriptor.fir
  flang/test/Lower/allocatable-polymorphic.f90
Labels: flang:runtime, flang, flang:fir-hlfir, flang:semantics, flang:codegen

#98824 [libc] Implement vasprintf and asprintf
  libc/config/baremetal/arm/entrypoints.txt
  libc/config/baremetal/riscv/entrypoints.txt
  libc/config/darwin/arm/entrypoints.txt
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/newhdrgen/yaml/stdio.yaml
  libc/spec/stdc.td
  libc/src/stdio/CMakeLists.txt
  libc/src/stdio/asprintf.cpp
  libc/src/stdio/asprintf.h
  libc/src/stdio/printf_core/CMakeLists.txt
  libc/src/stdio/printf_core/core_structs.h
  libc/src/stdio/printf_core/vasprintf_internal.h
  libc/src/stdio/printf_core/writer.h
  libc/src/stdio/vasprintf.cpp
  libc/src/stdio/vasprintf.h
  libc/test/src/stdio/CMakeLists.txt
  libc/test/src/stdio/asprintf_test.cpp
  libc/test/src/stdio/vasprintf_test.cpp
Labels: libc

#101520 [libc] Fix erroneous warning on GCC
  libc/src/stdio/printf_core/writer.h
Labels: libc

#100176 [MachO] Remove redundant bounds check
  llvm/lib/Object/MachOObjectFile.cpp
Labels: llvm:binary-utilities

#98115 [ELF] Support relocatable files using CREL with explicit addends
  lld/ELF/DWARF.cpp
  lld/ELF/ICF.cpp
  lld/ELF/InputFiles.cpp
  lld/ELF/InputFiles.h
  lld/ELF/InputSection.cpp
  lld/ELF/InputSection.h
  lld/ELF/LinkerScript.cpp
  lld/ELF/MarkLive.cpp
  lld/ELF/OutputSections.cpp
  lld/ELF/OutputSections.h
  lld/ELF/Relocations.cpp
  lld/ELF/Relocations.h
  lld/ELF/SyntheticSections.cpp
  lld/ELF/Writer.cpp
  lld/test/ELF/crel-rel-mixed.s
  lld/test/ELF/crel.s
  lld/test/ELF/debug-names.s
  lld/test/ELF/gc-sections.s
  lld/test/ELF/icf1.s
  lld/test/ELF/icf4.s
  lld/test/ELF/linkerscript/nocrossrefs.test
  lld/test/ELF/relocatable-crel-32.s
  lld/test/ELF/relocatable-crel.s
Labels: lld, lld:ELF

#101415 [SystemZ][z/OS] Fix incorrect codegen for ADA_ENTRY pseudo instruction
  llvm/lib/Target/SystemZ/SystemZAsmPrinter.cpp
  llvm/lib/Target/SystemZ/SystemZInstrInfo.td
  llvm/test/CodeGen/SystemZ/Large/large-ada-01.py
  llvm/test/CodeGen/SystemZ/Large/large-ada-02.py
Labels: backend:SystemZ

#101411 [libc] created fuzz test for sin function
  libc/fuzzing/CMakeLists.txt
  libc/fuzzing/math/CMakeLists.txt
  libc/fuzzing/math/sin_fuzz.cpp
Labels: libc

#101529 [libc] Fix math fuzzers
  libc/fuzzing/math/RemQuoDiff.h
  libc/fuzzing/math/nextafter_differential_fuzz.cpp
Labels: libc

#101535 [libc] heap_sort_fuzz deleted unnecessary includes
  libc/fuzzing/stdlib/heap_sort_fuzz.cpp
Labels: libc

#96759 AMDGPU: Handle remote/fine-grained memory in atomicrmw fmin/fmax lowering
  clang/test/CodeGenCUDA/amdgpu-atomic-ops.cu
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/atomicrmw_fmax.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/atomicrmw_fmin.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointer-atomicrmw-fmax.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointer-atomicrmw-fmin.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fmax.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fmin.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fmax.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fmin.ll
  llvm/test/CodeGen/AMDGPU/global_atomics_scan_fmax.ll
  llvm/test/CodeGen/AMDGPU/global_atomics_scan_fmin.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomic-f32-agent.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomic-f32-system.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomic-f64-agent.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomic-f64-system.ll
Labels: clang, backend:AMDGPU, llvm:globalisel, llvm:transforms

#73451 [libc++] Check correctly ref-qualified __is_callable in algorithms
  libcxx/include/__algorithm/equal_range.h
  libcxx/include/__algorithm/includes.h
  libcxx/include/__algorithm/is_permutation.h
  libcxx/include/__algorithm/lower_bound.h
  libcxx/include/__algorithm/max_element.h
  libcxx/include/__algorithm/min_element.h
  libcxx/include/__algorithm/minmax.h
  libcxx/include/__algorithm/minmax_element.h
  libcxx/include/__algorithm/partial_sort_copy.h
  libcxx/include/__algorithm/search.h
  libcxx/include/__algorithm/search_n.h
  libcxx/include/__algorithm/upper_bound.h
  libcxx/src/regex.cpp
  libcxx/test/libcxx/algorithms/callable-requirements-rvalue.compile.pass.cpp
  libcxx/test/libcxx/algorithms/callable-requirements.verify.cpp
  libcxx/test/libcxx/algorithms/callable.verify.cpp
  libcxx/test/libcxx/algorithms/ranges_robust_against_copying_projections.pass.cpp
  libcxx/test/libcxx/algorithms/robust_against_cpp20_hostile_iterators.compile.pass.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.is_permutation/is_permutation_pred.pass.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.search/search_n_pred.pass.cpp
  libcxx/test/std/algorithms/alg.nonmodifying/alg.search/search_pred.pass.cpp
  libcxx/test/std/algorithms/alg.sorting/alg.merge/inplace_merge_comp.pass.cpp
  libcxx/test/std/algorithms/alg.sorting/alg.sort/stable.sort/stable_sort_comp.pass.cpp
Labels: libc++

#100442 [AMDGPU][True16][MC] Support v_swap_b16.
  llvm/lib/Target/AMDGPU/SIInstrFormats.td
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/test/MC/AMDGPU/gfx10_unsupported.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_err.s
  llvm/test/MC/Disassembler/AMDGPU/decode-err.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1.txt
Labels: backend:AMDGPU, mc

#101084 [lld][InstrProf] Add "Separate" irpgo-profile-sort option
  lld/MachO/BPSectionOrderer.cpp
  lld/MachO/Options.td
  lld/test/MachO/bp-section-orderer-errs.s
Labels: lld, lld:MachO

#101524 workflows: Fix libclc-tests
  .github/workflows/llvm-project-tests.yml
Labels: github:workflow

#100943 [clang-format] Rename variable more sensitively
  clang/lib/Format/UnwrappedLineParser.cpp
Labels: clang-format

#101447 [clang] fix classification of a string literal expression used as initializer
  clang/docs/ReleaseNotes.rst
  clang/lib/AST/ExprClassification.cpp
  clang/test/SemaCXX/GH82167.cpp
Labels: clang, clang:frontend

#101434 [Clang] Improve generation of GEP and RecordDecl loop
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CodeGenFunction.h
  clang/test/CodeGen/attr-counted-by.c
Labels: clang, clang:codegen

#101212 [flang] Add allocator_idx attribute on fir.embox and fircg.ext_embox
  flang/include/flang/Optimizer/CodeGen/CGOps.td
  flang/include/flang/Optimizer/Dialect/FIROps.td
  flang/include/flang/Runtime/allocator-registry.h
  flang/lib/Optimizer/CodeGen/CodeGen.cpp
  flang/lib/Optimizer/CodeGen/PreCGRewrite.cpp
  flang/runtime/allocator-registry.cpp
  flang/runtime/descriptor.cpp
  flang/test/Fir/embox.fir
Labels: flang:runtime, flang, flang:fir-hlfir, flang:codegen

#101536 [flang][runtime] Added missing RT_API_ATTRS.
  flang/runtime/stack.h
Labels: flang:runtime, flang

#101416 [SCEV] Prove no-self-wrap from negative power of two step
  llvm/include/llvm/Analysis/ScalarEvolution.h
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/test/Analysis/ScalarEvolution/trip-count-scalable-stride.ll
Labels: llvm:analysis

#100456 [libc][math][c23] Add dadd{l,f128} and ddiv{l,f128} C23 math functions
  libc/config/darwin/arm/entrypoints.txt
  libc/config/darwin/x86_64/entrypoints.txt
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/arm/entrypoints.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/config/windows/entrypoints.txt
  libc/docs/math/index.rst
  libc/spec/llvm_libc_ext.td
  libc/spec/stdc.td
  libc/src/math/CMakeLists.txt
  libc/src/math/daddf128.h
  libc/src/math/daddl.h
  libc/src/math/ddivf128.h
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/daddf128.cpp
  libc/src/math/generic/daddl.cpp
  libc/src/math/generic/ddivf128.cpp
  libc/test/src/math/CMakeLists.txt
  libc/test/src/math/daddl_test.cpp
  libc/test/src/math/smoke/CMakeLists.txt
  libc/test/src/math/smoke/daddf128_test.cpp
  libc/test/src/math/smoke/daddl_test.cpp
  libc/test/src/math/smoke/ddivf128_test.cpp
Labels: libc

#100923 [asan] Speed up ASan ODR indicator-based checking
  compiler-rt/lib/asan/asan_globals.cpp
  compiler-rt/test/asan/TestCases/Linux/odr_indicator_unregister.cpp
Labels: compiler-rt, compiler-rt:asan, compiler-rt:sanitizer

#101467 Simplify hot-path size computations in BumpPtrAllocator.
  llvm/include/llvm/Support/Allocator.h
Labels: llvm:support

#100926 [libc++] Improve code gen for string's operator==
  libcxx/include/string
Labels: libc++

#101567 [libc][math][C23] removing daddl from arm32
  libc/config/linux/arm/entrypoints.txt
Labels: libc

#93115 Fix codegen of consteval functions returning an empty class, and related issues
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CGExprAgg.cpp
  clang/lib/CodeGen/CodeGenFunction.h
  clang/test/CodeGen/arm-mve-intrinsics/vld24.c
  clang/test/CodeGen/arm-vfp16-arguments2.cpp
  clang/test/CodeGenCUDA/amdgpu-kernel-arg-pointer-type.cu
  clang/test/CodeGenCUDA/builtins-amdgcn.cu
  clang/test/CodeGenCUDA/builtins-spirv-amdgcn.cu
  clang/test/CodeGenCXX/address-space-cast-coerce.cpp
  clang/test/CodeGenCXX/cxx2a-consteval.cpp
  clang/test/CodeGenCXX/trivial_abi.cpp
  clang/test/CodeGenHIP/dpp-const-fold.hip
  clang/test/CodeGenHIP/spirv-amdgcn-dpp-const-fold.hip
  clang/test/CodeGenOpenCL/addr-space-struct-arg.cl
  clang/test/CodeGenOpenCL/amdgpu-abi-struct-arg-byref.cl
Labels: clang, backend:AMDGPU, clang:codegen

#101133 Add support for verifying local type units in .debug_names.
  llvm/lib/DebugInfo/DWARF/DWARFVerifier.cpp
  llvm/test/tools/llvm-dwarfdump/X86/debug-names-verify-abbrev-forms.s
  llvm/test/tools/llvm-dwarfdump/debug-names-local-tu-bad-die.yaml
  llvm/test/tools/llvm-dwarfdump/debug-names-local-tu-bad-tu-index.yaml
Labels: debuginfo

#101523 [mlir][emitc] Fix EmitC dialect's operations' descriptions
  mlir/include/mlir/Dialect/EmitC/IR/EmitC.td
Labels: mlir, mlir:emitc

#96105 Add a tutorial on mlir-opt
  mlir/docs/Tutorials/MlirOpt.md
  mlir/lib/Pass/PassManagerOptions.cpp
  mlir/test/Examples/mlir-opt/ctlz.mlir
  mlir/test/Examples/mlir-opt/ctlz_pipeline.mlir
  mlir/test/Examples/mlir-opt/loop_fusion.mlir
  mlir/test/Examples/mlir-opt/loop_fusion_default.mlir
  mlir/test/Examples/mlir-opt/loop_fusion_options.mlir
Labels: mlir

#101130 [lldb] Change Module to have a concrete UnwindTable, update
  lldb/include/lldb/Core/Module.h
  lldb/include/lldb/Symbol/UnwindTable.h
  lldb/source/Core/Module.cpp
  lldb/source/Symbol/UnwindTable.cpp
Labels: lldb

#86388 [X86_32][C++] fix 0 sized struct case in vaarg.
  clang/lib/CodeGen/Targets/X86.cpp
  clang/test/CodeGenCXX/regparm.cpp
  clang/test/CodeGenCXX/x86_32-vaarg.cpp
Labels: clang, backend:X86, clang:codegen

#101281 [mlir][bufferization] Improve performance of DropEquivalentBufferResultsPass
  mlir/lib/Dialect/Bufferization/Transforms/DropEquivalentBufferResults.cpp
Labels: mlir, mlir:bufferization

#101334 [VPlan][NFC] Make VPValue pointer const.
  llvm/lib/Transforms/Vectorize/VPlan.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
Labels: vectorization, llvm:transforms

#101546 [mlir][spirv] Add definitions and (de)serialization for FPRoundingMode
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVBase.td
  mlir/lib/Target/SPIRV/Deserialization/Deserializer.cpp
  mlir/lib/Target/SPIRV/Serialization/Serializer.cpp
  mlir/test/Target/SPIRV/decorations.mlir
Labels: mlir:spirv, mlir

#101589 [Attributor] Indicate optimistic fixed point if an instruction already has non-zero address space
  llvm/lib/Transforms/IPO/AttributorAttributes.cpp
  llvm/test/Transforms/Attributor/memory_locations_gpu.ll
Labels: llvm:transforms

#101309 [LoongArch] Align stack objects passed to memory intrinsics
  llvm/lib/Target/LoongArch/LoongArchISelLowering.cpp
  llvm/lib/Target/LoongArch/LoongArchISelLowering.h
  llvm/test/CodeGen/LoongArch/unaligned-memcpy-inline.ll
Labels: clang, clang:frontend, backend:loongarch

#101452 [X86][AVX10.2] Support AVX10.2 option and VMPSADBW/VADDP[D,H,S] new instructions
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/BuiltinsX86.def
  clang/include/clang/Driver/Options.td
  clang/lib/Basic/Targets/X86.cpp
  clang/lib/Basic/Targets/X86.h
  clang/lib/Driver/ToolChains/Arch/X86.cpp
  clang/lib/Headers/CMakeLists.txt
  clang/lib/Headers/avx10_2_512niintrin.h
  clang/lib/Headers/avx10_2niintrin.h
  clang/lib/Headers/immintrin.h
  clang/lib/Sema/SemaX86.cpp
  clang/test/CodeGen/X86/avx10_2_512ni-builtins.c
  clang/test/CodeGen/X86/avx10_2ni-builtins.c
  clang/test/CodeGen/attr-target-x86.c
  clang/test/CodeGen/target-builtin-noerror.c
  clang/test/Driver/x86-target-features.c
  clang/test/Preprocessor/x86_target_features.c
  compiler-rt/lib/builtins/cpu_model/x86.c
  llvm/docs/ReleaseNotes.rst
  llvm/include/llvm/IR/IntrinsicsX86.td
  llvm/include/llvm/Support/X86DisassemblerDecoderCommon.h
  llvm/include/llvm/TargetParser/X86TargetParser.def
  llvm/lib/Target/X86/Disassembler/X86Disassembler.cpp
  llvm/lib/Target/X86/Disassembler/X86DisassemblerDecoder.h
  llvm/lib/Target/X86/MCTargetDesc/X86BaseInfo.h
  llvm/lib/Target/X86/MCTargetDesc/X86MCCodeEmitter.cpp
  llvm/lib/Target/X86/X86.td
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/lib/Target/X86/X86ISelLowering.h
  llvm/lib/Target/X86/X86InstrAVX10.td
  llvm/lib/Target/X86/X86InstrFormats.td
  llvm/lib/Target/X86/X86InstrFragmentsSIMD.td
  llvm/lib/Target/X86/X86InstrInfo.td
  llvm/lib/Target/X86/X86InstrPredicates.td
  llvm/lib/Target/X86/X86InstrSSE.td
  llvm/lib/Target/X86/X86IntrinsicsInfo.h
  llvm/lib/TargetParser/Host.cpp
  llvm/lib/TargetParser/X86TargetParser.cpp
  llvm/test/CodeGen/X86/avx10_2_512ni-intrinsics.ll
  llvm/test/CodeGen/X86/avx10_2ni-intrinsics.ll
  llvm/test/MC/Disassembler/X86/avx10_2ni-32.txt
  llvm/test/MC/Disassembler/X86/avx10_2ni-64.txt
  llvm/test/MC/X86/avx10_2ni-32-intel.s
  llvm/test/MC/X86/avx10_2ni-64-att.s
  llvm/test/TableGen/x86-fold-tables.inc
  llvm/utils/TableGen/X86DisassemblerTables.cpp
  llvm/utils/TableGen/X86ManualInstrMapping.def
  llvm/utils/TableGen/X86RecognizableInstr.cpp
  llvm/utils/TableGen/X86RecognizableInstr.h
Labels: clang, compiler-rt, backend:X86, clang:driver, clang:frontend, clang:headers, compiler-rt:builtins, mc, llvm:support, llvm:ir

#101291 [clang-format] Fix a misannotation of PointerOrReference
  clang/lib/Format/TokenAnnotator.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#101302 [CMake][Fuchsia] Use standard spelling for Arm baremetal targets
  clang/cmake/caches/Fuchsia-stage2.cmake
Labels: clang

#101258 [Driver] Include crt0.o in the baremetal link
  clang/lib/Driver/ToolChains/BareMetal.cpp
  clang/test/Driver/Inputs/baremetal_arm/lib/crt0.o
  clang/test/Driver/Inputs/basic_baremetal_tree/lib/armv6m-unknown-none-eabi/crt0.o
  clang/test/Driver/baremetal.cpp
Labels: clang, clang:driver

#101504 [LVI][NFC] Delete an outdated comment
  llvm/lib/Analysis/LazyValueInfo.cpp
Labels: llvm:analysis

#101574 [NFC][asan] Use Thread Safety Analysis in asan_globals.cpp
  compiler-rt/lib/asan/asan_globals.cpp
Labels: compiler-rt, compiler-rt:asan, compiler-rt:sanitizer

#101577 [NFC][asan] Switch to IntrusiveList in asan_globals
  compiler-rt/lib/asan/asan_globals.cpp
Labels: compiler-rt, compiler-rt:asan, compiler-rt:sanitizer

#98855 [RISCV] Allow libunwind to build for rv32e
  libunwind/src/UnwindRegistersRestore.S
  libunwind/src/UnwindRegistersSave.S
Labels: libunwind, backend:RISC-V

#101230 [MLIR] Add f8E3M4 IEEE 754 type
  mlir/include/mlir-c/BuiltinTypes.h
  mlir/include/mlir/IR/Builders.h
  mlir/include/mlir/IR/BuiltinTypes.h
  mlir/include/mlir/IR/BuiltinTypes.td
  mlir/include/mlir/IR/CommonTypeConstraints.td
  mlir/include/mlir/IR/Types.h
  mlir/lib/AsmParser/TokenKinds.def
  mlir/lib/AsmParser/TypeParser.cpp
  mlir/lib/Bindings/Python/IRTypes.cpp
  mlir/lib/CAPI/IR/BuiltinTypes.cpp
  mlir/lib/Conversion/LLVMCommon/TypeConverter.cpp
  mlir/lib/Dialect/Arith/Transforms/EmulateUnsupportedFloats.cpp
  mlir/lib/IR/AsmPrinter.cpp
  mlir/lib/IR/Builders.cpp
  mlir/lib/IR/BuiltinTypes.cpp
  mlir/lib/IR/MLIRContext.cpp
  mlir/lib/IR/Types.cpp
  mlir/python/mlir/_mlir_libs/_mlir/ir.pyi
  mlir/python/mlir/extras/types.py
  mlir/test/IR/attribute.mlir
  mlir/test/Target/LLVMIR/llvmir.mlir
  mlir/test/python/ir/builtin_types.py
  mlir/utils/lldb-scripts/mlirDataFormatters.py
  mlir/utils/tree-sitter-mlir/grammar.js
Labels: mlir:core, mlir:llvm, mlir:python, mlir, mlir:ods, mlir:arith

#101527 release/19x: [NFC][libc++][libc++abi][libunwind][test] Fix/unify AIX triples used in LIT tests (#101196)
  libcxx/test/libcxx/vendor/ibm/bad_function_call.pass.cpp
  libcxxabi/test/vendor/ibm/aix_xlclang_nested_excp_32.pass.sh.s
  libcxxabi/test/vendor/ibm/aix_xlclang_nested_excp_64.pass.sh.s
  libcxxabi/test/vendor/ibm/aix_xlclang_passing_excp_obj_32.pass.sh.S
  libcxxabi/test/vendor/ibm/aix_xlclang_passing_excp_obj_64.pass.sh.S
  libcxxabi/test/vendor/ibm/cond_reg_restore.pass.cpp
  libcxxabi/test/vendor/ibm/vec_reg_restore.pass.cpp
  libunwind/test/aix_signal_unwind.pass.sh.S
Labels: libc++, libc++abi, libunwind

#90945 [flang][OpenMP] Enable delayed privatization for `omp parallel` by default
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/lib/Lower/OpenMP/Utils.cpp
  flang/test/Integration/OpenMP/copyprivate.f90
  flang/test/Lower/OpenMP/Todo/omp-default-clause-inner-loop.f90
  flang/test/Lower/OpenMP/associate.f90
  flang/test/Lower/OpenMP/copyprivate.f90
  flang/test/Lower/OpenMP/copyprivate2.f90
  flang/test/Lower/OpenMP/critical.f90
  flang/test/Lower/OpenMP/default-clause-byref.f90
  flang/test/Lower/OpenMP/default-clause.f90
  flang/test/Lower/OpenMP/firstprivate-allocatable.f90
  flang/test/Lower/OpenMP/hlfir-seqloop-parallel.f90
  flang/test/Lower/OpenMP/implicit-dsa.f90
  flang/test/Lower/OpenMP/parallel-firstprivate-clause-scalar.f90
  flang/test/Lower/OpenMP/parallel-private-clause-fixes.f90
  flang/test/Lower/OpenMP/parallel-private-clause-str.f90
  flang/test/Lower/OpenMP/parallel-private-clause.f90
  flang/test/Lower/OpenMP/parallel-reduction-mixed.f90
  flang/test/Lower/OpenMP/parallel-wsloop.f90
  flang/test/Lower/OpenMP/unstructured.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#101473 [SCEV] Unify and optimize constant folding (NFC)
  llvm/lib/Analysis/ScalarEvolution.cpp
Labels: llvm:analysis

#100852 [clang-format] Handle parenthesized list in RemoveParentheses
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/tools/clang-format/ClangFormat.cpp
  clang/unittests/Format/FormatTest.cpp
  clang/unittests/Format/MatchFilePathTest.cpp
Labels: clang-format

#100769 [AArch64] Lower alias mask to a whilewr
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/whilewr.ll
Labels: backend:AArch64, llvm:transforms

#100487 [lldb][test][x86_64][win] Split assertion in TestBreakpointConditions
  lldb/test/API/functionalities/breakpoint/breakpoint_conditions/TestBreakpointConditions.py
Labels: lldb

#100610 [WebAssembly] load_zero to initialise build_vector
  llvm/lib/Target/WebAssembly/MCTargetDesc/WebAssemblyMCTargetDesc.h
  llvm/lib/Target/WebAssembly/WebAssemblyISelLowering.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyInstrSIMD.td
  llvm/test/CodeGen/WebAssembly/simd-build-vector.ll
Labels: backend:WebAssembly

#101343 [AArch64] Avoid inlining if ZT0 needs preserving.
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/test/Transforms/Inline/AArch64/sme-pstateza-attrs.ll
Labels: backend:AArch64, llvm:transforms

#99752 [SDag][ARM][RISCV] Allow lowering CTPOP into a libcall
  llvm/include/llvm/IR/RuntimeLibcalls.def
  llvm/lib/CodeGen/SelectionDAG/LegalizeDAG.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeIntegerTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/lib/Target/ARM/ARMISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/Analysis/CostModel/RISCV/int-bit-manip.ll
  llvm/test/CodeGen/ARM/popcnt.ll
  llvm/test/CodeGen/RISCV/ctlz-cttz-ctpop.ll
  llvm/test/CodeGen/RISCV/ctz_zero_return_test.ll
  llvm/test/CodeGen/RISCV/pr56457.ll
  llvm/test/CodeGen/RISCV/pr95271.ll
  llvm/test/CodeGen/RISCV/rv32xtheadbb.ll
  llvm/test/CodeGen/RISCV/rv32zbb.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/rv64xtheadbb.ll
  llvm/test/CodeGen/RISCV/rv64-legal-i32/rv64zbb.ll
  llvm/test/CodeGen/RISCV/rv64xtheadbb.ll
  llvm/test/CodeGen/RISCV/rv64zbb.ll
  llvm/test/CodeGen/RISCV/sextw-removal.ll
  llvm/test/CodeGen/Thumb2/mve-ctpop.ll
Labels: backend:ARM, backend:RISC-V, backend:loongarch, llvm:SelectionDAG, llvm:ir, llvm:analysis

#101314 [MLIR][LLVM] Attach kernel metadata representation to `llvm.func`
  mlir/include/mlir/Dialect/LLVMIR/LLVMAttrDefs.td
  mlir/include/mlir/Dialect/LLVMIR/LLVMOps.td
  mlir/include/mlir/Target/LLVMIR/LLVMImportInterface.h
  mlir/include/mlir/Target/LLVMIR/ModuleImport.h
  mlir/lib/Target/LLVMIR/Dialect/LLVMIR/LLVMIRToLLVMTranslation.cpp
  mlir/lib/Target/LLVMIR/ModuleImport.cpp
  mlir/lib/Target/LLVMIR/ModuleTranslation.cpp
  mlir/test/Dialect/LLVMIR/func.mlir
  mlir/test/Target/LLVMIR/Import/metadata-kernel.ll
  mlir/test/Target/LLVMIR/llvmir.mlir
Labels: mlir:llvm, mlir

#100155 [Flang][OpenMP] Add frontend support for -fopenmp-targets
  flang/include/flang/Frontend/LangOptions.h
  flang/include/flang/Tools/CrossToolHelpers.h
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/test/Lower/OpenMP/offload-targets.f90
  flang/tools/bbc/bbc.cpp
Labels: flang:driver, flang, flang:fir-hlfir, flang:openmp

#101464 [RISCV] Fix vmerge.vvm/vmv.v.v getting folded into ops with mismatching EEW
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/test/CodeGen/RISCV/rvv/combine-vmv.ll
  llvm/test/CodeGen/RISCV/rvv/rvv-peephole-vmerge-vops.ll
Labels: backend:RISC-V

#100723 [AMDGPU] Always lower s/udiv64 by constant to MUL
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/test/CodeGen/AMDGPU/amdgpu-codegenprepare-idiv.ll
  llvm/test/CodeGen/AMDGPU/div-rem-by-constant-64.ll
  llvm/test/CodeGen/AMDGPU/fshr.ll
  llvm/test/CodeGen/AMDGPU/udiv.ll
  llvm/test/CodeGen/AMDGPU/udiv64.ll
  llvm/test/CodeGen/AMDGPU/urem64.ll
Labels: backend:AMDGPU, llvm:SelectionDAG

#101511 [analyzer] Restore recognition of mutex methods
  clang/lib/StaticAnalyzer/Checkers/BlockInCriticalSectionChecker.cpp
  clang/test/Analysis/block-in-critical-section-inheritance.cpp
Labels: clang, clang:static analyzer

#100301 [llvm][CodeGen] Address the issue of multiple resource reservations in window scheduling
  llvm/lib/CodeGen/WindowScheduler.cpp
  llvm/test/CodeGen/Hexagon/swp-ws-resource-reserve.mir
Labels: backend:Hexagon, mi-sched

#101339 [SCEV] Handle more adds in computeConstantDifference()
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/unittests/Analysis/ScalarEvolutionTest.cpp
Labels: llvm:analysis

#101649 [AMDGPU] Fix using wrong register in frame index shift
  llvm/lib/Target/AMDGPU/SIRegisterInfo.cpp
  llvm/test/CodeGen/AMDGPU/eliminate-frame-index-s-mov-b32.mir
  llvm/test/CodeGen/AMDGPU/materialize-frame-index-sgpr.ll
Labels: backend:AMDGPU

#100985 Surface error for plain return statement in coroutine earlier
  clang/lib/Sema/SemaCoroutine.cpp
  clang/lib/Sema/SemaStmt.cpp
  clang/test/SemaCXX/coroutines.cpp
Labels: clang, clang:frontend, coroutines

#101648 [FastISel] Don't use sizeWithoutDebug() for debug records
  llvm/lib/CodeGen/SelectionDAG/FastISel.cpp
  llvm/test/CodeGen/AArch64/fast-isel-branch-uncond-debug.ll
Labels: backend:AArch64, llvm:SelectionDAG

#101494 [mlir][cf] Fix ControlFlow dialect's operations' summary
  mlir/include/mlir/Dialect/ControlFlow/IR/ControlFlowOps.td
Labels: mlir, mlir:cf

#101515 [mlir][emitc] Fix EmitC dialect's operations' summary
  mlir/include/mlir/Dialect/EmitC/IR/EmitC.td
Labels: mlir, mlir:emitc

#101214 [C11] Claim conformance to WG14 N1396
  clang/test/C/C11/n1396.c
  clang/www/c_status.html
Labels: clang, c11, clang:frontend

#101651 Backport "[analyzer] Restore recognition of mutex methods"
  clang/lib/StaticAnalyzer/Checkers/BlockInCriticalSectionChecker.cpp
  clang/test/Analysis/block-in-critical-section-inheritance.cpp
Labels: clang, clang:static analyzer, release:backport

#101650 [NFC][Clang] Remove unused arg
  clang/lib/Sema/SemaChecking.cpp
Labels: clang, clang:frontend

#101005 Ofast deprecation clarifications
  clang/docs/CommandGuide/clang.rst
Labels: clang

#101658 Revert "[llvm][CodeGen] Address the issue of multiple resource reservations in window scheduling (#100301)"
  llvm/lib/CodeGen/WindowScheduler.cpp
  llvm/test/CodeGen/Hexagon/swp-ws-resource-reserve.mir
Labels: backend:Hexagon

#101426 [Clang] prevent assertion failure by avoiding required literal type checking in C context
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaDecl.cpp
  clang/test/Sema/constexpr.c
Labels: clang, clang:frontend

#101591 [NFC][AMDGPU] Reformat code for creating AA
  llvm/lib/Target/AMDGPU/AMDGPUAttributor.cpp
Labels: backend:AMDGPU

#101572 [libc++] Consistency fixes for the CSV status files
  libcxx/docs/Status/Cxx14Issues.csv
  libcxx/docs/Status/Cxx17Issues.csv
  libcxx/docs/Status/Cxx17Papers.csv
  libcxx/docs/Status/Cxx20Issues.csv
  libcxx/docs/Status/Cxx20Papers.csv
  libcxx/docs/Status/Cxx23Issues.csv
  libcxx/docs/Status/Cxx23Papers.csv
  libcxx/docs/Status/Cxx2cIssues.csv
  libcxx/docs/Status/Cxx2cPapers.csv
Labels: libc++

#100147 [llvm-profgen] Revert #99826 and #99026
  llvm/test/tools/llvm-profgen/Inputs/cmov_3.perfbin
  llvm/test/tools/llvm-profgen/Inputs/cmov_3.perfscript
  llvm/test/tools/llvm-profgen/Inputs/ip-duplication.perfscript
  llvm/test/tools/llvm-profgen/Inputs/noprobe-skid.perfscript
  llvm/test/tools/llvm-profgen/event-filtering.test
  llvm/test/tools/llvm-profgen/iponly-nodupfactor.test
  llvm/test/tools/llvm-profgen/iponly.test
  llvm/test/tools/llvm-profgen/period-scaling.test
  llvm/tools/llvm-profgen/PerfReader.cpp
  llvm/tools/llvm-profgen/ProfileGenerator.cpp
Labels: PGO

#101548 [libclang/python] Fix `get_exception_specification_kind`
  clang/bindings/python/clang/cindex.py
  clang/bindings/python/tests/cindex/test_exception_specification_kind.py
  clang/docs/ReleaseNotes.rst
Labels: clang, clang:as-a-library

#101640 [clang][dataflow] Fix casting in `ChromiumCheckModel`.
  clang/lib/Analysis/FlowSensitive/Models/ChromiumCheckModel.cpp
Labels: clang, clang:dataflow, clang:analysis

#101673 Partially revert 92e18ffd803365c64910760ba20278f875d93681
  llvm/lib/Target/ARM/ARMISelLowering.cpp
  llvm/test/CodeGen/ARM/popcnt.ll
  llvm/test/CodeGen/Thumb2/mve-ctpop.ll
Labels: backend:ARM

#101655 [StructuralHashPrinter] Always print 16-digit hash
  llvm/lib/Analysis/StructuralHash.cpp
  llvm/test/Analysis/StructuralHash/structural-hash-printer.ll
Labels: llvm:analysis

#101654 [llvm] Make InstSimplifyFolder constructor explicit (NFC)
  llvm/include/llvm/Analysis/InstSimplifyFolder.h
  llvm/lib/CodeGen/AtomicExpandPass.cpp
  llvm/lib/Target/RISCV/RISCVGatherScatterLowering.cpp
  llvm/lib/Transforms/Utils/LoopUtils.cpp
Labels: backend:RISC-V, llvm:analysis, llvm:transforms

#101670 [LegacyPM] Drop analysis groups
  llvm/docs/WritingAnLLVMPass.rst
  llvm/include/llvm/Pass.h
  llvm/include/llvm/PassInfo.h
  llvm/include/llvm/PassRegistry.h
  llvm/include/llvm/PassSupport.h
  llvm/lib/IR/LegacyPassManager.cpp
  llvm/lib/IR/Pass.cpp
  llvm/lib/IR/PassRegistry.cpp
Labels: llvm:ir

#101547 [mlir][arith][spirv] Convert arith.truncf rounding mode to SPIR-V
  mlir/lib/Conversion/ArithToSPIRV/ArithToSPIRV.cpp
  mlir/test/Conversion/ArithToSPIRV/arith-to-spirv-unsupported.mlir
  mlir/test/Conversion/ArithToSPIRV/arith-to-spirv.mlir
Labels: mlir:spirv, mlir

#101205 [AArch64] Fix incorrectly getting the destination reg of an insn
  llvm/lib/Target/AArch64/AArch64InstrInfo.cpp
  llvm/lib/Target/AArch64/AArch64LoadStoreOptimizer.cpp
Labels: backend:AArch64

#101471 [mlir][vector] Update tests for xfer-flatten (nfc)
  mlir/test/Dialect/Vector/vector-transfer-flatten.mlir
Labels: mlir:vectorops, mlir, mlir:vector

#101677 [AArch64] Avoid NEON dot product in streaming[-compatible] functions
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-reductions.ll
Labels: backend:AArch64

#101647 [analyzer] Fix crash on using `bitcast(<type>, <array>)` as array subscript
  clang/lib/StaticAnalyzer/Core/Store.cpp
  clang/test/Analysis/exercise-ps.c
Labels: clang, clang:static analyzer

#100837 [Modules] Fix using `va_list` with modules and a precompiled header.
  clang/lib/Sema/Sema.cpp
  clang/test/Modules/builtin-vararg.c
Labels: clang, clang:frontend, clang:modules

#96760 AMDGPU: Handle new atomicrmw metadata for fadd case
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/flat-atomic-fadd.f32.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/flat-atomic-fadd.f64.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fp-atomics-gfx940.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fp64-atomics-gfx90a.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/global-atomic-fadd.f64.ll
  llvm/test/CodeGen/AMDGPU/atomicrmw-expand.ll
  llvm/test/CodeGen/AMDGPU/atomics-hw-remarks-gfx90a.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointer-atomicrmw-fadd.ll
  llvm/test/CodeGen/AMDGPU/flat-atomic-fadd.f32.ll
  llvm/test/CodeGen/AMDGPU/flat-atomic-fadd.f64.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fadd.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fsub.ll
  llvm/test/CodeGen/AMDGPU/fp-atomics-gfx940.ll
  llvm/test/CodeGen/AMDGPU/fp64-atomics-gfx90a.ll
  llvm/test/CodeGen/AMDGPU/global-atomic-fadd.f32-no-rtn.ll
  llvm/test/CodeGen/AMDGPU/global-atomic-fadd.f32-rtn.ll
  llvm/test/CodeGen/AMDGPU/global-atomic-fadd.f64.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fadd-wrong-subtarget.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fadd.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fsub.ll
  llvm/test/CodeGen/AMDGPU/global-atomics-fp-wrong-subtarget.ll
  llvm/test/CodeGen/AMDGPU/global_atomic_optimizer_fp_rtn.ll
  llvm/test/CodeGen/AMDGPU/global_atomics_optimizer_fp_no_rtn.ll
  llvm/test/CodeGen/AMDGPU/global_atomics_scan_fadd.ll
  llvm/test/CodeGen/AMDGPU/global_atomics_scan_fsub.ll
  llvm/test/CodeGen/AMDGPU/insert_waitcnt_for_precise_memory.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomic-f32-agent.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomic-f32-system.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomic-f64-agent.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomic-f64-system.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomic-i128.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomic-rmw-fadd-flat-specialization.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomic-rmw-fadd.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomic-simplify-cfg-CAS-block.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomic-v2bf16-system.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomic-v2f16-agent.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomic-v2f16-system.ll
  llvm/test/Transforms/AtomicExpand/AMDGPU/expand-atomicrmw-fp-vector.ll
Labels: backend:AMDGPU, llvm:globalisel, llvm:transforms

#99480 [AArch64] Optimize two large shifts and a combine into a single combine and shift
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/neon-rshrn.ll
  llvm/test/CodeGen/AArch64/optimize_combine_large_shifts.ll
Labels: backend:AArch64

#101672 Reland "[lldb] Reland 2402b3213c2f with `/H` to debug the windows build issue
  lldb/source/Plugins/ScriptInterpreter/Python/Interfaces/CMakeLists.txt
  lldb/source/Plugins/ScriptInterpreter/Python/Interfaces/ScriptedProcessPythonInterface/CMakeLists.txt
  lldb/source/Plugins/ScriptInterpreter/Python/Interfaces/ScriptedProcessPythonInterface/ScriptedProcessPythonInterface.cpp
  lldb/source/Plugins/ScriptInterpreter/Python/Interfaces/ScriptedProcessPythonInterface/ScriptedProcessPythonInterface.h
  lldb/source/Plugins/ScriptInterpreter/Python/ScriptInterpreterPython.cpp
Labels: lldb

#101610 [RISCV] Generalize existing SRA combine to fix #101040.
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rv32zbb.ll
  llvm/test/CodeGen/RISCV/rv64zbb.ll
Labels: backend:RISC-V

#98536 [InstCombine] Remove transformation on call instruction where return value need void to non-void conversion
  llvm/lib/Transforms/InstCombine/InstCombineCalls.cpp
  llvm/test/Transforms/InstCombine/skip-opt-void-to-non-void-conversion.ll
Labels: llvm:transforms

#101430 [mlir][linalg] Canonicalize non-identity `linalg.generic` ops
  mlir/lib/Dialect/Linalg/IR/LinalgOps.cpp
  mlir/test/Dialect/Linalg/canonicalize.mlir
Labels: mlir:linalg, mlir

#101460 [ELFAttributeParser][NFC] Make string array arguments `const`
  llvm/lib/Support/ARMAttributeParser.cpp
  llvm/lib/Support/CSKYAttributeParser.cpp
  llvm/lib/Support/MSP430AttributeParser.cpp
  llvm/lib/Support/RISCVAttributeParser.cpp
Labels: backend:RISC-V, llvm:support

#101522 [AArch64][SME] Rewrite __arm_sc_memset to remove invalid instruction
  compiler-rt/lib/builtins/aarch64/sme-libc-mem-routines.S
Labels: compiler-rt, compiler-rt:builtins

#101216 [flang][cuda] Add CUF allocator
  flang/CMakeLists.txt
  flang/include/flang/Runtime/CUDA/allocator.h
  flang/runtime/CMakeLists.txt
  flang/runtime/CUDA/CMakeLists.txt
  flang/runtime/CUDA/allocator.cpp
  flang/unittests/Runtime/CMakeLists.txt
  flang/unittests/Runtime/CUDA/AllocatorCUF.cpp
  flang/unittests/Runtime/CUDA/CMakeLists.txt
Labels: flang:runtime, flang

#101566 [asan,test] Disable _FORTIFY_SOURCE test incompatible with glibc 2.40
  compiler-rt/test/asan/TestCases/Linux/printf-fortify-5.c
  compiler-rt/test/lit.common.cfg.py
Labels: compiler-rt, compiler-rt:asan, compiler-rt:sanitizer

#101646 [RISCV][clang] Remove unused base type in `vfncvt`
  clang/include/clang/Basic/riscv_vector.td
Labels: clang, backend:RISC-V, clang:frontend

#101681 [lldb][ClangExpressionParser][NFC] Factor out TargetOpts logic out of ClangExpressionParser
  lldb/source/Plugins/ExpressionParser/Clang/ClangExpressionParser.cpp
  lldb/source/Plugins/ExpressionParser/Clang/ClangExpressionParser.h
Labels: lldb

#101584 [test][asan] Check for order of DynInitPoison
  compiler-rt/test/asan/TestCases/Helpers/initialization-nobug-extra.cpp
  compiler-rt/test/asan/TestCases/initialization-nobug.cpp
Labels: compiler-rt, compiler-rt:asan, compiler-rt:sanitizer

#101620 [libc] add simplified tid cache
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/newhdrgen/yaml/unistd.yaml
  libc/spec/posix.td
  libc/src/__support/threads/CMakeLists.txt
  libc/src/__support/threads/identifier.h
  libc/src/__support/threads/linux/CMakeLists.txt
  libc/src/__support/threads/linux/rwlock.h
  libc/src/unistd/CMakeLists.txt
  libc/src/unistd/gettid.cpp
  libc/src/unistd/gettid.h
  libc/src/unistd/linux/CMakeLists.txt
  libc/src/unistd/linux/fork.cpp
  libc/test/integration/src/unistd/CMakeLists.txt
  libc/test/integration/src/unistd/fork_test.cpp
Labels: libc

#101711 [OpenMP][Doc] Add `ompx_bare` entry in `OpenMPSupport.rst`
  clang/docs/OpenMPSupport.rst
Labels: clang

#101724 [libc] small fix for overlay mode build
  libc/src/__support/threads/identifier.h
Labels: libc
