Repository llvm/llvm-project, pull requests merged in 2024-02, with the labels that each got.

#80203 [libc] Fix read under msan
  libc/src/unistd/linux/read.cpp
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: libc

#80110 [mlir][Vector] Add support for sub-byte transpose emulation
  mlir/include/mlir/Dialect/Vector/TransformOps/VectorTransformOps.td
  mlir/include/mlir/Dialect/Vector/Transforms/VectorRewritePatterns.h
  mlir/lib/Dialect/Vector/TransformOps/VectorTransformOps.cpp
  mlir/lib/Dialect/Vector/Transforms/VectorEmulateNarrowType.cpp
  mlir/test/Dialect/Vector/vector-rewrite-narrow-types.mlir
Labels: mlir:vectorops, mlir, mlir:vector

#80206 [mlir][arith] Improve `truncf` folding
  mlir/lib/Dialect/Arith/IR/ArithOps.cpp
  mlir/test/Dialect/Arith/canonicalize.mlir
Labels: mlir, mlir:arith

#79874 [llvm-objcopy][test] Use llvm-readelf instead for clearer visualization
  llvm/test/tools/llvm-objcopy/ELF/prefix-symbols.test
Labels: llvm:binary-utilities

#80101 [clang][NFC] Move isSimpleTypeSpecifier() from Sema to Token
  clang/include/clang/Lex/Token.h
  clang/include/clang/Sema/Sema.h
  clang/lib/Lex/Lexer.cpp
  clang/lib/Parse/ParseExpr.cpp
  clang/lib/Parse/ParseObjc.cpp
  clang/lib/Sema/SemaDecl.cpp
Labels: clang, clang:frontend

#79796 [clang-format] Simplify the AfterPlacementOperator option
  clang/docs/ClangFormatStyleOptions.rst
  clang/include/clang/Format/Format.h
  clang/lib/Format/Format.cpp
  clang/lib/Format/TokenAnnotator.cpp
  clang/unittests/Format/ConfigParseTest.cpp
  clang/unittests/Format/FormatTest.cpp
Labels: clang-format

#80182 [clang][dataflow][NFC] Rename a confusingly named variable.
  clang/lib/Analysis/FlowSensitive/HTMLLogger.cpp
Labels: clang, clang:dataflow, clang:analysis

#80130 [clang][dataflow] Display line numbers in the HTML logger timeline.
  clang/lib/Analysis/FlowSensitive/HTMLLogger.css
  clang/lib/Analysis/FlowSensitive/HTMLLogger.html
Labels: clang, clang:dataflow, clang:analysis

#79882 [llvm-gsymutil] Print one-time DWO file missing warning under --quiet flag
  llvm/lib/DebugInfo/GSYM/DwarfTransformer.cpp
  llvm/test/tools/llvm-gsymutil/X86/elf-dwo.yaml
Labels: debuginfo

#79959 [C++20] [Modules] Introduce -fskip-odr-check-in-gmf
  clang/docs/ReleaseNotes.rst
  clang/docs/StandardCPlusPlusModules.rst
  clang/include/clang/Basic/LangOptions.def
  clang/include/clang/Driver/Options.td
  clang/include/clang/Serialization/ASTReader.h
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/lib/Serialization/ASTReader.cpp
  clang/lib/Serialization/ASTReaderDecl.cpp
  clang/lib/Serialization/ASTWriter.cpp
  clang/lib/Serialization/ASTWriterDecl.cpp
  clang/test/Driver/modules-skip-odr-check-in-gmf.cpp
  clang/test/Modules/concept.cppm
  clang/test/Modules/polluted-operator.cppm
  clang/test/Modules/pr76638.cppm
  clang/test/Modules/skip-odr-check-in-gmf.cppm
Labels: clang, clang:driver, clang:frontend, clang:modules

#71701 [clang-tidy] Add AllowStringArrays option to modernize-avoid-c-arrays
  clang-tools-extra/clang-tidy/modernize/AvoidCArraysCheck.cpp
  clang-tools-extra/clang-tidy/modernize/AvoidCArraysCheck.h
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/modernize/avoid-c-arrays.rst
  clang-tools-extra/test/clang-tidy/checkers/modernize/avoid-c-arrays-ignores-strings.cpp
  clang-tools-extra/test/clang-tidy/checkers/modernize/avoid-c-arrays.cpp
Labels: clang-tools-extra, clang-tidy

#78847 [clang-format] Allow decltype in requires clause
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#79130 [clang][Interp] Handle imaginary literals
  clang/lib/AST/Interp/ByteCodeExprGen.cpp
  clang/lib/AST/Interp/ByteCodeExprGen.h
  clang/lib/AST/Interp/Context.cpp
  clang/test/AST/Interp/complex.cpp
Labels: clang, clang:frontend

#80129 [mlir] Use `create` instead of `createOrFold` for ConstantOp as folding has no effect (NFC)
  mlir/lib/Conversion/AMDGPUToROCDL/AMDGPUToROCDL.cpp
  mlir/lib/Conversion/ArithToAMDGPU/ArithToAMDGPU.cpp
  mlir/lib/Conversion/GPUToROCDL/LowerGpuOpsToROCDLOps.cpp
  mlir/lib/Conversion/TosaToTensor/TosaToTensor.cpp
  mlir/lib/Dialect/Tensor/Transforms/ConcatOpPatterns.cpp
Labels: backend:AMDGPU, mlir:gpu, mlir, mlir:tensor

#79278 [GlobalISel][TableGen] Support Intrinsics in MIR Patterns
  llvm/docs/GlobalISel/MIRPatterns.rst
  llvm/include/llvm/CodeGen/GlobalISel/GIMatchTableExecutor.h
  llvm/include/llvm/CodeGen/GlobalISel/GIMatchTableExecutorImpl.h
  llvm/test/TableGen/GlobalISelCombinerEmitter/Inputs/test-intrinsics.td
  llvm/test/TableGen/GlobalISelCombinerEmitter/builtins/builtin-pattern-errors.td
  llvm/test/TableGen/GlobalISelCombinerEmitter/match-table-intrinsics.td
  llvm/test/TableGen/GlobalISelCombinerEmitter/pattern-errors.td
  llvm/test/TableGen/GlobalISelCombinerEmitter/pattern-parsing.td
  llvm/test/TableGen/lit.local.cfg
  llvm/utils/TableGen/GlobalISel/Patterns.cpp
  llvm/utils/TableGen/GlobalISel/Patterns.h
  llvm/utils/TableGen/GlobalISelCombinerEmitter.cpp
  llvm/utils/TableGen/GlobalISelMatchTable.cpp
  llvm/utils/TableGen/GlobalISelMatchTable.h
Labels: llvm:globalisel

#78312 [mlir][Transforms] `GreedyPatternRewriteDriver`: Hash ops separately
  mlir/include/mlir/IR/OperationSupport.h
  mlir/lib/IR/OperationSupport.cpp
  mlir/lib/Transforms/Utils/GreedyPatternRewriteDriver.cpp
Labels: mlir:core, mlir:gpu, mlir

#80179 [flang][NFC] Cache derived type translation in lowering
  flang/include/flang/Lower/AbstractConverter.h
  flang/lib/Lower/ConvertType.cpp
  flang/test/Lower/derived-types-kind-params-2.f90
Labels: flang, flang:fir-hlfir

#80253 [Clang][test] Limit library search when linking shared lib
  clang/test/Interpreter/cxx20-modules.cppm
Labels: clang

#79612 [mlir][EmitC] Add func, call and return operations and conversions
  mlir/include/mlir/Conversion/FuncToEmitC/FuncToEmitC.h
  mlir/include/mlir/Conversion/FuncToEmitC/FuncToEmitCPass.h
  mlir/include/mlir/Conversion/Passes.h
  mlir/include/mlir/Conversion/Passes.td
  mlir/include/mlir/Dialect/EmitC/IR/EmitC.h
  mlir/include/mlir/Dialect/EmitC/IR/EmitC.td
  mlir/lib/Conversion/CMakeLists.txt
  mlir/lib/Conversion/FuncToEmitC/CMakeLists.txt
  mlir/lib/Conversion/FuncToEmitC/FuncToEmitC.cpp
  mlir/lib/Conversion/FuncToEmitC/FuncToEmitCPass.cpp
  mlir/lib/Dialect/EmitC/IR/CMakeLists.txt
  mlir/lib/Dialect/EmitC/IR/EmitC.cpp
  mlir/lib/Target/Cpp/TranslateToCpp.cpp
  mlir/test/Conversion/FuncToEmitC/func-to-emitc.mlir
  mlir/test/Dialect/EmitC/invalid_ops.mlir
  mlir/test/Dialect/EmitC/ops.mlir
  mlir/test/Target/Cpp/func.mlir
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: mlir, mlir:emitc

#77153 [llvm-exegesis] Replace --num-repetitions with --min-instructions
  llvm/docs/CommandGuide/llvm-exegesis.rst
  llvm/tools/llvm-exegesis/lib/BenchmarkResult.cpp
  llvm/tools/llvm-exegesis/lib/BenchmarkResult.h
  llvm/tools/llvm-exegesis/lib/BenchmarkRunner.cpp
  llvm/tools/llvm-exegesis/lib/BenchmarkRunner.h
  llvm/tools/llvm-exegesis/lib/ResultAggregator.cpp
  llvm/tools/llvm-exegesis/llvm-exegesis.cpp
  llvm/unittests/tools/llvm-exegesis/Mips/BenchmarkResultTest.cpp
  llvm/unittests/tools/llvm-exegesis/ResultAggregatorTest.cpp
  llvm/unittests/tools/llvm-exegesis/X86/BenchmarkResultTest.cpp
Labels: tools:llvm-exegesis, llvm:binary-utilities

#80132 [flang][HLFIR] Relax verifiers of intrinsic operations
  flang/lib/Optimizer/HLFIR/IR/HLFIROps.cpp
  flang/test/HLFIR/invalid.fir
  flang/test/Lower/HLFIR/minval.f90
Labels: flang, flang:fir-hlfir

#80163 [Clang][AArch64] Add ACLE macros for FEAT_PAuth_LR
  clang/lib/Basic/Targets/AArch64.cpp
  clang/lib/Basic/Targets/AArch64.h
  clang/test/Preprocessor/aarch64-target-features.c
Labels: clang, backend:AArch64, clang:frontend

#79816 [HWASAN] NFC? Remove DW_OP_LLVM_tag_offset from DIExpression::isImplicit
  llvm/lib/IR/DebugInfoMetadata.cpp
Labels: debuginfo, llvm:ir

#79980 [AMDGPU] Check wavefrontsize for GFX11 WMMA builtins
  clang/include/clang/Basic/BuiltinsAMDGPU.def
  clang/test/CodeGenOpenCL/builtins-amdgcn-wmma-w32-gfx10-err.cl
  clang/test/CodeGenOpenCL/builtins-amdgcn-wmma-w64-gfx10-err.cl
  clang/test/CodeGenOpenCL/builtins-amdgcn-wmma-w64.cl
Labels: clang, backend:AMDGPU, clang:frontend

#79512 [SCEVExp] Keep NUW/NSW if both original inc and isomporphic inc agree.
  llvm/lib/Transforms/Utils/ScalarEvolutionExpander.cpp
  llvm/test/Transforms/IndVarSimplify/iv-poison.ll
Labels: llvm:transforms

#79978 [libc++][memory] P2652R2: Disallow Specialization of `allocator_traits`
  libcxx/docs/FeatureTestMacroTable.rst
  libcxx/docs/ReleaseNotes/19.rst
  libcxx/docs/Status/Cxx23Papers.csv
  libcxx/docs/Status/Cxx2cIssues.csv
  libcxx/include/__memory/allocate_at_least.h
  libcxx/include/__memory/allocator_traits.h
  libcxx/include/memory
  libcxx/include/version
  libcxx/modules/std/memory.inc
  libcxx/test/std/language.support/support.limits/support.limits.general/memory.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/version.version.compile.pass.cpp
  libcxx/test/std/utilities/memory/allocator.traits/allocator.traits.members/allocate_at_least.pass.cpp
  libcxx/utils/generate_feature_test_macro_components.py
Labels: libc++

#80174 [openmp] On Windows, fix standalone cmake build
  openmp/cmake/HandleOpenMPOptions.cmake
Labels: cmake, openmp, openmp:libomp, openmp:libomptarget

#80211 [AMDGPU] Prefer `s_memtime` for `readcyclecounter` on GFX10
  llvm/lib/Target/AMDGPU/SMInstructions.td
  llvm/test/CodeGen/AMDGPU/readcyclecounter.ll
Labels: backend:AMDGPU

#79166 [AArch64] Replace LLVM IR function attributes for PSTATE.ZA.
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/test/CodeGen/aarch64-sme-intrinsics/aarch64-sme-attrs.cpp
  clang/test/CodeGen/aarch64-sme-intrinsics/acle_sme_zero.c
  clang/test/Modules/aarch64-sme-keywords.cppm
  llvm/docs/AArch64SME.rst
  llvm/lib/IR/Verifier.cpp
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/lib/Target/AArch64/SMEABIPass.cpp
  llvm/lib/Target/AArch64/Utils/AArch64SMEAttributes.cpp
  llvm/lib/Target/AArch64/Utils/AArch64SMEAttributes.h
  llvm/test/CodeGen/AArch64/sme-disable-gisel-fisel.ll
  llvm/test/CodeGen/AArch64/sme-lazy-save-call-remarks.ll
  llvm/test/CodeGen/AArch64/sme-lazy-save-call.ll
  llvm/test/CodeGen/AArch64/sme-new-za-function.ll
  llvm/test/CodeGen/AArch64/sme-shared-za-interface.ll
  llvm/test/CodeGen/AArch64/sme-zt0-state.ll
  llvm/test/Transforms/Inline/AArch64/sme-pstateza-attrs.ll
  llvm/test/Verifier/sme-attributes.ll
  llvm/unittests/Target/AArch64/SMEAttributesTest.cpp
  mlir/include/mlir/Dialect/ArmSME/Transforms/Passes.td
  mlir/include/mlir/Dialect/LLVMIR/LLVMOps.td
  mlir/lib/Target/LLVMIR/ModuleImport.cpp
  mlir/lib/Target/LLVMIR/ModuleTranslation.cpp
  mlir/test/Dialect/ArmSME/enable-arm-za.mlir
  mlir/test/Target/LLVMIR/Import/function-attributes.ll
  mlir/test/Target/LLVMIR/llvmir.mlir
Labels: clang, backend:AArch64, clang:modules, clang:codegen, mlir:llvm, mlir, mlir:sme, llvm:ir, llvm:transforms

#80178 [AArch64] Alter latency of FCSEL under Cortex-A510
  llvm/lib/Target/AArch64/AArch64SchedA510.td
  llvm/test/CodeGen/AArch64/select_fmf.ll
  llvm/test/CodeGen/AArch64/tbl-loops.ll
  llvm/test/CodeGen/AArch64/vecreduce-fmax-legalization.ll
  llvm/test/CodeGen/AArch64/vecreduce-fmin-legalization.ll
  llvm/test/tools/llvm-mca/AArch64/Cortex/A510-basic-instructions.s
Labels: backend:AArch64

#80145 [mlir][scf] Considering defining operators of indices when fusing scf::ParallelOp
  mlir/lib/Dialect/SCF/Transforms/ParallelLoopFusion.cpp
  mlir/test/Dialect/SCF/parallel-loop-fusion.mlir
Labels: mlir, mlir:scf

#80147 [MIRPrinter] Don't print line break when there is no instructions (NFC)
  llvm/lib/CodeGen/MIRPrinter.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/arm64-irtranslator-switch.ll
  llvm/test/CodeGen/AArch64/GlobalISel/arm64-pcsections.ll
  llvm/test/CodeGen/AArch64/GlobalISel/legalize-phi.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-redundant-zext.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-unreachable-blocks.mir
  llvm/test/CodeGen/AArch64/callbr-asm-outputs-indirect-isel.ll
  llvm/test/CodeGen/AArch64/implicit-def-with-impdef-greedy-assert.mir
  llvm/test/CodeGen/AArch64/regalloc-last-chance-recolor-with-split.mir
  llvm/test/CodeGen/AArch64/tail-dup-redundant-phi.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/inline-asm-mismatched-size.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/inst-select-brcond.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/inst-select-constant.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/inst-select-scalar-float-sop2.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/postlegalizer-combiner-unmerge-undef.mir
  llvm/test/CodeGen/AMDGPU/collapse-endcf.mir
  llvm/test/CodeGen/AMDGPU/dagcombine-fma-crash.ll
  llvm/test/CodeGen/AMDGPU/insert-singleuse-vdst.mir
  llvm/test/CodeGen/AMDGPU/lower-control-flow-live-intervals.mir
  llvm/test/CodeGen/AMDGPU/machine-sink-ignorable-exec-use.mir
  llvm/test/CodeGen/AMDGPU/opt-exec-masking-pre-ra-update-liveness.mir
  llvm/test/CodeGen/AMDGPU/optimize-compare.mir
  llvm/test/CodeGen/AMDGPU/optimize-exec-mask-pre-ra-def-after-use.mir
  llvm/test/CodeGen/AMDGPU/optimize-exec-masking-pre-ra.mir
  llvm/test/CodeGen/AMDGPU/ra-inserted-scalar-instructions.mir
  llvm/test/CodeGen/AMDGPU/ran-out-of-sgprs-allocation-failure.mir
  llvm/test/CodeGen/AMDGPU/si-lower-control-flow.mir
  llvm/test/CodeGen/AMDGPU/sink-after-control-flow-postra.mir
  llvm/test/CodeGen/AMDGPU/spill-agpr.mir
  llvm/test/CodeGen/AMDGPU/tail-dup-bundle.mir
  llvm/test/CodeGen/AMDGPU/wqm-terminators.mir
  llvm/test/CodeGen/ARM/cmpxchg.mir
  llvm/test/CodeGen/ARM/machine-outliner-noreturn.mir
  llvm/test/CodeGen/MIR/X86/unreachable-block-print.mir
  llvm/test/CodeGen/Mips/GlobalISel/instruction-select/phi.mir
  llvm/test/CodeGen/Mips/GlobalISel/legalizer/jump_table_and_brjt.mir
  llvm/test/CodeGen/PowerPC/branch_coalescing.mir
  llvm/test/CodeGen/PowerPC/machine-cse-rm-pre.mir
  llvm/test/CodeGen/PowerPC/nofpexcept.ll
  llvm/test/CodeGen/RISCV/GlobalISel/legalizer/legalize-phi-rv32.mir
  llvm/test/CodeGen/RISCV/GlobalISel/legalizer/legalize-phi-rv64.mir
  llvm/test/CodeGen/RISCV/float-select-verify.ll
  llvm/test/CodeGen/Thumb2/cmpxchg.mir
  llvm/test/CodeGen/X86/GlobalISel/legalize-phi.mir
  llvm/test/CodeGen/X86/GlobalISel/select-phi.mir
  llvm/test/CodeGen/X86/branchfolding-landingpad-cfg.mir
  llvm/test/CodeGen/X86/coalescer-remat-with-undef-implicit-def-operand.mir
  llvm/test/CodeGen/X86/cse-two-preds.mir
  llvm/test/CodeGen/X86/statepoint-invoke-ra-remove-back-copies.mir
  llvm/test/CodeGen/X86/tail-dup-asm-goto.ll
Labels: backend:ARM, backend:AArch64, backend:AMDGPU, backend:X86, llvm:globalisel

#71485 [AIX][TLS] Optimize the small local-exec access sequence for non-zero offsets
  llvm/lib/Target/PowerPC/PPCAsmPrinter.cpp
  llvm/lib/Target/PowerPC/PPCISelDAGToDAG.cpp
  llvm/test/CodeGen/PowerPC/aix-small-local-exec-tls-char.ll
  llvm/test/CodeGen/PowerPC/aix-small-local-exec-tls-double.ll
  llvm/test/CodeGen/PowerPC/aix-small-local-exec-tls-float.ll
  llvm/test/CodeGen/PowerPC/aix-small-local-exec-tls-int.ll
  llvm/test/CodeGen/PowerPC/aix-small-local-exec-tls-largeaccess.ll
  llvm/test/CodeGen/PowerPC/aix-small-local-exec-tls-largeaccess2.ll
  llvm/test/CodeGen/PowerPC/aix-small-local-exec-tls-short.ll
Labels: backend:PowerPC, platform:aix

#80190 [HIP] fix HIP detection for /usr
  clang/lib/Driver/ToolChains/AMDGPU.cpp
  clang/test/Driver/rocm-detect.hip
Labels: clang, backend:AMDGPU, clang:driver

#75955 [mlir][scf] Add reductions support to `scf.parallel` fusion
  mlir/lib/Dialect/SCF/Transforms/ParallelLoopFusion.cpp
  mlir/test/Dialect/SCF/parallel-loop-fusion.mlir
Labels: mlir, mlir:scf

#78243 [Clang][Parse] Diagnose member template declarations with multiple declarators
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Parse/Parser.h
  clang/lib/Parse/ParseDecl.cpp
  clang/lib/Parse/ParseDeclCXX.cpp
  clang/lib/Parse/ParseTemplate.cpp
  clang/lib/Parse/Parser.cpp
  clang/test/CXX/temp/p3.cpp
  clang/test/OpenMP/declare_simd_messages.cpp
Labels: clang, clang:frontend, clang:openmp

#78907 [llvm-objdump][AMDGPU] Pass ELF ABIVersion through disassembler
  llvm/include/llvm/MC/MCDisassembler/MCDisassembler.h
  llvm/include/llvm/Object/ELFObjectFile.h
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.cpp
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.h
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.h
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-cov5.s
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-gfx10.s
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-gfx11.s
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-gfx12.s
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-gfx90a.s
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-sgpr.s
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-vgpr.s
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-zeroed-gfx10.s
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-zeroed-gfx9.s
  llvm/tools/llvm-objdump/llvm-objdump.cpp
Labels: backend:AMDGPU, backend:WebAssembly, mc, llvm:binary-utilities

#80267 [flang] Fix passing NULL to OPTIONAL procedure pointers
  flang/lib/Lower/ConvertCall.cpp
  flang/test/Lower/HLFIR/procedure-pointer.f90
Labels: flang, flang:fir-hlfir

#79648 Aggregate errors from llvm-dwarfdump --verify
  llvm/include/llvm/DebugInfo/DIContext.h
  llvm/include/llvm/DebugInfo/DWARF/DWARFVerifier.h
  llvm/lib/DebugInfo/DWARF/DWARFContext.cpp
  llvm/lib/DebugInfo/DWARF/DWARFVerifier.cpp
  llvm/test/DebugInfo/X86/skeleton-unit-verify.s
  llvm/test/DebugInfo/dwarfdump-accel.test
  llvm/test/tools/llvm-dwarfdump/X86/verify_attr_file_indexes.yaml
  llvm/test/tools/llvm-dwarfdump/X86/verify_attr_file_indexes_no_files.yaml
  llvm/test/tools/llvm-dwarfdump/X86/verify_file_encoding.yaml
  llvm/test/tools/llvm-dwarfdump/X86/verify_overlapping_cu_ranges.yaml
  llvm/test/tools/llvm-dwarfdump/X86/verify_parent_zero_length.yaml
  llvm/test/tools/llvm-dwarfdump/X86/verify_split_cu.s
  llvm/tools/llvm-dwarfdump/llvm-dwarfdump.cpp
Labels: debuginfo

#79760 [Clang][NFC] Remove TemplateArgumentList::OnStack
  clang/docs/ReleaseNotes.rst
  clang/include/clang/AST/DeclTemplate.h
  clang/include/clang/Sema/Sema.h
  clang/lib/AST/DeclTemplate.cpp
  clang/lib/Sema/SemaConcept.cpp
  clang/lib/Sema/SemaExprCXX.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/lib/Sema/SemaTemplateInstantiate.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
Labels: clang, clang:frontend

#80156 [libc][NFC] Refactor FLAGS expansion using cmake_language(CALL ...).
  libc/cmake/modules/LLVMLibCFlagRules.cmake
  libc/cmake/modules/LLVMLibCLibraryRules.cmake
  libc/cmake/modules/LLVMLibCObjectRules.cmake
  libc/cmake/modules/LLVMLibCTestRules.cmake
Labels: libc

#79991 [NFC] Reorder test lines in arith-fp-frem.ll
  llvm/test/Analysis/CostModel/AArch64/arith-fp-frem.ll
Labels: llvm:analysis

#80085 [clang-format] Handles Elaborated type specifier for enum in trailing return
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#80177 [libc] Update libc_errno to work correctly in both overlay and full build modes.
  libc/include/errno.h.def
  libc/src/errno/CMakeLists.txt
  libc/src/errno/libc_errno.cpp
  libc/src/errno/libc_errno.h
  libc/test/integration/startup/linux/tls_test.cpp
  libc/test/src/errno/errno_test.cpp
  libc/test/src/stdlib/StrtolTest.h
  libc/test/src/sys/mman/linux/madvise_test.cpp
  libc/test/src/sys/mman/linux/mlock_test.cpp
  libc/test/src/sys/mman/linux/mmap_test.cpp
  libc/test/src/sys/mman/linux/mprotect_test.cpp
  libc/test/src/sys/mman/linux/posix_madvise_test.cpp
  libc/test/src/time/asctime_r_test.cpp
  libc/test/src/time/asctime_test.cpp
Labels: libc

#80312 [libc] Fix wrong errno number in tls_test.
  libc/test/integration/startup/linux/tls_test.cpp
Labels: libc

#80216 [OpenMP] Move unsupported structured bindings diagnostic
  clang/lib/Sema/SemaExpr.cpp
  clang/test/SemaCXX/decomposition-openmp.cpp
Labels: clang, clang:frontend

#80194 [libc++][NFC] Remove <experimental/__memory>
  libcxx/include/CMakeLists.txt
  libcxx/include/experimental/__memory
  libcxx/include/module.modulemap.in
Labels: libc++

#80082 [libc] implement stdc_leading_ones (C23)
  libc/config/linux/x86_64/entrypoints.txt
  libc/docs/stdbit.rst
  libc/include/llvm-libc-macros/stdbit-macros.h
  libc/spec/stdc.td
  libc/src/stdbit/CMakeLists.txt
  libc/src/stdbit/stdc_leading_ones_uc.cpp
  libc/src/stdbit/stdc_leading_ones_uc.h
  libc/src/stdbit/stdc_leading_ones_ui.cpp
  libc/src/stdbit/stdc_leading_ones_ui.h
  libc/src/stdbit/stdc_leading_ones_ul.cpp
  libc/src/stdbit/stdc_leading_ones_ul.h
  libc/src/stdbit/stdc_leading_ones_ull.cpp
  libc/src/stdbit/stdc_leading_ones_ull.h
  libc/src/stdbit/stdc_leading_ones_us.cpp
  libc/src/stdbit/stdc_leading_ones_us.h
  libc/test/include/stdbit_test.cpp
  libc/test/src/stdbit/CMakeLists.txt
  libc/test/src/stdbit/stdc_leading_ones_uc_test.cpp
  libc/test/src/stdbit/stdc_leading_ones_ui_test.cpp
  libc/test/src/stdbit/stdc_leading_ones_ul_test.cpp
  libc/test/src/stdbit/stdc_leading_ones_ull_test.cpp
  libc/test/src/stdbit/stdc_leading_ones_us_test.cpp
Labels: libc

#80201 [RISCV] Support constraint "s"
  clang/lib/Basic/Targets/RISCV.cpp
  clang/test/CodeGen/RISCV/riscv-inline-asm.c
  clang/test/Sema/inline-asm-validate-riscv.c
  llvm/docs/LangRef.rst
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/inline-asm-S-constraint.ll
  llvm/test/CodeGen/RISCV/inline-asm-s-constraint-error.ll
  llvm/test/CodeGen/RISCV/inline-asm-s-constraint.ll
Labels: clang, backend:RISC-V, clang:frontend, llvm:ir

#80221 [lld-macho] Make ObjC category checker print the source file name of …
  lld/MachO/ObjC.cpp
  lld/test/MachO/objc-category-conflicts.s
Labels: lld, lld:MachO

#80313 [OpenMP] Fix build breakage (NFC)
  openmp/libomptarget/plugins-nextgen/cuda/src/rtl.cpp
Labels: openmp:libomptarget

#79911 [RISCV][MC] MC layer support for the experimental zalasr extension
  clang/test/Preprocessor/riscv-target-features.c
  llvm/docs/RISCVUsage.rst
  llvm/lib/Support/RISCVISAInfo.cpp
  llvm/lib/Target/RISCV/RISCVFeatures.td
  llvm/lib/Target/RISCV/RISCVInstrInfo.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZalasr.td
  llvm/test/CodeGen/RISCV/attributes.ll
  llvm/test/MC/RISCV/attribute-arch.s
  llvm/test/MC/RISCV/rv32zalasr-invalid.s
  llvm/test/MC/RISCV/rv32zalasr-valid.s
  llvm/test/MC/RISCV/rv64zalasr-invalid.s
  llvm/test/MC/RISCV/rv64zalasr-valid.s
  llvm/unittests/Support/RISCVISAInfoTest.cpp
Labels: clang, backend:RISC-V, mc, llvm:support

#80205 [mlir][sparse] add sparsification options to pretty print and debug s…
  mlir/include/mlir/Dialect/SparseTensor/Transforms/Passes.h
  mlir/include/mlir/Dialect/SparseTensor/Transforms/Passes.td
Labels: mlir:sparse, mlir

#79914 [RISCV] Add srmcfg CSR from Ssqosid extension.
  llvm/lib/Target/RISCV/RISCVSystemOperands.td
  llvm/test/MC/RISCV/supervisor-csr-names.s
Labels: backend:RISC-V, mc

#74114 [RISCV][GISel] RegBank select and instruction select for vector G_ADD, G_SUB
  llvm/lib/CodeGen/GlobalISel/InstructionSelect.cpp
  llvm/lib/Target/RISCV/GISel/RISCVInstructionSelector.cpp
  llvm/lib/Target/RISCV/GISel/RISCVRegisterBankInfo.cpp
  llvm/test/CodeGen/RISCV/GlobalISel/instruction-select/rvv/add.mir
  llvm/test/CodeGen/RISCV/GlobalISel/instruction-select/rvv/sub.mir
  llvm/test/CodeGen/RISCV/GlobalISel/regbankselect/rvv/add.mir
  llvm/test/CodeGen/RISCV/GlobalISel/regbankselect/rvv/sub.mir
Labels: backend:RISC-V, llvm:globalisel

#80323 [libc] fix stdbit include test when not all entrypoints are available
  libc/test/include/stdbit_test.cpp
Labels: libc

#80226 [BOLT] Adjust section sizes based on file offsets
  bolt/lib/Rewrite/RewriteInstance.cpp
  bolt/test/X86/phdr-out-of-order.test
Labels: BOLT

#80228 [BOLT] Enable re-writing of Linux kernel binary
  bolt/lib/Rewrite/RewriteInstance.cpp
  bolt/test/X86/linux-orc.s
Labels: BOLT

#80332 [OpenMP] Fix typo (NFC)
  openmp/libomptarget/plugins-nextgen/CMakeLists.txt
Labels: openmp:libomptarget

#80330 [clang-tidy] Remove enforcement of rule C.48 from cppcoreguidelines-prefer-member-init
  clang-tools-extra/clang-tidy/cppcoreguidelines/PreferMemberInitializerCheck.cpp
  clang-tools-extra/clang-tidy/cppcoreguidelines/PreferMemberInitializerCheck.h
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/cppcoreguidelines/prefer-member-initializer.rst
  clang-tools-extra/test/clang-tidy/checkers/cppcoreguidelines/prefer-member-initializer-modernize-use-default-member-init-assignment.cpp
  clang-tools-extra/test/clang-tidy/checkers/cppcoreguidelines/prefer-member-initializer-modernize-use-default-member-init.cpp
Labels: clang-tools-extra, clang-tidy

#80078 [libc] add bazel support for most of unistd
  libc/test/src/stdio/remove_test.cpp
  libc/test/src/sys/stat/mkdirat_test.cpp
  libc/test/src/unistd/CMakeLists.txt
  libc/test/src/unistd/access_test.cpp
  libc/test/src/unistd/chdir_test.cpp
  libc/test/src/unistd/dup2_test.cpp
  libc/test/src/unistd/dup3_test.cpp
  libc/test/src/unistd/dup_test.cpp
  libc/test/src/unistd/fchdir_test.cpp
  libc/test/src/unistd/ftruncate_test.cpp
  libc/test/src/unistd/isatty_test.cpp
  libc/test/src/unistd/link_test.cpp
  libc/test/src/unistd/linkat_test.cpp
  libc/test/src/unistd/lseek_test.cpp
  libc/test/src/unistd/pread_pwrite_test.cpp
  libc/test/src/unistd/read_write_test.cpp
  libc/test/src/unistd/readlink_test.cpp
  libc/test/src/unistd/readlinkat_test.cpp
  libc/test/src/unistd/rmdir_test.cpp
  libc/test/src/unistd/symlink_test.cpp
  libc/test/src/unistd/symlinkat_test.cpp
  libc/test/src/unistd/truncate_test.cpp
  libc/test/src/unistd/unlink_test.cpp
  libc/test/src/unistd/unlinkat_test.cpp
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
  utils/bazel/llvm-project-overlay/libc/test/src/stdio/BUILD.bazel
  utils/bazel/llvm-project-overlay/libc/test/src/unistd/BUILD.bazel
Labels: libc

#79520 [SHT_LLVM_BB_ADDR_MAP][llvm-readobj] Implements llvm-readobj handling for PGOAnalysisMap.
  llvm/test/tools/llvm-readobj/ELF/bb-addr-map-pgo-analysis-map.test
  llvm/tools/llvm-readobj/ELFDumper.cpp
Labels: tools:llvm-readobj/readelf, llvm:binary-utilities

#74729 [AArch64][PAC] Expand blend(reg, imm) operation in aarch64-pauth pass
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/lib/Target/AArch64/AArch64PointerAuth.cpp
  llvm/test/CodeGen/AArch64/ptrauth-pseudo-instructions.mir
Labels: backend:AArch64

#80317 [flang][openacc][openmp] Use #0 from hlfir.declare value when generating bound ops
  flang/lib/Lower/DirectivesCommon.h
  flang/test/Lower/OpenACC/acc-bounds.f90
  flang/test/Lower/OpenACC/acc-data-operands.f90
  flang/test/Lower/OpenACC/acc-data.f90
  flang/test/Lower/OpenACC/acc-declare.f90
  flang/test/Lower/OpenACC/acc-enter-data.f90
  flang/test/Lower/OpenACC/acc-exit-data.f90
  flang/test/Lower/OpenACC/acc-host-data.f90
  flang/test/Lower/OpenACC/acc-kernels-loop.f90
  flang/test/Lower/OpenACC/acc-kernels.f90
  flang/test/Lower/OpenACC/acc-parallel-loop.f90
  flang/test/Lower/OpenACC/acc-parallel.f90
  flang/test/Lower/OpenACC/acc-private.f90
  flang/test/Lower/OpenACC/acc-reduction.f90
  flang/test/Lower/OpenACC/acc-serial-loop.f90
  flang/test/Lower/OpenACC/acc-serial.f90
  flang/test/Lower/OpenACC/acc-update.f90
  flang/test/Lower/OpenMP/array-bounds.f90
  flang/test/Lower/OpenMP/target.f90
Labels: flang, flang:fir-hlfir, flang:openmp, openacc

#80220 [analyzer][HTMLRewriter] Cache partial rewrite results.
  clang/include/clang/Rewrite/Core/HTMLRewrite.h
  clang/lib/Rewrite/HTMLRewrite.cpp
  clang/lib/StaticAnalyzer/Core/HTMLDiagnostics.cpp
  clang/test/Analysis/html_diagnostics/counter.c
Labels: clang, clang:static analyzer

#80329 [TTI]Add support for strided loads/stores.
  llvm/include/llvm/Analysis/TargetTransformInfo.h
  llvm/include/llvm/Analysis/TargetTransformInfoImpl.h
  llvm/lib/Analysis/TargetTransformInfo.cpp
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.cpp
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.h
Labels: backend:RISC-V, llvm:analysis

#80337 [libc][stdbit] fix return types
  libc/include/llvm-libc-macros/stdbit-macros.h
  libc/spec/stdc.td
  libc/src/stdbit/stdc_leading_ones_uc.cpp
  libc/src/stdbit/stdc_leading_ones_uc.h
  libc/src/stdbit/stdc_leading_ones_ul.cpp
  libc/src/stdbit/stdc_leading_ones_ul.h
  libc/src/stdbit/stdc_leading_ones_ull.cpp
  libc/src/stdbit/stdc_leading_ones_ull.h
  libc/src/stdbit/stdc_leading_ones_us.cpp
  libc/src/stdbit/stdc_leading_ones_us.h
  libc/src/stdbit/stdc_leading_zeros_uc.cpp
  libc/src/stdbit/stdc_leading_zeros_uc.h
  libc/src/stdbit/stdc_leading_zeros_ul.cpp
  libc/src/stdbit/stdc_leading_zeros_ul.h
  libc/src/stdbit/stdc_leading_zeros_ull.cpp
  libc/src/stdbit/stdc_leading_zeros_ull.h
  libc/src/stdbit/stdc_leading_zeros_us.cpp
  libc/src/stdbit/stdc_leading_zeros_us.h
  libc/test/include/stdbit_test.cpp
  libc/test/src/stdbit/stdc_leading_ones_uc_test.cpp
  libc/test/src/stdbit/stdc_leading_ones_ui_test.cpp
  libc/test/src/stdbit/stdc_leading_ones_ul_test.cpp
  libc/test/src/stdbit/stdc_leading_ones_ull_test.cpp
  libc/test/src/stdbit/stdc_leading_ones_us_test.cpp
  libc/test/src/stdbit/stdc_leading_zeros_uc_test.cpp
  libc/test/src/stdbit/stdc_leading_zeros_ul_test.cpp
  libc/test/src/stdbit/stdc_leading_zeros_ull_test.cpp
  libc/test/src/stdbit/stdc_leading_zeros_us_test.cpp
Labels: libc

#80242 [StackSlotColoring] Ignore non-spill objects in RemoveDeadStores.
  llvm/lib/CodeGen/StackSlotColoring.cpp
  llvm/test/CodeGen/RISCV/pr80052.mir
  llvm/test/CodeGen/X86/pr30821.mir
Labels: backend:X86

#80326 [mlir][sparse] external entry method wrapper for sparse tensors
  mlir/include/mlir/Dialect/SparseTensor/Transforms/Passes.h
  mlir/include/mlir/Dialect/SparseTensor/Transforms/Passes.td
  mlir/lib/Dialect/SparseTensor/Transforms/CMakeLists.txt
  mlir/lib/Dialect/SparseTensor/Transforms/SparseAssembler.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorPasses.cpp
  mlir/test/Dialect/SparseTensor/external.mlir
Labels: mlir:sparse, mlir

#79544 [lldb] Fix a crash when using .dwp files and make type lookup reliable with the index cache
  lldb/source/Plugins/SymbolFile/DWARF/DWARFDebugInfo.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DWARFDebugInfo.h
  lldb/source/Plugins/SymbolFile/DWARF/DWARFUnit.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DWARFUnit.h
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.cpp
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.h
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARFDwo.cpp
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARFDwo.h
  lldb/test/Shell/SymbolFile/DWARF/x86/dwp-separate-debug-file.cpp
Labels: lldb

#79730 [lld-macho] icf objc stubs
  lld/MachO/Arch/ARM64.cpp
  lld/MachO/Arch/ARM64Common.h
  lld/MachO/Arch/ARM64_32.cpp
  lld/MachO/Arch/X86_64.cpp
  lld/MachO/SyntheticSections.cpp
  lld/MachO/SyntheticSections.h
  lld/MachO/Target.h
  lld/MachO/Writer.cpp
  lld/test/MachO/objc-selrefs.s
  lld/test/MachO/x86-64-objc-stubs.s
Labels: lld, lld:MachO

#80224 [libc] Support epoll_wait using epoll_pwait
  libc/src/sys/epoll/linux/epoll_wait.cpp
Labels: libc

#80355 [mlir][sparse] support non-id map for [Dis]assembleOp
  mlir/lib/Dialect/SparseTensor/IR/SparseTensorDialect.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseReinterpretMap.cpp
  mlir/test/Dialect/SparseTensor/sparse_reinterpret_map.mlir
Labels: mlir:sparse, mlir

#80207 [mlir][sparse] Support pretty print to debug sparse iteration.
  mlir/lib/Dialect/SparseTensor/Transforms/SparseTensorPasses.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/Sparsification.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/Utils/CodegenEnv.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/Utils/CodegenEnv.h
  mlir/lib/Dialect/SparseTensor/Transforms/Utils/LoopEmitter.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/Utils/LoopEmitter.h
  mlir/lib/Dialect/SparseTensor/Transforms/Utils/SparseTensorLevel.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/Utils/SparseTensorLevel.h
  mlir/test/Dialect/SparseTensor/sparse_conv_2d_slice_based.mlir
Labels: mlir:sparse, mlir

#80243 [mlir][spirv][memref] Calculate alignment for `PhysicalStorageBuffer`s
  mlir/lib/Conversion/MemRefToSPIRV/MemRefToSPIRV.cpp
  mlir/test/Conversion/MemRefToSPIRV/memref-to-spirv.mlir
Labels: mlir:spirv, mlir

#80362 [libc][bazel] disable epoll_pwait2
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
  utils/bazel/llvm-project-overlay/libc/test/src/sys/epoll/BUILD.bazel
Labels: libc

#80341 [Github] Add git to actions container image
  .github/workflows/containers/github-action-ci/Dockerfile
Labels: github:workflow

#79589 [AArch64][MachinePipeliner] Add pipeliner support for AArch64
  llvm/lib/Target/AArch64/AArch64InstrInfo.cpp
  llvm/lib/Target/AArch64/AArch64InstrInfo.h
  llvm/lib/Target/AArch64/AArch64Subtarget.cpp
  llvm/lib/Target/AArch64/AArch64Subtarget.h
  llvm/lib/Target/AArch64/AArch64TargetMachine.cpp
  llvm/test/CodeGen/AArch64/sms-acceptable-loop1.mir
  llvm/test/CodeGen/AArch64/sms-acceptable-loop2.mir
  llvm/test/CodeGen/AArch64/sms-acceptable-loop3.mir
  llvm/test/CodeGen/AArch64/sms-acceptable-loop4.mir
  llvm/test/CodeGen/AArch64/sms-unacceptable-loop1.mir
  llvm/test/CodeGen/AArch64/sms-unacceptable-loop2.mir
  llvm/test/CodeGen/AArch64/sms-unpipeline-insts1.mir
  llvm/test/CodeGen/AArch64/sms-unpipeline-insts2.mir
Labels: backend:AArch64

#80339 [TTI] Use Register in isLoadFromStackSlot and isStoreToStackSlot [nfc]
  llvm/include/llvm/CodeGen/TargetInstrInfo.h
  llvm/lib/Target/AArch64/AArch64InstrInfo.cpp
  llvm/lib/Target/AArch64/AArch64InstrInfo.h
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
  llvm/lib/Target/ARC/ARCInstrInfo.cpp
  llvm/lib/Target/ARC/ARCInstrInfo.h
  llvm/lib/Target/ARM/ARMBaseInstrInfo.cpp
  llvm/lib/Target/ARM/ARMBaseInstrInfo.h
  llvm/lib/Target/AVR/AVRInstrInfo.cpp
  llvm/lib/Target/AVR/AVRInstrInfo.h
  llvm/lib/Target/CSKY/CSKYInstrInfo.cpp
  llvm/lib/Target/CSKY/CSKYInstrInfo.h
  llvm/lib/Target/Hexagon/HexagonInstrInfo.cpp
  llvm/lib/Target/Hexagon/HexagonInstrInfo.h
  llvm/lib/Target/Lanai/LanaiInstrInfo.cpp
  llvm/lib/Target/Lanai/LanaiInstrInfo.h
  llvm/lib/Target/Mips/Mips16InstrInfo.cpp
  llvm/lib/Target/Mips/Mips16InstrInfo.h
  llvm/lib/Target/Mips/MipsSEInstrInfo.cpp
  llvm/lib/Target/Mips/MipsSEInstrInfo.h
  llvm/lib/Target/NVPTX/NVPTXInstrInfo.h
  llvm/lib/Target/PowerPC/PPCInstrInfo.cpp
  llvm/lib/Target/PowerPC/PPCInstrInfo.h
  llvm/lib/Target/RISCV/RISCVInstrInfo.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfo.h
  llvm/lib/Target/Sparc/SparcInstrInfo.cpp
  llvm/lib/Target/Sparc/SparcInstrInfo.h
  llvm/lib/Target/SystemZ/SystemZInstrInfo.cpp
  llvm/lib/Target/SystemZ/SystemZInstrInfo.h
  llvm/lib/Target/VE/VEInstrInfo.cpp
  llvm/lib/Target/VE/VEInstrInfo.h
  llvm/lib/Target/X86/X86FrameLowering.cpp
  llvm/lib/Target/X86/X86InstrInfo.cpp
  llvm/lib/Target/X86/X86InstrInfo.h
  llvm/lib/Target/XCore/XCoreInstrInfo.cpp
  llvm/lib/Target/XCore/XCoreInstrInfo.h
Labels: backend:ARM, backend:AArch64, backend:AMDGPU, backend:RISC-V, backend:Sparc, backend:X86

#79399 [RISCV] Add -march support for many of the S extensions mentioned in the profile specification.
  clang/test/Preprocessor/riscv-target-features.c
  llvm/docs/RISCVUsage.rst
  llvm/lib/Support/RISCVISAInfo.cpp
  llvm/lib/Target/RISCV/RISCVFeatures.td
  llvm/test/CodeGen/RISCV/attributes.ll
  llvm/test/MC/RISCV/attribute-arch.s
  llvm/unittests/Support/RISCVISAInfoTest.cpp
Labels: clang, backend:RISC-V, mc, llvm:support

#80380 [BOLT] Remove duplicate expression
  bolt/lib/Target/X86/X86MCPlusBuilder.cpp
Labels: BOLT

#80386 [MachinePipeliner] Fix missing requirements for tests
  llvm/test/CodeGen/AArch64/sms-acceptable-loop1.mir
  llvm/test/CodeGen/AArch64/sms-acceptable-loop2.mir
  llvm/test/CodeGen/AArch64/sms-acceptable-loop3.mir
  llvm/test/CodeGen/AArch64/sms-acceptable-loop4.mir
  llvm/test/CodeGen/AArch64/sms-unacceptable-loop1.mir
  llvm/test/CodeGen/AArch64/sms-unacceptable-loop2.mir
  llvm/test/CodeGen/AArch64/sms-unpipeline-insts1.mir
  llvm/test/CodeGen/AArch64/sms-unpipeline-insts2.mir
Labels: backend:AArch64

#79276 [AArch64][SME] Implement inline-asm clobbers for za/zt0
  clang/lib/Basic/Targets/AArch64.cpp
  clang/test/CodeGen/aarch64-inline-asm.c
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64RegisterInfo.cpp
  llvm/test/CodeGen/AArch64/aarch64-za-clobber.ll
Labels: clang, backend:AArch64, clang:frontend

#78095 [clang] Update documentation for `#pragma diagnostic`
  clang/docs/UsersManual.rst
Labels: documentation, clang, extension:gnu

#80296 [TLI][AArch64] Adjust TLI mappings to vector functions taking linear pointers
  llvm/include/llvm/Analysis/VecFuncs.def
  llvm/test/Transforms/LoopVectorize/AArch64/veclib-function-calls.ll
  llvm/test/Transforms/Util/add-TLI-mappings.ll
Labels: llvm:analysis, llvm:transforms

#80262 [mlir][IR] Notify about block insertion when cloning an op
  mlir/lib/IR/Builders.cpp
  mlir/test/Transforms/test-strict-pattern-driver.mlir
  mlir/test/lib/Dialect/Test/TestPatterns.cpp
Labels: mlir:core, mlir

#80278 [mlir][IR] Do not trigger `notifyOperationInserted` for unlinked ops
  mlir/include/mlir/IR/Builders.h
  mlir/lib/IR/Builders.cpp
Labels: mlir:core, mlir

#66871 [mlir][IR] Send notifications for `cloneRegionBefore`
  mlir/include/mlir/IR/Builders.h
  mlir/include/mlir/IR/PatternMatch.h
  mlir/include/mlir/Transforms/DialectConversion.h
  mlir/lib/IR/Builders.cpp
  mlir/lib/IR/PatternMatch.cpp
  mlir/lib/Transforms/Utils/DialectConversion.cpp
  mlir/test/Transforms/test-legalizer-full.mlir
  mlir/test/Transforms/test-strict-pattern-driver.mlir
  mlir/test/lib/Dialect/Test/TestPatterns.cpp
Labels: mlir:core, mlir

#80158 [mlir][memref] `memref.subview`: Verify result strides with rank reductions
  mlir/lib/Dialect/MemRef/IR/MemRefOps.cpp
  mlir/lib/Dialect/MemRef/Transforms/ExpandStridedMetadata.cpp
  mlir/test/Dialect/MemRef/canonicalize.mlir
  mlir/test/Dialect/MemRef/fold-memref-alias-ops.mlir
  mlir/test/Dialect/MemRef/invalid.mlir
Labels: mlir, mlir:memref

#80293 [Clang][AArch64] Add missing SME macros
  clang/lib/Basic/Targets/AArch64.cpp
  clang/lib/Basic/Targets/AArch64.h
  clang/test/Preprocessor/aarch64-target-features.c
  clang/test/Preprocessor/init-aarch64.c
Labels: clang, backend:AArch64, clang:frontend

#78966 CoverageMappingWriter: Emit `Decision` before `Expansion`
  llvm/lib/ProfileData/Coverage/CoverageMappingWriter.cpp
  llvm/unittests/ProfileData/CoverageMappingTest.cpp
Labels: PGO

#80058 [Preprocessor] Fix __has_builtin for CPU ID functions
  clang/lib/Lex/PPMacroExpansion.cpp
  clang/test/Preprocessor/has_builtin_cpuid.c
Labels: clang, clang:frontend

#80281 [SCEVExpander] Do not reuse disjoint or
  llvm/lib/Transforms/Utils/ScalarEvolutionExpander.cpp
  llvm/test/Transforms/IndVarSimplify/pr79861.ll
Labels: llvm:transforms

#80400 [MLIR][Vector] Implement memory effect for print
  mlir/include/mlir/Dialect/Vector/IR/VectorOps.td
  mlir/test/Dialect/Bufferization/Transforms/OwnershipBasedBufferDeallocation/dealloc-other.mlir
Labels: mlir:vectorops, mlir, mlir:bufferization, mlir:vector

#80148 [mlir][ArmSME] Fold extracts from 3D create_masks of SME-like masks
  mlir/lib/Dialect/ArmSME/Transforms/VectorLegalization.cpp
  mlir/test/Dialect/ArmSME/vector-legalization.mlir
Labels: mlir, mlir:sme

#80023 [clang] Fix a possible out-of-bounds read
  clang/lib/Frontend/TextDiagnostic.cpp
Labels: clang, clang:frontend

#80282 [libc++] Remove transitive <locale> include from <vector>
  libcxx/include/__format/formatter_bool.h
  libcxx/include/__format/formatter_integral.h
  libcxx/include/vector
  libcxx/test/libcxx/transitive_includes/cxx03.csv
  libcxx/test/libcxx/transitive_includes/cxx11.csv
  libcxx/test/libcxx/transitive_includes/cxx14.csv
  libcxx/test/libcxx/transitive_includes/cxx17.csv
  libcxx/test/libcxx/transitive_includes/cxx20.csv
  libcxx/test/libcxx/transitive_includes/cxx23.csv
  libcxx/test/libcxx/transitive_includes/cxx26.csv
Labels: libc++

#79989 [X86] Add i8 CTPOP lowering using i32 MUL
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/ctpop-combine.ll
  llvm/test/CodeGen/X86/popcnt.ll
Labels: backend:X86, llvm:SelectionDAG

#80036 [AArch64][GlobalISel] Legalize BSWAP for Vector Types
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/lib/Target/AArch64/GISel/AArch64InstructionSelector.cpp
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/legalize-bswap.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-bswap.mir
  llvm/test/CodeGen/AArch64/bswap.ll
Labels: backend:AArch64, llvm:globalisel, llvm:SelectionDAG

#80413 [AMDGPU] Reduce duplication in SOP instruction definitions. NFCI.
  llvm/lib/Target/AMDGPU/SOPInstructions.td
Labels: backend:AMDGPU

#80295 [Clang][AArch64] Emit 'unimplemented' diagnostic for SME
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaChecking.cpp
  clang/test/Sema/aarch64-sme-func-attrs.c
Labels: clang, clang:frontend

#80303 Reapply "[AMDGPU] Add InstCombine rule for ballot.i64 intrinsic in wave32 mode."
  clang/test/CodeGenOpenCL/builtins-amdgcn-wave32.cl
  llvm/lib/Target/AMDGPU/AMDGPUISelDAGToDAG.cpp
  llvm/lib/Target/AMDGPU/AMDGPUInstCombineIntrinsic.cpp
  llvm/test/Transforms/InstCombine/AMDGPU/amdgcn-intrinsics.ll
Labels: clang, backend:AMDGPU, llvm:transforms

#80412 [flang] sanitize set_length in lowering
  flang/lib/Lower/ConvertExprToHLFIR.cpp
  flang/test/Lower/HLFIR/array-ctor-character.f90
Labels: flang, flang:fir-hlfir

#78291 [Flang][MLIR][OpenMP] Use function-attached target attributes for OpenMP lowering
  flang/include/flang/Tools/CrossToolHelpers.h
  flang/lib/Frontend/FrontendActions.cpp
  flang/test/Lower/OpenMP/FIR/target_cpu_features.f90
  flang/test/Lower/OpenMP/target_cpu_features.f90
  mlir/include/mlir/Dialect/OpenMP/OpenMPOps.td
  mlir/include/mlir/Dialect/OpenMP/OpenMPOpsInterfaces.td
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/omptarget-parallel-llvm.mlir
  mlir/test/Target/LLVMIR/omptarget-target-cpu-features.mlir
Labels: mlir:llvm, flang:driver, mlir, flang, mlir:openmp, flang:fir-hlfir, flang:openmp

#80379 AMDGPU/NFC: Add predicate for supporting ds_add_f64
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPULegalizerInfo.cpp
  llvm/lib/Target/AMDGPU/DSInstructions.td
  llvm/lib/Target/AMDGPU/GCNSubtarget.h
Labels: backend:AMDGPU

#79433 [MemProf] Fix when CallStackTrie has a single chain to leaf with multi alloc type
  llvm/lib/Analysis/MemoryProfileInfo.cpp
  llvm/test/Transforms/PGOProfile/Inputs/memprof_loop_unroll.exe
  llvm/test/Transforms/PGOProfile/Inputs/memprof_loop_unroll.memprofraw
  llvm/test/Transforms/PGOProfile/Inputs/update_memprof_inputs.sh
  llvm/test/Transforms/PGOProfile/memprof_loop_unroll.ll
Labels: PGO, llvm:analysis, llvm:transforms

#80442 Fix clang crash when printing highlighted code in diagnostic (after #66514)
  clang/lib/Frontend/TextDiagnostic.cpp
Labels: clang

#80322 [AMDGPU] Diagnose unaligned atomic
  clang/lib/Driver/ToolChains/AMDGPU.cpp
  clang/lib/Driver/ToolChains/AMDGPU.h
  clang/lib/Driver/ToolChains/AMDGPUOpenMP.cpp
  clang/lib/Driver/ToolChains/HIPAMD.cpp
  clang/test/Driver/amdgpu-openmp-toolchain.c
  clang/test/Driver/amdgpu-toolchain-opencl.cl
  clang/test/Driver/hip-options.hip
Labels: clang, backend:AMDGPU, clang:driver, clang:openmp

#76657 [libc++] Optimize vector growing of trivially relocatable types
  libcxx/benchmarks/ContainerBenchmarks.h
  libcxx/benchmarks/vector_operations.bench.cpp
  libcxx/docs/ReleaseNotes/19.rst
  libcxx/include/CMakeLists.txt
  libcxx/include/__memory/uninitialized_algorithms.h
  libcxx/include/__memory/unique_ptr.h
  libcxx/include/__type_traits/is_trivially_relocatable.h
  libcxx/include/libcxx.imp
  libcxx/include/module.modulemap.in
  libcxx/include/string
  libcxx/include/vector
  libcxx/test/libcxx/type_traits/is_trivially_relocatable.compile.pass.cpp
  libcxx/test/support/count_new.h
Labels: libc++, performance

#80426 [libc][NFC] Simplify logic in `sqrt`
  libc/src/__support/FPUtil/generic/sqrt.h
  libc/src/__support/FPUtil/generic/sqrt_80_bit_long_double.h
Labels: libc

#80304 [LSR][term-fold] Adjust expansion budget based on trip count
  llvm/lib/Transforms/Scalar/LoopStrengthReduce.cpp
  llvm/test/Transforms/LoopStrengthReduce/lsr-term-fold.ll
Labels: backend:RISC-V, llvm:transforms

#80360 [TTI] Add costing for vp.strided.load and vp.strided.store
  llvm/include/llvm/CodeGen/BasicTTIImpl.h
  llvm/test/Analysis/CostModel/RISCV/gep.ll
  llvm/test/Analysis/CostModel/RISCV/rvv-intrinsics.ll
Labels: llvm:analysis

#78422 [SelectionDAG] Use unaligned store to move AVX registers onto stack for `extractelement`
  llvm/lib/CodeGen/SelectionDAG/LegalizeDAG.cpp
  llvm/test/CodeGen/X86/unaligned_extract_from_vector_through_stack.ll
Labels: backend:AArch64, backend:X86, llvm:SelectionDAG

#78456 [SPIR-V] add convergence region analysis
  llvm/lib/Target/SPIRV/Analysis/CMakeLists.txt
  llvm/lib/Target/SPIRV/Analysis/SPIRVConvergenceRegionAnalysis.cpp
  llvm/lib/Target/SPIRV/Analysis/SPIRVConvergenceRegionAnalysis.h
  llvm/lib/Target/SPIRV/CMakeLists.txt
  llvm/lib/Target/SPIRV/SPIRV.h
  llvm/lib/Target/SPIRV/SPIRVTargetMachine.cpp
  llvm/unittests/Target/SPIRV/CMakeLists.txt
  llvm/unittests/Target/SPIRV/SPIRVConvergenceRegionAnalysisTests.cpp
Labels: backend:SPIR-V

#80359 [Clang][Sema] Correctly look up primary template for variable template specializations
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/test/CXX/dcl.decl/dcl.meaning/dcl.meaning.general/p3.cpp
Labels: clang, clang:frontend

#78595 [Clang][Sema] Diagnose use of template keyword after declarative nested-name-specifiers
  clang/docs/ReleaseNotes.rst
  clang/include/clang/AST/TypeLoc.h
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Sema/Sema.h
  clang/lib/AST/TypeLoc.cpp
  clang/lib/Parse/ParseDecl.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/TreeTransform.h
  clang/test/CXX/drs/dr23xx.cpp
  clang/test/CXX/drs/dr7xx.cpp
  clang/test/CXX/temp/temp.decls/temp.class/temp.mem.func/p1.cpp
  clang/test/CXX/temp/temp.names/p5.cpp
  clang/test/CXX/temp/temp.spec/part.spec.cpp
  clang/test/SemaCXX/static-assert.cpp
  clang/test/SemaTemplate/class-template-spec.cpp
Labels: clang, clang:frontend

#80436 [Clang][libc++] Implement __is_nothrow_convertible and use it in libc++
  clang/docs/LanguageExtensions.rst
  clang/include/clang/Basic/TokenKinds.def
  clang/lib/Sema/SemaExprCXX.cpp
  clang/test/SemaCXX/type-traits.cpp
  libcxx/include/__type_traits/is_nothrow_convertible.h
Labels: clang, libc++, clang:frontend

#80255 [AArch64] Support optional constant offset for constraint "S"
  clang/test/Sema/inline-asm-validate-aarch64.c
  llvm/docs/LangRef.rst
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/inlineasm-S-constraint.ll
Labels: clang, backend:AArch64, llvm:ir

#80219 [Object][Wasm] Move WasmSymbolInfo directly into WasmSymbol (NFC)
  lld/wasm/InputFiles.cpp
  llvm/include/llvm/BinaryFormat/Wasm.h
  llvm/include/llvm/Object/Wasm.h
  llvm/lib/Object/WasmObjectFile.cpp
  llvm/tools/obj2yaml/wasm2yaml.cpp
Labels: lld, backend:WebAssembly, lld:wasm, objectyaml, llvm:binary-utilities

#76291 [libc++][format] Improves tests.
  libcxx/test/std/utilities/format/format.formatter/format.formatter.spec/formatter.bool.pass.cpp
  libcxx/test/std/utilities/format/format.formatter/format.formatter.spec/formatter.c_string.pass.cpp
  libcxx/test/std/utilities/format/format.formatter/format.formatter.spec/formatter.char.pass.cpp
  libcxx/test/std/utilities/format/format.formatter/format.formatter.spec/formatter.char_array.pass.cpp
  libcxx/test/std/utilities/format/format.formatter/format.formatter.spec/formatter.floating_point.pass.cpp
  libcxx/test/std/utilities/format/format.formatter/format.formatter.spec/formatter.handle.pass.cpp
  libcxx/test/std/utilities/format/format.formatter/format.formatter.spec/formatter.pointer.pass.cpp
  libcxx/test/std/utilities/format/format.formatter/format.formatter.spec/formatter.signed_integral.pass.cpp
  libcxx/test/std/utilities/format/format.formatter/format.formatter.spec/formatter.string.pass.cpp
  libcxx/test/std/utilities/format/format.formatter/format.formatter.spec/formatter.unsigned_integral.pass.cpp
Labels: libc++

#80363 [flang][docs] Fix broken flang website
  flang/docs/AliasingAnalysisFIR.md
  flang/docs/FIRArrayOperations.md
  flang/docs/FlangDriver.md
  flang/docs/HighLevelFIR.md
  flang/docs/OpenACC-descriptor-management.md
  flang/docs/Overview.md
  flang/docs/ParameterizedDerivedTypes.md
  flang/docs/PolymorphicEntities.md
  flang/docs/ProcedurePointer.md
  flang/docs/conf.py
  flang/docs/index.md
Labels: flang

#80372 [GISEL] More accounting for scalable vectors when operating on LLTs
  llvm/lib/CodeGen/GlobalISel/CallLowering.cpp
  llvm/lib/CodeGen/GlobalISel/Utils.cpp
  llvm/lib/CodeGen/MachineVerifier.cpp
Labels: llvm:globalisel

#78216 [workflows] Split pr-code-format into two parts to make it more secure
  .github/workflows/issue-write.yml
  .github/workflows/pr-code-format.yml
  llvm/utils/git/code-format-helper.py
Labels: github:workflow

#78879 [CMake][PGO] Add option for using an external project to generate profile data
  clang/utils/perf-training/CMakeLists.txt
  clang/utils/perf-training/perf-helper.py
  llvm/docs/AdvancedBuilds.rst
Labels: clang

#80470 [mlir][sparse] support sparse dilated convolution.
  mlir/lib/Dialect/SparseTensor/Transforms/Utils/LoopEmitter.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/Utils/SparseTensorLevel.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/Utils/SparseTensorLevel.h
  mlir/test/Integration/Dialect/SparseTensor/CPU/sparse_dilated_conv_2d_nhwc_hwcf.mlir
Labels: mlir:sparse, mlir

#80229 [LLVM][DWARF] Chnage order for .debug_names abbrev print out
  llvm/include/llvm/DebugInfo/DWARF/DWARFAcceleratorTable.h
  llvm/lib/DebugInfo/DWARF/DWARFAcceleratorTable.cpp
Labels: debuginfo

#80333 [clang-tidy] Remove check-specific HeaderFileExtensions and Implement…
  clang-tools-extra/clang-tidy/bugprone/DynamicStaticInitializersCheck.cpp
  clang-tools-extra/clang-tidy/bugprone/DynamicStaticInitializersCheck.h
  clang-tools-extra/clang-tidy/bugprone/SuspiciousIncludeCheck.cpp
  clang-tools-extra/clang-tidy/bugprone/SuspiciousIncludeCheck.h
  clang-tools-extra/clang-tidy/google/GlobalNamesInHeadersCheck.cpp
  clang-tools-extra/clang-tidy/google/GlobalNamesInHeadersCheck.h
  clang-tools-extra/clang-tidy/google/UnnamedNamespaceInHeaderCheck.cpp
  clang-tools-extra/clang-tidy/google/UnnamedNamespaceInHeaderCheck.h
  clang-tools-extra/clang-tidy/llvm/HeaderGuardCheck.h
  clang-tools-extra/clang-tidy/misc/DefinitionsInHeadersCheck.cpp
  clang-tools-extra/clang-tidy/misc/DefinitionsInHeadersCheck.h
  clang-tools-extra/clang-tidy/misc/UnusedUsingDeclsCheck.cpp
  clang-tools-extra/clang-tidy/misc/UseAnonymousNamespaceCheck.cpp
  clang-tools-extra/clang-tidy/misc/UseAnonymousNamespaceCheck.h
  clang-tools-extra/clang-tidy/utils/HeaderGuard.cpp
  clang-tools-extra/clang-tidy/utils/HeaderGuard.h
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/bugprone/suspicious-include.rst
  clang-tools-extra/docs/clang-tidy/checks/google/build-namespaces.rst
  clang-tools-extra/docs/clang-tidy/checks/google/global-names-in-headers.rst
  clang-tools-extra/docs/clang-tidy/checks/llvm/header-guard.rst
  clang-tools-extra/docs/clang-tidy/checks/misc/definitions-in-headers.rst
  clang-tools-extra/docs/clang-tidy/checks/misc/unused-using-decls.rst
  clang-tools-extra/docs/clang-tidy/checks/misc/use-anonymous-namespace.rst
Labels: clang-tools-extra, clang-tidy

#80476 [Clang] Allow __is_nothrow_convertible to be used as an identifier
  clang/lib/Parse/ParseDeclCXX.cpp
  clang/test/SemaCXX/libstdcxx_is_nothrow_convertible_hack.cpp
Labels: clang, clang:frontend

#80324 [NFC][PassManager] Remove PreservedAnalysesT template parameter
  llvm/include/llvm/Analysis/CGSCCPassManager.h
  llvm/include/llvm/CodeGen/MachinePassManager.h
  llvm/include/llvm/IR/Analysis.h
  llvm/include/llvm/IR/PassManager.h
  llvm/include/llvm/IR/PassManagerInternal.h
  llvm/include/llvm/Transforms/Scalar/LoopPassManager.h
Labels: backend:X86, llvm:ir, llvm:analysis, llvm:transforms

#80440 [ARM] Switch to soft promoting half types.
  llvm/lib/Target/ARM/ARMISelLowering.cpp
  llvm/lib/Target/ARM/ARMISelLowering.h
  llvm/test/CodeGen/ARM/aes-erratum-fix.ll
  llvm/test/CodeGen/ARM/arm-half-promote.ll
  llvm/test/CodeGen/ARM/fp16-args.ll
  llvm/test/CodeGen/ARM/fp16-instructions.ll
  llvm/test/CodeGen/ARM/fp16-promote.ll
  llvm/test/CodeGen/ARM/llvm.exp10.ll
  llvm/test/CodeGen/ARM/llvm.frexp.ll
  llvm/test/CodeGen/ARM/vecreduce-fadd-legalization-soft-float.ll
  llvm/test/CodeGen/ARM/vecreduce-fadd-legalization-strict.ll
  llvm/test/CodeGen/ARM/vecreduce-fmax-legalization-soft-float.ll
  llvm/test/CodeGen/ARM/vecreduce-fmin-legalization-soft-float.ll
  llvm/test/CodeGen/ARM/vecreduce-fmul-legalization-soft-float.ll
  llvm/test/CodeGen/ARM/vecreduce-fmul-legalization-strict.ll
  llvm/test/CodeGen/Thumb2/mve-vabd.ll
Labels: backend:ARM

#80232 [mlir][arith] Improve `extf` folder
  mlir/lib/Dialect/Arith/IR/ArithOps.cpp
  mlir/test/Dialect/Arith/canonicalize.mlir
Labels: mlir, mlir:arith

#80439 [Clang] Fix a crash when dumping a pack indexing type.
  clang/lib/AST/TypePrinter.cpp
  clang/test/AST/ast-dump-pack-indexing-crash.cpp
Labels: clang, clang:frontend

#80492 [libc] add doc for search.h
  libc/docs/index.rst
  libc/docs/search.rst
Labels: libc

#80449 [openmp] Add a dependency on the separate import library
  openmp/runtime/src/CMakeLists.txt
Labels: cmake, openmp, openmp:libomp

#80389 [mlir][openacc][NFC] Add information about getters for operands with device_type
  mlir/include/mlir/Dialect/OpenACC/OpenACCOps.td
Labels: mlir, mlir:openacc, openacc

#80516 [flang][openacc] Do not loose attributes on folding
  flang/lib/Optimizer/Dialect/FIROps.cpp
  flang/test/Fir/OpenACC/propagate-attr-folding.fir
Labels: flang, flang:fir-hlfir, openacc

#80487 [MemCpyOpt] Handle scalable aggregate types in memmove/memset formation
  llvm/lib/Transforms/Scalar/MemCpyOptimizer.cpp
  llvm/test/Transforms/MemCpyOpt/vscale-crashes.ll
Labels: llvm:transforms

#80106 [X86] Stop custom-widening v2f32 = fpext v2bf16
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/concat-fpext-v2bf16.ll
Labels: backend:X86

#80327 [Clang][Sema] Fix crash with const qualified member operator new
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaType.cpp
  clang/test/SemaCXX/function-type-qual.cpp
Labels: clang, clang:frontend

#80437 [WebAssembly] validate `table.grow` correctly
  llvm/lib/Target/WebAssembly/AsmParser/WebAssemblyAsmTypeCheck.cpp
  llvm/test/MC/WebAssembly/tables.s
  llvm/test/MC/WebAssembly/type-checker-errors.s
Labels: backend:WebAssembly, mc

#80395 [clang][Sema] Populate function template depth at AddTemplateOverloadCandidate
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaOverload.cpp
  clang/test/SemaTemplate/concepts-recovery-expr.cpp
Labels: clang, clang:frontend

#80401 [X86] [iamcu] Fix wrong alignment value for attr (aligned) with -miamcu
  clang/lib/Basic/Targets/X86.h
  clang/test/Sema/attr-aligned.c
Labels: clang, clang:frontend

#79618 [RISCV][clang] Add Zvfbfmin C intrinsics support
  clang/include/clang/Basic/riscv_vector.td
  clang/test/CodeGen/RISCV/rvv-intrinsics-autogenerated/non-policy/non-overloaded/vfncvtbf16.c
  clang/test/CodeGen/RISCV/rvv-intrinsics-autogenerated/non-policy/non-overloaded/vfwcvtbf16.c
  clang/test/CodeGen/RISCV/rvv-intrinsics-autogenerated/non-policy/overloaded/vfncvtbf16.c
  clang/test/CodeGen/RISCV/rvv-intrinsics-autogenerated/non-policy/overloaded/vfwcvtbf16.c
  clang/test/CodeGen/RISCV/rvv-intrinsics-autogenerated/policy/non-overloaded/vfncvtbf16.c
  clang/test/CodeGen/RISCV/rvv-intrinsics-autogenerated/policy/non-overloaded/vfwcvtbf16.c
  clang/test/CodeGen/RISCV/rvv-intrinsics-autogenerated/policy/overloaded/vfncvtbf16.c
  clang/test/CodeGen/RISCV/rvv-intrinsics-autogenerated/policy/overloaded/vfwcvtbf16.c
Labels: clang, backend:RISC-V, clang:frontend

#80424 [libc][NFC] Fix accessor qualifiers for `cpp::expected`
  libc/src/__support/CPP/expected.h
Labels: libc

#80448 [flang] Implement ACOSD and ASIND
  flang/include/flang/Optimizer/Builder/IntrinsicCall.h
  flang/lib/Optimizer/Builder/IntrinsicCall.cpp
  flang/test/Lower/Intrinsics/acosd.f90
  flang/test/Lower/Intrinsics/asind.f90
Labels: flang, flang:fir-hlfir

#80537 [clang-tidy] Fix warnings caused by "new check" template
  clang-tools-extra/clang-tidy/add_new_check.py
Labels: clang-tools-extra, clang-tidy

#80288 [Clang][Sema] fix outline member function template with default align crash
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaTemplateInstantiate.cpp
  clang/test/SemaTemplate/default-parm-init.cpp
Labels: clang, clang:frontend

#80450 [compiler-rt] Remove duplicate MS names for chkstk symbols
  compiler-rt/lib/builtins/i386/chkstk.S
  compiler-rt/lib/builtins/x86_64/chkstk.S
Labels: compiler-rt, compiler-rt:builtins

#80269 [VPlan] Update VPInst::onlyFirstLaneUsed to check users.
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/test/Transforms/LoopVectorize/pr45679-fold-tail-by-masking.ll
  llvm/test/Transforms/LoopVectorize/tail-folding-vectorization-factor-1.ll
Labels: vectorization, llvm:transforms

#76528 [libc++] Fixes valarray proxy type compound assignment operations.
  libcxx/include/valarray
  libcxx/test/libcxx/numerics/numarray/class.gslice.array/assert.get.pass.cpp
  libcxx/test/libcxx/numerics/numarray/class.gslice.array/get.pass.cpp
  libcxx/test/libcxx/numerics/numarray/class.indirect.array/assert.get.pass.cpp
  libcxx/test/libcxx/numerics/numarray/class.indirect.array/get.pass.cpp
  libcxx/test/libcxx/numerics/numarray/class.mask.array/assert.get.pass.cpp
  libcxx/test/libcxx/numerics/numarray/class.mask.array/get.pass.cpp
  libcxx/test/libcxx/numerics/numarray/class.slice.array/assert.get.pass.cpp
  libcxx/test/libcxx/numerics/numarray/class.slice.array/get.pass.cpp
  libcxx/test/std/numerics/numarray/template.valarray/valarray.cassign/and_valarray.pass.cpp
  libcxx/test/std/numerics/numarray/template.valarray/valarray.cassign/divide_valarray.pass.cpp
  libcxx/test/std/numerics/numarray/template.valarray/valarray.cassign/minus_valarray.pass.cpp
  libcxx/test/std/numerics/numarray/template.valarray/valarray.cassign/modulo_valarray.pass.cpp
  libcxx/test/std/numerics/numarray/template.valarray/valarray.cassign/or_valarray.pass.cpp
  libcxx/test/std/numerics/numarray/template.valarray/valarray.cassign/plus_valarray.pass.cpp
  libcxx/test/std/numerics/numarray/template.valarray/valarray.cassign/shift_left_valarray.pass.cpp
  libcxx/test/std/numerics/numarray/template.valarray/valarray.cassign/shift_right_valarray.pass.cpp
  libcxx/test/std/numerics/numarray/template.valarray/valarray.cassign/times_valarray.pass.cpp
  libcxx/test/std/numerics/numarray/template.valarray/valarray.cassign/xor_valarray.pass.cpp
Labels: libc++
