Repository llvm/llvm-project, pull requests merged in 2024-12, with the labels that each got.

#117940 AMDGPU/GlobalISel: Do not try to form v_bitop3_b32 for SGPR results
  llvm/lib/Target/AMDGPU/AMDGPUInstructionSelector.cpp
  llvm/test/CodeGen/AMDGPU/bitop3.ll
Labels: backend:AMDGPU

#118180 [CodeGenPrepare] Drop nsw flags in `optimizeLoadExt`
  llvm/lib/CodeGen/CodeGenPrepare.cpp
  llvm/test/Transforms/CodeGenPrepare/X86/pr118172.ll
Labels: llvm:transforms

#118194 [mlir] Fix typo in test vector transform pass descriptions
  mlir/test/lib/Dialect/Vector/TestVectorTransforms.cpp
Labels: mlir:vectorops, mlir, mlir:vector

#118113 [RISCV] Add Qualcomm uC Xqcia (Arithmetic) extension
  clang/test/Driver/print-supported-extensions-riscv.c
  llvm/docs/RISCVUsage.rst
  llvm/docs/ReleaseNotes.md
  llvm/lib/Target/RISCV/AsmParser/RISCVAsmParser.cpp
  llvm/lib/Target/RISCV/Disassembler/RISCVDisassembler.cpp
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVBaseInfo.h
  llvm/lib/Target/RISCV/RISCVFeatures.td
  llvm/lib/Target/RISCV/RISCVInstrInfoXqci.td
  llvm/lib/TargetParser/RISCVISAInfo.cpp
  llvm/test/CodeGen/RISCV/attributes.ll
  llvm/test/MC/RISCV/xqcia-invalid.s
  llvm/test/MC/RISCV/xqcia-valid.s
  llvm/unittests/TargetParser/RISCVISAInfoTest.cpp
Labels: clang, backend:RISC-V, clang:driver, mc

#117999 [TTI][X86] getShuffleCosts - for SK_PermuteTwoSrc, if the masks are known to be "inlane" no need to scale the costs by worst-case legalization
  llvm/lib/Target/X86/X86TargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/X86/shuffle-insert_subvector-codesize.ll
  llvm/test/Analysis/CostModel/X86/shuffle-insert_subvector-latency.ll
  llvm/test/Analysis/CostModel/X86/shuffle-insert_subvector-sizelatency.ll
  llvm/test/Analysis/CostModel/X86/shuffle-insert_subvector.ll
  llvm/test/Analysis/CostModel/X86/shuffle-transpose-codesize.ll
  llvm/test/Analysis/CostModel/X86/shuffle-transpose-latency.ll
  llvm/test/Analysis/CostModel/X86/shuffle-transpose-sizelatency.ll
  llvm/test/Analysis/CostModel/X86/shuffle-transpose.ll
  llvm/test/Transforms/PhaseOrdering/X86/pr94546.ll
Labels: backend:X86, llvm:analysis, llvm:transforms

#117152 [SCEV] Do not allow refinement in the rewriting of BEValue
  llvm/include/llvm/Analysis/ScalarEvolution.h
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/test/Analysis/ScalarEvolution/pr117133.ll
  llvm/test/Transforms/IndVarSimplify/pr117133.ll
Labels: llvm:analysis, llvm:transforms

#117954 [Driver] Do not add gno-column-info when using sampling PGO
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/codeview-column-info.c
Labels: clang, clang:driver

#118195 [InstCombine] Fold `umax(X, C) + -C` into `usub.sat(X, C)`
  llvm/lib/Transforms/InstCombine/InstCombineAddSub.cpp
  llvm/test/Transforms/InstCombine/saturating-add-sub.ll
Labels: llvm:instcombine, llvm:transforms

#118183 [rtsan] Intercept various file system functions
  compiler-rt/lib/rtsan/rtsan_interceptors_posix.cpp
  compiler-rt/lib/rtsan/tests/rtsan_test_interceptors_posix.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#118199 [clang][bytecode][NFC] Remove APValue Result argument where unnecessary
  clang/lib/AST/ByteCode/Context.cpp
  clang/lib/AST/ByteCode/Context.h
  clang/lib/AST/ByteCode/Interp.cpp
  clang/lib/AST/ByteCode/Interp.h
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/utils/TableGen/ClangOpcodesEmitter.cpp
Labels: clang, clang:frontend

#117672 [clang][bytecode] Support __builtin_reduce_add
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/test/AST/ByteCode/builtin-functions.cpp
Labels: clang, clang:frontend

#117848 [NFC][SelectionDAG] Replace generic @llvm.expect.with.probability codegen test with X86 test
  llvm/test/CodeGen/Generic/builtin-expect-with-probability.ll
  llvm/test/CodeGen/X86/fast-isel-expect.ll
Labels: backend:X86

#117678 [MLIR][NFC] Fixed a typo of member variable static_basis
  mlir/include/mlir/Dialect/Affine/IR/AffineOps.td
Labels: mlir:affine, mlir

#118163 [mlir][NFC] Fix typo.
  mlir/include/mlir/Interfaces/DestinationStyleOpInterface.td
Labels: mlir

#118243 [NFC][Offload] Correct the compile command of two C test files
  offload/test/mapping/map_both_pointer_pointee.c
  offload/test/mapping/power_of_two_alignment.c
Labels: offload

#118214 [PAC][llvm-readobj][AArch64] Move PAuth GOT relocs out of private space
  llvm/include/llvm/BinaryFormat/ELFRelocs/AArch64.def
  llvm/test/tools/llvm-readobj/ELF/reloc-types-aarch64.test
Labels: llvm:binary-utilities

#117901 [clang-tidy][use-internal-linkage]fix false positives for ExportDecl
  clang-tools-extra/clang-tidy/misc/UseInternalLinkageCheck.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/misc/use-internal-linkage.rst
  clang-tools-extra/test/clang-tidy/checkers/misc/use-internal-linkage-module.cpp
  clang/docs/LibASTMatchersReference.html
  clang/docs/ReleaseNotes.rst
  clang/include/clang/ASTMatchers/ASTMatchers.h
  clang/lib/ASTMatchers/ASTMatchersInternal.cpp
  clang/unittests/ASTMatchers/ASTMatchersNodeTest.cpp
Labels: clang, clang-tools-extra, clang-tidy

#114349 [DXIL] Add GroupMemoryBarrierWithGroupSync intrinsic
  llvm/include/llvm/IR/IntrinsicsDirectX.td
  llvm/lib/Target/DirectX/DXIL.td
  llvm/lib/Target/DirectX/DXILOpLowering.cpp
  llvm/test/CodeGen/DirectX/group_memory_barrier_with_group_sync.ll
  llvm/utils/TableGen/DXILEmitter.cpp
Labels: backend:DirectX

#118230 [clang][bytecode] Support vector-to-vector bitcasts
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/test/AST/ByteCode/altivec.c
  clang/test/AST/ByteCode/vectors.cpp
Labels: clang, clang:frontend

#118266 Fixes #118231: Corrected spelling mistake in has_acitive_owner function
  libc/src/__support/threads/linux/rwlock.h
Labels: libc

#116865 release/19.x: [InstCombine] Drop noundef attributes in `foldCttzCtlz` (#116718)
  llvm/lib/Transforms/InstCombine/InstCombineCalls.cpp
  llvm/test/Transforms/InstCombine/shift-cttz-ctlz.ll
Labels: llvm:transforms

#116888 [InstCombine] Fold `X Pred C2 ? X BOp C1 : C2 BOp C1` to `min/max(X, C2) BOp C1`
  clang/test/CodeGen/attr-counted-by.c
  llvm/include/llvm/Analysis/ValueTracking.h
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
  llvm/test/Transforms/InstCombine/canonicalize-const-to-bop.ll
  llvm/test/Transforms/InstCombine/minmax-fold.ll
  llvm/test/Transforms/InstCombine/saturating-add-sub.ll
  llvm/test/Transforms/InstCombine/select.ll
  llvm/test/Transforms/InstCombine/unsigned_saturated_sub.ll
Labels: clang, llvm:instcombine, llvm:analysis, llvm:transforms

#117746 [InstCombine] Consolidate another fold into select value equivalence
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
  llvm/test/Transforms/InstCombine/select-value-equivalence.ll
Labels: llvm:instcombine, llvm:transforms

#69471 [InstSimplify] Generalize simplification of icmps with monotonic operands
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/test/Transforms/InstSimplify/compare.ll
  llvm/test/Transforms/InstSimplify/icmp-monotonic.ll
Labels: llvm:instcombine, llvm:analysis, llvm:transforms

#117064 [Clang] Change placeholder from `undef` to `poison`
  clang/lib/CodeGen/CGCall.cpp
  clang/test/CodeGen/AArch64/pure-scalable-args.c
  clang/test/CodeGen/AArch64/sve-acle-__ARM_FEATURE_SVE_VECTOR_OPERATORS.cpp
  clang/test/CodeGen/AArch64/sve-vls-arith-ops.c
  clang/test/CodeGen/AArch64/sve-vls-bitwise-ops.c
  clang/test/CodeGen/AArch64/sve-vls-compare-ops.c
  clang/test/CodeGen/AArch64/sve-vls-shift-ops.c
  clang/test/CodeGen/RISCV/attr-rvv-vector-bits-cast.c
  clang/test/CodeGen/RISCV/attr-rvv-vector-bits-codegen.c
  clang/test/CodeGen/RISCV/rvv-vls-arith-ops.c
  clang/test/CodeGen/RISCV/rvv-vls-bitwise-ops.c
  clang/test/CodeGen/RISCV/rvv-vls-compare-ops.c
  clang/test/CodeGen/RISCV/rvv-vls-shift-ops.c
  clang/test/CodeGen/attr-arm-sve-vector-bits-cast.c
  clang/test/CodeGen/attr-arm-sve-vector-bits-codegen.c
Labels: clang, clang:codegen

#115734 [clang][ASTImporter] Allow import of similar friend template with different depth
  clang/lib/AST/ASTImporter.cpp
  clang/unittests/AST/ASTImporterTest.cpp
Labels: clang, clang:frontend

#117998 [AMDGPU] Only insert intrinsic declarations when needed
  llvm/lib/Target/AMDGPU/SIAnnotateControlFlow.cpp
Labels: backend:AMDGPU

#118086 [compiler-rt] Move CODE_OWNERS.txt to Maintainers.txt
  compiler-rt/Maintainers.txt
  llvm/Maintainers.md
Labels: compiler-rt

#114209 [Clang][AArch64] Include SME attributes in the name mangling of function types
  clang/lib/AST/ItaniumMangle.cpp
  clang/test/CodeGenCXX/aarch64-mangle-sme-atts.cpp
Labels: clang, clang:frontend

#116828 [AArch64] Generate zeroing forms of certain SVE2.2 instructions (2/11)
  llvm/lib/Target/AArch64/AArch64SVEInstrInfo.td
  llvm/lib/Target/AArch64/SVEInstrFormats.td
  llvm/test/CodeGen/AArch64/zeroing-forms-fcvt-bfcvt.ll
Labels: backend:AArch64

#118093 [lldb] fix fd leak during lldb testsuite
  lldb/packages/Python/lldbsuite/test/lldbtest.py
Labels: lldb

#118278 [clang][bytecode] Add simple __builtin_memcpy implementation
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/test/AST/ByteCode/builtin-functions.cpp
Labels: clang, clang:frontend

#118257 [ValueTracking] Handle and/or of conditions in `computeKnownFPClassFromContext`
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/test/Transforms/InstCombine/fpclass-from-dom-cond.ll
Labels: llvm:instcombine, llvm:analysis, llvm:transforms

#118287 [clang][bytecode] Implement __builtin_reduce_mul
  clang/lib/AST/ByteCode/Integral.h
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/test/AST/ByteCode/builtin-functions.cpp
Labels: clang, clang:frontend

#118289 [clang][bytecode] Implement __builtin_reduce_and
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/test/AST/ByteCode/builtin-functions.cpp
Labels: clang, clang:frontend

#117892 [FormattedStream] Add ASCII fast path
  llvm/lib/Support/FormattedStream.cpp
Labels: llvm:support

#118121 [flang][fir] fix ABI bug 116844
  flang/include/flang/Optimizer/CodeGen/Target.h
  flang/lib/Optimizer/CodeGen/Target.cpp
  flang/lib/Optimizer/CodeGen/TargetRewrite.cpp
  flang/test/Fir/target-rewrite-boxchar.fir
  flang/test/Fir/target.fir
Labels: flang, flang:fir-hlfir, flang:codegen

#116829 [AArch64] Generate zeroing forms of certain SVE2.2 instructions (3/11)
  llvm/lib/Target/AArch64/AArch64SVEInstrInfo.td
  llvm/lib/Target/AArch64/SVEInstrFormats.td
  llvm/test/CodeGen/AArch64/zeroing-forms-fcvtlt-fcvtx.ll
Labels: backend:AArch64

#118271 [flang][MLIR] Support delayed privatization for `wsloop` (PFT -> MLIR)
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/test/Lower/OpenMP/DelayedPrivatization/wsloop.f90
  mlir/lib/Dialect/OpenMP/IR/OpenMPDialect.cpp
Labels: mlir, flang, mlir:openmp, flang:fir-hlfir, flang:openmp

#117627 [flang][OpenMP] Use new modifiers in ALLOCATE clause
  flang/examples/FeatureList/FeatureList.cpp
  flang/include/flang/Parser/dump-parse-tree.h
  flang/include/flang/Parser/parse-tree.h
  flang/include/flang/Semantics/openmp-modifiers.h
  flang/lib/Lower/OpenMP/ClauseProcessor.cpp
  flang/lib/Lower/OpenMP/Clauses.cpp
  flang/lib/Lower/OpenMP/Clauses.h
  flang/lib/Parser/openmp-parsers.cpp
  flang/lib/Parser/unparse.cpp
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/openmp-modifiers.cpp
  flang/lib/Semantics/resolve-directives.cpp
  flang/test/Parser/OpenMP/allocators-unparse.f90
  flang/test/Semantics/OpenMP/allocate-clause01.f90
  flang/test/Semantics/OpenMP/allocators01.f90
  flang/test/Semantics/OpenMP/allocators04.f90
  flang/test/Semantics/OpenMP/allocators05.f90
  flang/test/Semantics/OpenMP/allocators06.f90
  flang/test/Semantics/OpenMP/resolve06.f90
  llvm/include/llvm/Frontend/OpenMP/ClauseT.h
  llvm/unittests/Frontend/OpenMPDecompositionTest.cpp
Labels: flang, flang:fir-hlfir, flang:openmp, flang:semantics, flang:parser, clang:openmp

#118295 [flang] remove unused var after #118121
  flang/lib/Optimizer/CodeGen/TargetRewrite.cpp
Labels: flang, flang:fir-hlfir, flang:codegen

#117844 AMDGPU: Handle cvt_scale F32/F16->F4/F8 gfx950 hazard
  llvm/lib/Target/AMDGPU/GCNHazardRecognizer.cpp
  llvm/lib/Target/AMDGPU/GCNSubtarget.h
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.h
  llvm/lib/Target/AMDGPU/VOP3Instructions.td
  llvm/test/CodeGen/AMDGPU/hazards-gfx950.mir
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.cvt.scalef32.pk.gfx950.ll
  llvm/test/CodeGen/AMDGPU/materialize-frame-index-sgpr.ll
Labels: backend:AMDGPU

#118250 [rtsan] Add syscall interceptor
  compiler-rt/lib/rtsan/rtsan_interceptors_posix.cpp
  compiler-rt/lib/rtsan/tests/rtsan_test_interceptors_posix.cpp
  compiler-rt/test/rtsan/syscall.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#118299 [clang][bytecode] Implement __builtin_reduce_xor
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/test/AST/ByteCode/builtin-functions.cpp
Labels: clang, clang:frontend

#118118 [AMDGPU][True16][CodeGen] V_MUL_LO_U16 true16 test
  llvm/test/CodeGen/AMDGPU/GlobalISel/mul.ll
  llvm/test/CodeGen/AMDGPU/mul.i16.ll
Labels: backend:AMDGPU, llvm:globalisel

#116636 [SPIR-V] Fixup storage class for global private
  clang/include/clang/Basic/AddressSpaces.h
  clang/lib/AST/TypePrinter.cpp
  clang/lib/Basic/TargetInfo.cpp
  clang/lib/Basic/Targets/AArch64.h
  clang/lib/Basic/Targets/AMDGPU.cpp
  clang/lib/Basic/Targets/DirectX.h
  clang/lib/Basic/Targets/NVPTX.h
  clang/lib/Basic/Targets/SPIR.h
  clang/lib/Basic/Targets/SystemZ.h
  clang/lib/Basic/Targets/TCE.h
  clang/lib/Basic/Targets/WebAssembly.h
  clang/lib/Basic/Targets/X86.h
  clang/test/SemaTemplate/address_space-dependent.cpp
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/lib/Target/SPIRV/SPIRVLegalizerInfo.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.h
  llvm/test/CodeGen/SPIRV/pointers/global-addrspacecast.ll
  llvm/test/CodeGen/SPIRV/pointers/variables-storage-class-vk.ll
  llvm/test/CodeGen/SPIRV/pointers/variables-storage-class.ll
Labels: clang, backend:AArch64, backend:AMDGPU, backend:SystemZ, backend:WebAssembly, clang:frontend, backend:DirectX, backend:SPIR-V

#118165 Revert [Clang] prevent errors for deduction guides using deduced type aliases
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/test/CXX/temp/temp.deduct.guide/p3.cpp
Labels: clang, clang:frontend

#117784 [flang][OpenMP] Rename some `Type` members in OpenMP clauses
  flang/examples/FeatureList/FeatureList.cpp
  flang/examples/FlangOmpReport/FlangOmpReportVisitor.cpp
  flang/examples/FlangOmpReport/FlangOmpReportVisitor.h
  flang/include/flang/Parser/dump-parse-tree.h
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Lower/OpenMP/Clauses.cpp
  flang/lib/Parser/openmp-parsers.cpp
  flang/lib/Parser/unparse.cpp
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/resolve-directives.cpp
  flang/test/Parser/OpenMP/bind-clause.f90
  flang/test/Parser/OpenMP/declare_target-device_type.f90
  flang/test/Parser/OpenMP/proc-bind.f90
  flang/test/Parser/OpenMP/target-loop-unparse.f90
Labels: flang, flang:fir-hlfir, flang:openmp, flang:semantics, flang:parser

#118275 [mlir][tensor] Add test for invalid tensor.unpack + update error msg
  mlir/lib/Dialect/Tensor/IR/TensorOps.cpp
  mlir/test/Dialect/Tensor/invalid.mlir
Labels: mlir, mlir:tensor

#117898 [analyzer][NFC] Cleanup BranchNodeBuilder
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/CoreEngine.h
  clang/lib/StaticAnalyzer/Core/CoreEngine.cpp
  clang/lib/StaticAnalyzer/Core/ExprEngine.cpp
Labels: clang, clang:static analyzer

#118159 [Github] Upload built docs as artifact from test build docs job
  .github/workflows/docs.yml
Labels: github:workflow

#118170 [Clang] ensure mangled names are valid identifiers before being suggested in ifunc/alias attributes notes
  clang/docs/ReleaseNotes.rst
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/test/CodeGen/alias.cpp
Labels: clang, clang:codegen

#118312 Revert "[SPIR-V] Fixup storage class for global private (#116636)"
  clang/include/clang/Basic/AddressSpaces.h
  clang/lib/AST/TypePrinter.cpp
  clang/lib/Basic/TargetInfo.cpp
  clang/lib/Basic/Targets/AArch64.h
  clang/lib/Basic/Targets/AMDGPU.cpp
  clang/lib/Basic/Targets/DirectX.h
  clang/lib/Basic/Targets/NVPTX.h
  clang/lib/Basic/Targets/SPIR.h
  clang/lib/Basic/Targets/SystemZ.h
  clang/lib/Basic/Targets/TCE.h
  clang/lib/Basic/Targets/WebAssembly.h
  clang/lib/Basic/Targets/X86.h
  clang/test/SemaTemplate/address_space-dependent.cpp
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/lib/Target/SPIRV/SPIRVLegalizerInfo.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.h
  llvm/test/CodeGen/SPIRV/pointers/global-addrspacecast.ll
  llvm/test/CodeGen/SPIRV/pointers/variables-storage-class-vk.ll
  llvm/test/CodeGen/SPIRV/pointers/variables-storage-class.ll
Labels: clang, backend:AArch64, backend:AMDGPU, backend:SystemZ, backend:WebAssembly, clang:frontend, backend:DirectX, backend:SPIR-V

#117768 [MLIR] Improve compose expand(collapse) pattern
  mlir/include/mlir/Dialect/Utils/ReshapeOpsUtils.h
  mlir/test/Dialect/Tensor/canonicalize.mlir
Labels: mlir, mlir:tensor

#117628 [compiler-rt][tests] Make this test case pass on AArch64
  compiler-rt/test/builtins/Unit/atomic_test.c
Labels: compiler-rt, compiler-rt:builtins

#117786 [flang][OpenMP] Use new modifiers with AFFINITY/ALIGNED/DEVICE
  flang/examples/FeatureList/FeatureList.cpp
  flang/include/flang/Parser/dump-parse-tree.h
  flang/include/flang/Parser/parse-tree.h
  flang/include/flang/Semantics/openmp-modifiers.h
  flang/lib/Lower/OpenMP/Clauses.cpp
  flang/lib/Parser/openmp-parsers.cpp
  flang/lib/Parser/unparse.cpp
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/openmp-modifiers.cpp
  flang/test/Parser/OpenMP/affinity-clause.f90
  flang/test/Parser/OpenMP/target_device_parse.f90
  flang/test/Parser/OpenMP/target_device_unparse.f90
  flang/test/Semantics/OpenMP/clause-validity01.f90
Labels: flang, flang:fir-hlfir, flang:openmp, flang:semantics, flang:parser

#117188 [mlir,python] Fix case when `FuncOp.arg_attrs` is not set
  mlir/python/mlir/dialects/func.py
  mlir/test/python/dialects/func.py
Labels: mlir:python, mlir

#118269 [LegalizeTypes][RISCV] Call setTypeListBeforeSoften from ExpandIntRes_FP_TO_XINT if the FP type needs to be softened
  llvm/lib/CodeGen/SelectionDAG/LegalizeIntegerTypes.cpp
  llvm/test/CodeGen/RISCV/rv64-float-convert-strict.ll
  llvm/test/CodeGen/RISCV/rv64-float-convert.ll
  llvm/test/CodeGen/RISCV/rv64-half-convert-strict.ll
  llvm/test/CodeGen/RISCV/rv64-half-convert.ll
Labels: llvm:SelectionDAG

#117937 [RISCV][GISel] Support f32/f64 powi.
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/lib/Target/RISCV/GISel/RISCVLegalizerInfo.cpp
  llvm/test/CodeGen/RISCV/GlobalISel/double-intrinsics.ll
  llvm/test/CodeGen/RISCV/GlobalISel/float-intrinsics.ll
  llvm/test/CodeGen/RISCV/GlobalISel/legalizer-info-validation.mir
Labels: backend:RISC-V, llvm:globalisel

#118256 [AMDGPU][SIOptimizeVGPRLiveRange] Add setpreservesCFG in the legacy pass flow.
  llvm/lib/Target/AMDGPU/SIOptimizeVGPRLiveRange.cpp
Labels: backend:AMDGPU

#117587 [lld] Move handling of message separator to reportDiagnostic()
  lld/Common/ErrorHandler.cpp
Labels: lld, lld:MachO, lld:ELF, lld:COFF, lld:wasm

#117871 [NFC][RISCV] Remove CFIIndex argument from allocateStack
  llvm/lib/Target/RISCV/RISCVFrameLowering.cpp
  llvm/lib/Target/RISCV/RISCVFrameLowering.h
Labels: backend:RISC-V

#117818 [compiler-rt] Allow running extendhfxf2_test without int128 support
  compiler-rt/test/builtins/Unit/extendhfxf2_test.c
  compiler-rt/test/builtins/Unit/fp_test.h
Labels: compiler-rt, compiler-rt:builtins

#118119 [libc++] Remove obsolete CMake variable
  libcxx/src/CMakeLists.txt
Labels: libc++

#118245 [AMDGPU][True16][CodeGen] saddsat/ssubsat sdag for true16 format
  llvm/lib/Target/AMDGPU/VOP3Instructions.td
  llvm/test/CodeGen/AMDGPU/saddsat.ll
  llvm/test/CodeGen/AMDGPU/ssubsat.ll
Labels: backend:AMDGPU

#118297 AMDGPU: Allow f16/bf16 for DS_READ_TR16_B64 gfx950 builtins
  clang/include/clang/Basic/BuiltinsAMDGPU.def
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/test/CodeGenOpenCL/builtins-amdgcn-gfx950-read-tr.cl
  llvm/lib/Target/AMDGPU/DSInstructions.td
  llvm/test/Analysis/UniformityAnalysis/AMDGPU/intrinsics.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.ds.read.tr.gfx950.ll
Labels: clang, backend:AMDGPU, clang:frontend, clang:codegen, llvm:analysis

#118321 RegisterCoalescer: Set undef on full register uses when coalescing implicit_def
  llvm/lib/CodeGen/RegisterCoalescer.cpp
  llvm/test/CodeGen/AMDGPU/register-coalescer--set-undef-full-reg-use-implicit-def-erase-issue109249.mir
Labels: backend:AMDGPU, llvm:regalloc

#117812 [compiler-rt] Don't detect a versioned clang test compiler as GCC
  compiler-rt/cmake/base-config-ix.cmake
Labels: compiler-rt

#117962 AMDGPU: Add baseline test for lane index simplification
  llvm/test/Transforms/InstCombine/AMDGPU/lane-index-simplify-demanded-bits.ll
Labels: backend:AMDGPU, llvm:instcombine, llvm:transforms

#115967 [Xtensa] Default to unsigned char
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/xtensa-char.c
Labels: clang, clang:driver

#117950 [DirectX] Run DXILFinalizeLinkage earlier in the pipeline
  llvm/lib/Target/DirectX/DXILFinalizeLinkage.cpp
  llvm/lib/Target/DirectX/DirectXTargetMachine.cpp
  llvm/test/CodeGen/DirectX/BufferStore-errors.ll
  llvm/test/CodeGen/DirectX/finalize-linkage-intrinsics.ll
  llvm/test/CodeGen/DirectX/llc-pipeline.ll
Labels: backend:DirectX

#117217 [flang] Downgrade recently added error to a warning
  flang/include/flang/Common/Fortran-features.h
  flang/lib/Semantics/expression.cpp
  flang/test/Semantics/expr-errors06.f90
Labels: flang, flang:semantics

#117374 [flang] Allow a few irrelevant attributes, with warning
  flang/include/flang/Common/Fortran-features.h
  flang/lib/Common/Fortran-features.cpp
  flang/lib/Semantics/check-declarations.cpp
  flang/test/Semantics/call14.f90
  flang/test/Semantics/resolve58.f90
Labels: flang, flang:semantics

#117399 [flang] Extension: accept "var*length(bounds)"
  flang/docs/Extensions.md
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Parser/Fortran-parsers.cpp
  flang/lib/Parser/type-parsers.h
  flang/test/Parser/decl-char-length.f90
Labels: flang, flang:parser

#117407 [flang] Fix continuation when line begins with empty macro expansion
  flang/lib/Parser/prescan.cpp
  flang/test/Preprocessing/bug117297.F90
Labels: flang, flang:parser

#118320 [flang][runtime] Skip unused truncated list-directed character input
  flang/runtime/edit-input.cpp
Labels: flang:runtime, flang

#117933 [OpenMP] Unconditionally provide an RPC client interface for OpenMP
  offload/DeviceRTL/CMakeLists.txt
  offload/DeviceRTL/src/Misc.cpp
  offload/DeviceRTL/src/exports
  offload/include/Shared/RPCOpcodes.h
  offload/plugins-nextgen/amdgpu/src/rtl.cpp
  offload/plugins-nextgen/common/CMakeLists.txt
  offload/plugins-nextgen/common/include/PluginInterface.h
  offload/plugins-nextgen/common/src/PluginInterface.cpp
  offload/plugins-nextgen/common/src/RPC.cpp
  offload/plugins-nextgen/cuda/src/rtl.cpp
  offload/test/api/omp_host_call.c
Labels: backend:AMDGPU, offload

#117102 AMDGPU: Create InstrMapping from VGPR MFMA to equivalent AGPR instruction
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
  llvm/lib/Target/AMDGPU/VOP3PInstructions.td
Labels: backend:AMDGPU

#117917 [flang][OpenMP] Use new modifiers in DEPEND/GRAINSIZE/NUM_TASKS
  flang/examples/FeatureList/FeatureList.cpp
  flang/include/flang/Parser/dump-parse-tree.h
  flang/include/flang/Parser/parse-tree.h
  flang/include/flang/Semantics/openmp-modifiers.h
  flang/lib/Lower/OpenMP/Clauses.cpp
  flang/lib/Lower/OpenMP/Clauses.h
  flang/lib/Parser/openmp-parsers.cpp
  flang/lib/Parser/parse-tree.cpp
  flang/lib/Parser/unparse.cpp
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/openmp-modifiers.cpp
  flang/test/Parser/OpenMP/depobj-construct.f90
  flang/test/Parser/OpenMP/taskloop.f90
  flang/test/Semantics/OpenMP/depend05.f90
  llvm/include/llvm/Frontend/OpenMP/ClauseT.h
Labels: flang, flang:fir-hlfir, flang:openmp, flang:semantics, flang:parser, clang:openmp

#117941 [RISCV][GISel] Support f32/f64 ldexp.
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/lib/Target/RISCV/GISel/RISCVLegalizerInfo.cpp
  llvm/test/CodeGen/RISCV/GlobalISel/double-intrinsics.ll
  llvm/test/CodeGen/RISCV/GlobalISel/float-intrinsics.ll
  llvm/test/CodeGen/RISCV/GlobalISel/legalizer-info-validation.mir
Labels: backend:RISC-V, llvm:globalisel

#116721 [DirectX] Clean up extra vectors when lowering to buffer store
  llvm/lib/Target/DirectX/DXILOpLowering.cpp
  llvm/test/CodeGen/DirectX/BufferStore.ll
Labels: backend:DirectX

#118316 [TTI] Add SCEVExpansionBudget to loop unrolling options.
  llvm/include/llvm/Analysis/TargetTransformInfo.h
  llvm/include/llvm/Transforms/Utils/UnrollLoop.h
  llvm/lib/Transforms/Scalar/LoopUnrollPass.cpp
  llvm/lib/Transforms/Utils/LoopUnroll.cpp
  llvm/lib/Transforms/Utils/LoopUnrollAndJam.cpp
  llvm/lib/Transforms/Utils/LoopUnrollRuntime.cpp
  llvm/unittests/Transforms/Utils/UnrollLoopTest.cpp
Labels: llvm:analysis, llvm:transforms

#118391 [RISCV] Remove RISCVISD::VNSRL_VL and adjust deinterleave lowering to match
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.h
  llvm/lib/Target/RISCV/RISCVInstrInfoVVLPatterns.td
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-shuffle-changes-length.ll
Labels: backend:RISC-V

#117965 [hexagon][cmake] Disable ctx_profile
  compiler-rt/cmake/caches/hexagon-linux-clangrt.cmake
Labels: compiler-rt

#117452 [lldb] Update dwim-print to support limited variable expression paths
  lldb/source/Commands/CommandObjectDWIMPrint.cpp
  lldb/test/API/commands/dwim-print/Makefile
  lldb/test/API/commands/dwim-print/TestDWIMPrint.py
  lldb/test/API/commands/dwim-print/main.c
  lldb/test/API/commands/dwim-print/main.cpp
Labels: lldb

#117017 [HLSL] Implement RWBuffer::operator[] via __builtin_hlsl_resource_getpointer
  clang/include/clang/Basic/Builtins.td
  clang/lib/AST/Type.cpp
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/Sema/HLSLExternalSemaSource.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaHLSL.cpp
  clang/test/AST/HLSL/StructuredBuffers-AST.hlsl
  clang/test/AST/HLSL/TypedBuffers-AST.hlsl
  clang/test/CodeGenHLSL/builtins/RWBuffer-constructor.hlsl
  clang/test/CodeGenHLSL/builtins/RWBuffer-elementtype.hlsl
  clang/test/CodeGenHLSL/builtins/RWBuffer-subscript.hlsl
  clang/test/CodeGenHLSL/builtins/RWStructuredBuffer-elementtype.hlsl
  clang/test/CodeGenHLSL/builtins/RasterizerOrderedStructuredBuffer-elementtype.hlsl
  clang/test/CodeGenHLSL/builtins/StructuredBuffer-elementtype.hlsl
  clang/test/CodeGenHLSL/builtins/StructuredBuffers-constructors.hlsl
  clang/test/CodeGenHLSL/builtins/StructuredBuffers-methods-lib.hlsl
  clang/test/CodeGenHLSL/builtins/StructuredBuffers-methods-ps.hlsl
  clang/test/CodeGenHLSL/builtins/StructuredBuffers-subscripts.hlsl
  clang/test/CodeGenHLSL/builtins/hlsl_resource_t.hlsl
  clang/test/CodeGenHLSL/implicit-norecurse-attrib.hlsl
  clang/test/SemaHLSL/BuiltIns/resource_getpointer-errors.hlsl
  llvm/include/llvm/IR/IntrinsicsDirectX.td
Labels: clang, clang:frontend, clang:codegen, backend:DirectX, HLSL, llvm:ir

#117551 Use MapVector to fix lld thinLTO "nondeterminism" issue.
  llvm/lib/Object/RecordStreamer.h
Labels: llvm:binary-utilities

#116102 [libc] Implement `timespec_get`
  libc/config/baremetal/arm/entrypoints.txt
  libc/config/baremetal/riscv/entrypoints.txt
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/include/llvm-libc-macros/time-macros.h
  libc/newhdrgen/yaml/time.yaml
  libc/spec/stdc.td
  libc/src/time/CMakeLists.txt
  libc/src/time/baremetal/CMakeLists.txt
  libc/src/time/baremetal/timespec_get.cpp
  libc/src/time/gpu/CMakeLists.txt
  libc/src/time/gpu/timespec_get.cpp
  libc/src/time/linux/CMakeLists.txt
  libc/src/time/linux/timespec_get.cpp
  libc/src/time/timespec_get.h
  libc/test/src/time/CMakeLists.txt
  libc/test/src/time/timespec_get_test.cpp
Labels: libc

#118128 [flang][OpenMP] Use new modifiers in IF/LASTPRIVATE
  flang/examples/FeatureList/FeatureList.cpp
  flang/examples/FlangOmpReport/FlangOmpReportVisitor.cpp
  flang/examples/FlangOmpReport/FlangOmpReportVisitor.h
  flang/include/flang/Parser/dump-parse-tree.h
  flang/include/flang/Parser/parse-tree.h
  flang/include/flang/Semantics/openmp-modifiers.h
  flang/lib/Lower/OpenMP/Clauses.cpp
  flang/lib/Parser/CMakeLists.txt
  flang/lib/Parser/openmp-parsers.cpp
  flang/lib/Parser/unparse.cpp
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/openmp-modifiers.cpp
  flang/test/Parser/OpenMP/if-clause-unparse.f90
  flang/test/Parser/OpenMP/if-clause.f90
  flang/test/Parser/OpenMP/lastprivate-clause.f90
  flang/test/Semantics/OpenMP/clause-validity01.f90
  flang/test/Semantics/OpenMP/if-clause.f90
Labels: flang, flang:fir-hlfir, flang:openmp, flang:semantics, flang:parser

#117629 [clang-tidy] Adjust size-empty doc because C++11 size() is constant-time
  clang-tools-extra/clang-tidy/readability/ContainerSizeEmptyCheck.h
  clang-tools-extra/docs/clang-tidy/checks/readability/container-size-empty.rst
Labels: clang-tools-extra, clang-tidy

#118110 [sanitizer_common] mark __elf_aux_vector as weak on FreeBSD
  compiler-rt/lib/sanitizer_common/sanitizer_linux_libcdep.cpp
Labels: compiler-rt, platform:freebsd, compiler-rt:sanitizer

#116170 [RISCV][VLOPT] Add separate tests for getOperandInfo. NFC
  llvm/test/CodeGen/RISCV/rvv/vl-opt-op-info.mir
Labels: backend:RISC-V

#117424 [mlir][Func] Delete `DecomposeCallGraphTypes.cpp`
  mlir/include/mlir/Dialect/Func/Transforms/DecomposeCallGraphTypes.h
  mlir/lib/Dialect/Func/Transforms/CMakeLists.txt
  mlir/lib/Dialect/Func/Transforms/DecomposeCallGraphTypes.cpp
  mlir/lib/Dialect/Func/Transforms/FuncConversions.cpp
  mlir/test/lib/Dialect/Func/TestDecomposeCallGraphTypes.cpp
Labels: mlir, mlir:func

#117616 [ThinLTO]Supports declaration import for global variables in distributed ThinLTO
  llvm/include/llvm/IR/ModuleSummaryIndex.h
  llvm/lib/Bitcode/Writer/BitcodeWriter.cpp
  llvm/lib/IR/ModuleSummaryIndex.cpp
  llvm/lib/Transforms/IPO/FunctionImport.cpp
  llvm/test/ThinLTO/X86/import_callee_declaration.ll
Labels: LTO, llvm:ir, llvm:transforms

#117584 [NFC]Update a ThinLTO test case
  llvm/test/ThinLTO/X86/distributed_indexes.ll
Labels: LTO

#118304 AMDGPU: Add codegen support for gfx950 v_ashr_pk_i8/u8_i32
  llvm/lib/Target/AMDGPU/VOP3Instructions.td
  llvm/test/CodeGen/AMDGPU/v_ashr_pk.ll
Labels: clang, backend:AMDGPU, clang:frontend, clang:codegen, mc, llvm:analysis

#117504 [lldb] Simplify DumpValueObjectOptions::PointerDepth (NFC)
  lldb/include/lldb/DataFormatters/DumpValueObjectOptions.h
  lldb/source/DataFormatters/DumpValueObjectOptions.cpp
  lldb/source/DataFormatters/ValueObjectPrinter.cpp
  lldb/source/Interpreter/OptionGroupValueObjectDisplay.cpp
Labels: lldb

#118260 [SLP][REVEC] reorderNodeWithReuses should not be called if all users of a TreeEntry are ShuffleVectorInst.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/revec.ll
Labels: vectorizers, llvm:transforms

#117087 [WebAssembly] Define call-indirect-overlong and bulk-memory-opt features
  clang/include/clang/Driver/Options.td
  clang/lib/Basic/Targets/WebAssembly.cpp
  clang/lib/Basic/Targets/WebAssembly.h
  lld/test/wasm/compress-relocs.ll
  lld/test/wasm/import-table-explicit.s
  lld/test/wasm/invalid-mvp-table-use.s
  lld/test/wasm/lto/Inputs/libcall-archive.ll
  lld/test/wasm/lto/libcall-archive.ll
  lld/test/wasm/lto/stub-library-libcall.s
  lld/test/wasm/multi-table.s
  lld/wasm/InputFiles.cpp
  lld/wasm/SyntheticSections.cpp
  llvm/lib/Target/WebAssembly/AsmParser/WebAssemblyAsmParser.cpp
  llvm/lib/Target/WebAssembly/WebAssembly.td
  llvm/lib/Target/WebAssembly/WebAssemblyFastISel.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyISelLowering.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyInstrBulkMemory.td
  llvm/lib/Target/WebAssembly/WebAssemblyInstrInfo.td
  llvm/lib/Target/WebAssembly/WebAssemblySelectionDAGInfo.cpp
  llvm/lib/Target/WebAssembly/WebAssemblySubtarget.cpp
  llvm/lib/Target/WebAssembly/WebAssemblySubtarget.h
  llvm/lib/Target/WebAssembly/WebAssemblyUtilities.cpp
  llvm/test/CodeGen/WebAssembly/call-indirect.ll
  llvm/test/CodeGen/WebAssembly/cfg-stackify-eh-legacy.ll
  llvm/test/CodeGen/WebAssembly/cfg-stackify-eh.ll
  llvm/test/CodeGen/WebAssembly/disable-feature.ll
  llvm/test/CodeGen/WebAssembly/function-pointer64.ll
  llvm/test/CodeGen/WebAssembly/reference-types.ll
  llvm/test/CodeGen/WebAssembly/target-features-attrs.ll
  llvm/test/CodeGen/WebAssembly/target-features-cpus.ll
  llvm/test/CodeGen/WebAssembly/target-features-tls.ll
  llvm/test/MC/WebAssembly/extern-functype-intrinsic.ll
  llvm/test/MC/WebAssembly/function-alias.ll
  llvm/test/MC/WebAssembly/libcall.ll
Labels: clang, lld, backend:WebAssembly, clang:frontend, mc, lld:wasm

#118045 [DAG] Apply Disjoint flag.
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/test/CodeGen/AArch64/apply-disjoint-flag-in-dagcombine.ll
Labels: backend:AArch64, llvm:SelectionDAG

#118157 [ObjectYAML][ELF] Take alignment into account when generating notes
  llvm/lib/ObjectYAML/ELFEmitter.cpp
  llvm/test/tools/yaml2obj/ELF/note-section.yaml
Labels: objectyaml

#118176 [Clang] Recover GLTemplateParameterList for generic lambdas in RebuildLambdaScopeInfo
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaDecl.cpp
  clang/test/SemaCXX/lambda-capture-type-deduction.cpp
Labels: clang, clang:frontend

#117874 [TTI][RISCV] Implement cost of some intrinsics with LMUL
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/RISCV/fp-min-max-abs.ll
  llvm/test/Analysis/CostModel/RISCV/fp-sqrt-pow.ll
  llvm/test/Analysis/CostModel/RISCV/int-bit-manip.ll
  llvm/test/Analysis/CostModel/RISCV/int-sat-math.ll
Labels: backend:RISC-V, llvm:analysis

#118313 [clang][bytecode] Check __builtin_memcpy for null pointers
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/test/AST/ByteCode/builtin-functions.cpp
Labels: clang, clang:frontend

#118325 [RISCV] Use vcompress in deinterleave2 intrinsic lowering
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/vector-deinterleave-load.ll
  llvm/test/CodeGen/RISCV/rvv/vector-deinterleave.ll
Labels: backend:RISC-V

#118311 [llvm-objdump] Default to --mattr=+all for AArch64be and AArch64_32
  llvm/test/tools/llvm-objdump/ELF/AArch64/mattr.s
  llvm/tools/llvm-objdump/llvm-objdump.cpp
Labels: llvm:binary-utilities

#117013 [CompilerRT] Remove sanitizer support for i386 watchsim
  compiler-rt/cmake/Modules/CompilerRTDarwinUtils.cmake
Labels: compiler-rt

#111151 [InstCombine] Fold `(X * (Y << K)) u>> K -> X * Y` when highbits are not demanded
  llvm/lib/Transforms/InstCombine/InstCombineSimplifyDemanded.cpp
  llvm/test/Transforms/InstCombine/lshr.ll
Labels: llvm:transforms

#118429 [clang][bytecode][NFC] Diagnose no-constexpr memcpy/strlen versions
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
Labels: clang, clang:frontend

#117977 [InstCombine][FP] Fix nnan preservation for transform fcmp + sel => fmax/fmin
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
  llvm/test/Transforms/InstCombine/fcmp-fadd-select.ll
  llvm/test/Transforms/InstCombine/fcmp-select.ll
  llvm/test/Transforms/InstCombine/fneg.ll
  llvm/test/Transforms/InstCombine/minmax-fp.ll
  llvm/test/Transforms/InstCombine/unordered-fcmp-select.ll
Labels: llvm:instcombine, floating-point, llvm:transforms

#117439 [GlobalISel] Combine [s,z]ext of undef into 0
  llvm/include/llvm/Target/GlobalISel/Combine.td
  llvm/test/CodeGen/AArch64/GlobalISel/combine-cast.mir
  llvm/test/CodeGen/AArch64/extract-vector-elt.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/combine-amdgpu-cvt-f32-ubyte.mir
  llvm/test/CodeGen/AMDGPU/shrink-add-sub-constant.ll
Labels: backend:AArch64, backend:AMDGPU, llvm:globalisel

#118431 [clang][bytecode] Handle memmove like memcpy
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/test/AST/ByteCode/builtin-functions.cpp
Labels: clang, clang:frontend

#118302 [AMDGPU] Refine AMDGPUAtomicOptimizerImpl class. NFC.
  llvm/lib/Target/AMDGPU/AMDGPUAtomicOptimizer.cpp
Labels: backend:AMDGPU

#118442 [clang][bytecode][NFC] Diagnose non-constexpr builtin strcmp calls
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
Labels: clang, clang:frontend

#101930 [MemCpyOpt] Drop dead `memmove` calls on `memset`'d source data
  llvm/include/llvm/Transforms/Scalar/MemCpyOptimizer.h
  llvm/lib/Transforms/Scalar/MemCpyOptimizer.cpp
  llvm/test/Transforms/MemCpyOpt/memset-memmove-redundant-memmove.ll
Labels: llvm:transforms

#117902 [BasicAA] Treat returns_twice functions as clobbering unescaped objects
  llvm/lib/Analysis/BasicAliasAnalysis.cpp
  llvm/test/Transforms/GVN/setjmp.ll
Labels: llvm:analysis, llvm:transforms

#118069 [flang][hlfir] optimize hlfir.eval_in_mem bufferization
  flang/include/flang/Optimizer/Analysis/AliasAnalysis.h
  flang/lib/Optimizer/Analysis/AliasAnalysis.cpp
  flang/lib/Optimizer/HLFIR/Transforms/OptimizedBufferization.cpp
  flang/test/HLFIR/opt-bufferization-eval_in_mem.fir
Labels: flang, flang:fir-hlfir

#87986 [mlir] Add ScalableVectorType and FixedVectorType
  mlir/include/mlir/IR/VectorTypes.h
  mlir/lib/Dialect/Arith/IR/ArithOps.cpp
Labels: mlir:core, mlir:vectorops, mlir, mlir:arith, mlir:vector

#117532 [lldb] Expose discontinuous functions through SBFunction::GetRanges
  lldb/include/lldb/API/SBAddressRangeList.h
  lldb/include/lldb/API/SBFunction.h
  lldb/include/lldb/Core/AddressRangeListImpl.h
  lldb/include/lldb/Symbol/Function.h
  lldb/source/API/SBFunction.cpp
  lldb/source/Core/AddressRangeListImpl.cpp
  lldb/test/Shell/ScriptInterpreter/Python/sb_function_ranges.s
Labels: lldb

#118438 [ValueTracking] Fix typo in `isKnownNegative` and `MaskedValueIsZero` NFC.
  llvm/include/llvm/Analysis/ValueTracking.h
Labels: llvm:analysis

#111883 [clang][HLSL] Add GroupMemoryBarrierWithGroupSync intrinsic
  clang/include/clang/Basic/Builtins.td
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/CodeGen/CGHLSLRuntime.h
  clang/lib/Headers/hlsl/hlsl_intrinsics.h
  clang/test/CodeGenHLSL/builtins/GroupMemoryBarrierWithGroupSync.hlsl
  clang/test/SemaHLSL/BuiltIns/GroupMemoryBarrierWithGroupSync-errors.hlsl
Labels: clang, backend:X86, clang:frontend, clang:headers, clang:codegen, HLSL

#118446 [clang][bytecode] Handle __builtin_wcslen
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/test/AST/ByteCode/builtin-functions.cpp
Labels: clang, clang:frontend

#118394 LV/test: clean up a test and regen with UTC
  llvm/test/Transforms/LoopVectorize/select-cmp.ll
Labels: llvm:transforms

#118281 [clang] Warn [[clang::lifetimebound]] misusages on types
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaType.cpp
  clang/test/SemaCXX/attr-lifetimebound.cpp
Labels: clang, clang:frontend

#118457 [clang][bytecode] Initialize elements in __builtin_elementwise_popcount
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/test/AST/ByteCode/builtin-functions.cpp
Labels: clang, clang:frontend

#117191 [AArch64] Fix STG instruction being moved past memcpy
  llvm/lib/Target/AArch64/AArch64FrameLowering.cpp
  llvm/test/CodeGen/AArch64/stack-tagging-merge-past-memcpy.mir
Labels: backend:AArch64, miscompilation

#118460 [clang][bytecode] Reject memcpy dummy pointers after null check
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/test/AST/ByteCode/builtin-functions.cpp
Labels: clang, clang:frontend

#118407 [MLIR][TOSA] Update PowOp output name from z to output
  mlir/include/mlir/Dialect/Tosa/IR/TosaOps.td
Labels: mlir, mlir:tosa

#118296 [FastISel] Support unreachable with NoTrapAfterNoReturn
  llvm/lib/CodeGen/SelectionDAG/FastISel.cpp
  llvm/test/CodeGen/X86/no-trap-after-noreturn-fastisel.ll
Labels: backend:X86, llvm:SelectionDAG

#118470 [LoopVectorize] Add tests for dereferenceable loads in more loops
  llvm/test/Transforms/LoopVectorize/load-deref-pred-align.ll
  llvm/test/Transforms/LoopVectorize/load-deref-pred-neg-off.ll
Labels: llvm:transforms

#118318 [SPIR-V] Fixup storage class for global private
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/lib/Target/SPIRV/SPIRVLegalizerInfo.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.h
  llvm/test/CodeGen/SPIRV/pointers/global-addrspacecast.ll
  llvm/test/CodeGen/SPIRV/pointers/variables-storage-class-vk.ll
  llvm/test/CodeGen/SPIRV/pointers/variables-storage-class.ll
Labels: backend:SPIR-V

#118024 Add support for SPIR-V extension: SPV_INTEL_media_block_io
  llvm/docs/SPIRVUsage.rst
  llvm/lib/Target/SPIRV/SPIRVBuiltins.cpp
  llvm/lib/Target/SPIRV/SPIRVBuiltins.td
  llvm/lib/Target/SPIRV/SPIRVCommandLine.cpp
  llvm/lib/Target/SPIRV/SPIRVInstrInfo.td
  llvm/lib/Target/SPIRV/SPIRVModuleAnalysis.cpp
  llvm/lib/Target/SPIRV/SPIRVSymbolicOperands.td
  llvm/test/CodeGen/SPIRV/extensions/SPV_INTEL_media_block_io/builtin-op-wrappers.ll
  llvm/test/CodeGen/SPIRV/extensions/SPV_INTEL_media_block_io/cl_intel_media_block_io.ll
Labels: backend:SPIR-V

#118486 [X86] Fix typo of gracemont
  compiler-rt/lib/builtins/cpu_model/x86.c
  llvm/lib/TargetParser/Host.cpp
Labels: compiler-rt, compiler-rt:builtins

#117563 [flang] Treat pre-processed input as fixed
  clang/lib/Driver/ToolChains/Flang.cpp
  flang/test/Driver/pp-fixed-form.f90
Labels: clang, clang:driver, flang:driver, flang, flang:parser

#118472 [InstCombine] Support gep nuw in icmp folds
  llvm/lib/Transforms/InstCombine/InstCombineCompares.cpp
  llvm/test/Transforms/InstCombine/icmp-gep.ll
Labels: llvm:instcombine, llvm:transforms

#116867 IR: introduce struct with CmpInst::Predicate and samesign
  llvm/include/llvm/Analysis/InstSimplifyFolder.h
  llvm/include/llvm/Analysis/InstructionSimplify.h
  llvm/include/llvm/Analysis/ValueTracking.h
  llvm/include/llvm/IR/CmpPredicate.h
  llvm/include/llvm/IR/Instructions.h
  llvm/include/llvm/Transforms/InstCombine/InstCombiner.h
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/lib/IR/Instructions.cpp
  llvm/lib/Transforms/InstCombine/InstCombineCompares.cpp
  llvm/lib/Transforms/InstCombine/InstCombineInternal.h
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
  llvm/unittests/IR/InstructionsTest.cpp
Labels: llvm:instcombine, llvm:ir, llvm:analysis, llvm:transforms

#118477 [clang][bytecode] Fix discarded pointer subtractions
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/test/AST/ByteCode/literals.cpp
Labels: clang, clang:frontend

#118476 IVDesc: strip redundant arg in getOpcode call (NFC)
  llvm/lib/Analysis/IVDescriptors.cpp
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
Labels: vectorizers, llvm:analysis, llvm:transforms

#118003 Reapply "[clang] Fix name lookup for dependent bases"
  clang/docs/ReleaseNotes.rst
  clang/lib/AST/CXXInheritance.cpp
  clang/lib/AST/DeclCXX.cpp
  clang/test/CXX/drs/cwg5xx.cpp
  clang/www/cxx_dr_status.html
Labels: clang, clang:frontend

#118482 [clang][bytecode] Fix `__extension__` handling for vector operators
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/test/AST/ByteCode/vectors.cpp
Labels: clang, clang:frontend

#118315 [clang-tidy] ignore `[[clang::lifetimebound]]` param in return-const-ref-from-parameter
  clang-tools-extra/clang-tidy/bugprone/ReturnConstRefFromParameterCheck.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/bugprone/return-const-ref-from-parameter.rst
  clang-tools-extra/test/clang-tidy/checkers/bugprone/return-const-ref-from-parameter.cpp
Labels: clang-tools-extra, clang-tidy

#118487 [SPIR-V] Add XFAIL to the broken test
  llvm/test/CodeGen/SPIRV/debug-info/debug-type-basic.ll
Labels: backend:SPIR-V

#118298 [SPIR-V] Fix generation of invalid SPIR-V in cases of of bitcasts between pointers and multiple null pointers used in the input LLVM IR
  llvm/lib/Target/SPIRV/SPIRVEmitIntrinsics.cpp
  llvm/test/CodeGen/SPIRV/pointers/tangled-ret.ll
  llvm/test/CodeGen/SPIRV/transcoding/OpPhi_ArgumentsPlaceholders.ll
  llvm/test/CodeGen/SPIRV/validate/sycl-tangle-group-algorithms.ll
Labels: backend:SPIR-V

#118484 [mlir][llvm] Align linkage enum order with LLVM (NFC)
  mlir/include/mlir-c/Dialect/LLVM.h
  mlir/include/mlir/Dialect/LLVMIR/LLVMEnums.td
Labels: mlir:llvm, mlir

#118461 [AMDGPU] Refine AMDGPUCodeGenPrepareImpl class. NFC.
  llvm/lib/Target/AMDGPU/AMDGPUCodeGenPrepare.cpp
Labels: backend:AMDGPU

#118497 [Offload] Find libc relative to DeviceRTL path
  offload/DeviceRTL/CMakeLists.txt
Labels: offload

#118319 [SystemZ] Add realistic cost estimates for vector reduction intrinsics
  llvm/lib/Target/SystemZ/SystemZTargetTransformInfo.cpp
  llvm/lib/Target/SystemZ/SystemZTargetTransformInfo.h
  llvm/test/Analysis/CostModel/SystemZ/reduce-add.ll
  llvm/test/Analysis/CostModel/SystemZ/vector-reductions.ll
  llvm/test/Transforms/SLPVectorizer/SystemZ/reductions-fadd.ll
  llvm/test/Transforms/SLPVectorizer/SystemZ/reductions-fmin-fmax.ll
  llvm/test/Transforms/SLPVectorizer/SystemZ/reductions-fmul.ll
Labels: backend:SystemZ, llvm:analysis, llvm:transforms

#118489 MLRegAlloc: Do not use float to count number of used registers [NFC]
  llvm/lib/CodeGen/MLRegAllocEvictAdvisor.cpp
Labels: llvm:regalloc, mlgo

#118333 [SPIR-V] Emit OpConstant instead of OpConstantNull to conform to NonSemantic.Shader.DebugInfo.100 DebugTypeBasic's flags definition
  llvm/lib/Target/SPIRV/SPIRVEmitNonSemanticDI.cpp
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.cpp
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.h
  llvm/test/CodeGen/SPIRV/debug-info/debug-type-basic.ll
Labels: backend:SPIR-V

#118510 libc: fixup include path and bazel stale comments
  libc/src/__support/OSUtil/linux/exit.cpp
  utils/bazel/llvm-project-overlay/libc/libc_build_rules.bzl
Labels: libc, bazel
