Repository llvm/llvm-project, pull requests merged in 2024-10, with the labels that each got.

#109249 [lld][WebAssembly] Avoid emitting empty __wasm_apply_data_relocs function
  lld/test/wasm/data-segments.ll
  lld/test/wasm/shared-weak-symbols.s
  lld/test/wasm/tls-export.s
  lld/test/wasm/tls-non-shared-memory.s
  lld/test/wasm/tls-relocations.s
  lld/wasm/Driver.cpp
  lld/wasm/InputChunks.cpp
  lld/wasm/InputChunks.h
  lld/wasm/Symbols.cpp
  lld/wasm/Symbols.h
  lld/wasm/Writer.cpp
Labels: lld, lld:wasm

#109518 [Clang][Sema] Retain the expanding index for unevaluated type constraints
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/SemaTemplateInstantiate.cpp
  clang/lib/Sema/SemaType.cpp
  clang/test/SemaCXX/fold_lambda_with_variadics.cpp
Labels: clang, clang:frontend

#110579 [LLDB][Minidump] Fix bug where we were using the wrong collection for thread stacks
  lldb/source/Plugins/ObjectFile/Minidump/MinidumpFileBuilder.cpp
  lldb/source/Plugins/ObjectFile/Minidump/MinidumpFileBuilder.h
Labels: lldb

#110524 [llvm][opt][Transforms] Replacement `calloc` should match replaced `malloc`
  llvm/include/llvm/Transforms/Utils/BuildLibCalls.h
  llvm/lib/Transforms/Scalar/DeadStoreElimination.cpp
  llvm/lib/Transforms/Utils/BuildLibCalls.cpp
  llvm/test/Transforms/DeadStoreElimination/malloc-to-calloc-with-nonzero-default-as.ll
Labels: tools:opt, llvm:optimizations, llvm:transforms

#100684 [RISCV] Implement Clang Builtins for XCValu Extension in CV32E40P
  clang/include/clang/Basic/BuiltinsRISCV.td
  clang/include/clang/Basic/BuiltinsRISCVXCV.td
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/Headers/CMakeLists.txt
  clang/lib/Headers/riscv_corev_alu.h
  clang/test/CodeGen/RISCV/riscv-xcvalu-c-api.c
  clang/test/CodeGen/RISCV/riscv-xcvalu.c
  llvm/include/llvm/IR/IntrinsicsRISCVXCV.td
  llvm/lib/Target/RISCV/RISCVInstrInfoXCV.td
  llvm/test/CodeGen/RISCV/xcvalu.ll
Labels: clang, backend:RISC-V, backend:X86, clang:frontend, clang:headers, clang:codegen, llvm:ir

#110563 [MLIR] Add test fort #110518 `cast`-to-`dyn_cast` fix
  mlir/test/Dialect/Affine/canonicalize.mlir
Labels: mlir:affine, mlir

#109668 [mlir][OpenMP] - MLIR to LLVMIR translation support for delayed privatization in `omp.target` ops.
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/openmp-target-private.mlir
Labels: mlir:llvm, mlir, mlir:openmp, flang:openmp

#110238 [Clang][Concepts] Normalize SizeOfPackExpr's pack declaration
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaConcept.cpp
  clang/lib/Sema/SemaTemplateInstantiate.cpp
  clang/test/SemaTemplate/concepts-out-of-line-def.cpp
Labels: clang, clang:frontend

#110210 [libc++][string] Add regression test for sized new/delete bug
  libcxx/test/std/strings/basic.string/string.capacity/deallocate_size.pass.cpp
Labels: libc++

#98438 [X86] Don't convert local function foo in the same section to foo(%rip) when the offset is near INT32_MIN
  llvm/lib/Target/X86/X86ISelDAGToDAG.cpp
  llvm/test/CodeGen/X86/fold-add.ll
Labels: backend:X86

#110629 [bazel] Fix build past 00128a20eec27246719d73ba427bf821883b00b4
  utils/bazel/llvm-project-overlay/clang/BUILD.bazel
Labels: bazel

#110214 [RISCV] Fold vfmv.f.s of f16 into load from stack
  llvm/lib/Target/RISCV/RISCVInstrInfo.cpp
  llvm/test/CodeGen/RISCV/rvv/stack-folding.ll
Labels: backend:RISC-V

#110162 [release/19.x][libc++] Disable the clang-tidy checks to get CI back (#109989)
  libcxx/test/tools/clang_tidy_checks/CMakeLists.txt
Labels: libc++

#107184 Backport "[Clang][CodeGen] Fix type for atomic float incdec operators (#107075)"
  clang/lib/CodeGen/CGExprScalar.cpp
  clang/test/CodeGen/X86/x86-atomic-double.c
  clang/test/CodeGen/X86/x86-atomic-long_double.c
Labels: clang, backend:X86, clang:codegen

#106914 [RISCV][VCIX] Add vcix_state to GNU inline assembly register set
  clang/lib/Basic/Targets/RISCV.cpp
  llvm/lib/Target/RISCV/RISCVRegisterInfo.cpp
  llvm/lib/Target/RISCV/RISCVRegisterInfo.h
  llvm/lib/Target/RISCV/RISCVRegisterInfo.td
  llvm/test/CodeGen/RISCV/inline-asm-xsfvcp.ll
Labels: clang, backend:RISC-V, clang:frontend

#109915 release/19.x: [LoongArch] Fix the assertion for atomic store with 'ptr' type
  llvm/lib/Target/LoongArch/LoongArchISelLowering.cpp
  llvm/test/CodeGen/LoongArch/ir-instruction/load-store-atomic.ll
Labels: backend:loongarch

#110263 [release/19.x][libc++] Fix AppleClang version number when checking for __builtin_verbose_trap support
  libcxx/vendor/llvm/default_assertion_handler.in
Labels: libc++, hardening

#110552 [compiler-rt] Fix C and C++ compilers being switched when compiling tests
  compiler-rt/cmake/Modules/CompilerRTCompile.cmake
Labels: cmake, compiler-rt

#110419 [mlir][Transforms][NFC] Dialect Conversion: Simplify `finalize` signature
  mlir/lib/Transforms/Utils/DialectConversion.cpp
Labels: mlir:core, mlir

#110504 [mlir][GPU] gpu.printf: Do not emit duplicate format strings
  mlir/lib/Conversion/GPUCommon/GPUOpsLowering.cpp
  mlir/test/Conversion/GPUToNVVM/gpu-to-nvvm.mlir
Labels: mlir:gpu, mlir

#109728 [LLVM][TableGen] Support type casts of nodes with multiple results
  llvm/lib/TableGen/TGParser.cpp
  llvm/test/TableGen/invalid-type-cast-patfrags.td
  llvm/test/TableGen/multiple-type-casts-patfrags.td
  llvm/utils/TableGen/Common/CodeGenDAGPatterns.cpp
Labels: tablegen, llvm:SelectionDAG

#110619 [ProfileData] Avoid repeated hash lookups (NFC)
  llvm/lib/ProfileData/Coverage/CoverageMapping.cpp
Labels: PGO

#110622 [MCA] Avoid repeated hash lookups (NFC)
  llvm/lib/MCA/InstrBuilder.cpp
Labels: tools:llvm-mca

#110614 [Clang][NFC] Add a test for CWG 2913
  clang/test/CXX/drs/cwg29xx.cpp
  clang/www/cxx_dr_status.html
Labels: clang, clang:frontend, skip-precommit-approval

#110479 [flang][NFC] simplify dispatching of reduction runtime calls
  flang/include/flang/Optimizer/Support/Utils.h
  flang/lib/Optimizer/Builder/Runtime/Reduction.cpp
Labels: flang, flang:fir-hlfir

#109955 [AMDGPU] Check vector sizes for physical register constraints in inline asm
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/inline-asm-mismatched-size.ll
  llvm/test/CodeGen/AMDGPU/inlineasm-mismatched-size-error.ll
  llvm/test/CodeGen/AMDGPU/inlineasm-mismatched-size.ll
Labels: backend:AMDGPU, llvm:globalisel

#109660 [SPIR-V] Fix inconsistency between previously deduced element type of a pointer and function's return type
  llvm/lib/Target/SPIRV/SPIRVEmitIntrinsics.cpp
  llvm/lib/Target/SPIRV/SPIRVPreLegalizer.cpp
  llvm/test/CodeGen/SPIRV/pointers/phi-valid-operand-types-rev.ll
  llvm/test/CodeGen/SPIRV/pointers/phi-valid-operand-types.ll
Labels: backend:SPIR-V

#109979 [SPIR-V] Implement OpSpecConstantOp with ptr-cast operation
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.cpp
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.h
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/lib/Target/SPIRV/SPIRVPreLegalizer.cpp
  llvm/lib/Target/SPIRV/SPIRVSymbolicOperands.td
  llvm/lib/Target/SPIRV/SPIRVUtils.cpp
  llvm/lib/Target/SPIRV/SPIRVUtils.h
  llvm/test/CodeGen/SPIRV/extensions/SPV_INTEL_function_pointers/fun-ptr-addrcast.ll
  llvm/test/CodeGen/SPIRV/pointers/PtrCast-in-OpSpecConstantOp.ll
  llvm/test/CodeGen/SPIRV/pointers/PtrCast-null-in-OpSpecConstantOp.ll
Labels: backend:SPIR-V

#110500 [SPIR-V] Implement support of the SPV_EXT_arithmetic_fence SPIRV extension
  llvm/docs/SPIRVUsage.rst
  llvm/lib/Target/SPIRV/SPIRVCommandLine.cpp
  llvm/lib/Target/SPIRV/SPIRVInstrInfo.td
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/lib/Target/SPIRV/SPIRVModuleAnalysis.cpp
  llvm/lib/Target/SPIRV/SPIRVSymbolicOperands.td
  llvm/test/CodeGen/SPIRV/llvm-intrinsics/arithmetic-fence.ll
Labels: backend:SPIR-V

#110107 [AArch64] Consistently use EmitToStreamer across the AArch64AsmPrinter
  llvm/lib/Target/AArch64/AArch64AsmPrinter.cpp
Labels: backend:AArch64

#110525 [mlir][vector] Add a new TD Op for patterns leveraging ShapeCastOp
  mlir/include/mlir/Dialect/Vector/TransformOps/VectorTransformOps.td
  mlir/lib/Dialect/Vector/TransformOps/VectorTransformOps.cpp
  mlir/lib/Dialect/Vector/Transforms/VectorTransforms.cpp
  mlir/test/Dialect/Vector/shape-cast-folder.mlir
  mlir/test/Dialect/Vector/vector-transforms.mlir
Labels: mlir:vectorops, mlir, mlir:vector

#97602 [Clang][LLVM][AArch64] Add intrinsic for MOVT SME2 instruction
  clang/include/clang/Basic/arm_sme.td
  clang/test/CodeGen/aarch64-sme2-intrinsics/acle_sme2_write_lane_zt.c
  clang/test/Sema/aarch64-sme2-intrinsics/acle_sme2_imm.cpp
  llvm/include/llvm/IR/IntrinsicsAArch64.td
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64SMEInstrInfo.td
  llvm/lib/Target/AArch64/SMEInstrFormats.td
  llvm/test/CodeGen/AArch64/sme2-intrinsics-write-zt.ll
Labels: clang, backend:AArch64, clang:frontend, llvm:ir

#106389 [analyzer] Add optin.taint.TaintedDiv checker
  clang/docs/analyzer/checkers.rst
  clang/include/clang/StaticAnalyzer/Checkers/Checkers.td
  clang/include/clang/StaticAnalyzer/Core/CheckerManager.h
  clang/lib/StaticAnalyzer/Checkers/DivZeroChecker.cpp
  clang/test/Analysis/divzero-tainted-div-difference.c
  clang/test/Analysis/taint-diagnostic-visitor.c
  clang/test/Analysis/taint-generic.c
Labels: clang, clang:static analyzer

#110535 [clang][x86] Add constexpr support for PDEP/PEXT intrinsics
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/BuiltinsX86.def
  clang/include/clang/Basic/BuiltinsX86_64.def
  clang/lib/AST/ExprConstant.cpp
  clang/lib/Headers/bmi2intrin.h
  clang/test/CodeGen/X86/bmi2-builtins.c
Labels: clang, backend:X86, clang:frontend, clang:headers

#110492 BasicAA: update comments in a routine (NFC)
  llvm/lib/Analysis/BasicAliasAnalysis.cpp
Labels: llvm:analysis

#110481 [lldb][TypeSystemClang] Add warning and defensive checks when ASTContext is not fully initialized
  lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.cpp
  lldb/unittests/Symbol/TestTypeSystemClang.cpp
Labels: lldb

#110581 [clang][x86] Add constexpr support for all remaining BMI1 intrinsics
  clang/docs/ReleaseNotes.rst
  clang/lib/Headers/bmiintrin.h
  clang/test/CodeGen/X86/bmi-builtins.c
Labels: clang, backend:X86, clang:headers

#110278 [LLVM][InstCombine][SVE] fcvtnt(a,all_active,b) != fcvtnt(undef,all_active,b)
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/test/Transforms/InstCombine/AArch64/sve-intrinsic-comb-all-active-lanes-cvt.ll
Labels: backend:AArch64, llvm:transforms

#110566 [libc][math] Fix exceptional cases pow(-0, 1/2) and pow(-inf, 1/2).
  libc/src/math/generic/pow.cpp
  libc/src/math/generic/powf.cpp
  libc/test/src/math/smoke/pow_test.cpp
  libc/test/src/math/smoke/powf_test.cpp
Labels: libc

#110610 [SLP][REVEC] getTypeSizeInBits should apply to scalar type instead of FixedVectorType.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/SystemZ/revec-fix-109835.ll
Labels: backend:SystemZ, vectorization, llvm:transforms

#89925 [clang-tidy] Add new check bugprone-tagged-union-member-count
  clang-tools-extra/clang-tidy/bugprone/BugproneTidyModule.cpp
  clang-tools-extra/clang-tidy/bugprone/CMakeLists.txt
  clang-tools-extra/clang-tidy/bugprone/TaggedUnionMemberCountCheck.cpp
  clang-tools-extra/clang-tidy/bugprone/TaggedUnionMemberCountCheck.h
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/bugprone/tagged-union-member-count.rst
  clang-tools-extra/docs/clang-tidy/checks/list.rst
  clang-tools-extra/test/clang-tidy/checkers/bugprone/tagged-union-member-count-counting-enum-heuristic-bad-config.cpp
  clang-tools-extra/test/clang-tidy/checkers/bugprone/tagged-union-member-count-counting-enum-heuristic-is-disabled.cpp
  clang-tools-extra/test/clang-tidy/checkers/bugprone/tagged-union-member-count-counting-enum-heuristic-is-enabled.cpp
  clang-tools-extra/test/clang-tidy/checkers/bugprone/tagged-union-member-count-counting-enum-prefixes-and-suffixes.cpp
  clang-tools-extra/test/clang-tidy/checkers/bugprone/tagged-union-member-count-counting-enum-prefixes.cpp
  clang-tools-extra/test/clang-tidy/checkers/bugprone/tagged-union-member-count-counting-enum-suffixes.cpp
  clang-tools-extra/test/clang-tidy/checkers/bugprone/tagged-union-member-count-strictmode-is-disabled.cpp
  clang-tools-extra/test/clang-tidy/checkers/bugprone/tagged-union-member-count-strictmode-is-enabled.cpp
  clang-tools-extra/test/clang-tidy/checkers/bugprone/tagged-union-member-count.c
  clang-tools-extra/test/clang-tidy/checkers/bugprone/tagged-union-member-count.cpp
  clang-tools-extra/test/clang-tidy/checkers/bugprone/tagged-union-member-count.m
  clang-tools-extra/test/clang-tidy/checkers/bugprone/tagged-union-member-count.mm
Labels: clang-tools-extra, clang-tidy

#109976 [APFloat] Correct semantics of minimum/maximum for signaling NaN arguments
  llvm/include/llvm/ADT/APFloat.h
  llvm/unittests/ADT/APFloatTest.cpp
Labels: floating-point, llvm:adt

#110259 [release/19.x] Cherry-picks to fix the zdump spurious failures in CI
  libcxx/test/std/time/time.zone/time.zone.timezone/time.zone.members/sys_info.zdump.pass.cpp
Labels: libc++

#110488 A few tweaks to the MLIR .pyi files
  mlir/python/mlir/_mlir_libs/_mlir/__init__.pyi
  mlir/python/mlir/_mlir_libs/_mlir/dialects/pdl.pyi
  mlir/python/mlir/_mlir_libs/_mlir/dialects/quant.pyi
  mlir/python/mlir/_mlir_libs/_mlir/dialects/transform/__init__.pyi
  mlir/python/mlir/_mlir_libs/_mlir/ir.pyi
  mlir/python/mlir/_mlir_libs/_mlir/passmanager.pyi
  mlir/python/mlir/_mlir_libs/_mlirExecutionEngine.pyi
Labels: mlir:python, mlir

#108989 [LLD][ELF][AArch64] Add BTI Aware long branch thunks
  lld/ELF/Arch/AArch64.cpp
  lld/ELF/Relocations.cpp
  lld/ELF/Relocations.h
  lld/ELF/Target.h
  lld/ELF/Thunks.cpp
  lld/ELF/Thunks.h
  lld/test/ELF/aarch64-thunk-bti.s
Labels: lld, lld:ELF

#109293 [SCEVExpander] Clear flags when reusing GEP
  llvm/include/llvm/Transforms/Utils/ScalarEvolutionExpander.h
  llvm/lib/Transforms/Utils/ScalarEvolutionExpander.cpp
  llvm/test/CodeGen/WebAssembly/simd-shift-in-loop.ll
  llvm/test/Transforms/LoopStrengthReduce/AMDGPU/preserve-addrspace-assert.ll
  llvm/test/Transforms/LoopStrengthReduce/ARM/illegal-addr-modes.ll
  llvm/unittests/Transforms/Utils/ScalarEvolutionExpanderTest.cpp
Labels: backend:AMDGPU, backend:WebAssembly, llvm:transforms

#110220 [AArch64][NEON][SVE] Lower i8 to i64 partial reduction to a dot product
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/neon-partial-reduce-dot-product.ll
  llvm/test/CodeGen/AArch64/sve-partial-reduce-dot-product.ll
Labels: backend:AArch64

#110546 [HLSL] Treat `main` as any other function
  clang/lib/AST/Decl.cpp
  clang/test/CodeGenHLSL/builtins/wave_get_lane_index_do_while.hlsl
  clang/test/Options/enable_16bit_types_validation_spirv.hlsl
Labels: clang, clang:frontend, HLSL

#109090 Add missing extendhfxf2 in compiler rt
  compiler-rt/lib/builtins/CMakeLists.txt
  compiler-rt/lib/builtins/extendhfxf2.c
  compiler-rt/lib/builtins/macho_embedded/common.txt
  compiler-rt/test/builtins/Unit/extendhfxf2_test.c
  llvm/utils/gn/secondary/compiler-rt/lib/builtins/BUILD.gn
Labels: compiler-rt, compiler-rt:builtins

#110624 [libc] Fix race conditions in sprintf_test.
  libc/test/src/stdio/sprintf_test.cpp
Labels: libc

#73789 [RISCV] Enable load clustering by default
  llvm/lib/Target/RISCV/RISCVTargetMachine.cpp
  llvm/test/CodeGen/RISCV/GlobalISel/vararg.ll
  llvm/test/CodeGen/RISCV/abds-neg.ll
  llvm/test/CodeGen/RISCV/abds.ll
  llvm/test/CodeGen/RISCV/abdu-neg.ll
  llvm/test/CodeGen/RISCV/abdu.ll
  llvm/test/CodeGen/RISCV/add-before-shl.ll
  llvm/test/CodeGen/RISCV/atomic-rmw-discard.ll
  llvm/test/CodeGen/RISCV/atomic-rmw.ll
  llvm/test/CodeGen/RISCV/atomic-signext.ll
  llvm/test/CodeGen/RISCV/atomicrmw-cond-sub-clamp.ll
  llvm/test/CodeGen/RISCV/atomicrmw-uinc-udec-wrap.ll
  llvm/test/CodeGen/RISCV/callee-saved-fpr32s.ll
  llvm/test/CodeGen/RISCV/callee-saved-fpr64s.ll
  llvm/test/CodeGen/RISCV/callee-saved-gprs.ll
  llvm/test/CodeGen/RISCV/calling-conv-ilp32-ilp32f-ilp32d-common.ll
  llvm/test/CodeGen/RISCV/calling-conv-ilp32e.ll
  llvm/test/CodeGen/RISCV/calling-conv-lp64-lp64f-lp64d-common.ll
  llvm/test/CodeGen/RISCV/forced-atomics.ll
  llvm/test/CodeGen/RISCV/fpclamptosat.ll
  llvm/test/CodeGen/RISCV/legalize-fneg.ll
  llvm/test/CodeGen/RISCV/llvm.exp10.ll
  llvm/test/CodeGen/RISCV/llvm.frexp.ll
  llvm/test/CodeGen/RISCV/memcpy.ll
  llvm/test/CodeGen/RISCV/misched-load-clustering.ll
  llvm/test/CodeGen/RISCV/mul.ll
  llvm/test/CodeGen/RISCV/nontemporal.ll
  llvm/test/CodeGen/RISCV/overflow-intrinsics.ll
  llvm/test/CodeGen/RISCV/push-pop-popret.ll
  llvm/test/CodeGen/RISCV/reduction-formation.ll
  llvm/test/CodeGen/RISCV/rv32zbb.ll
  llvm/test/CodeGen/RISCV/rv64i-shift-sext.ll
  llvm/test/CodeGen/RISCV/rvv/expand-no-v.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vector-i8-index-cornercase.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-elen.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-int-buildvec.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-interleaved-access-zve32x.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-lrint.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-masked-gather.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-masked-scatter.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-strided-load-store-asm.ll
  llvm/test/CodeGen/RISCV/rvv/fpclamptosat_vec.ll
  llvm/test/CodeGen/RISCV/scmp.ll
  llvm/test/CodeGen/RISCV/shifts.ll
  llvm/test/CodeGen/RISCV/srem-seteq-illegal-types.ll
  llvm/test/CodeGen/RISCV/srem-vector-lkk.ll
  llvm/test/CodeGen/RISCV/stack-store-check.ll
  llvm/test/CodeGen/RISCV/ucmp.ll
  llvm/test/CodeGen/RISCV/umulo-128-legalisation-lowering.ll
  llvm/test/CodeGen/RISCV/unaligned-load-store.ll
  llvm/test/CodeGen/RISCV/urem-seteq-illegal-types.ll
  llvm/test/CodeGen/RISCV/urem-vector-lkk.ll
  llvm/test/CodeGen/RISCV/vararg.ll
  llvm/test/CodeGen/RISCV/wide-scalar-shift-by-byte-multiple-legalization.ll
  llvm/test/CodeGen/RISCV/wide-scalar-shift-legalization.ll
  llvm/test/CodeGen/RISCV/xtheadmempair.ll
Labels: backend:AArch64, backend:AMDGPU, backend:RISC-V, llvm:globalisel

#109736 [ConstantFold][RFC] Add AllowLHSConstant parameter in getBinOpAbsorber
  llvm/include/llvm/IR/Constants.h
  llvm/lib/IR/ConstantFold.cpp
  llvm/lib/IR/Constants.cpp
Labels: llvm:ir, llvm:transforms

#108725 [NFC] Correct the misuse of the API in the Clang test-report script.
  clang/tools/scan-build-py/tests/unit/test_report.py
Labels: clang

#110587 Revert "[libc++] LWG3870: Remove `voidify` (#110355)"
  libcxx/docs/Status/Cxx23Issues.csv
  libcxx/include/CMakeLists.txt
  libcxx/include/__memory/construct_at.h
  libcxx/include/__memory/shared_ptr.h
  libcxx/include/__memory/uninitialized_algorithms.h
  libcxx/include/__memory/voidify.h
  libcxx/include/module.modulemap
  libcxx/include/optional
  libcxx/test/std/utilities/memory/specialized.algorithms/specialized.construct/construct_at.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/specialized.construct/ranges_construct_at.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/uninitialized.construct.default/ranges_uninitialized_default_construct.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/uninitialized.construct.default/ranges_uninitialized_default_construct_n.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/uninitialized.construct.value/ranges_uninitialized_value_construct.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/uninitialized.construct.value/ranges_uninitialized_value_construct_n.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/uninitialized.copy/ranges_uninitialized_copy.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/uninitialized.copy/ranges_uninitialized_copy_n.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/uninitialized.fill.n/ranges_uninitialized_fill_n.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/uninitialized.fill/ranges_uninitialized_fill.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/uninitialized.move/ranges_uninitialized_move.pass.cpp
  libcxx/test/std/utilities/memory/specialized.algorithms/uninitialized.move/ranges_uninitialized_move_n.pass.cpp
  llvm/utils/gn/secondary/libcxx/include/BUILD.gn
Labels: libc++

#110662 Revert "Add missing extendhfxf2 in compiler rt"
  compiler-rt/lib/builtins/CMakeLists.txt
  compiler-rt/lib/builtins/extendhfxf2.c
  compiler-rt/lib/builtins/macho_embedded/common.txt
  compiler-rt/test/builtins/Unit/extendhfxf2_test.c
  llvm/utils/gn/secondary/compiler-rt/lib/builtins/BUILD.gn
Labels: compiler-rt, compiler-rt:builtins

#109349 workflow/release-binaries: Checkout sources before downloading artifacts
  .github/workflows/release-binaries.yml
Labels: github:workflow

#108247 workflows/release-documentation: Submit a pull request with changes
  .github/workflows/release-documentation.yml
Labels: github:workflow

#109656 [AMDGPU] Specify width and align for all AMDGPU builtin types. NFC.
  clang/include/clang/AST/ASTContext.h
  clang/include/clang/AST/Type.h
  clang/include/clang/AST/TypeProperties.td
  clang/include/clang/Basic/AMDGPUTypes.def
  clang/include/clang/Serialization/ASTBitCodes.h
  clang/lib/AST/ASTContext.cpp
  clang/lib/AST/ASTImporter.cpp
  clang/lib/AST/ExprConstant.cpp
  clang/lib/AST/ItaniumMangle.cpp
  clang/lib/AST/MicrosoftMangle.cpp
  clang/lib/AST/NSAPI.cpp
  clang/lib/AST/PrintfFormatString.cpp
  clang/lib/AST/Type.cpp
  clang/lib/AST/TypeLoc.cpp
  clang/lib/CodeGen/CGDebugInfo.cpp
  clang/lib/CodeGen/CGDebugInfo.h
  clang/lib/CodeGen/CodeGenTypes.cpp
  clang/lib/CodeGen/ItaniumCXXABI.cpp
  clang/lib/Index/USRGeneration.cpp
  clang/lib/Sema/Sema.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Serialization/ASTCommon.cpp
  clang/lib/Serialization/ASTReader.cpp
  clang/tools/libclang/CIndex.cpp
  lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.cpp
Labels: clang, lldb, backend:AMDGPU, clang:frontend, clang:modules, clang:codegen, clang:as-a-library, debuginfo

#110509 [flang] IEEE_RINT, IEEE_INT
  flang/include/flang/Optimizer/Builder/IntrinsicCall.h
  flang/lib/Optimizer/Builder/IntrinsicCall.cpp
  flang/runtime/Float128Math/CMakeLists.txt
  flang/runtime/Float128Math/math-entries.h
  flang/runtime/Float128Math/nearbyint.cpp
  flang/test/Lower/Intrinsics/ieee_rint_int.f90
Labels: flang:runtime, flang, flang:fir-hlfir

#109891 [AMDGPU][True16][MC] Support VOP3 only instructions with true16 and fake16
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/lib/Target/AMDGPU/VOP2Instructions.td
  llvm/lib/Target/AMDGPU/VOP3Instructions.td
  llvm/test/CodeGen/AMDGPU/GlobalISel/inst-select-ashr.s16.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/inst-select-lshr.s16.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/inst-select-pattern-smed3.s16.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/inst-select-pattern-umed3.s16.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/inst-select-shl.s16.mir
  llvm/test/MC/AMDGPU/gfx11_asm_vop3.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp16.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp8.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_dpp8.txt
Labels: backend:AMDGPU, mc, llvm:globalisel

#109831 [clang] Fix the local parameter of void type inside the `Requires` expression.
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaExprCXX.cpp
  clang/test/CXX/expr/expr.prim/expr.prim.req/requires-expr.cpp
Labels: clang, clang:frontend

#109054 [libc++] Avoid re-exporting a few specific symbols from libc++abi
  libcxx/lib/abi/CHANGELOG.TXT
  libcxx/lib/abi/arm64-apple-darwin.libcxxabi.v1.stable.exceptions.nonew.abilist
  libcxx/lib/abi/x86_64-apple-darwin.libcxxabi.v1.stable.exceptions.nonew.abilist
  libcxxabi/lib/cxxabiv1.exp
  libcxxabi/lib/itanium-base.exp
  libcxxabi/lib/symbols-not-reexported.exp
  libcxxabi/src/CMakeLists.txt
Labels: libc++, libc++abi

#109461 [OpenACC] Add 'collapse' clause AST/basic Sema implementation
  clang/include/clang/AST/OpenACCClause.h
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Basic/OpenACCClauses.def
  clang/include/clang/Sema/SemaOpenACC.h
  clang/lib/AST/OpenACCClause.cpp
  clang/lib/AST/StmtProfile.cpp
  clang/lib/AST/TextNodeDumper.cpp
  clang/lib/Parse/ParseOpenACC.cpp
  clang/lib/Sema/SemaOpenACC.cpp
  clang/lib/Sema/TreeTransform.h
  clang/lib/Serialization/ASTReader.cpp
  clang/lib/Serialization/ASTWriter.cpp
  clang/test/AST/ast-print-openacc-loop-construct.cpp
  clang/test/ParserOpenACC/parse-clauses.c
  clang/test/ParserOpenACC/parse-clauses.cpp
  clang/test/SemaOpenACC/compute-construct-device_type-clause.c
  clang/test/SemaOpenACC/loop-construct-auto_seq_independent-clauses.c
  clang/test/SemaOpenACC/loop-construct-collapse-ast.cpp
  clang/test/SemaOpenACC/loop-construct-collapse-clause.cpp
  clang/test/SemaOpenACC/loop-construct-device_type-clause.c
  clang/tools/libclang/CIndex.cpp
Labels: clang, clang:frontend, clang:modules, clang:as-a-library

#110570 [libc++] Run additional LLDB data formatters tests as part of libc++'s CI
  libcxx/utils/ci/run-buildbot
Labels: libc++

#110605 [NFC] Fix line width to fit in 80 columns
  llvm/unittests/IR/AttributesTest.cpp
Labels: llvm:ir

#110578 [TableGen] Change TableGenMain to use const RecordKeeper
  clang/utils/TableGen/TableGen.cpp
  libc/utils/HdrGen/Main.cpp
  llvm/include/llvm/TableGen/Main.h
  llvm/lib/TableGen/TableGenBackendSkeleton.cpp
  mlir/lib/Tools/mlir-tblgen/MlirTblgenMain.cpp
Labels: clang, mlir:core, tablegen, libc, mlir

#110584 [Clang][TableGen] Change ClangAttrEmitter to use const Record *
  clang/utils/TableGen/ASTTableGen.h
  clang/utils/TableGen/ClangAttrEmitter.cpp
Labels: clang

#110585 [Clang][TableGen] Change ClangDiagnosticEmitter to use const Record *
  clang/utils/TableGen/ClangDiagnosticsEmitter.cpp
Labels: clang

#110588 [Clang][TableGen] Change Opcodes Emitter to use const Record *
  clang/utils/TableGen/ClangOpcodesEmitter.cpp
Labels: clang

#110590 [Clang][LLVM] Change OpenCL Emitter to use const Record *
  clang/utils/TableGen/ClangOpenCLBuiltinEmitter.cpp
Labels: clang

#110602 [TableGen] Change all type pointers to const
  llvm/include/llvm/TableGen/Record.h
  llvm/lib/TableGen/Record.cpp
  llvm/lib/TableGen/TGParser.cpp
  llvm/lib/TableGen/TGParser.h
  llvm/utils/TableGen/Common/CodeGenRegisters.cpp
  llvm/utils/TableGen/SearchableTableEmitter.cpp
Labels: tablegen

#110078 [NFC] Add a new Intrinsics.cpp file for intrinsic code
  llvm/include/llvm/IR/Intrinsics.h
  llvm/lib/IR/CMakeLists.txt
  llvm/lib/IR/Function.cpp
  llvm/lib/IR/IntrinsicInst.cpp
  llvm/lib/IR/Intrinsics.cpp
Labels: llvm:ir

#109693 [SystemZ][z/OS] fix libcxx lit when aligned allocation/de. functions are not available
  libcxx/test/libcxx/utilities/memory/util.smartptr/util.smartptr.shared/libcxx.control_block_layout.pass.cpp
Labels: libc++

#109808 [MLIR][OpenMP] Normalize handling of entry block arguments
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/test/Lower/OpenMP/delayed-privatization-reduction-byref.f90
  flang/test/Lower/OpenMP/delayed-privatization-reduction.f90
  mlir/include/mlir/Dialect/OpenMP/OpenMPClauses.td
  mlir/include/mlir/Dialect/OpenMP/OpenMPOps.td
  mlir/include/mlir/Dialect/OpenMP/OpenMPOpsInterfaces.td
  mlir/lib/Dialect/OpenMP/IR/OpenMPDialect.cpp
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Dialect/OpenMP/invalid.mlir
  mlir/test/Dialect/OpenMP/ops.mlir
  mlir/test/Target/LLVMIR/openmp-private.mlir
Labels: mlir:llvm, mlir, flang, mlir:openmp, flang:fir-hlfir, flang:openmp

#110654 [clang][x86] Add constexpr support for MULX intrinsics
  clang/docs/ReleaseNotes.rst
  clang/lib/Headers/bmi2intrin.h
  clang/test/CodeGen/X86/bmi2-builtins.c
Labels: clang, backend:X86, clang:headers

#110630 [InstCombine] Fold `icmp spred (mul nsw X, Z), (mul nsw Y, Z)` into `icmp spred X, Y`
  llvm/lib/Transforms/InstCombine/InstCombineCompares.cpp
  llvm/test/Transforms/InstCombine/icmp-mul.ll
Labels: llvm:transforms

#110620 [DebugInfo] Avoid repeated hash lookups (NFC)
  llvm/lib/DebugInfo/LogicalView/Core/LVCompare.cpp
Labels: debuginfo

#110108 [AArch64] Generalize the instruction size checking in AsmPrinter
  llvm/lib/Target/AArch64/AArch64AsmPrinter.cpp
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
Labels: backend:AArch64

#110673 [clang][bytecode] Check GetPtrBase ops for null pointers
  clang/lib/AST/ByteCode/Interp.h
  clang/test/AST/ByteCode/records.cpp
Labels: clang, clang:frontend

#109875 [RegisterPressure] NFC: Clean up RP handling for instructions with overlapping Def/Use
  llvm/lib/CodeGen/RegisterPressure.cpp
Labels: llvm:regalloc

#110675 [clang][bytecode] Implement ia32_{pdep,pext} builtins
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
Labels: clang, clang:frontend

#110562 [AMDGPU] Refactor several functions for merging with downstream work.
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
Labels: backend:AMDGPU

#109810 [MLIR][OpenMP] Use map format to represent use_device_{addr,ptr}
  flang/test/Fir/convert-to-llvm-openmp-and-fir.fir
  flang/test/Lower/OpenMP/target.f90
  flang/test/Lower/OpenMP/use-device-ptr-to-use-device-addr.f90
  mlir/include/mlir/Dialect/OpenMP/OpenMPClauses.td
  mlir/include/mlir/Dialect/OpenMP/OpenMPOps.td
  mlir/include/mlir/Dialect/OpenMP/OpenMPOpsInterfaces.td
  mlir/lib/Dialect/OpenMP/IR/OpenMPDialect.cpp
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Dialect/OpenMP/ops.mlir
  mlir/test/Target/LLVMIR/omptarget-llvm.mlir
  mlir/test/Target/LLVMIR/openmp-target-use-device-nested.mlir
Labels: mlir:llvm, mlir, flang, mlir:openmp, flang:fir-hlfir, flang:openmp

#110678 [llvm][OMPIRBuilder] Avoid Type::getPointerTo() (NFC)
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
Labels: flang:openmp, clang:openmp

#110067 [libc][stdio] Use proxy headers of stdio.h in src and test folders.
  libc/hdr/CMakeLists.txt
  libc/hdr/stdio_macros.h
  libc/hdr/stdio_overlay.h
  libc/hdr/types/CMakeLists.txt
  libc/hdr/types/FILE.h
  libc/hdr/types/cookie_io_functions_t.h
  libc/hdr/types/off_t.h
  libc/include/llvm-libc-macros/stdio-macros.h
  libc/src/__support/File/linux/CMakeLists.txt
  libc/src/stdio/asprintf.h
  libc/src/stdio/gpu/CMakeLists.txt
  libc/src/stdio/gpu/file.h
  libc/src/stdio/gpu/fprintf.cpp
  libc/src/stdio/gpu/getchar.cpp
  libc/src/stdio/gpu/printf.cpp
  libc/src/stdio/gpu/putchar.cpp
  libc/src/stdio/gpu/puts.cpp
  libc/src/stdio/gpu/vfprintf.cpp
  libc/src/stdio/gpu/vfprintf_utils.h
  libc/src/stdio/gpu/vprintf.cpp
  libc/src/stdio/linux/CMakeLists.txt
  libc/src/stdio/printf_core/CMakeLists.txt
  libc/src/stdio/vsscanf.cpp
  libc/test/src/__support/File/file_test.cpp
  libc/test/src/__support/File/platform_file_test.cpp
  libc/test/src/fcntl/fcntl_test.cpp
  libc/test/src/math/smoke/RIntTest.h
  libc/test/src/stdio/fgetc_test.cpp
  libc/test/src/stdio/fgetc_unlocked_test.cpp
  libc/test/src/stdio/fgets_test.cpp
  libc/test/src/stdio/fileop_test.cpp
  libc/test/src/stdio/fopencookie_test.cpp
  libc/test/src/stdio/fprintf_test.cpp
  libc/test/src/stdio/fscanf_test.cpp
  libc/test/src/stdio/ftell_test.cpp
  libc/test/src/stdio/putc_test.cpp
  libc/test/src/stdio/setbuf_test.cpp
  libc/test/src/stdio/setvbuf_test.cpp
  libc/test/src/stdio/sscanf_test.cpp
  libc/test/src/stdio/ungetc_test.cpp
  libc/test/src/stdio/unlocked_fileop_test.cpp
  libc/test/src/stdio/vfprintf_test.cpp
  libc/test/src/stdio/vfscanf_test.cpp
  libc/test/src/unistd/getopt_test.cpp
  libc/test/src/wchar/wctob_test.cpp
Labels: libc

#109811 [MLIR][OpenMP] Document entry block argument-defining clauses (NFC)
  mlir/docs/Dialects/OpenMPDialect/_index.md
Labels: mlir, mlir:openmp

#110266 [MLIR][OpenMP] Improve omp.section block arguments handling
  mlir/include/mlir/Dialect/OpenMP/OpenMPOps.td
  mlir/lib/Dialect/OpenMP/IR/OpenMPDialect.cpp
  mlir/test/Dialect/OpenMP/invalid.mlir
  mlir/test/Dialect/OpenMP/ops.mlir
Labels: mlir, mlir:openmp, flang:openmp

#109028 [libc++] Remove potential 0-sized array in __compressed_pair_padding
  libcxx/include/__format/format_arg_store.h
  libcxx/include/__memory/compressed_pair.h
Labels: clang, libc++, clang:frontend

#110573 [LLVM][TableGen] Decrease code size of `Intrinsic::getAttributes`
  llvm/test/TableGen/intrinsic-attrs.td
  llvm/utils/TableGen/IntrinsicEmitter.cpp
Labels: tablegen

#109719 [IR][Attribute] Add support for intersecting AttributeLists; NFC
  llvm/include/llvm/IR/Attributes.h
  llvm/include/llvm/IR/Attributes.td
  llvm/lib/IR/AttributeImpl.h
  llvm/lib/IR/Attributes.cpp
  llvm/unittests/IR/AttributesTest.cpp
  llvm/utils/TableGen/Attributes.cpp
Labels: tablegen, llvm:ir

#110582 [mlir] Pass Options ownership modifications
  mlir/include/mlir/Transforms/Passes.h
  mlir/lib/Dialect/Arith/Transforms/IntNarrowing.cpp
  mlir/tools/mlir-tblgen/PassGen.cpp
  mlir/unittests/TableGen/PassGenTest.cpp
Labels: mlir:core, mlir, mlir:arith

#110687 [MLIR][TableGen] Change MLIR TableGen to use const Record *
  mlir/include/mlir/TableGen/Predicate.h
  mlir/lib/TableGen/Predicate.cpp
  mlir/tools/mlir-tblgen/BytecodeDialectGen.cpp
  mlir/tools/mlir-tblgen/OmpOpGen.cpp
  mlir/tools/mlir-tblgen/OpDocGen.cpp
  mlir/tools/mlir-tblgen/SPIRVUtilsGen.cpp
  mlir/tools/tblgen-to-irdl/OpDefinitionsGen.cpp
Labels: mlir:core, mlir:spirv, mlir

#109909 workflows/release-binaries: Use static ZSTD on macOS
  clang/cmake/caches/Release.cmake
Labels: clang, github:workflow

#110534 [Attributor][FIX] Track returned pointer offsets
  llvm/include/llvm/Transforms/IPO/Attributor.h
  llvm/lib/Transforms/IPO/AttributorAttributes.cpp
  llvm/test/Transforms/Attributor/value-simplify-pointer-info.ll
Labels: llvm:transforms

#110592 [Clang][TableGen] Change OptionDoc Emitter to use const Record *
  clang/utils/TableGen/ClangOptionDocEmitter.cpp
Labels: clang

#110596 [Clang][TableGen] Change SACheckersEmitter to use const Record *
  clang/utils/TableGen/ClangSACheckersEmitter.cpp
Labels: clang

#110597 [Clang][TableGen] Change NeonEmitter to use const Record *
  clang/utils/TableGen/NeonEmitter.cpp
  clang/utils/TableGen/SveEmitter.cpp
Labels: clang

#110058 [lldb][DWARF] Replace lldb's DWARFDebugArangeSet with llvm's
  lldb/source/Plugins/SymbolFile/DWARF/CMakeLists.txt
  lldb/source/Plugins/SymbolFile/DWARF/DWARFDebugArangeSet.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DWARFDebugArangeSet.h
  lldb/source/Plugins/SymbolFile/DWARF/DWARFDebugAranges.cpp
  lldb/unittests/SymbolFile/DWARF/SymbolFileDWARFTests.cpp
  llvm/include/llvm/DebugInfo/DWARF/DWARFDebugArangeSet.h
  llvm/lib/DebugInfo/DWARF/DWARFDebugArangeSet.cpp
Labels: lldb, debuginfo

#110709 [libc] Move struct Sign into LIBC_NAMESPACE
  libc/src/__support/sign.h
  libc/test/UnitTest/FPMatcher.h
  libc/test/src/__support/FPUtil/dyadic_float_test.cpp
  libc/test/src/__support/FPUtil/fpbits_test.cpp
  libc/test/src/math/FDimTest.h
  libc/test/src/math/HypotTest.h
  libc/test/src/math/ILogbTest.h
  libc/test/src/math/LdExpTest.h
  libc/test/src/math/NextAfterTest.h
  libc/test/src/math/RIntTest.h
  libc/test/src/math/RemQuoTest.h
  libc/test/src/math/RoundToIntegerTest.h
  libc/test/src/math/atanhf_test.cpp
  libc/test/src/math/smoke/AddTest.h
  libc/test/src/math/smoke/DivTest.h
  libc/test/src/math/smoke/FDimTest.h
  libc/test/src/math/smoke/GetPayloadTest.h
  libc/test/src/math/smoke/ILogbTest.h
  libc/test/src/math/smoke/LdExpTest.h
  libc/test/src/math/smoke/MulTest.h
  libc/test/src/math/smoke/NearbyIntTest.h
  libc/test/src/math/smoke/NextAfterTest.h
  libc/test/src/math/smoke/NextTowardTest.h
  libc/test/src/math/smoke/RIntTest.h
  libc/test/src/math/smoke/RemQuoTest.h
  libc/test/src/math/smoke/SetPayloadSigTest.h
  libc/test/src/math/smoke/SetPayloadTest.h
  libc/test/src/math/smoke/SubTest.h
  libc/test/src/math/smoke/TotalOrderMagTest.h
  libc/test/src/math/smoke/TotalOrderTest.h
  libc/test/src/math/smoke/atanhf_test.cpp
Labels: libc

#109323 [HLSL] Array by-value assignment
  clang/include/clang/AST/CanonicalType.h
  clang/lib/AST/ExprClassification.cpp
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CodeGenFunction.h
  clang/lib/Sema/SemaOverload.cpp
  clang/test/AST/HLSL/ArrayAssignable.hlsl
  clang/test/CodeGenHLSL/ArrayAssignable.hlsl
  clang/test/SemaHLSL/ArrayAssignable_errors.hlsl
Labels: clang, clang:frontend, clang:codegen, HLSL

#109426 [RISCV][GISEL] Legalize G_EXTRACT_SUBVECTOR
  llvm/include/llvm/CodeGen/GlobalISel/GenericMachineInstrs.h
  llvm/include/llvm/CodeGen/GlobalISel/LegalizerHelper.h
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/lib/Target/RISCV/GISel/RISCVLegalizerInfo.cpp
  llvm/lib/Target/RISCV/GISel/RISCVLegalizerInfo.h
  llvm/lib/Target/RISCV/RISCVInstrGISel.td
  llvm/test/CodeGen/RISCV/GlobalISel/legalizer/rvv/legalize-extract-subvector.mir
Labels: backend:RISC-V, llvm:globalisel

#110716 [scudo] Fix wording for unsupported test reason.
  compiler-rt/lib/scudo/standalone/tests/memtag_test.cpp
Labels: compiler-rt, compiler-rt:scudo, compiler-rt:sanitizer

#110688 [KnownBits] Make `avg{Ceil,Floor}S` optimal
  llvm/include/llvm/Support/KnownBits.h
  llvm/lib/Support/KnownBits.cpp
  llvm/unittests/Support/KnownBitsTest.cpp
Labels: llvm:support

#110644 [RISCV] Add pattern for PACK/PACKH in common misaligned load case
  llvm/lib/Target/RISCV/RISCVInstrInfoZb.td
  llvm/test/CodeGen/RISCV/unaligned-load-store.ll
Labels: backend:RISC-V

#110628 [NFC] Make 'Triple&' param a 'const&' instead
  llvm/include/llvm/Object/Archive.h
  llvm/lib/Object/Archive.cpp
Labels: llvm, llvm:binary-utilities

#109676 [SystemZ][z/OS] fix ppc-xmmintrin.c on z/OS
  clang/test/CodeGen/PowerPC/ppc-xmmintrin.c
Labels: clang, backend:PowerPC

#110717 [scudo] Fix isOwned on MTE devices.
  compiler-rt/lib/scudo/standalone/combined.h
Labels: compiler-rt, compiler-rt:scudo, compiler-rt:sanitizer

#110328 [MTE] Allow stack history for API level >=35
  llvm/lib/Target/AArch64/AArch64StackTagging.cpp
  llvm/test/CodeGen/AArch64/stack-tagging-dbg-assign-tag-offset.ll
  llvm/test/CodeGen/AArch64/stack-tagging-dbg-declare-tag-offset.ll
  llvm/test/CodeGen/AArch64/stack-tagging-dbg-value-tag-offset-nopad.ll
  llvm/test/CodeGen/AArch64/stack-tagging-prologue.ll
Labels: backend:AArch64

#110734 [SLP]Add debug counter support
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/debug-counter.ll
Labels: vectorization, llvm:transforms

#110656 [MLIR][Python] Add `encoding` argument to `tensor.empty` Python function
  mlir/python/mlir/dialects/tensor.py
  mlir/test/python/dialects/sparse_tensor/dialect.py
Labels: mlir:python, mlir

#108803 [mlir][tensor] Apply `InsertSliceOfTransferWriteOpFolder` only when `transfer_write` overwrites all elements of `insert_slice`
  mlir/lib/Dialect/Tensor/Transforms/FoldTensorSubsetOps.cpp
  mlir/test/Dialect/Tensor/fold-tensor-subset-ops.mlir
Labels: mlir, mlir:tensor

#110187 [HLSL][clang] Add elementwise builtin for atan2 (p3)
  clang/docs/LanguageExtensions.rst
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/Builtins.td
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/Headers/hlsl/hlsl_intrinsics.h
  clang/lib/Sema/SemaChecking.cpp
  clang/lib/Sema/SemaHLSL.cpp
  clang/test/CodeGen/builtins-elementwise-math.c
  clang/test/CodeGen/strictfp-elementwise-bulitins.cpp
  clang/test/CodeGenHLSL/builtins/atan2.hlsl
  clang/test/Sema/aarch64-sve-vector-trig-ops.c
  clang/test/Sema/builtins-elementwise-math.c
  clang/test/Sema/riscv-rvv-vector-trig-ops.c
  clang/test/SemaCXX/builtins-elementwise-math.cpp
  clang/test/SemaHLSL/BuiltIns/fmod-errors.hlsl
  clang/test/SemaHLSL/BuiltIns/half-float-only-errors.hlsl
  clang/test/SemaHLSL/BuiltIns/half-float-only-errors2.hlsl
  clang/test/SemaHLSL/BuiltIns/pow-errors.hlsl
Labels: clang, backend:RISC-V, backend:X86, clang:frontend, clang:headers, clang:codegen, HLSL

#110745 [compiler-rt] XFAIL freadlink on darwin x86_64.
  compiler-rt/test/sanitizer_common/TestCases/Darwin/freadlink.c
Labels: compiler-rt, compiler-rt:sanitizer

#110198 [Clang] Add __builtin_(elementwise|reduce)_(max|min)imum
  clang/docs/LanguageExtensions.rst
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/Builtins.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Sema/Sema.h
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/Sema/SemaChecking.cpp
  clang/test/CodeGen/builtins-elementwise-math.c
  clang/test/CodeGen/builtins-reduction-math.c
  clang/test/CodeGen/strictfp-elementwise-bulitins.cpp
  clang/test/Sema/aarch64-sve-vector-pow-ops.c
  clang/test/Sema/builtins-elementwise-math.c
  clang/test/Sema/builtins-reduction-math.c
  clang/test/Sema/riscv-rvv-vector-trig-ops.c
  clang/test/Sema/riscv-sve-vector-pow-ops.c
  clang/test/SemaCXX/builtins-elementwise-math.cpp
Labels: clang, backend:RISC-V, clang:frontend, clang:codegen, HLSL

#109684 [SandboxVec][DAG] MemDGNode for memory-dependency candidate nodes
  llvm/include/llvm/Transforms/Vectorize/SandboxVectorizer/DependencyGraph.h
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/DependencyGraph.cpp
  llvm/unittests/Transforms/Vectorize/SandboxVectorizer/DependencyGraphTest.cpp
Labels: vectorization, llvm:transforms

#108425 [Utils] Add new --update-tests flag to llvm-lit
  clang/test/lit.cfg.py
  llvm/docs/CommandGuide/lit.rst
  llvm/test/lit.cfg.py
  llvm/utils/lit/lit/LitConfig.py
  llvm/utils/lit/lit/TestRunner.py
  llvm/utils/lit/lit/cl_arguments.py
  llvm/utils/lit/lit/llvm/config.py
  llvm/utils/lit/lit/main.py
  llvm/utils/update_any_test_checks.py
Labels: clang, llvm-lit, testing-tools

#110759 [libc] clean up sprintf macros and float tests
  libc/test/src/stdio/sprintf_test.cpp
Labels: libc

#96023 [clang] Finish implementation of P0522
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Sema/Sema.h
  clang/lib/Frontend/FrontendActions.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/lib/Sema/SemaTemplateInstantiate.cpp
  clang/test/CXX/temp/temp.arg/temp.arg.template/p3-0x.cpp
  clang/test/CXX/temp/temp.param/p12.cpp
  clang/test/Modules/cxx-templates.cpp
  clang/test/SemaCXX/make_integer_seq.cpp
  clang/test/SemaTemplate/cwg2398.cpp
  clang/test/SemaTemplate/temp_arg_nontype.cpp
  clang/test/SemaTemplate/temp_arg_template.cpp
  clang/test/SemaTemplate/temp_arg_template_p0522.cpp
  clang/test/Templight/templight-empty-entries-fix.cpp
  clang/test/Templight/templight-prior-template-arg.cpp
Labels: clang, libc++, clang:frontend, clang:modules

#110724 [clang] Remove 'PCH' from more diagnostics that were wrong or misleading NFC
  clang/include/clang/Basic/DiagnosticSerializationKinds.td
Labels: clang, clang:frontend

#110133 [clang] Fix eager skipping on new with unknown type and no new-initializer
  clang/lib/Parse/ParseExpr.cpp
  clang/test/AST/new-unknown-type.cpp
  clang/test/Parser/colon-colon-parentheses.cpp
  clang/test/Parser/cxx-ambig-paren-expr-asan.cpp
Labels: clang, clang:frontend

#110393 [clang] Improve deduction of reference typed NTTP
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/test/SemaTemplate/temp_arg_nontype_cxx1z.cpp
Labels: clang, clang:frontend

#110769 [libc] Do not redefine `wchar_t` when compiling in C++
  libc/include/llvm-libc-types/wchar_t.h
Labels: libc

#110746 [RISCV][GISEL] regbankselect for G_VMCLR_VL
  llvm/test/CodeGen/RISCV/GlobalISel/regbankselect/rvv/vmclr.mir
Labels: backend:RISC-V, llvm:globalisel

#110744 [RISCV][GISEL] regbankselect for G_SPLAT_VECTOR
  llvm/lib/Target/RISCV/GISel/RISCVRegisterBankInfo.cpp
  llvm/test/CodeGen/RISCV/GlobalISel/regbankselect/rvv/splatvector-rv32.mir
  llvm/test/CodeGen/RISCV/GlobalISel/regbankselect/rvv/splatvector-rv64.mir
Labels: backend:RISC-V, llvm:globalisel

#110752 [llvm-debuginfod-find] Fix help text regression
  llvm/tools/llvm-debuginfod-find/llvm-debuginfod-find.cpp
Labels: debuginfo

#110311 [MLIR][Pass] Full & deterministic diagnostics
  mlir/lib/Pass/Pass.cpp
  mlir/test/Pass/crash-recovery-dynamic-failure.mlir
  mlir/test/Pass/full_diagnostics.mlir
  mlir/test/lib/Pass/TestPassManager.cpp
Labels: mlir:core, mlir

#110781 [IR][Attribute] Don't create dangling references
  llvm/unittests/IR/AttributesTest.cpp
Labels: llvm:ir

#110699 [clang][bytecode] Protect ia32_{lzcnt,tzcnt} against non-integers
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
Labels: clang, clang:frontend

#110773 [Clang][NFC] Consolidate the parameter check for the `requires` expression parameter.
  clang/lib/Parse/ParseDecl.cpp
  clang/lib/Sema/SemaExprCXX.cpp
Labels: clang, clang:frontend

#110521 [mlir][vector] Add memref reshapes to transfer flow opt
  mlir/include/mlir/Dialect/MemRef/Utils/MemRefUtils.h
  mlir/lib/Dialect/MemRef/Utils/MemRefUtils.cpp
  mlir/lib/Dialect/Vector/Transforms/VectorTransferOpTransforms.cpp
  mlir/test/Dialect/Vector/vector-transferop-opt.mlir
Labels: mlir:vectorops, mlir, mlir:memref, mlir:vector

#110780 [Modules] Mark CFProtectionOptions.def as a textual header because it is used for x-macro purposes.
  clang/include/module.modulemap
Labels: clang

#108336 [RISCV] Add 32 bit GPR sub-register for Zfinx.
  llvm/lib/Target/RISCV/AsmParser/RISCVAsmParser.cpp
  llvm/lib/Target/RISCV/Disassembler/RISCVDisassembler.cpp
  llvm/lib/Target/RISCV/RISCVCallingConv.cpp
  llvm/lib/Target/RISCV/RISCVDeadRegisterDefinitions.cpp
  llvm/lib/Target/RISCV/RISCVExpandPseudoInsts.cpp
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfo.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoC.td
  llvm/lib/Target/RISCV/RISCVInstrInfoF.td
  llvm/lib/Target/RISCV/RISCVMakeCompressible.cpp
  llvm/lib/Target/RISCV/RISCVMergeBaseOffset.cpp
  llvm/lib/Target/RISCV/RISCVRegisterInfo.td
  llvm/test/CodeGen/RISCV/fastcc-without-f-reg.ll
  llvm/test/CodeGen/RISCV/float-arith.ll
  llvm/test/CodeGen/RISCV/float-bitmanip-dagcombines.ll
  llvm/test/CodeGen/RISCV/float-frem.ll
  llvm/test/CodeGen/RISCV/float-imm.ll
  llvm/test/CodeGen/RISCV/float-intrinsics.ll
  llvm/test/CodeGen/RISCV/half-intrinsics.ll
  llvm/test/CodeGen/RISCV/kcfi-mir.ll
  llvm/test/CodeGen/RISCV/llvm.frexp.ll
  llvm/test/CodeGen/RISCV/make-compressible-zfinx.mir
Labels: backend:RISC-V

#110793 [ConstantFPRange] Address review comments. NFC.
  llvm/include/llvm/IR/ConstantFPRange.h
  llvm/lib/IR/ConstantFPRange.cpp
  llvm/unittests/IR/ConstantFPRangeTest.cpp
Labels: floating-point, llvm:ir

#110218 [RISCV] Lower vector_reverse for zvfhmin/zvfbfmin
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoVVLPatterns.td
  llvm/test/CodeGen/RISCV/rvv/named-vector-shuffle-reverse.ll
Labels: backend:RISC-V

#110742 [mlir][linalg] Refine test for tensor.pad vectorization
  mlir/test/Dialect/Linalg/vectorization-with-patterns.mlir
Labels: mlir:linalg, mlir

#110154 [Clang] Update Interpreter tests to use clang_target_link_libraries
  clang/unittests/Interpreter/CMakeLists.txt
Labels: clang

#110221 [RISCV] Lower insert_vector_elt on zvfhmin/zvfbfmin
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/insertelt-fp.ll
Labels: backend:RISC-V

#110643 [flang] remove support for std::complex value lowering.
  flang/include/flang/Optimizer/Builder/Runtime/RTBuilder.h
  flang/unittests/Optimizer/RTBuilder.cpp
Labels: flang, flang:fir-hlfir

#110799 [bazel] Fix build past 4e2efea5e8e55b26dd7ac90c6cd1ab7bf6775650
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: bazel

#109962 [CodeGen][RAGreedy] Inform LiveDebugVariables about snippets spilled by InlineSpiller.
  llvm/include/llvm/CodeGen/Spiller.h
  llvm/lib/CodeGen/InlineSpiller.cpp
  llvm/lib/CodeGen/RegAllocGreedy.cpp
  llvm/test/CodeGen/X86/debug-spilled-snippet.ll
  llvm/test/CodeGen/X86/debug-spilled-snippet.mir
Labels: backend:X86, llvm:regalloc, debuginfo

#109815 [mlir][tensor] Extend the logic to generalise tensor.pack
  mlir/include/mlir/Dialect/Tensor/Utils/Utils.h
  mlir/lib/Dialect/Linalg/Transforms/Transforms.cpp
  mlir/lib/Dialect/Tensor/Utils/Utils.cpp
  mlir/test/Dialect/Linalg/generalize-tensor-pack.mlir
Labels: mlir:linalg, mlir, mlir:tensor

#110506 [IR] Allow fast math flags on calls with homogeneous FP struct types
  clang/test/CodeGen/X86/cx-complex-range.c
  clang/test/CodeGen/cx-complex-range.c
  clang/test/CodeGen/nofpclass.c
  llvm/docs/LangRef.rst
  llvm/include/llvm/IR/DerivedTypes.h
  llvm/include/llvm/IR/Operator.h
  llvm/lib/IR/Attributes.cpp
  llvm/lib/IR/Type.cpp
  llvm/test/Bitcode/compatibility.ll
  llvm/unittests/IR/InstructionsTest.cpp
Labels: clang, backend:X86, llvm:ir

#110650 [AMDGPU] Remember to clear a DenseMap between runs of SIInsertWaitcnts
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
Labels: backend:AMDGPU

#99336 [lldb][RISCV] function calls support in lldb expressions
  lldb/source/Expression/IRExecutionUnit.cpp
  lldb/source/Plugins/ABI/RISCV/ABISysV_riscv.cpp
  lldb/source/Plugins/ExpressionParser/Clang/ClangExpressionParser.cpp
  llvm/lib/ExecutionEngine/RuntimeDyld/RuntimeDyldELF.cpp
  llvm/lib/ExecutionEngine/RuntimeDyld/RuntimeDyldELF.h
Labels: lldb

#110671 [flang][Semantics][OpenMP] don't reduce variables in namelist
  flang/lib/Semantics/check-namelist.cpp
  flang/lib/Semantics/check-namelist.h
  flang/lib/Semantics/resolve-directives.cpp
  flang/test/Semantics/OpenMP/reduction-namelist.f90
  flang/test/Semantics/resolve123.f90
Labels: flang, flang:openmp, flang:semantics

#108833 [LoopVectorize] In LoopVectorize.cpp start using getSymbolicMaxBackedgeTakenCount
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlan.cpp
  llvm/test/Transforms/LoopVectorize/outer_loop_early_exit.ll
Labels: vectorization, llvm:transforms

#102133 [SCEVExpander] Preserve gep nuw during expansion
  llvm/include/llvm/Transforms/Utils/ScalarEvolutionExpander.h
  llvm/lib/Transforms/Utils/ScalarEvolutionExpander.cpp
  llvm/test/Analysis/ScalarEvolution/scev-expander-reuse-gep.ll
  llvm/test/Transforms/IndVarSimplify/D108043.ll
  llvm/test/Transforms/IndVarSimplify/lftr-dead-ivs.ll
  llvm/test/Transforms/IndVarSimplify/lftr.ll
  llvm/test/Transforms/LoopIdiom/basic-address-space.ll
  llvm/test/Transforms/LoopIdiom/basic.ll
  llvm/test/Transforms/LoopIdiom/memset-pr52104.ll
  llvm/test/Transforms/LoopStrengthReduce/2011-12-19-PostincQuadratic.ll
  llvm/test/Transforms/LoopStrengthReduce/X86/2012-01-13-phielim.ll
  llvm/test/Transforms/LoopStrengthReduce/post-inc-icmpzero.ll
  llvm/test/Transforms/LoopVectorize/AArch64/sve-interleaved-accesses.ll
  llvm/test/Transforms/LoopVectorize/induction.ll
  llvm/test/Transforms/LoopVectorize/interleaved-accesses.ll
  llvm/test/Transforms/LoopVectorize/multiple-strides-vectorization.ll
  llvm/test/Transforms/LoopVectorize/pr47343-expander-lcssa-after-cfg-update.ll
  llvm/test/Transforms/LoopVectorize/runtime-checks-difference.ll
  llvm/test/Transforms/LoopVersioning/add-phi-update-users.ll
  llvm/test/Transforms/LoopVersioning/bound-check-partially-known.ll
Labels: llvm:analysis, llvm:transforms

#110689 [clang][ExtractAPI] Generate subheading for typedef'd anonymous types
  clang/lib/ExtractAPI/DeclarationFragments.cpp
  clang/test/ExtractAPI/typedef_anonymous_record.c
Labels: clang

#109794 ValueTracking: strip stray break in recur-match
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/test/Transforms/InstCombine/cast_phi.ll
  llvm/test/Transforms/InstCombine/known-non-zero.ll
  llvm/test/Transforms/InstCombine/remove-loop-phi-multiply-by-zero.ll
Labels: llvm:analysis, llvm:transforms

#110817 Fix typo (NFC)
  llvm/docs/LangRef.rst
Labels: llvm:ir
