Repository llvm/llvm-project, pull requests merged in 2024-06, with the labels that each got.

#94084 Guard against nullptr
  clang/lib/AST/QualTypeNames.cpp
Labels: clang, clang:frontend

#93993 [MachO LLD] Respect -all_load with --start-lib --end-lib style archives
  lld/MachO/Driver.cpp
  lld/test/MachO/start-lib.s
Labels: lld, lld:MachO

#93757 [SLP][NFCI] Address issues seen in downstream Coverity scan.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: vectorization, llvm:transforms

#92168 [libc] rework mutex
  libc/config/config.json
  libc/docs/configure.rst
  libc/hdr/types/CMakeLists.txt
  libc/hdr/types/pid_t.h
  libc/include/llvm-libc-types/CMakeLists.txt
  libc/include/llvm-libc-types/cnd_t.h
  libc/src/__support/File/dir.h
  libc/src/__support/File/file.h
  libc/src/__support/threads/CndVar.h
  libc/src/__support/threads/fork_callbacks.cpp
  libc/src/__support/threads/gpu/mutex.h
  libc/src/__support/threads/linux/CMakeLists.txt
  libc/src/__support/threads/linux/CndVar.cpp
  libc/src/__support/threads/linux/mutex.h
  libc/src/__support/threads/linux/raw_mutex.h
  libc/src/__support/threads/thread.cpp
  libc/src/pthread/pthread_mutex_init.cpp
  libc/src/pthread/pthread_mutexattr.h
  libc/src/stdlib/atexit.cpp
  libc/src/threads/linux/CMakeLists.txt
  libc/src/threads/mtx_init.cpp
  libc/test/integration/src/__support/threads/thread_detach_test.cpp
  libc/test/src/__support/CMakeLists.txt
  libc/test/src/__support/threads/CMakeLists.txt
  libc/test/src/__support/threads/linux/CMakeLists.txt
  libc/test/src/__support/threads/linux/raw_mutex_test.cpp
Labels: libc

#94088 Revert "A few updates around "transcript""
  lldb/include/lldb/API/SBCommandInterpreter.h
  lldb/include/lldb/Interpreter/CommandInterpreter.h
  lldb/include/lldb/Target/Statistics.h
  lldb/source/Commands/CommandObjectStats.cpp
  lldb/source/Commands/Options.td
  lldb/source/Interpreter/CommandInterpreter.cpp
  lldb/source/Target/Statistics.cpp
  lldb/test/API/commands/statistics/basic/TestStats.py
  lldb/test/API/python_api/interpreter/TestCommandInterpreterAPI.py
Labels: lldb

#94087 [libc] fix test build on platforms without `SYS_fork`
  libc/test/src/__support/threads/linux/raw_mutex_test.cpp
Labels: libc

#94094 [clang] Fix a typo: ExplicitObje[C]tArgument. NFC
  clang/lib/Sema/SemaTemplateDeduction.cpp
Labels: clang, clang:frontend

#94093 [libc] fix build failures due to SIGCHLD
  libc/test/src/__support/threads/linux/CMakeLists.txt
  libc/test/src/__support/threads/linux/raw_mutex_test.cpp
Labels: libc

#92971 [libc++] Remove the inline namespace for std::filesystem in ABIv2
  libcxx/include/__config
  libcxx/include/__configuration/abi.h
  libcxx/test/libcxx/input.output/filesystems/convert_file_time.pass.cpp
Labels: libc++

#93856 [GISel] Convert zext nneg to sext if it is cheaper
  llvm/include/llvm/CodeGen/GlobalISel/CombinerHelper.h
  llvm/include/llvm/Target/GlobalISel/Combine.td
  llvm/lib/CodeGen/GlobalISel/CombinerHelper.cpp
  llvm/test/CodeGen/RISCV/GlobalISel/alu-roundtrip-rv64.ll
  llvm/test/CodeGen/RISCV/GlobalISel/combine.mir
Labels: llvm:globalisel

#94038 [analyzer][NFC] Fix comparison to True/False
  clang/tools/scan-build/bin/set-xcode-analyzer
  clang/utils/check_cfc/check_cfc.py
Labels: clang, clang:static analyzer

#93945 [Clang][Sema] Push an evaluation context for type constraints
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/test/SemaTemplate/concepts-lambda.cpp
Labels: clang, clang:frontend

#92681 [mlir][bufferization] Allow mixed static/dynamic shapes in `materialize_in_destination` op
  mlir/include/mlir/Dialect/Bufferization/IR/BufferizationOps.td
  mlir/lib/Dialect/Bufferization/IR/BufferizationOps.cpp
  mlir/test/Dialect/Bufferization/invalid.mlir
  mlir/test/Dialect/Bufferization/ops.mlir
Labels: mlir, mlir:bufferization

#92663 [libc++] Fix failures with GCC 14
  libcxx/include/__string/constexpr_c_functions.h
  libcxx/include/__type_traits/remove_pointer.h
  libcxx/include/bitset
  libcxx/test/std/time/time.zone/time.zone.leap/nonmembers/comparison.pass.cpp
  libcxx/test/std/utilities/expected/expected.expected/monadic/transform.pass.cpp
  libcxx/test/std/utilities/expected/expected.expected/monadic/transform_error.pass.cpp
  libcxx/test/std/utilities/expected/expected.void/monadic/transform_error.pass.cpp
  libcxx/test/std/utilities/format/format.formatter/format.formatter.spec/formatter.char_array.pass.cpp
  libcxx/test/std/utilities/tuple/tuple.tuple/tuple.cnstr/PR31384.pass.cpp
  libcxx/test/std/utilities/variant/variant.visit.member/visit_return_type.pass.cpp
  libcxxabi/test/catch_member_function_pointer_02.pass.cpp
Labels: libc++, libc++abi

#94008 [DAGCombine] Fix type mismatch in `(shl X, cttz(Y)) -> (mul (Y & -Y), X)`
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/test/CodeGen/PowerPC/pr85066.ll
Labels: backend:PowerPC, llvm:SelectionDAG

#94097 AMDGPU: Remove arbitrary SCC liveness scan threshold
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/test/CodeGen/AMDGPU/issue92561-restore-undef-scc-verifier-error.ll
Labels: backend:AMDGPU

#93741 [BOLT][DWARF][NFC] Add split-dwarf4 test with multiple CUs
  bolt/test/X86/Inputs/dwarf4-df-input-lowpc-ranges-other.s
  bolt/test/X86/dwarf4-df-input-lowpc-ranges-cus.test
Labels: BOLT

#93182 [DAG] Replace getValid*ShiftAmountConstant helpers with getValid*ShiftAmount helpers to support KnownBits analysis
  llvm/include/llvm/CodeGen/SelectionDAG.h
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/PowerPC/pr44183.ll
Labels: backend:PowerPC, backend:X86, llvm:SelectionDAG

#93919 [NVPTX] disable combine-mad test for newer ptxas
  llvm/test/CodeGen/NVPTX/combine-mad.ll
Labels: backend:NVPTX

#93547 Fix order of include flags for the target & regular include paths.
  libcxx/test/configs/llvm-libc++-android-ndk.cfg.in
  libcxx/test/configs/llvm-libc++-mingw.cfg.in
  libcxx/test/configs/llvm-libc++-shared-clangcl.cfg.in
  libcxx/test/configs/llvm-libc++-shared-gcc.cfg.in
  libcxx/test/configs/llvm-libc++-shared.cfg.in
  libcxx/test/configs/llvm-libc++-static-clangcl.cfg.in
Labels: libc++

#94112 Use StringRef::starts_with (NFC)
  lldb/source/Plugins/Language/CPlusPlus/CPlusPlusLanguage.cpp
  lldb/source/Utility/UriParser.cpp
  llvm/lib/MC/MCExpr.cpp
Labels: lldb, mc

#88712 [MLIR][SCF] Add an API to fuse consumer to a producer within scf loop
  mlir/include/mlir/Dialect/SCF/Transforms/TileUsingInterface.h
  mlir/include/mlir/Dialect/Tensor/Transforms/Transforms.h
  mlir/include/mlir/Interfaces/TilingInterface.td
  mlir/lib/Dialect/Linalg/Transforms/TilingInterfaceImpl.cpp
  mlir/lib/Dialect/SCF/Transforms/TileUsingInterface.cpp
  mlir/lib/Dialect/Tensor/IR/TensorTilingInterfaceImpl.cpp
  mlir/lib/Dialect/Tensor/Transforms/SwapExtractSliceWithProducerPatterns.cpp
  mlir/test/Interfaces/TilingInterface/tile-and-fuse-consumer.mlir
  mlir/test/lib/Interfaces/TilingInterface/TestTilingInterfaceTransformOps.cpp
  mlir/test/lib/Interfaces/TilingInterface/TestTilingInterfaceTransformOps.td
Labels: mlir:linalg, mlir, mlir:tensor, mlir:scf

#92783 [libc++] Fix `std::atomic::wait` ulock wait UL_COMPARE_AND_WAIT64
  libcxx/src/atomic.cpp
  libcxx/test/libcxx/atomics/atomics.syn/wait.pass.cpp
Labels: libc++

#94126 [mlir][bazel] Add bazel build support for https://github.com/llvm/llvm-project/commit/2b2ce50fe843b5b550806a0ab15b06cd5c405d48
  mlir/lib/Dialect/SCF/Transforms/TileUsingInterface.cpp
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: mlir, mlir:scf, bazel

#94132 [SelectionDAG] Mark `SelectionDAGISel` destructor virtual
  llvm/include/llvm/CodeGen/SelectionDAGISel.h
Labels: skip-precommit-approval

#94134 [BPF] Remove unused ID in `SelectionDAGISel`
  llvm/lib/Target/BPF/BPFISelDAGToDAG.cpp
Labels: skip-precommit-approval

#94135 [Targets] Remove unused ID in *DAGToDAGISel
  llvm/lib/Target/AVR/AVRISelDAGToDAG.cpp
  llvm/lib/Target/Lanai/LanaiISelDAGToDAG.cpp
  llvm/lib/Target/LoongArch/LoongArchISelDAGToDAG.h
Labels: backend:loongarch, skip-precommit-approval

#94120 [libc++] [test] Fix `__has_include` usage, expand condvarany and spaceship coverage
  libcxx/test/std/concepts/concepts.compare/concepts.totallyordered/totally_ordered.pass.cpp
  libcxx/test/std/concepts/concepts.compare/concepts.totallyordered/totally_ordered_with.pass.cpp
  libcxx/test/std/thread/thread.condition/thread.condition.condvarany/wait_for_pred.pass.cpp
  libcxx/test/support/test_macros.h
Labels: libc++

#94136 Use llvm::less_first (NFC)
  clang/lib/Serialization/ASTWriter.cpp
  clang/lib/Tooling/DependencyScanning/DependencyScanningWorker.cpp
  llvm/lib/MC/MCPseudoProbe.cpp
  llvm/lib/Target/AMDGPU/SIMachineFunctionInfo.h
  mlir/lib/Dialect/SparseTensor/Transforms/SparseReinterpretMap.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/Utils/LoopEmitter.cpp
Labels: clang, backend:AMDGPU, clang:modules, mc, mlir:sparse, mlir

#94086 [memprof] Use GlobalValue::GUID instead of uint64_t (NFC)
  llvm/include/llvm/ProfileData/MemProf.h
Labels: PGO

#94121 [libc++] [test] Cleanup compile-only tests
  libcxx/test/std/atomics/atomics.ref/member_types.compile.pass.cpp
  libcxx/test/std/concepts/concepts.compare/concepts.totallyordered/totally_ordered.compile.pass.cpp
  libcxx/test/std/concepts/concepts.compare/concepts.totallyordered/totally_ordered_with.compile.pass.cpp
  libcxx/test/std/concepts/concepts.compare/concepts.totallyordered/totally_ordered_with.pass.cpp
  libcxx/test/std/concepts/concepts.lang/concepts.arithmetic/floating_point.compile.pass.cpp
  libcxx/test/std/concepts/concepts.lang/concepts.arithmetic/integral.compile.pass.cpp
  libcxx/test/std/concepts/concepts.lang/concepts.arithmetic/signed_integral.compile.pass.cpp
  libcxx/test/std/concepts/concepts.lang/concepts.arithmetic/unsigned_integral.compile.pass.cpp
  libcxx/test/std/containers/associative/map/gcc_workaround.compile.pass.cpp
  libcxx/test/std/containers/associative/map/map.cons/default_recursive.compile.pass.cpp
  libcxx/test/std/containers/associative/multimap/multimap.cons/default_recursive.compile.pass.cpp
  libcxx/test/std/containers/associative/set/gcc_workaround.compile.pass.cpp
  libcxx/test/std/iterators/iterator.requirements/iterator.assoc.types/readable.traits/iter_value_t.compile.pass.cpp
  libcxx/test/std/numerics/numbers/user_type.compile.pass.cpp
  libcxx/test/std/strings/char.traits/char.traits.require/nothing_to_do.compile.pass.cpp
  libcxx/test/std/strings/char.traits/char.traits.typedefs/nothing_to_do.compile.pass.cpp
  libcxx/test/std/strings/string.view/string.view.synop/nothing_to_do.compile.pass.cpp
  libcxx/test/std/strings/strings.general/nothing_to_do.compile.pass.cpp
Labels: libc++

#94163 [TableGen] Use llvm::unique (NFC)
  llvm/utils/TableGen/AsmMatcherEmitter.cpp
  llvm/utils/TableGen/Common/CodeGenDAGPatterns.cpp
  llvm/utils/TableGen/Common/CodeGenRegisters.cpp
  llvm/utils/TableGen/Common/CodeGenSchedule.cpp
  llvm/utils/TableGen/Common/CodeGenTarget.cpp
  llvm/utils/TableGen/Common/GlobalISel/GlobalISelMatchTableExecutorEmitter.cpp
  llvm/utils/TableGen/DFAEmitter.cpp
  llvm/utils/TableGen/FastISelEmitter.cpp
  llvm/utils/TableGen/GlobalISelEmitter.cpp
  llvm/utils/TableGen/InstrInfoEmitter.cpp
  llvm/utils/TableGen/RegisterInfoEmitter.cpp
Labels: llvm:globalisel

#94102 [libc++] Don't give functions C linkage
  libcxx/include/__config
  libcxx/include/__locale_dir/locale_base_api/android.h
  libcxx/include/__locale_dir/locale_base_api/ibm.h
  libcxx/include/__locale_dir/locale_base_api/musl.h
  libcxx/include/__locale_dir/locale_base_api/openbsd.h
  libcxx/include/__support/xlocale/__nop_locale_mgmt.h
  libcxx/include/__support/xlocale/__posix_l_fallback.h
  libcxx/include/__support/xlocale/__strtonum_fallback.h
Labels: libc++

#94119 [clang-format] Handle attributes before lambda return arrow
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/unittests/Format/FormatTest.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#94114 [memprof] Use const ref for IndexedRecord
  llvm/lib/ProfileData/InstrProfReader.cpp
Labels: PGO

#93387 [IR] Do not set `none` for function uwtable
  llvm/include/llvm/IR/Function.h
  llvm/lib/CodeGen/MachineOutliner.cpp
  llvm/lib/IR/Attributes.cpp
  llvm/unittests/IR/FunctionTest.cpp
Labels: llvm:ir

#93451 [BPI] Cache LoopExitBlocks to improve compile time
  llvm/lib/Analysis/BranchProbabilityInfo.cpp
Labels: llvm:analysis

#89023 [GISel][CombinerHelper] Combine op(trunc(x), trunc(y)) -> trunc(op(x, y))
  llvm/lib/CodeGen/GlobalISel/CombinerHelper.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/combine-op-trunc.mir
  llvm/test/CodeGen/AArch64/GlobalISel/combine-select.mir
  llvm/test/CodeGen/AArch64/GlobalISel/prelegalizercombiner-hoist-same-hands.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/fshl.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fshr.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/uaddsat.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/usubsat.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/xnor.ll
Labels: backend:AArch64, backend:AMDGPU, llvm:globalisel

#93811 [LoongArch] Custom legalize i32 operations for LA64 to reduce signed extensions
  llvm/lib/Target/LoongArch/LoongArchISelLowering.cpp
  llvm/lib/Target/LoongArch/LoongArchInstrInfo.td
  llvm/test/CodeGen/LoongArch/alsl.ll
  llvm/test/CodeGen/LoongArch/atomicrmw-uinc-udec-wrap.ll
  llvm/test/CodeGen/LoongArch/ir-instruction/add.ll
  llvm/test/CodeGen/LoongArch/ir-instruction/and.ll
  llvm/test/CodeGen/LoongArch/ir-instruction/call.ll
  llvm/test/CodeGen/LoongArch/ir-instruction/load-store.ll
  llvm/test/CodeGen/LoongArch/ir-instruction/sub.ll
  llvm/test/CodeGen/LoongArch/select-to-shiftand.ll
  llvm/test/CodeGen/LoongArch/sextw-removal.ll
Labels: backend:loongarch

#94085 [memprof] Add accessors to Frame::SymbolName
  llvm/include/llvm/ProfileData/MemProf.h
Labels: PGO

#93571 Reland "[InstCombine] Fold (sub nuw X, (Y << nuw Z)) >>u exact Z --> (X >>u exact Z) sub nuw Y"
  llvm/lib/Transforms/InstCombine/InstCombineShifts.cpp
  llvm/test/Transforms/InstCombine/lshr.ll
Labels: llvm:transforms

#93417 [clang][Modules] Remove unnecessary includes of `Module.h`
  clang-tools-extra/clangd/unittests/ReplayPeambleTests.cpp
  clang/include/clang/APINotes/APINotesManager.h
  clang/include/clang/ExtractAPI/Serialization/SymbolGraphSerializer.h
  clang/include/clang/Serialization/ASTWriter.h
  clang/include/clang/Serialization/ModuleManager.h
  clang/lib/APINotes/APINotesManager.cpp
  clang/lib/AST/ASTDumper.cpp
  clang/lib/CodeGen/CodeGenModule.h
  clang/lib/ExtractAPI/API.cpp
  libcxx/test/tools/clang_tidy_checks/header_exportable_declarations.cpp
Labels: clang, clang-tools-extra, libc++, clangd, clang:frontend, clang:modules, clang:codegen

#93461 [clang][dataflow] Rewrite `getReferencedDecls()` with a `RecursiveASTVisitor`.
  clang/include/clang/Analysis/FlowSensitive/ASTOps.h
  clang/lib/Analysis/FlowSensitive/ASTOps.cpp
  clang/lib/Analysis/FlowSensitive/DataflowEnvironment.cpp
Labels: clang, clang:dataflow, clang:analysis

#94172 [libc++][test] Mark `optional` test functions as `TEST_CONSTEXPR_CXX20`
  libcxx/test/std/utilities/optional/optional.object/optional.object.assign/emplace.pass.cpp
  libcxx/test/std/utilities/optional/optional.object/optional.object.mod/reset.pass.cpp
Labels: libc++

#93940 [AArch64] Avoid NEON ORR when NEON and SVE are unavailable
  llvm/lib/Target/AArch64/AArch64InstrInfo.cpp
  llvm/test/CodeGen/AArch64/arm64-reg-copy-noneon.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-masked-load.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-test-register-mov.ll
Labels: backend:AArch64

#93661 [SPIR-V] Validate type of the last parameter of OpGroupWaitEvents
  llvm/lib/Target/SPIRV/SPIRVISelLowering.cpp
  llvm/test/CodeGen/SPIRV/event-wait-ptr-type.ll
Labels: backend:SPIR-V

#93946 [lldb] Avoid (unlimited) GetNumChildren calls when printing values
  lldb/source/DataFormatters/FormatManager.cpp
  lldb/source/DataFormatters/ValueObjectPrinter.cpp
  lldb/test/API/functionalities/data-formatter/synthcapping/TestSyntheticCapping.py
  lldb/test/API/functionalities/data-formatter/synthcapping/fooSynthProvider.py
Labels: lldb

#67930 [clang][Modules] Move `ASTSourceDescriptor` into its own file
  clang/include/clang/Basic/ASTSourceDescriptor.h
  clang/include/clang/Basic/Module.h
  clang/lib/AST/ExternalASTSource.cpp
  clang/lib/Basic/ASTSourceDescriptor.cpp
  clang/lib/Basic/CMakeLists.txt
  clang/lib/Basic/Module.cpp
  clang/lib/CodeGen/CGDebugInfo.h
  clang/lib/Serialization/ASTReader.cpp
  lldb/source/Plugins/ExpressionParser/Clang/ASTUtils.h
  lldb/source/Plugins/ExpressionParser/Clang/ClangExternalASTSourceCallbacks.cpp
  lldb/source/Plugins/ExpressionParser/Clang/ClangExternalASTSourceCallbacks.h
Labels: clang, lldb, clang:frontend, clang:modules, clang:codegen, debuginfo

#93951 [flang][OpenMP][NFC] Reduce FunctionFiltering pass boilerplate
  flang/include/flang/Optimizer/Transforms/Passes.h
  flang/include/flang/Optimizer/Transforms/Passes.td
  flang/include/flang/Tools/CLOptions.inc
  flang/lib/Optimizer/Transforms/OMPFunctionFiltering.cpp
Labels: flang, flang:fir-hlfir, flang:openmp

#94196 [lldb][test] Fix D lang mangling test on Windows
  lldb/test/API/lang/c/non-mangled/TestCNonMangled.py
Labels: lldb

#93831 [RISCV] Remove experimental from Zabha
  clang/test/Preprocessor/riscv-target-features.c
  llvm/docs/RISCVUsage.rst
  llvm/docs/ReleaseNotes.rst
  llvm/lib/Target/RISCV/RISCVFeatures.td
  llvm/test/CodeGen/RISCV/atomic-cmpxchg-branch-on-result.ll
  llvm/test/CodeGen/RISCV/atomic-cmpxchg.ll
  llvm/test/CodeGen/RISCV/atomic-rmw.ll
  llvm/test/CodeGen/RISCV/attributes.ll
  llvm/test/MC/RISCV/rvzabha-invalid.s
  llvm/test/MC/RISCV/rvzabha-valid.s
  llvm/test/MC/RISCV/rvzabha-zacas-valid.s
  llvm/unittests/TargetParser/RISCVISAInfoTest.cpp
Labels: clang, backend:RISC-V, mc

#93921 [flang] Emit `argNo` debug info only for `func` block args
  flang/include/flang/Optimizer/Dialect/FIROpsSupport.h
  flang/lib/Optimizer/Analysis/AliasAnalysis.cpp
  flang/lib/Optimizer/Dialect/FIROps.cpp
  flang/lib/Optimizer/Transforms/AddDebugInfo.cpp
  flang/test/Lower/OpenMP/debug_info_conflict.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#92531 [SPIR-V] Add pass to merge convergence region exit targets
  llvm/lib/Target/SPIRV/CMakeLists.txt
  llvm/lib/Target/SPIRV/SPIRV.h
  llvm/lib/Target/SPIRV/SPIRVEmitIntrinsics.cpp
  llvm/lib/Target/SPIRV/SPIRVInstrInfo.td
  llvm/lib/Target/SPIRV/SPIRVMergeRegionExitTargets.cpp
  llvm/lib/Target/SPIRV/SPIRVTargetMachine.cpp
  llvm/test/CodeGen/SPIRV/structurizer/merge-exit-break.ll
  llvm/test/CodeGen/SPIRV/structurizer/merge-exit-convergence-in-break.ll
  llvm/test/CodeGen/SPIRV/structurizer/merge-exit-multiple-break.ll
  llvm/test/CodeGen/SPIRV/structurizer/merge-exit-simple-white-identity.ll
Labels: backend:SPIR-V

#94167 [clang] Add tests for some CWG issues from 2024-05-31 telecon
  clang/test/CXX/drs/cwg28xx.cpp
  clang/www/cxx_dr_status.html
Labels: clang, test-suite, c++

#94169 [llvm] Replace deprecated aligned_storage with aligned byte array
  llvm/include/llvm/ADT/FunctionExtras.h
  llvm/lib/Support/PrettyStackTrace.cpp
Labels: llvm:support, llvm:adt

#93972 [RISCV] Match strided vector bases in RISCVGatherScatterLowering
  llvm/lib/Target/RISCV/RISCVGatherScatterLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/strided-load-store.ll
Labels: backend:RISC-V

#92660 [symbolizer] Empty string is not an error
  llvm/test/tools/llvm-symbolizer/get-input-file.test
  llvm/tools/llvm-symbolizer/llvm-symbolizer.cpp
Labels: llvm:binary-utilities

#93666 [mlir][emitc] Lower arith.andi, arith.ori, arith.xori to EmitC
  mlir/lib/Conversion/ArithToEmitC/ArithToEmitC.cpp
  mlir/test/Conversion/ArithToEmitC/arith-to-emitc.mlir
Labels: mlir, mlir:emitc

#93942 remove goma support from clang
  clang/lib/Tooling/JSONCompilationDatabase.cpp
  clang/unittests/Tooling/CompilationDatabaseTest.cpp
Labels: clang

#93815 [clang][analyzer] Move unix.BlockInCriticalSection out of alpha
  clang/docs/analyzer/checkers.rst
  clang/include/clang/StaticAnalyzer/Checkers/Checkers.td
  clang/test/Analysis/analyzer-enabled-checkers.c
  clang/test/Analysis/block-in-critical-section.c
  clang/test/Analysis/block-in-critical-section.cpp
  clang/test/Analysis/block-in-critical-section.m
  clang/test/Analysis/std-c-library-functions-arg-enabled-checkers.c
  clang/www/analyzer/alpha_checks.html
Labels: clang, clang:static analyzer

#94203 [clang] Make sure all C++ DR tests are running with `-pedantic-errors`
  clang/test/CXX/drs/cwg24xx.cpp
  clang/test/CXX/drs/cwg2630.cpp
  clang/test/CXX/drs/cwg26xx.cpp
  clang/test/CXX/drs/cwg27xx.cpp
Labels: clang, test-suite, c++

#69704 [clangd] Allow "move function body out-of-line" in non-header files
  clang-tools-extra/clangd/refactor/tweaks/DefineOutline.cpp
  clang-tools-extra/clangd/unittests/tweaks/DefineOutlineTests.cpp
Labels: clangd

#93699 [SPIR-V] Fix legalize info for G_BITREVERSE
  llvm/lib/Target/SPIRV/SPIRVLegalizerInfo.cpp
  llvm/lib/Target/SPIRV/SPIRVPreLegalizer.cpp
  llvm/test/CodeGen/SPIRV/transcoding/OpBitReverse_i2.ll
Labels: backend:SPIR-V

#93686 [GlobalMerge] Add MinSize feature to the GlobalMerge Pass.
  llvm/include/llvm/CodeGen/GlobalMerge.h
  llvm/lib/CodeGen/GlobalMerge.cpp
  llvm/test/CodeGen/RISCV/global-merge-minsize-smalldata-nonzero.ll
  llvm/test/CodeGen/RISCV/global-merge-minsize-smalldata-zero.ll
  llvm/test/CodeGen/RISCV/global-merge-minsize.ll
Labels: llvm:codegen

#94173 [Clang] Fix crash on improper use of __array_extent
  clang/docs/ReleaseNotes.rst
  clang/lib/Parse/ParseExprCXX.cpp
  clang/test/SemaCXX/incomplete-array-extent.cpp
Labels: clang, clang:frontend

#94210 Revert "[Reassociate] Drop weight reduction to fix issue 91417 (#91469)"
  llvm/lib/Transforms/Scalar/Reassociate.cpp
  llvm/test/Transforms/Reassociate/reassoc_bool_vec.ll
  llvm/test/Transforms/Reassociate/repeats.ll
Labels: llvm:transforms

#93692 [X86][AMX] Check also AMX register live out for copy lowering
  llvm/lib/Target/X86/X86LowerTileCopy.cpp
  llvm/test/CodeGen/X86/AMX/amx-tile-basic.ll
Labels: backend:X86

#93858 [mlir][spirv] Add integration tests for `vector.interleave` and `vector.shuffle`
  mlir/lib/Conversion/GPUToSPIRV/CMakeLists.txt
  mlir/lib/Conversion/GPUToSPIRV/GPUToSPIRVPass.cpp
  mlir/test/mlir-vulkan-runner/vector-interleave.mlir
  mlir/test/mlir-vulkan-runner/vector-shuffle.mlir
Labels: mlir:gpu, mlir:spirv, mlir

#94204 [flang] Fix compilation errors due to new clang template requirements
  flang/include/flang/Evaluate/integer.h
  flang/lib/Evaluate/fold-real.cpp
  flang/runtime/reduction-templates.h
Labels: flang:runtime, flang, flang:semantics

#94104 [clang-tidy] Fix assert in modernize-use-std-format/print
  clang-tools-extra/clang-tidy/modernize/UseStdFormatCheck.cpp
  clang-tools-extra/clang-tidy/modernize/UseStdPrintCheck.cpp
  clang-tools-extra/clang-tidy/utils/FormatStringConverter.cpp
  clang-tools-extra/clang-tidy/utils/Matchers.h
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/test/clang-tidy/checkers/modernize/use-std-format-custom.cpp
  clang-tools-extra/test/clang-tidy/checkers/modernize/use-std-print-custom.cpp
Labels: clang-tools-extra, clang-tidy

#90260 [MachineOutliner] Efficient Implementation of MachineOutliner::findCandidates()
  llvm/lib/CodeGen/MachineOutliner.cpp
  llvm/test/CodeGen/AArch64/machine-outliner-overlap.mir
Labels: backend:AArch64

#93976 [CUDA][HIP] Fix std::min in wrapper header
  clang/lib/Headers/cuda_wrappers/algorithm
  clang/test/Headers/cuda_wrapper_algorithm.cu
Labels: clang, backend:X86, clang:headers

#93835 [NFC] reorganize the PPCInstrP10.td based on the Predicates
  llvm/lib/Target/PowerPC/PPCInstrP10.td
Labels: backend:PowerPC

#79875 [Serialization] Check for stack exhaustion when reading declarations
  clang/include/clang/Serialization/ASTReader.h
  clang/lib/Serialization/ASTReader.cpp
  clang/lib/Serialization/ASTReaderDecl.cpp
Labels: clang, clang:frontend, clang:modules

#93965 [ARM] Avoid reference into modified vector
  llvm/lib/Target/AArch64/AArch64InstrInfo.cpp
  llvm/lib/Target/ARM/ARMBaseInstrInfo.cpp
Labels: backend:ARM, backend:AArch64

#93953 [flang][fir] add fir.is_assumed_size codegen
  flang/include/flang/Optimizer/Builder/Runtime/Support.h
  flang/lib/Optimizer/Builder/Runtime/Support.cpp
  flang/lib/Optimizer/Transforms/AssumedRankOpConversion.cpp
  flang/test/Fir/is_assumed_size-codegen.fir
Labels: flang, flang:fir-hlfir

#94139 Reapply "[OpenMP][OMPX] Add shfl_down_sync (#93311)"
  offload/DeviceRTL/include/Utils.h
  offload/DeviceRTL/src/Mapping.cpp
  offload/DeviceRTL/src/Utils.cpp
  offload/test/offloading/ompx_bare_shfl_down_sync.cpp
  openmp/runtime/src/include/ompx.h.var
Labels: openmp:libomp, offload

#94140 [OpenMP][OMPX] Fix ompx_ballot_sync test
  offload/test/offloading/ompx_bare_ballot_sync.c
Labels: offload

#93967 [flang] lower select rank
  flang/include/flang/Lower/ConvertExprToHLFIR.h
  flang/lib/Evaluate/check-expression.cpp
  flang/lib/Lower/Bridge.cpp
  flang/lib/Optimizer/Builder/HLFIRTools.cpp
  flang/test/Lower/HLFIR/select-rank.f90
Labels: flang, flang:fir-hlfir, flang:semantics

#93753 Pass LangOpts from CompilerInstance to DependencyScanningWorker
  clang/include/clang/Lex/DependencyDirectivesScanner.h
  clang/include/clang/Tooling/DependencyScanning/DependencyScanningFilesystem.h
  clang/lib/Frontend/FrontendActions.cpp
  clang/lib/Lex/DependencyDirectivesScanner.cpp
  clang/lib/Tooling/DependencyScanning/DependencyScanningFilesystem.cpp
  clang/lib/Tooling/DependencyScanning/DependencyScanningWorker.cpp
  clang/unittests/Lex/DependencyDirectivesScannerTest.cpp
  clang/unittests/Lex/PPDependencyDirectivesTest.cpp
Labels: clang, clang:frontend

#93989 [libc++] Fix regression about parsing leading decimal points
  libcxx/include/locale
  libcxx/test/std/localization/locale.categories/category.numeric/locale.num.get/facet.num.get.members/get_double.pass.cpp
  libcxx/test/std/localization/locale.categories/category.numeric/locale.num.get/facet.num.get.members/get_float.pass.cpp
  libcxx/test/std/localization/locale.categories/category.numeric/locale.num.get/facet.num.get.members/get_long_double.pass.cpp
Labels: libc++

#93883 [lldb][test] Add --make argument to dotest.py
  lldb/packages/Python/lldbsuite/test/builders/builder.py
  lldb/packages/Python/lldbsuite/test/configuration.py
  lldb/packages/Python/lldbsuite/test/dotest.py
  lldb/packages/Python/lldbsuite/test/dotest_args.py
Labels: lldb

#94253 [Driver] Mark a test UNSUPPORTED to get the bots green again
  clang/test/Driver/sysroot.c
Labels: clang, clang:driver

#87330 [cmake] Pass -resource-dir to external projects as CMAKE_<LANG>_FLAGS_INIT instead of as a force override
  llvm/cmake/modules/LLVMExternalProjectUtils.cmake
Labels: cmake

#94022 fix(utils/**.py): fix comparison to None
  utils/bazel/configure.bzl
Labels: bazel

#90655 [Support] Handle delete_pending case for Windows fs::status
  llvm/include/llvm/Support/Errc.h
  llvm/include/llvm/Support/WindowsError.h
  llvm/lib/Support/CMakeLists.txt
  llvm/lib/Support/ErrorHandling.cpp
  llvm/lib/Support/Windows/Path.inc
Labels: platform:windows, llvm:support

#86105 [InstCombine] Retain debug information on store to null instruction
  llvm/lib/Transforms/InstCombine/InstCombineInternal.h
  llvm/test/Transforms/InstCombine/StoreToNull-DbgCheck.ll
Labels: debuginfo, llvm:transforms

#94080 [GitHub] Add NVPTX backend labeler
  .github/new-prs-labeler.yml
Labels: backend:NVPTX

#87793 [clang][Sema] Don't issue -Wcast-function-type-mismatch for enums with a matching underlying type
  clang/lib/Sema/SemaCast.cpp
  clang/test/Sema/warn-cast-function-type-strict.c
  clang/test/Sema/warn-cast-function-type.c
  clang/test/SemaCXX/warn-cast-function-type-strict.cpp
  clang/test/SemaCXX/warn-cast-function-type.cpp
Labels: clang, clang:frontend, clang:diagnostics

#94001 [libc][math][c23] Add {ceil,floor,round,roundeven,trunc}f16 C23 math functions
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/docs/math/index.rst
  libc/spec/stdc.td
  libc/src/__support/FPUtil/NearestIntegerOperations.h
  libc/src/math/CMakeLists.txt
  libc/src/math/ceilf16.h
  libc/src/math/floorf16.h
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/ceilf16.cpp
  libc/src/math/generic/floorf16.cpp
  libc/src/math/generic/roundevenf16.cpp
  libc/src/math/generic/roundf16.cpp
  libc/src/math/generic/truncf16.cpp
  libc/src/math/roundevenf16.h
  libc/src/math/roundf16.h
  libc/src/math/truncf16.h
  libc/test/src/math/smoke/CMakeLists.txt
  libc/test/src/math/smoke/CeilTest.h
  libc/test/src/math/smoke/FloorTest.h
  libc/test/src/math/smoke/RoundEvenTest.h
  libc/test/src/math/smoke/RoundTest.h
  libc/test/src/math/smoke/TruncTest.h
  libc/test/src/math/smoke/ceilf16_test.cpp
  libc/test/src/math/smoke/floorf16_test.cpp
  libc/test/src/math/smoke/roundevenf16_test.cpp
  libc/test/src/math/smoke/roundf16_test.cpp
  libc/test/src/math/smoke/truncf16_test.cpp
Labels: libc

#94058 [libc][CPP] Add all_of and find_if_not to algorithm.h
  libc/src/__support/CPP/algorithm.h
  libc/test/src/__support/CPP/CMakeLists.txt
  libc/test/src/__support/CPP/algorithm_test.cpp
Labels: libc

#93353 [flang] Adjust "doubled operator" expression extension
  flang/docs/Extensions.md
  flang/include/flang/Common/Fortran-features.h
  flang/lib/Parser/expr-parsers.cpp
  flang/test/Evaluate/signed-mult-opd.f90
Labels: flang, flang:semantics, flang:parser

#93382 [flang][preprocessing] Handle #include after & line continuation
  flang/lib/Parser/preprocessor.cpp
  flang/lib/Parser/prescan.cpp
  flang/lib/Parser/prescan.h
  flang/test/Preprocessing/args.h
  flang/test/Preprocessing/include-args.F90
Labels: flang, flang:parser

#93395 [VPlan] Model FOR extract of exit value in VPlan.
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanAnalysis.cpp
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/induction-costs.ll
  llvm/test/Transforms/LoopVectorize/AArch64/loop-vectorization-factors.ll
  llvm/test/Transforms/LoopVectorize/first-order-recurrence-chains.ll
  llvm/test/Transforms/LoopVectorize/first-order-recurrence.ll
  llvm/test/Transforms/LoopVectorize/scalable-first-order-recurrence.ll
  llvm/test/Transforms/LoopVectorize/vplan-printing.ll
Labels: vectorization, llvm:transforms

#94079 [libc][bazel] simplify type_traits with glob
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: libc, bazel

#94189 [clang-format] Handle AttributeMacros in parseRecord()
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#93577 [flang] Better error message for RANK(NULL())
  flang/include/flang/Evaluate/tools.h
  flang/lib/Evaluate/intrinsics.cpp
  flang/lib/Evaluate/tools.cpp
  flang/lib/Lower/Bridge.cpp
  flang/lib/Semantics/data-to-inits.cpp
  flang/lib/Semantics/expression.cpp
  flang/test/Semantics/resolve09.f90
Labels: flang, flang:fir-hlfir, flang:semantics

#94276 [Driver] Fix the sysroot.c test properly
  clang/test/Driver/sysroot.c
Labels: clang, clang:driver

#93616 [flang] Handle USE-associated symbols in module procedure interface b…
  flang/lib/Semantics/resolve-names-utils.cpp
  flang/test/Semantics/resolve118.f90
Labels: flang, flang:semantics

#93834 [libc++] Handle 0 size case for testing support operator new
  libcxx/test/std/algorithms/alg.sorting/alg.merge/inplace_merge.pass.cpp
  libcxx/test/support/count_new.h
Labels: libc++

#93624 [flang] Fix type inheritance for statement function dummy arguments
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/stmt-func01.f90
Labels: flang, flang:semantics

#93718 [flang] Adjust %REF/%VAL semantic checking
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Parser/program-parsers.cpp
  flang/lib/Semantics/check-call.cpp
  flang/lib/Semantics/expression.cpp
  flang/test/Semantics/call40.f90
Labels: flang, flang:semantics, flang:parser

#93748 [flang] Relax constraints on PURE/ELEMENTAL dummy arguments
  flang/docs/Extensions.md
  flang/include/flang/Common/Fortran-features.h
  flang/lib/Semantics/check-declarations.cpp
  flang/test/Semantics/call10.f90
  flang/test/Semantics/elemental01.f90
Labels: flang, flang:semantics

#93851 [flang] Add warnings about undefinable actuals for ASYNCHRONOUS/VOLAT…
  flang/docs/Extensions.md
  flang/include/flang/Common/Fortran-features.h
  flang/lib/Semantics/check-call.cpp
  flang/test/Semantics/call03.f90
  flang/test/Semantics/call30.f90
Labels: flang, flang:semantics

#93866 [flang] Improve handling of NULL() arguments to intrinsics
  flang/lib/Evaluate/intrinsics.cpp
  flang/test/Semantics/null01.f90
  flang/test/Semantics/resolve09.f90
Labels: flang, flang:semantics

#93876 [flang][runtime] Resilient opening of anonymous unit
  flang/runtime/external-unit.cpp
  flang/runtime/file.cpp
  flang/runtime/io-api-common.h
  flang/runtime/pseudo-unit.cpp
  flang/runtime/unit.h
Labels: flang:runtime, flang

#93893 [flang] Disallow branches into SELECT TYPE/RANK cases
  flang/lib/Semantics/resolve-labels.cpp
  flang/test/Semantics/label05.f90
Labels: flang, flang:semantics

#92801 [AMDGPU] Strengthen preload intrinsics to noundef and nonnull
  llvm/docs/AMDGPUUsage.rst
  llvm/include/llvm/IR/IntrinsicsAMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPULowerKernelArguments.cpp
  llvm/test/CodeGen/AMDGPU/lower-kernargs.ll
  llvm/test/CodeGen/AMDGPU/lower-module-lds-indirect-extern-uses-max-reachable-alignment.ll
  llvm/test/CodeGen/AMDGPU/preload-kernargs-IR-lowering.ll
Labels: backend:AMDGPU, llvm:ir, llvm:transforms

#93994 [flang] Propagate the BIND(C) attribute into procedures from their in…
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/bind-c02.f90
  flang/test/Semantics/bind-c16.f90
Labels: flang, flang:semantics

#94125 [llvm][SelectionDAG] Relax llvm.ptrmask's size check on arm64_32
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/test/CodeGen/AArch64/lower-ptrmask-arm64_32.ll
Labels: backend:AArch64, llvm:SelectionDAG

#91046 [AArch64] Support preserve_none calling convention
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/AttrDocs.td
  clang/lib/Basic/Targets/AArch64.cpp
  clang/test/CodeGen/preserve-call-conv.c
  llvm/docs/LangRef.rst
  llvm/lib/Target/AArch64/AArch64CallingConvention.h
  llvm/lib/Target/AArch64/AArch64CallingConvention.td
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64RegisterInfo.cpp
  llvm/lib/Target/AArch64/GISel/AArch64CallLowering.cpp
  llvm/test/CodeGen/AArch64/dynamic-regmask-preserve-none.ll
  llvm/test/CodeGen/AArch64/preserve.ll
  llvm/test/CodeGen/AArch64/preserve_nonecc.ll
  llvm/test/CodeGen/AArch64/preserve_nonecc_call.ll
  llvm/test/CodeGen/AArch64/preserve_nonecc_musttail.ll
  llvm/test/CodeGen/AArch64/preserve_nonecc_swift.ll
Labels: clang, backend:AArch64, clang:frontend, llvm:ir

#94228 [Clang] Prevent null pointer dereference in target attribute mangling
  clang/lib/CodeGen/CodeGenModule.cpp
Labels: clang, clang:codegen

#89747 [lld] Revise IDE folder structure
  lld/CMakeLists.txt
  lld/cmake/modules/AddLLD.cmake
  lld/test/CMakeLists.txt
  lld/unittests/CMakeLists.txt
Labels: lld

#93618 [ARM64EC] Warn on using disallowed registers in assembly src.
  llvm/lib/Target/AArch64/AsmParser/AArch64AsmParser.cpp
  llvm/test/MC/AArch64/arm64ec-disallowed-regs.s
Labels: backend:AArch64, mc

#94064 [mlir][vector] Add support for unrolling vector.bitcast ops.
  mlir/include/mlir/Dialect/Vector/TransformOps/VectorTransformOps.td
  mlir/include/mlir/Dialect/Vector/Transforms/LoweringPatterns.h
  mlir/lib/Conversion/VectorToLLVM/ConvertVectorToLLVMPass.cpp
  mlir/lib/Dialect/Vector/TransformOps/VectorTransformOps.cpp
  mlir/lib/Dialect/Vector/Transforms/CMakeLists.txt
  mlir/lib/Dialect/Vector/Transforms/LowerVectorBitCast.cpp
  mlir/test/Conversion/VectorToLLVM/vector-to-llvm.mlir
  mlir/test/Dialect/Vector/vector-bitcast-lowering-transforms.mlir
Labels: mlir:vectorops, mlir, mlir:vector

#94296 [Codegen, BasicBlockSections] Avoid cloning blocks which have their machine block address taken.
  llvm/lib/CodeGen/BasicBlockPathCloning.cpp
  llvm/test/CodeGen/X86/basic-block-sections-cloning-invalid.ll
Labels: backend:X86

#93723 Bump version to 18.1.7
  llvm/CMakeLists.txt
  llvm/utils/lit/lit/__init__.py
Labels: llvm-lit, testing-tools

#93775 [LoongArch] Use R_LARCH_ALIGN without symbol as much as possible
  lld/test/ELF/loongarch-relax-emit-relocs.s
  llvm/lib/Target/LoongArch/MCTargetDesc/LoongArchAsmBackend.cpp
  llvm/test/MC/LoongArch/Relocations/relax-addsub.s
  llvm/test/MC/LoongArch/Relocations/relax-align.s
Labels: lld, mc, lld:ELF, backend:loongarch

#94297 [CodeGen] Fix compiler conditional combination
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGISel.cpp
Labels: llvm:SelectionDAG

#94301 Fix lsda-section-name adding back RUN line incorrectly removed in 6ef632ad36c522b0
  bolt/test/lsda-section-name.cpp
Labels: BOLT

#93905 [PowerPC] Remove DAG matching in ADDIStocHA
  llvm/lib/Target/PowerPC/PPCInstrInfo.td
  llvm/test/CodeGen/PowerPC/aix-tls-gd-longlong.ll
  llvm/test/CodeGen/PowerPC/aix-tls-le-xcoff-reloc-large32.ll
  llvm/test/CodeGen/PowerPC/aix-tls-xcoff-reloc-large.ll
Labels: backend:PowerPC

#93358 [mlir][arith] Further clean up select op definition
  mlir/include/mlir/Dialect/Arith/IR/ArithOps.td
  mlir/test/Dialect/Arith/invalid.mlir
  mlir/test/IR/invalid-ops.mlir
Labels: mlir, mlir:arith

#94304 [libc][test] Fix TEST->TEST_F typo in getenv_and_setenv_test.cpp
  libc/test/src/fenv/getenv_and_setenv_test.cpp
Labels: libc

#93927 [flang][OpenMP] Handle `omp.private` in `FirOpBuilder::getAllocaBlock()`
  flang/lib/Optimizer/Builder/FIRBuilder.cpp
  flang/test/Lower/OpenMP/delayed-privatization-allocatable-firstprivate.f90
  mlir/include/mlir/Dialect/OpenACC/CMakeLists.txt
  mlir/include/mlir/Dialect/OpenACC/OpenACC.h
  mlir/include/mlir/Dialect/OpenACC/OpenACCInterfaces.h
  mlir/include/mlir/Dialect/OpenACC/OpenACCOps.td
  mlir/include/mlir/Dialect/OpenACCMPCommon/Interfaces/CMakeLists.txt
  mlir/include/mlir/Dialect/OpenACCMPCommon/Interfaces/OpenACCMPOpsInterfaces.h
  mlir/include/mlir/Dialect/OpenACCMPCommon/Interfaces/OpenACCMPOpsInterfaces.td
  mlir/include/mlir/Dialect/OpenMP/OpenMPDialect.h
  mlir/include/mlir/Dialect/OpenMP/OpenMPOps.td
  mlir/lib/Dialect/OpenACC/IR/CMakeLists.txt
  mlir/lib/Dialect/OpenACC/IR/OpenACC.cpp
  mlir/lib/Dialect/OpenACC/Transforms/CMakeLists.txt
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: mlir, flang, bazel, mlir:openacc, mlir:openmp, flang:fir-hlfir, flang:openmp, openacc

#93465 [AArch64] Sink llvm.vscale.i32 into blocks for better isel
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve2-vscale-sinking.ll
Labels: backend:AArch64

#91030 [Attributor][FIX] Replace AANoFPClass MBEC propagation
  llvm/include/llvm/Transforms/IPO/Attributor.h
  llvm/lib/Transforms/IPO/AttributorAttributes.cpp
  llvm/test/Transforms/Attributor/nofpclass-arithmetic-fence.ll
  llvm/test/Transforms/Attributor/nofpclass-canonicalize.ll
  llvm/test/Transforms/Attributor/nofpclass-ceil.ll
  llvm/test/Transforms/Attributor/nofpclass-copysign.ll
  llvm/test/Transforms/Attributor/nofpclass-exp.ll
  llvm/test/Transforms/Attributor/nofpclass-fdiv.ll
  llvm/test/Transforms/Attributor/nofpclass-floor.ll
  llvm/test/Transforms/Attributor/nofpclass-fma.ll
  llvm/test/Transforms/Attributor/nofpclass-fpext.ll
  llvm/test/Transforms/Attributor/nofpclass-fptrunc.ll
  llvm/test/Transforms/Attributor/nofpclass-frem.ll
  llvm/test/Transforms/Attributor/nofpclass-frexp.ll
  llvm/test/Transforms/Attributor/nofpclass-implied-by-fcmp.ll
  llvm/test/Transforms/Attributor/nofpclass-ldexp.ll
  llvm/test/Transforms/Attributor/nofpclass-log.ll
  llvm/test/Transforms/Attributor/nofpclass-minimum-maximum.ll
  llvm/test/Transforms/Attributor/nofpclass-minnum-maxnum.ll
  llvm/test/Transforms/Attributor/nofpclass-nan-fmul.ll
  llvm/test/Transforms/Attributor/nofpclass-nearbyint.ll
  llvm/test/Transforms/Attributor/nofpclass-powi.ll
  llvm/test/Transforms/Attributor/nofpclass-rint.ll
  llvm/test/Transforms/Attributor/nofpclass-round.ll
  llvm/test/Transforms/Attributor/nofpclass-roundeven.ll
  llvm/test/Transforms/Attributor/nofpclass-select.ll
  llvm/test/Transforms/Attributor/nofpclass-sin-cos.ll
  llvm/test/Transforms/Attributor/nofpclass-sqrt.ll
  llvm/test/Transforms/Attributor/nofpclass-trunc.ll
  llvm/test/Transforms/Attributor/nofpclass-uses-to-defs.ll
  llvm/test/Transforms/Attributor/nofpclass.ll
  llvm/test/Transforms/Attributor/nofree.ll
  llvm/test/Transforms/Attributor/nosync.ll
  llvm/test/Transforms/Attributor/willreturn.ll
Labels: floating-point, llvm:transforms

#94269 [MemProf] Use remove_if to erase MapVector elements in bulk
  llvm/lib/Transforms/IPO/MemProfContextDisambiguation.cpp
Labels: llvm:transforms

#91854 [test]: fix filecheck annotation typos
  polly/test/CodeGen/alias_metadata_too_many_arrays.ll
Labels: clang, clang-tools-extra, lld, backend:ARM, backend:AArch64, backend:AMDGPU, backend:PowerPC, backend:SystemZ, backend:X86, clang-tidy, clang:driver, debuginfo, mc, lld:ELF, mlir:llvm, mlir:gpu, flang:driver, mlir, flang, HLSL, backend:SPIR-V, coroutines, mlir:bufferization, mlir:scf, mlir:arith, mlir:math, flang:fir-hlfir, flang:openmp, testing-tools, llvm:analysis, llvm:transforms, llvm:binary-utilities, clang:openmp

#94308 [MemProf][NFC] Use range for loop
  llvm/lib/Transforms/IPO/MemProfContextDisambiguation.cpp
Labels: llvm:transforms

#94273 [BOLT] Use rewriter interface for updating binary build ID
  bolt/include/bolt/Core/BinarySection.h
  bolt/include/bolt/Rewrite/MetadataManager.h
  bolt/include/bolt/Rewrite/MetadataRewriter.h
  bolt/include/bolt/Rewrite/MetadataRewriters.h
  bolt/include/bolt/Rewrite/RewriteInstance.h
  bolt/lib/Rewrite/BuildIDRewriter.cpp
  bolt/lib/Rewrite/CMakeLists.txt
  bolt/lib/Rewrite/MetadataManager.cpp
  bolt/lib/Rewrite/RewriteInstance.cpp
Labels: BOLT

#93206 [Clang][Sema] Tweak tryCaptureVariable for unevaluated lambdas
  clang/docs/ReleaseNotes.rst
  clang/include/clang/AST/DeclBase.h
  clang/lib/Parse/ParseExprCXX.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaLambda.cpp
  clang/lib/Sema/TreeTransform.h
  clang/test/SemaCXX/lambda-unevaluated.cpp
Labels: clang, clang:frontend

#94045 [mlir][MemRef] Extend memref.subview sub-byte type emulation support.
  mlir/lib/Dialect/MemRef/Transforms/EmulateNarrowType.cpp
  mlir/lib/Dialect/MemRef/Utils/MemRefUtils.cpp
  mlir/test/Dialect/MemRef/emulate-narrow-type.mlir
Labels: mlir, mlir:memref

#93671 [mlir][emitc] arith.cmpf to EmitC conversion
  mlir/lib/Conversion/ArithToEmitC/ArithToEmitC.cpp
  mlir/test/Conversion/ArithToEmitC/arith-to-emitc-unsupported.mlir
  mlir/test/Conversion/ArithToEmitC/arith-to-emitc.mlir
Labels: mlir, mlir:emitc

#94217 [clang][nullability] Propagate storage location / value of `++`/`--` operators.
  clang/lib/Analysis/FlowSensitive/Transfer.cpp
  clang/unittests/Analysis/FlowSensitive/TransferTest.cpp
Labels: clang, clang:dataflow, clang:analysis

#94300 [CMake] Remove supporting of DEFAULT_SYSROOT for the ARM/Aarch64 cross builds. NFC.
  clang/cmake/caches/CrossWinToARMLinux.cmake
Labels: clang

#94192 [lldb] Add documentation for the max_children argument
  lldb/docs/use/variable.rst
  lldb/include/lldb/API/SBValue.h
Labels: lldb

#89753 [compiler-rt] Revise IDE folder structure
  compiler-rt/CMakeLists.txt
  compiler-rt/cmake/Modules/AddCompilerRT.cmake
  compiler-rt/cmake/Modules/CompilerRTDarwinUtils.cmake
  compiler-rt/cmake/Modules/CompilerRTUtils.cmake
  compiler-rt/cmake/base-config-ix.cmake
  compiler-rt/include/CMakeLists.txt
  compiler-rt/lib/asan/tests/CMakeLists.txt
  compiler-rt/lib/builtins/CMakeLists.txt
  compiler-rt/lib/fuzzer/tests/CMakeLists.txt
  compiler-rt/lib/gwp_asan/tests/CMakeLists.txt
  compiler-rt/lib/interception/tests/CMakeLists.txt
  compiler-rt/lib/memprof/tests/CMakeLists.txt
  compiler-rt/lib/orc/tests/CMakeLists.txt
  compiler-rt/lib/sanitizer_common/tests/CMakeLists.txt
  compiler-rt/lib/stats/CMakeLists.txt
  compiler-rt/lib/tsan/CMakeLists.txt
  compiler-rt/lib/tsan/dd/CMakeLists.txt
  compiler-rt/lib/tsan/rtl/CMakeLists.txt
  compiler-rt/lib/xray/tests/CMakeLists.txt
  compiler-rt/test/CMakeLists.txt
  compiler-rt/test/asan/CMakeLists.txt
  compiler-rt/test/asan_abi/CMakeLists.txt
  compiler-rt/test/builtins/CMakeLists.txt
  compiler-rt/test/cfi/CMakeLists.txt
  compiler-rt/test/dfsan/CMakeLists.txt
  compiler-rt/test/fuzzer/CMakeLists.txt
  compiler-rt/test/gwp_asan/CMakeLists.txt
  compiler-rt/test/hwasan/CMakeLists.txt
  compiler-rt/test/interception/CMakeLists.txt
  compiler-rt/test/lsan/CMakeLists.txt
  compiler-rt/test/memprof/CMakeLists.txt
  compiler-rt/test/metadata/CMakeLists.txt
  compiler-rt/test/msan/CMakeLists.txt
  compiler-rt/test/orc/CMakeLists.txt
  compiler-rt/test/profile/CMakeLists.txt
  compiler-rt/test/safestack/CMakeLists.txt
  compiler-rt/test/sanitizer_common/CMakeLists.txt
  compiler-rt/test/shadowcallstack/CMakeLists.txt
  compiler-rt/test/tsan/CMakeLists.txt
  compiler-rt/test/ubsan/CMakeLists.txt
  compiler-rt/test/ubsan_minimal/CMakeLists.txt
  compiler-rt/test/xray/CMakeLists.txt
Labels: compiler-rt, compiler-rt:asan, compiler-rt:cfi, compiler-rt:builtins, compiler-rt:fuzzer, compiler-rt:tsan, compiler-rt:ubsan, xray, compiler-rt:hwasan, PGO, compiler-rt:msan, compiler-rt:lsan, compiler-rt:sanitizer, openmp:libomp, openmp:libomptarget, offload

#94299 [clang] fix parsing typeid with pack index
  clang/lib/AST/Expr.cpp
  clang/test/SemaCXX/cxx2c-pack-indexing.cpp
Labels: clang, clang:frontend

#93867 [Clang] \ is not valid in a raw string literal
  clang/include/clang/Basic/CharInfo.h
  clang/test/Lexer/cxx2c-raw-strings.cpp
Labels: clang, clang:frontend

#93553 VPlan: add missing case for LogicalAnd; fix crash
  llvm/lib/Transforms/Vectorize/VPlanAnalysis.cpp
  llvm/test/Transforms/LoopVectorize/vplan-incomplete-cases.ll
  llvm/test/Transforms/LoopVectorize/vplan-infer-not-or-type.ll
Labels: vectorization, llvm:transforms

#93980 [clang][analyzer] Move PutenvStackArrayChecker out of alpha package
  clang/docs/analyzer/checkers.rst
  clang/include/clang/StaticAnalyzer/Checkers/Checkers.td
  clang/test/Analysis/putenv-stack-array.c
Labels: clang, clang:static analyzer

#94206 [clang] Move CWG2390 test into `cwg23xx.cpp`
  clang/test/CXX/drs/cwg2390.cpp
  clang/test/CXX/drs/cwg23xx.cpp
Labels: clang, test-suite, c++

#93689 [MLIR] Improve translation of DISubrange.
  mlir/include/mlir/Dialect/LLVMIR/LLVMAttrDefs.td
  mlir/lib/Target/LLVMIR/DebugImporter.cpp
  mlir/lib/Target/LLVMIR/DebugTranslation.cpp
  mlir/test/Target/LLVMIR/Import/debug-info.ll
  mlir/test/Target/LLVMIR/llvmir-debug.mlir
Labels: mlir:llvm, mlir

#94333 [AMDGPU] Add gfx12 run lines to fence MMRA tests
  llvm/test/CodeGen/AMDGPU/memory-legalizer-fence-mmra-global.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-fence-mmra-local.ll
Labels: backend:AMDGPU

#93691 [mlir][EmitC] Do not inline expressions used by ops with the CExpression trait
  mlir/lib/Target/Cpp/TranslateToCpp.cpp
  mlir/test/Target/Cpp/expressions.mlir
Labels: mlir, mlir:emitc

#94311 [clang] NFCI: remove obsolete workaround for template default arguments
  clang/include/clang/AST/TemplateName.h
  clang/lib/AST/TemplateName.cpp
  clang/lib/Sema/SemaTemplateInstantiate.cpp
Labels: clang, clang:frontend

#93923 [clang][ASTImport] fix issue on anonymous enum import
  clang/lib/AST/ASTImporter.cpp
  clang/unittests/AST/ASTImporterTest.cpp
Labels: clang, clang:frontend

#94083 [amdgpu] Pass variadic arguments without splitting
  clang/lib/CodeGen/Targets/AMDGPU.cpp
  clang/test/CodeGen/amdgpu-variadic-call.c
Labels: clang, backend:AMDGPU, clang:codegen

#94199 [cmake][runtimes] Add missing dependency on LLVMgold.so
  llvm/cmake/modules/LLVMExternalProjectUtils.cmake
Labels: cmake

#94288 [clang] Add tests for Core issues about friend templates
  clang/test/CXX/drs/cwg18xx.cpp
  clang/test/CXX/drs/cwg19xx.cpp
  clang/www/cxx_dr_status.html
Labels: clang, test-suite, c++
