Repository llvm/llvm-project, pull requests merged in 2024-11, with the labels that each got.

#114347 Reapply "StructurizeCFG: Optimize phi insertion during ssa reconstruction (#101301)"
  llvm/lib/Transforms/Scalar/StructurizeCFG.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/divergence-divergent-i1-used-outside-loop.ll
  llvm/test/CodeGen/AMDGPU/agpr-copy-no-free-registers.ll
  llvm/test/CodeGen/AMDGPU/while-break.ll
  llvm/test/Transforms/StructurizeCFG/AMDGPU/loop-subregion-misordered.ll
  llvm/test/Transforms/StructurizeCFG/loop-break-phi.ll
Labels: backend:AMDGPU, llvm:globalisel, llvm:transforms

#114493 [libc][bazel] Fix linter warning - remove unused load.
  utils/bazel/llvm-project-overlay/libc/libc_build_rules.bzl
Labels: libc, bazel

#114394 [clang][driver] Improve warning message for target AVR
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/test/Driver/avr-toolchain.c
Labels: clang, clang:driver, clang:frontend

#114468 [flang][cuda] Use getOrCreateGPUModule in CUFDeviceGlobal pass
  flang/include/flang/Optimizer/Transforms/Passes.td
  flang/lib/Optimizer/Transforms/CUFDeviceGlobal.cpp
  flang/test/Fir/CUDA/cuda-implicit-device-global.f90
Labels: flang, flang:fir-hlfir

#114472 [flang] Avoid generating duplicate symbol in comdat
  flang/lib/Optimizer/CodeGen/CodeGen.cpp
  flang/test/Fir/comdat-present.fir
Labels: flang, flang:fir-hlfir, flang:codegen

#114442 compiler-rt: sanitizer_common: use close_range() instead of looping
  compiler-rt/lib/sanitizer_common/sanitizer_linux.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_posix.h
  compiler-rt/lib/sanitizer_common/sanitizer_posix_libcdep.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#114446 [libc] Remove FE_ALL_EXCEPT check in hdr/fenv_macros.h.
  libc/hdr/fenv_macros.h
  libc/test/UnitTest/FPMatcher.h
Labels: libc

#114448 [libc++] Split std::hash benchmark out of std::unordered_set benchmark
  libcxx/test/benchmarks/CMakeLists.txt
  libcxx/test/benchmarks/hash.bench.cpp
  libcxx/test/benchmarks/unordered_set_operations.bench.cpp
Labels: libc++

#114499 [Reland][InstCombine] Fix FMF propagation in `foldSelectIntoOp`
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
  llvm/test/Transforms/InstCombine/fold-select-fmul-if-zero.ll
  llvm/test/Transforms/InstCombine/select-binop-foldable-floating-point.ll
  llvm/test/Transforms/LoopVectorize/ARM/mve-selectandorcost.ll
  llvm/test/Transforms/PhaseOrdering/AArch64/predicated-reduction.ll
Labels: floating-point, llvm:transforms

#114364 [InstrPGO] Avoid using global variable to fix potential data race
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChain.cpp
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/CodeGen/pgo-cold-function-coverage.c
  clang/test/Driver/fprofile-generate-cold-function-coverage.c
  llvm/lib/Passes/PassBuilderPipelines.cpp
  llvm/lib/Transforms/Instrumentation/PGOInstrumentation.cpp
  llvm/test/Transforms/PGOProfile/instr-gen-cold-function.ll
Labels: clang, clang:driver, PGO, llvm:transforms

#114011 [GVN][NewGVN][Local] Handle attributes for function calls after CSE
  llvm/lib/Transforms/Scalar/GVN.cpp
  llvm/lib/Transforms/Scalar/NewGVN.cpp
  llvm/lib/Transforms/Utils/Local.cpp
  llvm/test/Transforms/GVN/pr113997.ll
  llvm/test/Transforms/NewGVN/pr113997.ll
Labels: llvm:transforms

#114470 [GlobalISel][AArch64] Legalize G_INSERT_VECTOR_ELT for SVE
  llvm/include/llvm/CodeGen/GlobalISel/LegalizerInfo.h
  llvm/lib/CodeGen/GlobalISel/LegalityPredicates.cpp
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.cpp
  llvm/lib/Target/AArch64/GISel/AArch64PostLegalizerLowering.cpp
  llvm/test/CodeGen/AArch64/extract-vector-elt-sve.ll
  llvm/test/CodeGen/AArch64/extract-vector-elt.ll
Labels: backend:AArch64, llvm:globalisel

#112424 [Clang] prevent setting default lexical access specifier for missing primary declarations
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaDecl.cpp
  clang/test/SemaCXX/enum.cpp
Labels: clang, clang:frontend

#114504 [Test] Rename the test function name suffix. NFC
  llvm/test/Analysis/CostModel/RISCV/fp-min-max-abs.ll
  llvm/test/Analysis/CostModel/RISCV/fp-sqrt-pow.ll
  llvm/test/Analysis/CostModel/RISCV/fp-trig-log-exp.ll
  llvm/test/Analysis/CostModel/RISCV/fround.ll
  llvm/test/Analysis/CostModel/RISCV/int-bit-manip.ll
  llvm/test/Analysis/CostModel/RISCV/int-min-max.ll
  llvm/test/Analysis/CostModel/RISCV/int-sat-math.ll
Labels: llvm:analysis

#113708 Introduce a new WebKit checker for a unchecked local variable
  clang/docs/analyzer/checkers.rst
  clang/include/clang/StaticAnalyzer/Checkers/Checkers.td
  clang/lib/StaticAnalyzer/Checkers/CMakeLists.txt
  clang/lib/StaticAnalyzer/Checkers/WebKit/PtrTypesSemantics.cpp
  clang/lib/StaticAnalyzer/Checkers/WebKit/PtrTypesSemantics.h
  clang/lib/StaticAnalyzer/Checkers/WebKit/RawPtrRefLocalVarsChecker.cpp
  clang/test/Analysis/Checkers/WebKit/mock-types.h
  clang/test/Analysis/Checkers/WebKit/unchecked-local-vars.cpp
  llvm/utils/gn/secondary/clang/lib/StaticAnalyzer/Checkers/BUILD.gn
Labels: clang, clang:static analyzer

#114367 [X86][CFE] Correct parameter type of _cmpccxadd_epi64
  clang/include/clang/Basic/BuiltinsX86_64.def
  clang/lib/Headers/cmpccxaddintrin.h
  clang/test/CodeGen/X86/cmpccxadd-builtins-error.c
Labels: clang, backend:X86, clang:frontend, clang:headers

#114471 [clang][bytecode] Implement IntegralAP bitcasting
  clang/lib/AST/ByteCode/IntegralAP.h
  clang/test/AST/ByteCode/builtin-bit-cast.cpp
Labels: clang, clang:frontend

#113532 [X86][AMX] Support AMX-TRANSPOSE
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/BuiltinsX86_64.def
  clang/include/clang/Driver/Options.td
  clang/lib/Basic/Targets/X86.cpp
  clang/lib/Basic/Targets/X86.h
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/Headers/CMakeLists.txt
  clang/lib/Headers/amxintrin.h
  clang/lib/Headers/amxtransposeintrin.h
  clang/lib/Headers/immintrin.h
  clang/lib/Sema/SemaX86.cpp
  clang/test/CodeGen/X86/amx_transpose.c
  clang/test/CodeGen/X86/amx_transpose_api.c
  clang/test/CodeGen/X86/amx_transpose_errors.c
  clang/test/Driver/x86-target-features.c
  clang/test/Preprocessor/x86_target_features.c
  llvm/include/llvm/CodeGen/TileShapeInfo.h
  llvm/include/llvm/IR/IntrinsicsX86.td
  llvm/include/llvm/Support/X86DisassemblerDecoderCommon.h
  llvm/include/llvm/TargetParser/X86TargetParser.def
  llvm/lib/Target/X86/AsmParser/X86Operand.h
  llvm/lib/Target/X86/Disassembler/X86Disassembler.cpp
  llvm/lib/Target/X86/Disassembler/X86DisassemblerDecoder.h
  llvm/lib/Target/X86/MCTargetDesc/X86InstPrinterCommon.cpp
  llvm/lib/Target/X86/MCTargetDesc/X86InstPrinterCommon.h
  llvm/lib/Target/X86/X86.td
  llvm/lib/Target/X86/X86ExpandPseudo.cpp
  llvm/lib/Target/X86/X86FastPreTileConfig.cpp
  llvm/lib/Target/X86/X86FastTileConfig.cpp
  llvm/lib/Target/X86/X86ISelDAGToDAG.cpp
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/lib/Target/X86/X86InstrAMX.td
  llvm/lib/Target/X86/X86InstrInfo.cpp
  llvm/lib/Target/X86/X86InstrOperands.td
  llvm/lib/Target/X86/X86InstrPredicates.td
  llvm/lib/Target/X86/X86LowerAMXType.cpp
  llvm/lib/Target/X86/X86PreTileConfig.cpp
  llvm/lib/Target/X86/X86RegisterInfo.cpp
  llvm/lib/Target/X86/X86RegisterInfo.td
  llvm/lib/Target/X86/X86TileConfig.cpp
  llvm/lib/TargetParser/Host.cpp
  llvm/lib/TargetParser/X86TargetParser.cpp
  llvm/test/CodeGen/X86/amx_tile_pair_O2_to_O0.ll
  llvm/test/CodeGen/X86/amx_tile_pair_configure_O0.mir
  llvm/test/CodeGen/X86/amx_tile_pair_configure_O2.mir
  llvm/test/CodeGen/X86/amx_tile_pair_copy.mir
  llvm/test/CodeGen/X86/amx_tile_pair_lower_type_O0.ll
  llvm/test/CodeGen/X86/amx_tile_pair_lower_type_O2.ll
  llvm/test/CodeGen/X86/amx_tile_pair_preconfigure_O0.mir
  llvm/test/CodeGen/X86/amx_tile_pair_preconfigure_O2.mir
  llvm/test/CodeGen/X86/amx_transpose_intrinsics.ll
  llvm/test/CodeGen/X86/ipra-reg-usage.ll
  llvm/test/MC/Disassembler/X86/amx-transpose-att.s
  llvm/test/MC/Disassembler/X86/amx-transpose-att.txt
  llvm/test/MC/Disassembler/X86/amx-transpose-intel.s
  llvm/unittests/CodeGen/InstrRefLDVTest.cpp
  llvm/utils/TableGen/X86RecognizableInstr.cpp
Labels: clang, backend:X86, clang:driver, clang:frontend, clang:headers, clang:codegen, tablegen, mc, llvm:support, llvm:ir

#113811 [PAC][CodeGen][ELF][AArch64] Support signed GOT
  llvm/lib/Target/AArch64/AArch64AsmPrinter.cpp
  llvm/lib/Target/AArch64/AArch64FastISel.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/lib/Target/AArch64/AArch64MCInstLower.cpp
  llvm/lib/Target/AArch64/AArch64MachineFunctionInfo.cpp
  llvm/lib/Target/AArch64/AArch64MachineFunctionInfo.h
  llvm/lib/Target/AArch64/AsmParser/AArch64AsmParser.cpp
  llvm/lib/Target/AArch64/GISel/AArch64InstructionSelector.cpp
  llvm/lib/Target/AArch64/MCTargetDesc/AArch64ELFObjectWriter.cpp
  llvm/lib/Target/AArch64/MCTargetDesc/AArch64MCExpr.cpp
  llvm/lib/Target/AArch64/MCTargetDesc/AArch64MCExpr.h
  llvm/test/CodeGen/AArch64/ptrauth-basic-pic.ll
  llvm/test/CodeGen/AArch64/ptrauth-elf-globals-pic.ll
  llvm/test/CodeGen/AArch64/ptrauth-elf-got-function-symbols.ll
  llvm/test/CodeGen/AArch64/ptrauth-extern-weak.ll
  llvm/test/CodeGen/AArch64/ptrauth-got-abuse.ll
  llvm/test/CodeGen/AArch64/ptrauth-tagged-globals-pic.ll
  llvm/test/MC/AArch64/adrp-auth-relocation.s
  llvm/test/MC/AArch64/arm64-elf-relocs.s
  llvm/test/MC/AArch64/ilp32-diagnostics.s
Labels: backend:AArch64, mc

#114433 [ARM] Fix CMSE S->NS calls when CONTROL_S.SFPA==0 (CVE-2024-7883)
  llvm/lib/Target/ARM/ARMExpandPseudoInsts.cpp
  llvm/test/CodeGen/ARM/cmse-clear-float-hard.ll
  llvm/test/CodeGen/ARM/cmse-vlldm-no-reorder.mir
Labels: backend:ARM

#114403 [AMDGPU] Simplify GFX12 VBUFFER definitions. NFC.
  llvm/lib/Target/AMDGPU/BUFInstructions.td
Labels: backend:AMDGPU

#113380 [TOSA] Remove i64 from valid element datatypes in validation
  mlir/lib/Dialect/Tosa/Transforms/TosaValidation.cpp
  mlir/test/Dialect/Tosa/invalid.mlir
Labels: mlir, mlir:tosa

#113558 [VPlan][NFC] Add new getMiddleBlock interface to VPlan
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlan.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
Labels: vectorizers, llvm:transforms

#114488 [clang-sycl-linker] Fix use of uninitialized memory in temp files
  clang/tools/clang-sycl-linker/ClangSYCLLinker.cpp
Labels: clang

#114213 [clang] Suppress a dangling false positive when owner is moved in member initializer.
  clang/lib/Sema/CheckExprLifetime.cpp
  clang/test/Sema/warn-lifetime-analysis-nocfg.cpp
Labels: clang, clang:frontend

#114412 [clang][bytecode] Add more checks to _ai32_* builtins
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
Labels: clang, clang:frontend

#114524 [llvm][NFC] Fix typos: replace “avaliable” with “available” across various files
  clang-tools-extra/clang-tidy/readability/FunctionCognitiveComplexityCheck.cpp
  clang-tools-extra/test/clang-tidy/checkers/readability/function-cognitive-complexity.cpp
  llvm/include/llvm/ExecutionEngine/Orc/ExecutionUtils.h
  llvm/include/llvm/Target/TargetMacroFusion.td
  llvm/lib/CodeGen/SafeStack.cpp
  llvm/lib/Target/RISCV/RISCVSchedSiFive7.td
  llvm/lib/Transforms/Scalar/LoopIdiomRecognize.cpp
  llvm/test/MC/ARM/mve-fp-registers.s
  mlir/lib/Bytecode/Reader/BytecodeReader.cpp
Labels: clang-tools-extra, backend:ARM, backend:RISC-V, clang-tidy, mlir:core, mc, mlir, llvm:transforms

#114435 [PS5][Driver] Pass layout metrics to the linker
  clang/lib/Driver/ToolChains/PS4CPU.cpp
  clang/test/Driver/ps5-linker.c
Labels: clang, clang:driver

#114008 [ValueTracking] Handle recursive phis in knownFPClass
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/test/Transforms/Attributor/nofpclass-phiselect.ll
  llvm/test/Transforms/EarlyCSE/nofpclass-phi-regression.ll
  llvm/test/Transforms/PhaseOrdering/AArch64/predicated-reduction.ll
Labels: llvm:analysis, llvm:transforms

#114445 [libc++] Upload CMakeConfigureLog artifacts
  .github/workflows/libcxx-build-and-test.yaml
Labels: libc++, github:workflow

#114485 [clang][bytecode] Implement bitcasts to floating-point values
  clang/lib/AST/ByteCode/Interp.h
  clang/test/AST/ByteCode/builtin-bit-cast-long-double.cpp
  clang/test/AST/ByteCode/builtin-bit-cast.cpp
Labels: clang, clang:frontend

#114280 [InstSimplify][InstCombine][ConstantFold] Move vector div/rem by zero fold to InstCombine
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/lib/IR/ConstantFold.cpp
  llvm/lib/Transforms/InstCombine/InstCombineInternal.h
  llvm/lib/Transforms/InstCombine/InstCombineMulDivRem.cpp
  llvm/test/Transforms/InstCombine/div.ll
  llvm/test/Transforms/InstCombine/rem.ll
  llvm/test/Transforms/InstCombine/vector-udiv.ll
  llvm/test/Transforms/InstSimplify/div.ll
  llvm/test/Transforms/InstSimplify/rem.ll
Labels: llvm:ir, llvm:analysis, llvm:transforms

#113928 [NVPTX] Don't use stack memory when bitcasting to/from v2i8
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/lib/Target/NVPTX/NVPTXISelLowering.h
  llvm/test/CodeGen/NVPTX/i8x2-instructions.ll
Labels: backend:NVPTX

#112591 [yaml2obj][obj2yaml][objdump] Handle MIPS COFF files
  llvm/include/llvm/Object/WindowsMachineFlag.h
  llvm/include/llvm/ObjectYAML/COFFYAML.h
  llvm/lib/Object/COFFObjectFile.cpp
  llvm/lib/ObjectYAML/COFFYAML.cpp
  llvm/test/tools/yaml2obj/COFF/basic-mips.yaml
Labels: objectyaml, llvm:binary-utilities

#114477 [libc][cmake] make i386 distinct from x86_64
  libc/cmake/modules/LLVMLibCArchitectures.cmake
  libc/cmake/modules/LLVMLibCCheckCpuFeatures.cmake
  libc/cmake/modules/LLVMLibCCompileOptionRules.cmake
  libc/cmake/modules/LLVMLibCFlagRules.cmake
  libc/cmake/modules/LLVMLibCTestRules.cmake
  libc/config/linux/i386/entrypoints.txt
  libc/config/linux/i386/headers.txt
  libc/src/__support/OSUtil/linux/i386/CMakeLists.txt
  libc/src/__support/OSUtil/linux/i386/vdso.h
Labels: libc

#114452 Reapply "Extend getBackwardSlice to track values captured…
  mlir/include/mlir/Analysis/SliceAnalysis.h
  mlir/lib/Analysis/SliceAnalysis.cpp
  mlir/test/IR/slice.mlir
  mlir/test/lib/IR/TestSlicing.cpp
Labels: mlir

#114443 Reapply "[AMDGPU][GlobalISel] Fix load/store of pointer vectors, buffer.*.pN (#110714)" v3
  llvm/lib/Target/AMDGPU/AMDGPULegalizerInfo.cpp
  llvm/lib/Target/AMDGPU/AMDGPULegalizerInfo.h
  llvm/lib/Target/AMDGPU/SIRegisterInfo.td
  llvm/test/CodeGen/AMDGPU/GlobalISel/buffer-load-store-pointers.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/inst-select-load-global-old-legalization.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/inst-select-load-local.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-load-constant.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-load-flat.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-load-global.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-load-local.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-load-private.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-store-global.mir
Labels: backend:AMDGPU, llvm:globalisel

#114558 [NFC][AMDGPU] Remove the empty FPM as well as the adaptor to MPM
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
Labels: backend:AMDGPU

#113655 [MLIR][Vector] Add Lowering for vector.step
  mlir/include/mlir/Dialect/Vector/IR/VectorOps.td
  mlir/include/mlir/Dialect/Vector/Transforms/LoweringPatterns.h
  mlir/lib/Conversion/VectorToLLVM/ConvertVectorToLLVM.cpp
  mlir/lib/Dialect/Linalg/TransformOps/LinalgTransformOps.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/SparseVectorization.cpp
  mlir/lib/Dialect/Vector/IR/VectorOps.cpp
  mlir/lib/Dialect/Vector/Transforms/CMakeLists.txt
  mlir/lib/Dialect/Vector/Transforms/LowerVectorStep.cpp
  mlir/test/Conversion/VectorToLLVM/vector-to-llvm.mlir
  mlir/test/Dialect/Linalg/vectorization-scalable.mlir
  mlir/test/Dialect/Vector/canonicalize.mlir
Labels: mlir:linalg, mlir:vectorops, mlir:sparse, mlir, mlir:vector

#114476 [InlineCost] Print inline cost for invoke call sites as well
  llvm/lib/Analysis/InlineCost.cpp
  llvm/test/Transforms/Inline/inline-cost-annotation-pass.ll
Labels: llvm:analysis, llvm:transforms

#114440 [libc++][NFC] Add a static assertion to document an assumption in std::hash
  libcxx/include/__functional/hash.h
Labels: libc++

#114497 AMDGPU: Fix illegal commute with frame index
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/test/CodeGen/AMDGPU/commute-frame-index-operand.mir
  llvm/test/CodeGen/AMDGPU/eliminate-frame-index-v-add-u32.mir
Labels: backend:AMDGPU

#114301 [flang][runtime][NFC] Allow different memmove function in assign
  flang/include/flang/Runtime/assign.h
  flang/runtime/assign.cpp
Labels: flang:runtime, flang

#114549 [mlir][acc] Consistency between acc.loop and acc compute ops
  mlir/include/mlir/Dialect/OpenACC/OpenACCOps.td
  mlir/lib/Dialect/OpenACC/IR/OpenACC.cpp
  mlir/lib/Dialect/OpenACC/Transforms/LegalizeDataValues.cpp
Labels: mlir, mlir:openacc, openacc

#114469 [lldb] Disable automatically opening editor for TestSessionSave
  lldb/test/API/commands/session/save/TestSessionSave.py
Labels: lldb

#114416 [AArch64][ARM] Avoid some APFloat copies in tablegen patterns. NFC.
  llvm/lib/Target/AArch64/AArch64InstrFormats.td
  llvm/lib/Target/ARM/ARMInstrVFP.td
Labels: backend:ARM, backend:AArch64

#114324 [libc] Use relative inclusion for public headers.
  libc/include/gpu/rpc.h.def
  libc/include/llvm-libc-macros/containerof-macro.h
  libc/include/llvm-libc-macros/sys-queue-macros.h
  libc/include/llvm-libc-types/__mutex_type.h
  libc/include/llvm-libc-types/cnd_t.h
  libc/include/llvm-libc-types/cookie_io_functions_t.h
  libc/include/llvm-libc-types/fd_set.h
  libc/include/llvm-libc-types/mtx_t.h
  libc/include/llvm-libc-types/once_flag.h
  libc/include/llvm-libc-types/pthread_attr_t.h
  libc/include/llvm-libc-types/pthread_mutex_t.h
  libc/include/llvm-libc-types/pthread_once_t.h
  libc/include/llvm-libc-types/pthread_rwlock_t.h
  libc/include/llvm-libc-types/pthread_spinlock_t.h
  libc/include/llvm-libc-types/pthread_t.h
  libc/include/llvm-libc-types/siginfo_t.h
  libc/include/llvm-libc-types/sigset_t.h
  libc/include/llvm-libc-types/stack_t.h
  libc/include/llvm-libc-types/struct_dirent.h
  libc/include/llvm-libc-types/struct_epoll_event.h
  libc/include/llvm-libc-types/struct_f_owner_ex.h
  libc/include/llvm-libc-types/struct_flock.h
  libc/include/llvm-libc-types/struct_flock64.h
  libc/include/llvm-libc-types/struct_rlimit.h
  libc/include/llvm-libc-types/struct_rusage.h
  libc/include/llvm-libc-types/struct_sched_param.h
  libc/include/llvm-libc-types/struct_sigaction.h
  libc/include/llvm-libc-types/struct_sockaddr.h
  libc/include/llvm-libc-types/struct_sockaddr_un.h
  libc/include/llvm-libc-types/struct_stat.h
  libc/include/llvm-libc-types/struct_termios.h
  libc/include/llvm-libc-types/struct_timespec.h
  libc/include/llvm-libc-types/struct_timeval.h
  libc/include/llvm-libc-types/thrd_t.h
  libc/include/sys/auxv.h.def
  libc/include/sys/epoll.h.def
  libc/include/sys/ioctl.h.def
  libc/include/sys/mman.h.def
  libc/include/sys/queue.h
  libc/include/sys/random.h.def
  libc/include/sys/resource.h.def
  libc/include/sys/select.h.def
  libc/include/sys/socket.h.def
  libc/include/sys/stat.h.def
  libc/include/sys/time.h.def
  libc/include/sys/wait.h.def
  libc/utils/gpu/loader/Loader.h
Labels: libc

#114551 [SLP][REVEC] VF should be scaled when ScalarTy is FixedVectorType.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/RISCV/revec.ll
Labels: vectorizers, llvm:transforms

#114555 [mlir][Ptr] Fix license url typo
  mlir/include/mlir/Dialect/Ptr/IR/PtrOps.td
Labels: mlir

#114598 [flang][cuda] Data transfer with descriptor
  flang/runtime/CUDA/memory.cpp
  flang/unittests/Runtime/CUDA/Memory.cpp
Labels: flang:runtime, flang

#114569 Reapply "[Clang][Sema] Always use latest redeclaration of primary template"
  clang/include/clang/AST/DeclTemplate.h
  clang/lib/AST/ASTImporter.cpp
  clang/lib/AST/Decl.cpp
  clang/lib/AST/DeclCXX.cpp
  clang/lib/AST/DeclTemplate.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaInit.cpp
  clang/lib/Sema/SemaTemplateInstantiate.cpp
  clang/test/AST/ast-dump-decl.cpp
  clang/test/ASTMerge/class-template-spec/Inputs/class-template-spec.cpp
  clang/test/ASTMerge/class-template-spec/test.cpp
  clang/test/CXX/temp/temp.spec/temp.expl.spec/p7.cpp
Labels: clang, clang:frontend

#114484 [NVPTX] Add support for stacksave, stackrestore intrinsics
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/lib/Target/NVPTX/NVPTXISelLowering.h
  llvm/lib/Target/NVPTX/NVPTXInstrInfo.td
  llvm/test/CodeGen/NVPTX/stacksaverestore.ll
Labels: backend:NVPTX

#114478 [lldb] Improve command status when dwim-print has no result
  lldb/source/Commands/CommandObjectDWIMPrint.cpp
Labels: lldb

#114592 [libc] rename LLVM_LIBC_SRC___SUPPORT_UINT_H to LLVM_LIBC_SRC___SUPPORT_BIG_INT_H for consistent naming
  libc/src/__support/big_int.h
Labels: libc

#112292 [mlir] IntegerRangeAnalysis: add support for vector type
  mlir/include/mlir/Dialect/Vector/IR/VectorOps.td
  mlir/lib/Analysis/DataFlow/IntegerRangeAnalysis.cpp
  mlir/lib/Dialect/Arith/IR/InferIntRangeInterfaceImpls.cpp
  mlir/lib/Dialect/Arith/Transforms/IntRangeOptimizations.cpp
  mlir/lib/Dialect/Vector/IR/VectorOps.cpp
  mlir/test/Dialect/Vector/int-range-interface.mlir
  mlir/test/lib/Dialect/Test/TestOpDefs.cpp
  mlir/test/lib/Dialect/Test/TestOps.td
Labels: mlir:vectorops, mlir, mlir:arith, mlir:vector

#113508 [LLDB] Finish implementing support for DW_FORM_data16
  lldb/source/Plugins/SymbolFile/DWARF/DWARFFormValue.cpp
  lldb/test/Shell/SymbolFile/DWARF/x86/DW_AT_const_value.s
Labels: lldb

#114490 [msan] Add handleIntrinsicByApplyingToShadow; support NEON tbl/tbx
  llvm/lib/Transforms/Instrumentation/MemorySanitizer.cpp
  llvm/test/Instrumentation/MemorySanitizer/AArch64/neon_tbl.ll
Labels: compiler-rt:sanitizer, llvm:transforms

#114566 [libc][cmake] disable include tests in overlay mode
  libc/test/CMakeLists.txt
  libc/test/include/CMakeLists.txt
Labels: libc

#114145 [SandboxVec][Legality] Per opcode checks
  llvm/include/llvm/Transforms/Vectorize/SandboxVectorizer/Legality.h
  llvm/include/llvm/Transforms/Vectorize/SandboxVectorizer/Passes/BottomUpVec.h
  llvm/include/llvm/Transforms/Vectorize/SandboxVectorizer/VecUtils.h
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/Legality.cpp
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/Passes/BottomUpVec.cpp
  llvm/unittests/Transforms/Vectorize/SandboxVectorizer/LegalityTest.cpp
  llvm/unittests/Transforms/Vectorize/SandboxVectorizer/VecUtilsTest.cpp
Labels: vectorizers, llvm:transforms

#114619 [libc] disable failing include tests
  libc/test/include/CMakeLists.txt
Labels: libc

#114624 [VPlan] Suppress leak in test
  llvm/unittests/Transforms/Vectorize/VPlanTest.cpp
Labels: llvm:transforms

#114327 [lld][WebAssembly] Implement various thinlto flags
  lld/test/wasm/lto/Inputs/thinlto_empty.ll
  lld/test/wasm/lto/obj-path.ll
  lld/test/wasm/lto/parallel.ll
  lld/test/wasm/lto/thinlto-index-only.ll
  lld/test/wasm/lto/thinlto.ll
  lld/wasm/CMakeLists.txt
  lld/wasm/Config.h
  lld/wasm/Driver.cpp
  lld/wasm/LTO.cpp
  lld/wasm/LTO.h
  lld/wasm/Options.td
  lld/wasm/SymbolTable.cpp
Labels: lld, lld:wasm

#114489 [NVPTX] Add support for nvvm.flo.[us] intrinsics
  llvm/docs/NVPTXUsage.rst
  llvm/include/llvm/IR/IntrinsicsNVVM.td
  llvm/lib/Target/NVPTX/NVPTXIntrinsics.td
  llvm/test/CodeGen/NVPTX/flo.ll
Labels: backend:NVPTX, llvm:ir

#114576 [lldb] Improve locking in PathMappingLists (NFC)
  lldb/include/lldb/Target/PathMappingList.h
  lldb/source/Target/PathMappingList.cpp
Labels: lldb

#114506 [clang-format] Fix a regression in parsing `switch` in macro call
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#114195 [CodeGen] Use first EHLabel as a stop gate for live range shrinking
  llvm/lib/CodeGen/LiveRangeShrink.cpp
  llvm/test/CodeGen/X86/lrshrink-ehpad-phis.ll
Labels: backend:X86, llvm:regalloc

#114599 [memprof] Use SmallVector for InlinedCallStack (NFC)
  llvm/lib/Analysis/MemoryProfileInfo.cpp
  llvm/lib/Transforms/Instrumentation/MemProfiler.cpp
Labels: llvm:analysis, llvm:transforms

#114453 [libc] Remove the #include <stdlib.h> header
  libc/hdr/CMakeLists.txt
  libc/hdr/stdlib_macros.h
  libc/hdr/stdlib_overlay.h
  libc/hdr/types/CMakeLists.txt
  libc/hdr/types/div_t.h
  libc/hdr/types/ldiv_t.h
  libc/hdr/types/lldiv_t.h
  libc/hdr/types/size_t.h
  libc/src/__support/CPP/new.cpp
  libc/src/__support/File/dir.h
  libc/src/stdlib/CMakeLists.txt
  libc/src/stdlib/div.h
  libc/src/stdlib/exit.h
  libc/src/stdlib/free.h
  libc/src/stdlib/ldiv.h
  libc/src/stdlib/lldiv.h
  libc/src/stdlib/malloc.h
  libc/src/stdlib/qsort.h
  libc/src/stdlib/qsort_r.h
  libc/src/stdlib/rand.h
  libc/src/stdlib/srand.h
  libc/src/string/CMakeLists.txt
  libc/src/string/strdup.cpp
  libc/src/unistd/linux/CMakeLists.txt
  libc/src/unistd/linux/getcwd.cpp
  libc/test/src/__support/File/CMakeLists.txt
  libc/test/src/__support/File/file_test.cpp
  libc/test/src/__support/str_to_float_comparison_test.cpp
  libc/test/src/stdio/CMakeLists.txt
  libc/test/src/stdio/fopencookie_test.cpp
  libc/test/src/stdlib/CMakeLists.txt
  libc/test/src/stdlib/_Exit_test.cpp
  libc/test/src/stdlib/abort_test.cpp
  libc/test/src/stdlib/bsearch_test.cpp
  libc/test/src/stdlib/div_test.cpp
  libc/test/src/stdlib/ldiv_test.cpp
  libc/test/src/stdlib/lldiv_test.cpp
  libc/test/src/stdlib/qsort_r_test.cpp
  libc/test/src/stdlib/rand_test.cpp
  libc/test/src/string/CMakeLists.txt
  libc/test/src/string/strdup_test.cpp
  libc/test/src/string/strlcat_test.cpp
  libc/test/src/string/strlcpy_test.cpp
  libc/test/src/string/strndup_test.cpp
Labels: libc

#113064 [MLIR,Python] Support converting boolean numpy arrays to and from mlir attributes
  mlir/lib/Bindings/Python/IRAttributes.cpp
  mlir/test/python/ir/array_attributes.py
Labels: mlir

#114509 [LoongArch][Clang] Add tests for #110834
  clang/test/Headers/lasxintrin.c
  clang/test/Headers/lsxintrin.c
Labels: clang

#113707 [ValueTracking] Compute known bits from recursive select/phi
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/test/Transforms/InstCombine/known-phi-recurse.ll
Labels: backend:X86, llvm:analysis, llvm:transforms

#114510 [LoongArch][clang] Use `signed char` vectors instead of `char` vectors for LSX and LASX builtins
  clang/include/clang/Basic/BuiltinsLoongArchLASX.def
  clang/include/clang/Basic/BuiltinsLoongArchLSX.def
Labels: clang, clang:frontend, backend:loongarch

#114511 [LoongArch][Clang] Make the parameter and return value of {x,}vmsknz.b builtins `signed char` vector
  clang/include/clang/Basic/BuiltinsLoongArchLASX.def
  clang/include/clang/Basic/BuiltinsLoongArchLSX.def
Labels: clang, clang:frontend, backend:loongarch

#114647 Revert "[SelectionDAG] Add preliminary plumbing for `samesign` flag"
  llvm/include/llvm/CodeGen/GlobalISel/MachineIRBuilder.h
  llvm/include/llvm/CodeGen/SelectionDAGNodes.h
  llvm/lib/CodeGen/SelectionDAG/InstrEmitter.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGDumper.cpp
Labels: llvm:globalisel, llvm:SelectionDAG, skip-precommit-approval

#111827 [llvm] Fix __builtin_object_size interaction between Negative Offset …
  llvm/include/llvm/Analysis/MemoryBuiltins.h
  llvm/lib/Analysis/MemoryBuiltins.cpp
  llvm/test/Transforms/LowerConstantIntrinsics/builtin-object-size-phi.ll
  llvm/test/Transforms/LowerConstantIntrinsics/objectsize_basic.ll
Labels: llvm:analysis, llvm:transforms

#113773 [libc++][test] add test coverage for `flat_map::emplace_hint`
  libcxx/test/std/containers/container.adaptors/flat.map/flat.map.modifiers/emplace.pass.cpp
  libcxx/test/std/containers/container.adaptors/flat.map/flat.map.modifiers/emplace_hint.pass.cpp
Labels: libc++

#114642 [X86][AMX] Move TPAIRS into PositionOrder 3, NFCI
  llvm/lib/Target/X86/X86RegisterInfo.td
Labels: backend:X86

#114007 [Documentation] Update parameter and function attribute section in LangRef
  llvm/docs/LangRef.rst
Labels: llvm:ir

#114650 [SDAG] Intersect poison-generating flags after CSE
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/ARM/dagcombine-drop-flags-freeze.ll
Labels: backend:ARM, llvm:SelectionDAG

#113833 [clang-tidy] fix crash in altera-id-dependent-backward-branch
  clang-tools-extra/clang-tidy/altera/IdDependentBackwardBranchCheck.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/test/clang-tidy/checkers/altera/id-dependent-backward-branch.cpp
Labels: clang-tools-extra, clang-tidy

#114672 Revert "[PowerPC] Add custom lowering for ssubo (#111748)"
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
  llvm/lib/Target/PowerPC/PPCISelLowering.h
  llvm/test/CodeGen/PowerPC/saddo-ssubo.ll
Labels: backend:PowerPC

#114410 [clang] Fix a typo in clangs README
  clang/README.md
Labels: clang

#114645 [Scalar] Remove unused includes (NFC)
  llvm/lib/Transforms/Scalar/ConstantHoisting.cpp
  llvm/lib/Transforms/Scalar/CorrelatedValuePropagation.cpp
  llvm/lib/Transforms/Scalar/DFAJumpThreading.cpp
  llvm/lib/Transforms/Scalar/DeadStoreElimination.cpp
  llvm/lib/Transforms/Scalar/GVNHoist.cpp
  llvm/lib/Transforms/Scalar/GVNSink.cpp
  llvm/lib/Transforms/Scalar/GuardWidening.cpp
  llvm/lib/Transforms/Scalar/IndVarSimplify.cpp
  llvm/lib/Transforms/Scalar/InductiveRangeCheckElimination.cpp
  llvm/lib/Transforms/Scalar/InferAddressSpaces.cpp
  llvm/lib/Transforms/Scalar/InferAlignment.cpp
  llvm/lib/Transforms/Scalar/JumpThreading.cpp
  llvm/lib/Transforms/Scalar/LICM.cpp
  llvm/lib/Transforms/Scalar/LoopDataPrefetch.cpp
  llvm/lib/Transforms/Scalar/LoopDistribute.cpp
  llvm/lib/Transforms/Scalar/LoopFuse.cpp
  llvm/lib/Transforms/Scalar/LoopInstSimplify.cpp
  llvm/lib/Transforms/Scalar/LoopInterchange.cpp
  llvm/lib/Transforms/Scalar/LoopLoadElimination.cpp
  llvm/lib/Transforms/Scalar/LoopPassManager.cpp
  llvm/lib/Transforms/Scalar/LoopRotation.cpp
  llvm/lib/Transforms/Scalar/LoopStrengthReduce.cpp
  llvm/lib/Transforms/Scalar/LoopTermFold.cpp
  llvm/lib/Transforms/Scalar/LoopUnrollAndJamPass.cpp
  llvm/lib/Transforms/Scalar/LoopUnrollPass.cpp
  llvm/lib/Transforms/Scalar/LoopVersioningLICM.cpp
  llvm/lib/Transforms/Scalar/LowerAtomicPass.cpp
  llvm/lib/Transforms/Scalar/LowerConstantIntrinsics.cpp
  llvm/lib/Transforms/Scalar/LowerGuardIntrinsic.cpp
  llvm/lib/Transforms/Scalar/MakeGuardsExplicit.cpp
  llvm/lib/Transforms/Scalar/MemCpyOptimizer.cpp
  llvm/lib/Transforms/Scalar/RewriteStatepointsForGC.cpp
  llvm/lib/Transforms/Scalar/SCCP.cpp
  llvm/lib/Transforms/Scalar/SROA.cpp
  llvm/lib/Transforms/Scalar/SimplifyCFGPass.cpp
  llvm/lib/Transforms/Scalar/StructurizeCFG.cpp
Labels: llvm:transforms

#114610 [lldb] Highlight "note:" in CommandReturnObject
  lldb/include/lldb/Interpreter/CommandReturnObject.h
  lldb/source/Commands/CommandObjectDWIMPrint.cpp
  lldb/source/Interpreter/CommandReturnObject.cpp
Labels: lldb

#101717 [InstCombine] Factorise Add and Min/Max using Distributivity
  llvm/include/llvm/IR/Operator.h
  llvm/lib/Transforms/InstCombine/InstCombineCalls.cpp
  llvm/test/Transforms/InstCombine/intrinsic-distributive.ll
Labels: llvm:ir, llvm:transforms

#114507 [lldb] Create dependent modules in parallel
  lldb/source/Target/Target.cpp
Labels: lldb

#112568 [Minidump] Add extern template declarations for MinidumpFile::getListStream
  llvm/include/llvm/Object/Minidump.h
  llvm/lib/Object/Minidump.cpp
Labels: llvm:binary-utilities

#114639 [clang-format] Don't re-annotate CaseLabelColon as ConditionalExpr
  clang/lib/Format/TokenAnnotator.cpp
  clang/unittests/Format/FormatTest.cpp
Labels: clang-format

#114679 [IR] Remove unused includes (NFC)
  llvm/lib/IR/AsmWriter.cpp
  llvm/lib/IR/ConstantFold.cpp
  llvm/lib/IR/DIBuilder.cpp
  llvm/lib/IR/Function.cpp
  llvm/lib/IR/Intrinsics.cpp
  llvm/lib/IR/LLVMContextImpl.cpp
  llvm/lib/IR/MemoryModelRelaxationAnnotations.cpp
  llvm/lib/IR/Metadata.cpp
  llvm/lib/IR/Module.cpp
  llvm/lib/IR/ProfDataUtils.cpp
  llvm/lib/IR/SSAContext.cpp
  llvm/lib/IR/StructuralHash.cpp
  llvm/lib/IR/Verifier.cpp
Labels: llvm:ir

#114635 [ConstantFold] Special case log1p +/-0.0
  llvm/lib/Analysis/ConstantFolding.cpp
  llvm/test/Transforms/InstCombine/log1p.ll
Labels: floating-point, llvm:analysis, llvm:transforms

#114676 [llvm][ADT] Structured bindings for move-only types in `StringMap`
  llvm/include/llvm/ADT/StringMapEntry.h
  llvm/unittests/ADT/StringMapTest.cpp
Labels: llvm:adt

#113300 [libc][complex] implement different flavors of `creal` and `cimag` functions
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/arm/entrypoints.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/docs/complex.rst
  libc/src/CMakeLists.txt
  libc/src/__support/CMakeLists.txt
  libc/src/__support/complex_type.h
  libc/src/complex/CMakeLists.txt
  libc/src/complex/cimag.h
  libc/src/complex/cimagf.h
  libc/src/complex/cimagf128.h
  libc/src/complex/cimagf16.h
  libc/src/complex/cimagl.h
  libc/src/complex/creal.h
  libc/src/complex/crealf.h
  libc/src/complex/crealf128.h
  libc/src/complex/crealf16.h
  libc/src/complex/creall.h
  libc/src/complex/generic/CMakeLists.txt
  libc/src/complex/generic/cimag.cpp
  libc/src/complex/generic/cimagf.cpp
  libc/src/complex/generic/cimagf128.cpp
  libc/src/complex/generic/cimagf16.cpp
  libc/src/complex/generic/cimagl.cpp
  libc/src/complex/generic/creal.cpp
  libc/src/complex/generic/crealf.cpp
  libc/src/complex/generic/crealf128.cpp
  libc/src/complex/generic/crealf16.cpp
  libc/src/complex/generic/creall.cpp
  libc/test/src/CMakeLists.txt
  libc/test/src/complex/CImagTest.h
  libc/test/src/complex/CMakeLists.txt
  libc/test/src/complex/CRealTest.h
  libc/test/src/complex/cimag_test.cpp
  libc/test/src/complex/cimagf128_test.cpp
  libc/test/src/complex/cimagf16_test.cpp
  libc/test/src/complex/cimagf_test.cpp
  libc/test/src/complex/cimagl_test.cpp
  libc/test/src/complex/creal_test.cpp
  libc/test/src/complex/crealf128_test.cpp
  libc/test/src/complex/crealf16_test.cpp
  libc/test/src/complex/crealf_test.cpp
  libc/test/src/complex/creall_test.cpp
Labels: libc

#114696 Comment out CF16 entrypoints for aarch64 and CF128 entrypoints for X84-64
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
Labels: libc

#113900 Extend call hierarchy for field and non-local variables
  clang-tools-extra/clangd/XRefs.cpp
  clang-tools-extra/clangd/unittests/CallHierarchyTests.cpp
Labels: clang-tools-extra, clangd

#114677 [clang][bytecode][NFC] Switch BitcastBuffer to SmallVector
  clang/lib/AST/ByteCode/InterpBuiltinBitCast.cpp
  clang/test/AST/ByteCode/builtin-bit-cast.cpp
Labels: clang, clang:frontend

#95044 [libc++] Use enable_if_t to constrain make_unique{,_for_overwrite}
  libcxx/include/__memory/shared_ptr.h
  libcxx/include/__memory/uninitialized_algorithms.h
  libcxx/include/__memory/unique_ptr.h
  libcxx/include/__type_traits/is_bounded_array.h
  libcxx/include/__type_traits/is_unbounded_array.h
Labels: libc++

#110365 [mlir][linalg] Fix `SemiFunctionType` custom parsing crash on missing `()`
  mlir/include/mlir/Dialect/Linalg/TransformOps/LinalgMatchOps.td
  mlir/include/mlir/Dialect/Linalg/TransformOps/LinalgTransformOps.td
  mlir/include/mlir/Dialect/Linalg/TransformOps/Syntax.h
  mlir/include/mlir/Dialect/SparseTensor/TransformOps/SparseTensorTransformOps.td
  mlir/lib/Dialect/Linalg/TransformOps/Syntax.cpp
  mlir/test/Dialect/Linalg/transform-ops-invalid.mlir
Labels: mlir:linalg, mlir:sparse, mlir

#114575 [libc++] Add a few _LIBCPP_ASSERT_INTERNALs to make sure internal invariants are kept
  libcxx/include/__utility/is_pointer_in_range.h
  libcxx/include/string
Labels: libc++

#114698 [AsmPrinter] Remove unused includes (NFC)
  llvm/lib/CodeGen/AsmPrinter/AccelTable.cpp
  llvm/lib/CodeGen/AsmPrinter/AddressPool.cpp
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/lib/CodeGen/AsmPrinter/AsmPrinterDwarf.cpp
  llvm/lib/CodeGen/AsmPrinter/CodeViewDebug.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfCompileUnit.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfDebug.cpp
Labels: debuginfo

#114697 [SelectionDAG] Remove unused includes (NFC)
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/CodeGen/SelectionDAG/FastISel.cpp
  llvm/lib/CodeGen/SelectionDAG/FunctionLoweringInfo.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/CodeGen/SelectionDAG/StatepointLowering.cpp
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
Labels: llvm:SelectionDAG

#114709 [InstCombine] Remove unused includes (NFC)
  llvm/lib/Transforms/InstCombine/InstCombineCompares.cpp
  llvm/lib/Transforms/InstCombine/InstCombineNegator.cpp
Labels: llvm:transforms

#114643 [Vectorize] Remove unused includes (NFC)
  llvm/lib/Transforms/Vectorize/VPlan.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanUnroll.cpp
  llvm/lib/Transforms/Vectorize/VPlanVerifier.cpp
Labels: vectorizers, llvm:transforms

#114682 [MC] Make generated `MCInstPrinter::getMnemonic` const (NFC)
  bolt/lib/Core/HashUtilities.cpp
  llvm/include/llvm/MC/MCInstPrinter.h
  llvm/include/llvm/MC/MCStreamer.h
  llvm/lib/MC/MCAsmStreamer.cpp
  llvm/lib/Target/AArch64/MCTargetDesc/AArch64InstPrinter.h
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.h
  llvm/lib/Target/AMDGPU/MCTargetDesc/R600InstPrinter.h
  llvm/lib/Target/ARC/MCTargetDesc/ARCInstPrinter.h
  llvm/lib/Target/ARM/MCTargetDesc/ARMInstPrinter.h
  llvm/lib/Target/AVR/MCTargetDesc/AVRInstPrinter.h
  llvm/lib/Target/BPF/MCTargetDesc/BPFInstPrinter.h
  llvm/lib/Target/CSKY/MCTargetDesc/CSKYInstPrinter.h
  llvm/lib/Target/DirectX/MCTargetDesc/DirectXMCTargetDesc.cpp
  llvm/lib/Target/Hexagon/MCTargetDesc/HexagonInstPrinter.h
  llvm/lib/Target/Lanai/MCTargetDesc/LanaiInstPrinter.h
  llvm/lib/Target/LoongArch/MCTargetDesc/LoongArchInstPrinter.h
  llvm/lib/Target/M68k/MCTargetDesc/M68kInstPrinter.h
  llvm/lib/Target/MSP430/MCTargetDesc/MSP430InstPrinter.h
  llvm/lib/Target/Mips/MCTargetDesc/MipsInstPrinter.h
  llvm/lib/Target/NVPTX/MCTargetDesc/NVPTXInstPrinter.h
  llvm/lib/Target/PowerPC/MCTargetDesc/PPCInstPrinter.h
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVInstPrinter.h
  llvm/lib/Target/SPIRV/MCTargetDesc/SPIRVInstPrinter.h
  llvm/lib/Target/Sparc/MCTargetDesc/SparcInstPrinter.h
  llvm/lib/Target/SystemZ/MCTargetDesc/SystemZGNUInstPrinter.h
  llvm/lib/Target/SystemZ/MCTargetDesc/SystemZHLASMInstPrinter.h
  llvm/lib/Target/VE/MCTargetDesc/VEInstPrinter.h
  llvm/lib/Target/WebAssembly/MCTargetDesc/WebAssemblyInstPrinter.cpp
  llvm/lib/Target/WebAssembly/MCTargetDesc/WebAssemblyInstPrinter.h
  llvm/lib/Target/X86/MCTargetDesc/X86ATTInstPrinter.h
  llvm/lib/Target/X86/MCTargetDesc/X86IntelInstPrinter.h
  llvm/lib/Target/XCore/MCTargetDesc/XCoreInstPrinter.h
  llvm/lib/Target/Xtensa/MCTargetDesc/XtensaInstPrinter.h
  llvm/utils/TableGen/AsmWriterEmitter.cpp
Labels: backend:ARM, backend:AArch64, backend:AMDGPU, backend:Hexagon, backend:MSP430, backend:RISC-V, backend:PowerPC, backend:Sparc, backend:SystemZ, backend:WebAssembly, backend:X86, tablegen, mc, backend:m68k, BOLT, backend:DirectX, backend:SPIR-V, backend:NVPTX, backend:loongarch

#114712 [clang][bytecode] Implement bitcasts to floating-point values (#114485)
  clang/lib/AST/ByteCode/Interp.h
  clang/lib/AST/ByteCode/InterpBuiltinBitCast.cpp
  clang/test/AST/ByteCode/builtin-bit-cast-long-double.cpp
  clang/test/AST/ByteCode/builtin-bit-cast.cpp
Labels: clang, clang:frontend

#114690 [libc] Add proxy headers to handle memory allocation associated with the header `#include <stdlib.h>
  libc/hdr/CMakeLists.txt
  libc/hdr/func/CMakeLists.txt
  libc/hdr/func/_Exit.h
  libc/hdr/func/aligned_alloc.h
  libc/hdr/func/free.h
  libc/hdr/func/malloc.h
  libc/hdr/func/realloc.h
  libc/src/__support/CMakeLists.txt
  libc/src/__support/CPP/CMakeLists.txt
  libc/src/__support/CPP/new.cpp
  libc/src/__support/CPP/new.h
  libc/src/__support/CPP/string.h
  libc/src/__support/File/CMakeLists.txt
  libc/src/__support/File/file.cpp
  libc/src/__support/char_vector.h
  libc/src/stdio/printf_core/CMakeLists.txt
  libc/src/stdio/printf_core/vasprintf_internal.h
  libc/test/src/stdlib/CMakeLists.txt
  libc/test/src/stdlib/at_quick_exit_test.cpp
  libc/test/src/stdlib/atexit_test.cpp
Labels: libc

#114560 [ISel] Propagate disjoint flag in ShrinkDemandedOp
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/lib/Target/AArch64/AArch64ISelDAGToDAG.cpp
  llvm/test/CodeGen/AArch64/sme-intrinsics-mova-insert.ll
Labels: backend:AArch64, llvm:SelectionDAG

#114718 [libc] add stdlib.h header to the _Exit func proxy in full build
  libc/hdr/func/_Exit.h
Labels: libc

#114716 [IPO] Remove unused includes (NFC)
  llvm/lib/Transforms/IPO/Annotation2Metadata.cpp
  llvm/lib/Transforms/IPO/Attributor.cpp
  llvm/lib/Transforms/IPO/AttributorAttributes.cpp
  llvm/lib/Transforms/IPO/CrossDSOCFI.cpp
  llvm/lib/Transforms/IPO/ElimAvailExtern.cpp
  llvm/lib/Transforms/IPO/EmbedBitcodePass.cpp
  llvm/lib/Transforms/IPO/ExtractGV.cpp
  llvm/lib/Transforms/IPO/GlobalSplit.cpp
  llvm/lib/Transforms/IPO/HotColdSplitting.cpp
  llvm/lib/Transforms/IPO/IPO.cpp
  llvm/lib/Transforms/IPO/Inliner.cpp
  llvm/lib/Transforms/IPO/MemProfContextDisambiguation.cpp
  llvm/lib/Transforms/IPO/MergeFunctions.cpp
  llvm/lib/Transforms/IPO/SampleProfile.cpp
  llvm/lib/Transforms/IPO/SampleProfileProbe.cpp
  llvm/lib/Transforms/IPO/StripDeadPrototypes.cpp
  llvm/lib/Transforms/IPO/StripSymbols.cpp
  llvm/lib/Transforms/IPO/WholeProgramDevirt.cpp
Labels: PGO, llvm:transforms

#114717 [libc] Fix typos in proxy type headers
  libc/hdr/types/atexithandler_t.h
  libc/hdr/types/fenv_t.h
  libc/hdr/types/fexcept_t.h
  libc/hdr/types/jmp_buf.h
  libc/hdr/types/locale_t.h
  libc/hdr/types/mode_t.h
  libc/hdr/types/sighandler_t.h
  libc/hdr/types/stack_t.h
  libc/hdr/types/suseconds_t.h
Labels: libc

#114414 [RISCV] Add +optimized-nfN-segment-load-store
  llvm/lib/Target/RISCV/RISCVFeatures.td
  llvm/lib/Target/RISCV/RISCVProcessors.td
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.cpp
  llvm/test/Transforms/LoopVectorize/RISCV/interleaved-cost.ll
Labels: backend:RISC-V, llvm:transforms

#114512 [LoongArch][Clang] Make the parameters and return value of {x,}vshuf.b builtins `signed char` vectors
  clang/include/clang/Basic/BuiltinsLoongArchLASX.def
  clang/include/clang/Basic/BuiltinsLoongArchLSX.def
Labels: clang, clang:frontend, backend:loongarch

#114603 [flang][openacc] Avoid crash when variable is not declared in reduction
  flang/lib/Semantics/check-acc-structure.cpp
  flang/test/Semantics/OpenACC/acc-reduction-validity.f90
Labels: flang, openacc, flang:semantics

#114719 [memprof] Add const to isAllocationWithHotColdVariant (NFC)
  llvm/lib/Transforms/Instrumentation/MemProfiler.cpp
Labels: llvm:transforms

#113966 [clang][Driver] Allow -fuse-lld=lld-link when lto is enabled on *windows-msvc targets
  clang/lib/Driver/Driver.cpp
  clang/test/Driver/clang_f_opts.c
  clang/test/Driver/windows-lto.c
Labels: clang, clang:driver

#112401 [MSan] Update 32-bit test checks
  llvm/test/Instrumentation/MemorySanitizer/ARM32/vararg-arm32.ll
  llvm/test/Instrumentation/MemorySanitizer/Mips32/vararg-mips.ll
  llvm/test/Instrumentation/MemorySanitizer/Mips32/vararg-mipsel.ll
  llvm/test/Instrumentation/MemorySanitizer/PowerPC32/kernel-ppcle.ll
  llvm/test/Instrumentation/MemorySanitizer/PowerPC32/vararg-ppc.ll
  llvm/test/Instrumentation/MemorySanitizer/PowerPC32/vararg-ppcle.ll
  llvm/test/Instrumentation/MemorySanitizer/RISCV32/vararg-riscv32.ll
  llvm/test/Instrumentation/MemorySanitizer/i386/avx-intrinsics-x86.ll
  llvm/test/Instrumentation/MemorySanitizer/i386/avx2-intrinsics-x86.ll
  llvm/test/Instrumentation/MemorySanitizer/i386/mmx-intrinsics.ll
  llvm/test/Instrumentation/MemorySanitizer/i386/msan_x86_bts_asm.ll
  llvm/test/Instrumentation/MemorySanitizer/i386/msan_x86intrinsics.ll
  llvm/test/Instrumentation/MemorySanitizer/i386/sse-intrinsics-x86.ll
  llvm/test/Instrumentation/MemorySanitizer/i386/sse2-intrinsics-x86.ll
  llvm/test/Instrumentation/MemorySanitizer/i386/sse41-intrinsics-x86.ll
  llvm/test/Instrumentation/MemorySanitizer/i386/vararg-too-large.ll
  llvm/test/Instrumentation/MemorySanitizer/i386/vararg.ll
  llvm/test/Instrumentation/MemorySanitizer/i386/vararg_call.ll
Labels: backend:RISC-V, compiler-rt:msan

#114547 [PassBuilder] Add `ThinOrFullLTOPhase` to early simplication EP call backs
  clang/lib/CodeGen/BackendUtil.cpp
  llvm/include/llvm/Passes/PassBuilder.h
  llvm/lib/Passes/PassBuilderPipelines.cpp
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
  llvm/lib/Target/BPF/BPFTargetMachine.cpp
  llvm/test/CodeGen/AMDGPU/print-pipeline-passes.ll
  llvm/tools/opt/NewPMDriver.cpp
Labels: clang, backend:AMDGPU, clang:codegen

#114577 [PassBuilder] Add `ThinOrFullLTOPhase` to optimizer pipeline
  clang/lib/CodeGen/BackendUtil.cpp
  llvm/include/llvm/Passes/PassBuilder.h
  llvm/lib/Passes/PassBuilderPipelines.cpp
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
  llvm/test/CodeGen/AMDGPU/print-pipeline-passes.ll
  llvm/tools/opt/NewPMDriver.cpp
Labels: clang, backend:AMDGPU, clang:codegen

#114664 [GlobalISel][AArch64] Legalize G_UADDSAT, G_SADDSAT, G_USUBSAT, and G…
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.cpp
  llvm/test/CodeGen/AArch64/sve-saturating-arith.ll
Labels: backend:AArch64, llvm:globalisel

#114723 [memprof] Use MinimumSupportedVersion in place of Verion0 (NFC)
  llvm/include/llvm/ProfileData/InstrProfReader.h
  llvm/include/llvm/ProfileData/InstrProfWriter.h
Labels: PGO

#107332 [Clang] Implement labelled type filtering for overflow/truncation sanitizers w/ SSCLs
  clang/docs/ReleaseNotes.rst
  clang/docs/SanitizerSpecialCaseList.rst
  clang/include/clang/AST/ASTContext.h
  clang/lib/AST/ASTContext.cpp
  clang/lib/CodeGen/CGExprScalar.cpp
  clang/test/CodeGen/ubsan-type-ignorelist-category-2.test
  clang/test/CodeGen/ubsan-type-ignorelist-category.test
Labels: clang, clang:frontend, clang:codegen

#107405 [ASan][test] Enable ASan tests on SPARC
  compiler-rt/lib/asan/tests/CMakeLists.txt
  compiler-rt/lib/asan/tests/asan_oob_test.cpp
  compiler-rt/lib/asan/tests/asan_test.cpp
  compiler-rt/test/asan/CMakeLists.txt
  compiler-rt/test/asan/TestCases/zero_page_pc.cpp
  compiler-rt/test/sanitizer_common/CMakeLists.txt
  compiler-rt/test/ubsan/CMakeLists.txt
Labels: compiler-rt, compiler-rt:asan, compiler-rt:ubsan, compiler-rt:sanitizer

#114513 [LoongArch][Clang] Make the parameters and return value of {x,}vxor.v builti ns `unsigned char` vectors
  clang/include/clang/Basic/BuiltinsLoongArchLASX.def
  clang/include/clang/Basic/BuiltinsLoongArchLSX.def
  clang/test/Headers/lasxintrin.c
  clang/test/Headers/lsxintrin.c
Labels: clang, clang:frontend, backend:loongarch

#114247 [FuncSpec] Handle ssa_copy intrinsic calls in InstCostVisitor
  llvm/lib/Transforms/IPO/FunctionSpecialization.cpp
  llvm/test/Transforms/FunctionSpecialization/ssa-copy.ll
Labels: function-specialization, llvm:transforms

#113683 Revert "[Flang][OpenMP] Disable lowering of omp.simd reductions in co…
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/test/Lower/OpenMP/wsloop-simd.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#114237 [llvm][CodeExtractor] fix bug in parameter naming
  llvm/lib/Transforms/Utils/CodeExtractor.cpp
  llvm/unittests/Transforms/Utils/CodeExtractorTest.cpp
Labels: llvm:transforms

#113338 CodeGen/test: improve a test, regen with UTC
  llvm/test/CodeGen/NVPTX/load-store.ll
  llvm/test/CodeGen/PowerPC/big-endian-store-forward.ll
Labels: backend:PowerPC, backend:NVPTX

#114073 [FuncSpec] Improve handling of Comparison Instructions
  llvm/include/llvm/Transforms/IPO/FunctionSpecialization.h
  llvm/lib/Transforms/IPO/FunctionSpecialization.cpp
  llvm/test/Transforms/FunctionSpecialization/cmp-with-range.ll
Labels: function-specialization, llvm:transforms

#114534 [FuncSpec] Improve handling of BinaryOperator instructions
  llvm/lib/Transforms/IPO/FunctionSpecialization.cpp
  llvm/unittests/Transforms/IPO/FunctionSpecializationTest.cpp
Labels: function-specialization, llvm:transforms

#113706 [X86] Insert CALLSEQ when lowering GlobalTLSAddress for ELF targets
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/lib/Target/X86/X86ISelLowering.h
  llvm/lib/Target/X86/X86InstrCompiler.td
  llvm/test/CodeGen/X86/tls-function-argument.ll
Labels: backend:X86

#114042 [APINotes] Document immortal reference type annotation
  clang/docs/APINotes.rst
Labels: clang

#114778 [clang] Make nullability-on-classes more robust to redeclarations
  clang/lib/AST/Type.cpp
  clang/test/SemaCXX/nullability_redecl.cpp
Labels: clang, clang:frontend

#114731 [RISCV] Lower vector_shuffle for bf16
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp-shuffles.ll
Labels: backend:RISC-V

#114750 [RISCV] Lower fixed-length strided VP loads and stores for zvfhmin/zvfbfmin
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-strided-vpload.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-strided-vpstore.ll
Labels: backend:RISC-V

#114138 [libc++] Refactor __split_buffer to eliminate code duplication
  libcxx/include/__split_buffer
  libcxx/include/__vector/vector.h
  libcxx/include/deque
Labels: libc++

#114777 [clang][bytecode][NFC] Make Floating::bitcastToMemory const
  clang/lib/AST/ByteCode/Floating.h
  clang/lib/AST/ByteCode/InterpBuiltinBitCast.cpp
Labels: clang, clang:frontend

#114779 CodeGen/NVPTX: regen a test, fixing build
  llvm/test/CodeGen/NVPTX/load-store.ll
Labels: backend:NVPTX

#114630 [SPIRV] Fix assert in `getOrCreateBaseRegister` for `i32 -1`
  llvm/lib/Target/SPIRV/SPIRVGlobalRegistry.cpp
Labels: backend:SPIR-V

#114629 [DirectX] Fix broken dxil-dis tests after #106146
  llvm/test/tools/dxil-dis/BasicIR.ll
  llvm/test/tools/dxil-dis/attribute-filter.ll
  llvm/test/tools/dxil-dis/debug-info.ll
  llvm/test/tools/dxil-dis/opaque-gep.ll
  llvm/test/tools/dxil-dis/opaque-pointers.ll
  llvm/test/tools/dxil-dis/opaque-value_as_metadata.ll
  llvm/test/tools/dxil-dis/shuffle.ll
Labels: backend:DirectX

#114789 [MLIR] Fix a stack-use-after-scope error in OpFormatGen.cpp
  mlir/tools/mlir-tblgen/OpFormatGen.cpp
Labels: mlir:core, mlir

#113348 [AArch64] Add assembly/disassembly for FMOP4A (widening, 2-way, FP8 to FP16) instructions
  llvm/lib/Target/AArch64/AArch64SMEInstrInfo.td
  llvm/lib/Target/AArch64/SMEInstrFormats.td
  llvm/test/MC/AArch64/SME2p2/fmop4a-fp8-fp16-widening-diagnostics.s
  llvm/test/MC/AArch64/SME2p2/fmop4a-fp8-fp16-widening.s
Labels: backend:AArch64, mc

#113612 [Tooling/Inclusion] Update std symbols mapping
  clang/lib/Tooling/Inclusions/Stdlib/StandardLibrary.cpp
  clang/lib/Tooling/Inclusions/Stdlib/StdSpecialSymbolMap.inc
  clang/lib/Tooling/Inclusions/Stdlib/StdSymbolMap.inc
  clang/tools/include-mapping/cppreference_parser.py
Labels: clang

#114776 [clang][bytecode] Implement bitcasts to composite types
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/AST/ByteCode/Interp.h
  clang/lib/AST/ByteCode/InterpBuiltinBitCast.cpp
  clang/lib/AST/ByteCode/InterpBuiltinBitCast.h
  clang/lib/AST/ByteCode/Opcodes.td
  clang/test/AST/ByteCode/builtin-bit-cast.cpp
Labels: clang, clang:frontend

#114424 [clang][sema] Fixed a crash when mixture of designated and non-designated initializers in union
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaInit.cpp
  clang/test/SemaCXX/PR113855.cpp
Labels: clang, clang:frontend

#112312 [flang][OpenMP] Add parsing support for Task detach
  flang/include/flang/Parser/dump-parse-tree.h
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Lower/OpenMP/Clauses.cpp
  flang/lib/Parser/openmp-parsers.cpp
  flang/lib/Parser/unparse.cpp
  flang/test/Lower/OpenMP/Todo/task_detach.f90
  flang/test/Parser/OpenMP/task.f90
  llvm/include/llvm/Frontend/OpenMP/OMP.td
Labels: flang, flang:fir-hlfir, flang:openmp, flang:parser, clang:openmp

#114466 [LLD][COFF] Add EC alias symbols for undefined x86_64 symbols on ARM64EC target
  lld/COFF/InputFiles.cpp
  lld/test/COFF/arm64ec-entry-mangle.test
Labels: lld, lld:COFF, platform:windows

#113055 Use `std::move` to avoid copy
  llvm/utils/TableGen/Common/GlobalISel/GlobalISelMatchTable.cpp
Labels: tablegen, llvm:globalisel

#114795 [llvm-project] Fix typo "propogate"
  clang/test/Analysis/malloc.c
  lld/test/Unit/lit.cfg.py
  llvm/docs/HistoricalNotes/2001-05-18-ExceptionHandling.txt
  llvm/docs/HistoricalNotes/2002-05-12-InstListChange.txt
  llvm/lib/Transforms/IPO/AttributorAttributes.cpp
  llvm/lib/Transforms/IPO/IROutliner.cpp
  llvm/test/CodeGen/AArch64/i128-fast-isel-fallback.ll
  llvm/test/CodeGen/AMDGPU/waitcnt-loop-single-basic-block.mir
  llvm/test/DebugInfo/MIR/X86/livedebugvalues_basic_diamond.mir
  llvm/test/DebugInfo/MIR/X86/livedebugvalues_basic_diamond_match_clobber.mir
  llvm/test/DebugInfo/MIR/X86/livedebugvalues_basic_diamond_match_move.mir
  llvm/test/DebugInfo/MIR/X86/livedebugvalues_loop_within_loop_outer_moved.mir
  llvm/test/Transforms/IROutliner/included-phi-nodes-end.ll
  llvm/test/Transforms/IROutliner/region-inputs-in-phi-nodes.ll
  llvm/test/Transforms/InstSimplify/ConstProp/2002-03-11-ConstPropCrash.ll
  llvm/test/Transforms/InstSimplify/ConstProp/2002-05-03-DivideByZeroException.ll
  llvm/test/Transforms/LoopSimplifyCFG/constant-fold-branch.ll
  llvm/test/Unit/lit.cfg.py
  llvm/utils/TableGen/jupyter/tablegen_kernel/kernel.py
  mlir/lib/Dialect/Tosa/Transforms/TosaInferShapes.cpp
  mlir/test/Dialect/Linalg/canonicalize.mlir
  mlir/test/Dialect/Tensor/canonicalize.mlir
Labels: clang, lld, backend:AArch64, backend:AMDGPU, tablegen, debuginfo, mlir:linalg, mlir, mlir:tensor, mlir:tosa, llvm:transforms

#114567 [libc++] Inline small functions inside vector
  libcxx/include/__vector/vector.h
Labels: libc++

#111704 [libc++] Apply post-commit review comments for unique_ptr<T[]> hardening
  libcxx/docs/Hardening.rst
  libcxx/docs/ReleaseNotes/20.rst
  libcxx/include/__configuration/abi.h
  libcxx/include/__memory/unique_ptr.h
  libcxx/test/std/utilities/smartptr/unique.ptr/unique.ptr.class/incomplete.sh.cpp
  libcxx/test/std/utilities/smartptr/unique.ptr/unique.ptr.class/unique.ptr.observers/assert.subscript.pass.cpp
Labels: libc++, hardening

#113241 [libc++] remove minor version in status pages
  libcxx/docs/Status/Cxx17Issues.csv
  libcxx/docs/Status/Cxx17Papers.csv
  libcxx/docs/Status/Cxx20Issues.csv
  libcxx/docs/Status/Cxx20Papers.csv
  libcxx/docs/Status/Cxx23Issues.csv
  libcxx/docs/Status/Cxx23Papers.csv
  libcxx/docs/Status/Cxx2cIssues.csv
  libcxx/docs/Status/Cxx2cPapers.csv
  libcxx/docs/Status/FormatIssues.csv
  libcxx/docs/Status/FormatPaper.csv
Labels: libc++
