Repository llvm/llvm-project, pull requests merged in 2025-02, with the labels that each got.

#125226 [RISCV] Remove potentially incompatible vtype toggles fro mvlseg-vsseg mca test
  llvm/test/tools/llvm-mca/RISCV/SiFiveP400/vlseg-vsseg.s
Labels: rust

#124798 [analyzer][docs] CSA release notes for clang-20
  clang/docs/ReleaseNotes.rst
Labels: clang, clang:static analyzer

#106715 [M68k] always use movem for register spills
  llvm/lib/Target/M68k/M68kExpandPseudo.cpp
  llvm/lib/Target/M68k/M68kInstrData.td
  llvm/lib/Target/M68k/M68kInstrInfo.cpp
  llvm/lib/Target/M68k/M68kRegisterInfo.td
  llvm/test/CodeGen/M68k/PR57660.ll
  llvm/test/CodeGen/M68k/register-spills.ll
Labels: backend:m68k

#125275 Allow 'inline' on some declarations in MS compatibility mode (#125250)
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaDecl.cpp
  clang/test/Sema/MicrosoftCompatibility.c
  clang/test/Sema/MicrosoftCompatibility.cpp
Labels: clang, clang:frontend

#125322 [Driver] Refactor option '-mlink-bitcode-file'.
  clang/include/clang/Driver/Options.td
Labels: clang

#125141 [mlir][Linalg] NFC: Expose a method to deduplicate operands/remove dead results of `linalg.generic` op.
  mlir/include/mlir/Dialect/Linalg/Transforms/Transforms.h
  mlir/lib/Dialect/Linalg/Transforms/EraseUnusedOperandsAndResults.cpp
Labels: mlir:linalg, mlir

#125325 Revert "[clang][bytecode] Stack-allocate bottom function frame"
  clang/lib/AST/ByteCode/EvalEmitter.cpp
  clang/lib/AST/ByteCode/EvalEmitter.h
  clang/lib/AST/ByteCode/Interp.h
  clang/lib/AST/ByteCode/InterpFrame.cpp
  clang/lib/AST/ByteCode/InterpFrame.h
  clang/lib/AST/ByteCode/InterpState.cpp
Labels: clang, clang:frontend

#125333 [NVPTX] Fix typo in `NVPTXISelLowering.cpp` (NFC)
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
Labels: backend:NVPTX

#125048 [MLIR][NVVM] Update Float to TF32 conversion Op
  mlir/lib/Dialect/LLVMIR/IR/NVVMDialect.cpp
  mlir/test/Target/LLVMIR/nvvm/cvt_tf32.mlir
  mlir/test/Target/LLVMIR/nvvmir-invalid.mlir
Labels: mlir:llvm, mlir

#124942 [ValueTracking] Use `SimplifyQuery` in `isKnownNonEqual`
  llvm/include/llvm/Analysis/ValueTracking.h
  llvm/lib/Analysis/BasicAliasAnalysis.cpp
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/lib/Transforms/InstCombine/InstCombineCompares.cpp
  llvm/test/Transforms/InstCombine/known-bits.ll
Labels: llvm:instcombine, llvm:analysis, llvm:transforms

#121580 [InstCombine] Fix FMF propagation in `foldSelectWithFCmpToFabs`
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
  llvm/test/Transforms/InstCombine/fabs.ll
  llvm/test/Transforms/InstCombine/fneg-fabs.ll
Labels: llvm:instcombine, llvm:transforms

#125282 [clang][dataflow][NFC] Remove double lookup
  clang/lib/Analysis/FlowSensitive/DataflowAnalysisContext.cpp
Labels: clang, clang:dataflow, clang:analysis

#125283 [clang][mutation analyzer][NFC] Simplify code in ExprMutationAnalyzer
  clang/lib/Analysis/ExprMutationAnalyzer.cpp
Labels: clang, clang:analysis

#125285 [clang][CodeGenOpenCL][NFC] Remove redundant map lookups
  clang/lib/CodeGen/CGOpenCLRuntime.cpp
Labels: clang, clang:codegen

#122944 [InstSimplify] Handle trunc to i1 in Select with bit test folds.
  llvm/lib/Analysis/CmpInstAnalysis.cpp
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/test/Transforms/InstSimplify/select.ll
Labels: llvm:instcombine, llvm:analysis, llvm:transforms

#125339 [clang][StaticAnalyzer][NFC] Fix a typo in comments
  clang/include/clang/StaticAnalyzer/Core/BugReporter/BugReporter.h
Labels: clang, clang:static analyzer

#117437 [Analyzer][CFG] Correctly handle rebuilt default arg and default init expression
  clang/docs/ReleaseNotes.rst
  clang/lib/AST/ParentMap.cpp
  clang/lib/Analysis/CFG.cpp
  clang/lib/Analysis/ReachableCode.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/StaticAnalyzer/Core/ExprEngine.cpp
  clang/test/AST/ast-dump-recovery.cpp
  clang/test/Analysis/lifetime-extended-regions.cpp
  clang/test/SemaCXX/cxx2c-placeholder-vars.cpp
  clang/test/SemaCXX/warn-unreachable.cpp
Labels: clang, clang:frontend, clang:modules, clang:static analyzer, clang:analysis

#125342 [CodeGen][NFC] Remove redundant map lookup
  llvm/lib/CodeGen/InlineSpiller.cpp
Labels: llvm:codegen, llvm:regalloc

#125335 [AST] Migrate away from PointerUnion::dyn_cast (NFC)
  clang/lib/AST/TemplateName.cpp
Labels: clang, clang:frontend

#125336 [CodeGen] Migrate away from PointerUnion::dyn_cast (NFC)
  clang/lib/CodeGen/MicrosoftCXXABI.cpp
Labels: clang, clang:codegen

#125337 [SandboxIR] Avoid repeated hash lookups (NFC)
  llvm/lib/SandboxIR/Region.cpp
Labels: llvm:SandboxIR

#125245 [CostModel][RISCV] vp-intrinsics.ll - add common check prefix for ARGBASED + TYPEBASED test coverage
  llvm/test/Analysis/CostModel/RISCV/vp-intrinsics.ll
Labels: llvm:analysis

#125349 Reapply "[clang][bytecode] Stack-allocate bottom function frame" (#12…
  clang/lib/AST/ByteCode/Context.cpp
  clang/lib/AST/ByteCode/EvalEmitter.cpp
  clang/lib/AST/ByteCode/Interp.h
  clang/lib/AST/ByteCode/InterpFrame.cpp
  clang/lib/AST/ByteCode/InterpFrame.h
  clang/lib/AST/ByteCode/InterpState.cpp
  clang/lib/AST/ByteCode/InterpState.h
Labels: clang, clang:frontend

#125318 [RISCV] Simplify MIPS CCMov patterns. NFC
  llvm/lib/Target/RISCV/RISCVInstrInfoXMips.td
Labels: backend:RISC-V

#123541 [MachineScheduler] Fix physreg dependencies of ExitSU
  llvm/lib/CodeGen/ScheduleDAGInstrs.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/assert-align.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/call-outgoing-stack-args.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/divergence-divergent-i1-used-outside-loop.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/regbankselect-mui.ll
  llvm/test/CodeGen/AMDGPU/abi-attribute-hints-undefined-behavior.ll
  llvm/test/CodeGen/AMDGPU/atomic_optimizations_global_pointer.ll
  llvm/test/CodeGen/AMDGPU/atomic_optimizations_local_pointer.ll
  llvm/test/CodeGen/AMDGPU/call-args-inreg.ll
  llvm/test/CodeGen/AMDGPU/call-argument-types.ll
  llvm/test/CodeGen/AMDGPU/call-preserved-registers.ll
  llvm/test/CodeGen/AMDGPU/call-reqd-group-size.ll
  llvm/test/CodeGen/AMDGPU/call-waitcnt.ll
  llvm/test/CodeGen/AMDGPU/callee-frame-setup.ll
  llvm/test/CodeGen/AMDGPU/callee-special-input-sgprs-fixed-abi.ll
  llvm/test/CodeGen/AMDGPU/cc-update.ll
  llvm/test/CodeGen/AMDGPU/cross-block-use-is-not-abi-copy.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fmax.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fmin.ll
  llvm/test/CodeGen/AMDGPU/frame-setup-without-sgpr-to-vgpr-spills.ll
  llvm/test/CodeGen/AMDGPU/global_atomics_scan_fadd.ll
  llvm/test/CodeGen/AMDGPU/global_atomics_scan_fmax.ll
  llvm/test/CodeGen/AMDGPU/global_atomics_scan_fmin.ll
  llvm/test/CodeGen/AMDGPU/global_atomics_scan_fsub.ll
  llvm/test/CodeGen/AMDGPU/machine-sink-temporal-divergence-swdev407790.ll
  llvm/test/CodeGen/AMDGPU/set-inactive-wwm-overwrite.ll
  llvm/test/CodeGen/AMDGPU/sibling-call.ll
  llvm/test/CodeGen/AMDGPU/skip-if-dead.ll
  llvm/test/CodeGen/AMDGPU/stack-pointer-offset-relative-frameindex.ll
  llvm/test/CodeGen/AMDGPU/swdev373493.ll
  llvm/test/CodeGen/AMDGPU/tail-call-inreg-arguments.ll
  llvm/test/CodeGen/AMDGPU/tuple-allocation-failure.ll
  llvm/test/CodeGen/AMDGPU/vgpr-liverange.ll
  llvm/test/CodeGen/AMDGPU/wave32.ll
  llvm/test/CodeGen/AMDGPU/wwm-reserved-spill.ll
  llvm/test/CodeGen/AMDGPU/wwm-reserved.ll
  llvm/test/CodeGen/ARM/arm-shrink-wrapping-linux.ll
  llvm/test/CodeGen/ARM/arm-shrink-wrapping.ll
  llvm/test/CodeGen/ARM/vector-DAGCombine.ll
  llvm/test/CodeGen/PowerPC/p10-spill-creq.ll
  llvm/test/CodeGen/Thumb2/LowOverheadLoops/fast-fp-loops.ll
  llvm/test/CodeGen/Thumb2/LowOverheadLoops/minloop.ll
  llvm/test/CodeGen/Thumb2/LowOverheadLoops/mve-float-loops.ll
  llvm/test/CodeGen/Thumb2/LowOverheadLoops/mve-tail-data-types.ll
  llvm/test/CodeGen/Thumb2/LowOverheadLoops/reductions.ll
  llvm/test/CodeGen/Thumb2/mve-float32regloops.ll
  llvm/test/CodeGen/Thumb2/mve-gather-increment.ll
  llvm/test/CodeGen/Thumb2/mve-gather-scatter-optimisation.ll
  llvm/test/CodeGen/Thumb2/mve-laneinterleaving-reduct.ll
  llvm/test/CodeGen/Thumb2/mve-postinc-dct.ll
  llvm/test/CodeGen/Thumb2/mve-postinc-distribute.ll
  llvm/test/CodeGen/Thumb2/mve-postinc-lsr.ll
  llvm/test/CodeGen/Thumb2/mve-pred-vctpvpsel.ll
  llvm/test/CodeGen/Thumb2/mve-tailpred-nonzerostart.ll
  llvm/test/CodeGen/Thumb2/pacbti-m-varargs-2.ll
  llvm/test/CodeGen/Thumb2/pacbti-m-vla.ll
  llvm/test/CodeGen/Thumb2/setjmp_longjmp.ll
  llvm/test/Transforms/LoopStrengthReduce/ARM/ivchain-ARM.ll
Labels: backend:ARM, backend:AMDGPU, backend:PowerPC, llvm:globalisel, llvm:transforms

#125340 [RISCV] Simplify usage of SplatPat_simm5_plus1. NFC
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoVSDPatterns.td
  llvm/lib/Target/RISCV/RISCVInstrInfoVVLPatterns.td
Labels: backend:RISC-V

#125147 [NVPTX] Fix `ptxas` failures (NFC)
  llvm/test/CodeGen/NVPTX/griddepcontrol.ll
  llvm/test/CodeGen/NVPTX/kernel-param-align.ll
  llvm/test/CodeGen/NVPTX/lower-args.ll
Labels: backend:NVPTX

#125368 release/20.x: [Clang][ReleaseNotes] Document -fclang-abi-compat=19 re: #110503
  clang/docs/ReleaseNotes.rst
Labels: clang

#125367 Set version to 20.1.0-rc1
  cmake/Modules/LLVMVersion.cmake
Labels: cmake

#125373 [libc] Build with -Wdeprecated, fix some warnings
  libc/cmake/modules/LLVMLibCCompileOptionRules.cmake
  libc/src/__support/CPP/span.h
  libc/test/src/setjmp/CMakeLists.txt
  libc/test/src/setjmp/setjmp_test.cpp
Labels: libc

#125326 [clang-format] Fix a bug in annotating ClassHeadName
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#125346 [InstCombine] Extend `foldSelectInstWithICmpConst` to handle minmax
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
  llvm/test/Transforms/InstCombine/select-min-max.ll
Labels: llvm:instcombine, llvm:transforms

#125387 [clang][bytecode] Ignore Namespace{Using,Alias}Decls
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/test/AST/ByteCode/literals.cpp
Labels: clang, clang:frontend

#125385 [InstSimplify] Add additional checks when substituting pointers
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/test/Transforms/InstSimplify/select-icmp.ll
Labels: llvm:instcombine, llvm:analysis, llvm:transforms

#125391 [clang][bytecode][NFC] Add a FunctionKind enum
  clang/lib/AST/ByteCode/ByteCodeEmitter.cpp
  clang/lib/AST/ByteCode/Function.cpp
  clang/lib/AST/ByteCode/Function.h
Labels: clang, clang:frontend

#125397 [clang][bytecode][NFC] Only get expr when checking for UB
  clang/lib/AST/ByteCode/Interp.h
Labels: clang, clang:frontend

#124104 [VPlan] Move auxiliary declarations out of VPlan.h (NFC).
  llvm/lib/Transforms/Vectorize/LoopVectorizationPlanner.h
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPRecipeBuilder.h
  llvm/lib/Transforms/Vectorize/VPlan.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanHelpers.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/lib/Transforms/Vectorize/VPlanSLP.cpp
  llvm/lib/Transforms/Vectorize/VPlanSLP.h
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanValue.h
  llvm/unittests/Transforms/Vectorize/VPlanSlpTest.cpp
  llvm/unittests/Transforms/Vectorize/VPlanTest.cpp
Labels: vectorizers, llvm:transforms

#122927 [mlir][linalg] Add support for masked vectorization of `tensor.insert_slice` (1/N)
  mlir/include/mlir/Dialect/Linalg/Transforms/Transforms.h
  mlir/lib/Dialect/Linalg/TransformOps/LinalgTransformOps.cpp
  mlir/lib/Dialect/Linalg/Transforms/Vectorization.cpp
  mlir/test/Dialect/Linalg/vectorization-pad-patterns.mlir
  mlir/test/Dialect/Linalg/vectorization-unsupported.mlir
  mlir/test/Dialect/Linalg/vectorization.mlir
Labels: mlir:linalg, mlir

#123526 [mlir][Vector] Update VectorEmulateNarrowType.cpp (1/N)
  mlir/lib/Dialect/Vector/Transforms/VectorEmulateNarrowType.cpp
Labels: mlir:vectorops, mlir, mlir:vector

#124406 [offload] `gnu::format` with variadic template functions is Clang-only
  offload/plugins-nextgen/common/include/ErrorReporting.h
Labels: offload

#124408 [offload] [test] Use test compiler ID rather than host
  offload/test/CMakeLists.txt
Labels: offload

#125350 [Transforms] Avoid repeated hash lookups (NFC)
  llvm/lib/Transforms/Scalar/NewGVN.cpp
Labels: llvm:transforms

#125379 [AST] Migrate away from PointerUnion::dyn_cast (NFC)
  clang/include/clang/AST/ExprCXX.h
Labels: clang, clang:frontend

#125380 [Lex] Migrate away from PointerUnion::dyn_cast (NFC)
  clang/include/clang/Lex/Preprocessor.h
Labels: clang, clang:frontend

#125381 [libclang] Migrate away from PointerUnion::dyn_cast (NFC)
  clang/tools/libclang/CIndex.cpp
Labels: clang, clang:as-a-library

#125382 [CodeGen] Avoid repeated hash lookups (NFC)
  llvm/lib/CodeGen/InlineSpiller.cpp
Labels: llvm:regalloc

#124480 [LVI] Add trunc to i1 handling.
  llvm/lib/Analysis/LazyValueInfo.cpp
  llvm/test/Transforms/CorrelatedValuePropagation/cond-at-use.ll
  llvm/test/Transforms/CorrelatedValuePropagation/icmp.ll
Labels: llvm:analysis, llvm:transforms

#123594 [AArch64][GlobalISel] Add disjoint handling for add_and_or_is_add.
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/test/CodeGen/AArch64/GlobalISel/legalize-fshl.mir
  llvm/test/CodeGen/AArch64/GlobalISel/legalize-fshr.mir
  llvm/test/CodeGen/AArch64/fsh.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-fshl.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/legalize-fshr.mir
  llvm/test/CodeGen/RISCV/GlobalISel/legalizer/legalize-fshl-fshr-rv32.mir
  llvm/test/CodeGen/RISCV/GlobalISel/legalizer/legalize-fshl-fshr-rv64.mir
  llvm/utils/update_mir_test_checks.py
Labels: backend:AArch64, backend:AMDGPU, llvm:globalisel, testing-tools

#124656 [Xtensa] Implement Windowed Register Option.
  llvm/lib/Target/Xtensa/AsmParser/XtensaAsmParser.cpp
  llvm/lib/Target/Xtensa/Disassembler/XtensaDisassembler.cpp
  llvm/lib/Target/Xtensa/MCTargetDesc/XtensaInstPrinter.cpp
  llvm/lib/Target/Xtensa/MCTargetDesc/XtensaInstPrinter.h
  llvm/lib/Target/Xtensa/MCTargetDesc/XtensaMCCodeEmitter.cpp
  llvm/lib/Target/Xtensa/MCTargetDesc/XtensaMCTargetDesc.cpp
  llvm/lib/Target/Xtensa/MCTargetDesc/XtensaMCTargetDesc.h
  llvm/lib/Target/Xtensa/Xtensa.td
  llvm/lib/Target/Xtensa/XtensaFeatures.td
  llvm/lib/Target/Xtensa/XtensaInstrInfo.td
  llvm/lib/Target/Xtensa/XtensaOperands.td
  llvm/lib/Target/Xtensa/XtensaRegisterInfo.td
  llvm/lib/Target/Xtensa/XtensaSubtarget.h
  llvm/test/MC/Disassembler/Xtensa/windowed.txt
  llvm/test/MC/Disassembler/Xtensa/windowed_code_density.txt
  llvm/test/MC/Xtensa/windowed.s
  llvm/test/MC/Xtensa/windowed_code_density.s
  llvm/test/MC/Xtensa/windowed_invalid.s
Labels: mc, backend:Xtensa

#120514 [ELF] Add BPSectionOrderer options
  lld/ELF/BPSectionOrderer.cpp
  lld/ELF/BPSectionOrderer.h
  lld/ELF/CMakeLists.txt
  lld/ELF/Config.h
  lld/ELF/Driver.cpp
  lld/ELF/Options.td
  lld/ELF/Writer.cpp
  lld/include/lld/Common/BPSectionOrdererBase.inc
  lld/test/ELF/bp-section-orderer-stress.s
  lld/test/ELF/bp-section-orderer.s
Labels: lld, lld:MachO, lld:ELF, lld:COFF, lld:wasm

#125310 [flang][cuda] Pass the pinned variable in allocate calls
  flang/include/flang/Optimizer/Builder/Runtime/RTBuilder.h
  flang/include/flang/Runtime/CUDA/allocatable.h
  flang/include/flang/Runtime/CUDA/pointer.h
  flang/lib/Optimizer/Transforms/CUFOpConversion.cpp
  flang/runtime/CUDA/allocatable.cpp
  flang/runtime/CUDA/pointer.cpp
  flang/test/Fir/CUDA/cuda-allocate.fir
Labels: flang:runtime, flang, flang:fir-hlfir

#125375 [ConstraintElimination] Fix comment
  llvm/lib/Transforms/Scalar/ConstraintElimination.cpp
Labels: llvm:transforms

#125377 [LVI] Handle nonnull attributes at callsite
  llvm/lib/Analysis/LazyValueInfo.cpp
  llvm/test/Transforms/CorrelatedValuePropagation/non-null.ll
Labels: llvm:analysis, llvm:transforms

#125330 [TableGen] Split DAGISelMatcherOpt FactorNodes into 2 functions. NFC
  llvm/utils/TableGen/DAGISelMatcherOpt.cpp
Labels: tablegen, llvm:SelectionDAG

#125414 [ValueTracking] Handle `trunc nuw` in `computeKnownBitsFromICmpCond`
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/test/Transforms/InstCombine/known-bits.ll
Labels: llvm:instcombine, llvm:analysis, llvm:transforms

#124698 [CodeGen][NewPM] Port RegisterCoalescer to NPM
  llvm/include/llvm/CodeGen/RegisterCoalescerPass.h
  llvm/include/llvm/InitializePasses.h
  llvm/include/llvm/Passes/CodeGenPassBuilder.h
  llvm/include/llvm/Passes/MachinePassRegistry.def
  llvm/lib/CodeGen/CodeGen.cpp
  llvm/lib/CodeGen/RegAllocBasic.cpp
  llvm/lib/CodeGen/RegAllocGreedy.cpp
  llvm/lib/CodeGen/RegisterCoalescer.cpp
  llvm/lib/CodeGen/RegisterCoalescer.h
  llvm/lib/Passes/PassBuilder.cpp
  llvm/test/CodeGen/AArch64/coalescer-drop-subreg-to-reg-imm-ops.mir
  llvm/test/CodeGen/AMDGPU/blender-coalescer-verifier-error-empty-subrange.mir
  llvm/test/CodeGen/X86/coalesce-dead-lanes.mir
  llvm/test/CodeGen/X86/late-remat-update.mir
Labels: backend:AArch64, backend:AMDGPU, backend:X86, llvm:regalloc

#125096 [X86][GlobalISel] Enable G_LROUND/G_LLROUND with libcall mapping
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/lib/Target/X86/GISel/X86LegalizerInfo.cpp
  llvm/test/CodeGen/X86/llround-conv.ll
  llvm/test/CodeGen/X86/lround-conv-i32.ll
  llvm/test/CodeGen/X86/lround-conv-i64.ll
Labels: backend:X86, llvm:globalisel

#121556 [RISCV][NFC] Clarify getRISCVInstructionCost usage
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.h
Labels: backend:RISC-V, llvm:analysis

#125419 [clang][bytecode][NFC] Only call getSource() when necessary
  clang/lib/AST/ByteCode/Interp.cpp
Labels: clang, clang:frontend

#125467 [clang][bytecode] Refactor Program::createGlobalString
  clang/lib/AST/ByteCode/Program.cpp
Labels: clang, clang:frontend

#123207 [WebAssembly] Autovec support for dot
  llvm/lib/Target/WebAssembly/WebAssemblyISD.def
  llvm/lib/Target/WebAssembly/WebAssemblyISelLowering.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyISelLowering.h
  llvm/lib/Target/WebAssembly/WebAssemblyInstrSIMD.td
  llvm/lib/Target/WebAssembly/WebAssemblyTargetTransformInfo.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyTargetTransformInfo.h
  llvm/test/CodeGen/WebAssembly/int-mac-reduction-loops.ll
Labels: backend:WebAssembly

#125244 [lldb][TypeSystemClang] Pass around enum value as uint64_t
  lldb/source/Plugins/SymbolFile/DWARF/DWARFASTParserClang.cpp
  lldb/source/Plugins/SymbolFile/PDB/PDBASTParser.cpp
  lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.cpp
  lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.h
Labels: lldb

#122694 [lldb][Docs] Expand remote testing instructions
  lldb/docs/resources/test.rst
Labels: lldb

#125303 [mlir][OpenMP][NFC] break out priv var init into helper
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
Labels: mlir:llvm, mlir, mlir:openmp, flang:openmp

#122939 [mlir][tosa] Make Convolution Zero Points Inputs
  mlir/include/mlir/Dialect/Tosa/IR/TosaOpBase.td
  mlir/include/mlir/Dialect/Tosa/IR/TosaOps.h
  mlir/include/mlir/Dialect/Tosa/IR/TosaOps.td
  mlir/include/mlir/Dialect/Tosa/IR/TosaTypesBase.td
  mlir/include/mlir/Dialect/Tosa/Utils/QuantUtils.h
  mlir/lib/Conversion/TosaToLinalg/TosaToLinalgNamed.cpp
  mlir/lib/Dialect/Tosa/IR/TosaOps.cpp
  mlir/lib/Dialect/Tosa/Transforms/TosaDecomposeConv2D.cpp
  mlir/lib/Dialect/Tosa/Transforms/TosaDecomposeDepthwise.cpp
  mlir/lib/Dialect/Tosa/Transforms/TosaDecomposeTransposeConv.cpp
  mlir/lib/Dialect/Tosa/Transforms/TosaValidation.cpp
  mlir/lib/Dialect/Tosa/Utils/QuantUtils.cpp
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg-named.mlir
  mlir/test/Dialect/Tosa/invalid.mlir
  mlir/test/Dialect/Tosa/ops.mlir
  mlir/test/Dialect/Tosa/quant-test.mlir
  mlir/test/Dialect/Tosa/tosa-decompose-conv2d.mlir
  mlir/test/Dialect/Tosa/tosa-decompose-depthwise.mlir
  mlir/test/Dialect/Tosa/tosa-decompose-transpose-conv.mlir
Labels: mlir:linalg, mlir, mlir:tosa

#125077 [clang] Support member function poiners in Decl::getFunctionType()
  clang/include/clang/AST/DeclBase.h
  clang/include/clang/Basic/Attr.td
  clang/lib/AST/DeclBase.cpp
  clang/test/AST/attr-print-emit.cpp
  clang/test/CodeGen/AArch64/sme-attributes-member-function-pointer.cpp
  clang/test/CodeGen/xfail-alloc-align-fn-pointers.cpp
Labels: clang, clang:frontend

#123796 [AArch64] Simplify definitions of SVE/SME intrinsics which set FPMR
  clang/include/clang/Basic/arm_sme.td
  clang/include/clang/Basic/arm_sve.td
  clang/utils/TableGen/SveEmitter.cpp
Labels: clang, clang:frontend

#125051 Simplify MS mangling of bultin types (NFC)
  clang/lib/AST/MicrosoftMangle.cpp
Labels: clang, clang:frontend

#124732 [LoopVectorize][NFC] Cache the result of getVScaleForTuning
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
Labels: vectorizers, llvm:transforms

#125466 [MLIR] Remove unnecessary include from MathToEmitC.h to fix build issue
  mlir/include/mlir/Conversion/MathToEmitC/MathToEmitC.h
Labels: mlir, mlir:emitc

#125415 [mlir][vector][nfc] Fix typos in "VectorEmulateNarrowType.cpp"
  mlir/lib/Dialect/Vector/Transforms/VectorEmulateNarrowType.cpp
Labels: mlir:vectorops, mlir, mlir:vector

#125448 [clang] Do not emit template parameter objects as COMDATs when they have internal linkage.
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/test/CodeGenCXX/template-param-objects.cpp
Labels: clang, clang:codegen

#123176 [mlir] share argument attributes interface between calls and callables
  flang/include/flang/Optimizer/Dialect/CUF/CUFOps.td
  flang/include/flang/Optimizer/Dialect/FIROps.td
  flang/lib/Lower/ConvertCall.cpp
  flang/lib/Optimizer/CodeGen/TargetRewrite.cpp
  flang/lib/Optimizer/Transforms/AbstractResult.cpp
  flang/lib/Optimizer/Transforms/PolymorphicOpConversion.cpp
  mlir/docs/Interfaces.md
  mlir/examples/toy/Ch4/include/toy/Ops.td
  mlir/examples/toy/Ch5/include/toy/Ops.td
  mlir/examples/toy/Ch6/include/toy/Ops.td
  mlir/examples/toy/Ch7/include/toy/Ops.td
  mlir/examples/toy/Ch7/mlir/Dialect.cpp
  mlir/examples/toy/Ch7/mlir/MLIRGen.cpp
  mlir/include/mlir/Dialect/Async/IR/AsyncOps.td
  mlir/include/mlir/Dialect/EmitC/IR/EmitC.td
  mlir/include/mlir/Dialect/Func/IR/FuncOps.td
  mlir/include/mlir/Dialect/LLVMIR/LLVMOps.td
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVControlFlowOps.td
  mlir/include/mlir/Dialect/Transform/IR/TransformOps.td
  mlir/include/mlir/Interfaces/CallInterfaces.h
  mlir/include/mlir/Interfaces/CallInterfaces.td
  mlir/include/mlir/Interfaces/FunctionImplementation.h
  mlir/lib/Dialect/Async/IR/Async.cpp
  mlir/lib/Dialect/EmitC/IR/EmitC.cpp
  mlir/lib/Dialect/Func/IR/FuncOps.cpp
  mlir/lib/Dialect/GPU/IR/GPUDialect.cpp
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/lib/Dialect/SPIRV/IR/SPIRVOps.cpp
  mlir/lib/Dialect/Shape/IR/Shape.cpp
  mlir/lib/Interfaces/CallInterfaces.cpp
  mlir/lib/Interfaces/FunctionImplementation.cpp
  mlir/test/lib/Dialect/Test/TestOps.td
Labels: mlir:core, mlir:llvm, mlir:gpu, mlir:spirv, mlir, flang, mlir:async, mlir:emitc, mlir:func, mlir:shape, flang:fir-hlfir, flang:codegen

#123597 [AArch64][SDAG] Detect non-zeroes in truncating buildvectors in fshl lowering
  llvm/include/llvm/CodeGen/SelectionDAGNodes.h
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
  llvm/test/CodeGen/AArch64/fsh.ll
  llvm/test/CodeGen/AArch64/smul_fix.ll
  llvm/test/CodeGen/AArch64/umul_fix.ll
Labels: backend:AArch64, llvm:SelectionDAG

#125475 [mlir] add missing dependency to libMLIRFunctionInterfaces after #123176
  mlir/lib/Interfaces/CMakeLists.txt
Labels: mlir

#125476 [clang][bytecode] Add special handling for union copy assign operators
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/AST/ByteCode/Compiler.h
  clang/test/AST/ByteCode/unions.cpp
Labels: clang, clang:frontend

#125214 [LoopInterchange] Add tests of 'S' deps (NFC)
  llvm/test/Transforms/LoopInterchange/legality-for-scalar-deps.ll
Labels: llvm:transforms

#123752 [AArch64][SME] Spill p-regs as z-regs when streaming hazards are possible
  llvm/lib/Target/AArch64/AArch64FrameLowering.cpp
  llvm/lib/Target/AArch64/AArch64InstrInfo.cpp
  llvm/lib/Target/AArch64/AArch64RegisterInfo.cpp
  llvm/lib/Target/AArch64/AArch64RegisterInfo.h
  llvm/lib/Target/AArch64/AArch64RegisterInfo.td
  llvm/lib/Target/AArch64/AArch64Subtarget.cpp
  llvm/lib/Target/AArch64/AArch64Subtarget.h
  llvm/lib/Target/AArch64/SMEInstrFormats.td
  llvm/test/CodeGen/AArch64/spill-fill-zpr-predicates.mir
  llvm/test/CodeGen/AArch64/ssve-stack-hazard-remarks.ll
  llvm/utils/TableGen/SubtargetEmitter.cpp
Labels: backend:AArch64, tablegen

#117622 Warn when unique objects might be duplicated in shared libraries
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaDecl.cpp
  clang/test/SemaCXX/unique_object_duplication.cpp
  clang/test/SemaCXX/unique_object_duplication.h
Labels: clang, libc++, clang:frontend

#125486 [DAG] getNode - convert scalar i1 arithmetic calls to bitwise instructions
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/AMDGPU/add_i1.ll
  llvm/test/CodeGen/AMDGPU/mul.ll
  llvm/test/CodeGen/AMDGPU/sub_i1.ll
  llvm/test/CodeGen/LoongArch/ir-instruction/add.ll
  llvm/test/CodeGen/LoongArch/ir-instruction/mul.ll
  llvm/test/CodeGen/LoongArch/ir-instruction/sub.ll
  llvm/test/CodeGen/Mips/llvm-ir/add.ll
  llvm/test/CodeGen/Mips/llvm-ir/mul.ll
  llvm/test/CodeGen/Mips/llvm-ir/sub.ll
  llvm/test/CodeGen/NVPTX/boolean-patterns.ll
  llvm/test/CodeGen/X86/avx512-regcall-NoMask.ll
  llvm/test/CodeGen/X86/bitcast-vector-bool.ll
  llvm/test/CodeGen/X86/combine-add.ll
  llvm/test/CodeGen/X86/fast-isel-select.ll
  llvm/test/CodeGen/X86/gpr-to-mask.ll
  llvm/test/CodeGen/X86/setcc-combine.ll
  llvm/test/CodeGen/X86/sse-regcall.ll
  llvm/test/CodeGen/X86/sse-regcall4.ll
  llvm/test/CodeGen/X86/subcarry.ll
Labels: backend:AMDGPU, backend:X86, backend:NVPTX, backend:loongarch, llvm:SelectionDAG

#125516 [clang][bytecode] Handle union move assignment operators as well
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/AST/ByteCode/Compiler.h
  clang/test/AST/ByteCode/unions.cpp
Labels: clang, clang:frontend

#125518 TwoAddressInstruction: Fix assert on undef operand with -early-live-intervals
  llvm/lib/CodeGen/TwoAddressInstructionPass.cpp
  llvm/test/CodeGen/ARM/twoaddress-asserts-liveints-undef-use.mir
Labels: backend:ARM, llvm:regalloc

#125513 [flang][Lower] Move getHashValue and isEqual implementations to Utils…
  flang/include/flang/Lower/Support/Utils.h
  flang/lib/Lower/CMakeLists.txt
  flang/lib/Lower/IterationSpace.cpp
  flang/lib/Lower/Support/Utils.cpp
Labels: flang, flang:fir-hlfir

#125362 [ADT] Reduce copies and recursion in StringSwitch
  llvm/include/llvm/ADT/StringSwitch.h
  llvm/unittests/ADT/StringSwitchTest.cpp
Labels: llvm:adt

#125262 [libc++] Add a benchmark for std::reverse
  libcxx/test/benchmarks/algorithms/reverse.bench.cpp
Labels: libc++

#123397 [flang][OpenMP] Parse METADIRECTIVE in specification part
  flang/examples/FlangOmpReport/FlangOmpReportVisitor.cpp
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/lib/Parser/openmp-parsers.cpp
  flang/test/Lower/OpenMP/Todo/metadirective-exec.f90
  flang/test/Lower/OpenMP/Todo/metadirective-spec.f90
  flang/test/Parser/OpenMP/metadirective-v50.f90
  flang/test/Parser/OpenMP/metadirective.f90
Labels: flang, flang:fir-hlfir, flang:openmp, flang:parser

#125517 [libclc] Move mad_sat to CLC; optimize for vector types
  libclc/clc/include/clc/integer/clc_mad_sat.h
  libclc/clc/include/clc/integer/definitions.h
  libclc/clc/lib/clspv/SOURCES
  libclc/clc/lib/generic/SOURCES
  libclc/clc/lib/generic/integer/clc_mad_sat.cl
  libclc/clc/lib/spirv/SOURCES
  libclc/generic/lib/integer/mad_sat.cl
Labels: libclc

#125127 [PCH, CUDA] Take CUDA attributes into account
  clang/lib/AST/ASTContext.cpp
  clang/test/PCH/cuda-kernel-call.cu
Labels: clang, cuda, clang:frontend

#125314 [mlir][XeGPU] Add MemoryEffectsOpInterface for XeGPU memory related ops.
  mlir/include/mlir/Dialect/XeGPU/IR/XeGPUOps.td
Labels: mlir:gpu, mlir

#121854 [Sema] Note member decl when initializer list default constructs member
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaInit.cpp
  clang/test/CXX/class/class.init/p1.cpp
  clang/test/CXX/dcl.decl/dcl.init/p14-0x.cpp
  clang/test/SemaCUDA/inherited-ctor.cu
Labels: clang, clang:frontend

#124278 [flang][OpenMP] Handle directive arguments in OmpDirectiveSpecifier
  flang/examples/FeatureList/FeatureList.cpp
  flang/include/flang/Parser/dump-parse-tree.h
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Parser/openmp-parsers.cpp
  flang/lib/Parser/unparse.cpp
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Parser/OpenMP/declare-mapper-unparse.f90
  flang/test/Parser/OpenMP/metadirective-dirspec.f90
Labels: flang, flang:openmp, flang:semantics, flang:parser

#121245 [C++20][Modules][Serialization] Delay marking pending incomplete decl chains until the end of `finishPendingActions`.
  clang/lib/Serialization/ASTReader.cpp
  clang/test/Modules/pr121245.cpp
Labels: clang, clang:modules

#125557 [LLDB][Documentation] Add a doc string to sbprocess to show MemoryRegions is iterable
  lldb/bindings/interface/SBProcessDocstrings.i
Labels: lldb

#125539 IndVarSimplify: add samesign test from a regression
  llvm/test/Analysis/ScalarEvolution/exit-count-samesign.ll
  llvm/test/Transforms/IndVarSimplify/iv-zext-samesign-datalayout.ll
Labels: llvm:analysis, llvm:transforms

#125546 IndVarSimplify: strip redundant getDataLayout (NFC)
  llvm/lib/Transforms/Scalar/IndVarSimplify.cpp
Labels: llvm:transforms

#125294 [lldb] Show value for libcxx and libstdcxx summary and remove pointer value in libcxx container summary
  lldb/source/Plugins/Language/CPlusPlus/CPlusPlusLanguage.cpp
  lldb/source/Plugins/Language/CPlusPlus/LibCxx.cpp
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libcxx/deque/TestDataFormatterLibcxxDeque.py
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libcxx/span/TestDataFormatterLibcxxSpan.py
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libcxx/variant/TestDataFormatterLibcxxVariant.py
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libcxx/vector/TestDataFormatterLibcxxVector.py
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libstdcpp/variant/TestDataFormatterLibStdcxxVariant.py
Labels: lldb

#125526 Warn when unique objects might be duplicated in shared libraries
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaDecl.cpp
  clang/test/SemaCXX/unique_object_duplication.cpp
  clang/test/SemaCXX/unique_object_duplication.h
Labels: clang, clang:frontend

#125456 [CodeGen] Migrate away from PointerUnion::dyn_cast (NFC)
  clang/lib/CodeGen/ItaniumCXXABI.cpp
Labels: clang, clang:codegen

#125457 [Sema] Migrate away from PointerUnion::dyn_cast (NFC)
  clang/lib/Sema/SemaDeclObjC.cpp
Labels: clang, clang:frontend

#125459 [Hexagon] Avoid repeated hash lookups (NFC)
  llvm/lib/Target/Hexagon/HexagonLoopIdiomRecognition.cpp
Labels: backend:Hexagon

#125462 [Analysis] Avoid repeated hash lookups (NFC)
  llvm/include/llvm/Analysis/ScalarEvolutionExpressions.h
Labels: llvm:analysis

#125463 [CodeGen] Avoid repeated hash lookups (NFC)
  llvm/include/llvm/CodeGen/LiveIntervals.h
Labels: llvm:regalloc

#125464 [ProfileData] Avoid repeated hash lookups (NFC)
  llvm/include/llvm/ProfileData/Coverage/CoverageMapping.h
Labels: PGO

#125378 workflows/release-tasks: Re-use release-binaries-all workflow
  .github/workflows/release-tasks.yml
Labels: github:workflow

#120828 workflows/build-ci-container: Add an arm64 container
  .github/workflows/build-ci-container.yml
Labels: github:workflow

#125300 [lldb] Implement bidirectional access for backing<->backed thread relationship
  lldb/include/lldb/Target/Thread.h
  lldb/include/lldb/Target/ThreadList.h
  lldb/source/Plugins/Process/Utility/ThreadMemory.h
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.cpp
  lldb/source/Target/ThreadList.cpp
Labels: lldb

#115099 [Win/X86] Make _m_prefetch[w] builtins to avoid winnt.h conflicts
  clang/include/clang/Basic/BuiltinsX86.td
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/lib/Headers/prfchwintrin.h
  clang/lib/Headers/xmmintrin.h
Labels: clang, backend:X86, clang:frontend, clang:headers, clang:codegen

#125312 [lldb] correct event when removing all watchpoints
  lldb/source/Breakpoint/WatchpointList.cpp
  lldb/test/API/commands/watchpoints/watchpoint_events/TestWatchpointEvents.py
Labels: lldb

#125584 [Hexagon][Docs] document the change in the default target
  clang/docs/ReleaseNotes.rst
Labels: clang

#125302 [lldb] Improve isolation between Process plugins and OS plugins
  lldb/source/Breakpoint/BreakpointSite.cpp
  lldb/source/Plugins/Process/gdb-remote/ProcessGDBRemote.cpp
  lldb/unittests/OperatingSystem/CMakeLists.txt
  lldb/unittests/OperatingSystem/OperatingSystemPlugin.h
  lldb/unittests/OperatingSystem/TestThreadSpecificBreakpoints.cpp
Labels: lldb

#125347 [lldb-dap] Support column breakpoints
  lldb/packages/Python/lldbsuite/test/tools/lldb-dap/dap_server.py
  lldb/packages/Python/lldbsuite/test/tools/lldb-dap/lldbdap_testcase.py
  lldb/test/API/tools/lldb-dap/breakpoint/Makefile
  lldb/test/API/tools/lldb-dap/breakpoint/TestDAP_breakpointLocations.py
  lldb/test/API/tools/lldb-dap/breakpoint/TestDAP_setBreakpoints.py
  lldb/tools/lldb-dap/DAP.h
  lldb/tools/lldb-dap/lldb-dap.cpp
  llvm/docs/ReleaseNotes.md
Labels: lldb, lldb-dap

#125588 workflows/premerge: Cancel in progress jobs when a PR is merged (#125329)
  .github/workflows/premerge.yaml
Labels: github:workflow

#125145 [mlir][Vector] Add UB conversions to different tests and pipelines
  mlir/include/mlir/Dialect/SparseTensor/Transforms/Passes.h
  mlir/lib/Dialect/SparseTensor/Pipelines/SparseTensorPipelines.cpp
  mlir/test/Integration/Dialect/Vector/CPU/shuffle16x16.mlir
  mlir/test/Integration/Dialect/Vector/CPU/transfer-read-1d.mlir
  mlir/test/Integration/Dialect/Vector/CPU/transfer-read-2d.mlir
  mlir/test/Integration/Dialect/Vector/CPU/transfer-read-3d.mlir
  mlir/test/Integration/Dialect/Vector/CPU/transfer-to-loops.mlir
  mlir/test/lib/Conversion/ConvertToSPIRV/TestSPIRVVectorUnrolling.cpp
  mlir/test/lib/Dialect/LLVM/TestLowerToLLVM.cpp
Labels: mlir:llvm, mlir:spirv, mlir:vectorops, mlir:sparse, mlir, mlir:vector

#125606 [msan] Handle llvm.bitreverse by applying intrinsic to shadow
  llvm/lib/Transforms/Instrumentation/MemorySanitizer.cpp
  llvm/test/Instrumentation/MemorySanitizer/bitreverse.ll
Labels: compiler-rt:sanitizer, llvm:transforms

#125005 [SandboxVec][Legality] Fix legality of SelectInst
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/Legality.cpp
  llvm/test/Transforms/SandboxVectorizer/special_opcodes.ll
  llvm/unittests/Transforms/Vectorize/SandboxVectorizer/LegalityTest.cpp
Labels: vectorizers, llvm:transforms

#125144 [VectorCombine] Fold vector.interleave2 with two constant splats
  llvm/lib/Transforms/Vectorize/VectorCombine.cpp
  llvm/test/Transforms/VectorCombine/RISCV/vector-interleave2-splat-e64.ll
  llvm/test/Transforms/VectorCombine/RISCV/vector-interleave2-splat.ll
Labels: vectorizers, llvm:transforms

#125323 [LLDB][Save Core Options] Custom ranges should follow the same safety checks as everyone else
  lldb/source/Target/Process.cpp
  lldb/test/API/functionalities/process_save_core_minidump/TestProcessSaveCoreMinidump.py
Labels: lldb

#125603 [benchmark] Get number of CPUs with sysconf() on Linux
  third-party/benchmark/src/sysinfo.cc
Labels: third-party:benchmark

#125569 [NFC][TableGen] Code cleanup in CodeGenTarget.cpp
  llvm/utils/TableGen/Common/CodeGenTarget.cpp
Labels: tablegen

#125617 AMDGPU: Generalize truncate of shift of cast build_vector combine
  llvm/lib/Target/AMDGPU/AMDGPUISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/truncate-lshr-cast-build-vector-combine.ll
Labels: backend:AMDGPU

#125633 [DWARF] Avoid repeated hash lookups (NFC)
  llvm/lib/DebugInfo/DWARF/DWARFVerifier.cpp
Labels: debuginfo

#125499 [LV][EVL] Pre-commit test cases for preventing to transform plans with scalar VF. NFC
  llvm/test/Transforms/LoopVectorize/RISCV/vplan-vp-call-intrinsics.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vplan-vp-cast-intrinsics.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vplan-vp-intrinsics-reduction.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vplan-vp-intrinsics.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vplan-vp-select-intrinsics.ll
Labels: llvm:transforms

#125507 [AMDGPU] Remove special cases in TTI::getMemcpyLoop(Residual)LoweringType
  llvm/lib/Target/AMDGPU/AMDGPUTargetTransformInfo.cpp
  llvm/test/CodeGen/AMDGPU/lower-mem-intrinsics.ll
  llvm/test/CodeGen/AMDGPU/memmove-var-size.ll
Labels: backend:AMDGPU

#121058 [mlir][gpu]add AffineScope Trait to gpu.launch.
  mlir/include/mlir/Dialect/GPU/IR/GPUOps.td
  mlir/test/Dialect/Affine/ops.mlir
  mlir/test/Dialect/GPU/transform-gpu.mlir
Labels: mlir:gpu, mlir:affine, mlir

#125493 [X86] Use explicit X86::CondCode argument in EmitTest/EmitCmp/isX86CCSigned calls. NFC.
  llvm/lib/Target/X86/X86ISelLowering.cpp
Labels: backend:X86

#125622 [clang][analyzer][NFC] Fix a typo in comments
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/MemRegion.h
Labels: clang, clang:static analyzer

#125505 [AMDGPU] Add .entry_point back into PAL metadata
  llvm/lib/Target/AMDGPU/Utils/AMDGPUPALMetadata.cpp
  llvm/test/CodeGen/AMDGPU/amdpal-cs.ll
  llvm/test/CodeGen/AMDGPU/amdpal-es.ll
  llvm/test/CodeGen/AMDGPU/amdpal-gs.ll
  llvm/test/CodeGen/AMDGPU/amdpal-hs.ll
  llvm/test/CodeGen/AMDGPU/amdpal-ls.ll
  llvm/test/CodeGen/AMDGPU/amdpal-psenable.ll
  llvm/test/CodeGen/AMDGPU/amdpal-vs.ll
  llvm/test/CodeGen/AMDGPU/amdpal.ll
  llvm/test/CodeGen/AMDGPU/elf-notes.ll
  llvm/test/CodeGen/AMDGPU/pal-metadata-3.0.ll
  llvm/test/CodeGen/AMDGPU/wave_dispatch_regs.ll
Labels: backend:AMDGPU

#123580 [libc] Optimize BigInt→decimal in IntegerToString
  libc/src/__support/integer_to_string.h
  libc/test/src/__support/integer_to_string_test.cpp
Labels: libc

#123643 [libc] Alternative algorithm for decimal FP printf
  libc/config/config.json
  libc/docs/configure.rst
  libc/src/__support/CPP/algorithm.h
  libc/src/__support/FPUtil/dyadic_float.h
  libc/src/__support/big_int.h
  libc/src/__support/sign.h
  libc/src/stdio/printf_core/CMakeLists.txt
  libc/src/stdio/printf_core/converter_atlas.h
  libc/src/stdio/printf_core/float_dec_converter_limited.h
  libc/test/src/stdio/CMakeLists.txt
  libc/test/src/stdio/sprintf_test.cpp
  libc/test/src/stdlib/CMakeLists.txt
Labels: libc

#124961 [NVPTX] Add tcgen05 alloc/dealloc intrinsics
  clang/lib/Basic/Targets/NVPTX.cpp
  clang/test/CodeGen/target-data.c
  llvm/docs/NVPTXUsage.rst
  llvm/include/llvm/IR/IntrinsicsNVVM.td
  llvm/include/llvm/Support/NVPTXAddrSpace.h
  llvm/lib/Target/NVPTX/NVPTXInstrInfo.td
  llvm/lib/Target/NVPTX/NVPTXIntrinsics.td
  llvm/lib/Target/NVPTX/NVPTXSubtarget.h
  llvm/lib/Target/NVPTX/NVPTXTargetMachine.cpp
  llvm/test/CodeGen/NVPTX/tcgen05-alloc.ll
Labels: clang, clang:frontend, backend:NVPTX, llvm:support, llvm:ir

#125506 [X86] EmitCmp - use existing XOR node to check for equality
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/cmp-xor.ll
  llvm/test/CodeGen/X86/pr32284.ll
Labels: backend:X86

#125655 [libc][float_dec_converter_limited] Add missing LIBC_INLINE
  libc/src/stdio/printf_core/float_dec_converter_limited.h
Labels: libc

#125636 DAG: Avoid introducing stack usage in vector->int bitcast int op promotion
  llvm/lib/CodeGen/SelectionDAG/LegalizeIntegerTypes.cpp
  llvm/test/CodeGen/AMDGPU/bitcast_vector_bigint.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointers-contents-legalization.ll
  llvm/test/CodeGen/AMDGPU/lower-buffer-fat-pointers-lastuse-metadata.ll
  llvm/test/CodeGen/AMDGPU/lower-buffer-fat-pointers-nontemporal-metadata.ll
Labels: backend:AMDGPU, llvm:SelectionDAG

#125327 [clang-format] Hanlde qualified type name for `QualifierAlignment`
  clang/lib/Format/QualifierAlignmentFixer.cpp
  clang/unittests/Format/QualifierFixerTest.cpp
Labels: clang-format

#125093 [AArch64] Tweak the costs of experimental_cttz_elts intrinsic
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/AArch64/cttz_elts.ll
Labels: backend:AArch64, llvm:analysis

#125637 DAG: Avoid stack usage in bitcast operand promotion to legal vector
  llvm/lib/CodeGen/SelectionDAG/LegalizeIntegerTypes.cpp
  llvm/test/CodeGen/AMDGPU/bitcast_vector_bigint.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointers-contents-legalization.ll
  llvm/test/CodeGen/AMDGPU/ctpop16.ll
  llvm/test/CodeGen/AMDGPU/kernel-args.ll
  llvm/test/CodeGen/AMDGPU/load-constant-i16.ll
  llvm/test/CodeGen/AMDGPU/load-constant-i8.ll
  llvm/test/CodeGen/AMDGPU/load-global-i16.ll
  llvm/test/CodeGen/AMDGPU/load-global-i8.ll
  llvm/test/CodeGen/AMDGPU/min.ll
  llvm/test/CodeGen/AMDGPU/shl.ll
  llvm/test/CodeGen/AMDGPU/sra.ll
Labels: backend:AMDGPU, llvm:SelectionDAG

#125202 [CodeGen][NewPM] Port MachineCopyPropagation to NPM
  llvm/include/llvm/CodeGen/MachineCopyPropagation.h
  llvm/include/llvm/InitializePasses.h
  llvm/include/llvm/Passes/CodeGenPassBuilder.h
  llvm/include/llvm/Passes/MachinePassRegistry.def
  llvm/lib/CodeGen/CodeGen.cpp
  llvm/lib/CodeGen/MachineCopyPropagation.cpp
  llvm/lib/Passes/PassBuilder.cpp
  llvm/test/CodeGen/AArch64/avoid-zero-copy.mir
  llvm/test/CodeGen/AMDGPU/dead_copy.mir
  llvm/test/CodeGen/AMDGPU/remove-incompatible-s-time.ll
  llvm/test/CodeGen/AMDGPU/remove-incompatible-wave32-feature.ll
  llvm/test/CodeGen/ARM/machine-copyprop.mir
Labels: backend:ARM, backend:AArch64, backend:AMDGPU, llvm:regalloc

#125665 [CodeGen][NewPM] MachineCopyPropagation Remove dead ID
  llvm/lib/CodeGen/MachineCopyPropagation.cpp
Labels: llvm:regalloc

#122670 DAG: Move scalarizeExtractedVectorLoad to TargetLowering
  llvm/include/llvm/CodeGen/TargetLowering.h
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/CodeGen/SelectionDAG/TargetLowering.cpp
Labels: llvm:SelectionDAG

#124935 [ARM] Ensure FPU Selection can select mode correctly
  clang/test/Preprocessor/arm-target-features.c
  llvm/lib/TargetParser/ARMTargetParser.cpp
  llvm/test/MC/ARM/cortex-r52-nofp.s
  llvm/unittests/TargetParser/TargetParserTest.cpp
Labels: clang, backend:ARM, mc

#105789 [clang] Remove an incorrect assertion in ConstantFoldAttrs
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaAttr.cpp
  clang/test/CodeGenCXX/attr-annotate2.cpp
  clang/test/SemaCXX/attr-annotate.cpp
Labels: clang, clang:frontend

#122882 [TTI][CostModel] Add cost modeling for expandload and compressstore intrinsics
  llvm/include/llvm/Analysis/TargetTransformInfo.h
  llvm/include/llvm/Analysis/TargetTransformInfoImpl.h
  llvm/include/llvm/CodeGen/BasicTTIImpl.h
  llvm/lib/Analysis/TargetTransformInfo.cpp
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.cpp
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.h
  llvm/test/Analysis/CostModel/RISCV/gep.ll
  llvm/test/Analysis/CostModel/RISCV/rvv-expandload-compressstore.ll
  llvm/test/Analysis/CostModel/X86/masked-intrinsic-codesize.ll
  llvm/test/Analysis/CostModel/X86/masked-intrinsic-cost-inseltpoison.ll
  llvm/test/Analysis/CostModel/X86/masked-intrinsic-cost.ll
  llvm/test/Analysis/CostModel/X86/masked-intrinsic-latency.ll
  llvm/test/Analysis/CostModel/X86/masked-intrinsic-sizelatency.ll
Labels: backend:RISC-V, backend:X86, llvm:analysis

#125672 [AMDGPU] Simplify Waitcnt constructor. NFC.
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.h
Labels: backend:AMDGPU

#125007 [llvm][X86] Fix merging of large sp updates
  llvm/lib/Target/X86/X86ExpandPseudo.cpp
  llvm/lib/Target/X86/X86FrameLowering.cpp
  llvm/lib/Target/X86/X86FrameLowering.h
  llvm/test/CodeGen/X86/merge-huge-sp-updates.ll
Labels: backend:X86

#118326 [flang][debug] Improve check for global variable detection.
  flang/lib/Optimizer/Transforms/AddDebugInfo.cpp
Labels: flang, flang:fir-hlfir

#125504 [flang][OpenMP] Fix sections lastprivate for common blocks
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/test/Lower/OpenMP/sections.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#125570 [SystemZ][z/OS] Open text files in text mode
  clang-tools-extra/clang-doc/HTMLGenerator.cpp
  clang-tools-extra/clang-doc/MDGenerator.cpp
  clang-tools-extra/clang-doc/YAMLGenerator.cpp
  clang-tools-extra/clang-include-fixer/FuzzySymbolIndex.cpp
  clang-tools-extra/clang-include-fixer/YamlSymbolIndex.cpp
  clang-tools-extra/clang-include-fixer/find-all-symbols/tool/FindAllSymbolsMain.cpp
  clang-tools-extra/clang-include-fixer/tool/ClangIncludeFixer.cpp
Labels: clang-tools-extra

#125628 [flang][OpenMP] Update all `lastprivate` symbols, not just in clauses
  flang/lib/Lower/OpenMP/DataSharingProcessor.cpp
  flang/test/Lower/OpenMP/lastprivate-simd.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#125579 [flang][NFC] Document Arm exception raising behavior
  flang/docs/Extensions.md
Labels: flang

#125372 [clang] fix P3310 overload resolution flag propagation
  clang/include/clang/AST/DeclTemplate.h
  clang/include/clang/Sema/Sema.h
  clang/lib/AST/ASTImporter.cpp
  clang/lib/AST/DeclTemplate.cpp
  clang/lib/AST/JSONNodeDumper.cpp
  clang/lib/AST/TextNodeDumper.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/lib/Sema/SemaType.cpp
  clang/lib/Serialization/ASTReaderDecl.cpp
  clang/lib/Serialization/ASTWriterDecl.cpp
  clang/test/AST/ast-dump-templates.cpp
  clang/test/AST/gen_ast_dump_json_test.py
  clang/test/SemaTemplate/cwg2398.cpp
Labels: clang, clang:frontend, clang:modules
