Repository llvm/llvm-project, pull requests merged in 2025-05, with the labels that each got.

#137476 [WebKit checkers] Treat std::bit_cast as a pointer conversion
  clang/lib/StaticAnalyzer/Checkers/WebKit/PtrTypesSemantics.cpp
  clang/test/Analysis/Checkers/WebKit/call-args-checked-ptr.cpp
  clang/test/Analysis/Checkers/WebKit/call-args.cpp
  clang/test/Analysis/Checkers/WebKit/uncounted-local-vars.cpp
  clang/test/Analysis/Checkers/WebKit/uncounted-obj-arg.cpp
Labels: clang, clang:static analyzer

#136625 [lld] NFC. Rename function to better reflect its implementation
  lld/ELF/ICF.cpp
Labels: lld, lld:ELF

#136046 Reland: [llvm][clang] Allocate a new stack instead of spawning a new thread to get more stack space
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/Stack.h
  clang/lib/Basic/Stack.cpp
  clang/lib/Frontend/CompilerInstance.cpp
  llvm/include/llvm/Support/CrashRecoveryContext.h
  llvm/include/llvm/Support/ProgramStack.h
  llvm/include/llvm/Support/thread.h
  llvm/lib/Support/CMakeLists.txt
  llvm/lib/Support/CrashRecoveryContext.cpp
  llvm/lib/Support/ProgramStack.cpp
  llvm/unittests/Support/CMakeLists.txt
  llvm/unittests/Support/ProgramStackTest.cpp
Labels: clang, clang:frontend, llvm:support

#137914 [clang-format] Correctly annotate user-defined conversion function call
  clang/lib/Format/TokenAnnotator.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#138049 [NVPTX] Fixup EXT_LOAD lowering for i128 values
  llvm/lib/Target/NVPTX/NVPTXISelDAGToDAG.cpp
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/test/CodeGen/NVPTX/i128-ld-st.ll
Labels: backend:NVPTX

#137965 [clang][bytecode] Only print ptr/reference types via toAPValue()
  clang/lib/AST/ByteCode/InterpFrame.cpp
  clang/test/AST/ByteCode/constexpr-frame-describe.cpp
Labels: clang, clang:frontend, clang:bytecode

#137874 [nfc][clang] Rename function
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/CodeGen/CodeGenModule.h
Labels: clang, clang:codegen

#138081 [flang][cuda] Fix signatures after argument change
  flang-rt/lib/cuda/allocatable.cpp
  flang-rt/lib/cuda/allocator.cpp
  flang/include/flang/Runtime/CUDA/allocator.h
Labels: flang

#138079 [clang][bytecode][NFC] Remove unused Context::getStack()
  clang/lib/AST/ByteCode/Context.h
Labels: clang, clang:frontend, clang:bytecode

#138080 [clang][bytecode] Remove obsolete test file
  clang/test/AST/ByteCode/constexpr-subobj-initialization.cpp
Labels: clang, clang:bytecode

#137962 [clang][bytecode] Fix checking for integer overflow
  clang/lib/AST/ByteCode/ByteCodeEmitter.h
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/AST/ByteCode/EvalEmitter.h
  clang/lib/AST/ByteCode/Interp.cpp
  clang/test/Sema/integer-overflow.c
Labels: clang, clang:frontend, clang:bytecode

#137511 [CIR] Upstream global initialization for VectorType
  clang/include/clang/CIR/Dialect/IR/CIRAttrs.td
  clang/lib/CIR/CodeGen/CIRGenExprConstant.cpp
  clang/lib/CIR/Dialect/IR/CIRAttrs.cpp
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/test/CIR/CodeGen/vector-ext.cpp
  clang/test/CIR/CodeGen/vector.cpp
  clang/test/CIR/IR/vector.cir
Labels: clang, ClangIR

#71605 [clangd] Add container field to remote index Refs grpc method
  clang-tools-extra/clangd/index/YAMLSerialization.cpp
  clang-tools-extra/clangd/index/remote/Index.proto
  clang-tools-extra/clangd/index/remote/marshalling/Marshalling.cpp
  clang-tools-extra/clangd/unittests/remote/MarshallingTests.cpp
Labels: clang-tools-extra, clangd

#138014 [MLIR] Add method to invalidate cached symbol table
  mlir/include/mlir/IR/SymbolTable.h
  mlir/lib/IR/SymbolTable.cpp
Labels: mlir:core, mlir

#138074 [libclang/python] Add some logical typing changes.
  clang/bindings/python/clang/cindex.py
Labels: clang, clang:as-a-library

#138012 [C] Add -Wduplicate-decl-specifier to -Wc++-compat
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/test/Sema/warn-duplicate-decl-specifier.c
Labels: clang, c, clang:frontend, clang:diagnostics

#137961 [C] Modify -Wdefault-const-init
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/Sema.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaInit.cpp
  clang/test/Sema/warn-default-const-init.c
Labels: clang, c, clang:frontend

#138104 Verifier: Avoid unnecessary hasFnAttr
  llvm/lib/IR/Verifier.cpp
Labels: llvm:ir

#132991 [include-cleaner] rename enabled flags to `disable-*`
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/include-cleaner/test/tool.cpp
  clang-tools-extra/include-cleaner/tool/IncludeCleaner.cpp
Labels: clang-tools-extra

#137807 [AMDGPU] Max. WG size-induced occupancy limits max. waves/EU
  llvm/lib/Target/AMDGPU/AMDGPUAttributor.cpp
  llvm/lib/Target/AMDGPU/AMDGPUPromoteAlloca.cpp
  llvm/lib/Target/AMDGPU/AMDGPUSubtarget.cpp
  llvm/lib/Target/AMDGPU/AMDGPUSubtarget.h
  llvm/test/CodeGen/AMDGPU/attr-amdgpu-flat-work-group-size.ll
  llvm/test/CodeGen/AMDGPU/load-global-i16.ll
  llvm/test/CodeGen/AMDGPU/schedule-regpressure-limit-clustering.ll
Labels: backend:AMDGPU

#137967 [C] Add -Wtentative-definition-compat
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaDecl.cpp
  clang/test/Sema/warn-default-const-init.c
  clang/test/Sema/warn-tentative-defn-compat.c
Labels: clang, c, clang:frontend, clang:diagnostics

#138086 [cmake] Pass LLVM_TABLEGEN_FLAGS to cross compile targets
  llvm/cmake/modules/CrossCompile.cmake
Labels: cmake, tablegen

#135398 [LLVM][CodeGen][AArch64] Don't scalarise v8{f16,bf16} vsetcc operations.
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/AArch64/cmp.ll
  llvm/test/Analysis/CostModel/AArch64/vector-select.ll
  llvm/test/CodeGen/AArch64/bf16-v8-instructions.ll
  llvm/test/CodeGen/AArch64/fcmp.ll
  llvm/test/CodeGen/AArch64/fp16-v8-instructions.ll
Labels: backend:AArch64, llvm:analysis

#137966 [LLVM][InstCombine] Enable constant folding for SVE sdiv & udiv intrinsics.
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/test/Transforms/InstCombine/AArch64/sve-intrinsic-comb-no-active-lanes.ll
  llvm/test/Transforms/InstCombine/AArch64/sve-intrinsic-simplify-binop.ll
  llvm/test/Transforms/InstCombine/AArch64/sve-intrinsic-simplify-to-u-form.ll
Labels: backend:AArch64, llvm:instcombine, llvm:transforms

#138109 [offload] Don't print device path during configure
  offload/unittests/OffloadAPI/CMakeLists.txt
Labels: offload

#138089 [clang] Add scoped enum support to `StreamingDiagnostic`
  clang/include/clang/Basic/Diagnostic.h
  clang/include/clang/Sema/Sema.h
  clang/lib/AST/ODRDiagsEmitter.cpp
  clang/lib/Parse/ParseDecl.cpp
  clang/lib/Parse/ParseDeclCXX.cpp
  clang/lib/Parse/ParsePragma.cpp
  clang/lib/Parse/Parser.cpp
  clang/lib/Sema/SemaAccess.cpp
  clang/lib/Sema/SemaCUDA.cpp
  clang/lib/Sema/SemaChecking.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/lib/Sema/SemaDeclObjC.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaExprCXX.cpp
  clang/lib/Sema/SemaInit.cpp
  clang/lib/Sema/SemaOverload.cpp
  clang/lib/Sema/SemaStmt.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/SemaTemplateInstantiate.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/lib/Sema/SemaType.cpp
  clang/lib/Sema/TreeTransform.h
  llvm/include/llvm/ADT/STLForwardCompat.h
Labels: clang, clang:frontend, code-quality, llvm:adt

#130935 [SelectionDAG] Improve type legalisation for PARTIAL_REDUCE_MLA
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorTypes.cpp
  llvm/test/CodeGen/AArch64/neon-partial-reduce-dot-product.ll
  llvm/test/CodeGen/AArch64/partial-reduction-add.ll
  llvm/test/CodeGen/AArch64/sve-partial-reduce-dot-product.ll
  llvm/test/CodeGen/AArch64/sve-partial-reduce-wide-add.ll
Labels: backend:AArch64, llvm:SelectionDAG

#117549 [mlir][EmitC] Add pass that combines all available emitc conversions
  mlir/include/mlir/Conversion/ArithToEmitC/ArithToEmitC.h
  mlir/include/mlir/Conversion/ConvertToEmitC/ConvertToEmitCPass.h
  mlir/include/mlir/Conversion/ConvertToEmitC/ToEmitCInterface.h
  mlir/include/mlir/Conversion/FuncToEmitC/FuncToEmitC.h
  mlir/include/mlir/Conversion/MemRefToEmitC/MemRefToEmitC.h
  mlir/include/mlir/Conversion/Passes.h
  mlir/include/mlir/Conversion/Passes.td
  mlir/include/mlir/Conversion/SCFToEmitC/SCFToEmitC.h
  mlir/include/mlir/InitAllExtensions.h
  mlir/lib/Conversion/ArithToEmitC/ArithToEmitC.cpp
  mlir/lib/Conversion/CMakeLists.txt
  mlir/lib/Conversion/ConvertToEmitC/CMakeLists.txt
  mlir/lib/Conversion/ConvertToEmitC/ConvertToEmitCPass.cpp
  mlir/lib/Conversion/FuncToEmitC/FuncToEmitC.cpp
  mlir/lib/Conversion/FuncToEmitC/FuncToEmitCPass.cpp
  mlir/lib/Conversion/MemRefToEmitC/MemRefToEmitC.cpp
  mlir/lib/Conversion/MemRefToEmitC/MemRefToEmitCPass.cpp
  mlir/lib/Conversion/SCFToEmitC/SCFToEmitC.cpp
  mlir/lib/Dialect/Arith/IR/ArithDialect.cpp
  mlir/lib/Dialect/EmitC/IR/EmitC.cpp
  mlir/lib/Dialect/Func/IR/FuncOps.cpp
  mlir/lib/Dialect/MemRef/IR/MemRefDialect.cpp
  mlir/lib/Dialect/SCF/IR/SCF.cpp
  mlir/test/Conversion/ArithToEmitC/arith-to-emitc.mlir
  mlir/test/Conversion/ConvertToEmitC/func-failed.mlir
  mlir/test/Conversion/ConvertToEmitC/func.mlir
  mlir/test/Conversion/ConvertToEmitC/tosa.mlir
  mlir/test/Conversion/FuncToEmitC/func-to-emitc.mlir
  mlir/test/Conversion/MemRefToEmitC/memref-to-emitc.mlir
  mlir/test/Conversion/SCFToEmitC/for.mlir
  mlir/test/Conversion/SCFToEmitC/if.mlir
  mlir/test/Conversion/SCFToEmitC/switch.mlir
Labels: mlir, mlir:memref, mlir:scf, mlir:arith, mlir:emitc, mlir:func

#137668 [clang][frontend] Require invocation to construct `CompilerInstance`
  clang-tools-extra/clang-include-fixer/IncludeFixer.cpp
  clang-tools-extra/clangd/Compiler.cpp
  clang-tools-extra/include-cleaner/unittests/RecordTest.cpp
  clang/include/clang/Frontend/CompilerInstance.h
  clang/lib/Frontend/ASTUnit.cpp
  clang/lib/Frontend/ChainedIncludesSource.cpp
  clang/lib/Frontend/CompilerInstance.cpp
  clang/lib/Frontend/PrecompiledPreamble.cpp
  clang/lib/Frontend/Rewrite/FrontendActions.cpp
  clang/lib/StaticAnalyzer/Frontend/ModelInjector.cpp
  clang/lib/Testing/TestAST.cpp
  clang/lib/Tooling/DependencyScanning/DependencyScanningWorker.cpp
  clang/lib/Tooling/Tooling.cpp
  clang/tools/clang-import-test/clang-import-test.cpp
  clang/tools/driver/cc1_main.cpp
  clang/unittests/AST/ExternalASTSourceTest.cpp
  clang/unittests/Frontend/CodeGenActionTest.cpp
  clang/unittests/Frontend/CompilerInstanceTest.cpp
  clang/unittests/Frontend/FrontendActionTest.cpp
  clang/unittests/Frontend/OutputStreamTest.cpp
  clang/unittests/Sema/SemaNoloadLookupTest.cpp
  clang/unittests/Serialization/ForceCheckFileInputTest.cpp
  clang/unittests/Serialization/LoadSpecLazilyTest.cpp
  clang/unittests/Serialization/ModuleCacheTest.cpp
  clang/unittests/Serialization/NoCommentsTest.cpp
  clang/unittests/Serialization/PreambleInNamedModulesTest.cpp
  clang/unittests/Serialization/VarDeclConstantInitTest.cpp
  clang/unittests/Support/TimeProfilerTest.cpp
  clang/unittests/Tooling/DependencyScanning/DependencyScannerTest.cpp
  clang/unittests/Tooling/Syntax/TokensTest.cpp
  clang/unittests/Tooling/Syntax/TreeTestBase.cpp
  lldb/source/Commands/CommandObjectTarget.cpp
  lldb/source/Plugins/ExpressionParser/Clang/ClangModulesDeclVendor.cpp
Labels: clang, clang-tools-extra, lldb, clangd, clang:modules, clang:static analyzer

#138134 [ADT] Remove `is_scoped_enum_v`
  clang/include/clang/Basic/Diagnostic.h
  llvm/include/llvm/ADT/STLForwardCompat.h
Labels: clang, clang:frontend, llvm:adt

#138108 [ConstantFolding] Constify ConstantFoldInstOperands and ConstantFoldInstruction argument. NFC
  llvm/include/llvm/Analysis/ConstantFolding.h
  llvm/lib/Analysis/ConstantFolding.cpp
Labels: llvm:analysis

#133477 [KeyInstr] Add fields to DILocation behind compile time flag
  llvm/include/llvm/IR/DebugInfoMetadata.h
  llvm/lib/AsmParser/LLParser.cpp
  llvm/lib/IR/AsmWriter.cpp
  llvm/lib/IR/DebugInfoMetadata.cpp
  llvm/lib/IR/LLVMContextImpl.h
  llvm/test/CMakeLists.txt
  llvm/test/DebugInfo/KeyInstructions/Generic/parse.ll
  llvm/test/DebugInfo/KeyInstructions/lit.local.cfg
  llvm/test/lit.site.cfg.py.in
Labels: debuginfo, llvm:ir

#137275 [Clang][NFC] Explicitly delete copy ctor and assignment for CGAtomicOptionsRAII
  clang/lib/CodeGen/CodeGenFunction.h
Labels: clang, clang:frontend, clang:codegen

#137631 [CostModel] Make Op0 and Op1 const in getVectorInstrCost. NFC
  llvm/include/llvm/Analysis/TargetTransformInfo.h
  llvm/include/llvm/Analysis/TargetTransformInfoImpl.h
  llvm/include/llvm/CodeGen/BasicTTIImpl.h
  llvm/lib/Analysis/TargetTransformInfo.cpp
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.h
  llvm/lib/Target/AMDGPU/AMDGPUTargetTransformInfo.cpp
  llvm/lib/Target/AMDGPU/AMDGPUTargetTransformInfo.h
  llvm/lib/Target/AMDGPU/R600TargetTransformInfo.cpp
  llvm/lib/Target/AMDGPU/R600TargetTransformInfo.h
  llvm/lib/Target/ARM/ARMTargetTransformInfo.cpp
  llvm/lib/Target/ARM/ARMTargetTransformInfo.h
  llvm/lib/Target/Hexagon/HexagonTargetTransformInfo.cpp
  llvm/lib/Target/Hexagon/HexagonTargetTransformInfo.h
  llvm/lib/Target/PowerPC/PPCTargetTransformInfo.cpp
  llvm/lib/Target/PowerPC/PPCTargetTransformInfo.h
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.cpp
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.h
  llvm/lib/Target/SystemZ/SystemZTargetTransformInfo.cpp
  llvm/lib/Target/SystemZ/SystemZTargetTransformInfo.h
  llvm/lib/Target/WebAssembly/WebAssemblyTargetTransformInfo.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyTargetTransformInfo.h
  llvm/lib/Target/X86/X86TargetTransformInfo.cpp
  llvm/lib/Target/X86/X86TargetTransformInfo.h
Labels: backend:ARM, backend:AArch64, backend:AMDGPU, backend:Hexagon, backend:RISC-V, backend:PowerPC, backend:SystemZ, backend:WebAssembly, backend:X86, llvm:analysis

#137602 [AArch64] Don't allow mixed partial reductions without i8mm
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/partial-reduce-dot-product-mixed.ll
Labels: backend:AArch64, llvm:transforms

#131603 [flang][llvm][OpenMP] Add implicit casts to omp.atomic
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/test/Lower/OpenMP/Todo/atomic-capture-implicit-cast.f90
  flang/test/Lower/OpenMP/atomic-implicit-cast.f90
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
  mlir/test/Target/LLVMIR/openmp-llvm.mlir
Labels: mlir:llvm, mlir, flang, flang:fir-hlfir, flang:openmp, openacc, clang:openmp

#138111 [lldb] Disable statusline on Windows
  lldb/source/Core/CoreProperties.td
  lldb/source/Core/Debugger.cpp
  llvm/docs/ReleaseNotes.md
Labels: lldb

#137972 [OpenACC][CIR] Start work to lower 'loop'
  clang/lib/CIR/CodeGen/CIRGenStmtOpenACCLoop.cpp
  clang/lib/Sema/SemaOpenACC.cpp
  clang/test/CIR/CodeGenOpenACC/loop.cpp
  clang/test/CIR/CodeGenOpenACC/openacc-not-implemented.cpp
Labels: clang, clang:frontend, ClangIR

#138157 [libc] Fix typo in uint128 type for PPC printf handling
  libc/src/stdio/printf_core/core_structs.h
Labels: libc

#138155 [NFC] Precommit: Autogenerate checks for an LSV test
  llvm/test/Transforms/LoadStoreVectorizer/AMDGPU/merge-vectors-complex.ll
  llvm/test/Transforms/LoadStoreVectorizer/AMDGPU/merge-vectors.ll
Labels: backend:AMDGPU, llvm:transforms

#138161 Revert "[NFC] Precommit: Autogenerate checks for an LSV test"
  llvm/test/Transforms/LoadStoreVectorizer/AMDGPU/merge-vectors-complex.ll
  llvm/test/Transforms/LoadStoreVectorizer/AMDGPU/merge-vectors.ll
Labels: backend:AMDGPU, llvm:transforms

#138110 [CIR][NFC] Fix an unused variable warning
  clang/lib/CIR/CodeGen/CIRGenFunction.cpp
Labels: clang, ClangIR

#138167 [NFC] Precommit tests for an LSV patch
  llvm/test/Transforms/LoadStoreVectorizer/AMDGPU/merge-vectors-complex.ll
  llvm/test/Transforms/LoadStoreVectorizer/AMDGPU/merge-vectors.ll
Labels: backend:AMDGPU, llvm:transforms

#138069 [Clang][NFC] Use const auto & to avoid copy
  clang/lib/Lex/ModuleMap.cpp
Labels: clang, clang:frontend, clang:modules

#137361 [NFC][LLVM][CodeGen] Refactor MIR Printer
  llvm/include/llvm/CodeGen/MachineBasicBlock.h
  llvm/include/llvm/Support/BranchProbability.h
  llvm/lib/CodeGen/MIRPrinter.cpp
  llvm/lib/CodeGen/MIRPrintingPass.cpp
  llvm/lib/CodeGen/MachineBasicBlock.cpp
Labels: llvm:support, llvm:adt

#138153 [flang][OpenMP] Always set "openmp_flags"
  flang/test/lit.cfg.py
Labels: flang

#138072 [mlir][vector] Remove remaining bitwidths from linearization patterns
  mlir/lib/Dialect/Vector/Transforms/VectorLinearize.cpp
Labels: mlir:vectorops, mlir, mlir:vector

#138015 [NVPTX] Pull invariant load identification into IR pass
  llvm/lib/Target/NVPTX/CMakeLists.txt
  llvm/lib/Target/NVPTX/NVPTX.h
  llvm/lib/Target/NVPTX/NVPTXISelDAGToDAG.cpp
  llvm/lib/Target/NVPTX/NVPTXPassRegistry.def
  llvm/lib/Target/NVPTX/NVPTXTagInvariantLoads.cpp
  llvm/lib/Target/NVPTX/NVPTXTargetMachine.cpp
  llvm/test/CodeGen/NVPTX/byval-const-global.ll
  llvm/test/CodeGen/NVPTX/tag-invariant-loads.ll
Labels: backend:NVPTX

#138154 [mlir][EmitC] Add Bazel rules for conversions
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: bazel

#138172 [nfc] Fix formatting in clang release notes
  clang/docs/ReleaseNotes.rst
Labels: clang

#129092 [lldb] Do not bump memory modificator ID when "internal" debugger memory is updated
  lldb/include/lldb/Target/Memory.h
  lldb/include/lldb/Target/Process.h
  lldb/source/Commands/CommandObjectProcess.cpp
  lldb/source/Commands/Options.td
  lldb/source/Target/Memory.cpp
  lldb/source/Target/Process.cpp
  lldb/source/Target/TargetProperties.td
  lldb/test/API/commands/settings/TestSettings.py
  lldb/test/Shell/Expr/TestExprWithSideEffect.cpp
  lldb/test/Shell/Expr/TestExprWithSideEffectOnConvenienceVar.cpp
  lldb/test/Shell/Expr/TestExprWithSideEffectOnConvenienceVarWindows.cpp
  lldb/test/Shell/Expr/TestProcessModificationIdOnExpr.cpp
Labels: lldb

#138041 [CIR] Upstream pointer arithmetic support
  clang/lib/CIR/CodeGen/CIRGenBuilder.h
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/test/CIR/CodeGen/pointers.cpp
Labels: clang, ClangIR

#137521 [flang][OpenMP] Allow UPDATE clause to not have any arguments
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Lower/OpenMP/Clauses.cpp
  flang/lib/Parser/openmp-parsers.cpp
  flang/lib/Semantics/check-omp-structure.cpp
  llvm/include/llvm/Frontend/OpenMP/OMP.td
Labels: flang, flang:fir-hlfir, flang:openmp, flang:semantics, flang:parser, clang:openmp

#138177 [Offload] Add 'Maintainers.md' file for offload
  offload/Maintainers.md
Labels: offload

#138073 [Clang][NFC] Use std::move to avoid copy
  clang/lib/Lex/ModuleMap.cpp
Labels: clang, clang:frontend, clang:modules

#137986 [AMDGPU] Simplify GCNTTIImpl::isValidAddrSpaceCast. NFCI.
  llvm/lib/Target/AMDGPU/AMDGPUTargetTransformInfo.h
Labels: backend:AMDGPU

#138175 [NVPTX][test] Fixup to get ptxas passing for byval-const-global.ll
  llvm/test/CodeGen/NVPTX/byval-const-global.ll
Labels: backend:NVPTX

#137798 [VPlan] Consistently use ArrayRef<VPValue *> for operands in ctors (NFC)
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
Labels: vectorizers, llvm:transforms, llvm:adt

#136778 [flang][frontend] warn when a volatile target is pointer associated with an non-volatile pointer
  flang/include/flang/Support/Fortran-features.h
  flang/lib/Semantics/pointer-assignment.cpp
  flang/lib/Support/Fortran-features.cpp
  flang/test/Semantics/assign02.f90
  flang/test/Semantics/call03.f90
Labels: flang, flang:semantics

#137410 Make stop-hooks fire when lldb first gains control of a process.
  lldb/include/lldb/Target/Target.h
  lldb/source/Commands/CommandObjectTarget.cpp
  lldb/source/Commands/Options.td
  lldb/source/Target/Process.cpp
  lldb/source/Target/Target.cpp
  lldb/test/API/commands/target/stop-hooks/TestStopHookScripted.py
  lldb/test/API/commands/target/stop-hooks/TestStopHooks.py
  lldb/test/API/commands/target/stop-hooks/on-core-load/TestStopHookOnCoreLoad.py
  lldb/test/API/commands/target/stop-hooks/on-core-load/linux-x86_64.core
  lldb/test/API/commands/target/stop-hooks/on-core-load/stop_hook.py
  lldb/test/API/commands/target/stop-hooks/on-core-load/test.core.yaml
  lldb/test/API/python_api/event/TestEvents.py
Labels: lldb

#138008 [mlir][acc] Add LegalizeDataValues support for DeclareEnterOp
  mlir/lib/Dialect/OpenACC/Transforms/LegalizeDataValues.cpp
  mlir/test/Dialect/OpenACC/legalize-data.mlir
Labels: mlir, mlir:openacc, openacc

#138168 Revert "[InstSimplify] Fold `getelementptr inbounds null, idx -> null` (#130742)"
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/test/CodeGen/AMDGPU/memcpy-crash-issue63986.ll
  llvm/test/Transforms/InstCombine/store.ll
  llvm/test/Transforms/InstSimplify/gep.ll
Labels: backend:AMDGPU, llvm:instcombine, llvm:analysis, llvm:transforms

#137651 [mlir][vector] Add linearization pattern for vector.splat
  mlir/lib/Dialect/Vector/Transforms/VectorLinearize.cpp
  mlir/test/Dialect/Vector/linearize.mlir
Labels: mlir:vectorops, mlir, mlir:vector

#138158 [Clang][SYCL] Add initial set of Intel OffloadArch values
  clang/include/clang/Basic/OffloadArch.h
  clang/lib/Basic/OffloadArch.cpp
  clang/lib/Basic/Targets/NVPTX.cpp
  clang/lib/CodeGen/CGOpenMPRuntimeGPU.cpp
  clang/unittests/Basic/CMakeLists.txt
  clang/unittests/Basic/OffloadArchTest.cpp
Labels: clang, clang:frontend, clang:codegen, clang:openmp

#138164 [OpenACC][CIR] Implement Loop lowering of seq/auto/independent
  clang/lib/CIR/CodeGen/CIRGenOpenACCClause.h
  clang/test/CIR/CodeGenOpenACC/loop.cpp
  mlir/include/mlir/Dialect/OpenACC/OpenACCOps.td
  mlir/lib/Dialect/OpenACC/IR/OpenACC.cpp
Labels: clang, mlir, mlir:openacc, openacc, ClangIR

#138176 [CIR] Upstream support for range-based for loops
  clang/lib/CIR/CodeGen/CIRGenExpr.cpp
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.h
  clang/lib/CIR/CodeGen/CIRGenStmt.cpp
  clang/test/CIR/CodeGen/loop.cpp
Labels: clang, ClangIR

#137236 [BOLT] Run PatchEntries pass before LongJmp
  bolt/lib/Passes/PatchEntries.cpp
  bolt/lib/Rewrite/BinaryPassManager.cpp
Labels: BOLT

#137512 [lldb] Change synthetic symbol names to have file address
  lldb/source/Symbol/Symbol.cpp
  lldb/test/Shell/ObjectFile/ELF/eh_frame-symbols.yaml
  lldb/test/Shell/SymbolFile/Breakpad/symtab-sorted-by-size.test
  lldb/test/Shell/SymbolFile/Breakpad/symtab.test
Labels: lldb

#137872 [NFC][clang] No sharedlibs for UEFI
  clang/lib/Driver/ToolChains/UEFI.cpp
  clang/test/Driver/uefi-constructed-args.c
Labels: clang, clang:driver

#138071 [mlir][vector] Separate bitwidth specific tests out
  mlir/test/Dialect/Vector/linearize-subject-to-bitwidth.mlir
  mlir/test/Dialect/Vector/linearize.mlir
Labels: mlir:vectorops, mlir, mlir:vector

#135841 [mlir][vector] Canonicalize/fold 'order preserving' transposes
  mlir/lib/Dialect/Vector/IR/VectorOps.cpp
  mlir/test/Dialect/Vector/canonicalize.mlir
  mlir/test/Dialect/Vector/canonicalize/vector-transpose.mlir
Labels: mlir:vectorops, mlir, mlir:vector

#138211 Fix TestEvents.py after: 4fdb8cb
  lldb/test/API/python_api/event/TestEvents.py
Labels: lldb

#138166 [InstSimplify] Fold {u,s}{min,max} x, poison -> poison
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/test/Transforms/InstSimplify/maxmin_intrinsics.ll
Labels: llvm:instcombine, llvm:analysis, llvm:transforms

#138186 [flang][cuda] Use a reference for asyncObject
  flang-rt/include/flang-rt/runtime/allocator-registry.h
  flang-rt/include/flang-rt/runtime/descriptor.h
  flang-rt/include/flang-rt/runtime/reduction-templates.h
  flang-rt/lib/cuda/allocatable.cpp
  flang-rt/lib/cuda/allocator.cpp
  flang-rt/lib/cuda/descriptor.cpp
  flang-rt/lib/runtime/allocatable.cpp
  flang-rt/lib/runtime/array-constructor.cpp
  flang-rt/lib/runtime/assign.cpp
  flang-rt/lib/runtime/character.cpp
  flang-rt/lib/runtime/copy.cpp
  flang-rt/lib/runtime/derived.cpp
  flang-rt/lib/runtime/descriptor.cpp
  flang-rt/lib/runtime/extrema.cpp
  flang-rt/lib/runtime/findloc.cpp
  flang-rt/lib/runtime/matmul-transpose.cpp
  flang-rt/lib/runtime/matmul.cpp
  flang-rt/lib/runtime/misc-intrinsic.cpp
  flang-rt/lib/runtime/pointer.cpp
  flang-rt/lib/runtime/temporary-stack.cpp
  flang-rt/lib/runtime/tools.cpp
  flang-rt/lib/runtime/transformational.cpp
  flang-rt/unittests/Evaluate/reshape.cpp
  flang-rt/unittests/Runtime/Allocatable.cpp
  flang-rt/unittests/Runtime/CUDA/Allocatable.cpp
  flang-rt/unittests/Runtime/CUDA/AllocatorCUF.cpp
  flang-rt/unittests/Runtime/CUDA/Memory.cpp
  flang-rt/unittests/Runtime/CharacterTest.cpp
  flang-rt/unittests/Runtime/CommandTest.cpp
  flang-rt/unittests/Runtime/TemporaryStack.cpp
  flang-rt/unittests/Runtime/tools.h
  flang/include/flang/Optimizer/Dialect/CUF/CUFOps.td
  flang/include/flang/Runtime/CUDA/allocatable.h
  flang/include/flang/Runtime/CUDA/allocator.h
  flang/include/flang/Runtime/CUDA/pointer.h
  flang/include/flang/Runtime/allocatable.h
  flang/lib/Lower/Allocatable.cpp
  flang/lib/Optimizer/Builder/Runtime/Allocatable.cpp
  flang/lib/Optimizer/Dialect/CUF/CUFOps.cpp
  flang/lib/Optimizer/Transforms/CUFOpConversion.cpp
  flang/test/Fir/CUDA/cuda-allocate.fir
  flang/test/Fir/cuf-invalid.fir
  flang/test/Fir/cuf.mlir
  flang/test/HLFIR/elemental-codegen.fir
  flang/test/Lower/CUDA/cuda-allocatable.cuf
  flang/test/Lower/OpenACC/acc-declare-unwrap-defaultbounds.f90
  flang/test/Lower/OpenACC/acc-declare.f90
  flang/test/Lower/allocatable-polymorphic.f90
  flang/test/Lower/allocatable-runtime.f90
  flang/test/Lower/allocate-mold.f90
  flang/test/Lower/polymorphic.f90
  flang/test/Transforms/lower-repack-arrays.fir
Labels: flang, flang:fir-hlfir, openacc

#138135 [libclang/python] Remove compatibility workaround for briefComment
  clang/bindings/python/clang/cindex.py
Labels: clang, clang:as-a-library

#136810 [CIR] Upstream cir.call with scalar arguments
  clang/include/clang/CIR/Dialect/Builder/CIRBaseBuilder.h
  clang/include/clang/CIR/Dialect/IR/CIRDialect.h
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/include/clang/CIR/Interfaces/CIROpInterfaces.td
  clang/include/clang/CIR/MissingFeatures.h
  clang/lib/CIR/CodeGen/CIRGenCall.cpp
  clang/lib/CIR/CodeGen/CIRGenCall.h
  clang/lib/CIR/CodeGen/CIRGenExpr.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.h
  clang/lib/CIR/CodeGen/CIRGenFunctionInfo.h
  clang/lib/CIR/CodeGen/CIRGenTypes.cpp
  clang/lib/CIR/CodeGen/CIRGenTypes.h
  clang/lib/CIR/CodeGen/TargetInfo.cpp
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/test/CIR/CodeGen/call.cpp
  clang/test/CIR/IR/call.cir
  clang/test/CIR/IR/invalid-call.cir
Labels: clang, ClangIR

#138045 [flang] Fix #else with trailing text
  flang/lib/Parser/preprocessor.cpp
  flang/test/Preprocessing/pp048.F
Labels: flang, flang:parser

#137394 [MemProf] Add v4 which contains CalleeGuids to CallSiteInfo.
  llvm/include/llvm/ProfileData/InstrProfReader.h
  llvm/include/llvm/ProfileData/MemProf.h
  llvm/include/llvm/ProfileData/MemProfYAML.h
  llvm/lib/ProfileData/IndexedMemProfData.cpp
  llvm/lib/ProfileData/InstrProfReader.cpp
  llvm/lib/ProfileData/MemProf.cpp
  llvm/test/tools/llvm-profdata/memprof-yaml.test
  llvm/tools/llvm-profdata/llvm-profdata.cpp
  llvm/unittests/ProfileData/MemProfTest.cpp
Labels: PGO

#138132 [libclang/python] Add tests for equality operators.
  clang/bindings/python/tests/cindex/test_cursor.py
  clang/bindings/python/tests/cindex/test_location.py
  clang/bindings/python/tests/cindex/test_source_range.py
Labels: clang, clang:as-a-library

#128640 default clause replaced by otherwise clause for metadirective in OpenMP 5.2
  clang/docs/OpenMPSupport.rst
  clang/include/clang/Basic/DiagnosticParseKinds.td
  clang/lib/Parse/ParseOpenMP.cpp
  clang/test/OpenMP/metadirective_ast_print.c
  clang/test/OpenMP/metadirective_default.cpp
  clang/test/OpenMP/metadirective_messages.cpp
  clang/test/OpenMP/metadirective_otherwise.cpp
Labels: clang, clang:frontend, clang:openmp

#138228 [flang] update LIT test for AIX (NFC)
  flang/test/Lower/volatile-openmp.f90
Labels: flang, flang:fir-hlfir

#138198 [mlir] Ensure fmaximum/fminimum is defined in mlir/Dialect/LLVMIR/LLVMEnums.td
  mlir/include/mlir/Dialect/LLVMIR/LLVMEnums.td
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/test/Target/LLVMIR/Import/instructions.ll
  mlir/test/Target/LLVMIR/llvmir.mlir
Labels: mlir:llvm, mlir

#138024 [Github][CI] Rename New Premerge Jobs
  .ci/metrics/metrics.py
  .github/workflows/premerge.yaml
Labels: github:workflow

#138121 [Clang] incorrect assertion when checking template template parameter of a lambda
  clang/docs/ReleaseNotes.rst
  clang/lib/AST/DeclCXX.cpp
  clang/test/SemaCXX/lambda-unevaluated.cpp
Labels: clang, clang:frontend

#137926 [Target] Use llvm::max_element (NFC)
  llvm/lib/Target/Mips/MipsDelaySlotFiller.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyISelLowering.cpp
Labels: backend:WebAssembly

#137804 [clang] Add test for QualTypes in template class NNS
  clang/unittests/Tooling/QualTypeNamesTest.cpp
Labels: clang

#138106 [CIR] Refactor IntType constraints
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/include/clang/CIR/Dialect/IR/CIRTypeConstraints.td
  clang/include/clang/CIR/Dialect/IR/CIRTypes.h
  clang/include/clang/CIR/Dialect/IR/CIRTypes.td
  clang/include/clang/CIR/Dialect/IR/CMakeLists.txt
  clang/lib/CIR/Dialect/IR/CIRTypes.cpp
  clang/lib/CIR/Dialect/IR/CMakeLists.txt
Labels: clang, ClangIR

#138112 [CIR] Refactor floating point type constraints
  clang/include/clang/CIR/Dialect/IR/CIRTypeConstraints.td
  clang/include/clang/CIR/Dialect/IR/CIRTypes.h
  clang/include/clang/CIR/Dialect/IR/CIRTypes.td
  clang/lib/CIR/Dialect/IR/CIRTypes.cpp
  clang/test/CIR/IR/invalid-long-double.cir
Labels: clang, ClangIR

#137958 [IR] Do not store Function inside BlockAddress
  clang/lib/CodeGen/CodeGenFunction.cpp
  llvm/include/llvm/IR/Constants.h
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/lib/CodeGen/AsmPrinter/WinCFGuard.cpp
  llvm/lib/IR/Constants.cpp
  llvm/lib/IR/Function.cpp
  llvm/lib/IR/LLVMContextImpl.h
  llvm/lib/Transforms/IPO/Attributor.cpp
  llvm/lib/Transforms/IPO/GlobalOpt.cpp
  llvm/lib/Transforms/IPO/LowerTypeTests.cpp
  llvm/lib/Transforms/IPO/OpenMPOpt.cpp
  llvm/lib/Transforms/IPO/PartialInlining.cpp
  llvm/lib/Transforms/IPO/SCCP.cpp
  llvm/test/tools/llvm-reduce/reduce-functions-blockaddress-wrong-function.ll
  llvm/test/tools/llvm-reduce/reduce-functions-blockaddress.ll
  llvm/tools/llvm-reduce/deltas/ReduceFunctions.cpp
  llvm/tools/llvm-reduce/deltas/Utils.cpp
  llvm/tools/llvm-reduce/deltas/Utils.h
  mlir/test/Target/LLVMIR/Import/blockaddress.ll
Labels: clang, clang:codegen, mlir:llvm, mlir, llvm:ir, llvm:transforms, clang:openmp

#137358 [IR] Require that global value initializers are sized
  llvm/docs/LangRef.rst
  llvm/lib/IR/Verifier.cpp
  llvm/test/Verifier/global-initializer-sized.ll
  llvm/test/Verifier/scalable-global-vars.ll
Labels: llvm:instcombine, llvm:ir, llvm:transforms

#136180 [LLD][COFF] add __{data,bss}_{start,end}__ symbols for Cygwin support
  lld/COFF/Driver.cpp
  lld/COFF/Writer.cpp
  lld/test/COFF/cygwin-symbols.s
Labels: lld, lld:COFF, platform:windows

#138118 [Clang][Cygwin] Fix symbol visibility definition
  clang/include/clang/Support/Compiler.h
Labels: clang

#138119 [Clang][Cygwin] Disable shared libs on Cygwin by default
  clang/tools/CMakeLists.txt
  clang/tools/libclang/CMakeLists.txt
Labels: clang, clang:as-a-library

#138117 [LLVM][Cygwin] Fix Signals compatibility with Cygwin API
  llvm/lib/Support/Unix/Signals.inc
Labels: llvm:support

#137905 [llvm] X86_64 CC for UEFI
  llvm/lib/Target/X86/X86CallingConv.td
  llvm/lib/Target/X86/X86RegisterInfo.cpp
  llvm/lib/Target/X86/X86RegisterInfo.h
  llvm/lib/Target/X86/X86Subtarget.h
Labels: backend:X86

#135794 [IR] Relax convergence requirements on call
  llvm/include/llvm/IR/GenericConvergenceVerifierImpl.h
  llvm/test/Assembler/convergence-control.ll
  llvm/test/Transforms/ADCE/convergence.ll
  llvm/test/Transforms/BDCE/convergence.ll
  llvm/test/Transforms/FunctionAttrs/convergent.ll
  llvm/test/Verifier/convergencectrl-invalid.ll
Labels: llvm:ir, llvm:transforms

#138240 llvm-reduce: Fix trailing whitespace in command guide
  llvm/docs/CommandGuide/llvm-reduce.rst
Labels: documentation, llvm-reduce, llvm:binary-utilities

#136876 [ObjC][ProvenanceEval] Only evaluate pointers
  llvm/lib/Transforms/ObjCARC/ProvenanceAnalysisEvaluator.cpp
  llvm/test/Transforms/ObjCARC/provenance.ll
Labels: llvm:transforms

#138140 [StackSlotColoring] Fix issue where colors for a StackID are dropped
  llvm/lib/CodeGen/StackSlotColoring.cpp
Labels: llvm:codegen

#135767 [SystemZ] Add proper mcount handling
  llvm/lib/Target/SystemZ/SystemZFrameLowering.cpp
  llvm/lib/Transforms/Utils/EntryExitInstrumenter.cpp
  llvm/test/CodeGen/SystemZ/mcount.ll
Labels: backend:SystemZ, llvm:transforms

#129700 [Clang][AArch64] make bitperm intrinsics available in streaming mode
  clang/include/clang/Basic/arm_sve.td
  clang/test/CodeGen/AArch64/sve2-intrinsics/acle_sve2_bdep.c
  clang/test/CodeGen/AArch64/sve2-intrinsics/acle_sve2_bext.c
  clang/test/CodeGen/AArch64/sve2-intrinsics/acle_sve2_bgrp.c
  clang/test/Sema/aarch64-sve2-intrinsics/acle_sve2_aes_bitperm_sha3_sm4.cpp
Labels: clang, clang:frontend

#136507 [X86] Check for AMXTile in asserting
  llvm/lib/Target/X86/X86LowerTileCopy.cpp
Labels: backend:X86

#138239 [IR] Replace blockaddress refcount with single flag
  llvm/include/llvm/IR/BasicBlock.h
  llvm/lib/IR/BasicBlock.cpp
  llvm/lib/IR/Constants.cpp
Labels: llvm:ir

#138133 [C] Allow __attribute__((nonstring)) on multidimensional arrays
  clang/lib/Sema/SemaInit.cpp
  clang/test/Sema/attr-nonstring.c
Labels: clang, c, clang:frontend, extension:gnu

#137234 [C] Diagnose use of C++ keywords in C
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticLexKinds.td
  clang/include/clang/Basic/IdentifierTable.h
  clang/include/clang/Basic/TokenKinds.def
  clang/lib/Basic/IdentifierTable.cpp
  clang/lib/Lex/Preprocessor.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/test/OpenMP/assumes_messages.c
  clang/test/Sema/c++-keyword-in-c.c
  clang/test/Sema/c++-keyword-in-objc.m
Labels: clang, c, clang:frontend

#137592 [libc] Add support for string/memory_utils functions for AArch64 without HW FP/SIMD
  libc/src/__support/FPUtil/FEnvImpl.h
  libc/src/__support/FPUtil/nearest_integer.h
  libc/src/__support/FPUtil/sqrt.h
  libc/src/string/memory_utils/aarch64/inline_bcmp.h
  libc/src/string/memory_utils/aarch64/inline_memcmp.h
  libc/src/string/memory_utils/aarch64/inline_memmove.h
  libc/src/string/memory_utils/aarch64/inline_memset.h
  libc/src/string/memory_utils/inline_bcmp.h
  libc/src/string/memory_utils/inline_memcmp.h
  libc/src/string/memory_utils/inline_memset.h
  libc/src/string/memory_utils/op_aarch64.h
Labels: libc

#138027 [NFC][TableGen] Use private inheritance for TrailingObjects
  llvm/include/llvm/TableGen/Record.h
  llvm/lib/TableGen/Record.cpp
Labels: tablegen

#138184 [AMDGPU] Check for nonnull loads feeding addrspacecast
  llvm/lib/Target/AMDGPU/AMDGPUCodeGenPrepare.cpp
  llvm/test/CodeGen/AMDGPU/codegen-prepare-addrspacecast-non-null.ll
Labels: backend:AMDGPU

#137212 [AArch64] Use pattern to select bf16 fpextend
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/test/CodeGen/AArch64/arm64-fast-isel-conversion-fallback.ll
  llvm/test/CodeGen/AArch64/atomicrmw-fmax.ll
  llvm/test/CodeGen/AArch64/atomicrmw-fmin.ll
  llvm/test/CodeGen/AArch64/bf16-instructions.ll
  llvm/test/CodeGen/AArch64/bf16_fast_math.ll
  llvm/test/CodeGen/AArch64/sve-streaming-mode-fixed-length-fcopysign.ll
Labels: backend:AArch64

#135971 [DEBUGINFO] Propagate debug metadata for sext SDNode.
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/DebugInfo/NVPTX/debug-bool-var.ll
Labels: debuginfo, backend:NVPTX, llvm:SelectionDAG

#132686 llvm-reduce: Add values to return reduction
  llvm/include/llvm/IR/Function.h
  llvm/lib/IR/Function.cpp
  llvm/test/tools/llvm-reduce/reduce-instructions-to-return-nonvoid-noncallee-use.ll
  llvm/test/tools/llvm-reduce/reduce-instructions-to-return.ll
  llvm/test/tools/llvm-reduce/reduce-operands-fp.ll
  llvm/test/tools/llvm-reduce/reduce-operands-int.ll
  llvm/test/tools/llvm-reduce/reduce-operands-ptr.ll
  llvm/tools/llvm-reduce/CMakeLists.txt
  llvm/tools/llvm-reduce/DeltaManager.cpp
  llvm/tools/llvm-reduce/DeltaPasses.def
  llvm/tools/llvm-reduce/deltas/ReduceValuesToReturn.cpp
  llvm/tools/llvm-reduce/deltas/ReduceValuesToReturn.h
Labels: llvm-reduce, llvm:ir

#138036 [clang][NFC] Fix some clang-format mistakes
  clang/lib/CodeGen/CGCall.cpp
Labels: clang, clang:codegen

#134035 llvm-reduce: Change function return types if function is not called
  llvm/test/tools/llvm-reduce/reduce-instructions-to-return.ll
  llvm/test/tools/llvm-reduce/reduce-values-to-return-new-return-type.ll
  llvm/tools/llvm-reduce/deltas/ReduceValuesToReturn.cpp
Labels: llvm-reduce

#138026 [Clang][NFC] assert IFaceT in SemaObjC::HandleExprPropertyRefExpr
  clang/lib/Sema/SemaExprObjC.cpp
Labels: clang, clang:frontend

#136776 [flang] fix scoping of cray pointer declarations and add check for initialization
  flang/lib/Semantics/check-declarations.cpp
  flang/lib/Semantics/resolve-names.cpp
  flang/lib/Semantics/semantics.cpp
  flang/test/Lower/OpenMP/cray-pointers01.f90
  flang/test/Semantics/declarations08.f90
  flang/test/Semantics/resolve125.f90
Labels: flang, flang:fir-hlfir, flang:openmp, flang:semantics

#137996 [flang][flang-driver] Support flag -finstrument-functions
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Flang.cpp
  flang/include/flang/Frontend/CodeGenOptions.def
  flang/include/flang/Optimizer/Transforms/Passes.td
  flang/include/flang/Tools/CrossToolHelpers.h
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/lib/Optimizer/Passes/Pipelines.cpp
  flang/lib/Optimizer/Transforms/FunctionAttr.cpp
  flang/test/Driver/func-attr-instrument-functions.f90
Labels: clang, clang:driver, flang:driver, flang, flang:fir-hlfir

#138275 [NFC][mlir][AsmPrinter] Don't compute resourceStr when --mlir-elide-resource-strings-if-larger=0
  mlir/lib/IR/AsmPrinter.cpp
  mlir/test/IR/pretty-resources-print.mlir
Labels: mlir:core, mlir

#137883 [VPlan] Don't rely on region check in isUniformAfterVectorization.
  llvm/lib/Transforms/Vectorize/VPlanUtils.h
  llvm/test/Transforms/LoopVectorize/AArch64/conditional-branches-cost.ll
  llvm/test/Transforms/LoopVectorize/uniform_across_vf_induction1.ll
  llvm/test/Transforms/LoopVectorize/uniform_across_vf_induction1_and.ll
  llvm/test/Transforms/LoopVectorize/uniform_across_vf_induction1_div_urem.ll
  llvm/test/Transforms/LoopVectorize/uniform_across_vf_induction1_lshr.ll
  llvm/test/Transforms/LoopVectorize/uniform_across_vf_induction2.ll
Labels: vectorizers, llvm:transforms

#138263 [lldb][test] Disable flaky TestLldbGdbServer.py
  lldb/test/API/tools/lldb-server/TestLldbGdbServer.py
Labels: lldb, test-suite

#138215 [IndVarSimplify] Set samesign when converting signed comparison to unsigned comparison in eliminateIVComparison.
  llvm/lib/Transforms/Utils/SimplifyIndVar.cpp
  llvm/test/Analysis/ScalarEvolution/guards.ll
  llvm/test/Transforms/IndVarSimplify/canonicalize-cmp.ll
  llvm/test/Transforms/IndVarSimplify/cycled_phis.ll
  llvm/test/Transforms/IndVarSimplify/floating-point-iv.ll
  llvm/test/Transforms/IndVarSimplify/floating-point-small-iv.ll
  llvm/test/Transforms/IndVarSimplify/implied-via-addition.ll
  llvm/test/Transforms/IndVarSimplify/iv-sext.ll
  llvm/test/Transforms/IndVarSimplify/lftr.ll
  llvm/test/Transforms/IndVarSimplify/pr102597.ll
  llvm/test/Transforms/IndVarSimplify/pr126012.ll
  llvm/test/Transforms/IndVarSimplify/pr66986.ll
  llvm/test/Transforms/IndVarSimplify/preserving-debugloc.ll
  llvm/test/Transforms/IndVarSimplify/scev-invalidation.ll
  llvm/test/Transforms/IndVarSimplify/shift-range-checks.ll
  llvm/test/Transforms/LoopDeletion/invalidate-scev-after-hoisting.ll
Labels: llvm:analysis, llvm:transforms

#138236 [llvm] Remove redundant calls to std::unique_ptr<T>::get (NFC)
  llvm/lib/CodeGen/GlobalMergeFunctions.cpp
  llvm/lib/Target/RISCV/RISCVLoadStoreOptimizer.cpp
  llvm/lib/Target/SPIRV/SPIRVAPI.cpp
  llvm/lib/Target/SPIRV/SPIRVSubtarget.cpp
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/utils/TableGen/DAGISelMatcherOpt.cpp
Labels: backend:RISC-V, tablegen, vectorizers, backend:SPIR-V, llvm:SelectionDAG, llvm:transforms

#137903 [PPC][NFC] Remove duplicate processor feature from pwr9/10/11 and future
  llvm/lib/Target/PowerPC/PPC.td
Labels: backend:PowerPC

#138196 [OpenACC] Implement better dupe catching for device_type clauses
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaOpenACCClause.cpp
  clang/test/SemaOpenACC/compute-construct-num_gangs-clause.c
  clang/test/SemaOpenACC/compute-construct-num_workers-clause.c
  clang/test/SemaOpenACC/compute-construct-vector_length-clause.c
  clang/test/SemaOpenACC/loop-construct-collapse-clause.cpp
  clang/test/SemaOpenACC/loop-construct-tile-clause.cpp
Labels: clang, clang:frontend

#138266 [C] Update the -Wdefault-const-init-unsafe wording
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/Sema.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaInit.cpp
  clang/test/Sema/sizeless-1.c
  clang/test/Sema/typedef-retain.c
  clang/test/Sema/warn-default-const-init.c
  clang/test/SemaOpenCL/invalid-block.cl
Labels: clang, c, clang:frontend, clang:diagnostics

#138279 [DAG] visitEXTRACT_SUBVECTOR - change fold helper methods to take operands instead of EXTRACT_SUBVECTOR node. NFC.
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
Labels: llvm:SelectionDAG

#138148 [Metadata] Return the valid DebugLoc if one of them is null with -pick-merged-source-locations.
  llvm/lib/IR/DebugInfoMetadata.cpp
  llvm/unittests/IR/MetadataTest.cpp
Labels: debuginfo, llvm:ir

#138247 [Clang] Fix handling of reference types in tryEvaluateBuiltinObjectSize
  clang/docs/ReleaseNotes.rst
  clang/lib/AST/ExprConstant.cpp
  clang/test/SemaCXX/builtin-object-size-cxx14.cpp
Labels: clang, clang:frontend

#138280 [SystemZ] Fix a bug introduced by #135767
  llvm/lib/Target/SystemZ/SystemZFrameLowering.cpp
  llvm/test/CodeGen/SystemZ/mcount.ll
Labels: backend:SystemZ

#138304 [llvm] Remove redundant control flow (NFC)
  llvm/lib/Analysis/KernelInfo.cpp
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/lib/CodeGen/PeepholeOptimizer.cpp
  llvm/lib/DebugInfo/DWARF/DWARFVerifier.cpp
  llvm/lib/IR/ConvergenceVerifier.cpp
  llvm/lib/Support/Mustache.cpp
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/lib/Target/SPIRV/SPIRVPrepareFunctions.cpp
  llvm/lib/Transforms/Vectorize/VectorCombine.cpp
Labels: debuginfo, llvm:globalisel, vectorizers, backend:SPIR-V, backend:NVPTX, llvm:support, llvm:ir, llvm:analysis, llvm:transforms

#138291 [Clang] __has_unique_object_representations should not accept Incomplete[]
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaExprCXX.cpp
  clang/test/SemaCXX/type-traits.cpp
Labels: clang, clang:frontend

#138179 [OpenMP] Remove "alternativeName" from Clause and Directive classes
  clang/lib/Sema/SemaOpenMP.cpp
  llvm/include/llvm/Frontend/Directive/DirectiveBase.td
  llvm/include/llvm/Frontend/OpenMP/OMP.td
  llvm/include/llvm/TableGen/DirectiveEmitter.h
  llvm/utils/TableGen/Basic/DirectiveEmitter.cpp
Labels: clang, clang:frontend, tablegen, flang:openmp, clang:openmp

#138200 [MLIR][LLVM] Debug info: fix DIDerivedTypeAttr relation to DIScopeAttr
  mlir/lib/Dialect/LLVMIR/IR/LLVMAttrs.cpp
  mlir/test/Dialect/LLVMIR/debuginfo.mlir
Labels: mlir:llvm, mlir

#138305 [clang-tidy][NFC][doc] fix typos in docs.
  clang-tools-extra/docs/clang-tidy/checks/boost/use-ranges.rst
  clang-tools-extra/docs/clang-tidy/checks/bugprone/casting-through-void.rst
Labels: clang-tools-extra, clang-tidy

#138307 [Clang] Never consider conversion from single-element braced-init-list perfect
  clang/include/clang/Sema/Overload.h
  clang/lib/Sema/SemaOverload.cpp
  clang/test/SemaCXX/overload-resolution-deferred-templates.cpp
Labels: clang, clang:frontend

#138245 [Clang] Implement CWG3005 Function parameters should never be name-independent
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaDecl.cpp
  clang/test/CXX/drs/cwg30xx.cpp
  clang/www/cxx_dr_status.html
Labels: clang, clang:frontend

#137389 [mlir] Add use-vector-alignment flag to ConvertVectorToLLVMPass
  mlir/include/mlir/Conversion/Passes.td
  mlir/include/mlir/Conversion/VectorToLLVM/ConvertVectorToLLVM.h
  mlir/include/mlir/Dialect/Vector/TransformOps/VectorTransformOps.td
  mlir/lib/Conversion/VectorToLLVM/ConvertVectorToLLVM.cpp
  mlir/lib/Conversion/VectorToLLVM/ConvertVectorToLLVMPass.cpp
  mlir/lib/Dialect/Vector/TransformOps/VectorTransformOps.cpp
  mlir/test/Conversion/VectorToLLVM/use-vector-alignment.mlir
Labels: mlir:vectorops, mlir, mlir:vector

#137661 [clang] Remove FEM_Indeterminable
  clang/include/clang/Basic/FPOptions.def
  clang/include/clang/Basic/LangOptions.def
  clang/include/clang/Basic/LangOptions.h
Labels: clang, clang:frontend

#138107 [CIR] Upstream local initialization for VectorType
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/CodeGen/CIRGenExpr.cpp
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.h
  clang/test/CIR/CodeGen/vector-ext.cpp
  clang/test/CIR/CodeGen/vector.cpp
  clang/test/CIR/IR/invalid-vector-create-wrong-size.cir
  clang/test/CIR/IR/invalid-vector-create-wrong-type.cir
  clang/test/CIR/IR/vector.cir
Labels: clang, ClangIR

#134794 llvm-reduce: Support exotic terminators in instructions-to-return
  llvm/test/tools/llvm-reduce/reduce-values-to-return-callbr.ll
  llvm/test/tools/llvm-reduce/reduce-values-to-return-invoke.ll
  llvm/test/tools/llvm-reduce/remove-bb-switch-default.ll
  llvm/tools/llvm-reduce/deltas/ReduceValuesToReturn.cpp
  llvm/tools/llvm-reduce/deltas/Utils.cpp
Labels: llvm-reduce

#138341 [clang] Complete the revert of 1a14ef1
  clang/include/clang/Basic/LangOptions.h
Labels: clang, clang:frontend

#138319 [CIR][NFC] Upstream bulk handling for Decl kinds
  clang/lib/CIR/CodeGen/CIRGenDecl.cpp
Labels: clang, ClangIR

#138231 [Clang][NFC] Capture by ref to avoid copying std::string
  clang/lib/StaticAnalyzer/Core/CheckerContext.cpp
Labels: clang, clang:static analyzer

#131707 [ms] [llvm-ml] Implement support for PROC NEAR/FAR
  llvm/include/llvm/MC/MCParser/MCMasmParser.h
  llvm/include/llvm/MC/MCSymbolCOFF.h
  llvm/lib/MC/MCParser/COFFMasmParser.cpp
  llvm/lib/MC/MCParser/MasmParser.cpp
  llvm/lib/Target/X86/AsmParser/X86AsmParser.cpp
  llvm/test/tools/llvm-ml/proc_distance.asm
Labels: backend:X86, mc

#137895 [AArch64] Implement assembler support for new SVE SEH unwind opcodes.
  llvm/include/llvm/Support/Win64EH.h
  llvm/lib/MC/MCWin64EH.cpp
  llvm/lib/Target/AArch64/AsmParser/AArch64AsmParser.cpp
  llvm/lib/Target/AArch64/MCTargetDesc/AArch64ELFStreamer.cpp
  llvm/lib/Target/AArch64/MCTargetDesc/AArch64TargetStreamer.h
  llvm/lib/Target/AArch64/MCTargetDesc/AArch64WinCOFFStreamer.cpp
  llvm/test/MC/AArch64/seh.s
  llvm/test/tools/llvm-readobj/COFF/arm64-win-error1.s
  llvm/tools/llvm-readobj/ARMWinEHPrinter.cpp
  llvm/tools/llvm-readobj/ARMWinEHPrinter.h
Labels: backend:AArch64, mc, llvm:support, llvm:binary-utilities

#138353 Revert "[ms] [llvm-ml] Implement support for PROC NEAR/FAR"
  llvm/include/llvm/MC/MCParser/MCMasmParser.h
  llvm/include/llvm/MC/MCSymbolCOFF.h
  llvm/lib/MC/MCParser/COFFMasmParser.cpp
  llvm/lib/MC/MCParser/MasmParser.cpp
  llvm/lib/Target/X86/AsmParser/X86AsmParser.cpp
  llvm/test/tools/llvm-ml/proc_distance.asm
Labels: backend:X86, mc

#137498 [mlir][amdgpu] Define an amdgpu.scaling_mfma wrapper
  mlir/include/mlir/Dialect/AMDGPU/IR/AMDGPU.td
  mlir/lib/Conversion/AMDGPUToROCDL/AMDGPUToROCDL.cpp
  mlir/test/Conversion/AMDGPUToROCDL/mfma-gfx950.mlir
  mlir/test/Dialect/AMDGPU/ops.mlir
Labels: backend:AMDGPU, mlir:gpu, mlir, mlir:amdgpu

#138324 [IRBuilder] Add versions of createInsertVector/createExtractVector that take a uint64_t index.
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CGExprScalar.cpp
  clang/lib/CodeGen/TargetBuiltins/ARM.cpp
  llvm/include/llvm/IR/IRBuilder.h
  llvm/lib/IR/AutoUpgrade.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/lib/Target/AMDGPU/AMDGPUCodeGenPrepare.cpp
  llvm/lib/Target/AMDGPU/AMDGPUInstCombineIntrinsic.cpp
  llvm/lib/Transforms/Vectorize/LoopIdiomVectorize.cpp
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: clang, backend:AArch64, backend:AMDGPU, clang:codegen, vectorizers, llvm:ir, llvm:transforms

#137985 [HLSL][SPIRV] Add CLI option `-fspv-extension`
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/HLSL.cpp
  clang/test/Driver/dxc_fspv_extension.hlsl
Labels: clang, clang:driver, HLSL

#138357 [mlir] Declare explicit typeid to fix dylib build
  mlir/include/mlir/Pass/Pass.h
  mlir/lib/Pass/Pass.cpp
Labels: mlir:core, mlir

#138222 [CIR] Refactor global variable emission and initialization
  clang/include/clang/CIR/MissingFeatures.h
  clang/lib/CIR/CodeGen/CIRGenConstantEmitter.h
  clang/lib/CIR/CodeGen/CIRGenExprConstant.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
Labels: clang, ClangIR
