Repository llvm/llvm-project, pull requests merged in 2025-04, with the labels that each got.

#133690 LLVM/Test: Add vectorizing testcases for fminimumnum and fminimumnum
  llvm/test/Transforms/LoopVectorize/fminimumnum.ll
Labels: llvm:transforms

#133187 [Sanitizers][Darwin][Test] Remove community incompliant internal link from sources
  compiler-rt/test/sanitizer_common/TestCases/Darwin/malloc_zone.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#133757 [libc] Add myself as maintainer of the riscv port
  libc/Maintainers.rst
Labels: libc

#133590 Reland [HIP] fix host min/max in header
  clang/lib/Headers/__clang_hip_math.h
Labels: clang, backend:X86, clang:headers

#133557 llvm-reduce: Try to preserve instruction metadata as argument attributes
  llvm/include/llvm/IR/Attributes.h
  llvm/lib/IR/Attributes.cpp
  llvm/test/tools/llvm-reduce/reduce-operands-to-args-metadata-to-attributes.ll
  llvm/tools/llvm-reduce/deltas/ReduceOperandsToArgs.cpp
Labels: llvm-reduce, llvm:ir

#133759 [RISCV] Use decodeUImmLog2XLenNonZeroOperand in decodeRVCInstrRdRs1UImm. NFC
  llvm/lib/Target/RISCV/Disassembler/RISCVDisassembler.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoC.td
Labels: backend:RISC-V

#133834 [BOLT][X86] Fix getTargetSymbol()
  bolt/include/bolt/Core/MCPlusBuilder.h
  bolt/lib/Target/AArch64/AArch64MCPlusBuilder.cpp
  bolt/lib/Target/RISCV/RISCVMCPlusBuilder.cpp
  bolt/lib/Target/X86/X86MCPlusBuilder.cpp
  bolt/test/X86/lite-mode-target-expr.s
Labels: BOLT

#133824 [lldb-dap] Enable runInTerminal tests on macOS.
  lldb/test/API/tools/lldb-dap/restart/TestDAP_restart_runInTerminal.py
  lldb/test/API/tools/lldb-dap/runInTerminal/TestDAP_runInTerminal.py
Labels: lldb

#130577 [AMDGPU][CodeGenPrepare] Narrow 64 bit math to 32 bit if profitable
  llvm/lib/Target/AMDGPU/AMDGPUCodeGenPrepare.cpp
  llvm/test/CodeGen/AMDGPU/amdgpu-codegenprepare-mul24.ll
  llvm/test/CodeGen/AMDGPU/atomic_optimizations_global_pointer.ll
  llvm/test/CodeGen/AMDGPU/narrow_math_for_and.ll
  llvm/test/CodeGen/AMDGPU/widen-smrd-loads.ll
Labels: backend:AMDGPU, llvm:transforms

#132684 AsmPrinter: Remove ELF's special lowerRelativeReference for unnamed_addr function
  llvm/include/llvm/CodeGen/TargetLoweringObjectFileImpl.h
  llvm/lib/CodeGen/TargetLoweringObjectFileImpl.cpp
  llvm/test/CodeGen/ARM/relative-reloc.ll
  llvm/test/CodeGen/RISCV/relative-reloc.ll
  llvm/test/CodeGen/X86/relative-reloc-32.ll
  llvm/test/CodeGen/X86/relative-reloc-64.ll
Labels: backend:ARM, backend:X86

#133820 [RISCV] Add exhaustive diassember tests for c.slli64. NFC
  llvm/test/MC/Disassembler/RISCV/c_slli.txt
Labels: mc

#133805 [RISCV] Prevent disassembling RVC hint instructions with x16-x31 for RVE.
  llvm/lib/Target/RISCV/Disassembler/RISCVDisassembler.cpp
  llvm/test/MC/RISCV/rve-invalid.s
Labels: backend:RISC-V, mc

#133816 [RISCV] Correct disassembly of cm.push/pop for RVE.
  llvm/lib/Target/RISCV/Disassembler/RISCVDisassembler.cpp
  llvm/test/MC/RISCV/rv32e-xqccmp-invalid.s
  llvm/test/MC/RISCV/rv32e-zcmp-invalid.s
  llvm/test/MC/RISCV/rv64e-xqccmp-invalid.s
  llvm/test/MC/RISCV/rv64e-zcmp-invalid.s
Labels: backend:RISC-V, mc

#133845 [lld] Use DenseMap::insert_range (NFC)
  lld/COFF/DebugTypes.cpp
Labels: lld, lld:COFF, platform:windows

#133789 [RISCV] Use decodeCLUIImmOperand when disassembling C_LUI_HINT.
  llvm/lib/Target/RISCV/Disassembler/RISCVDisassembler.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoC.td
  llvm/test/MC/Disassembler/RISCV/c_lui_disasm.txt
Labels: backend:RISC-V, mc

#133844 [clang-tidy] Use DenseMap::insert_range (NFC)
  clang-tools-extra/clang-tidy/utils/ExprSequence.cpp
Labels: clang-tools-extra, clang-tidy

#133846 [lldb] Use DenseMap::insert_range (NFC)
  lldb/source/Plugins/ABI/X86/ABIX86.cpp
Labels: lldb

#111359 [Flang] Make a private copy for the common block variables in copyin clause
  flang/lib/Lower/Bridge.cpp
  flang/test/Lower/OpenMP/copyin.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#133045 [Analysis] Avoid repeated hash lookups (NFC)
  llvm/lib/Analysis/ScalarEvolution.cpp
Labels: llvm:analysis

#133280 [mlir][mpi] Mandatory Communicator
  mlir/include/mlir/Dialect/MPI/IR/MPIOps.td
  mlir/include/mlir/Dialect/MPI/IR/MPITypes.td
  mlir/lib/Conversion/MPIToLLVM/MPIToLLVM.cpp
  mlir/lib/Conversion/MeshToMPI/MeshToMPI.cpp
  mlir/test/Conversion/MPIToLLVM/mpitollvm.mlir
  mlir/test/Conversion/MeshToMPI/convert-mesh-to-mpi.mlir
  mlir/test/Dialect/MPI/mpiops.mlir
Labels: mlir

#133852 [clang][bytecode] Fix comparing the addresses of union members
  clang/lib/AST/ByteCode/Interp.h
  clang/lib/AST/ByteCode/Pointer.cpp
  clang/lib/AST/ByteCode/Pointer.h
  clang/test/AST/ByteCode/unions.cpp
Labels: clang, clang:frontend

#133838 [NFC] Remove the unused hasMinSize()
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/RISCV/GISel/RISCVLegalizerInfo.cpp
  llvm/lib/Transforms/Instrumentation/PGOForceFunctionAttrs.cpp
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
Labels: backend:AArch64, backend:RISC-V, vectorizers, PGO, llvm:transforms

#133084 [AArch64] Bugfix when using execute-only and memtag sanitizer together
  llvm/lib/Target/AArch64/MCTargetDesc/AArch64ELFStreamer.cpp
  llvm/test/MC/AArch64/execute-only-memtag.ll
Labels: backend:AArch64, mc

#133724 [X86] combineINSERT_SUBVECTOR - fold insert_subvector(base,extract_subvector(broadcast)) -> blend shuffle(base,broadcast) (REAPPLIED)
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/any_extend_vector_inreg_of_broadcast.ll
  llvm/test/CodeGen/X86/any_extend_vector_inreg_of_broadcast_from_memory.ll
  llvm/test/CodeGen/X86/insert-subvector-broadcast.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i32-stride-5.ll
Labels: backend:X86

#133851 llvm-reduce: Use takeName when moving arguments in operands-to-args
  llvm/tools/llvm-reduce/deltas/ReduceOperandsToArgs.cpp
Labels: llvm-reduce, skip-precommit-approval

#133814 [mlir][tosa] Reorder ERF op to align with TOSA spec
  mlir/include/mlir/Dialect/Tosa/IR/TosaOps.td
Labels: mlir, mlir:tosa

#133220 [mlir] Improve error handling for dense attribute parsing in complex types
  mlir/lib/AsmParser/AttributeParser.cpp
  mlir/test/IR/invalid-builtin-attributes.mlir
Labels: mlir:core, mlir

#133761 [AMDGPU] Fix SIFoldOperandsImpl::tryFoldZeroHighBits when met non-reg src1 operand.
  llvm/lib/Target/AMDGPU/SIFoldOperands.cpp
  llvm/test/CodeGen/AMDGPU/fold-zero-high-bits-skips-non-reg.mir
Labels: backend:AMDGPU

#127043 [AARCH64][Neon] switch to using bitcasts in arm_neon.h where appropriate
  clang/include/clang/Basic/TargetBuiltins.h
  clang/include/clang/Basic/arm_neon.td
  clang/lib/CodeGen/CodeGenFunction.h
  clang/lib/CodeGen/TargetBuiltins/ARM.cpp
  clang/test/CodeGen/AArch64/bf16-dotprod-intrinsics.c
  clang/test/CodeGen/AArch64/bf16-getset-intrinsics.c
  clang/test/CodeGen/AArch64/bf16-reinterpret-intrinsics.c
  clang/test/CodeGen/AArch64/fp8-intrinsics/acle_neon_fp8_cvt.c
  clang/test/CodeGen/AArch64/fp8-intrinsics/acle_neon_fp8_fdot.c
  clang/test/CodeGen/AArch64/fp8-intrinsics/acle_neon_fp8_fmla.c
  clang/test/CodeGen/AArch64/fp8-intrinsics/acle_neon_fp8_reinterpret.c
  clang/test/CodeGen/AArch64/neon-2velem.c
  clang/test/CodeGen/AArch64/neon-extract.c
  clang/test/CodeGen/AArch64/neon-fma.c
  clang/test/CodeGen/AArch64/neon-fp16fml.c
  clang/test/CodeGen/AArch64/neon-intrinsics-constrained.c
  clang/test/CodeGen/AArch64/neon-intrinsics.c
  clang/test/CodeGen/AArch64/neon-ldst-one-rcpc3.c
  clang/test/CodeGen/AArch64/neon-ldst-one.c
  clang/test/CodeGen/AArch64/neon-misc-constrained.c
  clang/test/CodeGen/AArch64/neon-misc.c
  clang/test/CodeGen/AArch64/neon-perm.c
  clang/test/CodeGen/AArch64/neon-scalar-x-indexed-elem-constrained.c
  clang/test/CodeGen/AArch64/neon-scalar-x-indexed-elem.c
  clang/test/CodeGen/AArch64/neon-vcmla.c
  clang/test/CodeGen/AArch64/poly-add.c
  clang/test/CodeGen/AArch64/poly128.c
  clang/test/CodeGen/AArch64/poly64.c
  clang/test/CodeGen/AArch64/v8.1a-neon-intrinsics.c
  clang/test/CodeGen/AArch64/v8.2a-neon-intrinsics-constrained.c
  clang/test/CodeGen/AArch64/v8.2a-neon-intrinsics-generic.c
  clang/test/CodeGen/AArch64/v8.2a-neon-intrinsics.c
  clang/test/CodeGen/AArch64/v8.5a-neon-frint3264-intrinsic.c
  clang/test/CodeGen/AArch64/v8.6a-neon-intrinsics.c
  clang/test/CodeGen/arm-bf16-dotprod-intrinsics.c
  clang/test/CodeGen/arm-bf16-getset-intrinsics.c
  clang/test/CodeGen/arm-neon-directed-rounding.c
  clang/test/CodeGen/arm-neon-fma.c
  clang/test/CodeGen/arm-neon-numeric-maxmin.c
  clang/test/CodeGen/arm-neon-vcvtX.c
  clang/test/CodeGen/arm-neon-vst.c
  clang/test/CodeGen/arm64-vrnd-constrained.c
  clang/test/CodeGen/arm64-vrnd.c
  clang/test/CodeGen/arm64_vcreate.c
  clang/test/CodeGen/arm64_vdupq_n_f64.c
  clang/test/CodeGen/arm_neon_intrinsics.c
  clang/utils/TableGen/NeonEmitter.cpp
  llvm/test/CodeGen/AArch64/v8.2a-neon-intrinsics-constrained.ll
Labels: clang, backend:AArch64, clang:frontend, clang:codegen

#133738 [LLD][AArch64] Increase alignment of AArch64AbsLongThunk to 8
  lld/ELF/SyntheticSections.cpp
  lld/ELF/Thunks.cpp
  lld/test/ELF/aarch64-call26-thunk.s
  lld/test/ELF/aarch64-cortex-a53-843419-thunk.s
  lld/test/ELF/aarch64-jump26-thunk.s
  lld/test/ELF/aarch64-range-thunk-extension-plt32.s
  lld/test/ELF/aarch64-thunk-align.s
  lld/test/ELF/aarch64-thunk-bti-multipass.s
  lld/test/ELF/aarch64-thunk-bti.s
Labels: lld, lld:ELF

#133753 [X86] splitVector - split concat_vectors(a,b,c,d) -> concat_vectors(a,b) + concat_vectors(c,d)
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/vector-interleaved-load-i8-stride-3.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i16-stride-3.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i16-stride-4.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i16-stride-5.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i16-stride-6.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i16-stride-7.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i16-stride-8.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i8-stride-4.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i8-stride-5.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i8-stride-6.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i8-stride-7.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i8-stride-8.ll
Labels: backend:X86

#133469 [Clang][SPIR-V] Fix convergence tokens for dtor
  clang/lib/CodeGen/CGDeclCXX.cpp
  clang/test/CodeGenHLSL/GlobalDestructors.hlsl
Labels: clang, clang:codegen, HLSL

#112555 [lldb] add --platform-available-ports option to the dotest.py
  lldb/packages/Python/lldbsuite/test/configuration.py
  lldb/packages/Python/lldbsuite/test/dotest.py
  lldb/packages/Python/lldbsuite/test/dotest_args.py
  lldb/packages/Python/lldbsuite/test/lldbtest.py
  lldb/packages/Python/lldbsuite/test/tools/lldb-server/gdbremote_testcase.py
Labels: lldb

#132994 [flang][OpenMP][Lower] lower array subscripts for task depend
  flang/lib/Lower/OpenMP/ClauseProcessor.cpp
  flang/lib/Lower/OpenMP/ClauseProcessor.h
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/test/Lower/OpenMP/Todo/depend-clause-vector-subscript-array-section.f90
  flang/test/Lower/OpenMP/target.f90
  flang/test/Lower/OpenMP/task-depend-array-section.f90
  flang/test/Lower/OpenMP/task.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#133435 [OpenMP] Fix num_iters in __kmpc_*_loop DeviceRTL functions
  offload/DeviceRTL/src/Workshare.cpp
Labels: offload

#133554 [EarlyIfConverter] Fix reg killed twice after early-if-predicator and ifcvt
  llvm/lib/CodeGen/EarlyIfConversion.cpp
  llvm/test/CodeGen/AArch64/early-ifcvt-on-double-killed-reg.mir
  llvm/test/CodeGen/Hexagon/early-if-predicator-reg-killed-everywhere.mir
Labels: backend:AArch64, backend:Hexagon

#129865 [CodeGen][NPM] Port XRayInstrumentation to NPM
  llvm/include/llvm/CodeGen/XRayInstrumentation.h
  llvm/include/llvm/InitializePasses.h
  llvm/include/llvm/Passes/CodeGenPassBuilder.h
  llvm/include/llvm/Passes/MachinePassRegistry.def
  llvm/lib/CodeGen/CodeGen.cpp
  llvm/lib/CodeGen/XRayInstrumentation.cpp
  llvm/lib/Passes/PassBuilder.cpp
  llvm/test/CodeGen/X86/xray-empty-firstmbb.mir
  llvm/test/CodeGen/X86/xray-multiplerets-in-blocks.mir
Labels: backend:X86

#132284 [clang] Fix crash on invalid `std::initializer_list<T>` template-id
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/test/SemaCXX/invalid-std-initializer-list.cpp
Labels: clang, clang:frontend

#127655 [bolt][aarch64] Adding test with unsupported indirect branches
  bolt/lib/Core/BinaryFunction.cpp
  bolt/test/AArch64/jmp-table-unsupported.s
Labels: BOLT

#133883 llvm-reduce: Prune some unneeded includes and forward declares
  llvm/tools/llvm-reduce/deltas/ReduceAttributes.cpp
  llvm/tools/llvm-reduce/deltas/ReduceOperandBundles.cpp
  llvm/tools/llvm-reduce/deltas/ReduceVirtualRegisters.h
Labels: llvm-reduce, skip-precommit-approval

#133766 No longer assert on incorrect attribute argument index
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/test/Sema/attr-args.c
Labels: clang, clang:frontend, crash-on-invalid

#126928 [LLVM][InstCombine][AArch64] Refactor common SVE intrinsic combines.
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
Labels: backend:AArch64

#133037 [clang-repl] Implement LoadDynamicLibrary for clang-repl wasm use cases
  clang/lib/Interpreter/IncrementalExecutor.h
  clang/lib/Interpreter/Interpreter.cpp
  clang/lib/Interpreter/Wasm.cpp
  clang/lib/Interpreter/Wasm.h
Labels: clang, clang:frontend

#127797 [Clang][LLVM] Implement single-single vectors MOP4{A/S}
  clang/include/clang/Basic/arm_sme.td
  clang/test/CodeGen/AArch64/sme2-intrinsics/acle_sme2_mop4_1x1.c
  clang/test/Sema/aarch64-sme2p2-instrinsics/acle_sme2p2_imm.cpp
  llvm/include/llvm/IR/IntrinsicsAArch64.td
  llvm/lib/Target/AArch64/AArch64SMEInstrInfo.td
  llvm/lib/Target/AArch64/SMEInstrFormats.td
  llvm/test/CodeGen/AArch64/sme2-intrinsics-mop4a_1x1.ll
Labels: clang, backend:AArch64, clang:frontend, llvm:ir

#132422 [mlir][Linalg] Add transform to convert linalg.copy into memref.copy
  mlir/include/mlir/Dialect/Linalg/TransformOps/LinalgTransformOps.td
  mlir/lib/Dialect/Linalg/TransformOps/LinalgTransformOps.cpp
  mlir/test/Dialect/Linalg/transform-op-linalg-copy-to-memref.mlir
Labels: mlir:linalg, mlir

#130092 [LV] Improve a test, regen with UTC
  llvm/test/Transforms/LoopVectorize/X86/reduction-crash.ll
Labels: llvm:transforms

#132406 [flang/flang-rt] Implement PERROR intrinsic form GNU Extension
  flang-rt/lib/runtime/extensions.cpp
  flang/docs/Intrinsics.md
  flang/include/flang/Optimizer/Builder/IntrinsicCall.h
  flang/include/flang/Optimizer/Builder/Runtime/Command.h
  flang/include/flang/Runtime/extensions.h
  flang/lib/Evaluate/intrinsics.cpp
  flang/lib/Optimizer/Builder/IntrinsicCall.cpp
  flang/lib/Optimizer/Builder/Runtime/Command.cpp
  flang/test/Lower/Intrinsics/perror.f90
Labels: flang, flang:fir-hlfir, flang:semantics

#133726 [MLIR] Adding 'no_inline' and 'always_inline' attributes on LLMV::CallOp
  mlir/include/mlir/Dialect/LLVMIR/LLVMOps.td
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/lib/Target/LLVMIR/Dialect/LLVMIR/LLVMToLLVMIRTranslation.cpp
  mlir/lib/Target/LLVMIR/ModuleImport.cpp
  mlir/test/Target/LLVMIR/Import/call-attributes.ll
  mlir/test/Target/LLVMIR/llvmir.mlir
Labels: mlir:llvm, mlir

#128854 [Clang][LLVM] Implement single-multi vectors MOP4{A/S}
  clang/include/clang/Basic/arm_sme.td
  clang/include/clang/Basic/arm_sve.td
  clang/test/CodeGen/AArch64/sme2-intrinsics/acle_sme2_mop4_1x2.c
  clang/test/Sema/aarch64-sme2p2-instrinsics/acle_sme2p2_imm.cpp
  clang/utils/TableGen/SveEmitter.cpp
  llvm/include/llvm/IR/IntrinsicsAArch64.td
  llvm/lib/Target/AArch64/SMEInstrFormats.td
  llvm/test/CodeGen/AArch64/sme2-intrinsics-mop4a_1x2.ll
Labels: clang, backend:AArch64, clang:frontend, llvm:ir

#133860 [X86] Construct SmallVector with ArrayRef (NFC)
  llvm/lib/Target/X86/X86ISelLowering.cpp
Labels: backend:X86

#133150 [libc][math] Implement a fast pass for atan2f128 with 1ULP error using DyadicFloat<128>.
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/docs/headers/math/index.rst
  libc/include/math.yaml
  libc/src/__support/FPUtil/dyadic_float.h
  libc/src/math/CMakeLists.txt
  libc/src/math/atan2f128.h
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/atan2f128.cpp
  libc/src/math/generic/atan_utils.h
  libc/test/src/math/CMakeLists.txt
  libc/test/src/math/atan2f128_test.cpp
  libc/test/src/math/smoke/CMakeLists.txt
  libc/test/src/math/smoke/atan2f128_test.cpp
Labels: libc

#133866 [RISCV] Validate the end of register ranges in Zcmp register lists.
  llvm/lib/Target/RISCV/AsmParser/RISCVAsmParser.cpp
  llvm/test/MC/RISCV/rv32zcmp-invalid.s
  llvm/test/MC/RISCV/rv64zcmp-invalid.s
Labels: backend:RISC-V, mc

#133867 [RISCV] Merge RegStart with RegEnd in parseRegListCommon. NFC
  llvm/lib/Target/RISCV/AsmParser/RISCVAsmParser.cpp
Labels: backend:RISC-V

#133152 Fix complex long double division with -mno-x87.
  clang/lib/CodeGen/CGExprComplex.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/test/CodeGen/promoted-complex-div.c
Labels: clang, clang:frontend, clang:codegen

#133855 llvm-reduce: Fix invalid reduction on tokens in operands-to-args
  llvm/test/tools/llvm-reduce/reduce-operands-to-args-token.ll
  llvm/tools/llvm-reduce/deltas/ReduceOperandsToArgs.cpp
Labels: llvm-reduce

#133857 llvm-reduce: Add test for token handling in operands-skip
  llvm/test/tools/llvm-reduce/reduce-operands-skip-token.ll
Labels: llvm-reduce

#133433 [AArch64] Prefer zip over ushll for anyext.
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/test/CodeGen/AArch64/andorxor.ll
  llvm/test/CodeGen/AArch64/bitcast-promote-widen.ll
  llvm/test/CodeGen/AArch64/bitcast.ll
  llvm/test/CodeGen/AArch64/extbinopload.ll
  llvm/test/CodeGen/AArch64/extract-subvec-combine.ll
  llvm/test/CodeGen/AArch64/neon-bitcast.ll
  llvm/test/CodeGen/AArch64/sve-fixed-length-extract-subvector.ll
  llvm/test/CodeGen/AArch64/vec3-loads-ext-trunc-stores.ll
  llvm/test/CodeGen/AArch64/zext.ll
Labels: backend:AArch64

#133812 [flang] Inline fir.is_contiguous_box in some cases.
  flang/lib/Optimizer/Transforms/SimplifyFIROperations.cpp
  flang/test/Transforms/simplify-fir-operations.fir
Labels: flang, flang:fir-hlfir

#133749 [C11] Claim conformance to WG14 N1518
  clang/test/C/C11/n1518.c
  clang/www/c_status.html
Labels: clang, website, c11, clang:frontend

#133787 [mlir][bazel] add alwayslink=True to mlir-runner utils
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: bazel

#133186 [SCEV] Remove EqCacheSCEV
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/unittests/Analysis/ScalarEvolutionTest.cpp
Labels: llvm:analysis

#133732 [MLIR][NFC] Retire let constructor for EmitC
  mlir/include/mlir/Dialect/EmitC/Transforms/Passes.h
  mlir/include/mlir/Dialect/EmitC/Transforms/Passes.td
  mlir/lib/Dialect/EmitC/Transforms/FormExpressions.cpp
Labels: mlir, mlir:emitc

#132089 [AMDGPU][True16][CodeGen] fix moveToVALU with proper subreg access in true16
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/test/CodeGen/AMDGPU/fix-sgpr-copies-f16-true16.mir
  llvm/test/CodeGen/AMDGPU/llvm.cos.f16.ll
  llvm/test/CodeGen/AMDGPU/llvm.maximum.f16.ll
  llvm/test/CodeGen/AMDGPU/llvm.minimum.f16.ll
  llvm/test/CodeGen/AMDGPU/llvm.rint.f16.ll
  llvm/test/CodeGen/AMDGPU/llvm.sin.f16.ll
  llvm/test/CodeGen/AMDGPU/llvm.trunc.f16.ll
  llvm/test/CodeGen/AMDGPU/load-constant-i16.ll
  llvm/test/CodeGen/AMDGPU/select.f16.ll
Labels: backend:AMDGPU

#133290 Add a new affordance that the Python module in a dSYM
  lldb/bindings/python/python-wrapper.swig
  lldb/include/lldb/Interpreter/ScriptInterpreter.h
  lldb/source/Core/Module.cpp
  lldb/source/Interpreter/ScriptInterpreter.cpp
  lldb/source/Plugins/ScriptInterpreter/Python/SWIGPythonBridge.h
  lldb/source/Plugins/ScriptInterpreter/Python/ScriptInterpreterPython.cpp
  lldb/source/Plugins/ScriptInterpreter/Python/ScriptInterpreterPythonImpl.h
  lldb/test/API/macosx/dsym_modules/Makefile
  lldb/test/API/macosx/dsym_modules/TestdSYMModuleInit.py
  lldb/test/API/macosx/dsym_modules/has_dsym.py
  lldb/test/API/macosx/dsym_modules/main.c
  lldb/unittests/ScriptInterpreter/Python/PythonTestSuite.cpp
Labels: lldb

#133865 llvm-reduce: Reduce global variable code model
  llvm/include/llvm/IR/GlobalVariable.h
  llvm/lib/IR/Globals.cpp
  llvm/test/tools/llvm-reduce/reduce-code-model.ll
  llvm/tools/llvm-reduce/deltas/ReduceGlobalValues.cpp
Labels: llvm-reduce, llvm:ir

#133553 [mlir][AMDGPU] Add gfx950 MFMAs to the amdgpu.mfma op
  mlir/include/mlir/Dialect/AMDGPU/IR/AMDGPU.td
  mlir/lib/Conversion/AMDGPUToROCDL/AMDGPUToROCDL.cpp
  mlir/lib/Dialect/AMDGPU/IR/AMDGPUDialect.cpp
  mlir/test/Conversion/AMDGPUToROCDL/mfma-gfx950.mlir
  mlir/test/Dialect/AMDGPU/invalid.mlir
Labels: backend:AMDGPU, mlir:gpu, mlir, mlir:amdgpu

#133887 llvm-reduce: Add target-features-attr reduction
  llvm/test/tools/llvm-reduce/reduce-target-features-attr.ll
  llvm/tools/llvm-reduce/CMakeLists.txt
  llvm/tools/llvm-reduce/DeltaManager.cpp
  llvm/tools/llvm-reduce/DeltaPasses.def
  llvm/tools/llvm-reduce/deltas/ReduceTargetFeaturesAttr.cpp
  llvm/tools/llvm-reduce/deltas/ReduceTargetFeaturesAttr.h
  llvm/utils/gn/secondary/llvm/tools/llvm-reduce/BUILD.gn
Labels: llvm-reduce

#133803 [flang][device] Enable Stop functions on device build
  flang-rt/lib/runtime/CMakeLists.txt
  flang-rt/lib/runtime/stop.cpp
  flang/include/flang/Runtime/stop.h
Labels: flang

#133797 [clang-sycl-linker] Replace llvm-link with API calls
  clang/test/Driver/Inputs/SYCL/bar.ll
  clang/test/Driver/Inputs/SYCL/baz.ll
  clang/test/Driver/Inputs/SYCL/foo.ll
  clang/test/Driver/Inputs/SYCL/libsycl.ll
  clang/test/Driver/clang-sycl-linker-test.cpp
  clang/test/Driver/link-device-code.test
  clang/test/Driver/sycl-link-spirv-target.cpp
  clang/tools/clang-sycl-linker/CMakeLists.txt
  clang/tools/clang-sycl-linker/ClangSYCLLinker.cpp
  clang/tools/clang-sycl-linker/SYCLLinkOpts.td
Labels: clang, clang:driver, SYCL

#133919 llvm-reduce: Make myself maintainer
  llvm/Maintainers.md
Labels: llvm-reduce

#126546 [WebAssembly] Support parsing .lto_set_conditional
  llvm/lib/MC/WasmObjectWriter.cpp
  llvm/test/MC/WebAssembly/lto-set-conditional.s
Labels: backend:WebAssembly, mc

#133091 [SLP]Support revectorization of the previously vectorized scalars
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/AArch64/reused-scalar-repeated-in-node.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/transpose-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/transpose.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/vec3-reorder-reshuffle.ll
  llvm/test/Transforms/SLPVectorizer/X86/cast-operand-extracted.ll
  llvm/test/Transforms/SLPVectorizer/X86/scatter-vectorize-reorder.ll
  llvm/test/Transforms/SLPVectorizer/X86/vec3-reorder-reshuffle.ll
Labels: vectorizers, llvm:transforms

#133973 [OpenMP] [AIX] Add missing } in openmp/runtime/src/z_Linux_util.cpp
  openmp/runtime/src/z_Linux_util.cpp
Labels: openmp:libomp

#133500 [clang][Modules] Fix the Size of `RecordDecl`'s `BitCodeAbbrevOp`
  clang/lib/Serialization/ASTWriterDecl.cpp
Labels: clang, clang:modules

#133826 [lldb] Fix intel trace plugin tests
  lldb/packages/Python/lldbsuite/test/tools/intelpt/intelpt_testcase.py
  lldb/source/Target/ProcessTrace.cpp
  lldb/test/API/commands/trace/TestTraceDumpFunctionCalls.py
  lldb/test/API/commands/trace/TestTraceEvents.py
  lldb/test/API/commands/trace/TestTraceSave.py
  lldb/test/API/commands/trace/TestTraceStartStop.py
  lldb/test/API/commands/trace/TestTraceTSC.py
  lldb/test/API/commands/trace/multiple-threads/TestTraceStartStopMultipleThreads.py
  lldb/unittests/Process/CMakeLists.txt
  lldb/unittests/Process/ProcessTraceTest.cpp
Labels: lldb

#133157 [CIR] Upstream support for while and do..while loops
  clang/include/clang/CIR/Dialect/Builder/CIRBaseBuilder.h
  clang/include/clang/CIR/Dialect/IR/CIRDialect.h
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/CodeGen/CIRGenFunction.h
  clang/lib/CIR/CodeGen/CIRGenStmt.cpp
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/test/CIR/CodeGen/loop.cpp
  clang/test/CIR/Transforms/loop.cir
Labels: clang, ClangIR

#133793 Stop using __attribute__((retain)) in GCC builds
  llvm/include/llvm/Support/Compiler.h
Labels: llvm:support

#133468 [HLSL] Add SPIR-V target type for RWStructuredBuffers
  clang/lib/CodeGen/Targets/SPIR.cpp
  clang/test/CodeGenHLSL/builtins/StructuredBuffers-constructors.hlsl
Labels: clang, clang:codegen, HLSL

#133167 [mlir][spirv] Verify matching of entry block arguments and function signature
  mlir/lib/Dialect/SPIRV/IR/SPIRVOps.cpp
  mlir/test/Dialect/SPIRV/IR/function-decorations.mlir
Labels: mlir:spirv, mlir

#133545 [cmake] Refactor clang unittest cmake
  clang/unittests/AST/ByteCode/CMakeLists.txt
  clang/unittests/AST/CMakeLists.txt
  clang/unittests/ASTMatchers/CMakeLists.txt
  clang/unittests/ASTMatchers/Dynamic/CMakeLists.txt
  clang/unittests/Analysis/CMakeLists.txt
  clang/unittests/Analysis/FlowSensitive/CMakeLists.txt
  clang/unittests/Basic/CMakeLists.txt
  clang/unittests/CMakeLists.txt
  clang/unittests/CodeGen/CMakeLists.txt
  clang/unittests/CrossTU/CMakeLists.txt
  clang/unittests/DirectoryWatcher/CMakeLists.txt
  clang/unittests/Driver/CMakeLists.txt
  clang/unittests/Format/CMakeLists.txt
  clang/unittests/Frontend/CMakeLists.txt
  clang/unittests/Index/CMakeLists.txt
  clang/unittests/InstallAPI/CMakeLists.txt
  clang/unittests/Interpreter/CMakeLists.txt
  clang/unittests/Interpreter/ExceptionTests/CMakeLists.txt
  clang/unittests/Lex/CMakeLists.txt
  clang/unittests/Rewrite/CMakeLists.txt
  clang/unittests/Sema/CMakeLists.txt
  clang/unittests/Serialization/CMakeLists.txt
  clang/unittests/StaticAnalyzer/CMakeLists.txt
  clang/unittests/Support/CMakeLists.txt
  clang/unittests/Tooling/CMakeLists.txt
  clang/unittests/Tooling/Syntax/CMakeLists.txt
  clang/unittests/libclang/CMakeLists.txt
  clang/unittests/libclang/CrashTests/CMakeLists.txt
Labels: clang, clang:driver, clang-format, clang:modules, clang:dataflow

#133958 Reland "[HLSL][RootSignature] Implement parsing of a DescriptorTable with empty clauses"
  clang/include/clang/Basic/DiagnosticParseKinds.td
  clang/include/clang/Lex/HLSLRootSignatureTokenKinds.def
  clang/include/clang/Lex/LexHLSLRootSignature.h
  clang/include/clang/Parse/ParseHLSLRootSignature.h
  clang/lib/Lex/LexHLSLRootSignature.cpp
  clang/lib/Parse/CMakeLists.txt
  clang/lib/Parse/ParseHLSLRootSignature.cpp
  clang/unittests/CMakeLists.txt
  clang/unittests/Lex/LexHLSLRootSignatureTest.cpp
  clang/unittests/Parse/CMakeLists.txt
  clang/unittests/Parse/ParseHLSLRootSignatureTest.cpp
  llvm/include/llvm/Frontend/HLSL/HLSLRootSignature.h
Labels: HLSL

#133528 Reapply "[sanitizer] intercept getservent_r, getservbyname_r, getservbyport_r" (#133358)
  compiler-rt/lib/msan/tests/msan_test.cpp
  compiler-rt/lib/sanitizer_common/sanitizer_common_interceptors.inc
  compiler-rt/lib/sanitizer_common/sanitizer_platform_interceptors.h
  compiler-rt/lib/sanitizer_common/sanitizer_platform_limits_posix.h
  compiler-rt/test/sanitizer_common/TestCases/Linux/getservent_r.cpp
  compiler-rt/test/sanitizer_common/lit.common.cfg.py
Labels: compiler-rt, compiler-rt:msan, compiler-rt:sanitizer

#130259 [mlir][IR] Delete `match` and `rewrite` functions
  mlir/include/mlir/Conversion/LLVMCommon/Pattern.h
  mlir/include/mlir/IR/PatternMatch.h
  mlir/include/mlir/Transforms/DialectConversion.h
Labels: mlir:core, mlir:llvm, mlir

#129622 Fix handling of auto_continue for stop hooks
  lldb/source/Target/Target.cpp
  lldb/test/API/commands/target/stop-hooks/TestStopHooks.py
Labels: lldb

#133027 Backport/20.x: [LoongArch] Fix the type of tls-le symbols
  llvm/lib/Target/LoongArch/MCTargetDesc/LoongArchMCExpr.cpp
  llvm/test/CodeGen/LoongArch/fix-tle-le-sym-type.ll
Labels: backend:loongarch

#133999 [libc] Stop depending on .cpp files libcxx_shared_headers library.
  libc/src/__support/CMakeLists.txt
  libc/src/__support/libc_assert.h
  libc/src/__support/str_to_float.h
  libc/src/__support/str_to_integer.h
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: libc, bazel

#133869 [lldb] Prefer PointerType::get with LLVMContext over Type (NFC)
  lldb/source/Plugins/ExpressionParser/Clang/IRDynamicChecks.cpp
  lldb/source/Plugins/ExpressionParser/Clang/IRForTarget.cpp
Labels: lldb

#133239 [OpenMP] allow openmp build for sparc
  openmp/runtime/CMakeLists.txt
  openmp/runtime/cmake/LibompGetArchitecture.cmake
  openmp/runtime/cmake/config-ix.cmake
  openmp/runtime/src/kmp_gsupport.cpp
  openmp/runtime/src/kmp_os.h
  openmp/runtime/src/kmp_platform.h
  openmp/runtime/src/kmp_runtime.cpp
Labels: openmp:libomp

#132626 [clang] Concepts: support pack expansions for type constraints
  clang-tools-extra/clang-tidy/modernize/UseConstraintsCheck.cpp
  clang/docs/ReleaseNotes.rst
  clang/include/clang/AST/ASTConcept.h
  clang/include/clang/AST/ASTContext.h
  clang/include/clang/AST/Decl.h
  clang/include/clang/AST/DeclTemplate.h
  clang/include/clang/AST/PropertiesBase.td
  clang/include/clang/AST/Type.h
  clang/include/clang/AST/TypeProperties.td
  clang/include/clang/Sema/Sema.h
  clang/include/clang/Sema/SemaConcept.h
  clang/lib/AST/ASTContext.cpp
  clang/lib/AST/ASTImporter.cpp
  clang/lib/AST/DeclTemplate.cpp
  clang/lib/AST/Type.cpp
  clang/lib/Sema/SemaCodeComplete.cpp
  clang/lib/Sema/SemaConcept.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaExprCXX.cpp
  clang/lib/Sema/SemaOverload.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/lib/Sema/SemaTemplateInstantiate.cpp
  clang/lib/Sema/SemaType.cpp
  clang/lib/Serialization/ASTReaderDecl.cpp
  clang/lib/Serialization/ASTWriterDecl.cpp
  clang/test/SemaCXX/cxx20-ctad-type-alias.cpp
  clang/test/SemaCXX/fold_lambda_with_variadics.cpp
  clang/unittests/AST/SourceLocationTest.cpp
Labels: clang, clang-tools-extra, clang-tidy, clang:frontend, clang:modules

#133843 LLVM/Test: Add vectorizing testcases for fminimumnum and fminimumnum
  llvm/test/Transforms/LoopVectorize/AArch64/fminimumnum.ll
  llvm/test/Transforms/LoopVectorize/RISCV/fminimumnum.ll
  llvm/test/Transforms/LoopVectorize/X86/fminimumnum.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/fminimumnum.ll
  llvm/test/Transforms/SLPVectorizer/RISCV/fminimumnum.ll
  llvm/test/Transforms/SLPVectorizer/X86/fminimumnum.ll
Labels: llvm:transforms

#133839 [LoongArch] Move fix-tle-le-sym-type test to test/MC. NFC
  llvm/test/CodeGen/LoongArch/fix-tle-le-sym-type.ll
  llvm/test/MC/LoongArch/Relocations/relocation-specifier.s
Labels: mc, backend:loongarch

#133858 llvm-reduce: Do not delete convergencectrl in operand-bundles
  llvm/test/tools/llvm-reduce/remove-operand-bundles-convergencectrl.ll
  llvm/tools/llvm-reduce/deltas/ReduceOperandBundles.cpp
Labels: llvm-reduce

#134022 Revert "[cmake] Refactor clang unittest cmake"
  clang/unittests/AST/ByteCode/CMakeLists.txt
  clang/unittests/AST/CMakeLists.txt
  clang/unittests/ASTMatchers/CMakeLists.txt
  clang/unittests/ASTMatchers/Dynamic/CMakeLists.txt
  clang/unittests/Analysis/CMakeLists.txt
  clang/unittests/Analysis/FlowSensitive/CMakeLists.txt
  clang/unittests/Basic/CMakeLists.txt
  clang/unittests/CMakeLists.txt
  clang/unittests/CodeGen/CMakeLists.txt
  clang/unittests/CrossTU/CMakeLists.txt
  clang/unittests/DirectoryWatcher/CMakeLists.txt
  clang/unittests/Driver/CMakeLists.txt
  clang/unittests/Format/CMakeLists.txt
  clang/unittests/Frontend/CMakeLists.txt
  clang/unittests/Index/CMakeLists.txt
  clang/unittests/InstallAPI/CMakeLists.txt
  clang/unittests/Interpreter/CMakeLists.txt
  clang/unittests/Interpreter/ExceptionTests/CMakeLists.txt
  clang/unittests/Lex/CMakeLists.txt
  clang/unittests/Rewrite/CMakeLists.txt
  clang/unittests/Sema/CMakeLists.txt
  clang/unittests/Serialization/CMakeLists.txt
  clang/unittests/StaticAnalyzer/CMakeLists.txt
  clang/unittests/Support/CMakeLists.txt
  clang/unittests/Tooling/CMakeLists.txt
  clang/unittests/Tooling/Syntax/CMakeLists.txt
  clang/unittests/libclang/CMakeLists.txt
  clang/unittests/libclang/CrashTests/CMakeLists.txt
Labels: clang, clang:driver, clang-format, clang:modules, clang:dataflow

#133416 [mlir][liveness] fix bugs in liveness analysis
  mlir/include/mlir/Analysis/DataFlow/SparseAnalysis.h
  mlir/lib/Analysis/DataFlow/LivenessAnalysis.cpp
  mlir/test/Analysis/DataFlow/test-liveness-analysis.mlir
Labels: mlir

#132986 [RISCV] Add Xqci Insn Formats
  llvm/lib/Target/RISCV/AsmParser/RISCVAsmParser.cpp
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVBaseInfo.h
  llvm/lib/Target/RISCV/RISCVInstrFormats.td
  llvm/lib/Target/RISCV/RISCVInstrInfo.td
  llvm/lib/Target/RISCV/RISCVInstrInfoC.td
  llvm/lib/Target/RISCV/RISCVInstrInfoXqci.td
  llvm/test/MC/RISCV/insn_xqci-invalid.s
  llvm/test/MC/RISCV/insn_xqci.s
  llvm/test/MC/RISCV/rv64xtheadmemidx-invalid.s
Labels: backend:RISC-V, mc

#134017 [Sema] Use llvm::erase_if (NFC)
  clang/lib/Sema/TreeTransform.h
Labels: clang, clang:frontend

#134018 [SandboxVectorizer] Use llvm::erase (NFC)
  llvm/include/llvm/Transforms/Vectorize/SandboxVectorizer/Scheduler.h
Labels: vectorizers, llvm:transforms

#134019 [Target] Construct SmallVector with ArrayRef (NFC)
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
Labels: backend:RISC-V, backend:PowerPC

#134020 [mlir] Remove extraneous calls to make_range (NFC)
  mlir/lib/Dialect/Mesh/IR/MeshOps.cpp
Labels: mlir

#134023 [mlir] Construct SmallVector with ArrayRef (NFC)
  mlir/lib/Dialect/XeGPU/IR/XeGPUDialect.cpp
Labels: mlir:gpu, mlir

#133976 [TableGen] Directly use SDNode functions to implement HasOneUse and HasNoUse. NFC
  llvm/test/TableGen/HasNoUse.td
  llvm/test/TableGen/predicate-patfags.td
  llvm/utils/TableGen/Common/CodeGenDAGPatterns.cpp
Labels: tablegen, llvm:SelectionDAG

#132348 [Clang] [NFC] Introduce a helper for emitting compatibility diagnostics
  clang/include/clang/Basic/CMakeLists.txt
  clang/include/clang/Basic/Diagnostic.td
  clang/include/clang/Basic/DiagnosticAST.h
  clang/include/clang/Basic/DiagnosticAnalysis.h
  clang/include/clang/Basic/DiagnosticComment.h
  clang/include/clang/Basic/DiagnosticCrossTU.h
  clang/include/clang/Basic/DiagnosticDriver.h
  clang/include/clang/Basic/DiagnosticFrontend.h
  clang/include/clang/Basic/DiagnosticIDs.h
  clang/include/clang/Basic/DiagnosticInstallAPI.h
  clang/include/clang/Basic/DiagnosticLex.h
  clang/include/clang/Basic/DiagnosticParse.h
  clang/include/clang/Basic/DiagnosticParseKinds.td
  clang/include/clang/Basic/DiagnosticRefactoring.h
  clang/include/clang/Basic/DiagnosticSema.h
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Basic/DiagnosticSerialization.h
  clang/include/clang/Parse/Parser.h
  clang/include/clang/Sema/SemaBase.h
  clang/lib/Basic/DiagnosticIDs.cpp
  clang/lib/Parse/ParseDecl.cpp
  clang/lib/Parse/Parser.cpp
  clang/lib/Sema/SemaBase.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/test/Misc/show-diag-options.c
  clang/utils/TableGen/ClangDiagnosticsEmitter.cpp
  clang/utils/TableGen/TableGen.cpp
  clang/utils/TableGen/TableGenBackends.h
Labels: clang, clang:frontend

#132862 llvm-reduce: Add reduceOperandsToPoison reduction
  llvm/test/tools/llvm-reduce/reduce-operands-target-ext-ty.ll
  llvm/tools/llvm-reduce/DeltaPasses.def
  llvm/tools/llvm-reduce/deltas/ReduceOperands.cpp
  llvm/tools/llvm-reduce/deltas/ReduceOperands.h
Labels: llvm-reduce

#133707 [clang][CodeGen] Make pragma-loop test more rboust (NFC)
  clang/test/CodeGenCXX/pragma-loop.cpp
Labels: clang

#133664 [LoopInterchange] Add an option to control the cost heuristics applied
  llvm/lib/Transforms/Scalar/LoopInterchange.cpp
  llvm/test/Transforms/LoopInterchange/profitability-vectorization.ll
Labels: llvm:transforms

#132864 llvm-reduce: Do not reduce alloca array sizes to 0
  llvm/test/tools/llvm-reduce/reduce-operands-alloca.ll
  llvm/tools/llvm-reduce/deltas/ReduceOperands.cpp
Labels: llvm-reduce

#134027 [RISCV] Modify register type of extd* Xqcibm instructions
  llvm/lib/Target/RISCV/Disassembler/RISCVDisassembler.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoXqci.td
  llvm/lib/Target/RISCV/RISCVRegisterInfo.td
  llvm/test/CodeGen/RISCV/rvv/vsetvli-insert-zve64f.mir
  llvm/test/MC/RISCV/xqcibm-invalid.s
  llvm/test/MC/RISCV/xqcibm-valid.s
Labels: backend:RISC-V, mc

#132843 [OpenMP] Add memory allocation using hwloc
  openmp/runtime/src/kmp.h
  openmp/runtime/src/kmp_affinity.cpp
  openmp/runtime/src/kmp_alloc.cpp
  openmp/runtime/src/kmp_global.cpp
  openmp/runtime/src/kmp_settings.cpp
  openmp/runtime/test/api/omp_alloc_hwloc.c
Labels: openmp:libomp

#126026 [flang][OpenMP] Upstream first part of `do concurrent` mapping
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Flang.cpp
  flang/docs/DoConcurrentConversionToOpenMP.md
  flang/docs/index.md
  flang/include/flang/Frontend/CodeGenOptions.def
  flang/include/flang/Frontend/CodeGenOptions.h
  flang/include/flang/Optimizer/OpenMP/Passes.h
  flang/include/flang/Optimizer/OpenMP/Passes.td
  flang/include/flang/Optimizer/OpenMP/Utils.h
  flang/include/flang/Optimizer/Passes/Pipelines.h
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/lib/Frontend/FrontendActions.cpp
  flang/lib/Optimizer/OpenMP/CMakeLists.txt
  flang/lib/Optimizer/OpenMP/DoConcurrentConversion.cpp
  flang/lib/Optimizer/Passes/Pipelines.cpp
  flang/test/Driver/do_concurrent_to_omp_cli.f90
  flang/test/Transforms/DoConcurrent/basic_host.f90
  flang/tools/bbc/bbc.cpp
Labels: clang, clang:driver, flang:driver, flang, flang:fir-hlfir

#133263 [AMDGPU] Remove detection of hip runtime for Spack
  clang/lib/Driver/ToolChains/AMDGPU.cpp
  clang/test/Driver/Inputs/rocm-spack/hip-4.0.0-5f63slrursbrvfe2txrrjkynbsywsob5/bin/.hipVersion
  clang/test/Driver/Inputs/rocm-spack/hip-4.0.0-5f63slrursbrvfe2txrrjkynbsywsob5/include/hip/hip_runtime.h
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/asanrtl.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/hip.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/ockl.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_abi_version_400.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_abi_version_500.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_abi_version_600.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_correctly_rounded_sqrt_off.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_correctly_rounded_sqrt_on.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_daz_opt_off.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_daz_opt_on.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_finite_only_off.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_finite_only_on.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_isa_version_1010.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_isa_version_1011.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_isa_version_1012.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_isa_version_803.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_isa_version_900.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_isa_version_908.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_unsafe_math_off.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_unsafe_math_on.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_wavefrontsize64_off.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/oclc_wavefrontsize64_on.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/ocml.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/amdgcn/bitcode/opencl.bc
  clang/test/Driver/Inputs/rocm-spack/llvm-amdgpu-4.0.0-ieagcs7inf7runpyfvepqkurasoglq4z/bin/.keep
  clang/test/Driver/rocm-detect.hip
Labels: clang, backend:AMDGPU, clang:driver

#133387 llvm-reduce: Defer a shouldKeep call in operand reduction
  llvm/tools/llvm-reduce/deltas/ReduceOperands.cpp
Labels: llvm-reduce

#127595 [flang][OpenMP] Upstream `do concurrent` loop-nest detection.
  flang/docs/DoConcurrentConversionToOpenMP.md
  flang/lib/Optimizer/OpenMP/DoConcurrentConversion.cpp
  flang/test/Transforms/DoConcurrent/loop_nest_test.f90
Labels: clang, clang:driver, flang:driver, flang, flang:fir-hlfir

#134043 Reapply "[Clang] [NFC] Introduce a helper for emitting compatibility diagnostics (#132348)"
  clang/bindings/python/tests/cindex/test_diagnostics.py
  clang/include/clang/Basic/CMakeLists.txt
  clang/include/clang/Basic/Diagnostic.td
  clang/include/clang/Basic/DiagnosticAST.h
  clang/include/clang/Basic/DiagnosticAnalysis.h
  clang/include/clang/Basic/DiagnosticComment.h
  clang/include/clang/Basic/DiagnosticCrossTU.h
  clang/include/clang/Basic/DiagnosticDriver.h
  clang/include/clang/Basic/DiagnosticFrontend.h
  clang/include/clang/Basic/DiagnosticIDs.h
  clang/include/clang/Basic/DiagnosticInstallAPI.h
  clang/include/clang/Basic/DiagnosticLex.h
  clang/include/clang/Basic/DiagnosticParse.h
  clang/include/clang/Basic/DiagnosticParseKinds.td
  clang/include/clang/Basic/DiagnosticRefactoring.h
  clang/include/clang/Basic/DiagnosticSema.h
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/include/clang/Basic/DiagnosticSerialization.h
  clang/include/clang/Parse/Parser.h
  clang/include/clang/Sema/SemaBase.h
  clang/lib/Basic/DiagnosticIDs.cpp
  clang/lib/Parse/ParseDecl.cpp
  clang/lib/Parse/Parser.cpp
  clang/lib/Sema/SemaBase.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/test/Misc/show-diag-options.c
  clang/utils/TableGen/ClangDiagnosticsEmitter.cpp
  clang/utils/TableGen/TableGen.cpp
  clang/utils/TableGen/TableGenBackends.h
Labels: clang, clang:frontend, clang:as-a-library

#131801 [GlobalMerge][PPC] Don't merge globals in llvm.metadata section
  llvm/lib/CodeGen/GlobalMerge.cpp
  llvm/test/CodeGen/PowerPC/global-merge-llvm-metadata.ll
Labels: backend:PowerPC

#133731 [VPlan] Simplify select c, x, x -> x
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/test/Transforms/LoopVectorize/X86/cost-model.ll
  llvm/test/Transforms/LoopVectorize/is_fpclass.ll
  llvm/test/Transforms/LoopVectorize/select-reduction.ll
Labels: vectorizers, llvm:transforms

#127633 [flang][OpenMP] Map simple `do concurrent` loops to OpenMP host constructs
  flang/docs/DoConcurrentConversionToOpenMP.md
  flang/lib/Optimizer/OpenMP/DoConcurrentConversion.cpp
  flang/test/Transforms/DoConcurrent/basic_device.mlir
  flang/test/Transforms/DoConcurrent/basic_host.f90
  flang/test/Transforms/DoConcurrent/basic_host.mlir
  flang/test/Transforms/DoConcurrent/non_const_bounds.f90
  flang/test/Transforms/DoConcurrent/not_perfectly_nested.f90
Labels: flang, flang:fir-hlfir

#133745 [flang][OpenMP] Bump default OpenMP version to 3.1
  clang/include/clang/Driver/Options.td
  flang/include/flang/Support/LangOptions.def
  flang/include/flang/Tools/CrossToolHelpers.h
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/test/Driver/bbc-openmp-version-macro.f90
  flang/test/Driver/flang-openmp-version-macro.f90
  flang/test/Lower/OpenMP/rtl-flags.f90
  flang/tools/bbc/bbc.cpp
Labels: clang, flang:driver, flang, flang:fir-hlfir, flang:openmp

#133853 llvm-reduce: Increase operands-to-args test coverage
  llvm/test/tools/llvm-reduce/operands-to-args.ll
Labels: llvm-reduce

#134047 [mlir] Use `dyn_cast` instead of `cast` in MathToVCIX conversion
  mlir/test/Conversion/MathToVCIX/math-to-vcix.mlir
  mlir/test/lib/Conversion/MathToVCIX/TestMathToVCIXConversion.cpp
Labels: mlir

#127634 [flang][OpenMP] Extend `do concurrent` mapping to multi-range loops
  flang/docs/DoConcurrentConversionToOpenMP.md
  flang/lib/Optimizer/OpenMP/DoConcurrentConversion.cpp
  flang/test/Transforms/DoConcurrent/multiple_iteration_ranges.f90
Labels: flang, flang:fir-hlfir

#133247 [lldb] Return *const* UnwindPlan pointers from FuncUnwinders
  lldb/include/lldb/Symbol/FuncUnwinders.h
  lldb/include/lldb/Symbol/UnwindPlan.h
  lldb/include/lldb/Target/RegisterContextUnwind.h
  lldb/source/Commands/CommandObjectTarget.cpp
  lldb/source/Symbol/FuncUnwinders.cpp
  lldb/source/Symbol/UnwindPlan.cpp
  lldb/source/Target/RegisterContextUnwind.cpp
Labels: lldb

#130064 [AMDGPU][NPM] Port AMDGPUSetWavePriority to NPM
  llvm/lib/Target/AMDGPU/AMDGPU.h
  llvm/lib/Target/AMDGPU/AMDGPUPassRegistry.def
  llvm/lib/Target/AMDGPU/AMDGPUSetWavePriority.cpp
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
  llvm/test/CodeGen/AMDGPU/set-wave-priority.ll
Labels: backend:AMDGPU

#133916 [C99] Fix definitions of INTn_C macros
  clang/docs/ReleaseNotes.rst
  clang/lib/Headers/stdint.h
  clang/test/C/drs/dr209.c
  clang/test/Preprocessor/stdint.c
Labels: clang, clang:headers, c99

#134069 [AMDGPU] Fix unused variable NFC.
  llvm/lib/Target/AMDGPU/AMDGPUSetWavePriority.cpp
Labels: backend:AMDGPU

#133742 [C23] Allow casting from a null pointer constant to nullptr_t
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaCast.cpp
  clang/test/C/C23/n3042.c
Labels: clang, c23, clang:frontend, rejects-valid

#132116 [Clang] add emit -Wignored-base-class-qualifiers diagnostic for cv-qualified base classes
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/test/SemaCXX/warn-base-type-qualifiers.cpp
Labels: clang, clang:frontend

#133665 [LoopInterchange] Add tests for the vectorization profitability (NFC)
  llvm/test/Transforms/LoopInterchange/profitability-vectorization-heuristic.ll
Labels: llvm:transforms

#131296 [sanitizer][CFI] Add support to build CFI with sanitize-coverage
  clang/lib/Driver/SanitizerArgs.cpp
  clang/test/CodeGen/sanitize-coverage.c
  clang/test/Driver/fsanitize-coverage.c
Labels: clang, clang:driver

#131646 [clang][OpenMP] Fix bug #62099 - use hash value when inode ID cannot be determined
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
Labels: flang:openmp, clang:openmp

#130253 [flang] Fold double bessel functions on Windows.
  flang/lib/Evaluate/intrinsics-library.cpp
Labels: flang, flang:semantics

#133737 [flang] Legacy ASSIGN statement target processing
  flang/lib/Lower/PFTBuilder.cpp
Labels: flang, flang:fir-hlfir

#134087 [mlir][spirv] Fix ambiguous conversion between SmallVector and TypeRange
  mlir/lib/Target/SPIRV/Deserialization/Deserializer.cpp
Labels: mlir:spirv, mlir

#133785 [LLDB][NFC]Move fields that might be referenced in scope-exit to beginning
  lldb/source/Interpreter/CommandInterpreter.cpp
Labels: lldb

#134071 [IR] Add helper `CmpPredicate::dropSameSign`
  llvm/include/llvm/IR/CmpPredicate.h
  llvm/lib/Analysis/ScalarEvolution.cpp
  llvm/lib/Transforms/InstCombine/InstCombineCompares.cpp
Labels: llvm:instcombine, llvm:ir, llvm:analysis, llvm:transforms

#133666 [Clang][BPF] Add tests for btf_type_tag c2x-style attributes
  clang/test/CodeGen/attr-btf_type_tag-similar-type.c
  clang/test/CodeGen/attr-btf_type_tag-typedef-field.c
Labels: clang, backend:BPF

#119801 [libc++] Fix ambiguous call to std::max in vector<bool>
  libcxx/include/__vector/vector_bool.h
  libcxx/test/std/containers/sequences/vector.bool/small_allocator_size.pass.cpp
Labels: libc++

#134066 llvm-reduce: Avoid worklist in simplify-instruction
  llvm/tools/llvm-reduce/deltas/SimplifyInstructions.cpp
Labels: llvm-reduce

#134105 Revert "Enable unnecessary-virtual-specifier by default"
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/test/Analysis/Checkers/WebKit/ref-cntbl-crtp-base-no-virtual-dtor.cpp
  clang/test/CXX/class/p2-0x.cpp
  clang/test/SemaCXX/MicrosoftExtensions.cpp
  clang/test/SemaCXX/warn-final-dtor-non-final-class.cpp
  llvm/cmake/modules/HandleLLVMOptions.cmake
Labels: cmake, clang, clang:frontend, clang:static analyzer

#133849 [MLIR][AMDGPU] Bump to COV6
  mlir/include/mlir/Dialect/GPU/Transforms/Passes.td
  mlir/include/mlir/Dialect/LLVMIR/ROCDLOps.td
  mlir/lib/Dialect/LLVMIR/IR/ROCDLDialect.cpp
  mlir/lib/Target/LLVM/ROCDL/Target.cpp
  mlir/test/Dialect/LLVMIR/rocdl.mlir
  mlir/unittests/Target/LLVM/SerializeROCDLTarget.cpp
Labels: mlir:llvm, mlir:gpu, mlir

#130295 [LV] Exercise type-mismatch with RT-check conflict rdx
  llvm/test/Transforms/LoopVectorize/runtime-check.ll
  llvm/test/Transforms/LoopVectorize/runtime-checks-difference.ll
Labels: llvm:transforms

#134076 [LV] Regen a test with UTC
  llvm/test/Transforms/LoopVectorize/induction-unroll-novec.ll
Labels: llvm:transforms

#133807 [LLD][ELF] Support OVERLAY NOCROSSREFS
  lld/ELF/ScriptParser.cpp
  lld/docs/ReleaseNotes.rst
  lld/test/ELF/linkerscript/nocrossrefs.test
  lld/test/ELF/linkerscript/overlay.test
Labels: lld, lld:ELF

#133774 [mlir] [arith] Fix ceildivsi lowering in arith-expand
  mlir/lib/Dialect/Arith/Transforms/ExpandOps.cpp
  mlir/test/Conversion/ArithToLLVM/arith-to-llvm.mlir
  mlir/test/Dialect/Arith/expand-ops.mlir
  mlir/test/Integration/Dialect/Arith/CPU/test-arith-expand-ceildivsi.mlir
Labels: bug, mlir, mlir:arith

#133967 [SYCL][SPIR-V Backend][clang-sycl-linker] Add SPIR-V backend support inside clang-sycl-linker
  clang/test/Driver/Inputs/SYCL/bar.ll
  clang/test/Driver/Inputs/SYCL/baz.ll
  clang/test/Driver/Inputs/SYCL/foo.ll
  clang/test/Driver/Inputs/SYCL/libsycl.ll
  clang/test/Driver/clang-sycl-linker-test.cpp
  clang/test/Driver/sycl-link-spirv-target.cpp
  clang/tools/clang-sycl-linker/CMakeLists.txt
  clang/tools/clang-sycl-linker/ClangSYCLLinker.cpp
  clang/tools/clang-sycl-linker/SYCLLinkOpts.td
Labels: clang, clang:driver

#133518 Fix: bail out when divisor is zero
  mlir/lib/Dialect/Shape/IR/Shape.cpp
  mlir/test/Dialect/Shape/fold-div.mlir
Labels: mlir, mlir:shape

#130922 [CodeGenPrepare][RISCV] Combine (X ^ Y) and (X == Y) where appropriate
  llvm/lib/CodeGen/CodeGenPrepare.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/select-constant-xor.ll
Labels: backend:RISC-V

#134101 [RISCV] Mark subvector extracts from index 0 as cheap
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-interleaved-access.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-masked-gather.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-masked-scatter.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-reduction-int.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-shuffle-deinterleave.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vfwadd.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vfwmul.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vfwsub.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vpgather.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vwadd.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vwaddu.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vwmul.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vwmulsu.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vwmulu.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vwsub.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vwsubu.ll
Labels: backend:RISC-V

#132106 [Metadata] Handle memprof, callsite merging when one is missing.
  llvm/lib/Transforms/Utils/Local.cpp
  llvm/test/Transforms/SimplifyCFG/merge-calls-memprof-left.ll
  llvm/test/Transforms/SimplifyCFG/merge-calls-memprof-right.ll
Labels: llvm:transforms

#132433 [Metadata] Preserve MD_prof when merging instructions when one is missing.
  llvm/lib/Transforms/Utils/Local.cpp
  llvm/test/Transforms/SimplifyCFG/merge-direct-call-branch-weights-preserve-hoist.ll
  llvm/test/Transforms/SimplifyCFG/merge-direct-call-branch-weights-preserve-sink.ll
Labels: llvm:transforms

#134125 [clang-sycl-linker] Fix flaky failure and add REQUIRES
  clang/test/Driver/clang-sycl-linker-test.cpp
  clang/test/Driver/link-device-code.test
  clang/test/Driver/sycl-link-spirv-target.cpp
  clang/tools/clang-sycl-linker/ClangSYCLLinker.cpp
Labels: clang, clang:driver
