Repository llvm/llvm-project, pull requests merged in 2025-09, with the labels that each got.

#123870 [PseudoProbe] Support emitting to COFF object
  clang/include/clang/Driver/Options.td
  clang/test/Driver/cl-options.c
  llvm/include/llvm/Target/TargetLoweringObjectFile.h
  llvm/lib/CodeGen/TargetLoweringObjectFileImpl.cpp
  llvm/lib/MC/MCObjectFileInfo.cpp
  llvm/lib/Target/TargetLoweringObjectFile.cpp
  llvm/test/Transforms/SampleProfile/pseudo-probe-callee-profile-mismatch.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-dangle.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-dangle2.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-desc-guid.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-emit-inline.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-emit.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-inline.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-instsched.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-invoke.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-missing-probe.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-no-debug-info.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-peep.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-profile-mismatch-error.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-profile-mismatch-thinlto.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-selectionDAG.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-slotindex.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-stale-profile-matching-LCS.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-stale-profile-matching-lto.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-stale-profile-matching.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-stale-profile-renaming-recursive.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-stale-profile-renaming.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-stale-profile-toplev-func.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-twoaddr.ll
  llvm/test/Transforms/SampleProfile/pseudo-probe-verify.ll
Labels: clang, clang:driver, llvm:codegen, llvm:mc, PGO, llvm:transforms

#156137 [ADT] Refactor StringMap iterators (NFC)
  clang-tools-extra/clang-tidy/fuchsia/MultipleInheritanceCheck.cpp
  clang/lib/Driver/OffloadBundler.cpp
  llvm/include/llvm/ADT/StringMap.h
  llvm/unittests/ADT/StringMapTest.cpp
Labels: clang, clang-tools-extra, clang-tidy, clang:driver, llvm:adt

#155961 [RISCV][NFC] Simplify some rvv regbankselect cases
  llvm/test/CodeGen/RISCV/GlobalISel/regbankselect/rvv/add.mir
  llvm/test/CodeGen/RISCV/GlobalISel/regbankselect/rvv/anyext.mir
  llvm/test/CodeGen/RISCV/GlobalISel/regbankselect/rvv/icmp.mir
  llvm/test/CodeGen/RISCV/GlobalISel/regbankselect/rvv/implicit-def.mir
  llvm/test/CodeGen/RISCV/GlobalISel/regbankselect/rvv/load.mir
  llvm/test/CodeGen/RISCV/GlobalISel/regbankselect/rvv/select.mir
  llvm/test/CodeGen/RISCV/GlobalISel/regbankselect/rvv/sext.mir
  llvm/test/CodeGen/RISCV/GlobalISel/regbankselect/rvv/store.mir
  llvm/test/CodeGen/RISCV/GlobalISel/regbankselect/rvv/sub.mir
  llvm/test/CodeGen/RISCV/GlobalISel/regbankselect/rvv/zext.mir
Labels: backend:RISC-V, llvm:globalisel

#152275 [libclc] update __clc_mem_fence: add MemorySemantic arg and use __builtin_amdgcn_fence for AMDGPU
  libclc/clc/include/clc/mem_fence/clc_mem_fence.h
  libclc/clc/include/clc/mem_fence/clc_mem_semantic.h
  libclc/clc/include/clc/synchronization/clc_work_group_barrier.h
  libclc/clc/lib/amdgcn/mem_fence/clc_mem_fence.cl
  libclc/clc/lib/amdgcn/synchronization/clc_work_group_barrier.cl
  libclc/clc/lib/ptx-nvidiacl/mem_fence/clc_mem_fence.cl
  libclc/clc/lib/ptx-nvidiacl/synchronization/clc_work_group_barrier.cl
  libclc/opencl/include/clc/opencl/synchronization/utils.h
  libclc/opencl/lib/amdgcn/mem_fence/fence.cl
  libclc/opencl/lib/amdgcn/synchronization/barrier.cl
  libclc/opencl/lib/ptx-nvidiacl/mem_fence/fence.cl
  libclc/opencl/lib/ptx-nvidiacl/synchronization/barrier.cl
Labels: libclc

#154388 [PowerPC] Merge vsr(vsro(input, byte_shift), bit_shift) to vsrq(input, res_bit_shift)
  llvm/lib/Target/PowerPC/PPCISelLowering.cpp
  llvm/lib/Target/PowerPC/PPCISelLowering.h
  llvm/lib/Target/PowerPC/PPCInstrAltivec.td
  llvm/lib/Target/PowerPC/PPCInstrInfo.td
  llvm/lib/Target/PowerPC/PPCInstrP10.td
  llvm/test/CodeGen/PowerPC/vsro-vsr-vsrq-dag-combine.ll
Labels: backend:PowerPC

#156208 [ARM] Use t2LDRLIT_ga_pcrel for loading stack guards with no-movt in PIC mode.
  llvm/lib/Target/ARM/Thumb2InstrInfo.cpp
  llvm/test/CodeGen/ARM/stack-guard-nomovt.ll
Labels: backend:ARM

#156272 [ADT] Mark BitVector::find_prev_unset const (NFC)
  llvm/include/llvm/ADT/BitVector.h
Labels: llvm:adt

#155843 [RISCV] Compress shxadd to qc.c.muliadd when rd = rs2
  llvm/lib/Target/RISCV/RISCVInstrInfoXqci.td
  llvm/test/CodeGen/RISCV/xqciac.ll
  llvm/test/MC/RISCV/xqciac-valid.s
Labels: backend:RISC-V

#155994 [LoongArch] Perform SELECT_CC combine
  llvm/lib/Target/LoongArch/LoongArchISelLowering.cpp
  llvm/test/CodeGen/LoongArch/bittest.ll
  llvm/test/CodeGen/LoongArch/select-const.ll
Labels: backend:loongarch

#142150 [clang-reorder-fields] Support designated initializers
  clang-tools-extra/clang-reorder-fields/CMakeLists.txt
  clang-tools-extra/clang-reorder-fields/Designator.cpp
  clang-tools-extra/clang-reorder-fields/Designator.h
  clang-tools-extra/clang-reorder-fields/ReorderFieldsAction.cpp
  clang-tools-extra/test/clang-reorder-fields/AggregatePartialInitialization.c
  clang-tools-extra/test/clang-reorder-fields/AggregatePartialInitialization.cpp
  clang-tools-extra/test/clang-reorder-fields/DesignatedInitializerList.c
  clang-tools-extra/test/clang-reorder-fields/DesignatedInitializerList.cpp
  clang-tools-extra/test/clang-reorder-fields/IdiomaticZeroInitializer.c
  clang-tools-extra/test/clang-reorder-fields/InitializerListExcessElements.c
Labels: clang-tools-extra

#155404 [RelLookupTableConverter] Make GEP type independent
  llvm/lib/Transforms/Utils/RelLookupTableConverter.cpp
  llvm/test/Transforms/RelLookupTableConverter/X86/relative_lookup_table.ll
Labels: llvm:transforms

#156278 [SLP][NFC] Refactor `if`s into `&&`
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: vectorizers, llvm:transforms

#155415 [InstCombine] Strip leading zero indices from GEP
  clang/test/CodeGen/attr-counted-by.c
  clang/test/CodeGen/union-tbaa1.c
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
  llvm/test/CodeGen/AMDGPU/vector-alloca-addrspacecast.ll
  llvm/test/Transforms/InstCombine/2006-12-15-Range-Test.ll
  llvm/test/Transforms/InstCombine/AMDGPU/memcpy-from-constant.ll
  llvm/test/Transforms/InstCombine/canonicalize-gep-constglob.ll
  llvm/test/Transforms/InstCombine/cast.ll
  llvm/test/Transforms/InstCombine/cast_phi.ll
  llvm/test/Transforms/InstCombine/gep-addrspace.ll
  llvm/test/Transforms/InstCombine/gep-alias.ll
  llvm/test/Transforms/InstCombine/gep-vector.ll
  llvm/test/Transforms/InstCombine/getelementptr.ll
  llvm/test/Transforms/InstCombine/load-bitcast-select.ll
  llvm/test/Transforms/InstCombine/load-cmp.ll
  llvm/test/Transforms/InstCombine/loadstore-alignment.ll
  llvm/test/Transforms/InstCombine/mem-gep-zidx.ll
  llvm/test/Transforms/InstCombine/memchr-11.ll
  llvm/test/Transforms/InstCombine/memcmp-8.ll
  llvm/test/Transforms/InstCombine/memcpy-addrspace.ll
  llvm/test/Transforms/InstCombine/memcpy-from-global.ll
  llvm/test/Transforms/InstCombine/opaque-ptr.ll
  llvm/test/Transforms/InstCombine/pr58901.ll
  llvm/test/Transforms/InstCombine/ptrtoint-nullgep.ll
  llvm/test/Transforms/InstCombine/remove-loop-phi-multiply-by-zero.ll
  llvm/test/Transforms/InstCombine/strcmp-3.ll
  llvm/test/Transforms/InstCombine/strlen-1.ll
  llvm/test/Transforms/InstCombine/strlen-4.ll
  llvm/test/Transforms/InstCombine/strlen-7.ll
  llvm/test/Transforms/InstCombine/strlen-8.ll
  llvm/test/Transforms/InstCombine/strlen-9.ll
  llvm/test/Transforms/InstCombine/strnlen-3.ll
  llvm/test/Transforms/InstCombine/strnlen-4.ll
  llvm/test/Transforms/InstCombine/strnlen-5.ll
  llvm/test/Transforms/InstCombine/sub-gep.ll
  llvm/test/Transforms/InstCombine/vec_demanded_elts-inseltpoison.ll
  llvm/test/Transforms/InstCombine/vec_demanded_elts.ll
  llvm/test/Transforms/InstCombine/wcslen-1.ll
  llvm/test/Transforms/InstCombine/wcslen-3.ll
  llvm/test/Transforms/InstCombine/wcslen-5.ll
  llvm/test/Transforms/LoopVectorize/AArch64/sve-interleaved-accesses.ll
  llvm/test/Transforms/LoopVectorize/AArch64/sve2-histcnt.ll
  llvm/test/Transforms/LoopVectorize/X86/small-size.ll
  llvm/test/Transforms/LoopVectorize/X86/x86_fp80-vector-store.ll
  llvm/test/Transforms/LoopVectorize/interleaved-accesses.ll
  llvm/test/Transforms/LoopVectorize/multiple-address-spaces.ll
  llvm/test/Transforms/LoopVectorize/non-const-n.ll
  llvm/test/Transforms/LoopVectorize/reduction-inloop.ll
  llvm/test/Transforms/PhaseOrdering/AArch64/matrix-extract-insert.ll
  llvm/test/Transforms/PhaseOrdering/X86/excessive-unrolling.ll
  llvm/test/Transforms/PhaseOrdering/X86/merge-functions2.ll
  llvm/test/Transforms/PhaseOrdering/X86/merge-functions3.ll
  llvm/test/Transforms/PhaseOrdering/X86/simplifycfg-late.ll
  llvm/test/Transforms/PhaseOrdering/scev-custom-dl.ll
  llvm/test/Transforms/PhaseOrdering/single-iteration-loop-sroa.ll
  llvm/test/Transforms/SimplifyCFG/Hexagon/switch-to-lookup-table.ll
Labels: clang, backend:AMDGPU, llvm:instcombine, llvm:transforms

#156007 [Coroutines] Remove assert about a promise being present
  llvm/lib/Transforms/Coroutines/CoroFrame.cpp
  llvm/test/Transforms/Coroutines/coro-split-dbg.ll
Labels: coroutines, llvm:transforms

#155747 [RISC-V] Added the mips extension instructions like ehb,ihb and pause etc for MIPS RV64 P8700.
  clang/test/Driver/print-supported-extensions-riscv.c
  llvm/lib/Target/RISCV/Disassembler/RISCVDisassembler.cpp
  llvm/lib/Target/RISCV/RISCVFeatures.td
  llvm/lib/Target/RISCV/RISCVInstrInfoXMips.td
  llvm/lib/Target/RISCV/RISCVProcessors.td
  llvm/test/CodeGen/RISCV/features-info.ll
  llvm/test/MC/RISCV/xmips-invalid.s
  llvm/test/MC/RISCV/xmips-valid.s
  llvm/unittests/TargetParser/RISCVISAInfoTest.cpp
Labels: clang, backend:MIPS, backend:RISC-V, clang:driver

#155627 [CI] Enable -Werror in pre-merge CI
  .ci/monolithic-linux.sh
Labels: flang, flang:semantics, flang:parser

#152748 [libc] Migrate from baremetal stdio.h to generic stdio.h
  libc/config/baremetal/aarch64/entrypoints.txt
  libc/config/baremetal/arm/entrypoints.txt
  libc/config/baremetal/riscv/entrypoints.txt
  libc/src/__support/File/CMakeLists.txt
  libc/src/__support/File/baremetal/CMakeLists.txt
  libc/src/__support/File/baremetal/stderr.cpp
  libc/src/__support/File/baremetal/stdin.cpp
  libc/src/__support/File/baremetal/stdout.cpp
  libc/src/__support/File/cookie_file.h
  libc/src/__support/OSUtil/baremetal/io.cpp
  libc/src/__support/OSUtil/baremetal/io.h
  libc/src/stdio/CMakeLists.txt
  libc/src/stdio/baremetal/CMakeLists.txt
  libc/src/stdio/baremetal/printf.cpp
  libc/src/stdio/baremetal/putchar.cpp
  libc/src/stdio/baremetal/puts.cpp
  libc/src/stdio/baremetal/vprintf.cpp
  libc/src/stdio/fopencookie.cpp
Labels: backend:RISC-V, libc

#156291 [sanitizer_common] Older Haiku needs _GNU_SOURCE
  compiler-rt/lib/sanitizer_common/sanitizer_linux_libcdep.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#153134 [MLIR][NVVM][NVGPU] Combine prefetch and prefetch.tensormap
  mlir/include/mlir/Dialect/LLVMIR/NVVMOps.td
  mlir/lib/Conversion/NVGPUToNVVM/NVGPUToNVVM.cpp
  mlir/lib/Dialect/LLVMIR/IR/NVVMDialect.cpp
  mlir/test/Conversion/NVGPUToNVVM/nvgpu-to-nvvm.mlir
  mlir/test/Conversion/NVVMToLLVM/nvvm-to-llvm.mlir
  mlir/test/Dialect/LLVMIR/nvvm.mlir
  mlir/test/Target/LLVMIR/nvvm/prefetch.mlir
  mlir/test/Target/LLVMIR/nvvmir-invalid.mlir
Labels: mlir:llvm, mlir:gpu, mlir

#155960 [LoongArch] Fix broadcast load with extension.
  llvm/lib/Target/LoongArch/LoongArchISelLowering.cpp
  llvm/test/CodeGen/LoongArch/lasx/broadcast-load.ll
  llvm/test/CodeGen/LoongArch/lsx/broadcast-load.ll
Labels: backend:loongarch

#154706 [MLIR] Add target_specific_attrs attribute to mlir.global
  llvm/include/llvm/IR/Attributes.h
  llvm/include/llvm/IR/GlobalVariable.h
  llvm/lib/IR/Attributes.cpp
  mlir/include/mlir/Dialect/LLVMIR/LLVMOps.td
  mlir/lib/Target/LLVMIR/ModuleImport.cpp
  mlir/lib/Target/LLVMIR/ModuleTranslation.cpp
  mlir/test/Target/LLVMIR/Import/function-attributes.ll
  mlir/test/Target/LLVMIR/Import/global-variables.ll
  mlir/test/Target/LLVMIR/llvmir-invalid.mlir
  mlir/test/Target/LLVMIR/llvmir.mlir
Labels: mlir:llvm, mlir, llvm:ir

#156093 [mlir][ptr] Add load and store ops.
  mlir/include/mlir/Dialect/Ptr/IR/MemorySpaceInterfaces.h
  mlir/include/mlir/Dialect/Ptr/IR/MemorySpaceInterfaces.td
  mlir/include/mlir/Dialect/Ptr/IR/PtrEnums.td
  mlir/include/mlir/Dialect/Ptr/IR/PtrOps.td
  mlir/include/mlir/IR/Properties.td
  mlir/lib/Dialect/Ptr/IR/PtrAttrs.cpp
  mlir/lib/Dialect/Ptr/IR/PtrDialect.cpp
  mlir/test/Dialect/Ptr/invalid.mlir
  mlir/test/Dialect/Ptr/ops.mlir
  mlir/test/lib/Dialect/Test/TestAttributes.cpp
Labels: mlir:core, mlir, mlir:ods

#143277 [docs] Correct MD links to proper reST syntax in GitHub.rst
  llvm/docs/GitHub.rst
Labels: documentation

#156320 [lldb][test] Use lld on Windows in frame format test
  lldb/test/Shell/Settings/TestFrameFormatFunctionReturnObjC.test
Labels: lldb

#105647 [Clang] correct error message when assigning to const reference captured in lambda
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaExpr.cpp
  clang/test/SemaCXX/lambda-expressions.cpp
Labels: clang, clang:frontend

#156221 [ADT] Overhaul the DenseMapIterator creation logic (NFC)
  llvm/include/llvm/ADT/DenseMap.h
Labels: llvm:adt

#156274 [ADT] Simplify CastInfo<To, PointerUnion<PTs...>> (NFC)
  llvm/include/llvm/ADT/PointerUnion.h
Labels: llvm:adt

#156337 [X86] Add -fexperimental-new-constant-interpreter test coverage to the x86 scalar rotate constexpr test files
  clang/test/CodeGen/X86/rot-intrinsics.c
Labels: clang, backend:X86

#156277 [SLP][NFC] Refactor duplicate code into `getVectorizedValue`
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: vectorizers, llvm:transforms

#156187 [Headers][X86] Add constexpr support for some AVX[512] intrinsics.
  clang/lib/Headers/avx512fintrin.h
  clang/lib/Headers/avxintrin.h
  clang/test/CodeGen/X86/avx-builtins.c
  clang/test/CodeGen/X86/avx512f-builtins.c
Labels: clang, backend:X86, clang:headers

#155687 [Clang] Update ReleaseNotes with ThreadSafetyAnalysis changes
  clang/docs/ReleaseNotes.rst
Labels: clang

#153213 [SLP]Better support for copyable values in stores
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/X86/no_alternate_divrem.ll
  llvm/test/Transforms/SLPVectorizer/X86/vect_copyable_in_binops.ll
Labels: vectorizers, llvm:transforms

#156371 Revert "[libc] Migrate from baremetal stdio.h to generic stdio.h"
  libc/config/baremetal/aarch64/entrypoints.txt
  libc/config/baremetal/arm/entrypoints.txt
  libc/config/baremetal/riscv/entrypoints.txt
  libc/src/__support/File/CMakeLists.txt
  libc/src/__support/File/baremetal/CMakeLists.txt
  libc/src/__support/File/baremetal/stderr.cpp
  libc/src/__support/File/baremetal/stdin.cpp
  libc/src/__support/File/baremetal/stdout.cpp
  libc/src/__support/File/cookie_file.h
  libc/src/__support/OSUtil/baremetal/io.cpp
  libc/src/__support/OSUtil/baremetal/io.h
  libc/src/stdio/CMakeLists.txt
  libc/src/stdio/baremetal/CMakeLists.txt
  libc/src/stdio/baremetal/printf.cpp
  libc/src/stdio/baremetal/putchar.cpp
  libc/src/stdio/baremetal/puts.cpp
  libc/src/stdio/baremetal/vprintf.cpp
  libc/src/stdio/fopencookie.cpp
Labels: backend:RISC-V, libc

#152787 [SLP]Improved/fixed FMAD support in reductions
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
  llvm/test/Transforms/SLPVectorizer/RISCV/vec3-base.ll
  llvm/test/Transforms/SLPVectorizer/X86/redux-feed-buildvector.ll
  llvm/test/Transforms/SLPVectorizer/X86/slp-fma-loss.ll
Labels: backend:RISC-V, vectorizers, llvm:transforms

#155739 [LV] Align legacy cost model to vplan-based model for gather/scatter w/ uniform addr.
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/test/Transforms/LoopVectorize/RISCV/gather-scatter-cost.ll
Labels: backend:RISC-V, vectorizers, llvm:transforms

#156387 AMDGPU: Switch merge-load-store-agpr test to generated checks
  llvm/test/CodeGen/AMDGPU/merge-load-store-agpr.mir
Labels: backend:AMDGPU

#155561 Add error check for HeuristicResolver
  clang/include/clang/Frontend/ASTUnit.h
  clang/include/clang/Tooling/Tooling.h
  clang/lib/Tooling/Tooling.cpp
  clang/unittests/Sema/HeuristicResolverTest.cpp
Labels: clang

#156366 [llvm-reduce] Treat CallBrInst as Branch
  llvm/test/tools/llvm-reduce/reduce-bb-callbr.ll
  llvm/tools/llvm-reduce/deltas/ReduceBasicBlocks.cpp
Labels: tools:llvm-reduce

#156391 [ADT] Remove an obsolete forward declaration (NFC)
  llvm/include/llvm/ADT/PointerUnion.h
Labels: llvm:adt

#156394 [InstCombine] Remove unnecessary casts (NFC)
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
Labels: llvm:instcombine, llvm:transforms

#156336 [IR] Remove options to make scalable TypeSize access a warning
  llvm/CMakeLists.txt
  llvm/cmake/modules/HandleLLVMOptions.cmake
  llvm/include/llvm/CodeGen/ValueTypes.h
  llvm/include/llvm/CodeGenTypes/LowLevelType.h
  llvm/include/llvm/CodeGenTypes/MachineValueType.h
  llvm/include/llvm/Support/TypeSize.h
  llvm/lib/Support/CommandLine.cpp
  llvm/lib/Support/DebugOptions.h
  llvm/lib/Support/TypeSize.cpp
  llvm/test/CodeGen/AArch64/sms-order-physreg-deps.mir
  llvm/test/CodeGen/AArch64/sve-unaligned-load-store-strict-align.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.raw.ptr.buffer.store.nxv2i32.fail.ll
Labels: cmake, backend:AArch64, backend:AMDGPU, llvm:support

#155370 [AMDGPU] Reenable BackOffBarrier on GFX11/12
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
  llvm/lib/Target/AMDGPU/SIMemoryLegalizer.cpp
  llvm/test/CodeGen/AMDGPU/back-off-barrier-subtarget-feature.ll
  llvm/test/CodeGen/AMDGPU/lds-dma-workgroup-release.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.update.dpp.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-barriers.ll
  llvm/test/CodeGen/AMDGPU/waitcnt-preexisting-vscnt.mir
Labels: backend:AMDGPU

#156162 [X86][NFC] Renamed Trigonometric functions testcases
  llvm/test/CodeGen/X86/isel-llvm.acos.ll
  llvm/test/CodeGen/X86/isel-llvm.asin.ll
  llvm/test/CodeGen/X86/isel-llvm.atan.ll
  llvm/test/CodeGen/X86/isel-llvm.atan2.ll
  llvm/test/CodeGen/X86/isel-llvm.cos.ll
  llvm/test/CodeGen/X86/isel-llvm.cosh.ll
  llvm/test/CodeGen/X86/isel-llvm.sin.ll
  llvm/test/CodeGen/X86/isel-llvm.sincos.ll
  llvm/test/CodeGen/X86/isel-llvm.sinh.ll
  llvm/test/CodeGen/X86/isel-llvm.tan.ll
  llvm/test/CodeGen/X86/isel-llvm.tanh.ll
Labels: backend:X86

#156388 AMDGPU: Mark DS instructions as fixed size
  llvm/lib/Target/AMDGPU/DSInstructions.td
Labels: backend:AMDGPU

#156369 [Headers][X86] Allow SSE2/AVX2/AVX512F/AVX512BW/AVX512DQ integer multiply intrinsics to be used in constexpr
  clang/lib/Headers/avx2intrin.h
  clang/lib/Headers/avx512bwintrin.h
  clang/lib/Headers/avx512dqintrin.h
  clang/lib/Headers/avx512fintrin.h
  clang/lib/Headers/avx512vlbwintrin.h
  clang/lib/Headers/avx512vldqintrin.h
  clang/lib/Headers/avx512vlintrin.h
  clang/lib/Headers/smmintrin.h
  clang/test/CodeGen/X86/avx2-builtins.c
  clang/test/CodeGen/X86/avx512bw-builtins.c
  clang/test/CodeGen/X86/avx512dq-builtins.c
  clang/test/CodeGen/X86/avx512f-builtins.c
  clang/test/CodeGen/X86/avx512vl-builtins.c
  clang/test/CodeGen/X86/avx512vlbw-builtins.c
  clang/test/CodeGen/X86/avx512vldq-builtins.c
  clang/test/CodeGen/X86/sse41-builtins.c
Labels: clang, backend:X86, clang:headers

#156029 [clang][AArch64] Use .i16.f16 intrinsic formats for vcvth*_[s|u]16_f16
  clang/lib/CodeGen/TargetBuiltins/ARM.cpp
  clang/test/CodeGen/AArch64/v8.2a-fp16-intrinsics-constrained.c
  clang/test/CodeGen/AArch64/v8.2a-fp16-intrinsics.c
Labels: clang, clang:codegen

#156057 [InferAlignment] Increase alignment in masked load / store instrinsics if known
  llvm/lib/Transforms/Scalar/InferAlignment.cpp
  llvm/test/Transforms/InferAlignment/masked.ll
Labels: llvm:instcombine, llvm:transforms

#151872 [VPlan] Introduce CSE pass
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.h
  llvm/test/Transforms/LoopVectorize/AArch64/drop-poison-generating-flags.ll
  llvm/test/Transforms/LoopVectorize/AArch64/epilog-vectorization-widen-inductions.ll
  llvm/test/Transforms/LoopVectorize/AArch64/force-target-instruction-cost.ll
  llvm/test/Transforms/LoopVectorize/AArch64/induction-costs-sve.ll
  llvm/test/Transforms/LoopVectorize/AArch64/interleave-with-gaps.ll
  llvm/test/Transforms/LoopVectorize/AArch64/licm-calls.ll
  llvm/test/Transforms/LoopVectorize/AArch64/masked-call-scalarize.ll
  llvm/test/Transforms/LoopVectorize/AArch64/masked-call.ll
  llvm/test/Transforms/LoopVectorize/AArch64/outer_loop_test1_no_explicit_vect_width.ll
  llvm/test/Transforms/LoopVectorize/AArch64/partial-reduce-dot-product.ll
  llvm/test/Transforms/LoopVectorize/AArch64/store-costs-sve.ll
  llvm/test/Transforms/LoopVectorize/AArch64/transform-narrow-interleave-to-widen-memory-with-wide-ops.ll
  llvm/test/Transforms/LoopVectorize/PowerPC/vectorize-bswap.ll
  llvm/test/Transforms/LoopVectorize/RISCV/strided-accesses.ll
  llvm/test/Transforms/LoopVectorize/X86/outer_loop_test1_no_explicit_vect_width.ll
  llvm/test/Transforms/LoopVectorize/X86/replicate-recipe-with-only-first-lane-used.ll
  llvm/test/Transforms/LoopVectorize/X86/replicate-uniform-call.ll
  llvm/test/Transforms/LoopVectorize/X86/scatter_crash.ll
  llvm/test/Transforms/LoopVectorize/dereferenceable-info-from-assumption-constant-size.ll
  llvm/test/Transforms/LoopVectorize/first-order-recurrence-complex.ll
  llvm/test/Transforms/LoopVectorize/outer_loop_test1.ll
  llvm/test/Transforms/LoopVectorize/pr36983-multiple-lcssa.ll
  llvm/test/Transforms/LoopVectorize/pr59319-loop-access-info-invalidation.ll
  llvm/test/Transforms/LoopVectorize/reverse_induction.ll
  llvm/test/Transforms/LoopVectorize/single-early-exit-interleave-only.ll
  llvm/test/Transforms/LoopVectorize/uniform_across_vf_induction2.ll
Labels: backend:RISC-V, backend:PowerPC, vectorizers, llvm:transforms

#156442 AVR: Do not add target specific STI member to AVRAsmParser
  llvm/lib/Target/AVR/AsmParser/AVRAsmParser.cpp
Labels: backend:AVR

#154904 [MLIR][NVVM] Support packed registers in `inline_ptx`
  mlir/include/mlir/Dialect/LLVMIR/BasicPtxBuilderInterface.h
  mlir/lib/Conversion/NVVMToLLVM/NVVMToLLVM.cpp
  mlir/lib/Dialect/LLVMIR/IR/BasicPtxBuilderInterface.cpp
  mlir/test/Conversion/NVVMToLLVM/nvvm-to-llvm.mlir
Labels: mlir:llvm, mlir

#152366 support branch hint for AtomicExpandImpl::expandAtomicCmpXchg
  llvm/lib/CodeGen/AtomicExpandPass.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/arm64-atomic.ll
  llvm/test/CodeGen/AArch64/GlobalISel/arm64-pcsections.ll
  llvm/test/CodeGen/AArch64/atomic-ops-msvc.ll
  llvm/test/CodeGen/AArch64/atomic-ops.ll
  llvm/test/CodeGen/AArch64/atomicrmw-fadd.ll
  llvm/test/CodeGen/AArch64/atomicrmw-fmax.ll
  llvm/test/CodeGen/AArch64/atomicrmw-fmin.ll
  llvm/test/CodeGen/AArch64/atomicrmw-fsub.ll
  llvm/test/CodeGen/AArch64/cmpxchg-idioms.ll
  llvm/test/CodeGen/ARM/atomic-cmpxchg.ll
  llvm/test/CodeGen/ARM/cmpxchg-idioms.ll
  llvm/test/CodeGen/ARM/cmpxchg-weak.ll
  llvm/test/CodeGen/Hexagon/atomic-opaque-basic.ll
  llvm/test/CodeGen/PowerPC/PR35812-neg-cmpxchg.ll
  llvm/test/CodeGen/PowerPC/all-atomics.ll
  llvm/test/CodeGen/PowerPC/atomic-compare-exchange-weak.ll
  llvm/test/CodeGen/PowerPC/atomic-float.ll
  llvm/test/CodeGen/PowerPC/atomicrmw-cond-sub-clamp.ll
  llvm/test/CodeGen/PowerPC/atomicrmw-uinc-udec-wrap.ll
  llvm/test/CodeGen/PowerPC/atomics-regression.ll
  llvm/test/CodeGen/PowerPC/atomics.ll
  llvm/test/CodeGen/PowerPC/loop-comment.ll
  llvm/test/Transforms/AtomicExpand/ARM/atomic-expansion-v7.ll
  llvm/test/Transforms/AtomicExpand/ARM/atomic-expansion-v8.ll
  llvm/test/Transforms/AtomicExpand/ARM/cmpxchg-weak.ll
Labels: backend:ARM, backend:AArch64, backend:Hexagon, backend:PowerPC, llvm:codegen, llvm:globalisel, llvm:transforms

#155253 [ConstraintElim] Use constraints from bounded memory accesses
  llvm/lib/Transforms/Scalar/ConstraintElimination.cpp
  llvm/test/Transforms/ConstraintElimination/implied-by-bounded-memory-access.ll
Labels: llvm:transforms

#117007 [Intrinsics][AArch64] Add intrinsics for masking off aliasing vector lanes
  llvm/docs/LangRef.rst
  llvm/include/llvm/CodeGen/ISDOpcodes.h
  llvm/include/llvm/IR/Intrinsics.td
  llvm/include/llvm/Target/TargetSelectionDAG.td
  llvm/lib/CodeGen/SelectionDAG/LegalizeIntegerTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeTypes.h
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorOps.cpp
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorTypes.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGDumper.cpp
  llvm/lib/CodeGen/TargetLoweringBase.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.h
  llvm/lib/Target/AArch64/AArch64SVEInstrInfo.td
  llvm/lib/Target/AArch64/SVEInstrFormats.td
  llvm/test/CodeGen/AArch64/alias_mask.ll
  llvm/test/CodeGen/AArch64/alias_mask_nosve.ll
  llvm/test/CodeGen/AArch64/alias_mask_scalable.ll
  llvm/test/CodeGen/AArch64/alias_mask_scalable_nosve2.ll
Labels: backend:AArch64, llvm:SelectionDAG, llvm:ir

#155793 [Sema] Allow zero-size allocations for -Walloc-size
  clang/lib/Sema/SemaExpr.cpp
  clang/test/Analysis/Malloc+MismatchedDeallocator+NewDelete.cpp
  clang/test/Analysis/Malloc+MismatchedDeallocator_intersections.cpp
  clang/test/Analysis/MismatchedDeallocator-checker-test.mm
  clang/test/Analysis/NewDelete-checker-test.cpp
  clang/test/Analysis/NewDelete-intersections.mm
  clang/test/Analysis/unix-fns.c
  clang/test/Sema/warn-alloc-size.c
Labels: clang, clang:frontend, clang:static analyzer

#156122 [OpenACC] 'reduction' 'one-init' lowering, */&& operators.
  clang/lib/Sema/SemaOpenACC.cpp
  clang/test/CIR/CodeGenOpenACC/combined-reduction-clause-default-ops.cpp
  clang/test/CIR/CodeGenOpenACC/combined-reduction-clause-float.cpp
  clang/test/CIR/CodeGenOpenACC/combined-reduction-clause-inline-ops.cpp
  clang/test/CIR/CodeGenOpenACC/combined-reduction-clause-int.cpp
  clang/test/CIR/CodeGenOpenACC/combined-reduction-clause-outline-ops.cpp
  clang/test/CIR/CodeGenOpenACC/compute-reduction-clause-default-ops.c
  clang/test/CIR/CodeGenOpenACC/compute-reduction-clause-default-ops.cpp
  clang/test/CIR/CodeGenOpenACC/compute-reduction-clause-float.c
  clang/test/CIR/CodeGenOpenACC/compute-reduction-clause-float.cpp
  clang/test/CIR/CodeGenOpenACC/compute-reduction-clause-inline-ops.cpp
  clang/test/CIR/CodeGenOpenACC/compute-reduction-clause-int.c
  clang/test/CIR/CodeGenOpenACC/compute-reduction-clause-int.cpp
  clang/test/CIR/CodeGenOpenACC/compute-reduction-clause-outline-ops.cpp
  clang/test/CIR/CodeGenOpenACC/loop-reduction-clause-default-ops.cpp
  clang/test/CIR/CodeGenOpenACC/loop-reduction-clause-float.cpp
  clang/test/CIR/CodeGenOpenACC/loop-reduction-clause-inline-ops.cpp
  clang/test/CIR/CodeGenOpenACC/loop-reduction-clause-int.cpp
  clang/test/CIR/CodeGenOpenACC/loop-reduction-clause-outline-ops.cpp
Labels: clang, clang:frontend, ClangIR

#156108 [clang] load umbrella dir headers in sorted order
  clang/lib/Frontend/FrontendAction.cpp
  clang/test/Modules/Inputs/umbrella_header_order/module.modulemap
  clang/test/Modules/Inputs/umbrella_header_order/umbrella/A.h
  clang/test/Modules/Inputs/umbrella_header_order/umbrella/B.h
  clang/test/Modules/Inputs/umbrella_header_order/umbrella/C.h
  clang/test/Modules/Inputs/umbrella_header_order/umbrella/D.h
  clang/test/Modules/Inputs/umbrella_header_order/umbrella/E.h
  clang/test/Modules/Inputs/umbrella_header_order/umbrella/F.h
  clang/test/Modules/umbrella_dir_order.m
Labels: clang, clang:modules

#156038 [AMDGPU] Autogenerate VOP3 literal checks
  llvm/test/MC/AMDGPU/vop3-literal.s
Labels: backend:AMDGPU

#155679 [libcxx][test] Avoid warnings about unused variables and typedefs if `_LIBCPP_VERSION` is not defined
  libcxx/test/std/containers/container.adaptors/flat.map/flat.map.cons/move_assign_noexcept.compile.pass.cpp
  libcxx/test/std/containers/container.adaptors/flat.map/flat.map.erasure/erase_if_exceptions.pass.cpp
  libcxx/test/std/containers/container.adaptors/flat.multimap/flat.multimap.cons/move_assign_noexcept.compile.pass.cpp
  libcxx/test/std/containers/container.adaptors/flat.multimap/flat.multimap.erasure/erase_if_exceptions.pass.cpp
  libcxx/test/std/containers/container.adaptors/flat.set/flat.set.erasure/erase_if_exceptions.pass.cpp
Labels: libc++

#156247 [memprof] Rename "v2" functions and tests (NFC)
  llvm/unittests/ProfileData/InstrProfTest.cpp
Labels: PGO

#156392 [ADT] Simplify StringMapIterBase (NFC)
  llvm/include/llvm/ADT/StringMap.h
Labels: llvm:adt

#155721 [CIR] Add support for emitting VTTs and related ojects
  clang/lib/CIR/CodeGen/CIRGenCXXABI.h
  clang/lib/CIR/CodeGen/CIRGenItaniumCXXABI.cpp
  clang/lib/CIR/CodeGen/CIRGenVTables.cpp
  clang/lib/CIR/CodeGen/CIRGenVTables.h
  clang/lib/CIR/Dialect/IR/CIRDataLayout.cpp
  clang/test/CIR/CodeGen/vtt.cpp
Labels: clang, ClangIR

#156241 [CIR][NFC] Reorder GenExprComplex and add errors for unhandled visitors
  clang/lib/CIR/CodeGen/CIRGenExprComplex.cpp
  clang/test/CIR/CodeGen/complex-plus-minus.cpp
Labels: clang, ClangIR

#154450 [RISCV] Use slideup to lower build_vector when all operand are (extract_element X, 0)
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp-buildvec.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-int-buildvec.ll
  llvm/test/CodeGen/RISCV/rvv/redundant-vfmvsf.ll
Labels: backend:RISC-V

#156126 [RISCV][VLOPT][NFC] Remove outdated FIXME comments related to supported instructions
  llvm/lib/Target/RISCV/RISCVVLOptimizer.cpp
Labels: backend:RISC-V

#153850 [NFC] RuntimeLibcalls: Prefix the impls with 'Impl_'
  llvm/include/llvm/IR/RuntimeLibcalls.h
  llvm/lib/CodeGen/PreISelIntrinsicLowering.cpp
  llvm/lib/CodeGen/TargetLoweringBase.cpp
  llvm/lib/IR/RuntimeLibcalls.cpp
  llvm/lib/Target/ARM/ARMISelLowering.cpp
  llvm/lib/Target/MSP430/MSP430ISelLowering.cpp
  llvm/lib/Target/Mips/Mips16ISelLowering.cpp
  llvm/lib/Target/Sparc/SparcISelLowering.cpp
  llvm/test/TableGen/RuntimeLibcallEmitter-calling-conv.td
  llvm/test/TableGen/RuntimeLibcallEmitter-conflict-warning.td
  llvm/test/TableGen/RuntimeLibcallEmitter.td
  llvm/unittests/IR/RuntimeLibcallsTest.cpp
  llvm/utils/TableGen/Basic/RuntimeLibcallsEmitter.cpp
Labels: backend:ARM, backend:MIPS, backend:MSP430, backend:Sparc, tablegen, llvm:codegen, llvm:ir

#154248 [HLSL] Codegen for indexing of sub-arrays of multi-dimensional resource arrays
  clang/lib/CodeGen/CGHLSLRuntime.cpp
  clang/test/CodeGenHLSL/resources/res-array-global-subarray-many.hlsl
  clang/test/CodeGenHLSL/resources/res-array-global-subarray-one.hlsl
Labels: clang, clang:codegen, HLSL

#155748 [msan] Fix multiply-add-accumulate (#153927) to use ReductionFactor
  llvm/lib/Transforms/Instrumentation/MemorySanitizer.cpp
  llvm/test/Instrumentation/MemorySanitizer/X86/avx10_2_512ni-intrinsics.ll
  llvm/test/Instrumentation/MemorySanitizer/X86/avx10_2ni-intrinsics.ll
  llvm/test/Instrumentation/MemorySanitizer/X86/avx512vl_vnni-intrinsics-upgrade.ll
  llvm/test/Instrumentation/MemorySanitizer/X86/avx512vl_vnni-intrinsics.ll
  llvm/test/Instrumentation/MemorySanitizer/X86/avx512vnni-intrinsics-upgrade.ll
  llvm/test/Instrumentation/MemorySanitizer/X86/avx512vnni-intrinsics.ll
  llvm/test/Instrumentation/MemorySanitizer/X86/avx_vnni-intrinsics.ll
  llvm/test/Instrumentation/MemorySanitizer/X86/avxvnniint8-intrinsics.ll
Labels: compiler-rt:sanitizer, llvm:transforms

#155603 AMDGPU: Fix fixme for out of bounds indexing in usesConstantBus check
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
Labels: backend:AMDGPU

#150133 [clang][analyzer] Delay checking the model-path
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/lib/StaticAnalyzer/Frontend/ModelInjector.cpp
  clang/test/Analysis/model-file-missing.cpp
Labels: clang, clang:static analyzer

#156376 Exclude some run options on AIX.
  flang/test/Driver/atomic-control-options.f90
Labels: flang:driver, flang

#151004 [PowerPC] Implement vector unpack instructions
  llvm/lib/Target/PowerPC/PPCInstrFuture.td
  llvm/test/MC/Disassembler/PowerPC/ppc-encoding-ISAFuture.txt
  llvm/test/MC/Disassembler/PowerPC/ppc64le-encoding-ISAFuture.txt
  llvm/test/MC/PowerPC/ppc-encoding-ISAFuture.s
Labels: backend:PowerPC, llvm:mc

#150124 [clang] Delay checking of `-fopenmp-host-ir-file-path`
  clang/include/clang/Basic/DiagnosticDriverKinds.td
  clang/include/clang/Basic/DiagnosticFrontendKinds.td
  clang/include/clang/Driver/Options.td
  clang/lib/CodeGen/CodeGenModule.cpp
  clang/lib/Frontend/CompilerInvocation.cpp
Labels: clang, clang:frontend, clang:codegen

#153637 [DebugInfo] When referencing structured bindings use the reference's location, not the binding's declaration's location
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CGCall.h
  clang/lib/CodeGen/CGExpr.cpp
  clang/test/DebugInfo/CXX/structured-binding.cpp
Labels: clang, clang:codegen

#156469 [lldb][windows] use Windows APIs to print to the console
  lldb/include/lldb/Host/File.h
  lldb/source/Host/common/File.cpp
Labels: lldb, platform:windows

#156195 [libc] Add CMake Target for Dl_info.h Header
  libc/include/CMakeLists.txt
  libc/include/llvm-libc-types/CMakeLists.txt
Labels: libc

#156402 AMDGPU: Fix adding m0 uses to gfx94/gfx12 ds atomics
  llvm/lib/Target/AMDGPU/DSInstructions.td
Labels: backend:AMDGPU

#156135 AMDGPU: Avoid using exact class check in reg_sequence AGPR fold
  llvm/lib/Target/AMDGPU/SIFoldOperands.cpp
  llvm/test/CodeGen/AMDGPU/si-fold-operands-agpr-copy-reg-sequence.mir
Labels: backend:AMDGPU

#155607 AMDGPU: Refactor isImmOperandLegal
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.h
Labels: backend:AMDGPU

#156280 [NFC][libclc] Move _CLC_V_V_VP_VECTORIZE macro into clc_lgamma_r.cl and delete clcmacro.h
  libclc/clc/include/clc/clc_convert.h
  libclc/clc/include/clc/clcmacro.h
  libclc/clc/lib/amdgcn/math/clc_ldexp_override.cl
  libclc/clc/lib/amdgpu/math/clc_native_exp2.cl
  libclc/clc/lib/amdgpu/math/clc_sqrt_fp64.cl
  libclc/clc/lib/clspv/math/clc_sw_fma.cl
  libclc/clc/lib/generic/common/clc_degrees.cl
  libclc/clc/lib/generic/common/clc_radians.cl
  libclc/clc/lib/generic/common/clc_smoothstep.cl
  libclc/clc/lib/generic/common/clc_step.cl
  libclc/clc/lib/generic/integer/clc_clz.cl
  libclc/clc/lib/generic/integer/clc_ctz.cl
  libclc/clc/lib/generic/integer/clc_mad_sat.cl
  libclc/clc/lib/generic/math/clc_cbrt.cl
  libclc/clc/lib/generic/math/clc_cos.cl
  libclc/clc/lib/generic/math/clc_exp10.cl
  libclc/clc/lib/generic/math/clc_fmod.cl
  libclc/clc/lib/generic/math/clc_fract.cl
  libclc/clc/lib/generic/math/clc_frexp.inc
  libclc/clc/lib/generic/math/clc_hypot.cl
  libclc/clc/lib/generic/math/clc_ilogb.cl
  libclc/clc/lib/generic/math/clc_ldexp.cl
  libclc/clc/lib/generic/math/clc_lgamma_r.cl
  libclc/clc/lib/generic/math/clc_log.cl
  libclc/clc/lib/generic/math/clc_log10.cl
  libclc/clc/lib/generic/math/clc_log2.cl
  libclc/clc/lib/generic/math/clc_logb.cl
  libclc/clc/lib/generic/math/clc_nextafter.cl
  libclc/clc/lib/generic/math/clc_pow.cl
  libclc/clc/lib/generic/math/clc_pown.cl
  libclc/clc/lib/generic/math/clc_powr.cl
  libclc/clc/lib/generic/math/clc_remainder.cl
  libclc/clc/lib/generic/math/clc_remquo.cl
  libclc/clc/lib/generic/math/clc_sin.cl
  libclc/clc/lib/generic/math/clc_sw_fma.cl
  libclc/clc/lib/generic/relational/clc_bitselect.cl
  libclc/clc/lib/r600/math/clc_native_rsqrt.cl
  libclc/clc/lib/r600/math/clc_rsqrt_override.cl
  libclc/clc/lib/spirv/math/clc_fmax.cl
  libclc/clc/lib/spirv/math/clc_fmin.cl
  libclc/opencl/lib/generic/common/sign.cl
  libclc/opencl/lib/generic/common/smoothstep.cl
  libclc/opencl/lib/generic/math/atan2.cl
  libclc/opencl/lib/generic/math/atan2pi.cl
  libclc/opencl/lib/generic/math/log.cl
  libclc/opencl/lib/generic/math/log10.cl
  libclc/opencl/lib/generic/math/log2.cl
  libclc/opencl/lib/generic/math/nan.cl
Labels: backend:AMDGPU, libclc

#156419 AMDGPU: Fix true16 d16 entry table for DS pseudos
  llvm/lib/Target/AMDGPU/DSInstructions.td
Labels: backend:AMDGPU

#156400 AMDGPU: Try to constrain av registers to VGPR to enable ds_write2 formation
  llvm/lib/Target/AMDGPU/SILoadStoreOptimizer.cpp
  llvm/test/CodeGen/AMDGPU/load-store-opt-ds-regclass-constrain.mir
  llvm/test/CodeGen/AMDGPU/merge-flat-load-store.mir
  llvm/test/CodeGen/AMDGPU/merge-global-load-store.mir
  llvm/test/CodeGen/AMDGPU/merge-load-store-agpr.mir
Labels: backend:AMDGPU

#155383 [VPlan] Reassociate (x & y) & z -> x & (y & z)
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/force-target-instruction-cost.ll
  llvm/test/Transforms/LoopVectorize/RISCV/blocks-with-dead-instructions.ll
  llvm/test/Transforms/LoopVectorize/RISCV/pr87378-vpinstruction-or-drop-poison-generating-flags.ll
  llvm/test/Transforms/LoopVectorize/X86/constant-fold.ll
  llvm/test/Transforms/LoopVectorize/X86/predicate-switch.ll
Labels: backend:RISC-V, vectorizers, llvm:transforms

#155231 [RISCV] Fix incorrect folding of select on ctlz/cttz
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/ctz_zero_return_test.ll
Labels: backend:RISC-V

#156515 [libc] Add more elementwise wrapper functions
  libc/src/__support/CPP/simd.h
  libc/src/string/memory_utils/generic/inline_strlen.h
Labels: libc

#156094 [HLSL][NFC] Add assert to verify implicit binding resource attribute exists
  clang/lib/CodeGen/CGHLSLRuntime.cpp
Labels: clang, clang:codegen, HLSL

#153022 AMDGPU: Handle rewriting VGPR MFMA fed from AGPR copy
  llvm/lib/Target/AMDGPU/AMDGPURewriteAGPRCopyMFMA.cpp
  llvm/test/CodeGen/AMDGPU/rewrite-vgpr-mfma-to-agpr-copy-from.mir
  llvm/test/CodeGen/AMDGPU/rewrite-vgpr-mfma-to-agpr-subreg-src2-chain.mir
  llvm/test/CodeGen/AMDGPU/rewrite-vgpr-mfma-to-agpr.ll
Labels: backend:AMDGPU

#153024 AMDGPU: Add statistic for number of MFMAs moved to AGPR form
  llvm/lib/Target/AMDGPU/AMDGPURewriteAGPRCopyMFMA.cpp
Labels: backend:AMDGPU

#154703 [libc++] Optimize {map,set}::insert(InputIterator, InputIterator)
  libcxx/docs/ReleaseNotes/22.rst
  libcxx/include/__tree
  libcxx/include/map
  libcxx/include/set
  libcxx/test/std/containers/associative/map/map.modifiers/insert_iter_iter.pass.cpp
  libcxx/test/std/containers/associative/set/insert_iter_iter.pass.cpp
Labels: libc++

#145153 [libc++] Simplify std::function implementation further
  libcxx/include/__functional/function.h
  libcxx/include/__type_traits/invoke.h
Labels: libc++

#142535 llvm-tli-checker: Remove TLINameList helper struct
  llvm/include/llvm/Analysis/TargetLibraryInfo.h
  llvm/tools/llvm-tli-checker/llvm-tli-checker.cpp
Labels: llvm-tools, llvm:analysis

#156407 [AArch64] Guard fptosi+sitofp patterns with one use checks.
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/test/CodeGen/AArch64/cvt-fp-int-fp.ll
Labels: backend:AArch64

#153023 AMDGPU: Handle V->A MFMA copy from case with immediate src2
  llvm/lib/Target/AMDGPU/AMDGPURewriteAGPRCopyMFMA.cpp
  llvm/test/CodeGen/AMDGPU/rewrite-vgpr-mfma-to-agpr-copy-from.mir
Labels: backend:AMDGPU

#156309 [LangRef] Clarify semantics of objectsize min parameter
  llvm/docs/LangRef.rst
Labels: llvm:ir

#155156 [libc++][ranges] LWG4083: `views::as_rvalue` should reject non-input ranges
  libcxx/docs/Status/Cxx2cIssues.csv
  libcxx/include/__ranges/as_rvalue_view.h
  libcxx/test/std/ranges/range.adaptors/range.as.rvalue/adaptor.pass.cpp
Labels: libc++, ranges

#156403 [flang] Avoid unnecessary looping for constants
  flang/lib/Lower/ConvertConstant.cpp
Labels: flang, flang:fir-hlfir

#154738 [Analyzer] No longer crash with VLA operands to unary type traits
  clang/lib/StaticAnalyzer/Core/ExprEngineC.cpp
  clang/test/Analysis/engine/gh151711.cpp
Labels: clang, clang:static analyzer, release:backport

#155513 release/21.x: [clang][PAC] Fix builtins that claim address discriminated types are bitwise compatible (#154490)
  clang/include/clang/AST/ASTContext.h
  clang/lib/AST/ASTContext.cpp
  clang/lib/AST/DeclCXX.cpp
  clang/lib/AST/Type.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaTypeTraits.cpp
  clang/test/SemaCXX/ptrauth-triviality.cpp
  clang/test/SemaCXX/ptrauth-type-traits.cpp
  clang/test/SemaCXX/trivially-relocatable-ptrauth.cpp
Labels: clang, clang:frontend

#156636 [AMDGPU] Use "v_bfi_b32 x, 0, z" to implement (z & ~x)
  llvm/lib/Target/AMDGPU/SIInstructions.td
  llvm/test/CodeGen/AMDGPU/GlobalISel/andn2.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fshl.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/fshr.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/insertelement.i16.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/insertelement.i8.ll
  llvm/test/CodeGen/AMDGPU/andorn2.ll
  llvm/test/CodeGen/AMDGPU/anyext.ll
  llvm/test/CodeGen/AMDGPU/bitop3.ll
  llvm/test/CodeGen/AMDGPU/llvm.round.f64.ll
Labels: backend:AMDGPU

#156644 AMDGPU: Remove dead code for printing DFP immediates
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUInstPrinter.cpp
Labels: backend:AMDGPU

#156355 [mlir][ptr] Add translations to LLVMIR for ptr ops.
  mlir/include/mlir/Dialect/LLVMIR/LLVMOpBase.td
  mlir/lib/Target/LLVMIR/Dialect/Ptr/PtrToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/ptr.mlir
Labels: mlir:llvm, mlir

#130988 [AMDGPU] Implement IR expansion for frem instruction
  llvm/include/llvm/CodeGen/ExpandFp.h
  llvm/include/llvm/CodeGen/Passes.h
  llvm/include/llvm/Passes/CodeGenPassBuilder.h
  llvm/lib/CodeGen/ExpandFp.cpp
  llvm/lib/CodeGen/TargetPassConfig.cpp
  llvm/lib/Passes/PassBuilder.cpp
  llvm/lib/Passes/PassRegistry.def
  llvm/lib/Target/AMDGPU/AMDGPUISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/frem.ll
  llvm/test/CodeGen/AMDGPU/dagcombine-select.ll
  llvm/test/CodeGen/AMDGPU/freeze-binary.ll
  llvm/test/CodeGen/AMDGPU/frem.ll
  llvm/test/CodeGen/AMDGPU/llc-pipeline-npm.ll
  llvm/test/CodeGen/AMDGPU/wave32.ll
  llvm/test/CodeGen/LoongArch/opt-pipeline.ll
  llvm/test/CodeGen/X86/opt-pipeline.ll
  llvm/test/Transforms/ExpandFp/AMDGPU/frem-inf.ll
  llvm/test/Transforms/ExpandFp/AMDGPU/frem.ll
  llvm/test/Transforms/ExpandFp/AMDGPU/lit.local.cfg
Labels: backend:AMDGPU, floating-point

#156368 [mlir][ptr] Add `gather`, `masked_load`, `masked_store`, and `scatter` ops
  mlir/include/mlir/Dialect/Ptr/IR/PtrOps.td
  mlir/include/mlir/IR/OpBase.td
  mlir/lib/Dialect/Ptr/IR/PtrDialect.cpp
  mlir/lib/Target/LLVMIR/Dialect/Ptr/PtrToLLVMIRTranslation.cpp
  mlir/test/Dialect/Ptr/ops.mlir
  mlir/test/Target/LLVMIR/ptr.mlir
Labels: mlir:core, mlir, mlir:ptr

#152786 [clang][OpenMP] 6.0: detect privatization of array section/assumed-size array
  clang/docs/OpenMPSupport.rst
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaOpenMP.cpp
  clang/test/OpenMP/scan_messages.cpp
  clang/test/OpenMP/target_data_use_device_addr_codegen.cpp
  clang/test/OpenMP/target_has_device_addr_messages.cpp
  clang/test/OpenMP/task_in_reduction_message.cpp
  clang/test/OpenMP/taskgroup_task_reduction_messages.cpp
  clang/test/OpenMP/teams_reduction_messages.cpp
Labels: clang, clang:frontend, clang:openmp

#156691 [bazel][libc] Update MPFR to v4.2.2
  utils/bazel/WORKSPACE
Labels: bazel

#156697 [bazel] Port #153661: LifetimeSafetyTest dep
  utils/bazel/llvm-project-overlay/clang/unittests/BUILD.bazel
Labels: bazel, skip-precommit-approval

#155972 [RISCV][GlobalISel] Lower G_ATOMICRMW_SUB via G_ATOMICRMW_ADD
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/lib/Target/RISCV/GISel/RISCVLegalizerInfo.cpp
  llvm/test/CodeGen/RISCV/GlobalISel/atomicrmw-add-sub.ll
  llvm/test/CodeGen/RISCV/GlobalISel/atomicrmw-add.ll
  llvm/test/CodeGen/RISCV/GlobalISel/instruction-select/atomicrmw-add-rv32.mir
  llvm/test/CodeGen/RISCV/GlobalISel/instruction-select/atomicrmw-add-rv64.mir
  llvm/test/CodeGen/RISCV/GlobalISel/instruction-select/atomicrmw-add-sub-rv32.mir
  llvm/test/CodeGen/RISCV/GlobalISel/instruction-select/atomicrmw-add-sub-rv64.mir
  llvm/test/CodeGen/RISCV/GlobalISel/legalizer-info-validation.mir
  llvm/test/CodeGen/RISCV/GlobalISel/legalizer/legalize-atomicrmw-add-rv32.mir
  llvm/test/CodeGen/RISCV/GlobalISel/legalizer/legalize-atomicrmw-add-rv64.mir
  llvm/test/CodeGen/RISCV/GlobalISel/legalizer/legalize-atomicrmw-add-sub-rv32.mir
  llvm/test/CodeGen/RISCV/GlobalISel/legalizer/legalize-atomicrmw-add-sub-rv64.mir
Labels: backend:RISC-V, llvm:globalisel

#156125 [lit] Update internal shell lexer to handle LLDB persistent vars.
  llvm/utils/lit/lit/ShUtil.py
  llvm/utils/lit/tests/unit/ShUtil.py
Labels: llvm-lit, testing-tools

#156356 [CIR] Upstream FPToFPBuiltin ACosOp
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/CodeGen/CIRGenBuiltin.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.h
  clang/test/CIR/CodeGen/builtins-elementwise.c
Labels: clang, ClangIR

#156526 [lld] Update tests redirecting multiple commands to FileCheck
  lld/test/ELF/lto/comdat-nodeduplicate.ll
  lld/test/MachO/stabs.s
Labels: lld, lld:MachO, lld:ELF

#156706 [bazel][mlir] Port #156374: ptr_add shaped operands support
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: bazel, skip-precommit-approval

#156506 [lldb][RISCV][test] make atomic region stepping test more robust
  lldb/test/API/riscv/step/TestSoftwareStep.py
  lldb/test/API/riscv/step/branch.c
  lldb/test/API/riscv/step/incomplete_sequence_without_lr.c
  lldb/test/API/riscv/step/incomplete_sequence_without_sc.c
  lldb/test/API/riscv/step/main.c
Labels: lldb, backend:RISC-V

#156385 [Headers][X86] Allow FMA intrinsics to be used in constexpr
  clang/lib/Headers/avx512fintrin.h
  clang/lib/Headers/avx512vlintrin.h
  clang/test/CodeGen/X86/avx512f-builtins.c
  clang/test/CodeGen/X86/avx512vl-builtins.c
Labels: clang, backend:X86, clang:headers

#156031 [mlir][spirv] Add pattern matching for arith.index_cast index to i1 for ArithToSPIRV
  mlir/lib/Conversion/ArithToSPIRV/ArithToSPIRV.cpp
  mlir/test/Conversion/ArithToSPIRV/arith-to-spirv.mlir
Labels: mlir:spirv, mlir

#155575 [libc][math][c++23] Add fmodbf16 math function
  libc/config/baremetal/aarch64/entrypoints.txt
  libc/config/baremetal/arm/entrypoints.txt
  libc/config/baremetal/riscv/entrypoints.txt
  libc/config/darwin/aarch64/entrypoints.txt
  libc/config/darwin/x86_64/entrypoints.txt
  libc/config/gpu/amdgpu/entrypoints.txt
  libc/config/gpu/nvptx/entrypoints.txt
  libc/config/linux/aarch64/entrypoints.txt
  libc/config/linux/arm/entrypoints.txt
  libc/config/linux/riscv/entrypoints.txt
  libc/config/linux/x86_64/entrypoints.txt
  libc/config/windows/entrypoints.txt
  libc/docs/headers/math/index.rst
  libc/src/math/CMakeLists.txt
  libc/src/math/fmodbf16.h
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/fmodbf16.cpp
  libc/test/src/math/exhaustive/CMakeLists.txt
  libc/test/src/math/exhaustive/fmodbf16_test.cpp
  libc/test/src/math/smoke/CMakeLists.txt
  libc/test/src/math/smoke/FModTest.h
  libc/test/src/math/smoke/fmodbf16_test.cpp
Labels: backend:AMDGPU, backend:RISC-V, libc

#156606 [MLIR][IRDL][CMake] Switch to using `setup_host_tool` to fix cross compilation
  mlir/tools/mlir-irdl-to-cpp/CMakeLists.txt
Labels: mlir:core, mlir

#156538 [lld] Make lld tests use lit internal shell by default
  lld/test/MachO/objc-category-merging-minimal.s
  lld/test/lit.cfg.py
Labels: lld, lld:MachO

#155353 [GlobalISel] Add multi-way splitting support for wide scalar shifts.
  llvm/include/llvm/CodeGen/GlobalISel/LegalizerHelper.h
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/split-wide-shifts-multiway.ll
  llvm/test/CodeGen/RISCV/GlobalISel/wide-scalar-shift-by-byte-multiple-legalization.ll
Labels: backend:AArch64, backend:RISC-V, llvm:globalisel

#156711 Fix `python/ir/auto_location.py` test on Windows
  mlir/test/python/ir/auto_location.py
Labels: mlir

#151194 [PowerPC][NFC] Refactor PPCInstrFutureMMA.td to combine sections
  llvm/lib/Target/PowerPC/PPCInstrFutureMMA.td
Labels: backend:PowerPC

#155729 [mlir][spirv] Add pattern matching for arith.index_cast i1 to index for ArithToSPIRV
  mlir/lib/Conversion/ArithToSPIRV/ArithToSPIRV.cpp
  mlir/test/Conversion/ArithToSPIRV/arith-to-spirv.mlir
Labels: mlir:spirv, mlir

#155697 [CIR] Emit copy for aggregate initialization
  clang/include/clang/CIR/Dialect/Builder/CIRBaseBuilder.h
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/include/clang/CIR/MissingFeatures.h
  clang/lib/CIR/CodeGen/CIRGenExprAggregate.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.h
  clang/lib/CIR/CodeGen/CIRGenValue.h
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Dialect/IR/CIRMemorySlot.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.h
  clang/test/CIR/CodeGen/statement-exprs.c
  clang/test/CIR/CodeGen/variable-decomposition.cpp
  clang/test/CIR/CodeGenOpenACC/compute-firstprivate-clause.c
  clang/test/CIR/IR/copy.cir
  clang/test/CIR/IR/invalid-copy.cir
Labels: clang, ClangIR

#156300 [llvm-exegesis] Exclude loads/stores from aliasing instruction set
  llvm/test/tools/llvm-exegesis/AArch64/no-aliasing-ld-str.s
  llvm/tools/llvm-exegesis/lib/MCInstrDescView.cpp
Labels: tools:llvm-exegesis

#155673 [AMX][PreTileConfig] Ensure that PLDTILECFGV instruction is sinked closer to tile use instruction.
  llvm/lib/Target/X86/X86FastPreTileConfig.cpp
  llvm/test/CodeGen/X86/AMX/amx-across-func.ll
  llvm/test/CodeGen/X86/AMX/amx-sink-config-after-calls.mir
Labels: backend:X86

#154637 [mlir][XeGPU] add unroll patterns for load_matrix and store_matrix
  mlir/include/mlir/Dialect/XeGPU/Transforms/Passes.td
  mlir/include/mlir/Dialect/XeGPU/Utils/XeGPUUtils.h
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUBlocking.cpp
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUUnroll.cpp
  mlir/lib/Dialect/XeGPU/Utils/XeGPUUtils.cpp
  mlir/test/Dialect/XeGPU/xegpu-blocking.mlir
  mlir/test/Dialect/XeGPU/xegpu-wg-to-sg.mlir
Labels: mlir:gpu, mlir

#156681 [lldb][DWARFASTParserClang] Don't complete conflicting Objective-C++ types
  lldb/source/Plugins/SymbolFile/DWARF/DWARFASTParserClang.cpp
  lldb/test/Shell/SymbolFile/DWARF/objcxx-forward-decls.test
Labels: lldb

#156521 [CIR] Add support for constructors with VTT parameters
  clang/include/clang/CIR/MissingFeatures.h
  clang/lib/CIR/CodeGen/CIRGenBuilder.h
  clang/lib/CIR/CodeGen/CIRGenCXXABI.cpp
  clang/lib/CIR/CodeGen/CIRGenCXXABI.h
  clang/lib/CIR/CodeGen/CIRGenCall.cpp
  clang/lib/CIR/CodeGen/CIRGenClass.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.h
  clang/lib/CIR/CodeGen/CIRGenItaniumCXXABI.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
  clang/lib/CIR/CodeGen/CIRGenTypes.h
  clang/lib/CIR/CodeGen/CIRGenVTables.cpp
  clang/lib/CIR/CodeGen/CIRGenVTables.h
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/test/CIR/CodeGen/vtt.cpp
  clang/test/CIR/Lowering/vtt-addrpoint.cir
Labels: clang, ClangIR

#156728 Revert "[lldb] Add Pythonic API to SBStructuredData extension (#155061)"
  lldb/bindings/interface/SBStructuredDataExtensions.i
  lldb/test/API/python_api/sbstructureddata/TestStructuredDataAPI.py
Labels: lldb

#155023 [lldb] Add count for errors of DWO files in statistics and combine DWO file count functions
  lldb/include/lldb/Symbol/SymbolFile.h
  lldb/include/lldb/Target/Statistics.h
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.cpp
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.h
  lldb/source/Target/Statistics.cpp
  lldb/test/API/commands/statistics/basic/TestStats.py
  lldb/test/API/commands/statistics/basic/dwo_error_foo.cpp
  lldb/test/API/commands/statistics/basic/dwo_error_main.cpp
Labels: lldb

#153322 [llvm-objcopy][COFF] Update .symidx values after stripping
  llvm/lib/ObjCopy/COFF/COFFObject.cpp
  llvm/lib/ObjCopy/COFF/COFFObject.h
  llvm/lib/ObjCopy/COFF/COFFWriter.cpp
  llvm/lib/ObjCopy/COFF/COFFWriter.h
  llvm/test/tools/llvm-objcopy/COFF/strip-invalid-symidx-section.test
  llvm/test/tools/llvm-objcopy/COFF/strip-update-symidx-section.test
Labels: llvm:binary-utilities

#156749 [NFC] Apply clang-format to PPCInstrFutureMMA.td
  llvm/lib/Target/PowerPC/PPCInstrFutureMMA.td
Labels: backend:PowerPC

#153117 [lldb] Mark scripted frames as synthetic instead of artificial
  lldb/include/lldb/API/SBFrame.h
  lldb/include/lldb/Core/FormatEntity.h
  lldb/include/lldb/Target/StackFrame.h
  lldb/source/API/SBFrame.cpp
  lldb/source/Core/CoreProperties.td
  lldb/source/Core/FormatEntity.cpp
  lldb/source/Plugins/Process/scripted/ScriptedThread.cpp
  lldb/source/Target/StackFrame.cpp
  lldb/source/Target/StackFrameList.cpp
  lldb/test/API/functionalities/scripted_process/TestScriptedProcess.py
  lldb/test/Shell/ScriptInterpreter/Python/Crashlog/app_specific_backtrace_crashlog.test
  lldb/test/Shell/ScriptInterpreter/Python/Crashlog/interactive_crashlog_arm64_register.test
  lldb/test/Shell/ScriptInterpreter/Python/Crashlog/interactive_crashlog_json.test
  lldb/test/Shell/ScriptInterpreter/Python/Crashlog/interactive_crashlog_legacy.test
  lldb/test/Shell/ScriptInterpreter/Python/Crashlog/last_exception_backtrace_crashlog.test
  lldb/test/Shell/ScriptInterpreter/Python/Crashlog/skipped_status_interactive_crashlog.test
  lldb/unittests/Core/FormatEntityTest.cpp
Labels: lldb

#156765 [AMDGPU] Define 1024 VGPRs on gfx1250
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.cpp
  llvm/lib/Target/AMDGPU/GCNSubtarget.cpp
  llvm/lib/Target/AMDGPU/MCTargetDesc/AMDGPUMCCodeEmitter.cpp
  llvm/lib/Target/AMDGPU/SIDefines.h
  llvm/lib/Target/AMDGPU/SIFrameLowering.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
  llvm/lib/Target/AMDGPU/SIRegisterInfo.cpp
  llvm/lib/Target/AMDGPU/SIRegisterInfo.h
  llvm/lib/Target/AMDGPU/SIRegisterInfo.td
  llvm/lib/Target/AMDGPU/Utils/AMDGPUBaseInfo.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/irtranslator-inline-asm.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/regbankcombiner-ignore-copies-crash.mir
  llvm/test/CodeGen/AMDGPU/branch-relax-indirect-branch.mir
  llvm/test/CodeGen/AMDGPU/branch-relax-no-terminators.mir
  llvm/test/CodeGen/AMDGPU/coalesce-copy-to-agpr-to-av-registers.mir
  llvm/test/CodeGen/AMDGPU/coalescer-early-clobber-subreg.mir
  llvm/test/CodeGen/AMDGPU/hazards-gfx950.mir
  llvm/test/CodeGen/AMDGPU/inflate-reg-class-vgpr-mfma-to-av-with-load-source.mir
  llvm/test/CodeGen/AMDGPU/inline-asm-out-of-bounds-register.ll
  llvm/test/CodeGen/AMDGPU/inline-asm.i128.ll
  llvm/test/CodeGen/AMDGPU/local-stack-alloc-add-references.gfx10.mir
  llvm/test/CodeGen/AMDGPU/local-stack-alloc-add-references.gfx8.mir
  llvm/test/CodeGen/AMDGPU/local-stack-alloc-add-references.gfx9.mir
  llvm/test/CodeGen/AMDGPU/partial-regcopy-and-spill-missed-at-regalloc.ll
  llvm/test/CodeGen/AMDGPU/pei-vgpr-block-spill-csr.mir
  llvm/test/CodeGen/AMDGPU/rewrite-vgpr-mfma-to-agpr-copy-from.mir
  llvm/test/CodeGen/AMDGPU/rewrite-vgpr-mfma-to-agpr-subreg-insert-extract.mir
  llvm/test/CodeGen/AMDGPU/rewrite-vgpr-mfma-to-agpr-subreg-src2-chain.mir
  llvm/test/CodeGen/AMDGPU/spill-vector-superclass.ll
  llvm/test/tools/UpdateTestChecks/update_llc_test_checks/Inputs/amdgpu_isel.ll.expected
  llvm/unittests/Target/AMDGPU/DwarfRegMappings.cpp
Labels: backend:AMDGPU, llvm:globalisel

#156729 [LLDB] Make internal shell the default for running LLDB lit tests.
  lldb/test/Shell/Process/Optimization.test
  lldb/test/Shell/Process/UnsupportedLanguage.test
  lldb/test/Shell/SymbolFile/DWARF/dwo-missing-error.test
  lldb/test/Shell/lit.cfg.py
Labels: lldb

#132558 [win/asan] Improve SharedReAlloc with HEAP_REALLOC_IN_PLACE_ONLY.
  compiler-rt/lib/asan/asan_malloc_win.cpp
  compiler-rt/test/asan/TestCases/Windows/rtlallocateheap_realloc_in_place.cpp
Labels: compiler-rt, compiler-rt:asan, compiler-rt:sanitizer

#156776 [libc][NFC] disable localtime on aarch64/baremetal
  libc/config/baremetal/aarch64/entrypoints.txt
Labels: libc

#156420 AMDGPU: Add agpr variants of multi-data DS instructions
  llvm/lib/Target/AMDGPU/DSInstructions.td
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
  llvm/lib/Target/AMDGPU/SIRegisterInfo.td
  llvm/test/CodeGen/AMDGPU/a-v-ds-atomic-cmpxchg.ll
  llvm/test/MC/AMDGPU/gfx90a_err.s
  llvm/test/MC/AMDGPU/gfx90a_ldst_acc.s
Labels: backend:AMDGPU

#156777 Revert "[lldb] Add count for errors of DWO files in statistics and combine DWO file count functions"
  lldb/include/lldb/Symbol/SymbolFile.h
  lldb/include/lldb/Target/Statistics.h
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.cpp
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.h
  lldb/source/Target/Statistics.cpp
  lldb/test/API/commands/statistics/basic/TestStats.py
  lldb/test/API/commands/statistics/basic/dwo_error_foo.cpp
  lldb/test/API/commands/statistics/basic/dwo_error_main.cpp
Labels: lldb

#156772 [clang] fix error recovery for invalid nested name specifiers
  clang/include/clang/Sema/Sema.h
  clang/lib/Parse/ParseDeclCXX.cpp
  clang/lib/Sema/SemaCXXScopeSpec.cpp
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/test/SemaCXX/GH156458.cpp
Labels: clang, clang:frontend

#155861 [HLSL] Reorder arguments of __builtin_hlsl_resource_handlefromimplicitbinding
  clang/lib/CodeGen/CGHLSLBuiltins.cpp
  clang/lib/Sema/HLSLBuiltinTypeDeclBuilder.cpp
  clang/lib/Sema/SemaHLSL.cpp
  clang/test/AST/HLSL/ByteAddressBuffers-AST.hlsl
  clang/test/AST/HLSL/StructuredBuffers-AST.hlsl
  clang/test/AST/HLSL/TypedBuffers-AST.hlsl
Labels: clang, clang:frontend, clang:codegen, HLSL

#156131 [lldb-dap] Add `--no-lldbinit` as a CLI flag
  lldb/packages/Python/lldbsuite/test/tools/lldb-dap/dap_server.py
  lldb/packages/Python/lldbsuite/test/tools/lldb-dap/lldbdap_testcase.py
  lldb/test/API/tools/lldb-dap/launch/TestDAP_launch.py
  lldb/tools/lldb-dap/DAP.cpp
  lldb/tools/lldb-dap/DAP.h
  lldb/tools/lldb-dap/Handler/InitializeRequestHandler.cpp
  lldb/tools/lldb-dap/Options.td
  lldb/tools/lldb-dap/tool/lldb-dap.cpp
  lldb/unittests/DAP/DAPTest.cpp
  lldb/unittests/DAP/TestBase.cpp
Labels: lldb, lldb-dap

#151475 [LoongArch] Optimize extractelement containing variable index for lasx
  llvm/lib/Target/LoongArch/LoongArchISelLowering.cpp
  llvm/lib/Target/LoongArch/LoongArchISelLowering.h
  llvm/lib/Target/LoongArch/LoongArchLASXInstrInfo.td
  llvm/test/CodeGen/LoongArch/lasx/ir-instruction/extractelement.ll
Labels: backend:loongarch

#151634 [LoongArch] Use xvperm.w for cross-lane access within a single vector
  llvm/lib/Target/LoongArch/LoongArchISelLowering.cpp
  llvm/test/CodeGen/LoongArch/lasx/shuffle-as-permute-and-shuffle.ll
Labels: backend:loongarch

#156085 [CIR] Add support for discrete bit-field
  clang/include/clang/CIR/Dialect/IR/CIRDataLayout.h
  clang/include/clang/CIR/MissingFeatures.h
  clang/lib/CIR/CodeGen/CIRGenRecordLayoutBuilder.cpp
  clang/test/CIR/CodeGen/mms-bitfields.c
Labels: clang, ClangIR

#156618 [RISCV] Use vleff's AVL when output VL doesn't dominate in RISCVVLOptimizer
  llvm/lib/Target/RISCV/RISCVVLOptimizer.cpp
  llvm/test/CodeGen/RISCV/rvv/vl-opt.mir
Labels: backend:RISC-V

#154847 [RISCV] Fold (vslide1up undef, v, (extract_elt x, 0)) into (vslideup x, v, 1)
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-fp-buildvec.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-int-buildvec.ll
  llvm/test/CodeGen/RISCV/rvv/redundant-vfmvsf.ll
Labels: backend:RISC-V

#156275 [NVPTX] Remove unnecessary casts (NFC)
  llvm/lib/Target/NVPTX/NVPTXAsmPrinter.cpp
Labels: backend:NVPTX

#156129 [BOLT][AArch64][instr] Remove red zone clobbering protection
  bolt/lib/Target/AArch64/AArch64MCPlusBuilder.cpp
Labels: BOLT

#156580 AMDGPU: Change DS classes to use RegisterOperand parameters
  llvm/lib/Target/AMDGPU/DSInstructions.td
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
  llvm/lib/Target/AMDGPU/SIRegisterInfo.td
Labels: backend:AMDGPU

#156666 [clang][bytecode] Remove superfluous check for complex types
  clang/lib/AST/ByteCode/Compiler.cpp
Labels: clang, clang:frontend, clang:bytecode

#156655 AMDGPU: Fix definitions of DS ret atomics with AGPRs
  llvm/lib/Target/AMDGPU/DSInstructions.td
  llvm/test/MC/AMDGPU/gfx90a_ldst_acc.s
Labels: backend:AMDGPU
