Repository llvm/llvm-project, pull requests merged in 2025-03, with the labels that each got.

#129335 [SandboxVec][NFC] Add LLVM_DEBUG dumps
  llvm/include/llvm/Transforms/Vectorize/SandboxVectorizer/Debug.h
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/Legality.cpp
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/Passes/BottomUpVec.cpp
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/Passes/TransactionAcceptOrRevert.cpp
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/Passes/TransactionSave.cpp
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/SandboxVectorizer.cpp
Labels: vectorizers, llvm:transforms

#129275 [lldb] Add ability to inspect backing threads with `thread info`
  lldb/source/Commands/CommandObjectThread.cpp
  lldb/source/Commands/Options.td
  lldb/test/API/functionalities/plugins/python_os_plugin/TestPythonOSPlugin.py
Labels: lldb

#129178 [NVPTX] Delete `IsSimpleMove` (NFC)
  llvm/lib/Target/NVPTX/MCTargetDesc/NVPTXBaseInfo.h
  llvm/lib/Target/NVPTX/NVPTXInstrFormats.td
  llvm/lib/Target/NVPTX/NVPTXInstrInfo.td
Labels: backend:NVPTX

#128978 [RISCV][MCA] Pick the correct VPseudo sched class for indexed memory operation
  llvm/lib/Target/RISCV/MCA/RISCVCustomBehaviour.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoV.td
  llvm/test/tools/llvm-mca/RISCV/SiFiveP400/vlseg-vsseg.s
  llvm/test/tools/llvm-mca/RISCV/SiFiveP600/vlseg-vsseg.s
Labels: backend:RISC-V

#129131 [BOLT] Refactor MCInst target symbol lookup. NFCI
  bolt/lib/Core/BinaryFunction.cpp
Labels: BOLT

#128993 [MLIR] NFC. Improve API signature + clang-tidy warning in IntegerRelation
  mlir/include/mlir/Analysis/Presburger/IntegerRelation.h
  mlir/lib/Analysis/FlatLinearValueConstraints.cpp
  mlir/lib/Analysis/Presburger/IntegerRelation.cpp
Labels: mlir, mlir:presburger

#125452 [LangRef] Correct documentation for `roundeven`
  llvm/docs/LangRef.rst
Labels: floating-point, llvm:ir

#129349 [libc] Fix warning in libc/utils/MPCWrapper/MPCUtils.h
  libc/utils/MPCWrapper/MPCUtils.h
Labels: libc

#114314 [SimplifyLibCalls][NFC] Fix Typo in Header Comment
  llvm/lib/Transforms/Utils/SimplifyLibCalls.cpp
Labels: llvm:transforms

#129297 [RISCV] Remove the offset numbers from the FixedCSRFIMap. NFC
  llvm/lib/Target/RISCV/RISCVFrameLowering.cpp
Labels: backend:RISC-V

#129350 AMDGPU: Sort an instruction definition by opcode
  llvm/lib/Target/AMDGPU/VOP3PInstructions.td
Labels: backend:AMDGPU

#129355 [ADT] Avoid repeated hash lookups (NFC)
  llvm/include/llvm/ADT/SCCIterator.h
Labels: llvm:adt

#125404 [MC/DC] Update CoverageMapping tests
  clang/test/CoverageMapping/mcdc-error-nests.cpp
  clang/test/CoverageMapping/mcdc-nested-expr.cpp
Labels: clang

#128304 [mlir] Remove duplicate comment(NFC)
  mlir/lib/IR/Types.cpp
Labels: mlir:core, mlir

#129338 [mlir][tosa] Add missing controlflow extension comment
  mlir/include/mlir/Dialect/Tosa/IR/TosaOpBase.td
Labels: mlir, mlir:tosa

#128435 [X86] Extend `combinei64TruncSrlAdd` to handle patterns with `or` and `xor`
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/combine-i64-trunc-srl-add.ll
Labels: backend:X86

#127343 [libc++] Implements LWG3600 Making istream_iterator copy constructor trivial is an ABI break
  libcxx/docs/Status/Cxx23Issues.csv
  libcxx/include/__iterator/istream_iterator.h
  libcxx/include/iterator
  libcxx/test/std/iterators/stream.iterators/istream.iterator/istream.iterator.cons/copy.pass.cpp
Labels: libc++

#128042 [libc++] Prohibits initializer_list specializations.
  libcxx/docs/Status/Cxx17Issues.csv
  libcxx/include/initializer_list
  libcxx/test/std/language.support/support.initlist/support.initlist.syn/specialization.verify.cpp
Labels: libc++

#129272 [DAGCombiner] Don't ignore N2's undef elements in `foldVSelectOfConstants`
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/test/CodeGen/X86/vselect-constants.ll
Labels: backend:X86, llvm:SelectionDAG

#129164 [WebAssembly] Make WASI -threads environment behave as -pthread
  clang/lib/Driver/ToolChains/WebAssembly.cpp
  clang/test/Driver/wasm-toolchain.c
Labels: clang, clang:driver

#129200 [MLIR][Affine] Fix bug in `simplifySemiAffine` utility
  mlir/lib/IR/AffineExpr.cpp
  mlir/test/Dialect/Affine/simplify-structures.mlir
Labels: mlir:core, mlir:affine, mlir

#128466 [InstCombine] Simplify nonnull phi nodes
  llvm/lib/Transforms/InstCombine/InstCombineLoadStoreAlloca.cpp
  llvm/test/Transforms/InstCombine/load.ll
Labels: llvm:instcombine, llvm:transforms

#129215 [AArch64] fall back to SDAG for instructions with emulated TLS variables
  llvm/lib/Target/AArch64/GISel/AArch64InstructionSelector.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/emutls-fallback.ll
Labels: backend:AArch64, llvm:globalisel

#129357 [Hexagon] Avoid repeated hash lookups (NFC)
  llvm/lib/Target/Hexagon/HexagonCopyHoisting.cpp
Labels: backend:Hexagon

#129358 [SPIRV] Avoid repeated hash lookups (NFC)
  llvm/lib/Target/SPIRV/SPIRVMergeRegionExitTargets.cpp
Labels: backend:SPIR-V

#129359 [Transforms] Avoid repeated hash lookups (NFC)
  llvm/include/llvm/Transforms/Utils/SampleProfileLoaderBaseImpl.h
Labels: PGO, llvm:transforms

#129360 [X86] Avoid repeated hash lookups (NFC)
  llvm/lib/Target/X86/X86LowerAMXType.cpp
Labels: backend:X86

#129372 [memprof] Use llvm::equal in stackFrameIncludesInlinedCallStack (NFC)
  llvm/lib/Transforms/Instrumentation/MemProfiler.cpp
Labels: llvm:transforms

#129375 [VectorCombine] scalarizeLoadExtract - don't create scalar loads if any extract is waiting to be erased
  llvm/lib/Transforms/Vectorize/VectorCombine.cpp
  llvm/test/Transforms/VectorCombine/X86/load-extractelement-scalarization.ll
Labels: vectorizers, llvm:transforms

#129352 [InstSimplify] Fold `X * C >= X` to `true`
  llvm/lib/Analysis/InstructionSimplify.cpp
  llvm/test/Transforms/InstSimplify/icmp-monotonic.ll
Labels: llvm:instcombine, llvm:analysis, llvm:transforms

#127581 [Mips] Allow expressions in some immediate operands
  llvm/lib/Target/Mips/AsmParser/MipsAsmParser.cpp
  llvm/lib/Target/Mips/MCTargetDesc/MipsAsmBackend.cpp
  llvm/lib/Target/Mips/MCTargetDesc/MipsBaseInfo.h
  llvm/lib/Target/Mips/MCTargetDesc/MipsELFObjectWriter.cpp
  llvm/lib/Target/Mips/MCTargetDesc/MipsFixupKinds.h
  llvm/lib/Target/Mips/MCTargetDesc/MipsMCCodeEmitter.cpp
  llvm/lib/Target/Mips/MCTargetDesc/MipsMCCodeEmitter.h
  llvm/test/MC/Mips/fixup-expr.s
  llvm/test/MC/Mips/imm-operand-err.s
Labels: mc

#128883 [LLD][ELF] Add `-z execute-only-report` that checks PURECODE section flags
  lld/ELF/Config.h
  lld/ELF/Driver.cpp
  lld/ELF/Writer.cpp
  lld/test/ELF/aarch64-execute-only-report.s
  lld/test/ELF/arm-execute-only-report.s
  lld/test/ELF/target-specific-options.s
Labels: lld, lld:ELF

#129323 [Offload][AMDGPU] Enable SPIRV target in build conf
  offload/cmake/caches/AMDGPUBot.cmake
Labels: backend:AMDGPU, offload

#123539 [cindex] Add API to query the class methods of a type
  clang/bindings/python/clang/cindex.py
  clang/bindings/python/tests/cindex/test_type.py
  clang/docs/ReleaseNotes.rst
  clang/include/clang-c/Index.h
  clang/tools/libclang/CIndexCXX.cpp
  clang/tools/libclang/libclang.map
Labels: clang, clang:as-a-library

#121115 [ubsan] Remove -fsanitizer=vptr from -fsanitizer=undefined
  clang/docs/ReleaseNotes.rst
  clang/docs/UndefinedBehaviorSanitizer.rst
  clang/include/clang/Basic/Sanitizers.def
  clang/lib/Driver/SanitizerArgs.cpp
  clang/test/Driver/fsanitize.c
  clang/test/Driver/sanitizer-ld.c
Labels: clang, clang:driver, clang:frontend

#129399 [BOLT][AArch64] Refactor ADR to ADRP+ADD conversion pass. NFCI
  bolt/include/bolt/Core/MCPlusBuilder.h
  bolt/lib/Passes/ADRRelaxationPass.cpp
  bolt/lib/Target/AArch64/AArch64MCPlusBuilder.cpp
Labels: BOLT

#106907 [lldb-dap] Add: show return value on step out
  lldb/test/API/tools/lldb-dap/variables/TestDAP_variables.py
  lldb/test/API/tools/lldb-dap/variables/children/TestDAP_variables_children.py
  lldb/test/API/tools/lldb-dap/variables/children/main.cpp
  lldb/test/API/tools/lldb-dap/variables/main.cpp
  lldb/tools/lldb-dap/Handler/VariablesRequestHandler.cpp
  llvm/docs/ReleaseNotes.md
Labels: lldb, lldb-dap

#129243 llvm-rc: Relax error message checked in test
  llvm/test/tools/llvm-rc/windres-preproc.test
Labels: test-suite, llvm-tools

#129251 unittests: Use EXPECT_ instead of ASSERT_ in a few tests
  llvm/unittests/Support/ProgramTest.cpp
Labels: test-suite, llvm-tools, llvm:support

#129404 [BOLT] Refactor interface for creating instruction patches. NFCI
  bolt/include/bolt/Core/BinaryContext.h
  bolt/include/bolt/Passes/PatchEntries.h
  bolt/lib/Core/BinaryContext.cpp
  bolt/lib/Passes/PatchEntries.cpp
Labels: BOLT

#129376 [clang][bytecode] Explicit composite array descriptor types
  clang/lib/AST/ByteCode/Descriptor.cpp
  clang/lib/AST/ByteCode/Descriptor.h
  clang/lib/AST/ByteCode/DynamicAllocator.cpp
  clang/lib/AST/ByteCode/Program.cpp
  clang/unittests/AST/ByteCode/toAPValue.cpp
Labels: clang, clang:frontend

#129417 [Analysis] Avoid repeated hash lookups (NFC)
  llvm/lib/Analysis/ProfileSummaryInfo.cpp
Labels: llvm:analysis

#129419 [IPO] Avoid repeated hash lookups (NFC)
  llvm/include/llvm/Transforms/IPO/ProfiledCallGraph.h
Labels: llvm:transforms

#129421 [SPIRV] Avoid repeated hash lookups (NFC)
  llvm/lib/Target/SPIRV/SPIRVStructurizer.cpp
Labels: backend:SPIR-V

#129395 [libc++] Add tests for gcd that result in something other than zero or one
  libcxx/test/std/numerics/numeric.ops/numeric.ops.gcd/gcd.pass.cpp
Labels: libc++

#128407 [clang-tidy] fix fp when modifying variant by ``operator[]`` with template in parameters
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/test/clang-tidy/checkers/misc/const-correctness-values.cpp
  clang/lib/Analysis/ExprMutationAnalyzer.cpp
  clang/unittests/Analysis/ExprMutationAnalyzerTest.cpp
Labels: clang, clang-tools-extra, clang-tidy, clang:analysis

#128421 [mlir][scf]-Fix reverse iterator overflow in loop traversal
  mlir/lib/Dialect/SCF/Transforms/TileUsingInterface.cpp
  mlir/test/Interfaces/TilingInterface/tile-and-fuse-using-interface.mlir
Labels: mlir, mlir:scf

#129403 [LLD][COFF] Correct relocation size comments in autoimport tests (NFC)
  lld/test/COFF/autoimport-arm64-data.s
  lld/test/COFF/autoimport-arm64ec-data.test
Labels: lld, lld:COFF

#129282 [LLD][COFF] Add support for autoimports on ARM64X
  lld/COFF/Driver.cpp
  lld/COFF/Writer.cpp
  lld/test/COFF/autoimport-arm64x-data.test
Labels: lld, lld:COFF, platform:windows

#121652 [CodeGen][ARM64EC] Mangle EH personality handler names
  llvm/lib/IR/EHPersonalities.cpp
  llvm/lib/Target/AArch64/AArch64Arm64ECCallLowering.cpp
  llvm/test/CodeGen/AArch64/arm64ec-eh.ll
Labels: backend:AArch64, llvm:ir

#129295 [LLD][COFF] Mark personality functions as live in both symbol tables on ARM64X
  lld/COFF/Driver.cpp
  lld/test/COFF/gc-dwarf-eh-arm64x.s
Labels: lld, lld:COFF, platform:windows

#128834 [libc++] Implement LWG3990 for Clang
  libcxx/docs/Status/Cxx2cIssues.csv
  libcxx/include/tuple
  libcxx/test/libcxx/utilities/tuple/no_specializations.verify.cpp
  libcxx/test/libcxx/utilities/variant/no_specializations.verify.cpp
Labels: libc++

#128356 [libc++][format] Enables formattable tests for chrono formatters.
  libcxx/test/std/utilities/format/format.formattable/concept.formattable.compile.pass.cpp
  libcxx/test/std/utilities/format/format.formatter/format.formatter.locking/enable_nonlocking_formatter_optimization.compile.pass.cpp
Labels: libc++

#129381 [libc++][chrono][doc] Use stable names in synopsis.
  libcxx/include/chrono
Labels: libc++

#128265 [clang][diagnostics] add '-Wundef-true' warning option
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticLexKinds.td
  clang/lib/Lex/PPExpressions.cpp
  clang/test/Preprocessor/warn-macro-undef-true.c
Labels: clang, clang:frontend

#127020 Add support for dynamic libraries in CLANG_BOLT
  clang/cmake/caches/BOLT.cmake
  clang/tools/driver/CMakeLists.txt
  clang/utils/perf-training/perf-helper.py
Labels: clang

#126273 [libc++] Fix `money_get::do_get` with huge input
  libcxx/include/locale
  libcxx/test/std/localization/locale.categories/category.monetary/locale.money.get/locale.money.get.members/get_long_double_overlong.pass.cpp
Labels: libc++, locale

#129160 [flang][cuda] Allow unsupported data transfer to be done on the host
  flang/include/flang/Evaluate/tools.h
  flang/lib/Lower/Bridge.cpp
  flang/lib/Semantics/assignment.cpp
  flang/test/Lower/CUDA/cuda-data-transfer.cuf
Labels: flang, flang:fir-hlfir, flang:semantics

#129449 [Instruction] Set metadata to `poison` on deletion
  llvm/lib/IR/Instruction.cpp
  llvm/test/CodeGen/AMDGPU/lower-buffer-fat-pointers-unoptimized-debug-data.ll
  llvm/test/DebugInfo/Generic/assignment-tracking/sroa/after-inlining.ll
  llvm/test/Transforms/LoopDeletion/diundef.ll
  llvm/test/Transforms/MergeFunc/mergefunc-preserve-debug-info.ll
  llvm/test/Transforms/SLPVectorizer/X86/debug-info-salvage.ll
  llvm/test/Transforms/SROA/alignment.ll
  llvm/test/Transforms/SROA/vector-promotion.ll
  llvm/test/Transforms/SafeStack/X86/debug-loc2.ll
Labels: backend:AMDGPU, debuginfo, llvm:ir, llvm:transforms

#127555 [clang][LoongArch] Add OHOS target
  clang/lib/Basic/Targets.cpp
  clang/lib/Driver/ToolChains/OHOS.cpp
  clang/test/Driver/Inputs/ohos_native_tree/llvm/lib/clang/x.y.z/lib/loongarch64-linux-ohos/.keep
  clang/test/Driver/Inputs/ohos_native_tree/llvm/lib/clang/x.y.z/lib/loongarch64-linux-ohos/clang_rt.crtbegin.o
  clang/test/Driver/Inputs/ohos_native_tree/llvm/lib/clang/x.y.z/lib/loongarch64-linux-ohos/clang_rt.crtend.o
  clang/test/Driver/Inputs/ohos_native_tree/llvm/lib/clang/x.y.z/lib/loongarch64-linux-ohos/libclang_rt.builtins.a
  clang/test/Driver/Inputs/ohos_native_tree/sysroot/usr/include/loongarch64-linux-ohos/.keep
  clang/test/Driver/Inputs/ohos_native_tree/sysroot/usr/lib/loongarch64-linux-ohos/.keep
  clang/test/Driver/ohos.c
  clang/test/Preprocessor/ohos.c
Labels: clang, clang:driver, clang:frontend

#126456 [LoongArch] use TypeWidenVector for most illegal vector types
  llvm/lib/Target/LoongArch/LoongArchISelLowering.cpp
  llvm/lib/Target/LoongArch/LoongArchISelLowering.h
  llvm/test/CodeGen/LoongArch/lsx/vec-sext.ll
  llvm/test/CodeGen/LoongArch/lsx/vec-zext.ll
Labels: backend:loongarch

#129174 Reapply [MLIR][LLVMIR] Import unregistered intrinsics via llvm.intrin…
  mlir/include/mlir/Target/LLVMIR/LLVMImportInterface.h
  mlir/lib/Target/LLVMIR/CMakeLists.txt
  mlir/lib/Target/LLVMIR/LLVMImportInterface.cpp
  mlir/test/Target/LLVMIR/Import/import-failure.ll
  mlir/test/Target/LLVMIR/Import/intrinsic-unregistered.ll
Labels: mlir:llvm, mlir

#129011 [RISCV] Handle zvbb instructions in getVectorLowDemandedScalarBits.
  llvm/lib/Target/RISCV/RISCVInstrInfo.cpp
  llvm/test/CodeGen/RISCV/rvv/zvbb-demanded-bits.ll
Labels: backend:RISC-V

#129424 [analyzer] Handle structured bindings in alpha.webkit.UncountedCallArgsChecker
  clang/lib/StaticAnalyzer/Checkers/WebKit/ASTUtils.cpp
  clang/test/Analysis/Checkers/WebKit/binding-to-refptr.cpp
Labels: clang, clang:static analyzer

#100346 [RISCV][VLS] Support RISCV VLS calling convention
  clang/include/clang-c/Index.h
  clang/include/clang/AST/Type.h
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/AttrDocs.td
  clang/include/clang/Basic/Specifiers.h
  clang/lib/AST/ItaniumMangle.cpp
  clang/lib/AST/Type.cpp
  clang/lib/AST/TypePrinter.cpp
  clang/lib/Basic/Targets/RISCV.cpp
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CGDebugInfo.cpp
  clang/lib/CodeGen/Targets/RISCV.cpp
  clang/lib/Sema/SemaDeclAttr.cpp
  clang/lib/Sema/SemaType.cpp
  clang/test/CodeGen/RISCV/riscv-vector-callingconv-llvm-ir.c
  clang/test/CodeGen/RISCV/riscv-vector-callingconv-llvm-ir.cpp
  clang/test/CodeGen/RISCV/riscv-vector-callingconv.c
  clang/test/CodeGen/RISCV/riscv-vector-callingconv.cpp
  clang/tools/libclang/CXType.cpp
  llvm/include/llvm/AsmParser/LLToken.h
  llvm/include/llvm/BinaryFormat/Dwarf.def
  llvm/include/llvm/IR/CallingConv.h
  llvm/lib/AsmParser/LLLexer.cpp
  llvm/lib/AsmParser/LLParser.cpp
  llvm/lib/IR/AsmWriter.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/Assembler/riscv_vls_cc.ll
  llvm/test/Bitcode/compatibility.ll
Labels: clang, backend:RISC-V, clang:driver, clang:frontend, clang:modules, clang:codegen, clang:as-a-library, debuginfo, llvm:ir, llvm:binary-utilities

#129392 [clang-tidy] `misc-unused-using-decls`: add correct handling of `operator""` with template parametes
  clang-tools-extra/clang-tidy/misc/UnusedUsingDeclsCheck.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/test/clang-tidy/checkers/misc/unused-using-decls.cpp
Labels: clang-tools-extra, clang-tidy

#120557 [RegAlloc][NewPM] Plug Greedy RA in codegen pipeline
  llvm/include/llvm/Passes/CodeGenPassBuilder.h
  llvm/include/llvm/Passes/MachinePassRegistry.def
  llvm/include/llvm/Target/CGPassBuilderOption.h
  llvm/lib/Passes/PassBuilder.cpp
  llvm/test/CodeGen/AArch64/implicit-def-remat-requires-impdef-check.mir
  llvm/test/CodeGen/AArch64/implicit-def-with-impdef-greedy-assert.mir
  llvm/test/CodeGen/AArch64/pr51516.mir
  llvm/test/CodeGen/AArch64/spill-fold.mir
  llvm/test/CodeGen/MIR/Generic/runPass.mir
  llvm/test/CodeGen/SystemZ/clear-liverange-spillreg.mir
  llvm/test/CodeGen/Thumb/high-reg-clobber.mir
  llvm/test/CodeGen/X86/limit-split-cost.mir
  llvm/test/tools/llc/new-pm/x86_64-regalloc-pipeline.mir
  llvm/tools/llc/NewPMDriver.cpp
Labels: backend:AArch64, backend:AMDGPU, backend:SystemZ, backend:X86

#126486 [NFC]Make file-local cl::opt global variables static
  llvm/examples/Kaleidoscope/MCJIT/cached/toy.cpp
  llvm/examples/OrcV2Examples/LLJITDumpObjects/LLJITDumpObjects.cpp
  llvm/examples/OrcV2Examples/LLJITWithExecutorProcessControl/LLJITWithExecutorProcessControl.cpp
  llvm/examples/OrcV2Examples/LLJITWithLazyReexports/LLJITWithLazyReexports.cpp
  llvm/examples/OrcV2Examples/LLJITWithThinLTOSummaries/LLJITWithThinLTOSummaries.cpp
  llvm/lib/Analysis/AliasAnalysis.cpp
  llvm/lib/Analysis/BranchProbabilityInfo.cpp
  llvm/lib/Analysis/FunctionPropertiesAnalysis.cpp
  llvm/lib/Analysis/IRSimilarityIdentifier.cpp
  llvm/lib/Analysis/InlineSizeEstimatorAnalysis.cpp
  llvm/lib/Analysis/MemoryProfileInfo.cpp
  llvm/lib/CGData/CodeGenData.cpp
  llvm/lib/CodeGen/AsmPrinter/DwarfCompileUnit.cpp
  llvm/lib/CodeGen/MachinePipeliner.cpp
  llvm/lib/CodeGen/MachineScheduler.cpp
  llvm/lib/CodeGen/WindowScheduler.cpp
  llvm/lib/LTO/LTOCodeGenerator.cpp
  llvm/lib/Target/AArch64/AArch64LowerHomogeneousPrologEpilog.cpp
  llvm/lib/Target/AArch64/AArch64StackTaggingPreRA.cpp
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/lib/Target/ARM/ARMSelectionDAGInfo.cpp
  llvm/lib/Target/ARM/MVELaneInterleavingPass.cpp
  llvm/lib/Target/Hexagon/MCTargetDesc/HexagonMCTargetDesc.cpp
  llvm/lib/Target/WebAssembly/WebAssemblyMCInstLower.cpp
  llvm/lib/Transforms/IPO/ElimAvailExtern.cpp
  llvm/lib/Transforms/IPO/MemProfContextDisambiguation.cpp
  llvm/lib/Transforms/IPO/ModuleInliner.cpp
  llvm/lib/Transforms/Scalar/LICM.cpp
  llvm/lib/Transforms/Vectorize/LoopVectorizationLegality.cpp
  llvm/lib/Transforms/Vectorize/SandboxVectorizer/SeedCollector.cpp
  llvm/tools/bugpoint/ExecutionDriver.cpp
  llvm/tools/bugpoint/OptimizerDriver.cpp
  llvm/tools/llvm-as/llvm-as.cpp
  llvm/tools/llvm-cat/llvm-cat.cpp
  llvm/tools/llvm-cfi-verify/llvm-cfi-verify.cpp
  llvm/tools/llvm-cxxdump/llvm-cxxdump.cpp
  llvm/tools/llvm-cxxmap/llvm-cxxmap.cpp
  llvm/tools/llvm-diff/llvm-diff.cpp
  llvm/tools/llvm-extract/llvm-extract.cpp
  llvm/tools/llvm-jitlink/llvm-jitlink.cpp
  llvm/tools/llvm-lto/llvm-lto.cpp
  llvm/tools/llvm-lto2/llvm-lto2.cpp
  llvm/tools/llvm-pdbutil/llvm-pdbutil.cpp
  llvm/tools/llvm-profdata/llvm-profdata.cpp
  llvm/tools/llvm-undname/llvm-undname.cpp
  llvm/tools/reduce-chunk-list/reduce-chunk-list.cpp
  llvm/tools/yaml2obj/yaml2obj.cpp
  llvm/utils/TableGen/DAGISelMatcherEmitter.cpp
  llvm/utils/TableGen/DecoderEmitter.cpp
  llvm/utils/TableGen/GlobalISelEmitter.cpp
  llvm/utils/TableGen/RegisterInfoEmitter.cpp
  llvm/utils/yaml-bench/YAMLBench.cpp
Labels: backend:ARM, backend:AArch64, backend:Hexagon, backend:WebAssembly, tablegen, debuginfo, llvm:globalisel, vectorizers, PGO, LTO, mlgo, llvm:SelectionDAG, objectyaml, llvm:analysis, llvm:transforms

#129482 [DAGCombiner] Cleanup MatchFunnelPosNeg by using SDPatternMatch matchers
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
Labels: llvm:SelectionDAG

#129461 [BOLT] Remove BinaryFunction::IsPatched. NFC
  bolt/include/bolt/Core/BinaryFunction.h
  bolt/lib/Passes/PatchEntries.cpp
Labels: BOLT

#128204 [OpenMP][runtime] Fix comparison of integer expressions of different signedness
  openmp/runtime/src/kmp_taskdeps.cpp
Labels: openmp:libomp

#128820 Fix bug in gpu.memcpy lowering for dynamically shaped operands.
  mlir/lib/Conversion/GPUCommon/GPUToLLVMConversion.cpp
  mlir/test/Conversion/GPUCommon/lower-memcpy-to-gpu-runtime-calls.mlir
Labels: mlir:gpu, mlir

#129219 [flang][NFC] clean-up fir.field_index legacy usages in tests
  flang/test/Analysis/AliasAnalysis/alias-analysis-3.fir
  flang/test/Analysis/AliasAnalysis/load-ptr-designate.fir
  flang/test/Analysis/AliasAnalysis/ptr-component.fir
  flang/test/Fir/CUDA/cuda-abstract-result.mlir
  flang/test/Fir/boxproc-2.fir
  flang/test/Transforms/omp-map-info-finalization.fir
Labels: flang, flang:openmp

#129468 [Scalar] Avoid repeated hash lookups (NFC)
  llvm/lib/Transforms/Scalar/ConstantHoisting.cpp
Labels: llvm:transforms

#129490 RegisterCoalescer: Avoid repeated getRegClass on all paths
  llvm/lib/CodeGen/RegisterCoalescer.cpp
Labels: llvm:regalloc

#129266 [MLIR] Fix printing of switch case for negative value
  mlir/lib/Dialect/LLVMIR/IR/LLVMDialect.cpp
  mlir/test/Dialect/LLVMIR/roundtrip.mlir
Labels: mlir:llvm, mlir

#129493 [RISCV][clang] Add address space argument to getNaturalAlignIndirect
  clang/lib/CodeGen/Targets/RISCV.cpp
Labels: clang, backend:RISC-V, clang:codegen

#127191 [clang][analyzer] Add checker 'alpha.core.FixedAddressDereference'
  clang/docs/analyzer/checkers.rst
  clang/include/clang/StaticAnalyzer/Checkers/Checkers.td
  clang/include/clang/StaticAnalyzer/Core/AnalyzerOptions.def
  clang/lib/StaticAnalyzer/Checkers/DereferenceChecker.cpp
  clang/test/Analysis/analyzer-config.c
  clang/test/Analysis/cast-value-notes.cpp
  clang/test/Analysis/concrete-address.c
  clang/test/Analysis/misc-ps.m
  clang/test/Analysis/suppress-dereferences-from-any-address-space.c
Labels: clang, clang:static analyzer

#127915 [SelectionDAG] Use `poison` instead of `undef` for `dbg.values`
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
Labels: llvm:SelectionDAG

#129450 [Metadata] Replace `undef` VAMs with `poison` VAMs
  llvm/lib/IR/Metadata.cpp
  llvm/test/DebugInfo/X86/undef-dbg-val.ll
Labels: debuginfo, llvm:ir

#115434 [CodeGen][NewPM] Port MachineSink to NPM
  llvm/include/llvm/CodeGen/MachineSink.h
  llvm/include/llvm/CodeGen/Passes.h
  llvm/include/llvm/InitializePasses.h
  llvm/include/llvm/Passes/CodeGenPassBuilder.h
  llvm/include/llvm/Passes/MachinePassRegistry.def
  llvm/include/llvm/Target/CGPassBuilderOption.h
  llvm/lib/CodeGen/CodeGen.cpp
  llvm/lib/CodeGen/MachineSink.cpp
  llvm/lib/CodeGen/TargetPassConfig.cpp
  llvm/lib/Passes/PassBuilder.cpp
  llvm/lib/Target/NVPTX/NVPTXTargetMachine.cpp
  llvm/test/CodeGen/AArch64/loop-sink.mir
  llvm/test/CodeGen/AArch64/sink-and-fold-preserve-debugloc.mir
  llvm/test/CodeGen/AMDGPU/machine-sink-temporal-divergence-swdev407790.mir
  llvm/test/CodeGen/ARM/machine-sink-multidef.mir
  llvm/test/CodeGen/Hexagon/machine-sink-float-usr.mir
  llvm/test/CodeGen/PowerPC/sink-down-more-instructions-1.mir
  llvm/test/CodeGen/RISCV/MachineSink-implicit-x0.mir
  llvm/test/CodeGen/SystemZ/machinesink-dead-cc.mir
  llvm/test/CodeGen/X86/machinesink-debug-inv-0.mir
  llvm/test/DebugInfo/MIR/X86/sink-leaves-undef.mir
Labels: backend:ARM, backend:AArch64, backend:AMDGPU, backend:Hexagon, backend:PowerPC, backend:SystemZ, backend:X86, debuginfo, backend:NVPTX, llvm:ir, llvm:analysis

#127605 [flang][Driver] Add support of -fd-lines-as-comments and -fd-lines-as-code flags
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Flang.cpp
  flang/lib/Frontend/CompilerInvocation.cpp
  flang/test/Driver/fd-lines-as.f90
  flang/test/Preprocessing/fd-lines-as.f90
Labels: clang, clang:driver, flang:driver, flang

#128901 [ARM] Introduce -mtp=auto and make it the default
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Arch/ARM.cpp
  clang/test/Driver/arm-thread-pointer.c
Labels: clang, backend:ARM, clang:driver

#128055 [SDAG][X86] Remove hack needed to avoid missing x87 FPU stack pops
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/lib/Target/X86/X86ISelDAGToDAG.cpp
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/lib/Target/X86/X86ISelLowering.h
  llvm/lib/Target/X86/X86ISelLoweringCall.cpp
  llvm/test/CodeGen/PowerPC/llvm.modf.ll
Labels: backend:ARM, backend:AArch64, backend:PowerPC, backend:X86, llvm:globalisel, llvm:support, llvm:SelectionDAG

#128000 [llvm] Fix missing includes
  llvm/include/llvm/CodeGen/ByteProvider.h
  llvm/include/llvm/ProfileData/Coverage/MCDCTypes.h
  llvm/include/llvm/Support/thread.h
Labels: PGO, llvm:support

#129005 [CodeGen][NewPM] Port "RemoveRedundantDebugValues" to NPM
  llvm/include/llvm/CodeGen/RemoveRedundantDebugValues.h
  llvm/include/llvm/InitializePasses.h
  llvm/include/llvm/Passes/CodeGenPassBuilder.h
  llvm/include/llvm/Passes/MachinePassRegistry.def
  llvm/lib/CodeGen/CodeGen.cpp
  llvm/lib/CodeGen/RemoveRedundantDebugValues.cpp
  llvm/lib/Passes/PassBuilder.cpp
  llvm/test/DebugInfo/MIR/X86/remove-redundant-dbg-vals.mir
Labels: debuginfo

#124093 [LV][EVL] Support fixed-order recurrence idiom with EVL tail folding.
  llvm/lib/Analysis/VectorUtils.cpp
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanVerifier.cpp
  llvm/test/Transforms/LoopVectorize/RISCV/vectorize-force-tail-with-evl-fixed-order-recurrence.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vplan-vp-intrinsics-fixed-order-recurrence.ll
Labels: vectorizers, llvm:analysis, llvm:transforms

#127497 [RISCV] Add DAG combine to convert (iN reduce.add (zext (vXi1 A to vXiN)) into vcpop.m
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/combine-reduce-add-to-vcpop.ll
Labels: backend:RISC-V

#127889 [flang][OpenMP]Support for subroutine call for DECLARE REDUCTION init
  flang/include/flang/Parser/dump-parse-tree.h
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Parser/openmp-parsers.cpp
  flang/lib/Parser/unparse.cpp
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Lower/OpenMP/Todo/omp-declare-reduction-initsub.f90
  flang/test/Parser/OpenMP/declare-reduction-unparse.f90
  flang/test/Semantics/OpenMP/declare-reduction-error.f90
  flang/test/Semantics/OpenMP/declare-reduction.f90
Labels: flang, flang:fir-hlfir, flang:openmp, flang:semantics, flang:parser

#128975 [flang][OpenMP] Accept modern syntax of FLUSH construct
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/lib/Parser/openmp-parsers.cpp
  flang/lib/Parser/unparse.cpp
  flang/lib/Semantics/check-omp-structure.cpp
  flang/test/Semantics/OpenMP/flush01.f90
  flang/test/Semantics/OpenMP/flush03.f90
Labels: flang, flang:fir-hlfir, flang:openmp, flang:semantics, flang:parser

#129532 [mlir][bazel] Fix Bazel build after db0e7c72aff622849abbc92c3ed0d06efb8e2d16.
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: bazel

#129436 [clang] Fix CodeComplete crash involving CWG1432
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Sema/Overload.h
  clang/include/clang/Sema/Sema.h
  clang/lib/Sema/SemaCodeComplete.cpp
  clang/lib/Sema/SemaOverload.cpp
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/test/CXX/drs/cwg14xx.cpp
  clang/test/CodeCompletion/GH125500.cpp
Labels: clang, clang:frontend

#120593 [X86] Generate `kmov` for masking integers
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/kmov.ll
  llvm/test/CodeGen/X86/pr78897.ll
Labels: backend:X86

#127696 [LLDB][Telemetry]Define DebuggerTelemetryInfo and related methods
  lldb/include/lldb/Core/Telemetry.h
  lldb/source/Core/Debugger.cpp
  lldb/source/Core/Telemetry.cpp
  lldb/unittests/Core/TelemetryTest.cpp
Labels: lldb

#128926 [CUDA][HIP] fix virtual dtor host/device attr
  clang/docs/HIPSupport.rst
  clang/lib/Sema/SemaCUDA.cpp
  clang/test/SemaCUDA/dtor.cu
Labels: clang, clang:frontend

#129528 [clang][bytecode] Tighten double-destroy check
  clang/lib/AST/ByteCode/Interp.cpp
  clang/test/AST/ByteCode/new-delete.cpp
Labels: clang, clang:frontend

#129135 Push down the swig module to avoid an import cycle
  lldb/bindings/python/CMakeLists.txt
  lldb/bindings/python/python.swig
Labels: lldb

#128074 [mlir][tosa] Add several level checks
  mlir/lib/Dialect/Tosa/Transforms/TosaValidation.cpp
  mlir/test/Dialect/Tosa/level_check.mlir
Labels: mlir, mlir:tosa

#129492 [AArch64] Don't try to custom lower fp16 selects with nofp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/16bit-float-promotion-with-nofp.ll
Labels: backend:AArch64

#123221 [AMDGPU] Account for existing SDWA selections
  llvm/lib/Target/AMDGPU/SIPeepholeSDWA.cpp
  llvm/test/CodeGen/AMDGPU/GlobalISel/saddsat.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/ssubsat.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/uaddsat.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/usubsat.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointer-atomicrmw-fadd.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fadd.ll
  llvm/test/CodeGen/AMDGPU/flat-atomicrmw-fsub.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fadd.ll
  llvm/test/CodeGen/AMDGPU/global-atomicrmw-fsub.ll
  llvm/test/CodeGen/AMDGPU/idot4u.ll
  llvm/test/CodeGen/AMDGPU/local-atomicrmw-fadd.ll
  llvm/test/CodeGen/AMDGPU/local-atomicrmw-fsub.ll
  llvm/test/CodeGen/AMDGPU/permute_i8.ll
  llvm/test/CodeGen/AMDGPU/sdwa-peephole-instr-combine-sel-dst.mir
  llvm/test/CodeGen/AMDGPU/sdwa-peephole-instr-combine-sel-src.mir
  llvm/test/CodeGen/AMDGPU/sdwa-peephole-instr-combine-sel.ll
  llvm/test/CodeGen/AMDGPU/sdwa-peephole-instr-combine-sel.mir
  llvm/test/CodeGen/AMDGPU/sdwa-peephole-instr-gfx10.mir
  llvm/test/CodeGen/AMDGPU/sdwa-peephole-instr.mir
  llvm/test/CodeGen/AMDGPU/sdwa-preserve.mir
  llvm/test/CodeGen/AMDGPU/v_sat_pk_u8_i16.ll
Labels: backend:AMDGPU

#127121 [PowerPC] hoist xxspltib out of loop body
  llvm/lib/Target/PowerPC/PPCInstrVSX.td
  llvm/test/CodeGen/PowerPC/licm-xxsplti.ll
  llvm/test/CodeGen/PowerPC/memset-tail.ll
Labels: backend:PowerPC

#129524 [clang][bytecode] Don't narrow() when dereferencing to array type
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/test/AST/ByteCode/libcxx/deref-to-array.cpp
Labels: clang, clang:frontend

#129289 [AMDGPU] Extend ComputePGMRSrc3 to gfx10+. NFCI.
  llvm/lib/Target/AMDGPU/AMDGPUAsmPrinter.cpp
  llvm/lib/Target/AMDGPU/SIProgramInfo.cpp
  llvm/lib/Target/AMDGPU/SIProgramInfo.h
Labels: backend:AMDGPU

#129534 [NFC] Fix Windows after #121115
  clang/test/Driver/sanitizer-ld.c
Labels: clang, clang:driver

#129487 [Github][libc] Hash Pin Actions in Workflows
  .github/workflows/libc-fullbuild-tests.yml
  .github/workflows/libc-overlay-tests.yml
Labels: github:workflow

#129549 Revert "[mlir][tosa] Add several level checks (#128074)"
  mlir/lib/Dialect/Tosa/Transforms/TosaValidation.cpp
  mlir/test/Dialect/Tosa/level_check.mlir
Labels: mlir, mlir:tosa

#129469 [WebAssembly] Avoid repeated hash lookups (NFC)
  llvm/lib/Target/WebAssembly/WebAssemblyLowerEmscriptenEHSjLj.cpp
Labels: backend:WebAssembly

#128404 [NVPTX] Add Intrinsics for discard.*
  llvm/docs/NVPTXUsage.rst
  llvm/include/llvm/IR/IntrinsicsNVVM.td
  llvm/lib/Target/NVPTX/NVPTXIntrinsics.td
  llvm/test/CodeGen/NVPTX/discard.ll
Labels: backend:NVPTX, llvm:ir

#122832 [win] Enable test/CodeGen/MIR/AArch64 on Windows
  llvm/test/CodeGen/MIR/AArch64/lit.local.cfg
Labels: backend:AArch64, llvm:codegen, platform:windows

#128920 [memprof] Export __memprof_default_options_str on Darwin
  clang/lib/Driver/ToolChains/Darwin.cpp
  clang/test/Driver/fmemprof.cpp
  llvm/include/llvm/ProfileData/MemProf.h
  llvm/lib/Transforms/Instrumentation/MemProfiler.cpp
Labels: clang, clang:driver, PGO, llvm:transforms

#129556 [X86] combineConcatVectorOps - use isSplatValue helper instead of matching specific VBROADCAST opcodes.
  llvm/lib/Target/X86/X86ISelLowering.cpp
Labels: backend:X86

#129340 Fix a bug copying the stop hooks from the dummy target.
  lldb/source/Target/Target.cpp
  lldb/test/API/commands/target/stop-hooks/TestStopHooks.py
Labels: lldb

#129377 [libc++][test] extend XFAIL clauses to cover Amazon Linux too
  libcxx/test/std/input.output/iostream.format/std.manip/setfill_wchar_max.pass.cpp
  libcxx/test/std/re/re.alg/re.alg.match/awk.locale.pass.cpp
  libcxx/test/std/re/re.alg/re.alg.match/basic.locale.pass.cpp
  libcxx/test/std/re/re.alg/re.alg.match/ecma.locale.pass.cpp
  libcxx/test/std/re/re.alg/re.alg.match/extended.locale.pass.cpp
  libcxx/test/std/re/re.alg/re.alg.search/awk.locale.pass.cpp
  libcxx/test/std/re/re.alg/re.alg.search/basic.locale.pass.cpp
  libcxx/test/std/re/re.alg/re.alg.search/ecma.locale.pass.cpp
  libcxx/test/std/re/re.alg/re.alg.search/extended.locale.pass.cpp
  libcxx/test/std/re/re.traits/lookup_collatename.pass.cpp
Labels: libc++

#129116 [Clang][diagnostics] Fix structured binding shadows template param loc
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/test/CXX/temp/temp.res/temp.local/p6.cpp
Labels: clang, clang:frontend, clang:diagnostics

#129273 [mlir][tosa] Add verifiers for FFT2d and RFFT2d
  mlir/include/mlir/Dialect/Tosa/IR/TosaOps.td
  mlir/lib/Dialect/Tosa/IR/TosaOps.cpp
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg-invalid.mlir
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg.mlir
  mlir/test/Dialect/Tosa/invalid.mlir
  mlir/test/Dialect/Tosa/level_check.mlir
Labels: mlir:linalg, mlir, mlir:tosa

#128740 [clang][bytecode][NFC] Move incorrect LLVM_PREFERRED_TYPE attribute
  clang/lib/AST/ByteCode/Descriptor.h
Labels: clang, clang:frontend

#126981 [AMDGPU] Set inst_pref_size to maximum
  llvm/lib/Target/AMDGPU/AMDGPUAsmPrinter.cpp
  llvm/lib/Target/AMDGPU/SIProgramInfo.cpp
  llvm/lib/Target/AMDGPU/SIProgramInfo.h
  llvm/test/CodeGen/AMDGPU/inst-prefetch-hint.ll
Labels: backend:AMDGPU

#129128 [mlir][linalg] Retain Op Type of linalg ops in fuseWithReshapeByExpansion pattern
  mlir/lib/Dialect/Linalg/Transforms/ElementwiseOpFusion.cpp
  mlir/test/Dialect/Linalg/reshape_fusion.mlir
Labels: mlir:linalg, mlir

#129196 [GSYM] Use debug line offsets during GSYM creation
  llvm/lib/DebugInfo/GSYM/DwarfTransformer.cpp
  llvm/test/tools/llvm-gsymutil/ARM_AArch64/macho-gsym-merged-callsites-dsym.yaml
Labels: debuginfo

#123505 [mlir][tblgen] Migrate tests to properties for attributes, fix remove*Attr()
  mlir/test/mlir-tblgen/constraint-unique.td
  mlir/test/mlir-tblgen/op-attribute.td
  mlir/test/mlir-tblgen/op-decl-and-defs.td
  mlir/test/mlir-tblgen/op-format.td
  mlir/test/mlir-tblgen/op-result.td
  mlir/tools/mlir-tblgen/OpDefinitionsGen.cpp
Labels: mlir:core, mlir

#129334 [HLSL] Add additional overloads for min and max to allow for mixed scalar and vector arguments
  clang/lib/Headers/hlsl/hlsl_intrinsics.h
  clang/test/CodeGenHLSL/builtins/max.hlsl
  clang/test/CodeGenHLSL/builtins/min.hlsl
Labels: clang, backend:X86, clang:headers, HLSL

#121017 [RISCV] Emitting proper atomic ABI tag when Zalasr is enabled
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVTargetStreamer.cpp
  llvm/test/CodeGen/RISCV/attributes.ll
Labels: backend:RISC-V

#128780 [flang] handle passing bind(c) derived type by value for ppc64le and powerpc64-aix
  flang/lib/Optimizer/CodeGen/Target.cpp
  flang/test/Fir/struct-passing-loongarch64-byreg.fir
  flang/test/Fir/struct-passing-powerpc64-aix-byval.fir
  flang/test/Fir/struct-passing-ppc64le-byval.fir
  flang/test/Fir/struct-return-powerpc64-aix.fir
  flang/test/Fir/struct-return-ppc64le.fir
Labels: flang, flang:fir-hlfir, flang:codegen

#125115 [flang] Define CO_REDUCE intrinsic procedure
  flang/lib/Evaluate/intrinsics.cpp
  flang/lib/Semantics/check-call.cpp
  flang/test/Semantics/collectives05.f90
Labels: flang, flang:semantics

#127728 [MLIR][AMDGPU] Add OCP FP8 support for new hardware
  mlir/include/mlir/Dialect/AMDGPU/IR/AMDGPU.td
  mlir/include/mlir/Dialect/AMDGPU/Utils/Chipset.h
  mlir/include/mlir/IR/Types.h
  mlir/lib/Conversion/AMDGPUToROCDL/AMDGPUToROCDL.cpp
  mlir/lib/Conversion/ArithToAMDGPU/ArithToAMDGPU.cpp
  mlir/lib/Dialect/AMDGPU/IR/AMDGPUDialect.cpp
  mlir/lib/Dialect/Tosa/Transforms/TosaValidation.cpp
  mlir/lib/IR/Types.cpp
  mlir/test/Conversion/AMDGPUToROCDL/8-bit-floats-ocp.mlir
  mlir/test/Conversion/ArithToAMDGPU/8-bit-float-saturation-ocp.mlir
  mlir/test/Conversion/ArithToAMDGPU/8-bit-floats-ocp.mlir
Labels: backend:AMDGPU, mlir:core, mlir:gpu, mlir, mlir:tosa, mlir:amdgpu

#129560 [Clang] Fix GPU intrinsic helpers incorrectly sign extending
  clang/lib/Headers/amdgpuintrin.h
  clang/lib/Headers/nvptxintrin.h
Labels: clang, backend:AMDGPU, backend:X86, clang:headers

#129460 [compiler-rt][ubsan] Refactor cast-overflow test
  compiler-rt/test/ubsan/TestCases/Float/cast-overflow.cpp
Labels: compiler-rt, compiler-rt:ubsan, compiler-rt:sanitizer

#127969 [BOLT][AArch64] Add symbolizer for AArch64 disassembler. NFCI
  bolt/lib/Core/BinaryFunction.cpp
  bolt/lib/Target/AArch64/AArch64MCPlusBuilder.cpp
  bolt/lib/Target/AArch64/AArch64MCSymbolizer.cpp
  bolt/lib/Target/AArch64/AArch64MCSymbolizer.h
  bolt/lib/Target/AArch64/CMakeLists.txt
  llvm/lib/Target/AArch64/Disassembler/AArch64Disassembler.cpp
Labels: backend:AArch64, BOLT

#129288 [AsmWriter] Combine IsConstant and GetConstant (NFCI)
  llvm/lib/IR/AsmWriter.cpp
Labels: llvm:ir

#129158 [clang] Add #pragma clang __debug module_lookup
  clang/include/clang/Basic/DiagnosticLexKinds.td
  clang/lib/Lex/Pragma.cpp
  clang/test/Modules/clang-pragmas.c
Labels: clang, clang:frontend, clang:modules

#128723 [flang] Move DumpEvaluateExpr from Lower to Semantics
  flang/include/flang/Lower/DumpEvaluateExpr.h
  flang/include/flang/Semantics/dump-expr.h
  flang/lib/Lower/CMakeLists.txt
  flang/lib/Lower/ConvertExpr.cpp
  flang/lib/Lower/ConvertExprToHLFIR.cpp
  flang/lib/Lower/DumpEvaluateExpr.cpp
  flang/lib/Semantics/CMakeLists.txt
  flang/lib/Semantics/dump-expr.cpp
Labels: flang, flang:fir-hlfir, flang:semantics

#129515 [LLD][COFF] Add support for -includeglob on ARM64X
  lld/COFF/Driver.cpp
  lld/test/COFF/arm64x-includeoptional.s
Labels: lld, lld:COFF, platform:windows

#129210 [mlir][tosa] Fix several bugs in `DepthwiseConv2DIsMul`
  mlir/lib/Dialect/Tosa/Transforms/TosaDecomposeDepthwise.cpp
  mlir/test/Dialect/Tosa/tosa-decompose-depthwise.mlir
Labels: mlir, mlir:tosa

#129513 [LLD][COFF] Support -aligncomm directives on ARM64X
  lld/COFF/Config.h
  lld/COFF/Driver.cpp
  lld/COFF/Driver.h
  lld/COFF/DriverUtils.cpp
  lld/COFF/SymbolTable.cpp
  lld/COFF/SymbolTable.h
  lld/test/COFF/arm64x-comm.s
Labels: lld, lld:COFF, platform:windows

#128715 [CodeGen][ObjCGNU] Replace PointerType::getUnqual(Type) with opaque pointer version (NFC)
  clang/lib/CodeGen/CGObjCGNU.cpp
Labels: clang, clang:codegen

#128711 [CodeGen] Replace PointerType::getUnqual(Type) with opaque pointer version (NFC)
  clang/lib/CodeGen/ABIInfoImpl.cpp
  clang/lib/CodeGen/CGOpenMPRuntime.cpp
  clang/lib/CodeGen/CGOpenMPRuntime.h
  clang/lib/CodeGen/ItaniumCXXABI.cpp
Labels: clang, clang:codegen, clang:openmp

#129339 [mlir][tosa] Make RESCALE op input_unsigned and output_unsigned attributes required
  mlir/include/mlir/Dialect/Tosa/IR/TosaOps.td
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg-invalid.mlir
  mlir/test/Conversion/TosaToLinalg/tosa-to-linalg.mlir
  mlir/test/Dialect/Tosa/availability.mlir
  mlir/test/Dialect/Tosa/canonicalize.mlir
  mlir/test/Dialect/Tosa/ops.mlir
  mlir/test/Dialect/Tosa/tosa-infer-shapes.mlir
  mlir/test/lib/Dialect/Tosa/TosaTestPasses.cpp
Labels: mlir:linalg, mlir, mlir:tosa

#128966 [LLDB][SBProgress] Add a finalize method
  lldb/bindings/interface/SBProgressDocstrings.i
  lldb/include/lldb/API/SBProgress.h
  lldb/source/API/SBProgress.cpp
  lldb/test/API/python_api/sbprogress/TestSBProgress.py
Labels: lldb

#129526 [lldb][test] XcodeSDKModuleTests: remove non-deterministic source mapping checks
  lldb/unittests/SymbolFile/DWARF/XcodeSDKModuleTests.cpp
Labels: lldb

#128712 [lldb][HostInfoMacOSX] Try to use DW_AT_LLVM_sysroot instead of xcrun when looking up SDK
  lldb/include/lldb/Host/macosx/HostInfoMacOSX.h
  lldb/include/lldb/Utility/XcodeSDK.h
  lldb/source/Plugins/Platform/MacOSX/PlatformDarwin.cpp
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.cpp
  lldb/source/Utility/XcodeSDK.cpp
  lldb/unittests/SymbolFile/DWARF/XcodeSDKModuleTests.cpp
  lldb/unittests/Utility/XcodeSDKTest.cpp
Labels: lldb

#129547 [NFC][mlir][linalg] Make conv_3d_ncdhw_fcdhw consistent with 2D variant
  mlir/include/mlir/Dialect/Linalg/IR/LinalgNamedStructuredOps.yaml
Labels: mlir:linalg, mlir

#129343 [RISCV] Simplify tracking of tracking and encoding of push/pop in RISCVFrameLowering. NFC
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVBaseInfo.h
  llvm/lib/Target/RISCV/RISCVFrameLowering.cpp
  llvm/lib/Target/RISCV/RISCVMachineFunctionInfo.h
Labels: backend:RISC-V

#129580 [mlir][tosa] Add several level checks
  mlir/lib/Dialect/Tosa/Transforms/TosaValidation.cpp
  mlir/test/Dialect/Tosa/level_check.mlir
Labels: mlir, mlir:tosa

#129292 [flang] Refine checking of type-bound generics
  flang/lib/Semantics/check-declarations.cpp
  flang/test/Semantics/generic13.f90
Labels: flang, flang:semantics

#129345 [flang] Further work on NULL(MOLD=allocatable)
  flang/include/flang/Evaluate/characteristics.h
  flang/include/flang/Evaluate/tools.h
  flang/lib/Evaluate/check-expression.cpp
  flang/lib/Evaluate/fold-logical.cpp
  flang/lib/Evaluate/fold.cpp
  flang/lib/Evaluate/intrinsics.cpp
  flang/lib/Evaluate/shape.cpp
  flang/lib/Evaluate/tools.cpp
  flang/lib/Lower/ConvertConstant.cpp
  flang/lib/Semantics/check-call.cpp
  flang/lib/Semantics/data-to-inits.cpp
  flang/lib/Semantics/definable.cpp
  flang/lib/Semantics/expression.cpp
  flang/lib/Semantics/pointer-assignment.cpp
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Evaluate/folding06.f90
  flang/test/Lower/HLFIR/null.f90
  flang/test/Semantics/associated.f90
  flang/test/Semantics/call27.f90
  flang/test/Semantics/null01.f90
Labels: flang, flang:fir-hlfir, flang:semantics

#129597 [flang] Improve two coarray error messages
  flang/lib/Semantics/check-declarations.cpp
  flang/test/Semantics/coarrays02.f90
  flang/test/Semantics/init01.f90
Labels: flang, flang:semantics

#129584 [mlir] Add use nameloc to OpPrintingFlags
  mlir/include/mlir/IR/OperationSupport.h
  mlir/lib/IR/AsmPrinter.cpp
  mlir/unittests/IR/OperationSupportTest.cpp
Labels: mlir:core, mlir

#129602 Revert "[mlir][tosa] Add several level checks"
  mlir/lib/Dialect/Tosa/Transforms/TosaValidation.cpp
  mlir/test/Dialect/Tosa/level_check.mlir
Labels: mlir, mlir:tosa

#129445 [MLIR][Affine] Switch default option for affine data copy generate pass
  mlir/include/mlir/Dialect/Affine/Passes.td
  mlir/lib/Dialect/Affine/Transforms/AffineDataCopyGeneration.cpp
  mlir/test/Dialect/Affine/affine-data-copy.mlir
  mlir/test/Dialect/Affine/dma-generate.mlir
Labels: mlir:affine, mlir

#124664 [RISCV] Tune flag for fast vrgather.vv
  llvm/docs/ReleaseNotes.md
  llvm/lib/Target/RISCV/RISCVFeatures.td
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVProcessors.td
  llvm/lib/Target/RISCV/RISCVSubtarget.h
  llvm/test/Analysis/CostModel/RISCV/shuffle-permute.ll
  llvm/test/CodeGen/RISCV/features-info.ll
Labels: backend:RISC-V, llvm:analysis
