Repository llvm/llvm-project, pull requests merged in 2025-10, with the labels that each got.

#159192 [llvm][mustache] Fix failing StandaloneIndentation test
  llvm/lib/Support/Mustache.cpp
  llvm/unittests/Support/MustacheTest.cpp
  llvm/utils/llvm-test-mustache-spec/llvm-test-mustache-spec.cpp
Labels: llvm:support

#161465 Revert "Fix memory leak in Offloading API"
  llvm/lib/Object/OffloadBundle.cpp
Labels: llvm:binary-utilities

#161444 [RISCV] Remove Zicntr from sifive-p450/p470/p670.
  clang/test/Driver/riscv-cpus.c
  llvm/lib/Target/RISCV/RISCVProcessors.td
Labels: clang, backend:RISC-V, clang:driver

#161469 [RISCV] Rename BFloatVectors -> BF16Vectors in tablegen. NFC
  llvm/lib/Target/RISCV/RISCVInstrInfoVPseudos.td
  llvm/lib/Target/RISCV/RISCVInstrInfoVSDPatterns.td
  llvm/lib/Target/RISCV/RISCVInstrInfoVVLPatterns.td
  llvm/lib/Target/RISCV/RISCVInstrInfoXAndes.td
  llvm/lib/Target/RISCV/RISCVInstrInfoXSf.td
  llvm/lib/Target/RISCV/RISCVInstrInfoZvfbf.td
Labels: backend:RISC-V

#150835 Reserve R9 on armv6 iOS 2.x
  llvm/lib/Target/ARM/ARMSubtarget.cpp
  llvm/test/CodeGen/ARM/inline-asm-clobber.ll
Labels: backend:ARM

#161473 [HLSL][NFC] Add missing includes for standalone header compilation
  clang/include/clang/AST/HLSLResource.h
Labels: clang, clang:frontend, HLSL, skip-precommit-approval

#161410 [LVI] Handle constant value lattice in `getEdgeValueLocal`
  llvm/lib/Analysis/LazyValueInfo.cpp
  llvm/test/Transforms/CorrelatedValuePropagation/pr161367.ll
Labels: llvm:analysis, llvm:transforms

#160913 [IR] Introduce !captures metadata
  llvm/docs/LangRef.rst
  llvm/include/llvm/IR/FixedMetadataKinds.def
  llvm/include/llvm/IR/Metadata.h
  llvm/lib/Analysis/CaptureTracking.cpp
  llvm/lib/IR/Metadata.cpp
  llvm/lib/IR/Verifier.cpp
  llvm/lib/Transforms/Utils/Local.cpp
  llvm/test/Transforms/FunctionAttrs/nocapture.ll
  llvm/test/Transforms/SimplifyCFG/hoist-with-metadata.ll
  llvm/test/Verifier/captures-metadata.ll
Labels: llvm:ir, llvm:analysis, llvm:transforms

#161328 [RISCV] Add commutative support for Qualcomm uC Xqcics extension
  llvm/lib/Target/RISCV/RISCVInstrInfo.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfoXqci.td
  llvm/test/CodeGen/RISCV/xqcics.ll
Labels: backend:RISC-V

#161432 [flang][debug] Change type*N to type(kind=N).
  flang/lib/Optimizer/Transforms/DebugTypeGenerator.cpp
  flang/test/Integration/debug-complex-1.f90
  flang/test/Integration/debug-local-var-2.f90
  flang/test/Transforms/debug-complex-1.fir
  flang/test/Transforms/debug-derived-type-1.fir
  flang/test/Transforms/debug-fn-info.fir
  flang/test/Transforms/debug-local-var.fir
  flang/test/Transforms/debug-ref-type.fir
  flang/test/Transforms/debug-tuple-type.fir
  flang/test/Transforms/debug-vector-type.fir
Labels: flang, flang:fir-hlfir

#161181 [InstCombine] Opt phi(freeze(undef), C) -> phi(C, C)
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
  llvm/test/Transforms/InstCombine/in-freeze-phi.ll
Labels: llvm:instcombine, llvm:transforms

#161399 [GlobalOpt] Check if users are CallBase when changing CC
  llvm/lib/Transforms/IPO/GlobalOpt.cpp
  llvm/test/Transforms/GlobalOpt/fastcc.ll
Labels: llvm:transforms

#161160 [AMDGPU][InsertWaitCnts] Refactor some helper functions, NFC
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.h
Labels: backend:AMDGPU

#160663 [DAGCombine] Support (shl %x, constant) in foldPartialReduceMLAMulOp.
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/test/CodeGen/AArch64/neon-partial-reduce-dot-product.ll
Labels: backend:AArch64, llvm:SelectionDAG

#161357 [AMDGPU][SIInsertWaitCnts] Remove redundant TII/TRI/MRI arguments (NFC)
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
Labels: backend:AMDGPU

#161506 [clang][bytecode] Fix integral cast edge case
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/test/AST/ByteCode/literals.cpp
Labels: clang, clang:frontend, clang:bytecode

#156913 [mlir][memref] Introduce `memref.distinct_objects` op
  mlir/include/mlir/Dialect/MemRef/IR/MemRefOps.td
  mlir/lib/Conversion/MemRefToLLVM/MemRefToLLVM.cpp
  mlir/lib/Dialect/MemRef/IR/MemRefOps.cpp
  mlir/test/Conversion/MemRefToLLVM/memref-to-llvm.mlir
  mlir/test/Dialect/MemRef/invalid.mlir
  mlir/test/Dialect/MemRef/ops.mlir
Labels: mlir, mlir:memref

#161382 [OpenACC][CIR] Implement 'alloca copying' for private lowering
  clang/lib/CIR/CodeGen/CIRGenOpenACCRecipe.cpp
  clang/lib/CIR/CodeGen/CIRGenOpenACCRecipe.h
  clang/test/CIR/CodeGenOpenACC/private-clause-pointer-array-recipes-CtorDtor.cpp
  clang/test/CIR/CodeGenOpenACC/private-clause-pointer-array-recipes-NoOps.cpp
  clang/test/CIR/CodeGenOpenACC/private-clause-pointer-array-recipes-int.cpp
  clang/test/CIR/CodeGenOpenACC/private-clause-pointer-recipes-CtorDtor.cpp
  clang/test/CIR/CodeGenOpenACC/private-clause-pointer-recipes-NoOps.cpp
  clang/test/CIR/CodeGenOpenACC/private-clause-pointer-recipes-int.cpp
Labels: clang, ClangIR

#161518 [X86] Add test showing failure to remove sign splats from PACKSS intrinsics
  llvm/test/CodeGen/X86/combine-pack.ll
Labels: backend:X86

#161500 [InstCombine] Avoid self-replacing in `getUndefReplacement`
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
  llvm/test/Transforms/InstCombine/freeze.ll
Labels: llvm:instcombine, llvm:transforms

#161523 [X86] SimplifyDemandedBitsForTargetNode - generalize X86ISD::VSRAI handling when only demanding 'known signbits'
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/combine-pack.ll
Labels: backend:X86

#161526 [OpenACC] Remove unnecessary uses of `getResult`, fix cast tests
  clang/lib/CIR/CodeGen/CIRGenOpenACC.cpp
  clang/lib/CIR/CodeGen/CIRGenOpenACCClause.cpp
  clang/lib/CIR/CodeGen/CIRGenOpenACCRecipe.cpp
  clang/test/CIR/CodeGenOpenACC/private-clause-pointer-array-recipes-CtorDtor.cpp
  clang/test/CIR/CodeGenOpenACC/private-clause-pointer-array-recipes-NoOps.cpp
  clang/test/CIR/CodeGenOpenACC/private-clause-pointer-array-recipes-int.cpp
Labels: clang, ClangIR

#161528 [lldb][test] Fix bf16 test cases on Arm 32-bit
  lldb/test/API/lang/cpp/floating-types-specialization/TestCppFloatingTypesSpecialization.py
  lldb/test/API/lang/cpp/template-arguments/TestCppTemplateArguments.py
Labels: lldb

#156976 [LV] Keep duplicate recipes in VPExpressionRecipe
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/test/Transforms/LoopVectorize/reduction-inloop.ll
  llvm/test/Transforms/LoopVectorize/vplan-printing-reductions.ll
Labels: vectorizers, llvm:transforms

#161003 [CIR] Implement GenericSelectionExpr for AggregateExpr
  clang/lib/CIR/CodeGen/CIRGenExprAggregate.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.cpp
  clang/test/CIR/CodeGen/struct.cpp
Labels: clang, ClangIR

#161522 [NFC][LLVM] Misc code cleanup in AsmWriter.cpp
  llvm/lib/IR/AsmWriter.cpp
Labels: llvm:ir

#161521 [lldb][MachO] Fix inspection of global variables that start with 'O'
  lldb/source/Plugins/ObjectFile/Mach-O/ObjectFileMachO.cpp
  lldb/test/Shell/Expr/TestGlobalSymbolObjCConflict.c
Labels: lldb

#160959 [WebAssembly] Define llvm-internal WasmEH tags in compiler-rt
  compiler-rt/lib/builtins/CMakeLists.txt
  compiler-rt/lib/builtins/wasm/__c_longjmp.S
  compiler-rt/lib/builtins/wasm/__cpp_exception.S
Labels: compiler-rt, compiler-rt:builtins

#161536 [lldb][MachO][NFC] Extract ObjC metadata symbol parsing into helper function
  lldb/source/Plugins/ObjectFile/Mach-O/ObjectFileMachO.cpp
Labels: lldb

#161454 [LV] Use StringRef::consume_front. NFC
  llvm/lib/Transforms/Vectorize/LoopVectorizationLegality.cpp
Labels: vectorizers, llvm:transforms

#161479 [Support] Use a C++17 fold expression in a static_assert (NFC)
  llvm/include/llvm/Support/Format.h
Labels: llvm:support

#161480 [Support] Make getMaxValue and getMinValue constexpr variables (NFC)
  llvm/include/llvm/Support/InstructionCost.h
Labels: llvm:support

#161509 [LoopIdiom] Fix a DL-related crash in optimizeCRCLoop
  llvm/lib/Transforms/Scalar/LoopIdiomRecognize.cpp
  llvm/test/Transforms/LoopIdiom/cyclic-redundancy-check-dl.ll
  llvm/test/Transforms/LoopIdiom/cyclic-redundancy-check.ll
Labels: llvm:transforms

#161557 [clang-linker-wrapper][NFC] Invert condition for readability
  clang/tools/clang-linker-wrapper/ClangLinkerWrapper.cpp
Labels: clang

#161436 [InstCombine] linearize complexity of `findDemandedEltsByAllUsers()`
  llvm/lib/Transforms/InstCombine/InstCombineVectorOps.cpp
Labels: llvm:instcombine, llvm:transforms

#161577 [CIR][NFC] Fix CIR build
  clang/lib/CIR/CodeGen/CIRGenRecordLayoutBuilder.cpp
Labels: clang, ClangIR

#161581 [LLDB] Add load core time to target metrics
  lldb/include/lldb/Target/Statistics.h
  lldb/source/API/SBTarget.cpp
  lldb/source/Commands/CommandObjectTarget.cpp
  lldb/source/Target/Statistics.cpp
  lldb/test/API/functionalities/stats_api/TestStatisticsAPI.py
  lldb/test/API/functionalities/stats_api/arm64-minidump-build-ids.yaml
Labels: lldb

#161578 [AMDGPU] Fix real and fake true16 v_cvt_f32_bf16 disasm
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop1_dpp8.txt
Labels: backend:AMDGPU

#161554 [Flang] Fix perfect loop nest detection
  flang/lib/Semantics/resolve-directives.cpp
  flang/test/Lower/OpenMP/wsloop-collapse-continue.f90
  flang/test/Semantics/OpenMP/do08.f90
  flang/test/Semantics/OpenMP/do13.f90
Labels: flang, flang:fir-hlfir, flang:openmp, flang:semantics

#161459 [llvm][support] Move `make_absolute` from `sys::fs` to `sys::path`
  bolt/lib/Core/BinaryContext.cpp
  bolt/lib/Rewrite/DWARFRewriter.cpp
  clang-tools-extra/clang-apply-replacements/lib/Tooling/ApplyReplacements.cpp
  clang-tools-extra/clang-move/Move.cpp
  clang-tools-extra/clangd/ConfigCompile.cpp
  clang-tools-extra/clangd/SystemIncludeExtractor.cpp
  clang-tools-extra/clangd/index/SymbolCollector.cpp
  clang-tools-extra/clangd/tool/ClangdMain.cpp
  clang-tools-extra/include-cleaner/tool/IncludeCleaner.cpp
  clang/lib/Lex/HeaderSearch.cpp
  clang/lib/Tooling/DependencyScanning/DependencyScannerImpl.cpp
  clang/unittests/Frontend/CompilerInstanceTest.cpp
  llvm/include/llvm/Support/FileSystem.h
  llvm/include/llvm/Support/Path.h
  llvm/lib/Support/Path.cpp
  llvm/lib/Support/VirtualFileSystem.cpp
  llvm/tools/llvm-config/llvm-config.cpp
  llvm/tools/llvm-dwp/llvm-dwp.cpp
  llvm/tools/llvm-opt-report/OptReport.cpp
  llvm/unittests/Support/Path.cpp
Labels: clang, clang-tools-extra, clangd, clang:frontend, debuginfo, BOLT, llvm:support

#161564 [clang-sycl-linker][NFC] Remove dead includes
  clang/tools/clang-sycl-linker/ClangSYCLLinker.cpp
Labels: clang

#79942 [Clang][CMake] Add CSSPGO support to LLVM_BUILD_INSTRUMENTED
  clang/CMakeLists.txt
  clang/cmake/caches/BOLT-CSSPGO.cmake
  clang/cmake/caches/BOLT-PGO.cmake
  clang/cmake/caches/CSSPGO.cmake
  clang/utils/perf-training/CMakeLists.txt
  clang/utils/perf-training/perf-helper.py
  llvm/CMakeLists.txt
  llvm/cmake/modules/HandleLLVMOptions.cmake
Labels: cmake, clang

#161240 Cleanup the LLVM exported symbols namespace
  llvm/include/llvm/Target/TargetMachine.h
  llvm/lib/Analysis/CtxProfAnalysis.cpp
  llvm/lib/Analysis/IndirectCallPromotionAnalysis.cpp
  llvm/lib/Analysis/MemoryProfileInfo.cpp
  llvm/lib/Analysis/ModuleSummaryAnalysis.cpp
  llvm/lib/Analysis/ProfileSummaryInfo.cpp
  llvm/lib/CGData/CodeGenData.cpp
  llvm/lib/CGData/CodeGenDataReader.cpp
  llvm/lib/CodeGen/GlobalISel/LegalizerInfo.cpp
  llvm/lib/CodeGen/MachineRegionInfo.cpp
  llvm/lib/CodeGen/RegAllocScore.cpp
  llvm/lib/DebugInfo/LogicalView/Core/LVReader.cpp
  llvm/lib/IR/Instruction.cpp
  llvm/lib/IR/Value.cpp
  llvm/lib/LTO/LTO.cpp
  llvm/lib/Passes/PassBuilderPipelines.cpp
  llvm/lib/ProfileData/MemProfCommon.cpp
  llvm/lib/Target/TargetMachine.cpp
  llvm/lib/Transforms/IPO/FunctionImport.cpp
  llvm/lib/Transforms/IPO/FunctionSpecialization.cpp
  llvm/lib/Transforms/IPO/MemProfContextDisambiguation.cpp
  llvm/lib/Transforms/IPO/SampleProfile.cpp
  llvm/lib/Transforms/IPO/SampleProfileMatcher.cpp
  llvm/lib/Transforms/IPO/WholeProgramDevirt.cpp
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
  llvm/lib/Transforms/Instrumentation/IndirectCallPromotion.cpp
  llvm/lib/Transforms/Instrumentation/PGOInstrumentation.cpp
  llvm/lib/Transforms/Instrumentation/PGOMemOPSizeOpt.cpp
  llvm/lib/Transforms/Instrumentation/ValueProfilePlugins.inc
  llvm/lib/Transforms/Scalar/JumpTableToSwitch.cpp
  llvm/lib/Transforms/Scalar/LICM.cpp
  llvm/lib/Transforms/Utils/FunctionImportUtils.cpp
  llvm/lib/Transforms/Utils/SimplifyCFG.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/tools/llvm-cgdata/llvm-cgdata.cpp
  llvm/unittests/Analysis/MemoryProfileInfoTest.cpp
  llvm/unittests/Analysis/ProfileSummaryInfoTest.cpp
  llvm/unittests/CodeGen/RegAllocScoreTest.cpp
  llvm/unittests/ProfileData/MemProfTest.cpp
Labels: llvm:codegen, debuginfo, llvm:globalisel, vectorizers, PGO, llvm:instcombine, LTO, llvm:ir, function-specialization, llvm:analysis, llvm:transforms

#156952 [IR2Vec] Add support for Cmp predicates in vocabulary and embeddings
  llvm/include/llvm/Analysis/IR2Vec.h
  llvm/lib/Analysis/IR2Vec.cpp
  llvm/test/Analysis/IR2Vec/Inputs/dummy_2D_vocab.json
  llvm/test/Analysis/IR2Vec/Inputs/dummy_3D_nonzero_arg_vocab.json
  llvm/test/Analysis/IR2Vec/Inputs/dummy_3D_nonzero_opc_vocab.json
  llvm/test/Analysis/IR2Vec/Inputs/reference_default_vocab_print.txt
  llvm/test/Analysis/IR2Vec/Inputs/reference_wtd1_vocab_print.txt
  llvm/test/Analysis/IR2Vec/Inputs/reference_wtd2_vocab_print.txt
  llvm/test/Analysis/IR2Vec/if-else.ll
  llvm/test/Analysis/IR2Vec/unreachable.ll
  llvm/test/tools/llvm-ir2vec/entities.ll
  llvm/tools/llvm-ir2vec/llvm-ir2vec.cpp
  llvm/unittests/Analysis/IR2VecTest.cpp
Labels: mlgo, llvm:analysis

#161531 [AMDGPU] Move LowerBufferFatPointers after LoadStoreVectorizer and remove the fixme
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointer-atomicrmw-fadd.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointer-atomicrmw-fmax.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointer-atomicrmw-fmin.ll
  llvm/test/CodeGen/AMDGPU/buffer-fat-pointers-memcpy.ll
  llvm/test/CodeGen/AMDGPU/llc-pipeline-npm.ll
  llvm/test/CodeGen/AMDGPU/llc-pipeline.ll
  llvm/test/CodeGen/AMDGPU/resource-usage-dead-function.ll
Labels: backend:AMDGPU

#161612 [JTS][NFC] Optimize guid fetching
  llvm/include/llvm/Transforms/Scalar/JumpTableToSwitch.h
  llvm/lib/Passes/PassBuilderPipelines.cpp
  llvm/lib/Transforms/Scalar/JumpTableToSwitch.cpp
Labels: llvm:transforms

#161610 [BOLT][AArch64] Skip R_AARCH64_TLSDESC_CALL relocation
  bolt/lib/Core/Relocation.cpp
  bolt/test/AArch64/tls-desc-call.s
Labels: BOLT

#161474 [Clang][Sema] Switch diagnostics from toString to operator<< for APSInt/APInt
  clang/lib/Sema/SemaChecking.cpp
  clang/test/AST/ByteCode/const-eval.c
  clang/test/Sema/const-eval.c
  clang/test/Sema/integer-overflow.c
  clang/test/Sema/unbounded-array-bounds.c
  clang/test/SemaCXX/array-bounds.cpp
  clang/test/SemaCXX/constant-expression-cxx14.cpp
  clang/test/SemaCXX/integer-overflow.cpp
Labels: clang, clang:frontend, clang:bytecode

#161588 [RISCV] Use LBU for anyext i8 atomic_load.
  llvm/lib/Target/RISCV/RISCVGISel.td
  llvm/lib/Target/RISCV/RISCVInstrInfoA.td
  llvm/test/CodeGen/RISCV/GlobalISel/atomic-load-store.ll
Labels: backend:RISC-V, llvm:globalisel

#161603 [AMDGPU] Update gfx1250 VOP1 tests to t16 syntax. NFC
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop1_dpp8.s
Labels: backend:AMDGPU

#161609 [AMDGPU] Update gfx1250 vop3_from_vop1 tests to t16 syntax. NFC
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3_from_vop1_dpp8.s
Labels: backend:AMDGPU

#161507 [DAG] Add ComputeNumSignBits(FREEZE(X)) handling
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/AArch64/freeze.ll
Labels: backend:AArch64, llvm:SelectionDAG

#161327 [clang][analyzer] Clear `ObjCMethodCall`'s cache between runs
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/CallEvent.h
  clang/lib/StaticAnalyzer/Core/CallEvent.cpp
  clang/unittests/StaticAnalyzer/CallEventTest.cpp
Labels: clang, clang:static analyzer

#161362 [libc++] Fix <__algorithm/find.h> when using -flax-vector-conversions=none
  libcxx/include/__algorithm/find.h
  libcxx/test/std/experimental/simd/simd.class/simd_unary.pass.cpp
  libcxx/utils/libcxx/test/params.py
Labels: libc++

#146076 [AMDGPU][SDAG] Enable ISD::PTRADD for 64-bit AS by default
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/test/CodeGen/AMDGPU/identical-subrange-spill-infloop.ll
  llvm/test/CodeGen/AMDGPU/infer-addrspace-flat-atomic.ll
  llvm/test/CodeGen/AMDGPU/lds-frame-extern.ll
  llvm/test/CodeGen/AMDGPU/loop-prefetch-data.ll
  llvm/test/CodeGen/AMDGPU/lower-module-lds-via-hybrid.ll
  llvm/test/CodeGen/AMDGPU/lower-module-lds-via-table.ll
  llvm/test/CodeGen/AMDGPU/match-perm-extract-vector-elt-bug.ll
  llvm/test/CodeGen/AMDGPU/memmove-var-size.ll
  llvm/test/CodeGen/AMDGPU/no-folding-imm-to-inst-with-fi.ll
  llvm/test/CodeGen/AMDGPU/preload-implicit-kernargs.ll
  llvm/test/CodeGen/AMDGPU/promote-constOffset-to-imm.ll
  llvm/test/CodeGen/AMDGPU/ptradd-sdag-mubuf.ll
  llvm/test/CodeGen/AMDGPU/ptradd-sdag-optimizations.ll
  llvm/test/CodeGen/AMDGPU/ptradd-sdag-undef-poison.ll
  llvm/test/CodeGen/AMDGPU/ptradd-sdag.ll
  llvm/test/CodeGen/AMDGPU/store-weird-sizes.ll
Labels: backend:AMDGPU, llvm:SelectionDAG

#161384 [AArch64] Combine PTEST_FIRST(PTRUE, CONCAT(A, B)) -> PTEST_FIRST(PTRUE, A)
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64InstrInfo.cpp
  llvm/test/CodeGen/AArch64/get-active-lane-mask-extract.ll
Labels: backend:AArch64

#160061 [AArch64][GlobalISel] Add `G_FMODF` instruction
  llvm/include/llvm/CodeGen/GlobalISel/LegalizerHelper.h
  llvm/include/llvm/CodeGen/GlobalISel/MachineIRBuilder.h
  llvm/include/llvm/Support/TargetOpcodes.def
  llvm/include/llvm/Target/GenericOpcodes.td
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/lib/CodeGen/GlobalISel/LegalizerHelper.cpp
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.cpp
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/lib/Target/SPIRV/SPIRVLegalizerInfo.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/legalize-modf.mir
  llvm/test/CodeGen/AArch64/GlobalISel/legalizer-info-validation.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-modf.mir
  llvm/test/CodeGen/AArch64/llvm.modf.ll
  llvm/test/CodeGen/RISCV/GlobalISel/legalizer-info-validation.mir
  llvm/test/TableGen/GlobalISelCombinerEmitter/match-table-cxx.td
  llvm/test/TableGen/GlobalISelEmitter/GlobalISelEmitter.td
Labels: backend:AArch64, backend:RISC-V, llvm:globalisel, backend:SPIR-V, llvm:support

#159777 [DebugInfo][InstrRef] Copy instr-ref to replacement instrs in X86FixupSetCCPass
  llvm/lib/Target/X86/X86FixupSetCC.cpp
  llvm/test/DebugInfo/X86/x86fixupsetcc-debug-instr-num.mir
Labels: backend:X86, debuginfo

#161600 Thread Safety Analysis: Optimize LocalVariableMap's canonical reference computation
  clang/lib/Analysis/ThreadSafety.cpp
Labels: clang, clang:analysis

#161299 [SPIR-V] Prevent adding duplicate binding instructions for implicit binding
  llvm/lib/Target/SPIRV/SPIRVLegalizeImplicitBinding.cpp
  llvm/test/CodeGen/SPIRV/hlsl-resources/ImplicitBinding.ll
  llvm/test/CodeGen/SPIRV/hlsl-resources/UniqueImplicitBindingNumber.ll
Labels: backend:SPIR-V

#161439 [CIR] Make all opt tests verify roundtrip
  clang/test/CIR/IR/alloca.cir
  clang/test/CIR/IR/array-ctor.cir
  clang/test/CIR/IR/array-dtor.cir
  clang/test/CIR/IR/array.cir
  clang/test/CIR/IR/atomic.cir
  clang/test/CIR/IR/binassign.cir
  clang/test/CIR/IR/bitfield_info.cir
  clang/test/CIR/IR/call.cir
  clang/test/CIR/IR/cast.cir
  clang/test/CIR/IR/cmp.cir
  clang/test/CIR/IR/complex.cir
  clang/test/CIR/IR/copy.cir
  clang/test/CIR/IR/func.cir
  clang/test/CIR/IR/global-init.cir
  clang/test/CIR/IR/global-var-linkage.cir
  clang/test/CIR/IR/global.cir
  clang/test/CIR/IR/label.cir
  clang/test/CIR/IR/module.cir
  clang/test/CIR/IR/stack-save-restore.cir
  clang/test/CIR/IR/struct.cir
  clang/test/CIR/IR/switch-flat.cir
  clang/test/CIR/IR/switch.cir
  clang/test/CIR/IR/ternary.cir
  clang/test/CIR/IR/throw.cir
  clang/test/CIR/IR/unary.cir
  clang/test/CIR/IR/vector.cir
  clang/test/CIR/IR/vtable-addrpt.cir
  clang/test/CIR/IR/vtable-attr.cir
  clang/test/CIR/IR/vtt-addrpoint.cir
Labels: clang, ClangIR

#160515 [LLVM][CodeGen][SVE] Remove failure cases when widening vector load/store ops.
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorTypes.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/VE/VEISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve-load-store-legalisation.ll
  llvm/test/CodeGen/VE/Vector/vec_divrem.ll
Labels: backend:AArch64, llvm:SelectionDAG

#161648 [NFC][Clang Improve performance of `DoMarkVarDeclReferenced`
  clang/lib/Sema/SemaExpr.cpp
Labels: clang, clang:frontend

#160424 RegAllocGreedy: Check if copied lanes are live in trySplitAroundHintReg
  llvm/lib/CodeGen/RegAllocGreedy.cpp
  llvm/test/CodeGen/SystemZ/fp-cmp-04.ll
  llvm/test/CodeGen/X86/fshl.ll
  llvm/test/CodeGen/X86/fshr.ll
Labels: backend:SystemZ, backend:X86, llvm:codegen, llvm:regalloc

#141776 [Clang] Normalize constraints before checking for satisfaction
  clang/docs/InternalsManual.rst
  clang/docs/ReleaseNotes.rst
  clang/include/clang/AST/ASTConcept.h
  clang/include/clang/AST/ASTContext.h
  clang/include/clang/Sema/Sema.h
  clang/include/clang/Sema/SemaConcept.h
  clang/include/clang/Sema/Template.h
  clang/lib/AST/ASTConcept.cpp
  clang/lib/AST/ASTImporter.cpp
  clang/lib/Sema/SemaConcept.cpp
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/lib/Sema/SemaExprCXX.cpp
  clang/lib/Sema/SemaOverload.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/lib/Sema/SemaTemplateInstantiate.cpp
  clang/lib/Sema/TreeTransform.h
  clang/lib/Serialization/ASTReaderDecl.cpp
  clang/lib/Serialization/ASTReaderStmt.cpp
  clang/lib/Serialization/ASTWriterStmt.cpp
  clang/test/AST/ast-dump-concepts.cpp
  clang/test/AST/ast-dump-ctad-alias.cpp
  clang/test/CXX/drs/cwg25xx.cpp
  clang/test/CXX/expr/expr.prim/expr.prim.id/p3.cpp
  clang/test/CXX/expr/expr.prim/expr.prim.req/compound-requirement.cpp
  clang/test/CXX/expr/expr.prim/expr.prim.req/nested-requirement.cpp
  clang/test/CXX/expr/expr.prim/expr.prim.req/simple-requirement.cpp
  clang/test/CXX/expr/expr.prim/expr.prim.req/type-requirement.cpp
  clang/test/CXX/temp/temp.constr/temp.constr.atomic/constrant-satisfaction-conversions.cpp
  clang/test/CXX/temp/temp.constr/temp.constr.normal/p1.cpp
  clang/test/CXX/temp/temp.param/p10-2a.cpp
  clang/test/SemaCXX/cxx23-assume.cpp
  clang/test/SemaCXX/cxx2b-deducing-this.cpp
  clang/test/SemaCXX/cxx2c-fold-exprs.cpp
  clang/test/SemaCXX/cxx2c-template-template-param.cpp
  clang/test/SemaCXX/invalid-requirement-requires-expr.cpp
  clang/test/SemaCXX/overload-resolution-deferred-templates.cpp
  clang/test/SemaCXX/type-traits.cpp
  clang/test/SemaHLSL/BuiltIns/Buffers.hlsl
  clang/test/SemaHLSL/BuiltIns/RWBuffers.hlsl
  clang/test/SemaTemplate/concepts-recovery-expr.cpp
  clang/test/SemaTemplate/concepts-recursive-inst.cpp
  clang/test/SemaTemplate/concepts.cpp
  clang/test/SemaTemplate/deduction-guide.cpp
  clang/test/SemaTemplate/instantiate-abbreviated-template.cpp
  clang/test/SemaTemplate/instantiate-expanded-type-constraint.cpp
  clang/test/SemaTemplate/instantiate-requires-expr.cpp
  clang/test/SemaTemplate/instantiate-template-argument.cpp
  clang/test/SemaTemplate/pr52970.cpp
  libcxx/test/libcxx/algorithms/cpp17_iterator_concepts.verify.cpp
Labels: clang, libc++, clang:frontend, clang:modules, HLSL

#159773 [mlir][omp] Improve canonloop/iv naming
  mlir/lib/Dialect/OpenMP/IR/OpenMPDialect.cpp
  mlir/test/Dialect/OpenMP/cli-canonical_loop.mlir
  mlir/test/Dialect/OpenMP/cli-unroll-heuristic.mlir
Labels: mlir, flang, mlir:openmp, flang:openmp

#161659 [InstCombine] Remove foldSelectWithFrozenICmp() fold
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
Labels: llvm:instcombine, llvm:transforms

#142390 [Codegen] Add a separate stack ID for scalable predicates
  llvm/include/llvm/CodeGen/MIRYamlMapping.h
  llvm/include/llvm/CodeGen/MachineFrameInfo.h
  llvm/include/llvm/CodeGen/TargetFrameLowering.h
  llvm/lib/CodeGen/StackFrameLayoutAnalysisPass.cpp
  llvm/lib/Target/AArch64/AArch64FrameLowering.cpp
  llvm/lib/Target/AArch64/AArch64FrameLowering.h
  llvm/lib/Target/AArch64/AArch64ISelDAGToDAG.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64InstrInfo.cpp
  llvm/lib/Target/AArch64/AArch64PrologueEpilogue.cpp
  llvm/lib/Target/AMDGPU/SIFrameLowering.cpp
  llvm/lib/Target/RISCV/RISCVFrameLowering.cpp
  llvm/test/CodeGen/AArch64/debug-info-sve-dbg-declare.mir
  llvm/test/CodeGen/AArch64/debug-info-sve-dbg-value.mir
  llvm/test/CodeGen/AArch64/framelayout-sve.mir
  llvm/test/CodeGen/AArch64/spillfill-sve.mir
  llvm/test/CodeGen/AArch64/sve-calling-convention-byref.ll
Labels: backend:AArch64, backend:AMDGPU, backend:RISC-V, llvm:codegen

#161641 [clang] Preserve `externs` following broken declarations
  clang/docs/ReleaseNotes.rst
  clang/lib/Parse/ParseDecl.cpp
  clang/test/Parser/recovery-after-expected-unqualified-id.cpp
Labels: clang, clang:frontend

#161411 [ROCDL] Added `rocdl.cvt.scale.pk8` ops
  mlir/include/mlir/Dialect/LLVMIR/ROCDLOps.td
  mlir/test/Dialect/LLVMIR/rocdl.mlir
  mlir/test/Target/LLVMIR/rocdl.mlir
Labels: mlir:llvm, mlir

#161618 [Hexagon] Add opcode V6_vS32Ub_npred_ai for offset validity check
  llvm/lib/Target/Hexagon/HexagonInstrInfo.cpp
  llvm/test/CodeGen/Hexagon/unaligned-vec-store.ll
Labels: backend:Hexagon

#161388 [X86] Create special case for (a-b) - (a<b) -> sbb a, b
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/sbb.ll
Labels: backend:X86

#161277 [Clang][Sema] Fix crash in CheckUsingDeclQualifier due to diagnostic missing an argument
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/test/SemaCXX/cxx98-compat.cpp
Labels: clang, clang:frontend

#142391 [AArch64] Prepare for split ZPR and PPR area allocation (NFCI)
  llvm/lib/Target/AArch64/AArch64FrameLowering.cpp
  llvm/lib/Target/AArch64/AArch64FrameLowering.h
  llvm/lib/Target/AArch64/AArch64MachineFunctionInfo.cpp
  llvm/lib/Target/AArch64/AArch64MachineFunctionInfo.h
  llvm/lib/Target/AArch64/AArch64PrologueEpilogue.cpp
  llvm/lib/Target/AArch64/AArch64RegisterInfo.cpp
  llvm/test/DebugInfo/AArch64/asan-stack-vars.mir
  llvm/test/DebugInfo/AArch64/compiler-gen-bbs-livedebugvalues.mir
Labels: backend:AArch64, debuginfo

#161582 [AMDGPU] s_quadmask* implicitly defines SCC
  llvm/lib/Target/AMDGPU/SOPInstructions.td
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.quadmask.ll
Labels: backend:AMDGPU

#161684 [X86] Add bytecode / -fexperimental-new-constant-interpreter VPMADD52 intrinsics test coverage
  clang/test/CodeGen/X86/avx512ifma-builtins.c
  clang/test/CodeGen/X86/avx512ifmavl-builtins.c
  clang/test/CodeGen/X86/avxifma-builtins.c
Labels: clang, backend:X86

#161345 [CFG] Add a BuildOption to consider default branch of switch on covered enumerations
  clang/include/clang/Analysis/CFG.h
  clang/lib/Analysis/CFG.cpp
  clang/unittests/Analysis/CFGTest.cpp
Labels: clang, clang:analysis

#161605 [CIR][NFC] Cleanup MissingFeature asserts in RecordLayoutBuilder
  clang/include/clang/CIR/MissingFeatures.h
  clang/lib/CIR/CodeGen/CIRGenRecordLayoutBuilder.cpp
Labels: clang, ClangIR

#161423 Omit member size from DWARF when desired
  llvm/lib/CodeGen/AsmPrinter/DwarfUnit.cpp
  llvm/test/DebugInfo/X86/dynamic-bitfield.ll
Labels: llvm:codegen, debuginfo

#161627 [ADT] Use structured bindings (NFC)
  llvm/include/llvm/ADT/ConcurrentHashtable.h
Labels: llvm:adt

#161628 [ADT] Use "= default" in DirectedGraph.h
  llvm/include/llvm/ADT/DirectedGraph.h
Labels: llvm:adt

#161668 [NFC] Rename members in AutoVarEmission
  clang/lib/CIR/CodeGen/CIRGenDecl.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.h
  clang/lib/CIR/CodeGen/CIRGenOpenACCRecipe.cpp
Labels: clang, ClangIR

#161686 [VPlan] Improve code using m_One (NFC)
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: vectorizers, llvm:transforms

#160618 [NFC][DwarfLowLevel] Make getRelocatedValueImpl public
  llvm/include/llvm/DebugInfo/DWARF/LowLevel/DWARFDataExtractorSimple.h
Labels: debuginfo, skip-precommit-approval

#161539 [InstCombine] Fix FMF propagation in `foldFCmpFSubIntoFCmp`
  llvm/lib/Transforms/InstCombine/InstCombineCompares.cpp
  llvm/test/Transforms/InstCombine/fcmp.ll
Labels: llvm:instcombine, floating-point, llvm:transforms

#160748 [clang] NFCI: Clean up `CompilerInstance::create{File,Source}Manager()`
  clang-tools-extra/clang-include-fixer/IncludeFixer.cpp
  clang-tools-extra/include-cleaner/unittests/RecordTest.cpp
  clang/include/clang/Frontend/CompilerInstance.h
  clang/lib/ExtractAPI/ExtractAPIConsumer.cpp
  clang/lib/Frontend/ChainedIncludesSource.cpp
  clang/lib/Frontend/CompilerInstance.cpp
  clang/lib/Frontend/FrontendAction.cpp
  clang/lib/Testing/TestAST.cpp
  clang/lib/Tooling/DependencyScanning/DependencyScannerImpl.cpp
  clang/lib/Tooling/Tooling.cpp
  clang/tools/clang-import-test/clang-import-test.cpp
  clang/unittests/CodeGen/TestCompiler.h
  clang/unittests/Serialization/ForceCheckFileInputTest.cpp
  clang/unittests/Tooling/DependencyScanning/DependencyScannerTest.cpp
  lldb/source/Plugins/ExpressionParser/Clang/ClangExpressionParser.cpp
Labels: clang, clang-tools-extra, lldb, clang:modules

#142392 [AArch64][SME] Support split ZPR and PPR area allocation
  llvm/include/llvm/CodeGen/MachineFrameInfo.h
  llvm/lib/CodeGen/StackFrameLayoutAnalysisPass.cpp
  llvm/lib/Target/AArch64/AArch64ExpandPseudoInsts.cpp
  llvm/lib/Target/AArch64/AArch64FrameLowering.cpp
  llvm/lib/Target/AArch64/AArch64FrameLowering.h
  llvm/lib/Target/AArch64/AArch64ISelDAGToDAG.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64MachineFunctionInfo.h
  llvm/lib/Target/AArch64/AArch64PrologueEpilogue.cpp
  llvm/lib/Target/AArch64/AArch64RegisterInfo.cpp
  llvm/test/CodeGen/AArch64/framelayout-split-sve.mir
  llvm/test/CodeGen/AArch64/spill-fill-zpr-predicates.mir
  llvm/test/CodeGen/AArch64/split-sve-stack-frame-layout.ll
  llvm/test/CodeGen/AArch64/stack-hazard.ll
  llvm/test/CodeGen/AArch64/sve-stack-frame-layout.ll
Labels: backend:AArch64, llvm:codegen

#161681 [VPlan] Improve code using VPlan::getFalse (NFC)
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: vectorizers, llvm:transforms

#161447 [MLIR][XeGPU] Use operand layouts for store scatter
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUWgToSgDistribute.cpp
  mlir/test/Dialect/XeGPU/xegpu-wg-to-sg-unify-ops.mlir
Labels: mlir:gpu, mlir

#161021 [clang-format][NFC] Introduce isNoneOf
  clang/lib/Format/ContinuationIndenter.cpp
  clang/lib/Format/Format.cpp
  clang/lib/Format/FormatToken.cpp
  clang/lib/Format/FormatToken.h
  clang/lib/Format/FormatTokenLexer.cpp
  clang/lib/Format/MacroExpander.cpp
  clang/lib/Format/NamespaceEndCommentsFixer.cpp
  clang/lib/Format/ObjCPropertyAttributeOrderFixer.cpp
  clang/lib/Format/QualifierAlignmentFixer.cpp
  clang/lib/Format/SortJavaScriptImports.cpp
  clang/lib/Format/TokenAnnotator.cpp
  clang/lib/Format/UnwrappedLineFormatter.cpp
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/lib/Format/WhitespaceManager.cpp
Labels: clang-format

#161674 [NFC][OpenACC] Remove 'initExpr' from AST/etc.
  clang/include/clang/AST/OpenACCClause.h
  clang/lib/AST/StmtProfile.cpp
  clang/lib/CIR/CodeGen/CIRGenOpenACCClause.cpp
  clang/lib/CIR/CodeGen/CIRGenOpenACCRecipe.cpp
  clang/lib/CIR/CodeGen/CIRGenOpenACCRecipe.h
  clang/lib/Sema/SemaOpenACC.cpp
  clang/lib/Serialization/ASTReader.cpp
  clang/lib/Serialization/ASTWriter.cpp
  clang/tools/libclang/CIndex.cpp
Labels: clang, clang:frontend, clang:modules, clang:as-a-library, ClangIR

#161719 Revert "[clang] Convert second arg of __builtin_assume_aligned to ConstantExpr (#161314)"
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaChecking.cpp
  clang/test/SemaCXX/builtin-assume-aligned.cpp
Labels: clang, clang:frontend

#161717 Revert "[MemProf] Add ambigous memprof attribute"
  llvm/include/llvm/Analysis/MemoryProfileInfo.h
  llvm/lib/Analysis/MemoryProfileInfo.cpp
  llvm/lib/Transforms/IPO/MemProfContextDisambiguation.cpp
  llvm/unittests/Analysis/MemoryProfileInfoTest.cpp
Labels: llvm:analysis, llvm:transforms

#161470 [RISCV] Improve formatting in RISCVInstrInfoVPseudos.td. NFC
  llvm/lib/Target/RISCV/RISCVInstrInfoVPseudos.td
Labels: backend:RISC-V

#161429 [OFFLOAD] Restore interop functionality
  offload/libomptarget/OpenMP/InteropAPI.cpp
  offload/libomptarget/exports
  offload/plugins-nextgen/amdgpu/src/rtl.cpp
  offload/plugins-nextgen/cuda/src/rtl.cpp
Labels: backend:AMDGPU, offload

#161721 [RISCV][GISel] Share an atomic load isel pattern GISel RV64 and SDAG RV32. NFC
  llvm/lib/Target/RISCV/RISCVGISel.td
  llvm/lib/Target/RISCV/RISCVInstrInfoA.td
Labels: backend:RISC-V

#161303 [InstCombine] Fold icmp with clamp into unsigned bound check
  llvm/include/llvm/IR/IntrinsicInst.h
  llvm/lib/Transforms/InstCombine/InstCombineCompares.cpp
  llvm/lib/Transforms/InstCombine/InstCombineInternal.h
  llvm/test/Transforms/InstCombine/icmp-clamp.ll
Labels: llvm:instcombine, llvm:ir, llvm:transforms

#161706 [flang][openacc] Suppport !@acc compiler sentinel
  flang/lib/Parser/parsing.cpp
  flang/lib/Parser/prescan.cpp
  flang/test/Semantics/OpenACC/acc-sentinel.f90
Labels: flang, openacc, flang:semantics, flang:parser

#161715 [NVPTX] expand trunc/ext on v2i32
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/test/CodeGen/NVPTX/f32x2-convert-i32x2.ll
Labels: backend:NVPTX

#161731 [lldb] Add lld requirement to NativePDB test
  lldb/test/Shell/SymbolFile/NativePDB/symtab.cpp
Labels: lldb

#160952 [debugserver] Support for `qMemTags` packet
  lldb/packages/Python/lldbsuite/test/cpu_feature.py
  lldb/test/API/macosx/mte/Makefile
  lldb/test/API/macosx/mte/TestDarwinMTE.py
  lldb/test/API/macosx/mte/main.c
  lldb/test/API/macosx/mte/mte-entitlements.plist
  lldb/tools/debugserver/source/DNB.cpp
  lldb/tools/debugserver/source/DNB.h
  lldb/tools/debugserver/source/DNBDefs.h
  lldb/tools/debugserver/source/MacOSX/MachTask.h
  lldb/tools/debugserver/source/MacOSX/MachTask.mm
  lldb/tools/debugserver/source/MacOSX/MachVMMemory.cpp
  lldb/tools/debugserver/source/MacOSX/MachVMMemory.h
  lldb/tools/debugserver/source/MacOSX/MachVMRegion.cpp
  lldb/tools/debugserver/source/MacOSX/MachVMRegion.h
  lldb/tools/debugserver/source/RNBRemote.cpp
  lldb/tools/debugserver/source/RNBRemote.h
Labels: lldb

#161655 Reland "[lldb][MachO][NFC] Extract ObjC metadata symbol parsing into helper function"
  lldb/source/Plugins/ObjectFile/Mach-O/ObjectFileMachO.cpp
Labels: lldb

#155523 [clang-scan-deps] Remove unused OutputsPaths from FullDependencyConsumer (NFC)
  clang/include/clang/Tooling/DependencyScanning/DependencyScanningTool.h
Labels: clang

#161740 [libc][NFC] Turn off faccessat on aarch64
  libc/config/linux/aarch64/entrypoints.txt
Labels: libc

#161670 [mlir][vector] Simplify op rewrite pattern inheriting constructors. NFC.
  mlir/lib/Dialect/Vector/IR/VectorOps.cpp
  mlir/lib/Dialect/Vector/Transforms/LowerVectorBroadcast.cpp
  mlir/lib/Dialect/Vector/Transforms/LowerVectorContract.cpp
  mlir/lib/Dialect/Vector/Transforms/LowerVectorGather.cpp
  mlir/lib/Dialect/Vector/Transforms/LowerVectorInterleave.cpp
  mlir/lib/Dialect/Vector/Transforms/LowerVectorMask.cpp
  mlir/lib/Dialect/Vector/Transforms/LowerVectorMultiReduction.cpp
  mlir/lib/Dialect/Vector/Transforms/LowerVectorScan.cpp
  mlir/lib/Dialect/Vector/Transforms/LowerVectorShapeCast.cpp
  mlir/lib/Dialect/Vector/Transforms/LowerVectorShuffle.cpp
  mlir/lib/Dialect/Vector/Transforms/LowerVectorStep.cpp
  mlir/lib/Dialect/Vector/Transforms/LowerVectorToFromElementsToShuffleTree.cpp
  mlir/lib/Dialect/Vector/Transforms/LowerVectorTranspose.cpp
  mlir/lib/Dialect/Vector/Transforms/VectorDropLeadUnitDim.cpp
  mlir/lib/Dialect/Vector/Transforms/VectorEmulateMaskedLoadStore.cpp
  mlir/lib/Dialect/Vector/Transforms/VectorEmulateNarrowType.cpp
  mlir/lib/Dialect/Vector/Transforms/VectorInsertExtractStridedSliceRewritePatterns.cpp
  mlir/lib/Dialect/Vector/Transforms/VectorLinearize.cpp
  mlir/lib/Dialect/Vector/Transforms/VectorTransferOpTransforms.cpp
  mlir/lib/Dialect/Vector/Transforms/VectorTransforms.cpp
Labels: mlir:vectorops, mlir, mlir:vector

#161765 [clang] fix lambda dependency issue with late parse attributes
  clang/lib/Sema/SemaExprCXX.cpp
  clang/test/SemaTemplate/GH161657.cpp
Labels: clang, clang:frontend

#161712 [RISCV][GISel] Use relaxed_load/store in GISel atomic patterns. NFC
  llvm/lib/Target/RISCV/RISCVGISel.td
Labels: backend:RISC-V

#161769 [clang] fix #161765 test triple dependency
  clang/test/SemaTemplate/GH161657.cpp
Labels: clang

#161704 [X86] combineBitcastvxi1 - bail out on soft-float targets
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/pr161693.ll
Labels: backend:X86

#161206 [BOLT] Add GNUPropertyRewriter and warn on AArch64 BTI note
  bolt/include/bolt/Core/BinaryContext.h
  bolt/include/bolt/Rewrite/MetadataRewriters.h
  bolt/lib/Rewrite/CMakeLists.txt
  bolt/lib/Rewrite/GNUPropertyRewriter.cpp
  bolt/lib/Rewrite/RewriteInstance.cpp
  bolt/test/AArch64/Inputs/property-note-bti.yaml
  bolt/test/AArch64/Inputs/property-note-nobti.yaml
  bolt/test/AArch64/bti-note.test
  bolt/test/AArch64/no-bti-note.test
Labels: BOLT

#159351 [BOLT][AArch64] Refuse to run CDSplit pass
  bolt/include/bolt/Passes/SplitFunctions.h
  bolt/include/bolt/Utils/CommandLineOpts.h
  bolt/lib/Passes/LongJmp.cpp
  bolt/lib/Passes/SplitFunctions.cpp
  bolt/lib/Rewrite/RewriteInstance.cpp
  bolt/lib/Utils/CommandLineOpts.cpp
  bolt/test/AArch64/unsupported-passes.test
Labels: BOLT

#161369 [VPlan] Deref VPlanPtr when passing to transform (NFC)
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.h
  llvm/unittests/Transforms/Vectorize/VPlanHCFGTest.cpp
  llvm/unittests/Transforms/Vectorize/VPlanUncountableExitTest.cpp
Labels: vectorizers, llvm:transforms

#126537 [llvm][ELF]Add Shdr check for getBuildID
  llvm/lib/Object/BuildID.cpp
  llvm/test/DebugInfo/symbolize-build-id.test
  llvm/unittests/Object/BuildIDTest.cpp
  llvm/unittests/Object/CMakeLists.txt
Labels: debuginfo, llvm:binary-utilities

#158641 [AArch64] Refactor and refine cost-model for partial reductions
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/fully-unrolled-cost.ll
  llvm/test/Transforms/LoopVectorize/AArch64/partial-reduce-chained.ll
  llvm/test/Transforms/LoopVectorize/AArch64/partial-reduce-dot-product-epilogue.ll
  llvm/test/Transforms/LoopVectorize/AArch64/partial-reduce-dot-product-mixed.ll
  llvm/test/Transforms/LoopVectorize/AArch64/partial-reduce-dot-product.ll
  llvm/test/Transforms/LoopVectorize/AArch64/partial-reduce-sub.ll
  llvm/test/Transforms/LoopVectorize/AArch64/partial-reduce.ll
  llvm/test/Transforms/LoopVectorize/AArch64/reg-usage.ll
Labels: backend:AArch64, llvm:transforms

#161783 [X86][GlobalIsel] Adds support for G_UMIN/G_UMAX/G_SMIN/G_SMAX
  llvm/lib/Target/X86/GISel/X86LegalizerInfo.cpp
  llvm/test/CodeGen/X86/isel-smax.ll
  llvm/test/CodeGen/X86/isel-smin.ll
  llvm/test/CodeGen/X86/isel-umax.ll
  llvm/test/CodeGen/X86/isel-umin.ll
Labels: backend:X86

#157689 [GVN] Teach GVN simple masked load/store forwarding
  llvm/include/llvm/IR/PatternMatch.h
  llvm/include/llvm/Transforms/Scalar/GVN.h
  llvm/lib/Transforms/Scalar/GVN.cpp
  llvm/test/Transforms/GVN/masked-load-store-no-mem-dep.ll
  llvm/test/Transforms/GVN/masked-load-store.ll
Labels: llvm:ir, llvm:transforms

#161714 [AArch64][SME] Enable `aarch64-split-sve-objects` with hazard padding
  llvm/lib/Target/AArch64/AArch64FrameLowering.cpp
  llvm/test/CodeGen/AArch64/ssve-stack-hazard-remarks.ll
  llvm/test/CodeGen/AArch64/stack-hazard.ll
Labels: backend:AArch64

#161813 [NFC][AMDGPU] Replace size & set_is_subset by operator==
  llvm/lib/Target/AMDGPU/AMDGPULowerModuleLDSPass.cpp
Labels: backend:AMDGPU

#161558 [flang] Simplify hlfir.index in a few limited cases.
  flang/include/flang/Optimizer/Builder/HLFIRTools.h
  flang/lib/Optimizer/Builder/HLFIRTools.cpp
  flang/lib/Optimizer/HLFIR/Transforms/SimplifyHLFIRIntrinsics.cpp
  flang/test/HLFIR/simplify-hlfir-intrinsics-index.fir
Labels: flang, flang:fir-hlfir

#161302 [X86][Clang] VectorExprEvaluator::VisitCallExpr / InterpretBuiltin - allow element extraction/insertion intrinsics to be used in constexpr #159753
  clang/include/clang/Basic/BuiltinsX86.td
  clang/include/clang/Basic/BuiltinsX86_64.td
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/lib/AST/ExprConstant.cpp
  clang/test/CodeGen/X86/avx-builtins.c
  clang/test/CodeGen/X86/mmx-builtins.c
  clang/test/CodeGen/X86/sse2-builtins.c
  clang/test/CodeGen/X86/sse41-builtins.c
Labels: clang, backend:X86, clang:frontend, clang:bytecode

#161665 [analyzer][NFC] Simplify Analysis/csv2json.py
  clang/test/Analysis/csv2json.py
Labels: clang, clang:static analyzer

#161771 [AMDGPU][Disassembler] Use target feature for `.amdhsa_reserve_xnack_mask` instead of hard code zero
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.cpp
Labels: backend:AMDGPU

#161725 [LAA] Check if Ptr can be freed between Assume and CtxI.
  llvm/include/llvm/Analysis/ValueTracking.h
  llvm/lib/Analysis/LoopAccessAnalysis.cpp
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/test/Analysis/LoopAccessAnalysis/early-exit-runtime-checks.ll
  llvm/test/Transforms/LoopVectorize/single-early-exit-deref-assumptions.ll
Labels: llvm:analysis, llvm:transforms

#161843 [X86] Fold ADD(x,x) -> X86ISD::VSHLI(x,1)
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/avx2-vector-shifts.ll
  llvm/test/CodeGen/X86/gfni-shifts.ll
  llvm/test/CodeGen/X86/logic-shift.ll
  llvm/test/CodeGen/X86/prefer-avx256-shift.ll
  llvm/test/CodeGen/X86/shuffle-as-shifts.ll
  llvm/test/CodeGen/X86/sshl_sat_vec.ll
  llvm/test/CodeGen/X86/vector-fshr-128.ll
  llvm/test/CodeGen/X86/vector-fshr-256.ll
  llvm/test/CodeGen/X86/vector-shift-ashr-128.ll
  llvm/test/CodeGen/X86/vector-shift-ashr-256.ll
  llvm/test/CodeGen/X86/vector-shift-ashr-512.ll
  llvm/test/CodeGen/X86/vector-shift-ashr-sub128.ll
  llvm/test/CodeGen/X86/vector-shift-lshr-128.ll
  llvm/test/CodeGen/X86/vector-shift-lshr-256.ll
  llvm/test/CodeGen/X86/vector-shift-lshr-sub128.ll
  llvm/test/CodeGen/X86/vector-shuffle-256-v16.ll
Labels: backend:X86

#161666 [analyzer] Teach -analyze-function about USRs, extend documentation
  clang/docs/analyzer/developer-docs/DebugChecks.rst
  clang/include/clang/CrossTU/CrossTranslationUnit.h
  clang/lib/CrossTU/CrossTranslationUnit.cpp
  clang/lib/StaticAnalyzer/Frontend/AnalysisConsumer.cpp
  clang/test/Analysis/analyzeOneFunction.cpp
Labels: clang, clang:static analyzer

#161663 [clang][analyzer] Make per-entry-point metric rows uniquely identifiable
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/EntryPointStats.h
  clang/lib/StaticAnalyzer/Core/EntryPointStats.cpp
  clang/lib/StaticAnalyzer/Frontend/AnalysisConsumer.cpp
  clang/test/Analysis/analyzer-stats/entry-point-stats.cpp
Labels: clang, clang:static analyzer

#161664 [analyzer] Fix -analyze-function debug warning to account for syntax checkers
  clang/lib/StaticAnalyzer/Frontend/AnalysisConsumer.cpp
  clang/test/Analysis/analyze-function-guide.cpp
Labels: clang, clang:static analyzer

#161802 [mlir] Dialect conversion: Print note when replacement types do not match legalized types
  mlir/lib/Transforms/Utils/DialectConversion.cpp
Labels: mlir:core, mlir

#161210 [X86] Allow PSHUFD/PSHUFLW/PSHUFW intrinsics in constexpr.
  clang/include/clang/Basic/BuiltinsX86.td
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/lib/AST/ExprConstant.cpp
  clang/test/CodeGen/X86/avx2-builtins.c
  clang/test/CodeGen/X86/avx512bw-builtins.c
  clang/test/CodeGen/X86/avx512f-builtins.c
  clang/test/CodeGen/X86/avx512vl-builtins.c
  clang/test/CodeGen/X86/avx512vlbw-builtins.c
  clang/test/CodeGen/X86/mmx-builtins.c
  clang/test/CodeGen/X86/sse2-builtins.c
Labels: clang, backend:X86, clang:frontend, clang:headers, clang:bytecode

#160828 Fold SVE mul and mul_u to neg during isel
  llvm/lib/Target/AArch64/AArch64SVEInstrInfo.td
  llvm/test/CodeGen/AArch64/sve-int-mul-neg.ll
Labels: backend:AArch64

#161821 [llvm][HashRecognize] Fix compiler warning on Arm 32-bit
  llvm/lib/Analysis/HashRecognize.cpp
Labels: llvm:analysis

#161457 [AMDGPU] Enable XNACK on gfx1250
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/test/CodeGen/AMDGPU/GlobalISel/load-constant.96.ll
  llvm/test/CodeGen/AMDGPU/bf16.ll
  llvm/test/CodeGen/AMDGPU/calling-conventions.ll
  llvm/test/CodeGen/AMDGPU/carryout-selection.ll
  llvm/test/CodeGen/AMDGPU/ds_write2.ll
  llvm/test/CodeGen/AMDGPU/flat-saddr-load.ll
  llvm/test/CodeGen/AMDGPU/fmax3.ll
  llvm/test/CodeGen/AMDGPU/fmin3.ll
  llvm/test/CodeGen/AMDGPU/global-load-xcnt.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.cluster.id.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.cluster.workgroup.id.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.cluster.workgroup.max.flat.id.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.cluster.workgroup.max.id.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.permlane.gfx1250.ll
  llvm/test/CodeGen/AMDGPU/load-store-opt-scale-offset.mir
  llvm/test/CodeGen/AMDGPU/loop-prefetch-data.ll
  llvm/test/CodeGen/AMDGPU/mad_64_32.ll
  llvm/test/CodeGen/AMDGPU/max.ll
  llvm/test/CodeGen/AMDGPU/min.ll
  llvm/test/CodeGen/AMDGPU/mul.ll
  llvm/test/CodeGen/AMDGPU/packed-fp32.ll
  llvm/test/CodeGen/AMDGPU/preload-implicit-kernargs.ll
  llvm/test/CodeGen/AMDGPU/preload-kernargs.ll
  llvm/test/CodeGen/AMDGPU/scale-offset-smem.ll
  llvm/test/CodeGen/AMDGPU/v_ashr_pk.ll
  llvm/test/CodeGen/AMDGPU/workgroup-id-in-arch-sgprs.ll
  llvm/test/MC/AMDGPU/hsa-gfx1250-v4.s
  llvm/test/MC/AMDGPU/hsa-gfx1251-v4.s
  llvm/test/tools/llvm-objdump/ELF/AMDGPU/kd-gfx1250.s
Labels: backend:AMDGPU, llvm:globalisel, llvm:binary-utilities

#161832 AMDGPU: Fix broken register class IDs in mir tests
  llvm/test/CodeGen/AMDGPU/coalesce-copy-to-agpr-to-av-registers.mir
  llvm/test/CodeGen/AMDGPU/mai-hazards.mir
  llvm/test/CodeGen/AMDGPU/regalloc-failure-overlapping-insert-assert.mir
  llvm/test/CodeGen/AMDGPU/rewrite-vgpr-mfma-to-agpr-copy-from.mir
  llvm/test/CodeGen/AMDGPU/rewrite-vgpr-mfma-to-agpr-subreg-src2-chain.mir
Labels: backend:AMDGPU

#161786 CodeGen: Do not store RegisterClass copy costs as a signed value
  llvm/include/llvm/CodeGen/TargetRegisterInfo.h
  llvm/include/llvm/MC/MCRegisterInfo.h
  llvm/lib/CodeGen/SelectionDAG/InstrEmitter.cpp
  llvm/lib/CodeGen/SelectionDAG/ScheduleDAGSDNodes.cpp
  llvm/lib/Target/AMDGPU/SIISelLowering.cpp
  llvm/test/TableGen/RegisterClassCopyCost.td
  llvm/utils/TableGen/Common/CodeGenRegisters.cpp
  llvm/utils/TableGen/Common/CodeGenRegisters.h
  llvm/utils/TableGen/RegisterInfoEmitter.cpp
Labels: backend:AMDGPU, tablegen, llvm:codegen, llvm:regalloc, llvm:mc, llvm:SelectionDAG

#161844 [LLD][COFF] Fix tailMergeARM64 delayload thunk 128 MB range limitation
  lld/COFF/DLL.cpp
  lld/test/COFF/arm64-delayimport.yaml
  lld/test/COFF/arm64x-delayimport.test
Labels: lld, backend:AArch64, lld:COFF, platform:windows

#161846 [x86] lowerV4I32Shuffle - don't adjust PSHUFD splat masks to match UNPCK
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/any_extend_vector_inreg_of_broadcast.ll
  llvm/test/CodeGen/X86/any_extend_vector_inreg_of_broadcast_from_memory.ll
  llvm/test/CodeGen/X86/shuffle-of-splat-multiuses.ll
  llvm/test/CodeGen/X86/vec-strict-cmp-128.ll
  llvm/test/CodeGen/X86/vector-fshl-rot-sub128.ll
  llvm/test/CodeGen/X86/vector-fshl-sub128.ll
  llvm/test/CodeGen/X86/vector-fshr-rot-sub128.ll
  llvm/test/CodeGen/X86/vector-fshr-sub128.ll
  llvm/test/CodeGen/X86/vector-sext.ll
  llvm/test/CodeGen/X86/vector-zext.ll
  llvm/test/CodeGen/X86/zero_extend_vector_inreg_of_broadcast.ll
  llvm/test/CodeGen/X86/zero_extend_vector_inreg_of_broadcast_from_memory.ll
Labels: backend:X86

#161319 [AMDGPU][Attributor] Stop inferring amdgpu-no-flat-scratch-init in sanitized functions.
  llvm/lib/Target/AMDGPU/AMDGPUAttributor.cpp
  llvm/test/CodeGen/AMDGPU/amdgpu-attributor-flat-scratch-init-asan.ll
  llvm/test/CodeGen/AMDGPU/annotate-kernel-features-hsa-call.ll
Labels: backend:AMDGPU

#161781 [RISCV] Replace uses of RISCV::NoRegister with Register() or isValid. NFC
  llvm/lib/Target/RISCV/RISCVFrameLowering.cpp
  llvm/lib/Target/RISCV/RISCVInsertVSETVLI.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfo.cpp
  llvm/lib/Target/RISCV/RISCVMakeCompressible.cpp
  llvm/lib/Target/RISCV/RISCVVectorPeephole.cpp
Labels: backend:RISC-V

#161869 [Hexagon] isel-fold-shl-zext.ll - regenerate test checks
  llvm/test/CodeGen/Hexagon/isel-fold-shl-zext.ll
Labels: backend:Hexagon

#161757 [CIR] Add support for emitting predefined expressions
  clang/lib/CIR/CodeGen/CIRGenExpr.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.h
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
  clang/test/CIR/CodeGen/predefined-expr.c
Labels: clang, ClangIR

#161593 [Documentation][DirectX] Updating RTS0 structs to match d3d12 docs
  llvm/docs/DirectX/DXContainer.rst
Labels: backend:DirectX

#161607 [flang] Fix bogus generic interface error due to hermetic module files
  flang/include/flang/Semantics/tools.h
  flang/lib/Semantics/check-declarations.cpp
  flang/lib/Semantics/resolve-names.cpp
  flang/lib/Semantics/tools.cpp
  flang/test/Semantics/modfile80.F90
Labels: flang, flang:semantics

#161878 Fixing memory leaks in tests
  llvm/unittests/Analysis/FunctionPropertiesAnalysisTest.cpp
  llvm/unittests/Analysis/IR2VecTest.cpp
Labels: mlgo, llvm:analysis

#161881 [mlir][acc] Add firstprivate operands to `acc.loop`
  flang/lib/Lower/OpenACC.cpp
  mlir/include/mlir/Dialect/OpenACC/OpenACCOps.td
  mlir/lib/Dialect/OpenACC/IR/OpenACC.cpp
  mlir/test/Dialect/OpenACC/ops.mlir
Labels: mlir, flang, mlir:openacc, flang:fir-hlfir, openacc

#161616 [CIR] Initial support for emitting coroutine body
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/include/clang/CIR/MissingFeatures.h
  clang/lib/CIR/CodeGen/CIRGenBuiltin.cpp
  clang/lib/CIR/CodeGen/CIRGenCoroutine.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.h
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
  clang/lib/CIR/CodeGen/CIRGenStmt.cpp
  clang/lib/CIR/CodeGen/CMakeLists.txt
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/test/CIR/CodeGen/coro-task.cpp
  clang/test/CIR/IR/func.cir
Labels: clang, ClangIR

#161527 [AArch64][GlobalISel] Use TargetConstant for shift immediates
  llvm/include/llvm/IR/IntrinsicsAArch64.td
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/AArch64/AArch64InstrFormats.td
  llvm/lib/Target/AArch64/GISel/AArch64PostLegalizerLowering.cpp
  llvm/lib/Target/AArch64/SMEInstrFormats.td
  llvm/lib/Target/AArch64/SVEInstrFormats.td
  llvm/test/CodeGen/AArch64/GlobalISel/combine-udiv.ll
  llvm/test/CodeGen/AArch64/GlobalISel/postlegalizer-lowering-sextinreg.mir
  llvm/test/CodeGen/AArch64/GlobalISel/postlegalizer-lowering-vashr-vlshr.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-neon-vcvtfxu2fp.mir
  llvm/test/CodeGen/AArch64/GlobalISel/select-vector-shift.mir
  llvm/test/CodeGen/AArch64/aarch64-matrix-umull-smull.ll
  llvm/test/CodeGen/AArch64/arm64-neon-3vdiff.ll
  llvm/test/CodeGen/AArch64/arm64-subvector-extend.ll
  llvm/test/CodeGen/AArch64/arm64-vabs.ll
  llvm/test/CodeGen/AArch64/arm64-vadd.ll
  llvm/test/CodeGen/AArch64/combine-sdiv.ll
  llvm/test/CodeGen/AArch64/extract-vector-elt.ll
  llvm/test/CodeGen/AArch64/fcmp.ll
  llvm/test/CodeGen/AArch64/neon-bitwise-instructions.ll
  llvm/test/CodeGen/AArch64/neon-compare-instructions.ll
  llvm/test/CodeGen/AArch64/neon-shift-left-long.ll
  llvm/test/CodeGen/AArch64/select_cc.ll
  llvm/test/CodeGen/AArch64/selectcc-to-shiftand.ll
Labels: backend:AArch64, llvm:globalisel, llvm:ir

#161865 [NewGVN] Remove returned arg simplification
  llvm/lib/Transforms/Scalar/NewGVN.cpp
  llvm/test/Transforms/NewGVN/pr159918.ll
Labels: llvm:transforms

#161882 [RISCV] Reverse the operands in ins for Zalasr store instructions. NFC
  llvm/lib/Target/RISCV/RISCVInstrInfoZalasr.td
Labels: backend:RISC-V

#160739 [clang-format] Keep the ObjC selector name and `@selector` together
  clang/lib/Format/Format.cpp
  clang/lib/Format/FormatToken.h
  clang/lib/Format/TokenAnnotator.cpp
  clang/unittests/Format/FormatTestObjC.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#158130 [OpenMP][Clang][NFC] Initializer all of ScanInfo member variables and add deleted copy ctor and assignment operator
  llvm/include/llvm/Frontend/OpenMP/OMPIRBuilder.h
Labels: flang:openmp, clang:openmp
