Repository llvm/llvm-project, pull requests merged in 2025-06, with the labels that each got.

#142295 [Basic] Remove unused includes (NFC)
  clang/lib/Basic/Attributes.cpp
  clang/lib/Basic/CodeGenOptions.cpp
  clang/lib/Basic/Cuda.cpp
  clang/lib/Basic/Diagnostic.cpp
  clang/lib/Basic/DiagnosticIDs.cpp
  clang/lib/Basic/ExpressionTraits.cpp
  clang/lib/Basic/FileEntry.cpp
  clang/lib/Basic/FileManager.cpp
  clang/lib/Basic/FileSystemStatCache.cpp
  clang/lib/Basic/IdentifierTable.cpp
  clang/lib/Basic/Module.cpp
  clang/lib/Basic/ProfileList.cpp
  clang/lib/Basic/Sanitizers.cpp
  clang/lib/Basic/Sarif.cpp
  clang/lib/Basic/SourceLocation.cpp
  clang/lib/Basic/SourceManager.cpp
  clang/lib/Basic/TargetID.cpp
  clang/lib/Basic/Targets/AArch64.cpp
  clang/lib/Basic/Targets/AMDGPU.cpp
  clang/lib/Basic/Targets/ARC.cpp
  clang/lib/Basic/Targets/ARM.cpp
  clang/lib/Basic/Targets/BPF.cpp
  clang/lib/Basic/Targets/Hexagon.cpp
  clang/lib/Basic/Targets/LoongArch.cpp
  clang/lib/Basic/Targets/M68k.cpp
  clang/lib/Basic/Targets/Mips.cpp
  clang/lib/Basic/Targets/NVPTX.cpp
  clang/lib/Basic/Targets/SPIR.cpp
  clang/lib/Basic/Targets/X86.cpp
  clang/lib/Basic/Targets/Xtensa.cpp
  clang/lib/Basic/TypeTraits.cpp
Labels: clang, backend:ARM, backend:AArch64, backend:AMDGPU, backend:Hexagon, clang:frontend, clang:modules, backend:m68k, backend:ARC, backend:loongarch, backend:Xtensa

#142296 [Format] Remove unused includes (NFC)
  clang/lib/Format/DefinitionBlockSeparator.cpp
  clang/lib/Format/FormatToken.cpp
  clang/lib/Format/MacroExpander.cpp
  clang/lib/Format/ObjCPropertyAttributeOrderFixer.cpp
  clang/lib/Format/QualifierAlignmentFixer.cpp
  clang/lib/Format/SortJavaScriptImports.cpp
  clang/lib/Format/TokenAnalyzer.cpp
  clang/lib/Format/TokenAnnotator.cpp
  clang/lib/Format/UnwrappedLineParser.cpp
Labels: clang-format

#142179 [NFC][lldb-dap] Avoid unnecessary copy in setBreakpoint
  lldb/tools/lldb-dap/Handler/SetBreakpointsRequestHandler.cpp
Labels: lldb, lldb-dap

#141548 [clang][RISCV] Handle target features correctly in CheckBuiltinFunctionCall
  clang/lib/Sema/SemaRISCV.cpp
  clang/test/Sema/zvk-target-attributes.c
Labels: clang, backend:RISC-V, clang:frontend

#142300 [Serialization] Remove unused includes (NFC)
  clang/lib/Serialization/ASTCommon.cpp
  clang/lib/Serialization/ASTReader.cpp
  clang/lib/Serialization/ASTReaderDecl.cpp
  clang/lib/Serialization/ASTReaderStmt.cpp
  clang/lib/Serialization/ASTWriter.cpp
  clang/lib/Serialization/ASTWriterStmt.cpp
  clang/lib/Serialization/ModuleManager.cpp
Labels: clang, clang:modules

#141517 [ADT] Simplify countr_zero and countl_zero with constexpr if (NFC)
  llvm/include/llvm/ADT/bit.h
Labels: llvm:adt

#141331 [mlir][lsp] Enable registering dialects based on URI.
  mlir/include/mlir/Tools/mlir-lsp-server/MlirLspRegistryFunction.h
  mlir/include/mlir/Tools/mlir-lsp-server/MlirLspServerMain.h
  mlir/lib/Tools/mlir-lsp-server/MLIRServer.cpp
  mlir/lib/Tools/mlir-lsp-server/MLIRServer.h
  mlir/lib/Tools/mlir-lsp-server/MlirLspServerMain.cpp
  mlir/test/mlir-lsp-server/uri-based-registration.test
  mlir/tools/mlir-lsp-server/mlir-lsp-server.cpp
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
Labels: mlir:core, mlir, bazel

#142331 [X86][FP16] Customize MLOAD/MSTORE(vXf16) if VLX is not enabled
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/avx512fp16-mov.ll
Labels: backend:X86

#142155 [CodeGen] Move CodeGenPGO behind unique_ptr (NFC)
  clang/lib/CodeGen/CGBlocks.cpp
  clang/lib/CodeGen/CGCall.cpp
  clang/lib/CodeGen/CGDecl.cpp
  clang/lib/CodeGen/CGExpr.cpp
  clang/lib/CodeGen/CGObjC.cpp
  clang/lib/CodeGen/CGStmt.cpp
  clang/lib/CodeGen/CGStmtOpenMP.cpp
  clang/lib/CodeGen/CodeGenFunction.cpp
  clang/lib/CodeGen/CodeGenFunction.h
  clang/lib/CodeGen/CodeGenPGO.cpp
  clang/lib/CodeGen/CoverageMappingGen.cpp
  clang/lib/CodeGen/Targets/AMDGPU.cpp
  clang/lib/CodeGen/Targets/MSP430.cpp
  clang/lib/CodeGen/Targets/NVPTX.cpp
Labels: clang, backend:AMDGPU, backend:MSP430, clang:codegen

#134878 [Coroutines] Create C++ noop coroutine with default function attributes
  llvm/lib/Transforms/Coroutines/CoroEarly.cpp
  llvm/test/Transforms/Coroutines/coro-noop-pacbti.ll
Labels: coroutines, llvm:transforms

#122423 [Clang] Reapply CWG2369 "Ordering between constraints and substitution"
  clang/include/clang/Sema/Sema.h
  clang/include/clang/Sema/Template.h
  clang/lib/Sema/SemaConcept.cpp
  clang/lib/Sema/SemaOverload.cpp
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/lib/Sema/SemaTemplateDeductionGuide.cpp
  clang/lib/Sema/SemaTemplateInstantiate.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/lib/Sema/TreeTransform.h
  clang/test/CXX/drs/cwg23xx.cpp
  clang/test/CXX/drs/cwg26xx.cpp
  clang/test/CXX/drs/cwg27xx.cpp
  clang/test/CXX/expr/expr.prim/expr.prim.req/nested-requirement.cpp
  clang/test/CXX/temp/temp.constr/temp.constr.atomic/constrant-satisfaction-conversions.cpp
  clang/test/CodeGenCXX/ms-mangle-requires.cpp
  clang/test/SemaCXX/concept-crash-on-diagnostic.cpp
  clang/test/SemaCXX/cxx20-ctad-type-alias.cpp
  clang/test/SemaCXX/cxx23-assume.cpp
  clang/test/SemaCXX/cxx2c-fold-exprs.cpp
  clang/test/SemaCXX/lambda-unevaluated.cpp
  clang/test/SemaCXX/overload-resolution-deferred-templates.cpp
  clang/test/SemaTemplate/concepts-recursive-inst.cpp
  clang/test/SemaTemplate/concepts.cpp
  clang/test/SemaTemplate/cxx2a-constraint-exprs.cpp
  clang/test/SemaTemplate/deduction-guide.cpp
  clang/test/SemaTemplate/nested-implicit-deduction-guides.cpp
  clang/www/cxx_dr_status.html
Labels: clang, clang:frontend

#141912 libclc: clspv: do not set generic_addrspace_val
  libclc/CMakeLists.txt
Labels: libclc

#139906 [ValueTracking][NFC] Simplify binops in canCreateUndefOrPoison switch
  llvm/lib/Analysis/ValueTracking.cpp
Labels: llvm:analysis

#142211 [AArch64] Fix `APAS` instructions to disassemble to self not to `SYS` alias
  llvm/lib/Target/AArch64/AArch64InstrFormats.td
  llvm/test/MC/Disassembler/AArch64/armv9.6a-rme-gpc3.txt
Labels: backend:AArch64, mc

#142190 [AArch64][SME] Fix accessing the emergency spill slot with hazard padding
  llvm/lib/Target/AArch64/AArch64RegisterInfo.cpp
  llvm/test/CodeGen/AArch64/framelayout-scavengingslot-stack-hazard.mir
  llvm/test/CodeGen/AArch64/stack-hazard.ll
Labels: backend:AArch64

#142192 [lldb] Disable TestConsecutiveBreakpoints.py for Windows x86_64
  lldb/test/API/functionalities/breakpoint/consecutive_breakpoints/TestConsecutiveBreakpoints.py
Labels: lldb, test-suite, platform:windows

#142266 [ValueTracking] Do not use FMF from fcmp
  llvm/include/llvm/Analysis/ValueTracking.h
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/test/CodeGen/AArch64/arm64-fmax-safe.ll
  llvm/test/CodeGen/AMDGPU/select-flags-to-fmin-fmax.ll
  llvm/test/CodeGen/ARM/fp16-vminmaxnm-safe.ll
  llvm/test/CodeGen/ARM/fp16-vminmaxnm-vector.ll
  llvm/test/CodeGen/ARM/fp16-vminmaxnm.ll
  llvm/test/CodeGen/ARM/vminmaxnm-safe.ll
  llvm/test/CodeGen/ARM/vminmaxnm.ll
  llvm/test/CodeGen/PowerPC/vec-min-max.ll
  llvm/test/Transforms/InstCombine/unordered-fcmp-select.ll
  llvm/test/Transforms/PhaseOrdering/AArch64/predicated-reduction.ll
  llvm/unittests/Analysis/ValueTrackingTest.cpp
Labels: backend:ARM, backend:AArch64, backend:AMDGPU, backend:PowerPC, llvm:instcombine, llvm:analysis, llvm:transforms

#139429 [Clang] Separate implicit int conversion on negation sign to new diagnostic group
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticGroups.td
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaChecking.cpp
  clang/test/Sema/implicit-int-conversion-on-int.c
Labels: clang, clang:frontend

#141283 [X86][NFC] Added/Updated SINCOS function testcases
  llvm/test/CodeGen/X86/llvm.sincos.ll
  llvm/test/CodeGen/X86/llvm.sincos.vec.ll
Labels: backend:X86

#142271 [VPlan] Simplify PredPHI LiveIn -> LiveIn
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/test/Transforms/LoopVectorize/X86/pr141968-instsimplifyfolder.ll
Labels: vectorizers, llvm:transforms

#137377 [X86][GlobalISel] - Legalize And Select of G_FPTOSI/G_SITOFP in X87 mode
  llvm/include/llvm/CodeGen/GlobalISel/LegalizerInfo.h
  llvm/lib/Target/X86/GISel/X86InstructionSelector.cpp
  llvm/lib/Target/X86/GISel/X86LegalizerInfo.cpp
  llvm/lib/Target/X86/GISel/X86LegalizerInfo.h
  llvm/lib/Target/X86/GISel/X86RegisterBankInfo.cpp
  llvm/lib/Target/X86/X86InstrFragments.td
  llvm/lib/Target/X86/X86InstrGISel.td
  llvm/lib/Target/X86/X86InstrInfo.td
  llvm/test/CodeGen/X86/GlobalISel/isel-fp64-to-sint-x86.mir
  llvm/test/CodeGen/X86/GlobalISel/isel-sint-to-fp64-x86.mir
  llvm/test/CodeGen/X86/isel-fp-to-sint-x87.ll
  llvm/test/CodeGen/X86/isel-sint-to-fp-x87.ll
Labels: backend:X86, llvm:globalisel

#127467 [clang-repl] Fix error recovery while PTU cleanup
  clang/lib/Interpreter/IncrementalParser.cpp
  clang/test/Interpreter/lambda.cpp
Labels: clang, clang:frontend

#142316 [Matrix] Use FixedVectorType everywhere in LowerMatrixIntrinsics. NFC
  llvm/lib/Transforms/Scalar/LowerMatrixIntrinsics.cpp
Labels: llvm:transforms

#142358 [mlir][memref] Update tests to use memref.assume_alignment properly.
  mlir/test/Conversion/MemRefToLLVM/memref-to-llvm.mlir
  mlir/test/Dialect/MemRef/emulate-narrow-type.mlir
  mlir/test/Dialect/MemRef/ops.mlir
  mlir/test/Integration/GPU/CUDA/sm90/gemm_f32_f16_f16_128x128x128.mlir
  mlir/test/Integration/GPU/CUDA/sm90/gemm_pred_f32_f16_f16_128x128x128.mlir
Labels: mlir:gpu, mlir, mlir:memref

#141841 [ASTWriter] Do not write ObjCCategories if empty.
  clang/lib/Serialization/ASTReaderDecl.cpp
  clang/lib/Serialization/ASTWriter.cpp
  clang/test/Modules/objc-categories.cpp
Labels: clang, clang:modules

#141864 [llvm] annotate interfaces in FileCheck, FrontEnd, and FuzzMutate libraries for DLL export
  llvm/include/llvm/FileCheck/FileCheck.h
  llvm/include/llvm/Frontend/Atomic/Atomic.h
  llvm/include/llvm/Frontend/Driver/CodeGenOptions.h
  llvm/include/llvm/Frontend/HLSL/HLSLRootSignature.h
  llvm/include/llvm/Frontend/Offloading/OffloadWrapper.h
  llvm/include/llvm/Frontend/Offloading/Utility.h
  llvm/include/llvm/Frontend/OpenMP/OMP.h
  llvm/include/llvm/Frontend/OpenMP/OMPContext.h
  llvm/include/llvm/Frontend/OpenMP/OMPIRBuilder.h
  llvm/include/llvm/FuzzMutate/FuzzerCLI.h
  llvm/include/llvm/FuzzMutate/IRMutator.h
  llvm/include/llvm/FuzzMutate/OpDescriptor.h
  llvm/include/llvm/FuzzMutate/Operations.h
  llvm/include/llvm/FuzzMutate/RandomIRBuilder.h
Labels: HLSL, flang:openmp, testing-tools, clang:openmp

#135673 [LV] Move VPlan-based calculateRegisterUsage to VPlanAnalysis (NFC).
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlanAnalysis.cpp
  llvm/lib/Transforms/Vectorize/VPlanAnalysis.h
  llvm/test/Transforms/LoopVectorize/AArch64/i1-reg-usage.ll
  llvm/test/Transforms/LoopVectorize/AArch64/reg-usage.ll
  llvm/test/Transforms/LoopVectorize/LoongArch/reg-usage.ll
  llvm/test/Transforms/LoopVectorize/PowerPC/reg-usage.ll
  llvm/test/Transforms/LoopVectorize/RISCV/reg-usage-bf16.ll
  llvm/test/Transforms/LoopVectorize/RISCV/reg-usage-f16.ll
  llvm/test/Transforms/LoopVectorize/RISCV/reg-usage.ll
  llvm/test/Transforms/LoopVectorize/RISCV/riscv-vector-reverse.ll
  llvm/test/Transforms/LoopVectorize/X86/i1-reg-usage.ll
  llvm/test/Transforms/LoopVectorize/X86/reg-usage-debug.ll
  llvm/test/Transforms/LoopVectorize/X86/reg-usage.ll
Labels: backend:RISC-V, backend:PowerPC, vectorizers, llvm:transforms

#141794 [llvm] annotate interfaces in AsmParser, BinaryFormat, Bitcode, and Bitstream libraries for DLL export
  llvm/include/llvm/AsmParser/Parser.h
  llvm/include/llvm/BinaryFormat/AMDGPUMetadataVerifier.h
  llvm/include/llvm/BinaryFormat/COFF.h
  llvm/include/llvm/BinaryFormat/DXContainer.h
  llvm/include/llvm/BinaryFormat/Dwarf.h
  llvm/include/llvm/BinaryFormat/ELF.h
  llvm/include/llvm/BinaryFormat/MachO.h
  llvm/include/llvm/BinaryFormat/Magic.h
  llvm/include/llvm/BinaryFormat/MsgPackDocument.h
  llvm/include/llvm/BinaryFormat/MsgPackReader.h
  llvm/include/llvm/BinaryFormat/MsgPackWriter.h
  llvm/include/llvm/BinaryFormat/Wasm.h
  llvm/include/llvm/BinaryFormat/XCOFF.h
  llvm/include/llvm/Bitcode/BitcodeAnalyzer.h
  llvm/include/llvm/Bitcode/BitcodeReader.h
  llvm/include/llvm/Bitcode/BitcodeWriter.h
  llvm/include/llvm/Bitcode/BitcodeWriterPass.h
  llvm/include/llvm/Bitstream/BitstreamReader.h
  llvm/lib/AsmParser/LLParser.cpp
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/lib/Bitcode/Writer/BitcodeWriter.cpp
Labels: backend:AMDGPU, backend:PowerPC, backend:WebAssembly, debuginfo, backend:DirectX, llvm:binary-utilities

#141328 [libc++](NFC) Remove unused include caused by wrong __has_include
  libcxx/src/locale.cpp
Labels: libc++

#142416 [Matrix] Assert that there's shapeinfo in Visit* (NFC).
  llvm/lib/Transforms/Scalar/LowerMatrixIntrinsics.cpp
Labels: llvm:transforms

#142226 [HWASan][bugfix] Fix kernel check in ShadowMapping::init
  llvm/lib/Transforms/Instrumentation/HWAddressSanitizer.cpp
Labels: compiler-rt:sanitizer, llvm:transforms

#142437 [bazel] Add missing deps for #141864
  utils/bazel/llvm-project-overlay/llvm/BUILD.bazel
Labels: bazel

#142231 [lldb][NFC] Remove unused macro ENABLE_MEMORY_CACHING
  lldb/source/Target/Process.cpp
Labels: lldb

#142344 [RISCV] Use t3 for static chain register when branch CFI is enabled
  llvm/lib/Target/RISCV/RISCVCallingConv.cpp
  llvm/test/CodeGen/RISCV/nest-register.ll
Labels: backend:RISC-V

#130000 [mlir][linalg] Fix EraseIdentityLinalgOp on fill-like ops
  mlir/lib/Dialect/Linalg/IR/LinalgOps.cpp
  mlir/test/Dialect/Linalg/canonicalize.mlir
Labels: mlir:linalg, mlir

#140678 [BOLT] Fix references in ignored functions in CFG state
  bolt/include/bolt/Core/BinaryFunction.h
  bolt/lib/Core/BinaryContext.cpp
  bolt/lib/Core/BinaryFunction.cpp
  bolt/lib/Rewrite/RewriteInstance.cpp
  bolt/test/AArch64/patch-ignored.s
  bolt/test/X86/patch-ignored.s
Labels: BOLT

#142441 Reland "[HLSL][RootSignature] Add parsing of filter enum for StaticSampler"
  clang/include/clang/Lex/HLSLRootSignatureTokenKinds.def
  clang/include/clang/Parse/ParseHLSLRootSignature.h
  clang/lib/Parse/ParseHLSLRootSignature.cpp
  clang/unittests/Lex/LexHLSLRootSignatureTest.cpp
  clang/unittests/Parse/ParseHLSLRootSignatureTest.cpp
  llvm/include/llvm/Frontend/HLSL/HLSLRootSignature.h
Labels: clang, clang:frontend, HLSL

#142214 [CIR] Fix dso_local and comdat handling for global vars
  clang/include/clang/CIR/MissingFeatures.h
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.h
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.h
  clang/test/CIR/CodeGen/dso-local.c
  clang/test/CIR/CodeGen/namespace.cpp
  clang/test/CIR/CodeGen/string-literals.c
  clang/test/CIR/global-var-linkage.cpp
Labels: clang, ClangIR

#142472 [Sanitizer][Ignorelist] Expanding =sanitize to mainfile.
  clang/lib/Basic/NoSanitizeList.cpp
  clang/test/CodeGen/sanitize-ignorelist-mainfile.c
Labels: clang, clang:frontend

#142067 [libc] Implemented wmempcpy
  libc/config/linux/x86_64/entrypoints.txt
  libc/include/wchar.yaml
  libc/src/wchar/CMakeLists.txt
  libc/src/wchar/wmempcpy.cpp
  libc/src/wchar/wmempcpy.h
  libc/test/src/wchar/CMakeLists.txt
  libc/test/src/wchar/wmempcpy_test.cpp
Labels: libc

#82299 [llvm-pdbutil] Fix register enum field dumping/parsing
  llvm/test/tools/llvm-pdbutil/Inputs/register-records.yaml
  llvm/test/tools/llvm-pdbutil/register-records.test
  llvm/tools/llvm-pdbutil/PdbYaml.cpp
  llvm/tools/llvm-pdbutil/PdbYaml.h
  llvm/tools/llvm-pdbutil/YAMLOutputStyle.cpp
Labels: debuginfo

#142423 [libc] Implemented wcscmp
  libc/config/linux/x86_64/entrypoints.txt
  libc/include/wchar.yaml
  libc/src/wchar/CMakeLists.txt
  libc/src/wchar/wcscmp.cpp
  libc/src/wchar/wcscmp.h
  libc/test/src/wchar/CMakeLists.txt
  libc/test/src/wchar/wcscmp_test.cpp
Labels: libc

#142473 [CIR][NFS] Remove unnecessary constraints asserts in VecCmpOp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
Labels: clang, ClangIR

#139326 [NFC] Extract DWARFCFIProgram into separate files
  llvm/include/llvm/DebugInfo/DWARF/DWARFCFIProgram.h
  llvm/include/llvm/DebugInfo/DWARF/DWARFDebugFrame.h
  llvm/lib/DebugInfo/DWARF/CMakeLists.txt
  llvm/lib/DebugInfo/DWARF/DWARFCFIProgram.cpp
  llvm/lib/DebugInfo/DWARF/DWARFDebugFrame.cpp
Labels: debuginfo

#142161 [clang] Rename diag notes that assumed precompiled dependencies are pch's, NFCI
  clang/include/clang/Basic/DiagnosticSerializationKinds.td
  clang/lib/Serialization/ASTReader.cpp
  clang/test/Modules/module-file-modified.c
  clang/test/Modules/validate-file-content.m
  clang/test/PCH/modified-module-dependency.m
  clang/test/PCH/validate-file-content.m
Labels: clang, clang:frontend, clang:modules

#142429 [libc] Implemented wcsncmp
  libc/config/linux/x86_64/entrypoints.txt
  libc/include/wchar.yaml
  libc/src/wchar/CMakeLists.txt
  libc/src/wchar/wcsncmp.cpp
  libc/src/wchar/wcsncmp.h
  libc/test/src/wchar/CMakeLists.txt
  libc/test/src/wchar/wcsncmp_test.cpp
Labels: libc

#142484 [CIR] Support inline C++ member function definitions
  clang/include/clang/CIR/CIRGenerator.h
  clang/include/clang/CIR/MissingFeatures.h
  clang/lib/CIR/CodeGen/CIRGenCXXABI.cpp
  clang/lib/CIR/CodeGen/CIRGenCXXABI.h
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.h
  clang/lib/CIR/CodeGen/CIRGenItaniumCXXABI.cpp
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/CodeGen/CIRGenerator.cpp
  clang/lib/CIR/CodeGen/CMakeLists.txt
  clang/lib/CIR/FrontendAction/CIRGenAction.cpp
  clang/test/CIR/CodeGen/inline-cxx-func.cpp
  clang/test/CIR/CodeGen/member-functions.cpp
Labels: clang, ClangIR

#141552 [llvm-readobj] Support --string-table for COFF
  llvm/include/llvm/Object/COFF.h
  llvm/test/tools/llvm-readobj/COFF/string-table.test
  llvm/tools/llvm-readobj/COFFDumper.cpp
  llvm/tools/llvm-readobj/ObjDumper.h
  llvm/tools/llvm-readobj/Opts.td
Labels: llvm:binary-utilities

#138609 [AArch64] Initial compiler support for SVE unwind on Windows.
  llvm/lib/Target/AArch64/AArch64AsmPrinter.cpp
  llvm/lib/Target/AArch64/AArch64CallingConvention.td
  llvm/lib/Target/AArch64/AArch64FrameLowering.cpp
  llvm/lib/Target/AArch64/AArch64InstrInfo.cpp
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/lib/Target/AArch64/AArch64RegisterInfo.cpp
  llvm/test/CodeGen/AArch64/framelayout-sve-win.mir
  llvm/test/CodeGen/AArch64/sve-stack-frame-layout-win.ll
  llvm/test/CodeGen/AArch64/win-sve.ll
Labels: backend:AArch64

#141916 [libc++] Use `__reference_constructs_from_temporary` if eligible
  libcxx/include/__type_traits/reference_constructs_from_temporary.h
  libcxx/include/tuple
  libcxx/test/libcxx/utilities/tuple/tuple.tuple/tuple.cnstr/PR20855_tuple_ref_binding_diagnostics.verify.cpp
  libcxx/test/std/utilities/tuple/tuple.tuple/tuple.cnstr/PR20855_tuple_ref_binding_diagnostics.pass.cpp
Labels: libc++

#138237 [llvm] Use *Set::insert_range (NFC)
  llvm/lib/CodeGen/LexicalScopes.cpp
  llvm/lib/Target/RISCV/RISCVVLOptimizer.cpp
  llvm/lib/Transforms/IPO/AttributorAttributes.cpp
  llvm/lib/Transforms/Utils/SimplifyCFG.cpp
  llvm/tools/llvm-reduce/deltas/ReduceOperandsSkip.cpp
Labels: backend:RISC-V, llvm:transforms

#141909 [Clang] Properly deprecate `__reference_binds_to_temporary`
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaTypeTraits.cpp
  clang/test/SemaCXX/deprecated-builtins.cpp
Labels: clang, clang:frontend

#141935 [MISched] Add templates for creating custom schedulers
  llvm/include/llvm/CodeGen/MachineScheduler.h
  llvm/lib/CodeGen/MachineScheduler.cpp
  llvm/lib/Target/AArch64/AArch64TargetMachine.cpp
  llvm/lib/Target/AMDGPU/AMDGPUTargetMachine.cpp
  llvm/lib/Target/ARM/ARMTargetMachine.cpp
  llvm/lib/Target/PowerPC/PPCTargetMachine.cpp
  llvm/lib/Target/RISCV/RISCVTargetMachine.cpp
  llvm/lib/Target/SystemZ/SystemZTargetMachine.cpp
  llvm/lib/Target/X86/X86TargetMachine.cpp
Labels: backend:ARM, backend:AArch64, backend:AMDGPU, backend:RISC-V, backend:PowerPC, backend:SystemZ, backend:X86, llvm:codegen

#142425 [mlir][memref] Add a folder for chained AssumeAlignmentOp ops.
  mlir/include/mlir/Dialect/MemRef/IR/MemRefOps.td
  mlir/lib/Dialect/MemRef/IR/MemRefOps.cpp
  mlir/test/Dialect/MemRef/canonicalize.mlir
Labels: mlir, mlir:memref

#95398 [compiler-rt][RISC-V] ILP32E/LP64E Save/Restore Grouping
  compiler-rt/lib/builtins/riscv/restore.S
  compiler-rt/lib/builtins/riscv/save.S
Labels: compiler-rt, compiler-rt:builtins

#142527 [NFC][CodeGen] Extract SanitizerHandler into own header
  clang/lib/CodeGen/CodeGenFunction.h
  clang/lib/CodeGen/SanitizerHandler.h
Labels: clang, clang:codegen

#142525 [Index] Remove unused includes (NFC)
  clang/lib/Index/CommentToXML.cpp
  clang/lib/Index/FileIndexRecord.cpp
  clang/lib/Index/IndexingAction.cpp
  clang/lib/Index/USRGeneration.cpp
Labels: clang

#142167 [AArch64] Fix invalid address-mode folding
  llvm/lib/Target/AArch64/AArch64InstrInfo.cpp
  llvm/test/CodeGen/AArch64/fuse-addr-mode.mir
Labels: backend:AArch64

#141562 [ARM,AArch64] Don't put BTI at asm goto branch targets
  clang/docs/LanguageExtensions.rst
  clang/docs/ReleaseNotes.rst
  llvm/docs/LangRef.rst
  llvm/docs/ReleaseNotes.md
  llvm/include/llvm/CodeGen/MachineBasicBlock.h
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/lib/CodeGen/BasicBlockPathCloning.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/Target/AArch64/AArch64BranchTargets.cpp
  llvm/lib/Target/ARM/ARMBranchTargets.cpp
  llvm/test/CodeGen/AArch64/callbr-asm-label-bti.ll
  llvm/test/CodeGen/AArch64/callbr-asm-label.ll
  llvm/test/CodeGen/AArch64/callbr-asm-outputs-indirect-isel.ll
  llvm/test/CodeGen/PowerPC/callbr-asm-outputs-indirect-isel.ll
  llvm/test/CodeGen/PowerPC/ppc64-inlineasm-clobber.ll
  llvm/test/CodeGen/RISCV/inline-asm-mem-constraint.ll
  llvm/test/CodeGen/X86/basic-block-sections-cloning-invalid.ll
  llvm/test/CodeGen/X86/callbr-asm-blockplacement.ll
  llvm/test/CodeGen/X86/callbr-asm-branch-folding.ll
  llvm/test/CodeGen/X86/callbr-asm-destinations.ll
  llvm/test/CodeGen/X86/callbr-asm-label-addr.ll
  llvm/test/CodeGen/X86/callbr-asm-outputs-indirect-isel-m32.ll
  llvm/test/CodeGen/X86/callbr-asm-outputs-indirect-isel.ll
  llvm/test/CodeGen/X86/callbr-asm-outputs-pred-succ.ll
  llvm/test/CodeGen/X86/callbr-asm-outputs.ll
  llvm/test/CodeGen/X86/callbr-asm-phi-placement.ll
  llvm/test/CodeGen/X86/callbr-asm-sink.ll
  llvm/test/CodeGen/X86/callbr-asm.ll
  llvm/test/CodeGen/X86/shrinkwrap-callbr.ll
  llvm/test/CodeGen/X86/tail-dup-asm-goto.ll
Labels: clang, backend:ARM, backend:AArch64, backend:PowerPC, backend:X86, llvm:SelectionDAG, llvm:ir

#134653 [KeyInstr][Clang] Coerced store atoms
  clang/lib/CodeGen/CGCall.cpp
  clang/test/DebugInfo/KeyInstructions/coerced-packed.c
  clang/test/DebugInfo/KeyInstructions/coerced-ptr.c
  clang/test/DebugInfo/KeyInstructions/coerced-through-memory.c
  clang/test/DebugInfo/KeyInstructions/coerced.c
Labels: clang, clang:codegen

#142381 [X86] Reuse X86ISD::SUBV_BROADCAST_LOAD for subvector loads across chains
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/any_extend_vector_inreg_of_broadcast_from_memory.ll
  llvm/test/CodeGen/X86/oddshuffles.ll
  llvm/test/CodeGen/X86/vector-interleave.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i32-stride-3.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i32-stride-5.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i32-stride-6.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i32-stride-7.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i64-stride-2.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i8-stride-6.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i8-stride-7.ll
  llvm/test/CodeGen/X86/x86-interleaved-access.ll
  llvm/test/CodeGen/X86/zero_extend_vector_inreg_of_broadcast_from_memory.ll
Labels: backend:X86

#142396 [clang][docs] Add docs for CCC_OVERRIDE_OPTIONS.
  clang/docs/UsersManual.rst
Labels: clang

#142268 [DenseMap] Fix MSVC buildbot failure in lookup_or
  llvm/include/llvm/ADT/DenseMap.h
Labels: llvm:adt

#142532 SelectionDAG: Use unique_ptr for SwiftErrorValueTracking
  llvm/include/llvm/CodeGen/SelectionDAGISel.h
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGISel.cpp
Labels: llvm:SelectionDAG

#142569 [bazel] Port ArmNeon after #140251
  utils/bazel/llvm-project-overlay/mlir/BUILD.bazel
  utils/bazel/llvm-project-overlay/mlir/test/BUILD.bazel
Labels: bazel

#142432 Revert "[Clang] Improve infrastructure for libstdc++ workarounds"
  clang/include/clang/Lex/Preprocessor.h
  clang/lib/Lex/PPExpressions.cpp
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/lib/Sema/SemaExceptionSpec.cpp
  clang/lib/Sema/SemaInit.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/test/SemaCXX/libstdcxx_common_type_hack.cpp
  clang/test/SemaCXX/libstdcxx_explicit_init_list_hack.cpp
  clang/test/SemaCXX/libstdcxx_pair_swap_hack.cpp
Labels: clang, clang:frontend

#142562 [X86][NFC] - Remove fild/fist c++ predicates from patfrag
  llvm/lib/Target/X86/X86InstrFragments.td
Labels: backend:X86

#142551 [CoroSplit] Always erase lifetime intrinsics for spilled allocas
  llvm/lib/Transforms/Coroutines/CoroFrame.cpp
Labels: coroutines, llvm:transforms

#141999 [VPlan] Convert to concrete recipes before dissolving loop regions. NFCI
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
Labels: vectorizers, llvm:transforms

#141513 [SelectionDAG][AArch64] Legalize power of 2 vector.[de]interleaveN
  llvm/lib/CodeGen/SelectionDAG/LegalizeDAG.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/sve-vector-deinterleave.ll
  llvm/test/CodeGen/AArch64/sve-vector-interleave.ll
Labels: backend:AArch64, llvm:SelectionDAG

#142528 [ConstantFold] Constant fold icmp of boolean scalable vectors
  llvm/lib/IR/ConstantFold.cpp
  llvm/test/Transforms/InstSimplify/compare.ll
Labels: llvm:instcombine, llvm:ir, llvm:transforms

#142132 [analyzer] Fix tagging of PostAllocatorCall
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/CheckerContext.h
  clang/lib/StaticAnalyzer/Core/CheckerManager.cpp
Labels: clang, clang:static analyzer

#142592 [Clang] Improve infrastructure for libstdc++ workarounds (Reland)
  clang/include/clang/Lex/Preprocessor.h
  clang/lib/Lex/PPExpressions.cpp
  clang/lib/Sema/SemaDeclCXX.cpp
  clang/lib/Sema/SemaExceptionSpec.cpp
  clang/lib/Sema/SemaInit.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/SemaTemplateInstantiateDecl.cpp
  clang/test/SemaCXX/libstdcxx_common_type_hack.cpp
  clang/test/SemaCXX/libstdcxx_explicit_init_list_hack.cpp
  clang/test/SemaCXX/libstdcxx_pair_swap_hack.cpp
Labels: clang, clang:frontend

#142589 [OpenMP][Offload] Fix typo in error message
  offload/test/sanitizer/ptr_outside_alloc_1.c
  offload/test/sanitizer/ptr_outside_alloc_2.c
  offload/test/sanitizer/use_after_free_1.c
  offload/test/sanitizer/use_after_free_2.c
Labels: offload

#134654 [NFC][KeyInstr][Clang] Add some additional tests
  clang/test/DebugInfo/KeyInstructions/cast.c
  clang/test/DebugInfo/KeyInstructions/new.cpp
Labels: clang

#138241 [IRMover] Don't consider opaque types isomorphic to other types
  llvm/lib/Linker/IRMover.cpp
  llvm/test/Linker/opaque.ll
  llvm/test/Linker/pr22807.ll
  llvm/test/Linker/type-unique-dst-types.ll
Labels: LTO

#142253 [DebugInfo] Fix issue with debug line table offsets for empty functions
  llvm/include/llvm/MC/MCDwarf.h
  llvm/lib/MC/MCDwarf.cpp
  llvm/test/DebugInfo/X86/DW_AT_LLVM_stmt_seq_sec_offset_empty_func.ll
Labels: debuginfo, mc

#142534 clang: Fix wrong C++ marker in tablegen file
  clang/include/clang/Basic/BuiltinsBase.td
Labels: clang, clang:frontend

#138131 github: Add lib/CodeGen to PR autolabeler
  .github/new-prs-labeler.yml
Labels: github-prs, github:workflow

#141601 [NFC][PowerPC] Add testcases for locking down the xxeval instruction support for ternary operators
  llvm/test/CodeGen/PowerPC/xxeval-vselect-x-and.ll
  llvm/test/CodeGen/PowerPC/xxeval-vselect-x-b.ll
  llvm/test/CodeGen/PowerPC/xxeval-vselect-x-c.ll
  llvm/test/CodeGen/PowerPC/xxeval-vselect-x-xor.ll
Labels: backend:PowerPC

#142630 Revert "[KeyInstr][Clang] For range stmt atoms"
  clang/lib/CodeGen/CGStmt.cpp
  clang/test/DebugInfo/KeyInstructions/for-range.cpp
Labels: clang, clang:codegen

#141982 [Offload] Don't check in generated files
  offload/CMakeLists.txt
  offload/include/Shared/OffloadErrcodes.inc
  offload/liboffload/API/CMakeLists.txt
  offload/liboffload/CMakeLists.txt
  offload/liboffload/include/generated/OffloadAPI.h
  offload/liboffload/include/generated/OffloadEntryPoints.inc
  offload/liboffload/include/generated/OffloadFuncs.inc
  offload/liboffload/include/generated/OffloadImplFuncDecls.inc
  offload/liboffload/include/generated/OffloadPrint.hpp
  offload/liboffload/src/Helpers.hpp
  offload/plugins-nextgen/CMakeLists.txt
  offload/plugins-nextgen/common/CMakeLists.txt
  offload/plugins-nextgen/common/include/OffloadError.h
  offload/plugins-nextgen/common/include/PluginInterface.h
  offload/plugins-nextgen/common/src/OffloadError.cpp
Labels: offload

#142016 [libc++] Remove invalid char_traits instantiations from a test
  libcxx/test/std/input.output/iostream.forward/iosfwd.pass.cpp
Labels: libc++

#142573 [lldb] Disable TestTargetWatchAddress.py on Windows x86_64
  lldb/test/API/python_api/watchpoint/watchlocation/TestTargetWatchAddress.py
Labels: lldb, test-suite, platform:windows

#142424 [lldb] Emit an error when using --wait-for without a name or pid
  lldb/test/Shell/Driver/TestWaitFor.test
  lldb/tools/driver/Driver.cpp
  lldb/tools/driver/Options.td
Labels: lldb

#142508 [lldb-dap] Correct the disconnect helper on server shutdown.
  lldb/test/API/tools/lldb-dap/server/TestDAP_server.py
  lldb/tools/lldb-dap/DAP.cpp
  lldb/tools/lldb-dap/Handler/DisconnectRequestHandler.cpp
Labels: lldb, lldb-dap

#142373 [clang-doc] [test] Generalize error message patterns
  clang-tools-extra/test/clang-doc/invalid-options.cpp
Labels: clang-tools-extra

#142498 [clang] Don't evaluate the initializer of constexpr-unknown parameters.
  clang/lib/AST/ExprConstant.cpp
  clang/test/SemaCXX/constant-expression-p2280r4.cpp
Labels: clang, clang:frontend

#142243 [libc] wcscat implementation
  libc/config/linux/x86_64/entrypoints.txt
  libc/include/wchar.yaml
  libc/src/wchar/CMakeLists.txt
  libc/src/wchar/wcscat.cpp
  libc/src/wchar/wcscat.h
  libc/test/src/wchar/CMakeLists.txt
  libc/test/src/wchar/wcscat_test.cpp
Labels: libc

#142491 [NFC][RootSignature] Move RootSignature util functions
  clang/lib/AST/TextNodeDumper.cpp
  clang/lib/CodeGen/CGHLSLRuntime.cpp
  llvm/include/llvm/Frontend/HLSL/HLSLRootSignature.h
  llvm/include/llvm/Frontend/HLSL/HLSLRootSignatureUtils.h
  llvm/lib/Frontend/HLSL/CMakeLists.txt
  llvm/lib/Frontend/HLSL/HLSLRootSignatureUtils.cpp
  llvm/unittests/Frontend/HLSLRootSignatureDumpTest.cpp
Labels: clang, clang:frontend, clang:codegen, HLSL

#141769 [LV] Re-org tests; introduce iv-select-cmp-decreasing.ll
  llvm/test/Transforms/LoopVectorize/if-reduction.ll
  llvm/test/Transforms/LoopVectorize/iv-select-cmp-decreasing.ll
  llvm/test/Transforms/LoopVectorize/iv-select-cmp.ll
Labels: llvm:transforms

#137217 [RISCV] Use ri.vunzip2{a,b} for e64 fixed length deinterleave(2) shuffles
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-shuffle-deinterleave2.ll
  llvm/test/CodeGen/RISCV/rvv/vector-deinterleave-fixed.ll
Labels: backend:RISC-V

#142464 [NFCI][PromoteMem2Reg] Don't handle the first successor out of order
  llvm/lib/Transforms/Utils/PromoteMemoryToRegister.cpp
  llvm/test/Transforms/InstCombine/2009-02-20-InstCombine-SROA.ll
  llvm/test/Transforms/SimplifyCFG/Hexagon/switch-to-lookup-table.ll
Labels: llvm:instcombine, llvm:transforms

#141646 [Clang][Sema] Add fortify warnings for stpcpy
  clang/lib/Sema/SemaChecking.cpp
  clang/test/Sema/warn-fortify-source.c
Labels: clang, clang:frontend

#142494 [Doc] Fix a typo in SanitizerSpecialCaseList.rst
  clang/docs/SanitizerSpecialCaseList.rst
Labels: clang

#142585 [clang][AST] Reduce some AST node size.
  clang/include/clang/AST/Expr.h
  clang/include/clang/AST/ExprCXX.h
  clang/include/clang/AST/Stmt.h
  clang/include/clang/AST/StmtCXX.h
  clang/lib/AST/Expr.cpp
  clang/lib/AST/ExprCXX.cpp
  clang/lib/Serialization/ASTReaderStmt.cpp
  clang/lib/Serialization/ASTWriterStmt.cpp
Labels: clang, clang:frontend, clang:modules

#142501 [AggressiveInstCombine] Improve popcount matching if the input has known zero bits
  llvm/lib/Transforms/AggressiveInstCombine/AggressiveInstCombine.cpp
  llvm/test/Transforms/AggressiveInstCombine/popcount.ll
Labels: llvm:transforms

#141116 [lldb][headers] Create script to fix up versioning
  lldb/scripts/framework-header-fix.sh
  lldb/scripts/version-header-fix.py
  lldb/source/API/CMakeLists.txt
  lldb/test/Shell/Scripts/Inputs/lldb-defines.h
  lldb/test/Shell/Scripts/TestVersionFixScript.test
Labels: lldb

#141654 AArch64: Skip analyzeCompare for subregister uses
  llvm/lib/Target/AArch64/AArch64InstrInfo.cpp
  llvm/test/CodeGen/AArch64/peephole-opt-analyzeCompare-subreg-use.mir
Labels: backend:AArch64

#142616 ARM: Remove unused CondCode field from libcall table
  llvm/lib/Target/ARM/ARMISelLowering.cpp
Labels: backend:ARM

#142507 [MemProf] Optionally save context size info on largest cold allocations
  llvm/include/llvm/Analysis/MemoryProfileInfo.h
  llvm/lib/Analysis/MemoryProfileInfo.cpp
  llvm/lib/Analysis/ModuleSummaryAnalysis.cpp
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/lib/Bitcode/Writer/BitcodeWriter.cpp
  llvm/lib/Transforms/IPO/MemProfContextDisambiguation.cpp
  llvm/lib/Transforms/Instrumentation/MemProfiler.cpp
  llvm/test/ThinLTO/X86/memprof-report-hinted-partial.ll
  llvm/test/Transforms/PGOProfile/memprof_max_cold_threshold.test
Labels: PGO, LTO, llvm:analysis, llvm:transforms

#142622 SystemZ: Move runtime libcall setting out of TargetLowering
  llvm/lib/IR/RuntimeLibcalls.cpp
  llvm/lib/IR/ZOSLibcallNames.def
  llvm/lib/Target/SystemZ/SystemZISelLowering.cpp
Labels: backend:SystemZ, llvm:ir

#142644 [Test] Consolidate crel test coverage into existing file and remove redundant test.
  llvm/test/tools/llvm-dwarfdump/X86/debug_info_addrx.s
  llvm/test/tools/llvm-dwarfdump/X86/debug_info_crel.yaml
Labels: debuginfo

#141957 Backport: [clang] Serialization: support hashing null template arguments
  clang/docs/ReleaseNotes.rst
  clang/lib/Serialization/TemplateArgumentHasher.cpp
  clang/test/CodeCompletion/GH139019.cpp
Labels: clang, clang:modules

#142620 [lldb][TypeSystem][NFC] CreateFunctionType to take parameters by llvm::ArrayRef
  lldb/source/Plugins/ExpressionParser/Clang/ClangExpressionDeclMap.cpp
  lldb/source/Plugins/Language/CPlusPlus/Coroutines.cpp
  lldb/source/Plugins/SymbolFile/CTF/SymbolFileCTF.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DWARFASTParserClang.cpp
  lldb/source/Plugins/SymbolFile/NativePDB/PdbAstBuilder.cpp
  lldb/source/Plugins/SymbolFile/PDB/PDBASTParser.cpp
  lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.cpp
  lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.h
  lldb/unittests/Symbol/TestTypeSystemClang.cpp
Labels: lldb

#142652 [lldb-dap] Forward any error from stepping.
  lldb/tools/lldb-dap/Handler/NextRequestHandler.cpp
  lldb/tools/lldb-dap/Handler/StepInRequestHandler.cpp
  lldb/tools/lldb-dap/Handler/StepOutRequestHandler.cpp
Labels: lldb, lldb-dap

#142688 Revert "[MemProf] Optionally save context size info on largest cold allocations"
  llvm/include/llvm/Analysis/MemoryProfileInfo.h
  llvm/lib/Analysis/MemoryProfileInfo.cpp
  llvm/lib/Analysis/ModuleSummaryAnalysis.cpp
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/lib/Bitcode/Writer/BitcodeWriter.cpp
  llvm/lib/Transforms/IPO/MemProfContextDisambiguation.cpp
  llvm/lib/Transforms/Instrumentation/MemProfiler.cpp
  llvm/test/ThinLTO/X86/memprof-report-hinted-partial.ll
  llvm/test/Transforms/PGOProfile/memprof_max_cold_threshold.test
Labels: PGO, LTO, llvm:analysis, llvm:transforms

#142237 [libc] wcsncpy implementation
  libc/config/linux/x86_64/entrypoints.txt
  libc/include/wchar.yaml
  libc/src/wchar/CMakeLists.txt
  libc/src/wchar/wcsncpy.cpp
  libc/src/wchar/wcsncpy.h
  libc/test/src/wchar/CMakeLists.txt
  libc/test/src/wchar/wcsncpy_test.cpp
Labels: libc

#142700 [Doc] Fix clang doc build.
  clang/include/clang/Basic/DiagnosticGroups.td
Labels: clang, clang:frontend

#142493 [AMDGPU] Bugfix for scaled MFMA parsing FP literals
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.mfma.scale.f32.16x16x128.f8f6f4.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.mfma.scale.f32.32x32x64.f8f6f4.ll
  llvm/test/MC/AMDGPU/mai-gfx950.s
  llvm/test/MC/Disassembler/AMDGPU/gfx950_mai.txt
Labels: backend:AMDGPU, mc

#142659 [Sanitizer][Doc][NFC] Update the doc for prefix:*=sanitize
  clang/docs/ReleaseNotes.rst
  clang/docs/SanitizerSpecialCaseList.rst
Labels: clang, clang:frontend

#142635 [clang][modules] rename "AST" to precompiled in diagnostic messages NFCI
  clang/include/clang/Basic/DiagnosticSerializationKinds.td
  clang/lib/Serialization/ASTReader.cpp
  clang/test/Modules/check-for-sanitizer-feature.cpp
  clang/test/Modules/cxx20-force-check-input.cppm
  clang/test/Modules/explicit-build.cpp
  clang/test/Modules/fatal-module-loader-error.m
  clang/test/Modules/ignored_macros.m
  clang/test/Modules/load_failure.c
  clang/test/Modules/merge-target-features.cpp
  clang/test/Modules/mismatch-diagnostics.cpp
  clang/test/Modules/module-imported-by-pch-path.m
  clang/test/Modules/module-pch-different-cache-path.c
  clang/test/Modules/pr62359.cppm
  clang/test/Modules/resolution-change.m
  clang/test/PCH/arc.m
  clang/test/PCH/fuzzy-pch.c
  clang/test/PCH/module-hash-difference.m
  clang/test/PCH/ms-pch-macro.c
  clang/test/PCH/no-validate-pch.cl
Labels: clang, clang:frontend, clang:modules

#142545 AVR: Move runtime libcall name setting out of TargetLowering
  llvm/lib/IR/RuntimeLibcalls.cpp
  llvm/lib/Target/AVR/AVRISelLowering.cpp
Labels: backend:AVR, llvm:ir

#142474 [PromoteMem2Reg] Optimize memory usage in PromoteMem2Reg
  llvm/lib/Transforms/Utils/PromoteMemoryToRegister.cpp
Labels: llvm:transforms

#142667 [RISCV] Optimize two source deinterleave2 via ri.vunzip2{a,b}
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-shuffle-deinterleave2.ll
Labels: backend:RISC-V

#142698 [BOLT] Zero initialize pre-aggregated counters
  bolt/lib/Profile/DataAggregator.cpp
  bolt/test/X86/entry-point-fallthru.s
Labels: BOLT

#142343 [AMDGPU] SIInsertHardClause: add configurable clause length limit
  llvm/lib/Target/AMDGPU/SIInsertHardClauses.cpp
  llvm/test/CodeGen/AMDGPU/hard-clause-limit-attr.mir
  llvm/test/CodeGen/AMDGPU/hard-clause-limit.mir
Labels: backend:AMDGPU

#142439 [lldb-dap] Use structured types for stepInTargets request
  lldb/packages/Python/lldbsuite/test/tools/lldb-dap/dap_server.py
  lldb/test/API/tools/lldb-dap/stepInTargets/TestDAP_stepInTargets.py
  lldb/tools/lldb-dap/EventHelper.cpp
  lldb/tools/lldb-dap/EventHelper.h
  lldb/tools/lldb-dap/Handler/ConfigurationDoneRequestHandler.cpp
  lldb/tools/lldb-dap/Handler/RequestHandler.h
  lldb/tools/lldb-dap/Handler/StepInTargetsRequestHandler.cpp
  lldb/tools/lldb-dap/Protocol/ProtocolRequests.cpp
  lldb/tools/lldb-dap/Protocol/ProtocolRequests.h
  lldb/tools/lldb-dap/Protocol/ProtocolTypes.cpp
  lldb/tools/lldb-dap/Protocol/ProtocolTypes.h
  lldb/unittests/DAP/ProtocolTypesTest.cpp
Labels: lldb, lldb-dap

#142654 [clang-tidy] NFCI: remove non-functional matcher from SizeofExpressionCheck
  clang-tools-extra/clang-tidy/bugprone/SizeofExpressionCheck.cpp
Labels: clang-tools-extra, clang-tidy

#142613 [SelectionDAG] Use reportFatalUsageError() for invalid operand bundles
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/test/CodeGen/X86/invalid-operand-bundle-call.ll
  llvm/test/CodeGen/X86/invalid-operand-bundle-callbr.ll
  llvm/test/CodeGen/X86/invalid-operand-bundle-invoke.ll
Labels: backend:X86, llvm:SelectionDAG

#142625 [AArch64][NFC] Rewrite aarch64-reassociate-accumulators tests
  llvm/test/CodeGen/AArch64/aarch64-reassociate-accumulators-sve.ll
  llvm/test/CodeGen/AArch64/aarch64-reassociate-accumulators.ll
Labels: backend:AArch64

#142720 [clang][bytecode][NFC] Cache more integer type sizes
  clang/lib/AST/ByteCode/Context.cpp
  clang/lib/AST/ByteCode/Context.h
Labels: clang, clang:frontend, clang:bytecode

#142379 [OpenMP] Don't use libproc on Solaris
  openmp/runtime/cmake/LibompHandleFlags.cmake
  openmp/runtime/src/z_Linux_util.cpp
Labels: openmp:libomp

#142728 ARM: Use correct file extension for IR test
  llvm/test/CodeGen/ARM/float-helpers.ll
Labels: backend:ARM

#142751 [lldb-dap] Add missing key for capabilities event.
  lldb/tools/lldb-dap/EventHelper.cpp
Labels: lldb, lldb-dap

#142673 [CIR] Fix missing return value warning in maybePromoteBoolResult
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
Labels: clang, ClangIR

#142355 [GlobalISel] Add G_CONCAT_VECTOR handling in computeNumSignBits
  llvm/lib/CodeGen/GlobalISel/GISelValueTracking.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/knownbits-concat.mir
  llvm/test/CodeGen/AArch64/GlobalISel/legalize-min-max.mir
  llvm/test/CodeGen/AArch64/aarch64-dup-ext.ll
  llvm/test/CodeGen/AArch64/fcmp.ll
  llvm/test/CodeGen/AArch64/scmp.ll
  llvm/test/CodeGen/AArch64/ucmp.ll
Labels: backend:AArch64, llvm:globalisel

#142754 [InstCombine] Avoid infinite loop in `foldSelectValueEquivalence`
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
  llvm/test/Transforms/InstCombine/select-cmp-eq-op-fold.ll
Labels: llvm:instcombine, llvm:transforms

#142129 [lldb-dap][test] Fix DAP disassemble test
  lldb/test/API/tools/lldb-dap/disassemble/TestDAP_disassemble.py
  lldb/test/API/tools/lldb-dap/disassemble/main.c
Labels: lldb, lldb-dap

#142621 [GISel][AArch64] Scalarize i128 bitreverse instructions. Added tests for i128 and v2i128 bitreverse
  llvm/lib/Target/AArch64/GISel/AArch64LegalizerInfo.cpp
  llvm/test/CodeGen/AArch64/bitreverse.ll
Labels: backend:AArch64

#141465 [libc++] Disallow specializing `common_reference`
  libcxx/docs/ReleaseNotes/21.rst
  libcxx/include/__type_traits/common_reference.h
  libcxx/test/libcxx/type_traits/no_specializations.verify.cpp
  libcxx/test/std/iterators/iterator.requirements/iterator.concepts/iterator.concept.readable/indirectly_readable.compile.pass.cpp
Labels: libc++

#142767 [X86] IsElementEquivalent - add handling for X86ISD::VPERMI nodes.
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/any_extend_vector_inreg_of_broadcast.ll
  llvm/test/CodeGen/X86/any_extend_vector_inreg_of_broadcast_from_memory.ll
  llvm/test/CodeGen/X86/copy-low-subvec-elt-to-high-subvec-elt.ll
  llvm/test/CodeGen/X86/zero_extend_vector_inreg_of_broadcast.ll
  llvm/test/CodeGen/X86/zero_extend_vector_inreg_of_broadcast_from_memory.ll
Labels: backend:X86

#142768 [DSE] Fix uninitialized variable
  llvm/lib/Transforms/Scalar/DeadStoreElimination.cpp
Labels: llvm:transforms

#142415 [flang][OpenMP] Skip implicit typing for OpenMPDeclarativeConstruct
  flang/lib/Semantics/resolve-names.cpp
  flang/test/Semantics/OpenMP/declare-simd-linear.f90
  flang/test/Semantics/OpenMP/linear-clause01.f90
Labels: flang, flang:openmp, flang:semantics

#142740 [llvm-debuginfo-analyzer][NFC] Move some functionality to LVReader.
  llvm/include/llvm/DebugInfo/LogicalView/Core/LVReader.h
  llvm/include/llvm/DebugInfo/LogicalView/Readers/LVBinaryReader.h
  llvm/include/llvm/DebugInfo/LogicalView/Readers/LVDWARFReader.h
  llvm/lib/DebugInfo/LogicalView/Core/LVReader.cpp
  llvm/lib/DebugInfo/LogicalView/Readers/LVBinaryReader.cpp
  llvm/lib/DebugInfo/LogicalView/Readers/LVDWARFReader.cpp
Labels: debuginfo, llvm:binary-utilities, tools:llvm-debuginfo-analyzer

#142025 [mlir][Affine] Handle null parent op in getAffineParallelInductionVarOwner
  mlir/lib/Dialect/Affine/IR/AffineOps.cpp
  mlir/test/Conversion/MemRefToLLVM/memref-to-llvm-with-transforms.mlir
  mlir/test/lib/Conversion/CMakeLists.txt
  mlir/test/lib/Conversion/MemRefToLLVM/CMakeLists.txt
  mlir/test/lib/Conversion/MemRefToLLVM/TestMemRefToLLVMWithTransforms.cpp
  mlir/tools/mlir-opt/CMakeLists.txt
  mlir/tools/mlir-opt/mlir-opt.cpp
Labels: mlir:core, mlir:affine, mlir

#142736 [SCCP] Remove masking operations
  llvm/lib/Transforms/Utils/SCCPSolver.cpp
  llvm/test/Transforms/SCCP/conditions-ranges-with-undef.ll
  llvm/test/Transforms/SCCP/range-and.ll
  llvm/test/Transforms/SCCP/range-with-undef.ll
Labels: function-specialization, llvm:transforms

#140910 [clang][ARM][AArch64] Reapply "Define intrinsics guarded by __has_builtin on all platforms (#128222)"
  clang/include/clang/Basic/BuiltinHeaders.def
  clang/include/clang/Basic/BuiltinsAArch64.def
  clang/include/clang/Basic/BuiltinsARM.def
  clang/lib/Headers/arm_acle.h
  clang/lib/Sema/SemaARM.cpp
  clang/test/CodeGen/arm-former-microsoft-intrinsics-header-warning.c
  clang/test/CodeGen/arm-former-microsoft-intrinsics.c
  clang/test/CodeGen/arm-microsoft-intrinsics.c
  clang/test/CodeGen/arm64-former-microsoft-intrinsics-header-warning.c
  clang/test/CodeGen/arm64-former-microsoft-intrinsics.c
  clang/test/CodeGen/arm64-microsoft-intrinsics.c
  clang/test/CodeGen/builtins-arm-microsoft.c
  clang/test/Headers/Inputs/include/stdint.h
  clang/test/Headers/ms-intrin.cpp
Labels: clang, backend:ARM, backend:AArch64, backend:X86, clang:frontend, clang:headers

#142748 [HashRecognize] Introduce dump methods for debug
  llvm/include/llvm/Analysis/HashRecognize.h
  llvm/lib/Analysis/HashRecognize.cpp
Labels: llvm:analysis

#135400 [RISCV] Vendor Relocations for Xqci extension
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVAsmBackend.cpp
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVAsmBackend.h
  llvm/test/MC/RISCV/vendor-symbol.s
  llvm/test/MC/RISCV/xqcibi-relocations.s
  llvm/test/MC/RISCV/xqcilb-relocations.s
  llvm/test/MC/RISCV/xqcili-relocations.s
Labels: backend:RISC-V, mc

#142611 [RISCV] Fold SRLIW+SLLI+ADD into SRLIW+SHXADD
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/test/CodeGen/RISCV/rv64zba.ll
Labels: backend:RISC-V

#142676 [lldb][test] Free buffers in demangling tests to avoid leaks
  lldb/unittests/Core/MangledTest.cpp
Labels: lldb

#142718 [MemProf] Drop unneccessary REQUIRES: x86-linux directives.
  llvm/test/Transforms/PGOProfile/memprof-call-site-at-alloc-site.ll
  llvm/test/Transforms/PGOProfile/memprof-dump-matched-alloc-site.ll
  llvm/test/Transforms/PGOProfile/memprof-dump-matched-call-sites.ll
  llvm/test/Transforms/PGOProfile/memprof-undrift.test
  llvm/test/Transforms/PGOProfile/memprof_annotate_yaml.test
  llvm/test/Transforms/PGOProfile/memprof_discard_threshold.ll
  llvm/test/Transforms/PGOProfile/memprof_match_hot_cold_new_calls.ll
  llvm/test/Transforms/PGOProfile/memprof_missing_leaf.ll
  llvm/test/tools/llvm-profdata/memprof-yaml-invalid.test
Labels: PGO, llvm:transforms

#142691 [flang] Extension: allow override of inaccessible DEFERRED binding
  flang/docs/Extensions.md
  flang/include/flang/Support/Fortran-features.h
  flang/lib/Evaluate/tools.cpp
  flang/lib/Semantics/check-declarations.cpp
  flang/lib/Semantics/runtime-type-info.cpp
  flang/test/Semantics/deferred01.f90
Labels: flang, flang:semantics

#142774 [X86] splitVector - use collectConcatOps to find pre-split subvectors
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/vector-interleaved-load-i16-stride-2.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i16-stride-2.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i32-stride-3.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i32-stride-4.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i32-stride-5.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i32-stride-7.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i32-stride-8.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i8-stride-2.ll
  llvm/test/CodeGen/X86/vector-interleaved-store-i8-stride-3.ll
  llvm/test/CodeGen/X86/zero_extend_vector_inreg_of_broadcast.ll
Labels: backend:X86

#142045 [clang-doc] add tags to Mustache namespace template
  clang-tools-extra/clang-doc/assets/namespace-template.mustache
  clang-tools-extra/test/clang-doc/mustache-index.cpp
  clang-tools-extra/test/clang-doc/mustache-separate-namespace.cpp
  clang-tools-extra/unittests/clang-doc/HTMLMustacheGeneratorTest.cpp
Labels: clang-tools-extra

#142690 [CIR] Introduce cir::RecordKind::Class
  clang/include/clang/CIR/Dialect/IR/CIRTypes.td
  clang/lib/CIR/CodeGen/CIRGenBuilder.h
  clang/lib/CIR/Dialect/IR/CIRTypes.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/test/CIR/CodeGen/class.cpp
  clang/test/CIR/IR/struct.cir
Labels: clang, ClangIR

#142500 [llvm] Use ABI instead of preferred alignment for const prop checks
  llvm/lib/Transforms/IPO/WholeProgramDevirt.cpp
  llvm/test/Transforms/WholeProgramDevirt/virtual-const-prop-ignore-preferred-alignment.ll
  llvm/test/Transforms/WholeProgramDevirt/virtual-const-prop-small-alignment-32.ll
  llvm/test/Transforms/WholeProgramDevirt/virtual-const-prop-small-alignment-64.ll
Labels: llvm:transforms

#139781 [HLSL] Adding support for root descriptors in root signature metadata representation
  llvm/lib/Target/DirectX/DXILRootSignature.cpp
  llvm/lib/Target/DirectX/DXILRootSignature.h
  llvm/test/CodeGen/DirectX/ContainerData/RootSignature-Parameters-Invalid-ParameterIsNotString.ll
  llvm/test/CodeGen/DirectX/ContainerData/RootSignature-Parameters.ll
  llvm/test/CodeGen/DirectX/ContainerData/RootSignature-RootDescriptor-Invalid-Flags.ll
  llvm/test/CodeGen/DirectX/ContainerData/RootSignature-RootDescriptor-Invalid-RegisterKind.ll
  llvm/test/CodeGen/DirectX/ContainerData/RootSignature-RootDescriptor-Invalid-RegisterSpace.ll
  llvm/test/CodeGen/DirectX/ContainerData/RootSignature-RootDescriptor-Invalid-RegisterValue.ll
  llvm/test/CodeGen/DirectX/ContainerData/RootSignature-RootDescriptor.ll
Labels: backend:DirectX

#142829 Revert gsymutil changes due to concurrency problems
  llvm/include/llvm/DebugInfo/DWARF/DWARFContext.h
  llvm/include/llvm/DebugInfo/DWARF/DWARFUnit.h
  llvm/lib/DebugInfo/DWARF/DWARFContext.cpp
  llvm/lib/DebugInfo/DWARF/DWARFUnit.cpp
  llvm/lib/DebugInfo/GSYM/DwarfTransformer.cpp
Labels: debuginfo
