Repository llvm/llvm-project, pull requests merged in 2025-08, with the labels that each got.

#151604 [ELF] handle new NVIDIA GPU variants.
  llvm/include/llvm/BinaryFormat/ELF.h
  llvm/lib/Object/ELFObjectFile.cpp
  llvm/tools/llvm-readobj/ELFDumper.cpp
Labels: llvm:binary-utilities

#151208 [lldb] Clear Frames when changing `disable-language-runtime-unwindplans`
  lldb/include/lldb/Target/Process.h
  lldb/source/Target/Process.cpp
Labels: lldb

#98369 [lldb] Add support for displaying `__float128` variables
  lldb/bindings/python/python-extensions.swig
  lldb/docs/python_api_enums.rst
  lldb/include/lldb/Symbol/TypeSystem.h
  lldb/include/lldb/lldb-enumerations.h
  lldb/source/Commands/CommandObjectMemory.cpp
  lldb/source/Core/DumpDataExtractor.cpp
  lldb/source/DataFormatters/FormatManager.cpp
  lldb/source/DataFormatters/VectorType.cpp
  lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.cpp
  lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.h
  lldb/source/ValueObject/ValueObject.cpp
  lldb/unittests/Core/DumpDataExtractorTest.cpp
  lldb/unittests/Symbol/TestTypeSystemClang.cpp
Labels: lldb

#151613 [ubsan_minimal] Introduce custom substitutions for clang with minimal runtime
  compiler-rt/test/ubsan_minimal/TestCases/alignment-assumption.c
  compiler-rt/test/ubsan_minimal/TestCases/icall.c
  compiler-rt/test/ubsan_minimal/TestCases/implicit-integer-sign-change.c
  compiler-rt/test/ubsan_minimal/TestCases/implicit-signed-integer-truncation-or-sign-change.c
  compiler-rt/test/ubsan_minimal/TestCases/implicit-signed-integer-truncation.c
  compiler-rt/test/ubsan_minimal/TestCases/implicit-unsigned-integer-truncation.c
  compiler-rt/test/ubsan_minimal/TestCases/local_bounds.cpp
  compiler-rt/test/ubsan_minimal/TestCases/nullptr-and-nonzero-offset.c
  compiler-rt/test/ubsan_minimal/TestCases/override-callback.c
  compiler-rt/test/ubsan_minimal/TestCases/recover-dedup-limit.cpp
  compiler-rt/test/ubsan_minimal/TestCases/recover-dedup.cpp
  compiler-rt/test/ubsan_minimal/TestCases/test-darwin-interface.c
  compiler-rt/test/ubsan_minimal/TestCases/uadd-overflow.cpp
  compiler-rt/test/ubsan_minimal/lit.common.cfg.py
Labels: compiler-rt, compiler-rt:ubsan, compiler-rt:sanitizer

#149232 [DirectX] Error handling improve in root signature metadata Parser
  llvm/include/llvm/Frontend/HLSL/RootSignatureMetadata.h
  llvm/lib/Frontend/HLSL/RootSignatureMetadata.cpp
  llvm/lib/Target/DirectX/DXILRootSignature.cpp
  llvm/test/CodeGen/DirectX/ContainerData/RootSignature-DescriptorTable-Invalid-RangeType.ll
  llvm/test/CodeGen/DirectX/ContainerData/RootSignature-Flags-Error.ll
  llvm/test/CodeGen/DirectX/ContainerData/RootSignature-RootDescriptor-Invalid-RegisterKind.ll
  llvm/test/CodeGen/DirectX/ContainerData/RootSignature-StaticSamplers-Invalid-MaxLod.ll
  llvm/test/CodeGen/DirectX/ContainerData/RootSignature-StaticSamplers-Invalid-MinLod.ll
  llvm/test/CodeGen/DirectX/ContainerData/RootSignature-StaticSamplers-Invalid-MinLopBias.ll
Labels: backend:DirectX, HLSL

#151481 [VPlan] Create AVL as a phi from TC -> 0 with EVL tail folding
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanVerifier.cpp
  llvm/test/Transforms/LoopVectorize/RISCV/evl-compatible-loops.ll
  llvm/test/Transforms/LoopVectorize/RISCV/inloop-reduction.ll
  llvm/test/Transforms/LoopVectorize/RISCV/interleaved-masked-access.ll
  llvm/test/Transforms/LoopVectorize/RISCV/pr88802.ll
  llvm/test/Transforms/LoopVectorize/RISCV/scalable-tailfold.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-bin-unary-ops-args.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-call-intrinsics.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-cast-intrinsics.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-cond-reduction.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-div.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-fixed-order-recurrence.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-gather-scatter.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-inloop-reduction.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-interleave.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-intermediate-store.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-iv32.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-known-no-overflow.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-masked-loadstore.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-ordered-reduction.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-reduction.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-reverse-load-store.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-safe-dep-distance.ll
  llvm/test/Transforms/LoopVectorize/RISCV/tail-folding-uniform-store.ll
  llvm/test/Transforms/LoopVectorize/RISCV/truncate-to-minimal-bitwidth-cost.ll
  llvm/test/Transforms/LoopVectorize/RISCV/truncate-to-minimal-bitwidth-evl-crash.ll
  llvm/test/Transforms/LoopVectorize/RISCV/type-info-cache-evl-crash.ll
  llvm/test/Transforms/LoopVectorize/RISCV/uniform-load-store.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vectorize-vp-intrinsics.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vplan-vp-call-intrinsics.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vplan-vp-cast-intrinsics.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vplan-vp-intrinsics-fixed-order-recurrence.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vplan-vp-intrinsics-reduction.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vplan-vp-intrinsics.ll
Labels: backend:RISC-V, vectorizers, llvm:transforms

#151606 [RISCV] Add RISCVISD::LD_RV32/SD_RV32 to isWorthFoldingAdd.
  llvm/lib/Target/RISCV/RISCVISelDAGToDAG.cpp
  llvm/test/CodeGen/RISCV/zilsd.ll
Labels: backend:RISC-V

#151541 [VPlan] Use m_BinaryOr matcher for clarity (NFC)
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: vectorizers, llvm:transforms

#150405 [libc++] Simplify the tuple constructors a bit
  libcxx/include/tuple
Labels: libc++

#148877 [lldb][Expression] Encode Module and DIE UIDs into function AsmLabels
  lldb/include/lldb/Core/Module.h
  lldb/include/lldb/Core/ModuleList.h
  lldb/include/lldb/Expression/Expression.h
  lldb/include/lldb/Symbol/SymbolFile.h
  lldb/source/Core/Module.cpp
  lldb/source/Core/ModuleList.cpp
  lldb/source/Expression/Expression.cpp
  lldb/source/Expression/IRExecutionUnit.cpp
  lldb/source/Expression/IRInterpreter.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DWARFASTParserClang.cpp
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.cpp
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.h
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARFDebugMap.cpp
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARFDebugMap.h
  lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.cpp
  lldb/test/API/lang/cpp/expr-definition-in-dylib/Makefile
  lldb/test/API/lang/cpp/expr-definition-in-dylib/TestExprDefinitionInDylib.py
  lldb/test/API/lang/cpp/expr-definition-in-dylib/lib.cpp
  lldb/test/API/lang/cpp/expr-definition-in-dylib/lib.h
  lldb/test/API/lang/cpp/expr-definition-in-dylib/main.cpp
  lldb/unittests/Expression/CMakeLists.txt
  lldb/unittests/Expression/ExpressionTest.cpp
  lldb/unittests/Symbol/TestTypeSystemClang.cpp
Labels: lldb

#123743 [lld][LoongArch] GOT indirection to PC relative optimization
  lld/ELF/Arch/LoongArch.cpp
  lld/test/ELF/loongarch-pc-hi20-lo12-got.s
  lld/test/ELF/loongarch-relax-pc-hi20-lo12.s
Labels: lld, lld:ELF, backend:loongarch

#151625 [Analysis] Avoid creating a temporary instance of std::string (NFC)
  clang/lib/Analysis/RetainSummaryManager.cpp
Labels: clang, clang:analysis

#151627 [llvm] Use std::make_optional (NFC)
  llvm/include/llvm/Transforms/IPO/Attributor.h
  llvm/lib/IR/DebugInfoMetadata.cpp
  llvm/lib/Remarks/RemarkLinker.cpp
  llvm/lib/Transforms/IPO/AttributorAttributes.cpp
Labels: debuginfo, llvm:ir, llvm:transforms

#150423 [LLVM][Docs][SPIRV] Correct `-spirv-ext` option name, reorder
  llvm/docs/SPIRVUsage.rst
Labels: backend:SPIR-V

#150884 [MachineScheduler] Make cluster check more efficient
  llvm/include/llvm/CodeGen/MachineScheduler.h
  llvm/include/llvm/CodeGen/ScheduleDAG.h
  llvm/lib/CodeGen/MachineScheduler.cpp
  llvm/lib/Target/AMDGPU/GCNSchedStrategy.cpp
  llvm/lib/Target/PowerPC/PPCMachineScheduler.cpp
Labels: backend:AMDGPU, backend:PowerPC, llvm:codegen

#147708 [AMDGPU] Support function attribute to override postRA scheduling direction
  llvm/lib/Target/AMDGPU/GCNSubtarget.cpp
  llvm/lib/Target/AMDGPU/GCNSubtarget.h
  llvm/test/CodeGen/AMDGPU/postra-sched-attribute.ll
Labels: backend:AMDGPU, llvm:codegen

#149988 [DTLTO][Clang][Docs] Update for COFF support
  clang/docs/ThinLTO.rst
Labels: clang

#149425 [DTLTO][LLD][ELF] Support bitcode members of thin archives
  cross-project-tests/CMakeLists.txt
  cross-project-tests/dtlto/ld-archive-thin.test
  cross-project-tests/lit.cfg.py
  lld/ELF/InputFiles.cpp
  lld/test/ELF/dtlto/archive-thin.test
Labels: lld, lld:ELF

#151347 [libclc] Add an option to build SPIR-V targets with the LLVM backend
  libclc/CMakeLists.txt
  libclc/cmake/modules/AddLibclc.cmake
Labels: libclc

#151491 [Instcombine] Combine extractelement from a vector_extract at index 0
  llvm/lib/Transforms/InstCombine/InstCombineVectorOps.cpp
  llvm/test/Transforms/InstCombine/scalable-extract-subvec-elt.ll
Labels: llvm:instcombine, llvm:transforms

#150022 [clang] Fix clang debug info generation for unprtototyped function
  clang/lib/CodeGen/CGDebugInfo.cpp
  clang/test/CodeGen/dbg-info-all-calls-described.c
Labels: clang, backend:RISC-V, clang:codegen, debuginfo

#149646 Add m_SelectCCLike matcher to match SELECT_CC or SELECT with SETCC
  llvm/include/llvm/CodeGen/SDPatternMatch.h
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/unittests/CodeGen/SelectionDAGPatternMatchTest.cpp
Labels: llvm:SelectionDAG

#148377 [MLIR][NVVM] Support stmatrix intrinsics
  mlir/include/mlir/Dialect/LLVMIR/NVVMOps.td
  mlir/lib/Dialect/LLVMIR/IR/NVVMDialect.cpp
  mlir/lib/Target/LLVMIR/Dialect/NVVM/NVVMToLLVMIRTranslation.cpp
  mlir/test/Conversion/NVVMToLLVM/nvvm-to-llvm.mlir
  mlir/test/Target/LLVMIR/nvvmir-invalid.mlir
  mlir/test/Target/LLVMIR/nvvmir.mlir
Labels: mlir:llvm, mlir, backend:NVPTX, llvm:ir

#151563 [ConstantFolding] Fix incorrect nvvm_round folding
  llvm/lib/Analysis/ConstantFolding.cpp
  llvm/test/Transforms/InstSimplify/const-fold-nvvm-unary-arithmetic.ll
Labels: llvm:instcombine, backend:NVPTX, llvm:analysis, llvm:transforms

#151503 [mlir][linalg] Add getCollapsedVecType and update vectorization of linalg.unpack
  mlir/lib/Dialect/Linalg/Transforms/Vectorization.cpp
Labels: mlir:linalg, mlir

#147262 [mlir][spirv] Fix lookup logic `spirv.target_env` for `gpu.module`
  mlir/lib/Conversion/GPUToSPIRV/GPUToSPIRV.cpp
  mlir/lib/Conversion/GPUToSPIRV/GPUToSPIRVPass.cpp
  mlir/test/Conversion/GPUToSPIRV/lookup-target-env.mlir
Labels: mlir:gpu, mlir:spirv, mlir

#151682 [static analyzer] Fix crash on parenthesized expression in assume attribute
  clang/docs/ReleaseNotes.rst
  clang/lib/StaticAnalyzer/Core/ExprEngineCXX.cpp
  clang/test/Analysis/builtin_assume.cpp
Labels: clang, clang:static analyzer

#151653 [mlir][tosa] Support boolean types for clamp folder
  mlir/lib/Dialect/Tosa/IR/TosaCanonicalizations.cpp
  mlir/test/Dialect/Tosa/canonicalize.mlir
Labels: mlir, mlir:tosa

#150979 [flang][OpenMP] Support delayed privatisation for composite do simd
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/test/Lower/OpenMP/wsloop-simd.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#151169 [flang][OpenMP] Support delayed privatisation for composite distribute simd
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/test/Lower/OpenMP/distribute-simd.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#151534 [Clang] Dump minimization hints for namespaces
  clang/lib/Frontend/FrontendAction.cpp
  clang/test/Frontend/dump-minimization-hints.cpp
Labels: clang

#149774 [lldb-dap] support moduleId in the stackTrace response
  lldb/test/API/tools/lldb-dap/coreFile/TestDAP_coreFile.py
  lldb/test/API/tools/lldb-dap/stackTrace/TestDAP_stackTrace.py
  lldb/tools/lldb-dap/JSONUtils.cpp
Labels: lldb, lldb-dap

#147047 [LAA] Support assumptions in evaluatePtrAddRecAtMaxBTCWillNotWrap
  llvm/include/llvm/Analysis/LoopAccessAnalysis.h
  llvm/lib/Analysis/Loads.cpp
  llvm/lib/Analysis/LoopAccessAnalysis.cpp
  llvm/lib/Transforms/Scalar/LoopFlatten.cpp
  llvm/lib/Transforms/Scalar/LoopVersioningLICM.cpp
  llvm/test/Analysis/LoopAccessAnalysis/early-exit-runtime-checks.ll
  llvm/test/Transforms/LoopVectorize/single-early-exit-deref-assumptions.ll
  llvm/unittests/Transforms/Vectorize/VPlanSlpTest.cpp
Labels: llvm:analysis, llvm:transforms

#151087 [llvm] Proofread *.rst
  llvm/docs/AMDGPUDwarfExtensionsForHeterogeneousDebugging.rst
  llvm/docs/AMDGPUUsage.rst
  llvm/docs/CodeGenerator.rst
  llvm/docs/CommandGuide/llvm-bcanalyzer.rst
  llvm/docs/CommandGuide/llvm-debuginfo-analyzer.rst
  llvm/docs/CommandGuide/llvm-exegesis.rst
  llvm/docs/CommandGuide/llvm-ifs.rst
  llvm/docs/CommandGuide/llvm-locstats.rst
  llvm/docs/CommandGuide/llvm-mca.rst
  llvm/docs/CommandGuide/llvm-profdata.rst
  llvm/docs/CommandGuide/llvm-symbolizer.rst
  llvm/docs/DirectX/DXContainer.rst
  llvm/docs/Frontend/PerformanceTips.rst
  llvm/docs/FuzzingLLVM.rst
  llvm/docs/GettingStarted.rst
  llvm/docs/GlobalISel/GMIR.rst
  llvm/docs/GlobalISel/GenericOpcode.rst
  llvm/docs/GlobalISel/Pipeline.rst
  llvm/docs/HowToUpdateDebugInfo.rst
  llvm/docs/JITLink.rst
  llvm/docs/LangRef.rst
  llvm/docs/Lexicon.rst
  llvm/docs/MIRLangRef.rst
  llvm/docs/PDB/CodeViewTypes.rst
  llvm/docs/SymbolizerMarkupFormat.rst
  llvm/docs/WritingAnLLVMBackend.rst
  llvm/docs/WritingAnLLVMPass.rst
  llvm/docs/tutorial/MyFirstLanguageFrontend/LangImpl10.rst
Labels: backend:AMDGPU, llvm:globalisel, backend:DirectX, llvm:ir, llvm:binary-utilities

#151628 [BOLT] Use std::optional::value_or (NFC)
  bolt/lib/Core/Exceptions.cpp
Labels: BOLT

#150289 [Flang] Fix crash with parametrized derived types usage
  flang/lib/Lower/Mangler.cpp
  flang/test/Lower/parametrized-derived-types.f90
Labels: flang, flang:fir-hlfir

#151700 [clang][bytecode][NFC] Add a FIXME comment for heap allocations
  clang/lib/AST/ByteCode/DynamicAllocator.cpp
Labels: clang, clang:frontend, clang:bytecode

#151615 [clang] Remove use of %T from crash-report-modules.m
  clang/test/Driver/crash-report-modules.m
Labels: clang, clang:driver

#151370 [analyzer] Retain address space information in getElementRegion
  clang/lib/StaticAnalyzer/Core/MemRegion.cpp
  clang/test/Analysis/element-region-address-space.c
Labels: clang, clang:static analyzer

#151618 [lldb] Replace Python APIs with their stable equivalent
  lldb/source/Plugins/ScriptInterpreter/Python/PythonDataObjects.cpp
Labels: lldb

#151621 [llvm] Remove uses of %T in tests
  llvm/test/DebugInfo/PDB/obj-globalhash.test
  llvm/test/Examples/OrcV2Examples/lljit-with-thinlto-summaries.test
  llvm/test/ExecutionEngine/JITLink/x86-64/MachO_foo-in-weak-dylib.s
  llvm/test/MC/AArch64/ELF_ARM64_large-relocations.s
  llvm/test/Object/archive-darwin-duplicates.test
  llvm/test/TableGen/GlobalISelEmitter/ContextlessPredicates.td
  llvm/test/TableGen/GlobalISelEmitter/GlobalISelEmitter.td
  llvm/test/TableGen/GlobalISelEmitter/HwModes.td
  llvm/test/tools/UpdateTestChecks/update_llc_test_checks/amdgpu-no-merge-comments.test
  llvm/test/tools/dsymutil/X86/swift-ast-x86_64.test
  llvm/test/tools/llvm-dwarfdump/dump_dwo.test
  llvm/test/tools/llvm-libtool-darwin/L-and-l.test
  llvm/test/tools/llvm-objcopy/COFF/dump-section.test
Labels: backend:AArch64, backend:AMDGPU, debuginfo, mc, llvm:binary-utilities

#148799 [libc++] Implement comparison operators for `tuple` added in C++23
  libcxx/docs/FeatureTestMacroTable.rst
  libcxx/docs/ReleaseNotes/21.rst
  libcxx/docs/Status/Cxx23Papers.csv
  libcxx/docs/Status/Cxx2cIssues.csv
  libcxx/docs/Status/Cxx2cPapers.csv
  libcxx/include/tuple
  libcxx/include/version
  libcxx/test/std/language.support/support.limits/support.limits.general/expected.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/optional.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/tuple.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/utility.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/variant.version.compile.pass.cpp
  libcxx/test/std/language.support/support.limits/support.limits.general/version.version.compile.pass.cpp
  libcxx/test/std/utilities/tuple/tuple.tuple/tuple.rel/eq.pass.cpp
  libcxx/test/std/utilities/tuple/tuple.tuple/tuple.rel/lt.pass.cpp
  libcxx/test/std/utilities/tuple/tuple.tuple/tuple.rel/size_incompatible_three_way.compile.pass.cpp
  libcxx/test/std/utilities/tuple/tuple.tuple/tuple.rel/three_way.pass.cpp
  libcxx/utils/generate_feature_test_macro_components.py
Labels: libc++

#150284 [mlir][vector] vector.splat deprecation: folding/canonicalizing parity with broadcast
  mlir/include/mlir/Dialect/Vector/IR/VectorOps.td
  mlir/lib/Dialect/Vector/IR/VectorOps.cpp
  mlir/test/Dialect/Vector/canonicalize.mlir
  mlir/test/Dialect/Vector/canonicalize/vector-from-elements.mlir
  mlir/test/Dialect/Vector/canonicalize/vector-splat.mlir
  mlir/test/Dialect/Vector/vector-transfer-to-vector-load-store.mlir
Labels: mlir:vectorops, mlir, mlir:vector

#151608 [flang] Ensure lowering diagnostic handler does not outlive lowering
  flang/include/flang/Lower/Bridge.h
  flang/include/flang/Lower/LoweringOptions.def
  flang/lib/Lower/Bridge.cpp
Labels: flang, flang:fir-hlfir

#151561 [CIR] Add diagnostic for NYI AST visitor handlers
  clang/include/clang/CIR/CIRGenerator.h
  clang/lib/CIR/CodeGen/CIRGenerator.cpp
  clang/lib/CIR/FrontendAction/CIRGenAction.cpp
Labels: clang, ClangIR

#151719 [Analyzer] No longer crash with VLA operands to unary type traits
  clang/docs/ReleaseNotes.rst
  clang/lib/StaticAnalyzer/Core/ExprEngineC.cpp
  clang/test/Analysis/engine/gh151711.cpp
Labels: clang, c++, clang:static analyzer, crash-on-valid, c2y

#149903 [LLDB] Update SBMemoryRegionInfo doc strings to document len and str
  lldb/bindings/interface/SBMemoryRegionInfoDocstrings.i
  lldb/include/lldb/API/SBMemoryRegionInfo.h
Labels: lldb

#151154 [flang][OpenMP] Check for OpenMP 5.0+ for the if clause on "do simd"
  flang/test/Semantics/OpenMP/if-clause-45.f90
  flang/test/Semantics/OpenMP/if-clause-50.f90
  llvm/include/llvm/Frontend/OpenMP/OMP.td
Labels: flang, flang:openmp, flang:semantics, clang:openmp

#151168 [mlir][spirv] Fix verification and serialization replicated constant …
  mlir/lib/Dialect/SPIRV/IR/SPIRVOps.cpp
  mlir/lib/Target/SPIRV/Serialization/Serializer.cpp
  mlir/test/Target/SPIRV/constant.mlir
Labels: mlir:spirv, mlir

#151404 [clang][ARM] Fix setting of MaxAtomicInlineWidth.
  clang/lib/Basic/Targets/ARM.cpp
  clang/test/CodeGen/atomic-arm.c
  clang/test/CodeGen/pr45476.cpp
Labels: clang, backend:ARM, clang:frontend

#151738 [mlir][spirv] Enforce Fixed-Size Vectors for SPIR-V
  mlir/include/mlir/Dialect/SPIRV/IR/SPIRVBase.td
  mlir/test/Dialect/SPIRV/IR/arithmetic-ops.mlir
  mlir/test/Dialect/SPIRV/IR/bit-ops.mlir
  mlir/test/Dialect/SPIRV/IR/gl-ops.mlir
  mlir/test/Dialect/SPIRV/IR/group-ops.mlir
  mlir/test/Dialect/SPIRV/IR/image-ops.mlir
  mlir/test/Dialect/SPIRV/IR/intel-ext-ops.mlir
  mlir/test/Dialect/SPIRV/IR/khr-cooperative-matrix-ops.mlir
  mlir/test/Dialect/SPIRV/IR/logical-ops.mlir
  mlir/test/Dialect/SPIRV/IR/non-uniform-ops.mlir
  mlir/test/Dialect/SPIRV/IR/ocl-ops.mlir
Labels: mlir:spirv, mlir

#151437 [mlir][EmitC]Allow Fields to have initial values
  mlir/include/mlir/Dialect/EmitC/IR/EmitC.td
  mlir/lib/Dialect/EmitC/IR/EmitC.cpp
  mlir/lib/Dialect/EmitC/Transforms/WrapFuncInClass.cpp
  mlir/lib/Target/Cpp/TranslateToCpp.cpp
  mlir/test/mlir-translate/emitc_classops.mlir
Labels: mlir, mlir:emitc

#151722 [libc] Add struct_sched_param proxy header
  libc/hdr/types/CMakeLists.txt
  libc/hdr/types/struct_sched_param.h
  libc/src/sched/linux/CMakeLists.txt
  libc/src/sched/sched_getparam.h
  libc/src/sched/sched_setparam.h
  libc/src/sched/sched_setscheduler.h
  libc/test/src/sched/CMakeLists.txt
  libc/test/src/sched/param_and_scheduler_test.cpp
  libc/test/src/sched/sched_rr_get_interval_test.cpp
Labels: libc

#151216 [CIR] Simplify ConstantOp accesses and its getDefiningOp
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/lib/CIR/CodeGen/CIRGenClass.cpp
  clang/lib/CIR/CodeGen/CIRGenExpr.cpp
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Dialect/Transforms/CIRSimplify.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
Labels: clang, ClangIR

#151377 [CIR] Add vptr type and generate vptr field when needed
  clang/include/clang/CIR/Dialect/IR/CIRTypes.td
  clang/lib/CIR/CodeGen/CIRGenRecordLayoutBuilder.cpp
  clang/lib/CIR/Dialect/IR/CIRTypes.cpp
  clang/test/CIR/CodeGen/virtual-function-calls.cpp
Labels: clang, ClangIR

#151746 [MLIR][SCF] Propagate loop annotation during while op lowering
  mlir/lib/Conversion/SCFToControlFlow/SCFToControlFlow.cpp
  mlir/test/Conversion/SCFToControlFlow/convert-to-cfg.mlir
Labels: mlir

#151635 [lldb] Ensure that TestMemoryCache.py reads allocated memory
  lldb/test/API/functionalities/memory/cache/main.cpp
Labels: lldb

#151760 [CUDA] Use --image3 to construct fat binary
  clang/lib/Driver/ToolChains/Cuda.cpp
  clang/test/Driver/cuda-arch-translation.cu
  clang/test/Driver/cuda-options.cu
Labels: clang, clang:driver

#151610 [win][arm64ec] Handle `available_externally` functions
  llvm/lib/Target/AArch64/AArch64Arm64ECCallLowering.cpp
  llvm/test/CodeGen/AArch64/arm64ec-available-externally.ll
Labels: backend:AArch64, platform:windows

#151012 [libc][math] Refactor atan2f128 implementation to header-only in src/__support/math folder.
  libc/shared/math.h
  libc/shared/math/atan2f128.h
  libc/src/__support/math/CMakeLists.txt
  libc/src/__support/math/atan2f128.h
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/atan2f128.cpp
  libc/test/shared/CMakeLists.txt
  libc/test/shared/shared_math_test.cpp
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: libc, bazel

#151736 [SelectionDAG] Move sign pattern check from AArch64 and ARM to general SelectionDAG
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/lib/Target/ARM/ARMISelLowering.cpp
  llvm/test/CodeGen/ARM/cmp-select-sign.ll
Labels: backend:ARM, backend:AArch64, llvm:SelectionDAG

#151070 [NVPTX] Vectorize loads when lowering of byval calls, misc. cleanup
  llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp
  llvm/lib/Target/NVPTX/NVPTXInstrInfo.td
  llvm/test/CodeGen/NVPTX/byval-arg-vectorize.ll
  llvm/test/CodeGen/NVPTX/convert-call-to-indirect.ll
  llvm/test/CodeGen/NVPTX/lower-args-gridconstant.ll
  llvm/test/CodeGen/NVPTX/param-vectorize-device.ll
Labels: backend:NVPTX

#151761 [lldb] Reimplment PyRun_String using the Python stable C API
  lldb/source/Plugins/ScriptInterpreter/Python/PythonDataObjects.cpp
  lldb/source/Plugins/ScriptInterpreter/Python/PythonDataObjects.h
  lldb/unittests/ScriptInterpreter/Python/PythonDataObjectsTests.cpp
Labels: lldb

#151767 [lldb] Fix incorrect conversion from boolean in RegisterContextThreadMemory
  lldb/source/Plugins/Process/Utility/RegisterContextThreadMemory.cpp
Labels: lldb

#151749 [AMDGPU] gfx1250 v_permlane_* instructions
  clang/include/clang/Basic/BuiltinsAMDGPU.def
  clang/test/CodeGenOpenCL/builtins-amdgcn-gfx1250.cl
  llvm/include/llvm/IR/IntrinsicsAMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPURegisterBankInfo.cpp
  llvm/lib/Target/AMDGPU/AMDGPUSearchableTables.td
  llvm/lib/Target/AMDGPU/GCNHazardRecognizer.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.cpp
  llvm/lib/Target/AMDGPU/VOP3Instructions.td
  llvm/test/Analysis/UniformityAnalysis/AMDGPU/intrinsics.ll
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.permlane.gfx1250.ll
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3.s
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3.txt
Labels: clang, backend:AMDGPU, clang:frontend, mc, llvm:ir, llvm:analysis

#151777 [lldb] Reimplment PyRun_SimpleString using the Python stable C API
  lldb/source/Plugins/ScriptInterpreter/Python/PythonDataObjects.cpp
  lldb/source/Plugins/ScriptInterpreter/Python/PythonDataObjects.h
  lldb/source/Plugins/ScriptInterpreter/Python/ScriptInterpreterPython.cpp
  lldb/source/Plugins/ScriptInterpreter/Python/ScriptInterpreterPythonImpl.h
  lldb/unittests/ScriptInterpreter/Python/PythonTestSuite.cpp
Labels: lldb

#151783 [lldb] Remove unused PythonObject::Dump (NFC)
  lldb/source/Plugins/ScriptInterpreter/Python/PythonDataObjects.h
Labels: lldb

#151776 [CodeGen][counted_by] Support use of the comma operator
  clang/lib/CodeGen/CGBuiltin.cpp
  clang/test/CodeGen/attr-counted-by.c
Labels: clang, clang:codegen

#151241 [OpenMP] Use the `libc` malloc for AMDGPU if available
  offload/DeviceRTL/src/State.cpp
Labels: offload

#151782 NFC: Clean up of IntrusiveRefCntPtr construction from raw pointers.
  clang-tools-extra/clang-include-fixer/IncludeFixer.cpp
  clang/include/clang/AST/ASTContext.h
  clang/include/clang/Frontend/ASTUnit.h
  clang/include/clang/Frontend/CompilerInstance.h
  clang/include/clang/Frontend/Utils.h
  clang/include/clang/Sema/MultiplexExternalSemaSource.h
  clang/include/clang/Sema/Sema.h
  clang/lib/Frontend/ASTUnit.cpp
  clang/lib/Frontend/ChainedIncludesSource.cpp
  clang/lib/Frontend/CompilerInstance.cpp
  clang/lib/Frontend/FrontendAction.cpp
  clang/lib/Frontend/PrecompiledPreamble.cpp
  clang/lib/Interpreter/CodeCompletion.cpp
  clang/lib/Sema/MultiplexExternalSemaSource.cpp
  clang/lib/Sema/Sema.cpp
  clang/lib/StaticAnalyzer/Frontend/ModelInjector.cpp
  clang/lib/Tooling/Tooling.cpp
  clang/tools/clang-installapi/ClangInstallAPI.cpp
  clang/tools/libclang/CIndexCodeCompletion.cpp
  clang/tools/libclang/CXIndexDataConsumer.cpp
  clang/tools/libclang/CXIndexDataConsumer.h
  clang/tools/libclang/Indexing.cpp
  clang/unittests/AST/ASTImporterTest.cpp
  clang/unittests/AST/ExternalASTSourceTest.cpp
  clang/unittests/Frontend/ASTUnitTest.cpp
  clang/unittests/Frontend/FrontendActionTest.cpp
  clang/unittests/Frontend/PCHPreambleTest.cpp
  clang/unittests/Frontend/ReparseWorkingDirTest.cpp
  clang/unittests/Sema/ExternalSemaSourceTest.cpp
  clang/unittests/Support/TimeProfilerTest.cpp
  clang/unittests/Tooling/Syntax/TokensTest.cpp
  clang/unittests/Tooling/Syntax/TreeTestBase.cpp
  clang/unittests/Tooling/Syntax/TreeTestBase.h
  clang/unittests/Tooling/ToolingTest.cpp
  lldb/source/Plugins/ExpressionParser/Clang/ASTUtils.cpp
  lldb/source/Plugins/ExpressionParser/Clang/ASTUtils.h
  lldb/source/Plugins/ExpressionParser/Clang/ClangASTSource.h
  lldb/source/Plugins/ExpressionParser/Clang/ClangExpressionParser.cpp
  lldb/source/Plugins/LanguageRuntime/ObjC/AppleObjCRuntime/AppleObjCDeclVendor.cpp
  lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.cpp
  lldb/source/Plugins/TypeSystem/Clang/TypeSystemClang.h
Labels: clang, clang-tools-extra, lldb, clang:frontend, clang:modules, clang:as-a-library, clang:static analyzer

#151773 [AMDGPU] gfx1250 v_perm_pk16_* instructions
  clang/include/clang/Basic/BuiltinsAMDGPU.def
  clang/test/CodeGenOpenCL/amdgpu-features.cl
  clang/test/CodeGenOpenCL/builtins-amdgcn-gfx1250.cl
  llvm/include/llvm/IR/IntrinsicsAMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPURegisterBankInfo.cpp
  llvm/lib/Target/AMDGPU/GCNSubtarget.h
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
  llvm/lib/Target/AMDGPU/SIRegisterInfo.td
  llvm/lib/Target/AMDGPU/VOP3Instructions.td
  llvm/lib/TargetParser/TargetParser.cpp
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.perm.pk.ll
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3.s
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3.txt
Labels: clang, backend:AMDGPU, clang:frontend, mc, llvm:ir

#151663 Relax muldc3 test to avoid precision issue
  compiler-rt/test/builtins/Unit/muldc3_test.c
Labels: compiler-rt, compiler-rt:builtins

#151217 [CIR] Use getDefiningOp<OpTy>() instead of dyn_cast<OpTy>(getDefiningOp()) (NFC)
  clang/lib/CIR/CodeGen/CIRGenDecl.cpp
  clang/lib/CIR/CodeGen/CIRGenExpr.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.cpp
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
Labels: clang, ClangIR

#151757 [VPlan] Replace reverse RPOT with PO traversal (NFC)
  llvm/lib/Transforms/Vectorize/VPlanCFG.h
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
Labels: vectorizers, llvm:transforms

#151518 [mlir][quant] Fix quantization example.
  mlir/include/mlir/Dialect/Quant/IR/QuantTypes.h
  mlir/lib/Dialect/Quant/IR/QuantTypes.cpp
Labels: mlir, mlir:quant

#151790 [clang][diagnostics] Fix fix-it hint parenthesis placement for fold expressions
  clang/docs/ReleaseNotes.rst
  clang/lib/Sema/SemaTemplateVariadic.cpp
  clang/test/FixIt/fixit-c++17.cpp
Labels: clang, clang:frontend

#151717 [clang][bytecode] Replace MoveFn With DtorFn + memcpy
  clang/lib/AST/ByteCode/InterpState.cpp
Labels: clang, clang:frontend, clang:bytecode

#151809 [mlir][Transforms][NFC] Move rollback tests to separate file
  mlir/test/Transforms/test-legalizer-full-rollback.mlir
  mlir/test/Transforms/test-legalizer-full.mlir
  mlir/test/Transforms/test-legalizer-rollback.mlir
  mlir/test/Transforms/test-legalizer.mlir
Labels: mlir

#151817 [mlir][Transforms][NFC] Add missing FileCheck
  mlir/test/Transforms/test-legalizer-full-rollback.mlir
Labels: mlir

#151820 [Offload][UnitTests] Fix incorrect CUDA path variable in CMake helper
  offload/unittests/CMakeLists.txt
Labels: offload

#151668 [lldb][DWARFIndex][NFC] Change GetNamespace/GetGlobalVariables APIs to use IterationAction
  lldb/source/Plugins/SymbolFile/DWARF/AppleDWARFIndex.cpp
  lldb/source/Plugins/SymbolFile/DWARF/AppleDWARFIndex.h
  lldb/source/Plugins/SymbolFile/DWARF/DWARFIndex.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DWARFIndex.h
  lldb/source/Plugins/SymbolFile/DWARF/DebugNamesDWARFIndex.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DebugNamesDWARFIndex.h
  lldb/source/Plugins/SymbolFile/DWARF/ManualDWARFIndex.cpp
  lldb/source/Plugins/SymbolFile/DWARF/ManualDWARFIndex.h
  lldb/source/Plugins/SymbolFile/DWARF/SymbolFileDWARF.cpp
Labels: lldb

#151822 [clang][NFC] Remove leftover comment
  clang/lib/Sema/SemaDecl.cpp
Labels: clang, clang:frontend

#151741 [CIR] Fix outdated bitfield iteration logic in accumulateFields
  clang/lib/CIR/CodeGen/CIRGenRecordLayoutBuilder.cpp
  clang/test/CIR/CodeGen/bitfields.c
Labels: clang, ClangIR

#151799 [llvm-objdump] Remove an unnecessary cast (NFC)
  llvm/tools/llvm-objdump/COFFDump.cpp
Labels: llvm:binary-utilities

#151801 [clang-tidy] Use llvm::none_of (NFC)
  clang-tools-extra/clang-tidy/bugprone/InvalidEnumDefaultInitializationCheck.cpp
  clang-tools-extra/clang-tidy/bugprone/NonZeroEnumToBoolConversionCheck.cpp
Labels: clang-tools-extra, clang-tidy

#151802 [clang] Proofread LanguageExtensions.rst
  clang/docs/LanguageExtensions.rst
Labels: clang

#151572 [RISCV] Refactor X60 scheduling model helper classes. NFC.
  llvm/lib/Target/RISCV/RISCVSchedSpacemitX60.td
Labels: backend:RISC-V

#149719 [X86] Try to shrink i64 compares if the input has enough sign bits
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/cmp.ll
Labels: backend:X86

#151804 [AMDGPU] v_cvt_scale_pk16 gfx1250 instructions
  clang/include/clang/Basic/BuiltinsAMDGPU.def
  clang/lib/Sema/SemaAMDGPU.cpp
  clang/test/CodeGenOpenCL/builtins-amdgcn-gfx1250.cl
  clang/test/SemaOpenCL/builtins-amdgcn-error-gfx1250-param.cl
  llvm/include/llvm/IR/IntrinsicsAMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPURegisterBankInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
  llvm/lib/Target/AMDGPU/VOP3Instructions.td
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.cvt.scale.pk.ll
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3.s
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3.txt
Labels: clang, backend:AMDGPU, clang:frontend, mc, llvm:ir

#151658 [clang-format][NFC] Maximize usage of isOneOf() in TokenAnnotator
  clang/lib/Format/IntegerLiteralSeparatorFixer.cpp
  clang/lib/Format/TokenAnnotator.cpp
Labels: clang-format

#151807 [AMDGPU] v_cvt_scalef32_pk16_* gfx1250 instructions
  clang/include/clang/Basic/BuiltinsAMDGPU.def
  clang/test/CodeGenOpenCL/builtins-amdgcn-gfx1250.cl
  llvm/include/llvm/IR/IntrinsicsAMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPURegisterBankInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
  llvm/lib/Target/AMDGPU/VOP3Instructions.td
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.cvt.scalef32.pk16.gfx1250.ll
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3.s
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3.txt
Labels: clang, backend:AMDGPU, clang:frontend, mc, llvm:ir

#151838 [libc] fix build errors caused by atanhf16.
  libc/src/__support/math/atanhf16.h
Labels: libc

#151810 [AMDGPU] v_cvt_scalef32_sr_pk16_* gfx1250 instructions
  clang/include/clang/Basic/BuiltinsAMDGPU.def
  clang/test/CodeGenOpenCL/builtins-amdgcn-gfx1250.cl
  llvm/include/llvm/IR/IntrinsicsAMDGPU.td
  llvm/lib/Target/AMDGPU/AMDGPURegisterBankInfo.cpp
  llvm/lib/Target/AMDGPU/SIInstrInfo.td
  llvm/lib/Target/AMDGPU/VOP3Instructions.td
  llvm/test/CodeGen/AMDGPU/llvm.amdgcn.cvt.scalef32.sr.pk16.ll
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3-fake16.s
  llvm/test/MC/AMDGPU/gfx1250_asm_vop3.s
  llvm/test/MC/Disassembler/AMDGPU/gfx1250_dasm_vop3.txt
Labels: clang, backend:AMDGPU, clang:frontend, mc, llvm:ir

#151065 [DAG] Always use stack to promote bitcast when the source is vector
  llvm/lib/CodeGen/SelectionDAG/LegalizeIntegerTypes.cpp
  llvm/test/CodeGen/AMDGPU/ctpop16.ll
  llvm/test/CodeGen/AMDGPU/kernel-args.ll
  llvm/test/CodeGen/AMDGPU/load-constant-i16.ll
  llvm/test/CodeGen/AMDGPU/load-constant-i8.ll
  llvm/test/CodeGen/AMDGPU/load-global-i16.ll
  llvm/test/CodeGen/AMDGPU/load-global-i8.ll
  llvm/test/CodeGen/AMDGPU/load-local-i16.ll
  llvm/test/CodeGen/AMDGPU/min.ll
  llvm/test/CodeGen/AMDGPU/shl.ll
  llvm/test/CodeGen/AMDGPU/sra.ll
  llvm/test/CodeGen/RISCV/rvv/fp4-bitcast.ll
Labels: backend:AMDGPU, backend:RISC-V, llvm:SelectionDAG

#151841 [libc] Enable float math functions on the GPU
  libc/config/gpu/amdgpu/entrypoints.txt
  libc/config/gpu/nvptx/entrypoints.txt
  libc/include/math.yaml
Labels: backend:AMDGPU, libc

#143193 [clangd][NFC] added const and constexpr to HeaderSourceSwitch
  clang-tools-extra/clangd/HeaderSourceSwitch.cpp
Labels: clang-tools-extra, clangd

#151835 [RISCV] Remove duplicate vsha2ch/vsha2cl/vsha2ms i32 patterns. NFC
  llvm/lib/Target/RISCV/RISCVInstrInfoZvk.td
Labels: backend:RISC-V

#151848 [clang][bytecode] Remove unused includes
  clang/lib/AST/ByteCode/Context.cpp
  clang/lib/AST/ByteCode/Context.h
  clang/lib/AST/ByteCode/Function.cpp
  clang/lib/AST/ByteCode/Function.h
  clang/lib/AST/ByteCode/InterpState.cpp
  clang/lib/AST/ByteCode/PrimType.h
  clang/lib/AST/ByteCode/Program.cpp
Labels: clang, clang:frontend, clang:bytecode

#151624 Insert headers in global module fragment
  clang/lib/Tooling/Inclusions/HeaderIncludes.cpp
  clang/unittests/Tooling/HeaderIncludesTest.cpp
Labels: clang

#151832 [AMDGPU] fmuladd.f32.ll - clean up prefixes and regenerate checks
  llvm/test/CodeGen/AMDGPU/fmuladd.f32.ll
Labels: backend:AMDGPU

#151011 [clang-tidy] Add 'enable-check-profiling' with aggregated results to 'run-clang-tidy'
  clang-tools-extra/clang-tidy/tool/run-clang-tidy.py
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/test/clang-tidy/infrastructure/run-clang-tidy-enable-check-profile.cpp
Labels: clang-tools-extra, clang-tidy

#151859 Revert "[clang-tidy] fix `bugprone-narrowing-conversions` false positive for conditional expression"
  clang-tools-extra/clang-tidy/bugprone/NarrowingConversionsCheck.cpp
  clang-tools-extra/clang-tidy/bugprone/NarrowingConversionsCheck.h
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/test/clang-tidy/checkers/bugprone/narrowing-conversions-conditional-expressions.c
  clang-tools-extra/test/clang-tidy/checkers/bugprone/narrowing-conversions-conditional-expressions.cpp
Labels: clang-tools-extra, clang-tidy

#135831 [clang-tidy] Fix bugprone-tagged-union-member-count false-positive
  clang-tools-extra/clang-tidy/bugprone/TaggedUnionMemberCountCheck.cpp
  clang-tools-extra/docs/ReleaseNotes.rst
  clang-tools-extra/docs/clang-tidy/checks/bugprone/tagged-union-member-count.rst
  clang-tools-extra/test/clang-tidy/checkers/bugprone/Inputs/tagged-union-member-count/stdnamespace.h
  clang-tools-extra/test/clang-tidy/checkers/bugprone/Inputs/tagged-union-member-count/system/pthread.h
  clang-tools-extra/test/clang-tidy/checkers/bugprone/tagged-union-member-count.c
  clang-tools-extra/test/clang-tidy/checkers/bugprone/tagged-union-member-count.cpp
  clang-tools-extra/test/clang-tidy/checkers/bugprone/tagged-union-member-count.m
  clang-tools-extra/test/clang-tidy/checkers/bugprone/tagged-union-member-count.mm
Labels: clang-tools-extra, clang-tidy

#148604 RuntimeLibcalls: Stop opting out of exp10
  llvm/include/llvm/IR/RuntimeLibcalls.td
  llvm/lib/IR/RuntimeLibcalls.cpp
  llvm/test/CodeGen/Generic/fp128-exp10-libcall.ll
  llvm/test/CodeGen/Generic/fp128-math-libcalls.ll
  llvm/test/CodeGen/X86/exp10-libcall-names.ll
  llvm/test/CodeGen/X86/exp10l-libcall-names.ll
Labels: backend:X86, llvm:ir

#151849 [Scalar] Remove an unnecessary cast (NFC)
  llvm/lib/Transforms/Scalar/LoopLoadElimination.cpp
Labels: llvm:transforms

#151850 [Vectorize] Remove an unnecessary cast (NFC)
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: vectorizers, llvm:transforms

#151851 [llvm-readobj] Remove an unnecessary cast (NFC)
  llvm/tools/llvm-readobj/ELFDumper.cpp
Labels: llvm:binary-utilities

#151852 [Sema] Use llvm::iterator_range::empty (NFC)
  clang/lib/Sema/AnalysisBasedWarnings.cpp
  clang/lib/Sema/SemaDecl.cpp
  clang/lib/Sema/SemaExpr.cpp
  clang/lib/Sema/SemaInit.cpp
  clang/lib/Sema/SemaLookup.cpp
Labels: clang, clang:frontend

#151873 [NFC][run-clang-tidy] Add minor type hints
  clang-tools-extra/clang-tidy/tool/run-clang-tidy.py
Labels: clang-tools-extra, clang-tidy

#150857 Thread safety analysis: Don't warn on acquiring reentrant capability
  clang/lib/Analysis/ThreadSafety.cpp
  clang/test/SemaCXX/warn-thread-safety-negative.cpp
Labels: clang, clang:analysis

#151657 [SPIRV] Test file for memcpy intrinsic
  llvm/test/CodeGen/SPIRV/llvm-intrinsics/memcpy.align.ll
Labels: backend:SPIR-V

#151645 [SPIRV] Addition of spe-constant-length-array.ll, bit_reverse_small_type.ll test files
  llvm/test/CodeGen/SPIRV/SpecConstants/spec-constant-length-array.ll
  llvm/test/CodeGen/SPIRV/llvm-intrinsics/bitreverse_small_type.ll
Labels: backend:SPIR-V

#150670 [LifetimeSafety] Handle pruned-edges (null blocks) in dataflow
  clang/lib/Analysis/LifetimeSafety.cpp
  clang/unittests/Analysis/LifetimeSafetyTest.cpp
Labels: clang, clang:analysis

#142097 [SPIRV] Addition of test files for @llvm.tan and zero_length_array.ll
  llvm/test/CodeGen/SPIRV/llvm-intrinsics/tan.ll
  llvm/test/CodeGen/SPIRV/zero-length-array.ll
Labels: backend:SPIR-V

#151678 [SPIRV] Porting 4 tests from Translator
  llvm/test/CodeGen/SPIRV/GlobalVarAddrspace.ll
  llvm/test/CodeGen/SPIRV/SamplerArgNonKernel.ll
  llvm/test/CodeGen/SPIRV/align-duplicate.ll
  llvm/test/CodeGen/SPIRV/duplicate-types.ll
Labels: backend:SPIR-V

#129222 [SPIRV] support for the intrinsic @llvm.fptosi.sat.* and @llvm.fptoui.sat.*
  llvm/lib/Target/SPIRV/SPIRVEmitIntrinsics.cpp
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/lib/Target/SPIRV/SPIRVLegalizerInfo.cpp
  llvm/test/CodeGen/SPIRV/llvm-intrinsics/fp-to-int-intrinsics.ll
Labels: backend:SPIR-V

#148780 RuntimeLibcalls: Really move default libcall handling to tablegen
  llvm/include/llvm/IR/RuntimeLibcalls.h
  llvm/include/llvm/IR/RuntimeLibcalls.td
  llvm/lib/IR/RuntimeLibcalls.cpp
  llvm/test/CodeGen/AVR/llvm.sincos.ll
  llvm/test/TableGen/RuntimeLibcallEmitter.td
  llvm/utils/TableGen/Basic/RuntimeLibcallsEmitter.cpp
Labels: backend:X86, tablegen, llvm:ir

#151000 [llvm] using wrapper llvm::sort(nfc)
  llvm/lib/Bitcode/Writer/BitcodeWriter.cpp
  llvm/lib/IR/AsmWriter.cpp
  llvm/lib/Support/BalancedPartitioning.cpp
  llvm/lib/Target/AMDGPU/AMDGPULowerModuleLDSPass.cpp
  llvm/lib/Target/Hexagon/HexagonISelDAGToDAGHVX.cpp
  llvm/lib/Transforms/Scalar/GVNSink.cpp
Labels: backend:AMDGPU, backend:Hexagon, llvm:codegen, llvm:support, llvm:ir, llvm:transforms

#151778 [PGO][profcheck] ignore explicitly cold functions
  llvm/lib/Transforms/Utils/ProfileVerify.cpp
  llvm/test/Transforms/PGOProfile/prof-inject-existing.ll
  llvm/test/Transforms/PGOProfile/prof-verify-as-needed.ll
  llvm/test/Transforms/PGOProfile/prof-verify-existing.ll
  llvm/test/Transforms/PGOProfile/prof-verify-known-cold.ll
  llvm/test/Transforms/PGOProfile/prof-verify-no-entrycount.ll
  llvm/test/Transforms/PGOProfile/prof-verify.ll
Labels: PGO, llvm:transforms

#148789 RuntimeLibcalls: Move __stack_chk_fail config to tablegen
  llvm/include/llvm/IR/RuntimeLibcalls.td
  llvm/lib/IR/RuntimeLibcalls.cpp
Labels: backend:ARM, backend:X86, tablegen, platform:openbsd, llvm:ir

#148792 RuntimeLibcalls: Remove target check for sjlj config
  llvm/lib/IR/RuntimeLibcalls.cpp
Labels: backend:ARM, backend:X86, tablegen, platform:openbsd, llvm:ir

#151697 [llvm-reduce] Do not replace lifetime pointer arg with zero/one/poison
  llvm/test/tools/llvm-reduce/reduce-operands-alloca.ll
  llvm/tools/llvm-reduce/deltas/ReduceOperands.cpp
Labels: tools:llvm-reduce

#149876 [LLDB][NativePDB] Allow type lookup in namespaces
  lldb/source/Plugins/SymbolFile/NativePDB/PdbUtil.h
  lldb/source/Plugins/SymbolFile/NativePDB/SymbolFileNativePDB.cpp
  lldb/source/Plugins/SymbolFile/NativePDB/SymbolFileNativePDB.h
  lldb/source/Symbol/Type.cpp
  lldb/test/Shell/SymbolFile/NativePDB/namespace-access.test
Labels: lldb

#151148 [IR] Allow poison argument to lifetime markers
  llvm/docs/LangRef.rst
  llvm/lib/Analysis/StackLifetime.cpp
  llvm/lib/CodeGen/GlobalISel/IRTranslator.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp
  llvm/lib/IR/Verifier.cpp
  llvm/lib/Transforms/Instrumentation/AddressSanitizer.cpp
  llvm/lib/Transforms/Instrumentation/MemorySanitizer.cpp
  llvm/lib/Transforms/Utils/Local.cpp
  llvm/lib/Transforms/Utils/MemoryTaggingSupport.cpp
  llvm/test/CodeGen/AArch64/lifetime-poison.ll
  llvm/test/Instrumentation/AddressSanitizer/lifetime.ll
  llvm/test/Instrumentation/HWAddressSanitizer/stack-safety-analysis.ll
  llvm/test/Transforms/InstCombine/pr150338.ll
  llvm/test/Transforms/InstCombine/unreachable-alloca-lifetime-markers.ll
Labels: backend:AArch64, llvm:globalisel, llvm:instcombine, llvm:SelectionDAG, compiler-rt:sanitizer, llvm:ir, llvm:analysis, llvm:transforms

#150870 RuntimeLibcalls: Move __stack_smash_handler config to tablegen
  llvm/include/llvm/IR/RuntimeLibcalls.td
  llvm/lib/IR/RuntimeLibcalls.cpp
Labels: backend:ARM, backend:X86, tablegen, platform:openbsd, llvm:ir

#151705 [tools] Cleanup spirv-sim
  llvm/test/CodeGen/SPIRV/lit.local.cfg
  llvm/test/Other/spirv-sim/branch.spv
  llvm/test/Other/spirv-sim/call.spv
  llvm/test/Other/spirv-sim/constant.spv
  llvm/test/Other/spirv-sim/lit.local.cfg
  llvm/test/Other/spirv-sim/loop.spv
  llvm/test/Other/spirv-sim/simple-bad-result.spv
  llvm/test/Other/spirv-sim/simple.spv
  llvm/test/Other/spirv-sim/simulator-args.spv
  llvm/test/Other/spirv-sim/switch.spv
  llvm/test/Other/spirv-sim/wave-get-lane-index.spv
  llvm/test/Other/spirv-sim/wave-read-lane-first.spv
  llvm/utils/spirv-sim/instructions.py
  llvm/utils/spirv-sim/spirv-sim.py
Labels: backend:SPIR-V

#151357 [GlobalISel] Add constant matcher for APInt
  llvm/include/llvm/CodeGen/GlobalISel/MIPatternMatch.h
  llvm/include/llvm/CodeGen/GlobalISel/Utils.h
  llvm/lib/CodeGen/GlobalISel/Utils.cpp
  llvm/unittests/CodeGen/GlobalISel/PatternMatchTest.cpp
Labels: llvm:globalisel

#150485 [AArch64] Add sve bf16 fpext and fpround costs.
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/AArch64/sve-fpext.ll
  llvm/test/Analysis/CostModel/AArch64/sve-fptrunc.ll
Labels: backend:AArch64, llvm:analysis

#148134 [RISCV] Support resumable non-maskable interrupt handlers
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/Attr.td
  clang/include/clang/Basic/AttrDocs.td
  clang/lib/CodeGen/Targets/RISCV.cpp
  clang/lib/Sema/SemaRISCV.cpp
  clang/test/Sema/riscv-interrupt-attr-rnmi.c
  llvm/docs/RISCVUsage.rst
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/lib/Target/RISCV/RISCVInstrInfo.td
  llvm/test/CodeGen/RISCV/rnmi-interrupt-attr-error.ll
  llvm/test/CodeGen/RISCV/rnmi-interrupt-attr.ll
Labels: clang, backend:RISC-V, clang:frontend, clang:codegen

#151918 [AMDGPU] Fix nested cases
  clang/lib/Sema/SemaAMDGPU.cpp
Labels: clang, backend:AMDGPU, clang:frontend

#150978 [mlir][memref][spirv] Add SPIR-V Image Lowering
  mlir/lib/Conversion/MemRefToSPIRV/MemRefToSPIRV.cpp
  mlir/lib/Dialect/SPIRV/Transforms/SPIRVConversion.cpp
  mlir/test/Conversion/MemRefToSPIRV/memref-to-spirv.mlir
Labels: mlir:spirv, mlir

#145223 [Reland][ValueTracking] Improve Bitcast handling to match SDAG
  llvm/lib/Analysis/ValueTracking.cpp
  llvm/test/Transforms/InstCombine/X86/x86-vector-shifts.ll
  llvm/test/Transforms/InstCombine/bitcast-known-bits.ll
  llvm/test/Transforms/InstSimplify/shift-knownbits.ll
Labels: llvm:instcombine, llvm:analysis, llvm:transforms

#137550 [clangd] textDocument/documentLink to support include statements with macro argument
  clang-tools-extra/clangd/XRefs.cpp
  clang-tools-extra/clangd/unittests/XRefsTests.cpp
Labels: clang-tools-extra, clangd

#128938 [VectorCombine] Shrink loads used in shufflevector rebroadcasts
  clang/test/CodeGenOpenCL/preserve_vec3.cl
  llvm/lib/Transforms/Vectorize/VectorCombine.cpp
  llvm/test/Transforms/PhaseOrdering/X86/vec-load-combine.ll
  llvm/test/Transforms/VectorCombine/X86/load-inseltpoison.ll
  llvm/test/Transforms/VectorCombine/X86/load-widening.ll
  llvm/test/Transforms/VectorCombine/X86/shuffle-of-shuffles.ll
  llvm/test/Transforms/VectorCombine/load-shufflevector.ll
Labels: clang, backend:SystemZ, vectorizers, llvm:transforms

#151833 [clang][bytecode] Try to load primitive values directly
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/AST/ByteCode/EvalEmitter.cpp
  clang/lib/AST/ByteCode/Interp.cpp
  clang/lib/AST/ByteCode/Interp.h
  clang/test/AST/ByteCode/cxx11.cpp
Labels: clang, clang:frontend, clang:bytecode

#150233 [flang][Lower] Make reduction processing failure a hard error
  flang/lib/Lower/Bridge.cpp
  flang/lib/Lower/OpenMP/ClauseProcessor.cpp
  flang/test/Lower/OpenMP/Todo/wsloop-reduction-non-intrinsic.f90
Labels: flang, flang:fir-hlfir, flang:openmp

#151702 [Docs] Some updates to the Clang user's manual
  clang/docs/UsersManual.rst
Labels: documentation, clang

#151759 [flang][OpenMP] Remove unused class OmpMemoryOrderClause, NFC
  flang/examples/FeatureList/FeatureList.cpp
  flang/include/flang/Parser/dump-parse-tree.h
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Parser/openmp-parsers.cpp
  flang/lib/Parser/unparse.cpp
Labels: flang, flang:parser

#151726 [LLVM][InstCombine] foldICmpEquality: Compare APInt values rather than addresses.
  llvm/lib/Transforms/InstCombine/InstCombineCompares.cpp
  llvm/test/Transforms/InstCombine/compare-signs.ll
Labels: llvm:instcombine, llvm:transforms

#150417 [clang][analyzer] Add StoreToImmutable checker
  clang/docs/analyzer/checkers.rst
  clang/docs/analyzer/checkers/storetoimmutable_example.cpp
  clang/include/clang/StaticAnalyzer/Checkers/Checkers.td
  clang/lib/StaticAnalyzer/Checkers/CMakeLists.txt
  clang/lib/StaticAnalyzer/Checkers/StoreToImmutableChecker.cpp
  clang/test/Analysis/store-to-immutable-basic.c
  clang/test/Analysis/store-to-immutable-basic.cpp
  clang/test/Analysis/store-to-immutable-lambda-init.cpp
Labels: clang, clang:static analyzer

#151684 [clang][DebugInfo] Disable VTable debug info (#130255) on COFF platforms
  clang/lib/CodeGen/CGDebugInfo.cpp
  clang/test/CodeGenCXX/debug-info-class.cpp
  clang/test/CodeGenCXX/vtable-debug-info-inheritance-simple.cpp
  clang/test/Modules/ExtDebugInfo.cpp
Labels: clang, clang:modules, clang:codegen, debuginfo

#151277 clang: Make the type_info builtin declaration a singleton
  clang/docs/ReleaseNotes.rst
  clang/include/clang/AST/ASTContext.h
  clang/include/clang/AST/DeclID.h
  clang/lib/Sema/Sema.cpp
  clang/lib/Serialization/ASTReader.cpp
  clang/lib/Serialization/ASTWriter.cpp
  clang/test/Modules/pr151277.cpp
Labels: clang, clang:frontend, clang:modules

#151963 [MLIR] Add test to check that we don't reinit after running pass again
  mlir/test/CAPI/pass.c
Labels: mlir

#151926 [Offload] Rework `MAX_WORK_GROUP_SIZE`
  offload/liboffload/API/Device.td
  offload/liboffload/src/OffloadImpl.cpp
  offload/plugins-nextgen/amdgpu/src/rtl.cpp
  offload/plugins-nextgen/cuda/src/rtl.cpp
  offload/unittests/OffloadAPI/device/olGetDeviceInfo.cpp
  offload/unittests/OffloadAPI/device/olGetDeviceInfoSize.cpp
Labels: backend:AMDGPU, offload

#151815 [clang][NFC] Code Cleanup of inferred noreturn attributes in explicit specializations.
  clang/lib/Sema/SemaDecl.cpp
Labels: clang, clang:frontend

#151964 [Clang] Hide `offload-arch` initialization errors behind verbose flag
  clang/tools/offload-arch/AMDGPUArchByHIP.cpp
  clang/tools/offload-arch/NVPTXArch.cpp
Labels: clang, backend:AMDGPU

#151938 [DAG] getMinMaxOpcodeForFP - split if-else chain. NFC.
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
Labels: llvm:SelectionDAG

#151901 [CodeGen] Remove an unnecessary cast (NFC)
  llvm/lib/CodeGen/TargetInstrInfo.cpp
Labels: llvm:codegen

#151903 [lldb] Include bit.h instead of SwapByteOrder.h (NFC)
  lldb/include/lldb/Core/Opcode.h
Labels: lldb

#151904 [AST] Use llvm::iterator_range::empty (NFC)
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/lib/AST/ByteCode/Context.cpp
  clang/lib/AST/DeclCXX.cpp
  clang/lib/AST/DeclPrinter.cpp
  clang/lib/AST/ExprConstant.cpp
  clang/lib/AST/QualTypeNames.cpp
Labels: clang, clang:frontend, clang:bytecode
