Repository llvm/llvm-project, pull requests merged in 2025-01, with the labels that each got.

#121401 [libc] fix generic __stack_check_fail for fuchsia
  libc/src/compiler/generic/__stack_chk_fail.cpp
Labels: libc

#120352 [ConstantRange] Estimate tighter lower (upper) bounds for masked binary and (or)
  clang/test/CodeGen/AArch64/fpm-helpers.c
  llvm/lib/IR/ConstantRange.cpp
  llvm/test/Transforms/SCCP/range-and-or-bit-masked.ll
  llvm/unittests/IR/ConstantRangeTest.cpp
Labels: clang, llvm:ir, llvm:transforms

#119509 [AMDGPU] Pre-commit tests for "lshr + mad" fold
  llvm/test/CodeGen/AMDGPU/mad_64_32.ll
Labels: backend:AMDGPU

#121088 [GlobalIsel] Add combine for select with constants
  llvm/lib/CodeGen/GlobalISel/CombinerHelper.cpp
  llvm/test/CodeGen/AArch64/GlobalISel/combine-select.mir
Labels: backend:AArch64, llvm:globalisel

#121107 [EntryExitInstrumenter][AArch64][RISCV][LoongArch] Pass `__builtin_return_address(0)` into `_mcount`
  llvm/lib/Transforms/Utils/EntryExitInstrumenter.cpp
  llvm/test/Transforms/EntryExitInstrumenter/mcount-with-frompc.ll
Labels: llvm:transforms

#121405 [Clang] Resolved type of expression indexing into pack of values of a non-dependent type
  clang/docs/ReleaseNotes.rst
  clang/lib/AST/ExprCXX.cpp
  clang/test/SemaCXX/cxx2c-pack-indexing.cpp
Labels: clang, clang:frontend

#117458 [clang] Canonicalize absolute paths in dependency file
  clang/include/clang/Frontend/Utils.h
  clang/lib/Frontend/DependencyFile.cpp
  clang/test/Frontend/dependency-gen-symlink.c
  clang/test/Frontend/dependency-gen-windows-duplicates.c
  clang/test/VFS/external-names.c
Labels: clang

#120556 [CodeGen] LiveRegMatrix: Use allocator through a unique_ptr
  llvm/include/llvm/CodeGen/LiveRegMatrix.h
  llvm/lib/CodeGen/LiveRegMatrix.cpp
Labels: llvm:regalloc

#121352 Reapply "[libc++] Explicitly convert to masks in SIMD code (#107983)"
  libcxx/include/__algorithm/mismatch.h
  libcxx/include/__algorithm/simd_utils.h
Labels: libc++

#121223 [mlir] Prepend include directories before LLVM includes
  mlir/CMakeLists.txt
Labels: cmake, mlir

#93564 [XRay][account] add account test for nonempty exit mismatch
  llvm/test/tools/llvm-xray/X86/account-exit-mismatch-empty-stack-error.yaml
  llvm/test/tools/llvm-xray/X86/account-exit-mismatch-non-empty-stack-error.yaml
  llvm/test/tools/llvm-xray/X86/account-keep-going.yaml
Labels: xray

#121422 [NFC][ConstraintElimination] Optimize code styles
  llvm/lib/Transforms/Scalar/ConstraintElimination.cpp
Labels: llvm:transforms

#121426 [AIX] [lit] Fix shtest-format.py to account for behaviour on AIX
  llvm/utils/lit/tests/shtest-format.py
Labels: platform:aix, llvm-lit, testing-tools

#121342 [LLD][COFF] Move addFile implementation to LinkerDriver (NFC)
  lld/COFF/Driver.cpp
  lld/COFF/Driver.h
  lld/COFF/InputFiles.cpp
  lld/COFF/SymbolTable.cpp
  lld/COFF/SymbolTable.h
Labels: lld, lld:COFF, platform:windows

#120159 Reapply "[Driver][OHOS] Fix lld link issue for OHOS (#118192)"
  clang/lib/Driver/ToolChains/OHOS.cpp
Labels: clang, clang:driver

#121404 [clang-format] Support globstar in .clang-format-ignore
  clang/docs/ClangFormat.rst
  clang/docs/ReleaseNotes.rst
  clang/lib/Format/MatchFilePath.cpp
  clang/unittests/Format/MatchFilePathTest.cpp
Labels: clang-format

#121443 [libc] Move hdrgen yaml files into include/
  libc/docs/dev/header_generation.rst
  libc/include/CMakeLists.txt
  libc/include/arpa/inet.yaml
  libc/include/assert.yaml
  libc/include/complex.yaml
  libc/include/ctype.yaml
  libc/include/dirent.yaml
  libc/include/dlfcn.yaml
  libc/include/elf.yaml
  libc/include/errno.yaml
  libc/include/fcntl.yaml
  libc/include/features.yaml
  libc/include/fenv.yaml
  libc/include/float.yaml
  libc/include/inttypes.yaml
  libc/include/limits.yaml
  libc/include/link.yaml
  libc/include/locale.yaml
  libc/include/malloc.yaml
  libc/include/math.yaml
  libc/include/pthread.yaml
  libc/include/sched.yaml
  libc/include/search.yaml
  libc/include/setjmp.yaml
  libc/include/signal.yaml
  libc/include/spawn.yaml
  libc/include/stdbit.yaml
  libc/include/stdckdint.yaml
  libc/include/stdfix.yaml
  libc/include/stdint.yaml
  libc/include/stdio.yaml
  libc/include/stdlib.yaml
  libc/include/string.yaml
  libc/include/strings.yaml
  libc/include/sys/auxv.yaml
  libc/include/sys/epoll.yaml
  libc/include/sys/ioctl.yaml
  libc/include/sys/mman.yaml
  libc/include/sys/prctl.yaml
  libc/include/sys/random.yaml
  libc/include/sys/resource.yaml
  libc/include/sys/select.yaml
  libc/include/sys/sendfile.yaml
  libc/include/sys/socket.yaml
  libc/include/sys/stat.yaml
  libc/include/sys/statvfs.yaml
  libc/include/sys/syscall.yaml
  libc/include/sys/time.yaml
  libc/include/sys/types.yaml
  libc/include/sys/utsname.yaml
  libc/include/sys/wait.yaml
  libc/include/termios.yaml
  libc/include/threads.yaml
  libc/include/time.yaml
  libc/include/uchar.yaml
  libc/include/unistd.yaml
  libc/include/wchar.yaml
  libc/src/math/docs/add_math_function.md
Labels: libc

#121445 [libc] Make GpuHeaderFile a subclass
  libc/utils/hdrgen/gpu_headers.py
Labels: libc

#121318 [clang-format] Add `VariableTemplates` option
  clang/docs/ClangFormatStyleOptions.rst
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Format/Format.h
  clang/lib/Format/Format.cpp
  clang/lib/Format/FormatToken.h
  clang/lib/Format/FormatTokenLexer.cpp
  clang/lib/Format/FormatTokenLexer.h
  clang/lib/Format/TokenAnnotator.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#121373 [X86][AVX10.2] Lower fmininum/fmaximum to VMINMAX*
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/lib/Target/X86/X86InstrAVX10.td
  llvm/test/CodeGen/X86/fminimum-fmaximum.ll
  llvm/test/TableGen/x86-fold-tables.inc
Labels: backend:X86

#121309 [clangd] Remove clangd's HasValue GMock matcher
  clang-tools-extra/clangd/unittests/Matchers.h
  clang-tools-extra/clangd/unittests/TypeHierarchyTests.cpp
Labels: clang-tools-extra, clangd

#121453 [clang][bytecode] Check for memcpy/memmove dummy pointers earlier
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/test/CodeGen/builtin-memfns.c
Labels: clang, clang:frontend

#121461 [clang][bytecode] Consider start index when copying composite array
  clang/lib/AST/ByteCode/InterpBuiltinBitCast.cpp
  clang/test/AST/ByteCode/builtin-functions.cpp
Labels: clang, clang:frontend

#121462 [clang][bytecode] Consider unknown-size arrays in memcpy/memcmp
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/test/AST/ByteCode/builtin-functions.cpp
Labels: clang, clang:frontend

#121096 [JITLink][LoongArch] Add R_LARCH_{B16,B21} relocations support
  llvm/include/llvm/ExecutionEngine/JITLink/loongarch.h
  llvm/lib/ExecutionEngine/JITLink/ELF_loongarch.cpp
  llvm/lib/ExecutionEngine/JITLink/loongarch.cpp
  llvm/test/ExecutionEngine/JITLink/LoongArch/ELF_loongarch32_relocations.s
  llvm/test/ExecutionEngine/JITLink/LoongArch/ELF_loongarch64_relocations.s
Labels: backend:loongarch

#120781 [flang][debug] Correct pointer size.
  flang/lib/Optimizer/Transforms/DebugTypeGenerator.cpp
Labels: flang, flang:fir-hlfir

#120785 [flang][NFC] Replace dyn_cast_or_null with dyn_cast_if_present.
  flang/lib/Optimizer/Transforms/DebugTypeGenerator.cpp
Labels: flang, flang:fir-hlfir

#118940 [MLIR][SCFToEmitC] Convert types while converting from SCF to EmitC
  mlir/include/mlir/Conversion/SCFToEmitC/SCFToEmitC.h
  mlir/lib/Conversion/SCFToEmitC/SCFToEmitC.cpp
  mlir/test/Conversion/SCFToEmitC/for.mlir
  mlir/test/Conversion/SCFToEmitC/switch.mlir
Labels: mlir, mlir:emitc

#119419 [InstCombine] Fix constant swap case of fcmp + fadd + sel xfrm
  llvm/lib/Transforms/InstCombine/InstCombineSelect.cpp
  llvm/test/Transforms/InstCombine/fcmp-fadd-select.ll
Labels: llvm:instcombine, llvm:transforms

#121339 [LLD][COFF] Emit warnings for missing load config on EC targets
  lld/COFF/SymbolTable.cpp
  lld/test/COFF/arm64x-loadconfig.s
Labels: lld, lld:COFF, platform:windows

#121033 [lldb][DWARFASTParserClang][NFC] Remove redundant parameter to ParseChildParameters
  lldb/source/Plugins/SymbolFile/DWARF/DWARFASTParserClang.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DWARFASTParserClang.h
Labels: lldb

#121467 [clang][bytecode] Always return false for invalid bcp results
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/test/AST/ByteCode/builtin-constant-p.cpp
Labels: clang, clang:frontend

#121476 Re-introduce Type Conversion on EmitC
  mlir/include/mlir/Conversion/SCFToEmitC/SCFToEmitC.h
  mlir/lib/Conversion/SCFToEmitC/CMakeLists.txt
  mlir/lib/Conversion/SCFToEmitC/SCFToEmitC.cpp
  mlir/test/Conversion/SCFToEmitC/for.mlir
  mlir/test/Conversion/SCFToEmitC/switch.mlir
Labels: mlir, mlir:emitc

#119720 [LoopVectorize] Make needsExtract notice scalarized instructions
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/interleaved_cost.ll
  llvm/test/Transforms/LoopVectorize/ARM/mve-interleaved-cost.ll
Labels: vectorizers, llvm:transforms

#119388 [analyzer] Don't assume third iteration in loops
  clang/docs/ReleaseNotes.rst
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/CoreEngine.h
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/ExprEngine.h
  clang/lib/StaticAnalyzer/Core/CoreEngine.cpp
  clang/lib/StaticAnalyzer/Core/ExprEngine.cpp
  clang/test/Analysis/loop-assumptions.c
  clang/test/Analysis/loop-unrolling.cpp
  clang/test/Analysis/misc-ps-region-store.m
Labels: clang, clang:static analyzer

#120725 [llvm][aarch64] fix copypaste typo
  llvm/lib/Target/AArch64/AArch64ISelLowering.cpp
  llvm/test/CodeGen/AArch64/vecreduce-add.ll
Labels: backend:AArch64

#121437 [cmake] Extend zstd.dll finding logic from MSVC to WIN32 in general
  llvm/cmake/modules/Findzstd.cmake
Labels: cmake

#121207 RegAllocGreedy: Add dummy priority advisor for writing MIR tests
  llvm/lib/CodeGen/RegAllocGreedy.cpp
  llvm/lib/CodeGen/RegAllocPriorityAdvisor.cpp
  llvm/lib/CodeGen/RegAllocPriorityAdvisor.h
  llvm/test/CodeGen/AMDGPU/dummy-regalloc-priority-advisor.mir
Labels: backend:AMDGPU, llvm:regalloc

#120297 flang: fix backtrace build on FreeBSD
  flang/runtime/stop.cpp
Labels: flang:runtime, flang

#121112 [mlir][emitc] Fix invalid syntax in example of emitc.return
  mlir/include/mlir/Dialect/EmitC/IR/EmitC.td
Labels: mlir, mlir:emitc

#120610 [CodeGen] Remove atEnd method from defusechain iterators
  llvm/include/llvm/CodeGen/MachineRegisterInfo.h
  llvm/lib/CodeGen/MachineRegisterInfo.cpp
  llvm/lib/CodeGen/MachineTraceMetrics.cpp
  llvm/lib/CodeGen/SwiftErrorValueTracking.cpp
Labels: llvm:codegen

#121448 [llvm][Support][Windows] Fix slash in path for remove_directories
  llvm/lib/Support/Windows/Path.inc
  llvm/unittests/Support/Path.cpp
Labels: platform:windows, llvm:support

#121375 [bazel] Allow SupportTests to be built remotely and cached
  utils/bazel/llvm-project-overlay/llvm/unittests/BUILD.bazel
Labels: bazel

#121504 [RISCV][TTI] Simplify compound check for readability [nfc]
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.cpp
Labels: backend:RISC-V

#120243 [Flang][Alias analysis] Fix alias analysis for omp private allocatable item
  flang/lib/Optimizer/Analysis/AliasAnalysis.cpp
  flang/test/Analysis/AliasAnalysis/alias-analysis-omp-private-allocatable.mlir
Labels: flang, flang:fir-hlfir

#120145 [Driver][clang-linker-wrapper] Add initial support for OpenMP offloading to generic SPIR-V
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/CMakeLists.txt
  clang/lib/Driver/Driver.cpp
  clang/lib/Driver/ToolChains/CommonArgs.cpp
  clang/lib/Driver/ToolChains/SPIRV.h
  clang/lib/Driver/ToolChains/SPIRVOpenMP.cpp
  clang/lib/Driver/ToolChains/SPIRVOpenMP.h
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/test/Driver/Inputs/spirv-openmp/lib/libomptarget-spirv64.bc
  clang/test/Driver/spirv-openmp-toolchain.c
  clang/tools/clang-linker-wrapper/ClangLinkerWrapper.cpp
Labels: clang, clang:driver, backend:SPIR-V

#114494 [llvm-(min-)tblgen] Avoid redundant source compilation
  llvm/utils/TableGen/Basic/ARMTargetDefEmitter.cpp
  llvm/utils/TableGen/Basic/Attributes.cpp
  llvm/utils/TableGen/Basic/CMakeLists.txt
  llvm/utils/TableGen/Basic/DirectiveEmitter.cpp
  llvm/utils/TableGen/Basic/IntrinsicEmitter.cpp
  llvm/utils/TableGen/Basic/RISCVTargetDefEmitter.cpp
  llvm/utils/TableGen/Basic/TableGen.cpp
  llvm/utils/TableGen/Basic/TableGen.h
  llvm/utils/TableGen/Basic/VTEmitter.cpp
  llvm/utils/TableGen/CMakeLists.txt
  llvm/utils/TableGen/llvm-min-tblgen.cpp
  llvm/utils/TableGen/llvm-tblgen.cpp
Labels: backend:RISC-V, tablegen

#120864 [compiler-rt][rtsan] fopencookie support.
  compiler-rt/lib/rtsan/rtsan_interceptors_posix.cpp
  compiler-rt/lib/rtsan/tests/rtsan_test_interceptors_posix.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#121421 [mlir][py] Enable loading only specified dialects during creation.
  mlir/python/mlir/_mlir_libs/__init__.py
  mlir/python/mlir/ir.py
  mlir/test/python/ir/dialects.py
Labels: mlir:python, mlir

#120666 [DAGCombiner] Turn `(neg (max x, (neg x)))` into `(min x, (neg x))`
  llvm/include/llvm/CodeGen/ISDOpcodes.h
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
  llvm/test/CodeGen/RISCV/neg-abs.ll
  llvm/test/CodeGen/RISCV/rvv/fixed-neg-abs.ll
Labels: llvm:SelectionDAG

#120998 [GISel] Combine `(neg (min/max x, (neg x)))` into `(max/min x, (neg x))`
  llvm/include/llvm/CodeGen/GlobalISel/CombinerHelper.h
  llvm/include/llvm/CodeGen/GlobalISel/Utils.h
  llvm/include/llvm/Target/GlobalISel/Combine.td
  llvm/lib/CodeGen/GlobalISel/CombinerHelper.cpp
  llvm/lib/CodeGen/GlobalISel/Utils.cpp
  llvm/lib/Target/RISCV/RISCVCombine.td
  llvm/test/CodeGen/RISCV/GlobalISel/combine-neg-abs.ll
Labels: backend:RISC-V, llvm:globalisel

#121252 [libc] Use __attribute__((__noreturn__)) for _Noreturn in C < 11
  libc/include/__llvm-libc-common.h
Labels: libc

#121520 [flang][cuda] Add operation to sync global descriptor
  flang/include/flang/Optimizer/Builder/CUFCommon.h
  flang/include/flang/Optimizer/Dialect/CUF/CUFOps.td
  flang/lib/Lower/Allocatable.cpp
  flang/lib/Optimizer/Builder/CMakeLists.txt
  flang/lib/Optimizer/Builder/CUFCommon.cpp
  flang/lib/Optimizer/Transforms/CMakeLists.txt
  flang/lib/Optimizer/Transforms/CUFAddConstructor.cpp
  flang/lib/Optimizer/Transforms/CUFDeviceGlobal.cpp
  flang/lib/Optimizer/Transforms/CUFOpConversion.cpp
  flang/lib/Optimizer/Transforms/SimplifyIntrinsics.cpp
  flang/test/Lower/CUDA/cuda-pointer-sync.cuf
Labels: flang, flang:fir-hlfir

#121292 [RISCV] Add Qualcomm uC Xqcicli (Conditional Load Immediate) extension
  clang/test/Driver/print-supported-extensions-riscv.c
  llvm/docs/RISCVUsage.rst
  llvm/docs/ReleaseNotes.md
  llvm/lib/Target/RISCV/Disassembler/RISCVDisassembler.cpp
  llvm/lib/Target/RISCV/RISCVFeatures.td
  llvm/lib/Target/RISCV/RISCVInstrInfoXqci.td
  llvm/lib/TargetParser/RISCVISAInfo.cpp
  llvm/test/CodeGen/RISCV/attributes.ll
  llvm/test/MC/RISCV/xqcicli-invalid.s
  llvm/test/MC/RISCV/xqcicli-valid.s
  llvm/unittests/TargetParser/RISCVISAInfoTest.cpp
Labels: clang, backend:RISC-V, clang:driver, mc

#121204 [JITLink][RISCV] Add feature relax for addsub tests. NFC
  llvm/test/ExecutionEngine/JITLink/RISCV/ELF_reloc_add.s
Labels: backend:RISC-V

#119835 [lld][WebAssembly] Replace config-> with ctx.arg.
  lld/wasm/Config.h
  lld/wasm/Driver.cpp
  lld/wasm/InputChunks.cpp
  lld/wasm/InputChunks.h
  lld/wasm/InputElement.h
  lld/wasm/InputFiles.cpp
  lld/wasm/InputFiles.h
  lld/wasm/LTO.cpp
  lld/wasm/MapFile.cpp
  lld/wasm/MarkLive.cpp
  lld/wasm/OutputSections.cpp
  lld/wasm/Relocations.cpp
  lld/wasm/SymbolTable.cpp
  lld/wasm/Symbols.cpp
  lld/wasm/Symbols.h
  lld/wasm/SyntheticSections.cpp
  lld/wasm/SyntheticSections.h
  lld/wasm/Writer.cpp
Labels: lld, lld:wasm

#121533 [flang][cuda][NFC] Remove unused variable
  flang/lib/Optimizer/Transforms/CUFOpConversion.cpp
Labels: flang, flang:fir-hlfir

#121485 [clang] Allow generating module interfaces with parsing errors
  clang/include/clang/Serialization/ASTWriter.h
  clang/lib/Frontend/FrontendActions.cpp
  clang/lib/Serialization/GeneratePCH.cpp
  clang/test/Modules/pcm-with-errors.cpp
Labels: clang, clang:modules

#121537 Revert "[compiler-rt][rtsan] fopencookie support."
  compiler-rt/lib/rtsan/rtsan_interceptors_posix.cpp
  compiler-rt/lib/rtsan/tests/rtsan_test_interceptors_posix.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#108146 [lld][WebAssembly] Fix non-pie dynamic-linking executable
  lld/test/wasm/dylink-non-pie.s
  lld/wasm/Relocations.cpp
Labels: lld, lld:wasm

#121538 [LoongArch] Pre-commit tests for tls-desc scheduling. NFC
  llvm/test/CodeGen/LoongArch/psabi-restricted-scheduling.ll
Labels: backend:loongarch

#121511 [NFC] add anonymous namespace to a couple classes
  llvm/lib/IR/SafepointIRVerifier.cpp
  llvm/lib/Transforms/AggressiveInstCombine/AggressiveInstCombine.cpp
Labels: llvm:ir, llvm:transforms

#106145 [clang-format] Add new option: WrapNamespaceBodyWithNewlines
  clang/docs/ClangFormatStyleOptions.rst
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Format/Format.h
  clang/lib/Format/Format.cpp
  clang/lib/Format/UnwrappedLineFormatter.cpp
  clang/unittests/Format/ConfigParseTest.cpp
  clang/unittests/Format/FormatTest.cpp
Labels: clang, clang-format

#121460 [RISCV] Allow tail memcmp expansion
  llvm/lib/Target/RISCV/RISCVTargetTransformInfo.cpp
  llvm/test/CodeGen/RISCV/memcmp-optsize.ll
  llvm/test/CodeGen/RISCV/memcmp.ll
Labels: backend:RISC-V

#120383 [PowerPC] Use `RegisterClassInfo::getRegPressureSetLimit`
  llvm/lib/Target/PowerPC/PPCInstrInfo.cpp
Labels: backend:PowerPC

#121541 [LoongArch] Avoid scheduling tls-desc code sequence in large code model
  llvm/lib/Target/LoongArch/LoongArchInstrInfo.cpp
  llvm/test/CodeGen/LoongArch/psabi-restricted-scheduling.ll
Labels: backend:loongarch

#121510 [AMDGPU][True16[MC] true16 for v_max3/min3_num_f16
  llvm/lib/Target/AMDGPU/VOP3Instructions.td
  llvm/test/CodeGen/AMDGPU/fmax3.ll
  llvm/test/CodeGen/AMDGPU/fmin3.ll
  llvm/test/MC/AMDGPU/gfx12_asm_vop3.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_aliases.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_dpp8.txt
Labels: backend:AMDGPU, mc

#121400 [mlir] Add missing patterns to `linalg.decompose_pack_unpack` TD Op
  mlir/lib/Dialect/Linalg/Transforms/Transforms.cpp
  mlir/test/Dialect/Linalg/decompose-tensor-unpack-tile.mlir
  mlir/test/Dialect/Linalg/decompose-tensor-unpack.mlir
  mlir/test/Dialect/Linalg/td/decompose-unpack.mlir
Labels: mlir:linalg, mlir

#120936 [RISCV] Add support of Sdext,Sdtrig extentions
  clang/test/Driver/print-supported-extensions-riscv.c
  clang/test/Preprocessor/riscv-target-features.c
  llvm/docs/RISCVUsage.rst
  llvm/docs/ReleaseNotes.md
  llvm/lib/Target/RISCV/RISCVFeatures.td
  llvm/lib/Target/RISCV/RISCVSystemOperands.td
  llvm/test/CodeGen/RISCV/attributes.ll
  llvm/test/CodeGen/RISCV/features-info.ll
  llvm/test/MC/RISCV/attribute-arch.s
  llvm/test/MC/RISCV/machine-csr-names.s
  llvm/unittests/TargetParser/RISCVISAInfoTest.cpp
Labels: clang, backend:RISC-V, clang:driver, mc

#120984 [VectorCombine] foldShuffleOfBinops - fold shuffle(binop(shuffle(x),shuffle(z)),binop(shuffle(y),shuffle(w)) -> binop(shuffle(x,z),shuffle(y,w))
  llvm/lib/Transforms/Vectorize/VectorCombine.cpp
  llvm/test/Transforms/PhaseOrdering/X86/hadd.ll
  llvm/test/Transforms/PhaseOrdering/X86/pr50392.ll
  llvm/test/Transforms/VectorCombine/X86/extract-binop-inseltpoison.ll
Labels: vectorizers, llvm:transforms

#119536 [MLIR][OpenMP] Lowering aligned clause to LLVM IR for SIMD directive
  clang/test/OpenMP/irbuilder_simd_aligned.cpp
  flang/lib/Lower/OpenMP/ClauseProcessor.cpp
  llvm/lib/Frontend/OpenMP/OMPIRBuilder.cpp
  llvm/unittests/Frontend/OpenMPIRBuilderTest.cpp
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/openmp-simd-aligned.mlir
  mlir/test/Target/LLVMIR/openmp-todo.mlir
Labels: clang, mlir:llvm, mlir, flang, mlir:openmp, flang:fir-hlfir, flang:openmp, clang:openmp

#121296 [Clang] Fix unexpanded packs in NTTP type constraints
  clang/docs/ReleaseNotes.rst
  clang/lib/AST/ASTContext.cpp
  clang/lib/Sema/SemaTemplate.cpp
  clang/lib/Sema/SemaTemplateDeduction.cpp
  clang/test/SemaCXX/cxx2c-fold-exprs.cpp
Labels: clang, clang:frontend

#121547 [compiler-rt][rtsan] Reland "fopencookie support." (#120864)
  compiler-rt/lib/rtsan/rtsan_interceptors_posix.cpp
  compiler-rt/lib/rtsan/tests/rtsan_test_interceptors_posix.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#120601 [MLIR][Python] Add structured.fuseop to generator.
  mlir/python/mlir/dialects/transform/structured.py
  mlir/test/python/dialects/transform_structured_ext.py
Labels: mlir:sparse, mlir:python, mlir

#121512 [lld/COFF] Support thin archives in /reproduce: files
  lld/COFF/InputFiles.cpp
  lld/test/COFF/linkrepro-thin-archives.s
Labels: lld, lld:COFF, platform:windows

#120606 [flang][OpenMP] Frontend support for NOTHING directive
  flang/examples/FlangOmpReport/FlangOmpReportVisitor.cpp
  flang/include/flang/Parser/dump-parse-tree.h
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/lib/Parser/openmp-parsers.cpp
  flang/lib/Parser/unparse.cpp
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/check-omp-structure.h
  flang/test/Lower/OpenMP/Todo/error.f90
  flang/test/Parser/OpenMP/error-unparse.f90
  flang/test/Parser/OpenMP/nothing.f90
Labels: flang, flang:fir-hlfir, flang:openmp, flang:semantics, flang:parser

#120731 [Vectorizer] precommit test for miscompilation
  llvm/test/Transforms/LoopVectorize/X86/drop-inbounds-flags-for-reverse-vector-pointer.ll
Labels: llvm:transforms

#116524 [mlir][Transforms] Support 1:N mappings in `ConversionValueMapping`
  flang/lib/Optimizer/CodeGen/BoxedProcedure.cpp
  mlir/docs/DialectConversion.md
  mlir/include/mlir/Transforms/DialectConversion.h
  mlir/lib/Conversion/LLVMCommon/TypeConverter.cpp
  mlir/lib/Dialect/EmitC/Transforms/TypeConversions.cpp
  mlir/lib/Dialect/Linalg/Transforms/Detensorize.cpp
  mlir/lib/Dialect/Quant/Transforms/StripFuncQuantTypes.cpp
  mlir/lib/Dialect/SparseTensor/Transforms/Utils/SparseTensorDescriptor.cpp
  mlir/lib/Dialect/Vector/Transforms/VectorLinearize.cpp
  mlir/lib/Transforms/Utils/DialectConversion.cpp
  mlir/test/Transforms/test-legalizer.mlir
  mlir/test/lib/Dialect/Func/TestDecomposeCallGraphTypes.cpp
  mlir/test/lib/Dialect/Test/TestPatterns.cpp
  mlir/test/lib/Transforms/TestDialectConversion.cpp
Labels: mlir:core, mlir:llvm, mlir:linalg, mlir:vectorops, mlir:sparse, mlir, flang, mlir:emitc, mlir:func, mlir:quant, mlir:vector, flang:fir-hlfir, flang:codegen

#121576 [clang][NFC][docs] Fix typo in LanguageExtensions
  clang/docs/LanguageExtensions.rst
Labels: documentation, clang, clang-doc

#121572 [InstCombine] Fix GEPNoWrapFlags propagation in `foldGEPOfPhi`
  llvm/lib/Transforms/InstCombine/InstructionCombining.cpp
  llvm/test/Transforms/InstCombine/opaque-ptr.ll
Labels: llvm:instcombine, llvm:transforms

#121509 [flang][OpenMP] Allow utility constructs in specification part
  flang/examples/FlangOmpReport/FlangOmpReportVisitor.cpp
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/lib/Parser/openmp-parsers.cpp
  flang/lib/Parser/unparse.cpp
  flang/lib/Semantics/canonicalize-omp.cpp
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/check-omp-structure.h
  flang/test/Parser/OpenMP/error-unparse.f90
  flang/test/Parser/OpenMP/nothing.f90
  flang/test/Semantics/OpenMP/error.f90
Labels: flang, flang:fir-hlfir, flang:openmp, flang:semantics, flang:parser

#121371 [flang] Improve designate/elemental indices match in opt-bufferization.
  flang/lib/Optimizer/HLFIR/Transforms/OptimizedBufferization.cpp
  flang/test/HLFIR/opt-bufferization-same-ptr-elemental.fir
Labels: flang, flang:fir-hlfir

#121544 [flang] Extract hlfir.assign inlining from opt-bufferization.
  flang/include/flang/Optimizer/HLFIR/Passes.td
  flang/lib/Optimizer/HLFIR/Transforms/CMakeLists.txt
  flang/lib/Optimizer/HLFIR/Transforms/InlineHLFIRAssign.cpp
  flang/lib/Optimizer/HLFIR/Transforms/OptimizedBufferization.cpp
  flang/lib/Optimizer/Passes/Pipelines.cpp
  flang/test/Driver/mlir-pass-pipeline.f90
  flang/test/Fir/basic-program.fir
  flang/test/HLFIR/inline-hlfir-assign.fir
  flang/test/HLFIR/maxloc-elemental.fir
  flang/test/HLFIR/minloc-elemental.fir
  flang/test/HLFIR/opt-bufferization-eval_in_mem.fir
  flang/test/HLFIR/opt-bufferization.fir
Labels: flang:driver, flang, flang:fir-hlfir

#120634 [AMDGPU][True16][MC] true16 for v_sat_pk_u8_i16
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/test/MC/AMDGPU/gfx11_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp16_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp8_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp16_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp8_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp8.txt
Labels: backend:AMDGPU, mc

#120693 [AMDGPU][True16][MC] true16 for v_trunc_f16
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/test/CodeGen/AMDGPU/llvm.trunc.f16.ll
  llvm/test/MC/AMDGPU/gfx11_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp16_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp8_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp16_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp8_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp8.txt
Labels: backend:AMDGPU, mc

#120217 [SLP] NFC. Use InstructionsState::valid if users just want to know whether VL has same opcode.
  llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp
Labels: vectorizers, llvm:transforms

#120271 [AMDGPU][True16][MC] disable incorrect VOPC t16 instruction
  llvm/lib/Target/AMDGPU/AMDGPUInstructionSelector.cpp
  llvm/lib/Target/AMDGPU/SIInstructions.td
  llvm/lib/Target/AMDGPU/VOPCInstructions.td
  llvm/test/CodeGen/AMDGPU/GlobalISel/inst-select-amdgcn.fcmp.constants.w32.mir
  llvm/test/CodeGen/AMDGPU/GlobalISel/inst-select-amdgcn.fcmp.constants.w64.mir
Labels: backend:AMDGPU, llvm:globalisel

#119310 [OpenMP][MLIR] Fix threadprivate lowering when compiling for target when target operations are in use
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/omptarget-threadprivate-device-lowering.mlir
  offload/test/offloading/fortran/target-with-threadprivate.f90
Labels: mlir:llvm, mlir, mlir:openmp, flang:openmp, offload

#121534 [mlir][arith] Fold `(a * b) / b -> a`
  mlir/lib/Dialect/Arith/IR/ArithOps.cpp
  mlir/test/Dialect/Arith/canonicalize.mlir
Labels: mlir, mlir:arith

#121530 [ExpandMemCmp][AArch64][PowerPC][RISCV][X86] Use llvm.ucmp instead of (sub (zext (icmp ugt)), (zext (icmp ult))).
  llvm/lib/CodeGen/ExpandMemCmp.cpp
  llvm/test/CodeGen/AArch64/machine-licm-hoist-load.ll
  llvm/test/CodeGen/AArch64/memcmp.ll
  llvm/test/CodeGen/PowerPC/memcmp.ll
  llvm/test/CodeGen/PowerPC/memcmpIR.ll
  llvm/test/CodeGen/RISCV/memcmp-optsize.ll
  llvm/test/CodeGen/RISCV/memcmp.ll
  llvm/test/CodeGen/X86/memcmp-more-load-pairs-x32.ll
  llvm/test/CodeGen/X86/memcmp-more-load-pairs.ll
  llvm/test/CodeGen/X86/memcmp-optsize-x32.ll
  llvm/test/CodeGen/X86/memcmp-optsize.ll
  llvm/test/CodeGen/X86/memcmp-pgso-x32.ll
  llvm/test/CodeGen/X86/memcmp-pgso.ll
  llvm/test/CodeGen/X86/memcmp-x32.ll
  llvm/test/CodeGen/X86/memcmp.ll
  llvm/test/Transforms/ExpandMemCmp/AArch64/memcmp.ll
  llvm/test/Transforms/ExpandMemCmp/X86/memcmp-x32.ll
  llvm/test/Transforms/ExpandMemCmp/X86/memcmp.ll
Labels: backend:AArch64, backend:PowerPC, backend:X86, llvm:transforms

#121527 [PatternMatch] m_SpecificMask should pass expected mask by Value. NFC
  llvm/include/llvm/IR/PatternMatch.h
Labels: llvm:ir

#121452 EntryExitInstrumenter: skip available_externally linkage
  llvm/lib/Transforms/Utils/EntryExitInstrumenter.cpp
  llvm/test/Transforms/EntryExitInstrumenter/mcount.ll
Labels: llvm:transforms

#121545 [NFC] Fix a typo
  lld/ELF/InputSection.h
Labels: lld, lld:ELF

#120659 [AMDGPU][True16][MC] true16 for v_not_b16
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/test/MC/AMDGPU/gfx11_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp16_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp8_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp16_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp8_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp8.txt
Labels: backend:AMDGPU, mc

#121540 [ExpandMemCmp] Recognize canonical form of (icmp sle/sge X, 0) in getMemCmpOneBlock.
  llvm/lib/CodeGen/ExpandMemCmp.cpp
  llvm/test/CodeGen/AArch64/memcmp.ll
  llvm/test/CodeGen/RISCV/memcmp.ll
  llvm/test/CodeGen/X86/memcmp.ll
Labels: backend:AArch64, backend:X86

#121589 [flang][cuda] Downgrade allocate pinned error to a warning
  flang/lib/Semantics/check-allocate.cpp
  flang/test/Semantics/cuf07.cuf
Labels: flang, flang:semantics

#121551 [clang][analyzer] Stable order for SymbolRef-keyed containers
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/SymExpr.h
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/SymbolManager.h
  clang/lib/StaticAnalyzer/Core/SymbolManager.cpp
  clang/test/Analysis/dump_egraph.cpp
  clang/test/Analysis/expr-inspection-printState-diseq-info.c
  clang/test/Analysis/expr-inspection-printState-eq-classes.c
  clang/test/Analysis/ptr-arith.cpp
  clang/test/Analysis/symbol-simplification-disequality-info.cpp
  clang/test/Analysis/symbol-simplification-fixpoint-one-iteration.cpp
  clang/test/Analysis/symbol-simplification-fixpoint-two-iterations.cpp
  clang/test/Analysis/unary-sym-expr.c
Labels: clang, clang:static analyzer

#121592 Revert "[clang][analyzer] Stable order for SymbolRef-keyed containers"
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/SymExpr.h
  clang/include/clang/StaticAnalyzer/Core/PathSensitive/SymbolManager.h
  clang/lib/StaticAnalyzer/Core/SymbolManager.cpp
  clang/test/Analysis/dump_egraph.cpp
  clang/test/Analysis/expr-inspection-printState-diseq-info.c
  clang/test/Analysis/expr-inspection-printState-eq-classes.c
  clang/test/Analysis/ptr-arith.cpp
  clang/test/Analysis/symbol-simplification-disequality-info.cpp
  clang/test/Analysis/symbol-simplification-fixpoint-one-iteration.cpp
  clang/test/Analysis/symbol-simplification-fixpoint-two-iterations.cpp
  clang/test/Analysis/unary-sym-expr.c
Labels: clang, clang:static analyzer, skip-precommit-approval

#121526 [LegalizeVectorOps] Use getBoolConstant instead of getAllOnesConstant in VectorLegalizer::UnrollVSETCC.
  llvm/lib/CodeGen/SelectionDAG/LegalizeVectorOps.cpp
Labels: llvm:SelectionDAG

#120692 [AMDGPU][True16][MC] true16 for v_sin_f16
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/test/CodeGen/AMDGPU/llvm.sin.f16.ll
  llvm/test/MC/AMDGPU/gfx11_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp16_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp8_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp16_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp8_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp8.txt
Labels: backend:AMDGPU, mc

#121514 Deprecate order file instrumentation
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/clang_f_opts.c
Labels: clang, clang:driver

#121571 [TableGen] Use SmallVectors for preprocessor include stack. NFC.
  llvm/lib/TableGen/TGLexer.cpp
  llvm/lib/TableGen/TGLexer.h
Labels: tablegen

#120726 [flang][debug] Fix issue with argument numbering.
  flang/lib/Optimizer/Transforms/AddDebugInfo.cpp
  flang/test/Integration/debug-116525.f90
Labels: flang, flang:fir-hlfir

#120653 [AMDGPU][True16][MC] true16 for v_frexp_mant_f16
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/test/CodeGen/AMDGPU/llvm.frexp.ll
  llvm/test/MC/AMDGPU/gfx11_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp16_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp8_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp16_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp8_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp8.txt
Labels: backend:AMDGPU, mc

#121555 [mlir][scf] Always remove for iter args that are loop invariant
  mlir/lib/Dialect/SCF/IR/SCF.cpp
  mlir/test/Dialect/SCF/canonicalize.mlir
Labels: mlir, mlir:scf

#115200 [AMDGPU][MC] Allow null where 128b or larger dst reg is expected
  llvm/lib/Target/AMDGPU/AsmParser/AMDGPUAsmParser.cpp
  llvm/lib/Target/AMDGPU/BUFInstructions.td
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.cpp
  llvm/lib/Target/AMDGPU/Disassembler/AMDGPUDisassembler.h
  llvm/lib/Target/AMDGPU/MIMGInstructions.td
  llvm/lib/Target/AMDGPU/SIRegisterInfo.td
  llvm/lib/Target/AMDGPU/SMInstructions.td
  llvm/test/CodeGen/AMDGPU/inline-asm.i128.ll
  llvm/test/MC/AMDGPU/gfx10_asm_mimg_err.s
  llvm/test/MC/AMDGPU/gfx10_asm_mtbuf_err.s
  llvm/test/MC/AMDGPU/gfx10_asm_mubuf_err.s
  llvm/test/MC/AMDGPU/gfx10_asm_smem.s
  llvm/test/MC/AMDGPU/gfx10_asm_smem_err.s
  llvm/test/MC/AMDGPU/gfx11_asm_mimg_err.s
  llvm/test/MC/AMDGPU/gfx11_asm_mtbuf_err.s
  llvm/test/MC/AMDGPU/gfx11_asm_mubuf_err.s
  llvm/test/MC/AMDGPU/gfx11_asm_smem.s
  llvm/test/MC/AMDGPU/gfx11_asm_smem_err.s
  llvm/test/MC/AMDGPU/gfx12_asm_mimg_err.s
  llvm/test/MC/AMDGPU/gfx12_asm_smem.s
  llvm/test/MC/AMDGPU/gfx12_asm_smem_err.s
  llvm/test/MC/AMDGPU/gfx12_asm_vbuffer_mtbuf_err.s
  llvm/test/MC/AMDGPU/gfx12_asm_vbuffer_mubuf_err.s
  llvm/test/MC/Disassembler/AMDGPU/gfx10_smem.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_smem.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_smem.txt
Labels: backend:AMDGPU, mc

#120647 [AMDGPU][True16][MC] true16 for v_fract_f16
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/test/CodeGen/AMDGPU/fract-match.ll
  llvm/test/MC/AMDGPU/gfx11_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp16_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp8_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp16_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp8_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp8.txt
Labels: backend:AMDGPU, mc

#120645 [AMDGPU][True16][MC] true16 for v_cvt_i32_i16
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/test/MC/AMDGPU/gfx11_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp16_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp8_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp16_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp8_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp8.txt
Labels: backend:AMDGPU, mc

#120639 [AMDGPU][True16][MC] true16 for v_cos_f16
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/test/CodeGen/AMDGPU/llvm.cos.f16.ll
  llvm/test/MC/AMDGPU/gfx11_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp16_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp8_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp16_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp8_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp8.txt
Labels: backend:AMDGPU, mc

#117637 [mlir][Affine] Generalize the linearize(delinearize()) simplifications
  mlir/include/mlir/Dialect/Affine/IR/AffineOps.td
  mlir/lib/Dialect/Affine/IR/AffineOps.cpp
  mlir/test/Dialect/Affine/canonicalize.mlir
Labels: mlir:affine, mlir

#119472 Updating broken/outdated links in the ProgrammerManual
  llvm/docs/ProgrammersManual.rst
  llvm/include/llvm/IR/PassManager.h
Labels: llvm:ir

#121435 [Clang][ASTMatcher] Add `dependentTemplateSpecializationType` AST mat…
  clang/docs/LibASTMatchersReference.html
  clang/docs/ReleaseNotes.rst
  clang/include/clang/ASTMatchers/ASTMatchers.h
  clang/lib/ASTMatchers/ASTMatchersInternal.cpp
  clang/lib/ASTMatchers/Dynamic/Registry.cpp
  clang/unittests/AST/ASTImporterTest.cpp
  clang/unittests/ASTMatchers/ASTMatchersNodeTest.cpp
Labels: clang

#120691 [AMDGPU][True16][MC] true16 for v_rndne_f16
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/test/CodeGen/AMDGPU/llvm.rint.f16.ll
  llvm/test/MC/AMDGPU/gfx11_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp16_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_dpp8_from_vop1.s
  llvm/test/MC/AMDGPU/gfx11_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_dpp8.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_err.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop1_t16_promote.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp16.s
  llvm/test/MC/AMDGPU/gfx12_asm_vop3_from_vop1_dpp8.s
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp16_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_dpp8_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx11_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop1_dpp8.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp16.txt
  llvm/test/MC/Disassembler/AMDGPU/gfx12_dasm_vop3_from_vop1_dpp8.txt
Labels: backend:AMDGPU, mc

#121597 [mlir][python] declare `_PyClassMethod_New` undefined at link time
  mlir/cmake/modules/AddMLIRPython.cmake
Labels: mlir

#121595 [flang][cuda] Sync global descriptor when nullifying pointer
  flang/include/flang/Optimizer/Builder/CUFCommon.h
  flang/lib/Lower/Allocatable.cpp
  flang/lib/Lower/Bridge.cpp
  flang/lib/Optimizer/Builder/CUFCommon.cpp
  flang/test/Lower/CUDA/cuda-pointer-sync.cuf
Labels: flang, flang:fir-hlfir

#120827 workflows/build-ci-container: Make sure to only test local containers
  .github/workflows/build-ci-container.yml
Labels: github:workflow

#120840 workflows/new-issues: Use an llvmbot token to add labels
  .github/workflows/new-issues.yml
Labels: github:workflow

#120860 workflows/release-binaries: Replace some workflow interpolations with env vars
  .github/workflows/release-binaries.yml
Labels: github:workflow

#121602 [lldb] Add a return opcode to the formatter bytecode
  lldb/docs/resources/formatterbytecode.rst
  lldb/examples/python/formatter_bytecode.py
  lldb/source/DataFormatters/FormatterBytecode.cpp
  lldb/source/DataFormatters/FormatterBytecode.def
  lldb/unittests/DataFormatter/FormatterBytecodeTest.cpp
Labels: lldb

#121593 [flang][cuda] Set PINNED variable to false in ALLOCATE
  flang/lib/Lower/Allocatable.cpp
  flang/test/Lower/CUDA/cuda-allocatable.cuf
Labels: flang, flang:fir-hlfir

#121612 [flang][cuda] Allow GOTO, EXIT, CYCLE and SELECT CASE in device procedures
  flang/lib/Semantics/check-cuda.cpp
  flang/test/Semantics/cuf09.cuf
Labels: flang, flang:semantics

#121370 [flang] Fixed the missing dependency.
  flang/lib/Optimizer/OpenMP/CMakeLists.txt
Labels: flang, flang:fir-hlfir

#121606 [RISCV] Reduce size of CSR lookup tables. NFC
  llvm/lib/Target/RISCV/AsmParser/RISCVAsmParser.cpp
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVBaseInfo.h
  llvm/lib/Target/RISCV/MCTargetDesc/RISCVInstPrinter.cpp
  llvm/lib/Target/RISCV/RISCVSystemOperands.td
Labels: backend:RISC-V

#120835 Factor common code for quoting a builtin name
  clang/include/clang/Basic/Builtins.h
  clang/lib/AST/ByteCode/InterpBuiltin.cpp
  clang/lib/AST/ExprConstant.cpp
  clang/lib/Basic/Builtins.cpp
Labels: clang, clang:frontend

#115587 [mlir][IR][NFC] `DominanceInfo`: Share same impl for block/op dominance
  mlir/include/mlir/IR/Dominance.h
  mlir/lib/IR/Dominance.cpp
Labels: mlir:core, mlir

#120746 [mlir][Transforms][NFC] Use `DominanceInfo` to compute materialization insertion point
  mlir/include/mlir/IR/Dominance.h
  mlir/lib/Transforms/Utils/DialectConversion.cpp
Labels: mlir:core, mlir

#121628 [InstCombine] Check no wrap flags before folding icmp of GEPs with same indices
  llvm/lib/Transforms/InstCombine/InstCombineCompares.cpp
  llvm/test/Transforms/InstCombine/icmp-gep.ll
Labels: llvm:instcombine, llvm:transforms

#120831 Mechanically port bulk of x86 builtins to TableGen
  clang/include/clang/Basic/BuiltinsBase.td
  clang/include/clang/Basic/BuiltinsX86.def
  clang/include/clang/Basic/BuiltinsX86.td
  clang/include/clang/Basic/TargetBuiltins.h
  clang/lib/Basic/Targets/X86.cpp
  clang/utils/TableGen/ClangBuiltinsEmitter.cpp
Labels: clang, backend:X86, clang:frontend

#121616 [compiler-rt][rtsan] intercept setbuf, setvbuf, setlinebuf and setbuffer
  compiler-rt/lib/rtsan/rtsan_interceptors_posix.cpp
  compiler-rt/lib/rtsan/tests/rtsan_test_interceptors_posix.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#121639 Revert "[compiler-rt][rtsan] intercept setbuf, setvbuf, setlinebuf an…
  compiler-rt/lib/rtsan/rtsan_interceptors_posix.cpp
  compiler-rt/lib/rtsan/tests/rtsan_test_interceptors_posix.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#121011 [libc++][NFC] Simplify basic_ostream by combining operator<<(Arithmetic)
  libcxx/include/__ostream/basic_ostream.h
Labels: libc++

#121647 [mlir][Transforms][NFC] Delete unused `nTo1TempMaterializations`
  mlir/lib/Transforms/Utils/DialectConversion.cpp
Labels: mlir:core, mlir

#121642 [clang] Update C++ DR status page
  clang/test/CXX/drs/cwg12xx.cpp
  clang/test/CXX/drs/cwg28xx.cpp
  clang/test/CXX/drs/cwg29xx.cpp
  clang/www/cxx_dr_status.html
  clang/www/make_cxx_dr_status
Labels: clang, c++

#121633 [InstCombine] Drop NSW when converting `shl X, BW - 1` back into mul
  llvm/lib/Transforms/InstCombine/InstCombineMulDivRem.cpp
  llvm/test/Transforms/InstCombine/rem-mul-shl.ll
Labels: llvm:instcombine, llvm:transforms

#121632 [libc] Remove some unused includes from headers under src/math/generic.
  libc/src/math/generic/CMakeLists.txt
  libc/src/math/generic/exp10f_impl.h
  libc/src/math/generic/range_reduction_double_common.h
  libc/src/math/generic/sincosf16_utils.h
  utils/bazel/llvm-project-overlay/libc/BUILD.bazel
Labels: libc, bazel

#121643 [compiler-rt][rtsan] intercept fflush.
  compiler-rt/lib/rtsan/rtsan_interceptors_posix.cpp
  compiler-rt/lib/rtsan/tests/rtsan_test_interceptors_posix.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#121662 [mlir][Transforms] Fix build after #116524 (part 2)
  mlir/lib/Transforms/Utils/DialectConversion.cpp
Labels: mlir:core, mlir

#121285 [TableGen][GISel] Reuse `importNodeRenderer` for `OperandWithDefaultOps`
  llvm/test/TableGen/GlobalISelEmitter/undef-tied-input.td
  llvm/utils/TableGen/GlobalISelEmitter.cpp
Labels: tablegen, llvm:globalisel

#121666 [compiler-rt][rtsan] fix unit tests by sanitizer-aarch64-linux report.
  compiler-rt/lib/rtsan/tests/rtsan_test_interceptors_posix.cpp
Labels: compiler-rt, compiler-rt:sanitizer

#121653 [objcopy][COFF] Do not strip .rdata section with --only-keep-debug
  llvm/lib/ObjCopy/COFF/COFFObjcopy.cpp
  llvm/test/tools/llvm-objcopy/COFF/Inputs/i386-debug-rdata.yaml
  llvm/test/tools/llvm-objcopy/COFF/only-keep-debug-rdata.test
Labels: llvm:binary-utilities

#121521 [HLSL][SPIR-V] implement SV_GroupID semantic lowering
  clang/lib/CodeGen/CGHLSLRuntime.cpp
  clang/lib/CodeGen/CGHLSLRuntime.h
  clang/test/CodeGenHLSL/semantics/SV_GroupID.hlsl
  llvm/include/llvm/IR/IntrinsicsSPIRV.td
  llvm/lib/Target/SPIRV/SPIRVInstructionSelector.cpp
  llvm/test/CodeGen/SPIRV/hlsl-intrinsics/SV_GroupID.ll
Labels: clang, clang:codegen, HLSL, backend:SPIR-V, llvm:ir

#121482 [libc] Improve qsort (with build fix)
  libc/fuzzing/stdlib/CMakeLists.txt
  libc/fuzzing/stdlib/heap_sort_fuzz.cpp
  libc/fuzzing/stdlib/quick_sort_fuzz.cpp
  libc/src/stdlib/heap_sort.h
  libc/src/stdlib/qsort.cpp
  libc/src/stdlib/qsort_data.h
  libc/src/stdlib/qsort_pivot.h
  libc/src/stdlib/qsort_r.cpp
  libc/src/stdlib/qsort_util.h
  libc/src/stdlib/quick_sort.h
  libc/test/src/stdlib/CMakeLists.txt
  libc/test/src/stdlib/SortingTest.h
  libc/test/src/stdlib/heap_sort_test.cpp
  libc/test/src/stdlib/qsort_r_test.cpp
  libc/test/src/stdlib/qsort_test.cpp
  libc/test/src/stdlib/quick_sort_test.cpp
  utils/bazel/llvm-project-overlay/libc/test/src/stdlib/BUILD.bazel
Labels: libc, bazel

#121239 [GlobalISel] Support physical register inputs in nested patterns
  llvm/test/TableGen/GlobalISelEmitter/gisel-physreg-input.td
  llvm/utils/TableGen/Common/GlobalISel/GlobalISelMatchTable.cpp
  llvm/utils/TableGen/Common/GlobalISel/GlobalISelMatchTable.h
  llvm/utils/TableGen/GlobalISelEmitter.cpp
Labels: tablegen, llvm:globalisel

#121451 [clang-format][NFC] Add missing config tests for List of Strings
  clang/unittests/Format/ConfigParseTest.cpp
Labels: clang-format

#121621 [clang-format][NFC] Replace SmallVectorImpl with ArrayRef
  clang/lib/Format/AffectedRangeManager.cpp
  clang/lib/Format/AffectedRangeManager.h
  clang/lib/Format/Format.cpp
  clang/lib/Format/FormatTokenLexer.cpp
  clang/lib/Format/UnwrappedLineFormatter.cpp
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/lib/Format/UnwrappedLineParser.h
Labels: clang-format

#121622 [clang-format] Add TT_AfterPPDirective for better annotation
  clang/lib/Format/FormatToken.h
  clang/lib/Format/TokenAnnotator.cpp
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/unittests/Format/TokenAnnotatorTest.cpp
Labels: clang-format

#121626 [clang-format] Don't break short macro call followed by l_paren
  clang/lib/Format/UnwrappedLineParser.cpp
  clang/unittests/Format/FormatTest.cpp
Labels: clang-format

#121043 Bulk port 64-bit x86 builtins to TableGen
  clang/include/clang/Basic/BuiltinsX86.td
  clang/include/clang/Basic/BuiltinsX86Base.td
  clang/include/clang/Basic/BuiltinsX86_64.def
  clang/include/clang/Basic/BuiltinsX86_64.td
  clang/include/clang/Basic/CMakeLists.txt
  clang/include/clang/Basic/TargetBuiltins.h
  clang/lib/Basic/Targets/X86.cpp
Labels: clang, backend:X86, clang:frontend

#121324 [LLD] Track cg_profile from combination of obj and ordering file
  lld/test/COFF/cgprofile-obj.s
  lld/test/ELF/cgprofile-obj.s
Labels: lld, lld:ELF, lld:COFF

#121483 [X86][AVX10.2] Map vector saturated converts to public intrinsics
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/lib/Target/X86/X86ISelLowering.h
  llvm/lib/Target/X86/X86InstrAVX10.td
  llvm/lib/Target/X86/X86InstrFragmentsSIMD.td
  llvm/test/CodeGen/X86/avx10_2_512fptosi_satcvtds.ll
  llvm/test/CodeGen/X86/avx10_2fptosi_satcvtds.ll
Labels: backend:X86
