Repository llvm/llvm-project, pull requests merged in 2025-07, with the labels that each got.

#146431 [flang][acc] Fix dialect dependencies
  flang/test/lib/OpenACC/CMakeLists.txt
Labels: flang, openacc

#145297 [Clang][LoongArch] Fixed incorrect _BitInt(N>64) alignment
  clang/lib/Basic/Targets/LoongArch.h
  clang/test/CodeGen/LoongArch/bitint.c
  clang/test/CodeGen/ext-int-cc.c
Labels: clang, clang:frontend, backend:loongarch

#146436 [MLGO] Fix feature iteration using FeatureMap.size() instead of NumberOfFeatures
  llvm/lib/Analysis/DevelopmentModeInlineAdvisor.cpp
Labels: llvm:analysis

#146312 [RISCV] Add LLVM IR intrinsicis vrgatherei16/vslideup/vslidedown support for Zvfbfmin
  llvm/lib/Target/RISCV/RISCVInstrInfoVPseudos.td
  llvm/test/CodeGen/RISCV/rvv/vrgatherei16.ll
  llvm/test/CodeGen/RISCV/rvv/vslidedown.ll
  llvm/test/CodeGen/RISCV/rvv/vslideup.ll
Labels: backend:RISC-V

#145863 [LLD][ELF] Skip non-SHF_ALLOC sections when checking max VA and max VA difference in relaxOnce()
  lld/ELF/Arch/X86_64.cpp
Labels: lld, lld:ELF

#143999 [IR2Vec] Simplifying creation of Embedder
  llvm/docs/MLGO.rst
  llvm/include/llvm/Analysis/IR2Vec.h
  llvm/lib/Analysis/FunctionPropertiesAnalysis.cpp
  llvm/lib/Analysis/IR2Vec.cpp
  llvm/unittests/Analysis/FunctionPropertiesAnalysisTest.cpp
  llvm/unittests/Analysis/IR2VecTest.cpp
Labels: mlgo, llvm:analysis

#146450 [NFC][MLGO] Convert notes to proper RST note directives in MLGO.rst
  llvm/docs/MLGO.rst
Labels: mlgo

#145849 [mlir][Vector] Add constant folding for vector.from_elements operation
  mlir/lib/Dialect/Vector/IR/VectorOps.cpp
  mlir/test/Dialect/Vector/canonicalize.mlir
Labels: mlir:vectorops, mlir, mlir:vector

#146460 [lldb][Mach-O] Fix several bugs in x86_64 Mach-O corefile
  lldb/source/Plugins/ObjectFile/Mach-O/ObjectFileMachO.cpp
  lldb/source/Plugins/Process/mach-core/RegisterContextUnifiedCore.cpp
Labels: lldb

#146458 [X86] Add diagnostic for fp128 inline assemble for 32-bit
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/pr43157.ll
Labels: backend:X86

#146348 [X86][llvm-exegesis] fix LNLP performance counter binding issue
  llvm/lib/Target/X86/X86PfmCounters.td
Labels: backend:X86

#146356 [lldb] Delete unused DWARFDataExtractor methods
  lldb/source/Plugins/SymbolFile/DWARF/DWARFDataExtractor.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DWARFDataExtractor.h
Labels: lldb

#146357 [DwarfDebug] Slightly optimize computeKeyInstructions() (NFC)
  llvm/lib/CodeGen/AsmPrinter/DwarfDebug.cpp
Labels: llvm:codegen, debuginfo

#144740 [Clang] Partially fix m68k alignments
  clang/lib/Basic/Targets/M68k.cpp
  clang/test/CodeGen/bitfield-access-pad.c
  clang/test/CodeGenCXX/bitfield-access-empty.cpp
Labels: clang, clang:frontend, backend:m68k

#145518 [Coroutines] Work on intrinsic IDs instead of names (NFCI)
  llvm/lib/Transforms/Coroutines/CoroCleanup.cpp
  llvm/lib/Transforms/Coroutines/CoroEarly.cpp
  llvm/lib/Transforms/Coroutines/CoroElide.cpp
  llvm/lib/Transforms/Coroutines/CoroInternal.h
  llvm/lib/Transforms/Coroutines/Coroutines.cpp
Labels: coroutines, llvm:transforms

#145917 [Flang][OpenMP] Add Semantics support for Nested OpenMPLoopConstructs
  flang/include/flang/Parser/parse-tree.h
  flang/lib/Lower/OpenMP/OpenMP.cpp
  flang/lib/Parser/unparse.cpp
  flang/lib/Semantics/canonicalize-omp.cpp
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/resolve-directives.cpp
  flang/test/Lower/OpenMP/nested-loop-transformation-construct01.f90
  flang/test/Lower/OpenMP/nested-loop-transformation-construct02.f90
  flang/test/Parser/OpenMP/loop-transformation-construct01.f90
  flang/test/Parser/OpenMP/loop-transformation-construct02.f90
  flang/test/Semantics/OpenMP/loop-transformation-construct01.f90
Labels: flang, flang:fir-hlfir, flang:openmp, flang:semantics, flang:parser

#146412 [clang] Don't use raw source location in DeclarationName, NFC
  clang/include/clang/AST/DeclarationName.h
Labels: clang, clang:frontend

#146493 [DAG] canCreateUndefOrPoison - explicitly state the AssertSext/Zext/Align/NoFPClass can create poison. NFC.
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
Labels: llvm:SelectionDAG

#146352 [Clang][AArch64] Move definitions of FP8 Neon loads & stores
  clang/include/clang/Basic/arm_neon.td
Labels: clang, clang:frontend

#146243 [mlir][tblgen] Fix test definition names to reflect expected valid results (NFC)
  mlir/test/mlir-tblgen/op-format-spec.td
Labels: mlir

#146474 [Clang][Bytecode] Implement P1061 structured binding pack
  clang/lib/AST/ByteCode/Compiler.cpp
  clang/test/SemaCXX/cxx2c-binding-pack.cpp
Labels: clang, clang:frontend, clang:bytecode

#144666 [VPlan] Support VPWidenIntOrFpInductionRecipes with EVL tail folding
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanVerifier.cpp
  llvm/test/Transforms/LoopVectorize/RISCV/evl-compatible-loops.ll
  llvm/test/Transforms/LoopVectorize/RISCV/interleaved-masked-access.ll
  llvm/test/Transforms/LoopVectorize/RISCV/only-compute-cost-for-vplan-vfs.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vectorize-force-tail-with-evl-cast-intrinsics.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vectorize-force-tail-with-evl-cond-reduction.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vectorize-force-tail-with-evl-gather-scatter.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vplan-vp-cast-intrinsics.ll
Labels: vectorizers, llvm:transforms

#146502 [DAG] canCreateUndefOrPoison - remove isGuaranteedNotToBeUndefOrPoison check for shift nodes
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
Labels: llvm:SelectionDAG

#146454 [RISCV] Factor out getKillRegState in copyPhysReg (NFC)
  llvm/lib/Target/RISCV/RISCVInstrInfo.cpp
Labels: backend:RISC-V

#146452 [Hexagon] Implement shouldConvertConstantLoadToIntImm
  llvm/lib/Target/Hexagon/HexagonISelLowering.cpp
  llvm/lib/Target/Hexagon/HexagonISelLowering.h
  llvm/test/CodeGen/Hexagon/hexagon-strcpy.ll
Labels: backend:Hexagon

#146100 [InstCombine] Rewrite multi-use GEPs when simplifying comparison
  llvm/lib/Transforms/InstCombine/InstCombineCompares.cpp
  llvm/test/Transforms/InstCombine/icmp-gep.ll
  llvm/test/Transforms/PhaseOrdering/loop-access-checks.ll
Labels: llvm:instcombine, llvm:transforms

#146258 [clang] skip explicit obj param in code complete
  clang-tools-extra/clangd/unittests/CodeCompleteTests.cpp
  clang/lib/Sema/SemaCodeComplete.cpp
  clang/test/CodeCompletion/skip-explicit-object-parameter.cpp
Labels: clang, clang-tools-extra, clangd, clang:frontend

#146369 [alpha.webkit.UncountedCallArgsChecker] Treat CFEqual as a safe function
  clang/lib/StaticAnalyzer/Checkers/WebKit/RawPtrRefCallArgsChecker.cpp
  clang/test/Analysis/Checkers/WebKit/call-args-safe-functions.mm
  clang/test/Analysis/Checkers/WebKit/objc-mock-types.h
Labels: clang, clang:static analyzer

#146514 [DAG] canCreateUndefOrPoison - remove isGuaranteedNotToBeUndefOrPoison check for insert/extract vector element indices
  llvm/lib/CodeGen/SelectionDAG/SelectionDAG.cpp
Labels: llvm:SelectionDAG

#146156 [mlir] Reapply 141423 mlir-query combinators plus fix
  mlir/include/mlir/Query/Matcher/Marshallers.h
  mlir/include/mlir/Query/Matcher/MatchFinder.h
  mlir/include/mlir/Query/Matcher/MatchersInternal.h
  mlir/include/mlir/Query/Matcher/SliceMatchers.h
  mlir/include/mlir/Query/Matcher/VariantValue.h
  mlir/lib/Query/Matcher/CMakeLists.txt
  mlir/lib/Query/Matcher/MatchersInternal.cpp
  mlir/lib/Query/Matcher/RegistryManager.cpp
  mlir/lib/Query/Matcher/VariantValue.cpp
  mlir/lib/Query/Query.cpp
  mlir/test/mlir-query/backward-slice-union.mlir
  mlir/test/mlir-query/forward-slice-by-predicate.mlir
  mlir/test/mlir-query/logical-operator-test.mlir
  mlir/test/mlir-query/slice-function-extraction.mlir
  mlir/tools/mlir-query/mlir-query.cpp
Labels: mlir:core, mlir

#145645 [lldb] Enable support for DWARF64 format handling
  lldb/source/Plugins/SymbolFile/DWARF/DWARFFormValue.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DWARFUnit.cpp
  lldb/source/Plugins/SymbolFile/DWARF/DWARFUnit.h
  lldb/unittests/SymbolFile/DWARF/CMakeLists.txt
  lldb/unittests/SymbolFile/DWARF/DWARF64UnitTest.cpp
  llvm/docs/ReleaseNotes.md
Labels: lldb

#146400 [NFC][AMDGPU] Auto generate check lines for some test cases
  llvm/test/CodeGen/AMDGPU/combine-and-sext-bool.ll
  llvm/test/CodeGen/AMDGPU/icmp.i16.ll
  llvm/test/CodeGen/AMDGPU/valu-i1.ll
  llvm/test/CodeGen/AMDGPU/vcmp-saveexec-to-vcmpx.ll
  llvm/test/CodeGen/AMDGPU/widen-vselect-and-mask.ll
Labels: backend:AMDGPU

#145927 [mlir][memref] Add a new `ReifyResultShapes` pass
  mlir/include/mlir/Dialect/MemRef/Transforms/Passes.td
  mlir/include/mlir/Dialect/MemRef/Transforms/Transforms.h
  mlir/lib/Dialect/MemRef/Transforms/CMakeLists.txt
  mlir/lib/Dialect/MemRef/Transforms/ReifyResultShapes.cpp
  mlir/test/Dialect/Tensor/reify-shapes.mlir
Labels: mlir, mlir:tensor, mlir:memref

#145289 [AArch64] Mark neon.stN intrinsics as writeonly
  llvm/include/llvm/IR/IntrinsicsAArch64.td
  llvm/include/llvm/IR/IntrinsicsARM.td
  llvm/test/Analysis/BasicAA/cs-cs-arm.ll
  llvm/test/Analysis/BasicAA/intrinsics-arm.ll
  llvm/test/Assembler/aarch64-intrinsics-attributes.ll
Labels: backend:ARM, backend:AArch64, llvm:ir, llvm:analysis

#146487 [clang][test] Remove duplication from gcc toolchain test (NFC)
  clang/test/Driver/gcc-toolchain.cpp
Labels: clang, clang:driver

#146463 [CodeGen] Remove unnecessary casts (NFC)
  clang/lib/CodeGen/CGStmtOpenMP.cpp
  clang/lib/CodeGen/ConstantInitBuilder.cpp
Labels: clang, clang:codegen

#146464 [IR] Remove an unnecessary cast (NFC)
  llvm/lib/IR/Metadata.cpp
Labels: llvm:ir

#146465 [mlir] Remove unnecessary casts (NFC)
  mlir/unittests/Dialect/SPIRV/DeserializationTest.cpp
Labels: mlir:spirv, mlir

#146467 [mlir] Remove unused includes (NFC)
  mlir/lib/Analysis/DataFlow/DenseAnalysis.cpp
  mlir/lib/Analysis/DataFlow/SparseAnalysis.cpp
  mlir/lib/Analysis/FlatLinearValueConstraints.cpp
  mlir/lib/Analysis/Presburger/IntegerRelation.cpp
  mlir/lib/Analysis/Presburger/Simplex.cpp
  mlir/lib/Analysis/Presburger/Utils.cpp
  mlir/lib/Analysis/SliceAnalysis.cpp
Labels: mlir, mlir:presburger

#146248 [LLVM][TableGen][DecoderEmitter] Add wrapper struct for `bit_value_t`
  llvm/test/TableGen/FixedLenDecoderEmitter/conflict.td
  llvm/utils/TableGen/DecoderEmitter.cpp
Labels: tablegen

#146415 [AArch64] Fix ldp rename through a bundle
  llvm/lib/Target/AArch64/AArch64LoadStoreOptimizer.cpp
  llvm/test/CodeGen/AArch64/stp-opt-with-renaming.mir
Labels: backend:AArch64

#146062 [lldb][NFC] Inline ResolveSDKPathFromDebugInfo in one of its call site
  lldb/source/Plugins/Platform/MacOSX/PlatformDarwin.cpp
Labels: lldb

#146398 [AMDGPU] Fix wrong reverse operations for `v_cmpx_le_u32`
  llvm/lib/Target/AMDGPU/VOPCInstructions.td
  llvm/test/CodeGen/AMDGPU/cmp_shrink.mir
Labels: backend:AMDGPU

#145621 [lldb] Adding pipe support to lldb_private::MainLoopWindows.
  lldb/include/lldb/Host/windows/MainLoopWindows.h
  lldb/include/lldb/Utility/IOObject.h
  lldb/source/Host/common/File.cpp
  lldb/source/Host/common/JSONTransport.cpp
  lldb/source/Host/common/Socket.cpp
  lldb/source/Host/posix/ConnectionFileDescriptorPosix.cpp
  lldb/source/Host/windows/MainLoopWindows.cpp
  lldb/source/Utility/IOObject.cpp
  lldb/unittests/Host/FileTest.cpp
  lldb/unittests/Host/MainLoopTest.cpp
Labels: lldb

#146359 [flang][OpenMP] Split check-omp-structure.cpp into smaller files, NFC
  flang/lib/Semantics/CMakeLists.txt
  flang/lib/Semantics/check-omp-atomic.cpp
  flang/lib/Semantics/check-omp-loop.cpp
  flang/lib/Semantics/check-omp-metadirective.cpp
  flang/lib/Semantics/check-omp-structure.cpp
  flang/lib/Semantics/check-omp-structure.h
  flang/lib/Semantics/openmp-utils.cpp
  flang/lib/Semantics/openmp-utils.h
Labels: flang, flang:fir-hlfir, flang:openmp, flang:semantics, flang:parser

#145720 [AMDGPU][SIInsertWaitcnts] drop OldWaitcntInstr only when it is processed
  llvm/lib/Target/AMDGPU/SIInsertWaitcnts.cpp
  llvm/test/CodeGen/AMDGPU/dynamic_stackalloc.ll
  llvm/test/CodeGen/AMDGPU/extract-subvector-16bit.ll
  llvm/test/CodeGen/AMDGPU/extract-subvector.ll
  llvm/test/CodeGen/AMDGPU/indirect-addressing-si.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-global-agent.ll
  llvm/test/CodeGen/AMDGPU/memory-legalizer-global-system.ll
  llvm/test/CodeGen/AMDGPU/noclobber-barrier.ll
  llvm/test/CodeGen/AMDGPU/packed-op-sel.ll
  llvm/test/CodeGen/AMDGPU/waitcnt-trailing.mir
Labels: backend:AMDGPU

#146547 [Analysis] Remove an unnecessary cast (NFC)
  clang/lib/Analysis/CFG.cpp
Labels: clang, clang:analysis

#146548 [AMDGPU] Remove an unnecessary cast (NFC)
  llvm/lib/Target/AMDGPU/Utils/AMDGPUPALMetadata.cpp
Labels: backend:AMDGPU

#146552 [clang][bytecode] Check pointer data type for bitcast eligibility
  clang/lib/AST/ByteCode/InterpBuiltinBitCast.cpp
  clang/test/AST/ByteCode/placement-new.cpp
Labels: clang, clang:frontend, clang:bytecode

#146211 [CIR] Upstream GenericSelectionExpr
  clang/lib/CIR/CodeGen/CIRGenExprScalar.cpp
  clang/test/CIR/CodeGen/generic-selection.c
Labels: clang, ClangIR

#146160 Fix missing/outdated pass options in PassRegistry.def
  llvm/lib/Passes/PassRegistry.def
Labels: code-quality, llvm

#144281 [VPlan] Add VPExpressionRecipe, replacing extended reduction recipes.
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanAnalysis.cpp
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/lib/Transforms/Vectorize/VPlanValue.h
  llvm/test/Transforms/LoopVectorize/ARM/mve-reductions.ll
  llvm/test/Transforms/LoopVectorize/vplan-printing-reductions.ll
Labels: vectorizers, llvm:transforms

#146350 [VectorCombine] Use InstSimplifyFolder to simplify instrs on creation.
  llvm/include/llvm/IR/IRBuilder.h
  llvm/lib/Transforms/Vectorize/VectorCombine.cpp
  llvm/test/Transforms/VectorCombine/AArch64/load-extract-insert-store-scalarization.ll
  llvm/test/Transforms/VectorCombine/AArch64/load-extractelement-scalarization.ll
  llvm/test/Transforms/VectorCombine/AArch64/shuffletoidentity.ll
  llvm/test/Transforms/VectorCombine/AArch64/vecreduce-shuffle.ll
  llvm/test/Transforms/VectorCombine/RISCV/vpintrin-scalarization.ll
  llvm/test/Transforms/VectorCombine/X86/extract-fneg-insert.ll
  llvm/test/Transforms/VectorCombine/X86/load-extractelement-scalarization.ll
  llvm/test/Transforms/VectorCombine/X86/load-inseltpoison.ll
  llvm/test/Transforms/VectorCombine/X86/load.ll
  llvm/test/Transforms/VectorCombine/X86/pr114901.ll
  llvm/test/Transforms/VectorCombine/X86/shuffle-of-selects.ll
Labels: vectorizers, llvm:ir, llvm:transforms, llvm:vectorcombine

#146510 [clang] Improve getFileIDLocal binary search.
  clang/lib/Basic/SourceManager.cpp
Labels: clang, clang:frontend

#146002 [mlir][xegpu] Fix seg-fault caused by setting a null attribute
  mlir/lib/Dialect/XeGPU/Transforms/XeGPUWgToSgDistribute.cpp
  mlir/test/Dialect/XeGPU/xegpu-wg-to-sg-elemwise.mlir
Labels: mlir:gpu, mlir

#146584 [Reland][IPO] Added attributor for identifying invariant loads
  llvm/include/llvm/Transforms/IPO/Attributor.h
  llvm/lib/Transforms/IPO/Attributor.cpp
  llvm/lib/Transforms/IPO/AttributorAttributes.cpp
  llvm/test/Transforms/Attributor/AMDGPU/tag-invariant-loads.ll
  llvm/test/Transforms/Attributor/dereferenceable-1.ll
  llvm/test/Transforms/Attributor/value-simplify-local-remote.ll
Labels: backend:AMDGPU, llvm:transforms

#144638 [mlir][arith] Add `arith::ConstantIntOp` constructor
  mlir/include/mlir/Dialect/Arith/IR/Arith.h
  mlir/lib/Dialect/Arith/IR/ArithOps.cpp
Labels: mlir, mlir:arith

#146592 [SelectionDAG] Fix NaN regression in fma dag-combine.
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/test/CodeGen/X86/dag-combiner-fma-folding.ll
Labels: backend:X86, llvm:SelectionDAG

#145627 [WebAssembly] [Backend] Wasm optimize illegal bitmask
  llvm/lib/Target/WebAssembly/WebAssemblyISelLowering.cpp
  llvm/test/CodeGen/WebAssembly/simd-bitmask.ll
  llvm/test/CodeGen/WebAssembly/simd-illegal-bitmask.ll
Labels: backend:WebAssembly

#144741 [WebAssembly] Fold any/alltrue (setcc x, 0, eq/ne) to [not] any/alltrue x
  llvm/lib/Target/WebAssembly/WebAssemblyISelLowering.cpp
  llvm/test/CodeGen/WebAssembly/simd-setcc-reductions.ll
  llvm/test/CodeGen/WebAssembly/simd-vecreduce-bool.ll
Labels: backend:WebAssembly

#146611 [Offload][cmake] Add GPU test job limit for AMDGPU buildbot cmake cache
  offload/cmake/caches/AMDGPULibcBot.cmake
Labels: backend:AMDGPU, offload

#146485 [libclc] Add __clc_nan implementation with signed nancode argument
  libclc/clc/include/clc/math/clc_nan.inc
  libclc/clc/lib/generic/math/clc_nan.inc
Labels: libclc

#146495 [libclc] Add missing clc_lgamma_r with generic address space pointer arg
  libclc/clc/lib/generic/math/clc_lgamma_r.cl
Labels: libclc

#146342 clang: Forward exception_model flag for bitcode inputs
  clang/lib/Frontend/CompilerInvocation.cpp
  clang/test/CodeGen/WebAssembly/wasm-exception-model-flag-parse-ir-input.ll
  clang/test/CodeGen/WebAssembly/wasm-invalid-exception-kinds.ll
  clang/test/Driver/ir-exception-model.c
Labels: clang, backend:WebAssembly, clang:driver

#146609 [lldb] Fix the hardware breakpoint decorator
  lldb/test/API/functionalities/breakpoint/hardware_breakpoints/base.py
  lldb/test/API/functionalities/breakpoint/hardware_breakpoints/hardware_breakpoint_on_multiple_threads/TestHWBreakMultiThread.py
  lldb/test/API/functionalities/breakpoint/hardware_breakpoints/require_hw_breakpoints/TestRequireHWBreakpoints.py
  lldb/test/API/functionalities/breakpoint/hardware_breakpoints/write_memory_with_hw_breakpoint/TestWriteMemoryWithHWBreakpoint.py
Labels: lldb

#146461 [clang] [modules] Implement P3618R0: Allow attaching main to the global module
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaDecl.cpp
  clang/test/CXX/basic/basic.start/basic.start.main/p3.cpp
  clang/test/SemaCXX/modules.cppm
  clang/www/cxx_status.html
  libcxx/utils/libcxx/test/features.py
Labels: clang, libc++, clang:frontend

#146466 [Analysis] Use range-based for loops (NFC)
  clang/include/clang/Analysis/CFG.h
  clang/lib/Analysis/CFG.cpp
  clang/lib/Analysis/CFGStmtMap.cpp
  clang/lib/Analysis/CallGraph.cpp
  clang/lib/Analysis/LiveVariables.cpp
  clang/lib/Analysis/PathDiagnostic.cpp
  clang/lib/Analysis/ReachableCode.cpp
Labels: clang, clang:analysis

#146492 [MLIR][Affine] Enhance simplifyAdd for AffineExpr mod
  mlir/lib/IR/AffineExpr.cpp
  mlir/test/Dialect/Affine/decompose-affine-ops.mlir
Labels: mlir:core, mlir:affine, mlir

#146574 [WebAssembly] Fix inline assembly with vector types
  llvm/lib/Target/WebAssembly/WebAssemblyRegisterInfo.td
  llvm/test/CodeGen/WebAssembly/inline-asm.ll
Labels: backend:WebAssembly

#146619 [RISCV] Use uint64_t for Insn in getInstruction32 and getInstruction16. NFC
  llvm/lib/Target/RISCV/Disassembler/RISCVDisassembler.cpp
Labels: backend:RISC-V

#146589 [clang][bytecode] Add back missing initialize call
  clang/lib/AST/ByteCode/Interp.h
Labels: clang, clang:frontend, clang:bytecode

#146440 [LLVM][Cygwin] Enable dynamic linking of libLLVM
  llvm/cmake/modules/AddLLVM.cmake
  llvm/cmake/modules/HandleLLVMOptions.cmake
  llvm/include/llvm/Support/Compiler.h
  llvm/lib/Target/CMakeLists.txt
Labels: cmake, llvm:support

#146623 [clangd] Drop const from a return type (NFC)
  clang-tools-extra/clangd/refactor/tweaks/DefineInline.cpp
Labels: clang-tools-extra, clangd

#146625 [ProfileData] Use lambdas instead of std::bind (NFC)
  llvm/lib/ProfileData/InstrProf.cpp
Labels: PGO

#146626 [TableGen] Use range-based for loops (NFC)
  clang/utils/TableGen/ClangAttrEmitter.cpp
Labels: clang

#146375 [mlir][tensor] Fold identity `reshape` of 0d-tensors
  mlir/lib/Dialect/Tensor/IR/TensorOps.cpp
  mlir/test/Dialect/Tensor/canonicalize.mlir
Labels: mlir, mlir:tensor

#144065 [InstCombine] Fold icmp of gep chain with base
  llvm/lib/Transforms/InstCombine/InstCombineCompares.cpp
  llvm/test/Transforms/InstCombine/getelementptr.ll
  llvm/test/Transforms/InstCombine/icmp-gep.ll
  llvm/test/Transforms/InstCombine/pr39908.ll
Labels: llvm:instcombine, llvm:transforms

#146551 [mlir][SPIRVToLLVM] Set valid insertion point after op erasure
  mlir/lib/Conversion/SPIRVToLLVM/ConvertLaunchFuncToLLVMCalls.cpp
Labels: mlir:spirv, mlir

#143271 [IR] Add `dead_on_return` attribute
  llvm/docs/LangRef.rst
  llvm/include/llvm/Bitcode/LLVMBitCodes.h
  llvm/include/llvm/IR/Argument.h
  llvm/include/llvm/IR/Attributes.td
  llvm/lib/Bitcode/Reader/BitcodeReader.cpp
  llvm/lib/Bitcode/Writer/BitcodeWriter.cpp
  llvm/lib/IR/Attributes.cpp
  llvm/lib/IR/Function.cpp
  llvm/lib/Transforms/Scalar/DeadStoreElimination.cpp
  llvm/lib/Transforms/Utils/CodeExtractor.cpp
  llvm/test/Bitcode/attributes.ll
  llvm/test/Transforms/DeadStoreElimination/simple.ll
  llvm/test/Verifier/dead-on-return.ll
Labels: llvm:ir, llvm:analysis, llvm:transforms

#145701 [AArch64][TTI] Reduce cost for splatting whole first vector segment (SVE)
  llvm/lib/Target/AArch64/AArch64PerfectShuffle.h
  llvm/lib/Target/AArch64/AArch64TargetTransformInfo.cpp
  llvm/test/Analysis/CostModel/AArch64/segmented-shufflevector-patterns.ll
Labels: backend:AArch64, llvm:analysis

#146257 [SLP] Avoid -passes=instcombine stages in SLP tests
  llvm/test/Transforms/SLPVectorizer/AArch64/gather-cost.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/gather-reduce.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/getelementptr.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/getelementptr2.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/loadorder.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/transpose-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/AArch64/transpose.ll
  llvm/test/Transforms/SLPVectorizer/AMDGPU/add_sub_sat-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/AMDGPU/add_sub_sat.ll
  llvm/test/Transforms/SLPVectorizer/AMDGPU/min_max.ll
  llvm/test/Transforms/SLPVectorizer/WebAssembly/no-vectorize-rotate.ll
  llvm/test/Transforms/SLPVectorizer/X86/alternate-calls-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/X86/alternate-calls.ll
  llvm/test/Transforms/SLPVectorizer/X86/alternate-cast-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/X86/alternate-cast.ll
  llvm/test/Transforms/SLPVectorizer/X86/alternate-fp-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/X86/alternate-fp.ll
  llvm/test/Transforms/SLPVectorizer/X86/alternate-int-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/X86/alternate-int.ll
  llvm/test/Transforms/SLPVectorizer/X86/blending-shuffle-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/X86/blending-shuffle.ll
  llvm/test/Transforms/SLPVectorizer/X86/cmp_commute-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/X86/cmp_commute.ll
  llvm/test/Transforms/SLPVectorizer/X86/hadd-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/X86/hadd.ll
  llvm/test/Transforms/SLPVectorizer/X86/hsub-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/X86/hsub.ll
  llvm/test/Transforms/SLPVectorizer/X86/minimum-sizes.ll
  llvm/test/Transforms/SLPVectorizer/X86/operandorder.ll
  llvm/test/Transforms/SLPVectorizer/X86/pr40522.ll
  llvm/test/Transforms/SLPVectorizer/X86/pr46983.ll
  llvm/test/Transforms/SLPVectorizer/X86/pr47623.ll
  llvm/test/Transforms/SLPVectorizer/X86/pr47629-inseltpoison.ll
  llvm/test/Transforms/SLPVectorizer/X86/pr47629.ll
  llvm/test/Transforms/SLPVectorizer/X86/pr47642.ll
  llvm/test/Transforms/SLPVectorizer/X86/pr49081.ll
  llvm/test/Transforms/SLPVectorizer/X86/reverse_extract_elements.ll
  llvm/test/Transforms/SLPVectorizer/revec-shufflevector.ll
Labels: backend:AMDGPU, llvm:transforms

#144864 [VPlan] Emit VPVectorEndPointerRecipe for reverse interleave pointer adjustment
  llvm/lib/Transforms/Vectorize/LoopVectorize.cpp
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
  llvm/lib/Transforms/Vectorize/VPlanTransforms.cpp
  llvm/test/Transforms/LoopVectorize/AArch64/sve-interleaved-accesses.ll
  llvm/test/Transforms/LoopVectorize/RISCV/riscv-vector-reverse-output.ll
  llvm/test/Transforms/LoopVectorize/RISCV/riscv-vector-reverse.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vectorize-force-tail-with-evl-reverse-load-store.ll
  llvm/test/Transforms/LoopVectorize/RISCV/vectorize-force-tail-with-evl-uniform-store.ll
Labels: backend:RISC-V, vectorizers, llvm:transforms

#146562 [LLDB] Simplify libstdc++ string summaries
  lldb/source/Plugins/Language/CPlusPlus/CPlusPlusLanguage.cpp
  lldb/source/Plugins/Language/CPlusPlus/LibStdcpp.cpp
  lldb/source/Plugins/Language/CPlusPlus/LibStdcpp.h
Labels: lldb

#145939 [DAG] visitFREEZE - always allow freezing multiple operands
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/Target/RISCV/RISCVISelLowering.cpp
  llvm/test/CodeGen/AArch64/vecreduce-propagate-sd-flags.ll
  llvm/test/CodeGen/AMDGPU/div_i128.ll
  llvm/test/CodeGen/AMDGPU/rem_i128.ll
  llvm/test/CodeGen/NVPTX/i1-select.ll
  llvm/test/CodeGen/NVPTX/i128.ll
  llvm/test/CodeGen/PowerPC/ppc64-P9-vabsd.ll
  llvm/test/CodeGen/RISCV/fpclamptosat.ll
  llvm/test/CodeGen/RISCV/intrinsic-cttz-elts-vscale.ll
  llvm/test/CodeGen/RISCV/wide-scalar-shift-legalization.ll
  llvm/test/CodeGen/SystemZ/pr60413.ll
  llvm/test/CodeGen/X86/abds-neg.ll
  llvm/test/CodeGen/X86/avg.ll
  llvm/test/CodeGen/X86/div-rem-pair-recomposition-signed.ll
  llvm/test/CodeGen/X86/div-rem-pair-recomposition-unsigned.ll
  llvm/test/CodeGen/X86/freeze-vector.ll
  llvm/test/CodeGen/X86/setcc-non-simple-type.ll
Labels: backend:AMDGPU, backend:PowerPC, backend:SystemZ, backend:X86, backend:NVPTX, llvm:SelectionDAG

#145322 [LLVM][AArch64] Relax SVE/SME codegen predicates.
  llvm/lib/Target/AArch64/AArch64.td
  llvm/lib/Target/AArch64/AArch64InstrInfo.td
  llvm/lib/Target/AArch64/AArch64SVEInstrInfo.td
  llvm/test/CodeGen/AArch64/fp8-sve-cvt-cvtlt.ll
  llvm/test/CodeGen/AArch64/fp8-sve-cvtn.ll
  llvm/test/CodeGen/AArch64/sve-intrinsics-fexpa.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-binary-narrowing-add-sub.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-binary-narrowing-shr.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-complex-dot.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-contiguous-conflict-detection.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-faminmax.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-fp-converts.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-fp-int-binary-logarithm.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-fp-widening-mul-acc.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-int-mul-lane.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-luti.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-non-widening-pairwise-arith.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-polynomial-arithmetic.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-psel.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-revd.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-unary-narrowing.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-uniform-complex-arith.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-while-reversed.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-while.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-widening-complex-int-arith.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-widening-dsp.ll
  llvm/test/CodeGen/AArch64/sve2-intrinsics-widening-pairwise-arith.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-bfmlsl.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-cntp.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-dots.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-dupq.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-extq.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-fclamp.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-fp-reduce.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-int-reduce.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-loads.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-multivec-loads.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-multivec-stores.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-pmov-to-pred.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-pmov-to-vector.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-predicate-as-counter.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-qcvtn.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-qrshr.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-sclamp.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-stores.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-uclamp.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-while-pn.ll
  llvm/test/CodeGen/AArch64/sve2p1-intrinsics-while-pp.ll
Labels: backend:AArch64

#145544 [Xtensa] Implement lowering SELECT_CC/BRCC for Xtensa FP Option.
  llvm/lib/Target/Xtensa/XtensaISelLowering.cpp
  llvm/lib/Target/Xtensa/XtensaISelLowering.h
  llvm/lib/Target/Xtensa/XtensaInstrInfo.cpp
  llvm/lib/Target/Xtensa/XtensaInstrInfo.td
  llvm/lib/Target/Xtensa/XtensaOperators.td
  llvm/test/CodeGen/Xtensa/float-arith.ll
  llvm/test/CodeGen/Xtensa/select-cc-fp.ll
  llvm/test/MC/Disassembler/Xtensa/fp.txt
Labels: mc, backend:Xtensa

#143591 [DLCov] Origin-Tracking: Enable collecting and symbolizing stack traces
  llvm/include/llvm/Support/Signals.h
  llvm/lib/Support/Signals.cpp
  llvm/lib/Support/Unix/Signals.inc
  llvm/lib/Support/Windows/Signals.inc
Labels: llvm:codegen, debuginfo, platform:windows, llvm:support, llvm:ir

#146639 TargetOptions: Look up frame-pointer attribute once
  llvm/lib/CodeGen/TargetOptionsImpl.cpp
Labels: llvm:codegen

#146402 [libc] Use is aligned builtin instead of ptrtoint
  libc/src/__support/GPU/allocator.cpp
Labels: libc

#145962 [MLIR] Remove spurious space when printing `prop-dict`
  mlir/include/mlir/IR/OpImplementation.h
  mlir/lib/IR/AsmPrinter.cpp
  mlir/lib/IR/Operation.cpp
  mlir/test/mlir-tblgen/op-format.mlir
Labels: mlir:core, mlir

#146674 Revert "[TSan] Clarify and enforce shadow end alignment"
  compiler-rt/lib/tsan/rtl/tsan_interface_java.cpp
  compiler-rt/lib/tsan/rtl/tsan_rtl.cpp
  compiler-rt/lib/tsan/rtl/tsan_rtl_access.cpp
  compiler-rt/lib/tsan/rtl/tsan_sync.cpp
  compiler-rt/test/tsan/java_heap_init2.cpp
  compiler-rt/test/tsan/munmap_clear_shadow.c
Labels: compiler-rt, compiler-rt:tsan, compiler-rt:sanitizer

#145914 [GlobalISel] Allow expansion of urem by constant in prelegalizer
  llvm/include/llvm/CodeGen/GlobalISel/CombinerHelper.h
  llvm/include/llvm/Target/GlobalISel/Combine.td
  llvm/lib/CodeGen/GlobalISel/CombinerHelper.cpp
  llvm/test/CodeGen/AArch64/pr58431.ll
  llvm/test/CodeGen/AArch64/rem-by-const.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/urem.i32.ll
  llvm/test/CodeGen/AMDGPU/GlobalISel/urem.i64.ll
Labels: backend:AArch64, backend:AMDGPU, llvm:globalisel

#144371 [SPIRV] Add FloatControl2 capability
  llvm/docs/SPIRVUsage.rst
  llvm/lib/Target/SPIRV/SPIRVCommandLine.cpp
  llvm/lib/Target/SPIRV/SPIRVModuleAnalysis.cpp
  llvm/lib/Target/SPIRV/SPIRVSymbolicOperands.td
  llvm/test/CodeGen/SPIRV/capability-FloatControl2.ll
Labels: backend:SPIR-V

#146610 [LLD][COFF] Fix importing DllMain from import libraries
  lld/COFF/Config.h
  lld/COFF/Driver.cpp
  lld/COFF/InputFiles.cpp
  lld/test/COFF/exported-dllmain.test
Labels: lld, lld:COFF, platform:windows

#146397 Only restart failed libc++ jobs, not cancelled ones.
  .github/workflows/libcxx-restart-preempted-jobs.yaml
Labels: libc++, github:workflow

#145298 [DAG] Refactor X86 combineVSelectWithAllOnesOrZeros fold into a generic DAG Combine
  llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/AArch64/arm64-zip.ll
  llvm/test/CodeGen/AArch64/cmp-select-sign.ll
  llvm/test/CodeGen/AArch64/concatbinop.ll
  llvm/test/CodeGen/AArch64/sat-add.ll
  llvm/test/CodeGen/AArch64/select_cc.ll
  llvm/test/CodeGen/AArch64/selectcc-to-shiftand.ll
  llvm/test/CodeGen/AArch64/tbl-loops.ll
  llvm/test/CodeGen/AArch64/vselect-constants.ll
  llvm/test/CodeGen/AArch64/vselect-ext.ll
  llvm/test/CodeGen/ARM/fpclamptosat_vec.ll
  llvm/test/CodeGen/ARM/minnum-maxnum-intrinsics.ll
  llvm/test/CodeGen/LoongArch/lasx/xvmskcond.ll
  llvm/test/CodeGen/LoongArch/lsx/vselect.ll
  llvm/test/CodeGen/Mips/msa/compare_float.ll
  llvm/test/CodeGen/PowerPC/recipest.ll
  llvm/test/CodeGen/PowerPC/sat-add.ll
  llvm/test/CodeGen/SystemZ/vec-max-min-zerosplat.ll
  llvm/test/CodeGen/X86/urem-seteq-vec-tautological.ll
Labels: backend:ARM, backend:AArch64, backend:PowerPC, backend:SystemZ, backend:X86, backend:loongarch, llvm:SelectionDAG

#146585 [libc] Efficiently implement `aligned_alloc` for AMDGPU
  libc/src/__support/GPU/allocator.cpp
  libc/src/__support/GPU/allocator.h
  libc/src/stdlib/gpu/aligned_alloc.cpp
  libc/test/integration/src/stdlib/gpu/CMakeLists.txt
  libc/test/integration/src/stdlib/gpu/aligned_alloc.cpp
Labels: libc

#146660 [CIR] Introduce IntTypeInterface to allow uniform integer types handling
  clang/include/clang/CIR/Dialect/IR/CIRTypes.td
  clang/include/clang/CIR/Interfaces/CIRTypeInterfaces.td
Labels: clang, ClangIR

#145543 [Xtensa] Implement THREADPTR and DFPAccel Xtensa Options.
  llvm/lib/Target/Xtensa/MCTargetDesc/XtensaELFObjectWriter.cpp
  llvm/lib/Target/Xtensa/MCTargetDesc/XtensaMCTargetDesc.cpp
  llvm/lib/Target/Xtensa/XtensaFeatures.td
  llvm/lib/Target/Xtensa/XtensaISelLowering.cpp
  llvm/lib/Target/Xtensa/XtensaISelLowering.h
  llvm/lib/Target/Xtensa/XtensaInstrInfo.td
  llvm/lib/Target/Xtensa/XtensaOperators.td
  llvm/lib/Target/Xtensa/XtensaRegisterInfo.cpp
  llvm/lib/Target/Xtensa/XtensaRegisterInfo.td
  llvm/lib/Target/Xtensa/XtensaSubtarget.h
  llvm/test/CodeGen/Xtensa/invalid-tls.ll
  llvm/test/CodeGen/Xtensa/threadptr.ll
  llvm/test/MC/Disassembler/Xtensa/dfpaccel.txt
  llvm/test/MC/Disassembler/Xtensa/threadptr.txt
  llvm/test/MC/Xtensa/dfpaccel.s
  llvm/test/MC/Xtensa/threadptr.s
Labels: mc, backend:Xtensa

#146521 [Clang][DLCov][NFCish] Fix debugloc coverage tracking macro in Clang
  clang/lib/CodeGen/BackendUtil.cpp
Labels: clang, clang:codegen

#146697 [lldb][test] Consolidate generic and libcxx std::deque formatter tests
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/generic/deque/TestDataFormatterGenericDeque.py
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/generic/deque/main.cpp
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libcxx/deque/Makefile
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libcxx/deque/TestDataFormatterLibcxxDeque.py
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libcxx/deque/main.cpp
Labels: lldb

#142757 [DTLTO][LLD][ELF] Add support for Integrated Distributed ThinLTO
  cross-project-tests/CMakeLists.txt
  cross-project-tests/dtlto/README.md
  cross-project-tests/dtlto/ld-dtlto.c
  cross-project-tests/dtlto/lit.local.cfg
  lld/ELF/Config.h
  lld/ELF/Driver.cpp
  lld/ELF/LTO.cpp
  lld/ELF/Options.td
  lld/docs/DTLTO.rst
  lld/docs/index.rst
  lld/test/ELF/dtlto/files.test
  lld/test/ELF/dtlto/options.test
  lld/test/ELF/dtlto/partitions.test
  lld/test/lit.cfg.py
Labels: lld, lld:ELF

#146653 [flang] Emit `fir.global` in the global address space
  flang/include/flang/Optimizer/Builder/FIRBuilder.h
  flang/include/flang/Optimizer/CodeGen/FIROpPatterns.h
  flang/lib/Optimizer/Builder/FIRBuilder.cpp
  flang/lib/Optimizer/CodeGen/CodeGen.cpp
  flang/lib/Optimizer/CodeGen/FIROpPatterns.cpp
  flang/test/Integration/amdgpu-target-desc-cast-to-global-addrspace.f90
Labels: backend:AMDGPU, flang, flang:fir-hlfir, flang:codegen

#146687 [Clang] Properly use `CommaJoined` for `--offload-arch`
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/Driver.cpp
Labels: clang, clang:driver

#146261 [CIR] Add OptInfo attribute
  clang/include/clang/CIR/Dialect/IR/CIRAttrs.td
  clang/include/clang/CIR/Dialect/IR/CIRDialect.td
  clang/lib/CIR/CodeGen/CIRGenModule.cpp
  clang/lib/CIR/Dialect/IR/CIRAttrs.cpp
  clang/test/CIR/CodeGen/opt-info-attr.cpp
  clang/test/CIR/IR/invalid-opt-info.cir
Labels: clang, ClangIR

#146730 [libc++] Re-add a script to trigger the libc++ Buildkite pipeline
  libcxx/utils/ci/buildkite-pipeline-trigger.sh
Labels: libc++

#146530 [VectorCombine] Scalarize vector intrinsics with scalar arguments
  llvm/lib/Transforms/Vectorize/VectorCombine.cpp
  llvm/test/Transforms/VectorCombine/intrinsic-scalarize.ll
Labels: vectorizers, llvm:transforms, llvm:vectorcombine

#146671 [mlir][OpenMP] implement SIMD reduction
  mlir/lib/Target/LLVMIR/Dialect/OpenMP/OpenMPToLLVMIRTranslation.cpp
  mlir/test/Target/LLVMIR/openmp-simd-reduction-byref.mlir
  mlir/test/Target/LLVMIR/openmp-simd-reduction-simple.mlir
  mlir/test/Target/LLVMIR/openmp-todo.mlir
Labels: mlir:llvm, mlir, mlir:openmp, flang:openmp

#146447 [nfc] Rename API with typo in BranchProbabilityInfo
  llvm/include/llvm/Analysis/BranchProbabilityInfo.h
  llvm/lib/Analysis/BranchProbabilityInfo.cpp
Labels: llvm:analysis

#146702 [HashRecognize][NFC] Add a missing "phi" in a comment
  llvm/lib/Analysis/HashRecognize.cpp
Labels: llvm:analysis

#145233 [SimplifyCFG] Transform switch to select when common bits uniquely identify one case
  llvm/lib/Transforms/Utils/SimplifyCFG.cpp
  llvm/test/Transforms/SimplifyCFG/switch-to-select-two-case.ll
Labels: llvm:transforms

#146707 [clangd] Drop const from a return type (NFC)
  clang-tools-extra/clangd/refactor/tweaks/ExtractVariable.cpp
Labels: clang-tools-extra, clangd

#146637 [InstrEmitter] Use AddOperand in EmitCopyToRegClassNode.
  llvm/lib/CodeGen/SelectionDAG/InstrEmitter.cpp
  llvm/test/CodeGen/AArch64/bf16_fast_math.ll
  llvm/test/CodeGen/AMDGPU/divergence-driven-ctpop.ll
  llvm/test/CodeGen/AMDGPU/fneg-fabs-divergence-driven-isel.ll
  llvm/test/CodeGen/ARM/fp16_fast_math.ll
  llvm/test/CodeGen/PowerPC/aix32-vector-vararg-caller-split.ll
  llvm/test/CodeGen/PowerPC/nofpexcept.ll
  llvm/test/CodeGen/RISCV/rvv/vector-tuple-align.ll
  llvm/test/CodeGen/X86/apx/kmov-domain-assignment.ll
  llvm/test/CodeGen/X86/fp-intrinsics-flags.ll
  llvm/test/CodeGen/X86/sqrt-fastmath-mir.ll
  llvm/test/CodeGen/X86/unpredictable-brcond.ll
  llvm/test/CodeGen/X86/vector-constrained-fp-intrinsics-flags.ll
  llvm/test/CodeGen/X86/x86-access-to-global.ll
Labels: backend:ARM, backend:AArch64, backend:AMDGPU, backend:PowerPC, backend:X86, llvm:SelectionDAG

#146726 [LLVM][AsmWriter] Print a comment for unknown intrinsics
  llvm/lib/IR/AsmWriter.cpp
  llvm/test/Feature/intrinsics.ll
Labels: llvm:ir

#146600 [AMDGPU][MC] Fix disassembly for v_permlane16_swap_b32 for GFX950
  llvm/lib/Target/AMDGPU/VOP1Instructions.td
  llvm/test/MC/AMDGPU/gfx950_asm_features.s
  llvm/test/MC/Disassembler/AMDGPU/gfx950.txt
Labels: backend:AMDGPU, mc

#146731 [Xtensa] Fix XtensaELFObjectWriter.
  llvm/lib/Target/Xtensa/MCTargetDesc/XtensaELFObjectWriter.cpp
Labels: backend:Xtensa

#146456 __sys builtin support for AArch64
  clang/include/clang/Basic/BuiltinsAArch64.def
  clang/lib/CodeGen/TargetBuiltins/ARM.cpp
  clang/lib/Headers/intrin.h
  clang/lib/Sema/SemaARM.cpp
  clang/test/CodeGen/arm64-microsoft-sys.c
  clang/test/Sema/builtins-microsoft-arm64.c
Labels: clang, backend:ARM, backend:AArch64, clang:frontend, clang:headers, clang:codegen, platform:windows

#146738 [libc] Fix internal alignment in allcoator
  libc/src/__support/GPU/allocator.cpp
  libc/test/integration/src/stdlib/gpu/aligned_alloc.cpp
  libc/test/integration/src/stdlib/gpu/malloc.cpp
Labels: libc

#146186 [SHT_LLVM_BB_ADDR_MAP] Remove support for versions 1 and 0 (SHT_LLVM_BB_ADDR_MAP_V0).
  llvm/docs/Extensions.rst
  llvm/docs/ReleaseNotes.md
  llvm/include/llvm/BinaryFormat/ELF.h
  llvm/lib/CodeGen/AsmPrinter/AsmPrinter.cpp
  llvm/lib/MC/MCSectionELF.cpp
  llvm/lib/Object/ELF.cpp
  llvm/lib/Object/ELFObjectFile.cpp
  llvm/lib/ObjectYAML/ELFYAML.cpp
  llvm/test/tools/llvm-objdump/X86/elf-bbaddrmap-disassemble-symbolize-operands.yaml
  llvm/unittests/Object/ELFObjectFileTest.cpp
Labels: llvm:codegen, mc, objectyaml, llvm:binary-utilities

#146728 [X86] Add BLEND/UNPCK shuffles to canCreateUndefOrPoisonForTargetNode/isGuaranteedNotToBeUndefOrPoisonForTargetNode
  llvm/lib/Target/X86/X86ISelLowering.cpp
  llvm/test/CodeGen/X86/avg.ll
Labels: backend:X86

#146703 [Sema] Remove an unnecessary cast (NFC)
  clang/lib/Sema/SemaCodeComplete.cpp
Labels: clang, clang:frontend

#146727 [SystemZ][z/OS] Fix error about const char in Text Encoding
  llvm/lib/Support/TextEncoding.cpp
Labels: llvm:support

#146752 Revert "Fix wcpncpy() return value; add test."
  libc/src/wchar/wcpncpy.cpp
  libc/test/src/wchar/wcpncpy_test.cpp
Labels: libc

#146749 [Test] Account for spaces in paths in the new dtlto/files.test
  lld/test/ELF/dtlto/files.test
Labels: lld, lld:ELF

#146111 [BOLT] Decouple new segment creation from PHDR rewrite. NFCI
  bolt/include/bolt/Core/BinaryContext.h
  bolt/include/bolt/Rewrite/RewriteInstance.h
  bolt/lib/Rewrite/RewriteInstance.cpp
  bolt/unittests/Core/BinaryContext.cpp
  bolt/unittests/Core/MemoryMaps.cpp
Labels: BOLT

#145228 [mlir][vector][nfc] Rename `populateVectorTransferCollapseInnerMostContiguousDimsPatterns`
  mlir/include/mlir/Dialect/Vector/Transforms/VectorRewritePatterns.h
  mlir/lib/Dialect/Vector/Transforms/VectorTransforms.cpp
  mlir/test/lib/Dialect/Vector/TestVectorTransforms.cpp
Labels: mlir:linalg, mlir:vectorops, mlir, mlir:vector

#146617 [NFC] [MSAN] replace (void) with [[maybe_unused]]
  llvm/lib/Transforms/Instrumentation/MemorySanitizer.cpp
Labels: compiler-rt:sanitizer, llvm:transforms

#144310 [libc++] Avoid including vector in <functional>
  libcxx/include/__functional/boyer_moore_searcher.h
  libcxx/include/functional
Labels: libc++

#143854 [libc++] Remove dead code from <type_traits>
  libcxx/include/__type_traits/add_lvalue_reference.h
  libcxx/include/__type_traits/add_pointer.h
  libcxx/include/__type_traits/add_rvalue_reference.h
  libcxx/include/__type_traits/decay.h
  libcxx/include/__type_traits/has_unique_object_representation.h
  libcxx/include/__type_traits/is_array.h
  libcxx/include/__type_traits/is_const.h
  libcxx/include/__type_traits/is_pointer.h
  libcxx/include/__type_traits/is_volatile.h
  libcxx/include/__type_traits/remove_all_extents.h
  libcxx/include/__type_traits/remove_extent.h
Labels: libc++

#146632 [lldb] Fixing warnings / win32 builds in MainLoop.
  lldb/include/lldb/Host/windows/MainLoopWindows.h
  lldb/include/lldb/lldb-types.h
  lldb/source/Host/common/JSONTransport.cpp
  lldb/source/Host/posix/ConnectionFileDescriptorPosix.cpp
  lldb/source/Host/windows/MainLoopWindows.cpp
  lldb/source/Utility/SelectHelper.cpp
Labels: lldb

#146615 [NFC][TableGen] Add accessors for various instruction subclasses
  llvm/utils/TableGen/Common/CodeGenSchedule.cpp
  llvm/utils/TableGen/Common/CodeGenTarget.cpp
  llvm/utils/TableGen/Common/CodeGenTarget.h
  llvm/utils/TableGen/InstrInfoEmitter.cpp
Labels: tablegen

#146618 [mlir][vector][spirv] Lower `vector.to_elements` to SPIR-V
  mlir/lib/Conversion/VectorToSPIRV/VectorToSPIRV.cpp
  mlir/test/Conversion/VectorToSPIRV/vector-to-spirv.mlir
Labels: mlir:spirv, mlir

#146183 [TableGen] More generically handle tied source operands in CompressInstEmitter.
  llvm/utils/TableGen/CompressInstEmitter.cpp
Labels: tablegen

#144578 [lld][WebAssembly] Add missing relocation types to the --compress-relocations path
  lld/test/wasm/compress-relocs.ll
  lld/test/wasm/compress-relocs.s
  lld/test/wasm/compress-relocs64.s
  lld/wasm/InputChunks.cpp
  llvm/include/llvm/BinaryFormat/Wasm.h
Labels: lld, backend:WebAssembly, lld:wasm, llvm:binary-utilities

#146582 [win][aarch64] Always reserve frame pointers for Arm64 Windows
  clang/lib/Driver/ToolChains/CommonArgs.cpp
  clang/test/Driver/frame-pointer-elim.c
  llvm/lib/Target/AArch64/AArch64FrameLowering.cpp
  llvm/lib/Target/AArch64/AArch64FrameLowering.h
  llvm/lib/Target/AArch64/AArch64RegisterInfo.cpp
  llvm/test/CodeGen/AArch64/regress-w29-reserved-with-fp.ll
  llvm/test/CodeGen/AArch64/win-sve.ll
  llvm/test/CodeGen/AArch64/wincfi-missing-seh-directives.ll
  llvm/test/CodeGen/AArch64/wineh-frame5.mir
  llvm/test/CodeGen/AArch64/wineh-frame7.mir
Labels: clang, backend:AArch64, clang:driver

#145697 Reapply "[Clang,debuginfo] added vtt parameter in destructor DISubroutineType (#130674)"
  clang/lib/CodeGen/CGDebugInfo.cpp
  clang/lib/CodeGen/CGDebugInfo.h
  clang/test/CodeGenCXX/debug-info-dtor-implicit-args.cpp
Labels: clang, clang:codegen, debuginfo

#145957 [Clang][Driver][SamplePGO] Introduce -fno_sample_profile_use_profi flag for SamplePGO
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Clang.cpp
  clang/test/Driver/pgo-sample-use-profi.c
Labels: clang, clang:driver, PGO

#146710 [RISCV][VLOPT] Support vslide{up,down}
  llvm/lib/Target/RISCV/RISCVVLOptimizer.cpp
  llvm/test/CodeGen/RISCV/rvv/fixed-vectors-vselect.ll
  llvm/test/CodeGen/RISCV/rvv/vl-opt-instrs.ll
  llvm/test/CodeGen/RISCV/rvv/vp-vector-interleaved-access.ll
Labels: backend:RISC-V

#146780 [flang][cuda] Do not create global for derived-type with allocatable device components
  flang/include/flang/Evaluate/tools.h
  flang/include/flang/Semantics/tools.h
  flang/lib/Evaluate/tools.cpp
  flang/lib/Semantics/tools.cpp
  flang/test/Lower/CUDA/cuda-derived.cuf
Labels: flang, flang:fir-hlfir, flang:semantics

#146797 [flang][cuda] Allocate derived-type with CUDA componement in managed memory
  flang/lib/Lower/ConvertVariable.cpp
  flang/lib/Semantics/tools.cpp
  flang/test/Lower/CUDA/cuda-derived.cuf
Labels: flang, flang:fir-hlfir, flang:semantics

#145971 [CIR] Upstream get_bitfield operation to load bit-field members from structs
  clang/include/clang/CIR/Dialect/IR/CIRAttrs.td
  clang/include/clang/CIR/Dialect/IR/CIROps.td
  clang/include/clang/CIR/LoweringHelpers.h
  clang/lib/CIR/CodeGen/CIRGenBuilder.h
  clang/lib/CIR/CodeGen/CIRGenExpr.cpp
  clang/lib/CIR/CodeGen/CIRGenFunction.h
  clang/lib/CIR/CodeGen/CIRGenValue.h
  clang/lib/CIR/Dialect/IR/CIRDialect.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.cpp
  clang/lib/CIR/Lowering/DirectToLLVM/LowerToLLVM.h
  clang/lib/CIR/Lowering/LoweringHelpers.cpp
  clang/test/CIR/CodeGen/bitfields.c
  clang/test/CIR/CodeGen/bitfields.cpp
  clang/test/CIR/CodeGen/bitfields_be.c
Labels: clang, ClangIR

#146603 [lldb][mcp] Fix unix domain socket protocol server addresses
  lldb/source/Commands/CommandObjectProtocolServer.cpp
  lldb/test/API/commands/protocol/TestMCPUnixSocket.py
Labels: lldb

#146778 [BPF] Emit proper error message for insns with tied operands
  llvm/lib/Target/BPF/AsmParser/BPFAsmParser.cpp
  llvm/test/MC/BPF/bad-tied.s
Labels: mc

#146635 [clang] [modules] Add err_main_in_named_module
  clang/docs/ReleaseNotes.rst
  clang/include/clang/Basic/DiagnosticSemaKinds.td
  clang/lib/Sema/SemaDecl.cpp
  clang/test/Driver/autocomplete.c
  clang/test/SemaCXX/modules.cppm
Labels: clang, libc++, clang:driver, clang:frontend

#146775 [NFC][TableGen] Adopt `ArrayRef::consume_front()` in `PrintMessage`
  llvm/lib/TableGen/Error.cpp
Labels: tablegen

#146799 [msan] Fix "Add optional flag to improve instrumentation of disjoint OR (#145990)"
  llvm/lib/Transforms/Instrumentation/MemorySanitizer.cpp
  llvm/test/Instrumentation/MemorySanitizer/or.ll
Labels: compiler-rt:sanitizer, llvm:transforms

#146453 [Flang][AArch64][VecLib] Add libmvec support for Flang/AArch64
  clang/include/clang/Driver/Options.td
  clang/lib/Driver/ToolChains/Flang.cpp
  flang/docs/ReleaseNotes.md
  flang/test/Driver/fveclib-codegen.f90
  flang/test/Driver/fveclib.f90
Labels: clang, backend:AArch64, clang:driver, flang:driver, flang

#142516 [lldb][test] Synchronize `__compressed_pair_padding` with libc++
  lldb/packages/Python/lldbsuite/test/make/libcxx-simulators-common/compressed_pair.h
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libcxx-simulators/invalid-vector/main.cpp
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libcxx-simulators/string/TestDataFormatterLibcxxStringSimulator.py
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libcxx-simulators/string/main.cpp
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libcxx-simulators/unique_ptr/TestDataFormatterLibcxxUniquePtrSimulator.py
  lldb/test/API/functionalities/data-formatter/data-formatter-stl/libcxx-simulators/unique_ptr/main.cpp
Labels: lldb, test-suite

#146819 [ORC] Replace ThreadSafeContext::getContext with withContextDo.
  clang/lib/Interpreter/Interpreter.cpp
  llvm/examples/OrcV2Examples/LLJITWithThinLTOSummaries/LLJITWithThinLTOSummaries.cpp
  llvm/examples/OrcV2Examples/OrcV2CBindingsBasicUsage/OrcV2CBindingsBasicUsage.c
  llvm/examples/OrcV2Examples/OrcV2CBindingsDumpObjects/OrcV2CBindingsDumpObjects.c
  llvm/examples/OrcV2Examples/OrcV2CBindingsIRTransforms/OrcV2CBindingsIRTransforms.c
  llvm/examples/OrcV2Examples/OrcV2CBindingsLazy/OrcV2CBindingsLazy.c
  llvm/examples/OrcV2Examples/OrcV2CBindingsMCJITLikeMemoryManager/OrcV2CBindingsMCJITLikeMemoryManager.c
  llvm/examples/OrcV2Examples/OrcV2CBindingsRemovableCode/OrcV2CBindingsRemovableCode.c
  llvm/examples/OrcV2Examples/OrcV2CBindingsVeryLazy/OrcV2CBindingsVeryLazy.c
  llvm/include/llvm-c/Orc.h
  llvm/include/llvm/ExecutionEngine/Orc/ThreadSafeModule.h
  llvm/lib/ExecutionEngine/Orc/OrcV2CBindings.cpp
  llvm/lib/ExecutionEngine/Orc/Speculation.cpp
  llvm/lib/ExecutionEngine/Orc/ThreadSafeModule.cpp
  llvm/tools/lli/lli.cpp
  llvm/unittests/ExecutionEngine/Orc/RTDyldObjectLinkingLayerTest.cpp
  llvm/unittests/ExecutionEngine/Orc/ReOptimizeLayerTest.cpp
  llvm/unittests/ExecutionEngine/Orc/ThreadSafeModuleTest.cpp
Labels: clang, clang:frontend

#146669 [VPlan] Early assert for unsupported interleaved access features. nfc
  llvm/lib/Transforms/Vectorize/VPlan.h
  llvm/lib/Transforms/Vectorize/VPlanRecipes.cpp
Labels: vectorizers, llvm:transforms
